# Numerical Data - Cleanup

<br>
**Author** Mary Letey <br>
**Date** 3/20/18 <br>
**File** numclean.ipynb <br>
**Purpose** Formating numerical (Bloomberg) data

<br><br>

In [5]:
# Imports
import numpy as np
import pandas as pd
import datetime
import matplotlib.pylab as plt
%matplotlib inline

In [60]:
def getDates(rowlist, dates):
    print(rowlist)
    datestring = rowlist[1]
    datelist = datestring.split('/')
    year = int(datelist[2])
    if (int(year) > 20):
        year += 1900
    else:
        year += 2000
    datelist[2] = str(year)
    old_datelist = datelist
    datelist = ''
    for j in range(0,len(old_datelist)):
        datelist += old_datelist[j]
        if j < len(old_datelist)-1:
            datelist += '/'
    dateobject = datetime.datetime.strptime(datelist,'%m/%d/%Y')
    dates.append(dateobject)    
    return dates

def getVols(rowlist, vols):
    
    volstring = rowlist[3]
    
    vol = 0
    
    if ('M' in volstring) or ('m' in volstring):
        if 'M' in volstring:
            vollist = volstring.split('M')
        else:
            vollist = volstring.split('m')
        vol = float(vollist[0])
        vol *= 1000000
        vols.append(vol)
        return vols
    elif ('K' in volstring) or ('k' in volstring):
        if 'K' in volstring:
            vollist = volstring.split('K')
        else:
            vollist = volstring.split('k')
        vol = float(vollist[0])
        vol *= 1000
        vols.append(vol)
        return vols
    elif list(volstring) == []:
        vol = 0
        vols.append(vol)
        return vols
    else:
        vol = int(volstring)
        vols.append(vol)
        return vols
    
    print("oopsies", volstring)
    return vols

def cleanData(files):
    dates = []
    spots = []
    vols = []

    for i in range(1,len(files)):
        row = files[i]
        rowlist = row.split(',')
        if rowlist != ['', '', '', '', ''] and rowlist != [' ', ' ', ' ', ' ', ' '] and rowlist != ['\t', '\t', '\t', '\t', '\t'] and rowlist[0] != '\t\t\t\t':
            dates = getDates(rowlist, dates)
            print("spot of",rowlist[2],"with type",type(rowlist[2]))
            spots.append(float(rowlist[2]))
            vols = getVols(rowlist,vols)
    
    return dates, spots, vols

In [61]:
#hp
hp_path = "../datafiles/numerical-initial/hp-data.csv"
hp_files = []
for hp_file in open(hp_path,"r"):
    hp_files.append(hp_file.split('\n')[0])
hp_dates, hp_spots, hp_vols = cleanData(hp_files)  

#ibm
ibm_path = "../datafiles/numerical-initial/ibm-data.csv"
ibm_files = []
for ibm_file in open(ibm_path,"r"):
    ibm_files.append(ibm_file.split('\n')[0])
ibm_dates, ibm_spots, ibm_vols = cleanData(ibm_files)

#dell
dell_path = "../datafiles/numerical-initial/dell-data.csv"
dell_files = []
for dell_file in open(dell_path,"r"):
    dell_files.append(dell_file.split('\n')[0])
dell_dates, dell_spots, dell_vols = cleanData(dell_files)

#seagate
seagate_path = "../datafiles/numerical-initial/seagate-data.csv"
seagate_files = []
for seagate_file in open(seagate_path,"r"):
    seagate_files.append(seagate_file.split('\n')[0])
seagate_dates, seagate_spots, seagate_vols = cleanData(seagate_files)

#westdig
westdig_path = "../datafiles/numerical-initial/westdig-data.csv"
westdig_files = []
for westdig_file in open(westdig_path,"r"):
    westdig_files.append(westdig_file.split('\n')[0])
westdig_dates, westdig_spots, westdig_vols = cleanData(westdig_files)

#westdig
dow_path = "../datafiles/numerical-initial/dow-data.csv"
dow_files = []
for dow_file in open(dow_path,"r"):
    dow_files.append(dow_file.split('\n')[0])
print("DOW NOW")
dow_dates, dow_spots, dow_vols = cleanData(dow_files)

ibm_df = pd.DataFrame({'date': ibm_dates, 'IBM spots': ibm_spots, 'IBM vols': ibm_vols})
ibm_df.head()

dell_df = pd.DataFrame({'date': dell_dates, 'DELL spots': dell_spots, 'DELL vols': dell_vols})
dell_df.head()

hp_df = pd.DataFrame({'date': hp_dates, 'HP spots': hp_spots, 'HP vols': hp_vols})
hp_df.head()

westdig_df = pd.DataFrame({'date': westdig_dates, 'WESTDIG spots': westdig_spots, 'WESTDIG vols': westdig_vols})
westdig_df.head()

seagate_df = pd.DataFrame({'date': seagate_dates, 'SEAGATE spots': seagate_spots, 'SEAGATE vols': seagate_vols})
seagate_df.head()

dow_df = pd.DataFrame({'date': dow_dates, 'DOW spots': dow_spots, 'DOW vols': dow_vols})
dow_df.head()

total_df = pd.merge(ibm_df, dell_df, on="date")
total_df = pd.merge(total_df, hp_df, on="date")
total_df = pd.merge(total_df, westdig_df, on="date")
total_df = pd.merge(total_df, seagate_df, on="dates")
total_df = pd.merge(total_df, dow_df, on="dates")

pd.DataFrame.to_csv(total_df, "./cleanedNumData.csv")

['Mo', '3/19/18', '23.2', '9.93M', '12.348M']
spot of 23.2 with type <class 'str'>
['Fr', '3/16/18', '23.51', '20.053M', '13.112M']
spot of 23.51 with type <class 'str'>
['Th', '3/15/18', '23.48', '10.32M', '13.262M']
spot of 23.48 with type <class 'str'>
['We', '3/14/18', '23.48', '9.305M', '13.289M']
spot of 23.48 with type <class 'str'>
['Tu', '3/13/18', '23.62', '16.956M', '13.17M']
spot of 23.62 with type <class 'str'>
['Mo', '3/12/18', '23.83', '19.627M', '12.579M']
spot of 23.83 with type <class 'str'>
['Fr', '3/9/18', '24.65', '12.893M', '11.676M']
spot of 24.65 with type <class 'str'>
['Th', '3/8/18', '23.95', '7.113M', '11.359M']
spot of 23.95 with type <class 'str'>
['We', '3/7/18', '24.04', '8.421M', '11.695M']
spot of 24.04 with type <class 'str'>
['Tu', '3/6/18', '23.95', '9.878M', '11.91M']
spot of 23.95 with type <class 'str'>
['Mo', '3/5/18', '23.69', '10.034M', '12.085M']
spot of 23.69 with type <class 'str'>
['Fr', '3/2/18', '23.57', '10.113M', '12.297M']
spot of 23.57 with type <class 'str'>
['Th', '3/1/18', '23.35', '12.042M', '12.74M']
spot of 23.35 with type <class 'str'>
['We', '2/28/18', '23.39', '13.426M', '12.726M']
spot of 23.39 with type <class 'str'>
['Tu', '2/27/18', '23.52', '15.106M', '13.194M']
spot of 23.52 with type <class 'str'>
['Mo', '2/26/18', '23.46', '21.394M', '13.074M']
spot of 23.46 with type <class 'str'>
['Fr', '2/23/18', '22.13', '22.297M', '12.259M']
spot of 22.13 with type <class 'str'>
['Th', '2/22/18', '21.39', '10.726M', '11.26M']
spot of 21.39 with type <class 'str'>
['We', '2/21/18', '21.17', '7.528M', '11.459M']
spot of 21.17 with type <class 'str'>
['Tu', '2/20/18', '21.39', '8.085M', '11.489M']
spot of 21.39 with type <class 'str'>
['Fr', '2/16/18', '21.4', '6.082M', '11.419M']
spot of 21.4 with type <class 'str'>
['Th', '2/15/18', '21.45', '8.134M', '11.554M']
spot of 21.45 with type <class 'str'>
['We', '2/14/18', '21.29', '12.152M', '11.497M']
spot of 21.29 with type <class 'str'>
['Tu', '2/13/18', '20.58', '11.649M', '11.139M']
spot of 20.58 with type <class 'str'>
['Mo', '2/12/18', '20.41', '12.508M', '10.885M']
spot of 20.41 with type <class 'str'>
['Fr', '2/9/18', '20.11', '13.216M', '10.661M']
spot of 20.11 with type <class 'str'>
['Th', '2/8/18', '19.92', '16.751M', '10.55M']
spot of 19.92 with type <class 'str'>
['We', '2/7/18', '21.21', '11.839M', '10.252M']
spot of 21.21 with type <class 'str'>
['Tu', '2/6/18', '21.43', '20.44M', '10.206M']
spot of 21.43 with type <class 'str'>
['Mo', '2/5/18', '21.29', '13.314M', '9.464M']
spot of 21.29 with type <class 'str'>
['Fr', '2/2/18', '22.48', '9.163M', '9.165M']
spot of 22.48 with type <class 'str'>
['Th', '2/1/18', '23.3', '7.318M', '9.111M']
spot of 23.3 with type <class 'str'>
['We', '1/31/18', '23.32', '13.705M', '9.186M']
spot of 23.32 with type <class 'str'>
['Tu', '1/30/18', '23.44', '7.973M', '8.796M']
spot of 23.44 with type <class 'str'>
['Mo', '1/29/18', '23.81', '7.036M', '8.649M']
spot of 23.81 with type <class 'str'>
['Fr', '1/26/18', '23.91', '8.113M', '8.63M']
spot of 23.91 with type <class 'str'>
['Th', '1/25/18', '23.32', '7.274M', '8.6M']
spot of 23.32 with type <class 'str'>
['We', '1/24/18', '23.66', '6.781M', '8.512M']
spot of 23.66 with type <class 'str'>
['Tu', '1/23/18', '23.81', '7.84M', '8.49M']
spot of 23.81 with type <class 'str'>
['Mo', '1/22/18', '23.85', '9.151M', '8.314M']
spot of 23.85 with type <class 'str'>
['Fr', '1/19/18', '23.7', '11.551M', '8.052M']
spot of 23.7 with type <class 'str'>
['Th', '1/18/18', '23.29', '12.277M', '7.789M']
spot of 23.29 with type <class 'str'>
['We', '1/17/18', '23.46', '11.151M', '7.171M']
spot of 23.46 with type <class 'str'>
['Tu', '1/16/18', '22.88', '9.312M', '6.701M']
spot of 22.88 with type <class 'str'>
['Fr', '1/12/18', '22.92', '8.822M', '6.663M']
spot of 22.92 with type <class 'str'>
['Th', '1/11/18', '22.41', '8.356M', '6.565M']
spot of 22.41 with type <class 'str'>
['We', '1/10/18', '22.05', '8.443M', '6.66M']
spot of 22.05 with type <class 'str'>
['Tu', '1/9/18', '21.81', '7.859M', '6.907M']
spot of 21.81 with type <class 'str'>
['Mo', '1/8/18', '21.84', '5.77M', '7.651M']
spot of 21.84 with type <class 'str'>
['Fr', '1/5/18', '21.75', '6.751M', '7.811M']
spot of 21.75 with type <class 'str'>
['Th', '1/4/18', '21.53', '7.654M', '7.971M']
spot of 21.53 with type <class 'str'>
['We', '1/3/18', '21.37', '5.958M', '7.939M']
spot of 21.37 with type <class 'str'>
['Tu', '1/2/18', '21.32', '6.457M', '8.057M']
spot of 21.32 with type <class 'str'>
['Fr', '12/29/17', '21.01', '5.204M', '8.548M']
spot of 21.01 with type <class 'str'>
['Th', '12/28/17', '21.15', '5.214M', '8.765M']
spot of 21.15 with type <class 'str'>
['We', '12/27/17', '21.27', '7.605M', '9.086M']
spot of 21.27 with type <class 'str'>
['Tu', '12/26/17', '21.23', '3.015M', '9.193M']
spot of 21.23 with type <class 'str'>
['Fr', '12/22/17', '21.26', '4.1M', '9.857M']
spot of 21.26 with type <class 'str'>
['Th', '12/21/17', '21.25', '8.742M', '10.244M']
spot of 21.25 with type <class 'str'>
['We', '12/20/17', '21.46', '7.347M', '10.59M']
spot of 21.46 with type <class 'str'>
['Tu', '12/19/17', '21.42', '9.773M', '10.907M']
spot of 21.42 with type <class 'str'>
['Mo', '12/18/17', '21.29', '12.156M', '10.948M']
spot of 21.29 with type <class 'str'>
['Fr', '12/15/17', '20.92', '19.023M', '11.161M']
spot of 20.92 with type <class 'str'>
['Th', '12/14/17', '20.74', '8.161M', '10.536M']
spot of 20.74 with type <class 'str'>
['We', '12/13/17', '20.85', '9.157M', '11.887M']
spot of 20.85 with type <class 'str'>
['Tu', '12/12/17', '20.98', '7.175M', '12.447M']
spot of 20.98 with type <class 'str'>
['Mo', '12/11/17', '21.3', '7.731M', '12.76M']
spot of 21.3 with type <class 'str'>
['Fr', '12/8/17', '21.07', '13.822M', '12.954M']
spot of 21.07 with type <class 'str'>
['Th', '12/7/17', '20.97', '8.451M', '12.67M']
spot of 20.97 with type <class 'str'>
['We', '12/6/17', '21.02', '10.032M', '12.95M']
spot of 21.02 with type <class 'str'>
['Tu', '12/5/17', '21.07', '9.209M', '13.057M']
spot of 21.07 with type <class 'str'>
['Mo', '12/4/17', '21.08', '12.976M', '12.771M']
spot of 21.08 with type <class 'str'>
['Fr', '12/1/17', '21.41', '9.91M', '12.324M']
spot of 21.41 with type <class 'str'>
['Th', '11/30/17', '21.45', '13.923M', '12.053M']
spot of 21.45 with type <class 'str'>
['We', '11/29/17', '21.43', '12.113M', '11.529M']
spot of 21.43 with type <class 'str'>
['Tu', '11/28/17', '21.66', '10.377M', '11.138M']
spot of 21.66 with type <class 'str'>
['Mo', '11/27/17', '21.25', '15.35M', '11.334M']
spot of 21.25 with type <class 'str'>
['Fr', '11/24/17', '21.24', '9.658M', '10.824M']
spot of 21.24 with type <class 'str'>
['We', '11/22/17', '21.34', '28.425M', '11.165M']
spot of 21.34 with type <class 'str'>
['Tu', '11/21/17', '22.46', '17.553M', '9.857M']
spot of 22.46 with type <class 'str'>
['Mo', '11/20/17', '22.12', '11.872M', '9.336M']
spot of 22.12 with type <class 'str'>
['Fr', '11/17/17', '21.75', '10.64M', '9.042M']
spot of 21.75 with type <class 'str'>
['Th', '11/16/17', '21.57', '9.562M', '9.694M']
spot of 21.57 with type <class 'str'>
['We', '11/15/17', '21.36', '12.655M', '10.19M']
spot of 21.36 with type <class 'str'>
['Tu', '11/14/17', '21.36', '11.628M', '10.239M']
spot of 21.36 with type <class 'str'>
['Mo', '11/13/17', '21.17', '4.922M', '10.012M']
spot of 21.17 with type <class 'str'>
['Fr', '11/10/17', '21.23', '6.277M', '10.262M']
spot of 21.23 with type <class 'str'>
['Th', '11/9/17', '21.34', '5.845M', '10.418M']
spot of 21.34 with type <class 'str'>
['We', '11/8/17', '21.42', '6.062M', '10.712M']
spot of 21.42 with type <class 'str'>
['Tu', '11/7/17', '21.38', '6.246M', '10.815M']
spot of 21.38 with type <class 'str'>
['Mo', '11/6/17', '21.44', '13.31M', '10.875M']
spot of 21.44 with type <class 'str'>
['Fr', '11/3/17', '21.47', '7.71M', '10.63M']
spot of 21.47 with type <class 'str'>
['Th', '11/2/17', '21.44', '14.765M', '11.918M']
spot of 21.44 with type <class 'str'>
['We', '11/1/17', '21.47', '8.814M', '11.539M']
spot of 21.47 with type <class 'str'>
['Tu', '10/31/17', '21.55', '9.733M', '11.511M']
spot of 21.55 with type <class 'str'>
['Mo', '10/30/17', '21.39', '7.46M', '11.308M']
spot of 21.39 with type <class 'str'>
['Fr', '10/27/17', '21.5', '20.421M', '11.185M']
spot of 21.5 with type <class 'str'>
['Th', '10/26/17', '21.52', '17.01M', '10.531M']
spot of 21.52 with type <class 'str'>
['We', '10/25/17', '21.67', '13.378M', '10.148M']
spot of 21.67 with type <class 'str'>
['Tu', '10/24/17', '21.95', '8.226M', '9.723M']
spot of 21.95 with type <class 'str'>
['Mo', '10/23/17', '22.12', '8.678M', '9.614M']
spot of 22.12 with type <class 'str'>
['Fr', '10/20/17', '22.02', '8.621M', '9.589M']
spot of 22.02 with type <class 'str'>
['Th', '10/19/17', '21.96', '10.248M', '9.462M']
spot of 21.96 with type <class 'str'>
['We', '10/18/17', '21.72', '7.611M', '9.318M']
spot of 21.72 with type <class 'str'>
['Tu', '10/17/17', '21.55', '7.137M', '9.546M']
spot of 21.55 with type <class 'str'>
['Mo', '10/16/17', '21.79', '9.646M', '10.174M']
spot of 21.79 with type <class 'str'>
['Fr', '10/13/17', '21.71', '27.017M', '10.154M']
spot of 21.71 with type <class 'str'>
['Th', '10/12/17', '20.4', '9.085M', '8.804M']
spot of 20.4 with type <class 'str'>
['We', '10/11/17', '20.41', '8.402M', '8.701M']
spot of 20.41 with type <class 'str'>
['Tu', '10/10/17', '20.57', '6.676M', '8.608M']
spot of 20.57 with type <class 'str'>
['Mo', '10/9/17', '20.57', '5.615M', '8.532M']
spot of 20.57 with type <class 'str'>
['Fr', '10/6/17', '20.58', '10.614M', '8.585M']
spot of 20.58 with type <class 'str'>
['Th', '10/5/17', '20.35', '11.265M', '8.73M']
spot of 20.35 with type <class 'str'>
['We', '10/4/17', '20.26', '7.003M', '8.624M']
spot of 20.26 with type <class 'str'>
['Tu', '10/3/17', '20.09', '6.593M', '8.688M']
spot of 20.09 with type <class 'str'>
['Mo', '10/2/17', '20.12', '8.308M', '8.744M']
spot of 20.12 with type <class 'str'>
['Fr', '9/29/17', '19.96', '6.705M', '8.679M']
spot of 19.96 with type <class 'str'>
['Th', '9/28/17', '19.97', '8.095M', '8.665M']
spot of 19.97 with type <class 'str'>
['We', '9/27/17', '19.87', '11.023M', '8.506M']
spot of 19.87 with type <class 'str'>
['Tu', '9/26/17', '19.88', '16.565M', '8.548M']
spot of 19.88 with type <class 'str'>
['Mo', '9/25/17', '19.85', '9.339M', '8.258M']
spot of 19.85 with type <class 'str'>
['Fr', '9/22/17', '19.94', '6.778M', '8.139M']
spot of 19.94 with type <class 'str'>
['Th', '9/21/17', '19.77', '7.539M', '8.383M']
spot of 19.77 with type <class 'str'>
['We', '9/20/17', '19.6', '7.008M', '8.411M']
spot of 19.6 with type <class 'str'>
['Tu', '9/19/17', '19.49', '5.528M', '8.58M']
spot of 19.49 with type <class 'str'>
['Mo', '9/18/17', '19.59', '6.415M', '9.081M']
spot of 19.59 with type <class 'str'>
['Fr', '9/15/17', '19.47', '12.791M', '9.56M']
spot of 19.47 with type <class 'str'>
['Th', '9/14/17', '19.46', '9.666M', '10.532M']
spot of 19.46 with type <class 'str'>
['We', '9/13/17', '19.28', '7.965M', '10.892M']
spot of 19.28 with type <class 'str'>
['Tu', '9/12/17', '19.48', '7.431M', '10.924M']
spot of 19.48 with type <class 'str'>
['Mo', '9/11/17', '19.32', '7.335M', '10.889M']
spot of 19.32 with type <class 'str'>
['Fr', '9/8/17', '19.12', '6.497M', '11.18M']
spot of 19.12 with type <class 'str'>
['Th', '9/7/17', '19.28', '5.716M', '11.365M']
spot of 19.28 with type <class 'str'>
['We', '9/6/17', '19.37', '11.645M', '11.623M']
spot of 19.37 with type <class 'str'>
['Tu', '9/5/17', '19.24', '12.217M', '11.463M']
spot of 19.24 with type <class 'str'>
['Fr', '9/1/17', '19.36', '7.551M', '11.156M']
spot of 19.36 with type <class 'str'>
['Th', '8/31/17', '19.08', '10.435M', '11.094M']
spot of 19.08 with type <class 'str'>
['We', '8/30/17', '19.17', '7.96M', '11.284M']
spot of 19.17 with type <class 'str'>
['Tu', '8/29/17', '19.21', '9.553M', '11.276M']
spot of 19.21 with type <class 'str'>
['Mo', '8/28/17', '19.18', '13.044M', '11.41M']
spot of 19.18 with type <class 'str'>
['Fr', '8/25/17', '19.31', '13.593M', '11.153M']
spot of 19.31 with type <class 'str'>
['Th', '8/24/17', '19.41', '27.376M', '10.855M']
spot of 19.41 with type <class 'str'>
['We', '8/23/17', '18.86', '15.067M', '10.029M']
spot of 18.86 with type <class 'str'>
['Tu', '8/22/17', '19.02', '8.432M', '9.744M']
spot of 19.02 with type <class 'str'>
['Mo', '8/21/17', '18.57', '6.919M', '9.617M']
spot of 18.57 with type <class 'str'>
['Fr', '8/18/17', '18.51', '11.687M', '10.007M']
spot of 18.51 with type <class 'str'>
['Th', '8/17/17', '18.64', '9.283M', '9.621M']
spot of 18.64 with type <class 'str'>
['We', '8/16/17', '18.97', '9.583M', '9.984M']
spot of 18.97 with type <class 'str'>
['Tu', '8/15/17', '19.04', '9.246M', '9.881M']
spot of 19.04 with type <class 'str'>
['Mo', '8/14/17', '19.1', '7.616M', '9.882M']
spot of 19.1 with type <class 'str'>
['Fr', '8/11/17', '18.9', '6.61M', '9.917M']
spot of 18.9 with type <class 'str'>
['Th', '8/10/17', '18.9', '13.285M', '10.092M']
spot of 18.9 with type <class 'str'>
['We', '8/9/17', '19.32', '7.844M', '9.952M']
spot of 19.32 with type <class 'str'>
['Tu', '8/8/17', '19.32', '11.561M', '10.15M']
spot of 19.32 with type <class 'str'>
['Mo', '8/7/17', '19.32', '9.192M', '9.741M']
spot of 19.32 with type <class 'str'>
['Fr', '8/4/17', '19.37', '9.123M', '9.733M']
spot of 19.37 with type <class 'str'>
['Th', '8/3/17', '19.36', '14.994M', '9.67M']
spot of 19.36 with type <class 'str'>
['We', '8/2/17', '19.1', '10.781M', '9.296M']
spot of 19.1 with type <class 'str'>
['Tu', '8/1/17', '19.14', '6.53M', '9.254M']
spot of 19.14 with type <class 'str'>
['Mo', '7/31/17', '19.1', '12.772M', '9.621M']
spot of 19.1 with type <class 'str'>
['Fr', '7/28/17', '19.17', '5.898M', '9.425M']
spot of 19.17 with type <class 'str'>
['Th', '7/27/17', '19.21', '14.732M', '9.581M']
spot of 19.21 with type <class 'str'>
['We', '7/26/17', '19.26', '8.028M', '9.398M']
spot of 19.26 with type <class 'str'>
['Tu', '7/25/17', '19.41', '9.267M', '9.795M']
spot of 19.41 with type <class 'str'>
['Mo', '7/24/17', '19.24', '8.145M', '9.465M']
spot of 19.24 with type <class 'str'>
['Fr', '7/21/17', '19.15', '9.236M', '9.518M']
spot of 19.15 with type <class 'str'>
['Th', '7/20/17', '18.94', '11.181M', '9.503M']
spot of 18.94 with type <class 'str'>
['We', '7/19/17', '18.7', '10.809M', '9.169M']
spot of 18.7 with type <class 'str'>
['Tu', '7/18/17', '18.39', '5.426M', '9.002M']
spot of 18.39 with type <class 'str'>
['Mo', '7/17/17', '18.47', '9.071M', '9.585M']
spot of 18.47 with type <class 'str'>
['Fr', '7/14/17', '18.42', '8.175M', '9.917M']
spot of 18.42 with type <class 'str'>
['Th', '7/13/17', '18.08', '9.397M', '10.11M']
spot of 18.08 with type <class 'str'>
['We', '7/12/17', '18.04', '10.146M', '10.464M']
spot of 18.04 with type <class 'str'>
['Tu', '7/11/17', '17.94', '12.041M', '10.873M']
spot of 17.94 with type <class 'str'>
['Mo', '7/10/17', '17.87', '9.82M', '10.757M']
spot of 17.87 with type <class 'str'>
['Fr', '7/7/17', '17.35', '8.241M', '11.078M']
spot of 17.35 with type <class 'str'>
['Th', '7/6/17', '17.19', '11.986M', '11.113M']
spot of 17.19 with type <class 'str'>
['We', '7/5/17', '17.65', '13.992M', '10.897M']
spot of 17.65 with type <class 'str'>
['Mo', '7/3/17', '17.56', '4.313M', '10.566M']
spot of 17.56 with type <class 'str'>
['Fr', '6/30/17', '17.48', '8.935M', '11.114M']
spot of 17.48 with type <class 'str'>
['Th', '6/29/17', '17.57', '9.018M', '11.6M']
spot of 17.57 with type <class 'str'>
['We', '6/28/17', '18.03', '6.161M', '11.817M']
spot of 18.03 with type <class 'str'>
['Tu', '6/27/17', '17.77', '8.304M', '12.236M']
spot of 17.77 with type <class 'str'>
['Mo', '6/26/17', '18.16', '14.175M', '13.15M']
spot of 18.16 with type <class 'str'>
['Fr', '6/23/17', '17.8', '14.052M', '12.756M']
spot of 17.8 with type <class 'str'>
['Th', '6/22/17', '17.71', '11.065M', '12.437M']
spot of 17.71 with type <class 'str'>
['We', '6/21/17', '17.71', '14.705M', '12.255M']
spot of 17.71 with type <class 'str'>
['Tu', '6/20/17', '17.83', '16.283M', '12.091M']
spot of 17.83 with type <class 'str'>
['Mo', '6/19/17', '17.69', '10.306M', '12.1M']
spot of 17.69 with type <class 'str'>
['Fr', '6/16/17', '17.35', '14.635M', '12.381M']
spot of 17.35 with type <class 'str'>
['Th', '6/15/17', '17.27', '8.766M', '12.826M']
spot of 17.27 with type <class 'str'>
['We', '6/14/17', '17.4', '8.743M', '13.14M']
spot of 17.4 with type <class 'str'>
['Tu', '6/13/17', '17.74', '9.036M', '13.079M']
spot of 17.74 with type <class 'str'>
['Mo', '6/12/17', '17.76', '12.528M', '13.127M']
spot of 17.76 with type <class 'str'>
['Fr', '6/9/17', '17.8', '16.229M', '12.829M']
spot of 17.8 with type <class 'str'>
['Th', '6/8/17', '18.28', '12.265M', '12.699M']
spot of 18.28 with type <class 'str'>
['We', '6/7/17', '18.24', '12.449M', '12.621M']
spot of 18.24 with type <class 'str'>
['Tu', '6/6/17', '18.26', '22.01M', '12.281M']
spot of 18.26 with type <class 'str'>
['Mo', '6/5/17', '18.8', '8.274M', '11.292M']
spot of 18.8 with type <class 'str'>
['Fr', '6/2/17', '18.98', '9.262M', '11.168M']
spot of 18.98 with type <class 'str'>
['Th', '6/1/17', '18.95', '8.34M', '11.1M']
spot of 18.95 with type <class 'str'>
['We', '5/31/17', '18.76', '12.234M', '11.027M']
spot of 18.76 with type <class 'str'>
['Tu', '5/30/17', '18.94', '16.424M', '10.657M']
spot of 18.94 with type <class 'str'>
['Fr', '5/26/17', '18.47', '14.526M', '10.232M']
spot of 18.47 with type <class 'str'>
['Th', '5/25/17', '18.37', '21.296M', '10.057M']
spot of 18.37 with type <class 'str'>
['We', '5/24/17', '19.01', '13.476M', '9.117M']
spot of 19.01 with type <class 'str'>
['Tu', '5/23/17', '18.96', '7.835M', '8.685M']
spot of 18.96 with type <class 'str'>
['Mo', '5/22/17', '19.11', '9.759M', '8.931M']
spot of 19.11 with type <class 'str'>
['Fr', '5/19/17', '19', '8.05M', '8.811M']
spot of 19 with type <class 'str'>
['Th', '5/18/17', '18.78', '14.281M', '8.805M']
spot of 18.78 with type <class 'str'>
['We', '5/17/17', '18.96', '11.096M', '8.466M']
spot of 18.96 with type <class 'str'>
['Tu', '5/16/17', '19.47', '7.35M', '8.256M']
spot of 19.47 with type <class 'str'>
['Mo', '5/15/17', '19.36', '7.177M', '8.461M']
spot of 19.36 with type <class 'str'>
['Fr', '5/12/17', '19.3', '6.417M', '8.52M']
spot of 19.3 with type <class 'str'>
['Th', '5/11/17', '19.26', '8.233M', '8.755M']
spot of 19.26 with type <class 'str'>
['We', '5/10/17', '19.36', '7.252M', '8.659M']
spot of 19.36 with type <class 'str'>
['Tu', '5/9/17', '19.24', '6.674M', '8.999M']
spot of 19.24 with type <class 'str'>
['Mo', '5/8/17', '19.31', '10.053M', '9.233M']
spot of 19.31 with type <class 'str'>
['Fr', '5/5/17', '18.91', '11.898M', '9.11M']
spot of 18.91 with type <class 'str'>
['Th', '5/4/17', '18.79', '7.205M', '9.174M']
spot of 18.79 with type <class 'str'>
['We', '5/3/17', '18.81', '6.996M', '9.984M']
spot of 18.81 with type <class 'str'>
['Tu', '5/2/17', '18.9', '11.527M', '10.478M']
spot of 18.9 with type <class 'str'>
['Mo', '5/1/17', '18.93', '7.959M', '10.156M']
spot of 18.93 with type <class 'str'>
['Fr', '4/28/17', '18.82', '7.957M', '10.523M']
spot of 18.82 with type <class 'str'>
['Th', '4/27/17', '18.77', '9.194M', '10.55M']
spot of 18.77 with type <class 'str'>
['We', '4/26/17', '18.63', '7.951M', '10.625M']
spot of 18.63 with type <class 'str'>
['Tu', '4/25/17', '18.61', '10.426M', '10.547M']
spot of 18.61 with type <class 'str'>
['Mo', '4/24/17', '18.54', '8.055M', '10.554M']
spot of 18.54 with type <class 'str'>
['Fr', '4/21/17', '18.29', '9.953M', '11.3M']
spot of 18.29 with type <class 'str'>
['Th', '4/20/17', '18.52', '6.786M', '11.357M']
spot of 18.52 with type <class 'str'>
['We', '4/19/17', '18.38', '12.352M', '11.27M']
spot of 18.38 with type <class 'str'>
['Tu', '4/18/17', '18.22', '10.177M', '11.029M']
spot of 18.22 with type <class 'str'>
['Mo', '4/17/17', '18.2', '8.214M', '10.73M']
spot of 18.2 with type <class 'str'>
['Th', '4/13/17', '18.2', '12.854M', '10.625M']

['Tu', '1/24/17', '15.17', '12.37M', '12.668M']
spot of 15.17 with type <class 'str'>
['Mo', '1/23/17', '14.67', '15.25M', '12.456M']
spot of 14.67 with type <class 'str'>
['Fr', '1/20/17', '14.73', '14.687M', '11.767M']
spot of 14.73 with type <class 'str'>
['Th', '1/19/17', '14.86', '15.082M', '11.132M']
spot of 14.86 with type <class 'str'>
['We', '1/18/17', '14.58', '13.665M', '10.421M']
spot of 14.58 with type <class 'str'>
['Tu', '1/17/17', '14.58', '11.977M', '9.93M']
spot of 14.58 with type <class 'str'>
['Fr', '1/13/17', '14.77', '9.336M', '9.638M']
spot of 14.77 with type <class 'str'>
['Th', '1/12/17', '14.79', '11.508M', '9.558M']
spot of 14.79 with type <class 'str'>
['We', '1/11/17', '14.94', '15.009M', '9.6M']
spot of 14.94 with type <class 'str'>
['Tu', '1/10/17', '14.69', '15.888M', '9.289M']
spot of 14.69 with type <class 'str'>
['Mo', '1/9/17', '14.68', '12.909M', '9.548M']
spot of 14.68 with type <class 'str'>
['Fr', '1/6/17', '15', '7.494M', '9.362M']
spot of 15 with type <class 'str'>
['Th', '1/5/17', '15.07', '13.221M', '9.572M']
spot of 15.07 with type <class 'str'>
['We', '1/4/17', '15.08', '9.128M', '9.422M']
spot of 15.08 with type <class 'str'>
['Tu', '1/3/17', '14.85', '12.502M', '9.661M']
spot of 14.85 with type <class 'str'>
['Fr', '12/30/16', '14.84', '9.187M', '9.485M']
spot of 14.84 with type <class 'str'>
['Th', '12/29/16', '14.94', '4.905M', '9.511M']
spot of 14.94 with type <class 'str'>
['We', '12/28/16', '14.94', '5.175M', '9.963M']
spot of 14.94 with type <class 'str'>
['Tu', '12/27/16', '15.21', '4.409M', '10.077M']
spot of 15.21 with type <class 'str'>
['Fr', '12/23/16', '15.1', '6.306M', '10.552M']
spot of 15.1 with type <class 'str'>
['Th', '12/22/16', '15.14', '7.592M', '10.69M']
spot of 15.14 with type <class 'str'>
['We', '12/21/16', '15.14', '8.133M', '11.039M']
spot of 15.14 with type <class 'str'>
['Tu', '12/20/16', '15.08', '12.149M', '11.559M']
spot of 15.08 with type <class 'str'>
['Mo', '12/19/16', '15.12', '10.344M', '11.4M']
spot of 15.12 with type <class 'str'>
['Fr', '12/16/16', '15.05', '19.766M', '11.563M']
spot of 15.05 with type <class 'str'>
['Th', '12/15/16', '15.51', '10.122M', '10.837M']
spot of 15.51 with type <class 'str'>
['We', '12/14/16', '15.61', '10.638M', '11.725M']
spot of 15.61 with type <class 'str'>
['Tu', '12/13/16', '15.82', '10.979M', '12.325M']
spot of 15.82 with type <class 'str'>
['Mo', '12/12/16', '15.83', '12.705M', '12.301M']
spot of 15.83 with type <class 'str'>
['Fr', '12/9/16', '15.78', '9.865M', '12.179M']
spot of 15.78 with type <class 'str'>
['Th', '12/8/16', '16.16', '9.582M', '12.163M']
spot of 16.16 with type <class 'str'>
['We', '12/7/16', '16.15', '11.679M', '12.202M']
spot of 16.15 with type <class 'str'>
['Tu', '12/6/16', '15.6', '6.887M', '12.375M']
spot of 15.6 with type <class 'str'>
['Mo', '12/5/16', '15.55', '11.539M', '12.884M']
spot of 15.55 with type <class 'str'>
['Fr', '12/2/16', '15.12', '8.377M', '12.802M']
spot of 15.12 with type <class 'str'>
['Th', '12/1/16', '15.06', '12.822M', '13.323M']
spot of 15.06 with type <class 'str'>
['We', '11/30/16', '15.4', '15.933M', '13.592M']
spot of 15.4 with type <class 'str'>
['Tu', '11/29/16', '15.15', '9.763M', '13.306M']
spot of 15.15 with type <class 'str'>
['Mo', '11/28/16', '15.08', '12.792M', '13.307M']
spot of 15.08 with type <class 'str'>
['Fr', '11/25/16', '15.18', '8.875M', '13.244M']
spot of 15.18 with type <class 'str'>
['We', '11/23/16', '14.87', '23.44M', '13.356M']
spot of 14.87 with type <class 'str'>
['Tu', '11/22/16', '15.95', '19.635M', '13.279M']
spot of 15.95 with type <class 'str'>
['Mo', '11/21/16', '16', '10.618M', '13.661M']
spot of 16 with type <class 'str'>
['Fr', '11/18/16', '15.87', '10.878M', '14.044M']
spot of 15.87 with type <class 'str'>
['Th', '11/17/16', '15.89', '9.623M', '14.335M']
spot of 15.89 with type <class 'str'>
['We', '11/16/16', '15.8', '10.164M', '14.634M']
spot of 15.8 with type <class 'str'>
['Tu', '11/15/16', '15.87', '14.279M', '15.111M']
spot of 15.87 with type <class 'str'>
['Mo', '11/14/16', '16.1', '14.528M', '14.897M']
spot of 16.1 with type <class 'str'>
['Fr', '11/11/16', '15.82', '10.307M', '14.58M']
spot of 15.82 with type <class 'str'>
['Th', '11/10/16', '15.49', '16.182M', '14.867M']
spot of 15.49 with type <class 'str'>
['We', '11/9/16', '15.57', '16.867M', '14.243M']
spot of 15.57 with type <class 'str'>
['Tu', '11/8/16', '15.28', '11.642M', '13.779M']
spot of 15.28 with type <class 'str'>
['Mo', '11/7/16', '15.05', '9.781M', '13.854M']
spot of 15.05 with type <class 'str'>
['Fr', '11/4/16', '14.71', '11.832M', '14.673M']
spot of 14.71 with type <class 'str'>
['Th', '11/3/16', '14.54', '10.559M', '15.424M']
spot of 14.54 with type <class 'str'>
['We', '11/2/16', '14.65', '22.285M', '15.682M']
spot of 14.65 with type <class 'str'>
['Tu', '11/1/16', '14.35', '25.362M', '14.867M']
spot of 14.35 with type <class 'str'>
['Mo', '10/31/16', '14.49', '16.364M', '13.887M']
spot of 14.49 with type <class 'str'>
['Fr', '10/28/16', '14.09', '15.248M', '13.311M']
spot of 14.09 with type <class 'str'>
['Th', '10/27/16', '13.99', '14.106M', '12.658M']
spot of 13.99 with type <class 'str'>
['We', '10/26/16', '13.91', '17.328M', '12.07M']
spot of 13.91 with type <class 'str'>
['Tu', '10/25/16', '13.9', '11.07M', '11.52M']
spot of 13.9 with type <class 'str'>
['Mo', '10/24/16', '13.97', '9.763M', '11.603M']
spot of 13.97 with type <class 'str'>
['Fr', '10/21/16', '13.8', '14.61M', '11.438M']
spot of 13.8 with type <class 'str'>
['Th', '10/20/16', '14.1', '6.824M', '11.228M']
spot of 14.1 with type <class 'str'>
['We', '10/19/16', '14.12', '9.918M', '11.426M']
spot of 14.12 with type <class 'str'>
['Tu', '10/18/16', '14.21', '12.763M', '11.414M']
spot of 14.21 with type <class 'str'>
['Mo', '10/17/16', '14.03', '22.058M', '11.167M']
spot of 14.03 with type <class 'str'>
['Fr', '10/14/16', '14.48', '23.108M', '10.196M']
spot of 14.48 with type <class 'str'>
['Th', '10/13/16', '15.15', '14.424M', '9.195M']
spot of 15.15 with type <class 'str'>
['We', '10/12/16', '15.35', '10.064M', '8.896M']
spot of 15.35 with type <class 'str'>
['Tu', '10/11/16', '15.44', '10.65M', '9.141M']
spot of 15.44 with type <class 'str'>
['Mo', '10/10/16', '15.59', '7.726M', '8.979M']
spot of 15.59 with type <class 'str'>
['Fr', '10/7/16', '15.58', '5.458M', '8.996M']
spot of 15.58 with type <class 'str'>
['Th', '10/6/16', '15.6', '5.286M', '9.863M']
spot of 15.6 with type <class 'str'>
['We', '10/5/16', '15.63', '9.082M', '10.3M']
spot of 15.63 with type <class 'str'>
['Tu', '10/4/16', '15.36', '12.314M', '10.268M']
spot of 15.36 with type <class 'str'>
['Mo', '10/3/16', '15.65', '7.282M', '10.451M']
spot of 15.65 with type <class 'str'>
['Fr', '9/30/16', '15.53', '11.457M', '11.02M']
spot of 15.53 with type <class 'str'>
['Th', '9/29/16', '15.39', '9.795M', '11.366M']
spot of 15.39 with type <class 'str'>
['We', '9/28/16', '15.49', '9.742M', '11.399M']
spot of 15.49 with type <class 'str'>
['Tu', '9/27/16', '15.34', '9.061M', '11.204M']
spot of 15.34 with type <class 'str'>
['Mo', '9/26/16', '15.02', '7.485M', '11.105M']
spot of 15.02 with type <class 'str'>
['Fr', '9/23/16', '15.09', '8.102M', '11.161M']
spot of 15.09 with type <class 'str'>
['Th', '9/22/16', '15.12', '9.939M', '11.345M']
spot of 15.12 with type <class 'str'>
['We', '9/21/16', '14.99', '13.734M', '11.434M']
spot of 14.99 with type <class 'str'>
['Tu', '9/20/16', '14.54', '8.222M', '11.221M']
spot of 14.54 with type <class 'str'>
['Mo', '9/19/16', '14.56', '7.981M', '11.208M']
spot of 14.56 with type <class 'str'>
['Fr', '9/16/16', '14.53', '18.459M', '11.714M']
spot of 14.53 with type <class 'str'>
['Th', '9/15/16', '14.5', '11.849M', '12.893M']
spot of 14.5 with type <class 'str'>
['We', '9/14/16', '14.27', '8.595M', '13.42M']
spot of 14.27 with type <class 'str'>
['Tu', '9/13/16', '14.18', '15.057M', '13.786M']
spot of 14.18 with type <class 'str'>
['Mo', '9/12/16', '14.49', '15.824M', '13.655M']
spot of 14.49 with type <class 'str'>
['Fr', '9/9/16', '14.07', '16.646M', '13.234M']
spot of 14.07 with type <class 'str'>
['Th', '9/8/16', '14.63', '10.292M', '12.728M']
spot of 14.63 with type <class 'str'>
['We', '9/7/16', '14.69', '6.809M', '12.733M']
spot of 14.69 with type <class 'str'>
['Tu', '9/6/16', '14.63', '7.582M', '12.904M']
spot of 14.63 with type <class 'str'>
['Fr', '9/2/16', '14.49', '8.327M', '13.248M']
spot of 14.49 with type <class 'str'>
['Th', '9/1/16', '14.5', '10.854M', '13.359M']
spot of 14.5 with type <class 'str'>
['We', '8/31/16', '14.37', '11.283M', '13.18M']
spot of 14.37 with type <class 'str'>
['Tu', '8/30/16', '14.38', '10.541M', '13.219M']
spot of 14.38 with type <class 'str'>
['Mo', '8/29/16', '14.43', '8.024M', '13.344M']
spot of 14.43 with type <class 'str'>
['Fr', '8/26/16', '14.39', '15.568M', '13.582M']
spot of 14.39 with type <class 'str'>
['Th', '8/25/16', '14.37', '36.143M', '13.223M']
spot of 14.37 with type <class 'str'>
['We', '8/24/16', '14.4', '19.757M', '11.804M']
spot of 14.4 with type <class 'str'>
['Tu', '8/23/16', '14.57', '14.075M', '11.163M']
spot of 14.57 with type <class 'str'>
['Mo', '8/22/16', '14.37', '13.103M', '10.937M']
spot of 14.37 with type <class 'str'>
['Fr', '8/19/16', '14.42', '9.504M', '10.986M']
spot of 14.42 with type <class 'str'>
['Th', '8/18/16', '14.51', '9.055M', '11.403M']
spot of 14.51 with type <class 'str'>
['We', '8/17/16', '14.5', '10.371M', '11.876M']
spot of 14.5 with type <class 'str'>
['Tu', '8/16/16', '14.41', '9.366M', '12.359M']
spot of 14.41 with type <class 'str'>
['Mo', '8/15/16', '14.52', '12.749M', '12.359M']
spot of 14.52 with type <class 'str'>
['Fr', '8/12/16', '14.28', '9.992M', '11.974M']
spot of 14.28 with type <class 'str'>
['Th', '8/11/16', '14.3', '8.174M', '11.993M']
spot of 14.3 with type <class 'str'>
['We', '8/10/16', '14.19', '11.869M', '12.693M']
spot of 14.19 with type <class 'str'>
['Tu', '8/9/16', '14.25', '12.412M', '13.049M']
spot of 14.25 with type <class 'str'>
['Mo', '8/8/16', '14.26', '11.586M', '12.975M']
spot of 14.26 with type <class 'str'>
['Fr', '8/5/16', '14.28', '10.186M', '12.645M']
spot of 14.28 with type <class 'str'>
['Th', '8/4/16', '14.15', '14.86M', '12.633M']
spot of 14.15 with type <class 'str'>
['We', '8/3/16', '14.31', '10.143M', '12.267M']
spot of 14.31 with type <class 'str'>
['Tu', '8/2/16', '14.06', '10.681M', '12.245M']
spot of 14.06 with type <class 'str'>
['Mo', '8/1/16', '14.18', '13.848M', '12.677M']
spot of 14.18 with type <class 'str'>
['Fr', '7/29/16', '14.01', '15.759M', '12.403M']
spot of 14.01 with type <class 'str'>
['Th', '7/28/16', '13.94', '16.141M', '11.926M']
spot of 13.94 with type <class 'str'>
['We', '7/27/16', '13.99', '17.62M', '11.758M']
spot of 13.99 with type <class 'str'>
['Tu', '7/26/16', '14.18', '9.363M', '11.384M']
spot of 14.18 with type <class 'str'>
['Mo', '7/25/16', '14.16', '6.971M', '11.378M']
spot of 14.16 with type <class 'str'>
['Fr', '7/22/16', '14.11', '10.287M', '11.639M']
spot of 14.11 with type <class 'str'>
['Th', '7/21/16', '14', '18.662M', '11.918M']
spot of 14 with type <class 'str'>
['We', '7/20/16', '14.16', '17.223M', '11.62M']
spot of 14.16 with type <class 'str'>
['Tu', '7/19/16', '14.05', '11.299M', '11.494M']
spot of 14.05 with type <class 'str'>
['Mo', '7/18/16', '13.94', '6.629M', '11.745M']
spot of 13.94 with type <class 'str'>
['Fr', '7/15/16', '13.85', '10.009M', '12.625M']
spot of 13.85 with type <class 'str'>
['Th', '7/14/16', '13.8', '9.378M', '12.848M']
spot of 13.8 with type <class 'str'>
['We', '7/13/16', '13.81', '9.809M', '13.44M']
spot of 13.81 with type <class 'str'>
['Tu', '7/12/16', '13.72', '17.163M', '13.666M']
spot of 13.72 with type <class 'str'>
['Mo', '7/11/16', '13.16', '9.73M', '13.35M']
spot of 13.16 with type <class 'str'>
['Fr', '7/8/16', '13.08', '8.604M', '13.664M']
spot of 13.08 with type <class 'str'>
['Th', '7/7/16', '12.85', '13.625M', '13.665M']
spot of 12.85 with type <class 'str'>
['We', '7/6/16', '12.6', '12.005M', '13.411M']
spot of 12.6 with type <class 'str'>
['Tu', '7/5/16', '12.36', '9.278M', '13.383M']
spot of 12.36 with type <class 'str'>
['Fr', '7/1/16', '12.73', '10.889M', '13.671M']
spot of 12.73 with type <class 'str'>
['Th', '6/30/16', '12.55', '14.464M', '13.622M']
spot of 12.55 with type <class 'str'>
['We', '6/29/16', '12.18', '14.196M', '13.285M']
spot of 12.18 with type <class 'str'>
['Tu', '6/28/16', '11.79', '15.333M', '12.958M']
spot of 11.79 with type <class 'str'>
['Mo', '6/27/16', '11.55', '15.069M', '12.572M']
spot of 11.55 with type <class 'str'>
['Fr', '6/24/16', '12.26', '19.823M', '12.147M']
spot of 12.26 with type <class 'str'>
['Th', '6/23/16', '12.95', '13.354M', '11.551M']
spot of 12.95 with type <class 'str'>
['We', '6/22/16', '12.61', '18.256M', '11.571M']
spot of 12.61 with type <class 'str'>
['Tu', '6/21/16', '13.33', '13.199M', '11.37M']
spot of 13.33 with type <class 'str'>
['Mo', '6/20/16', '13.07', '12.433M', '11.957M']
spot of 13.07 with type <class 'str'>
['Fr', '6/17/16', '13.12', '14.438M', '12.387M']
spot of 13.12 with type <class 'str'>
['Th', '6/16/16', '12.98', '8.61M', '13.415M']
spot of 12.98 with type <class 'str'>
['We', '6/15/16', '13', '9.813M', '13.859M']
spot of 13 with type <class 'str'>
['Tu', '6/14/16', '13.05', '11.584M', '13.799M']
spot of 13.05 with type <class 'str'>
['Mo', '6/13/16', '13.03', '13.612M', '13.653M']
spot of 13.03 with type <class 'str'>
['Fr', '6/10/16', '13.5', '10.148M', '13.439M']
spot of 13.5 with type <class 'str'>
['Th', '6/9/16', '13.84', '9.412M', '13.485M']
spot of 13.84 with type <class 'str'>
['We', '6/8/16', '13.87', '9.282M', '13.327M']
spot of 13.87 with type <class 'str'>
['Tu', '6/7/16', '13.69', '9.551M', '13.343M']
spot of 13.69 with type <class 'str'>
['Mo', '6/6/16', '13.67', '8.694M', '13.114M']
spot of 13.67 with type <class 'str'>
['Fr', '6/3/16', '13.44', '10.88M', '13.041M']
spot of 13.44 with type <class 'str'>
['Th', '6/2/16', '13.54', '13.659M', '13.123M']
spot of 13.54 with type <class 'str'>
['We', '6/1/16', '13.44', '15.232M', '13.161M']
spot of 13.44 with type <class 'str'>
['Tu', '5/31/16', '13.38', '22.01M', '13.14M']
spot of 13.38 with type <class 'str'>
['Fr', '5/27/16', '13.17', '18.882M', '12.309M']
spot of 13.17 with type <class 'str'>
['Th', '5/26/16', '13.04', '29.851M', '11.613M']
spot of 13.04 with type <class 'str'>
['We', '5/25/16', '12.2', '15.282M', '10.221M']
spot of 12.2 with type <class 'str'>
['Tu', '5/24/16', '11.91', '8.904M', '9.781M']
spot of 11.91 with type <class 'str'>
['Mo', '5/23/16', '11.67', '9.392M', '10.275M']
spot of 11.67 with type <class 'str'>
['Fr', '5/20/16', '11.66', '10.409M', '10.468M']
spot of 11.66 with type <class 'str'>
['Th', '5/19/16', '11.44', '10.829M', '10.673M']
spot of 11.44 with type <class 'str'>
['We', '5/18/16', '11.57', '7.045M', '10.488M']
spot of 11.57 with type <class 'str'>
['Tu', '5/17/16', '11.53', '9.531M', '10.72M']
spot of 11.53 with type <class 'str'>
['Mo', '5/16/16', '11.64', '6.108M', '11.132M']
spot of 11.64 with type <class 'str'>
['Fr', '5/13/16', '11.5', '7.605M', '11.655M']
spot of 11.5 with type <class 'str'>
['Th', '5/12/16', '11.56', '12.099M', '11.924M']
spot of 11.56 with type <class 'str'>
['We', '5/11/16', '11.69', '14.229M', '11.851M']
spot of 11.69 with type <class 'str'>
['Tu', '5/10/16', '11.61', '14.926M', '12.04M']
spot of 11.61 with type <class 'str'>
['Mo', '5/9/16', '11.43', '9.548M', '12.264M']
spot of 11.43 with type <class 'str'>
['Fr', '5/6/16', '11.59', '8.439M', '12.666M']
spot of 11.59 with type <class 'str'>
['Th', '5/5/16', '11.45', '8.975M', '12.936M']
spot of 11.45 with type <class 'str'>
['We', '5/4/16', '11.59', '8.675M', '13.283M']
spot of 11.59 with type <class 'str'>
['Tu', '5/3/16', '11.71', '16.317M', '13.775M']
spot of 11.71 with type <class 'str'>
['Mo', '5/2/16', '12.12', '12.284M', '14.576M']
spot of 12.12 with type <class 'str'>
['Fr', '4/29/16', '12.27', '13.492M', '14.822M']
spot of 12.27 with type <class 'str'>
['Th', '4/28/16', '12.57', '8.041M', '14.473M']
spot of 12.57 with type <class 'str'>
['We', '4/27/16', '12.76', '10.531M', '14.886M']
spot of 12.76 with type <class 'str'>
['Tu', '4/26/16', '12.73', '15.712M', '15.061M']
spot of 12.73 with type <class 'str'>
['Mo', '4/25/16', '12.57', '13.957M', '15.046M']
spot of 12.57 with type <class 'str'>
['Fr', '4/22/16', '12.61', '11.636M', '14.855M']
spot of 12.61 with type <class 'str'>
['Th', '4/21/16', '12.59', '11M', '14.874M']
spot of 12.59 with type <class 'str'>
['We', '4/20/16', '12.8', '17.072M', '15.062M']
spot of 12.8 with type <class 'str'>
['Tu', '4/19/16', '12.78', '18.279M', '14.643M']
spot of 12.78 with type <class 'str'>
['Mo', '4/18/16', '12.67', '15.585M', '14.139M']
spot of 12.67 with type <class 'str'>
['Fr', '4/15/16', '12.52', '12.488M', '13.804M']
spot of 12.52 with type <class 'str'>
['Th', '4/14/16', '12.55', '14.173M', '13.777M']
spot of 12.55 with type <class 'str'>
['We', '4/13/16', '12.64', '16.055M', '13.632M']
spot of 12.64 with type <class 'str'>
['Tu', '4/12/16', '12.22', '28.336M', '13.293M']
spot of 12.22 with type <class 'str'>
['Mo', '4/11/16', '12.13', '15.969M', '12.367M']
spot of 12.13 with type <class 'str'>

['Fr', '4/8/16', '12.06', '8.256M', '13.665M']
spot of 12.06 with type <class 'str'>
['Th', '4/7/16', '11.99', '14.245M', '14.325M']
spot of 11.99 with type <class 'str'>
['We', '4/6/16', '12.28', '13.147M', '14.155M']
spot of 12.28 with type <class 'str'>
['Tu', '4/5/16', '11.95', '15.488M', '14.032M']
spot of 11.95 with type <class 'str'>
['Mo', '4/4/16', '12.1', '11.098M', '13.905M']
spot of 12.1 with type <class 'str'>
['Fr', '4/1/16', '12.26', '11.919M', '14.029M']
spot of 12.26 with type <class 'str'>
['Th', '3/31/16', '12.32', '13.812M', '14.294M']
spot of 12.32 with type <class 'str'>
['We', '3/30/16', '12.3', '10.79M', '14.177M']
spot of 12.3 with type <class 'str'>
['Tu', '3/29/16', '12.28', '10.721M', '14.328M']
spot of 12.28 with type <class 'str'>
['Mo', '3/28/16', '12.07', '10.561M', '14.44M']
spot of 12.07 with type <class 'str'>
['Th', '3/24/16', '12.07', '12.087M', '14.749M']
spot of 12.07 with type <class 'str'>
['We', '3/23/16', '12.02', '11.99M', '15.15M']
spot of 12.02 with type <class 'str'>
['Tu', '3/22/16', '12.26', '10.975M', '15.185M']
spot of 12.26 with type <class 'str'>
['Mo', '3/21/16', '12.21', '14.446M', '15.605M']
spot of 12.21 with type <class 'str'>
['Fr', '3/18/16', '12.18', '35.438M', '15.805M']
spot of 12.18 with type <class 'str'>
['Th', '3/17/16', '11.72', '18.156M', '14.96M']
spot of 11.72 with type <class 'str'>
['We', '3/16/16', '11.62', '11.692M', '16.124M']
spot of 11.62 with type <class 'str'>
['Tu', '3/15/16', '11.4', '11.308M', '16.794M']
spot of 11.4 with type <class 'str'>
['Mo', '3/14/16', '11.47', '13.589M', '16.908M']
spot of 11.47 with type <class 'str'>
['Fr', '3/11/16', '11.7', '12.948M', '16.725M']
spot of 11.7 with type <class 'str'>
['Th', '3/10/16', '11.42', '15.901M', '16.791M']
spot of 11.42 with type <class 'str'>
['We', '3/9/16', '11.36', '12.057M', '16.982M']
spot of 11.36 with type <class 'str'>
['Tu', '3/8/16', '11.05', '13.055M', '16.977M']
spot of 11.05 with type <class 'str'>
['Mo', '3/7/16', '11.31', '12.399M', '16.911M']
spot of 11.31 with type <class 'str'>
['Fr', '3/4/16', '11.18', '15.194M', '16.729M']
spot of 11.18 with type <class 'str'>
['Th', '3/3/16', '11.11', '18.11M', '16.699M']
spot of 11.11 with type <class 'str'>
['We', '3/2/16', '10.9', '12.508M', '16.308M']
spot of 10.9 with type <class 'str'>
['Tu', '3/1/16', '10.93', '17.28M', '16.84M']
spot of 10.93 with type <class 'str'>
['Mo', '2/29/16', '10.69', '17.442M', '16.749M']
spot of 10.69 with type <class 'str'>
['Fr', '2/26/16', '10.64', '22.768M', '16.721M']
spot of 10.64 with type <class 'str'>
['Th', '2/25/16', '10.34', '35.603M', '15.986M']
spot of 10.34 with type <class 'str'>
['We', '2/24/16', '10.82', '21.746M', '14.63M']
spot of 10.82 with type <class 'str'>
['Tu', '2/23/16', '10.31', '13.02M', '14.621M']
spot of 10.31 with type <class 'str'>
['Mo', '2/22/16', '10.68', '10.85M', '15.201M']
spot of 10.68 with type <class 'str'>
['Fr', '2/19/16', '10.32', '13.933M', '17.642M']
spot of 10.32 with type <class 'str'>
['Th', '2/18/16', '10.52', '18.759M', '17.609M']
spot of 10.52 with type <class 'str'>
['We', '2/17/16', '10.08', '11.99M', '17.01M']
spot of 10.08 with type <class 'str'>
['Tu', '2/16/16', '9.81', '12.067M', '16.872M']
spot of 9.81 with type <class 'str'>
['Fr', '2/12/16', '9.42', '9.665M', '17.038M']
spot of 9.42 with type <class 'str'>
['Th', '2/11/16', '9.02', '14.738M', '17.547M']
spot of 9.02 with type <class 'str'>
['We', '2/10/16', '9.28', '12.247M', '18.28M']
spot of 9.28 with type <class 'str'>
['Tu', '2/9/16', '9.19', '20.489M', '19.264M']
spot of 9.19 with type <class 'str'>
['Mo', '2/8/16', '9.37', '15.919M', '19.727M']
spot of 9.37 with type <class 'str'>
['Fr', '2/5/16', '9.91', '17.014M', '20.28M']
spot of 9.91 with type <class 'str'>
['Th', '2/4/16', '9.86', '11.745M', '21.085M']
spot of 9.86 with type <class 'str'>
['We', '2/3/16', '9.65', '15.264M', '22.291M']
spot of 9.65 with type <class 'str'>
['Tu', '2/2/16', '9.88', '21.615M', '22.382M']
spot of 9.88 with type <class 'str'>
['Mo', '2/1/16', '9.97', '21.712M', '22.075M']
spot of 9.97 with type <class 'str'>
['Fr', '1/29/16', '9.71', '47.468M', '21.789M']
spot of 9.71 with type <class 'str'>
['Th', '1/28/16', '9.48', '13.444M', '20.324M']
spot of 9.48 with type <class 'str'>
['We', '1/27/16', '9.62', '9.769M', '20.518M']
spot of 9.62 with type <class 'str'>
['Tu', '1/26/16', '9.64', '9.93M', '20.77M']
spot of 9.64 with type <class 'str'>
['Mo', '1/25/16', '9.49', '14.557M', '21.118M']
spot of 9.49 with type <class 'str'>
['Fr', '1/22/16', '9.8', '17.295M', '20.84M']
spot of 9.8 with type <class 'str'>
['Th', '1/21/16', '9.94', '25.739M', '20.246M']
spot of 9.94 with type <class 'str'>
['We', '1/20/16', '9.55', '27.005M', '19.174M']
spot of 9.55 with type <class 'str'>
['Tu', '1/19/16', '9.76', '27.43M', '17.911M']
spot of 9.76 with type <class 'str'>
['Fr', '1/15/16', '10.11', '24.212M', '16.391M']
spot of 10.11 with type <class 'str'>
['Th', '1/14/16', '10.62', '29.085M', '15.573M']
spot of 10.62 with type <class 'str'>
['We', '1/13/16', '10.58', '29.839M', '14.946M']
spot of 10.58 with type <class 'str'>
['Tu', '1/12/16', '10.82', '16.629M', '14.179M']
spot of 10.82 with type <class 'str'>
['Mo', '1/11/16', '10.65', '17.004M', '15.635M']
spot of 10.65 with type <class 'str'>
['Fr', '1/8/16', '10.58', '17.429M', '16.218M']
spot of 10.58 with type <class 'str'>
['Th', '1/7/16', '10.77', '25.488M', '16.272M']
spot of 10.77 with type <class 'str'>
['We', '1/6/16', '11.29', '16.353M', '15.824M']
spot of 11.29 with type <class 'str'>
['Tu', '1/5/16', '11.71', '13.559M', '16.027M']
spot of 11.71 with type <class 'str'>
['Mo', '1/4/16', '11.6', '15.144M', '16.515M']
spot of 11.6 with type <class 'str'>
['Th', '12/31/15', '11.84', '10.383M', '16.519M']
spot of 11.84 with type <class 'str'>
['We', '12/30/15', '11.84', '8.391M', '17.401M']
spot of 11.84 with type <class 'str'>
['Tu', '12/29/15', '11.86', '9.666M', '18.214M']
spot of 11.86 with type <class 'str'>
['Mo', '12/28/15', '11.63', '8.052M', '19.011M']
spot of 11.63 with type <class 'str'>
['Th', '12/24/15', '11.73', '4.627M', '19.928M']
spot of 11.73 with type <class 'str'>
['We', '12/23/15', '11.75', '11.954M', '22.777M']
spot of 11.75 with type <class 'str'>
['Tu', '12/22/15', '11.66', '19.678M', '25.465M']
spot of 11.66 with type <class 'str'>
['Mo', '12/21/15', '11.43', '18.336M', '25.339M']
spot of 11.43 with type <class 'str'>
['Fr', '12/18/15', '11.51', '38.462M', '26.041M']
spot of 11.51 with type <class 'str'>
['Th', '12/17/15', '11.9', '25.744M', '24.624M']
spot of 11.9 with type <class 'str'>
['We', '12/16/15', '12.26', '18.241M', '27.702M']
spot of 12.26 with type <class 'str'>
['Tu', '12/15/15', '12.21', '18.769M', '28.413M']
spot of 12.21 with type <class 'str'>
['Mo', '12/14/15', '12.16', '19.394M', '28.129M']
spot of 12.16 with type <class 'str'>
['Fr', '12/11/15', '12.21', '20.89M', '28.177M']
spot of 12.21 with type <class 'str'>
['Th', '12/10/15', '12.36', '15.2M', '27.808M']
spot of 12.36 with type <class 'str'>
['We', '12/9/15', '12.11', '23.603M', '27.65M']
spot of 12.11 with type <class 'str'>
['Tu', '12/8/15', '12.19', '20.596M', '27.061M']
spot of 12.19 with type <class 'str'>
['Mo', '12/7/15', '12.15', '21.616M', '26.535M']
spot of 12.15 with type <class 'str'>
['Fr', '12/4/15', '12.32', '21.815M', '26.26M']
spot of 12.32 with type <class 'str'>
['Th', '12/3/15', '12.15', '47.35M', '26.168M']
spot of 12.15 with type <class 'str'>
['We', '12/2/15', '11.95', '52.273M', '23.662M']
spot of 11.95 with type <class 'str'>
['Tu', '12/1/15', '12.74', '17.802M', '21.227M']
spot of 12.74 with type <class 'str'>
['Mo', '11/30/15', '12.54', '28.852M', '21.349M']
spot of 12.54 with type <class 'str'>
['Fr', '11/27/15', '12.61', '17.214M', '20.873M']
spot of 12.61 with type <class 'str'>
['We', '11/25/15', '12.64', '71.909M', '20.835M']
spot of 12.64 with type <class 'str'>
['Tu', '11/24/15', '14.64', '28.906M', '18.368M']
spot of 14.64 with type <class 'str'>
['Mo', '11/23/15', '14.23', '14.518M', '19.08M']
spot of 14.23 with type <class 'str'>
['Fr', '11/20/15', '14.06', '20.111M', '21.553M']
spot of 14.06 with type <class 'str'>
['Th', '11/19/15', '13.79', '15.355M', '21.973M']
spot of 13.79 with type <class 'str'>
['We', '11/18/15', '13.64', '12.829M', '21.615M']
spot of 13.64 with type <class 'str'>
['Tu', '11/17/15', '13.28', '14.773M', '21.316M']
spot of 13.28 with type <class 'str'>
['Mo', '11/16/15', '13.35', '12.705M', '21.343M']
spot of 13.35 with type <class 'str'>
['Fr', '11/13/15', '13.11', '17.494M', '21.163M']
spot of 13.11 with type <class 'str'>
['Th', '11/12/15', '13.31', '20.432M', '20.552M']
spot of 13.31 with type <class 'str'>
['We', '11/11/15', '13.92', '9.758M', '19.721M']
spot of 13.92 with type <class 'str'>
['Tu', '11/10/15', '14.12', '15.74M', '19.623M']
spot of 14.12 with type <class 'str'>
['Mo', '11/9/15', '13.87', '19.632M', '19.124M']
spot of 13.87 with type <class 'str'>
['Fr', '11/6/15', '14.01', '21.713M', '18.648M']
spot of 14.01 with type <class 'str'>
['Th', '11/5/15', '14.05', '16.652M', '18.004M']
spot of 14.05 with type <class 'str'>
['We', '11/4/15', '14.14', '34.908M', '17.682M']
spot of 14.14 with type <class 'str'>
['Tu', '11/3/15', '14.29', '39.579M', '15.928M']
spot of 14.29 with type <class 'str'>
['Mo', '11/2/15', '13.83', '51.621M', '13.877M']
spot of 13.83 with type <class 'str'>
['Fr', '10/30/15', '12.24', '26.399M', '11.002M']
spot of 12.24 with type <class 'str'>
['Th', '10/29/15', '12.4261', '9.992M', '10.83M']
spot of 12.4261 with type <class 'str'>
['We', '10/28/15', '12.7031', '8.337M', '11.501M']
spot of 12.7031 with type <class 'str'>
['Tu', '10/27/15', '12.4625', '15.179M', '12.09M']
spot of 12.4625 with type <class 'str'>
['Mo', '10/26/15', '12.7439', '10.013M', '12.483M']
spot of 12.7439 with type <class 'str'>
['Fr', '10/23/15', '13.1798', '8.325M', '12.875M']
spot of 13.1798 with type <class 'str'>
['Th', '10/22/15', '13.0617', '7.966M', '13.358M']
spot of 13.0617 with type <class 'str'>
['We', '10/21/15', '12.8166', '8.29M', '13.661M']
spot of 12.8166 with type <class 'str'>
['Tu', '10/20/15', '12.9664', '8.255M', '14.395M']
spot of 12.9664 with type <class 'str'>
['Mo', '10/19/15', '13.1571', '12.492M', '14.978M']
spot of 13.1571 with type <class 'str'>
['Fr', '10/16/15', '13.1026', '12.048M', '15.149M']
spot of 13.1026 with type <class 'str'>
['Th', '10/15/15', '13.0617', '11.824M', '15.193M']
spot of 13.0617 with type <class 'str'>
['We', '10/14/15', '13.3569', '8.607M', '15.329M']
spot of 13.3569 with type <class 'str'>
['Tu', '10/13/15', '13.2706', '8.8M', '15.498M']
spot of 13.2706 with type <class 'str'>
['Mo', '10/12/15', '13.3024', '8.505M', '17.041M']
spot of 13.3024 with type <class 'str'>
['Fr', '10/9/15', '13.3024', '23.811M', '17.541M']
spot of 13.3024 with type <class 'str'>
['Th', '10/8/15', '13.2479', '20.066M', '17.919M']
spot of 13.2479 with type <class 'str'>
['We', '10/7/15', '12.7167', '17.175M', '17.719M']
spot of 12.7167 with type <class 'str'>
['Tu', '10/6/15', '12.7122', '21.066M', '18.725M']
spot of 12.7122 with type <class 'str'>
['Mo', '10/5/15', '12.3399', '15.892M', '18.386M']
spot of 12.3399 with type <class 'str'>
['Fr', '10/2/15', '11.8359', '15.576M', '18.192M']
spot of 11.8359 with type <class 'str'>
['Th', '10/1/15', '11.509', '12.501M', '17.918M']
spot of 11.509 with type <class 'str'>
['We', '9/30/15', '11.6271', '19.305M', '17.773M']
spot of 11.6271 with type <class 'str'>
['Tu', '9/29/15', '11.1912', '17.002M', '17.267M']
spot of 11.1912 with type <class 'str'>
['Mo', '9/28/15', '11.1549', '15.064M', '16.819M']
spot of 11.1549 with type <class 'str'>
['Fr', '9/25/15', '11.3547', '12.694M', '16.806M']
spot of 11.3547 with type <class 'str'>
['Th', '9/24/15', '11.4682', '13.868M', '16.686M']
spot of 11.4682 with type <class 'str'>
['We', '9/23/15', '11.5726', '11.151M', '16.515M']
spot of 11.5726 with type <class 'str'>
['Tu', '9/22/15', '11.6453', '31.935M', '16.969M']
spot of 11.6453 with type <class 'str'>
['Mo', '9/21/15', '12.0039', '16.01M', '15.83M']
spot of 12.0039 with type <class 'str'>
['Fr', '9/18/15', '12.0493', '29.48M', '15.755M']
spot of 12.0493 with type <class 'str'>
['Th', '9/17/15', '12.5169', '17.07M', '14.971M']
spot of 12.5169 with type <class 'str'>
['We', '9/16/15', '12.9255', '32.261M', '15.355M']
spot of 12.9255 with type <class 'str'>
['Tu', '9/15/15', '12.3081', '15.982M', '14.776M']
spot of 12.3081 with type <class 'str'>
['Mo', '9/14/15', '12.2763', '12.986M', '16.063M']
spot of 12.2763 with type <class 'str'>
['Fr', '9/11/15', '12.3263', '11.46M', '17.69M']
spot of 12.3263 with type <class 'str'>
['Th', '9/10/15', '12.408', '10.331M', '18.033M']
spot of 12.408 with type <class 'str'>
['We', '9/9/15', '12.3762', '11.704M', '18.428M']
spot of 12.3762 with type <class 'str'>
['Tu', '9/8/15', '12.526', '10.281M', '18.365M']
spot of 12.526 with type <class 'str'>
['Fr', '9/4/15', '12.2536', '14.872M', '18.228M']
spot of 12.2536 with type <class 'str'>
['Th', '9/3/15', '12.7712', '10.893M', '17.743M']
spot of 12.7712 with type <class 'str'>
['We', '9/2/15', '12.7122', '11.307M', '17.584M']
spot of 12.7122 with type <class 'str'>
['Tu', '9/1/15', '12.6259', '17.967M', '17.717M']
spot of 12.6259 with type <class 'str'>
['Mo', '8/31/15', '12.7394', '14.841M', '17.144M']
spot of 12.7394 with type <class 'str'>
['Fr', '8/28/15', '12.7258', '14.89M', '16.814M']
spot of 12.7258 with type <class 'str'>
['Th', '8/27/15', '12.6168', '17.715M', '16.513M']
spot of 12.6168 with type <class 'str'>
['We', '8/26/15', '12.3036', '22.835M', '16.041M']
spot of 12.3036 with type <class 'str'>
['Tu', '8/25/15', '11.6634', '23.577M', '15.21M']
spot of 11.6634 with type <class 'str'>
['Mo', '8/24/15', '12.0766', '35.289M', '14.481M']
spot of 12.0766 with type <class 'str'>
['Fr', '8/21/15', '12.4715', '37.383M', '12.898M']
spot of 12.4715 with type <class 'str'>
['Th', '8/20/15', '12.4171', '16.614M', '11.201M']
spot of 12.4171 with type <class 'str'>
['We', '8/19/15', '12.5941', '16.25M', '10.564M']
spot of 12.5941 with type <class 'str'>
['Tu', '8/18/15', '12.8892', '10.757M', '10.052M']
spot of 12.8892 with type <class 'str'>
['Mo', '8/17/15', '12.9891', '8.225M', '9.87M']
spot of 12.9891 with type <class 'str'>
['Fr', '8/14/15', '13.0345', '7.596M', '9.987M']
spot of 13.0345 with type <class 'str'>
['Th', '8/13/15', '12.9165', '8.52M', '11.035M']
spot of 12.9165 with type <class 'str'>
['We', '8/12/15', '13.2116', '13.3M', '11.482M']
spot of 13.2116 with type <class 'str'>
['Tu', '8/11/15', '13.3115', '9.371M', '11.409M']
spot of 13.3115 with type <class 'str'>
['Mo', '8/10/15', '13.7291', '9.891M', '11.921M']
spot of 13.7291 with type <class 'str'>
['Fr', '8/7/15', '13.3523', '10.378M', '12.059M']
spot of 13.3523 with type <class 'str'>
['Th', '8/6/15', '13.6837', '10.627M', '12.19M']
spot of 13.6837 with type <class 'str'>
['We', '8/5/15', '13.7564', '10.368M', '12.195M']
spot of 13.7564 with type <class 'str'>
['Tu', '8/4/15', '13.5112', '12.653M', '12.296M']
spot of 13.5112 with type <class 'str'>
['Mo', '8/3/15', '13.6293', '11.539M', '12.033M']
spot of 13.6293 with type <class 'str'>
['Fr', '7/31/15', '13.8563', '11.926M', '11.712M']
spot of 13.8563 with type <class 'str'>
['Th', '7/30/15', '13.9017', '7.058M', '11.536M']
spot of 13.9017 with type <class 'str'>
['We', '7/29/15', '13.7564', '8.571M', '11.934M']
spot of 13.7564 with type <class 'str'>
['Tu', '7/28/15', '13.7428', '8.033M', '12.394M']
spot of 13.7428 with type <class 'str'>
['Mo', '7/27/15', '13.7337', '9.972M', '13.067M']
spot of 13.7337 with type <class 'str'>
['Fr', '7/24/15', '13.9879', '23.314M', '13.174M']
spot of 13.9879 with type <class 'str'>
['Th', '7/23/15', '14.1786', '15.227M', '12.667M']
spot of 14.1786 with type <class 'str'>
['We', '7/22/15', '13.9698', '12.213M', '12.875M']
spot of 13.9698 with type <class 'str'>
['Tu', '7/21/15', '13.9198', '17.045M', '13.351M']
spot of 13.9198 with type <class 'str'>
['Mo', '7/20/15', '13.8245', '11.964M', '13.315M']
spot of 13.8245 with type <class 'str'>
['Fr', '7/17/15', '13.7836', '12.333M', '13.873M']
spot of 13.7836 with type <class 'str'>
['Th', '7/16/15', '13.7791', '10.712M', '13.688M']
spot of 13.7791 with type <class 'str'>
['We', '7/15/15', '13.8472', '11.886M', '13.657M']
spot of 13.8472 with type <class 'str'>
['Tu', '7/14/15', '13.8517', '8.703M', '13.658M']
spot of 13.8517 with type <class 'str'>
['Mo', '7/13/15', '13.9561', '6.729M', '13.837M']
spot of 13.9561 with type <class 'str'>
['Fr', '7/10/15', '13.9153', '9.278M', '14.386M']
spot of 13.9153 with type <class 'str'>
['Th', '7/9/15', '13.7972', '13.03M', '14.785M']
spot of 13.7972 with type <class 'str'>
['We', '7/8/15', '13.8245', '15.466M', '14.65M']
spot of 13.8245 with type <class 'str'>
['Tu', '7/7/15', '13.9834', '18.131M', '14.486M']
spot of 13.9834 with type <class 'str'>
['Mo', '7/6/15', '13.879', '11.581M', '14.091M']
spot of 13.879 with type <class 'str'>
['Th', '7/2/15', '13.9334', '15.701M', '13.667M']
spot of 13.9334 with type <class 'str'>
['We', '7/1/15', '13.8563', '18.351M', '13.214M']
spot of 13.8563 with type <class 'str'>
['Tu', '6/30/15', '13.6247', '19.352M', '12.434M']
spot of 13.6247 with type <class 'str'>
['Mo', '6/29/15', '13.6066', '16.508M', '11.691M']
spot of 13.6066 with type <class 'str'>
['Fr', '6/26/15', '13.8608', '20.336M', '11.223M']
spot of 13.8608 with type <class 'str'>
['Th', '6/25/15', '14.1695', '9.562M', '10.676M']
spot of 14.1695 with type <class 'str'>
['We', '6/24/15', '14.3193', '10.243M', '10.898M']

spot of 14.3193 with type <class 'str'>
['Tu', '6/23/15', '14.3602', '11.898M', '10.919M']
spot of 14.3602 with type <class 'str'>
['Mo', '6/22/15', '14.392', '11.389M', '10.783M']
spot of 14.392 with type <class 'str'>
['Fr', '6/19/15', '14.4374', '14.965M', '10.64M']
spot of 14.4374 with type <class 'str'>
['Th', '6/18/15', '14.5645', '15.268M', '10.469M']
spot of 14.5645 with type <class 'str'>
['We', '6/17/15', '14.6235', '10.996M', '9.908M']
spot of 14.6235 with type <class 'str'>
['Tu', '6/16/15', '14.3693', '13.012M', '10.099M']
spot of 14.3693 with type <class 'str'>
['Mo', '6/15/15', '14.3965', '12.204M', '10.367M']
spot of 14.3965 with type <class 'str'>
['Fr', '6/12/15', '14.7143', '5.225M', '11.461M']
spot of 14.7143 with type <class 'str'>
['Th', '6/11/15', '14.7643', '8.897M', '12.008M']
spot of 14.7643 with type <class 'str'>
['We', '6/10/15', '14.9413', '6.656M', '12.215M']
spot of 14.9413 with type <class 'str'>
['Tu', '6/9/15', '14.7915', '8.203M', '12.283M']
spot of 14.7915 with type <class 'str'>
['Mo', '6/8/15', '14.8415', '9.491M', '12.32M']
spot of 14.8415 with type <class 'str'>
['Fr', '6/5/15', '14.9459', '12.133M', '12.336M']
spot of 14.9459 with type <class 'str'>
['Th', '6/4/15', '15.1184', '12.886M', '11.934M']
spot of 15.1184 with type <class 'str'>
['We', '6/3/15', '15.418', '10.563M', '11.493M']
spot of 15.418 with type <class 'str'>
['Tu', '6/2/15', '15.3817', '9.851M', '11.39M']
spot of 15.3817 with type <class 'str'>
['Mo', '6/1/15', '15.3272', '9.252M', '11.398M']
spot of 15.3272 with type <class 'str'>
['Fr', '5/29/15', '15.1638', '12.397M', '11.285M']
spot of 15.1638 with type <class 'str'>
['Th', '5/28/15', '15.2773', '6.86M', '10.976M']
spot of 15.2773 with type <class 'str'>
['We', '5/27/15', '15.3363', '13.849M', '11.082M']
spot of 15.3363 with type <class 'str'>
['Tu', '5/26/15', '15.1547', '17.038M', '10.741M']
spot of 15.1547 with type <class 'str'>
['Fr', '5/22/15', '15.7812', '28.605M', '9.944M']
spot of 15.7812 with type <class 'str'>
['Th', '5/21/15', '15.359', '13.435M', '8.81M']
spot of 15.359 with type <class 'str'>
['We', '5/20/15', '15.014', '12.001M', '8.616M']
spot of 15.014 with type <class 'str'>
['Tu', '5/19/15', '15.1638', '7.675M', '8.392M']
spot of 15.1638 with type <class 'str'>
['Mo', '5/18/15', '15.0957', '8.766M', '8.476M']
spot of 15.0957 with type <class 'str'>
['Fr', '5/15/15', '15.2546', '9.726M', '8.452M']
spot of 15.2546 with type <class 'str'>
['Th', '5/14/15', '15.3', '6.112M', '8.312M']
spot of 15.3 with type <class 'str'>
['We', '5/13/15', '15.1184', '6.256M', '8.479M']
spot of 15.1184 with type <class 'str'>
['Tu', '5/12/15', '14.9459', '9.029M', '8.666M']
spot of 14.9459 with type <class 'str'>
['Mo', '5/11/15', '15.3', '9.97M', '8.688M']
spot of 15.3 with type <class 'str'>
['Fr', '5/8/15', '15.1683', '7.557M', '8.737M']
spot of 15.1683 with type <class 'str'>
['Th', '5/7/15', '14.9005', '7.755M', '8.944M']
spot of 14.9005 with type <class 'str'>
['We', '5/6/15', '14.7552', '8.461M', '8.931M']
spot of 14.7552 with type <class 'str'>
['Tu', '5/5/15', '15.0548', '8.726M', '9.114M']
spot of 15.0548 with type <class 'str'>
['Mo', '5/4/15', '15.2773', '5.093M', '9.287M']
spot of 15.2773 with type <class 'str'>
['Fr', '5/1/15', '15.3454', '11.589M', '10.261M']
spot of 15.3454 with type <class 'str'>
['Th', '4/30/15', '14.9686', '10.519M', '10.523M']
spot of 14.9686 with type <class 'str'>
['We', '4/29/15', '15.1275', '8.642M', '10.325M']
spot of 15.1275 with type <class 'str'>
['Tu', '4/28/15', '15.0912', '8.936M', '10.526M']
spot of 15.0912 with type <class 'str'>
['Mo', '4/27/15', '15.014', '8.411M', '10.494M']
spot of 15.014 with type <class 'str'>
['Fr', '4/24/15', '15.1002', '7.621M', '10.548M']
spot of 15.1002 with type <class 'str'>
['Th', '4/23/15', '15.1547', '8.613M', '10.609M']
spot of 15.1547 with type <class 'str'>
['We', '4/22/15', '15.2137', '9.069M', '11.07M']
spot of 15.2137 with type <class 'str'>
['Tu', '4/21/15', '15.0775', '9.364M', '11.38M']
spot of 15.0775 with type <class 'str'>
['Mo', '4/20/15', '15.1683', '10.698M', '11.497M']
spot of 15.1683 with type <class 'str'>
['Fr', '4/17/15', '14.7688', '10.664M', '12.093M']
spot of 14.7688 with type <class 'str'>
['Th', '4/16/15', '14.8959', '7.56M', '12.296M']
spot of 14.8959 with type <class 'str'>
['We', '4/15/15', '15.0004', '11.202M', '12.547M']
spot of 15.0004 with type <class 'str'>
['Tu', '4/14/15', '14.7643', '11.325M', '12.54M']
spot of 14.7643 with type <class 'str'>
['Mo', '4/13/15', '14.846', '19.703M', '12.633M']
spot of 14.846 with type <class 'str'>
['Fr', '4/10/15', '14.5781', '15.52M', '12.996M']
spot of 14.5781 with type <class 'str'>
['Th', '4/9/15', '14.3239', '7.544M', '12.747M']
spot of 14.3239 with type <class 'str'>
['We', '4/8/15', '14.3103', '11.665M', '13.17M']
spot of 14.3103 with type <class 'str'>
['Tu', '4/7/15', '14.2649', '8.445M', '13.086M']
spot of 14.2649 with type <class 'str'>
['Mo', '4/6/15', '14.451', '9.231M', '13.356M']
spot of 14.451 with type <class 'str'>
['Th', '4/2/15', '14.2558', '8.528M', '13.731M']
spot of 14.2558 with type <class 'str'>
['We', '4/1/15', '14.2058', '15.528M', '14.912M']
spot of 14.2058 with type <class 'str'>
['Tu', '3/31/15', '14.1468', '13.722M', '14.795M']
spot of 14.1468 with type <class 'str'>
['Mo', '3/30/15', '14.333', '11.119M', '14.989M']
spot of 14.333 with type <class 'str'>
['Fr', '3/27/15', '14.2966', '19.646M', '15.19M']
spot of 14.2966 with type <class 'str'>
['Th', '3/26/15', '14.5327', '13.709M', '15.041M']
spot of 14.5327 with type <class 'str'>
['We', '3/25/15', '14.619', '11.313M', '15.342M']
spot of 14.619 with type <class 'str'>
['Tu', '3/24/15', '15.1229', '11.106M', '15.632M']
spot of 15.1229 with type <class 'str'>
['Mo', '3/23/15', '15.1865', '12.724M', '15.804M']
spot of 15.1865 with type <class 'str'>
['Fr', '3/20/15', '15.1093', '25.141M', '16.003M']
spot of 15.1093 with type <class 'str'>
['Th', '3/19/15', '14.9096', '11.781M', '16.297M']
spot of 14.9096 with type <class 'str'>
['We', '3/18/15', '14.9958', '13.889M', '17.68M']
spot of 14.9958 with type <class 'str'>
['Tu', '3/17/15', '14.7234', '10.408M', '20.953M']
spot of 14.7234 with type <class 'str'>
['Mo', '3/16/15', '14.7007', '12.499M', '21.346M']
spot of 14.7007 with type <class 'str'>
['Fr', '3/13/15', '14.7234', '14.845M', '21.176M']
spot of 14.7234 with type <class 'str'>
['Th', '3/12/15', '14.8551', '26.255M', '20.687M']
spot of 14.8551 with type <class 'str'>
['We', '3/11/15', '14.8051', '13.763M', '19.319M']
spot of 14.8051 with type <class 'str'>
['Tu', '3/10/15', '14.8324', '16.634M', '18.951M']
spot of 14.8324 with type <class 'str'>
['Mo', '3/9/15', '14.9595', '14.138M', '18.347M']
spot of 14.9595 with type <class 'str'>
['Fr', '3/6/15', '15.0639', '17.413M', '17.847M']
spot of 15.0639 with type <class 'str'>
['Th', '3/5/15', '15.4362', '18.225M', '17.299M']
spot of 15.4362 with type <class 'str'>
['We', '3/4/15', '15.5225', '15.653M', '16.614M']
spot of 15.5225 with type <class 'str'>
['Tu', '3/3/15', '15.695', '13.686M', '16.089M']
spot of 15.695 with type <class 'str'>
['Mo', '3/2/15', '15.8539', '15.72M', '15.708M']
spot of 15.8539 with type <class 'str'>
['Fr', '2/27/15', '15.8176', '29.539M', '15.219M']
spot of 15.8176 with type <class 'str'>
['Th', '2/26/15', '15.4407', '32.531M', '13.67M']
spot of 15.4407 with type <class 'str'>
['We', '2/25/15', '15.7404', '62.988M', '12.2M']
spot of 15.7404 with type <class 'str'>
['Tu', '2/24/15', '17.4747', '16.301M', '8.975M']
spot of 17.4747 with type <class 'str'>
['Mo', '2/23/15', '17.3385', '9.948M', '8.919M']
spot of 17.3385 with type <class 'str'>
['Fr', '2/20/15', '17.4293', '7.519M', '9.422M']
spot of 17.4293 with type <class 'str'>
['Th', '2/19/15', '17.4247', '5.732M', '9.598M']
spot of 17.4247 with type <class 'str'>
['We', '2/18/15', '17.3203', '8.247M', '9.926M']
spot of 17.3203 with type <class 'str'>
['Tu', '2/17/15', '17.4928', '7.57M', '10.523M']
spot of 17.4928 with type <class 'str'>
['Fr', '2/13/15', '17.5065', '6.631M', '10.77M']
spot of 17.5065 with type <class 'str'>
['Th', '2/12/15', '17.4202', '9.194M', '10.804M']
spot of 17.4202 with type <class 'str'>
['We', '2/11/15', '17.3339', '7.954M', '10.97M']
spot of 17.3339 with type <class 'str'>
['Tu', '2/10/15', '17.2023', '7.782M', '10.999M']
spot of 17.2023 with type <class 'str'>
['Mo', '2/9/15', '17.0888', '7.968M', '11.164M']
spot of 17.0888 with type <class 'str'>
['Fr', '2/6/15', '17.2295', '8.382M', '11.497M']
spot of 17.2295 with type <class 'str'>
['Th', '2/5/15', '17.2295', '6.313M', '11.857M']
spot of 17.2295 with type <class 'str'>
['We', '2/4/15', '17.2068', '10.48M', '12.128M']
spot of 17.2068 with type <class 'str'>
['Tu', '2/3/15', '17.1478', '14.61M', '12.199M']
spot of 17.1478 with type <class 'str'>
['Mo', '2/2/15', '16.5576', '15.46M', '11.822M']
spot of 16.5576 with type <class 'str'>
['Fr', '1/30/15', '16.4032', '17.497M', '11.438M']
spot of 16.4032 with type <class 'str'>
['Th', '1/29/15', '17.1342', '10.152M', '10.927M']
spot of 17.1342 with type <class 'str'>
['We', '1/28/15', '16.8709', '10.656M', '10.951M']
spot of 16.8709 with type <class 'str'>
['Tu', '1/27/15', '16.9617', '17.203M', '11.04M']
spot of 16.9617 with type <class 'str'>
['Mo', '1/26/15', '17.6336', '11.266M', '10.615M']
spot of 17.6336 with type <class 'str'>
['Fr', '1/23/15', '18.1966', '7.142M', '10.518M']
spot of 18.1966 with type <class 'str'>
['Th', '1/22/15', '18.1875', '11.682M', '10.523M']
spot of 18.1875 with type <class 'str'>
['We', '1/21/15', '17.511', '8.391M', '10.128M']
spot of 17.511 with type <class 'str'>
['Tu', '1/20/15', '17.5337', '10.251M', '10.062M']
spot of 17.5337 with type <class 'str'>
['Fr', '1/16/15', '17.4066', '12.977M', '9.705M']
spot of 17.4066 with type <class 'str'>
['Th', '1/15/15', '17.3385', '13.778M', '9.209M']
spot of 17.3385 with type <class 'str'>
['We', '1/14/15', '17.9151', '10.377M', '8.934M']
spot of 17.9151 with type <class 'str'>
['Tu', '1/13/15', '18.074', '11.539M', '8.964M']
spot of 18.074 with type <class 'str'>
['Mo', '1/12/15', '18.1239', '8.957M', '9.435M']
spot of 18.1239 with type <class 'str'>
['Fr', '1/9/15', '18.4644', '9.704M', '9.67M']
spot of 18.4644 with type <class 'str'>
['Th', '1/8/15', '18.469', '9.83M', '9.792M']
spot of 18.469 with type <class 'str'>
['We', '1/7/15', '18.0377', '10.509M', '9.897M']
spot of 18.0377 with type <class 'str'>
['Tu', '1/6/15', '17.8288', '11.989M', '10.026M']
spot of 17.8288 with type <class 'str'>
['Mo', '1/5/15', '17.965', '10.833M', '10.116M']
spot of 17.965 with type <class 'str'>
['Fr', '1/2/15', '18.2692', '9.812M', '10.216M']
spot of 18.2692 with type <class 'str'>
['We', '12/31/14', '18.2193', '7.212M', '10.479M']
spot of 18.2193 with type <class 'str'>
['Tu', '12/30/14', '18.4871', '5.76M', '10.701M']
spot of 18.4871 with type <class 'str'>
['Mo', '12/29/14', '18.4826', '7.399M', '11.122M']
spot of 18.4826 with type <class 'str'>
['Fr', '12/26/14', '18.478', '4.895M', '11.227M']
spot of 18.478 with type <class 'str'>
['We', '12/24/14', '18.4054', '5.536M', '11.4M']
spot of 18.4054 with type <class 'str'>
['Tu', '12/23/14', '18.3237', '9.665M', '11.769M']
spot of 18.3237 with type <class 'str'>
['Mo', '12/22/14', '18.0694', '10.822M', '11.77M']
spot of 18.0694 with type <class 'str'>
['Fr', '12/19/14', '18.1148', '18.597M', '11.988M']
spot of 18.1148 with type <class 'str'>
['Th', '12/18/14', '18.0785', '12.489M', '11.262M']
spot of 18.0785 with type <class 'str'>
['We', '12/17/14', '17.5473', '11.533M', '12.152M']
spot of 17.5473 with type <class 'str'>
['Tu', '12/16/14', '16.9435', '11.411M', '12.655M']
spot of 16.9435 with type <class 'str'>
['Mo', '12/15/14', '17.0752', '12.441M', '12.619M']
spot of 17.0752 with type <class 'str'>
['Fr', '12/12/14', '17.2568', '13.327M', '12.661M']
spot of 17.2568 with type <class 'str'>
['Th', '12/11/14', '17.4656', '12.336M', '12.263M']
spot of 17.4656 with type <class 'str'>
['We', '12/10/14', '16.9617', '13.758M', '11.808M']
spot of 16.9617 with type <class 'str'>
['Tu', '12/9/14', '17.343', '10.551M', '11.29M']
spot of 17.343 with type <class 'str'>
['Mo', '12/8/14', '17.4611', '12.074M', '11.146M']
spot of 17.4611 with type <class 'str'>
['Fr', '12/5/14', '17.9559', '8.969M', '10.764M']
spot of 17.9559 with type <class 'str'>
['Th', '12/4/14', '17.738', '7.487M', '10.678M']
spot of 17.738 with type <class 'str'>
['We', '12/3/14', '17.7289', '11.076M', '10.599M']
spot of 17.7289 with type <class 'str'>
['Tu', '12/2/14', '17.6835', '9.672M', '10.337M']
spot of 17.6835 with type <class 'str'>
['Mo', '12/1/14', '17.5065', '14.106M', '10.331M']
spot of 17.5065 with type <class 'str'>
['Fr', '11/28/14', '17.7335', '7.702M', '9.99M']
spot of 17.7335 with type <class 'str'>
['We', '11/26/14', '17.7789', '25.834M', '9.943M']
spot of 17.7789 with type <class 'str'>
['Tu', '11/25/14', '17.0842', '19.081M', '8.717M']
spot of 17.0842 with type <class 'str'>
['Mo', '11/24/14', '17.0252', '10.877M', '8.126M']
spot of 17.0252 with type <class 'str'>
['Fr', '11/21/14', '16.9163', '13.064M', '8.234M']
spot of 16.9163 with type <class 'str'>
['Th', '11/20/14', '16.7664', '7.351M', '8.699M']
spot of 16.7664 with type <class 'str'>
['We', '11/19/14', '16.8799', '5.52M', '9.151M']
spot of 16.8799 with type <class 'str'>
['Tu', '11/18/14', '17.0252', '5.985M', '9.714M']
spot of 17.0252 with type <class 'str'>
['Mo', '11/17/14', '16.9844', '8.397M', '10.149M']
spot of 16.9844 with type <class 'str'>
['Fr', '11/14/14', '16.7619', '6.336M', '10.262M']
spot of 16.7619 with type <class 'str'>
['Th', '11/13/14', '16.5077', '7.679M', '10.684M']
spot of 16.5077 with type <class 'str'>
['We', '11/12/14', '16.5758', '6.308M', '10.842M']
spot of 16.5758 with type <class 'str'>
['Tu', '11/11/14', '16.6893', '7.145M', '11.314M']
spot of 16.6893 with type <class 'str'>
['Mo', '11/10/14', '16.7528', '9.578M', '11.641M']
spot of 16.7528 with type <class 'str'>
['Fr', '11/7/14', '16.5167', '8.997M', '11.95M']
spot of 16.5167 with type <class 'str'>
['Th', '11/6/14', '16.4123', '6.993M', '12.38M']
spot of 16.4123 with type <class 'str'>
['We', '11/5/14', '16.4259', '7.441M', '13.475M']
spot of 16.4259 with type <class 'str'>
['Tu', '11/4/14', '16.2988', '10.211M', '14.307M']
spot of 16.2988 with type <class 'str'>
['Mo', '11/3/14', '16.2807', '12.497M', '14.498M']
spot of 16.2807 with type <class 'str'>
['Fr', '10/31/14', '16.2897', '20.048M', '15M']
spot of 16.2897 with type <class 'str'>
['Th', '10/30/14', '16.0355', '14.135M', '14.622M']
spot of 16.0355 with type <class 'str'>
['We', '10/29/14', '16.0627', '13.956M', '14.613M']
spot of 16.0627 with type <class 'str'>
['Tu', '10/28/14', '16.1354', '12.516M', '14.823M']
spot of 16.1354 with type <class 'str'>
['Mo', '10/27/14', '16.0264', '10.092M', '15.506M']
spot of 16.0264 with type <class 'str'>
['Fr', '10/24/14', '15.8584', '12.67M', '18.549M']
spot of 15.8584 with type <class 'str'>
['Th', '10/23/14', '15.863', '10.047M', '18.322M']
spot of 15.863 with type <class 'str'>
['We', '10/22/14', '15.6587', '13.381M', '18.28M']
spot of 15.6587 with type <class 'str'>
['Tu', '10/21/14', '15.7722', '12.05M', '18.29M']
spot of 15.7722 with type <class 'str'>
['Mo', '10/20/14', '15.3545', '14.209M', '18.203M']
spot of 15.3545 with type <class 'str'>
['Fr', '10/17/14', '15.5088', '15.444M', '17.866M']
spot of 15.5088 with type <class 'str'>
['Th', '10/16/14', '15.4362', '23.422M', '17.485M']
spot of 15.4362 with type <class 'str'>
['We', '10/15/14', '14.8914', '19.923M', '16.479M']
spot of 14.8914 with type <class 'str'>
['Tu', '10/14/14', '14.6371', '13.08M', '15.932M']
spot of 14.6371 with type <class 'str'>
['Mo', '10/13/14', '14.8415', '20.027M', '15.789M']
spot of 14.8415 with type <class 'str'>
['Fr', '10/10/14', '15.2092', '14.383M', '14.902M']
spot of 15.2092 with type <class 'str'>
['Th', '10/9/14', '15.5815', '13.987M', '14.726M']
spot of 15.5815 with type <class 'str'>
['We', '10/8/14', '16.3079', '17.113M', '14.316M']
spot of 16.3079 with type <class 'str'>
['Tu', '10/7/14', '15.9901', '22.755M', '13.758M']
spot of 15.9901 with type <class 'str'>
['Mo', '10/6/14', '16.7392', '55.749M', '12.751M']
spot of 16.7392 with type <class 'str'>
['Fr', '10/3/14', '15.981', '9.258M', '9.519M']
spot of 15.981 with type <class 'str'>
['Th', '10/2/14', '15.6677', '9.425M', '9.411M']
spot of 15.6677 with type <class 'str'>
['We', '10/1/14', '15.6859', '13.529M', '9.318M']
spot of 15.6859 with type <class 'str'>
['Tu', '9/30/14', '16.1036', '10.739M', '8.94M']
spot of 16.1036 with type <class 'str'>
['Mo', '9/29/14', '15.8766', '9.155M', '8.911M']
spot of 15.8766 with type <class 'str'>
['Fr', '9/26/14', '16.0582', '9.727M', '8.792M']
spot of 16.0582 with type <class 'str'>
['Th', '9/25/14', '16.0128', '8.334M', '8.894M']
spot of 16.0128 with type <class 'str'>
['We', '9/24/14', '16.3215', '11.725M', '8.914M']
spot of 16.3215 with type <class 'str'>
['Tu', '9/23/14', '16.2489', '10.926M', '8.59M']
spot of 16.2489 with type <class 'str'>
['Mo', '9/22/14', '16.5576', '6.723M', '8.343M']
spot of 16.5576 with type <class 'str'>
['Fr', '9/19/14', '16.7029', '11.747M', '8.309M']
spot of 16.7029 with type <class 'str'>
['Th', '9/18/14', '16.8028', '7.841M', '7.99M']
spot of 16.8028 with type <class 'str'>
['We', '9/17/14', '16.6484', '8.73M', '8.115M']
spot of 16.6484 with type <class 'str'>
['Tu', '9/16/14', '16.4623', '7.657M', '8.462M']
spot of 16.4623 with type <class 'str'>
['Mo', '9/15/14', '16.4577', '7.274M', '8.681M']
spot of 16.4577 with type <class 'str'>
['Fr', '9/12/14', '16.5985', '7.634M', '9.156M']
spot of 16.5985 with type <class 'str'>
['Th', '9/11/14', '16.6893', '8.035M', '11.282M']
spot of 16.6893 with type <class 'str'>
['We', '9/10/14', '16.8118', '7.858M', '11.997M']
spot of 16.8118 with type <class 'str'>
['Tu', '9/9/14', '16.7029', '10.295M', '12.059M']
spot of 16.7029 with type <class 'str'>
['Mo', '9/8/14', '16.9253', '7.367M', '12.012M']

spot of 16.9253 with type <class 'str'>
['Fr', '9/5/14', '17.0615', '11.266M', '12.288M']
spot of 17.0615 with type <class 'str'>
['Th', '9/4/14', '17.0979', '8.635M', '12.192M']
spot of 17.0979 with type <class 'str'>
['We', '9/3/14', '17.284', '6.855M', '12.069M']
spot of 17.284 with type <class 'str'>
['Tu', '9/2/14', '17.2749', '7.225M', '11.935M']
spot of 17.2749 with type <class 'str'>
['Fr', '8/29/14', '17.2522', '6.212M', '11.851M']
spot of 17.2522 with type <class 'str'>
['Th', '8/28/14', '17.2477', '6.972M', '11.814M']
spot of 17.2477 with type <class 'str'>
['We', '8/27/14', '17.3249', '9.717M', '11.779M']
spot of 17.3249 with type <class 'str'>
['Tu', '8/26/14', '17.175', '13.922M', '11.539M']
spot of 17.175 with type <class 'str'>
['Mo', '8/25/14', '16.8663', '10.956M', '10.987M']
spot of 16.8663 with type <class 'str'>
['Fr', '8/22/14', '16.7256', '14.399M', '10.689M']
spot of 16.7256 with type <class 'str'>
['Th', '8/21/14', '16.7982', '39.516M', '10.52M']
spot of 16.7982 with type <class 'str'>
['We', '8/20/14', '15.9447', '18.762M', '8.6M']
spot of 15.9447 with type <class 'str'>
['Tu', '8/19/14', '16.1081', '8.787M', '7.997M']
spot of 16.1081 with type <class 'str'>
['Mo', '8/18/14', '16.0446', '9.583M', '8.226M']
spot of 16.0446 with type <class 'str'>
['Fr', '8/15/14', '15.922', '11.512M', '8.039M']
spot of 15.922 with type <class 'str'>
['Th', '8/14/14', '16.1581', '9.824M', '7.82M']
spot of 16.1581 with type <class 'str'>
['We', '8/13/14', '16.0264', '6.787M', '7.67M']
spot of 16.0264 with type <class 'str'>
['Tu', '8/12/14', '15.9447', '4.845M', '7.646M']
spot of 15.9447 with type <class 'str'>
['Mo', '8/11/14', '15.981', '5.976M', '7.868M']
spot of 15.981 with type <class 'str'>
['Fr', '8/8/14', '15.9674', '5.649M', '7.956M']
spot of 15.9674 with type <class 'str'>
['Th', '8/7/14', '15.8085', '6.448M', '8.271M']
spot of 15.8085 with type <class 'str'>
['We', '8/6/14', '15.9084', '6.112M', '8.75M']
spot of 15.9084 with type <class 'str'>
['Tu', '8/5/14', '15.922', '5.641M', '9.627M']
spot of 15.922 with type <class 'str'>
['Mo', '8/4/14', '16.04', '6.488M', '9.765M']
spot of 16.04 with type <class 'str'>
['Fr', '8/1/14', '15.9765', '11.872M', '10.058M']
spot of 15.9765 with type <class 'str'>
['Th', '7/31/14', '16.1672', '10.71M', '9.697M']
spot of 16.1672 with type <class 'str'>
['We', '7/30/14', '16.3942', '9.724M', '9.558M']
spot of 16.3942 with type <class 'str'>
['Tu', '7/29/14', '16.317', '12.213M', '9.289M']
spot of 16.317 with type <class 'str'>
['Mo', '7/28/14', '16.1626', '6.787M', '8.953M']
spot of 16.1626 with type <class 'str'>
['Fr', '7/25/14', '16.0854', '8.216M', '8.961M']
spot of 16.0854 with type <class 'str'>
['Th', '7/24/14', '15.9084', '7.585M', '8.738M']
spot of 15.9084 with type <class 'str'>
['We', '7/23/14', '15.8811', '6.426M', '8.829M']
spot of 15.8811 with type <class 'str'>
['Tu', '7/22/14', '15.9583', '8.168M', '8.977M']
spot of 15.9583 with type <class 'str'>
['Mo', '7/21/14', '15.6723', '7.301M', '8.905M']
spot of 15.6723 with type <class 'str'>
['Fr', '7/18/14', '15.8039', '10.38M', '9.026M']
spot of 15.8039 with type <class 'str'>
['Th', '7/17/14', '15.6314', '13.63M', '8.772M']
spot of 15.6314 with type <class 'str'>
['We', '7/16/14', '15.8085', '19.259M', '8.539M']
spot of 15.8085 with type <class 'str'>
['Tu', '7/15/14', '15.5043', '7.718M', '7.914M']
spot of 15.5043 with type <class 'str'>
['Mo', '7/14/14', '15.5043', '10.878M', '7.946M']
spot of 15.5043 with type <class 'str'>
['Fr', '7/11/14', '15.4226', '6.459M', '7.953M']
spot of 15.4226 with type <class 'str'>
['Th', '7/10/14', '15.3681', '8.63M', '7.92M']
spot of 15.3681 with type <class 'str'>
['We', '7/9/14', '15.2773', '5.683M', '7.769M']
spot of 15.2773 with type <class 'str'>
['Tu', '7/8/14', '15.2092', '7.18M', '7.853M']
spot of 15.2092 with type <class 'str'>
['Mo', '7/7/14', '15.3772', '6.907M', '8.042M']
spot of 15.3772 with type <class 'str'>
['Th', '7/3/14', '15.4362', '4.861M', '9.061M']
spot of 15.4362 with type <class 'str'>
['We', '7/2/14', '15.3817', '8.961M', '9.575M']
spot of 15.3817 with type <class 'str'>
['Tu', '7/1/14', '15.5179', '8.635M', '9.358M']
spot of 15.5179 with type <class 'str'>
['Mo', '6/30/14', '15.2909', '7.092M', '9.096M']
spot of 15.2909 with type <class 'str'>
['Fr', '6/27/14', '15.3953', '9.116M', '9.075M']
spot of 15.3953 with type <class 'str'>
['Th', '6/26/14', '15.3953', '6.578M', '8.866M']
spot of 15.3953 with type <class 'str'>
['We', '6/25/14', '15.2501', '10.122M', '8.843M']
spot of 15.2501 with type <class 'str'>
['Tu', '6/24/14', '15.4135', '9.886M', '8.546M']
spot of 15.4135 with type <class 'str'>
['Mo', '6/23/14', '15.6723', '8.21M', '8.425M']
spot of 15.6723 with type <class 'str'>
['Fr', '6/20/14', '15.5361', '10.981M', '8.558M']
spot of 15.5361 with type <class 'str'>
['Th', '6/19/14', '15.6541', '5.966M', '8.655M']
spot of 15.6541 with type <class 'str'>
['We', '6/18/14', '15.7585', '6.353M', '8.914M']
spot of 15.7585 with type <class 'str'>
['Tu', '6/17/14', '15.8493', '6.945M', '9.124M']
spot of 15.8493 with type <class 'str'>
['Mo', '6/16/14', '15.8448', '10.025M', '10.058M']
spot of 15.8448 with type <class 'str'>
['Fr', '6/13/14', '15.9628', '22.186M', '12.107M']
spot of 15.9628 with type <class 'str'>
['Th', '6/12/14', '15.1593', '12.563M', '12.792M']
spot of 15.1593 with type <class 'str'>
['We', '6/11/14', '15.0957', '5.715M', '12.638M']
spot of 15.0957 with type <class 'str'>
['Tu', '6/10/14', '15.2591', '4.697M', '12.842M']
spot of 15.2591 with type <class 'str'>
['Mo', '6/9/14', '15.3182', '6.783M', '13.205M']
spot of 15.3182 with type <class 'str'>
['Fr', '6/6/14', '15.3636', '5.985M', '13.288M']
spot of 15.3636 with type <class 'str'>
['Th', '6/5/14', '15.3772', '6.225M', '13.37M']
spot of 15.3772 with type <class 'str'>
['We', '6/4/14', '15.3272', '5.664M', '13.408M']
spot of 15.3272 with type <class 'str'>
['Tu', '6/3/14', '15.2955', '8.078M', '13.52M']
spot of 15.2955 with type <class 'str'>
['Mo', '6/2/14', '15.1774', '10.206M', '13.38M']
spot of 15.1774 with type <class 'str'>
['Fr', '5/30/14', '15.2092', '12.427M', '13.073M']
spot of 15.2092 with type <class 'str'>
['Th', '5/29/14', '15.2728', '9.858M', '12.691M']
spot of 15.2728 with type <class 'str'>
['We', '5/28/14', '15.1411', '9.503M', '12.598M']
spot of 15.1411 with type <class 'str'>
['Tu', '5/27/14', '15.0276', '20.949M', '12.434M']
spot of 15.0276 with type <class 'str'>
['Fr', '5/23/14', '15.3091', '40.76M', '11.506M']
spot of 15.3091 with type <class 'str'>
['Th', '5/22/14', '14.4283', '32.459M', '9.217M']
spot of 14.4283 with type <class 'str'>
['We', '5/21/14', '14.7643', '10.264M', '7.65M']
spot of 14.7643 with type <class 'str'>
['Tu', '5/20/14', '14.8914', '8.766M', '7.722M']
spot of 14.8914 with type <class 'str'>
['Mo', '5/19/14', '15.0321', '10.141M', '7.955M']
spot of 15.0321 with type <class 'str'>
['Fr', '5/16/14', '14.7643', '8.031M', '7.987M']
spot of 14.7643 with type <class 'str'>
['Th', '5/15/14', '14.7143', '7.216M', '8.059M']
spot of 14.7143 with type <class 'str'>
['We', '5/14/14', '14.9686', '6.792M', '8.354M']
spot of 14.9686 with type <class 'str'>
['Tu', '5/13/14', '15.1093', '7.346M', '8.487M']
spot of 15.1093 with type <class 'str'>
['Mo', '5/12/14', '14.9005', '5.983M', '8.9M']
spot of 14.9005 with type <class 'str'>
['Fr', '5/9/14', '14.6916', '5.603M', '9.52M']
spot of 14.6916 with type <class 'str'>
['Th', '5/8/14', '14.6326', '6.69M', '10.562M']
spot of 14.6326 with type <class 'str'>
['We', '5/7/14', '14.6735', '8.461M', '10.886M']
spot of 14.6735 with type <class 'str'>
['Tu', '5/6/14', '14.5872', '7.052M', '11.2M']
spot of 14.5872 with type <class 'str'>
['Mo', '5/5/14', '14.7552', '7.027M', '11.653M']
spot of 14.7552 with type <class 'str'>
['Fr', '5/2/14', '14.7507', '6.419M', '12.434M']
spot of 14.7507 with type <class 'str'>
['Th', '5/1/14', '14.8188', '8.957M', '13.714M']
spot of 14.8188 with type <class 'str'>
['We', '4/30/14', '15.0094', '11.339M', '13.956M']
spot of 15.0094 with type <class 'str'>
['Tu', '4/29/14', '14.964', '12.262M', '14.107M']
spot of 14.964 with type <class 'str'>
['Mo', '4/28/14', '14.6144', '10.632M', '14.102M']
spot of 14.6144 with type <class 'str'>
['Fr', '4/25/14', '14.3375', '9.105M', '14.305M']
spot of 14.3375 with type <class 'str'>
['Th', '4/24/14', '14.5282', '11.636M', '14.73M']
spot of 14.5282 with type <class 'str'>
['We', '4/23/14', '14.4101', '8.791M', '14.9M']
spot of 14.4101 with type <class 'str'>
['Tu', '4/22/14', '14.4238', '13.541M', '15.412M']
spot of 14.4238 with type <class 'str'>
['Mo', '4/21/14', '14.5009', '15.29M', '15.096M']
spot of 14.5009 with type <class 'str'>
['Th', '4/17/14', '14.4964', '21.235M', '14.818M']
spot of 14.4964 with type <class 'str'>
['We', '4/16/14', '14.7507', '11.552M', '14.227M']
spot of 14.7507 with type <class 'str'>
['Tu', '4/15/14', '14.7053', '13.16M', '14.606M']
spot of 14.7053 with type <class 'str'>
['Mo', '4/14/14', '14.9368', '13.851M', '14.878M']
spot of 14.9368 with type <class 'str'>
['Fr', '4/11/14', '14.7325', '18.736M', '14.843M']
spot of 14.7325 with type <class 'str'>
['Th', '4/10/14', '14.8914', '25.62M', '15.172M']
spot of 14.8914 with type <class 'str'>
['We', '4/9/14', '14.8551', '12.588M', '15.059M']
spot of 14.8551 with type <class 'str'>
['Tu', '4/8/14', '14.7325', '13.6M', '15.764M']
spot of 14.7325 with type <class 'str'>
['Mo', '4/7/14', '14.846', '12.201M', '16.135M']
spot of 14.846 with type <class 'str'>
['Fr', '4/4/14', '14.8188', '13.666M', '15.793M']
spot of 14.8188 with type <class 'str'>
['Th', '4/3/14', '14.9822', '15.483M', '15.423M']
spot of 14.9822 with type <class 'str'>
['We', '4/2/14', '15.2591', '14.189M', '15.272M']
spot of 15.2591 with type <class 'str'>
['Tu', '4/1/14', '15.0866', '16.462M', '14.821M']
spot of 15.0866 with type <class 'str'>
['Mo', '3/31/14', '14.6916', '8.804M', '14.195M']
spot of 14.6916 with type <class 'str'>
['Fr', '3/28/14', '14.5463', '11.123M', '14.104M']
spot of 14.5463 with type <class 'str'>
['Th', '3/27/14', '14.4964', '12.374M', '13.982M']
spot of 14.4964 with type <class 'str'>
['We', '3/26/14', '14.6871', '17.239M', '13.632M']
spot of 14.6871 with type <class 'str'>
['Tu', '3/25/14', '14.7824', '17.23M', '12.917M']
spot of 14.7824 with type <class 'str'>
['Mo', '3/24/14', '14.3602', '13.333M', '12.658M']
spot of 14.3602 with type <class 'str'>
['Fr', '3/21/14', '14.5055', '23.674M', '12.599M']
spot of 14.5055 with type <class 'str'>
['Th', '3/20/14', '14.2921', '23.918M', '11.898M']
spot of 14.2921 with type <class 'str'>
['We', '3/19/14', '14.3557', '23.167M', '11.047M']
spot of 14.3557 with type <class 'str'>
['Tu', '3/18/14', '13.8744', '19.156M', '10.104M']
spot of 13.8744 with type <class 'str'>
['Mo', '3/17/14', '13.3841', '7.074M', '9.441M']
spot of 13.3841 with type <class 'str'>
['Fr', '3/14/14', '13.198', '8.117M', '9.931M']
spot of 13.198 with type <class 'str'>
['Th', '3/13/14', '13.1253', '13.214M', '11.377M']
spot of 13.1253 with type <class 'str'>
['We', '3/12/14', '13.434', '7.432M', '12.298M']
spot of 13.434 with type <class 'str'>
['Tu', '3/11/14', '13.5793', '7.073M', '12.796M']
spot of 13.5793 with type <class 'str'>
['Mo', '3/10/14', '13.5748', '7.431M', '13.075M']
spot of 13.5748 with type <class 'str'>
['Fr', '3/7/14', '13.7745', '9.294M', '13.215M']
spot of 13.7745 with type <class 'str'>
['Th', '3/6/14', '13.661', '7.135M', '13.264M']
spot of 13.661 with type <class 'str'>
['We', '3/5/14', '13.5929', '6.51M', '13.436M']
spot of 13.5929 with type <class 'str'>
['Tu', '3/4/14', '13.6747', '13.338M', '13.577M']
spot of 13.6747 with type <class 'str'>
['Mo', '3/3/14', '13.4976', '12.457M', '13.209M']
spot of 13.4976 with type <class 'str'>
['Fr', '2/28/14', '13.5657', '13.153M', '12.884M']
spot of 13.5657 with type <class 'str'>
['Th', '2/27/14', '13.5067', '11.154M', '12.453M']
spot of 13.5067 with type <class 'str'>
['We', '2/26/14', '13.5748', '9.016M', '12.395M']
spot of 13.5748 with type <class 'str'>
['Tu', '2/25/14', '13.5657', '9.217M', '12.433M']
spot of 13.5657 with type <class 'str'>
['Mo', '2/24/14', '13.5839', '14.419M', '12.795M']
spot of 13.5839 with type <class 'str'>
['Fr', '2/21/14', '13.5248', '29.82M', '12.697M']
spot of 13.5248 with type <class 'str'>
['Th', '2/20/14', '13.7064', '27.031M', '11.316M']
spot of 13.7064 with type <class 'str'>
['We', '2/19/14', '13.3705', '14.889M', '10.442M']
spot of 13.3705 with type <class 'str'>
['Tu', '2/18/14', '13.4295', '11.263M', '10.277M']
spot of 13.4295 with type <class 'str'>
['Fr', '2/14/14', '13.6293', '9.527M', '10.588M']
spot of 13.6293 with type <class 'str'>
['Th', '2/13/14', '13.543', '10.029M', '11.09M']
spot of 13.543 with type <class 'str'>
['We', '2/12/14', '13.3569', '9.726M', '11.082M']
spot of 13.3569 with type <class 'str'>
['Tu', '2/11/14', '13.3296', '8.617M', '11.116M']
spot of 13.3296 with type <class 'str'>
['Mo', '2/10/14', '13.0799', '7.817M', '11.348M']
spot of 13.0799 with type <class 'str'>
['Fr', '2/7/14', '13.198', '7.578M', '11.898M']
spot of 13.198 with type <class 'str'>
['Th', '2/6/14', '12.9346', '6.697M', '12.864M']
spot of 12.9346 with type <class 'str'>
['We', '2/5/14', '12.7167', '10.278M', '13.509M']
spot of 12.7167 with type <class 'str'>
['Tu', '2/4/14', '12.862', '9.581M', '13.815M']
spot of 12.862 with type <class 'str'>
['Mo', '2/3/14', '12.7303', '14.658M', '14.491M']
spot of 12.7303 with type <class 'str'>
['Fr', '1/31/14', '13.1662', '12.944M', '14.47M']
spot of 13.1662 with type <class 'str'>
['Th', '1/30/14', '13.2797', '9.109M', '14.809M']
spot of 13.2797 with type <class 'str'>
['We', '1/29/14', '13.1753', '13.923M', '15.216M']
spot of 13.1753 with type <class 'str'>
['Tu', '1/28/14', '13.1662', '12.408M', '15.243M']
spot of 13.1662 with type <class 'str'>
['Mo', '1/27/14', '12.9846', '15.927M', '15.099M']
spot of 12.9846 with type <class 'str'>
['Fr', '1/24/14', '12.9346', '17.063M', '14.882M']
spot of 12.9346 with type <class 'str'>
['Th', '1/23/14', '13.3342', '9.91M', '14.62M']
spot of 13.3342 with type <class 'str'>
['We', '1/22/14', '13.5475', '10.238M', '14.623M']
spot of 13.5475 with type <class 'str'>
['Tu', '1/21/14', '13.5748', '12.087M', '14.428M']
spot of 13.5748 with type <class 'str'>
['Fr', '1/17/14', '13.5294', '16.066M', '14.079M']
spot of 13.5294 with type <class 'str'>
['Th', '1/16/14', '13.4204', '22.07M', '13.527M']
spot of 13.4204 with type <class 'str'>
['We', '1/15/14', '13.0935', '16.381M', '12.388M']
spot of 13.0935 with type <class 'str'>
['Tu', '1/14/14', '13.0981', '14.856M', '11.925M']
spot of 13.0981 with type <class 'str'>
['Mo', '1/13/14', '12.7666', '19.732M', '12.3M']
spot of 12.7666 with type <class 'str'>
['Fr', '1/10/14', '12.576', '14.337M', '12.045M']
spot of 12.576 with type <class 'str'>
['Th', '1/9/14', '12.5351', '18.031M', '12.099M']
spot of 12.5351 with type <class 'str'>
['We', '1/8/14', '12.4625', '15.217M', '12.173M']
spot of 12.4625 with type <class 'str'>
['Tu', '1/7/14', '12.7939', '14.324M', '11.987M']
spot of 12.7939 with type <class 'str'>
['Mo', '1/6/14', '12.8438', '10.246M', '11.816M']
spot of 12.8438 with type <class 'str'>
['Fr', '1/3/14', '12.8665', '12.677M', '12.027M']
spot of 12.8665 with type <class 'str'>
['Th', '1/2/14', '12.5578', '13.128M', '12.232M']
spot of 12.5578 with type <class 'str'>
['Tu', '12/31/13', '12.7031', '9.962M', '12.341M']
spot of 12.7031 with type <class 'str'>
['Mo', '12/30/13', '12.7439', '7.305M', '12.709M']
spot of 12.7439 with type <class 'str'>
['Fr', '12/27/13', '12.7984', '6.851M', '13.368M']
spot of 12.7984 with type <class 'str'>
['Th', '12/26/13', '12.8529', '7.794M', '14.381M']
spot of 12.8529 with type <class 'str'>
['Tu', '12/24/13', '12.7848', '4.983M', '16.132M']
spot of 12.7848 with type <class 'str'>
['Mo', '12/23/13', '12.7349', '9.428M', '16.995M']
spot of 12.7349 with type <class 'str'>
['Fr', '12/20/13', '12.6168', '20.482M', '17.327M']
spot of 12.6168 with type <class 'str'>
['Th', '12/19/13', '12.7303', '15.904M', '16.76M']
spot of 12.7303 with type <class 'str'>
['We', '12/18/13', '12.4897', '15.155M', '19.18M']
spot of 12.4897 with type <class 'str'>
['Tu', '12/17/13', '12.4625', '19.131M', '19.877M']
spot of 12.4625 with type <class 'str'>
['Mo', '12/16/13', '12.2128', '12.428M', '19.532M']
spot of 12.2128 with type <class 'str'>
['Fr', '12/13/13', '12.1537', '11.758M', '19.42M']
spot of 12.1537 with type <class 'str'>
['Th', '12/12/13', '12.0766', '13.422M', '19.387M']
spot of 12.0766 with type <class 'str'>
['We', '12/11/13', '12.2536', '15.751M', '19.673M']
spot of 12.2536 with type <class 'str'>
['Tu', '12/10/13', '12.2763', '14.763M', '19.491M']
spot of 12.2763 with type <class 'str'>
['Mo', '12/9/13', '12.3717', '15.485M', '19.28M']
spot of 12.3717 with type <class 'str'>
['Fr', '12/6/13', '12.576', '17.177M', '19.535M']
spot of 12.576 with type <class 'str'>
['Th', '12/5/13', '12.3717', '22.047M', '20.15M']
spot of 12.3717 with type <class 'str'>
['We', '12/4/13', '12.7712', '34.071M', '19.3M']
spot of 12.7712 with type <class 'str'>
['Tu', '12/3/13', '12.4852', '17.916M', '17.691M']
spot of 12.4852 with type <class 'str'>
['Mo', '12/2/13', '12.4034', '14.41M', '17.312M']
spot of 12.4034 with type <class 'str'>
['Fr', '11/29/13', '12.4171', '11.988M', '17.359M']
spot of 12.4171 with type <class 'str'>
['We', '11/27/13', '12.4216', '52.192M', '17.549M']
spot of 12.4216 with type <class 'str'>
['Tu', '11/26/13', '11.391', '25.622M', '14.913M']
spot of 11.391 with type <class 'str'>
['Mo', '11/25/13', '11.4954', '13.955M', '14.078M']
spot of 11.4954 with type <class 'str'>
['Fr', '11/22/13', '11.4682', '10.747M', '14.155M']
spot of 11.4682 with type <class 'str'>
['Th', '11/21/13', '11.3638', '11.266M', '15.717M']
spot of 11.3638 with type <class 'str'>
['We', '11/20/13', '11.3229', '17.708M', '15.886M']
spot of 11.3229 with type <class 'str'>
['Tu', '11/19/13', '11.3456', '13.023M', '15.48M']

spot of 11.3456 with type <class 'str'>
['Mo', '11/18/13', '11.3501', '11.593M', '15.364M']
spot of 11.3501 with type <class 'str'>
['Fr', '11/15/13', '11.4455', '19.315M', '15.416M']
spot of 11.4455 with type <class 'str'>
['Th', '11/14/13', '11.3819', '26.392M', '14.686M']
spot of 11.3819 with type <class 'str'>
['We', '11/13/13', '12.0266', '9.299M', '13.53M']
spot of 12.0266 with type <class 'str'>
['Tu', '11/12/13', '11.904', '9.938M', '13.52M']
spot of 11.904 with type <class 'str'>
['Mo', '11/11/13', '11.9631', '12.233M', '13.948M']
spot of 11.9631 with type <class 'str'>
['Fr', '11/8/13', '11.7769', '15.118M', '13.76M']
spot of 11.7769 with type <class 'str'>
['Th', '11/7/13', '11.6634', '14.84M', '13.71M']
spot of 11.6634 with type <class 'str'>
['We', '11/6/13', '11.6271', '12.642M', '13.374M']
spot of 11.6271 with type <class 'str'>
['Tu', '11/5/13', '11.5635', '13.095M', '13.691M']
spot of 11.5635 with type <class 'str'>
['Mo', '11/4/13', '11.6997', '15.112M', '13.715M']
spot of 11.6997 with type <class 'str'>
['Fr', '11/1/13', '11.7678', '34.178M', '13.442M']
spot of 11.7678 with type <class 'str'>
['Th', '10/31/13', '11.0641', '13.804M', '12.373M']
spot of 11.0641 with type <class 'str'>
['We', '10/30/13', '10.9869', '11.616M', '13.72M']
spot of 10.9869 with type <class 'str'>
['Tu', '10/29/13', '10.8235', '11.287M', '16.677M']
spot of 10.8235 with type <class 'str'>
['Mo', '10/28/13', '10.8326', '12.371M', '17.108M']
spot of 10.8326 with type <class 'str'>
['Fr', '10/25/13', '10.8961', '8.36M', '17.216M']
spot of 10.8961 with type <class 'str'>
['Th', '10/24/13', '10.8417', '9.058M', '17.333M']
spot of 10.8417 with type <class 'str'>
['We', '10/23/13', '10.7872', '9.147M', '17.578M']
spot of 10.7872 with type <class 'str'>
['Tu', '10/22/13', '10.9188', '16.356M', '18.05M']
spot of 10.9188 with type <class 'str'>
['Mo', '10/21/13', '10.6918', '9.413M', '17.644M']
spot of 10.6918 with type <class 'str'>
['Fr', '10/18/13', '10.6601', '14.362M', '17.926M']
spot of 10.6601 with type <class 'str'>
['Th', '10/17/13', '10.6169', '9.807M', '17.639M']
spot of 10.6169 with type <class 'str'>
['We', '10/16/13', '10.5693', '17.399M', '17.681M']
spot of 10.5693 with type <class 'str'>
['Tu', '10/15/13', '10.3468', '13.453M', '17.674M']
spot of 10.3468 with type <class 'str'>
['Mo', '10/14/13', '10.3967', '11.011M', '17.647M']
spot of 10.3967 with type <class 'str'>
['Fr', '10/11/13', '10.3513', '18.15M', '17.848M']
spot of 10.3513 with type <class 'str'>
['Th', '10/10/13', '10.1334', '34.004M', '18.517M']
spot of 10.1334 with type <class 'str'>
['We', '10/9/13', '10.2605', '55.97M', '17.385M']
spot of 10.2605 with type <class 'str'>
['Tu', '10/8/13', '9.4206', '17.76M', '14.528M']
spot of 9.4206 with type <class 'str'>
['Mo', '10/7/13', '9.5023', '13.987M', '14.37M']
spot of 9.5023 with type <class 'str'>
['Fr', '10/4/13', '9.6522', '10.114M', '14.429M']
spot of 9.6522 with type <class 'str'>
['Th', '10/3/13', '9.4978', '12.741M', '14.613M']
spot of 9.4978 with type <class 'str'>
['We', '10/2/13', '9.7157', '16.23M', '15.09M']
spot of 9.7157 with type <class 'str'>
['Tu', '10/1/13', '9.6749', '10.258M', '14.761M']
spot of 9.6749 with type <class 'str'>
['Mo', '9/30/13', '9.5296', '13.65M', '15.234M']
spot of 9.5296 with type <class 'str'>
['Fr', '9/27/13', '9.6113', '10.044M', '15.027M']
spot of 9.6113 with type <class 'str'>
['Th', '9/26/13', '9.6703', '10.445M', '15.306M']
spot of 9.6703 with type <class 'str'>
['We', '9/25/13', '9.7157', '17.29M', '15.626M']
spot of 9.7157 with type <class 'str'>
['Tu', '9/24/13', '9.6431', '13.051M', '15.398M']
spot of 9.6431 with type <class 'str'>
['Mo', '9/23/13', '9.6249', '14.027M', '15.444M']
spot of 9.6249 with type <class 'str'>
['Fr', '9/20/13', '9.634', '28.184M', '15.317M']
spot of 9.634 with type <class 'str'>
['Th', '9/19/13', '9.6749', '17.031M', '14.184M']
spot of 9.6749 with type <class 'str'>
['We', '9/18/13', '9.8951', '13.117M', '14.274M']
spot of 9.8951 with type <class 'str'>
['Tu', '9/17/13', '9.8383', '15.381M', '14.513M']
spot of 9.8383 with type <class 'str'>
['Mo', '9/16/13', '9.8701', '14.875M', '14.652M']
spot of 9.8701 with type <class 'str'>
['Fr', '9/13/13', '10.0199', '12.874M', '15.132M']
spot of 10.0199 with type <class 'str'>
['Th', '9/12/13', '9.97', '19.89M', '18.786M']
spot of 9.97 with type <class 'str'>
['We', '9/11/13', '10.1107', '11.299M', '19.176M']
spot of 10.1107 with type <class 'str'>
['Tu', '9/10/13', '10.1107', '17.354M', '19.135M']
spot of 10.1107 with type <class 'str'>
['Mo', '9/9/13', '10.1516', '10.546M', '18.765M']
spot of 10.1516 with type <class 'str'>
['Fr', '9/6/13', '10.1788', '14.233M', '19.068M']
spot of 10.1788 with type <class 'str'>
['Th', '9/5/13', '10.0426', '15.24M', '19.123M']
spot of 10.0426 with type <class 'str'>
['We', '9/4/13', '10.1107', '13.87M', '18.801M']
spot of 10.1107 with type <class 'str'>
['Tu', '9/3/13', '10.1561', '13.731M', '19.076M']
spot of 10.1561 with type <class 'str'>
['Fr', '8/30/13', '10.1425', '12.126M', '18.743M']
spot of 10.1425 with type <class 'str'>
['Th', '8/29/13', '10.2242', '11.19M', '18.678M']
spot of 10.2242 with type <class 'str'>
['We', '8/28/13', '10.2651', '18.376M', '18.596M']
spot of 10.2651 with type <class 'str'>
['Tu', '8/27/13', '9.9836', '16.717M', '17.907M']
spot of 9.9836 with type <class 'str'>
['Mo', '8/26/13', '10.1107', '17.463M', '17.518M']
spot of 10.1107 with type <class 'str'>
['Fr', '8/23/13', '10.1697', '22.069M', '16.93M']
spot of 10.1697 with type <class 'str'>
['Th', '8/22/13', '10.088', '67.69M', '17.47M']
spot of 10.088 with type <class 'str'>
['We', '8/21/13', '11.5227', '25.73M', '13.593M']
spot of 11.5227 with type <class 'str'>
['Tu', '8/20/13', '11.7315', '10.686M', '13.081M']
spot of 11.7315 with type <class 'str'>
['Mo', '8/19/13', '11.7497', '11.81M', '13.243M']
spot of 11.7497 with type <class 'str'>
['Fr', '8/16/13', '11.9948', '15.089M', '13.06M']
spot of 11.9948 with type <class 'str'>
['Th', '8/15/13', '11.7815', '15.056M', '12.551M']
spot of 11.7815 with type <class 'str'>
['We', '8/14/13', '12.3399', '10.406M', '12.277M']
spot of 12.3399 with type <class 'str'>
['Tu', '8/13/13', '12.3944', '17.998M', '12.335M']
spot of 12.3944 with type <class 'str'>
['Mo', '8/12/13', '12.1401', '8.746M', '11.882M']
spot of 12.1401 with type <class 'str'>
['Fr', '8/9/13', '12.1537', '11.15M', '12.247M']
spot of 12.1537 with type <class 'str'>
['Th', '8/8/13', '12.1991', '9.96M', '13.164M']
spot of 12.1991 with type <class 'str'>
['We', '8/7/13', '12.1174', '8.031M', '13.212M']
spot of 12.1174 with type <class 'str'>
['Tu', '8/6/13', '12.0039', '10.893M', '13.784M']
spot of 12.0039 with type <class 'str'>
['Mo', '8/5/13', '12.2718', '8.633M', '13.783M']
spot of 12.2718 with type <class 'str'>
['Fr', '8/2/13', '12.2582', '30.179M', '13.759M']
spot of 12.2582 with type <class 'str'>
['Th', '8/1/13', '11.9086', '9.524M', '12.503M']
spot of 11.9086 with type <class 'str'>
['We', '7/31/13', '11.6589', '18.053M', '13.211M']
spot of 11.6589 with type <class 'str'>
['Tu', '7/30/13', '11.7043', '13.114M', '14.22M']
spot of 11.7043 with type <class 'str'>
['Mo', '7/29/13', '11.6543', '9.063M', '14.002M']
spot of 11.6543 with type <class 'str'>
['Fr', '7/26/13', '11.7996', '7.458M', '14.141M']
spot of 11.7996 with type <class 'str'>
['Th', '7/25/13', '11.9131', '10.952M', '14.497M']
spot of 11.9131 with type <class 'str'>
['We', '7/24/13', '11.8541', '11.264M', '14.266M']
spot of 11.8541 with type <class 'str'>
['Tu', '7/23/13', '11.6816', '11.205M', '14.202M']
spot of 11.6816 with type <class 'str'>
['Mo', '7/22/13', '11.5817', '14.232M', '14.12M']
spot of 11.5817 with type <class 'str'>
['Fr', '7/19/13', '11.4137', '24.892M', '14.23M']
spot of 11.4137 with type <class 'str'>
['Th', '7/18/13', '11.954', '10.694M', '13.606M']
spot of 11.954 with type <class 'str'>
['We', '7/17/13', '11.9449', '16.604M', '13.859M']
spot of 11.9449 with type <class 'str'>
['Tu', '7/16/13', '12.0085', '10.878M', '13.715M']
spot of 12.0085 with type <class 'str'>
['Mo', '7/15/13', '11.9767', '8.271M', '14.056M']
spot of 11.9767 with type <class 'str'>
['Fr', '7/12/13', '11.8904', '11.343M', '15.081M']
spot of 11.8904 with type <class 'str'>
['Th', '7/11/13', '11.9767', '20.146M', '15.513M']
spot of 11.9767 with type <class 'str'>
['We', '7/10/13', '11.7724', '33.18M', '15.325M']
spot of 11.7724 with type <class 'str'>
['Tu', '7/9/13', '11.5635', '9.841M', '13.88M']
spot of 11.5635 with type <class 'str'>
['Mo', '7/8/13', '11.4273', '11.148M', '14.106M']
spot of 11.4273 with type <class 'str'>
['Fr', '7/5/13', '11.6135', '12.812M', '14.013M']
spot of 11.6135 with type <class 'str'>
['We', '7/3/13', '11.4319', '7.486M', '14.074M']
spot of 11.4319 with type <class 'str'>
['Tu', '7/2/13', '11.3592', '10.296M', '15.054M']
spot of 11.3592 with type <class 'str'>
['Mo', '7/1/13', '11.3184', '9.981M', '15.202M']
spot of 11.3184 with type <class 'str'>
['Fr', '6/28/13', '11.2593', '15.884M', '15.481M']
spot of 11.2593 with type <class 'str'>
['Th', '6/27/13', '11.2457', '15.528M', '15.278M']
spot of 11.2457 with type <class 'str'>
['We', '6/26/13', '10.9007', '14.492M', '15.253M']
spot of 10.9007 with type <class 'str'>
['Tu', '6/25/13', '10.828', '14.439M', '15.345M']
spot of 10.828 with type <class 'str'>
['Mo', '6/24/13', '10.6374', '15.996M', '15.514M']
spot of 10.6374 with type <class 'str'>
['Fr', '6/21/13', '10.9642', '23.648M', '15.826M']
spot of 10.9642 with type <class 'str'>
['Th', '6/20/13', '11.223', '17.813M', '15.741M']
spot of 11.223 with type <class 'str'>
['We', '6/19/13', '11.5454', '17.328M', '16.134M']
spot of 11.5454 with type <class 'str'>
['Tu', '6/18/13', '11.5499', '11.502M', '16.48M']
spot of 11.5499 with type <class 'str'>
['Mo', '6/17/13', '11.4228', '13.242M', '17.024M']
spot of 11.4228 with type <class 'str'>
['Fr', '6/14/13', '11.2321', '9.749M', '18.095M']
spot of 11.2321 with type <class 'str'>
['Th', '6/13/13', '11.3184', '13.719M', '23.291M']
spot of 11.3184 with type <class 'str'>
['We', '6/12/13', '11.3093', '22.193M', '24.721M']
spot of 11.3093 with type <class 'str'>
['Tu', '6/11/13', '11.0051', '12.51M', '23.97M']
spot of 11.0051 with type <class 'str'>
['Mo', '6/10/13', '11.1186', '14.167M', '23.888M']
spot of 11.1186 with type <class 'str'>
['Fr', '6/7/13', '11.2639', '12.845M', '23.918M']
spot of 11.2639 with type <class 'str'>
['Th', '6/6/13', '11.0096', '15.152M', '24.222M']
spot of 11.0096 with type <class 'str'>
['We', '6/5/13', '10.9824', '15.869M', '24.616M']
spot of 10.9824 with type <class 'str'>
['Tu', '6/4/13', '11.1776', '16.974M', '24.791M']
spot of 11.1776 with type <class 'str'>
['Mo', '6/3/13', '11.3047', '20.686M', '24.219M']
spot of 11.3047 with type <class 'str'>
['Fr', '5/31/13', '11.0868', '22.369M', '23.689M']
spot of 11.0868 with type <class 'str'>
['Th', '5/30/13', '11.4682', '23.708M', '23.231M']
spot of 11.4682 with type <class 'str'>
['We', '5/29/13', '11.4591', '22.515M', '22.506M']
spot of 11.4591 with type <class 'str'>
['Tu', '5/28/13', '11.1912', '19.658M', '21.901M']
spot of 11.1912 with type <class 'str'>
['Fr', '5/24/13', '10.9915', '29.317M', '21.097M']
spot of 10.9915 with type <class 'str'>
['Th', '5/23/13', '11.2866', '87.691M', '19.871M']
spot of 11.2866 with type <class 'str'>
['We', '5/22/13', '9.6385', '35.162M', '14.652M']
spot of 9.6385 with type <class 'str'>
['Tu', '5/21/13', '9.5841', '10.935M', '13.317M']
spot of 9.5841 with type <class 'str'>
['Mo', '5/20/13', '9.6158', '11.268M', '13.594M']
spot of 9.6158 with type <class 'str'>
['Fr', '5/17/13', '9.6567', '14.629M', '13.904M']
spot of 9.6567 with type <class 'str'>
['Th', '5/16/13', '9.6976', '17.402M', '14.742M']
spot of 9.6976 with type <class 'str'>
['We', '5/15/13', '9.5205', '21.06M', '15.082M']
spot of 9.5205 with type <class 'str'>
['Tu', '5/14/13', '9.7702', '18.496M', '15.397M']
spot of 9.7702 with type <class 'str'>
['Mo', '5/13/13', '9.693', '8.391M', '15.499M']
spot of 9.693 with type <class 'str'>
['Fr', '5/10/13', '9.7793', '12.738M', '16.463M']
spot of 9.7793 with type <class 'str'>
['Th', '5/9/13', '9.6158', '15.489M', '17.509M']
spot of 9.6158 with type <class 'str'>
['We', '5/8/13', '9.5659', '12.846M', '17.722M']
spot of 9.5659 with type <class 'str'>
['Tu', '5/7/13', '9.3071', '13.432M', '17.912M']
spot of 9.3071 with type <class 'str'>
['Mo', '5/6/13', '9.3707', '7.6M', '17.945M']
spot of 9.3707 with type <class 'str'>
['Fr', '5/3/13', '9.3661', '10.933M', '18.499M']
spot of 9.3661 with type <class 'str'>
['Th', '5/2/13', '9.2844', '9.407M', '19.074M']
spot of 9.2844 with type <class 'str'>
['We', '5/1/13', '9.239', '15.13M', '21.629M']
spot of 9.239 with type <class 'str'>
['Tu', '4/30/13', '9.3525', '15.095M', '21.683M']
spot of 9.3525 with type <class 'str'>
['Mo', '4/29/13', '9.3071', '15.919M', '21.776M']
spot of 9.3071 with type <class 'str'>
['Fr', '4/26/13', '9.0665', '27.193M', '21.731M']
spot of 9.0665 with type <class 'str'>
['Th', '4/25/13', '8.894', '22.505M', '21.177M']
spot of 8.894 with type <class 'str'>
['We', '4/24/13', '9.0075', '25.782M', '21.05M']
spot of 9.0075 with type <class 'str'>
['Tu', '4/23/13', '8.9212', '20.021M', '21.339M']
spot of 8.9212 with type <class 'str'>
['Mo', '4/22/13', '8.9712', '22.854M', '23.239M']
spot of 8.9712 with type <class 'str'>
['Fr', '4/19/13', '8.8804', '28.43M', '23.398M']
spot of 8.8804 with type <class 'str'>
['Th', '4/18/13', '9.1755', '18.683M', '23.129M']
spot of 9.1755 with type <class 'str'>
['We', '4/17/13', '9.3026', '15.694M', '23.481M']
spot of 9.3026 with type <class 'str'>
['Tu', '4/16/13', '9.5477', '13.925M', '24.257M']
spot of 9.5477 with type <class 'str'>
['Mo', '4/15/13', '9.3888', '15.921M', '25.301M']
spot of 9.3888 with type <class 'str'>
['Fr', '4/12/13', '9.4887', '19.558M', '26.102M']
spot of 9.4887 with type <class 'str'>
['Th', '4/11/13', '9.4796', '47.726M', '27.227M']
spot of 9.4796 with type <class 'str'>
['We', '4/10/13', '10.1334', '15.936M', '26.414M']
spot of 10.1334 with type <class 'str'>
['Tu', '4/9/13', '10.088', '16.489M', '27.61M']
spot of 10.088 with type <class 'str'>
['Mo', '4/8/13', '9.9563', '15.249M', '29.131M']
spot of 9.9563 with type <class 'str'>
['Fr', '4/5/13', '9.9745', '18.876M', '30.235M']
spot of 9.9745 with type <class 'str'>
['Th', '4/4/13', '10.1243', '20.599M', '30.596M']
spot of 10.1243 with type <class 'str'>
['We', '4/3/13', '9.9473', '30.129M', '30.147M']
spot of 9.9473 with type <class 'str'>
['Tu', '4/2/13', '10.0335', '48.52M', '29.317M']
spot of 10.0335 with type <class 'str'>
['Mo', '4/1/13', '10.5829', '25.242M', '27.064M']
spot of 10.5829 with type <class 'str'>
['Th', '3/28/13', '10.8235', '24.383M', '26.67M']
spot of 10.8235 with type <class 'str'>
['We', '3/27/13', '10.7055', '23.974M', '26.238M']
spot of 10.7055 with type <class 'str'>
['Tu', '3/26/13', '10.7327', '27.335M', '26.887M']
spot of 10.7327 with type <class 'str'>
['Mo', '3/25/13', '10.4875', '29.585M', '26.299M']
spot of 10.4875 with type <class 'str'>
['Fr', '3/22/13', '10.4603', '27.931M', '25.607M']
spot of 10.4603 with type <class 'str'>
['Th', '3/21/13', '10.1334', '36.434M', '25.1M']
spot of 10.1334 with type <class 'str'>
['We', '3/20/13', '10.4058', '35.53M', '24.484M']
spot of 10.4058 with type <class 'str'>
['Tu', '3/19/13', '10.4921', '33.874M', '24.083M']
spot of 10.4921 with type <class 'str'>
['Mo', '3/18/13', '10.365', '39.31M', '24.423M']
spot of 10.365 with type <class 'str'>
['Fr', '3/15/13', '10.0699', '31.808M', '24.568M']
spot of 10.0699 with type <class 'str'>
['Th', '3/14/13', '9.9563', '24.288M', '31.332M']
spot of 9.9563 with type <class 'str'>
['We', '3/13/13', '9.6794', '13.858M', '32.236M']
spot of 9.6794 with type <class 'str'>
['Tu', '3/12/13', '9.7157', '17.682M', '32.513M']
spot of 9.7157 with type <class 'str'>
['Mo', '3/11/13', '9.5477', '14.722M', '32.498M']
spot of 9.5477 with type <class 'str'>
['Fr', '3/8/13', '9.5341', '19.334M', '32.538M']
spot of 9.5341 with type <class 'str'>
['Th', '3/7/13', '9.466', '17.908M', '32.2M']
spot of 9.466 with type <class 'str'>
['We', '3/6/13', '9.5023', '33.711M', '31.773M']
spot of 9.5023 with type <class 'str'>
['Tu', '3/5/13', '9.2481', '18.516M', '30.519M']
spot of 9.2481 with type <class 'str'>
['Mo', '3/4/13', '9.0665', '19.192M', '30.027M']
spot of 9.0665 with type <class 'str'>
['Fr', '3/1/13', '9.1482', '20.338M', '29.747M']
spot of 9.1482 with type <class 'str'>
['Th', '2/28/13', '9.1437', '27.189M', '29.477M']
spot of 9.1437 with type <class 'str'>
['We', '2/27/13', '8.9757', '29.518M', '29.202M']
spot of 8.9757 with type <class 'str'>
['Tu', '2/26/13', '8.9848', '38.963M', '28.787M']
spot of 8.9848 with type <class 'str'>
['Mo', '2/25/13', '8.6579', '41.5M', '27.294M']
spot of 8.6579 with type <class 'str'>
['Fr', '2/22/13', '8.7169', '133.253M', '25.644M']
spot of 8.7169 with type <class 'str'>
['Th', '2/21/13', '7.7635', '37.849M', '18.128M']
spot of 7.7635 with type <class 'str'>
['We', '2/20/13', '7.5819', '18.021M', '16.971M']
spot of 7.5819 with type <class 'str'>
['Tu', '2/19/13', '7.6682', '17.453M', '17.861M']
spot of 7.6682 with type <class 'str'>
['Fr', '2/15/13', '7.6228', '15.328M', '17.759M']
spot of 7.6228 with type <class 'str'>
['Th', '2/14/13', '7.7317', '14.265M', '17.766M']
spot of 7.7317 with type <class 'str'>
['We', '2/13/13', '7.7226', '11.496M', '17.953M']
spot of 7.7226 with type <class 'str'>
['Tu', '2/12/13', '7.7635', '14.909M', '18.526M']
spot of 7.7635 with type <class 'str'>
['Mo', '2/11/13', '7.6409', '11.135M', '19.391M']
spot of 7.6409 with type <class 'str'>
['Fr', '2/8/13', '7.6591', '14.982M', '20.218M']
spot of 7.6591 with type <class 'str'>
['Th', '2/7/13', '7.4639', '16.29M', '21.134M']
spot of 7.4639 with type <class 'str'>
['We', '2/6/13', '7.5774', '23.064M', '23.181M']
spot of 7.5774 with type <class 'str'>
['Tu', '2/5/13', '7.541', '23.3M', '24.256M']

spot of 7.541 with type <class 'str'>
['Mo', '2/4/13', '7.3458', '16.562M', '26.841M']
spot of 7.3458 with type <class 'str'>
['Fr', '2/1/13', '7.4729', '16.755M', '28.347M']
spot of 7.4729 with type <class 'str'>
['Th', '1/31/13', '7.4956', '20.508M', '29.651M']
spot of 7.4956 with type <class 'str'>
['We', '1/30/13', '7.4457', '20.503M', '30.576M']
spot of 7.4457 with type <class 'str'>
['Tu', '1/29/13', '7.482', '31.369M', '31.402M']
spot of 7.482 with type <class 'str'>
['Mo', '1/28/13', '7.7272', '15.926M', '30.59M']
spot of 7.7272 with type <class 'str'>
['Fr', '1/25/13', '7.7136', '15.429M', '30.996M']
spot of 7.7136 with type <class 'str'>
['Th', '1/24/13', '7.7226', '17.063M', '32.826M']
spot of 7.7226 with type <class 'str'>
['We', '1/23/13', '7.7226', '20.093M', '35.007M']
spot of 7.7226 with type <class 'str'>
['Tu', '1/22/13', '7.8316', '27.88M', '35.564M']
spot of 7.8316 with type <class 'str'>
['Fr', '1/18/13', '7.768', '23.549M', '34.919M']
spot of 7.768 with type <class 'str'>
['Th', '1/17/13', '7.768', '28.719M', '34.421M']
spot of 7.768 with type <class 'str'>
['We', '1/16/13', '7.8134', '46.992M', '33.514M']
spot of 7.8134 with type <class 'str'>
['Tu', '1/15/13', '7.5047', '39.186M', '31.011M']
spot of 7.5047 with type <class 'str'>
['Mo', '1/14/13', '7.6954', '62.084M', '30.16M']
spot of 7.6954 with type <class 'str'>
['Fr', '1/11/13', '7.3367', '39.143M', '27.181M']
spot of 7.3367 with type <class 'str'>
['Th', '1/10/13', '7.3912', '36.318M', '26.166M']
spot of 7.3912 with type <class 'str'>
['We', '1/9/13', '7.196', '34.38M', '26.267M']
spot of 7.196 with type <class 'str'>
['Tu', '1/8/13', '6.9872', '32.897M', '26.033M']
spot of 6.9872 with type <class 'str'>
['Mo', '1/7/13', '6.8873', '19.194M', '25.579M']
spot of 6.8873 with type <class 'str'>
['Fr', '1/4/13', '6.8736', '22.015M', '26.053M']
spot of 6.8736 with type <class 'str'>
['Th', '1/3/13', '6.8736', '42.883M', '26.805M']
spot of 6.8736 with type <class 'str'>
['We', '1/2/13', '6.8192', '49.771M', '26.077M']
spot of 6.8192 with type <class 'str'>
['Mo', '12/31/12', '6.4696', '28.45M', '26.18M']
spot of 6.4696 with type <class 'str'>
['Fr', '12/28/12', '6.2108', '18.2M', '25.968M']
spot of 6.2108 with type <class 'str'>
['Th', '12/27/12', '6.3742', '16.08M', '26.827M']
spot of 6.3742 with type <class 'str'>
['We', '12/26/12', '6.4106', '15.112M', '29.459M']
spot of 6.4106 with type <class 'str'>
['Mo', '12/24/12', '6.3606', '9.455M', '30.89M']
spot of 6.3606 with type <class 'str'>
['Fr', '12/21/12', '6.5104', '26.419M', '31.956M']
spot of 6.5104 with type <class 'str'>
['Th', '12/20/12', '6.5513', '17.392M', '31.77M']
spot of 6.5513 with type <class 'str'>
['We', '12/19/12', '6.5286', '23.92M', '32.7M']
spot of 6.5286 with type <class 'str'>
['Tu', '12/18/12', '6.5967', '37.841M', '33.319M']
spot of 6.5967 with type <class 'str'>
['Mo', '12/17/12', '6.4514', '30.874M', '32.888M']
spot of 6.4514 with type <class 'str'>
['Fr', '12/14/12', '6.6966', '26.074M', '33.548M']
spot of 6.6966 with type <class 'str'>
['Th', '12/13/12', '6.5831', '26.304M', '33.561M']
spot of 6.5831 with type <class 'str'>
['We', '12/12/12', '6.5967', '33.301M', '36.13M']
spot of 6.5967 with type <class 'str'>
['Tu', '12/11/12', '6.4741', '31.969M', '44.226M']
spot of 6.4741 with type <class 'str'>
['Mo', '12/10/12', '6.4287', '51.315M', '44.27M']
spot of 6.4287 with type <class 'str'>
['Fr', '12/7/12', '6.3288', '25.258M', '43.182M']
spot of 6.3288 with type <class 'str'>
['Th', '12/6/12', '6.2789', '31.09M', '43.137M']
spot of 6.2789 with type <class 'str'>
['We', '12/5/12', '6.2744', '55.556M', '42.74M']
spot of 6.2744 with type <class 'str'>
['Tu', '12/4/12', '6.1427', '36.576M', '40.797M']
spot of 6.1427 with type <class 'str'>
['Mo', '12/3/12', '5.8431', '25.451M', '39.606M']
spot of 5.8431 with type <class 'str'>
['Fr', '11/30/12', '5.8975', '23.626M', '39.315M']
spot of 5.8975 with type <class 'str'>
['Th', '11/29/12', '5.8521', '31.339M', '39.029M']
spot of 5.8521 with type <class 'str'>
['We', '11/28/12', '5.7795', '33.205M', '38.742M']
spot of 5.7795 with type <class 'str'>
['Tu', '11/27/12', '5.6115', '31.387M', '38.044M']
spot of 5.6115 with type <class 'str'>
['Mo', '11/26/12', '5.784', '40.777M', '36.907M']
spot of 5.784 with type <class 'str'>
['Fr', '11/23/12', '5.6478', '26.258M', '36.357M']
spot of 5.6478 with type <class 'str'>
['We', '11/21/12', '5.4208', '64.847M', '36.273M']
spot of 5.4208 with type <class 'str'>
['Tu', '11/20/12', '5.3164', '154.735M', '33.246M']
spot of 5.3164 with type <class 'str'>
['Mo', '11/19/12', '6.0383', '32.629M', '24.215M']
spot of 6.0383 with type <class 'str'>
['Fr', '11/16/12', '5.834', '34.998M', '23.472M']
spot of 5.834 with type <class 'str'>
['Th', '11/15/12', '5.9384', '24.578M', '22.36M']
spot of 5.9384 with type <class 'str'>
['We', '11/14/12', '5.9634', '25.146M', '21.99M']
spot of 5.9634 with type <class 'str'>
['Tu', '11/13/12', '5.9656', '26.408M', '21.48M']
spot of 5.9656 with type <class 'str'>
['Mo', '11/12/12', '6.0882', '18.705M', '21.108M']
spot of 6.0882 with type <class 'str'>
['Fr', '11/9/12', '6.179', '21.085M', '21.339M']
spot of 6.179 with type <class 'str'>
['Th', '11/8/12', '6.2744', '19.332M', '21.129M']
spot of 6.2744 with type <class 'str'>
['We', '11/7/12', '6.2153', '27.048M', '21.429M']
spot of 6.2153 with type <class 'str'>
['Tu', '11/6/12', '6.5377', '22.732M', '21.422M']
spot of 6.5377 with type <class 'str'>
['Mo', '11/5/12', '6.3606', '14.327M', '21.597M']
spot of 6.3606 with type <class 'str'>
['Fr', '11/2/12', '6.2471', '32.529M', '23.055M']
spot of 6.2471 with type <class 'str'>
['Th', '11/1/12', '6.3561', '24.997M', '23.472M']
spot of 6.3561 with type <class 'str'>
['We', '10/31/12', '6.288', '19.448M', '23.781M']
spot of 6.288 with type <class 'str'>
['Fr', '10/26/12', '6.3969', '19.271M', '24.672M']
spot of 6.3969 with type <class 'str'>
['Th', '10/25/12', '6.4423', '21.476M', '26.098M']
spot of 6.4423 with type <class 'str'>
['We', '10/24/12', '6.3742', '18.312M', '30.694M']
spot of 6.3742 with type <class 'str'>
['Tu', '10/23/12', '6.4741', '19.03M', '38.875M']
spot of 6.4741 with type <class 'str'>
['Mo', '10/22/12', '6.6784', '17.494M', '38.91M']
spot of 6.6784 with type <class 'str'>
['Fr', '10/19/12', '6.574', '20.828M', '39.195M']
spot of 6.574 with type <class 'str'>
['Th', '10/18/12', '6.7193', '22.173M', '39.32M']
spot of 6.7193 with type <class 'str'>
['We', '10/17/12', '6.683', '17.943M', '39.772M']
spot of 6.683 with type <class 'str'>
['Tu', '10/16/12', '6.6149', '23.836M', '41.053M']
spot of 6.6149 with type <class 'str'>
['Mo', '10/15/12', '6.5695', '26.934M', '41.335M']
spot of 6.5695 with type <class 'str'>
['Fr', '10/12/12', '6.5422', '25.356M', '40.601M']
spot of 6.5422 with type <class 'str'>
['Th', '10/11/12', '6.4696', '36.202M', '40.282M']
spot of 6.4696 with type <class 'str'>
['We', '10/10/12', '6.4378', '38.774M', '39.175M']
spot of 6.4378 with type <class 'str'>
['Tu', '10/9/12', '6.5241', '29.636M', '37.858M']
spot of 6.5241 with type <class 'str'>
['Mo', '10/8/12', '6.5649', '32.817M', '37.008M']
spot of 6.5649 with type <class 'str'>
['Fr', '10/5/12', '6.6875', '40.655M', '35.917M']
spot of 6.6875 with type <class 'str'>
['Th', '10/4/12', '6.7828', '90.422M', '35.068M']
spot of 6.7828 with type <class 'str'>
['We', '10/3/12', '6.7692', '141.025M', '30.503M']
spot of 6.7692 with type <class 'str'>
['Tu', '10/2/12', '7.7771', '19.556M', '22.703M']
spot of 7.7771 with type <class 'str'>
['Mo', '10/1/12', '7.8134', '21.768M', '22.631M']
spot of 7.8134 with type <class 'str'>
['Fr', '9/28/12', '7.7453', '22.71M', '22.483M']
spot of 7.7453 with type <class 'str'>
['Th', '9/27/12', '7.8203', '28.952M', '22.086M']
spot of 7.8203 with type <class 'str'>
['We', '9/26/12', '7.768', '37.149M', '21.698M']
spot of 7.768 with type <class 'str'>
['Tu', '9/25/12', '7.5864', '28.071M', '20.621M']
spot of 7.5864 with type <class 'str'>
['Mo', '9/24/12', '7.8134', '15.916M', '19.887M']
spot of 7.8134 with type <class 'str'>
['Fr', '9/21/12', '7.986', '20.582M', '20.132M']
spot of 7.986 with type <class 'str'>
['Th', '9/20/12', '8.0631', '19.594M', '19.815M']
spot of 8.0631 with type <class 'str'>
['We', '9/19/12', '8.2175', '19.016M', '20.077M']
spot of 8.2175 with type <class 'str'>
['Tu', '9/18/12', '8.2856', '16.884M', '21.094M']
spot of 8.2856 with type <class 'str'>
['Mo', '9/17/12', '8.2674', '16.448M', '21.784M']
spot of 8.2674 with type <class 'str'>
['Fr', '9/14/12', '8.2493', '27.932M', '22.162M']
spot of 8.2493 with type <class 'str'>
['Th', '9/13/12', '8.2811', '21.947M', '25.154M']
spot of 8.2811 with type <class 'str'>
['We', '9/12/12', '8.1676', '24.021M', '26.238M']
spot of 8.1676 with type <class 'str'>
['Tu', '9/11/12', '8.1494', '18.475M', '26.039M']
spot of 8.1494 with type <class 'str'>
['Mo', '9/10/12', '7.9133', '19.541M', '26.001M']
spot of 7.9133 with type <class 'str'>
['Fr', '9/7/12', '7.9088', '16.762M', '25.674M']
spot of 7.9088 with type <class 'str'>
['Th', '9/6/12', '7.986', '23.131M', '25.745M']
spot of 7.986 with type <class 'str'>
['We', '9/5/12', '7.8407', '20.998M', '24.936M']
spot of 7.8407 with type <class 'str'>
['Tu', '9/4/12', '7.7136', '17.063M', '24.741M']
spot of 7.7136 with type <class 'str'>
['Fr', '8/31/12', '7.6636', '19.588M', '24.528M']
spot of 7.6636 with type <class 'str'>
['Th', '8/30/12', '7.6182', '15.827M', '24.433M']
spot of 7.6182 with type <class 'str'>
['We', '8/29/12', '7.6909', '23.519M', '24.724M']
spot of 7.6909 with type <class 'str'>
['Tu', '8/28/12', '7.6727', '34.271M', '26.156M']
spot of 7.6727 with type <class 'str'>
['Mo', '8/27/12', '7.8134', '27.243M', '25.183M']
spot of 7.8134 with type <class 'str'>
['Fr', '8/24/12', '7.9814', '22.117M', '24.388M']
spot of 7.9814 with type <class 'str'>
['Th', '8/23/12', '8.0064', '72.809M', '24.179M']
spot of 8.0064 with type <class 'str'>
['We', '8/22/12', '8.7169', '38.201M', '21.403M']
spot of 8.7169 with type <class 'str'>
['Tu', '8/21/12', '9.0483', '21.035M', '20.778M']
spot of 9.0483 with type <class 'str'>
['Mo', '8/20/12', '9.121', '17.914M', '20.449M']
spot of 9.121 with type <class 'str'>
['Fr', '8/17/12', '8.8622', '14.627M', '20.088M']
spot of 8.8622 with type <class 'str'>
['Th', '8/16/12', '8.8622', '17.835M', '20.347M']
spot of 8.8622 with type <class 'str'>
['We', '8/15/12', '8.7578', '10.989M', '20.269M']
spot of 8.7578 with type <class 'str'>
['Tu', '8/14/12', '8.7896', '18.078M', '20.686M']
spot of 8.7896 with type <class 'str'>
['Mo', '8/13/12', '8.9076', '13.864M', '20.866M']
spot of 8.9076 with type <class 'str'>
['Fr', '8/10/12', '8.9439', '18.171M', '21.102M']
spot of 8.9439 with type <class 'str'>
['Th', '8/9/12', '8.8123', '20.193M', '20.879M']
spot of 8.8123 with type <class 'str'>
['We', '8/8/12', '8.8123', '44.993M', '20.55M']
spot of 8.8123 with type <class 'str'>
['Tu', '8/7/12', '8.608', '19.672M', '19.438M']
spot of 8.608 with type <class 'str'>
['Mo', '8/6/12', '8.4854', '15.318M', '19.503M']
spot of 8.4854 with type <class 'str'>
['Fr', '8/3/12', '8.2901', '18.989M', '19.474M']
spot of 8.2901 with type <class 'str'>
['Th', '8/2/12', '7.9678', '31.166M', '20.246M']
spot of 7.9678 with type <class 'str'>
['We', '8/1/12', '8.0177', '28.83M', '19.736M']
spot of 8.0177 with type <class 'str'>
['Tu', '7/31/12', '8.2811', '16.097M', '19.452M']
spot of 8.2811 with type <class 'str'>
['Mo', '7/30/12', '8.2901', '12.503M', '19.499M']
spot of 8.2901 with type <class 'str'>
['Fr', '7/27/12', '8.4286', '18.512M', '19.494M']
spot of 8.4286 with type <class 'str'>
['Th', '7/26/12', '8.1766', '16.667M', '19.362M']
spot of 8.1766 with type <class 'str'>
['We', '7/25/12', '8.0722', '17.234M', '18.952M']
spot of 8.0722 with type <class 'str'>
['Tu', '7/24/12', '8.1653', '20.781M', '18.293M']
spot of 8.1653 with type <class 'str'>
['Mo', '7/23/12', '8.3083', '17.41M', '17.897M']
spot of 8.3083 with type <class 'str'>
['Fr', '7/20/12', '8.4468', '14.814M', '17.993M']
spot of 8.4468 with type <class 'str'>
['Th', '7/19/12', '8.6692', '15.26M', '18.068M']
spot of 8.6692 with type <class 'str'>
['We', '7/18/12', '8.7623', '28.313M', '17.819M']
spot of 8.7623 with type <class 'str'>
['Tu', '7/17/12', '8.5671', '20.657M', '17.348M']
spot of 8.5671 with type <class 'str'>
['Mo', '7/16/12', '8.5399', '14.874M', '17.479M']
spot of 8.5399 with type <class 'str'>
['Fr', '7/13/12', '8.617', '30.565M', '17.561M']
spot of 8.617 with type <class 'str'>
['Th', '7/12/12', '8.785', '23.526M', '16.833M']
spot of 8.785 with type <class 'str'>
['We', '7/11/12', '8.9394', '24.565M', '16.42M']
spot of 8.9394 with type <class 'str'>
['Tu', '7/10/12', '8.6761', '16.797M', '16.231M']
spot of 8.6761 with type <class 'str'>
['Mo', '7/9/12', '8.8213', '12.428M', '16.534M']
spot of 8.8213 with type <class 'str'>
['Fr', '7/6/12', '8.8849', '16.535M', '16.869M']
spot of 8.8849 with type <class 'str'>
['Th', '7/5/12', '9.2072', '10.526M', '16.492M']
spot of 9.2072 with type <class 'str'>
['Tu', '7/3/12', '9.2436', '7.341M', '16.56M']
spot of 9.2436 with type <class 'str'>
['Mo', '7/2/12', '9.1528', '14.849M', '16.818M']
spot of 9.1528 with type <class 'str'>
['Fr', '6/29/12', '9.1301', '18.848M', '16.788M']
spot of 9.1301 with type <class 'str'>
['Th', '6/28/12', '8.7896', '15.942M', '16.294M']
spot of 8.7896 with type <class 'str'>
['We', '6/27/12', '8.8577', '11.518M', '16.186M']
spot of 8.8577 with type <class 'str'>
['Tu', '6/26/12', '8.7873', '21.255M', '16.4M']
spot of 8.7873 with type <class 'str'>
['Mo', '6/25/12', '8.8735', '22.616M', '16.33M']
spot of 8.8735 with type <class 'str'>
['Fr', '6/22/12', '9.2481', '16.099M', '16.036M']
spot of 9.2481 with type <class 'str'>
['Th', '6/21/12', '9.214', '19.643M', '17.053M']
spot of 9.214 with type <class 'str'>
['We', '6/20/12', '9.6068', '17.342M', '17.203M']
spot of 9.6068 with type <class 'str'>
['Tu', '6/19/12', '9.4479', '21.721M', '17.44M']
spot of 9.4479 with type <class 'str'>
['Mo', '6/18/12', '9.5568', '21.35M', '17.51M']
spot of 9.5568 with type <class 'str'>
['Fr', '6/15/12', '9.8247', '17.45M', '17.661M']
spot of 9.8247 with type <class 'str'>
['Th', '6/14/12', '9.802', '10.875M', '20.431M']
spot of 9.802 with type <class 'str'>
['We', '6/13/12', '9.752', '11.557M', '23.291M']
spot of 9.752 with type <class 'str'>
['Tu', '6/12/12', '9.8519', '11.204M', '23.574M']
spot of 9.8519 with type <class 'str'>
['Mo', '6/11/12', '9.7203', '14.402M', '23.904M']
spot of 9.7203 with type <class 'str'>
['Fr', '6/8/12', '10.1289', '11.429M', '24.648M']
spot of 10.1289 with type <class 'str'>
['Th', '6/7/12', '10.0154', '14.333M', '25.001M']
spot of 10.0154 with type <class 'str'>
['We', '6/6/12', '10.147', '14.728M', '25.13M']
spot of 10.147 with type <class 'str'>
['Tu', '6/5/12', '9.8428', '20.204M', '25.219M']
spot of 9.8428 with type <class 'str'>
['Mo', '6/4/12', '9.5614', '18.208M', '24.994M']
spot of 9.5614 with type <class 'str'>
['Fr', '6/1/12', '9.6476', '31.344M', '24.867M']
spot of 9.6476 with type <class 'str'>
['Th', '5/31/12', '10.2969', '21.903M', '23.852M']
spot of 10.2969 with type <class 'str'>
['We', '5/30/12', '10.3241', '20.887M', '23.327M']
spot of 10.3241 with type <class 'str'>
['Tu', '5/29/12', '10.3513', '22.778M', '23.575M']
spot of 10.3513 with type <class 'str'>
['Fr', '5/25/12', '10.138', '23.611M', '22.936M']
spot of 10.138 with type <class 'str'>
['Th', '5/24/12', '9.8837', '58.996M', '22.298M']
spot of 9.8837 with type <class 'str'>
['We', '5/23/12', '9.5704', '53.779M', '19.349M']
spot of 9.5704 with type <class 'str'>
['Tu', '5/22/12', '9.8882', '15.81M', '16.671M']
spot of 9.8882 with type <class 'str'>
['Mo', '5/21/12', '9.9382', '16.144M', '16.655M']
spot of 9.9382 with type <class 'str'>
['Fr', '5/18/12', '9.743', '25.561M', '16.196M']
spot of 9.743 with type <class 'str'>
['Th', '5/17/12', '10.0154', '16.733M', '15.082M']
spot of 10.0154 with type <class 'str'>
['We', '5/16/12', '10.0017', '16.263M', '14.624M']
spot of 10.0017 with type <class 'str'>
['Tu', '5/15/12', '10.1697', '16.067M', '14.731M']
spot of 10.1697 with type <class 'str'>
['Mo', '5/14/12', '10.4262', '16.822M', '14.458M']
spot of 10.4262 with type <class 'str'>
['Fr', '5/11/12', '10.5102', '16.302M', '14.456M']
spot of 10.5102 with type <class 'str'>
['Th', '5/10/12', '10.6737', '16.117M', '14.679M']
spot of 10.6737 with type <class 'str'>
['We', '5/9/12', '10.592', '14.038M', '14.81M']
spot of 10.592 with type <class 'str'>
['Tu', '5/8/12', '10.5874', '24.605M', '15.081M']
spot of 10.5874 with type <class 'str'>
['Mo', '5/7/12', '10.8371', '13.193M', '14.502M']
spot of 10.8371 with type <class 'str'>
['Fr', '5/4/12', '11.0187', '14.032M', '14.631M']
spot of 11.0187 with type <class 'str'>
['Th', '5/3/12', '11.1141', '14.761M', '15.328M']
spot of 11.1141 with type <class 'str'>
['We', '5/2/12', '11.4636', '13.611M', '17.238M']
spot of 11.4636 with type <class 'str'>
['Tu', '5/1/12', '11.4273', '15.579M', '17.438M']
spot of 11.4273 with type <class 'str'>
['Mo', '4/30/12', '11.2412', '9.25M', '18.123M']
spot of 11.2412 with type <class 'str'>
['Fr', '4/27/12', '11.2366', '8.861M', '18.524M']
spot of 11.2366 with type <class 'str'>
['Th', '4/26/12', '11.2911', '9.862M', '18.915M']
spot of 11.2911 with type <class 'str'>
['We', '4/25/12', '11.273', '17.869M', '19.282M']
spot of 11.273 with type <class 'str'>
['Tu', '4/24/12', '11.0959', '11.967M', '19.148M']
spot of 11.0959 with type <class 'str'>
['Mo', '4/23/12', '11.0187', '16.796M', '19.278M']
spot of 11.0187 with type <class 'str'>
['Fr', '4/20/12', '11.1277', '19.646M', '19.285M']
spot of 11.1277 with type <class 'str'>
['Th', '4/19/12', '11.2185', '18.078M', '19.132M']
spot of 11.2185 with type <class 'str'>
['We', '4/18/12', '11.3184', '18.103M', '19.293M']

spot of 11.3184 with type <class 'str'>
['Tu', '4/17/12', '11.223', '15.92M', '19.311M']
spot of 11.223 with type <class 'str'>
['Mo', '4/16/12', '11.0369', '15.134M', '19.84M']
spot of 11.0369 with type <class 'str'>
['Fr', '4/13/12', '11.1549', '24.483M', '20.21M']
spot of 11.1549 with type <class 'str'>
['Th', '4/12/12', '11.3955', '43.412M', '20.864M']
spot of 11.3955 with type <class 'str'>
['We', '4/11/12', '10.6283', '16.611M', '21.004M']
spot of 10.6283 with type <class 'str'>
['Tu', '4/10/12', '10.5647', '25.85M', '21.507M']
spot of 10.5647 with type <class 'str'>
['Mo', '4/9/12', '10.5057', '15.265M', '20.567M']
spot of 10.5057 with type <class 'str'>
['Th', '4/5/12', '10.4921', '14.733M', '20.938M']
spot of 10.4921 with type <class 'str'>
['We', '4/4/12', '10.5647', '15.362M', '21.319M']
spot of 10.5647 with type <class 'str'>
['Tu', '4/3/12', '10.6464', '15.855M', '21.739M']
spot of 10.6464 with type <class 'str'>
['Mo', '4/2/12', '10.8417', '13.918M', '22.238M']
spot of 10.8417 with type <class 'str'>
['Fr', '3/30/12', '10.819', '16.904M', '22.417M']
spot of 10.819 with type <class 'str'>
['Th', '3/29/12', '10.6737', '17.345M', '22.852M']
spot of 10.6737 with type <class 'str'>
['We', '3/28/12', '10.7055', '20.502M', '22.628M']
spot of 10.7055 with type <class 'str'>
['Tu', '3/27/12', '10.7236', '18.367M', '22.357M']
spot of 10.7236 with type <class 'str'>
['Mo', '3/26/12', '10.8462', '23.853M', '23.285M']
spot of 10.8462 with type <class 'str'>
['Fr', '3/23/12', '10.7282', '20.692M', '23.342M']
spot of 10.7282 with type <class 'str'>
['Th', '3/22/12', '10.4558', '34.292M', '23.471M']
spot of 10.4558 with type <class 'str'>
['We', '3/21/12', '10.651', '45.513M', '22.865M']
spot of 10.651 with type <class 'str'>
['Tu', '3/20/12', '10.8871', '24.146M', '22.421M']
spot of 10.8871 with type <class 'str'>
['Mo', '3/19/12', '11.0505', '11.764M', '22.351M']
spot of 11.0505 with type <class 'str'>
['Fr', '3/16/12', '11.1186', '20.824M', '23.449M']
spot of 11.1186 with type <class 'str'>
['Th', '3/15/12', '11.0777', '20.442M', '23.919M']
spot of 11.0777 with type <class 'str'>
['We', '3/14/12', '11.0505', '21.666M', '27.315M']
spot of 11.0505 with type <class 'str'>
['Tu', '3/13/12', '11.1549', '23.336M', '27.779M']
spot of 11.1549 with type <class 'str'>
['Mo', '3/12/12', '10.9143', '16.614M', '27.179M']
spot of 10.9143 with type <class 'str'>
['Fr', '3/9/12', '10.9779', '23.428M', '27.307M']
spot of 10.9779 with type <class 'str'>
['Th', '3/8/12', '11.1867', '13.985M', '27.12M']
spot of 11.1867 with type <class 'str'>
['We', '3/7/12', '11.0596', '16.434M', '27.238M']
spot of 11.0596 with type <class 'str'>
['Tu', '3/6/12', '10.9733', '32.285M', '26.874M']
spot of 10.9733 with type <class 'str'>
['Mo', '3/5/12', '11.3547', '24.717M', '25.332M']
spot of 11.3547 with type <class 'str'>
['Fr', '3/2/12', '11.4954', '22.614M', '24.353M']
spot of 11.4954 with type <class 'str'>
['Th', '3/1/12', '11.4636', '25.214M', '23.914M']
spot of 11.4636 with type <class 'str'>
['We', '2/29/12', '11.4909', '38.841M', '23.112M']
spot of 11.4909 with type <class 'str'>
['Tu', '2/28/12', '11.8859', '23.097M', '21.496M']
spot of 11.8859 with type <class 'str'>
['Mo', '2/27/12', '11.9177', '28.237M', '20.809M']
spot of 11.9177 with type <class 'str'>
['Fr', '2/24/12', '12.0947', '27.875M', '19.702M']
spot of 12.0947 with type <class 'str'>
['Th', '2/23/12', '12.2809', '71.379M', '18.691M']
spot of 12.2809 with type <class 'str'>
['We', '2/22/12', '13.1389', '28.63M', '14.93M']
spot of 13.1389 with type <class 'str'>
['Tu', '2/21/12', '13.3251', '14.343M', '13.938M']
spot of 13.3251 with type <class 'str'>
['Fr', '2/17/12', '13.434', '18.531M', '13.79M']
spot of 13.434 with type <class 'str'>
['Th', '2/16/12', '13.568', '20.626M', '13.348M']
spot of 13.568 with type <class 'str'>
['We', '2/15/12', '13.2207', '15.742M', '12.734M']
spot of 13.2207 with type <class 'str'>
['Tu', '2/14/12', '13.2025', '10.978M', '12.602M']
spot of 13.2025 with type <class 'str'>
['Mo', '2/13/12', '13.0527', '9.161M', '12.863M']
spot of 13.0527 with type <class 'str'>
['Fr', '2/10/12', '13.03', '10.024M', '13.735M']
spot of 13.03 with type <class 'str'>
['Th', '2/9/12', '13.2161', '16.034M', '14.566M']
spot of 13.2161 with type <class 'str'>
['We', '2/8/12', '13.375', '13.191M', '14.243M']
spot of 13.375 with type <class 'str'>
['Tu', '2/7/12', '13.1435', '14.586M', '14.128M']
spot of 13.1435 with type <class 'str'>
['Mo', '2/6/12', '13.0572', '12.804M', '13.902M']
spot of 13.0572 with type <class 'str'>
['Fr', '2/3/12', '13.198', '11.63M', '13.835M']
spot of 13.198 with type <class 'str'>
['Th', '2/2/12', '12.9392', '12.709M', '13.755M']
spot of 12.9392 with type <class 'str'>
['We', '2/1/12', '13.0572', '14.961M', '13.815M']
spot of 13.0572 with type <class 'str'>
['Tu', '1/31/12', '12.7031', '13.752M', '13.657M']
spot of 12.7031 with type <class 'str'>
['Mo', '1/30/12', '12.6577', '12.122M', '13.478M']
spot of 12.6577 with type <class 'str'>
['Fr', '1/27/12', '12.6577', '11.903M', '13.45M']
spot of 12.6577 with type <class 'str'>
['Th', '1/26/12', '12.7076', '11.408M', '13.58M']
spot of 12.7076 with type <class 'str'>
['We', '1/25/12', '12.8574', '13.772M', '13.56M']
spot of 12.8574 with type <class 'str'>
['Tu', '1/24/12', '12.9482', '14.888M', '13.535M']
spot of 12.9482 with type <class 'str'>
['Mo', '1/23/12', '13.0209', '22.237M', '13.309M']
spot of 13.0209 with type <class 'str'>
['Fr', '1/20/12', '12.7712', '22.492M', '12.437M']
spot of 12.7712 with type <class 'str'>
['Th', '1/19/12', '12.3263', '11.183M', '11.635M']
spot of 12.3263 with type <class 'str'>
['We', '1/18/12', '12.2582', '11.468M', '11.687M']
spot of 12.2582 with type <class 'str'>
['Tu', '1/17/12', '12.0107', '11.196M', '11.629M']
spot of 12.0107 with type <class 'str'>
['Fr', '1/13/12', '12.0266', '11.806M', '11.746M']
spot of 12.0266 with type <class 'str'>
['Th', '1/12/12', '12.2355', '10.434M', '12.272M']
spot of 12.2355 with type <class 'str'>
['We', '1/11/12', '12.0924', '13.6M', '12.561M']
spot of 12.0924 with type <class 'str'>
['Tu', '1/10/12', '12.1174', '12.6M', '12.778M']
spot of 12.1174 with type <class 'str'>
['Mo', '1/9/12', '12.0039', '11.058M', '14.145M']
spot of 12.0039 with type <class 'str'>
['Fr', '1/6/12', '11.9858', '11.706M', '14.602M']
spot of 11.9858 with type <class 'str'>
['Th', '1/5/12', '12.0312', '13.847M', '15.31M']
spot of 12.0312 with type <class 'str'>
['We', '1/4/12', '12.0766', '11.116M', '15.602M']
spot of 12.0766 with type <class 'str'>
['Tu', '1/3/12', '12.0856', '13.391M', '16.168M']
spot of 12.0856 with type <class 'str'>
['Fr', '12/30/11', '11.6952', '11.496M', '16.563M']
spot of 11.6952 with type <class 'str'>
['Th', '12/29/11', '11.6316', '9.161M', '17.242M']
spot of 11.6316 with type <class 'str'>
['We', '12/28/11', '11.4409', '10.469M', '17.826M']
spot of 11.4409 with type <class 'str'>
['Tu', '12/27/11', '11.6453', '11.95M', '18.279M']
spot of 11.6453 with type <class 'str'>
['Fr', '12/23/11', '11.7497', '10.606M', '18.716M']
spot of 11.7497 with type <class 'str'>
['Th', '12/22/11', '11.7406', '12.946M', '19.372M']
spot of 11.7406 with type <class 'str'>
['We', '12/21/11', '11.5499', '19.701M', '19.987M']
spot of 11.5499 with type <class 'str'>
['Tu', '12/20/11', '11.7633', '14.772M', '21.086M']
spot of 11.7633 with type <class 'str'>
['Mo', '12/19/11', '11.4092', '16.846M', '21.915M']
spot of 11.4092 with type <class 'str'>
['Fr', '12/16/11', '11.7315', '33.111M', '22.115M']
spot of 11.7315 with type <class 'str'>
['Th', '12/15/11', '11.8768', '17.911M', '20.509M']
spot of 11.8768 with type <class 'str'>
['We', '12/14/11', '11.9767', '22.32M', '20.948M']
spot of 11.9767 with type <class 'str'>
['Tu', '12/13/11', '12.1674', '18.242M', '22.787M']
spot of 12.1674 with type <class 'str'>
['Mo', '12/12/11', '12.4125', '19.599M', '23.871M']
spot of 12.4125 with type <class 'str'>
['Fr', '12/9/11', '12.6668', '19.313M', '24.516M']
spot of 12.6668 with type <class 'str'>
['Th', '12/8/11', '12.5578', '21.688M', '24.451M']
spot of 12.5578 with type <class 'str'>
['We', '12/7/11', '12.8983', '17.919M', '24.35M']
spot of 12.8983 with type <class 'str'>
['Tu', '12/6/11', '12.7939', '17.255M', '24.495M']
spot of 12.7939 with type <class 'str'>
['Mo', '12/5/11', '12.7666', '18.507M', '24.102M']
spot of 12.7666 with type <class 'str'>
['Fr', '12/2/11', '12.5669', '20.454M', '23.746M']
spot of 12.5669 with type <class 'str'>
['Th', '12/1/11', '12.812', '22.169M', '23.385M']
spot of 12.812 with type <class 'str'>
['We', '11/30/11', '12.6895', '36.177M', '23.151M']
spot of 12.6895 with type <class 'str'>
['Tu', '11/29/11', '12.2128', '27.206M', '21.9M']
spot of 12.2128 with type <class 'str'>
['Mo', '11/28/11', '12.0448', '19.859M', '21.279M']
spot of 12.0448 with type <class 'str'>
['Fr', '11/25/11', '11.5272', '9.019M', '20.798M']
spot of 11.5272 with type <class 'str'>
['We', '11/23/11', '11.7043', '24.496M', '21.26M']
spot of 11.7043 with type <class 'str'>
['Tu', '11/22/11', '12.0993', '49.9M', '20.717M']
spot of 12.0993 with type <class 'str'>
['Mo', '11/21/11', '12.1946', '34.504M', '18.672M']
spot of 12.1946 with type <class 'str'>
['Fr', '11/18/11', '12.7076', '29.28M', '17.48M']
spot of 12.7076 with type <class 'str'>
['Th', '11/17/11', '12.3898', '18.327M', '17.36M']
spot of 12.3898 with type <class 'str'>
['We', '11/16/11', '12.6804', '20.177M', '17.889M']
spot of 12.6804 with type <class 'str'>
['Tu', '11/15/11', '12.8211', '20.089M', '17.9M']
spot of 12.8211 with type <class 'str'>
['Mo', '11/14/11', '12.4034', '11.364M', '17.567M']
spot of 12.4034 with type <class 'str'>
['Fr', '11/11/11', '12.5215', '13.164M', '17.652M']
spot of 12.5215 with type <class 'str'>
['Th', '11/10/11', '12.1492', '15.049M', '17.772M']
spot of 12.1492 with type <class 'str'>
['We', '11/9/11', '11.954', '18.655M', '18.016M']
spot of 11.954 with type <class 'str'>
['Tu', '11/8/11', '12.6395', '17.413M', '17.691M']
spot of 12.6395 with type <class 'str'>
['Mo', '11/7/11', '12.6577', '17.891M', '17.902M']
spot of 12.6577 with type <class 'str'>
['Fr', '11/4/11', '12.2445', '12.635M', '17.825M']
spot of 12.2445 with type <class 'str'>
['Th', '11/3/11', '12.1855', '15.951M', '17.782M']
spot of 12.1855 with type <class 'str'>
['We', '11/2/11', '11.7633', '16.355M', '17.751M']
spot of 11.7633 with type <class 'str'>
['Tu', '11/1/11', '11.6407', '19.231M', '18.037M']
spot of 11.6407 with type <class 'str'>
['Mo', '10/31/11', '12.0811', '16.621M', '17.932M']
spot of 12.0811 with type <class 'str'>
['Fr', '10/28/11', '12.6849', '27.477M', '18.272M']
spot of 12.6849 with type <class 'str'>
['Th', '10/27/11', '12.2536', '26.263M', '18.453M']
spot of 12.2536 with type <class 'str'>
['We', '10/26/11', '11.6907', '20.334M', '18.601M']
spot of 11.6907 with type <class 'str'>
['Tu', '10/25/11', '11.3728', '15.1M', '19.315M']
spot of 11.3728 with type <class 'str'>
['Mo', '10/24/11', '11.8132', '12.634M', '20.373M']
spot of 11.8132 with type <class 'str'>
['Fr', '10/21/11', '11.5227', '14.973M', '21.431M']
spot of 11.5227 with type <class 'str'>
['Th', '10/20/11', '11.2321', '18.704M', '23.109M']
spot of 11.2321 with type <class 'str'>
['We', '10/19/11', '11.3411', '13.777M', '23.651M']
spot of 11.3411 with type <class 'str'>
['Tu', '10/18/11', '11.6271', '20.585M', '24.321M']
spot of 11.6271 with type <class 'str'>
['Mo', '10/17/11', '11.2866', '16.739M', '25.584M']
spot of 11.2866 with type <class 'str'>
['Fr', '10/14/11', '11.8541', '11.98M', '26.596M']
spot of 11.8541 with type <class 'str'>
['Th', '10/13/11', '11.6362', '15.493M', '30.391M']
spot of 11.6362 with type <class 'str'>
['We', '10/12/11', '11.7451', '20.651M', '33.646M']
spot of 11.7451 with type <class 'str'>
['Tu', '10/11/11', '11.7678', '17.651M', '38.162M']
spot of 11.7678 with type <class 'str'>
['Mo', '10/10/11', '11.6861', '21.722M', '38.708M']
spot of 11.6861 with type <class 'str'>
['Fr', '10/7/11', '11.2957', '30.192M', '38.386M']
spot of 11.2957 with type <class 'str'>
['Th', '10/6/11', '11.3728', '28.482M', '37.934M']
spot of 11.3728 with type <class 'str'>
['We', '10/5/11', '10.8326', '31.038M', '37.09M']
spot of 10.8326 with type <class 'str'>
['Tu', '10/4/11', '10.4512', '30.969M', '36.523M']
spot of 10.4512 with type <class 'str'>
['Mo', '10/3/11', '10.0789', '28.507M', '36.081M']
spot of 10.0789 with type <class 'str'>
['Fr', '9/30/11', '10.1924', '40.147M', '36.063M']
spot of 10.1924 with type <class 'str'>
['Th', '9/29/11', '10.7963', '26.829M', '35.847M']
spot of 10.7963 with type <class 'str'>
['We', '9/28/11', '10.5284', '23.822M', '35.493M']
spot of 10.5284 with type <class 'str'>
['Tu', '9/27/11', '10.71', '39.53M', '35.268M']
spot of 10.71 with type <class 'str'>
['Mo', '9/26/11', '10.3105', '31.931M', '34.51M']
spot of 10.3105 with type <class 'str'>
['Fr', '9/23/11', '10.1334', '68.905M', '33.631M']
spot of 10.1334 with type <class 'str'>
['Th', '9/22/11', '10.3513', '64.316M', '30.128M']
spot of 10.3513 with type <class 'str'>
['We', '9/21/11', '10.8871', '88.389M', '27.35M']
spot of 10.8871 with type <class 'str'>
['Tu', '9/20/11', '10.2015', '25.848M', '23.018M']
spot of 10.2015 with type <class 'str'>
['Mo', '9/19/11', '10.4013', '16.879M', '22.833M']
spot of 10.4013 with type <class 'str'>
['Fr', '9/16/11', '10.6828', '23.419M', '23.231M']
spot of 10.6828 with type <class 'str'>
['Th', '9/15/11', '10.5647', '15.821M', '23.373M']
spot of 10.5647 with type <class 'str'>
['We', '9/14/11', '10.4104', '22.528M', '24.246M']
spot of 10.4104 with type <class 'str'>
['Tu', '9/13/11', '10.3059', '24.348M', '25.021M']
spot of 10.3059 with type <class 'str'>
['Mo', '9/12/11', '10.2515', '28.234M', '27.473M']
spot of 10.2515 with type <class 'str'>
['Fr', '9/9/11', '10.2832', '36.903M', '34.187M']
spot of 10.2832 with type <class 'str'>
['Th', '9/8/11', '10.8371', '21.518M', '38.127M']
spot of 10.8371 with type <class 'str'>
['We', '9/7/11', '10.9597', '20.451M', '38.324M']
spot of 10.9597 with type <class 'str'>
['Tu', '9/6/11', '10.7282', '28.162M', '38.172M']
spot of 10.7282 with type <class 'str'>
['Fr', '9/2/11', '11.0505', '18.739M', '37.447M']
spot of 11.0505 with type <class 'str'>
['Th', '9/1/11', '11.6543', '16.367M', '37.779M']
spot of 11.6543 with type <class 'str'>
['We', '8/31/11', '11.8178', '22.64M', '38.479M']
spot of 11.8178 with type <class 'str'>
['Tu', '8/30/11', '11.8269', '23.413M', '38.817M']
spot of 11.8269 with type <class 'str'>
['Mo', '8/29/11', '11.8586', '23.076M', '39.454M']
spot of 11.8586 with type <class 'str'>
['Fr', '8/26/11', '11.2684', '22.842M', '40.17M']
spot of 11.2684 with type <class 'str'>
['Th', '8/25/11', '11.3638', '25.557M', '40.752M']
spot of 11.3638 with type <class 'str'>
['We', '8/24/11', '11.4455', '28.907M', '40.728M']
spot of 11.4455 with type <class 'str'>
['Tu', '8/23/11', '11.1413', '34.149M', '40.208M']
spot of 11.1413 with type <class 'str'>
['Mo', '8/22/11', '11.1004', '61.134M', '39.003M']
spot of 11.1004 with type <class 'str'>
['Fr', '8/19/11', '10.7145', '128.945M', '35.977M']
spot of 10.7145 with type <class 'str'>
['Th', '8/18/11', '13.3977', '96.009M', '28.744M']
spot of 13.3977 with type <class 'str'>
['We', '8/17/11', '14.2512', '24.472M', '23.324M']
spot of 14.2512 with type <class 'str'>
['Tu', '8/16/11', '14.8051', '18.159M', '22.956M']
spot of 14.8051 with type <class 'str'>
['Mo', '8/15/11', '14.7234', '17.292M', '22.72M']
spot of 14.7234 with type <class 'str'>
['Fr', '8/12/11', '14.6735', '23.721M', '22.843M']
spot of 14.6735 with type <class 'str'>
['Th', '8/11/11', '14.0969', '26.863M', '22.332M']
spot of 14.0969 with type <class 'str'>
['We', '8/10/11', '13.5566', '27.709M', '21.749M']
spot of 13.5566 with type <class 'str'>
['Tu', '8/9/11', '14.3148', '32.971M', '20.902M']
spot of 14.3148 with type <class 'str'>
['Mo', '8/8/11', '13.9879', '33.824M', '19.769M']
spot of 13.9879 with type <class 'str'>
['Fr', '8/5/11', '14.8142', '31.567M', '18.536M']
spot of 14.8142 with type <class 'str'>
['Th', '8/4/11', '14.7734', '25.202M', '17.442M']
spot of 14.7734 with type <class 'str'>
['We', '8/3/11', '15.5633', '21.103M', '16.792M']
spot of 15.5633 with type <class 'str'>
['Tu', '8/2/11', '15.5951', '16.07M', '16.122M']
spot of 15.5951 with type <class 'str'>
['Mo', '8/1/11', '15.981', '15.745M', '16.063M']
spot of 15.981 with type <class 'str'>
['Fr', '7/29/11', '15.9674', '20.457M', '16.231M']
spot of 15.9674 with type <class 'str'>
['Th', '7/28/11', '16.4486', '14.705M', '15.872M']
spot of 16.4486 with type <class 'str'>
['We', '7/27/11', '16.7074', '18.946M', '15.961M']
spot of 16.7074 with type <class 'str'>
['Tu', '7/26/11', '17.0116', '14.618M', '15.792M']
spot of 17.0116 with type <class 'str'>
['Mo', '7/25/11', '16.8391', '19.148M', '15.909M']
spot of 16.8391 with type <class 'str'>
['Fr', '7/22/11', '16.662', '16.046M', '15.623M']
spot of 16.662 with type <class 'str'>
['Th', '7/21/11', '16.4486', '18.12M', '16.379M']
spot of 16.4486 with type <class 'str'>
['We', '7/20/11', '16.0173', '15.009M', '16.072M']
spot of 16.0173 with type <class 'str'>
['Tu', '7/19/11', '16.1672', '15.971M', '16.02M']
spot of 16.1672 with type <class 'str'>
['Mo', '7/18/11', '15.8993', '15.329M', '15.972M']
spot of 15.8993 with type <class 'str'>
['Fr', '7/15/11', '15.9311', '15.167M', '17.406M']
spot of 15.9311 with type <class 'str'>
['Th', '7/14/11', '15.9492', '15.442M', '17.695M']
spot of 15.9492 with type <class 'str'>
['We', '7/13/11', '16.09', '11.065M', '17.521M']
spot of 16.09 with type <class 'str'>
['Tu', '7/12/11', '16.0128', '15.174M', '17.914M']
spot of 16.0128 with type <class 'str'>
['Mo', '7/11/11', '16.0219', '18.265M', '18.011M']
spot of 16.0219 with type <class 'str'>
['Fr', '7/8/11', '16.5394', '15.076M', '19.418M']
spot of 16.5394 with type <class 'str'>
['Th', '7/7/11', '16.5485', '16.04M', '20.291M']
spot of 16.5485 with type <class 'str'>
['We', '7/6/11', '16.435', '16.403M', '20.885M']
spot of 16.435 with type <class 'str'>
['Tu', '7/5/11', '16.5576', '16.387M', '21.133M']
spot of 16.5576 with type <class 'str'>
['Fr', '7/1/11', '16.8209', '14.855M', '21.49M']

spot of 16.8209 with type <class 'str'>
['Th', '6/30/11', '16.5258', '27.378M', '21.454M']
spot of 16.5258 with type <class 'str'>
['We', '6/29/11', '16.1399', '13.513M', '20.402M']
spot of 16.1399 with type <class 'str'>
['Tu', '6/28/11', '15.9311', '14.238M', '20.568M']
spot of 15.9311 with type <class 'str'>
['Mo', '6/27/11', '15.8811', '15.243M', '20.75M']
spot of 15.8811 with type <class 'str'>
['Fr', '6/24/11', '15.8448', '36.851M', '20.761M']
spot of 15.8448 with type <class 'str'>
['Th', '6/23/11', '15.9946', '19.499M', '19.369M']
spot of 15.9946 with type <class 'str'>
['We', '6/22/11', '15.9447', '12.834M', '19.18M']
spot of 15.9447 with type <class 'str'>
['Tu', '6/21/11', '16.0264', '16.959M', '19.612M']
spot of 16.0264 with type <class 'str'>
['Mo', '6/20/11', '15.8857', '16.632M', '20.306M']
spot of 15.8857 with type <class 'str'>
['Fr', '6/17/11', '15.8902', '39.362M', '20.572M']
spot of 15.8902 with type <class 'str'>
['Th', '6/16/11', '15.8766', '28.169M', '19.761M']
spot of 15.8766 with type <class 'str'>
['We', '6/15/11', '15.5542', '24.951M', '19.582M']
spot of 15.5542 with type <class 'str'>
['Tu', '6/14/11', '15.7676', '20.124M', '19.74M']
spot of 15.7676 with type <class 'str'>
['Mo', '6/13/11', '15.7313', '21.74M', '20.166M']
spot of 15.7313 with type <class 'str'>
['Fr', '6/10/11', '16.0037', '14.321M', '20.25M']
spot of 16.0037 with type <class 'str'>
['Th', '6/9/11', '16.099', '11.591M', '21.374M']
spot of 16.099 with type <class 'str'>
['We', '6/8/11', '16.0536', '16.012M', '23.578M']
spot of 16.0536 with type <class 'str'>
['Tu', '6/7/11', '16.149', '16.97M', '29.201M']
spot of 16.149 with type <class 'str'>
['Mo', '6/6/11', '16.3261', '15.408M', '29.292M']
spot of 16.3261 with type <class 'str'>
['Fr', '6/3/11', '16.3942', '15.965M', '29.203M']
spot of 16.3942 with type <class 'str'>
['Th', '6/2/11', '16.5372', '16.66M', '29.083M']
spot of 16.5372 with type <class 'str'>
['We', '6/1/11', '16.6302', '19.318M', '29.101M']
spot of 16.6302 with type <class 'str'>
['Tu', '5/31/11', '16.9707', '27.37M', '28.414M']
spot of 16.9707 with type <class 'str'>
['Fr', '5/27/11', '16.7801', '20.623M', '27.21M']
spot of 16.7801 with type <class 'str'>
['Th', '5/26/11', '16.5939', '27.189M', '26.691M']
spot of 16.5939 with type <class 'str'>
['We', '5/25/11', '16.3488', '25.484M', '25.738M']
spot of 16.3488 with type <class 'str'>
['Tu', '5/24/11', '16.3329', '27.332M', '25.064M']
spot of 16.3329 with type <class 'str'>
['Mo', '5/23/11', '16.258', '26.504M', '24.234M']
spot of 16.258 with type <class 'str'>
['Fr', '5/20/11', '16.3351', '23.01M', '23.418M']
spot of 16.3351 with type <class 'str'>
['Th', '5/19/11', '16.4032', '31.177M', '22.847M']
spot of 16.4032 with type <class 'str'>
['We', '5/18/11', '16.5667', '44.645M', '22.078M']
spot of 16.5667 with type <class 'str'>
['Tu', '5/17/11', '16.7574', '100.36M', '19.975M']
spot of 16.7574 with type <class 'str'>
['Mo', '5/16/11', '18.0694', '18.332M', '14.701M']
spot of 18.0694 with type <class 'str'>
['Fr', '5/13/11', '18.3464', '14.072M', '14.407M']
spot of 18.3464 with type <class 'str'>
['Th', '5/12/11', '18.5598', '14.172M', '14.104M']
spot of 18.5598 with type <class 'str'>
['We', '5/11/11', '18.6415', '16.932M', '14.106M']
spot of 18.6415 with type <class 'str'>
['Tu', '5/10/11', '18.873', '9.014M', '13.878M']
spot of 18.873 with type <class 'str'>
['Mo', '5/9/11', '18.6233', '9.309M', '14.513M']
spot of 18.6233 with type <class 'str'>
['Fr', '5/6/11', '18.528', '12.841M', '14.872M']
spot of 18.528 with type <class 'str'>
['Th', '5/5/11', '18.5234', '12.88M', '15.144M']
spot of 18.5234 with type <class 'str'>
['We', '5/4/11', '18.587', '15.382M', '15.133M']
spot of 18.587 with type <class 'str'>
['Tu', '5/3/11', '18.3101', '14.878M', '14.986M']
spot of 18.3101 with type <class 'str'>
['Mo', '5/2/11', '18.1966', '14.269M', '14.848M']
spot of 18.1966 with type <class 'str'>
['Fr', '4/29/11', '18.3282', '14.448M', '14.782M']
spot of 18.3282 with type <class 'str'>
['Th', '4/28/11', '18.4009', '19.634M', '14.932M']
spot of 18.4009 with type <class 'str'>
['We', '4/27/11', '18.6324', '13.11M', '14.936M']
spot of 18.6324 with type <class 'str'>
['Tu', '4/26/11', '18.4735', '21.243M', '15.139M']
spot of 18.4735 with type <class 'str'>
['Mo', '4/25/11', '18.4009', '13.927M', '15.18M']
spot of 18.4009 with type <class 'str'>
['Th', '4/21/11', '18.6097', '9.527M', '15.532M']
spot of 18.6097 with type <class 'str'>
['We', '4/20/11', '18.5643', '14.196M', '15.962M']
spot of 18.5643 with type <class 'str'>
['Tu', '4/19/11', '18.1558', '13.508M', '16.174M']
spot of 18.1558 with type <class 'str'>
['Mo', '4/18/11', '18.0467', '18.54M', '17.014M']
spot of 18.0467 with type <class 'str'>
['Fr', '4/15/11', '18.2783', '14.692M', '16.536M']
spot of 18.2783 with type <class 'str'>
['Th', '4/14/11', '18.3237', '16.919M', '16.592M']
spot of 18.3237 with type <class 'str'>
['We', '4/13/11', '18.6733', '12.716M', '16.703M']
spot of 18.6733 with type <class 'str'>
['Tu', '4/12/11', '18.6506', '13.185M', '16.868M']
spot of 18.6506 with type <class 'str'>
['Mo', '4/11/11', '18.6369', '12.809M', '16.946M']
spot of 18.6369 with type <class 'str'>
['Fr', '4/8/11', '18.478', '13.268M', '17.054M']
spot of 18.478 with type <class 'str'>
['Th', '4/7/11', '18.6506', '16.703M', '18.099M']
spot of 18.6506 with type <class 'str'>
['We', '4/6/11', '18.696', '19.694M', '18.76M']
spot of 18.696 with type <class 'str'>
['Tu', '4/5/11', '18.2919', '16.155M', '19.167M']
spot of 18.2919 with type <class 'str'>
['Mo', '4/4/11', '18.3146', '21.852M', '19.57M']
spot of 18.3146 with type <class 'str'>
['Fr', '4/1/11', '18.6052', '19.218M', '19.276M']
spot of 18.6052 with type <class 'str'>
['Th', '3/31/11', '18.6006', '15.975M', '19.094M']
spot of 18.6006 with type <class 'str'>
['We', '3/30/11', '18.7504', '17.369M', '19.356M']
spot of 18.7504 with type <class 'str'>
['Tu', '3/29/11', '18.6642', '26.113M', '19.216M']
spot of 18.6642 with type <class 'str'>
['Mo', '3/28/11', '19.1318', '11.376M', '18.52M']
spot of 19.1318 with type <class 'str'>
['Fr', '3/25/11', '19.3089', '15.531M', '18.948M']
spot of 19.3089 with type <class 'str'>
['Th', '3/24/11', '19.5677', '18.581M', '19.761M']
spot of 19.5677 with type <class 'str'>
['We', '3/23/11', '19.1', '15.194M', '19.928M']
spot of 19.1 with type <class 'str'>
['Tu', '3/22/11', '18.9502', '14.356M', '19.89M']
spot of 18.9502 with type <class 'str'>
['Mo', '3/21/11', '18.9616', '14.427M', '20.238M']
spot of 18.9616 with type <class 'str'>
['Fr', '3/18/11', '18.7595', '28.941M', '21.123M']
spot of 18.7595 with type <class 'str'>
['Th', '3/17/11', '18.8095', '26.618M', '20.979M']
spot of 18.8095 with type <class 'str'>
['We', '3/16/11', '18.2238', '25.8M', '22.993M']
spot of 18.2238 with type <class 'str'>
['Tu', '3/15/11', '18.5825', '22.19M', '27.72M']
spot of 18.5825 with type <class 'str'>
['Mo', '3/14/11', '18.8367', '17.447M', '28.296M']
spot of 18.8367 with type <class 'str'>
['Fr', '3/11/11', '18.9457', '16.484M', '28.035M']
spot of 18.9457 with type <class 'str'>
['Th', '3/10/11', '18.8322', '19.911M', '27.591M']
spot of 18.8322 with type <class 'str'>
['We', '3/9/11', '19.0909', '15.271M', '27.264M']
spot of 19.0909 with type <class 'str'>
['Tu', '3/8/11', '19.2498', '15.676M', '27.085M']
spot of 19.2498 with type <class 'str'>
['Mo', '3/7/11', '19.0592', '17.799M', '26.839M']
spot of 19.0592 with type <class 'str'>
['Fr', '3/4/11', '19.3452', '27.722M', '26.609M']
spot of 19.3452 with type <class 'str'>
['Th', '3/3/11', '19.6131', '21.082M', '26.304M']
spot of 19.6131 with type <class 'str'>
['We', '3/2/11', '19.6312', '14.628M', '26.185M']
spot of 19.6312 with type <class 'str'>
['Tu', '3/1/11', '19.4814', '19.571M', '25.87M']
spot of 19.4814 with type <class 'str'>
['Mo', '2/28/11', '19.8083', '27.7M', '25.725M']
spot of 19.8083 with type <class 'str'>
['Fr', '2/25/11', '19.377', '26.785M', '24.626M']
spot of 19.377 with type <class 'str'>
['Th', '2/24/11', '19.1454', '56.825M', '23.881M']
spot of 19.1454 with type <class 'str'>
['We', '2/23/11', '19.7901', '96.706M', '20.876M']
spot of 19.7901 with type <class 'str'>
['Tu', '2/22/11', '21.8967', '30.832M', '15.395M']
spot of 21.8967 with type <class 'str'>
['Fr', '2/18/11', '22.0965', '13.534M', '14.767M']
spot of 22.0965 with type <class 'str'>
['Th', '2/17/11', '22.0738', '9.831M', '15.241M']
spot of 22.0738 with type <class 'str'>
['We', '2/16/11', '22.2417', '15.006M', '15.545M']
spot of 22.2417 with type <class 'str'>
['Tu', '2/15/11', '21.7877', '12.573M', '15.505M']
spot of 21.7877 with type <class 'str'>
['Mo', '2/14/11', '21.933', '11.992M', '15.845M']
spot of 21.933 with type <class 'str'>
['Fr', '2/11/11', '22.0828', '14.349M', '16.175M']
spot of 22.0828 with type <class 'str'>
['Th', '2/10/11', '22.0374', '23.147M', '17.206M']
spot of 22.0374 with type <class 'str'>
['We', '2/9/11', '22.219', '19.301M', '17.099M']
spot of 22.219 with type <class 'str'>
['Tu', '2/8/11', '21.8558', '9.9M', '16.913M']

spot of 21.8558 with type <class 'str'>
['Mo', '2/7/11', '21.8558', '17.392M', '17.237M']
spot of 21.8558 with type <class 'str'>
['Fr', '2/4/11', '21.5335', '11.214M', '17.101M']
spot of 21.5335 with type <class 'str'>
['Th', '2/3/11', '21.4836', '15.619M', '17.228M']
spot of 21.4836 with type <class 'str'>
['We', '2/2/11', '21.2883', '11.742M', '17.145M']
spot of 21.2883 with type <class 'str'>
['Tu', '2/1/11', '21.1204', '14.491M', '18.028M']
spot of 21.1204 with type <class 'str'>
['Mo', '1/31/11', '20.7435', '21.41M', '17.927M']
spot of 20.7435 with type <class 'str'>
['Fr', '1/28/11', '20.6618', '20.65M', '17.985M']
spot of 20.6618 with type <class 'str'>
['Th', '1/27/11', '21.2202', '14.394M', '17.888M']
spot of 21.2202 with type <class 'str'>
['We', '1/26/11', '21.2838', '14.404M', '18.245M']
spot of 21.2838 with type <class 'str'>
['Tu', '1/25/11', '21.3746', '17.668M', '18.58M']
spot of 21.3746 with type <class 'str'>
['Mo', '1/24/11', '21.588', '16.95M', '18.694M']
spot of 21.588 with type <class 'str'>
['Fr', '1/21/11', '21.4427', '29.811M', '18.062M']
spot of 21.4427 with type <class 'str'>
['Th', '1/20/11', '21.2384', '21.533M', '16.526M']
spot of 21.2384 with type <class 'str'>
['We', '1/19/11', '21.0296', '16.521M', '15.667M']
spot of 21.0296 with type <class 'str'>
['Tu', '1/18/11', '21.0386', '14.758M', '15.259M']
spot of 21.0386 with type <class 'str'>
['Fr', '1/14/11', '20.9978', '15.344M', '14.712M']
spot of 20.9978 with type <class 'str'>
['Th', '1/13/11', '20.7254', '13.12M', '14.256M']
spot of 20.7254 with type <class 'str'>
['We', '1/12/11', '20.7208', '14.38M', '14.362M']
spot of 20.7208 with type <class 'str'>
['Tu', '1/11/11', '20.6255', '24.988M', '14.403M']
spot of 20.6255 with type <class 'str'>
['Mo', '1/10/11', '20.3667', '12.977M', '13.766M']
spot of 20.3667 with type <class 'str'>
['Fr', '1/7/11', '20.4711', '22.271M', '14.516M']
spot of 20.4711 with type <class 'str'>
['Th', '1/6/11', '20.3758', '19.206M', '14.543M']
spot of 20.3758 with type <class 'str'>
['We', '1/5/11', '20.0671', '19.75M', '14.15M']
spot of 20.0671 with type <class 'str'>
['Tu', '1/4/11', '19.8083', '19.42M', '13.777M']
spot of 19.8083 with type <class 'str'>
['Mo', '1/3/11', '19.4042', '19.374M', '14.214M']
spot of 19.4042 with type <class 'str'>
['Fr', '12/31/10', '19.1136', '7.473M', '14.045M']
spot of 19.1136 with type <class 'str'>
['Th', '12/30/10', '19.1863', '6.774M', '14.658M']
spot of 19.1863 with type <class 'str'>
['We', '12/29/10', '19.2135', '8.65M', '15.022M']
spot of 19.2135 with type <class 'str'>
['Tu', '12/28/10', '19.1817', '10.405M', '15.913M']
spot of 19.1817 with type <class 'str'>
['Mo', '12/27/10', '18.9865', '6.554M', '16.018M']
spot of 18.9865 with type <class 'str'>
['Th', '12/23/10', '18.9502', '8.502M', '16.758M']
spot of 18.9502 with type <class 'str'>
['We', '12/22/10', '18.8322', '14.702M', '17.299M']
spot of 18.8322 with type <class 'str'>
['Tu', '12/21/10', '19.0274', '15.003M', '17.697M']
spot of 19.0274 with type <class 'str'>
['Mo', '12/20/10', '19.0183', '15.424M', '18.255M']
spot of 19.0183 with type <class 'str'>
['Fr', '12/17/10', '19.0501', '24.233M', '18.601M']
spot of 19.0501 with type <class 'str'>
['Th', '12/16/10', '19.0467', '22.672M', '17.646M']
spot of 19.0467 with type <class 'str'>
['We', '12/15/10', '18.7187', '13.308M', '17.994M']
spot of 18.7187 with type <class 'str'>
['Tu', '12/14/10', '18.8594', '14.152M', '20.543M']
spot of 18.8594 with type <class 'str'>
['Mo', '12/13/10', '18.9093', '25.978M', '21.817M']
spot of 18.9093 with type <class 'str'>
['Fr', '12/10/10', '19.3497', '16.846M', '21.438M']
spot of 19.3497 with type <class 'str'>
['Th', '12/9/10', '19.3134', '16.667M', '21.642M']
spot of 19.3134 with type <class 'str'>
['We', '12/8/10', '19.3679', '12.239M', '22.442M']
spot of 19.3679 with type <class 'str'>
['Tu', '12/7/10', '19.1545', '22.009M', '23.118M']
spot of 19.1545 with type <class 'str'>
['Mo', '12/6/10', '19.4542', '11.976M', '22.615M']
spot of 19.4542 with type <class 'str'>
['Fr', '12/3/10', '19.5359', '17.661M', '23.032M']
spot of 19.5359 with type <class 'str'>
['Th', '12/2/10', '19.5722', '16.613M', '23.484M']
spot of 19.5722 with type <class 'str'>
['We', '12/1/10', '19.327', '20.674M', '23.261M']
spot of 19.327 with type <class 'str'>
['Tu', '11/30/10', '19.0365', '23.371M', '22.897M']
spot of 19.0365 with type <class 'str'>
['Mo', '11/29/10', '19.3407', '20.623M', '22.387M']
spot of 19.3407 with type <class 'str'>
['Fr', '11/26/10', '19.6131', '9.897M', '22.054M']
spot of 19.6131 with type <class 'str'>
['We', '11/24/10', '19.8605', '27.901M', '22.835M']
spot of 19.8605 with type <class 'str'>
['Tu', '11/23/10', '20.0625', '51.533M', '22.457M']
spot of 20.0625 with type <class 'str'>
['Mo', '11/22/10', '19.6358', '33.275M', '19.792M']
spot of 19.6358 with type <class 'str'>
['Fr', '11/19/10', '19.2907', '20.291M', '18.433M']
spot of 19.2907 with type <class 'str'>
['Th', '11/18/10', '18.9275', '19.897M', '18.293M']
spot of 18.9275 with type <class 'str'>
['We', '11/17/10', '18.6006', '28.672M', '17.977M']
spot of 18.6006 with type <class 'str'>
['Tu', '11/16/10', '18.9774', '22.384M', '17.316M']
spot of 18.9774 with type <class 'str'>
['Mo', '11/15/10', '19.3134', '14.463M', '16.79M']
spot of 19.3134 with type <class 'str'>
['Fr', '11/12/10', '19.1636', '18.23M', '16.705M']
spot of 19.1636 with type <class 'str'>
['Th', '11/11/10', '19.5677', '24.431M', '16.177M']
spot of 19.5677 with type <class 'str'>
['We', '11/10/10', '20.0489', '13.266M', '15.876M']
spot of 20.0489 with type <class 'str'>
['Tu', '11/9/10', '20.0307', '15.223M', '16.216M']
spot of 20.0307 with type <class 'str'>
['Mo', '11/8/10', '20.0898', '15.721M', '16.587M']
spot of 20.0898 with type <class 'str'>
['Fr', '11/5/10', '19.8491', '15.618M', '16.771M']
spot of 19.8491 with type <class 'str'>
['Th', '11/4/10', '20.008', '21.613M', '17.305M']
spot of 20.008 with type <class 'str'>
['We', '11/3/10', '19.89', '22.232M', '16.862M']
spot of 19.89 with type <class 'str'>
['Tu', '11/2/10', '19.4814', '11.561M', '17.022M']
spot of 19.4814 with type <class 'str'>
['Mo', '11/1/10', '19.2907', '12.898M', '17.25M']
spot of 19.2907 with type <class 'str'>
['Fr', '10/29/10', '19.0864', '18.187M', '17.25M']
spot of 19.0864 with type <class 'str'>
['Th', '10/28/10', '19.3679', '15.161M', '17.293M']
spot of 19.3679 with type <class 'str'>
['We', '10/27/10', '19.2453', '18.75M', '17.548M']
spot of 19.2453 with type <class 'str'>
['Tu', '10/26/10', '19.4996', '14.494M', '18.024M']
spot of 19.4996 with type <class 'str'>
['Mo', '10/25/10', '19.4678', '13.187M', '19.082M']
spot of 19.4678 with type <class 'str'>
['Fr', '10/22/10', '19.4632', '10.306M', '19.736M']
spot of 19.4632 with type <class 'str'>
['Th', '10/21/10', '19.2498', '19.924M', '23.248M']
spot of 19.2498 with type <class 'str'>
['We', '10/20/10', '19.4405', '18.368M', '23.797M']
spot of 19.4405 with type <class 'str'>
['Tu', '10/19/10', '19.4451', '20.787M', '24.66M']
spot of 19.4451 with type <class 'str'>
['Mo', '10/18/10', '19.6675', '18.472M', '25.045M']
spot of 19.6675 with type <class 'str'>
['Fr', '10/15/10', '19.4405', '23.639M', '25.351M']
spot of 19.4405 with type <class 'str'>
['Th', '10/14/10', '19.1273', '14.963M', '25.412M']
spot of 19.1273 with type <class 'str'>
['We', '10/13/10', '19.1636', '24.626M', '25.944M']
spot of 19.1636 with type <class 'str'>
['Tu', '10/12/10', '18.7731', '14.981M', '25.734M']
spot of 18.7731 with type <class 'str'>
['Mo', '10/11/10', '18.705', '12.905M', '26.468M']
spot of 18.705 with type <class 'str'>
['Fr', '10/8/10', '18.6823', '18.83M', '27.087M']
spot of 18.6823 with type <class 'str'>
['Th', '10/7/10', '18.528', '18.988M', '28.192M']
spot of 18.528 with type <class 'str'>
['We', '10/6/10', '18.4962', '25.892M', '28.482M']
spot of 18.4962 with type <class 'str'>
['Tu', '10/5/10', '18.528', '30.355M', '28.365M']
spot of 18.528 with type <class 'str'>
['Mo', '10/4/10', '18.4508', '22.998M', '29.069M']
spot of 18.4508 with type <class 'str'>
['Fr', '10/1/10', '18.5098', '62.986M', '29.792M']
spot of 18.5098 with type <class 'str'>
['Th', '9/30/10', '19.1', '28.163M', '27.112M']
spot of 19.1 with type <class 'str'>
['We', '9/29/10', '19.3089', '31.308M', '26.426M']
spot of 19.3089 with type <class 'str'>
['Tu', '9/28/10', '18.8957', '26.575M', '26.524M']
spot of 18.8957 with type <class 'str'>
['Mo', '9/27/10', '18.7323', '23.056M', '26.134M']
spot of 18.7323 with type <class 'str'>
['Fr', '9/24/10', '18.6052', '24.551M', '25.805M']
spot of 18.6052 with type <class 'str'>
['Th', '9/23/10', '18.2283', '22.948M', '25.354M']
spot of 18.2283 with type <class 'str'>
['We', '9/22/10', '17.9559', '21.478M', '25.313M']
spot of 17.9559 with type <class 'str'>
['Tu', '9/21/10', '18.1239', '25.986M', '25.895M']
spot of 18.1239 with type <class 'str'>
['Mo', '9/20/10', '17.8833', '22.197M', '26.122M']
spot of 17.8833 with type <class 'str'>
['Fr', '9/17/10', '17.7698', '35.4M', '27.12M']
spot of 17.7698 with type <class 'str'>
['Th', '9/16/10', '18.3191', '23.331M', '25.983M']
spot of 18.3191 with type <class 'str'>
['We', '9/15/10', '17.9877', '24.14M', '26.177M']
spot of 17.9877 with type <class 'str'>
['Tu', '9/14/10', '17.8379', '40.925M', '26.584M']
spot of 17.8379 with type <class 'str'>
['Mo', '9/13/10', '17.3793', '33.83M', '26.35M']
spot of 17.3793 with type <class 'str'>
['Fr', '9/10/10', '17.3793', '22.786M', '26.685M']
spot of 17.3793 with type <class 'str'>
['Th', '9/9/10', '17.6245', '17.873M', '26.856M']
spot of 17.6245 with type <class 'str'>
['We', '9/8/10', '17.62', '32.778M', '27.143M']
spot of 17.62 with type <class 'str'>
['Tu', '9/7/10', '18.1239', '20.739M', '26.533M']
spot of 18.1239 with type <class 'str'>
['Fr', '9/3/10', '18.3146', '18.115M', '26.676M']
spot of 18.3146 with type <class 'str'>
['Th', '9/2/10', '18.015', '17.781M', '27.433M']
spot of 18.015 with type <class 'str'>
['We', '9/1/10', '17.8016', '22.332M', '29.758M']
spot of 17.8016 with type <class 'str'>
['Tu', '8/31/10', '17.4565', '30.207M', '32.124M']
spot of 17.4565 with type <class 'str'>
['Mo', '8/30/10', '17.5065', '29.392M', '35M']
spot of 17.5065 with type <class 'str'>
['Fr', '8/27/10', '17.2522', '37.178M', '46.422M']
spot of 17.2522 with type <class 'str'>
['Th', '8/26/10', '17.3521', '18.336M', '45.896M']
spot of 17.3521 with type <class 'str'>
['We', '8/25/10', '17.3612', '26.249M', '45.573M']
spot of 17.3612 with type <class 'str'>
['Tu', '8/24/10', '17.4293', '30.245M', '44.873M']
spot of 17.4293 with type <class 'str'>
['Mo', '8/23/10', '17.7244', '37.416M', '43.5M']
spot of 17.7244 with type <class 'str'>
['Fr', '8/20/10', '18.0921', '38.855M', '41.859M']
spot of 18.0921 with type <class 'str'>
['Th', '8/19/10', '18.5053', '25.35M', '40.109M']
spot of 18.5053 with type <class 'str'>
['We', '8/18/10', '18.7777', '22.175M', '39.583M']
spot of 18.7777 with type <class 'str'>
['Tu', '8/17/10', '18.5325', '23.626M', '38.852M']
spot of 18.5325 with type <class 'str'>
['Mo', '8/16/10', '18.4099', '22.883M', '38.376M']
spot of 18.4099 with type <class 'str'>
['Fr', '8/13/10', '18.3645', '29.473M', '37.931M']
spot of 18.3645 with type <class 'str'>
['Th', '8/12/10', '18.2238', '52.656M', '37.228M']
spot of 18.2238 with type <class 'str'>
['We', '8/11/10', '18.5098', '57.826M', '34.861M']
spot of 18.5098 with type <class 'str'>
['Tu', '8/10/10', '19.2181', '73.334M', '32.187M']
spot of 19.2181 with type <class 'str'>
['Mo', '8/9/10', '19.3407', '200.732M', '28.357M']
spot of 19.3407 with type <class 'str'>
['Fr', '8/6/10', '21.0205', '29.283M', '15.682M']
spot of 21.0205 with type <class 'str'>
['Th', '8/5/10', '21.0432', '13.489M', '14.621M']
spot of 21.0432 with type <class 'str'>
['We', '8/4/10', '21.2339', '15.746M', '14.52M']
spot of 21.2339 with type <class 'str'>
['Tu', '8/3/10', '21.5017', '9.654M', '14.389M']
spot of 21.5017 with type <class 'str'>
['Mo', '8/2/10', '21.5925', '12.805M', '14.713M']
spot of 21.5925 with type <class 'str'>
['Fr', '7/30/10', '20.9024', '12.608M', '14.561M']
spot of 20.9024 with type <class 'str'>
['Th', '7/29/10', '21.0704', '17.449M', '14.57M']
spot of 21.0704 with type <class 'str'>
['We', '7/28/10', '21.3973', '11.208M', '14.289M']
spot of 21.3973 with type <class 'str'>
['Tu', '7/27/10', '21.5971', '16.486M', '14.763M']
spot of 21.5971 with type <class 'str'>
['Mo', '7/26/10', '21.1431', '16.209M', '14.81M']
spot of 21.1431 with type <class 'str'>
['Fr', '7/23/10', '20.9524', '18.934M', '14.845M']
spot of 20.9524 with type <class 'str'>
['Th', '7/22/10', '20.9161', '17.153M', '15.009M']
spot of 20.9161 with type <class 'str'>
['We', '7/21/10', '20.6482', '17.719M', '15.446M']
spot of 20.6482 with type <class 'str'>
['Tu', '7/20/10', '21.1612', '15.881M', '15.742M']
spot of 21.1612 with type <class 'str'>
['Mo', '7/19/10', '21.193', '10.612M', '15.556M']
spot of 21.193 with type <class 'str'>
['Fr', '7/16/10', '20.9751', '13.367M', '16.45M']
spot of 20.9751 with type <class 'str'>
['Th', '7/15/10', '21.529', '11.971M', '16.565M']
spot of 21.529 with type <class 'str'>
['We', '7/14/10', '21.4926', '13.783M', '16.621M']
spot of 21.4926 with type <class 'str'>
['Tu', '7/13/10', '21.2339', '14.507M', '16.586M']
spot of 21.2339 with type <class 'str'>
['Mo', '7/12/10', '20.739', '10.53M', '16.464M']
spot of 20.739 with type <class 'str'>
['Fr', '7/9/10', '20.5438', '12.75M', '17.02M']
spot of 20.5438 with type <class 'str'>
['Th', '7/8/10', '20.6482', '13.222M', '17.26M']
spot of 20.6482 with type <class 'str'>
['We', '7/7/10', '20.4121', '18.319M', '17.586M']
spot of 20.4121 with type <class 'str'>
['Tu', '7/6/10', '19.5994', '17.19M', '17.418M']
spot of 19.5994 with type <class 'str'>
['Fr', '7/2/10', '19.436', '16.74M', '17.23M']
spot of 19.436 with type <class 'str'>
['Th', '7/1/10', '19.4723', '21.393M', '16.881M']
spot of 19.4723 with type <class 'str'>
['We', '6/30/10', '19.6494', '23.707M', '16.514M']
spot of 19.6494 with type <class 'str'>
['Tu', '6/29/10', '20.1125', '22.156M', '16.206M']
spot of 20.1125 with type <class 'str'>
['Mo', '6/28/10', '20.9161', '13.096M', '16.058M']
spot of 20.9161 with type <class 'str'>
['Fr', '6/25/10', '20.8479', '24.022M', '16.218M']
spot of 20.8479 with type <class 'str'>
['Th', '6/24/10', '20.8343', '15.088M', '15.862M']
spot of 20.8343 with type <class 'str'>
['We', '6/23/10', '21.2883', '12.816M', '15.979M']
spot of 21.2883 with type <class 'str'>
['Tu', '6/22/10', '21.2339', '13.249M', '16.774M']
spot of 21.2339 with type <class 'str'>
['Mo', '6/21/10', '21.5698', '12.685M', '17.075M']
spot of 21.5698 with type <class 'str'>
['Fr', '6/18/10', '21.7832', '18.864M', '17.506M']
spot of 21.7832 with type <class 'str'>
['Th', '6/17/10', '21.9012', '16.347M', '17.444M']
spot of 21.9012 with type <class 'str'>
['We', '6/16/10', '21.7968', '18.116M', '17.792M']
spot of 21.7968 with type <class 'str'>
['Tu', '6/15/10', '21.7832', '15.805M', '18.099M']
spot of 21.7832 with type <class 'str'>
['Mo', '6/14/10', '21.2838', '14.371M', '18.251M']
spot of 21.2838 with type <class 'str'>
['Fr', '6/11/10', '21.4245', '11.498M', '19.147M']
spot of 21.4245 with type <class 'str'>
['Th', '6/10/10', '21.1113', '15.894M', '20.592M']
spot of 21.1113 with type <class 'str'>
['We', '6/9/10', '20.6164', '19.09M', '21.688M']
spot of 20.6164 with type <class 'str'>
['Tu', '6/8/10', '20.8298', '19.926M', '21.845M']
spot of 20.8298 with type <class 'str'>
['Mo', '6/7/10', '20.5381', '15.493M', '21.648M']
spot of 20.5381 with type <class 'str'>
['Fr', '6/4/10', '20.907', '18.694M', '22.346M']
spot of 20.907 with type <class 'str'>
['Th', '6/3/10', '21.5562', '16.839M', '22.129M']
spot of 21.5562 with type <class 'str'>
['We', '6/2/10', '21.4609', '24.743M', '22.186M']
spot of 21.4609 with type <class 'str'>
['Tu', '6/1/10', '20.6936', '17.767M', '21.691M']
spot of 20.6936 with type <class 'str'>
['Fr', '5/28/10', '20.8888', '19.137M', '22.073M']
spot of 20.8888 with type <class 'str'>
['Th', '5/27/10', '21.311', '17.941M', '23.372M']
spot of 21.311 with type <class 'str'>
['We', '5/26/10', '20.7572', '21.561M', '24.706M']
spot of 20.7572 with type <class 'str'>
['Tu', '5/25/10', '20.8162', '22.718M', '24.204M']
spot of 20.8162 with type <class 'str'>
['Mo', '5/24/10', '20.7435', '18.085M', '24.022M']
spot of 20.7435 with type <class 'str'>
['Fr', '5/21/10', '21.1476', '27.824M', '23.594M']
spot of 21.1476 with type <class 'str'>
['Th', '5/20/10', '20.8616', '33.169M', '22.788M']
spot of 20.8616 with type <class 'str'>
['We', '5/19/10', '21.3383', '32.336M', '21.878M']
spot of 21.3383 with type <class 'str'>
['Tu', '5/18/10', '21.2429', '21.439M', '20.796M']
spot of 21.2429 with type <class 'str'>
['Mo', '5/17/10', '21.5744', '16.969M', '20.337M']
spot of 21.5744 with type <class 'str'>
['Fr', '5/14/10', '21.5335', '25.961M', '20.012M']
spot of 21.5335 with type <class 'str'>
['Th', '5/13/10', '22.1192', '15.447M', '18.934M']
spot of 22.1192 with type <class 'str'>
['We', '5/12/10', '22.5005', '17.684M', '18.73M']
spot of 22.5005 with type <class 'str'>
['Tu', '5/11/10', '21.983', '17.319M', '18.323M']
spot of 21.983 with type <class 'str'>
['Mo', '5/10/10', '22.2906', '23.5M', '17.986M']
spot of 22.2906 with type <class 'str'>
['Fr', '5/7/10', '21.2157', '38.633M', '17.134M']
spot of 21.2157 with type <class 'str'>
['Th', '5/6/10', '21.9421', '37.937M', '15.601M']
spot of 21.9421 with type <class 'str'>
['We', '5/5/10', '23.1225', '14.032M', '14.014M']
spot of 23.1225 with type <class 'str'>
['Tu', '5/4/10', '22.9909', '19.989M', '13.881M']
spot of 22.9909 with type <class 'str'>
['Mo', '5/3/10', '23.9307', '11.668M', '13.089M']
spot of 23.9307 with type <class 'str'>
['Fr', '4/30/10', '23.5947', '15.732M', '12.875M']
spot of 23.5947 with type <class 'str'>
['Th', '4/29/10', '24.0078', '19.526M', '12.325M']
spot of 24.0078 with type <class 'str'>
['We', '4/28/10', '24.1894', '16.103M', '11.624M']
spot of 24.1894 with type <class 'str'>
['Tu', '4/27/10', '24.1758', '14.553M', '11.356M']
spot of 24.1758 with type <class 'str'>
['Mo', '4/26/10', '24.6344', '12.098M', '11.031M']

spot of 24.6344 with type <class 'str'>
['Fr', '4/23/10', '24.4709', '9.784M', '10.884M']
spot of 24.4709 with type <class 'str'>
['Th', '4/22/10', '24.2031', '12.392M', '10.944M']
spot of 24.2031 with type <class 'str'>
['We', '4/21/10', '24.3801', '11.586M', '10.974M']
spot of 24.3801 with type <class 'str'>
['Tu', '4/20/10', '24.3166', '12.252M', '10.878M']
spot of 24.3166 with type <class 'str'>
['Mo', '4/19/10', '24.3529', '10.731M', '10.744M']
spot of 24.3529 with type <class 'str'>
['Fr', '4/16/10', '24.4028', '15.629M', '10.977M']
spot of 24.4028 with type <class 'str'>
['Th', '4/15/10', '24.6207', '14.14M', '11.056M']
spot of 24.6207 with type <class 'str'>
['We', '4/14/10', '24.7524', '12.033M', '11.121M']
spot of 24.7524 with type <class 'str'>
['Tu', '4/13/10', '24.4164', '8.112M', '10.963M']
spot of 24.4164 with type <class 'str'>
['Mo', '4/12/10', '24.4618', '8.456M', '11.468M']
spot of 24.4618 with type <class 'str'>
['Fr', '4/9/10', '24.4573', '7.486M', '12.299M']
spot of 24.4573 with type <class 'str'>
['Th', '4/8/10', '24.3483', '9.007M', '12.742M']
spot of 24.3483 with type <class 'str'>
['We', '4/7/10', '24.194', '12.077M', '13.089M']
spot of 24.194 with type <class 'str'>
['Tu', '4/6/10', '24.4528', '9.685M', '13.037M']
spot of 24.4528 with type <class 'str'>
['Mo', '4/5/10', '24.4573', '9.883M', '13.077M']
spot of 24.4573 with type <class 'str'>
['Th', '4/1/10', '24.1713', '10.684M', '13.202M']
spot of 24.1713 with type <class 'str'>
['We', '3/31/10', '24.1304', '12.856M', '13.128M']
spot of 24.1304 with type <class 'str'>
['Tu', '3/30/10', '24.1804', '10.143M', '13.05M']
spot of 24.1804 with type <class 'str'>
['Mo', '3/29/10', '24.0487', '10.235M', '13.056M']
spot of 24.0487 with type <class 'str'>
['Fr', '3/26/10', '24.253', '14.226M', '13.232M']
spot of 24.253 with type <class 'str'>
['Th', '3/25/10', '24.2893', '16.818M', '13.314M']
spot of 24.2893 with type <class 'str'>
['We', '3/24/10', '24.0896', '15.121M', '12.731M']
spot of 24.0896 with type <class 'str'>
['Tu', '3/23/10', '24.1304', '9.653M', '12.487M']
spot of 24.1304 with type <class 'str'>
['Mo', '3/22/10', '24.0396', '15.691M', '12.844M']
spot of 24.0396 with type <class 'str'>
['Fr', '3/19/10', '23.8308', '20.92M', '12.741M']
spot of 23.8308 with type <class 'str'>
['Th', '3/18/10', '23.9397', '14.13M', '12.081M']
spot of 23.9397 with type <class 'str'>
['We', '3/17/10', '23.7127', '14.206M', '11.995M']
spot of 23.7127 with type <class 'str'>
['Tu', '3/16/10', '23.7672', '11.306M', '12.049M']
spot of 23.7672 with type <class 'str'>
['Mo', '3/15/10', '23.799', '10.278M', '12.099M']
spot of 23.799 with type <class 'str'>
['Fr', '3/12/10', '23.7717', '11.759M', '12.243M']
spot of 23.7717 with type <class 'str'>
['Th', '3/11/10', '23.6174', '9.572M', '12.57M']
spot of 23.6174 with type <class 'str'>
['We', '3/10/10', '23.5084', '11.689M', '13.497M']
spot of 23.5084 with type <class 'str'>
['Tu', '3/9/10', '23.5538', '10.231M', '14.283M']
spot of 23.5538 with type <class 'str'>
['Mo', '3/8/10', '23.4857', '12.884M', '14.581M']
spot of 23.4857 with type <class 'str'>
['Fr', '3/5/10', '23.6219', '15.45M', '14.773M']
spot of 23.6219 with type <class 'str'>
['Th', '3/4/10', '23.3858', '8.081M', '14.6M']
spot of 23.3858 with type <class 'str'>
['We', '3/3/10', '23.1997', '11.453M', '14.986M']
spot of 23.1997 with type <class 'str'>
['Tu', '3/2/10', '23.2088', '15.013M', '15.397M']
spot of 23.2088 with type <class 'str'>
['Mo', '3/1/10', '23.3995', '14.151M', '15.571M']
spot of 23.3995 with type <class 'str'>
['Fr', '2/26/10', '23.059', '11.018M', '15.943M']
spot of 23.059 with type <class 'str'>
['Th', '2/25/10', '23.118', '12.836M', '16.652M']
spot of 23.118 with type <class 'str'>
['We', '2/24/10', '23.059', '15.016M', '16.554M']
spot of 23.059 with type <class 'str'>
['Tu', '2/23/10', '22.7548', '12.06M', '16.717M']
spot of 22.7548 with type <class 'str'>
['Mo', '2/22/10', '22.9545', '12.438M', '16.962M']
spot of 22.9545 with type <class 'str'>
['Fr', '2/19/10', '23.059', '16.661M', '17.699M']
spot of 23.059 with type <class 'str'>
['Th', '2/18/10', '23.068', '23.48M', '18.36M']
spot of 23.068 with type <class 'str'>
['We', '2/17/10', '22.7548', '23.481M', '17.996M']
spot of 22.7548 with type <class 'str'>
['Tu', '2/16/10', '22.4461', '14.688M', '17.479M']
spot of 22.4461 with type <class 'str'>
['Fr', '2/12/10', '22.0011', '15.769M', '17.398M']
spot of 22.0011 with type <class 'str'>
['Th', '2/11/10', '22.0738', '12.855M', '17.697M']
spot of 22.0738 with type <class 'str'>
['We', '2/10/10', '21.8014', '13.874M', '18.073M']
spot of 21.8014 with type <class 'str'>
['Tu', '2/9/10', '21.8468', '17.622M', '18.075M']
spot of 21.8468 with type <class 'str'>
['Mo', '2/8/10', '21.6061', '17.616M', '17.658M']
spot of 21.6061 with type <class 'str'>
['Fr', '2/5/10', '21.4836', '19.731M', '17.374M']
spot of 21.4836 with type <class 'str'>
['Th', '2/4/10', '21.3519', '21.656M', '17.133M']
spot of 21.3519 with type <class 'str'>
['We', '2/3/10', '22.1237', '11.36M', '16.476M']
spot of 22.1237 with type <class 'str'>
['Tu', '2/2/10', '22.0601', '17.464M', '16.54M']
spot of 22.0601 with type <class 'str'>
['Mo', '2/1/10', '21.7151', '15.741M', '16.052M']
spot of 21.7151 with type <class 'str'>
['Fr', '1/29/10', '21.3701', '23.488M', '15.686M']
spot of 21.3701 with type <class 'str'>
['Th', '1/28/10', '21.6969', '26.581M', '14.801M']
spot of 21.6969 with type <class 'str'>
['We', '1/27/10', '22.4506', '18.009M', '13.812M']
spot of 22.4506 with type <class 'str'>
['Tu', '1/26/10', '22.5823', '15.73M', '13.485M']
spot of 22.5823 with type <class 'str'>
['Mo', '1/25/10', '22.7275', '13.477M', '13.283M']
spot of 22.7275 with type <class 'str'>
['Fr', '1/22/10', '22.378', '20.257M', '13.308M']
spot of 22.378 with type <class 'str'>
['Th', '1/21/10', '23.286', '18.488M', '12.401M']
spot of 23.286 with type <class 'str'>
['We', '1/20/10', '23.7036', '13.901M', '11.633M']
spot of 23.7036 with type <class 'str'>
['Tu', '1/19/10', '23.9488', '11.377M', '11.449M']
spot of 23.9488 with type <class 'str'>
['Fr', '1/15/10', '23.8217', '13.355M', '10.968M']
spot of 23.8217 with type <class 'str'>
['Th', '1/14/10', '23.8398', '16.116M', '10.615M']
spot of 23.8398 with type <class 'str'>
['We', '1/13/10', '23.7082', '11.79M', '10.353M']
spot of 23.7082 with type <class 'str'>
['Tu', '1/12/10', '23.5947', '12.331M', '10.623M']
spot of 23.5947 with type <class 'str'>
['Mo', '1/11/10', '23.8035', '10.143M', '11.231M']
spot of 23.8035 with type <class 'str'>
['Fr', '1/8/10', '23.8762', '10.24M', '11.49M']
spot of 23.8762 with type <class 'str'>
['Th', '1/7/10', '23.6991', '10.225M', '11.85M']
spot of 23.6991 with type <class 'str'>
['We', '1/6/10', '23.69', '11.748M', '12.403M']
spot of 23.69 with type <class 'str'>
['Tu', '1/5/10', '23.9125', '13.093M', '12.451M']
spot of 23.9125 with type <class 'str'>
['Mo', '1/4/10', '23.8126', '12.698M', '12.367M']
spot of 23.8126 with type <class 'str'>
['Th', '12/31/09', '23.3858', '13.858M', '12.771M']
spot of 23.3858 with type <class 'str'>
['We', '12/30/09', '24.0305', '6.647M', '13.017M']
spot of 24.0305 with type <class 'str'>
['Tu', '12/29/09', '23.8671', '6.967M', '13.345M']
spot of 23.8671 with type <class 'str'>
['Mo', '12/28/09', '23.9534', '11.147M', '13.75M']
spot of 23.9534 with type <class 'str'>
['Th', '12/24/09', '24.0033', '4.162M', '14.267M']
spot of 24.0033 with type <class 'str'>
['We', '12/23/09', '23.8308', '8.06M', '15.04M']
spot of 23.8308 with type <class 'str'>
['Tu', '12/22/09', '23.8172', '12.19M', '15.486M']
spot of 23.8172 with type <class 'str'>
['Mo', '12/21/09', '23.6038', '15.835M', '15.894M']
spot of 23.6038 with type <class 'str'>
['Fr', '12/18/09', '23.3813', '21.455M', '15.93M']
spot of 23.3813 with type <class 'str'>
['Th', '12/17/09', '22.9545', '14.025M', '15.162M']
spot of 22.9545 with type <class 'str'>
['We', '12/16/09', '23.3177', '15.635M', '15.077M']
spot of 23.3177 with type <class 'str'>
['Tu', '12/15/09', '23.1498', '18.518M', '15.186M']
spot of 23.1498 with type <class 'str'>
['Mo', '12/14/09', '23.009', '12.478M', '15.003M']
spot of 23.009 with type <class 'str'>
['Fr', '12/11/09', '22.723', '11.835M', '15.131M']
spot of 22.723 with type <class 'str'>
['Th', '12/10/09', '22.7639', '18.761M', '15.347M']
spot of 22.7639 with type <class 'str'>
['We', '12/9/09', '22.6776', '17.534M', '15.198M']
spot of 22.6776 with type <class 'str'>
['Tu', '12/8/09', '22.219', '11.579M', '15.084M']
spot of 22.219 with type <class 'str'>
['Mo', '12/7/09', '22.3416', '13.037M', '15.686M']
spot of 22.3416 with type <class 'str'>
['Fr', '12/4/09', '22.605', '18.896M', '15.741M']
spot of 22.605 with type <class 'str'>
['Th', '12/3/09', '22.2281', '15.759M', '15.947M']
spot of 22.2281 with type <class 'str'>
['We', '12/2/09', '22.2372', '14.756M', '15.846M']
spot of 22.2372 with type <class 'str'>
['Tu', '12/1/09', '22.5142', '18.315M', '15.569M']
spot of 22.5142 with type <class 'str'>
['Mo', '11/30/09', '22.2735', '16.361M', '15.386M']
spot of 22.2735 with type <class 'str'>
['Fr', '11/27/09', '22.2781', '9.949M', '15.016M']
spot of 22.2781 with type <class 'str'>
['We', '11/25/09', '22.723', '12.746M', '15.112M']
spot of 22.723 with type <class 'str'>
['Tu', '11/24/09', '22.7866', '17.27M', '15.3M']
spot of 22.7866 with type <class 'str'>
['Mo', '11/23/09', '23.1634', '15.776M', '15.131M']
spot of 23.1634 with type <class 'str'>
['Fr', '11/20/09', '22.7185', '14.391M', '15.107M']
spot of 22.7185 with type <class 'str'>
['Th', '11/19/09', '22.6186', '15.079M', '15.264M']
spot of 22.6186 with type <class 'str'>
['We', '11/18/09', '22.9182', '16.524M', '15.296M']
spot of 22.9182 with type <class 'str'>
['Tu', '11/17/09', '23.2996', '15.817M', '14.981M']
spot of 23.2996 with type <class 'str'>
['Mo', '11/16/09', '23.068', '20.621M', '14.598M']
spot of 23.068 with type <class 'str'>
['Fr', '11/13/09', '22.6594', '13.859M', '13.971M']
spot of 22.6594 with type <class 'str'>
['Th', '11/12/09', '22.5641', '21.985M', '13.951M']
spot of 22.5641 with type <class 'str'>
['We', '11/11/09', '22.7003', '14.234M', '13.098M']
spot of 22.7003 with type <class 'str'>
['Tu', '11/10/09', '22.6821', '10.615M', '12.974M']
spot of 22.6821 with type <class 'str'>
['Mo', '11/9/09', '22.6958', '15.566M', '13.087M']
spot of 22.6958 with type <class 'str'>
['Fr', '11/6/09', '22.3189', '10.808M', '12.798M']
spot of 22.3189 with type <class 'str'>
['Th', '11/5/09', '22.1782', '11.387M', '13.376M']
spot of 22.1782 with type <class 'str'>
['We', '11/4/09', '21.6833', '15.57M', '13.412M']
spot of 21.6833 with type <class 'str'>
['Tu', '11/3/09', '21.5698', '14.734M', '13.345M']
spot of 21.5698 with type <class 'str'>
['Mo', '11/2/09', '21.8649', '15.416M', '13.198M']
spot of 21.8649 with type <class 'str'>
['Fr', '10/30/09', '21.5471', '16.739M', '12.738M']
spot of 21.5471 with type <class 'str'>
['Th', '10/29/09', '21.9512', '15.56M', '12.575M']
spot of 21.9512 with type <class 'str'>
['We', '10/28/09', '21.3065', '11.804M', '12.538M']
spot of 21.3065 with type <class 'str'>
['Tu', '10/27/09', '21.4745', '10.076M', '12.48M']
spot of 21.4745 with type <class 'str'>
['Mo', '10/26/09', '21.7287', '11.216M', '12.855M']
spot of 21.7287 with type <class 'str'>
['Fr', '10/23/09', '22.0465', '13.552M', '13.08M']
spot of 22.0465 with type <class 'str'>
['Th', '10/22/09', '21.9376', '9.19M', '13.387M']
spot of 21.9376 with type <class 'str'>
['We', '10/21/09', '21.8922', '12.381M', '14.116M']
spot of 21.8922 with type <class 'str'>
['Tu', '10/20/09', '22.1282', '12.313M', '14.717M']
spot of 22.1282 with type <class 'str'>
['Mo', '10/19/09', '22.0057', '11.221M', '15.206M']
spot of 22.0057 with type <class 'str'>
['Fr', '10/16/09', '21.9603', '19.49M', '15.57M']
spot of 21.9603 with type <class 'str'>
['Th', '10/15/09', '21.7923', '11.924M', '15.602M']
spot of 21.7923 with type <class 'str'>
['We', '10/14/09', '21.7423', '14.555M', '15.691M']
spot of 21.7423 with type <class 'str'>
['Tu', '10/13/09', '21.1975', '12.536M', '15.787M']
spot of 21.1975 with type <class 'str'>
['Mo', '10/12/09', '21.3564', '8.512M', '15.907M']
spot of 21.3564 with type <class 'str'>
['Fr', '10/9/09', '21.5108', '14.3M', '16.107M']
spot of 21.5108 with type <class 'str'>
['Th', '10/8/09', '21.0931', '15.005M', '16.482M']
spot of 21.0931 with type <class 'str'>
['We', '10/7/09', '21.1385', '10.924M', '16.293M']
spot of 21.1385 with type <class 'str'>
['Tu', '10/6/09', '21.3428', '15.707M', '16.491M']
spot of 21.3428 with type <class 'str'>
['Mo', '10/5/09', '20.9161', '14.598M', '16.183M']
spot of 20.9161 with type <class 'str'>
['Fr', '10/2/09', '20.5574', '18.154M', '16.071M']
spot of 20.5574 with type <class 'str'>
['Th', '10/1/09', '20.8661', '20.121M', '15.716M']
spot of 20.8661 with type <class 'str'>
['We', '9/30/09', '21.4336', '21.394M', '15.365M']
spot of 21.4336 with type <class 'str'>
['Tu', '9/29/09', '21.538', '19.65M', '15.037M']
spot of 21.538 with type <class 'str'>
['Mo', '9/28/09', '21.7378', '16.677M', '14.427M']
spot of 21.7378 with type <class 'str'>
['Fr', '9/25/09', '21.3474', '19.98M', '13.901M']
spot of 21.3474 with type <class 'str'>
['Th', '9/24/09', '21.2793', '13.256M', '13.317M']
spot of 21.2793 with type <class 'str'>
['We', '9/23/09', '21.3065', '15.987M', '13.512M']
spot of 21.3065 with type <class 'str'>
['Tu', '9/22/09', '21.3428', '14.34M', '13.547M']
spot of 21.3428 with type <class 'str'>
['Mo', '9/21/09', '21.0432', '11.515M', '13.449M']
spot of 21.0432 with type <class 'str'>
['Fr', '9/18/09', '20.9524', '19.919M', '13.987M']
spot of 20.9524 with type <class 'str'>
['Th', '9/17/09', '20.7526', '12.168M', '13.66M']
spot of 20.7526 with type <class 'str'>
['We', '9/16/09', '20.7208', '13.891M', '13.8M']
spot of 20.7208 with type <class 'str'>
['Tu', '9/15/09', '20.7208', '11.088M', '14.08M']
spot of 20.7208 with type <class 'str'>
['Mo', '9/14/09', '20.7481', '12.917M', '14.349M']
spot of 20.7481 with type <class 'str'>
['Fr', '9/11/09', '20.9297', '12.841M', '14.751M']
spot of 20.9297 with type <class 'str'>
['Th', '9/10/09', '21.1113', '14.844M', '14.731M']
spot of 21.1113 with type <class 'str'>
['We', '9/9/09', '20.8752', '16.483M', '15.43M']
spot of 20.8752 with type <class 'str'>
['Tu', '9/8/09', '20.6436', '10.494M', '15.972M']
spot of 20.6436 with type <class 'str'>
['Fr', '9/4/09', '20.4757', '8.787M', '16.107M']
spot of 20.4757 with type <class 'str'>
['Th', '9/3/09', '20.1806', '11.231M', '16.297M']
spot of 20.1806 with type <class 'str'>
['We', '9/2/09', '20.0898', '16.17M', '16.32M']
spot of 20.0898 with type <class 'str'>
['Tu', '9/1/09', '19.9172', '16.519M', '16.161M']
spot of 19.9172 with type <class 'str'>
['Mo', '8/31/09', '20.3803', '12.862M', '15.78M']
spot of 20.3803 with type <class 'str'>
['Fr', '8/28/09', '20.3213', '19.589M', '15.734M']
spot of 20.3213 with type <class 'str'>
['Th', '8/27/09', '20.344', '15.023M', '15.713M']
spot of 20.344 with type <class 'str'>
['We', '8/26/09', '20.1942', '14.264M', '15.846M']
spot of 20.1942 with type <class 'str'>
['Tu', '8/25/09', '20.285', '18.094M', '15.794M']
spot of 20.285 with type <class 'str'>
['Mo', '8/24/09', '20.3349', '15.122M', '15.546M']
spot of 20.3349 with type <class 'str'>
['Fr', '8/21/09', '20.3304', '18.936M', '15.428M']
spot of 20.3304 with type <class 'str'>
['Th', '8/20/09', '19.9672', '12.549M', '15.572M']
spot of 19.9672 with type <class 'str'>
['We', '8/19/09', '19.8991', '25.325M', '16.003M']
spot of 19.8991 with type <class 'str'>
['Tu', '8/18/09', '19.9581', '24.618M', '15.214M']
spot of 19.9581 with type <class 'str'>
['Mo', '8/17/09', '19.5722', '12.523M', '14.346M']
spot of 19.5722 with type <class 'str'>
['Fr', '8/14/09', '20.0171', '11.629M', '14.224M']
spot of 20.0171 with type <class 'str'>
['Th', '8/13/09', '20.1352', '11.572M', '14.2M']
spot of 20.1352 with type <class 'str'>
['We', '8/12/09', '20.058', '13.792M', '14.699M']
spot of 20.058 with type <class 'str'>
['Tu', '8/11/09', '19.6993', '10.796M', '14.766M']
spot of 19.6993 with type <class 'str'>
['Mo', '8/10/09', '19.8264', '12.18M', '14.989M']
spot of 19.8264 with type <class 'str'>
['Fr', '8/7/09', '19.7674', '19.271M', '14.973M']
spot of 19.7674 with type <class 'str'>
['Th', '8/6/09', '19.1636', '17.016M', '14.66M']
spot of 19.1636 with type <class 'str'>
['We', '8/5/09', '19.6403', '13.49M', '14.867M']
spot of 19.6403 with type <class 'str'>
['Tu', '8/4/09', '19.7129', '14.373M', '15.133M']
spot of 19.7129 with type <class 'str'>
['Mo', '8/3/09', '19.6948', '13.356M', '15.098M']
spot of 19.6948 with type <class 'str'>
['Fr', '7/31/09', '19.6585', '21.09M', '15.098M']
spot of 19.6585 with type <class 'str'>
['Th', '7/30/09', '19.3906', '19.015M', '14.451M']
spot of 19.3906 with type <class 'str'>
['We', '7/29/09', '19.1545', '13.486M', '13.84M']
spot of 19.1545 with type <class 'str'>
['Tu', '7/28/09', '19.0592', '11.606M', '13.948M']
spot of 19.0592 with type <class 'str'>
['Mo', '7/27/09', '18.9956', '10.693M', '14.113M']
spot of 18.9956 with type <class 'str'>
['Fr', '7/24/09', '18.9411', '11.268M', '14.211M']
spot of 18.9411 with type <class 'str'>
['Th', '7/23/09', '18.9048', '19.051M', '14.259M']
spot of 18.9048 with type <class 'str'>
['We', '7/22/09', '18.5234', '14.796M', '14.289M']
spot of 18.5234 with type <class 'str'>
['Tu', '7/21/09', '18.419', '14.145M', '14.404M']
spot of 18.419 with type <class 'str'>
['Mo', '7/20/09', '18.3555', '11.944M', '15.114M']
spot of 18.3555 with type <class 'str'>
['Fr', '7/17/09', '18.1512', '14.569M', '15.852M']
spot of 18.1512 with type <class 'str'>
['Th', '7/16/09', '18.0104', '20.123M', '15.946M']
spot of 18.0104 with type <class 'str'>
['We', '7/15/09', '17.6245', '17.476M', '15.762M']
spot of 17.6245 with type <class 'str'>
['Tu', '7/14/09', '16.8618', '13.855M', '15.438M']
spot of 16.8618 with type <class 'str'>
['Mo', '7/13/09', '16.9344', '13.352M', '15.812M']
spot of 16.9344 with type <class 'str'>
['Fr', '7/10/09', '16.9072', '11.392M', '16.667M']
spot of 16.9072 with type <class 'str'>

['Th', '7/9/09', '16.9344', '9.845M', '17.116M']
spot of 16.9344 with type <class 'str'>
['We', '7/8/09', '16.8936', '15.107M', '17.587M']
spot of 16.8936 with type <class 'str'>
['Tu', '7/7/09', '16.7256', '14.074M', '17.515M']
spot of 16.7256 with type <class 'str'>
['Mo', '7/6/09', '17.1296', '12.166M', '17.445M']
spot of 17.1296 with type <class 'str'>
['Th', '7/2/09', '17.1841', '11.992M', '17.533M']
spot of 17.1841 with type <class 'str'>
['We', '7/1/09', '17.5609', '19.494M', '17.778M']
spot of 17.5609 with type <class 'str'>
['Tu', '6/30/09', '17.5473', '16.528M', '17.423M']
spot of 17.5473 with type <class 'str'>
['Mo', '6/29/09', '17.6971', '24.796M', '17.353M']
spot of 17.6971 with type <class 'str'>
['Fr', '6/26/09', '17.0752', '23.012M', '16.866M']
spot of 17.0752 with type <class 'str'>
['Th', '6/25/09', '17.3067', '15.98M', '17.062M']
spot of 17.3067 with type <class 'str'>
['We', '6/24/09', '16.8981', '17.354M', '17.258M']
spot of 16.8981 with type <class 'str'>
['Tu', '6/23/09', '16.9617', '12.622M', '17.03M']
spot of 16.9617 with type <class 'str'>
['Mo', '6/22/09', '17.1342', '19.47M', '17.293M']
spot of 17.1342 with type <class 'str'>
['Fr', '6/19/09', '17.4111', '26.179M', '17.181M']
spot of 17.4111 with type <class 'str'>
['Th', '6/18/09', '17.0479', '18.119M', '16.736M']
spot of 17.0479 with type <class 'str'>
['We', '6/17/09', '16.9889', '16.909M', '16.636M']
spot of 16.9889 with type <class 'str'>
['Tu', '6/16/09', '16.7256', '14.027M', '16.631M']
spot of 16.7256 with type <class 'str'>
['Mo', '6/15/09', '16.8345', '13.022M', '17.033M']
spot of 16.8345 with type <class 'str'>
['Fr', '6/12/09', '17.1433', '13.491M', '16.966M']
spot of 17.1433 with type <class 'str'>
['Th', '6/11/09', '16.9026', '15.673M', '17.76M']
spot of 16.9026 with type <class 'str'>
['We', '6/10/09', '16.7029', '14.162M', '19.88M']
spot of 16.7029 with type <class 'str'>
['Tu', '6/9/09', '16.7256', '15.483M', '20.677M']
spot of 16.7256 with type <class 'str'>
['Mo', '6/8/09', '16.9844', '17.484M', '20.821M']
spot of 16.9844 with type <class 'str'>
['Fr', '6/5/09', '16.9571', '25.956M', '20.787M']
spot of 16.9571 with type <class 'str'>
['Th', '6/4/09', '16.3851', '18.912M', '20.037M']
spot of 16.3851 with type <class 'str'>
['We', '6/3/09', '16.1762', '13.944M', '19.72M']
spot of 16.1762 with type <class 'str'>
['Tu', '6/2/09', '16.2716', '16.569M', '19.71M']
spot of 16.2716 with type <class 'str'>
['Mo', '6/1/09', '16.3442', '17.785M', '19.553M']
spot of 16.3442 with type <class 'str'>
['Fr', '5/29/09', '15.5951', '19.509M', '19.964M']
spot of 15.5951 with type <class 'str'>
['Th', '5/28/09', '15.754', '16.607M', '20.492M']
spot of 15.754 with type <class 'str'>
['We', '5/27/09', '15.5906', '16.843M', '20.413M']
spot of 15.5906 with type <class 'str'>
['Tu', '5/26/09', '15.6496', '20.062M', '20.15M']
spot of 15.6496 with type <class 'str'>
['Fr', '5/22/09', '15.4998', '12.005M', '19.672M']
spot of 15.4998 with type <class 'str'>
['Th', '5/21/09', '15.5361', '25.411M', '19.747M']
spot of 15.5361 with type <class 'str'>
['We', '5/20/09', '15.7404', '47.463M', '19.347M']
spot of 15.7404 with type <class 'str'>
['Tu', '5/19/09', '16.6075', '26.129M', '17.12M']
spot of 16.6075 with type <class 'str'>
['Mo', '5/18/09', '16.2216', '17.634M', '16.113M']
spot of 16.2216 with type <class 'str'>
['Fr', '5/15/09', '15.8947', '16.974M', '15.884M']
spot of 15.8947 with type <class 'str'>
['Th', '5/14/09', '15.8584', '14.713M', '15.941M']
spot of 15.8584 with type <class 'str'>
['We', '5/13/09', '15.5315', '14.148M', '15.943M']
spot of 15.5315 with type <class 'str'>
['Tu', '5/12/09', '15.8857', '13.806M', '16.023M']
spot of 15.8857 with type <class 'str'>
['Mo', '5/11/09', '15.9038', '14.207M', '16.055M']
spot of 15.9038 with type <class 'str'>
['Fr', '5/8/09', '15.7449', '23.951M', '16.189M']
spot of 15.7449 with type <class 'str'>
['Th', '5/7/09', '15.6768', '27.434M', '16.008M']
spot of 15.6768 with type <class 'str'>
['We', '5/6/09', '16.494', '15.415M', '15.59M']
spot of 16.494 with type <class 'str'>
['Tu', '5/5/09', '16.7074', '12.9M', '15.807M']
spot of 16.7074 with type <class 'str'>
['Mo', '5/4/09', '16.8618', '12.897M', '15.87M']
spot of 16.8618 with type <class 'str'>
['Fr', '5/1/09', '16.5803', '13.118M', '15.88M']
spot of 16.5803 with type <class 'str'>
['Th', '4/30/09', '16.3351', '19.423M', '16.064M']
spot of 16.3351 with type <class 'str'>
['We', '4/29/09', '16.5485', '14.045M', '15.726M']
spot of 16.5485 with type <class 'str'>
['Tu', '4/28/09', '16.0809', '11.026M', '15.716M']
spot of 16.0809 with type <class 'str'>
['Mo', '4/27/09', '16.0945', '14.197M', '16.042M']
spot of 16.0945 with type <class 'str'>
['Fr', '4/24/09', '16.2534', '17.841M', '16.435M']
spot of 16.2534 with type <class 'str'>
['Th', '4/23/09', '15.7812', '14.734M', '16.782M']
spot of 15.7812 with type <class 'str'>
['We', '4/22/09', '15.7449', '15.355M', '17.195M']
spot of 15.7449 with type <class 'str'>
['Tu', '4/21/09', '16.0854', '14.278M', '17.451M']
spot of 16.0854 with type <class 'str'>
['Mo', '4/20/09', '15.7449', '16.223M', '18.397M']
spot of 15.7449 with type <class 'str'>
['Fr', '4/17/09', '16.4804', '21.236M', '19.213M']
spot of 16.4804 with type <class 'str'>
['Th', '4/16/09', '16.6166', '21.16M', '20.16M']
spot of 16.6166 with type <class 'str'>
['We', '4/15/09', '15.8221', '18.676M', '20.412M']
spot of 15.8221 with type <class 'str'>
['Tu', '4/14/09', '15.4907', '13.834M', '20.393M']
spot of 15.4907 with type <class 'str'>
['Mo', '4/13/09', '15.6723', '13.061M', '21.263M']
spot of 15.6723 with type <class 'str'>
['Th', '4/9/09', '15.6314', '15.876M', '22.276M']
spot of 15.6314 with type <class 'str'>
['We', '4/8/09', '15.0094', '14.346M', '22.497M']
spot of 15.0094 with type <class 'str'>
['Tu', '4/7/09', '15.1229', '13.9M', '23.678M']
spot of 15.1229 with type <class 'str'>
['Mo', '4/6/09', '15.3272', '15.92M', '24.058M']
spot of 15.3272 with type <class 'str'>
['Fr', '4/3/09', '15.5043', '20.08M', '24.175M']
spot of 15.5043 with type <class 'str'>
['Th', '4/2/09', '15.2955', '23.048M', '24.414M']
spot of 15.2955 with type <class 'str'>
['We', '4/1/09', '14.9277', '20.938M', '24.48M']
spot of 14.9277 with type <class 'str'>
['Tu', '3/31/09', '14.5554', '19.193M', '24.947M']
spot of 14.5554 with type <class 'str'>
['Mo', '3/30/09', '14.5827', '28.471M', '26.046M']
spot of 14.5827 with type <class 'str'>
['Fr', '3/27/09', '15.132', '28.461M', '26.189M']
spot of 15.132 with type <class 'str'>
['Th', '3/26/09', '15.073', '35.442M', '26.526M']
spot of 15.073 with type <class 'str'>
['We', '3/25/09', '14.0787', '24.937M', '26.178M']
spot of 14.0787 with type <class 'str'>
['Tu', '3/24/09', '13.9017', '18.395M', '26.294M']
spot of 13.9017 with type <class 'str'>
['Mo', '3/23/09', '14.1604', '26.874M', '26.888M']
spot of 14.1604 with type <class 'str'>
['Fr', '3/20/09', '13.0981', '28.253M', '26.961M']
spot of 13.0981 with type <class 'str'>
['Th', '3/19/09', '13.2116', '19.195M', '27.697M']
spot of 13.2116 with type <class 'str'>
['We', '3/18/09', '13.1616', '32.067M', '27.834M']
spot of 13.1616 with type <class 'str'>
['Tu', '3/17/09', '13.5067', '19.599M', '27.569M']
spot of 13.5067 with type <class 'str'>
['Mo', '3/16/09', '13.1753', '17.666M', '28.991M']
spot of 13.1753 with type <class 'str'>
['Fr', '3/13/09', '13.3705', '23.675M', '29.981M']
spot of 13.3705 with type <class 'str'>
['Th', '3/12/09', '13.3205', '24.03M', '30.141M']
spot of 13.3205 with type <class 'str'>
['We', '3/11/09', '12.9891', '27.942M', '32.341M']
spot of 12.9891 with type <class 'str'>
['Tu', '3/10/09', '12.2763', '35.677M', '32.389M']
spot of 12.2763 with type <class 'str'>
['Mo', '3/9/09', '11.5908', '30.631M', '31.397M']
spot of 11.5908 with type <class 'str'>
['Fr', '3/6/09', '12.2491', '33.508M', '30.739M']
spot of 12.2491 with type <class 'str'>
['Th', '3/5/09', '12.2945', '30.225M', '29.82M']
spot of 12.2945 with type <class 'str'>
['We', '3/4/09', '13.0073', '26.669M', '28.946M']
spot of 13.0073 with type <class 'str'>
['Tu', '3/3/09', '12.7893', '27.31M', '28.317M']
spot of 12.7893 with type <class 'str'>
['Mo', '3/2/09', '12.7439', '27.972M', '27.435M']
spot of 12.7439 with type <class 'str'>
['Fr', '2/27/09', '13.1798', '39.285M', '27.123M']
spot of 13.1798 with type <class 'str'>
['Th', '2/26/09', '13.7291', '21.255M', '26.337M']
spot of 13.7291 with type <class 'str'>
['We', '2/25/09', '13.6747', '28.095M', '25.889M']
spot of 13.6747 with type <class 'str'>
['Tu', '2/24/09', '13.4477', '40.929M', '24.976M']
spot of 13.4477 with type <class 'str'>
['Mo', '2/23/09', '13.2933', '32.506M', '23.293M']
spot of 13.2933 with type <class 'str'>
['Fr', '2/20/09', '14.1831', '26.074M', '22.284M']
spot of 14.1831 with type <class 'str'>
['Th', '2/19/09', '14.2512', '57.043M', '21.531M']
spot of 14.2512 with type <class 'str'>
['We', '2/18/09', '15.4725', '28.653M', '18.904M']
spot of 15.4725 with type <class 'str'>
['Tu', '2/17/09', '15.5906', '20.798M', '17.785M']
spot of 15.5906 with type <class 'str'>
['Fr', '2/13/09', '16.2852', '20.768M', '17.559M']
spot of 16.2852 with type <class 'str'>
['Th', '2/12/09', '15.9992', '19.713M', '17.452M']
spot of 15.9992 with type <class 'str'>
['We', '2/11/09', '15.9265', '17.118M', '17.556M']
spot of 15.9265 with type <class 'str'>
['Tu', '2/10/09', '15.9855', '17.231M', '17.616M']
spot of 15.9855 with type <class 'str'>
['Mo', '2/9/09', '16.494', '14.084M', '17.65M']
spot of 16.494 with type <class 'str'>
['Fr', '2/6/09', '16.7301', '23.288M', '18.633M']
spot of 16.7301 with type <class 'str'>
['Th', '2/5/09', '15.9311', '27.498M', '18.661M']
spot of 15.9311 with type <class 'str'>
['We', '2/4/09', '16.3578', '14.539M', '18.156M']
spot of 16.3578 with type <class 'str'>
['Tu', '2/3/09', '16.3896', '14.391M', '18.507M']
spot of 16.3896 with type <class 'str'>
['Mo', '2/2/09', '15.7358', '15.696M', '18.545M']
spot of 15.7358 with type <class 'str'>
['Fr', '1/30/09', '15.7767', '17.36M', '18.634M']
spot of 15.7767 with type <class 'str'>
['Th', '1/29/09', '16.3124', '14.781M', '18.51M']
spot of 16.3124 with type <class 'str'>
['We', '1/28/09', '16.9844', '17.638M', '19.186M']
spot of 16.9844 with type <class 'str'>
['Tu', '1/27/09', '16.2943', '11.868M', '20.052M']
spot of 16.2943 with type <class 'str'>
['Mo', '1/26/09', '16.149', '17.411M', '20.234M']
spot of 16.149 with type <class 'str'>
['Fr', '1/23/09', '16.2489', '19.159M', '20.047M']
spot of 16.2489 with type <class 'str'>
['Th', '1/22/09', '16.1127', '21.281M', '19.624M']
spot of 16.1127 with type <class 'str'>
['We', '1/21/09', '15.9401', '18.023M', '18.924M']
spot of 15.9401 with type <class 'str'>
['Tu', '1/20/09', '15.1366', '17.729M', '18.433M']
spot of 15.1366 with type <class 'str'>
['Fr', '1/16/09', '15.7858', '28.839M', '17.549M']
spot of 15.7858 with type <class 'str'>
['Th', '1/15/09', '16.2307', '23.702M', '15.929M']
spot of 16.2307 with type <class 'str'>
['We', '1/14/09', '16.0673', '19.926M', '15.039M']
spot of 16.0673 with type <class 'str'>
['Tu', '1/13/09', '16.267', '19.804M', '14.592M']
spot of 16.267 with type <class 'str'>
['Mo', '1/12/09', '16.7891', '14.956M', '14.746M']
spot of 16.7891 with type <class 'str'>
['Fr', '1/9/09', '17.0207', '17.031M', '14.965M']
spot of 17.0207 with type <class 'str'>
['Th', '1/8/09', '17.0888', '15.506M', '14.951M']
spot of 17.0888 with type <class 'str'>
['We', '1/7/09', '17.1796', '24.914M', '15.216M']
spot of 17.1796 with type <class 'str'>
['Tu', '1/6/09', '17.847', '30.634M', '14.568M']
spot of 17.847 with type <class 'str'>
['Mo', '1/5/09', '16.494', '14.603M', '13.698M']
spot of 16.494 with type <class 'str'>
['Fr', '1/2/09', '16.712', '14.594M', '13.869M']
spot of 16.712 with type <class 'str'>
['We', '12/31/08', '16.4759', '12.818M', '13.842M']
spot of 16.4759 with type <class 'str'>
['Tu', '12/30/08', '16.4305', '10.777M', '14.21M']
spot of 16.4305 with type <class 'str'>
['Mo', '12/29/08', '16.1535', '10.66M', '14.817M']
spot of 16.1535 with type <class 'str'>
['Fr', '12/26/08', '15.8766', '4.479M', '15.533M']
spot of 15.8766 with type <class 'str'>
['We', '12/24/08', '15.7449', '4.531M', '16.476M']
spot of 15.7449 with type <class 'str'>
['Tu', '12/23/08', '15.6859', '10.36M', '17.628M']
spot of 15.6859 with type <class 'str'>
['Mo', '12/22/08', '15.7767', '13.211M', '18.381M']
spot of 15.7767 with type <class 'str'>
['Fr', '12/19/08', '16.0718', '22.116M', '18.904M']
spot of 16.0718 with type <class 'str'>
['Th', '12/18/08', '16.0582', '18.244M', '17.923M']
spot of 16.0582 with type <class 'str'>
['We', '12/17/08', '16.5576', '16.825M', '18.181M']
spot of 16.5576 with type <class 'str'>
['Tu', '12/16/08', '16.4895', '19.482M', '19.569M']
spot of 16.4895 with type <class 'str'>
['Mo', '12/15/08', '15.8085', '15.193M', '20.508M']
spot of 15.8085 with type <class 'str'>
['Fr', '12/12/08', '16.3306', '17.576M', '22.062M']
spot of 16.3306 with type <class 'str'>
['Th', '12/11/08', '15.7903', '17.169M', '23.589M']
spot of 15.7903 with type <class 'str'>
['We', '12/10/08', '15.9356', '14.192M', '24.859M']
spot of 15.9356 with type <class 'str'>
['Tu', '12/9/08', '15.6677', '18.335M', '28.446M']
spot of 15.6677 with type <class 'str'>
['Mo', '12/8/08', '15.9946', '19.89M', '28.277M']
spot of 15.9946 with type <class 'str'>
['Fr', '12/5/08', '15.2228', '21.396M', '28.426M']
spot of 15.2228 with type <class 'str'>
['Th', '12/4/08', '15.1593', '18.624M', '29.546M']
spot of 15.1593 with type <class 'str'>
['We', '12/3/08', '15.8085', '21.812M', '29.661M']
spot of 15.8085 with type <class 'str'>
['Tu', '12/2/08', '15.5588', '21.658M', '29.279M']
spot of 15.5588 with type <class 'str'>
['Mo', '12/1/08', '15.182', '21.056M', '28.903M']
spot of 15.182 with type <class 'str'>
['Fr', '11/28/08', '16.0173', '7.394M', '28.711M']
spot of 16.0173 with type <class 'str'>
['We', '11/26/08', '15.9855', '22.117M', '30.196M']
spot of 15.9855 with type <class 'str'>
['Tu', '11/25/08', '15.2546', '37.647M', '30.213M']
spot of 15.2546 with type <class 'str'>
['Mo', '11/24/08', '16.208', '33.568M', '29.508M']
spot of 16.208 with type <class 'str'>
['Fr', '11/21/08', '15.7268', '38.498M', '28.719M']
spot of 15.7268 with type <class 'str'>
['Th', '11/20/08', '14.451', '40.478M', '28.071M']
spot of 14.451 with type <class 'str'>
['We', '11/19/08', '14.9958', '36.223M', '27.331M']
spot of 14.9958 with type <class 'str'>
['Tu', '11/18/08', '15.2501', '68.001M', '26.787M']
spot of 15.2501 with type <class 'str'>
['Mo', '11/17/08', '13.3205', '15.799M', '24.103M']
spot of 13.3205 with type <class 'str'>
['Fr', '11/14/08', '13.829', '22.114M', '24.648M']
spot of 13.829 with type <class 'str'>
['Th', '11/13/08', '14.3965', '38.207M', '25.011M']
spot of 14.3965 with type <class 'str'>
['We', '11/12/08', '14.1377', '20.339M', '24.99M']
spot of 14.1377 with type <class 'str'>
['Tu', '11/11/08', '15.0957', '16.086M', '25.682M']
spot of 15.0957 with type <class 'str'>
['Mo', '11/10/08', '15.5134', '16.013M', '26.478M']
spot of 15.5134 with type <class 'str'>
['Fr', '11/7/08', '15.7268', '18.184M', '26.855M']
spot of 15.7268 with type <class 'str'>
['Th', '11/6/08', '15.2728', '29.661M', '27.112M']
spot of 15.2728 with type <class 'str'>
['We', '11/5/08', '16.4577', '22.379M', '27.076M']
spot of 16.4577 with type <class 'str'>
['Tu', '11/4/08', '17.3612', '27.076M', '27.512M']
spot of 17.3612 with type <class 'str'>
['Mo', '11/3/08', '17.5292', '21.728M', '27.605M']
spot of 17.5292 with type <class 'str'>
['Fr', '10/31/08', '17.3793', '28.776M', '27.948M']
spot of 17.3793 with type <class 'str'>
['Th', '10/30/08', '17.1115', '29.382M', '29.333M']
spot of 17.1115 with type <class 'str'>
['We', '10/29/08', '16.0718', '28.062M', '29.634M']
spot of 16.0718 with type <class 'str'>
['Tu', '10/28/08', '15.9311', '27.744M', '30.516M']
spot of 15.9311 with type <class 'str'>
['Mo', '10/27/08', '14.1559', '23.97M', '30.495M']
spot of 14.1559 with type <class 'str'>
['Fr', '10/24/08', '14.728', '27.564M', '30.869M']
spot of 14.728 with type <class 'str'>
['Th', '10/23/08', '15.0503', '37.891M', '30.752M']
spot of 15.0503 with type <class 'str'>
['We', '10/22/08', '15.9946', '30.712M', '30.117M']
spot of 15.9946 with type <class 'str'>
['Tu', '10/21/08', '17.2749', '28.032M', '29.537M']
spot of 17.2749 with type <class 'str'>
['Mo', '10/20/08', '18.6188', '21.67M', '29.157M']
spot of 18.6188 with type <class 'str'>
['Fr', '10/17/08', '18.0286', '22.04M', '29.6M']
spot of 18.0286 with type <class 'str'>
['Th', '10/16/08', '18.0059', '29.12M', '29.438M']
spot of 18.0059 with type <class 'str'>
['We', '10/15/08', '17.5292', '28.908M', '28.975M']
spot of 17.5292 with type <class 'str'>
['Tu', '10/14/08', '18.3736', '28.474M', '28.388M']
spot of 18.3736 with type <class 'str'>
['Mo', '10/13/08', '18.7958', '26.879M', '27.794M']
spot of 18.7958 with type <class 'str'>
['Fr', '10/10/08', '16.7982', '49.555M', '27.477M']
spot of 16.7982 with type <class 'str'>
['Th', '10/9/08', '17.4792', '33.89M', '26.203M']
spot of 17.4792 with type <class 'str'>
['We', '10/8/08', '18.1602', '41.294M', '26.39M']
spot of 18.1602 with type <class 'str'>
['Tu', '10/7/08', '18.015', '27.419M', '25.769M']
spot of 18.015 with type <class 'str'>
['Mo', '10/6/08', '18.5915', '29.59M', '27.529M']
spot of 18.5915 with type <class 'str'>
['Fr', '10/3/08', '19.5223', '25.799M', '27.26M']
spot of 19.5223 with type <class 'str'>
['Th', '10/2/08', '19.6403', '28.37M', '26.661M']
spot of 19.6403 with type <class 'str'>
['We', '10/1/08', '20.4166', '22.015M', '26.468M']
spot of 20.4166 with type <class 'str'>
['Tu', '9/30/08', '20.9932', '22.337M', '26.482M']
spot of 20.9932 with type <class 'str'>
['Mo', '9/29/08', '20.226', '28.316M', '26.733M']
spot of 20.226 with type <class 'str'>
['Fr', '9/26/08', '21.706', '19.61M', '26.103M']
spot of 21.706 with type <class 'str'>
['Th', '9/25/08', '21.6561', '22.163M', '25.967M']
spot of 21.6561 with type <class 'str'>
['We', '9/24/08', '21.2384', '20.104M', '25.535M']
spot of 21.2384 with type <class 'str'>
['Tu', '9/23/08', '21.2838', '19.566M', '25.463M']
spot of 21.2838 with type <class 'str'>

['Mo', '9/22/08', '21.4109', '22.124M', '25.488M']
spot of 21.4109 with type <class 'str'>
['Fr', '9/19/08', '21.9103', '30.452M', '24.951M']
spot of 21.9103 with type <class 'str'>
['Th', '9/18/08', '21.4018', '36.686M', '23.829M']
spot of 21.4018 with type <class 'str'>
['We', '9/17/08', '20.7708', '31.982M', '22.287M']
spot of 20.7708 with type <class 'str'>
['Tu', '9/16/08', '21.9784', '53.823M', '20.83M']
spot of 21.9784 with type <class 'str'>
['Mo', '9/15/08', '20.5801', '25.547M', '18.048M']
spot of 20.5801 with type <class 'str'>
['Fr', '9/12/08', '21.3247', '16.82M', '17.237M']
spot of 21.3247 with type <class 'str'>
['Th', '9/11/08', '21.4245', '25.478M', '17.075M']
spot of 21.4245 with type <class 'str'>
['We', '9/10/08', '21.2293', '22.218M', '17.588M']
spot of 21.2293 with type <class 'str'>
['Tu', '9/9/08', '20.8888', '26.106M', '17.628M']
spot of 20.8888 with type <class 'str'>
['Mo', '9/8/08', '20.7662', '18.867M', '17.093M']
spot of 20.7662 with type <class 'str'>
['Fr', '9/5/08', '20.4121', '17.575M', '16.653M']
spot of 20.4121 with type <class 'str'>
['Th', '9/4/08', '20.1851', '15.678M', '16.218M']
spot of 20.1851 with type <class 'str'>
['We', '9/3/08', '20.4711', '19.021M', '15.776M']
spot of 20.4711 with type <class 'str'>
['Tu', '9/2/08', '20.8843', '19.949M', '15.073M']
spot of 20.8843 with type <class 'str'>
['Fr', '8/29/08', '21.302', '14.068M', '14.448M']
spot of 21.302 with type <class 'str'>
['Th', '8/28/08', '21.4881', '13.622M', '14.494M']
spot of 21.4881 with type <class 'str'>
['We', '8/27/08', '21.2475', '13.557M', '14.444M']
spot of 21.2475 with type <class 'str'>
['Tu', '8/26/08', '21.2747', '10.124M', '14.355M']
spot of 21.2747 with type <class 'str'>
['Mo', '8/25/08', '21.252', '12.083M', '14.568M']
spot of 21.252 with type <class 'str'>
['Fr', '8/22/08', '21.3655', '13.383M', '14.395M']
spot of 21.3655 with type <class 'str'>
['Th', '8/21/08', '21.0886', '14.401M', '14.237M']
spot of 21.0886 with type <class 'str'>
['We', '8/20/08', '20.9569', '33.163M', '14.248M']
spot of 20.9569 with type <class 'str'>
['Tu', '8/19/08', '19.8355', '22.82M', '13.106M']
spot of 19.8355 with type <class 'str'>
['Mo', '8/18/08', '20.2487', '18.086M', '12.714M']
spot of 20.2487 with type <class 'str'>
['Fr', '8/15/08', '20.6981', '12.259M', '12.242M']
spot of 20.6981 with type <class 'str'>
['Th', '8/14/08', '20.6573', '11.055M', '12.21M']
spot of 20.6573 with type <class 'str'>
['We', '8/13/08', '20.7072', '9.043M', '12.392M']
spot of 20.7072 with type <class 'str'>
['Tu', '8/12/08', '20.739', '8.49M', '12.877M']
spot of 20.739 with type <class 'str'>
['Mo', '8/11/08', '20.7617', '10.563M', '13.32M']
spot of 20.7617 with type <class 'str'>
['Fr', '8/8/08', '20.8026', '14.763M', '13.346M']
spot of 20.8026 with type <class 'str'>
['Th', '8/7/08', '20.6618', '12.868M', '13.306M']
spot of 20.6618 with type <class 'str'>
['We', '8/6/08', '20.4984', '12.221M', '13.712M']
spot of 20.4984 with type <class 'str'>
['Tu', '8/5/08', '20.4303', '13.316M', '14.149M']
spot of 20.4303 with type <class 'str'>
['Mo', '8/4/08', '19.949', '9.489M', '14.72M']
spot of 19.949 with type <class 'str'>
['Fr', '8/1/08', '19.9581', '11.023M', '15.218M']
spot of 19.9581 with type <class 'str'>
['Th', '7/31/08', '20.3395', '14.555M', '15.731M']
spot of 20.3395 with type <class 'str'>
['We', '7/30/08', '20.4575', '16.044M', '16.531M']
spot of 20.4575 with type <class 'str'>
['Tu', '7/29/08', '20.0353', '16.931M', '16.556M']
spot of 20.0353 with type <class 'str'>
['Mo', '7/28/08', '19.5223', '11.017M', '16.629M']
spot of 19.5223 with type <class 'str'>
['Fr', '7/25/08', '19.8446', '11.765M', '16.885M']
spot of 19.8446 with type <class 'str'>
['Th', '7/24/08', '19.6948', '13.793M', '17.008M']
spot of 19.6948 with type <class 'str'>
['We', '7/23/08', '20.1034', '16.321M', '16.786M']
spot of 20.1034 with type <class 'str'>
['Tu', '7/22/08', '19.7629', '15.128M', '16.98M']
spot of 19.7629 with type <class 'str'>
['Mo', '7/21/08', '19.6812', '10.957M', '16.998M']
spot of 19.6812 with type <class 'str'>
['Fr', '7/18/08', '19.7129', '14.164M', '17.236M']
spot of 19.7129 with type <class 'str'>
['Th', '7/17/08', '19.6267', '18.952M', '17.465M']
spot of 19.6267 with type <class 'str'>
['We', '7/16/08', '19.2226', '18.772M', '16.985M']
spot of 19.2226 with type <class 'str'>
['Tu', '7/15/08', '18.9093', '21.885M', '16.869M']
spot of 18.9093 with type <class 'str'>
['Mo', '7/14/08', '18.9729', '16.966M', '16.148M']
spot of 18.9729 with type <class 'str'>
['Fr', '7/11/08', '18.8821', '18.71M', '16.359M']
spot of 18.8821 with type <class 'str'>
['Th', '7/10/08', '18.8185', '26.564M', '16.056M']
spot of 18.8185 with type <class 'str'>
['We', '7/9/08', '19.1636', '16.42M', '15.334M']
spot of 19.1636 with type <class 'str'>
['Tu', '7/8/08', '19.7266', '18.021M', '15.065M']
spot of 19.7266 with type <class 'str'>
['Mo', '7/7/08', '19.9763', '14.851M', '14.542M']
spot of 19.9763 with type <class 'str'>
['Th', '7/3/08', '19.722', '13.615M', '14.485M']
spot of 19.722 with type <class 'str'>
['We', '7/2/08', '19.7992', '10.461M', '14.318M']
spot of 19.7992 with type <class 'str'>
['Tu', '7/1/08', '19.9763', '19.227M', '14.559M']
spot of 19.9763 with type <class 'str'>
['Mo', '6/30/08', '20.0716', '15.406M', '14.117M']
spot of 20.0716 with type <class 'str'>
['Fr', '6/27/08', '20.2396', '14.521M', '13.809M']
spot of 20.2396 with type <class 'str'>
['Th', '6/26/08', '20.2804', '17.607M', '13.959M']
spot of 20.2804 with type <class 'str'>
['We', '6/25/08', '20.7027', '11.742M', '14.3M']
spot of 20.7027 with type <class 'str'>
['Tu', '6/24/08', '20.4484', '17.042M', '14.396M']
spot of 20.4484 with type <class 'str'>
['Mo', '6/23/08', '20.6618', '11.068M', '14.232M']
spot of 20.6618 with type <class 'str'>
['Fr', '6/20/08', '20.7208', '20.13M', '14.467M']
spot of 20.7208 with type <class 'str'>
['Th', '6/19/08', '21.1521', '14.171M', '14.295M']
spot of 21.1521 with type <class 'str'>
['We', '6/18/08', '21.1521', '15.721M', '14.322M']
spot of 21.1521 with type <class 'str'>
['Tu', '6/17/08', '21.4926', '12.398M', '14.467M']
spot of 21.4926 with type <class 'str'>
['Mo', '6/16/08', '21.6016', '10.175M', '14.683M']
spot of 21.6016 with type <class 'str'>
['Fr', '6/13/08', '21.5426', '13.988M', '15.124M']
spot of 21.5426 with type <class 'str'>
['Th', '6/12/08', '21.3247', '11.115M', '16.143M']
spot of 21.3247 with type <class 'str'>
['We', '6/11/08', '21.1022', '14.08M', '17.703M']
spot of 21.1022 with type <class 'str'>
['Tu', '6/10/08', '21.5971', '12.598M', '18.212M']
spot of 21.5971 with type <class 'str'>
['Mo', '6/9/08', '21.6243', '10.787M', '18.761M']
spot of 21.6243 with type <class 'str'>
['Fr', '6/6/08', '21.6243', '16.771M', '19.698M']
spot of 21.6243 with type <class 'str'>
['Th', '6/5/08', '22.0238', '22.723M', '20.491M']
spot of 22.0238 with type <class 'str'>
['We', '6/4/08', '21.252', '13.172M', '22.643M']
spot of 21.252 with type <class 'str'>
['Tu', '6/3/08', '20.9932', '14.583M', '31.215M']
spot of 20.9932 with type <class 'str'>
['Mo', '6/2/08', '20.9978', '14.589M', '32.927M']
spot of 20.9978 with type <class 'str'>
['Fr', '5/30/08', '21.3655', '17.549M', '32.595M']
spot of 21.3655 with type <class 'str'>
['Th', '5/29/08', '21.2974', '14.579M', '32.13M']
spot of 21.2974 with type <class 'str'>
['We', '5/28/08', '21.1204', '17.902M', '32.411M']
spot of 21.1204 with type <class 'str'>
['Tu', '5/27/08', '20.7481', '15.639M', '31.988M']
spot of 20.7481 with type <class 'str'>
['Fr', '5/23/08', '20.4121', '16.781M', '31.523M']
spot of 20.4121 with type <class 'str'>
['Th', '5/22/08', '20.3849', '29.274M', '31.181M']
spot of 20.3849 with type <class 'str'>
['We', '5/21/08', '20.3395', '34.514M', '30.334M']
spot of 20.3395 with type <class 'str'>
['Tu', '5/20/08', '21.0931', '21.717M', '29.136M']
spot of 21.0931 with type <class 'str'>
['Mo', '5/19/08', '21.2066', '20.835M', '28.319M']
spot of 21.2066 with type <class 'str'>
['Fr', '5/16/08', '21.4699', '24.845M', '27.472M']
spot of 21.4699 with type <class 'str'>
['Th', '5/15/08', '21.2157', '28.669M', '26.638M']
spot of 21.2157 with type <class 'str'>
['We', '5/14/08', '20.7208', '55.005M', '25.427M']
spot of 20.7208 with type <class 'str'>
['Tu', '5/13/08', '20.0988', '141.741M', '22.459M']
spot of 20.0988 with type <class 'str'>
['Mo', '5/12/08', '21.2611', '40.264M', '13.665M']
spot of 21.2611 with type <class 'str'>
['Fr', '5/9/08', '22.3053', '9.616M', '11.521M']
spot of 22.3053 with type <class 'str'>
['Th', '5/8/08', '22.2735', '10.573M', '11.996M']
spot of 22.2735 with type <class 'str'>
['We', '5/7/08', '22.0874', '18.784M', '11.916M']
spot of 22.0874 with type <class 'str'>
['Tu', '5/6/08', '22.0828', '11.558M', '11.524M']
spot of 22.0828 with type <class 'str'>
['Mo', '5/5/08', '21.9194', '8.668M', '11.323M']
spot of 21.9194 with type <class 'str'>
['Fr', '5/2/08', '21.9557', '11.659M', '11.327M']
spot of 21.9557 with type <class 'str'>
['Th', '5/1/08', '21.8059', '16.566M', '11.234M']
spot of 21.8059 with type <class 'str'>
['We', '4/30/08', '21.0432', '16.546M', '10.853M']
spot of 21.0432 with type <class 'str'>
['Tu', '4/29/08', '21.7196', '9.458M', '10.542M']
spot of 21.7196 with type <class 'str'>
['Mo', '4/28/08', '21.6061', '8.123M', '10.738M']
spot of 21.6061 with type <class 'str'>
['Fr', '4/25/08', '21.5426', '12.339M', '11.137M']
spot of 21.5426 with type <class 'str'>
['Th', '4/24/08', '21.9512', '10.5M', '11.139M']
spot of 21.9512 with type <class 'str'>
['We', '4/23/08', '21.8014', '10.495M', '11.452M']
spot of 21.8014 with type <class 'str'>
['Tu', '4/22/08', '21.8695', '9.826M', '11.625M']
spot of 21.8695 with type <class 'str'>
['Mo', '4/21/08', '21.9966', '8.103M', '12.143M']
spot of 21.9966 with type <class 'str'>
['Fr', '4/18/08', '21.874', '16.739M', '13.097M']
spot of 21.874 with type <class 'str'>
['Th', '4/17/08', '21.479', '9.376M', '12.66M']
spot of 21.479 with type <class 'str'>
['We', '4/16/08', '21.3837', '12.898M', '12.85M']
spot of 21.3837 with type <class 'str'>
['Tu', '4/15/08', '20.8026', '8.556M', '12.906M']
spot of 20.8026 with type <class 'str'>
['Mo', '4/14/08', '20.8026', '8.715M', '13.033M']
spot of 20.8026 with type <class 'str'>
['Fr', '4/11/08', '20.6436', '10.277M', '13.556M']
spot of 20.6436 with type <class 'str'>
['Th', '4/10/08', '21.1431', '10.848M', '14.754M']
spot of 21.1431 with type <class 'str'>
['We', '4/9/08', '20.9251', '11.882M', '15.413M']
spot of 20.9251 with type <class 'str'>
['Tu', '4/8/08', '20.9161', '12.393M', '15.623M']
spot of 20.9161 with type <class 'str'>
['Mo', '4/7/08', '20.8479', '14.113M', '15.966M']
spot of 20.8479 with type <class 'str'>
['Fr', '4/4/08', '21.0659', '12.361M', '16.249M']
spot of 21.0659 with type <class 'str'>
['Th', '4/3/08', '21.3201', '15.193M', '16.469M']
spot of 21.3201 with type <class 'str'>
['We', '4/2/08', '21.4427', '13.091M', '16.273M']
spot of 21.4427 with type <class 'str'>
['Tu', '4/1/08', '21.6061', '17.602M', '16.369M']
spot of 21.6061 with type <class 'str'>
['Mo', '3/31/08', '20.7299', '22.417M', '15.958M']
spot of 20.7299 with type <class 'str'>
['Fr', '3/28/08', '20.9251', '10.184M', '15.303M']
spot of 20.9251 with type <class 'str'>
['Th', '3/27/08', '21.1748', '12.22M', '15.696M']
spot of 21.1748 with type <class 'str'>
['We', '3/26/08', '21.4926', '13.734M', '15.713M']
spot of 21.4926 with type <class 'str'>
['Tu', '3/25/08', '21.9103', '10.464M', '15.877M']
spot of 21.9103 with type <class 'str'>
['Mo', '3/24/08', '21.7605', '16.555M', '15.991M']
spot of 21.7605 with type <class 'str'>
['Th', '3/20/08', '21.1113', '28.252M', '15.833M']
spot of 21.1113 with type <class 'str'>
['We', '3/19/08', '21.1521', '20.735M', '15.002M']
spot of 21.1521 with type <class 'str'>
['Tu', '3/18/08', '21.7605', '15.022M', '14.586M']
spot of 21.7605 with type <class 'str'>
['Mo', '3/17/08', '21.075', '17.547M', '14.946M']
spot of 21.075 with type <class 'str'>
['Fr', '3/14/08', '20.8479', '18.353M', '14.902M']
spot of 20.8479 with type <class 'str'>
['Th', '3/13/08', '21.3474', '15.662M', '14.621M']
spot of 21.3474 with type <class 'str'>
['We', '3/12/08', '21.4609', '12.253M', '14.852M']
spot of 21.4609 with type <class 'str'>
['Tu', '3/11/08', '21.756', '14.533M', '16.717M']
spot of 21.756 with type <class 'str'>
['Mo', '3/10/08', '21.2066', '11.437M', '17.873M']
spot of 21.2066 with type <class 'str'>
['Fr', '3/7/08', '21.479', '12.588M', '18.375M']
spot of 21.479 with type <class 'str'>
['Th', '3/6/08', '21.6924', '16.084M', '18.859M']
spot of 21.6924 with type <class 'str'>
['We', '3/5/08', '21.933', '12.476M', '18.953M']
spot of 21.933 with type <class 'str'>
['Tu', '3/4/08', '21.9966', '16.191M', '19.441M']
spot of 21.9966 with type <class 'str'>
['Mo', '3/3/08', '21.6107', '12.177M', '19.262M']
spot of 21.6107 with type <class 'str'>
['Fr', '2/29/08', '21.6879', '14.187M', '19.95M']
spot of 21.6879 with type <class 'str'>
['Th', '2/28/08', '22.042', '15.78M', '22.251M']
spot of 22.042 with type <class 'str'>
['We', '2/27/08', '22.219', '14.494M', '22.442M']
spot of 22.219 with type <class 'str'>
['Tu', '2/26/08', '22.3371', '20.432M', '22.687M']
spot of 22.3371 with type <class 'str'>
['Mo', '2/25/08', '21.8513', '16.876M', '22.155M']
spot of 21.8513 with type <class 'str'>
['Fr', '2/22/08', '21.5199', '14.144M', '22.251M']
spot of 21.5199 with type <class 'str'>
['Th', '2/21/08', '21.2611', '19.132M', '22.783M']
spot of 21.2611 with type <class 'str'>
['We', '2/20/08', '21.538', '40.228M', '22.823M']
spot of 21.538 with type <class 'str'>
['Tu', '2/19/08', '19.9536', '31.878M', '21.552M']
spot of 19.9536 with type <class 'str'>
['Fr', '2/15/08', '19.9172', '18.958M', '20.374M']
spot of 19.9172 with type <class 'str'>
['Th', '2/14/08', '19.6403', '19.85M', '20.53M']
spot of 19.6403 with type <class 'str'>
['We', '2/13/08', '19.999', '17.496M', '20.693M']
spot of 19.999 with type <class 'str'>
['Tu', '2/12/08', '19.4678', '19.787M', '21.783M']
spot of 19.4678 with type <class 'str'>
['Mo', '2/11/08', '19.3543', '13.512M', '22.627M']
spot of 19.3543 with type <class 'str'>
['Fr', '2/8/08', '19.0138', '22.502M', '23.399M']
spot of 19.0138 with type <class 'str'>
['Th', '2/7/08', '18.3872', '48.694M', '23.526M']
spot of 18.3872 with type <class 'str'>
['We', '2/6/08', '19.1409', '18.644M', '22.146M']
spot of 19.1409 with type <class 'str'>
['Tu', '2/5/08', '19.5132', '18.168M', '21.973M']
spot of 19.5132 with type <class 'str'>
['Mo', '2/4/08', '20.0035', '12.45M', '22.021M']
spot of 20.0035 with type <class 'str'>
['Fr', '2/1/08', '20.1669', '18.321M', '22.406M']
spot of 20.1669 with type <class 'str'>
['Th', '1/31/08', '19.8491', '22.126M', '22.83M']
spot of 19.8491 with type <class 'str'>
['We', '1/30/08', '19.7674', '19.735M', '23.395M']
spot of 19.7674 with type <class 'str'>
['Tu', '1/29/08', '19.6948', '21.163M', '24.928M']
spot of 19.6948 with type <class 'str'>
['Mo', '1/28/08', '19.8855', '14.204M', '25.616M']
spot of 19.8855 with type <class 'str'>
['Fr', '1/25/08', '19.8582', '21.298M', '26.317M']
spot of 19.8582 with type <class 'str'>
['Th', '1/24/08', '20.3803', '22.289M', '25.61M']
spot of 20.3803 with type <class 'str'>
['We', '1/23/08', '19.6085', '33.859M', '25.058M']
spot of 19.6085 with type <class 'str'>
['Tu', '1/22/08', '19.3951', '32.44M', '23.372M']
spot of 19.3951 with type <class 'str'>
['Fr', '1/18/08', '19.8628', '25.086M', '21.673M']
spot of 19.8628 with type <class 'str'>
['Th', '1/17/08', '19.5223', '24.41M', '20.537M']
spot of 19.5223 with type <class 'str'>
['We', '1/16/08', '20.1306', '27.994M', '19.311M']
spot of 20.1306 with type <class 'str'>
['Tu', '1/15/08', '20.453', '16.057M', '17.702M']
spot of 20.453 with type <class 'str'>
['Mo', '1/14/08', '20.9433', '18.881M', '17.781M']
spot of 20.9433 with type <class 'str'>
['Fr', '1/11/08', '20.4303', '18.229M', '17.128M']
spot of 20.4303 with type <class 'str'>
['Th', '1/10/08', '20.5846', '24.673M', '16.58M']
spot of 20.5846 with type <class 'str'>
['We', '1/9/08', '20.176', '30.612M', '15.738M']
spot of 20.176 with type <class 'str'>
['Tu', '1/8/08', '19.6085', '42.721M', '14.445M']
spot of 19.6085 with type <class 'str'>
['Mo', '1/7/08', '20.5892', '31.49M', '12.476M']
spot of 20.5892 with type <class 'str'>
['Fr', '1/4/08', '21.2793', '24.723M', '11.186M']
spot of 21.2793 with type <class 'str'>
['Th', '1/3/08', '22.5414', '10.69M', '10.501M']
spot of 22.5414 with type <class 'str'>
['We', '1/2/08', '22.5414', '13.999M', '10.694M']
spot of 22.5414 with type <class 'str'>
['Mo', '12/31/07', '22.9182', '8.574M', '10.605M']
spot of 22.9182 with type <class 'str'>
['Fr', '12/28/07', '23.3177', '6.959M', '10.63M']
spot of 23.3177 with type <class 'str'>
['Th', '12/27/07', '23.4312', '8.04M', '10.859M']
spot of 23.4312 with type <class 'str'>
['We', '12/26/07', '23.9579', '6.02M', '11.1M']
spot of 23.9579 with type <class 'str'>
['Mo', '12/24/07', '23.7536', '3.866M', '11.515M']
spot of 23.7536 with type <class 'str'>
['Fr', '12/21/07', '23.6219', '17.236M', '11.925M']
spot of 23.6219 with type <class 'str'>
['Th', '12/20/07', '23.2269', '9.089M', '12.135M']
spot of 23.2269 with type <class 'str'>
['We', '12/19/07', '23.2224', '10.005M', '12.264M']
spot of 23.2224 with type <class 'str'>
['Tu', '12/18/07', '23.1634', '12.048M', '12.73M']
spot of 23.1634 with type <class 'str'>
['Mo', '12/17/07', '23.1225', '11.215M', '12.974M']
spot of 23.1225 with type <class 'str'>
['Fr', '12/14/07', '23.6719', '13.193M', '13.29M']
spot of 23.6719 with type <class 'str'>
['Th', '12/13/07', '23.7763', '12.131M', '12.721M']
spot of 23.7763 with type <class 'str'>
['We', '12/12/07', '23.3949', '14.451M', '12.871M']
spot of 23.3949 with type <class 'str'>
['Tu', '12/11/07', '23.0544', '13.587M', '14.072M']
spot of 23.0544 with type <class 'str'>
['Mo', '12/10/07', '23.5947', '12.668M', '14.98M']
spot of 23.5947 with type <class 'str'>
['Fr', '12/7/07', '23.5357', '8.941M', '15.606M']
spot of 23.5357 with type <class 'str'>
['Th', '12/6/07', '23.7036', '10.4M', '15.92M']

spot of 23.7036 with type <class 'str'>
['We', '12/5/07', '23.4539', '11.658M', '16.108M']
spot of 23.4539 with type <class 'str'>
['Tu', '12/4/07', '23.0226', '12.241M', '16.442M']
spot of 23.0226 with type <class 'str'>
['Mo', '12/3/07', '22.9001', '10.015M', '16.657M']
spot of 22.9001 with type <class 'str'>
['Fr', '11/30/07', '23.2269', '20.377M', '17.337M']
spot of 23.2269 with type <class 'str'>
['Th', '11/29/07', '23.177', '11.032M', '17.634M']
spot of 23.177 with type <class 'str'>
['We', '11/28/07', '23.0317', '16.988M', '17.856M']
spot of 23.0317 with type <class 'str'>
['Tu', '11/27/07', '22.1146', '15.717M', '17.634M']
spot of 22.1146 with type <class 'str'>
['Mo', '11/26/07', '21.8649', '15.949M', '17.384M']
spot of 21.8649 with type <class 'str'>
['Fr', '11/23/07', '22.3235', '4.663M', '17.257M']
spot of 22.3235 with type <class 'str'>
['We', '11/21/07', '22.1918', '14.373M', '18.003M']
spot of 22.1918 with type <class 'str'>
['Tu', '11/20/07', '22.5005', '32.47M', '17.877M']
spot of 22.5005 with type <class 'str'>
['Mo', '11/19/07', '22.4461', '27.213M', '16.285M']
spot of 22.4461 with type <class 'str'>
['Fr', '11/16/07', '23.0408', '22.057M', '15.277M']
spot of 23.0408 with type <class 'str'>
['Th', '11/15/07', '22.2009', '13.644M', '14.601M']
spot of 22.2009 with type <class 'str'>
['We', '11/14/07', '22.2781', '13.221M', '14.483M']
spot of 22.2781 with type <class 'str'>
['Tu', '11/13/07', '22.4733', '16.666M', '14.449M']
spot of 22.4733 with type <class 'str'>
['Mo', '11/12/07', '21.5834', '15.475M', '13.984M']
spot of 21.5834 with type <class 'str'>
['Fr', '11/9/07', '21.9693', '20.217M', '13.7M']
spot of 21.9693 with type <class 'str'>
['Th', '11/8/07', '22.6731', '24.831M', '13.302M']
spot of 22.6731 with type <class 'str'>
['We', '11/7/07', '23.5357', '14.355M', '12.224M']
spot of 23.5357 with type <class 'str'>
['Tu', '11/6/07', '24.2485', '13.662M', '12.09M']
spot of 24.2485 with type <class 'str'>
['Mo', '11/5/07', '23.8535', '11.972M', '11.714M']
spot of 23.8535 with type <class 'str'>
['Fr', '11/2/07', '23.7899', '14.03M', '11.411M']
spot of 23.7899 with type <class 'str'>
['Th', '11/1/07', '23.3813', '15.856M', '11.093M']
spot of 23.3813 with type <class 'str'>
['We', '10/31/07', '23.463', '12.488M', '10.77M']
spot of 23.463 with type <class 'str'>
['Tu', '10/30/07', '23.4222', '8.586M', '10.542M']
spot of 23.4222 with type <class 'str'>
['Mo', '10/29/07', '23.5039', '12.094M', '10.617M']
spot of 23.5039 with type <class 'str'>
['Fr', '10/26/07', '23.8217', '11.916M', '10.649M']
spot of 23.8217 with type <class 'str'>
['Th', '10/25/07', '23.3314', '11.875M', '10.632M']
spot of 23.3314 with type <class 'str'>
['We', '10/24/07', '23.4267', '12.71M', '10.266M']
spot of 23.4267 with type <class 'str'>
['Tu', '10/23/07', '23.5447', '9.701M', '10.074M']
spot of 23.5447 with type <class 'str'>
['Mo', '10/22/07', '23.286', '11.205M', '9.999M']
spot of 23.286 with type <class 'str'>
['Fr', '10/19/07', '23.3359', '14.251M', '10.012M']
spot of 23.3359 with type <class 'str'>
['Th', '10/18/07', '24.0033', '8.659M', '9.798M']
spot of 24.0033 with type <class 'str'>
['We', '10/17/07', '23.8535', '12.348M', '9.976M']
spot of 23.8535 with type <class 'str'>
['Tu', '10/16/07', '23.3858', '8.027M', '10.072M']
spot of 23.3858 with type <class 'str'>
['Mo', '10/15/07', '23.2633', '7.425M', '10.431M']
spot of 23.2633 with type <class 'str'>
['Fr', '10/12/07', '23.404', '9.25M', '10.678M']
spot of 23.404 with type <class 'str'>
['Th', '10/11/07', '23.4312', '11.018M', '11.632M']
spot of 23.4312 with type <class 'str'>
['We', '10/10/07', '23.7218', '9.069M', '11.66M']
spot of 23.7218 with type <class 'str'>
['Tu', '10/9/07', '23.8172', '9.705M', '12.417M']
spot of 23.8172 with type <class 'str'>
['Mo', '10/8/07', '23.6219', '12.58M', '12.73M']
spot of 23.6219 with type <class 'str'>
['Fr', '10/5/07', '23.1089', '11.663M', '12.86M']
spot of 23.1089 with type <class 'str'>
['Th', '10/4/07', '22.9137', '6.384M', '13.19M']
spot of 22.9137 with type <class 'str'>
['We', '10/3/07', '22.8637', '9.821M', '13.701M']
spot of 22.8637 with type <class 'str'>
['Tu', '10/2/07', '23.1725', '8.581M', '13.996M']
spot of 23.1725 with type <class 'str'>
['Mo', '10/1/07', '23.1452', '11.401M', '14.175M']
spot of 23.1452 with type <class 'str'>
['Fr', '9/28/07', '22.605', '11.036M', '13.996M']
spot of 22.605 with type <class 'str'>
['Th', '9/27/07', '22.8229', '11.332M', '14.271M']
spot of 22.8229 with type <class 'str'>
['We', '9/26/07', '22.9818', '13.786M', '14.345M']
spot of 22.9818 with type <class 'str'>
['Tu', '9/25/07', '23.1452', '13.419M', '14.533M']
spot of 23.1452 with type <class 'str'>
['Mo', '9/24/07', '22.8093', '11.122M', '15.111M']
spot of 22.8093 with type <class 'str'>
['Fr', '9/21/07', '22.9409', '23.563M', '15.563M']
spot of 22.9409 with type <class 'str'>
['Th', '9/20/07', '22.7457', '11.442M', '14.727M']
spot of 22.7457 with type <class 'str'>
['We', '9/19/07', '22.6004', '20.414M', '14.897M']
spot of 22.6004 with type <class 'str'>
['Tu', '9/18/07', '22.7775', '14.404M', '14.297M']
spot of 22.7775 with type <class 'str'>
['Mo', '9/17/07', '22.3099', '14.533M', '13.942M']
spot of 22.3099 with type <class 'str'>
['Fr', '9/14/07', '21.9648', '16.611M', '13.717M']
spot of 21.9648 with type <class 'str'>
['Th', '9/13/07', '22.1419', '14.052M', '13.586M']
spot of 22.1419 with type <class 'str'>
['We', '9/12/07', '22.1373', '14.246M', '13.681M']
spot of 22.1373 with type <class 'str'>
['Tu', '9/11/07', '22.6413', '11.267M', '13.741M']
spot of 22.6413 with type <class 'str'>
['Mo', '9/10/07', '22.2463', '8.719M', '14.111M']
spot of 22.2463 with type <class 'str'>
['Fr', '9/7/07', '22.1782', '15.162M', '15.506M']
spot of 22.1782 with type <class 'str'>
['Th', '9/6/07', '22.7866', '12.43M', '16.869M']
spot of 22.7866 with type <class 'str'>
['We', '9/5/07', '22.7457', '16.614M', '17.4M']
spot of 22.7457 with type <class 'str'>
['Tu', '9/4/07', '22.7639', '22.086M', '17.52M']
spot of 22.7639 with type <class 'str'>
['Fr', '8/31/07', '22.4052', '17.896M', '17.246M']
spot of 22.4052 with type <class 'str'>
['Th', '8/30/07', '21.992', '11.037M', '17.275M']
spot of 21.992 with type <class 'str'>
['We', '8/29/07', '21.983', '13.986M', '18.152M']
spot of 21.983 with type <class 'str'>
['Tu', '8/28/07', '21.2838', '11.417M', '18.8M']
spot of 21.2838 with type <class 'str'>
['Mo', '8/27/07', '21.6969', '9.071M', '19.088M']
spot of 21.6969 with type <class 'str'>
['Fr', '8/24/07', '21.8377', '11.163M', '19.705M']
spot of 21.8377 with type <class 'str'>
['Th', '8/23/07', '21.6334', '14.645M', '20.117M']
spot of 21.6334 with type <class 'str'>
['We', '8/22/07', '21.075', '15.472M', '20.376M']
spot of 21.075 with type <class 'str'>
['Tu', '8/21/07', '20.8888', '15.152M', '20.361M']
spot of 20.8888 with type <class 'str'>
['Mo', '8/20/07', '21.1476', '16.821M', '20.33M']
spot of 21.1476 with type <class 'str'>
['Fr', '8/17/07', '21.4064', '29.638M', '20.07M']
spot of 21.4064 with type <class 'str'>
['Th', '8/16/07', '20.907', '35.611M', '18.973M']
spot of 20.907 with type <class 'str'>
['We', '8/15/07', '20.9524', '20.399M', '18.065M']
spot of 20.9524 with type <class 'str'>
['Tu', '8/14/07', '21.4654', '18.407M', '17.469M']
spot of 21.4654 with type <class 'str'>
['Mo', '8/13/07', '21.9875', '17.97M', '16.936M']
spot of 21.9875 with type <class 'str'>
['Fr', '8/10/07', '21.4336', '18.332M', '16.452M']
spot of 21.4336 with type <class 'str'>
['Th', '8/9/07', '21.3474', '24.201M', '16.234M']
spot of 21.3474 with type <class 'str'>
['We', '8/8/07', '22.4279', '23.707M', '15.765M']
spot of 22.4279 with type <class 'str'>
['Tu', '8/7/07', '22.0102', '15.723M', '14.861M']
spot of 22.0102 with type <class 'str'>
['Mo', '8/6/07', '22.0011', '18.328M', '14.606M']
spot of 22.0011 with type <class 'str'>
['Fr', '8/3/07', '21.5244', '17.352M', '14.176M']
spot of 21.5244 with type <class 'str'>
['Th', '8/2/07', '21.8967', '18.52M', '13.932M']
spot of 21.8967 with type <class 'str'>
['We', '8/1/07', '21.2157', '15.254M', '14.374M']
spot of 21.2157 with type <class 'str'>
['Tu', '7/31/07', '20.8979', '14.688M', '14.571M']
spot of 20.8979 with type <class 'str'>
['Mo', '7/30/07', '20.9478', '12.914M', '14.402M']
spot of 20.9478 with type <class 'str'>
['Fr', '7/27/07', '21.0931', '13.189M', '14.239M']
spot of 21.0931 with type <class 'str'>
['Th', '7/26/07', '21.3837', '21.992M', '13.917M']
spot of 21.3837 with type <class 'str'>
['We', '7/25/07', '21.5834', '11.456M', '13.038M']
spot of 21.5834 with type <class 'str'>
['Tu', '7/24/07', '21.6152', '10.406M', '12.63M']
spot of 21.6152 with type <class 'str'>
['Mo', '7/23/07', '21.9875', '10.71M', '12.565M']
spot of 21.9875 with type <class 'str'>
['Fr', '7/20/07', '22.0374', '15.069M', '12.778M']
spot of 22.0374 with type <class 'str'>
['Th', '7/19/07', '21.9739', '17.166M', '12.53M']
spot of 21.9739 with type <class 'str'>
['We', '7/18/07', '21.4018', '10.149M', '12.149M']
spot of 21.4018 with type <class 'str'>
['Tu', '7/17/07', '21.5698', '11.897M', '12.508M']
spot of 21.5698 with type <class 'str'>
['Mo', '7/16/07', '21.538', '11.88M', '12.647M']
spot of 21.538 with type <class 'str'>
['Fr', '7/13/07', '21.4518', '13.688M', '13.385M']
spot of 21.4518 with type <class 'str'>
['Th', '7/12/07', '21.4972', '25.15M', '13.471M']
spot of 21.4972 with type <class 'str'>
['We', '7/11/07', '20.7254', '18.21M', '12.721M']
spot of 20.7254 with type <class 'str'>
['Tu', '7/10/07', '20.403', '12.153M', '12.317M']
spot of 20.403 with type <class 'str'>
['Mo', '7/9/07', '20.5937', '10.468M', '12.312M']
spot of 20.5937 with type <class 'str'>
['Fr', '7/6/07', '20.8752', '8.369M', '12.861M']
spot of 20.8752 with type <class 'str'>
['Th', '7/5/07', '20.8389', '8.795M', '13.058M']
spot of 20.8389 with type <class 'str'>
['Tu', '7/3/07', '20.6936', '5.339M', '13.542M']
spot of 20.6936 with type <class 'str'>
['Mo', '7/2/07', '20.5165', '9.433M', '14.315M']
spot of 20.5165 with type <class 'str'>
['Fr', '6/29/07', '20.2577', '13.898M', '14.54M']
spot of 20.2577 with type <class 'str'>
['Th', '6/28/07', '20.2532', '11.36M', '14.519M']
spot of 20.2532 with type <class 'str'>
['We', '6/27/07', '20.5165', '11.447M', '14.934M']
spot of 20.5165 with type <class 'str'>
['Tu', '6/26/07', '20.2668', '15.537M', '15.216M']
spot of 20.2668 with type <class 'str'>
['Mo', '6/25/07', '20.403', '13.977M', '15.114M']
spot of 20.403 with type <class 'str'>
['Fr', '6/22/07', '20.512', '22.952M', '14.934M']
spot of 20.512 with type <class 'str'>
['Th', '6/21/07', '20.6573', '14.978M', '14.442M']
spot of 20.6573 with type <class 'str'>
['We', '6/20/07', '20.4484', '13.896M', '14.457M']
spot of 20.4484 with type <class 'str'>
['Tu', '6/19/07', '20.8389', '12.147M', '14.281M']
spot of 20.8389 with type <class 'str'>
['Mo', '6/18/07', '20.8343', '12.083M', '14.42M']
spot of 20.8343 with type <class 'str'>
['Fr', '6/15/07', '20.7526', '18.706M', '14.696M']
spot of 20.7526 with type <class 'str'>
['Th', '6/14/07', '20.7344', '11.32M', '14.73M']
spot of 20.7344 with type <class 'str'>
['We', '6/13/07', '20.6573', '16.055M', '15.319M']
spot of 20.6573 with type <class 'str'>
['Tu', '6/12/07', '20.4575', '16.94M', '15.246M']
spot of 20.4575 with type <class 'str'>
['Mo', '6/11/07', '20.8343', '12.804M', '15.404M']
spot of 20.8343 with type <class 'str'>
['Fr', '6/8/07', '20.7844', '13.575M', '15.738M']
spot of 20.7844 with type <class 'str'>
['Th', '6/7/07', '20.6164', '17.594M', '16.372M']
spot of 20.6164 with type <class 'str'>
['We', '6/6/07', '20.8979', '15.666M', '16.449M']
spot of 20.8979 with type <class 'str'>
['Tu', '6/5/07', '20.8479', '14.012M', '16.2M']
spot of 20.8479 with type <class 'str'>
['Mo', '6/4/07', '20.8752', '11.28M', '15.894M']
spot of 20.8752 with type <class 'str'>
['Fr', '6/1/07', '20.798', '15.571M', '15.817M']
spot of 20.798 with type <class 'str'>
['Th', '5/31/07', '20.7526', '15.199M', '15.695M']
spot of 20.7526 with type <class 'str'>
['We', '5/30/07', '20.7344', '11.269M', '15.784M']
spot of 20.7344 with type <class 'str'>
['Tu', '5/29/07', '20.6845', '14.22M', '17.687M']
spot of 20.6845 with type <class 'str'>
['Fr', '5/25/07', '20.7118', '16.235M', '17.416M']
spot of 20.7118 with type <class 'str'>
['Th', '5/24/07', '20.6119', '19.211M', '17.431M']
spot of 20.6119 with type <class 'str'>
['We', '5/23/07', '20.7163', '20.155M', '16.79M']
spot of 20.7163 with type <class 'str'>
['Tu', '5/22/07', '20.6936', '14.966M', '16.162M']
spot of 20.6936 with type <class 'str'>
['Mo', '5/21/07', '20.5301', '19.31M', '16.3M']
spot of 20.5301 with type <class 'str'>
['Fr', '5/18/07', '20.2396', '17.803M', '15.721M']
spot of 20.2396 with type <class 'str'>
['Th', '5/17/07', '20.3712', '23.088M', '15.198M']
spot of 20.3712 with type <class 'str'>
['We', '5/16/07', '20.5256', '18.756M', '14.614M']
spot of 20.5256 with type <class 'str'>
['Tu', '5/15/07', '20.3168', '11.932M', '14.054M']
spot of 20.3168 with type <class 'str'>
['Mo', '5/14/07', '20.4393', '9.416M', '14.092M']
spot of 20.4393 with type <class 'str'>
['Fr', '5/11/07', '20.5392', '10.12M', '14.177M']
spot of 20.5392 with type <class 'str'>
['Th', '5/10/07', '20.2804', '13.744M', '14.275M']
spot of 20.2804 with type <class 'str'>
['We', '5/9/07', '20.3985', '16.531M', '14.154M']
spot of 20.3985 with type <class 'str'>
['Tu', '5/8/07', '20.4348', '39.819M', '13.879M']
spot of 20.4348 with type <class 'str'>
['Mo', '5/7/07', '19.8855', '10.154M', '12.045M']
spot of 19.8855 with type <class 'str'>
['Fr', '5/4/07', '19.8809', '16.459M', '12.06M']
spot of 19.8809 with type <class 'str'>
['Th', '5/3/07', '19.4451', '9.594M', '11.662M']
spot of 19.4451 with type <class 'str'>
['We', '5/2/07', '19.4905', '10.738M', '11.698M']
spot of 19.4905 with type <class 'str'>
['Tu', '5/1/07', '19.4859', '17.034M', '11.682M']
spot of 19.4859 with type <class 'str'>
['Mo', '4/30/07', '19.1318', '10.629M', '11.564M']
spot of 19.1318 with type <class 'str'>
['Fr', '4/27/07', '19.1999', '9.959M', '11.419M']
spot of 19.1999 with type <class 'str'>
['Th', '4/26/07', '19.0864', '14.333M', '11.752M']
spot of 19.0864 with type <class 'str'>
['We', '4/25/07', '19.0092', '10.349M', '11.627M']
spot of 19.0092 with type <class 'str'>
['Tu', '4/24/07', '18.9093', '12.496M', '11.733M']
spot of 18.9093 with type <class 'str'>
['Mo', '4/23/07', '18.8004', '10.699M', '11.659M']
spot of 18.8004 with type <class 'str'>
['Fr', '4/20/07', '18.7822', '11.596M', '11.891M']
spot of 18.7822 with type <class 'str'>
['Th', '4/19/07', '18.6823', '11.926M', '11.859M']
spot of 18.6823 with type <class 'str'>
['We', '4/18/07', '18.6052', '12.408M', '11.899M']
spot of 18.6052 with type <class 'str'>
['Tu', '4/17/07', '18.7096', '12.298M', '11.865M']
spot of 18.7096 with type <class 'str'>
['Mo', '4/16/07', '18.7005', '10.389M', '11.744M']
spot of 18.7005 with type <class 'str'>
['Fr', '4/13/07', '18.696', '10.482M', '11.982M']
spot of 18.696 with type <class 'str'>
['Th', '4/12/07', '18.6687', '10.134M', '12.206M']
spot of 18.6687 with type <class 'str'>
['We', '4/11/07', '18.4917', '10.501M', '12.569M']
spot of 18.4917 with type <class 'str'>
['Tu', '4/10/07', '18.4871', '15.258M', '13.338M']
spot of 18.4871 with type <class 'str'>
['Mo', '4/9/07', '18.7686', '8.461M', '13.059M']
spot of 18.7686 with type <class 'str'>
['Th', '4/5/07', '18.9774', '14.947M', '14.103M']
spot of 18.9774 with type <class 'str'>
['We', '4/4/07', '18.6596', '12.465M', '13.957M']
spot of 18.6596 with type <class 'str'>
['Tu', '4/3/07', '18.5643', '11.938M', '14.299M']
spot of 18.5643 with type <class 'str'>
['Mo', '4/2/07', '18.301', '11.379M', '14.433M']
spot of 18.301 with type <class 'str'>
['Fr', '3/30/07', '18.2238', '14.186M', '14.425M']
spot of 18.2238 with type <class 'str'>
['Th', '3/29/07', '18.1602', '11.113M', '14.64M']
spot of 18.1602 with type <class 'str'>
['We', '3/28/07', '18.0649', '12.524M', '14.794M']
spot of 18.0649 with type <class 'str'>
['Tu', '3/27/07', '18.2647', '11.901M', '15.383M']
spot of 18.2647 with type <class 'str'>
['Mo', '3/26/07', '18.36', '10.487M', '15.829M']
spot of 18.36 with type <class 'str'>
['Fr', '3/23/07', '18.3555', '13.96M', '16.331M']
spot of 18.3555 with type <class 'str'>
['Th', '3/22/07', '18.3645', '13.828M', '16.383M']
spot of 18.3645 with type <class 'str'>
['We', '3/21/07', '18.2465', '15.585M', '16.962M']
spot of 18.2465 with type <class 'str'>
['Tu', '3/20/07', '17.9832', '22.032M', '17.679M']
spot of 17.9832 with type <class 'str'>
['Mo', '3/19/07', '18.2556', '11.072M', '17.936M']
spot of 18.2556 with type <class 'str'>
['Fr', '3/16/07', '18.1194', '24.122M', '18.085M']
spot of 18.1194 with type <class 'str'>
['Th', '3/15/07', '18.024', '12.77M', '17.441M']
spot of 18.024 with type <class 'str'>
['We', '3/14/07', '18.0649', '17.583M', '18.279M']
spot of 18.0649 with type <class 'str'>
['Tu', '3/13/07', '17.9559', '13.954M', '19.557M']
spot of 17.9559 with type <class 'str'>
['Mo', '3/12/07', '18.3282', '11.253M', '19.788M']
spot of 18.3282 with type <class 'str'>
['Fr', '3/9/07', '18.2102', '17.411M', '19.721M']
spot of 18.2102 with type <class 'str'>
['Th', '3/8/07', '18.2828', '13.432M', '19.398M']
spot of 18.2828 with type <class 'str'>
['We', '3/7/07', '18.2374', '21.353M', '19.054M']
spot of 18.2374 with type <class 'str'>
['Tu', '3/6/07', '17.9015', '18.59M', '18.189M']
spot of 17.9015 with type <class 'str'>
['Mo', '3/5/07', '17.5927', '18.013M', '17.494M']
spot of 17.5927 with type <class 'str'>
['Fr', '3/2/07', '17.5564', '14.743M', '16.827M']
spot of 17.5564 with type <class 'str'>
['Th', '3/1/07', '17.6744', '22.509M', '16.473M']
spot of 17.6744 with type <class 'str'>
['We', '2/28/07', '17.8651', '26.345M', '15.626M']
spot of 17.8651 with type <class 'str'>
['Tu', '2/27/07', '17.6699', '25.889M', '15.008M']
spot of 17.6699 with type <class 'str'>
['Mo', '2/26/07', '18.2919', '13.313M', '13.95M']
spot of 18.2919 with type <class 'str'>
['Fr', '2/23/07', '18.5325', '14.456M', '13.828M']
spot of 18.5325 with type <class 'str'>
['Th', '2/22/07', '18.5144', '25.345M', '13.959M']

spot of 18.5144 with type <class 'str'>
['We', '2/21/07', '18.6596', '36.752M', '12.991M']
spot of 18.6596 with type <class 'str'>
['Tu', '2/20/07', '19.5813', '17.414M', '11.449M']
spot of 19.5813 with type <class 'str'>
['Fr', '2/16/07', '19.4178', '10.256M', '11.33M']
spot of 19.4178 with type <class 'str'>
['Th', '2/15/07', '19.377', '12.566M', '11.294M']
spot of 19.377 with type <class 'str'>
['We', '2/14/07', '19.4451', '8.273M', '11.35M']
spot of 19.4451 with type <class 'str'>
['Tu', '2/13/07', '19.3361', '8.375M', '11.433M']
spot of 19.3361 with type <class 'str'>
['Mo', '2/12/07', '19.1136', '8.165M', '11.601M']
spot of 19.1136 with type <class 'str'>
['Fr', '2/9/07', '19.1727', '8.009M', '11.814M']
spot of 19.1727 with type <class 'str'>
['Th', '2/8/07', '19.2816', '9.428M', '12.237M']
spot of 19.2816 with type <class 'str'>
['We', '2/7/07', '19.2044', '9.807M', '12.619M']
spot of 19.2044 with type <class 'str'>
['Tu', '2/6/07', '19.0728', '17.072M', '12.796M']
spot of 19.0728 with type <class 'str'>
['Mo', '2/5/07', '19.436', '10.013M', '12.329M']
spot of 19.436 with type <class 'str'>
['Fr', '2/2/07', '19.1', '11.488M', '13.197M']
spot of 19.1 with type <class 'str'>
['Th', '2/1/07', '19.2317', '16.423M', '13.22M']
spot of 19.2317 with type <class 'str'>
['We', '1/31/07', '19.6494', '10.833M', '12.713M']
spot of 19.6494 with type <class 'str'>
['Tu', '1/30/07', '19.5722', '13.614M', '12.782M']
spot of 19.5722 with type <class 'str'>
['Mo', '1/29/07', '19.2589', '15.632M', '12.641M']
spot of 19.2589 with type <class 'str'>
['Fr', '1/26/07', '18.9275', '9.715M', '12.76M']
spot of 18.9275 with type <class 'str'>
['Th', '1/25/07', '18.9366', '13.402M', '12.91M']
spot of 18.9366 with type <class 'str'>
['We', '1/24/07', '19.2453', '9.517M', '13.428M']
spot of 19.2453 with type <class 'str'>
['Tu', '1/23/07', '19.209', '10.898M', '13.213M']
spot of 19.209 with type <class 'str'>
['Mo', '1/22/07', '19.0773', '11.353M', '12.99M']
spot of 19.0773 with type <class 'str'>
['Fr', '1/19/07', '19.0682', '14.354M', '12.886M']
spot of 19.0682 with type <class 'str'>
['Th', '1/18/07', '19.2226', '15.17M', '12.351M']
spot of 19.2226 with type <class 'str'>
['We', '1/17/07', '19.2907', '12.453M', '11.816M']
spot of 19.2907 with type <class 'str'>
['Tu', '1/16/07', '19.6131', '10.064M', '11.881M']
spot of 19.6131 with type <class 'str'>
['Fr', '1/12/07', '19.7629', '23.034M', '12.617M']
spot of 19.7629 with type <class 'str'>
['Th', '1/11/07', '19.3588', '11.844M', '12.038M']
spot of 19.3588 with type <class 'str'>
['We', '1/10/07', '19.159', '8.815M', '11.897M']
spot of 19.159 with type <class 'str'>
['Tu', '1/9/07', '19.159', '11.868M', '12.358M']
spot of 19.159 with type <class 'str'>
['Mo', '1/8/07', '19.0546', '11.494M', '12.555M']
spot of 19.0546 with type <class 'str'>
['Fr', '1/5/07', '19.159', '17.424M', '12.857M']
spot of 19.159 with type <class 'str'>
['Th', '1/4/07', '18.923', '11.962M', '13.053M']
spot of 18.923 with type <class 'str'>
['We', '1/3/07', '18.8957', '21.171M', '13.525M']
spot of 18.8957 with type <class 'str'>
['Fr', '12/29/06', '18.7005', '6.285M', '12.902M']
spot of 18.7005 with type <class 'str'>
['Th', '12/28/06', '18.7777', '7.563M', '13.36M']
spot of 18.7777 with type <class 'str'>
['We', '12/27/06', '18.8866', '9.796M', '13.994M']
spot of 18.8866 with type <class 'str'>
['Tu', '12/26/06', '18.5825', '6.318M', '14.221M']
spot of 18.5825 with type <class 'str'>
['Fr', '12/22/06', '18.4463', '7.154M', '14.434M']
spot of 18.4463 with type <class 'str'>
['Th', '12/21/06', '18.5234', '13.425M', '14.866M']
spot of 18.5234 with type <class 'str'>
['We', '12/20/06', '18.7686', '21.098M', '14.806M']
spot of 18.7686 with type <class 'str'>
['Tu', '12/19/06', '18.3555', '14.36M', '14.167M']
spot of 18.3555 with type <class 'str'>
['Mo', '12/18/06', '18.1739', '9.725M', '14.038M']
spot of 18.1739 with type <class 'str'>
['Fr', '12/15/06', '18.133', '15.734M', '14.432M']
spot of 18.133 with type <class 'str'>
['Th', '12/14/06', '18.1194', '14.813M', '13.646M']
spot of 18.1194 with type <class 'str'>
['We', '12/13/06', '18.0104', '16.026M', '13.586M']
spot of 18.0104 with type <class 'str'>
['Tu', '12/12/06', '18.0831', '20.368M', '13.331M']
spot of 18.0831 with type <class 'str'>
['Mo', '12/11/06', '18.1648', '19.037M', '13.358M']
spot of 18.1648 with type <class 'str'>
['Fr', '12/8/06', '17.9968', '11.831M', '14.114M']
spot of 17.9968 with type <class 'str'>
['Th', '12/7/06', '18.0967', '13.152M', '15.236M']
spot of 18.0967 with type <class 'str'>
['We', '12/6/06', '18.2238', '17.075M', '15.55M']
spot of 18.2238 with type <class 'str'>
['Tu', '12/5/06', '18.1194', '13.197M', '15.285M']
spot of 18.1194 with type <class 'str'>
['Mo', '12/4/06', '18.0967', '9.516M', '15.308M']
spot of 18.0967 with type <class 'str'>
['Fr', '12/1/06', '17.906', '13.625M', '15.503M']
spot of 17.906 with type <class 'str'>
['Th', '11/30/06', '17.9151', '12.536M', '16.126M']
spot of 17.9151 with type <class 'str'>
['We', '11/29/06', '17.8833', '11.504M', '16.124M']
spot of 17.8833 with type <class 'str'>
['Tu', '11/28/06', '17.6472', '12.43M', '16.079M']
spot of 17.6472 with type <class 'str'>
['Mo', '11/27/06', '17.5428', '15.639M', '15.894M']
spot of 17.5428 with type <class 'str'>
['Fr', '11/24/06', '17.9605', '3.932M', '15.498M']
spot of 17.9605 with type <class 'str'>
['We', '11/22/06', '18.0331', '13.922M', '15.733M']
spot of 18.0331 with type <class 'str'>
['Tu', '11/21/06', '18.1557', '12.206M', '15.48M']
spot of 18.1557 with type <class 'str'>
['Mo', '11/20/06', '18.0286', '20.772M', '15.507M']
spot of 18.0286 with type <class 'str'>
['Fr', '11/17/06', '18.0558', '30.367M', '14.806M']
spot of 18.0558 with type <class 'str'>
['Th', '11/16/06', '18.2193', '28.664M', '13.681M']
spot of 18.2193 with type <class 'str'>
['We', '11/15/06', '18.0649', '17.859M', '12.58M']
spot of 18.0649 with type <class 'str'>
['Tu', '11/14/06', '18.4644', '13.098M', '12.375M']
spot of 18.4644 with type <class 'str'>
['Mo', '11/13/06', '18.2601', '13.552M', '12.274M']
spot of 18.2601 with type <class 'str'>
['Fr', '11/10/06', '18.1557', '12.432M', '12.359M']
spot of 18.1557 with type <class 'str'>
['Th', '11/9/06', '17.9605', '22.983M', '12.301M']
spot of 17.9605 with type <class 'str'>
['We', '11/8/06', '17.6517', '12.506M', '11.73M']
spot of 17.6517 with type <class 'str'>
['Tu', '11/7/06', '17.57', '10.827M', '11.572M']
spot of 17.57 with type <class 'str'>
['Mo', '11/6/06', '17.5836', '9.653M', '11.638M']
spot of 17.5836 with type <class 'str'>
['Fr', '11/3/06', '17.3521', '9.697M', '11.58M']
spot of 17.3521 with type <class 'str'>
['Th', '11/2/06', '17.5201', '7.45M', '11.777M']
spot of 17.5201 with type <class 'str'>
['We', '11/1/06', '17.5019', '10.126M', '12.322M']
spot of 17.5019 with type <class 'str'>
['Tu', '10/31/06', '17.5882', '12.611M', '12.739M']
spot of 17.5882 with type <class 'str'>
['Mo', '10/30/06', '17.6699', '10.268M', '12.601M']
spot of 17.6699 with type <class 'str'>
['Fr', '10/27/06', '17.4611', '13.481M', '12.662M']
spot of 17.4611 with type <class 'str'>
['Th', '10/26/06', '17.7834', '12.154M', '12.676M']
spot of 17.7834 with type <class 'str'>
['We', '10/25/06', '17.7834', '14.79M', '12.685M']
spot of 17.7834 with type <class 'str'>
['Tu', '10/24/06', '17.906', '11.585M', '12.711M']
spot of 17.906 with type <class 'str'>
['Mo', '10/23/06', '18.1012', '14.827M', '13.068M']
spot of 18.1012 with type <class 'str'>
['Fr', '10/20/06', '17.8788', '11.559M', '13.52M']
spot of 17.8788 with type <class 'str'>
['Th', '10/19/06', '17.9605', '14.412M', '14.302M']
spot of 17.9605 with type <class 'str'>
['We', '10/18/06', '17.7108', '10.138M', '14.342M']
spot of 17.7108 with type <class 'str'>
['Tu', '10/17/06', '17.7335', '11.825M', '14.73M']
spot of 17.7335 with type <class 'str'>
['Mo', '10/16/06', '17.5973', '8.778M', '14.885M']
spot of 17.5973 with type <class 'str'>
['Fr', '10/13/06', '17.6427', '12.651M', '15.672M']
spot of 17.6427 with type <class 'str'>
['Th', '10/12/06', '17.4429', '15.633M', '16.366M']
spot of 17.4429 with type <class 'str'>
['We', '10/11/06', '17.1932', '16.381M', '18.094M']
spot of 17.1932 with type <class 'str'>
['Tu', '10/10/06', '17.2204', '10.537M', '17.87M']
spot of 17.2204 with type <class 'str'>
['Mo', '10/9/06', '17.2522', '11.176M', '17.821M']
spot of 17.2522 with type <class 'str'>
['Fr', '10/6/06', '17.1251', '13.699M', '17.669M']
spot of 17.1251 with type <class 'str'>
['Th', '10/5/06', '17.1796', '12.281M', '17.71M']
spot of 17.1796 with type <class 'str'>
['We', '10/4/06', '17.2613', '15.18M', '17.576M']
spot of 17.2613 with type <class 'str'>
['Tu', '10/3/06', '16.9889', '16.949M', '17.598M']
spot of 16.9889 with type <class 'str'>
['Mo', '10/2/06', '17.0979', '21.609M', '17.828M']
spot of 17.0979 with type <class 'str'>
['Fr', '9/29/06', '16.6575', '23.29M', '17.197M']
spot of 16.6575 with type <class 'str'>
['Th', '9/28/06', '16.3306', '15.009M', '16.532M']
spot of 16.3306 with type <class 'str'>
['We', '9/27/06', '16.0673', '15.947M', '16.34M']

spot of 16.0673 with type <class 'str'>
['Tu', '9/26/06', '16.208', '14.161M', '15.975M']
spot of 16.208 with type <class 'str'>
['Mo', '9/25/06', '16.2126', '20.583M', '15.635M']
spot of 16.2126 with type <class 'str'>
['Fr', '9/22/06', '15.9401', '23.058M', '14.753M']
spot of 15.9401 with type <class 'str'>
['Th', '9/21/06', '15.8312', '41.549M', '14.176M']
spot of 15.8312 with type <class 'str'>
['We', '9/20/06', '16.6983', '13.024M', '12.231M']
spot of 16.6983 with type <class 'str'>
['Tu', '9/19/06', '16.5031', '9.798M', '11.876M']
spot of 16.5031 with type <class 'str'>
['Mo', '9/18/06', '16.5258', '8.894M', '11.879M']
spot of 16.5258 with type <class 'str'>
['Fr', '9/15/06', '16.4259', '14.32M', '11.719M']
spot of 16.4259 with type <class 'str'>
['Th', '9/14/06', '16.4577', '10.276M', '11.33M']
spot of 16.4577 with type <class 'str'>
['We', '9/13/06', '16.5122', '15.504M', '11.246M']
spot of 16.5122 with type <class 'str'>
['Tu', '9/12/06', '16.7619', '20.394M', '10.853M']
spot of 16.7619 with type <class 'str'>
['Mo', '9/11/06', '16.5077', '12.143M', '10.347M']
spot of 16.5077 with type <class 'str'>
['Fr', '9/8/06', '16.4214', '13.314M', '11.342M']
spot of 16.4214 with type <class 'str'>
['Th', '9/7/06', '16.0809', '12.132M', '14.295M']
spot of 16.0809 with type <class 'str'>
['We', '9/6/06', '16.2716', '10.47M', '15.171M']
spot of 16.2716 with type <class 'str'>
['Tu', '9/5/06', '16.5531', '9.071M', '15.597M']
spot of 16.5531 with type <class 'str'>
['Fr', '9/1/06', '16.5848', '7.341M', '15.671M']
spot of 16.5848 with type <class 'str'>
['Th', '8/31/06', '16.5985', '14.411M', '15.771M']
spot of 16.5985 with type <class 'str'>
['We', '8/30/06', '16.3442', '12.367M', '15.489M']
spot of 16.3442 with type <class 'str'>
['Tu', '8/29/06', '16.2353', '7.713M', '15.332M']
spot of 16.2353 with type <class 'str'>
['Mo', '8/28/06', '16.0173', '9.843M', '15.698M']
spot of 16.0173 with type <class 'str'>
['Fr', '8/25/06', '15.9946', '6.486M', '15.727M']
spot of 15.9946 with type <class 'str'>
['Th', '8/24/06', '16.0627', '8.488M', '16.108M']
spot of 16.0627 with type <class 'str'>
['We', '8/23/06', '16.0082', '9.014M', '16.032M']
spot of 16.0082 with type <class 'str'>
['Tu', '8/22/06', '15.8993', '9.612M', '16.311M']
spot of 15.8993 with type <class 'str'>
['Mo', '8/21/06', '15.8403', '12.801M', '16.319M']
spot of 15.8403 with type <class 'str'>
['Fr', '8/18/06', '16.1263', '27.064M', '16.062M']
spot of 16.1263 with type <class 'str'>
['Th', '8/17/06', '15.9583', '57.617M', '14.967M']
spot of 15.9583 with type <class 'str'>
['We', '8/16/06', '15.6314', '25.263M', '12.172M']
spot of 15.6314 with type <class 'str'>
['Tu', '8/15/06', '15.4317', '16.872M', '11.89M']
spot of 15.4317 with type <class 'str'>
['Mo', '8/14/06', '15.1139', '10.179M', '11.657M']
spot of 15.1139 with type <class 'str'>
['Fr', '8/11/06', '15.0049', '8.83M', '11.837M']
spot of 15.0049 with type <class 'str'>
['Th', '8/10/06', '14.9867', '10.193M', '12.766M']
spot of 14.9867 with type <class 'str'>
['We', '8/9/06', '15.0094', '10.008M', '12.77M']
spot of 15.0094 with type <class 'str'>
['Tu', '8/8/06', '14.9323', '13.204M', '13.29M']
spot of 14.9323 with type <class 'str'>
['Mo', '8/7/06', '14.8642', '10.28M', '13.353M']
spot of 14.8642 with type <class 'str'>
['Fr', '8/4/06', '14.728', '12.201M', '13.392M']
spot of 14.728 with type <class 'str'>
['Th', '8/3/06', '14.7961', '7.346M', '13.629M']
spot of 14.7961 with type <class 'str'>
['We', '8/2/06', '14.7552', '13.203M', '14.083M']
spot of 14.7552 with type <class 'str'>
['Tu', '8/1/06', '14.3784', '9.726M', '14.05M']
spot of 14.3784 with type <class 'str'>
['Mo', '7/31/06', '14.4873', '8.949M', '14.327M']
spot of 14.4873 with type <class 'str'>
['Fr', '7/28/06', '14.5781', '10.632M', '14.66M']
spot of 14.5781 with type <class 'str'>
['Th', '7/27/06', '14.6144', '15.698M', '15.016M']
spot of 14.6144 with type <class 'str'>
['We', '7/26/06', '14.4147', '21.026M', '14.814M']
spot of 14.4147 with type <class 'str'>
['Tu', '7/25/06', '14.224', '13.375M', '14.522M']
spot of 14.224 with type <class 'str'>
['Mo', '7/24/06', '14.106', '12.886M', '14.274M']
spot of 14.106 with type <class 'str'>
['Fr', '7/21/06', '13.8563', '22.76M', '14.845M']
spot of 13.8563 with type <class 'str'>
['Th', '7/20/06', '14.4374', '10.262M', '14.215M']
spot of 14.4374 with type <class 'str'>
['We', '7/19/06', '14.6417', '17.805M', '14.594M']
spot of 14.6417 with type <class 'str'>
['Tu', '7/18/06', '14.0515', '14.15M', '14.277M']
spot of 14.0515 with type <class 'str'>
['Mo', '7/17/06', '14.165', '10.868M', '14.059M']
spot of 14.165 with type <class 'str'>
['Fr', '7/14/06', '13.9652', '15.754M', '14.025M']
spot of 13.9652 with type <class 'str'>
['Th', '7/13/06', '14.1741', '14.158M', '14.315M']
spot of 14.1741 with type <class 'str'>
['We', '7/12/06', '14.3784', '12.708M', '14.906M']
spot of 14.3784 with type <class 'str'>
['Tu', '7/11/06', '14.7734', '13.869M', '15.061M']
spot of 14.7734 with type <class 'str'>
['Mo', '7/10/06', '14.4964', '13.953M', '16.289M']
spot of 14.4964 with type <class 'str'>
['Fr', '7/7/06', '14.9141', '15.97M', '17.775M']
spot of 14.9141 with type <class 'str'>
['Th', '7/6/06', '15.0276', '12.672M', '18.312M']
spot of 15.0276 with type <class 'str'>
['We', '7/5/06', '14.8778', '16.641M', '18.309M']
spot of 14.8778 with type <class 'str'>
['Mo', '7/3/06', '14.7597', '9.648M', '18.354M']
spot of 14.7597 with type <class 'str'>
['Fr', '6/30/06', '14.3829', '21.45M', '18.598M']
spot of 14.3829 with type <class 'str'>
['Th', '6/29/06', '14.5418', '13.321M', '18.398M']
spot of 14.5418 with type <class 'str'>
['We', '6/28/06', '14.342', '15.948M', '19.073M']
spot of 14.342 with type <class 'str'>
['Tu', '6/27/06', '14.5009', '13.04M', '18.85M']
spot of 14.5009 with type <class 'str'>
['Mo', '6/26/06', '14.7507', '10.892M', '19.079M']
spot of 14.7507 with type <class 'str'>
['Fr', '6/23/06', '14.8278', '10.356M', '18.945M']
spot of 14.8278 with type <class 'str'>
['Th', '6/22/06', '14.9686', '20.092M', '18.855M']
spot of 14.9686 with type <class 'str'>
['We', '6/21/06', '15.3182', '23.029M', '18.21M']
spot of 15.3182 with type <class 'str'>
['Tu', '6/20/06', '14.9186', '15.041M', '17.469M']
spot of 14.9186 with type <class 'str'>
['Mo', '6/19/06', '15.241', '32.285M', '16.991M']
spot of 15.241 with type <class 'str'>
['Fr', '6/16/06', '15.0004', '36.247M', '15.374M']
spot of 15.0004 with type <class 'str'>
['Th', '6/15/06', '14.4737', '24.017M', '13.581M']
spot of 14.4737 with type <class 'str'>
['We', '6/14/06', '13.6837', '12.626M', '12.801M']
spot of 13.6837 with type <class 'str'>
['Tu', '6/13/06', '13.5248', '17.326M', '12.945M']
spot of 13.5248 with type <class 'str'>
['Mo', '6/12/06', '13.5612', '13.304M', '12.667M']
spot of 13.5612 with type <class 'str'>
['Fr', '6/9/06', '13.5929', '18.449M', '13.109M']
spot of 13.5929 with type <class 'str'>
['Th', '6/8/06', '13.6474', '23.447M', '13.36M']
spot of 13.6474 with type <class 'str'>
['We', '6/7/06', '14.0424', '12.602M', '14.065M']
spot of 14.0424 with type <class 'str'>
['Tu', '6/6/06', '14.0288', '16.47M', '14.505M']
spot of 14.0288 with type <class 'str'>
['Mo', '6/5/06', '14.342', '8.891M', '14.213M']
spot of 14.342 with type <class 'str'>
['Fr', '6/2/06', '14.7098', '9.006M', '14.21M']
spot of 14.7098 with type <class 'str'>
['Th', '6/1/06', '14.7234', '10.414M', '14.211M']
spot of 14.7234 with type <class 'str'>
['We', '5/31/06', '14.7007', '11.903M', '13.901M']
spot of 14.7007 with type <class 'str'>
['Tu', '5/30/06', '14.4919', '7.885M', '13.745M']
spot of 14.4919 with type <class 'str'>
['Fr', '5/26/06', '14.7734', '8.026M', '13.733M']
spot of 14.7734 with type <class 'str'>
['Th', '5/25/06', '14.6508', '9.342M', '14.013M']
spot of 14.6508 with type <class 'str'>
['We', '5/24/06', '14.6962', '12.332M', '13.909M']
spot of 14.6962 with type <class 'str'>
['Tu', '5/23/06', '14.5781', '14.784M', '13.529M']
spot of 14.5781 with type <class 'str'>
['Mo', '5/22/06', '14.6099', '13.157M', '12.983M']
spot of 14.6099 with type <class 'str'>
['Fr', '5/19/06', '14.5373', '19.926M', '12.644M']
spot of 14.5373 with type <class 'str'>
['Th', '5/18/06', '14.7461', '22.222M', '11.829M']
spot of 14.7461 with type <class 'str'>
['We', '5/17/06', '14.6008', '34.012M', '11.105M']
spot of 14.6008 with type <class 'str'>
['Tu', '5/16/06', '14.1241', '19.199M', '9.437M']
spot of 14.1241 with type <class 'str'>
['Mo', '5/15/06', '14.3602', '12.101M', '8.694M']
spot of 14.3602 with type <class 'str'>
['Fr', '5/12/06', '14.5872', '8.838M', '8.327M']
spot of 14.5872 with type <class 'str'>
['Th', '5/11/06', '14.7688', '9.032M', '8.429M']
spot of 14.7688 with type <class 'str'>
['We', '5/10/06', '15.0185', '5.762M', '8.565M']
spot of 15.0185 with type <class 'str'>
['Tu', '5/9/06', '15.0367', '9.561M', '8.614M']
spot of 15.0367 with type <class 'str'>
['Mo', '5/8/06', '15.3409', '7.7M', '8.75M']
spot of 15.3409 with type <class 'str'>
['Fr', '5/5/06', '15.3772', '12.223M', '8.718M']

spot of 15.3772 with type <class 'str'>
['Th', '5/4/06', '15.1139', '7.78M', '8.372M']
spot of 15.1139 with type <class 'str'>
['We', '5/3/06', '14.9096', '6.64M', '8.297M']
spot of 14.9096 with type <class 'str'>
['Tu', '5/2/06', '14.6735', '6.592M', '8.621M']
spot of 14.6735 with type <class 'str'>
['Mo', '5/1/06', '14.8188', '8.079M', '8.563M']
spot of 14.8188 with type <class 'str'>
['Fr', '4/28/06', '14.7416', '7.69M', '8.512M']
spot of 14.7416 with type <class 'str'>
['Th', '4/27/06', '15.1002', '11.368M', '8.449M']
spot of 15.1002 with type <class 'str'>
['We', '4/26/06', '14.8914', '8.986M', '8.696M']
spot of 14.8914 with type <class 'str'>
['Tu', '4/25/06', '14.9867', '8.056M', '8.751M']
spot of 14.9867 with type <class 'str'>
['Mo', '4/24/06', '14.9368', '6.6M', '8.891M']
spot of 14.9368 with type <class 'str'>
['Fr', '4/21/06', '14.964', '10.361M', '9.238M']
spot of 14.964 with type <class 'str'>
['Th', '4/20/06', '15.3499', '11.074M', '9.204M']
spot of 15.3499 with type <class 'str'>
['We', '4/19/06', '14.9777', '6.506M', '9.101M']
spot of 14.9777 with type <class 'str'>
['Tu', '4/18/06', '15.2001', '11.594M', '9.598M']
spot of 15.2001 with type <class 'str'>
['Mo', '4/17/06', '14.5418', '7.215M', '9.455M']
spot of 14.5418 with type <class 'str'>
['Th', '4/13/06', '14.8097', '7.041M', '9.527M']
spot of 14.8097 with type <class 'str'>
['We', '4/12/06', '14.678', '6.653M', '9.691M']
spot of 14.678 with type <class 'str'>
['Tu', '4/11/06', '14.7734', '11.493M', '10.185M']
spot of 14.7734 with type <class 'str'>
['Mo', '4/10/06', '15.0276', '5.733M', '10.068M']
spot of 15.0276 with type <class 'str'>
['Fr', '4/7/06', '15.1502', '7.307M', '10.181M']
spot of 15.1502 with type <class 'str'>
['Th', '4/6/06', '15.4816', '6.746M', '10.67M']
spot of 15.4816 with type <class 'str'>
['We', '4/5/06', '15.5996', '15.073M', '11.088M']
spot of 15.5996 with type <class 'str'>
['Tu', '4/4/06', '15.2955', '9.807M', '11.023M']
spot of 15.2955 with type <class 'str'>
['Mo', '4/3/06', '15.2228', '10.16M', '11.057M']
spot of 15.2228 with type <class 'str'>
['Fr', '3/31/06', '14.9368', '11.804M', '10.843M']
spot of 14.9368 with type <class 'str'>
['Th', '3/30/06', '14.787', '9.852M', '10.592M']
spot of 14.787 with type <class 'str'>
['We', '3/29/06', '14.8551', '9.524M', '10.598M']
spot of 14.8551 with type <class 'str'>
['Tu', '3/28/06', '14.56', '13.968M', '10.655M']
spot of 14.56 with type <class 'str'>
['Mo', '3/27/06', '15.0321', '9.442M', '10.425M']
spot of 15.0321 with type <class 'str'>
['Fr', '3/24/06', '15.0594', '8.302M', '10.537M']
spot of 15.0594 with type <class 'str'>
['Th', '3/23/06', '14.9822', '9.502M', '10.868M']
spot of 14.9822 with type <class 'str'>
['We', '3/22/06', '15.1456', '14.059M', '11.023M']
spot of 15.1456 with type <class 'str'>
['Tu', '3/21/06', '15.2274', '9.744M', '11.073M']
spot of 15.2274 with type <class 'str'>
['Mo', '3/20/06', '15.418', '7.426M', '11.337M']
spot of 15.418 with type <class 'str'>
['Fr', '3/17/06', '15.5088', '14.642M', '11.726M']
spot of 15.5088 with type <class 'str'>
['Th', '3/16/06', '15.3726', '13.016M', '11.418M']
spot of 15.3726 with type <class 'str'>
['We', '3/15/06', '15.3863', '14.1M', '11.272M']
spot of 15.3863 with type <class 'str'>
['Tu', '3/14/06', '15.1638', '10.309M', '11.331M']
spot of 15.1638 with type <class 'str'>
['Mo', '3/13/06', '15.0821', '6.949M', '11.912M']
spot of 15.0821 with type <class 'str'>
['Fr', '3/10/06', '14.9777', '8.043M', '12.539M']
spot of 14.9777 with type <class 'str'>
['Th', '3/9/06', '14.8732', '9.939M', '15.42M']
spot of 14.8732 with type <class 'str'>
['We', '3/8/06', '14.8369', '10.39M', '16.107M']
spot of 14.8369 with type <class 'str'>
['Tu', '3/7/06', '14.964', '10.509M', '16.476M']
spot of 14.964 with type <class 'str'>
['Mo', '3/6/06', '14.9186', '11.121M', '16.371M']
spot of 14.9186 with type <class 'str'>
['Fr', '3/3/06', '15.1002', '13.273M', '16.289M']
spot of 15.1002 with type <class 'str'>
['Th', '3/2/06', '15.5225', '11.826M', '16.091M']
spot of 15.5225 with type <class 'str'>
['We', '3/1/06', '15.4589', '14.811M', '16.318M']
spot of 15.4589 with type <class 'str'>
['Tu', '2/28/06', '14.8959', '13.702M', '15.834M']
spot of 14.8959 with type <class 'str'>
['Mo', '2/27/06', '15.1683', '13.259M', '15.589M']
spot of 15.1683 with type <class 'str'>
['Fr', '2/24/06', '14.5373', '10.018M', '15.398M']
spot of 14.5373 with type <class 'str'>
['Th', '2/23/06', '14.6962', '10.838M', '15.313M']
spot of 14.6962 with type <class 'str'>
['We', '2/22/06', '14.955', '14.982M', '15.199M']
spot of 14.955 with type <class 'str'>
['Tu', '2/21/06', '14.7597', '19.018M', '14.768M']
spot of 14.7597 with type <class 'str'>
['Fr', '2/17/06', '15.468', '16.359M', '13.973M']
spot of 15.468 with type <class 'str'>
['Th', '2/16/06', '15.4453', '51.254M', '13.671M']
spot of 15.4453 with type <class 'str'>
['We', '2/15/06', '14.3784', '20.239M', '11.33M']
spot of 14.3784 with type <class 'str'>
['Tu', '2/14/06', '14.7507', '15.93M', '11.252M']
spot of 14.7507 with type <class 'str'>
['Mo', '2/13/06', '14.4101', '8.941M', '11.161M']
spot of 14.4101 with type <class 'str'>
['Fr', '2/10/06', '14.3057', '9.88M', '11.277M']
spot of 14.3057 with type <class 'str'>
['Th', '2/9/06', '14.3466', '10.311M', '11.661M']
spot of 14.3466 with type <class 'str'>
['We', '2/8/06', '14.5327', '15.23M', '12.204M']
spot of 14.5327 with type <class 'str'>
['Tu', '2/7/06', '13.7882', '7.542M', '12.146M']
spot of 13.7882 with type <class 'str'>
['Mo', '2/6/06', '13.7428', '10.029M', '12.337M']
spot of 13.7428 with type <class 'str'>
['Fr', '2/3/06', '13.8744', '10.406M', '12.698M']
spot of 13.8744 with type <class 'str'>
['Th', '2/2/06', '14.0333', '8.734M', '12.582M']
spot of 14.0333 with type <class 'str'>
['We', '2/1/06', '14.1786', '9.133M', '13.402M']
spot of 14.1786 with type <class 'str'>
['Tu', '1/31/06', '14.1559', '8.516M', '13.685M']
spot of 14.1559 with type <class 'str'>
['Mo', '1/30/06', '14.2013', '7.09M', '13.947M']
spot of 14.2013 with type <class 'str'>
['Fr', '1/27/06', '14.2058', '11.837M', '14.563M']
spot of 14.2058 with type <class 'str'>
['Th', '1/26/06', '14.3466', '16.131M', '14.515M']
spot of 14.3466 with type <class 'str'>
['We', '1/25/06', '14.5781', '19.065M', '14.22M']
spot of 14.5781 with type <class 'str'>
['Tu', '1/24/06', '14.2422', '14.575M', '14.012M']
spot of 14.2422 with type <class 'str'>
['Mo', '1/23/06', '14.2285', '10.671M', '13.476M']
spot of 14.2285 with type <class 'str'>
['Fr', '1/20/06', '14.4101', '15.651M', '13.305M']
spot of 14.4101 with type <class 'str'>
['Th', '1/19/06', '14.6371', '18.456M', '12.709M']
spot of 14.6371 with type <class 'str'>
['We', '1/18/06', '14.3784', '14.355M', '11.97M']
spot of 14.3784 with type <class 'str'>
['Tu', '1/17/06', '14.3738', '10.41M', '11.557M']
spot of 14.3738 with type <class 'str'>
['Fr', '1/13/06', '14.4828', '15.445M', '11.681M']
spot of 14.4828 with type <class 'str'>
['Th', '1/12/06', '14.0833', '8.669M', '11.467M']
spot of 14.0833 with type <class 'str'>
['We', '1/11/06', '14.2285', '21.021M', '11.967M']
spot of 14.2285 with type <class 'str'>
['Tu', '1/10/06', '13.9743', '13.382M', '11.67M']
spot of 13.9743 with type <class 'str'>
['Mo', '1/9/06', '13.9017', '12.451M', '11.7M']
spot of 13.9017 with type <class 'str'>
['Fr', '1/6/06', '13.7291', '16.323M', '11.459M']
spot of 13.7291 with type <class 'str'>
['Th', '1/5/06', '13.3478', '11.127M', '11.443M']
spot of 13.3478 with type <class 'str'>
['We', '1/4/06', '13.4431', '11.705M', '11.862M']
spot of 13.4431 with type <class 'str'>
['Tu', '1/3/06', '13.0617', '15.94M', '11.757M']
spot of 13.0617 with type <class 'str'>
['Fr', '12/30/05', '12.9982', '6.53M', '11.303M']
spot of 12.9982 with type <class 'str'>
['Th', '12/29/05', '13.0481', '8.113M', '11.417M']
spot of 13.0481 with type <class 'str'>
['We', '12/28/05', '13.0754', '6.708M', '11.605M']
spot of 13.0754 with type <class 'str'>
['Tu', '12/27/05', '13.0481', '7.371M', '12.517M']
spot of 13.0481 with type <class 'str'>
['Fr', '12/23/05', '13.0617', '8.164M', '13.193M']
spot of 13.0617 with type <class 'str'>
['Th', '12/22/05', '13.1208', '12.267M', '13.63M']
spot of 13.1208 with type <class 'str'>
['We', '12/21/05', '13.0617', '12.237M', '14.126M']
spot of 13.0617 with type <class 'str'>
['Tu', '12/20/05', '13.0981', '16.161M', '14.324M']
spot of 13.0981 with type <class 'str'>
['Mo', '12/19/05', '13.1072', '16.577M', '13.975M']
spot of 13.1072 with type <class 'str'>
['Fr', '12/16/05', '13.1299', '13.832M', '13.672M']
spot of 13.1299 with type <class 'str'>
['Th', '12/15/05', '13.257', '8.832M', '13.026M']
spot of 13.257 with type <class 'str'>
['We', '12/14/05', '13.4431', '16.087M', '13.052M']
spot of 13.4431 with type <class 'str'>
['Tu', '12/13/05', '13.198', '17.4M', '12.896M']
spot of 13.198 with type <class 'str'>
['Mo', '12/12/05', '13.6066', '10.128M', '12.387M']
spot of 13.6066 with type <class 'str'>
['Fr', '12/9/05', '13.5839', '9.138M', '14.466M']

spot of 13.5839 with type <class 'str'>
['Th', '12/8/05', '13.2706', '8.237M', '15.276M']
spot of 13.2706 with type <class 'str'>
['We', '12/7/05', '13.4023', '10.937M', '15.61M']
spot of 13.4023 with type <class 'str'>
['Tu', '12/6/05', '13.4477', '20.383M', '15.757M']
spot of 13.4477 with type <class 'str'>
['Mo', '12/5/05', '13.5248', '17.512M', '15.232M']
spot of 13.5248 with type <class 'str'>
['Fr', '12/2/05', '13.2706', '14.717M', '14.76M']
spot of 13.2706 with type <class 'str'>
['Th', '12/1/05', '13.4204', '19.715M', '14.433M']
spot of 13.4204 with type <class 'str'>
['We', '11/30/05', '13.4704', '15.197M', '13.602M']
spot of 13.4704 with type <class 'str'>
['Tu', '11/29/05', '13.602', '10.93M', '13.141M']
spot of 13.602 with type <class 'str'>
['Mo', '11/28/05', '13.602', '12.033M', '12.984M']
spot of 13.602 with type <class 'str'>
['Fr', '11/25/05', '13.4976', '4.151M', '12.773M']
spot of 13.4976 with type <class 'str'>
['We', '11/23/05', '13.3387', '9.214M', '13.177M']
spot of 13.3387 with type <class 'str'>
['Tu', '11/22/05', '13.3251', '13.742M', '13.477M']
spot of 13.3251 with type <class 'str'>
['Mo', '11/21/05', '13.2933', '9.766M', '13.785M']
spot of 13.2933 with type <class 'str'>
['Fr', '11/18/05', '13.3478', '41.323M', '14.02M']
spot of 13.3478 with type <class 'str'>
['Th', '11/17/05', '13.1662', '21.285M', '12.173M']
spot of 13.1662 with type <class 'str'>
['We', '11/16/05', '12.8347', '13.243M', '11.543M']
spot of 12.8347 with type <class 'str'>
['Tu', '11/15/05', '12.7666', '13.136M', '11.69M']
spot of 12.7666 with type <class 'str'>
['Mo', '11/14/05', '12.803', '12.516M', '11.5M']
spot of 12.803 with type <class 'str'>
['Fr', '11/11/05', '12.9482', '10.434M', '11.229M']
spot of 12.9482 with type <class 'str'>
['Th', '11/10/05', '12.8347', '9.815M', '11.106M']
spot of 12.8347 with type <class 'str'>
['We', '11/9/05', '12.8166', '7.242M', '11.052M']
spot of 12.8166 with type <class 'str'>
['Tu', '11/8/05', '12.9573', '8.283M', '11.197M']
spot of 12.9573 with type <class 'str'>
['Mo', '11/7/05', '13.0436', '8.58M', '11.225M']
spot of 13.0436 with type <class 'str'>
['Fr', '11/4/05', '12.9528', '8.864M', '11.057M']
spot of 12.9528 with type <class 'str'>
['Th', '11/3/05', '13.0481', '10.204M', '10.994M']
spot of 13.0481 with type <class 'str'>
['We', '11/2/05', '13.0708', '13.723M', '11.113M']
spot of 13.0708 with type <class 'str'>
['Tu', '11/1/05', '12.8393', '18.358M', '11.248M']
spot of 12.8393 with type <class 'str'>
['Mo', '10/31/05', '12.7303', '13.287M', '10.742M']
spot of 12.7303 with type <class 'str'>
['Fr', '10/28/05', '12.694', '13.623M', '10.626M']
spot of 12.694 with type <class 'str'>
['Th', '10/27/05', '12.1674', '11.836M', '10.608M']
spot of 12.1674 with type <class 'str'>
['We', '10/26/05', '12.24', '15.444M', '10.884M']
spot of 12.24 with type <class 'str'>
['Tu', '10/25/05', '12.4761', '10.292M', '10.913M']
spot of 12.4761 with type <class 'str'>
['Mo', '10/24/05', '12.8257', '8.453M', '11.732M']
spot of 12.8257 with type <class 'str'>
['Fr', '10/21/05', '12.5169', '8.586M', '11.991M']
spot of 12.5169 with type <class 'str'>
['Th', '10/20/05', '12.4488', '9.011M', '12.268M']
spot of 12.4488 with type <class 'str'>
['We', '10/19/05', '12.5487', '9.404M', '12.406M']
spot of 12.5487 with type <class 'str'>
['Tu', '10/18/05', '12.5896', '8.707M', '12.375M']
spot of 12.5896 with type <class 'str'>
['Mo', '10/17/05', '12.4307', '6.063M', '12.531M']
spot of 12.4307 with type <class 'str'>
['Fr', '10/14/05', '12.5033', '7.92M', '13.114M']
spot of 12.5033 with type <class 'str'>
['Th', '10/13/05', '12.3671', '11.99M', '13.354M']
spot of 12.3671 with type <class 'str'>
['We', '10/12/05', '12.3944', '15.747M', '13.354M']
spot of 12.3944 with type <class 'str'>
['Tu', '10/11/05', '12.3671', '10.763M', '13.053M']
spot of 12.3671 with type <class 'str'>
['Mo', '10/10/05', '12.1083', '11.56M', '13.527M']
spot of 12.1083 with type <class 'str'>
['Fr', '10/7/05', '12.3036', '13.352M', '13.71M']
spot of 12.3036 with type <class 'str'>
['Th', '10/6/05', '12.2082', '15.969M', '13.976M']
spot of 12.2082 with type <class 'str'>
['We', '10/5/05', '12.4715', '15.874M', '13.557M']
spot of 12.4715 with type <class 'str'>
['Tu', '10/4/05', '12.9619', '22.577M', '13.01M']
spot of 12.9619 with type <class 'str'>
['Mo', '10/3/05', '13.1208', '12.342M', '12.038M']
spot of 13.1208 with type <class 'str'>
['Fr', '9/30/05', '13.257', '12.74M', '11.689M']
spot of 13.257 with type <class 'str'>
['Th', '9/29/05', '13.1389', '11.089M', '11.902M']
spot of 13.1389 with type <class 'str'>
['We', '9/28/05', '12.9482', '8.935M', '12.298M']
spot of 12.9482 with type <class 'str'>
['Tu', '9/27/05', '12.8801', '11.043M', '12.518M']
spot of 12.8801 with type <class 'str'>
['Mo', '9/26/05', '13.1389', '14.813M', '13.028M']
spot of 13.1389 with type <class 'str'>
['Fr', '9/23/05', '12.9255', '11.519M', '12.633M']
spot of 12.9255 with type <class 'str'>
['Th', '9/22/05', '12.7167', '11.996M', '12.611M']
spot of 12.7167 with type <class 'str'>
['We', '9/21/05', '12.753', '11.223M', '13.156M']
spot of 12.753 with type <class 'str'>
['Tu', '9/20/05', '12.8393', '17.868M', '13.337M']
spot of 12.8393 with type <class 'str'>
['Mo', '9/19/05', '13.1117', '14.312M', '12.969M']
spot of 13.1117 with type <class 'str'>
['Fr', '9/16/05', '12.8665', '17.337M', '12.951M']
spot of 12.8665 with type <class 'str'>
['Th', '9/15/05', '12.6531', '9.688M', '12.705M']
spot of 12.6531 with type <class 'str'>
['We', '9/14/05', '12.4852', '7.67M', '13.17M']
spot of 12.4852 with type <class 'str'>
['Tu', '9/13/05', '12.4988', '7.998M', '13.499M']
spot of 12.4988 with type <class 'str'>
['Mo', '9/12/05', '12.5941', '7.109M', '13.848M']
spot of 12.5941 with type <class 'str'>
['Fr', '9/9/05', '12.6259', '15.923M', '14.103M']
spot of 12.6259 with type <class 'str'>
['Th', '9/8/05', '12.6441', '17.036M', '14.604M']
spot of 12.6441 with type <class 'str'>
['We', '9/7/05', '12.467', '12.239M', '17.618M']
spot of 12.467 with type <class 'str'>
['Tu', '9/6/05', '12.3717', '18.687M', '17.688M']
spot of 12.3717 with type <class 'str'>
['Fr', '9/2/05', '12.5306', '8.889M', '16.951M']
spot of 12.5306 with type <class 'str'>
['Th', '9/1/05', '12.6668', '11.184M', '17.061M']
spot of 12.6668 with type <class 'str'>
['We', '8/31/05', '12.6032', '20.179M', '16.902M']
spot of 12.6032 with type <class 'str'>
['Tu', '8/30/05', '12.3036', '13.935M', '16.007M']
spot of 12.3036 with type <class 'str'>
['Mo', '8/29/05', '12.1174', '12.351M', '15.54M']
spot of 12.1174 with type <class 'str'>
['Fr', '8/26/05', '12.2627', '14.048M', '15.059M']
spot of 12.2627 with type <class 'str'>
['Th', '8/25/05', '12.2128', '13.633M', '14.728M']
spot of 12.2128 with type <class 'str'>
['We', '8/24/05', '12.131', '16.673M', '14.386M']
spot of 12.131 with type <class 'str'>
['Tu', '8/23/05', '12.1265', '12.608M', '13.809M']
spot of 12.1265 with type <class 'str'>
['Mo', '8/22/05', '12.0448', '13.22M', '13.422M']
spot of 12.0448 with type <class 'str'>
['Fr', '8/19/05', '12.0266', '10.947M', '13.039M']
spot of 12.0266 with type <class 'str'>
['Th', '8/18/05', '12.0993', '23.433M', '12.922M']
spot of 12.0993 with type <class 'str'>
['We', '8/17/05', '12.1764', '62.239M', '11.866M']
spot of 12.1764 with type <class 'str'>
['Tu', '8/16/05', '10.7599', '13.297M', '8.366M']
spot of 10.7599 with type <class 'str'>
['Mo', '8/15/05', '10.937', '7.627M', '7.967M']
spot of 10.937 with type <class 'str'>
['Fr', '8/12/05', '10.9098', '10.536M', '7.877M']
spot of 10.9098 with type <class 'str'>
['Th', '8/11/05', '10.9779', '8.805M', '7.76M']
spot of 10.9779 with type <class 'str'>
['We', '8/10/05', '10.9597', '6.76M', '7.79M']
spot of 10.9597 with type <class 'str'>
['Tu', '8/9/05', '11.1458', '6.921M', '8.233M']
spot of 11.1458 with type <class 'str'>
['Mo', '8/8/05', '11.1731', '5.137M', '8.95M']
spot of 11.1731 with type <class 'str'>
['Fr', '8/5/05', '11.2049', '9.08M', '9.621M']
spot of 11.2049 with type <class 'str'>
['Th', '8/4/05', '11.105', '8.512M', '10.196M']
spot of 11.105 with type <class 'str'>
['We', '8/3/05', '11.1731', '8.016M', '10.623M']
spot of 11.1731 with type <class 'str'>
['Tu', '8/2/05', '11.0414', '6.798M', '10.912M']
spot of 11.0414 with type <class 'str'>
['Mo', '8/1/05', '11.1231', '7.474M', '11.103M']
spot of 11.1231 with type <class 'str'>
['Fr', '7/29/05', '11.1776', '9.201M', '11.274M']
spot of 11.1776 with type <class 'str'>
['Th', '7/28/05', '11.1186', '7.582M', '11.445M']
spot of 11.1186 with type <class 'str'>
['We', '7/27/05', '11.2503', '9.743M', '11.898M']
spot of 11.2503 with type <class 'str'>
['Tu', '7/26/05', '11.0596', '7.308M', '11.976M']
spot of 11.0596 with type <class 'str'>
['Mo', '7/25/05', '11.0323', '6.288M', '12.621M']
spot of 11.0323 with type <class 'str'>
['Fr', '7/22/05', '10.9779', '8.776M', '12.742M']
spot of 10.9779 with type <class 'str'>
['Th', '7/21/05', '11.0278', '9.256M', '12.904M']
spot of 11.0278 with type <class 'str'>
['We', '7/20/05', '11.2276', '13.407M', '12.803M']
spot of 11.2276 with type <class 'str'>
['Tu', '7/19/05', '11.1322', '17.678M', '12.415M']
spot of 11.1322 with type <class 'str'>
['Mo', '7/18/05', '11.3138', '15.2M', '11.73M']
spot of 11.3138 with type <class 'str'>
['Fr', '7/15/05', '11.3229', '17.705M', '11.393M']
spot of 11.3229 with type <class 'str'>
['Th', '7/14/05', '11.1776', '14.92M', '10.999M']
spot of 11.1776 with type <class 'str'>
['We', '7/13/05', '11.0868', '12.349M', '10.835M']
spot of 11.0868 with type <class 'str'>
['Tu', '7/12/05', '10.9461', '9.652M', '11.183M']
spot of 10.9461 with type <class 'str'>
['Mo', '7/11/05', '10.9552', '10.041M', '11.112M']
spot of 10.9552 with type <class 'str'>
['Fr', '7/8/05', '11.0233', '11.776M', '11.362M']
spot of 11.0233 with type <class 'str'>
['Th', '7/7/05', '10.9642', '14.366M', '11.352M']
spot of 10.9642 with type <class 'str'>
['We', '7/6/05', '10.878', '10.917M', '11.117M']
spot of 10.878 with type <class 'str'>
['Tu', '7/5/05', '10.7645', '16.991M', '11.059M']
spot of 10.7645 with type <class 'str'>
['Fr', '7/1/05', '10.6601', '8.093M', '11.201M']
spot of 10.6601 with type <class 'str'>
['Th', '6/30/05', '10.6737', '11.207M', '11.549M']
spot of 10.6737 with type <class 'str'>
['We', '6/29/05', '10.9279', '7.74M', '11.47M']
spot of 10.9279 with type <class 'str'>
['Tu', '6/28/05', '10.7418', '7.585M', '11.35M']
spot of 10.7418 with type <class 'str'>
['Mo', '6/27/05', '10.6737', '7.401M', '11.207M']
spot of 10.6737 with type <class 'str'>
['Fr', '6/24/05', '10.8053', '10.154M', '11.491M']
spot of 10.8053 with type <class 'str'>
['Th', '6/23/05', '11.0732', '11.793M', '11.271M']
spot of 11.0732 with type <class 'str'>
['We', '6/22/05', '11.1231', '12.462M', '10.948M']
spot of 11.1231 with type <class 'str'>
['Tu', '6/21/05', '11.1731', '17.573M', '10.673M']
spot of 11.1731 with type <class 'str'>
['Mo', '6/20/05', '10.828', '8.584M', '10.245M']
spot of 10.828 with type <class 'str'>
['Fr', '6/17/05', '10.8553', '13.788M', '10.045M']
spot of 10.8553 with type <class 'str'>
['Th', '6/16/05', '10.8507', '11.632M', '9.939M']
spot of 10.8507 with type <class 'str'>
['We', '6/15/05', '10.8417', '10.83M', '9.744M']
spot of 10.8417 with type <class 'str'>
['Tu', '6/14/05', '10.828', '10.053M', '9.501M']
spot of 10.828 with type <class 'str'>
['Mo', '6/13/05', '10.8462', '19.114M', '9.541M']
spot of 10.8462 with type <class 'str'>
['Fr', '6/10/05', '10.6691', '13.315M', '8.963M']
spot of 10.6691 with type <class 'str'>
['Th', '6/9/05', '10.3332', '10.028M', '8.928M']
spot of 10.3332 with type <class 'str'>
['We', '6/8/05', '10.1834', '5.938M', '10.551M']
spot of 10.1834 with type <class 'str'>
['Tu', '6/7/05', '10.2197', '5.449M', '11.253M']
spot of 10.2197 with type <class 'str'>
['Mo', '6/6/05', '10.2515', '11.649M', '11.522M']
spot of 10.2515 with type <class 'str'>
['Fr', '6/3/05', '10.315', '6.854M', '11.629M']
spot of 10.315 with type <class 'str'>
['Th', '6/2/05', '10.2969', '6.954M', '11.811M']
spot of 10.2969 with type <class 'str'>
['We', '6/1/05', '10.2969', '8.343M', '11.934M']
spot of 10.2969 with type <class 'str'>
['Tu', '5/31/05', '10.2197', '11.15M', '12M']
spot of 10.2197 with type <class 'str'>
['Fr', '5/27/05', '10.3377', '5.574M', '11.861M']
spot of 10.3377 with type <class 'str'>
['Th', '5/26/05', '10.4421', '12.197M', '11.925M']
spot of 10.4421 with type <class 'str'>
['We', '5/25/05', '10.3604', '8.712M', '11.565M']
spot of 10.3604 with type <class 'str'>
['Tu', '5/24/05', '10.315', '7.192M', '11.565M']
spot of 10.315 with type <class 'str'>
['Mo', '5/23/05', '10.2378', '10.642M', '11.686M']
spot of 10.2378 with type <class 'str'>
['Fr', '5/20/05', '10.2151', '10.449M', '11.806M']
spot of 10.2151 with type <class 'str'>
['Th', '5/19/05', '10.2197', '12.788M', '11.899M']
spot of 10.2197 with type <class 'str'>
['We', '5/18/05', '10.2378', '34.38M', '12.02M']
spot of 10.2378 with type <class 'str'>
['Tu', '5/17/05', '9.7838', '16.457M', '10.922M']
spot of 9.7838 with type <class 'str'>
['Mo', '5/16/05', '9.5387', '9.485M', '10.906M']
spot of 9.5387 with type <class 'str'>
['Fr', '5/13/05', '9.3616', '13.257M', '10.687M']
spot of 9.3616 with type <class 'str'>
['Th', '5/12/05', '9.1482', '9.583M', '10.479M']
spot of 9.1482 with type <class 'str'>
['We', '5/11/05', '9.3344', '8.809M', '10.534M']
spot of 9.3344 with type <class 'str'>
['Tu', '5/10/05', '9.2844', '9.332M', '10.514M']
spot of 9.2844 with type <class 'str'>
['Mo', '5/9/05', '9.4161', '9.061M', '10.474M']
spot of 9.4161 with type <class 'str'>
['Fr', '5/6/05', '9.525', '6.526M', '10.974M']
spot of 9.525 with type <class 'str'>
['Th', '5/5/05', '9.5023', '6.799M', '11.886M']
spot of 9.5023 with type <class 'str'>
['We', '5/4/05', '9.5477', '8.71M', '12.377M']
spot of 9.5477 with type <class 'str'>
['Tu', '5/3/05', '9.5341', '9.015M', '12.637M']
spot of 9.5341 with type <class 'str'>
['Mo', '5/2/05', '9.5205', '12.445M', '12.509M']
spot of 9.5205 with type <class 'str'>
['Fr', '4/29/05', '9.2935', '11.841M', '12.155M']
spot of 9.2935 with type <class 'str'>
['Th', '4/28/05', '9.2163', '14.598M', '11.817M']
spot of 9.2163 with type <class 'str'>
['We', '4/27/05', '9.1573', '17.908M', '11.34M']
spot of 9.1573 with type <class 'str'>
['Tu', '4/26/05', '9.2935', '16.227M', '10.829M']
spot of 9.2935 with type <class 'str'>
['Mo', '4/25/05', '9.5795', '6.19M', '10.604M']
spot of 9.5795 with type <class 'str'>
['Fr', '4/22/05', '9.4342', '10.14M', '11.628M']
spot of 9.4342 with type <class 'str'>
['Th', '4/21/05', '9.5704', '10.41M', '12.044M']
spot of 9.5704 with type <class 'str'>
['We', '4/20/05', '9.348', '8.501M', '12.707M']
spot of 9.348 with type <class 'str'>
['Tu', '4/19/05', '9.3752', '8.746M', '15.131M']
spot of 9.3752 with type <class 'str'>
['Mo', '4/18/05', '9.2799', '16.552M', '17.558M']
spot of 9.2799 with type <class 'str'>
['Fr', '4/15/05', '9.4615', '20.201M', '16.97M']
spot of 9.4615 with type <class 'str'>
['Th', '4/14/05', '9.8746', '14.177M', '16.051M']
spot of 9.8746 with type <class 'str'>
['We', '4/13/05', '9.9654', '12.611M', '15.957M']
spot of 9.9654 with type <class 'str'>
['Tu', '4/12/05', '9.8565', '7.086M', '15.772M']
spot of 9.8565 with type <class 'str'>
['Mo', '4/11/05', '9.7929', '7.132M', '15.961M']
spot of 9.7929 with type <class 'str'>
['Fr', '4/8/05', '9.8247', '6.779M', '16.794M']
spot of 9.8247 with type <class 'str'>
['Th', '4/7/05', '9.8973', '7.435M', '16.996M']
spot of 9.8973 with type <class 'str'>
['We', '4/6/05', '9.8837', '10.248M', '17.273M']
spot of 9.8837 with type <class 'str'>
['Tu', '4/5/05', '9.7884', '12.852M', '17.166M']
spot of 9.7884 with type <class 'str'>
['Mo', '4/4/05', '9.9473', '21.548M', '16.913M']
spot of 9.9473 with type <class 'str'>
['Fr', '4/1/05', '9.8565', '16.385M', '16.43M']
spot of 9.8565 with type <class 'str'>
['Th', '3/31/05', '9.9609', '20.355M', '15.802M']
spot of 9.9609 with type <class 'str'>
['We', '3/30/05', '9.9881', '44.866M', '15.106M']
spot of 9.9881 with type <class 'str'>
['Tu', '3/29/05', '9.8882', '45.147M', '12.658M']
spot of 9.8882 with type <class 'str'>
['Mo', '3/28/05', '8.9848', '7.723M', '10.558M']
spot of 8.9848 with type <class 'str'>
['Th', '3/24/05', '8.9939', '6.428M', '10.787M']
spot of 8.9939 with type <class 'str'>
['We', '3/23/05', '8.9712', '12.761M', '10.877M']
spot of 8.9712 with type <class 'str'>
['Tu', '3/22/05', '9.0847', '9.831M', '10.508M']
spot of 9.0847 with type <class 'str'>
['Mo', '3/21/05', '9.1482', '9.928M', '10.443M']
spot of 9.1482 with type <class 'str'>
['Fr', '3/18/05', '9.1255', '19.624M', '10.384M']
spot of 9.1255 with type <class 'str'>
['Th', '3/17/05', '9.2526', '9.817M', '9.549M']
spot of 9.2526 with type <class 'str'>
['We', '3/16/05', '9.18', '11.588M', '9.688M']
spot of 9.18 with type <class 'str'>
['Tu', '3/15/05', '9.1437', '8.641M', '9.583M']
spot of 9.1437 with type <class 'str'>
['Mo', '3/14/05', '9.1709', '9.052M', '9.661M']
spot of 9.1709 with type <class 'str'>
['Fr', '3/11/05', '9.0529', '14.299M', '9.69M']
spot of 9.0529 with type <class 'str'>
['Th', '3/10/05', '9.348', '6.966M', '10.27M']
spot of 9.348 with type <class 'str'>
['We', '3/9/05', '9.3707', '9.916M', '10.972M']
spot of 9.3707 with type <class 'str'>
['Tu', '3/8/05', '9.4978', '8.142M', '11.391M']
spot of 9.4978 with type <class 'str'>
['Mo', '3/7/05', '9.4751', '13.65M', '12.102M']
spot of 9.4751 with type <class 'str'>
['Fr', '3/4/05', '9.3344', '11.169M', '12.339M']
spot of 9.3344 with type <class 'str'>
['Th', '3/3/05', '9.4479', '7.774M', '13.337M']
spot of 9.4479 with type <class 'str'>
['We', '3/2/05', '9.3979', '7.222M', '19.645M']
spot of 9.3979 with type <class 'str'>
['Tu', '3/1/05', '9.407', '8.852M', '19.707M']
spot of 9.407 with type <class 'str'>
['Mo', '2/28/05', '9.4433', '9.043M', '19.489M']
spot of 9.4433 with type <class 'str'>
['Fr', '2/25/05', '9.3798', '7.108M', '19.505M']

spot of 9.3798 with type <class 'str'>
['Th', '2/24/05', '9.2799', '11.902M', '19.665M']
spot of 9.2799 with type <class 'str'>
['We', '2/23/05', '9.2436', '10.012M', '19.396M']
spot of 9.2436 with type <class 'str'>
['Tu', '2/22/05', '9.3389', '9.808M', '19.344M']
spot of 9.3389 with type <class 'str'>
['Fr', '2/18/05', '9.5341', '9.49M', '19.323M']
spot of 9.5341 with type <class 'str'>
['Th', '2/17/05', '9.4706', '22.998M', '19.907M']
spot of 9.4706 with type <class 'str'>
['We', '2/16/05', '9.5614', '17.491M', '19.088M']
spot of 9.5614 with type <class 'str'>
['Tu', '2/15/05', '9.5886', '16.198M', '18.69M']
spot of 9.5886 with type <class 'str'>
['Mo', '2/14/05', '9.4297', '18.81M', '18.374M']
spot of 9.4297 with type <class 'str'>
['Fr', '2/11/05', '9.6703', '17.215M', '17.874M']
spot of 9.6703 with type <class 'str'>
['Th', '2/10/05', '9.752', '26.129M', '17.461M']
spot of 9.752 with type <class 'str'>
['We', '2/9/05', '9.7747', '102.398M', '16.324M']
spot of 9.7747 with type <class 'str'>
['Tu', '2/8/05', '9.1437', '8.156M', '10.06M']
spot of 9.1437 with type <class 'str'>
['Mo', '2/7/05', '9.2481', '5.577M', '10.481M']
spot of 9.2481 with type <class 'str'>
['Fr', '2/4/05', '9.2844', '9.286M', '10.749M']
spot of 9.2844 with type <class 'str'>
['Th', '2/3/05', '9.0347', '9.502M', '10.79M']
spot of 9.0347 with type <class 'str'>
['We', '2/2/05', '8.8849', '7.869M', '10.999M']
spot of 8.8849 with type <class 'str'>
['Tu', '2/1/05', '8.9984', '9.235M', '11.873M']
spot of 8.9984 with type <class 'str'>
['Mo', '1/31/05', '8.894', '9.489M', '11.812M']
spot of 8.894 with type <class 'str'>
['Fr', '1/28/05', '8.7805', '18.252M', '12.095M']
spot of 8.7805 with type <class 'str'>
['Th', '1/27/05', '8.8486', '10.715M', '11.48M']
spot of 8.8486 with type <class 'str'>
['We', '1/26/05', '8.894', '11.521M', '11.525M']
spot of 8.894 with type <class 'str'>
['Tu', '1/25/05', '8.9258', '11.449M', '11.376M']
spot of 8.9258 with type <class 'str'>
['Mo', '1/24/05', '9.0302', '11.311M', '11.164M']
spot of 9.0302 with type <class 'str'>
['Fr', '1/21/05', '9.0756', '11.022M', '10.771M']
spot of 9.0756 with type <class 'str'>
['Th', '1/20/05', '9.0892', '9.082M', '10.309M']
spot of 9.0892 with type <class 'str'>
['We', '1/19/05', '9.2072', '8.441M', '10.075M']
spot of 9.2072 with type <class 'str'>
['Tu', '1/18/05', '9.2753', '14.468M', '9.881M']
spot of 9.2753 with type <class 'str'>
['Fr', '1/14/05', '9.1119', '9.591M', '9.333M']
spot of 9.1119 with type <class 'str'>
['Th', '1/13/05', '9.0574', '9.9M', '8.979M']
spot of 9.0574 with type <class 'str'>
['We', '1/12/05', '9.0983', '12.641M', '8.77M']
spot of 9.0983 with type <class 'str'>
['Tu', '1/11/05', '9.1028', '20.973M', '8.513M']
spot of 9.1028 with type <class 'str'>
['Mo', '1/10/05', '9.4479', '8.332M', '7.607M']
spot of 9.4479 with type <class 'str'>
['Fr', '1/7/05', '9.4615', '13.729M', '8.102M']
spot of 9.4615 with type <class 'str'>
['Th', '1/6/05', '9.516', '9.03M', '8.031M']
spot of 9.516 with type <class 'str'>
['We', '1/5/05', '9.5341', '11.384M', '8.165M']
spot of 9.5341 with type <class 'str'>
['Tu', '1/4/05', '9.4933', '9.286M', '7.92M']
spot of 9.4933 with type <class 'str'>
['Mo', '1/3/05', '9.5568', '8.266M', '7.792M']
spot of 9.5568 with type <class 'str'>
['Fr', '12/31/04', '9.5205', '5.418M', '7.766M']
spot of 9.5205 with type <class 'str'>
['Th', '12/30/04', '9.5931', '4.099M', '8.177M']
spot of 9.5931 with type <class 'str'>
['We', '12/29/04', '9.6249', '5.562M', '8.615M']
spot of 9.6249 with type <class 'str'>
['Tu', '12/28/04', '9.6385', '5.536M', '9.09M']
spot of 9.6385 with type <class 'str'>
['Mo', '12/27/04', '9.575', '6.245M', '9.554M']
spot of 9.575 with type <class 'str'>
['Th', '12/23/04', '9.5614', '4.284M', '10.058M']
spot of 9.5614 with type <class 'str'>
['We', '12/22/04', '9.6295', '6.767M', '10.295M']
spot of 9.6295 with type <class 'str'>
['Tu', '12/21/04', '9.6295', '8.785M', '10.499M']
spot of 9.6295 with type <class 'str'>
['Mo', '12/20/04', '9.525', '7.381M', '10.434M']
spot of 9.525 with type <class 'str'>
['Fr', '12/17/04', '9.516', '15.757M', '10.486M']
spot of 9.516 with type <class 'str'>
['Th', '12/16/04', '9.5568', '12.665M', '9.594M']
spot of 9.5568 with type <class 'str'>
['We', '12/15/04', '9.4025', '11.046M', '9.138M']
spot of 9.4025 with type <class 'str'>
['Tu', '12/14/04', '9.3525', '7.709M', '8.946M']
spot of 9.3525 with type <class 'str'>
['Mo', '12/13/04', '9.3979', '7.355M', '9.1M']
spot of 9.3979 with type <class 'str'>
['Fr', '12/10/04', '9.4479', '7.882M', '9.297M']
spot of 9.4479 with type <class 'str'>
['Th', '12/9/04', '9.4751', '11.589M', '9.596M']
spot of 9.4751 with type <class 'str'>
['We', '12/8/04', '9.5432', '10.665M', '11.426M']
spot of 9.5432 with type <class 'str'>
['Tu', '12/7/04', '9.5704', '12.684M', '11.85M']
spot of 9.5704 with type <class 'str'>
['Mo', '12/6/04', '9.6839', '12.495M', '11.849M']
spot of 9.6839 with type <class 'str'>
['Fr', '12/3/04', '9.5296', '13.804M', '12.021M']
spot of 9.5296 with type <class 'str'>
['Th', '12/2/04', '9.3389', '7.849M', '11.912M']
spot of 9.3389 with type <class 'str'>
['We', '12/1/04', '9.3162', '9.825M', '12.46M']
spot of 9.3162 with type <class 'str'>
['Tu', '11/30/04', '9.0801', '7.813M', '12.429M']
spot of 9.0801 with type <class 'str'>
['Mo', '11/29/04', '9.1255', '8.148M', '12.446M']
spot of 9.1255 with type <class 'str'>
['Fr', '11/26/04', '9.1573', '2.386M', '12.599M']
spot of 9.1573 with type <class 'str'>
['We', '11/24/04', '9.1437', '5.822M', '13.053M']
spot of 9.1437 with type <class 'str'>
['Tu', '11/23/04', '9.1528', '8.158M', '13.353M']
spot of 9.1528 with type <class 'str'>
['Mo', '11/22/04', '9.1709', '10.033M', '13.466M']
spot of 9.1709 with type <class 'str'>
['Fr', '11/19/04', '9.1164', '10.307M', '13.372M']
spot of 9.1164 with type <class 'str'>
['Th', '11/18/04', '9.1982', '12.364M', '13.382M']
spot of 9.1982 with type <class 'str'>
['We', '11/17/04', '9.1709', '39.032M', '13.089M']
spot of 9.1709 with type <class 'str'>
['Tu', '11/16/04', '8.9348', '17.032M', '11.266M']
spot of 8.9348 with type <class 'str'>
['Mo', '11/15/04', '8.8168', '12.675M', '10.997M']
spot of 8.8168 with type <class 'str'>
['Fr', '11/12/04', '8.7805', '15.074M', '10.628M']
spot of 8.7805 with type <class 'str'>
['Th', '11/11/04', '8.7396', '12.16M', '10.16M']
spot of 8.7396 with type <class 'str'>
['We', '11/10/04', '8.6125', '16.075M', '9.851M']
spot of 8.6125 with type <class 'str'>
['Tu', '11/9/04', '8.9439', '9.362M', '9.427M']
spot of 8.9439 with type <class 'str'>
['Mo', '11/8/04', '8.9939', '8.067M', '9.475M']
spot of 8.9939 with type <class 'str'>
['Fr', '11/5/04', '8.9394', '10.446M', '9.739M']
spot of 8.9394 with type <class 'str'>
['Th', '11/4/04', '8.8667', '9.182M', '9.709M']
spot of 8.8667 with type <class 'str'>
['We', '11/3/04', '8.6261', '10.334M', '9.886M']
spot of 8.6261 with type <class 'str'>
['Tu', '11/2/04', '8.6261', '9.845M', '9.949M']
spot of 8.6261 with type <class 'str'>
['Mo', '11/1/04', '8.5172', '8.629M', '9.858M']
spot of 8.5172 with type <class 'str'>
['Fr', '10/29/04', '8.4718', '10.456M', '9.625M']
spot of 8.4718 with type <class 'str'>
['Th', '10/28/04', '8.3946', '7.965M', '9.519M']
spot of 8.3946 with type <class 'str'>
['We', '10/27/04', '8.3764', '11.683M', '9.521M']
spot of 8.3764 with type <class 'str'>
['Tu', '10/26/04', '8.1085', '13.007M', '9.198M']
spot of 8.1085 with type <class 'str'>
['Mo', '10/25/04', '8.1312', '7.131M', '9.052M']
spot of 8.1312 with type <class 'str'>
['Fr', '10/22/04', '8.1449', '8.062M', '9.227M']
spot of 8.1449 with type <class 'str'>
['Th', '10/21/04', '8.3355', '7.525M', '9.261M']
spot of 8.3355 with type <class 'str'>
['We', '10/20/04', '8.2765', '9.715M', '9.49M']
spot of 8.2765 with type <class 'str'>
['Tu', '10/19/04', '8.2811', '10.077M', '9.41M']
spot of 8.2811 with type <class 'str'>
['Mo', '10/18/04', '8.2856', '12.027M', '9.346M']
spot of 8.2856 with type <class 'str'>
['Fr', '10/15/04', '8.2674', '10.001M', '9.209M']
spot of 8.2674 with type <class 'str'>
['Th', '10/14/04', '8.3446', '11.832M', '9.311M']
spot of 8.3446 with type <class 'str'>
['We', '10/13/04', '8.5807', '11.278M', '9.126M']
spot of 8.5807 with type <class 'str'>
['Tu', '10/12/04', '8.4127', '8.483M', '9.02M']
spot of 8.4127 with type <class 'str'>
['Mo', '10/11/04', '8.4627', '5.128M', '9.051M']
spot of 8.4627 with type <class 'str'>
['Fr', '10/8/04', '8.4263', '8.867M', '9.438M']
spot of 8.4263 with type <class 'str'>
['Th', '10/7/04', '8.6397', '8.001M', '9.726M']
spot of 8.6397 with type <class 'str'>
['We', '10/6/04', '8.7078', '6.83M', '9.643M']
spot of 8.7078 with type <class 'str'>
['Tu', '10/5/04', '8.617', '10.819M', '9.839M']
spot of 8.617 with type <class 'str'>
['Mo', '10/4/04', '8.6534', '9.76M', '9.785M']

spot of 8.6534 with type <class 'str'>
['Fr', '10/1/04', '8.6806', '8.566M', '9.747M']
spot of 8.6806 with type <class 'str'>
['Th', '9/30/04', '8.5126', '10.97M', '9.666M']
spot of 8.5126 with type <class 'str'>
['We', '9/29/04', '8.4082', '8.519M', '9.563M']
spot of 8.4082 with type <class 'str'>
['Tu', '9/28/04', '8.2811', '9.11M', '9.701M']
spot of 8.2811 with type <class 'str'>
['Mo', '9/27/04', '8.3537', '9.973M', '9.652M']
spot of 8.3537 with type <class 'str'>
['Fr', '9/24/04', '8.4354', '11.53M', '9.833M']
spot of 8.4354 with type <class 'str'>
['Th', '9/23/04', '8.5535', '9.052M', '9.493M']
spot of 8.5535 with type <class 'str'>
['We', '9/22/04', '8.4536', '9.69M', '9.431M']
spot of 8.4536 with type <class 'str'>
['Tu', '9/21/04', '8.4899', '8.954M', '9.261M']
spot of 8.4899 with type <class 'str'>
['Mo', '9/20/04', '8.3582', '10.927M', '9.239M']
spot of 8.3582 with type <class 'str'>
['Fr', '9/17/04', '8.222', '13.19M', '8.923M']
spot of 8.222 with type <class 'str'>
['Th', '9/16/04', '8.272', '6.752M', '8.52M']
spot of 8.272 with type <class 'str'>
['We', '9/15/04', '8.2992', '9.768M', '8.809M']
spot of 8.2992 with type <class 'str'>
['Tu', '9/14/04', '8.3537', '10.01M', '8.978M']
spot of 8.3537 with type <class 'str'>
['Mo', '9/13/04', '8.449', '9.199M', '8.954M']
spot of 8.449 with type <class 'str'>
['Fr', '9/10/04', '8.3038', '7.34M', '9.254M']
spot of 8.3038 with type <class 'str'>
['Th', '9/9/04', '8.2266', '9.439M', '9.651M']
spot of 8.2266 with type <class 'str'>
['We', '9/8/04', '8.1449', '10.589M', '10.216M']
spot of 8.1449 with type <class 'str'>
['Tu', '9/7/04', '8.1676', '8.365M', '10.448M']
spot of 8.1676 with type <class 'str'>
['Fr', '9/3/04', '8.0359', '12.684M', '11.119M']
spot of 8.0359 with type <class 'str'>
['Th', '9/2/04', '8.1766', '6.443M', '12.096M']
spot of 8.1766 with type <class 'str'>
['We', '9/1/04', '8.1358', '8.109M', '17.079M']
spot of 8.1358 with type <class 'str'>
['Tu', '8/31/04', '8.1222', '7.15M', '17.26M']
spot of 8.1222 with type <class 'str'>
['Mo', '8/30/04', '8.1358', '8.622M', '17.228M']
spot of 8.1358 with type <class 'str'>
['Fr', '8/27/04', '8.2901', '6.187M', '17.053M']
spot of 8.2901 with type <class 'str'>
['Th', '8/26/04', '8.2584', '7.151M', '17.246M']
spot of 8.2584 with type <class 'str'>
['We', '8/25/04', '8.2175', '11.087M', '17.392M']
spot of 8.2175 with type <class 'str'>
['Tu', '8/24/04', '8.0268', '12.302M', '17.119M']
spot of 8.0268 with type <class 'str'>
['Mo', '8/23/04', '8.1176', '9.644M', '16.794M']
spot of 8.1176 with type <class 'str'>
['Fr', '8/20/04', '8.222', '13.692M', '16.629M']
spot of 8.222 with type <class 'str'>
['Th', '8/19/04', '8.0404', '13.299M', '16.183M']
spot of 8.0404 with type <class 'str'>
['We', '8/18/04', '7.9587', '17.917M', '15.763M']
spot of 7.9587 with type <class 'str'>
['Tu', '8/17/04', '7.6727', '14.072M', '14.999M']
spot of 7.6727 with type <class 'str'>
['Mo', '8/16/04', '7.6727', '18.424M', '14.55M']
spot of 7.6727 with type <class 'str'>
['Fr', '8/13/04', '7.4911', '27.341M', '13.814M']
spot of 7.4911 with type <class 'str'>
['Th', '8/12/04', '7.6954', '81.186M', '12.421M']
spot of 7.6954 with type <class 'str'>
['We', '8/11/04', '8.8622', '10.821M', '7.496M']
spot of 8.8622 with type <class 'str'>
['Tu', '8/10/04', '9.0574', '6.679M', '7.275M']
spot of 9.0574 with type <class 'str'>
['Mo', '8/9/04', '9.0256', '5.999M', '7.39M']
spot of 9.0256 with type <class 'str'>
['Fr', '8/6/04', '9.0347', '9.075M', '7.516M']
spot of 9.0347 with type <class 'str'>
['Th', '8/5/04', '9.3071', '9.345M', '7.459M']
spot of 9.3071 with type <class 'str'>
['We', '8/4/04', '9.2799', '6.988M', '7.57M']
spot of 9.2799 with type <class 'str'>
['Tu', '8/3/04', '9.1936', '7.429M', '7.87M']
spot of 9.1936 with type <class 'str'>
['Mo', '8/2/04', '9.2481', '7.161M', '7.799M']
spot of 9.2481 with type <class 'str'>
['Fr', '7/30/04', '9.1482', '7.011M', '7.812M']
spot of 9.1482 with type <class 'str'>
['Th', '7/29/04', '9.1755', '6.992M', '7.861M']
spot of 9.1755 with type <class 'str'>
['We', '7/28/04', '9.0483', '6.465M', '7.874M']
spot of 9.0483 with type <class 'str'>
['Tu', '7/27/04', '9.0801', '7.338M', '8.025M']
spot of 9.0801 with type <class 'str'>
['Mo', '7/26/04', '8.9575', '7.379M', '8.181M']
spot of 8.9575 with type <class 'str'>
['Fr', '7/23/04', '8.8894', '6.455M', '8.091M']
spot of 8.8894 with type <class 'str'>
['Th', '7/22/04', '9.062', '7.301M', '8.394M']
spot of 9.062 with type <class 'str'>
['We', '7/21/04', '8.9394', '7.515M', '8.47M']
spot of 8.9394 with type <class 'str'>
['Tu', '7/20/04', '9.0801', '8.391M', '8.508M']
spot of 9.0801 with type <class 'str'>
['Mo', '7/19/04', '8.9666', '7.901M', '8.691M']
spot of 8.9666 with type <class 'str'>
['Fr', '7/16/04', '8.9167', '8.21M', '8.933M']
spot of 8.9167 with type <class 'str'>
['Th', '7/15/04', '8.9212', '11.019M', '9.096M']
spot of 8.9212 with type <class 'str'>
['We', '7/14/04', '9.0347', '11.486M', '9.104M']
spot of 9.0347 with type <class 'str'>
['Tu', '7/13/04', '9.1936', '6.358M', '8.961M']
spot of 9.1936 with type <class 'str'>
['Mo', '7/12/04', '9.1301', '7.355M', '9.185M']
spot of 9.1301 with type <class 'str'>
['Fr', '7/9/04', '9.1391', '7.744M', '9.342M']
spot of 9.1391 with type <class 'str'>
['Th', '7/8/04', '9.0756', '7.191M', '9.443M']
spot of 9.0756 with type <class 'str'>
['We', '7/7/04', '9.1982', '8.733M', '9.471M']
spot of 9.1982 with type <class 'str'>
['Tu', '7/6/04', '9.0983', '9.676M', '9.366M']
spot of 9.0983 with type <class 'str'>
['Fr', '7/2/04', '9.2663', '6.024M', '9.316M']
spot of 9.2663 with type <class 'str'>
['Th', '7/1/04', '9.3434', '11.002M', '9.472M']
spot of 9.3434 with type <class 'str'>
['We', '6/30/04', '9.5795', '8.443M', '9.706M']
spot of 9.5795 with type <class 'str'>
['Tu', '6/29/04', '9.5795', '8.088M', '9.855M']
spot of 9.5795 with type <class 'str'>
['Mo', '6/28/04', '9.525', '11.133M', '9.859M']
spot of 9.525 with type <class 'str'>
['Fr', '6/25/04', '9.4479', '11.537M', '9.699M']
spot of 9.4479 with type <class 'str'>
['Th', '6/24/04', '9.5432', '10.651M', '9.37M']
spot of 9.5432 with type <class 'str'>
['We', '6/23/04', '9.5931', '11.136M', '9.107M']
spot of 9.5931 with type <class 'str'>
['Tu', '6/22/04', '9.4842', '9.347M', '9.032M']
spot of 9.4842 with type <class 'str'>
['Mo', '6/21/04', '9.4388', '9.716M', '9.065M']
spot of 9.4388 with type <class 'str'>
['Fr', '6/18/04', '9.4978', '9.705M', '8.938M']
spot of 9.4978 with type <class 'str'>
['Th', '6/17/04', '9.575', '9.266M', '8.76M']
spot of 9.575 with type <class 'str'>
['We', '6/16/04', '9.7611', '7.606M', '8.685M']
spot of 9.7611 with type <class 'str'>
['Tu', '6/15/04', '9.8519', '7.165M', '8.837M']
spot of 9.8519 with type <class 'str'>
['Mo', '6/14/04', '9.802', '8.915M', '8.948M']
spot of 9.802 with type <class 'str'>
['Th', '6/10/04', '9.8746', '8.364M', '9.04M']
spot of 9.8746 with type <class 'str'>
['We', '6/9/04', '9.9518', '14.524M', '10.674M']
spot of 9.9518 with type <class 'str'>
['Tu', '6/8/04', '9.9881', '10.677M', '10.358M']
spot of 9.9881 with type <class 'str'>
['Mo', '6/7/04', '9.8338', '8.135M', '10.233M']
spot of 9.8338 with type <class 'str'>
['Fr', '6/4/04', '9.6522', '8.739M', '10.704M']
spot of 9.6522 with type <class 'str'>
['Th', '6/3/04', '9.5886', '6.599M', '10.843M']
spot of 9.5886 with type <class 'str'>
['We', '6/2/04', '9.6749', '6.716M', '11.138M']
spot of 9.6749 with type <class 'str'>
['Tu', '6/1/04', '9.6113', '10.003M', '11.44M']
spot of 9.6113 with type <class 'str'>
['Fr', '5/28/04', '9.6431', '9.847M', '11.715M']
spot of 9.6431 with type <class 'str'>
['Th', '5/27/04', '9.5977', '7.808M', '12.165M']
spot of 9.5977 with type <class 'str'>
['We', '5/26/04', '9.6476', '7.038M', '12.529M']
spot of 9.6476 with type <class 'str'>
['Tu', '5/25/04', '9.5432', '8.14M', '12.895M']
spot of 9.5432 with type <class 'str'>
['Mo', '5/24/04', '9.4161', '9.891M', '13.41M']
spot of 9.4161 with type <class 'str'>
['Fr', '5/21/04', '9.4524', '8.82M', '13.651M']
spot of 9.4524 with type <class 'str'>
['Th', '5/20/04', '9.4115', '10.295M', '13.946M']
spot of 9.4115 with type <class 'str'>
['We', '5/19/04', '9.3298', '32.879M', '14.175M']
spot of 9.3298 with type <class 'str'>
['Tu', '5/18/04', '9.0029', '9.789M', '12.8M']
spot of 9.0029 with type <class 'str'>
['Mo', '5/17/04', '8.8531', '8.792M', '12.837M']
spot of 8.8531 with type <class 'str'>
['Fr', '5/14/04', '8.9031', '15.206M', '12.839M']
spot of 8.9031 with type <class 'str'>
['Th', '5/13/04', '9.0937', '10.828M', '12.597M']
spot of 9.0937 with type <class 'str'>
['We', '5/12/04', '9.1301', '11.02M', '12.641M']
spot of 9.1301 with type <class 'str'>
['Tu', '5/11/04', '9.1301', '11.246M', '12.828M']
spot of 9.1301 with type <class 'str'>
['Mo', '5/10/04', '9.0438', '14.131M', '12.793M']
spot of 9.0438 with type <class 'str'>
['Fr', '5/7/04', '9.0801', '16.598M', '12.416M']
spot of 9.0801 with type <class 'str'>
['Th', '5/6/04', '8.9802', '13.263M', '12.162M']
spot of 8.9802 with type <class 'str'>
['We', '5/5/04', '9.0801', '12.525M', '11.963M']
spot of 9.0801 with type <class 'str'>
['Tu', '5/4/04', '9.0256', '15.869M', '11.824M']
spot of 9.0256 with type <class 'str'>
['Mo', '5/3/04', '8.9212', '13.505M', '11.634M']
spot of 8.9212 with type <class 'str'>
['Fr', '4/30/04', '8.9439', '13.252M', '11.291M']
spot of 8.9439 with type <class 'str'>
['Th', '4/29/04', '9.1891', '13.73M', '10.99M']
spot of 9.1891 with type <class 'str'>
['We', '4/28/04', '9.3979', '12.251M', '10.948M']
spot of 9.3979 with type <class 'str'>
['Tu', '4/27/04', '9.6522', '10.341M', '10.706M']
spot of 9.6522 with type <class 'str'>
['Mo', '4/26/04', '9.8383', '8.825M', '10.68M']
spot of 9.8383 with type <class 'str'>
['Fr', '4/23/04', '9.8383', '11.57M', '10.932M']
spot of 9.8383 with type <class 'str'>
['Th', '4/22/04', '9.9019', '11.487M', '10.858M']
spot of 9.9019 with type <class 'str'>
['We', '4/21/04', '9.6794', '13.831M', '11.269M']
spot of 9.6794 with type <class 'str'>
['Tu', '4/20/04', '9.6068', '10.726M', '11.324M']
spot of 9.6068 with type <class 'str'>
['Mo', '4/19/04', '9.861', '8.467M', '11.542M']
spot of 9.861 with type <class 'str'>
['Fr', '4/16/04', '9.9881', '12.795M', '11.484M']
spot of 9.9881 with type <class 'str'>
['Th', '4/15/04', '9.9382', '10.269M', '11.251M']
spot of 9.9382 with type <class 'str'>
['We', '4/14/04', '9.9836', '10.446M', '11.112M']
spot of 9.9836 with type <class 'str'>
['Tu', '4/13/04', '10.1016', '13.024M', '11.032M']
spot of 10.1016 with type <class 'str'>
['Mo', '4/12/04', '10.2742', '8.349M', '10.935M']
spot of 10.2742 with type <class 'str'>
['Th', '4/8/04', '10.3831', '8.741M', '11.076M']
spot of 10.3831 with type <class 'str'>
['We', '4/7/04', '10.4966', '13.093M', '11.119M']
spot of 10.4966 with type <class 'str'>
['Tu', '4/6/04', '10.601', '8.632M', '11.013M']
spot of 10.601 with type <class 'str'>
['Mo', '4/5/04', '10.7327', '9.942M', '11.115M']
spot of 10.7327 with type <class 'str'>
['Fr', '4/2/04', '10.4785', '12.602M', '11.206M']
spot of 10.4785 with type <class 'str'>
['Th', '4/1/04', '10.4104', '10.463M', '11.005M']
spot of 10.4104 with type <class 'str'>
['We', '3/31/04', '10.3695', '17.651M', '11.197M']
spot of 10.3695 with type <class 'str'>
['Tu', '3/30/04', '10.5012', '14.667M', '10.746M']
spot of 10.5012 with type <class 'str'>
['Mo', '3/29/04', '10.5193', '13.986M', '10.572M']
spot of 10.5193 with type <class 'str'>
['Fr', '3/26/04', '10.1516', '7.593M', '10.257M']
spot of 10.1516 with type <class 'str'>
['Th', '3/25/04', '10.1652', '9.306M', '10.394M']
spot of 10.1652 with type <class 'str'>
['We', '3/24/04', '9.8156', '8.184M', '10.25M']
spot of 9.8156 with type <class 'str'>
['Tu', '3/23/04', '9.7112', '9.245M', '10.228M']
spot of 9.7112 with type <class 'str'>
['Mo', '3/22/04', '9.7066', '11.571M', '10.249M']
spot of 9.7066 with type <class 'str'>
['Fr', '3/19/04', '9.8201', '10.467M', '10.089M']
spot of 9.8201 with type <class 'str'>
['Th', '3/18/04', '10.0199', '9.388M', '10.238M']
spot of 10.0199 with type <class 'str'>
['We', '3/17/04', '10.0426', '11.499M', '10.354M']
spot of 10.0426 with type <class 'str'>
['Tu', '3/16/04', '9.8928', '10.155M', '10.446M']
spot of 9.8928 with type <class 'str'>
['Mo', '3/15/04', '9.8565', '11.32M', '11.018M']
spot of 9.8565 with type <class 'str'>
['Fr', '3/12/04', '10.1516', '9.58M', '11.077M']
spot of 10.1516 with type <class 'str'>
['Th', '3/11/04', '9.9972', '13.339M', '11.883M']
spot of 9.9972 with type <class 'str'>
['We', '3/10/04', '10.1289', '10.89M', '12.357M']
spot of 10.1289 with type <class 'str'>
['Tu', '3/9/04', '10.1425', '12.059M', '12.334M']
spot of 10.1425 with type <class 'str'>
['Mo', '3/8/04', '10.2878', '9.255M', '12.19M']
spot of 10.2878 with type <class 'str'>
['Fr', '3/5/04', '10.3241', '9.656M', '12.617M']
spot of 10.3241 with type <class 'str'>
['Th', '3/4/04', '10.365', '7.148M', '13.869M']
spot of 10.365 with type <class 'str'>
['We', '3/3/04', '10.4285', '7.843M', '14.911M']
spot of 10.4285 with type <class 'str'>
['Tu', '3/2/04', '10.374', '9.563M', '14.969M']
spot of 10.374 with type <class 'str'>
['Mo', '3/1/04', '10.4421', '9.167M', '14.866M']
spot of 10.4421 with type <class 'str'>
['Fr', '2/27/04', '10.3105', '12.715M', '14.958M']
spot of 10.3105 with type <class 'str'>
['Th', '2/26/04', '10.542', '11.12M', '14.709M']
spot of 10.542 with type <class 'str'>
['We', '2/25/04', '10.3286', '12.879M', '14.957M']
spot of 10.3286 with type <class 'str'>
['Tu', '2/24/04', '10.2151', '18.736M', '14.732M']
spot of 10.2151 with type <class 'str'>
['Mo', '2/23/04', '10.4013', '12.199M', '14.313M']
spot of 10.4013 with type <class 'str'>
['Fr', '2/20/04', '10.5012', '21.677M', '14.397M']
spot of 10.5012 with type <class 'str'>
['Th', '2/19/04', '10.8326', '20.45M', '14.302M']
spot of 10.8326 with type <class 'str'>
['We', '2/18/04', '10.6737', '10.55M', '14.39M']
spot of 10.6737 with type <class 'str'>
['Tu', '2/17/04', '10.6192', '9.886M', '14.436M']
spot of 10.6192 with type <class 'str'>
['Fr', '2/13/04', '10.4467', '15.672M', '14.575M']
spot of 10.4467 with type <class 'str'>
['Th', '2/12/04', '10.4013', '28.431M', '14.03M']
spot of 10.4013 with type <class 'str'>
['We', '2/11/04', '10.8235', '22.772M', '12.934M']
spot of 10.8235 with type <class 'str'>
['Tu', '2/10/04', '10.9506', '8.723M', '12.147M']
spot of 10.9506 with type <class 'str'>
['Mo', '2/9/04', '10.7872', '8.021M', '12.204M']
spot of 10.7872 with type <class 'str'>
['Fr', '2/6/04', '10.7963', '10.546M', '12.674M']
spot of 10.7963 with type <class 'str'>
['Th', '2/5/04', '10.5829', '8.975M', '13.49M']
spot of 10.5829 with type <class 'str'>
['We', '2/4/04', '10.5284', '14.84M', '13.593M']
spot of 10.5284 with type <class 'str'>
['Tu', '2/3/04', '10.8553', '9.5M', '13.32M']
spot of 10.8553 with type <class 'str'>
['Mo', '2/2/04', '10.9415', '12.452M', '13.346M']
spot of 10.9415 with type <class 'str'>
['Fr', '1/30/04', '10.8008', '13.466M', '13.44M']
spot of 10.8008 with type <class 'str'>
['Th', '1/29/04', '11.0233', '20.25M', '14.051M']
spot of 11.0233 with type <class 'str'>
['We', '1/28/04', '11.0233', '21.759M', '13.923M']
spot of 11.0233 with type <class 'str'>
['Tu', '1/27/04', '11.6316', '11.251M', '13.215M']
spot of 11.6316 with type <class 'str'>
['Mo', '1/26/04', '11.8586', '11.972M', '13.206M']
spot of 11.8586 with type <class 'str'>
['Fr', '1/23/04', '11.4863', '7.486M', '13.039M']
spot of 11.4863 with type <class 'str'>
['Th', '1/22/04', '11.5726', '11.994M', '12.956M']
spot of 11.5726 with type <class 'str'>
['We', '1/21/04', '11.4591', '10.971M', '12.622M']
spot of 11.4591 with type <class 'str'>
['Tu', '1/20/04', '11.3819', '9.574M', '12.413M']
spot of 11.3819 with type <class 'str'>
['Fr', '1/16/04', '11.5862', '15.076M', '11.965M']
spot of 11.5862 with type <class 'str'>
['Th', '1/15/04', '11.4863', '22.781M', '11.209M']
spot of 11.4863 with type <class 'str'>
['We', '1/14/04', '11.2139', '10.524M', '10.402M']
spot of 11.2139 with type <class 'str'>
['Tu', '1/13/04', '11.0142', '10.742M', '10.192M']
spot of 11.0142 with type <class 'str'>
['Mo', '1/12/04', '11.2049', '9.895M', '10.414M']
spot of 11.2049 with type <class 'str'>
['Fr', '1/9/04', '10.9688', '13.86M', '10.453M']
spot of 10.9688 with type <class 'str'>
['Th', '1/8/04', '11.2094', '22.624M', '10.207M']
spot of 11.2094 with type <class 'str'>
['We', '1/7/04', '10.6056', '18.341M', '9.352M']
spot of 10.6056 with type <class 'str'>
['Tu', '1/6/04', '10.7917', '11.135M', '8.822M']
spot of 10.7917 with type <class 'str'>
['Mo', '1/5/04', '10.7463', '11.116M', '8.739M']
spot of 10.7463 with type <class 'str'>
['Fr', '1/2/04', '10.5148', '9.466M', '8.897M']
spot of 10.5148 with type <class 'str'>
['We', '12/31/03', '10.4285', '6.234M', '9.26M']
spot of 10.4285 with type <class 'str'>
['Tu', '12/30/03', '10.4104', '6.989M', '9.92M']
spot of 10.4104 with type <class 'str'>
['Mo', '12/29/03', '10.4104', '7.832M', '10.076M']
spot of 10.4104 with type <class 'str'>
['Fr', '12/26/03', '10.2605', '2.854M', '10.295M']
spot of 10.2605 with type <class 'str'>
['We', '12/24/03', '10.3059', '3.736M', '10.715M']
spot of 10.3059 with type <class 'str'>
['Tu', '12/23/03', '10.2878', '10.689M', '11.263M']
spot of 10.2878 with type <class 'str'>
['Mo', '12/22/03', '10.0789', '7.367M', '11.605M']
spot of 10.0789 with type <class 'str'>
['Fr', '12/19/03', '10.0699', '14.073M', '11.995M']
spot of 10.0699 with type <class 'str'>
['Th', '12/18/03', '10.0926', '10.484M', '11.463M']
spot of 10.0926 with type <class 'str'>
['We', '12/17/03', '9.97', '10.169M', '11.267M']
spot of 9.97 with type <class 'str'>
['Tu', '12/16/03', '10.0381', '9.795M', '11.498M']

spot of 10.0381 with type <class 'str'>
['Mo', '12/15/03', '9.9927', '10.386M', '11.578M']
spot of 9.9927 with type <class 'str'>
['Fr', '12/12/03', '10.1289', '9.898M', '11.899M']
spot of 10.1289 with type <class 'str'>
['Th', '12/11/03', '10.0789', '13.48M', '12.96M']
spot of 10.0789 with type <class 'str'>
['We', '12/10/03', '9.9881', '14.921M', '13.13M']
spot of 9.9881 with type <class 'str'>
['Tu', '12/9/03', '9.97', '16.128M', '12.74M']
spot of 9.97 with type <class 'str'>
['Mo', '12/8/03', '10.2061', '9.335M', '12.133M']
spot of 10.2061 with type <class 'str'>
['Fr', '12/5/03', '10.0381', '11.104M', '12.277M']
spot of 10.0381 with type <class 'str'>
['Th', '12/4/03', '10.2605', '9.168M', '12.17M']
spot of 10.2605 with type <class 'str'>
['We', '12/3/03', '10.1743', '11.955M', '12.145M']
spot of 10.1743 with type <class 'str'>
['Tu', '12/2/03', '10.1924', '15.81M', '11.982M']
spot of 10.1924 with type <class 'str'>
['Mo', '12/1/03', '9.9155', '13.226M', '11.931M']
spot of 9.9155 with type <class 'str'>
['Fr', '11/28/03', '9.8701', '6.093M', '11.788M']
spot of 9.8701 with type <class 'str'>
['We', '11/26/03', '9.9246', '7.536M', '12.124M']
spot of 9.9246 with type <class 'str'>
['Tu', '11/25/03', '9.8338', '13.631M', '12.409M']
spot of 9.8338 with type <class 'str'>
['Mo', '11/24/03', '9.9427', '11.002M', '12.435M']
spot of 9.9427 with type <class 'str'>
['Fr', '11/21/03', '9.6612', '15.204M', '12.498M']
spot of 9.6612 with type <class 'str'>
['Th', '11/20/03', '9.802', '25.807M', '12.149M']
spot of 9.802 with type <class 'str'>
['We', '11/19/03', '10.0835', '16.027M', '11.454M']
spot of 10.0835 with type <class 'str'>
['Tu', '11/18/03', '9.8292', '9.07M', '11.088M']
spot of 9.8292 with type <class 'str'>
['Mo', '11/17/03', '9.9881', '7.03M', '11.45M']
spot of 9.9881 with type <class 'str'>
['Fr', '11/14/03', '10.029', '11.495M', '11.71M']
spot of 10.029 with type <class 'str'>
['Th', '11/13/03', '10.147', '9.502M', '11.717M']
spot of 10.147 with type <class 'str'>
['We', '11/12/03', '10.1107', '8.787M', '11.583M']
spot of 10.1107 with type <class 'str'>
['Tu', '11/11/03', '10.0562', '9.509M', '11.515M']
spot of 10.0562 with type <class 'str'>
['Mo', '11/10/03', '9.9927', '15.053M', '11.734M']
spot of 9.9927 with type <class 'str'>
['Fr', '11/7/03', '10.4421', '11.079M', '11.367M']
spot of 10.4421 with type <class 'str'>
['Th', '11/6/03', '10.6601', '11.128M', '11.389M']
spot of 10.6601 with type <class 'str'>
['We', '11/5/03', '10.4875', '11.808M', '11.688M']
spot of 10.4875 with type <class 'str'>
['Tu', '11/4/03', '10.4331', '14.026M', '12.03M']
spot of 10.4331 with type <class 'str'>
['Mo', '11/3/03', '10.3059', '11.953M', '11.567M']
spot of 10.3059 with type <class 'str'>
['Fr', '10/31/03', '10.1289', '9.961M', '11.278M']
spot of 10.1289 with type <class 'str'>
['Th', '10/30/03', '10.0245', '15.379M', '11.221M']
spot of 10.0245 with type <class 'str'>
['We', '10/29/03', '9.9064', '10.547M', '11.692M']
spot of 9.9064 with type <class 'str'>
['Tu', '10/28/03', '9.8292', '14.49M', '12.017M']
spot of 9.8292 with type <class 'str'>
['Mo', '10/27/03', '9.5341', '10.934M', '11.763M']
spot of 9.5341 with type <class 'str'>
['Fr', '10/24/03', '9.2935', '11.596M', '11.427M']
spot of 9.2935 with type <class 'str'>
['Th', '10/23/03', '9.5341', '7.502M', '11.698M']
spot of 9.5341 with type <class 'str'>
['We', '10/22/03', '9.6612', '7.767M', '11.897M']
spot of 9.6612 with type <class 'str'>
['Tu', '10/21/03', '9.8565', '12.787M', '12.199M']
spot of 9.8565 with type <class 'str'>
['Mo', '10/20/03', '9.7475', '9.557M', '12.208M']
spot of 9.7475 with type <class 'str'>
['Fr', '10/17/03', '9.5114', '11.403M', '12.306M']
spot of 9.5114 with type <class 'str'>
['Th', '10/16/03', '9.6567', '15.608M', '12.494M']
spot of 9.6567 with type <class 'str'>
['We', '10/15/03', '9.9518', '16.941M', '12.535M']
spot of 9.9518 with type <class 'str'>
['Tu', '10/14/03', '9.7112', '7.076M', '12.604M']
spot of 9.7112 with type <class 'str'>
['Mo', '10/13/03', '9.6431', '7.626M', '12.785M']
spot of 9.6431 with type <class 'str'>
['Fr', '10/10/03', '9.5568', '9.109M', '13.061M']
spot of 9.5568 with type <class 'str'>
['Th', '10/9/03', '9.5523', '22.436M', '13.512M']
spot of 9.5523 with type <class 'str'>
['We', '10/8/03', '9.1936', '15.423M', '13.037M']
spot of 9.1936 with type <class 'str'>
['Tu', '10/7/03', '9.2436', '10.688M', '12.808M']
spot of 9.2436 with type <class 'str'>
['Mo', '10/6/03', '9.298', '5.882M', '12.902M']
spot of 9.298 with type <class 'str'>
['Fr', '10/3/03', '9.2163', '15.667M', '13.244M']
spot of 9.2163 with type <class 'str'>
['Th', '10/2/03', '8.8622', '10.481M', '12.612M']
spot of 8.8622 with type <class 'str'>
['We', '10/1/03', '8.8985', '12.309M', '12.704M']
spot of 8.8985 with type <class 'str'>
['Tu', '9/30/03', '8.7896', '12.916M', '12.564M']
spot of 8.7896 with type <class 'str'>
['Mo', '9/29/03', '8.9076', '11.019M', '12.427M']
spot of 8.9076 with type <class 'str'>
['Fr', '9/26/03', '8.8077', '14.228M', '12.437M']
spot of 8.8077 with type <class 'str'>
['Th', '9/25/03', '8.7442', '16.228M', '12.393M']
spot of 8.7442 with type <class 'str'>
['We', '9/24/03', '9.062', '17.976M', '11.857M']
spot of 9.062 with type <class 'str'>
['Tu', '9/23/03', '9.2617', '9.788M', '11.65M']
spot of 9.2617 with type <class 'str'>
['Mo', '9/22/03', '9.2163', '11.77M', '11.706M']
spot of 9.2163 with type <class 'str'>
['Fr', '9/19/03', '9.6022', '15.867M', '11.569M']
spot of 9.6022 with type <class 'str'>
['Th', '9/18/03', '9.5205', '15.319M', '11.07M']
spot of 9.5205 with type <class 'str'>
['We', '9/17/03', '9.2436', '11.98M', '10.585M']
spot of 9.2436 with type <class 'str'>
['Tu', '9/16/03', '9.2617', '12.102M', '10.485M']
spot of 9.2617 with type <class 'str'>
['Mo', '9/15/03', '9.0029', '11.007M', '10.36M']
spot of 9.0029 with type <class 'str'>
['Fr', '9/12/03', '9.1164', '6.191M', '10.863M']
spot of 9.1164 with type <class 'str'>
['Th', '9/11/03', '9.1618', '11.864M', '12.33M']
spot of 9.1618 with type <class 'str'>
['We', '9/10/03', '9.1074', '10.213M', '14.961M']
spot of 9.1074 with type <class 'str'>
['Tu', '9/9/03', '9.289', '10.848M', '15.09M']
spot of 9.289 with type <class 'str'>
['Mo', '9/8/03', '9.3071', '11.169M', '15.147M']
spot of 9.3071 with type <class 'str'>
['Fr', '9/5/03', '9.1845', '13.569M', '14.829M']
spot of 9.1845 with type <class 'str'>
['Th', '9/4/03', '9.4342', '8.193M', '14.461M']
spot of 9.4342 with type <class 'str'>
['We', '9/3/03', '9.3707', '14.873M', '14.596M']
spot of 9.3707 with type <class 'str'>
['Tu', '9/2/03', '9.1709', '10.623M', '14.466M']
spot of 9.1709 with type <class 'str'>
['Fr', '8/29/03', '9.0483', '9.724M', '14.303M']
spot of 9.0483 with type <class 'str'>
['Th', '8/28/03', '8.9757', '8.375M', '14.335M']
spot of 8.9757 with type <class 'str'>
['We', '8/27/03', '8.8622', '8.044M', '14.927M']
spot of 8.8622 with type <class 'str'>
['Tu', '8/26/03', '8.8894', '10.474M', '15.418M']
spot of 8.8894 with type <class 'str'>
['Mo', '8/25/03', '8.8077', '10.241M', '15.626M']
spot of 8.8077 with type <class 'str'>
['Fr', '8/22/03', '8.8304', '18.538M', '15.478M']
spot of 8.8304 with type <class 'str'>
['Th', '8/21/03', '9.0075', '28.2M', '14.876M']
spot of 9.0075 with type <class 'str'>
['We', '8/20/03', '8.9893', '51.328M', '13.768M']
spot of 8.9893 with type <class 'str'>
['Tu', '8/19/03', '10.0381', '12.153M', '10.984M']
spot of 10.0381 with type <class 'str'>
['Mo', '8/18/03', '10.0472', '11.694M', '10.847M']
spot of 10.0472 with type <class 'str'>
['Fr', '8/15/03', '9.7157', '6.411M', '10.647M']
spot of 9.7157 with type <class 'str'>
['Th', '8/14/03', '9.6022', '8.042M', '10.972M']
spot of 9.6022 with type <class 'str'>
['We', '8/13/03', '9.5568', '10.224M', '11.198M']
spot of 9.5568 with type <class 'str'>
['Tu', '8/12/03', '9.5114', '12.927M', '11.082M']
spot of 9.5114 with type <class 'str'>
['Mo', '8/11/03', '9.062', '8.172M', '10.988M']
spot of 9.062 with type <class 'str'>
['Fr', '8/8/03', '9.1164', '10.199M', '11.239M']
spot of 9.1164 with type <class 'str'>
['Th', '8/7/03', '8.7669', '17.262M', '11.449M']
spot of 8.7669 with type <class 'str'>
['We', '8/6/03', '9.0302', '15.403M', '10.972M']
spot of 9.0302 with type <class 'str'>
['Tu', '8/5/03', '9.0665', '13.589M', '10.62M']
spot of 9.0665 with type <class 'str'>
['Mo', '8/4/03', '9.4433', '8.024M', '10.578M']
spot of 9.4433 with type <class 'str'>
['Fr', '8/1/03', '9.5205', '9.51M', '11.079M']
spot of 9.5205 with type <class 'str'>
['Th', '7/31/03', '9.6113', '11.586M', '11.453M']
spot of 9.6113 with type <class 'str'>
['We', '7/30/03', '9.5432', '9.57M', '11.743M']
spot of 9.5432 with type <class 'str'>
['Tu', '7/29/03', '9.6567', '10.095M', '12.41M']
spot of 9.6567 with type <class 'str'>
['Mo', '7/28/03', '9.7066', '8.689M', '12.696M']
spot of 9.7066 with type <class 'str'>
['Fr', '7/25/03', '9.7157', '11.285M', '13.067M']
spot of 9.7157 with type <class 'str'>
['Th', '7/24/03', '9.5795', '11.431M', '12.669M']
spot of 9.5795 with type <class 'str'>
['We', '7/23/03', '10.0472', '8.49M', '12.779M']
spot of 10.0472 with type <class 'str'>
['Tu', '7/22/03', '9.9745', '11.517M', '12.957M']
spot of 9.9745 with type <class 'str'>
['Mo', '7/21/03', '9.9109', '11.938M', '13.903M']
spot of 9.9109 with type <class 'str'>
['Fr', '7/18/03', '10.2378', '13.344M', '13.816M']
spot of 10.2378 with type <class 'str'>
['Th', '7/17/03', '9.9019', '10.11M', '13.581M']
spot of 9.9019 with type <class 'str'>
['We', '7/16/03', '10.3059', '10.124M', '14.068M']
spot of 10.3059 with type <class 'str'>
['Tu', '7/15/03', '10.3967', '12.956M', '14.148M']
spot of 10.3967 with type <class 'str'>
['Mo', '7/14/03', '10.6782', '15.54M', '13.798M']
spot of 10.6782 with type <class 'str'>
['Fr', '7/11/03', '10.3786', '15.128M', '13.685M']
spot of 10.3786 with type <class 'str'>
['Th', '7/10/03', '10.0108', '15.935M', '13.292M']
spot of 10.0108 with type <class 'str'>
['We', '7/9/03', '10.4104', '19.564M', '12.999M']
spot of 10.4104 with type <class 'str'>
['Tu', '7/8/03', '10.0381', '14.392M', '12.386M']
spot of 10.0381 with type <class 'str'>
['Mo', '7/7/03', '10.0108', '14.247M', '11.964M']
spot of 10.0108 with type <class 'str'>
['Th', '7/3/03', '9.6703', '5.327M', '11.542M']
spot of 9.6703 with type <class 'str'>
['We', '7/2/03', '9.7884', '13.08M', '11.954M']
spot of 9.7884 with type <class 'str'>
['Tu', '7/1/03', '9.6158', '11.156M', '12.328M']
spot of 9.6158 with type <class 'str'>
['Mo', '6/30/03', '9.6703', '25.71M', '12.244M']
spot of 9.6703 with type <class 'str'>
['Fr', '6/27/03', '9.4842', '10.621M', '11.303M']
spot of 9.4842 with type <class 'str'>
['Th', '6/26/03', '9.6703', '9.824M', '12.067M']
spot of 9.6703 with type <class 'str'>
['We', '6/25/03', '9.4433', '17.412M', '12.792M']
spot of 9.4433 with type <class 'str'>
['Tu', '6/24/03', '9.5841', '11.321M', '13.19M']
spot of 9.5841 with type <class 'str'>
['Mo', '6/23/03', '9.7021', '7.714M', '13.422M']
spot of 9.7021 with type <class 'str'>
['Fr', '6/20/03', '9.8519', '13.838M', '14.32M']
spot of 9.8519 with type <class 'str'>
['Th', '6/19/03', '9.8065', '9.243M', '14.139M']
spot of 9.8065 with type <class 'str'>
['We', '6/18/03', '9.9745', '11.532M', '14.24M']
spot of 9.9745 with type <class 'str'>
['Tu', '6/17/03', '9.8247', '10.38M', '14.701M']
spot of 9.8247 with type <class 'str'>
['Mo', '6/16/03', '9.7066', '8.056M', '14.857M']
spot of 9.7066 with type <class 'str'>
['Fr', '6/13/03', '9.5296', '7.923M', '14.937M']
spot of 9.5296 with type <class 'str'>
['Th', '6/12/03', '9.6431', '11.493M', '15.818M']
spot of 9.6431 with type <class 'str'>
['We', '6/11/03', '9.6249', '18.699M', '17.321M']
spot of 9.6249 with type <class 'str'>
['Tu', '6/10/03', '9.8156', '9.894M', '17.11M']
spot of 9.8156 with type <class 'str'>
['Mo', '6/9/03', '9.7747', '11.602M', '17.412M']
spot of 9.7747 with type <class 'str'>
['Fr', '6/6/03', '10.0017', '22.072M', '17.765M']
spot of 10.0017 with type <class 'str'>
['Th', '6/5/03', '9.9427', '20.7M', '16.978M']
spot of 9.9427 with type <class 'str'>
['We', '6/4/03', '9.5523', '23.389M', '16.166M']
spot of 9.5523 with type <class 'str'>
['Tu', '6/3/03', '9.1119', '14.79M', '15.164M']
spot of 9.1119 with type <class 'str'>
['Mo', '6/2/03', '9.1028', '21.185M', '14.924M']
spot of 9.1028 with type <class 'str'>
['Fr', '5/30/03', '8.8531', '11.13M', '14.033M']
spot of 8.8531 with type <class 'str'>
['Th', '5/29/03', '8.6534', '10.757M', '13.841M']
spot of 8.6534 with type <class 'str'>
['We', '5/28/03', '8.7986', '18.45M', '13.722M']
spot of 8.7986 with type <class 'str'>
['Tu', '5/27/03', '8.4808', '12.723M', '13.424M']
spot of 8.4808 with type <class 'str'>
['Fr', '5/23/03', '8.3946', '9.252M', '13.277M']
spot of 8.3946 with type <class 'str'>
['Th', '5/22/03', '8.3809', '21.131M', '13.387M']
spot of 8.3809 with type <class 'str'>
['We', '5/21/03', '8.1449', '34.041M', '12.585M']
spot of 8.1449 with type <class 'str'>
['Tu', '5/20/03', '7.7408', '15.533M', '11.013M']
spot of 7.7408 with type <class 'str'>
['Mo', '5/19/03', '7.6636', '14.426M', '10.722M']
spot of 7.6636 with type <class 'str'>
['Fr', '5/16/03', '8.1494', '16.902M', '10.538M']
spot of 8.1494 with type <class 'str'>
['Th', '5/15/03', '8.0041', '10.262M', '10.241M']
spot of 8.0041 with type <class 'str'>
['We', '5/14/03', '7.9088', '8.524M', '10.346M']
spot of 7.9088 with type <class 'str'>
['Tu', '5/13/03', '7.8452', '8.362M', '10.701M']
spot of 7.8452 with type <class 'str'>
['Mo', '5/12/03', '7.9042', '11.178M', '11.06M']
spot of 7.9042 with type <class 'str'>
['Fr', '5/9/03', '7.8725', '7.818M', '10.872M']
spot of 7.8725 with type <class 'str'>
['Th', '5/8/03', '7.759', '8.256M', '11.405M']
spot of 7.759 with type <class 'str'>
['We', '5/7/03', '7.818', '8.98M', '11.679M']
spot of 7.818 with type <class 'str'>
['Tu', '5/6/03', '7.8679', '13.976M', '11.98M']
spot of 7.8679 with type <class 'str'>
['Mo', '5/5/03', '7.6273', '10.514M', '11.585M']
spot of 7.6273 with type <class 'str'>
['Fr', '5/2/03', '7.5592', '10.903M', '11.704M']
spot of 7.5592 with type <class 'str'>
['Th', '5/1/03', '7.4911', '9.105M', '11.562M']
spot of 7.4911 with type <class 'str'>
['We', '4/30/03', '7.4003', '10.454M', '11.768M']
spot of 7.4003 with type <class 'str'>
['Tu', '4/29/03', '7.4911', '11.176M', '11.763M']
spot of 7.4911 with type <class 'str'>
['Mo', '4/28/03', '7.314', '11.664M', '11.687M']
spot of 7.314 with type <class 'str'>
['Fr', '4/25/03', '7.196', '12.448M', '11.652M']
spot of 7.196 with type <class 'str'>
['Th', '4/24/03', '7.1733', '11.839M', '11.386M']
spot of 7.1733 with type <class 'str'>
['We', '4/23/03', '7.2959', '13.845M', '11.441M']
spot of 7.2959 with type <class 'str'>
['Tu', '4/22/03', '7.1869', '13.746M', '11.094M']
spot of 7.1869 with type <class 'str'>
['Mo', '4/21/03', '6.9917', '8.359M', '11.1M']
spot of 6.9917 with type <class 'str'>
['Th', '4/17/03', '6.9463', '15.813M', '11.017M']
spot of 6.9463 with type <class 'str'>
['We', '4/16/03', '7.078', '12.364M', '10.602M']
spot of 7.078 with type <class 'str'>
['Tu', '4/15/03', '7.0689', '13.487M', '10.408M']
spot of 7.0689 with type <class 'str'>
['Mo', '4/14/03', '7.2142', '8.064M', '10.639M']
spot of 7.2142 with type <class 'str'>
['Fr', '4/11/03', '6.9463', '12.289M', '10.748M']
spot of 6.9463 with type <class 'str'>
['Th', '4/10/03', '7.0689', '8.776M', '10.819M']
spot of 7.0689 with type <class 'str'>
['We', '4/9/03', '6.9735', '12.193M', '10.866M']
spot of 6.9735 with type <class 'str'>
['Tu', '4/8/03', '7.1506', '10.376M', '10.854M']
spot of 7.1506 with type <class 'str'>
['Mo', '4/7/03', '7.3594', '10.035M', '10.764M']
spot of 7.3594 with type <class 'str'>
['Fr', '4/4/03', '7.4048', '11.151M', '11.056M']
spot of 7.4048 with type <class 'str'>
['Th', '4/3/03', '7.4275', '8.454M', '11.416M']
spot of 7.4275 with type <class 'str'>
['We', '4/2/03', '7.2596', '12.663M', '13.529M']
spot of 7.2596 with type <class 'str'>
['Tu', '4/1/03', '7.0916', '8.643M', '13.253M']
spot of 7.0916 with type <class 'str'>
['Mo', '3/31/03', '7.0598', '13.827M', '13.112M']
spot of 7.0598 with type <class 'str'>
['Fr', '3/28/03', '7.3776', '7.117M', '12.693M']
spot of 7.3776 with type <class 'str'>
['Th', '3/27/03', '7.4639', '9.587M', '12.937M']
spot of 7.4639 with type <class 'str'>
['We', '3/26/03', '7.5274', '9.462M', '12.93M']
spot of 7.5274 with type <class 'str'>
['Tu', '3/25/03', '7.4956', '16.948M', '12.988M']
spot of 7.4956 with type <class 'str'>
['Mo', '3/24/03', '7.5138', '9.697M', '12.443M']
spot of 7.5138 with type <class 'str'>
['Fr', '3/21/03', '7.9496', '13.352M', '12.421M']
spot of 7.9496 with type <class 'str'>
['Th', '3/20/03', '7.7953', '9.487M', '12.313M']
spot of 7.7953 with type <class 'str'>
['We', '3/19/03', '7.6999', '12.016M', '13.548M']
spot of 7.6999 with type <class 'str'>
['Tu', '3/18/03', '7.6001', '9.025M', '16.476M']
spot of 7.6001 with type <class 'str'>
['Mo', '3/17/03', '7.4457', '14.416M', '16.696M']
spot of 7.4457 with type <class 'str'>
['Fr', '3/14/03', '7.1097', '16.546M', '16.295M']
spot of 7.1097 with type <class 'str'>
['Th', '3/13/03', '6.8101', '40.147M', '15.706M']
spot of 6.8101 with type <class 'str'>
['We', '3/12/03', '7.0689', '8.526M', '13.52M']
spot of 7.0689 with type <class 'str'>
['Tu', '3/11/03', '6.9962', '6.53M', '13.53M']
spot of 6.9962 with type <class 'str'>
['Mo', '3/10/03', '7.0326', '7.543M', '13.66M']
spot of 7.0326 with type <class 'str'>
['Fr', '3/7/03', '7.1733', '10.767M', '14.077M']
spot of 7.1733 with type <class 'str'>
['Th', '3/6/03', '7.0598', '9.495M', '13.931M']
spot of 7.0598 with type <class 'str'>
['We', '3/5/03', '7.0643', '10.321M', '13.866M']
spot of 7.0643 with type <class 'str'>

['Tu', '3/4/03', '7.0553', '8.78M', '13.816M']
spot of 7.0553 with type <class 'str'>
['Mo', '3/3/03', '7.2005', '9.359M', '13.891M']
spot of 7.2005 with type <class 'str'>
['Fr', '2/28/03', '7.196', '11.738M', '14.064M']
spot of 7.196 with type <class 'str'>
['Th', '2/27/03', '7.0553', '28.014M', '13.722M']
spot of 7.0553 with type <class 'str'>
['We', '2/26/03', '6.9781', '55.928M', '12.593M']
spot of 6.9781 with type <class 'str'>
['Tu', '2/25/03', '8.2538', '12.327M', '9.758M']
spot of 8.2538 with type <class 'str'>
['Mo', '2/24/03', '8.0586', '8.409M', '9.735M']
spot of 8.0586 with type <class 'str'>
['Fr', '2/21/03', '8.2493', '7.71M', '10.946M']
spot of 8.2493 with type <class 'str'>
['Th', '2/20/03', '8.1131', '7.348M', '11.128M']
spot of 8.1131 with type <class 'str'>
['We', '2/19/03', '8.0858', '8.676M', '11.305M']
spot of 8.0858 with type <class 'str'>
['Tu', '2/18/03', '8.3719', '8.489M', '11.263M']
spot of 8.3719 with type <class 'str'>
['Fr', '2/14/03', '8.0768', '13.788M', '11.449M']
spot of 8.0768 with type <class 'str'>
['Th', '2/13/03', '7.6954', '8.578M', '11.258M']
spot of 7.6954 with type <class 'str'>
['We', '2/12/03', '7.5456', '8.521M', '11.224M']
spot of 7.5456 with type <class 'str'>
['Tu', '2/11/03', '7.65', '9.578M', '11.255M']
spot of 7.65 with type <class 'str'>
['Mo', '2/10/03', '7.5547', '9.902M', '11.137M']
spot of 7.5547 with type <class 'str'>
['Fr', '2/7/03', '7.482', '11.95M', '11.182M']
spot of 7.482 with type <class 'str'>
['Th', '2/6/03', '7.7317', '6.617M', '10.889M']
spot of 7.7317 with type <class 'str'>
['We', '2/5/03', '7.768', '11.068M', '10.946M']
spot of 7.768 with type <class 'str'>
['Tu', '2/4/03', '7.9451', '13.409M', '10.877M']
spot of 7.9451 with type <class 'str'>
['Mo', '2/3/03', '7.936', '11.982M', '11.04M']
spot of 7.936 with type <class 'str'>
['Fr', '1/31/03', '7.9042', '26.57M', '11.365M']
spot of 7.9042 with type <class 'str'>
['Th', '1/30/03', '8.2629', '10.452M', '10.756M']
spot of 8.2629 with type <class 'str'>
['We', '1/29/03', '8.7578', '10.001M', '11.087M']
spot of 8.7578 with type <class 'str'>
['Tu', '1/28/03', '8.5262', '8.04M', '11.462M']
spot of 8.5262 with type <class 'str'>
['Mo', '1/27/03', '8.3401', '11.284M', '11.717M']
spot of 8.3401 with type <class 'str'>
['Fr', '1/24/03', '8.5126', '10.913M', '11.378M']
spot of 8.5126 with type <class 'str'>
['Th', '1/23/03', '8.8985', '8.076M', '11.347M']
spot of 8.8985 with type <class 'str'>
['We', '1/22/03', '8.6034', '8.991M', '11.237M']
spot of 8.6034 with type <class 'str'>
['Tu', '1/21/03', '8.5943', '7.806M', '11.308M']
spot of 8.5943 with type <class 'str'>
['Fr', '1/17/03', '8.7305', '10.574M', '11.172M']
spot of 8.7305 with type <class 'str'>
['Th', '1/16/03', '9.0756', '7.557M', '10.865M']
spot of 9.0756 with type <class 'str'>
['We', '1/15/03', '9.1936', '7.469M', '10.624M']
spot of 9.1936 with type <class 'str'>
['Tu', '1/14/03', '9.3525', '10.024M', '10.824M']
spot of 9.3525 with type <class 'str'>
['Mo', '1/13/03', '9.2436', '15.865M', '11.437M']
spot of 9.2436 with type <class 'str'>
['Fr', '1/10/03', '9.466', '16.851M', '11.17M']
spot of 9.466 with type <class 'str'>
['Th', '1/9/03', '9.298', '17.432M', '10.954M']
spot of 9.298 with type <class 'str'>
['We', '1/8/03', '8.8531', '15.425M', '10.815M']
spot of 8.8531 with type <class 'str'>
['Tu', '1/7/03', '9.0574', '15.624M', '10.38M']
spot of 9.0574 with type <class 'str'>
['Mo', '1/6/03', '8.9212', '11.862M', '9.875M']
spot of 8.9212 with type <class 'str'>
['Fr', '1/3/03', '8.4309', '6.199M', '9.782M']
spot of 8.4309 with type <class 'str'>
['Th', '1/2/03', '8.2629', '10.457M', '10.125M']
spot of 8.2629 with type <class 'str'>
['Tu', '12/31/02', '7.8815', '6.419M', '9.956M']
spot of 7.8815 with type <class 'str'>
['Mo', '12/30/02', '7.9179', '10.061M', '10.08M']
spot of 7.9179 with type <class 'str'>
['Fr', '12/27/02', '8.1449', '5.765M', '10.148M']
spot of 8.1449 with type <class 'str'>
['Th', '12/26/02', '8.3038', '5.961M', '10.254M']
spot of 8.3038 with type <class 'str'>
['Tu', '12/24/02', '8.3628', '3.95M', '11.077M']
spot of 8.3628 with type <class 'str'>
['Mo', '12/23/02', '8.4808', '10.472M', '11.604M']
spot of 8.4808 with type <class 'str'>
['Fr', '12/20/02', '8.5853', '19.214M', '12.072M']
spot of 8.5853 with type <class 'str'>
['Th', '12/19/02', '8.6034', '11.864M', '11.178M']
spot of 8.6034 with type <class 'str'>
['We', '12/18/02', '8.558', '13.604M', '11.471M']
spot of 8.558 with type <class 'str'>
['Tu', '12/17/02', '8.6216', '15.342M', '11.868M']
spot of 8.6216 with type <class 'str'>
['Mo', '12/16/02', '8.6034', '8.911M', '11.716M']
spot of 8.6034 with type <class 'str'>
['Fr', '12/13/02', '8.4354', '8.04M', '12.315M']
spot of 8.4354 with type <class 'str'>
['Th', '12/12/02', '8.5172', '10.48M', '15.348M']
spot of 8.5172 with type <class 'str'>
['We', '12/11/02', '8.2765', '11.334M', '16.047M']
spot of 8.2765 with type <class 'str'>
['Tu', '12/10/02', '8.4808', '7.931M', '15.786M']
spot of 8.4808 with type <class 'str'>
['Mo', '12/9/02', '8.1857', '8.267M', '15.932M']
spot of 8.1857 with type <class 'str'>
['Fr', '12/6/02', '8.5489', '11.083M', '16.379M']
spot of 8.5489 with type <class 'str'>
['Th', '12/5/02', '8.2901', '7.353M', '16.626M']
spot of 8.2901 with type <class 'str'>
['We', '12/4/02', '8.3401', '18.312M', '17.296M']
spot of 8.3401 with type <class 'str'>
['Tu', '12/3/02', '8.7305', '11.847M', '17.509M']
spot of 8.7305 with type <class 'str'>
['Mo', '12/2/02', '9.0029', '17.501M', '19.228M']
spot of 9.0029 with type <class 'str'>
['Fr', '11/29/02', '8.844', '5.805M', '18.85M']
spot of 8.844 with type <class 'str'>
['We', '11/27/02', '8.894', '16.256M', '19.244M']
spot of 8.894 with type <class 'str'>
['Tu', '11/26/02', '8.5126', '19.555M', '19.06M']
spot of 8.5126 with type <class 'str'>
['Mo', '11/25/02', '8.7578', '13.064M', '18.864M']
spot of 8.7578 with type <class 'str'>
['Fr', '11/22/02', '8.6942', '17.898M', '19.387M']
spot of 8.6942 with type <class 'str'>
['Th', '11/21/02', '8.6216', '53.536M', '18.888M']
spot of 8.6216 with type <class 'str'>
['We', '11/20/02', '7.65', '20.961M', '16.397M']
spot of 7.65 with type <class 'str'>
['Tu', '11/19/02', '7.5138', '7.417M', '15.841M']
spot of 7.5138 with type <class 'str'>
['Mo', '11/18/02', '7.6545', '10.122M', '16.095M']
spot of 7.6545 with type <class 'str'>
['Fr', '11/15/02', '7.6727', '14.973M', '16.802M']
spot of 7.6727 with type <class 'str'>
['Th', '11/14/02', '7.6727', '14.787M', '16.303M']
spot of 7.6727 with type <class 'str'>
['We', '11/13/02', '7.314', '17.41M', '15.874M']
spot of 7.314 with type <class 'str'>
['Tu', '11/12/02', '7.0371', '21.499M', '15.281M']
spot of 7.0371 with type <class 'str'>
['Mo', '11/11/02', '6.742', '37.644M', '14.422M']
spot of 6.742 with type <class 'str'>
['Fr', '11/8/02', '7.5728', '11.827M', '12.483M']
spot of 7.5728 with type <class 'str'>
['Th', '11/7/02', '7.591', '11.706M', '12.304M']
spot of 7.591 with type <class 'str'>
['We', '11/6/02', '7.9496', '13.495M', '12.196M']
spot of 7.9496 with type <class 'str'>
['Tu', '11/5/02', '7.7817', '16.622M', '11.859M']
spot of 7.7817 with type <class 'str'>
['Mo', '11/4/02', '8.0359', '20.911M', '11.852M']
spot of 8.0359 with type <class 'str'>
['Fr', '11/1/02', '7.4048', '10.413M', '10.916M']
spot of 7.4048 with type <class 'str'>
['Th', '10/31/02', '7.1733', '16.173M', '11.063M']
spot of 7.1733 with type <class 'str'>
['We', '10/30/02', '7.1052', '12.621M', '10.929M']
spot of 7.1052 with type <class 'str'>
['Tu', '10/29/02', '6.8101', '11.215M', '10.989M']
spot of 6.8101 with type <class 'str'>
['Mo', '10/28/02', '6.9327', '20.731M', '10.939M']
spot of 6.9327 with type <class 'str'>
['Fr', '10/25/02', '6.6376', '7.497M', '10.139M']
spot of 6.6376 with type <class 'str'>
['Th', '10/24/02', '6.2653', '8.352M', '10.306M']
spot of 6.2653 with type <class 'str'>
['We', '10/23/02', '6.5331', '8.503M', '10.245M']
spot of 6.5331 with type <class 'str'>
['Tu', '10/22/02', '6.3016', '8.628M', '10.217M']
spot of 6.3016 with type <class 'str'>
['Mo', '10/21/02', '6.347', '8.553M', '10.262M']
spot of 6.347 with type <class 'str'>
['Fr', '10/18/02', '5.9429', '9.143M', '10.325M']
spot of 5.9429 with type <class 'str'>
['Th', '10/17/02', '5.9021', '10.084M', '10.2M']
spot of 5.9021 with type <class 'str'>
['We', '10/16/02', '5.8748', '8.441M', '10.395M']
spot of 5.8748 with type <class 'str'>
['Tu', '10/15/02', '6.1291', '16.521M', '10.642M']
spot of 6.1291 with type <class 'str'>
['Mo', '10/14/02', '5.548', '6.868M', '10.238M']
spot of 5.548 with type <class 'str'>
['Fr', '10/11/02', '5.4572', '12.621M', '10.388M']
spot of 5.4572 with type <class 'str'>
['Th', '10/10/02', '5.3618', '14.156M', '10.691M']
spot of 5.3618 with type <class 'str'>
['We', '10/9/02', '5.0667', '13.517M', '10.301M']
spot of 5.0667 with type <class 'str'>
['Tu', '10/8/02', '5.2392', '10.468M', '9.848M']
spot of 5.2392 with type <class 'str'>
['Mo', '10/7/02', '5.2438', '8.735M', '9.565M']
spot of 5.2438 with type <class 'str'>
['Fr', '10/4/02', '5.1984', '9.999M', '9.551M']
spot of 5.1984 with type <class 'str'>
['Th', '10/3/02', '5.4345', '7.433M', '9.303M']
spot of 5.4345 with type <class 'str'>
['We', '10/2/02', '5.4027', '8.087M', '9.313M']
spot of 5.4027 with type <class 'str'>
['Tu', '10/1/02', '5.6433', '9.307M', '9.187M']
spot of 5.6433 with type <class 'str'>
['Mo', '9/30/02', '5.2982', '9.497M', '9.115M']
spot of 5.2982 with type <class 'str'>
['Fr', '9/27/02', '5.4617', '7.268M', '8.967M']
spot of 5.4617 with type <class 'str'>
['Th', '9/26/02', '5.4799', '13.001M', '9.126M']
spot of 5.4799 with type <class 'str'>
['We', '9/25/02', '5.8294', '12.158M', '8.714M']
spot of 5.8294 with type <class 'str'>
['Tu', '9/24/02', '5.5797', '10.449M', '8.592M']
spot of 5.5797 with type <class 'str'>
['Mo', '9/23/02', '5.8476', '9.121M', '8.521M']
spot of 5.8476 with type <class 'str'>
['Fr', '9/20/02', '5.8748', '17.163M', '8.606M']
spot of 5.8748 with type <class 'str'>
['Th', '9/19/02', '5.834', '8.311M', '8.213M']
spot of 5.834 with type <class 'str'>
['We', '9/18/02', '6.0791', '6.727M', '8.39M']
spot of 6.0791 with type <class 'str'>
['Tu', '9/17/02', '6.061', '6.226M', '8.519M']
spot of 6.061 with type <class 'str'>
['Mo', '9/16/02', '6.1972', '8.52M', '8.541M']
spot of 6.1972 with type <class 'str'>
['Fr', '9/13/02', '6.1291', '6.285M', '8.449M']
spot of 6.1291 with type <class 'str'>
['Th', '9/12/02', '6.1745', '7.582M', '8.566M']
spot of 6.1745 with type <class 'str'>
['We', '9/11/02', '6.5195', '6.194M', '8.556M']
spot of 6.5195 with type <class 'str'>
['Tu', '9/10/02', '6.4287', '8.221M', '8.642M']
spot of 6.4287 with type <class 'str'>
['Mo', '9/9/02', '6.1291', '7.284M', '8.685M']
spot of 6.1291 with type <class 'str'>
['Fr', '9/6/02', '6.1291', '9.655M', '8.716M']
spot of 6.1291 with type <class 'str'>
['Th', '9/5/02', '5.834', '6.811M', '8.866M']
spot of 5.834 with type <class 'str'>
['We', '9/4/02', '5.9384', '10.328M', '8.956M']
spot of 5.9384 with type <class 'str'>
['Tu', '9/3/02', '5.6978', '9.395M', '8.778M']
spot of 5.6978 with type <class 'str'>
['Fr', '8/30/02', '6.0973', '10.385M', '8.532M']
spot of 6.0973 with type <class 'str'>
['Th', '8/29/02', '6.2789', '11.273M', '8.262M']
spot of 6.2789 with type <class 'str'>
['We', '8/28/02', '6.4787', '10.972M', '8.206M']
spot of 6.4787 with type <class 'str'>
['Tu', '8/27/02', '6.4514', '8.657M', '8.169M']
spot of 6.4514 with type <class 'str'>
['Mo', '8/26/02', '6.742', '6.552M', '8.099M']
spot of 6.742 with type <class 'str'>
['Fr', '8/23/02', '6.6739', '7.147M', '8.385M']
spot of 6.6739 with type <class 'str'>
['Th', '8/22/02', '6.9463', '8.031M', '8.626M']
spot of 6.9463 with type <class 'str'>
['We', '8/21/02', '6.6739', '7.438M', '9.014M']
spot of 6.6739 with type <class 'str'>
['Tu', '8/20/02', '6.5876', '7.476M', '9.334M']
spot of 6.5876 with type <class 'str'>
['Mo', '8/19/02', '6.8101', '8.868M', '9.811M']
spot of 6.8101 with type <class 'str'>
['Fr', '8/16/02', '6.8373', '7.751M', '9.975M']
spot of 6.8373 with type <class 'str'>
['Th', '8/15/02', '6.8101', '11.902M', '10.388M']
spot of 6.8101 with type <class 'str'>
['We', '8/14/02', '6.6421', '8.172M', '10.44M']
spot of 6.6421 with type <class 'str'>
['Tu', '8/13/02', '6.002', '7.651M', '11.183M']
spot of 6.002 with type <class 'str'>
['Mo', '8/12/02', '6.0428', '5.709M', '11.698M']
spot of 6.0428 with type <class 'str'>
['Fr', '8/9/02', '6.0882', '6.332M', '12.289M']
spot of 6.0882 with type <class 'str'>
['Th', '8/8/02', '6.1518', '10.438M', '12.706M']
spot of 6.1518 with type <class 'str'>
['We', '8/7/02', '5.8658', '10.418M', '12.728M']
spot of 5.8658 with type <class 'str'>
['Tu', '8/6/02', '5.7432', '7.607M', '12.971M']
spot of 5.7432 with type <class 'str'>
['Mo', '8/5/02', '5.4935', '10.83M', '13.321M']
spot of 5.4935 with type <class 'str'>
['Fr', '8/2/02', '5.8113', '10.772M', '13.531M']
spot of 5.8113 with type <class 'str'>
['Th', '8/1/02', '6.2153', '13.844M', '13.351M']
spot of 6.2153 with type <class 'str'>
['We', '7/31/02', '6.4242', '12.236M', '13.174M']
spot of 6.4242 with type <class 'str'>
['Tu', '7/30/02', '6.2925', '14.642M', '12.948M']
spot of 6.2925 with type <class 'str'>
['Mo', '7/29/02', '5.893', '11.326M', '12.575M']
spot of 5.893 with type <class 'str'>
['Fr', '7/26/02', '5.2937', '13.94M', '12.651M']
spot of 5.2937 with type <class 'str'>
['Th', '7/25/02', '5.3573', '12.686M', '12.217M']
spot of 5.3573 with type <class 'str'>
['We', '7/24/02', '5.4481', '19.309M', '11.989M']
spot of 5.4481 with type <class 'str'>
['Tu', '7/23/02', '5.2301', '15.381M', '11.472M']
spot of 5.2301 with type <class 'str'>
['Mo', '7/22/02', '5.4481', '14.574M', '11.082M']
spot of 5.4481 with type <class 'str'>
['Fr', '7/19/02', '5.8113', '12.587M', '11.086M']
spot of 5.8113 with type <class 'str'>
['Th', '7/18/02', '6.061', '10.77M', '11.132M']
spot of 6.061 with type <class 'str'>
['We', '7/17/02', '6.1609', '14.057M', '11.393M']
spot of 6.1609 with type <class 'str'>
['Tu', '7/16/02', '6.4741', '12.868M', '11.352M']
spot of 6.4741 with type <class 'str'>
['Mo', '7/15/02', '6.8101', '13.974M', '11.314M']
spot of 6.8101 with type <class 'str'>
['Fr', '7/12/02', '6.9327', '8.072M', '11.117M']
spot of 6.9327 with type <class 'str'>
['Th', '7/11/02', '6.9145', '11.191M', '11.038M']
spot of 6.9145 with type <class 'str'>
['We', '7/10/02', '6.9236', '8.842M', '10.924M']
spot of 6.9236 with type <class 'str'>
['Tu', '7/9/02', '7.1824', '9.051M', '10.802M']
spot of 7.1824 with type <class 'str'>
['Mo', '7/8/02', '7.2732', '12.464M', '10.651M']
spot of 7.2732 with type <class 'str'>
['Fr', '7/5/02', '7.4003', '7.427M', '10.482M']
spot of 7.4003 with type <class 'str'>
['We', '7/3/02', '6.91', '9.272M', '10.48M']
spot of 6.91 with type <class 'str'>
['Tu', '7/2/02', '6.6376', '11.555M', '10.437M']
spot of 6.6376 with type <class 'str'>
['Mo', '7/1/02', '6.8555', '9.521M', '10.227M']
spot of 6.8555 with type <class 'str'>
['Fr', '6/28/02', '6.9372', '14.642M', '10.052M']
spot of 6.9372 with type <class 'str'>
['Th', '6/27/02', '6.8918', '13.272M', '9.97M']
spot of 6.8918 with type <class 'str'>
['We', '6/26/02', '6.7284', '14.682M', '9.751M']
spot of 6.7284 with type <class 'str'>
['Tu', '6/25/02', '6.8055', '13.45M', '9.443M']
spot of 6.8055 with type <class 'str'>
['Mo', '6/24/02', '7.2187', '12.29M', '9.477M']
spot of 7.2187 with type <class 'str'>
['Fr', '6/21/02', '7.4729', '11.027M', '9.354M']
spot of 7.4729 with type <class 'str'>
['Th', '6/20/02', '7.5592', '6.88M', '9.37M']
spot of 7.5592 with type <class 'str'>
['We', '6/19/02', '7.6954', '9.486M', '9.662M']
spot of 7.6954 with type <class 'str'>
['Tu', '6/18/02', '8.1131', '7.008M', '9.497M']
spot of 8.1131 with type <class 'str'>
['Mo', '6/17/02', '8.0541', '6.783M', '9.581M']
spot of 8.0541 with type <class 'str'>
['Fr', '6/14/02', '7.877', '9.927M', '9.675M']
spot of 7.877 with type <class 'str'>
['Th', '6/13/02', '7.9451', '7.405M', '9.737M']
spot of 7.9451 with type <class 'str'>
['We', '6/12/02', '8.1539', '8.629M', '9.845M']
spot of 8.1539 with type <class 'str'>
['Tu', '6/11/02', '8.331', '8.407M', '9.869M']
spot of 8.331 with type <class 'str'>
['Mo', '6/10/02', '8.3038', '6.892M', '9.978M']
spot of 8.3038 with type <class 'str'>
['Fr', '6/7/02', '8.4854', '13.417M', '10.327M']
spot of 8.4854 with type <class 'str'>
['Th', '6/6/02', '8.331', '9.978M', '10.341M']
spot of 8.331 with type <class 'str'>
['We', '6/5/02', '8.5308', '10.068M', '11.168M']
spot of 8.5308 with type <class 'str'>
['Tu', '6/4/02', '8.6125', '13.954M', '11.654M']
spot of 8.6125 with type <class 'str'>
['Mo', '6/3/02', '8.558', '10.447M', '11.858M']
spot of 8.558 with type <class 'str'>
['Fr', '5/31/02', '8.667', '11.265M', '12.115M']
spot of 8.667 with type <class 'str'>
['Th', '5/30/02', '8.7169', '11.269M', '12.774M']
spot of 8.7169 with type <class 'str'>
['We', '5/29/02', '8.4309', '7.001M', '13.673M']
spot of 8.4309 with type <class 'str'>
['Tu', '5/28/02', '8.4899', '8.268M', '15.049M']
spot of 8.4899 with type <class 'str'>
['Fr', '5/24/02', '8.4854', '8.192M', '15.783M']
spot of 8.4854 with type <class 'str'>
['Th', '5/23/02', '8.7623', '10.869M', '16.544M']
spot of 8.7623 with type <class 'str'>
['We', '5/22/02', '8.7351', '9.019M', '16.853M']
spot of 8.7351 with type <class 'str'>
['Tu', '5/21/02', '8.6261', '8.996M', '17.552M']
spot of 8.6261 with type <class 'str'>
['Mo', '5/20/02', '8.8486', '10.034M', '17.774M']
spot of 8.8486 with type <class 'str'>
['Fr', '5/17/02', '8.9348', '12.125M', '17.646M']
spot of 8.9348 with type <class 'str'>

['Th', '5/16/02', '8.8985', '13.626M', '17.576M']
spot of 8.8985 with type <class 'str'>
['We', '5/15/02', '8.785', '22.382M', '17.891M']
spot of 8.785 with type <class 'str'>
['Tu', '5/14/02', '9.3071', '17.361M', '17.338M']
spot of 9.3071 with type <class 'str'>
['Mo', '5/13/02', '9.071', '17.008M', '17.206M']
spot of 9.071 with type <class 'str'>
['Fr', '5/10/02', '8.7442', '14.305M', '16.604M']
spot of 8.7442 with type <class 'str'>
['Th', '5/9/02', '9.0847', '21.161M', '16.311M']
spot of 9.0847 with type <class 'str'>
['We', '5/8/02', '9.0801', '24.746M', '15.92M']
spot of 9.0801 with type <class 'str'>
['Tu', '5/7/02', '8.3582', '27.637M', '14.913M']
spot of 8.3582 with type <class 'str'>
['Mo', '5/6/02', '8.272', '19.291M', '13.687M']
spot of 8.272 with type <class 'str'>
['Fr', '5/3/02', '7.9179', '19.606M', '12.973M']
spot of 7.9179 with type <class 'str'>
['Th', '5/2/02', '7.759', '15.497M', '12.287M']
spot of 7.759 with type <class 'str'>
['We', '5/1/02', '7.6545', '19.51M', '12.319M']
spot of 7.6545 with type <class 'str'>
['Tu', '4/30/02', '7.7635', '12.32M', '11.988M']
spot of 7.7635 with type <class 'str'>
['Mo', '4/29/02', '7.7045', '8.108M', '12.533M']
spot of 7.7045 with type <class 'str'>
['Fr', '4/26/02', '7.6999', '11.084M', '12.884M']
spot of 7.6999 with type <class 'str'>
['Th', '4/25/02', '7.8906', '18.349M', '12.744M']
spot of 7.8906 with type <class 'str'>
['We', '4/24/02', '7.8134', '14.088M', '12.281M']
spot of 7.8134 with type <class 'str'>
['Tu', '4/23/02', '8.1903', '15.384M', '12.02M']
spot of 8.1903 with type <class 'str'>
['Mo', '4/22/02', '8.2947', '7.974M', '11.67M']
spot of 8.2947 with type <class 'str'>
['Fr', '4/19/02', '8.4854', '9.911M', '11.874M']
spot of 8.4854 with type <class 'str'>
['Th', '4/18/02', '8.2629', '15.295M', '12.517M']
spot of 8.2629 with type <class 'str'>
['We', '4/17/02', '8.4672', '9.645M', '12.092M']
spot of 8.4672 with type <class 'str'>
['Tu', '4/16/02', '8.4445', '9.246M', '12.043M']
spot of 8.4445 with type <class 'str'>
['Mo', '4/15/02', '8.1176', '8.581M', '12.319M']
spot of 8.1176 with type <class 'str'>
['Fr', '4/12/02', '8.0813', '9.32M', '13.059M']
spot of 8.0813 with type <class 'str'>
['Th', '4/11/02', '8.1267', '15.966M', '13.416M']
spot of 8.1267 with type <class 'str'>
['We', '4/10/02', '8.045', '14.557M', '13.865M']
spot of 8.045 with type <class 'str'>
['Tu', '4/9/02', '7.9042', '20.483M', '15.235M']
spot of 7.9042 with type <class 'str'>
['Mo', '4/8/02', '7.7726', '13.371M', '15.192M']
spot of 7.7726 with type <class 'str'>
['Fr', '4/5/02', '7.7136', '8.996M', '15.397M']
spot of 7.7136 with type <class 'str'>
['Th', '4/4/02', '7.8316', '11.402M', '15.67M']
spot of 7.8316 with type <class 'str'>
['We', '4/3/02', '7.8861', '10.164M', '16.094M']
spot of 7.8861 with type <class 'str'>
['Tu', '4/2/02', '7.9224', '10.138M', '16.241M']
spot of 7.9224 with type <class 'str'>
['Mo', '4/1/02', '8.1267', '11.037M', '16.316M']
spot of 8.1267 with type <class 'str'>
['Th', '3/28/02', '8.1449', '19.546M', '16.863M']
spot of 8.1449 with type <class 'str'>
['We', '3/27/02', '8.0677', '8.92M', '16.665M']
spot of 8.0677 with type <class 'str'>
['Tu', '3/26/02', '8.2084', '8.92M', '17.142M']
spot of 8.2084 with type <class 'str'>
['Mo', '3/25/02', '8.2266', '13.377M', '17.448M']
spot of 8.2266 with type <class 'str'>
['Fr', '3/22/02', '8.2402', '19.683M', '17.237M']
spot of 8.2402 with type <class 'str'>
['Th', '3/21/02', '8.3991', '14.68M', '16.378M']
spot of 8.3991 with type <class 'str'>
['We', '3/20/02', '8.2629', '22.705M', '15.914M']
spot of 8.2629 with type <class 'str'>
['Tu', '3/19/02', '8.5353', '35.108M', '14.799M']
spot of 8.5353 with type <class 'str'>
['Mo', '3/18/02', '8.7396', '19.829M', '13.113M']
spot of 8.7396 with type <class 'str'>
['Fr', '3/15/02', '8.6488', '16.443M', '12.297M']
spot of 8.6488 with type <class 'str'>
['Th', '3/14/02', '8.8077', '13.1M', '11.598M']
spot of 8.8077 with type <class 'str'>
['We', '3/13/02', '9.1301', '17.753M', '11.109M']
spot of 9.1301 with type <class 'str'>
['Tu', '3/12/02', '9.3344', '12.372M', '10.282M']
spot of 9.3344 with type <class 'str'>
['Mo', '3/11/02', '9.525', '11.266M', '9.917M']
spot of 9.525 with type <class 'str'>
['Fr', '3/8/02', '9.348', '19.249M', '9.795M']
spot of 9.348 with type <class 'str'>
['Th', '3/7/02', '9.0801', '16.572M', '9.153M']
spot of 9.0801 with type <class 'str'>
['We', '3/6/02', '9.1618', '16.075M', '8.492M']
spot of 9.1618 with type <class 'str'>
['Tu', '3/5/02', '9.3525', '13.512M', '7.86M']
spot of 9.3525 with type <class 'str'>
['Mo', '3/4/02', '9.3298', '10.216M', '7.315M']
spot of 9.3298 with type <class 'str'>
['Fr', '3/1/02', '9.1755', '6.793M', '7.281M']
spot of 9.1755 with type <class 'str'>
['Th', '2/28/02', '9.1346', '7.713M', '7.239M']
spot of 9.1346 with type <class 'str'>
['We', '2/27/02', '9.0937', '5.978M', '7.441M']
spot of 9.0937 with type <class 'str'>
['Tu', '2/26/02', '9.0847', '9.825M', '7.478M']
spot of 9.0847 with type <class 'str'>
['Mo', '2/25/02', '9.071', '7.582M', '7.599M']
spot of 9.071 with type <class 'str'>
['Fr', '2/22/02', '8.7578', '5.966M', '7.66M']
spot of 8.7578 with type <class 'str'>
['Th', '2/21/02', '8.835', '5.767M', '7.809M']
spot of 8.835 with type <class 'str'>
['We', '2/20/02', '8.9984', '5.34M', '7.958M']
spot of 8.9984 with type <class 'str'>
['Tu', '2/19/02', '8.9712', '6.907M', '8.107M']
spot of 8.9712 with type <class 'str'>
['Fr', '2/15/02', '9.2436', '9.426M', '7.93M']
spot of 9.2436 with type <class 'str'>
['Th', '2/14/02', '9.4796', '9.618M', '7.683M']
spot of 9.4796 with type <class 'str'>
['We', '2/13/02', '9.525', '6.669M', '7.578M']
spot of 9.525 with type <class 'str'>
['Tu', '2/12/02', '9.4297', '6.591M', '7.593M']
spot of 9.4297 with type <class 'str'>
['Mo', '2/11/02', '9.466', '5.33M', '7.523M']
spot of 9.466 with type <class 'str'>
['Fr', '2/8/02', '9.2617', '9.713M', '7.598M']
spot of 9.2617 with type <class 'str'>
['Th', '2/7/02', '9.4433', '6.156M', '7.579M']
spot of 9.4433 with type <class 'str'>
['We', '2/6/02', '9.466', '10.752M', '7.682M']
spot of 9.466 with type <class 'str'>
['Tu', '2/5/02', '9.7112', '6.532M', '7.503M']
spot of 9.7112 with type <class 'str'>
['Mo', '2/4/02', '10.0063', '11.63M', '7.464M']
spot of 10.0063 with type <class 'str'>
['Fr', '2/1/02', '9.9881', '8.506M', '7.044M']
spot of 9.9881 with type <class 'str'>
['Th', '1/31/02', '10.0381', '8.202M', '6.776M']
spot of 10.0381 with type <class 'str'>
['We', '1/30/02', '9.97', '8.003M', '7.054M']
spot of 9.97 with type <class 'str'>
['Tu', '1/29/02', '9.5069', '7.576M', '6.821M']
spot of 9.5069 with type <class 'str'>
['Mo', '1/28/02', '10.0199', '4.251M', '6.79M']
spot of 10.0199 with type <class 'str'>
['Fr', '1/25/02', '10.2015', '5.711M', '6.968M']
spot of 10.2015 with type <class 'str'>
['Th', '1/24/02', '10.2742', '8.047M', '7.296M']
spot of 10.2742 with type <class 'str'>
['We', '1/23/02', '10.0608', '6.887M', '7.171M']
spot of 10.0608 with type <class 'str'>
['Tu', '1/22/02', '9.9019', '5.549M', '7.084M']
spot of 9.9019 with type <class 'str'>
['Fr', '1/18/02', '10.2651', '6.459M', '7.073M']
spot of 10.2651 with type <class 'str'>
['Th', '1/17/02', '10.6828', '9.419M', '6.925M']
spot of 10.6828 with type <class 'str'>
['We', '1/16/02', '10.1788', '7.71M', '6.612M']
spot of 10.1788 with type <class 'str'>
['Tu', '1/15/02', '10.4785', '8.067M', '6.286M']
spot of 10.4785 with type <class 'str'>
['Mo', '1/14/02', '10.2242', '5.942M', '6.429M']
spot of 10.2242 with type <class 'str'>
['Fr', '1/11/02', '10.3877', '5.323M', '6.607M']
spot of 10.3877 with type <class 'str'>
['Th', '1/10/02', '10.592', '4.496M', '6.746M']
spot of 10.592 with type <class 'str'>
['We', '1/9/02', '10.651', '12.37M', '7.094M']
spot of 10.651 with type <class 'str'>
['Tu', '1/8/02', '10.3423', '4.507M', '6.739M']
spot of 10.3423 with type <class 'str'>
['Mo', '1/7/02', '10.4512', '7.115M', '6.996M']
spot of 10.4512 with type <class 'str'>
['Fr', '1/4/02', '10.5148', '6.921M', '7.137M']
spot of 10.5148 with type <class 'str'>
['Th', '1/3/02', '10.424', '10.63M', '7.421M']
spot of 10.424 with type <class 'str'>
['We', '1/2/02', '9.8292', '6.169M', '7.466M']
spot of 9.8292 with type <class 'str'>
['Mo', '12/31/01', '9.3253', '5.578M', '8.069M']
spot of 9.3253 with type <class 'str'>
['Fr', '12/28/01', '9.4524', '5.392M', '8.2M']
spot of 9.4524 with type <class 'str'>
['Th', '12/27/01', '9.4433', '4.24M', '8.411M']
spot of 9.4433 with type <class 'str'>
['We', '12/26/01', '9.4887', '4.727M', '8.909M']
spot of 9.4887 with type <class 'str'>
['Mo', '12/24/01', '9.4297', '2.816M', '9.183M']
spot of 9.4297 with type <class 'str'>
['Fr', '12/21/01', '9.5341', '10.205M', '9.652M']
spot of 9.5341 with type <class 'str'>
['Th', '12/20/01', '9.3979', '8.623M', '9.718M']
spot of 9.3979 with type <class 'str'>
['We', '12/19/01', '9.3979', '7.394M', '9.683M']
spot of 9.3979 with type <class 'str'>
['Tu', '12/18/01', '9.3071', '9.716M', '9.591M']
spot of 9.3071 with type <class 'str'>
['Mo', '12/17/01', '9.4252', '7.055M', '9.577M']
spot of 9.4252 with type <class 'str'>
['Fr', '12/14/01', '9.5341', '8.357M', '9.603M']
spot of 9.5341 with type <class 'str'>
['Th', '12/13/01', '9.5659', '9.231M', '9.215M']
spot of 9.5659 with type <class 'str'>
['We', '12/12/01', '9.9019', '11.185M', '8.97M']
spot of 9.9019 with type <class 'str'>
['Tu', '12/11/01', '9.9836', '11.299M', '8.677M']
spot of 9.9836 with type <class 'str'>
['Mo', '12/10/01', '10.4421', '15.215M', '8.381M']
spot of 10.4421 with type <class 'str'>
['Fr', '12/7/01', '10.6782', '7.549M', '8.044M']
spot of 10.6782 with type <class 'str'>
['Th', '12/6/01', '10.592', '8.551M', '8.439M']
spot of 10.592 with type <class 'str'>
['We', '12/5/01', '10.5874', '11.707M', '9.54M']
spot of 10.5874 with type <class 'str'>
['Tu', '12/4/01', '10.2151', '8.849M', '9.558M']
spot of 10.2151 with type <class 'str'>
['Mo', '12/3/01', '9.7566', '9.84M', '9.426M']
spot of 9.7566 with type <class 'str'>
['Fr', '11/30/01', '9.9836', '11.197M', '9.298M']
spot of 9.9836 with type <class 'str'>
['Th', '11/29/01', '9.7157', '8.1M', '9.456M']
spot of 9.7157 with type <class 'str'>
['We', '11/28/01', '9.1573', '6.022M', '10.332M']
spot of 9.1573 with type <class 'str'>
['Tu', '11/27/01', '9.2163', '9.496M', '12.244M']
spot of 9.2163 with type <class 'str'>
['Mo', '11/26/01', '9.5931', '7.445M', '12.197M']
spot of 9.5931 with type <class 'str'>
['Fr', '11/23/01', '9.5069', '2.544M', '12.33M']
spot of 9.5069 with type <class 'str'>
['We', '11/21/01', '9.3162', '5.55M', '12.553M']
spot of 9.3162 with type <class 'str'>
['Tu', '11/20/01', '9.5114', '6.794M', '12.623M']
spot of 9.5114 with type <class 'str'>
['Mo', '11/19/01', '9.7838', '6.858M', '12.697M']
spot of 9.7838 with type <class 'str'>
['Fr', '11/16/01', '9.7611', '10.165M', '12.738M']
spot of 9.7611 with type <class 'str'>
['Th', '11/15/01', '10.029', '13.472M', '12.551M']
spot of 10.029 with type <class 'str'>
['We', '11/14/01', '10.0245', '25.059M', '12.253M']
spot of 10.0245 with type <class 'str'>
['Tu', '11/13/01', '9.1845', '11.976M', '11.157M']
spot of 9.1845 with type <class 'str'>
['Mo', '11/12/01', '8.7623', '6.877M', '11.056M']
spot of 8.7623 with type <class 'str'>
['Fr', '11/9/01', '8.6216', '7.908M', '11.075M']
spot of 8.6216 with type <class 'str'>
['Th', '11/8/01', '8.331', '13.576M', '11.083M']
spot of 8.331 with type <class 'str'>
['We', '11/7/01', '8.7078', '21.238M', '10.968M']
spot of 8.7078 with type <class 'str'>
['Tu', '11/6/01', '8.9939', '34.7M', '10.087M']
spot of 8.9939 with type <class 'str'>
['Mo', '11/5/01', '7.6682', '8.79M', '8.217M']
spot of 7.6682 with type <class 'str'>
['Fr', '11/2/01', '7.6818', '9.438M', '8.083M']
spot of 7.6818 with type <class 'str'>
['Th', '11/1/01', '7.8543', '5.898M', '8.481M']
spot of 7.8543 with type <class 'str'>
['We', '10/31/01', '7.6409', '6.59M', '8.901M']
spot of 7.6409 with type <class 'str'>
['Tu', '10/30/01', '7.7045', '7.903M', '9.089M']
spot of 7.7045 with type <class 'str'>
['Mo', '10/29/01', '7.8997', '7.484M', '9.169M']
spot of 7.8997 with type <class 'str'>
['Fr', '10/26/01', '8.104', '7.361M', '9.226M']
spot of 8.104 with type <class 'str'>
['Th', '10/25/01', '8.2357', '8.988M', '9.474M']
spot of 8.2357 with type <class 'str'>
['We', '10/24/01', '8.1812', '8.632M', '9.868M']
spot of 8.1812 with type <class 'str'>
['Tu', '10/23/01', '8.1358', '10.448M', '10.217M']
spot of 8.1358 with type <class 'str'>
['Mo', '10/22/01', '8.3083', '7.173M', '10.446M']
spot of 8.3083 with type <class 'str'>
['Fr', '10/19/01', '8.3038', '8.031M', '10.502M']
spot of 8.3038 with type <class 'str'>
['Th', '10/18/01', '7.9905', '11.849M', '10.553M']
spot of 7.9905 with type <class 'str'>
['We', '10/17/01', '8.1766', '8.014M', '10.513M']
spot of 8.1766 with type <class 'str'>
['Tu', '10/16/01', '8.3991', '6.661M', '10.855M']
spot of 8.3991 with type <class 'str'>
['Mo', '10/15/01', '8.2266', '6.769M', '11.271M']
spot of 8.2266 with type <class 'str'>
['Fr', '10/12/01', '8.331', '15.408M', '11.975M']
spot of 8.331 with type <class 'str'>
['Th', '10/11/01', '8.2175', '12.197M', '12.297M']
spot of 8.2175 with type <class 'str'>
['We', '10/10/01', '7.7181', '9.424M', '12.286M']
spot of 7.7181 with type <class 'str'>
['Tu', '10/9/01', '7.591', '9.093M', '12.876M']
spot of 7.591 with type <class 'str'>
['Mo', '10/8/01', '7.6954', '8.339M', '13.213M']
spot of 7.6954 with type <class 'str'>
['Fr', '10/5/01', '7.4684', '11.082M', '13.87M']
spot of 7.4684 with type <class 'str'>
['Th', '10/4/01', '7.2641', '14.894M', '14.03M']
spot of 7.2641 with type <class 'str'>
['We', '10/3/01', '7.2641', '13.876M', '14.201M']
spot of 7.2641 with type <class 'str'>
['Tu', '10/2/01', '6.9236', '13.876M', '14.521M']
spot of 6.9236 with type <class 'str'>
['Mo', '10/1/01', '7.0825', '8.021M', '16.25M']
spot of 7.0825 with type <class 'str'>
['Fr', '9/28/01', '7.2868', '8.798M', '18.193M']
spot of 7.2868 with type <class 'str'>
['Th', '9/27/01', '7.3549', '11.249M', '17.951M']
spot of 7.3549 with type <class 'str'>
['We', '9/26/01', '7.2641', '13.142M', '17.566M']
spot of 7.2641 with type <class 'str'>
['Tu', '9/25/01', '7.2686', '12.894M', '16.89M']
spot of 7.2686 with type <class 'str'>
['Mo', '9/24/01', '7.3095', '17.335M', '16.203M']
spot of 7.3095 with type <class 'str'>
['Fr', '9/21/01', '6.7919', '20.232M', '15.228M']
spot of 6.7919 with type <class 'str'>
['Th', '9/20/01', '6.5831', '12.042M', '14.137M']
spot of 6.5831 with type <class 'str'>
['We', '9/19/01', '6.9917', '18.266M', '13.581M']
spot of 6.9917 with type <class 'str'>
['Tu', '9/18/01', '7.3549', '14.149M', '12.688M']
spot of 7.3549 with type <class 'str'>
['Mo', '9/17/01', '7.2732', '18.198M', '12.1M']
spot of 7.2732 with type <class 'str'>
['Mo', '9/10/01', '8.1222', '13.477M', '11.2M']
spot of 8.1222 with type <class 'str'>
['Fr', '9/7/01', '8.2084', '17.462M', '10.895M']
spot of 8.2084 with type <class 'str'>
['Th', '9/6/01', '8.0359', '18.676M', '10.227M']
spot of 8.0359 with type <class 'str'>
['We', '9/5/01', '8.2674', '39.813M', '9.346M']
spot of 8.2674 with type <class 'str'>
['Tu', '9/4/01', '8.5671', '37.161M', '6.877M']
spot of 8.5671 with type <class 'str'>
['Fr', '8/31/01', '10.5375', '5.166M', '4.597M']
spot of 10.5375 with type <class 'str'>
['Th', '8/30/01', '10.6237', '5.473M', '4.496M']
spot of 10.6237 with type <class 'str'>
['We', '8/29/01', '10.8734', '3.012M', '4.37M']
spot of 10.8734 with type <class 'str'>
['Tu', '8/28/01', '11.1731', '2.59M', '4.529M']
spot of 11.1731 with type <class 'str'>
['Mo', '8/27/01', '11.3592', '2.706M', '4.567M']
spot of 11.3592 with type <class 'str'>
['Fr', '8/24/01', '11.4092', '3.867M', '4.61M']
spot of 11.4092 with type <class 'str'>
['Th', '8/23/01', '10.9007', '3.701M', '4.659M']
spot of 10.9007 with type <class 'str'>
['We', '8/22/01', '11.1231', '4.868M', '4.807M']
spot of 11.1231 with type <class 'str'>
['Tu', '8/21/01', '11.2139', '5.326M', '4.856M']
spot of 11.2139 with type <class 'str'>
['Mo', '8/20/01', '11.2321', '4.703M', '4.972M']
spot of 11.2321 with type <class 'str'>
['Fr', '8/17/01', '10.9188', '8.9M', '5.03M']
spot of 10.9188 with type <class 'str'>
['Th', '8/16/01', '10.9552', '7.448M', '4.83M']
spot of 10.9552 with type <class 'str'>
['We', '8/15/01', '10.9415', '5.45M', '5.437M']
spot of 10.9415 with type <class 'str'>
['Tu', '8/14/01', '11.2866', '2.79M', '5.518M']
spot of 11.2866 with type <class 'str'>
['Mo', '8/13/01', '11.2911', '2.955M', '5.587M']
spot of 11.2911 with type <class 'str'>
['Fr', '8/10/01', '11.3955', '3.653M', '5.858M']
spot of 11.3955 with type <class 'str'>
['Th', '8/9/01', '11.2139', '3.584M', '6.125M']
spot of 11.2139 with type <class 'str'>
['We', '8/8/01', '11.2366', '5.396M', '6.289M']
spot of 11.2366 with type <class 'str'>
['Tu', '8/7/01', '11.4046', '3.16M', '6.329M']
spot of 11.4046 with type <class 'str'>
['Mo', '8/6/01', '11.4546', '3.349M', '6.457M']
spot of 11.4546 with type <class 'str'>
['Fr', '8/3/01', '11.4818', '4.604M', '6.677M']
spot of 11.4818 with type <class 'str'>
['Th', '8/2/01', '11.7633', '5.92M', '6.654M']
spot of 11.7633 with type <class 'str'>
['We', '8/1/01', '11.5817', '5.606M', '6.557M']
spot of 11.5817 with type <class 'str'>
['Tu', '7/31/01', '11.1958', '7.061M', '6.456M']
spot of 11.1958 with type <class 'str'>
['Mo', '7/30/01', '10.9915', '5.572M', '6.471M']
spot of 10.9915 with type <class 'str'>
['Fr', '7/27/01', '11.0596', '5.9M', '6.331M']
spot of 11.0596 with type <class 'str'>
['Th', '7/26/01', '10.8961', '16.549M', '6.259M']

spot of 10.8961 with type <class 'str'>
['We', '7/25/01', '11.6589', '6.676M', '5.544M']
spot of 11.6589 with type <class 'str'>
['Tu', '7/24/01', '11.6907', '3.827M', '5.211M']
spot of 11.6907 with type <class 'str'>
['Mo', '7/23/01', '11.895', '7.009M', '5.326M']
spot of 11.895 with type <class 'str'>
['Fr', '7/20/01', '11.9948', '7.665M', '5.341M']
spot of 11.9948 with type <class 'str'>
['Th', '7/19/01', '12.0357', '6.035M', '5.191M']
spot of 12.0357 with type <class 'str'>
['We', '7/18/01', '11.9131', '6.001M', '5.065M']
spot of 11.9131 with type <class 'str'>
['Tu', '7/17/01', '11.9858', '5.08M', '4.96M']
spot of 11.9858 with type <class 'str'>
['Mo', '7/16/01', '11.9858', '6.643M', '4.826M']
spot of 11.9858 with type <class 'str'>
['Fr', '7/13/01', '12.7031', '4.26M', '4.672M']
spot of 12.7031 with type <class 'str'>
['Th', '7/12/01', '12.2672', '4.472M', '4.719M']
spot of 12.2672 with type <class 'str'>
['We', '7/11/01', '11.7088', '4.092M', '4.792M']
spot of 11.7088 with type <class 'str'>
['Tu', '7/10/01', '11.5545', '7.284M', '4.906M']
spot of 11.5545 with type <class 'str'>
['Mo', '7/9/01', '12.122', '3.473M', '4.727M']
spot of 12.122 with type <class 'str'>
['Fr', '7/6/01', '11.9994', '4.813M', '5.157M']
spot of 11.9994 with type <class 'str'>
['Th', '7/5/01', '12.5442', '5.824M', '5.484M']
spot of 12.5442 with type <class 'str'>
['Tu', '7/3/01', '12.8938', '1.685M', '5.336M']
spot of 12.8938 with type <class 'str'>
['Mo', '7/2/01', '13.03', '5.548M', '5.515M']
spot of 13.03 with type <class 'str'>
['Fr', '6/29/01', '12.9846', '7.237M', '5.562M']
spot of 12.9846 with type <class 'str'>
['Th', '6/28/01', '12.3717', '5.416M', '5.349M']
spot of 12.3717 with type <class 'str'>
['We', '6/27/01', '12.0085', '4.153M', '5.43M']
spot of 12.0085 with type <class 'str'>
['Tu', '6/26/01', '12.0357', '4.427M', '5.78M']
spot of 12.0357 with type <class 'str'>
['Mo', '6/25/01', '12.1946', '3.064M', '5.944M']
spot of 12.1946 with type <class 'str'>
['Fr', '6/22/01', '11.9721', '4.334M', '6.016M']
spot of 11.9721 with type <class 'str'>
['Th', '6/21/01', '12.0993', '4.96M', '5.999M']
spot of 12.0993 with type <class 'str'>
['We', '6/20/01', '12.2264', '5.567M', '5.979M']
spot of 12.2264 with type <class 'str'>
['Tu', '6/19/01', '11.8042', '5.807M', '6.058M']
spot of 11.8042 with type <class 'str'>
['Mo', '6/18/01', '12.1265', '4.604M', '6.092M']
spot of 12.1265 with type <class 'str'>
['Fr', '6/15/01', '12.2582', '9.921M', '6.062M']
spot of 12.2582 with type <class 'str'>
['Th', '6/14/01', '12.1674', '9.711M', '5.679M']
spot of 12.1674 with type <class 'str'>
['We', '6/13/01', '12.6668', '3.613M', '5.465M']
spot of 12.6668 with type <class 'str'>
['Tu', '6/12/01', '12.8484', '4.36M', '5.702M']
spot of 12.8484 with type <class 'str'>
['Mo', '6/11/01', '12.6214', '6.258M', '5.945M']
spot of 12.6214 with type <class 'str'>
['Fr', '6/8/01', '12.9573', '4.04M', '6.225M']
spot of 12.9573 with type <class 'str'>
['Th', '6/7/01', '13.2797', '6.639M', '7.975M']
spot of 13.2797 with type <class 'str'>
['We', '6/6/01', '13.0345', '9.399M', '8.134M']
spot of 13.0345 with type <class 'str'>
['Tu', '6/5/01', '13.6429', '6.881M', '7.981M']
spot of 13.6429 with type <class 'str'>
['Mo', '6/4/01', '13.4386', '4.154M', '7.963M']
spot of 13.4386 with type <class 'str'>
['Fr', '6/1/01', '13.2797', '4.077M', '8.055M']
spot of 13.2797 with type <class 'str'>
['Th', '5/31/01', '13.3115', '4.66M', '8.131M']
spot of 13.3115 with type <class 'str'>
['We', '5/30/01', '13.089', '6.754M', '8.267M']
spot of 13.089 with type <class 'str'>
['Tu', '5/29/01', '13.7155', '6.303M', '8.239M']
spot of 13.7155 with type <class 'str'>
['Fr', '5/25/01', '13.6429', '4.166M', '8.209M']
spot of 13.6429 with type <class 'str'>
['Th', '5/24/01', '13.661', '4.166M', '8.392M']
spot of 13.661 with type <class 'str'>
['We', '5/23/01', '13.4295', '6.509M', '8.681M']
spot of 13.4295 with type <class 'str'>
['Tu', '5/22/01', '13.9834', '7.166M', '8.757M']
spot of 13.9834 with type <class 'str'>
['Mo', '5/21/01', '13.9607', '8.01M', '8.75M']
spot of 13.9607 with type <class 'str'>
['Fr', '5/18/01', '13.5521', '10.449M', '8.613M']
spot of 13.5521 with type <class 'str'>
['Th', '5/17/01', '14.0288', '30.288M', '8.268M']
spot of 14.0288 with type <class 'str'>
['We', '5/16/01', '12.1401', '9.034M', '6.765M']
spot of 12.1401 with type <class 'str'>
['Tu', '5/15/01', '11.5317', '7.105M', '6.604M']
spot of 11.5317 with type <class 'str'>
['Mo', '5/14/01', '11.7588', '6.609M', '6.582M']
spot of 11.7588 with type <class 'str'>
['Fr', '5/11/01', '11.8904', '5.535M', '6.483M']
spot of 11.8904 with type <class 'str'>
['Th', '5/10/01', '12.0675', '5.205M', '6.655M']
spot of 12.0675 with type <class 'str'>
['We', '5/9/01', '12.2582', '6.701M', '7.218M']
spot of 12.2582 with type <class 'str'>
['Tu', '5/8/01', '12.408', '6.333M', '7.781M']
spot of 12.408 with type <class 'str'>
['Mo', '5/7/01', '12.5623', '5.852M', '7.87M']
spot of 12.5623 with type <class 'str'>
['Fr', '5/4/01', '12.5941', '6.921M', '7.769M']
spot of 12.5941 with type <class 'str'>
['Th', '5/3/01', '12.5169', '8.495M', '7.643M']
spot of 12.5169 with type <class 'str'>
['We', '5/2/01', '13.0073', '7.658M', '7.563M']
spot of 13.0073 with type <class 'str'>
['Tu', '5/1/01', '12.9165', '7.055M', '7.675M']
spot of 12.9165 with type <class 'str'>
['Mo', '4/30/01', '12.9074', '5.949M', '7.621M']
spot of 12.9074 with type <class 'str'>
['Fr', '4/27/01', '12.8892', '5.288M', '7.741M']
spot of 12.8892 with type <class 'str'>
['Th', '4/26/01', '12.6895', '7.739M', '7.828M']
spot of 12.6895 with type <class 'str'>
['We', '4/25/01', '13.257', '6.613M', '7.828M']
spot of 13.257 with type <class 'str'>
['Tu', '4/24/01', '13.3569', '6.785M', '8.036M']
spot of 13.3569 with type <class 'str'>
['Mo', '4/23/01', '14.056', '5.119M', '8.044M']
spot of 14.056 with type <class 'str'>
['Fr', '4/20/01', '14.392', '8.111M', '7.996M']
spot of 14.392 with type <class 'str'>
['Th', '4/19/01', '14.7552', '13.655M', '7.723M']
spot of 14.7552 with type <class 'str'>
['We', '4/18/01', '14.4828', '15.139M', '7.253M']
spot of 14.4828 with type <class 'str'>
['Tu', '4/17/01', '13.2797', '7.671M', '6.649M']
spot of 13.2797 with type <class 'str'>
['Mo', '4/16/01', '13.6156', '4.344M', '6.459M']
spot of 13.6156 with type <class 'str'>
['Th', '4/12/01', '13.9017', '5.026M', '6.634M']
spot of 13.9017 with type <class 'str'>
['We', '4/11/01', '13.7337', '7.291M', '6.819M']
spot of 13.7337 with type <class 'str'>
['Tu', '4/10/01', '13.543', '9.337M', '6.722M']
spot of 13.543 with type <class 'str'>
['Mo', '4/9/01', '12.9392', '6.242M', '6.492M']
spot of 12.9392 with type <class 'str'>
['Fr', '4/6/01', '13.0527', '7.749M', '6.532M']
spot of 13.0527 with type <class 'str'>
['Th', '4/5/01', '13.9698', '6.596M', '6.954M']
spot of 13.9698 with type <class 'str'>
['We', '4/4/01', '12.4625', '7.74M', '6.857M']
spot of 12.4625 with type <class 'str'>
['Tu', '4/3/01', '12.4443', '9.732M', '6.831M']
spot of 12.4443 with type <class 'str'>
['Mo', '4/2/01', '13.1299', '6.912M', '6.6M']
spot of 13.1299 with type <class 'str'>
['Fr', '3/30/01', '14.1968', '4.4M', '6.637M']
spot of 14.1968 with type <class 'str'>
['Th', '3/29/01', '13.9107', '4.018M', '6.752M']
spot of 13.9107 with type <class 'str'>
['We', '3/28/01', '13.7655', '6.596M', '6.829M']
spot of 13.7655 with type <class 'str'>
['Tu', '3/27/01', '14.6553', '6.082M', '6.788M']
spot of 14.6553 with type <class 'str'>
['Mo', '3/26/01', '14.3693', '4.824M', '6.847M']
spot of 14.3693 with type <class 'str'>
['Fr', '3/23/01', '14.1514', '6.971M', '6.805M']
spot of 14.1514 with type <class 'str'>
['Th', '3/22/01', '14.0242', '7.795M', '6.914M']
spot of 14.0242 with type <class 'str'>
['We', '3/21/01', '13.2706', '5.839M', '7.041M']
spot of 13.2706 with type <class 'str'>
['Tu', '3/20/01', '13.3069', '5.879M', '7.285M']
spot of 13.3069 with type <class 'str'>
['Mo', '3/19/01', '13.8472', '6.848M', '7.478M']
spot of 13.8472 with type <class 'str'>
['Fr', '3/16/01', '12.7576', '14.084M', '7.591M']
spot of 12.7576 with type <class 'str'>
['Th', '3/15/01', '13.938', '5.144M', '7.248M']
spot of 13.938 with type <class 'str'>
['We', '3/14/01', '14.0515', '7.346M', '7.605M']
spot of 14.0515 with type <class 'str'>
['Tu', '3/13/01', '14.3466', '6.264M', '7.68M']
spot of 14.3466 with type <class 'str'>
['Mo', '3/12/01', '13.5657', '7.474M', '8.008M']
spot of 13.5657 with type <class 'str'>
['Fr', '3/9/01', '13.7337', '6.119M', '8.33M']
spot of 13.7337 with type <class 'str'>
['Th', '3/8/01', '14.3784', '5.166M', '8.594M']
spot of 14.3784 with type <class 'str'>
['We', '3/7/01', '14.6871', '5.98M', '8.683M']
spot of 14.6871 with type <class 'str'>
['Tu', '3/6/01', '14.5963', '6.976M', '8.734M']
spot of 14.5963 with type <class 'str'>
['Mo', '3/5/01', '13.7927', '4.187M', '8.683M']
spot of 13.7927 with type <class 'str'>
['Fr', '3/2/01', '13.4023', '8.616M', '8.812M']
spot of 13.4023 with type <class 'str'>
['Th', '3/1/01', '13.1662', '9.692M', '8.623M']
spot of 13.1662 with type <class 'str'>
['We', '2/28/01', '13.0981', '9.494M', '8.301M']
spot of 13.0981 with type <class 'str'>
['Tu', '2/27/01', '12.9846', '8.784M', '8.022M']
spot of 12.9846 with type <class 'str'>
['Mo', '2/26/01', '13.6202', '8.54M', '7.738M']
spot of 13.6202 with type <class 'str'>
['Fr', '2/23/01', '13.6202', '8.933M', '7.475M']
spot of 13.6202 with type <class 'str'>
['Th', '2/22/01', '13.5158', '10.5M', '7.162M']
spot of 13.5158 with type <class 'str'>
['We', '2/21/01', '13.6247', '8.47M', '6.804M']
spot of 13.6247 with type <class 'str'>
['Tu', '2/20/01', '13.8472', '11.195M', '6.742M']
spot of 13.8472 with type <class 'str'>
['Fr', '2/16/01', '15.0412', '12.297M', '6.523M']
spot of 15.0412 with type <class 'str'>
['Th', '2/15/01', '16.5031', '10.074M', '6.059M']
spot of 16.5031 with type <class 'str'>
['We', '2/14/01', '15.6133', '6.512M', '5.798M']
spot of 15.6133 with type <class 'str'>
['Tu', '2/13/01', '15.073', '6.734M', '5.796M']
spot of 15.073 with type <class 'str'>
['Mo', '2/12/01', '14.8006', '6.214M', '5.757M']
spot of 14.8006 with type <class 'str'>
['Fr', '2/9/01', '15.2092', '6.13M', '5.741M']
spot of 15.2092 with type <class 'str'>
['Th', '2/8/01', '15.8176', '5.774M', '6.2M']
spot of 15.8176 with type <class 'str'>
['We', '2/7/01', '16.3442', '4.861M', '6.598M']
spot of 16.3442 with type <class 'str'>
['Tu', '2/6/01', '16.7074', '5.312M', '6.937M']
spot of 16.7074 with type <class 'str'>
['Mo', '2/5/01', '16.0264', '4.529M', '7.302M']
spot of 16.0264 with type <class 'str'>
['Fr', '2/2/01', '16.2307', '4.595M', '8.427M']
spot of 16.2307 with type <class 'str'>
['Th', '2/1/01', '16.7347', '4.229M', '9.245M']
spot of 16.7347 with type <class 'str'>
['We', '1/31/01', '16.7301', '5.14M', '9.684M']
spot of 16.7301 with type <class 'str'>
['Tu', '1/30/01', '17.1614', '7.534M', '9.762M']
spot of 17.1614 with type <class 'str'>
['Mo', '1/29/01', '17.0388', '7.909M', '9.695M']
spot of 17.0388 with type <class 'str'>
['Fr', '1/26/01', '15.6348', '5.332M', '9.806M']
spot of 15.6348 with type <class 'str'>
['Th', '1/25/01', '15.6348', '6.16M', '10.104M']
spot of 15.6348 with type <class 'str'>
['We', '1/24/01', '15.8902', '6.481M', '10.644M']
spot of 15.8902 with type <class 'str'>
['Tu', '1/23/01', '15.5781', '6.158M', '10.666M']
spot of 15.5781 with type <class 'str'>
['Mo', '1/22/01', '15.6632', '5.972M', '10.584M']
spot of 15.6632 with type <class 'str'>
['Fr', '1/19/01', '16.2307', '13.017M', '10.479M']
spot of 16.2307 with type <class 'str'>
['Th', '1/18/01', '15.7483', '11.742M', '9.975M']
spot of 15.7483 with type <class 'str'>
['We', '1/17/01', '14.3579', '9.945M', '9.616M']
spot of 14.3579 with type <class 'str'>
['Tu', '1/16/01', '13.7904', '10.794M', '9.461M']
spot of 13.7904 with type <class 'str'>
['Fr', '1/12/01', '13.9323', '21.4M', '9.37M']
spot of 13.9323 with type <class 'str'>
['Th', '1/11/01', '14.6984', '16.86M', '8.767M']
spot of 14.6984 with type <class 'str'>
['We', '1/10/01', '14.4147', '10.812M', '8.327M']
spot of 14.4147 with type <class 'str'>
['Tu', '1/9/01', '14.3296', '6.322M', '7.994M']
spot of 14.3296 with type <class 'str'>
['Mo', '1/8/01', '14.2444', '6.526M', '8.442M']
spot of 14.2444 with type <class 'str'>
['Fr', '1/5/01', '13.9039', '9.572M', '8.468M']
spot of 13.9039 with type <class 'str'>
['Th', '1/4/01', '15.72', '9.8M', '8.365M']
spot of 15.72 with type <class 'str'>
['We', '1/3/01', '15.4646', '14.256M', '8.158M']
spot of 15.4646 with type <class 'str'>
['Tu', '1/2/01', '13.7337', '6.821M', '7.636M']
spot of 13.7337 with type <class 'str'>
['Fr', '12/29/00', '14.3296', '4.918M', '7.764M']
spot of 14.3296 with type <class 'str'>
['Th', '12/28/00', '14.7268', '4.402M', '8.018M']
spot of 14.7268 with type <class 'str'>
['We', '12/27/00', '14.7268', '5.46M', '8.697M']
spot of 14.7268 with type <class 'str'>
['Tu', '12/26/00', '14.4147', '6.353M', '8.85M']
spot of 14.4147 with type <class 'str'>
['Fr', '12/22/00', '14.6133', '7.613M', '8.838M']
spot of 14.6133 with type <class 'str'>
['Th', '12/21/00', '13.3364', '9.427M', '8.85M']
spot of 13.3364 with type <class 'str'>
['We', '12/20/00', '13.8188', '12.359M', '9.348M']
spot of 13.8188 with type <class 'str'>
['Tu', '12/19/00', '14.2161', '10.269M', '8.968M']
spot of 14.2161 with type <class 'str'>
['Mo', '12/18/00', '14.1309', '5.811M', '8.674M']
spot of 14.1309 with type <class 'str'>
['Fr', '12/15/00', '14.3579', '13.04M', '8.72M']
spot of 14.3579 with type <class 'str'>
['Th', '12/14/00', '15.2092', '6.921M', '8.156M']
spot of 15.2092 with type <class 'str'>
['We', '12/13/00', '15.0673', '8.024M', '8.153M']
spot of 15.0673 with type <class 'str'>
['Tu', '12/12/00', '16.0037', '6.693M', '8.028M']
spot of 16.0037 with type <class 'str'>
['Mo', '12/11/00', '15.0389', '6.434M', '8.121M']
spot of 15.0389 with type <class 'str'>
['Fr', '12/8/00', '15.1808', '8.739M', '8.361M']
spot of 15.1808 with type <class 'str'>
['Th', '12/7/00', '14.1877', '8.732M', '8.383M']
spot of 14.1877 with type <class 'str'>
['We', '12/6/00', '14.5282', '14.582M', '8.464M']
spot of 14.5282 with type <class 'str'>
['Tu', '12/5/00', '15.8902', '7.746M', '8.53M']
spot of 15.8902 with type <class 'str'>
['Mo', '12/4/00', '14.9822', '6.176M', '10.537M']
spot of 14.9822 with type <class 'str'>
['Fr', '12/1/00', '14.6133', '7.792M', '10.896M']
spot of 14.6133 with type <class 'str'>
['Th', '11/30/00', '14.3579', '16.906M', '10.981M']
spot of 14.3579 with type <class 'str'>
['We', '11/29/00', '15.6916', '6.661M', '10.186M']
spot of 15.6916 with type <class 'str'>
['Tu', '11/28/00', '15.7483', '5.854M', '10.011M']
spot of 15.7483 with type <class 'str'>
['Mo', '11/27/00', '16.2023', '6.499M', '9.892M']
spot of 16.2023 with type <class 'str'>
['Fr', '11/24/00', '16.1456', '4.581M', '9.942M']
spot of 16.1456 with type <class 'str'>
['We', '11/22/00', '15.2943', '6.873M', '10.071M']
spot of 15.2943 with type <class 'str'>
['Tu', '11/21/00', '15.4078', '6.155M', '10.068M']
spot of 15.4078 with type <class 'str'>
['Mo', '11/20/00', '15.6916', '8.092M', '10.122M']
spot of 15.6916 with type <class 'str'>
['Fr', '11/17/00', '16.174', '10.03M', '9.915M']
spot of 16.174 with type <class 'str'>
['Th', '11/16/00', '15.9186', '9.074M', '10.179M']
spot of 15.9186 with type <class 'str'>
['We', '11/15/00', '16.0321', '9.94M', '10.376M']
spot of 16.0321 with type <class 'str'>
['Tu', '11/14/00', '16.7982', '15.568M', '10.381M']
spot of 16.7982 with type <class 'str'>
['Mo', '11/13/00', '15.493', '37.856M', '10.087M']
spot of 15.493 with type <class 'str'>
['Fr', '11/10/00', '17.763', '11.563M', '8.043M']
spot of 17.763 with type <class 'str'>
['Th', '11/9/00', '19.4939', '9.057M', '7.896M']
spot of 19.4939 with type <class 'str'>
['We', '11/8/00', '20.7424', '4.985M', '8.218M']
spot of 20.7424 with type <class 'str'>
['Tu', '11/7/00', '21.5369', '4.046M', '8.754M']
spot of 21.5369 with type <class 'str'>
['Mo', '11/6/00', '20.8559', '4.062M', '9.031M']
spot of 20.8559 with type <class 'str'>
['Fr', '11/3/00', '20.9978', '7.256M', '9.263M']
spot of 20.9978 with type <class 'str'>
['Th', '11/2/00', '20.4586', '6.502M', '9.597M']
spot of 20.4586 with type <class 'str'>
['We', '11/1/00', '20.1749', '6.835M', '9.994M']
spot of 20.1749 with type <class 'str'>
['Tu', '10/31/00', '21.1113', '6.97M', '10.36M']
spot of 21.1113 with type <class 'str'>
['Mo', '10/30/00', '20.7991', '4.984M', '10.556M']
spot of 20.7991 with type <class 'str'>
['Fr', '10/27/00', '19.7918', '13.985M', '10.752M']
spot of 19.7918 with type <class 'str'>
['Th', '10/26/00', '19.5223', '12.035M', '10.752M']
spot of 19.5223 with type <class 'str'>
['We', '10/25/00', '19.7067', '10.017M', '11.261M']
spot of 19.7067 with type <class 'str'>
['Tu', '10/24/00', '20.9978', '11.151M', '11.255M']
spot of 20.9978 with type <class 'str'>
['Mo', '10/23/00', '22.3314', '7.199M', '11.171M']
spot of 22.3314 with type <class 'str'>
['Fr', '10/20/00', '21.7923', '9.36M', '11.419M']
spot of 21.7923 with type <class 'str'>
['Th', '10/19/00', '20.6431', '13.875M', '11.972M']
spot of 20.6431 with type <class 'str'>
['We', '10/18/00', '19.4229', '13.03M', '11.604M']
spot of 19.4229 with type <class 'str'>
['Tu', '10/17/00', '20.5438', '8.208M', '11.822M']
spot of 20.5438 with type <class 'str'>
['Mo', '10/16/00', '21.0403', '7.53M', '12.015M']
spot of 21.0403 with type <class 'str'>
['Fr', '10/13/00', '20.5721', '12.274M', '12.095M']
spot of 20.5721 with type <class 'str'>
['Th', '10/12/00', '18.9973', '12.463M', '12.389M']
spot of 18.9973 with type <class 'str'>
['We', '10/11/00', '19.4229', '12.319M', '12.137M']
spot of 19.4229 with type <class 'str'>
['Tu', '10/10/00', '20.3026', '9.91M', '12.034M']
spot of 20.3026 with type <class 'str'>
['Mo', '10/9/00', '20.6431', '7.918M', '11.971M']

spot of 20.6431 with type <class 'str'>
['Fr', '10/6/00', '19.7918', '13.984M', '12.05M']
spot of 19.7918 with type <class 'str'>
['Th', '10/5/00', '20.033', '19.673M', '12.042M']
spot of 20.033 with type <class 'str'>
['We', '10/4/00', '21.7072', '9.929M', '11.364M']
spot of 21.7072 with type <class 'str'>
['Tu', '10/3/00', '21.2248', '9.898M', '11.692M']
spot of 21.2248 with type <class 'str'>
['Mo', '10/2/00', '21.2957', '10.916M', '11.827M']
spot of 21.2957 with type <class 'str'>
['Fr', '9/29/00', '22.0193', '17.647M', '11.779M']
spot of 22.0193 with type <class 'str'>
['Th', '9/28/00', '23.5657', '8.36M', '10.909M']
spot of 23.5657 with type <class 'str'>
['We', '9/27/00', '23.4948', '16.303M', '10.761M']
spot of 23.4948 with type <class 'str'>
['Tu', '9/26/00', '22.2747', '11.104M', '10M']
spot of 22.2747 with type <class 'str'>
['Mo', '9/25/00', '22.4449', '8.721M', '9.597M']
spot of 22.4449 with type <class 'str'>
['Fr', '9/22/00', '23.6509', '16.685M', '9.449M']
spot of 23.6509 with type <class 'str'>
['Th', '9/21/00', '21.5653', '8.691M', '8.747M']
spot of 21.5653 with type <class 'str'>
['We', '9/20/00', '23.2394', '10.777M', '8.435M']
spot of 23.2394 with type <class 'str'>
['Tu', '9/19/00', '24.1758', '8.958M', '8.065M']
spot of 24.1758 with type <class 'str'>
['Mo', '9/18/00', '23.3813', '9.107M', '7.87M']
spot of 23.3813 with type <class 'str'>
['Fr', '9/15/00', '23.3813', '13.866M', '7.56M']
spot of 23.3813 with type <class 'str'>
['Th', '9/14/00', '24.5731', '9.492M', '7.049M']
spot of 24.5731 with type <class 'str'>
['We', '9/13/00', '23.8353', '14.849M', '6.836M']
spot of 23.8353 with type <class 'str'>
['Tu', '9/12/00', '25.1973', '11.934M', '6.328M']
spot of 25.1973 with type <class 'str'>
['Mo', '9/11/00', '25.8783', '10.183M', '5.945M']
spot of 25.8783 with type <class 'str'>
['Fr', '9/8/00', '27.4674', '4.61M', '6.244M']
spot of 27.4674 with type <class 'str'>
['Th', '9/7/00', '28.1049', '6.132M', '7.589M']
spot of 28.1049 with type <class 'str'>
['We', '9/6/00', '27.2404', '4.891M', '7.773M']
spot of 27.2404 with type <class 'str'>
['Tu', '9/5/00', '27.9072', '5.06M', '7.807M']
spot of 27.9072 with type <class 'str'>
['Fr', '9/1/00', '28.3754', '6.493M', '7.774M']
spot of 28.3754 with type <class 'str'>
['Th', '8/31/00', '27.3858', '6.161M', '7.642M']
spot of 27.3858 with type <class 'str'>
['We', '8/30/00', '26.7863', '4.006M', '7.473M']
spot of 26.7863 with type <class 'str'>
['Tu', '8/29/00', '27.2262', '5.238M', '7.504M']
spot of 27.2262 with type <class 'str'>
['Mo', '8/28/00', '27.2404', '6.023M', '7.502M']
spot of 27.2404 with type <class 'str'>
['Fr', '8/25/00', '26.9566', '4.466M', '7.504M']
spot of 26.9566 with type <class 'str'>
['Th', '8/24/00', '27.212', '6.196M', '7.479M']
spot of 27.212 with type <class 'str'>
['We', '8/23/00', '26.1053', '6.295M', '7.495M']
spot of 26.1053 with type <class 'str'>
['Tu', '8/22/00', '25.6655', '7.229M', '7.751M']
spot of 25.6655 with type <class 'str'>
['Mo', '8/21/00', '25.1973', '6.189M', '7.587M']
spot of 25.1973 with type <class 'str'>
['Fr', '8/18/00', '25.4243', '14.666M', '7.855M']
spot of 25.4243 with type <class 'str'>
['Th', '8/17/00', '24.7149', '24.794M', '7.529M']
spot of 24.7149 with type <class 'str'>
['We', '8/16/00', '27.439', '8.889M', '6.524M']
spot of 27.439 with type <class 'str'>
['Tu', '8/15/00', '25.1973', '5.397M', '6.97M']
spot of 25.1973 with type <class 'str'>
['Mo', '8/14/00', '25.9918', '4.564M', '7.395M']
spot of 25.9918 with type <class 'str'>
['Fr', '8/11/00', '24.9703', '4.511M', '7.553M']
spot of 24.9703 with type <class 'str'>
['Th', '8/10/00', '25.4811', '3.627M', '8.252M']
spot of 25.4811 with type <class 'str'>
['We', '8/9/00', '25.8216', '4.47M', '8.345M']
spot of 25.8216 with type <class 'str'>
['Tu', '8/8/00', '26.2898', '5.211M', '8.361M']
spot of 26.2898 with type <class 'str'>
['Mo', '8/7/00', '26.1763', '6.054M', '8.322M']
spot of 26.1763 with type <class 'str'>
['Fr', '8/4/00', '25.3676', '4.087M', '8.24M']
spot of 25.3676 with type <class 'str'>
['Th', '8/3/00', '25.4243', '6.448M', '8.404M']
spot of 25.4243 with type <class 'str'>
['We', '8/2/00', '25.5378', '10.129M', '8.474M']
spot of 25.5378 with type <class 'str'>
['Tu', '8/1/00', '24.4879', '4.766M', '8.294M']
spot of 24.4879 with type <class 'str'>
['Mo', '7/31/00', '24.8001', '10.208M', '8.439M']
spot of 24.8001 with type <class 'str'>
['Fr', '7/28/00', '24.3461', '9.774M', '8.046M']
spot of 24.3461 with type <class 'str'>
['Th', '7/27/00', '24.0623', '9.727M', '7.876M']
spot of 24.0623 with type <class 'str'>
['We', '7/26/00', '24.9703', '15.575M', '7.804M']
spot of 24.9703 with type <class 'str'>
['Tu', '7/25/00', '26.1905', '11.778M', '7.136M']
spot of 26.1905 with type <class 'str'>
['Mo', '7/24/00', '26.9708', '6.93M', '6.485M']
spot of 26.9708 with type <class 'str'>
['Fr', '7/21/00', '28.1484', '14.991M', '6.591M']
spot of 28.1484 with type <class 'str'>
['Th', '7/20/00', '29.5104', '5.023M', '6.208M']
spot of 29.5104 with type <class 'str'>
['We', '7/19/00', '29.4678', '4.714M', '6.481M']
spot of 29.4678 with type <class 'str'>
['Tu', '7/18/00', '29.7374', '4.628M', '6.546M']
spot of 29.7374 with type <class 'str'>
['Mo', '7/17/00', '30.5957', '4.82M', '6.523M']
spot of 30.5957 with type <class 'str'>
['Fr', '7/14/00', '30.3758', '6.549M', '6.519M']
spot of 30.3758 with type <class 'str'>
['Th', '7/13/00', '30.617', '7.496M', '6.558M']
spot of 30.617 with type <class 'str'>
['We', '7/12/00', '29.1415', '7.434M', '6.402M']
spot of 29.1415 with type <class 'str'>
['Tu', '7/11/00', '28.7442', '6.94M', '6.249M']
spot of 28.7442 with type <class 'str'>
['Mo', '7/10/00', '28.0774', '4.307M', '6.168M']
spot of 28.0774 with type <class 'str'>
['Fr', '7/7/00', '28.3186', '7.233M', '6.405M']
spot of 28.3186 with type <class 'str'>
['Th', '7/6/00', '26.8715', '8.648M', '6.487M']
spot of 26.8715 with type <class 'str'>
['We', '7/5/00', '27.1552', '5.547M', '6.579M']
spot of 27.1552 with type <class 'str'>
['Mo', '7/3/00', '28.2051', '2.008M', '7.379M']
spot of 28.2051 with type <class 'str'>
['Fr', '6/30/00', '28.347', '8.531M', '7.68M']
spot of 28.347 with type <class 'str'>
['Th', '6/29/00', '27.1836', '9.246M', '7.662M']
spot of 27.1836 with type <class 'str'>
['We', '6/28/00', '28.1005', '9.107M', '7.734M']
spot of 28.1005 with type <class 'str'>
['Tu', '6/27/00', '26.4742', '5.695M', '7.826M']
spot of 26.4742 with type <class 'str'>
['Mo', '6/26/00', '27.2404', '4.282M', '8.073M']
spot of 27.2404 with type <class 'str'>
['Fr', '6/23/00', '26.5877', '4.755M', '8.534M']
spot of 26.5877 with type <class 'str'>
['Th', '6/22/00', '26.914', '7.145M', '8.99M']
spot of 26.914 with type <class 'str'>
['We', '6/21/00', '27.1269', '5.145M', '9.467M']
spot of 27.1269 with type <class 'str'>
['Tu', '6/20/00', '26.4458', '5.143M', '9.611M']
spot of 26.4458 with type <class 'str'>
['Mo', '6/19/00', '26.7438', '5.726M', '9.597M']
spot of 26.7438 with type <class 'str'>
['Fr', '6/16/00', '25.8925', '7.87M', '9.522M']
spot of 25.8925 with type <class 'str'>
['Th', '6/15/00', '26.5593', '8.457M', '9.498M']
spot of 26.5593 with type <class 'str'>
['We', '6/14/00', '25.8783', '10.036M', '9.629M']
spot of 25.8783 with type <class 'str'>
['Tu', '6/13/00', '27.0134', '17.537M', '9.312M']
spot of 27.0134 with type <class 'str'>
['Mo', '6/12/00', '28.6024', '6.526M', '8.636M']
spot of 28.6024 with type <class 'str'>
['Fr', '6/9/00', '29.0564', '8.253M', '8.642M']
spot of 29.0564 with type <class 'str'>
['Th', '6/8/00', '28.574', '10.334M', '8.534M']
spot of 28.574 with type <class 'str'>
['We', '6/7/00', '27.822', '10.489M', '8.585M']
spot of 27.822 with type <class 'str'>
['Tu', '6/6/00', '26.7863', '9.393M', '8.493M']
spot of 26.7863 with type <class 'str'>
['Mo', '6/5/00', '27.3113', '11.194M', '8.244M']
spot of 27.3113 with type <class 'str'>
['Fr', '6/2/00', '25.1779', '11.599M', '7.918M']
spot of 25.1779 with type <class 'str'>
['Th', '6/1/00', '23.7828', '14.307M', '7.577M']
spot of 23.7828 with type <class 'str'>
['We', '5/31/00', '21.2916', '7.308M', '7.116M']
spot of 21.2916 with type <class 'str'>
['Tu', '5/30/00', '22.0556', '4.92M', '6.895M']
spot of 22.0556 with type <class 'str'>
['Fr', '5/26/00', '20.9262', '4.608M', '6.786M']
spot of 20.9262 with type <class 'str'>
['Th', '5/25/00', '20.594', '7.513M', '6.802M']
spot of 20.594 with type <class 'str'>
['We', '5/24/00', '21.0148', '10.425M', '6.687M']
spot of 21.0148 with type <class 'str'>
['Tu', '5/23/00', '21.3802', '5.274M', '6.451M']
spot of 21.3802 with type <class 'str'>
['Mo', '5/22/00', '21.7455', '7.402M', '6.438M']
spot of 21.7455 with type <class 'str'>
['Fr', '5/19/00', '22.3545', '6.604M', '6.455M']
spot of 22.3545 with type <class 'str'>
['Th', '5/18/00', '23.3288', '6.644M', '6.345M']
spot of 23.3288 with type <class 'str'>
['We', '5/17/00', '23.041', '11.094M', '6.404M']
spot of 23.041 with type <class 'str'>
['Tu', '5/16/00', '24.5357', '9.106M', '6.202M']
spot of 24.5357 with type <class 'str'>
['Mo', '5/15/00', '23.7385', '5.665M', '6.118M']
spot of 23.7385 with type <class 'str'>
['Fr', '5/12/00', '23.3067', '6.308M', '6.283M']
spot of 23.3067 with type <class 'str'>
['Th', '5/11/00', '23.1849', '6.473M', '6.262M']
spot of 23.1849 with type <class 'str'>
['We', '5/10/00', '22.3656', '7.397M', '6.28M']
spot of 22.3656 with type <class 'str'>
['Tu', '5/9/00', '23.5281', '3.99M', '6.498M']
spot of 23.5281 with type <class 'str'>
['Mo', '5/8/00', '24.0375', '3.294M', '6.978M']
spot of 24.0375 with type <class 'str'>
['Fr', '5/5/00', '24.2257', '4.838M', '7.592M']
spot of 24.2257 with type <class 'str'>
['Th', '5/4/00', '23.4064', '5.788M', '7.888M']
spot of 23.4064 with type <class 'str'>
['We', '5/3/00', '23.4728', '6.891M', '8.125M']
spot of 23.4728 with type <class 'str'>
['Tu', '5/2/00', '24.4582', '5.077M', '8.12M']
spot of 24.4582 with type <class 'str'>
['Mo', '5/1/00', '24.6243', '7.66M', '8.295M']
spot of 24.6243 with type <class 'str'>
['Fr', '4/28/00', '23.9157', '4.948M', '8.217M']
spot of 23.9157 with type <class 'str'>
['Th', '4/27/00', '24.425', '7.525M', '8.356M']
spot of 24.425 with type <class 'str'>
['We', '4/26/00', '24.9011', '8.063M', '8.551M']
spot of 24.9011 with type <class 'str'>
['Tu', '4/25/00', '24.6796', '7.849M', '8.664M']
spot of 24.6796 with type <class 'str'>
['Mo', '4/24/00', '23.4396', '8.145M', '8.617M']
spot of 23.4396 with type <class 'str'>
['Th', '4/20/00', '24.7129', '5.987M', '8.593M']
spot of 24.7129 with type <class 'str'>
['We', '4/19/00', '24.0596', '6.754M', '8.641M']
spot of 24.0596 with type <class 'str'>
['Tu', '4/18/00', '24.6354', '10.658M', '8.702M']
spot of 24.6354 with type <class 'str'>
['Mo', '4/17/00', '23.6942', '11.195M', '8.345M']
spot of 23.6942 with type <class 'str'>
['Fr', '4/14/00', '21.7898', '12.499M', '7.906M']
spot of 21.7898 with type <class 'str'>
['Th', '4/13/00', '23.3731', '9.285M', '7.463M']
spot of 23.3731 with type <class 'str'>
['We', '4/12/00', '23.9157', '9.34M', '7.203M']
spot of 23.9157 with type <class 'str'>
['Tu', '4/11/00', '25.8311', '6.81M', '6.935M']
spot of 25.8311 with type <class 'str'>
['Mo', '4/10/00', '26.0858', '7.708M', '6.97M']
spot of 26.0858 with type <class 'str'>
['Fr', '4/7/00', '27.6359', '6.492M', '6.948M']
spot of 27.6359 with type <class 'str'>
['Th', '4/6/00', '26.2408', '7.034M', '7.442M']
spot of 26.2408 with type <class 'str'>
['We', '4/5/00', '25.1557', '10.445M', '7.996M']
spot of 25.1557 with type <class 'str'>
['Tu', '4/4/00', '24.4693', '9.755M', '8.006M']
spot of 24.4693 with type <class 'str'>
['Mo', '4/3/00', '23.4839', '7.15M', '7.794M']
spot of 23.4839 with type <class 'str'>
['Fr', '3/31/00', '23.4839', '7.789M', '7.753M']
spot of 23.4839 with type <class 'str'>
['Th', '3/30/00', '23.1628', '6.698M', '7.674M']
spot of 23.1628 with type <class 'str'>
['We', '3/29/00', '23.9157', '7.676M', '7.838M']
spot of 23.9157 with type <class 'str'>
['Tu', '3/28/00', '24.9232', '5.293M', '7.862M']
spot of 24.9232 with type <class 'str'>
['Mo', '3/27/00', '25.8976', '4.615M', '8.313M']
spot of 25.8976 with type <class 'str'>
['Fr', '3/24/00', '25.2222', '5.857M', '8.818M']
spot of 25.2222 with type <class 'str'>
['Th', '3/23/00', '26.0858', '5.378M', '9.02M']
spot of 26.0858 with type <class 'str'>
['We', '3/22/00', '25.8976', '5.33M', '8.989M']
spot of 25.8976 with type <class 'str'>
['Tu', '3/21/00', '25.1336', '7.334M', '9.141M']
spot of 25.1336 with type <class 'str'>
['Mo', '3/20/00', '25.51', '7.379M', '9.372M']
spot of 25.51 with type <class 'str'>
['Fr', '3/17/00', '24.6243', '13.898M', '9.541M']
spot of 24.6243 with type <class 'str'>
['Th', '3/16/00', '23.5614', '15.344M', '9.124M']
spot of 23.5614 with type <class 'str'>
['We', '3/15/00', '23.3842', '10.594M', '8.604M']
spot of 23.3842 with type <class 'str'>
['Tu', '3/14/00', '24.7571', '6.569M', '8.36M']
spot of 24.7571 with type <class 'str'>
['Mo', '3/13/00', '25.9529', '6.547M', '8.432M']
spot of 25.9529 with type <class 'str'>
['Fr', '3/10/00', '26.0304', '6.598M', '8.743M']
spot of 26.0304 with type <class 'str'>
['Th', '3/9/00', '26.9051', '9.162M', '9.005M']
spot of 26.9051 with type <class 'str'>
['We', '3/8/00', '24.9564', '8.025M', '9.068M']
spot of 24.9564 with type <class 'str'>
['Tu', '3/7/00', '25.3329', '12.071M', '9.084M']
spot of 25.3329 with type <class 'str'>
['Mo', '3/6/00', '25.9529', '12.185M', '8.716M']
spot of 25.9529 with type <class 'str'>
['Fr', '3/3/00', '24.5578', '8.884M', '8.275M']
spot of 24.5578 with type <class 'str'>
['Th', '3/2/00', '23.7385', '4.912M', '8.021M']
spot of 23.7385 with type <class 'str'>
['We', '3/1/00', '23.6721', '7.618M', '8.244M']
spot of 23.6721 with type <class 'str'>
['Tu', '2/29/00', '23.8271', '10.788M', '8.366M']
spot of 23.8271 with type <class 'str'>
['Mo', '2/28/00', '22.8306', '9.919M', '8.485M']
spot of 22.8306 with type <class 'str'>
['Fr', '2/25/00', '22.0777', '7.648M', '8.438M']
spot of 22.0777 with type <class 'str'>
['Th', '2/24/00', '22.9413', '7.542M', '8.457M']
spot of 22.9413 with type <class 'str'>
['We', '2/23/00', '23.1628', '6.932M', '8.41M']
spot of 23.1628 with type <class 'str'>
['Tu', '2/22/00', '22.6756', '7.648M', '8.385M']
spot of 22.6756 with type <class 'str'>
['Fr', '2/18/00', '22.8528', '11.207M', '8.245M']
spot of 22.8528 with type <class 'str'>
['Th', '2/17/00', '22.6756', '10.53M', '7.892M']
spot of 22.6756 with type <class 'str'>
['We', '2/16/00', '23.2071', '10.113M', '7.792M']
spot of 23.2071 with type <class 'str'>
['Tu', '2/15/00', '22.0998', '8.258M', '7.612M']
spot of 22.0998 with type <class 'str'>
['Mo', '2/14/00', '21.7898', '6.556M', '7.545M']
spot of 21.7898 with type <class 'str'>
['Fr', '2/11/00', '21.502', '5.575M', '7.488M']
spot of 21.502 with type <class 'str'>
['Th', '2/10/00', '22.3213', '5.065M', '7.507M']
spot of 22.3213 with type <class 'str'>
['We', '2/9/00', '21.967', '8.26M', '7.58M']
spot of 21.967 with type <class 'str'>
['Tu', '2/8/00', '22.7117', '9.443M', '7.493M']
spot of 22.7117 with type <class 'str'>
['Mo', '2/7/00', '22.7642', '12.576M', '7.294M']
spot of 22.7642 with type <class 'str'>
['Fr', '2/4/00', '20.9041', '9.222M', '6.837M']
spot of 20.9041 with type <class 'str'>
['Th', '2/3/00', '20.1069', '7.933M', '6.576M']
spot of 20.1069 with type <class 'str'>
['We', '2/2/00', '19.5865', '6.835M', '6.489M']
spot of 19.5865 with type <class 'str'>
['Tu', '2/1/00', '18.745', '6.553M', '6.35M']
spot of 18.745 with type <class 'str'>
['Mo', '1/31/00', '19.1768', '5.553M', '6.375M']
spot of 19.1768 with type <class 'str'>
['Fr', '1/28/00', '19.2654', '5.903M', '6.497M']
spot of 19.2654 with type <class 'str'>
['Th', '1/27/00', '19.2211', '9.039M', '6.586M']
spot of 19.2211 with type <class 'str'>
['We', '1/26/00', '19.2654', '7.407M', '6.662M']
spot of 19.2654 with type <class 'str'>
['Tu', '1/25/00', '19.9519', '7.255M', '6.66M']
spot of 19.9519 with type <class 'str'>
['Mo', '1/24/00', '20.0183', '5.695M', '6.733M']
spot of 20.0183 with type <class 'str'>
['Fr', '1/21/00', '20.0404', '5.859M', '6.444M']
spot of 20.0404 with type <class 'str'>
['Th', '1/20/00', '20.5719', '6.166M', '6.33M']
spot of 20.5719 with type <class 'str'>
['We', '1/19/00', '20.5498', '6.96M', '6.211M']
spot of 20.5498 with type <class 'str'>
['Tu', '1/18/00', '20.1179', '6.45M', '5.987M']
spot of 20.1179 with type <class 'str'>
['Fr', '1/14/00', '19.9297', '5.722M', '5.89M']
spot of 19.9297 with type <class 'str'>
['Th', '1/13/00', '19.974', '5.31M', '5.878M']
spot of 19.974 with type <class 'str'>
['We', '1/12/00', '19.9076', '6.624M', '5.805M']
spot of 19.9076 with type <class 'str'>
['Tu', '1/11/00', '19.2322', '4.745M', '5.647M']
spot of 19.2322 with type <class 'str'>
['Mo', '1/10/00', '19.6751', '6.929M', '5.645M']
spot of 19.6751 with type <class 'str'>
['Fr', '1/7/00', '18.4018', '7.395M', '5.806M']
spot of 18.4018 with type <class 'str'>
['Th', '1/6/00', '17.8925', '7.239M', '5.892M']
spot of 17.8925 with type <class 'str'>
['We', '1/5/00', '19.1104', '10.17M', '5.98M']
spot of 19.1104 with type <class 'str'>
['Tu', '1/4/00', '19.2322', '7.38M', '5.844M']
spot of 19.2322 with type <class 'str'>
['Mo', '1/3/00', '20.8044', '8.342M', '5.92M']
spot of 20.8044 with type <class 'str'>
['Fr', '12/31/99', '20.1512', '1.375M', '5.983M']
spot of 20.1512 with type <class 'str'>
['Th', '12/30/99', '20.4169', '4.143M', '6.628M']
spot of 20.4169 with type <class 'str'>
['We', '12/29/99', '20.129', '4.379M', '6.918M']
spot of 20.129 with type <class 'str'>
['Tu', '12/28/99', '19.7194', '3.601M', '7.204M']
spot of 19.7194 with type <class 'str'>
['Mo', '12/27/99', '19.2211', '4.991M', '7.435M']
spot of 19.2211 with type <class 'str'>
['Th', '12/23/99', '19.9519', '5.553M', '7.886M']

spot of 19.9519 with type <class 'str'>
['We', '12/22/99', '18.9443', '4.205M', '8.273M']
spot of 18.9443 with type <class 'str'>
['Tu', '12/21/99', '19.2654', '4.252M', '8.515M']
spot of 19.2654 with type <class 'str'>
['Mo', '12/20/99', '18.7831', '4.718M', '8.766M']
spot of 18.7831 with type <class 'str'>
['Fr', '12/17/99', '18.6454', '9.345M', '8.835M']
spot of 18.6454 with type <class 'str'>
['Th', '12/16/99', '18.889', '8.682M', '8.403M']
spot of 18.889 with type <class 'str'>
['We', '12/15/99', '17.9146', '8.563M', '8.337M']
spot of 17.9146 with type <class 'str'>
['Tu', '12/14/99', '18.3132', '8.132M', '8.303M']
spot of 18.3132 with type <class 'str'>
['Mo', '12/13/99', '19.082', '8.527M', '8.415M']
spot of 19.082 with type <class 'str'>
['Fr', '12/10/99', '19.3097', '9.281M', '8.832M']
spot of 19.3097 with type <class 'str'>
['Th', '12/9/99', '19.5754', '11.045M', '11.071M']
spot of 19.5754 with type <class 'str'>
['We', '12/8/99', '19.4536', '8.497M', '11.153M']
spot of 19.4536 with type <class 'str'>
['Tu', '12/7/99', '18.835', '8.661M', '11.164M']
spot of 18.835 with type <class 'str'>
['Mo', '12/6/99', '18.5464', '7.07M', '11.113M']
spot of 18.5464 with type <class 'str'>
['Fr', '12/3/99', '18.6011', '11.753M', '11.226M']
spot of 18.6011 with type <class 'str'>
['Th', '12/2/99', '17.6717', '11.357M', '10.965M']
spot of 17.6717 with type <class 'str'>
['We', '12/1/99', '17.0953', '7.846M', '11.054M']
spot of 17.0953 with type <class 'str'>
['Tu', '11/30/99', '16.8074', '8.017M', '10.917M']
spot of 16.8074 with type <class 'str'>
['Mo', '11/29/99', '17.0067', '5.756M', '10.713M']
spot of 17.0067 with type <class 'str'>
['Fr', '11/26/99', '16.896', '2.852M', '10.887M']
spot of 16.896 with type <class 'str'>
['We', '11/24/99', '17.2503', '7.69M', '11.281M']
spot of 17.2503 with type <class 'str'>
['Tu', '11/23/99', '16.6635', '8.056M', '11.32M']
spot of 16.6635 with type <class 'str'>
['Mo', '11/22/99', '16.6192', '9.809M', '11.34M']
spot of 16.6192 with type <class 'str'>
['Fr', '11/19/99', '16.586', '14.789M', '11.184M']
spot of 16.586 with type <class 'str'>
['Th', '11/18/99', '16.7078', '42.859M', '10.896M']
spot of 16.7078 with type <class 'str'>
['We', '11/17/99', '14.3494', '12.277M', '9.726M']
spot of 14.3494 with type <class 'str'>
['Tu', '11/16/99', '13.4858', '8.664M', '10.258M']
spot of 13.4858 with type <class 'str'>
['Mo', '11/15/99', '13.22', '7.897M', '10.09M']
spot of 13.22 with type <class 'str'>
['Fr', '11/12/99', '13.5854', '8.769M', '9.942M']
spot of 13.5854 with type <class 'str'>
['Th', '11/11/99', '13.0761', '7.839M', '9.729M']
spot of 13.0761 with type <class 'str'>
['We', '11/10/99', '13.1093', '12.684M', '10.064M']
spot of 13.1093 with type <class 'str'>
['Tu', '11/9/99', '13.7626', '5.791M', '10.343M']
spot of 13.7626 with type <class 'str'>
['Mo', '11/8/99', '14.0615', '4.957M', '11.172M']
spot of 14.0615 with type <class 'str'>
['Fr', '11/5/99', '13.7515', '8.371M', '11.681M']
spot of 13.7515 with type <class 'str'>
['Th', '11/4/99', '13.5854', '8.767M', '11.751M']
spot of 13.5854 with type <class 'str'>
['We', '11/3/99', '12.9986', '8.274M', '11.703M']
spot of 12.9986 with type <class 'str'>
['Tu', '11/2/99', '12.7993', '8.346M', '11.678M']
spot of 12.7993 with type <class 'str'>
['Mo', '11/1/99', '13.22', '7.478M', '11.62M']
spot of 13.22 with type <class 'str'>
['Fr', '10/29/99', '13.1425', '10.463M', '11.534M']
spot of 13.1425 with type <class 'str'>
['Th', '10/28/99', '12.6222', '25.312M', '11.517M']
spot of 12.6222 with type <class 'str'>
['We', '10/27/99', '11.8693', '20.264M', '10.455M']
spot of 11.8693 with type <class 'str'>
['Tu', '10/26/99', '13.5744', '6.141M', '9.898M']
spot of 13.5744 with type <class 'str'>
['Mo', '10/25/99', '13.4858', '5.674M', '10.376M']
spot of 13.4858 with type <class 'str'>
['Fr', '10/22/99', '13.4415', '5.578M', '11.093M']
spot of 13.4415 with type <class 'str'>
['Th', '10/21/99', '13.2865', '12.855M', '11.709M']
spot of 13.2865 with type <class 'str'>
['We', '10/20/99', '13.5633', '16.877M', '11.833M']
spot of 13.5633 with type <class 'str'>
['Tu', '10/19/99', '13.065', '18.227M', '11.48M']
spot of 13.065 with type <class 'str'>
['Mo', '10/18/99', '13.8622', '12.581M', '10.887M']
spot of 13.8622 with type <class 'str'>
['Fr', '10/15/99', '14.6594', '9.426M', '10.545M']
spot of 14.6594 with type <class 'str'>
['Th', '10/14/99', '14.5266', '8.048M', '10.513M']
spot of 14.5266 with type <class 'str'>
['We', '10/13/99', '14.748', '7.905M', '10.526M']
spot of 14.748 with type <class 'str'>
['Tu', '10/12/99', '14.8698', '7.472M', '10.745M']
spot of 14.8698 with type <class 'str'>
['Mo', '10/11/99', '15.6227', '6.183M', '10.801M']
spot of 15.6227 with type <class 'str'>
['Fr', '10/8/99', '15.4898', '10.216M', '10.874M']
spot of 15.4898 with type <class 'str'>
['Th', '10/7/99', '15.5452', '9.382M', '10.912M']
spot of 15.5452 with type <class 'str'>
['We', '10/6/99', '15.7888', '11.903M', '10.951M']
spot of 15.7888 with type <class 'str'>
['Tu', '10/5/99', '14.8144', '13.316M', '10.501M']
spot of 14.8144 with type <class 'str'>
['Mo', '10/4/99', '14.748', '16.432M', '9.953M']
spot of 14.748 with type <class 'str'>
['Fr', '10/1/99', '15.4788', '14.804M', '9.116M']
spot of 15.4788 with type <class 'str'>
['Th', '9/30/99', '16.0766', '14.716M', '8.505M']
spot of 16.0766 with type <class 'str'>
['We', '9/29/99', '15.8109', '11.583M', '7.92M']
spot of 15.8109 with type <class 'str'>
['Tu', '9/28/99', '16.8628', '9.334M', '7.535M']
spot of 16.8628 with type <class 'str'>
['Mo', '9/27/99', '17.0288', '7.461M', '7.248M']
spot of 17.0288 with type <class 'str'>
['Fr', '9/24/99', '17.1174', '8.937M', '7.151M']
spot of 17.1174 with type <class 'str'>
['Th', '9/23/99', '16.7188', '8.244M', '6.818M']
spot of 16.7188 with type <class 'str'>
['We', '9/22/99', '17.4828', '11.19M', '6.541M']
spot of 17.4828 with type <class 'str'>
['Tu', '9/21/99', '17.6046', '8.313M', '6.265M']
spot of 17.6046 with type <class 'str'>
['Mo', '9/20/99', '18.435', '7.285M', '5.947M']
spot of 18.435 with type <class 'str'>
['Fr', '9/17/99', '17.8592', '10.785M', '5.866M']
spot of 17.8592 with type <class 'str'>
['Th', '9/16/99', '18.4129', '9.959M', '5.557M']
spot of 18.4129 with type <class 'str'>
['We', '9/15/99', '19.2211', '5.159M', '5.235M']
spot of 19.2211 with type <class 'str'>
['Tu', '9/14/99', '19.6308', '5.096M', '5.281M']
spot of 19.6308 with type <class 'str'>
['Mo', '9/13/99', '19.6418', '3.881M', '5.34M']
spot of 19.6418 with type <class 'str'>
['Fr', '9/10/99', '19.8854', '5.626M', '5.444M']
spot of 19.8854 with type <class 'str'>
['Th', '9/9/99', '20.1844', '5.942M', '5.56M']
spot of 20.1844 with type <class 'str'>
['We', '9/8/99', '19.4536', '5.82M', '5.736M']
spot of 19.4536 with type <class 'str'>
['Tu', '9/7/99', '19.354', '5.019M', '6.235M']
spot of 19.354 with type <class 'str'>
['Fr', '9/3/99', '19.4149', '6.009M', '6.379M']
spot of 19.4149 with type <class 'str'>
['Th', '9/2/99', '18.59', '3.946M', '6.601M']
spot of 18.59 with type <class 'str'>
['We', '9/1/99', '18.6011', '4.089M', '6.879M']
spot of 18.6011 with type <class 'str'>
['Tu', '8/31/99', '18.6675', '7.043M', '6.989M']
spot of 18.6675 with type <class 'str'>
['Mo', '8/30/99', '18.2136', '3.548M', '6.967M']
spot of 18.2136 with type <class 'str'>
['Fr', '8/27/99', '18.5346', '6.076M', '7.176M']
spot of 18.5346 with type <class 'str'>
['Th', '8/26/99', '18.1803', '6.144M', '7.237M']
spot of 18.1803 with type <class 'str'>
['We', '8/25/99', '18.6121', '5.134M', '7.32M']
spot of 18.6121 with type <class 'str'>
['Tu', '8/24/99', '18.8557', '5.849M', '7.577M']
spot of 18.8557 with type <class 'str'>
['Mo', '8/23/99', '18.6011', '5.976M', '7.717M']
spot of 18.6011 with type <class 'str'>
['Fr', '8/20/99', '18.5789', '5.437M', '7.605M']
spot of 18.5789 with type <class 'str'>
['Th', '8/19/99', '18.1139', '7.361M', '7.558M']
spot of 18.1139 with type <class 'str'>
['We', '8/18/99', '18.136', '8.592M', '7.404M']
spot of 18.136 with type <class 'str'>
['Tu', '8/17/99', '18.5125', '13.301M', '7.13M']
spot of 18.5125 with type <class 'str'>
['Mo', '8/16/99', '19.5311', '7.18M', '6.65M']
spot of 19.5311 with type <class 'str'>
['Fr', '8/13/99', '18.7782', '9.341M', '6.442M']
spot of 18.7782 with type <class 'str'>
['Th', '8/12/99', '18.2578', '8.107M', '6.287M']
spot of 18.2578 with type <class 'str'>
['We', '8/11/99', '19.3761', '5.752M', '6.324M']
spot of 19.3761 with type <class 'str'>
['Tu', '8/10/99', '18.9', '6.711M', '6.394M']
spot of 18.9 with type <class 'str'>
['Mo', '8/9/99', '19.0772', '6.675M', '6.551M']
spot of 19.0772 with type <class 'str'>
['Fr', '8/6/99', '19.664', '6.999M', '6.751M']
spot of 19.664 with type <class 'str'>
['Th', '8/5/99', '20.1955', '7.391M', '6.843M']
spot of 20.1955 with type <class 'str'>
['We', '8/4/99', '19.5311', '8.977M', '6.846M']
spot of 19.5311 with type <class 'str'>
['Tu', '8/3/99', '19.2211', '7.954M', '6.668M']
spot of 19.2211 with type <class 'str'>
['Mo', '8/2/99', '18.5568', '4.297M', '6.476M']
spot of 18.5568 with type <class 'str'>
['Fr', '7/30/99', '18.5457', '4.736M', '6.462M']
spot of 18.5457 with type <class 'str'>
['Th', '7/29/99', '18.8668', '5.043M', '6.471M']
spot of 18.8668 with type <class 'str'>
['We', '7/28/99', '19.4758', '4.487M', '6.887M']
spot of 19.4758 with type <class 'str'>
['Tu', '7/27/99', '19.354', '6.105M', '6.859M']
spot of 19.354 with type <class 'str'>
['Mo', '7/26/99', '18.7229', '4.059M', '6.69M']
spot of 18.7229 with type <class 'str'>
['Fr', '7/23/99', '19.0882', '7.009M', '6.678M']
spot of 19.0882 with type <class 'str'>
['Th', '7/22/99', '18.6454', '8.66M', '6.646M']
spot of 18.6454 with type <class 'str'>
['We', '7/21/99', '19.9408', '6.809M', '6.59M']
spot of 19.9408 with type <class 'str'>
['Tu', '7/20/99', '19.5976', '9.058M', '6.499M']
spot of 19.5976 with type <class 'str'>
['Mo', '7/19/99', '20.594', '9.678M', '6.399M']
spot of 20.594 with type <class 'str'>
['Fr', '7/16/99', '20.1955', '8.383M', '5.946M']
spot of 20.1955 with type <class 'str'>
['Th', '7/15/99', '20.0183', '7.43M', '5.656M']
spot of 20.0183 with type <class 'str'>
['We', '7/14/99', '19.21', '6.31M', '5.429M']
spot of 19.21 with type <class 'str'>
['Tu', '7/13/99', '19.365', '5.078M', '5.511M']
spot of 19.365 with type <class 'str'>
['Mo', '7/12/99', '18.9775', '4.077M', '5.494M']
spot of 18.9775 with type <class 'str'>
['Fr', '7/9/99', '18.9', '4.872M', '5.639M']
spot of 18.9 with type <class 'str'>
['Th', '7/8/99', '18.745', '11.284M', '5.673M']
spot of 18.745 with type <class 'str'>
['We', '7/7/99', '17.5935', '4.066M', '5.308M']
spot of 17.5935 with type <class 'str'>
['Tu', '7/6/99', '17.7817', '3.581M', '5.426M']
spot of 17.7817 with type <class 'str'>
['Fr', '7/2/99', '18.0253', '3.878M', '5.571M']
spot of 18.0253 with type <class 'str'>
['Th', '7/1/99', '18.0696', '6.526M', '5.614M']
spot of 18.0696 with type <class 'str'>
['We', '6/30/99', '17.8039', '7.818M', '5.466M']
spot of 17.8039 with type <class 'str'>
['Tu', '6/29/99', '17.2503', '5.447M', '5.157M']
spot of 17.2503 with type <class 'str'>
['Mo', '6/28/99', '17.2503', '7.551M', '5.08M']
spot of 17.2503 with type <class 'str'>
['Fr', '6/25/99', '16.4088', '2.891M', '4.906M']
spot of 16.4088 with type <class 'str'>
['Th', '6/24/99', '16.0988', '4.031M', '4.982M']
spot of 16.0988 with type <class 'str'>
['We', '6/23/99', '16.4642', '4.028M', '5.082M']
spot of 16.4642 with type <class 'str'>
['Tu', '6/22/99', '16.4974', '7.538M', '5.271M']
spot of 16.4974 with type <class 'str'>
['Mo', '6/21/99', '16.6302', '4.822M', '5.314M']
spot of 16.6302 with type <class 'str'>
['Fr', '6/18/99', '16.287', '6.251M', '5.366M']
spot of 16.287 with type <class 'str'>
['Th', '6/17/99', '15.822', '5.389M', '5.367M']
spot of 15.822 with type <class 'str'>
['We', '6/16/99', '16.0766', '5.805M', '5.532M']
spot of 16.0766 with type <class 'str'>
['Tu', '6/15/99', '15.3127', '5.83M', '5.645M']
spot of 15.3127 with type <class 'str'>
['Mo', '6/14/99', '15.213', '5.765M', '5.864M']
spot of 15.213 with type <class 'str'>
['Fr', '6/11/99', '15.6559', '4.512M', '5.973M']
spot of 15.6559 with type <class 'str'>
['Th', '6/10/99', '16.4752', '4.312M', '6.325M']
spot of 16.4752 with type <class 'str'>
['We', '6/9/99', '16.4199', '3.183M', '7.184M']
spot of 16.4199 with type <class 'str'>
['Tu', '6/8/99', '16.0434', '4.297M', '8.949M']
spot of 16.0434 with type <class 'str'>
['Mo', '6/7/99', '16.6524', '4.934M', '9.127M']
spot of 16.6524 with type <class 'str'>
['Fr', '6/4/99', '16.0324', '4.034M', '9.384M']
spot of 16.0324 with type <class 'str'>
['Th', '6/3/99', '16.1984', '5.529M', '10.016M']
spot of 16.1984 with type <class 'str'>
['We', '6/2/99', '15.8995', '6.872M', '10.231M']
spot of 15.8995 with type <class 'str'>
['Tu', '6/1/99', '15.9659', '8.171M', '10.084M']
spot of 15.9659 with type <class 'str'>
['Fr', '5/28/99', '16.7078', '5.613M', '9.959M']
spot of 16.7078 with type <class 'str'>
['Th', '5/27/99', '16.4088', '6.256M', '9.818M']
spot of 16.4088 with type <class 'str'>
['We', '5/26/99', '16.5638', '7.871M', '9.716M']
spot of 16.5638 with type <class 'str'>
['Tu', '5/25/99', '15.8552', '7.492M', '9.486M']
spot of 15.8552 with type <class 'str'>
['Mo', '5/24/99', '15.9438', '9.116M', '9.244M']
spot of 15.9438 with type <class 'str'>
['Fr', '5/21/99', '16.6302', '7.406M', '8.961M']
spot of 16.6302 with type <class 'str'>
['Th', '5/20/99', '16.6524', '9.793M', '8.874M']
spot of 16.6524 with type <class 'str'>
['We', '5/19/99', '16.6192', '17.198M', '8.639M']
spot of 16.6192 with type <class 'str'>
['Tu', '5/18/99', '17.0067', '29.657M', '7.868M']
spot of 17.0067 with type <class 'str'>
['Mo', '5/17/99', '15.7223', '6.963M', '6.496M']
spot of 15.7223 with type <class 'str'>
['Fr', '5/14/99', '14.9141', '8.788M', '6.46M']
spot of 14.9141 with type <class 'str'>
['Th', '5/13/99', '15.4123', '13.522M', '6.277M']
spot of 15.4123 with type <class 'str'>
['We', '5/12/99', '14.748', '8.749M', '6.078M']
spot of 14.748 with type <class 'str'>
['Tu', '5/11/99', '14.2719', '4.665M', '5.774M']
spot of 14.2719 with type <class 'str'>
['Mo', '5/10/99', '14.2387', '6.29M', '5.845M']
spot of 14.2387 with type <class 'str'>
['Fr', '5/7/99', '14.1612', '3.501M', '5.921M']
spot of 14.1612 with type <class 'str'>
['Th', '5/6/99', '13.6961', '4.733M', '6.005M']
spot of 13.6961 with type <class 'str'>
['We', '5/5/99', '14.2165', '4.416M', '6.159M']
spot of 14.2165 with type <class 'str'>
['Tu', '5/4/99', '14.0837', '3.865M', '6.307M']
spot of 14.0837 with type <class 'str'>
['Mo', '5/3/99', '14.1612', '4.872M', '6.744M']
spot of 14.1612 with type <class 'str'>
['Fr', '4/30/99', '13.973', '6.1M', '7.108M']
spot of 13.973 with type <class 'str'>
['Th', '4/29/99', '13.8844', '6.258M', '6.948M']
spot of 13.8844 with type <class 'str'>
['We', '4/28/99', '14.0505', '5.645M', '6.846M']
spot of 14.0505 with type <class 'str'>
['Tu', '4/27/99', '14.1944', '9.074M', '6.835M']
spot of 14.1944 with type <class 'str'>
['Mo', '4/26/99', '14.0837', '6.42M', '6.551M']
spot of 14.0837 with type <class 'str'>
['Fr', '4/23/99', '13.6629', '6.048M', '6.513M']
spot of 13.6629 with type <class 'str'>
['Th', '4/22/99', '13.5744', '10.532M', '6.408M']
spot of 13.5744 with type <class 'str'>
['We', '4/21/99', '13.3086', '4.192M', '6.043M']
spot of 13.3086 with type <class 'str'>
['Tu', '4/20/99', '12.6443', '5.729M', '6.006M']
spot of 12.6443 with type <class 'str'>
['Mo', '4/19/99', '12.6443', '7.435M', '5.873M']
spot of 12.6443 with type <class 'str'>
['Fr', '4/16/99', '12.4671', '4.747M', '5.658M']
spot of 12.4671 with type <class 'str'>
['Th', '4/15/99', '12.5336', '7.055M', '5.681M']
spot of 12.5336 with type <class 'str'>
['We', '4/14/99', '12.5779', '6.628M', '5.632M']
spot of 12.5779 with type <class 'str'>
['Tu', '4/13/99', '12.5447', '10.424M', '5.591M']
spot of 12.5447 with type <class 'str'>
['Mo', '4/12/99', '12.1128', '10.331M', '5.232M']
spot of 12.1128 with type <class 'str'>
['Fr', '4/9/99', '12.3343', '3.703M', '5.111M']
spot of 12.3343 with type <class 'str'>
['Th', '4/8/99', '12.6332', '4.733M', '5.346M']
spot of 12.6332 with type <class 'str'>
['We', '4/7/99', '12.3564', '5.468M', '5.338M']
spot of 12.3564 with type <class 'str'>
['Tu', '4/6/99', '12.4007', '4.821M', '5.44M']
spot of 12.4007 with type <class 'str'>
['Mo', '4/5/99', '12.6554', '5.848M', '5.452M']
spot of 12.6554 with type <class 'str'>
['Th', '4/1/99', '12.0243', '4.466M', '5.349M']
spot of 12.0243 with type <class 'str'>
['We', '3/31/99', '12.0132', '5.058M', '5.409M']
spot of 12.0132 with type <class 'str'>
['Tu', '3/30/99', '12.2236', '3.639M', '5.417M']
spot of 12.2236 with type <class 'str'>
['Mo', '3/29/99', '12.3343', '3.742M', '5.673M']
spot of 12.3343 with type <class 'str'>
['Fr', '3/26/99', '12.1682', '4.207M', '5.84M']
spot of 12.1682 with type <class 'str'>
['Th', '3/25/99', '11.98', '5.085M', '6.111M']
spot of 11.98 with type <class 'str'>
['We', '3/24/99', '11.9246', '6.325M', '6.365M']
spot of 11.9246 with type <class 'str'>
['Tu', '3/23/99', '11.9025', '6.017M', '6.608M']
spot of 11.9025 with type <class 'str'>
['Mo', '3/22/99', '12.2236', '5.04M', '7.407M']
spot of 12.2236 with type <class 'str'>
['Fr', '3/19/99', '12.5557', '8.514M', '7.667M']
spot of 12.5557 with type <class 'str'>
['Th', '3/18/99', '13.1093', '7.233M', '7.74M']
spot of 13.1093 with type <class 'str'>
['We', '3/17/99', '12.9654', '4.611M', '7.662M']
spot of 12.9654 with type <class 'str'>
['Tu', '3/16/99', '12.8768', '6.987M', '7.717M']
spot of 12.8768 with type <class 'str'>
['Mo', '3/15/99', '12.6775', '5.006M', '7.687M']
spot of 12.6775 with type <class 'str'>
['Fr', '3/12/99', '12.2236', '4.309M', '7.941M']
spot of 12.2236 with type <class 'str'>
['Th', '3/11/99', '12.1903', '5.365M', '8.115M']

spot of 12.1903 with type <class 'str'>
['We', '3/10/99', '12.1571', '5.167M', '8.366M']
spot of 12.1571 with type <class 'str'>
['Tu', '3/9/99', '11.9911', '7.486M', '8.893M']
spot of 11.9911 with type <class 'str'>
['Mo', '3/8/99', '12.3786', '6.249M', '9.011M']
spot of 12.3786 with type <class 'str'>
['Fr', '3/5/99', '12.0686', '8.275M', '9.341M']
spot of 12.0686 with type <class 'str'>
['Th', '3/4/99', '11.9468', '8.884M', '9.312M']
spot of 11.9468 with type <class 'str'>
['We', '3/3/99', '12.1903', '9.981M', '9.098M']
spot of 12.1903 with type <class 'str'>
['Tu', '3/2/99', '12.1571', '17.996M', '8.886M']
spot of 12.1571 with type <class 'str'>
['Mo', '3/1/99', '11.67', '8.941M', '8.083M']
spot of 11.67 with type <class 'str'>
['Fr', '2/26/99', '11.7696', '9.611M', '8.231M']
spot of 11.7696 with type <class 'str'>
['Th', '2/25/99', '12.6111', '6.066M', '8.104M']
spot of 12.6111 with type <class 'str'>
['We', '2/24/99', '12.5336', '5.426M', '8.125M']
spot of 12.5336 with type <class 'str'>
['Tu', '2/23/99', '12.9543', '6.536M', '8.587M']
spot of 12.9543 with type <class 'str'>
['Mo', '2/22/99', '13.0872', '8.822M', '9.29M']
spot of 13.0872 with type <class 'str'>
['Fr', '2/19/99', '12.1018', '6.917M', '9.607M']
spot of 12.1018 with type <class 'str'>
['Th', '2/18/99', '12.0353', '9.128M', '9.542M']
spot of 12.0353 with type <class 'str'>
['We', '2/17/99', '12.0686', '13.073M', '9.352M']
spot of 12.0686 with type <class 'str'>
['Tu', '2/16/99', '12.4893', '9.263M', '8.879M']
spot of 12.4893 with type <class 'str'>
['Fr', '2/12/99', '13.5411', '11.2M', '8.617M']
spot of 13.5411 with type <class 'str'>
['Th', '2/11/99', '13.3308', '7.829M', '8.15M']
spot of 13.3308 with type <class 'str'>
['We', '2/10/99', '12.8215', '5.682M', '8.013M']
spot of 12.8215 with type <class 'str'>
['Tu', '2/9/99', '12.5114', '6.8M', '8.235M']
spot of 12.5114 with type <class 'str'>
['Mo', '2/8/99', '12.7329', '5.948M', '8.191M']
spot of 12.7329 with type <class 'str'>
['Fr', '2/5/99', '12.744', '11.164M', '8.134M']
spot of 12.744 with type <class 'str'>
['Th', '2/4/99', '13.3529', '7.705M', '7.848M']
spot of 13.3529 with type <class 'str'>
['We', '2/3/99', '13.9065', '6.384M', '7.773M']
spot of 13.9065 with type <class 'str'>
['Tu', '2/2/99', '13.6519', '12.353M', '7.645M']
spot of 13.6519 with type <class 'str'>
['Mo', '2/1/99', '14.5155', '17.081M', '7.147M']
spot of 14.5155 with type <class 'str'>
['Fr', '1/29/99', '13.8844', '13.571M', '6.561M']
spot of 13.8844 with type <class 'str'>
['Th', '1/28/99', '13.0872', '5.953M', '6.133M']
spot of 13.0872 with type <class 'str'>
['We', '1/27/99', '12.8215', '6.272M', '6.525M']
spot of 12.8215 with type <class 'str'>
['Tu', '1/26/99', '12.8657', '5.986M', '6.454M']
spot of 12.8657 with type <class 'str'>
['Mo', '1/25/99', '12.6443', '5.326M', '6.497M']
spot of 12.6443 with type <class 'str'>
['Fr', '1/22/99', '12.3343', '4.203M', '6.342M']
spot of 12.3343 with type <class 'str'>
['Th', '1/21/99', '12.4339', '5.773M', '6.484M']
spot of 12.4339 with type <class 'str'>
['We', '1/20/99', '12.7107', '9.003M', '6.36M']
spot of 12.7107 with type <class 'str'>
['Tu', '1/19/99', '12.3121', '6.136M', '6.086M']
spot of 12.3121 with type <class 'str'>
['Fr', '1/15/99', '12.4893', '5.098M', '5.833M']
spot of 12.4893 with type <class 'str'>
['Th', '1/14/99', '12.4339', '6.871M', '5.847M']
spot of 12.4339 with type <class 'str'>
['We', '1/13/99', '12.6664', '6.583M', '5.65M']
spot of 12.6664 with type <class 'str'>
['Tu', '1/12/99', '12.4782', '4.46M', '5.567M']
spot of 12.4782 with type <class 'str'>
['Mo', '1/11/99', '12.755', '4.894M', '5.71M']
spot of 12.755 with type <class 'str'>
['Fr', '1/8/99', '12.9432', '8.28M', '5.612M']
spot of 12.9432 with type <class 'str'>
['Th', '1/7/99', '12.91', '7.153M', '5.322M']
spot of 12.91 with type <class 'str'>
['We', '1/6/99', '12.6886', '11.836M', '5.193M']
spot of 12.6886 with type <class 'str'>
['Tu', '1/5/99', '12.3454', '5.21M', '4.717M']
spot of 12.3454 with type <class 'str'>
['Mo', '1/4/99', '12.2125', '6.626M', '4.649M']
spot of 12.2125 with type <class 'str'>
['Th', '12/31/98', '12.1018', '3.012M', '4.585M']
spot of 12.1018 with type <class 'str'>
['We', '12/30/98', '12.3896', '6.325M', '4.639M']
spot of 12.3896 with type <class 'str'>
['Tu', '12/29/98', '12.0907', '3.909M', '4.8M']
spot of 12.0907 with type <class 'str'>
['Mo', '12/28/98', '12.2457', '4.9M', '4.832M']
spot of 12.2457 with type <class 'str'>
['Th', '12/24/98', '12.0243', '2.333M', '4.872M']
spot of 12.0243 with type <class 'str'>
['We', '12/23/98', '12.0132', '5.32M', '5.158M']
spot of 12.0132 with type <class 'str'>
['Tu', '12/22/98', '11.7032', '3.91M', '5.409M']
spot of 11.7032 with type <class 'str'>
['Mo', '12/21/98', '11.7032', '5.336M', '5.664M']
spot of 11.7032 with type <class 'str'>
['Fr', '12/18/98', '11.6589', '6.613M', '5.784M']
spot of 11.6589 with type <class 'str'>
['Th', '12/17/98', '11.6146', '3.423M', '5.468M']
spot of 11.6146 with type <class 'str'>
['We', '12/16/98', '11.4817', '3.924M', '5.542M']
spot of 11.4817 with type <class 'str'>
['Tu', '12/15/98', '11.67', '5.213M', '5.986M']
spot of 11.67 with type <class 'str'>
['Mo', '12/14/98', '11.2492', '4.704M', '6.565M']
spot of 11.2492 with type <class 'str'>
['Fr', '12/11/98', '11.5925', '4.181M', '7.102M']
spot of 11.5925 with type <class 'str'>
['Th', '12/10/98', '11.3046', '5.672M', '7.528M']
spot of 11.3046 with type <class 'str'>
['We', '12/9/98', '11.7032', '3.827M', '7.806M']
spot of 11.7032 with type <class 'str'>
['Tu', '12/8/98', '11.7364', '8.733M', '9.247M']
spot of 11.7364 with type <class 'str'>
['Mo', '12/7/98', '11.4485', '4.387M', '9.416M']
spot of 11.4485 with type <class 'str'>
['Fr', '12/4/98', '11.2714', '5.51M', '9.527M']
spot of 11.2714 with type <class 'str'>
['Th', '12/3/98', '11.0167', '6.61M', '9.496M']
spot of 11.0167 with type <class 'str'>
['We', '12/2/98', '11.2271', '9.084M', '9.81M']
spot of 11.2271 with type <class 'str'>
['Tu', '12/1/98', '11.0167', '7.746M', '9.801M']
spot of 11.0167 with type <class 'str'>
['Mo', '11/30/98', '11.0831', '7.137M', '9.582M']
spot of 11.0831 with type <class 'str'>
['Fr', '11/27/98', '11.0167', '1.874M', '9.442M']
spot of 11.0167 with type <class 'str'>
['We', '11/25/98', '11.0942', '4.532M', '9.674M']
spot of 11.0942 with type <class 'str'>
['Tu', '11/24/98', '11.1606', '10.573M', '9.999M']
spot of 11.1606 with type <class 'str'>
['Mo', '11/23/98', '10.9171', '13.9M', '9.554M']
spot of 10.9171 with type <class 'str'>
['Fr', '11/20/98', '10.2417', '12.762M', '8.949M']
spot of 10.2417 with type <class 'str'>
['Th', '11/19/98', '10.4631', '10.569M', '8.536M']
spot of 10.4631 with type <class 'str'>
['We', '11/18/98', '10.596', '9.847M', '8.252M']
spot of 10.596 with type <class 'str'>
['Tu', '11/17/98', '10.6403', '25.433M', '7.881M']
spot of 10.6403 with type <class 'str'>
['Mo', '11/16/98', '11.7142', '11.271M', '6.582M']
spot of 11.7142 with type <class 'str'>
['Fr', '11/13/98', '11.5592', '6.065M', '6.093M']
spot of 11.5592 with type <class 'str'>
['Th', '11/12/98', '11.5371', '5.044M', '6M']
spot of 11.5371 with type <class 'str'>
['We', '11/11/98', '11.6257', '11.316M', '6.034M']
spot of 11.6257 with type <class 'str'>
['Tu', '11/10/98', '11.2935', '8.947M', '5.844M']
spot of 11.2935 with type <class 'str'>
['Mo', '11/9/98', '11.1385', '4.463M', '5.662M']
spot of 11.1385 with type <class 'str'>
['Fr', '11/6/98', '11.2049', '5.038M', '5.629M']
spot of 11.2049 with type <class 'str'>
['Th', '11/5/98', '11.1164', '5.351M', '5.833M']
spot of 11.1164 with type <class 'str'>
['We', '11/4/98', '11.1606', '9.409M', '6.004M']
spot of 11.1606 with type <class 'str'>
['Tu', '11/3/98', '10.607', '3.89M', '5.883M']
spot of 10.607 with type <class 'str'>
['Mo', '11/2/98', '10.7399', '4.823M', '5.973M']
spot of 10.7399 with type <class 'str'>
['Fr', '10/30/98', '10.6735', '6.576M', '6.033M']
spot of 10.6735 with type <class 'str'>
['Th', '10/29/98', '10.596', '6.303M', '6.046M']
spot of 10.596 with type <class 'str'>
['We', '10/28/98', '10.3524', '4.281M', '6.191M']
spot of 10.3524 with type <class 'str'>
['Tu', '10/27/98', '10.1974', '5.957M', '6.388M']
spot of 10.1974 with type <class 'str'>
['Mo', '10/26/98', '10.2195', '3.931M', '6.375M']
spot of 10.2195 with type <class 'str'>
['Fr', '10/23/98', '10.2638', '4.673M', '6.799M']
spot of 10.2638 with type <class 'str'>
['Th', '10/22/98', '10.2417', '5.555M', '7.055M']
spot of 10.2417 with type <class 'str'>
['We', '10/21/98', '10.1088', '8.459M', '7.185M']
spot of 10.1088 with type <class 'str'>
['Tu', '10/20/98', '9.7434', '6.226M', '7.01M']
spot of 9.7434 with type <class 'str'>
['Mo', '10/19/98', '9.5773', '3.959M', '6.876M']
spot of 9.5773 with type <class 'str'>
['Fr', '10/16/98', '9.5663', '8.101M', '7.025M']
spot of 9.5663 with type <class 'str'>
['Th', '10/15/98', '9.2009', '7.916M', '6.844M']
spot of 9.2009 with type <class 'str'>
['We', '10/14/98', '8.8134', '7.597M', '6.812M']
spot of 8.8134 with type <class 'str'>
['Tu', '10/13/98', '9.1345', '5.246M', '6.998M']
spot of 9.1345 with type <class 'str'>
['Mo', '10/12/98', '9.1898', '5.717M', '7.065M']
spot of 9.1898 with type <class 'str'>
['Fr', '10/9/98', '8.7802', '6.768M', '7.005M']
spot of 8.7802 with type <class 'str'>
['Th', '10/8/98', '8.7137', '8.475M', '6.938M']
spot of 8.7137 with type <class 'str'>
['We', '10/7/98', '8.7691', '7.246M', '6.692M']
spot of 8.7691 with type <class 'str'>
['Tu', '10/6/98', '8.8355', '5.759M', '6.557M']
spot of 8.8355 with type <class 'str'>
['Mo', '10/5/98', '8.7137', '10.284M', '6.529M']
spot of 8.7137 with type <class 'str'>
['Fr', '10/2/98', '8.8134', '8.516M', '6.234M']
spot of 8.8134 with type <class 'str'>
['Th', '10/1/98', '8.8798', '7.507M', '6.259M']
spot of 8.8798 with type <class 'str'>
['We', '9/30/98', '9.378', '5.837M', '6.53M']
spot of 9.378 with type <class 'str'>
['Tu', '9/29/98', '9.8099', '4.216M', '6.506M']
spot of 9.8099 with type <class 'str'>
['Mo', '9/28/98', '9.7323', '6.193M', '6.655M']
spot of 9.7323 with type <class 'str'>
['Fr', '9/25/98', '9.5995', '5.379M', '6.632M']
spot of 9.5995 with type <class 'str'>
['Th', '9/24/98', '9.4555', '7.447M', '6.747M']
spot of 9.4555 with type <class 'str'>
['We', '9/23/98', '9.5109', '10.385M', '6.647M']
spot of 9.5109 with type <class 'str'>
['Tu', '9/22/98', '8.9794', '6.248M', '6.547M']
spot of 8.9794 with type <class 'str'>
['Mo', '9/21/98', '9.1898', '4.81M', '6.802M']
spot of 9.1898 with type <class 'str'>
['Fr', '9/18/98', '9.0459', '5.768M', '7.029M']
spot of 9.0459 with type <class 'str'>
['Th', '9/17/98', '8.9462', '4.783M', '7.248M']
spot of 8.9462 with type <class 'str'>
['We', '9/16/98', '9.1677', '5.231M', '7.287M']
spot of 9.1677 with type <class 'str'>
['Tu', '9/15/98', '9.1677', '5.33M', '7.366M']
spot of 9.1677 with type <class 'str'>
['Mo', '9/14/98', '9.0016', '5.856M', '7.386M']
spot of 9.0016 with type <class 'str'>
['Fr', '9/11/98', '8.8577', '8.891M', '7.548M']
spot of 8.8577 with type <class 'str'>
['Th', '9/10/98', '8.6805', '11.57M', '7.357M']
spot of 8.6805 with type <class 'str'>
['We', '9/9/98', '9.3338', '5.49M', '7.119M']
spot of 9.3338 with type <class 'str'>
['Tu', '9/8/98', '9.3227', '6.445M', '7.824M']
spot of 9.3227 with type <class 'str'>
['Fr', '9/4/98', '8.9352', '5.848M', '7.842M']
spot of 8.9352 with type <class 'str'>
['Th', '9/3/98', '8.8577', '7.106M', '7.769M']
spot of 8.8577 with type <class 'str'>
['We', '9/2/98', '8.8798', '5.943M', '7.66M']
spot of 8.8798 with type <class 'str'>
['Tu', '9/1/98', '8.8798', '8.887M', '7.824M']
spot of 8.8798 with type <class 'str'>
['Mo', '8/31/98', '8.603', '10.073M', '7.952M']
spot of 8.603 with type <class 'str'>
['Fr', '8/28/98', '9.1234', '8.217M', '7.631M']
spot of 9.1234 with type <class 'str'>
['Th', '8/27/98', '9.1787', '9.051M', '7.668M']
spot of 9.1787 with type <class 'str'>
['We', '8/26/98', '9.6991', '5.36M', '7.57M']
spot of 9.6991 with type <class 'str'>
['Tu', '8/25/98', '9.7323', '6.421M', '7.796M']
spot of 9.7323 with type <class 'str'>
['Mo', '8/24/98', '9.5884', '5.625M', '8.104M']
spot of 9.5884 with type <class 'str'>
['Fr', '8/21/98', '9.7213', '8.298M', '8.123M']
spot of 9.7213 with type <class 'str'>
['Th', '8/20/98', '9.9206', '6.013M', '7.974M']
spot of 9.9206 with type <class 'str'>
['We', '8/19/98', '9.8984', '8.001M', '7.879M']
spot of 9.8984 with type <class 'str'>
['Tu', '8/18/98', '10.0977', '16.068M', '7.656M']
spot of 10.0977 with type <class 'str'>
['Mo', '8/17/98', '9.7877', '6.71M', '6.938M']
spot of 9.7877 with type <class 'str'>
['Fr', '8/14/98', '9.3448', '4.753M', '6.802M']
spot of 9.3448 with type <class 'str'>
['Th', '8/13/98', '9.1234', '5.478M', '6.918M']
spot of 9.1234 with type <class 'str'>
['We', '8/12/98', '9.212', '8.41M', '7.225M']
spot of 9.212 with type <class 'str'>
['Tu', '8/11/98', '8.8798', '10.803M', '8.278M']
spot of 8.8798 with type <class 'str'>
['Mo', '8/10/98', '9.0791', '5.254M', '8.251M']
spot of 9.0791 with type <class 'str'>
['Fr', '8/7/98', '9.1234', '8.779M', '8.402M']
spot of 9.1234 with type <class 'str'>
['Th', '8/6/98', '9.3005', '7.572M', '8.2M']
spot of 9.3005 with type <class 'str'>
['We', '8/5/98', '9.3559', '8.762M', '8.045M']
spot of 9.3559 with type <class 'str'>
['Tu', '8/4/98', '9.212', '11.027M', '7.933M']
spot of 9.212 with type <class 'str'>
['Mo', '8/3/98', '9.677', '5.915M', '7.5M']
spot of 9.677 with type <class 'str'>
['Fr', '7/31/98', '9.832', '6.071M', '7.435M']
spot of 9.832 with type <class 'str'>
['Th', '7/30/98', '10.142', '4.579M', '7.402M']
spot of 10.142 with type <class 'str'>
['We', '7/29/98', '10.0092', '4.657M', '7.606M']
spot of 10.0092 with type <class 'str'>
['Tu', '7/28/98', '10.142', '5.303M', '7.711M']
spot of 10.142 with type <class 'str'>
['Mo', '7/27/98', '10.1752', '4.664M', '7.771M']
spot of 10.1752 with type <class 'str'>
['Fr', '7/24/98', '10.1309', '6.49M', '7.811M']
spot of 10.1309 with type <class 'str'>
['Th', '7/23/98', '10.1752', '10.084M', '7.796M']
spot of 10.1752 with type <class 'str'>
['We', '7/22/98', '9.8099', '24.217M', '7.71M']
spot of 9.8099 with type <class 'str'>
['Tu', '7/21/98', '10.2527', '10.392M', '6.618M']
spot of 10.2527 with type <class 'str'>
['Mo', '7/20/98', '10.9171', '7.513M', '6.255M']
spot of 10.9171 with type <class 'str'>
['Fr', '7/17/98', '10.6181', '5.757M', '6.017M']
spot of 10.6181 with type <class 'str'>
['Th', '7/16/98', '10.5295', '5.251M', '6.18M']
spot of 10.5295 with type <class 'str'>
['We', '7/15/98', '10.4742', '7.077M', '6.3M']
spot of 10.4742 with type <class 'str'>
['Tu', '7/14/98', '10.4963', '4.524M', '6.324M']
spot of 10.4963 with type <class 'str'>
['Mo', '7/13/98', '10.6513', '4.951M', '6.401M']
spot of 10.6513 with type <class 'str'>
['Fr', '7/10/98', '10.3745', '5.573M', '6.743M']
spot of 10.3745 with type <class 'str'>
['Th', '7/9/98', '10.5517', '7.631M', '7.293M']
spot of 10.5517 with type <class 'str'>
['We', '7/8/98', '10.7953', '6.236M', '7.716M']
spot of 10.7953 with type <class 'str'>
['Tu', '7/7/98', '10.3413', '6.206M', '7.841M']
spot of 10.3413 with type <class 'str'>
['Mo', '7/6/98', '10.1199', '5.265M', '7.814M']
spot of 10.1199 with type <class 'str'>
['Th', '7/2/98', '10.1531', '6.269M', '7.882M']
spot of 10.1531 with type <class 'str'>
['We', '7/1/98', '10.3081', '8.781M', '7.961M']
spot of 10.3081 with type <class 'str'>
['Tu', '6/30/98', '10.607', '7.849M', '7.591M']
spot of 10.607 with type <class 'str'>
['Mo', '6/29/98', '10.9392', '4.939M', '7.321M']
spot of 10.9392 with type <class 'str'>
['Fr', '6/26/98', '10.7399', '3.947M', '7.25M']
spot of 10.7399 with type <class 'str'>
['Th', '6/25/98', '10.7178', '8.206M', '7.378M']
spot of 10.7178 with type <class 'str'>
['We', '6/24/98', '10.5849', '7.048M', '7.215M']
spot of 10.5849 with type <class 'str'>
['Tu', '6/23/98', '10.4963', '7.432M', '7.178M']
spot of 10.4963 with type <class 'str'>
['Mo', '6/22/98', '10.142', '5.684M', '7.203M']
spot of 10.142 with type <class 'str'>
['Fr', '6/19/98', '9.9759', '10.081M', '7.265M']
spot of 9.9759 with type <class 'str'>
['Th', '6/18/98', '10.0424', '13.822M', '7.081M']
spot of 10.0424 with type <class 'str'>
['We', '6/17/98', '10.3635', '13.974M', '6.632M']
spot of 10.3635 with type <class 'str'>
['Tu', '6/16/98', '10.5295', '8.118M', '6.233M']
spot of 10.5295 with type <class 'str'>
['Mo', '6/15/98', '10.6292', '5.792M', '6.005M']
spot of 10.6292 with type <class 'str'>
['Fr', '6/12/98', '10.7621', '6.291M', '5.974M']
spot of 10.7621 with type <class 'str'>
['Th', '6/11/98', '10.7399', '7.459M', '6.154M']
spot of 10.7399 with type <class 'str'>
['We', '6/10/98', '11.061', '3.225M', '6.43M']
spot of 11.061 with type <class 'str'>
['Tu', '6/9/98', '11.2492', '3.792M', '7.222M']
spot of 11.2492 with type <class 'str'>
['Mo', '6/8/98', '11.2714', '3.878M', '7.847M']
spot of 11.2714 with type <class 'str'>
['Fr', '6/5/98', '11.1496', '5.87M', '8.571M']
spot of 11.1496 with type <class 'str'>
['Th', '6/4/98', '10.9281', '5.755M', '11.257M']
spot of 10.9281 with type <class 'str'>
['We', '6/3/98', '10.751', '6.493M', '11.531M']
spot of 10.751 with type <class 'str'>
['Tu', '6/2/98', '10.9392', '7.815M', '11.612M']
spot of 10.9392 with type <class 'str'>
['Mo', '6/1/98', '10.8728', '6.614M', '11.546M']
spot of 10.8728 with type <class 'str'>
['Fr', '5/29/98', '11.0389', '7.316M', '11.528M']
spot of 11.0389 with type <class 'str'>
['Th', '5/28/98', '11.3157', '7.084M', '11.571M']
spot of 11.3157 with type <class 'str'>
['We', '5/27/98', '11.5925', '7.989M', '11.429M']
spot of 11.5925 with type <class 'str'>
['Tu', '5/26/98', '11.5814', '4.697M', '11.211M']

spot of 11.5814 with type <class 'str'>
['Fr', '5/22/98', '11.6257', '5.328M', '11.328M']
spot of 11.6257 with type <class 'str'>
['Th', '5/21/98', '11.4928', '8.996M', '11.358M']
spot of 11.4928 with type <class 'str'>
['We', '5/20/98', '11.67', '11.598M', '11.281M']
spot of 11.67 with type <class 'str'>
['Tu', '5/19/98', '11.7807', '15.106M', '11.128M']
spot of 11.7807 with type <class 'str'>
['Mo', '5/18/98', '11.7142', '13.161M', '10.666M']
spot of 11.7142 with type <class 'str'>
['Fr', '5/15/98', '12.3011', '14.75M', '11.06M']
spot of 12.3011 with type <class 'str'>
['Th', '5/14/98', '12.4561', '46.152M', '11.953M']
spot of 12.4561 with type <class 'str'>
['We', '5/13/98', '14.4601', '9.866M', '9.364M']
spot of 14.4601 with type <class 'str'>
['Tu', '5/12/98', '14.1501', '7.713M', '9.15M']
spot of 14.1501 with type <class 'str'>
['Mo', '5/11/98', '13.5854', '6.817M', '9.314M']
spot of 13.5854 with type <class 'str'>
['Fr', '5/8/98', '13.6297', '6.345M', '9.239M']
spot of 13.6297 with type <class 'str'>
['Th', '5/7/98', '13.5744', '7.968M', '9.109M']
spot of 13.5744 with type <class 'str'>
['We', '5/6/98', '13.1758', '4.943M', '8.881M']
spot of 13.1758 with type <class 'str'>
['Tu', '5/5/98', '13.3418', '4.719M', '9.119M']
spot of 13.3418 with type <class 'str'>
['Mo', '5/4/98', '13.3086', '6.459M', '9.126M']
spot of 13.3086 with type <class 'str'>
['Fr', '5/1/98', '13.1093', '5.774M', '8.959M']
spot of 13.1093 with type <class 'str'>
['Th', '4/30/98', '13.3529', '7.849M', '8.882M']
spot of 13.3529 with type <class 'str'>
['We', '4/29/98', '13.2865', '9.302M', '8.896M']
spot of 13.2865 with type <class 'str'>
['Tu', '4/28/98', '12.8104', '8.167M', '8.604M']
spot of 12.8104 with type <class 'str'>
['Mo', '4/27/98', '12.9765', '19.082M', '8.361M']
spot of 12.9765 with type <class 'str'>
['Fr', '4/24/98', '13.22', '28.133M', '7.341M']
spot of 13.22 with type <class 'str'>
['Th', '4/23/98', '11.8028', '7.324M', '5.841M']
spot of 11.8028 with type <class 'str'>
['We', '4/22/98', '11.836', '6.66M', '5.755M']
spot of 11.836 with type <class 'str'>
['Tu', '4/21/98', '11.8582', '10.166M', '5.561M']
spot of 11.8582 with type <class 'str'>
['Mo', '4/20/98', '11.4042', '5.691M', '5.052M']
spot of 11.4042 with type <class 'str'>
['Fr', '4/17/98', '11.2381', '4.395M', '4.857M']
spot of 11.2381 with type <class 'str'>
['Th', '4/16/98', '11.0167', '4.557M', '4.765M']
spot of 11.0167 with type <class 'str'>
['We', '4/15/98', '11.2935', '8.512M', '4.803M']
spot of 11.2935 with type <class 'str'>
['Tu', '4/14/98', '10.7953', '4.824M', '4.45M']
spot of 10.7953 with type <class 'str'>
['Mo', '4/13/98', '10.8063', '3.954M', '4.479M']
spot of 10.8063 with type <class 'str'>
['Th', '4/9/98', '10.8174', '4.605M', '4.641M']
spot of 10.8174 with type <class 'str'>
['We', '4/8/98', '10.6735', '8.071M', '4.604M']
spot of 10.6735 with type <class 'str'>
['Tu', '4/7/98', '10.7621', '4.911M', '4.347M']
spot of 10.7621 with type <class 'str'>
['Mo', '4/6/98', '10.9613', '4.526M', '4.329M']
spot of 10.9613 with type <class 'str'>
['Fr', '4/3/98', '11.0831', '3.78M', '4.256M']
spot of 11.0831 with type <class 'str'>
['Th', '4/2/98', '11.1385', '5.64M', '4.3M']
spot of 11.1385 with type <class 'str'>
['We', '4/1/98', '11.0831', '6.034M', '4.234M']
spot of 11.0831 with type <class 'str'>
['Tu', '3/31/98', '11.2271', '3.754M', '4.332M']
spot of 11.2271 with type <class 'str'>
['Mo', '3/30/98', '11.1828', '2.528M', '4.506M']
spot of 11.1828 with type <class 'str'>
['Fr', '3/27/98', '11.1274', '2.763M', '5.033M']
spot of 11.1274 with type <class 'str'>
['Th', '3/26/98', '11.3157', '3.017M', '5.42M']
spot of 11.3157 with type <class 'str'>
['We', '3/25/98', '11.4707', '5.124M', '5.958M']
spot of 11.4707 with type <class 'str'>
['Tu', '3/24/98', '11.2492', '3.221M', '5.985M']
spot of 11.2492 with type <class 'str'>
['Mo', '3/23/98', '11.2049', '5.26M', '6.075M']
spot of 11.2049 with type <class 'str'>
['Fr', '3/20/98', '11.1274', '6.378M', '6.109M']
spot of 11.1274 with type <class 'str'>
['Th', '3/19/98', '11.1274', '4.048M', '6.359M']
spot of 11.1274 with type <class 'str'>
['We', '3/18/98', '11.0942', '4.217M', '6.383M']
spot of 11.0942 with type <class 'str'>
['Tu', '3/17/98', '10.8838', '4.651M', '6.455M']
spot of 10.8838 with type <class 'str'>
['Mo', '3/16/98', '11.0167', '3.425M', '6.535M']
spot of 11.0167 with type <class 'str'>
['Fr', '3/13/98', '10.9392', '4.446M', '6.641M']
spot of 10.9392 with type <class 'str'>
['Th', '3/12/98', '10.9613', '4.645M', '7.108M']
spot of 10.9613 with type <class 'str'>
['We', '3/11/98', '10.7399', '7.501M', '7.716M']
spot of 10.7399 with type <class 'str'>
['Tu', '3/10/98', '10.8949', '6.367M', '7.906M']
spot of 10.8949 with type <class 'str'>
['Mo', '3/9/98', '10.6735', '10.438M', '7.769M']
spot of 10.6735 with type <class 'str'>
['Fr', '3/6/98', '10.906', '8.566M', '7.243M']
spot of 10.906 with type <class 'str'>
['Th', '3/5/98', '10.9724', '11.082M', '7.142M']
spot of 10.9724 with type <class 'str'>
['We', '3/4/98', '11.0721', '5.534M', '6.785M']
spot of 11.0721 with type <class 'str'>
['Tu', '3/3/98', '11.4264', '4.567M', '7.016M']
spot of 11.4264 with type <class 'str'>
['Mo', '3/2/98', '11.5592', '5.774M', '7.081M']
spot of 11.5592 with type <class 'str'>
['Fr', '2/27/98', '11.8693', '10.122M', '7.154M']
spot of 11.8693 with type <class 'str'>
['Th', '2/26/98', '11.515', '4.417M', '']
spot of 11.515 with type <class 'str'>
['We', '2/25/98', '11.4485', '5.295M', '']
spot of 11.4485 with type <class 'str'>
['Tu', '2/24/98', '11.0831', '5.841M', '']
spot of 11.0831 with type <class 'str'>
['Mo', '2/23/98', '11.4042', '5.027M', '']
spot of 11.4042 with type <class 'str'>
['Fr', '2/20/98', '11.5039', '11.45M', '']
spot of 11.5039 with type <class 'str'>
['Th', '2/19/98', '11.5039', '13.764M', '']
spot of 11.5039 with type <class 'str'>
['We', '2/18/98', '11.1828', '10.348M', '']
spot of 11.1828 with type <class 'str'>
['Tu', '2/17/98', '10.9171', '4.305M', '']
spot of 10.9171 with type <class 'str'>
['Fr', '2/13/98', '10.9613', '2.552M', '']
spot of 10.9613 with type <class 'str'>
['Th', '2/12/98', '11.0499', '7.052M', '']
spot of 11.0499 with type <class 'str'>
['We', '2/11/98', '11.0721', '5.722M', '']
spot of 11.0721 with type <class 'str'>
['Tu', '2/10/98', '11.2271', '9M', '']
spot of 11.2271 with type <class 'str'>
['Mo', '2/9/98', '10.8617', '5.549M', '']
spot of 10.8617 with type <class 'str'>
['Fr', '2/6/98', '11.0056', '6.863M', '']
spot of 11.0056 with type <class 'str'>
['Mo', '3/19/18', '157.35', '5.481M', '4.685M']
spot of 157.35 with type <class 'str'>
['Fr', '3/16/18', '160.26', '9.263M', '4.561M']
spot of 160.26 with type <class 'str'>
['Th', '3/15/18', '159.61', '3.871M', '4.16M']
spot of 159.61 with type <class 'str'>
['We', '3/14/18', '158.12', '3.632M', '4.17M']
spot of 158.12 with type <class 'str'>
['Tu', '3/13/18', '159.32', '4.186M', '4.177M']
spot of 159.32 with type <class 'str'>
['Mo', '3/12/18', '160.26', '5.063M', '4.197M']
spot of 160.26 with type <class 'str'>
['Fr', '3/9/18', '159.31', '5.022M', '4.145M']
spot of 159.31 with type <class 'str'>
['Th', '3/8/18', '156.21', '6.456M', '4.185M']
spot of 156.21 with type <class 'str'>
['We', '3/7/18', '158.32', '4.608M', '4.12M']
spot of 158.32 with type <class 'str'>
['Tu', '3/6/18', '155.72', '3.686M', '4.139M']
spot of 155.72 with type <class 'str'>
['Mo', '3/5/18', '156.95', '3.671M', '4.285M']
spot of 156.95 with type <class 'str'>
['Fr', '3/2/18', '154.49', '3.261M', '4.562M']
spot of 154.49 with type <class 'str'>
['Th', '3/1/18', '153.81', '4.039M', '4.797M']
spot of 153.81 with type <class 'str'>
['We', '2/28/18', '155.83', '3.804M', '4.938M']
spot of 155.83 with type <class 'str'>
['Tu', '2/27/18', '156.55', '4.237M', '5.342M']
spot of 156.55 with type <class 'str'>
['Mo', '2/26/18', '158.58', '3.61M', '5.643M']
spot of 158.58 with type <class 'str'>
['Fr', '2/23/18', '155.52', '3.256M', '5.752M']
spot of 155.52 with type <class 'str'>
['Th', '2/22/18', '153.18', '4.025M', '5.831M']
spot of 153.18 with type <class 'str'>
['We', '2/21/18', '153.96', '3.729M', '5.834M']
spot of 153.96 with type <class 'str'>
['Tu', '2/20/18', '155.16', '4.49M', '5.912M']
spot of 155.16 with type <class 'str'>
['Fr', '2/16/18', '156.18', '4.283M', '5.847M']
spot of 156.18 with type <class 'str'>
['Th', '2/15/18', '156.01', '5.624M', '5.814M']
spot of 156.01 with type <class 'str'>
['We', '2/14/18', '154.76', '5.479M', '5.659M']
spot of 154.76 with type <class 'str'>
['Tu', '2/13/18', '150.75', '4.891M', '5.67M']
spot of 150.75 with type <class 'str'>
['Mo', '2/12/18', '151.4', '5.881M', '5.842M']
spot of 151.4 with type <class 'str'>
['Fr', '2/9/18', '149.51', '7.828M', '6.015M']
spot of 149.51 with type <class 'str'>
['Th', '2/8/18', '147.59', '6.779M', '6.905M']
spot of 147.59 with type <class 'str'>
['We', '2/7/18', '153.85', '6.149M', '7.404M']
spot of 153.85 with type <class 'str'>
['Tu', '2/6/18', '155.34', '9.868M', '7.774M']
spot of 155.34 with type <class 'str'>
['Mo', '2/5/18', '152.53', '8.747M', '7.636M']
spot of 152.53 with type <class 'str'>
['Fr', '2/2/18', '159.03', '5.252M', '7.389M']
spot of 159.03 with type <class 'str'>
['Th', '2/1/18', '162.4', '4.434M', '7.291M']
spot of 162.4 with type <class 'str'>
['We', '1/31/18', '163.7', '4.073M', '7.274M']
spot of 163.7 with type <class 'str'>
['Tu', '1/30/18', '163.62', '4.902M', '7.292M']
spot of 163.62 with type <class 'str'>
['Mo', '1/29/18', '166.8', '3.517M', '7.314M']
spot of 166.8 with type <class 'str'>
['Fr', '1/26/18', '167.34', '3.788M', '7.426M']
spot of 167.34 with type <class 'str'>
['Th', '1/25/18', '165.47', '3.303M', '7.677M']
spot of 165.47 with type <class 'str'>
['We', '1/24/18', '165.37', '5.645M', '8.087M']
spot of 165.37 with type <class 'str'>
['Tu', '1/23/18', '166.25', '7.466M', '7.991M']
spot of 166.25 with type <class 'str'>
['Mo', '1/22/18', '162.6', '8.481M', '7.715M']
spot of 162.6 with type <class 'str'>
['Fr', '1/19/18', '162.37', '21.172M', '7.328M']
spot of 162.37 with type <class 'str'>
['Th', '1/18/18', '169.12', '14.259M', '6.06M']
spot of 169.12 with type <class 'str'>
['We', '1/17/18', '168.65', '11.71M', '5.275M']
spot of 168.65 with type <class 'str'>
['Tu', '1/16/18', '163.85', '7.794M', '4.694M']
spot of 163.85 with type <class 'str'>
['Fr', '1/12/18', '163.14', '5.032M', '4.451M']
spot of 163.14 with type <class 'str'>
['Th', '1/11/18', '164.2', '3.794M', '4.368M']
spot of 164.2 with type <class 'str'>
['We', '1/10/18', '164.18', '4.174M', '4.389M']
spot of 164.18 with type <class 'str'>
['Tu', '1/9/18', '163.83', '4.342M', '4.451M']
spot of 163.83 with type <class 'str'>
['Mo', '1/8/18', '163.47', '5.238M', '4.913M']
spot of 163.47 with type <class 'str'>
['Fr', '1/5/18', '162.49', '5.196M', '4.873M']
spot of 162.49 with type <class 'str'>
['Th', '1/4/18', '161.7', '7.556M', '4.904M']
spot of 161.7 with type <class 'str'>
['We', '1/3/18', '158.49', '9.442M', '4.822M']
spot of 158.49 with type <class 'str'>
['Tu', '1/2/18', '154.25', '4.203M', '4.466M']
spot of 154.25 with type <class 'str'>
['Fr', '12/29/17', '153.42', '3.327M', '4.42M']
spot of 153.42 with type <class 'str'>
['Th', '12/28/17', '154.04', '2.688M', '4.45M']
spot of 154.04 with type <class 'str'>
['We', '12/27/17', '153.13', '2.149M', '4.498M']
spot of 153.13 with type <class 'str'>
['Tu', '12/26/17', '152.83', '2.479M', '4.693M']
spot of 152.83 with type <class 'str'>
['Fr', '12/22/17', '152.5', '2.991M', '4.839M']
spot of 152.5 with type <class 'str'>
['Th', '12/21/17', '151.5', '4.154M', '5.01M']
spot of 151.5 with type <class 'str'>
['We', '12/20/17', '152.95', '3.786M', '5.167M']
spot of 152.95 with type <class 'str'>
['Tu', '12/19/17', '153.23', '4.116M', '5.254M']
spot of 153.23 with type <class 'str'>
['Mo', '12/18/17', '153.33', '5.093M', '5.245M']
spot of 153.33 with type <class 'str'>
['Fr', '12/15/17', '152.5', '11.28M', '5.13M']
spot of 152.5 with type <class 'str'>
['Th', '12/14/17', '154', '4.637M', '4.458M']
spot of 154 with type <class 'str'>
['We', '12/13/17', '153.91', '5.662M', '4.363M']
spot of 153.91 with type <class 'str'>
['Tu', '12/12/17', '156.74', '6.322M', '4.236M']
spot of 156.74 with type <class 'str'>
['Mo', '12/11/17', '155.41', '4.103M', '4.193M']
spot of 155.41 with type <class 'str'>
['Fr', '12/8/17', '154.81', '3.52M', '4.247M']
spot of 154.81 with type <class 'str'>
['Th', '12/7/17', '153.57', '3.771M', '4.375M']
spot of 153.57 with type <class 'str'>
['We', '12/6/17', '154.1', '3.411M', '4.442M']
spot of 154.1 with type <class 'str'>
['Tu', '12/5/17', '155.35', '5.068M', '4.465M']
spot of 155.35 with type <class 'str'>
['Mo', '12/4/17', '156.46', '4.664M', '4.468M']
spot of 156.46 with type <class 'str'>
['Fr', '12/1/17', '154.76', '5.568M', '4.444M']
spot of 154.76 with type <class 'str'>
['Th', '11/30/17', '153.97', '6.501M', '4.391M']
spot of 153.97 with type <class 'str'>
['We', '11/29/17', '153.55', '5.099M', '4.267M']
spot of 153.55 with type <class 'str'>
['Tu', '11/28/17', '152.47', '3.974M', '4.174M']
spot of 152.47 with type <class 'str'>
['Mo', '11/27/17', '151.98', '3.374M', '4.209M']
spot of 151.98 with type <class 'str'>
['Fr', '11/24/17', '151.84', '1.193M', '4.279M']
spot of 151.84 with type <class 'str'>
['We', '11/22/17', '151.77', '3.214M', '4.426M']
spot of 151.77 with type <class 'str'>
['Tu', '11/21/17', '151.95', '3.756M', '4.428M']
spot of 151.95 with type <class 'str'>
['Mo', '11/20/17', '150.51', '5.676M', '4.466M']
spot of 150.51 with type <class 'str'>
['Fr', '11/17/17', '148.97', '4.917M', '4.369M']
spot of 148.97 with type <class 'str'>
['Th', '11/16/17', '149.12', '5.446M', '4.367M']
spot of 149.12 with type <class 'str'>
['We', '11/15/17', '147.1', '4.773M', '4.291M']
spot of 147.1 with type <class 'str'>
['Tu', '11/14/17', '148.89', '3.758M', '4.434M']
spot of 148.89 with type <class 'str'>
['Mo', '11/13/17', '148.4', '5.108M', '4.73M']
spot of 148.4 with type <class 'str'>
['Fr', '11/10/17', '149.16', '4.307M', '4.774M']
spot of 149.16 with type <class 'str'>
['Th', '11/9/17', '150.3', '4.777M', '5.012M']
spot of 150.3 with type <class 'str'>
['We', '11/8/17', '151.57', '4.634M', '5.354M']
spot of 151.57 with type <class 'str'>
['Tu', '11/7/17', '151.35', '3.701M', '7.078M']
spot of 151.35 with type <class 'str'>
['Mo', '11/6/17', '150.84', '4.499M', '7.256M']
spot of 150.84 with type <class 'str'>
['Fr', '11/3/17', '151.58', '4.432M', '7.16M']
spot of 151.58 with type <class 'str'>
['Th', '11/2/17', '153.35', '3.398M', '7.031M']
spot of 153.35 with type <class 'str'>
['We', '11/1/17', '154.03', '3.24M', '7.023M']
spot of 154.03 with type <class 'str'>
['Tu', '10/31/17', '154.06', '4.328M', '7.053M']
spot of 154.06 with type <class 'str'>
['Mo', '10/30/17', '154.36', '4.21M', '7.034M']
spot of 154.36 with type <class 'str'>
['Fr', '10/27/17', '153.68', '4.895M', '6.932M']
spot of 153.68 with type <class 'str'>
['Th', '10/26/17', '153.6', '4.301M', '6.78M']
spot of 153.6 with type <class 'str'>
['We', '10/25/17', '153.5', '6.921M', '6.673M']
spot of 153.5 with type <class 'str'>
['Tu', '10/24/17', '155.88', '8.195M', '6.361M']
spot of 155.88 with type <class 'str'>
['Mo', '10/23/17', '159.55', '5.779M', '5.968M']
spot of 159.55 with type <class 'str'>
['Fr', '10/20/17', '162.07', '7.869M', '5.781M']
spot of 162.07 with type <class 'str'>
['Th', '10/19/17', '160.9', '9.914M', '5.433M']
spot of 160.9 with type <class 'str'>
['We', '10/18/17', '159.53', '30.49M', '4.958M']
spot of 159.53 with type <class 'str'>
['Tu', '10/17/17', '146.54', '6.372M', '3.158M']
spot of 146.54 with type <class 'str'>
['Mo', '10/16/17', '146.83', '3.052M', '3.033M']
spot of 146.83 with type <class 'str'>
['Fr', '10/13/17', '147.1', '2.507M', '3.177M']
spot of 147.1 with type <class 'str'>
['Th', '10/12/17', '147.03', '3.264M', '3.196M']
spot of 147.03 with type <class 'str'>
['We', '10/11/17', '147.62', '3.702M', '3.149M']
spot of 147.62 with type <class 'str'>
['Tu', '10/10/17', '148.5', '4.033M', '3.265M']
spot of 148.5 with type <class 'str'>
['Mo', '10/9/17', '147.39', '2.683M', '3.227M']
spot of 147.39 with type <class 'str'>
['Fr', '10/6/17', '146.48', '2.623M', '3.25M']
spot of 146.48 with type <class 'str'>
['Th', '10/5/17', '146.72', '2.687M', '3.568M']
spot of 146.72 with type <class 'str'>
['We', '10/4/17', '146.48', '2.244M', '3.639M']
spot of 146.48 with type <class 'str'>
['Tu', '10/3/17', '146.78', '2.303M', '3.763M']
spot of 146.78 with type <class 'str'>
['Mo', '10/2/17', '146.66', '2.973M', '3.959M']
spot of 146.66 with type <class 'str'>
['Fr', '9/29/17', '145.08', '2.655M', '4.068M']
spot of 145.08 with type <class 'str'>
['Th', '9/28/17', '145.66', '2.775M', '4.115M']
spot of 145.66 with type <class 'str'>
['We', '9/27/17', '145.66', '3.503M', '4.21M']
spot of 145.66 with type <class 'str'>
['Tu', '9/26/17', '146.56', '4.489M', '4.194M']
spot of 146.56 with type <class 'str'>
['Mo', '9/25/17', '145.87', '5.213M', '4.102M']
spot of 145.87 with type <class 'str'>
['Fr', '9/22/17', '145.13', '2.792M', '3.978M']
spot of 145.13 with type <class 'str'>
['Th', '9/21/17', '145.26', '2.556M', '4.035M']
spot of 145.26 with type <class 'str'>
['We', '9/20/17', '145.88', '5.448M', '4.047M']
spot of 145.88 with type <class 'str'>
['Tu', '9/19/17', '144.39', '3.464M', '3.885M']
spot of 144.39 with type <class 'str'>
['Mo', '9/18/17', '144.55', '3.02M', '3.996M']

spot of 144.55 with type <class 'str'>
['Fr', '9/15/17', '144.82', '7.397M', '3.986M']
spot of 144.82 with type <class 'str'>
['Th', '9/14/17', '145.54', '3.757M', '3.733M']
spot of 145.54 with type <class 'str'>
['We', '9/13/17', '145.99', '4.101M', '3.752M']
spot of 145.99 with type <class 'str'>
['Tu', '9/12/17', '145.76', '5.238M', '3.648M']
spot of 145.76 with type <class 'str'>
['Mo', '9/11/17', '144.86', '4.613M', '3.512M']
spot of 144.86 with type <class 'str'>
['Fr', '9/8/17', '142.45', '3.366M', '3.481M']
spot of 142.45 with type <class 'str'>
['Th', '9/7/17', '142.9', '4.188M', '3.551M']
spot of 142.9 with type <class 'str'>
['We', '9/6/17', '143.82', '3.273M', '3.491M']
spot of 143.82 with type <class 'str'>
['Tu', '9/5/17', '143.04', '3.099M', '3.585M']
spot of 143.04 with type <class 'str'>
['Fr', '9/1/17', '144.08', '3.352M', '3.529M']
spot of 144.08 with type <class 'str'>
['Th', '8/31/17', '143.03', '3.656M', '3.505M']
spot of 143.03 with type <class 'str'>
['We', '8/30/17', '142.56', '2.736M', '3.563M']
spot of 142.56 with type <class 'str'>
['Tu', '8/29/17', '143.14', '3.01M', '3.576M']
spot of 143.14 with type <class 'str'>
['Mo', '8/28/17', '142.51', '5.134M', '3.595M']
spot of 142.51 with type <class 'str'>
['Fr', '8/25/17', '143.74', '2.873M', '3.561M']
spot of 143.74 with type <class 'str'>
['Th', '8/24/17', '142.94', '3.592M', '3.539M']
spot of 142.94 with type <class 'str'>
['We', '8/23/17', '142.14', '4.048M', '3.502M']
spot of 142.14 with type <class 'str'>
['Tu', '8/22/17', '141.01', '2.544M', '3.468M']
spot of 141.01 with type <class 'str'>
['Mo', '8/21/17', '140.33', '3.191M', '3.513M']
spot of 140.33 with type <class 'str'>
['Fr', '8/18/17', '139.7', '4.153M', '3.591M']
spot of 139.7 with type <class 'str'>
['Th', '8/17/17', '140.7', '4.422M', '3.518M']
spot of 140.7 with type <class 'str'>
['We', '8/16/17', '142.5', '3.288M', '3.652M']
spot of 142.5 with type <class 'str'>
['Tu', '8/15/17', '142.07', '4.682M', '3.695M']
spot of 142.07 with type <class 'str'>
['Mo', '8/14/17', '142.32', '2.249M', '3.663M']
spot of 142.32 with type <class 'str'>
['Fr', '8/11/17', '141.84', '3.004M', '3.772M']
spot of 141.84 with type <class 'str'>
['Th', '8/10/17', '141.84', '4.525M', '4.006M']
spot of 141.84 with type <class 'str'>
['We', '8/9/17', '141.77', '2.926M', '4.185M']
spot of 141.77 with type <class 'str'>
['Tu', '8/8/17', '142.11', '3.299M', '4.943M']
spot of 142.11 with type <class 'str'>
['Mo', '8/7/17', '143.47', '4.618M', '5.227M']
spot of 143.47 with type <class 'str'>
['Fr', '8/4/17', '145.16', '2.549M', '5.237M']
spot of 145.16 with type <class 'str'>
['Th', '8/3/17', '144.94', '3.035M', '5.284M']
spot of 144.94 with type <class 'str'>
['We', '8/2/17', '144.45', '3.541M', '5.247M']
spot of 144.45 with type <class 'str'>
['Tu', '8/1/17', '145.3', '3.219M', '5.217M']
spot of 145.3 with type <class 'str'>
['Mo', '7/31/17', '144.67', '4.356M', '5.232M']
spot of 144.67 with type <class 'str'>
['Fr', '7/28/17', '144.29', '3.055M', '5.156M']
spot of 144.29 with type <class 'str'>
['Th', '7/27/17', '145.07', '6.431M', '5.116M']
spot of 145.07 with type <class 'str'>
['We', '7/26/17', '145.36', '3.932M', '4.871M']
spot of 145.36 with type <class 'str'>
['Tu', '7/25/17', '146.19', '4.209M', '4.846M']
spot of 146.19 with type <class 'str'>
['Mo', '7/24/17', '145.99', '3.878M', '4.754M']
spot of 145.99 with type <class 'str'>
['Fr', '7/21/17', '147.08', '6.509M', '4.734M']
spot of 147.08 with type <class 'str'>
['Th', '7/20/17', '147.66', '7.212M', '4.517M']
spot of 147.66 with type <class 'str'>
['We', '7/19/17', '147.53', '14.294M', '4.184M']
spot of 147.53 with type <class 'str'>
['Tu', '7/18/17', '154', '7.567M', '3.391M']
spot of 154 with type <class 'str'>
['Mo', '7/17/17', '153.01', '4.763M', '3.03M']
spot of 153.01 with type <class 'str'>
['Fr', '7/14/17', '154.24', '3.256M', '2.931M']
spot of 154.24 with type <class 'str'>
['Th', '7/13/17', '153.63', '2.476M', '2.872M']
spot of 153.63 with type <class 'str'>
['We', '7/12/17', '153.7', '3.098M', '2.971M']
spot of 153.7 with type <class 'str'>
['Tu', '7/11/17', '153.19', '3.448M', '3.064M']
spot of 153.19 with type <class 'str'>
['Mo', '7/10/17', '153.42', '3.206M', '3.142M']
spot of 153.42 with type <class 'str'>
['Fr', '7/7/17', '152.94', '2.46M', '3.378M']
spot of 152.94 with type <class 'str'>
['Th', '7/6/17', '152.36', '2.758M', '3.524M']
spot of 152.36 with type <class 'str'>
['We', '7/5/17', '153.67', '3.564M', '3.544M']
spot of 153.67 with type <class 'str'>
['Mo', '7/3/17', '155.58', '2.823M', '3.541M']
spot of 155.58 with type <class 'str'>
['Fr', '6/30/17', '153.83', '3.572M', '3.784M']
spot of 153.83 with type <class 'str'>
['Th', '6/29/17', '154.13', '3.262M', '3.837M']
spot of 154.13 with type <class 'str'>
['We', '6/28/17', '155.32', '2.221M', '3.867M']
spot of 155.32 with type <class 'str'>
['Tu', '6/27/17', '154.75', '2.386M', '4.043M']
spot of 154.75 with type <class 'str'>
['Mo', '6/26/17', '155.23', '2.153M', '4.137M']
spot of 155.23 with type <class 'str'>
['Fr', '6/23/17', '154.11', '3.282M', '4.259M']
spot of 154.11 with type <class 'str'>
['Th', '6/22/17', '154.4', '2.377M', '4.279M']
spot of 154.4 with type <class 'str'>
['We', '6/21/17', '153.79', '3.96M', '4.315M']
spot of 153.79 with type <class 'str'>
['Tu', '6/20/17', '154.95', '4.482M', '4.287M']
spot of 154.95 with type <class 'str'>
['Mo', '6/19/17', '154.84', '4.63M', '4.233M']
spot of 154.84 with type <class 'str'>
['Fr', '6/16/17', '155.38', '6.742M', '4.087M']
spot of 155.38 with type <class 'str'>
['Th', '6/15/17', '154.22', '4.654M', '3.81M']
spot of 154.22 with type <class 'str'>
['We', '6/14/17', '153.81', '3.05M', '3.748M']
spot of 153.81 with type <class 'str'>
['Tu', '6/13/17', '154.25', '3.524M', '3.716M']
spot of 154.25 with type <class 'str'>
['Mo', '6/12/17', '155.18', '6.471M', '3.701M']
spot of 155.18 with type <class 'str'>
['Fr', '6/9/17', '154.1', '4.361M', '3.646M']
spot of 154.1 with type <class 'str'>
['Th', '6/8/17', '152.1', '3.709M', '3.574M']
spot of 152.1 with type <class 'str'>
['We', '6/7/17', '150.98', '4.866M', '3.672M']
spot of 150.98 with type <class 'str'>
['Tu', '6/6/17', '152.37', '3.797M', '3.716M']
spot of 152.37 with type <class 'str'>
['Mo', '6/5/17', '152.41', '3.975M', '3.746M']
spot of 152.41 with type <class 'str'>
['Fr', '6/2/17', '152.05', '3.586M', '3.728M']
spot of 152.05 with type <class 'str'>
['Th', '6/1/17', '152.67', '2.918M', '3.864M']
spot of 152.67 with type <class 'str'>
['We', '5/31/17', '152.63', '3.543M', '4.003M']
spot of 152.63 with type <class 'str'>
['Tu', '5/30/17', '151.73', '3.666M', '4.224M']
spot of 151.73 with type <class 'str'>
['Fr', '5/26/17', '152.49', '2.444M', '4.479M']
spot of 152.49 with type <class 'str'>
['Th', '5/25/17', '153.2', '2.583M', '5.151M']
spot of 153.2 with type <class 'str'>
['We', '5/24/17', '152.51', '3.732M', '5.264M']
spot of 152.51 with type <class 'str'>
['Tu', '5/23/17', '152.03', '2.565M', '5.281M']
spot of 152.03 with type <class 'str'>
['Mo', '5/22/17', '152.64', '3.303M', '5.324M']
spot of 152.64 with type <class 'str'>
['Fr', '5/19/17', '151.98', '5.643M', '5.433M']
spot of 151.98 with type <class 'str'>
['Th', '5/18/17', '150.78', '3.274M', '5.334M']
spot of 150.78 with type <class 'str'>
['We', '5/17/17', '150.93', '5.191M', '5.39M']
spot of 150.93 with type <class 'str'>
['Tu', '5/16/17', '153.68', '5.514M', '5.333M']
spot of 153.68 with type <class 'str'>
['Mo', '5/15/17', '151.51', '4.245M', '5.289M']
spot of 151.51 with type <class 'str'>
['Fr', '5/12/17', '150.37', '3.716M', '5.361M']
spot of 150.37 with type <class 'str'>
['Th', '5/11/17', '150.65', '5.628M', '5.487M']
spot of 150.65 with type <class 'str'>
['We', '5/10/17', '151.25', '5M', '5.544M']
spot of 151.25 with type <class 'str'>
['Tu', '5/9/17', '152.11', '6.853M', '6.497M']
spot of 152.11 with type <class 'str'>
['Mo', '5/8/17', '153.03', '7.492M', '6.463M']
spot of 153.03 with type <class 'str'>
['Fr', '5/5/17', '155.05', '12.521M', '6.211M']
spot of 155.05 with type <class 'str'>
['Th', '5/4/17', '159.05', '4.281M', '5.59M']
spot of 159.05 with type <class 'str'>
['We', '5/3/17', '158.63', '3.993M', '5.523M']
spot of 158.63 with type <class 'str'>
['Tu', '5/2/17', '159.1', '3.208M', '5.583M']
spot of 159.1 with type <class 'str'>
['Mo', '5/1/17', '158.84', '4.935M', '5.622M']
spot of 158.84 with type <class 'str'>
['Fr', '4/28/17', '160.29', '4.154M', '5.532M']
spot of 160.29 with type <class 'str'>
['Th', '4/27/17', '160.32', '4.123M', '5.484M']
spot of 160.32 with type <class 'str'>
['We', '4/26/17', '160.06', '4.328M', '5.625M']
spot of 160.06 with type <class 'str'>
['Tu', '4/25/17', '160.39', '4.86M', '5.544M']
spot of 160.39 with type <class 'str'>
['Mo', '4/24/17', '160.75', '5.321M', '5.506M']
spot of 160.75 with type <class 'str'>
['Fr', '4/21/17', '160.38', '5.608M', '5.345M']
spot of 160.38 with type <class 'str'>
['Th', '4/20/17', '162.3', '6.487M', '5.183M']
spot of 162.3 with type <class 'str'>
['We', '4/19/17', '161.69', '19.284M', '4.956M']
spot of 161.69 with type <class 'str'>
['Tu', '4/18/17', '170.05', '6.345M', '3.905M']
spot of 170.05 with type <class 'str'>
['Mo', '4/17/17', '171.1', '3.72M', '3.7M']
spot of 171.1 with type <class 'str'>
['Th', '4/13/17', '169.53', '3.205M', '3.666M']
spot of 169.53 with type <class 'str'>
['We', '4/12/17', '170.66', '3.277M', '3.702M']
spot of 170.66 with type <class 'str'>
['Tu', '4/11/17', '170.58', '4.892M', '3.713M']
spot of 170.58 with type <class 'str'>
['Mo', '4/10/17', '171.2', '3.79M', '3.649M']
spot of 171.2 with type <class 'str'>
['Fr', '4/7/17', '172.14', '3.588M', '3.562M']
spot of 172.14 with type <class 'str'>
['Th', '4/6/17', '172.45', '3.435M', '3.717M']
spot of 172.45 with type <class 'str'>
['We', '4/5/17', '172.88', '6.239M', '3.776M']
spot of 172.88 with type <class 'str'>
['Tu', '4/4/17', '174.52', '3.109M', '3.614M']
spot of 174.52 with type <class 'str'>
['Mo', '4/3/17', '174.5', '4.286M', '3.617M']
spot of 174.5 with type <class 'str'>
['Fr', '3/31/17', '174.14', '2.914M', '3.563M']
spot of 174.14 with type <class 'str'>
['Th', '3/30/17', '173.86', '3.168M', '3.575M']
spot of 173.86 with type <class 'str'>
['We', '3/29/17', '173.94', '3.086M', '3.727M']
spot of 173.94 with type <class 'str'>
['Tu', '3/28/17', '174.51', '3.524M', '3.759M']
spot of 174.51 with type <class 'str'>
['Mo', '3/27/17', '173.77', '3.259M', '3.722M']
spot of 173.77 with type <class 'str'>
['Fr', '3/24/17', '173.83', '3.222M', '3.719M']
spot of 173.83 with type <class 'str'>
['Th', '3/23/17', '174.82', '3.74M', '3.626M']
spot of 174.82 with type <class 'str'>
['We', '3/22/17', '174.78', '3.451M', '3.571M']
spot of 174.78 with type <class 'str'>
['Tu', '3/21/17', '173.88', '3.928M', '3.541M']
spot of 173.88 with type <class 'str'>
['Mo', '3/20/17', '175.7', '2.476M', '3.498M']
spot of 175.7 with type <class 'str'>
['Fr', '3/17/17', '175.65', '5.921M', '3.579M']
spot of 175.65 with type <class 'str'>
['Th', '3/16/17', '177.24', '4.312M', '3.404M']
spot of 177.24 with type <class 'str'>
['We', '3/15/17', '175.81', '3.816M', '3.269M']
spot of 175.81 with type <class 'str'>
['Tu', '3/14/17', '175.72', '3.147M', '3.216M']
spot of 175.72 with type <class 'str'>
['Mo', '3/13/17', '176.46', '3.482M', '3.304M']
spot of 176.46 with type <class 'str'>
['Fr', '3/10/17', '177.83', '3.1M', '3.309M']
spot of 177.83 with type <class 'str'>
['Th', '3/9/17', '177.18', '5.444M', '3.319M']
spot of 177.18 with type <class 'str'>
['We', '3/8/17', '179.45', '3.557M', '3.151M']
spot of 179.45 with type <class 'str'>
['Tu', '3/7/17', '180.38', '2.981M', '3.098M']
spot of 180.38 with type <class 'str'>
['Mo', '3/6/17', '180.47', '3.204M', '3.106M']
spot of 180.47 with type <class 'str'>
['Fr', '3/3/17', '180.05', '1.825M', '3.088M']
spot of 180.05 with type <class 'str'>
['Th', '3/2/17', '180.53', '2.918M', '3.172M']
spot of 180.53 with type <class 'str'>
['We', '3/1/17', '181.95', '3.006M', '3.172M']
spot of 181.95 with type <class 'str'>
['Tu', '2/28/17', '179.82', '3.273M', '3.23M']
spot of 179.82 with type <class 'str'>
['Mo', '2/27/17', '179.4', '3.691M', '3.188M']
spot of 179.4 with type <class 'str'>
['Fr', '2/24/17', '181.35', '3.3M', '3.163M']
spot of 181.35 with type <class 'str'>
['Th', '2/23/17', '181.65', '2.283M', '3.117M']
spot of 181.65 with type <class 'str'>
['We', '2/22/17', '181.15', '3.021M', '3.152M']
spot of 181.15 with type <class 'str'>
['Tu', '2/21/17', '180.26', '4.48M', '3.226M']
spot of 180.26 with type <class 'str'>
['Fr', '2/17/17', '180.67', '3.552M', '3.2M']
spot of 180.67 with type <class 'str'>
['Th', '2/16/17', '181.43', '3.252M', '3.196M']
spot of 181.43 with type <class 'str'>
['We', '2/15/17', '181.68', '2.914M', '3.183M']
spot of 181.68 with type <class 'str'>
['Tu', '2/14/17', '180.13', '2.777M', '3.384M']
spot of 180.13 with type <class 'str'>
['Mo', '2/13/17', '179.36', '3.093M', '3.662M']
spot of 179.36 with type <class 'str'>
['Fr', '2/10/17', '178.68', '2.931M', '3.821M']
spot of 178.68 with type <class 'str'>
['Th', '2/9/17', '177.21', '3.091M', '4.472M']
spot of 177.21 with type <class 'str'>
['We', '2/8/17', '176.17', '2.913M', '4.73M']
spot of 176.17 with type <class 'str'>
['Tu', '2/7/17', '178.46', '3.873M', '4.803M']
spot of 178.46 with type <class 'str'>
['Mo', '2/6/17', '175.86', '2.651M', '4.766M']
spot of 175.86 with type <class 'str'>
['Fr', '2/3/17', '175.82', '3.309M', '4.781M']
spot of 175.82 with type <class 'str'>
['Th', '2/2/17', '174.58', '2.621M', '4.755M']
spot of 174.58 with type <class 'str'>
['We', '2/1/17', '174.29', '2.796M', '4.821M']
spot of 174.29 with type <class 'str'>
['Tu', '1/31/17', '174.52', '4.139M', '4.909M']
spot of 174.52 with type <class 'str'>
['Mo', '1/30/17', '175.8', '4.095M', '4.845M']
spot of 175.8 with type <class 'str'>
['Fr', '1/27/17', '177.3', '3.482M', '4.769M']
spot of 177.3 with type <class 'str'>
['Th', '1/26/17', '178.66', '3.064M', '4.716M']
spot of 178.66 with type <class 'str'>
['We', '1/25/17', '178.29', '5.922M', '4.737M']
spot of 178.29 with type <class 'str'>
['Tu', '1/24/17', '175.9', '6.952M', '4.537M']
spot of 175.9 with type <class 'str'>
['Mo', '1/23/17', '171.03', '5.478M', '4.271M']
spot of 171.03 with type <class 'str'>
['Fr', '1/20/17', '170.55', '12.69M', '4.017M']
spot of 170.55 with type <class 'str'>
['Th', '1/19/17', '166.81', '6.963M', '3.288M']
spot of 166.81 with type <class 'str'>
['We', '1/18/17', '166.8', '4.008M', '2.917M']
spot of 166.8 with type <class 'str'>
['Tu', '1/17/17', '167.89', '3.316M', '2.763M']
spot of 167.89 with type <class 'str'>
['Fr', '1/13/17', '167.34', '2.875M', '2.729M']
spot of 167.34 with type <class 'str'>
['Th', '1/12/17', '167.95', '2.928M', '2.775M']
spot of 167.95 with type <class 'str'>
['We', '1/11/17', '167.75', '3.599M', '2.725M']
spot of 167.75 with type <class 'str'>
['Tu', '1/10/17', '165.52', '4.119M', '2.682M']
spot of 165.52 with type <class 'str'>
['Mo', '1/9/17', '167.65', '3.19M', '2.882M']
spot of 167.65 with type <class 'str'>
['Fr', '1/6/17', '169.53', '2.946M', '2.896M']
spot of 169.53 with type <class 'str'>
['Th', '1/5/17', '168.7', '2.682M', '2.974M']
spot of 168.7 with type <class 'str'>
['We', '1/4/17', '169.26', '3.381M', '3.191M']
spot of 169.26 with type <class 'str'>
['Tu', '1/3/17', '167.19', '2.934M', '3.192M']
spot of 167.19 with type <class 'str'>
['Fr', '12/30/16', '165.99', '2.953M', '3.206M']
spot of 165.99 with type <class 'str'>
['Th', '12/29/16', '166.6', '1.664M', '3.227M']
spot of 166.6 with type <class 'str'>
['We', '12/28/16', '166.19', '1.758M', '3.411M']
spot of 166.19 with type <class 'str'>
['Tu', '12/27/16', '167.14', '1.397M', '3.485M']
spot of 167.14 with type <class 'str'>
['Fr', '12/23/16', '166.71', '1.701M', '3.621M']
spot of 166.71 with type <class 'str'>
['Th', '12/22/16', '167.06', '2.803M', '3.691M']
spot of 167.06 with type <class 'str'>
['We', '12/21/16', '167.33', '3.576M', '3.813M']
spot of 167.33 with type <class 'str'>
['Tu', '12/20/16', '167.6', '2.175M', '3.868M']
spot of 167.6 with type <class 'str'>
['Mo', '12/19/16', '166.68', '2.956M', '3.933M']
spot of 166.68 with type <class 'str'>
['Fr', '12/16/16', '166.73', '7.121M', '4.032M']
spot of 166.73 with type <class 'str'>
['Th', '12/15/16', '168.02', '3.389M', '3.665M']
spot of 168.02 with type <class 'str'>
['We', '12/14/16', '168.51', '4.124M', '3.589M']
spot of 168.51 with type <class 'str'>
['Tu', '12/13/16', '168.29', '5.932M', '3.499M']
spot of 168.29 with type <class 'str'>
['Mo', '12/12/16', '165.5', '3.392M', '3.413M']
spot of 165.5 with type <class 'str'>
['Fr', '12/9/16', '166.52', '3.147M', '3.385M']
spot of 166.52 with type <class 'str'>
['Th', '12/8/16', '165.36', '3.266M', '3.326M']
spot of 165.36 with type <class 'str'>
['We', '12/7/16', '164.79', '4.435M', '3.259M']
spot of 164.79 with type <class 'str'>
['Tu', '12/6/16', '160.35', '2.859M', '3.195M']
spot of 160.35 with type <class 'str'>
['Mo', '12/5/16', '159.84', '3.447M', '3.35M']
spot of 159.84 with type <class 'str'>
['Fr', '12/2/16', '160.02', '2.741M', '3.417M']
spot of 160.02 with type <class 'str'>
['Th', '12/1/16', '159.82', '4.636M', '3.749M']
spot of 159.82 with type <class 'str'>
['We', '11/30/16', '162.22', '4.398M', '3.8M']

spot of 162.22 with type <class 'str'>
['Tu', '11/29/16', '163.53', '3.148M', '3.768M']
spot of 163.53 with type <class 'str'>
['Mo', '11/28/16', '164.52', '4.449M', '3.812M']
spot of 164.52 with type <class 'str'>
['Fr', '11/25/16', '163.14', '1.605M', '3.68M']
spot of 163.14 with type <class 'str'>
['We', '11/23/16', '161.98', '2.256M', '3.765M']
spot of 161.98 with type <class 'str'>
['Tu', '11/22/16', '162.67', '2.771M', '3.82M']
spot of 162.67 with type <class 'str'>
['Mo', '11/21/16', '162.77', '4.637M', '3.848M']
spot of 162.77 with type <class 'str'>
['Fr', '11/18/16', '160.39', '2.982M', '3.775M']
spot of 160.39 with type <class 'str'>
['Th', '11/17/16', '159.8', '2.261M', '3.82M']
spot of 159.8 with type <class 'str'>
['We', '11/16/16', '159.29', '2.253M', '3.951M']
spot of 159.29 with type <class 'str'>
['Tu', '11/15/16', '158.67', '3.477M', '3.989M']
spot of 158.67 with type <class 'str'>
['Mo', '11/14/16', '158.21', '5.196M', '3.933M']
spot of 158.21 with type <class 'str'>
['Fr', '11/11/16', '161.27', '4.447M', '3.765M']
spot of 161.27 with type <class 'str'>
['Th', '11/10/16', '160.22', '7.716M', '3.763M']
spot of 160.22 with type <class 'str'>
['We', '11/9/16', '154.81', '5.404M', '3.516M']
spot of 154.81 with type <class 'str'>
['Tu', '11/8/16', '155.17', '3.922M', '3.465M']
spot of 155.17 with type <class 'str'>
['Mo', '11/7/16', '155.72', '3.805M', '4.055M']
spot of 155.72 with type <class 'str'>
['Fr', '11/4/16', '152.43', '2.47M', '4.194M']
spot of 152.43 with type <class 'str'>
['Th', '11/3/16', '152.37', '2.879M', '4.32M']
spot of 152.37 with type <class 'str'>
['We', '11/2/16', '151.95', '3.074M', '4.322M']
spot of 151.95 with type <class 'str'>
['Tu', '11/1/16', '152.79', '3.192M', '4.315M']
spot of 152.79 with type <class 'str'>
['Mo', '10/31/16', '153.69', '3.553M', '4.295M']
spot of 153.69 with type <class 'str'>
['Fr', '10/28/16', '152.61', '3.654M', '4.224M']
spot of 152.61 with type <class 'str'>
['Th', '10/27/16', '153.35', '4.229M', '4.158M']
spot of 153.35 with type <class 'str'>
['We', '10/26/16', '151.81', '2.812M', '4.006M']
spot of 151.81 with type <class 'str'>
['Tu', '10/25/16', '150.88', '2.647M', '3.931M']
spot of 150.88 with type <class 'str'>
['Mo', '10/24/16', '150.57', '2.667M', '3.947M']
spot of 150.57 with type <class 'str'>
['Fr', '10/21/16', '149.63', '4.414M', '3.918M']
spot of 149.63 with type <class 'str'>
['Th', '10/20/16', '151.52', '4.023M', '3.863M']
spot of 151.52 with type <class 'str'>
['We', '10/19/16', '151.26', '4.633M', '3.82M']
spot of 151.26 with type <class 'str'>
['Tu', '10/18/16', '150.72', '12.771M', '3.732M']
spot of 150.72 with type <class 'str'>
['Mo', '10/17/16', '154.77', '5.89M', '3.079M']
spot of 154.77 with type <class 'str'>
['Fr', '10/14/16', '154.45', '4.358M', '2.856M']
spot of 154.45 with type <class 'str'>
['Th', '10/13/16', '153.72', '2.91M', '2.745M']
spot of 153.72 with type <class 'str'>
['We', '10/12/16', '154.29', '2.964M', '2.731M']
spot of 154.29 with type <class 'str'>
['Tu', '10/11/16', '154.79', '2.901M', '2.698M']
spot of 154.79 with type <class 'str'>
['Mo', '10/10/16', '157.02', '2.481M', '2.649M']
spot of 157.02 with type <class 'str'>
['Fr', '10/7/16', '155.67', '2.672M', '2.646M']
spot of 155.67 with type <class 'str'>
['Th', '10/6/16', '156.88', '1.95M', '2.899M']
spot of 156.88 with type <class 'str'>
['We', '10/5/16', '157.08', '1.684M', '3.013M']
spot of 157.08 with type <class 'str'>
['Tu', '10/4/16', '156.46', '2.884M', '3.158M']
spot of 156.46 with type <class 'str'>
['Mo', '10/3/16', '157.61', '2.228M', '3.209M']
spot of 157.61 with type <class 'str'>
['Fr', '9/30/16', '158.85', '3.597M', '3.351M']
spot of 158.85 with type <class 'str'>
['Th', '9/29/16', '158.11', '3.375M', '3.457M']
spot of 158.11 with type <class 'str'>
['We', '9/28/16', '158.29', '3.31M', '3.496M']
spot of 158.29 with type <class 'str'>
['Tu', '9/27/16', '156.77', '2.987M', '3.467M']
spot of 156.77 with type <class 'str'>
['Mo', '9/26/16', '153.98', '2.533M', '3.467M']
spot of 153.98 with type <class 'str'>
['Fr', '9/23/16', '154.98', '2.702M', '3.453M']
spot of 154.98 with type <class 'str'>
['Th', '9/22/16', '156.11', '2.691M', '3.43M']
spot of 156.11 with type <class 'str'>
['We', '9/21/16', '155.53', '2.474M', '3.405M']
spot of 155.53 with type <class 'str'>
['Tu', '9/20/16', '154.45', '2.159M', '3.361M']
spot of 154.45 with type <class 'str'>
['Mo', '9/19/16', '154.87', '2.45M', '3.383M']
spot of 154.87 with type <class 'str'>
['Fr', '9/16/16', '153.84', '6.464M', '3.386M']
spot of 153.84 with type <class 'str'>
['Th', '9/15/16', '155.66', '3.663M', '3.127M']
spot of 155.66 with type <class 'str'>
['We', '9/14/16', '154.05', '3.861M', '3.125M']
spot of 154.05 with type <class 'str'>
['Tu', '9/13/16', '155.81', '3.637M', '3.057M']
spot of 155.81 with type <class 'str'>
['Mo', '9/12/16', '158.29', '4.368M', '2.951M']
spot of 158.29 with type <class 'str'>
['Fr', '9/9/16', '155.69', '5.186M', '2.847M']
spot of 155.69 with type <class 'str'>
['Th', '9/8/16', '159', '3.963M', '2.745M']
spot of 159 with type <class 'str'>
['We', '9/7/16', '161.64', '2.867M', '2.696M']
spot of 161.64 with type <class 'str'>
['Tu', '9/6/16', '160.35', '2.994M', '2.652M']
spot of 160.35 with type <class 'str'>
['Fr', '9/2/16', '159.55', '2.315M', '2.651M']
spot of 159.55 with type <class 'str'>
['Th', '9/1/16', '159.54', '2.358M', '2.666M']
spot of 159.54 with type <class 'str'>
['We', '8/31/16', '158.88', '2.324M', '3.093M']
spot of 158.88 with type <class 'str'>
['Tu', '8/30/16', '159.4', '1.813M', '3.103M']
spot of 159.4 with type <class 'str'>
['Mo', '8/29/16', '159.72', '2.476M', '3.164M']
spot of 159.72 with type <class 'str'>
['Fr', '8/26/16', '158.32', '2.499M', '3.202M']
spot of 158.32 with type <class 'str'>
['Th', '8/25/16', '158.63', '2.575M', '3.289M']
spot of 158.63 with type <class 'str'>
['We', '8/24/16', '159.05', '3.646M', '3.284M']
spot of 159.05 with type <class 'str'>
['Tu', '8/23/16', '160.26', '2.838M', '3.231M']
spot of 160.26 with type <class 'str'>
['Mo', '8/22/16', '160', '2.039M', '3.247M']
spot of 160 with type <class 'str'>
['Fr', '8/19/16', '160.04', '2.815M', '3.3M']
spot of 160.04 with type <class 'str'>
['Th', '8/18/16', '161.36', '3.652M', '3.349M']
spot of 161.36 with type <class 'str'>
['We', '8/17/16', '160.44', '3.226M', '3.261M']
spot of 160.44 with type <class 'str'>
['Tu', '8/16/16', '160.7', '2.21M', '3.19M']
spot of 160.7 with type <class 'str'>
['Mo', '8/15/16', '161.88', '2.97M', '3.236M']
spot of 161.88 with type <class 'str'>
['Fr', '8/12/16', '161.95', '2.543M', '3.225M']
spot of 161.95 with type <class 'str'>
['Th', '8/11/16', '163.53', '8.769M', '3.223M']
spot of 163.53 with type <class 'str'>
['We', '8/10/16', '162.08', '2.467M', '2.909M']
spot of 162.08 with type <class 'str'>
['Tu', '8/9/16', '161.77', '2.738M', '3.036M']
spot of 161.77 with type <class 'str'>
['Mo', '8/8/16', '162.04', '3.039M', '3.328M']
spot of 162.04 with type <class 'str'>
['Fr', '8/5/16', '163.5', '3.812M', '3.574M']
spot of 163.5 with type <class 'str'>
['Th', '8/4/16', '161.55', '2.489M', '3.618M']
spot of 161.55 with type <class 'str'>
['We', '8/3/16', '160.67', '2.862M', '3.762M']
spot of 160.67 with type <class 'str'>
['Tu', '8/2/16', '160.58', '3.081M', '3.754M']
spot of 160.58 with type <class 'str'>
['Mo', '8/1/16', '161.45', '2.824M', '3.805M']
spot of 161.45 with type <class 'str'>
['Fr', '7/29/16', '160.62', '3.548M', '3.806M']
spot of 160.62 with type <class 'str'>
['Th', '7/28/16', '161.37', '2.34M', '3.772M']
spot of 161.37 with type <class 'str'>
['We', '7/27/16', '161.83', '2.163M', '3.758M']
spot of 161.83 with type <class 'str'>
['Tu', '7/26/16', '162.12', '2.895M', '3.785M']
spot of 162.12 with type <class 'str'>
['Mo', '7/25/16', '162.65', '2.805M', '3.757M']
spot of 162.65 with type <class 'str'>
['Fr', '7/22/16', '162.07', '2.52M', '3.747M']
spot of 162.07 with type <class 'str'>
['Th', '7/21/16', '160.45', '4.049M', '3.843M']
spot of 160.45 with type <class 'str'>
['We', '7/20/16', '161.36', '4.376M', '3.798M']
spot of 161.36 with type <class 'str'>
['Tu', '7/19/16', '159.58', '7.12M', '3.773M']
spot of 159.58 with type <class 'str'>
['Mo', '7/18/16', '159.86', '6.73M', '3.643M']
spot of 159.86 with type <class 'str'>
['Fr', '7/15/16', '159.78', '4.477M', '3.799M']
spot of 159.78 with type <class 'str'>
['Th', '7/14/16', '160.28', '4.638M', '3.766M']
spot of 160.28 with type <class 'str'>
['We', '7/13/16', '158.02', '2.746M', '3.645M']
spot of 158.02 with type <class 'str'>
['Tu', '7/12/16', '157.04', '3.844M', '3.646M']
spot of 157.04 with type <class 'str'>
['Mo', '7/11/16', '155.33', '2.834M', '3.628M']
spot of 155.33 with type <class 'str'>
['Fr', '7/8/16', '154.46', '3.041M', '3.75M']
spot of 154.46 with type <class 'str'>
['Th', '7/7/16', '152.6', '2.138M', '3.711M']
spot of 152.6 with type <class 'str'>
['We', '7/6/16', '152.37', '2.569M', '3.719M']
spot of 152.37 with type <class 'str'>
['Tu', '7/5/16', '151.68', '2.465M', '3.739M']
spot of 151.68 with type <class 'str'>
['Fr', '7/1/16', '152.35', '2.658M', '3.815M']
spot of 152.35 with type <class 'str'>
['Th', '6/30/16', '151.78', '3.967M', '3.846M']
spot of 151.78 with type <class 'str'>
['We', '6/29/16', '148.46', '3.368M', '3.716M']
spot of 148.46 with type <class 'str'>
['Tu', '6/28/16', '145.7', '3.998M', '3.687M']
spot of 145.7 with type <class 'str'>
['Mo', '6/27/16', '143.5', '5.167M', '3.718M']
spot of 143.5 with type <class 'str'>
['Fr', '6/24/16', '146.59', '9.083M', '3.533M']
spot of 146.59 with type <class 'str'>
['Th', '6/23/16', '155.35', '3.969M', '3.082M']
spot of 155.35 with type <class 'str'>
['We', '6/22/16', '152.92', '2.834M', '2.994M']
spot of 152.92 with type <class 'str'>
['Tu', '6/21/16', '154.05', '2.76M', '2.982M']
spot of 154.05 with type <class 'str'>
['Mo', '6/20/16', '153.61', '3.572M', '3.188M']
spot of 153.61 with type <class 'str'>
['Fr', '6/17/16', '151.99', '4.664M', '3.113M']
spot of 151.99 with type <class 'str'>
['Th', '6/16/16', '151.06', '2.449M', '3.007M']
spot of 151.06 with type <class 'str'>
['We', '6/15/16', '150.68', '2.26M', '3.134M']
spot of 150.68 with type <class 'str'>
['Tu', '6/14/16', '151.06', '2.866M', '3.178M']
spot of 151.06 with type <class 'str'>
['Mo', '6/13/16', '151.28', '3.61M', '3.128M']
spot of 151.28 with type <class 'str'>
['Fr', '6/10/16', '152.37', '3.121M', '3.132M']
spot of 152.37 with type <class 'str'>
['Th', '6/9/16', '153.42', '2.022M', '3.169M']
spot of 153.42 with type <class 'str'>
['We', '6/8/16', '154', '2.935M', '3.201M']
spot of 154 with type <class 'str'>
['Tu', '6/7/16', '153.33', '4.465M', '3.238M']
spot of 153.33 with type <class 'str'>
['Mo', '6/6/16', '152.73', '2.379M', '3.145M']
spot of 152.73 with type <class 'str'>
['Fr', '6/3/16', '152.89', '2.328M', '3.146M']
spot of 152.89 with type <class 'str'>
['Th', '6/2/16', '153.5', '2.643M', '3.207M']
spot of 153.5 with type <class 'str'>
['We', '6/1/16', '152.51', '2.663M', '3.237M']
spot of 152.51 with type <class 'str'>
['Tu', '5/31/16', '153.74', '5.837M', '3.326M']
spot of 153.74 with type <class 'str'>
['Fr', '5/27/16', '152.84', '2.457M', '3.224M']
spot of 152.84 with type <class 'str'>
['Th', '5/26/16', '152.44', '3.063M', '3.386M']
spot of 152.44 with type <class 'str'>
['We', '5/25/16', '151.69', '4.358M', '3.615M']
spot of 151.69 with type <class 'str'>
['Tu', '5/24/16', '148.31', '2.929M', '3.497M']
spot of 148.31 with type <class 'str'>
['Mo', '5/23/16', '146.77', '2.104M', '3.54M']
spot of 146.77 with type <class 'str'>
['Fr', '5/20/16', '147.25', '3.671M', '3.634M']
spot of 147.25 with type <class 'str'>
['Th', '5/19/16', '144.93', '3.686M', '3.671M']
spot of 144.93 with type <class 'str'>
['We', '5/18/16', '147.34', '2.491M', '3.678M']
spot of 147.34 with type <class 'str'>
['Tu', '5/17/16', '148', '3.491M', '3.719M']
spot of 148 with type <class 'str'>
['Mo', '5/16/16', '149.46', '3.069M', '3.685M']
spot of 149.46 with type <class 'str'>
['Fr', '5/13/16', '147.72', '2.398M', '3.67M']
spot of 147.72 with type <class 'str'>
['Th', '5/12/16', '148.84', '3.249M', '3.856M']
spot of 148.84 with type <class 'str'>
['We', '5/11/16', '148.95', '3.093M', '4.041M']
spot of 148.95 with type <class 'str'>
['Tu', '5/10/16', '149.97', '3.993M', '4.285M']
spot of 149.97 with type <class 'str'>
['Mo', '5/9/16', '147.34', '4.302M', '4.898M']
spot of 147.34 with type <class 'str'>
['Fr', '5/6/16', '147.29', '4.896M', '5.05M']
spot of 147.29 with type <class 'str'>
['Th', '5/5/16', '146.47', '6.501M', '4.968M']
spot of 146.47 with type <class 'str'>
['We', '5/4/16', '144.25', '2.577M', '4.746M']
spot of 144.25 with type <class 'str'>
['Tu', '5/3/16', '144.13', '3.584M', '4.785M']
spot of 144.13 with type <class 'str'>
['Mo', '5/2/16', '145.27', '3.502M', '4.786M']
spot of 145.27 with type <class 'str'>
['Fr', '4/29/16', '145.94', '4.226M', '4.809M']
spot of 145.94 with type <class 'str'>
['Th', '4/28/16', '147.07', '3.792M', '4.747M']
spot of 147.07 with type <class 'str'>
['We', '4/27/16', '150.47', '3.111M', '4.738M']
spot of 150.47 with type <class 'str'>
['Tu', '4/26/16', '149.08', '2.98M', '4.811M']
spot of 149.08 with type <class 'str'>
['Mo', '4/25/16', '148.81', '2.849M', '4.834M']
spot of 148.81 with type <class 'str'>
['Fr', '4/22/16', '148.5', '5.192M', '4.907M']
spot of 148.5 with type <class 'str'>
['Th', '4/21/16', '149.3', '6.018M', '4.822M']
spot of 149.3 with type <class 'str'>
['We', '4/20/16', '146.11', '6.754M', '4.873M']
spot of 146.11 with type <class 'str'>
['Tu', '4/19/16', '144', '13.19M', '4.645M']
spot of 144 with type <class 'str'>
['Mo', '4/18/16', '152.53', '6.582M', '3.975M']
spot of 152.53 with type <class 'str'>
['Fr', '4/15/16', '151.72', '3.658M', '3.754M']
spot of 151.72 with type <class 'str'>
['Th', '4/14/16', '151.16', '3.177M', '3.846M']
spot of 151.16 with type <class 'str'>
['We', '4/13/16', '151.23', '3.168M', '3.952M']
spot of 151.23 with type <class 'str'>
['Tu', '4/12/16', '149.63', '3.596M', '4.013M']
spot of 149.63 with type <class 'str'>
['Mo', '4/11/16', '149.25', '3.846M', '4.021M']
spot of 149.25 with type <class 'str'>
['Fr', '4/8/16', '149.35', '3.294M', '4.571M']
spot of 149.35 with type <class 'str'>
['Th', '4/7/16', '148.25', '3.663M', '4.739M']
spot of 148.25 with type <class 'str'>
['We', '4/6/16', '150.02', '4.195M', '4.777M']
spot of 150.02 with type <class 'str'>
['Tu', '4/5/16', '150', '3.337M', '4.744M']
spot of 150 with type <class 'str'>
['Mo', '4/4/16', '152.07', '3.931M', '4.792M']
spot of 152.07 with type <class 'str'>
['Fr', '4/1/16', '152.52', '3.926M', '4.824M']
spot of 152.52 with type <class 'str'>
['Th', '3/31/16', '151.45', '6.781M', '4.831M']
spot of 151.45 with type <class 'str'>
['We', '3/30/16', '148.41', '3.331M', '4.672M']
spot of 148.41 with type <class 'str'>
['Tu', '3/29/16', '149.33', '3.139M', '4.822M']
spot of 149.33 with type <class 'str'>
['Mo', '3/28/16', '148.4', '3.265M', '4.958M']
spot of 148.4 with type <class 'str'>
['Th', '3/24/16', '147.95', '5.045M', '5.005M']
spot of 147.95 with type <class 'str'>
['We', '3/23/16', '145.4', '4.764M', '5.012M']
spot of 145.4 with type <class 'str'>
['Tu', '3/22/16', '148.1', '4.082M', '5.042M']
spot of 148.1 with type <class 'str'>
['Mo', '3/21/16', '148.63', '3.722M', '5.023M']
spot of 148.63 with type <class 'str'>
['Fr', '3/18/16', '147.09', '12.09M', '5.07M']
spot of 147.09 with type <class 'str'>
['Th', '3/17/16', '147.04', '5.822M', '4.556M']
spot of 147.04 with type <class 'str'>
['We', '3/16/16', '144.79', '4.222M', '4.459M']
spot of 144.79 with type <class 'str'>
['Tu', '3/15/16', '142.96', '3.708M', '4.452M']
spot of 142.96 with type <class 'str'>
['Mo', '3/14/16', '142.78', '4.049M', '4.434M']
spot of 142.78 with type <class 'str'>
['Fr', '3/11/16', '142.36', '4.422M', '4.461M']
spot of 142.36 with type <class 'str'>
['Th', '3/10/16', '140.19', '4.021M', '4.508M']
spot of 140.19 with type <class 'str'>
['We', '3/9/16', '140.41', '4.406M', '4.904M']
spot of 140.41 with type <class 'str'>
['Tu', '3/8/16', '139.07', '5.579M', '4.931M']
spot of 139.07 with type <class 'str'>
['Mo', '3/7/16', '140.15', '5.171M', '4.83M']
spot of 140.15 with type <class 'str'>
['Fr', '3/4/16', '137.8', '3.968M', '4.815M']
spot of 137.8 with type <class 'str'>
['Th', '3/3/16', '137.8', '5.156M', '5.037M']
spot of 137.8 with type <class 'str'>
['We', '3/2/16', '136.3', '5.217M', '5.125M']
spot of 136.3 with type <class 'str'>
['Tu', '3/1/16', '134.37', '3.789M', '5.174M']
spot of 134.37 with type <class 'str'>
['Mo', '2/29/16', '131.03', '4.428M', '5.412M']
spot of 131.03 with type <class 'str'>
['Fr', '2/26/16', '132.03', '4.386M', '5.596M']
spot of 132.03 with type <class 'str'>
['Th', '2/25/16', '134.5', '4.358M', '5.654M']
spot of 134.5 with type <class 'str'>
['We', '2/24/16', '132.8', '4.123M', '5.779M']
spot of 132.8 with type <class 'str'>
['Tu', '2/23/16', '132.4', '3.44M', '5.723M']
spot of 132.4 with type <class 'str'>
['Mo', '2/22/16', '133.77', '4.457M', '5.732M']
spot of 133.77 with type <class 'str'>
['Fr', '2/19/16', '133.08', '5.125M', '5.985M']
spot of 133.08 with type <class 'str'>
['Th', '2/18/16', '132.45', '9.952M', '5.906M']
spot of 132.45 with type <class 'str'>
['We', '2/17/16', '126.1', '4.821M', '5.578M']

spot of 126.1 with type <class 'str'>
['Tu', '2/16/16', '122.74', '4.061M', '5.564M']
spot of 122.74 with type <class 'str'>
['Fr', '2/12/16', '121.04', '4.937M', '5.656M']
spot of 121.04 with type <class 'str'>
['Th', '2/11/16', '117.85', '7.308M', '5.943M']
spot of 117.85 with type <class 'str'>
['We', '2/10/16', '120.19', '6.469M', '6.046M']
spot of 120.19 with type <class 'str'>
['Tu', '2/9/16', '124.07', '5.957M', '6.692M']
spot of 124.07 with type <class 'str'>
['Mo', '2/8/16', '126.98', '7.364M', '6.96M']
spot of 126.98 with type <class 'str'>
['Fr', '2/5/16', '128.57', '7.178M', '7.07M']
spot of 128.57 with type <class 'str'>
['Th', '2/4/16', '127.65', '5.266M', '6.972M']
spot of 127.65 with type <class 'str'>
['We', '2/3/16', '124.72', '6.224M', '6.934M']
spot of 124.72 with type <class 'str'>
['Tu', '2/2/16', '122.94', '3.287M', '6.858M']
spot of 122.94 with type <class 'str'>
['Mo', '2/1/16', '124.83', '3.575M', '6.97M']
spot of 124.83 with type <class 'str'>
['Fr', '1/29/16', '124.79', '8.248M', '7.049M']
spot of 124.79 with type <class 'str'>
['Th', '1/28/16', '122.22', '3.943M', '6.968M']
spot of 122.22 with type <class 'str'>
['We', '1/27/16', '120.96', '5.026M', '6.993M']
spot of 120.96 with type <class 'str'>
['Tu', '1/26/16', '122.59', '4.618M', '6.919M']
spot of 122.59 with type <class 'str'>
['Mo', '1/25/16', '122.08', '5.446M', '6.96M']
spot of 122.08 with type <class 'str'>
['Fr', '1/22/16', '122.5', '9.238M', '6.828M']
spot of 122.5 with type <class 'str'>
['Th', '1/21/16', '122.91', '8.852M', '6.411M']
spot of 122.91 with type <class 'str'>
['We', '1/20/16', '121.86', '16.158M', '6.084M']
spot of 121.86 with type <class 'str'>
['Tu', '1/19/16', '128.11', '9.98M', '5.216M']
spot of 128.11 with type <class 'str'>
['Fr', '1/15/16', '130.03', '9.008M', '4.651M']
spot of 130.03 with type <class 'str'>
['Th', '1/14/16', '132.91', '5.71M', '4.394M']
spot of 132.91 with type <class 'str'>
['We', '1/13/16', '131.17', '4.7M', '4.298M']
spot of 131.17 with type <class 'str'>
['Tu', '1/12/16', '132.9', '5.079M', '4.359M']
spot of 132.9 with type <class 'str'>
['Mo', '1/11/16', '133.23', '4.974M', '4.689M']
spot of 133.23 with type <class 'str'>
['Fr', '1/8/16', '131.63', '4.763M', '4.63M']
spot of 131.63 with type <class 'str'>
['Th', '1/7/16', '132.86', '7.026M', '4.602M']
spot of 132.86 with type <class 'str'>
['We', '1/6/16', '135.17', '4.311M', '4.416M']
spot of 135.17 with type <class 'str'>
['Tu', '1/5/16', '135.85', '3.925M', '4.472M']
spot of 135.85 with type <class 'str'>
['Mo', '1/4/16', '135.95', '5.229M', '4.566M']
spot of 135.95 with type <class 'str'>
['Th', '12/31/15', '137.62', '3.462M', '4.499M']
spot of 137.62 with type <class 'str'>
['We', '12/30/15', '139.34', '2.989M', '4.575M']
spot of 139.34 with type <class 'str'>
['Tu', '12/29/15', '139.78', '3.944M', '4.637M']
spot of 139.78 with type <class 'str'>
['Mo', '12/28/15', '137.61', '3.143M', '4.592M']
spot of 137.61 with type <class 'str'>
['Th', '12/24/15', '138.25', '1.495M', '4.687M']
spot of 138.25 with type <class 'str'>
['We', '12/23/15', '138.54', '5.165M', '4.982M']
spot of 138.54 with type <class 'str'>
['Tu', '12/22/15', '137.93', '4.264M', '4.886M']
spot of 137.93 with type <class 'str'>
['Mo', '12/21/15', '135.5', '5.617M', '4.881M']
spot of 135.5 with type <class 'str'>
['Fr', '12/18/15', '134.9', '10.026M', '4.81M']
spot of 134.9 with type <class 'str'>
['Th', '12/17/15', '136.75', '4.09M', '4.236M']
spot of 136.75 with type <class 'str'>
['We', '12/16/15', '139.29', '4.345M', '4.179M']
spot of 139.29 with type <class 'str'>
['Tu', '12/15/15', '137.79', '4.239M', '4.116M']
spot of 137.79 with type <class 'str'>
['Mo', '12/14/15', '135.93', '5.144M', '4.176M']
spot of 135.93 with type <class 'str'>
['Fr', '12/11/15', '134.57', '5.334M', '4.179M']
spot of 134.57 with type <class 'str'>
['Th', '12/10/15', '136.78', '4.222M', '4.14M']
spot of 136.78 with type <class 'str'>
['We', '12/9/15', '136.61', '4.615M', '4.135M']
spot of 136.61 with type <class 'str'>
['Tu', '12/8/15', '138.05', '3.905M', '4.015M']
spot of 138.05 with type <class 'str'>
['Mo', '12/7/15', '139.55', '3.279M', '4.034M']
spot of 139.55 with type <class 'str'>
['Fr', '12/4/15', '140.43', '4.572M', '4.123M']
spot of 140.43 with type <class 'str'>
['Th', '12/3/15', '138.92', '5.91M', '4.132M']
spot of 138.92 with type <class 'str'>
['We', '12/2/15', '139.7', '3.725M', '3.949M']
spot of 139.7 with type <class 'str'>
['Tu', '12/1/15', '141.28', '4.195M', '4.002M']
spot of 141.28 with type <class 'str'>
['Mo', '11/30/15', '139.42', '4.546M', '4.26M']
spot of 139.42 with type <class 'str'>
['Fr', '11/27/15', '138.46', '1.416M', '4.274M']
spot of 138.46 with type <class 'str'>
['We', '11/25/15', '138', '3.238M', '4.519M']
spot of 138 with type <class 'str'>
['Tu', '11/24/15', '138.6', '3.408M', '4.538M']
spot of 138.6 with type <class 'str'>
['Mo', '11/23/15', '138.46', '5.138M', '4.601M']
spot of 138.46 with type <class 'str'>
['Fr', '11/20/15', '138.5', '5.176M', '4.513M']
spot of 138.5 with type <class 'str'>
['Th', '11/19/15', '136.74', '4.754M', '4.433M']
spot of 136.74 with type <class 'str'>
['We', '11/18/15', '135.82', '4.149M', '4.364M']
spot of 135.82 with type <class 'str'>
['Tu', '11/17/15', '133.82', '2.815M', '4.655M']
spot of 133.82 with type <class 'str'>
['Mo', '11/16/15', '133.71', '4.191M', '5.467M']
spot of 133.71 with type <class 'str'>
['Fr', '11/13/15', '131.75', '4.614M', '5.421M']
spot of 131.75 with type <class 'str'>
['Th', '11/12/15', '133.04', '4.701M', '5.471M']
spot of 133.04 with type <class 'str'>
['We', '11/11/15', '135.02', '3.165M', '5.53M']
spot of 135.02 with type <class 'str'>
['Tu', '11/10/15', '135.47', '4.521M', '5.795M']
spot of 135.47 with type <class 'str'>
['Mo', '11/9/15', '135.31', '8.076M', '6.562M']
spot of 135.31 with type <class 'str'>
['Fr', '11/6/15', '138.25', '4.745M', '6.554M']
spot of 138.25 with type <class 'str'>
['Th', '11/5/15', '139.89', '5.097M', '6.469M']
spot of 139.89 with type <class 'str'>
['We', '11/4/15', '141.63', '3.517M', '6.361M']
spot of 141.63 with type <class 'str'>
['Tu', '11/3/15', '141.88', '4.349M', '6.35M']
spot of 141.88 with type <class 'str'>
['Mo', '11/2/15', '140.37', '3.822M', '6.322M']
spot of 140.37 with type <class 'str'>
['Fr', '10/30/15', '140.08', '3.984M', '6.282M']
spot of 140.08 with type <class 'str'>
['Th', '10/29/15', '140.55', '3.71M', '6.252M']
spot of 140.55 with type <class 'str'>
['We', '10/28/15', '140.83', '8.511M', '6.324M']
spot of 140.83 with type <class 'str'>
['Tu', '10/27/15', '137.86', '15.009M', '5.956M']
spot of 137.86 with type <class 'str'>
['Mo', '10/26/15', '143.66', '3.489M', '5.157M']
spot of 143.66 with type <class 'str'>
['Fr', '10/23/15', '144.68', '5.37M', '5.266M']
spot of 144.68 with type <class 'str'>
['Th', '10/22/15', '144.09', '5.583M', '5.112M']
spot of 144.09 with type <class 'str'>
['We', '10/21/15', '140.92', '7.135M', '4.998M']
spot of 140.92 with type <class 'str'>
['Tu', '10/20/15', '140.64', '16.026M', '4.786M']
spot of 140.64 with type <class 'str'>
['Mo', '10/19/15', '149.22', '7.955M', '4.035M']
spot of 149.22 with type <class 'str'>
['Fr', '10/16/15', '150.39', '3.484M', '3.792M']
spot of 150.39 with type <class 'str'>
['Th', '10/15/15', '150.09', '3.476M', '3.792M']
spot of 150.09 with type <class 'str'>
['We', '10/14/15', '150.01', '3.353M', '3.779M']
spot of 150.01 with type <class 'str'>
['Tu', '10/13/15', '149.62', '3.916M', '3.733M']
spot of 149.62 with type <class 'str'>
['Mo', '10/12/15', '151.14', '3.228M', '3.71M']
spot of 151.14 with type <class 'str'>
['Fr', '10/9/15', '152.39', '3.531M', '3.75M']
spot of 152.39 with type <class 'str'>
['Th', '10/8/15', '152.28', '4.794M', '4.046M']
spot of 152.28 with type <class 'str'>
['We', '10/7/15', '150.09', '2.99M', '3.993M']
spot of 150.09 with type <class 'str'>
['Tu', '10/6/15', '148.78', '3.018M', '3.981M']
spot of 148.78 with type <class 'str'>
['Mo', '10/5/15', '149.04', '5.132M', '3.96M']
spot of 149.04 with type <class 'str'>
['Fr', '10/2/15', '144.58', '3.054M', '3.833M']
spot of 144.58 with type <class 'str'>
['Th', '10/1/15', '143.59', '3.881M', '3.838M']
spot of 143.59 with type <class 'str'>
['We', '9/30/15', '144.97', '3.946M', '3.81M']
spot of 144.97 with type <class 'str'>
['Tu', '9/29/15', '142.47', '4.764M', '3.774M']
spot of 142.47 with type <class 'str'>
['Mo', '9/28/15', '142.52', '4.317M', '3.718M']
spot of 142.52 with type <class 'str'>
['Fr', '9/25/15', '145.42', '3.474M', '3.711M']
spot of 145.42 with type <class 'str'>
['Th', '9/24/15', '144.41', '3.28M', '3.719M']
spot of 144.41 with type <class 'str'>
['We', '9/23/15', '143.66', '2.674M', '3.784M']
spot of 143.66 with type <class 'str'>
['Tu', '9/22/15', '144.43', '3.564M', '3.957M']
spot of 144.43 with type <class 'str'>
['Mo', '9/21/15', '146.48', '3.825M', '3.992M']
spot of 146.48 with type <class 'str'>
['Fr', '9/18/15', '144.51', '7.976M', '4.009M']
spot of 144.51 with type <class 'str'>
['Th', '9/17/15', '148.14', '4.003M', '3.809M']
spot of 148.14 with type <class 'str'>
['We', '9/16/15', '148.41', '2.799M', '3.957M']
spot of 148.41 with type <class 'str'>
['Tu', '9/15/15', '147.53', '2.717M', '4.242M']
spot of 147.53 with type <class 'str'>
['Mo', '9/14/15', '145.65', '3.227M', '4.74M']
spot of 145.65 with type <class 'str'>
['Fr', '9/11/15', '147.37', '3.115M', '5.016M']
spot of 147.37 with type <class 'str'>
['Th', '9/10/15', '146.2', '3.462M', '5.076M']
spot of 146.2 with type <class 'str'>
['We', '9/9/15', '145.05', '3.408M', '5.125M']
spot of 145.05 with type <class 'str'>
['Tu', '9/8/15', '147.23', '3.933M', '5.033M']
spot of 147.23 with type <class 'str'>
['Fr', '9/4/15', '143.7', '4.201M', '4.92M']
spot of 143.7 with type <class 'str'>
['Th', '9/3/15', '146.78', '3.604M', '4.856M']
spot of 146.78 with type <class 'str'>
['We', '9/2/15', '145.05', '4.252M', '4.784M']
spot of 145.05 with type <class 'str'>
['Tu', '9/1/15', '142.68', '5.272M', '4.742M']
spot of 142.68 with type <class 'str'>
['Mo', '8/31/15', '147.89', '4.093M', '4.602M']
spot of 147.89 with type <class 'str'>
['Fr', '8/28/15', '147.98', '4.076M', '4.637M']
spot of 147.98 with type <class 'str'>
['Th', '8/27/15', '148.54', '4.977M', '4.618M']
spot of 148.54 with type <class 'str'>
['We', '8/26/15', '146.7', '6.222M', '4.486M']
spot of 146.7 with type <class 'str'>
['Tu', '8/25/15', '140.96', '7.073M', '4.303M']
spot of 140.96 with type <class 'str'>
['Mo', '8/24/15', '143.47', '10.19M', '4.182M']
spot of 143.47 with type <class 'str'>
['Fr', '8/21/15', '148.85', '7.362M', '3.811M']
spot of 148.85 with type <class 'str'>
['Th', '8/20/15', '152.66', '4.012M', '3.559M']
spot of 152.66 with type <class 'str'>
['We', '8/19/15', '153.94', '4.206M', '3.424M']
spot of 153.94 with type <class 'str'>
['Tu', '8/18/15', '156.01', '2.018M', '3.369M']
spot of 156.01 with type <class 'str'>
['Mo', '8/17/15', '156.31', '2.25M', '3.416M']
spot of 156.31 with type <class 'str'>
['Fr', '8/14/15', '155.75', '3.226M', '3.513M']
spot of 155.75 with type <class 'str'>
['Th', '8/13/15', '155.07', '2.533M', '3.55M']
spot of 155.07 with type <class 'str'>
['We', '8/12/15', '156.16', '3.625M', '3.716M']
spot of 156.16 with type <class 'str'>
['Tu', '8/11/15', '155.51', '3.167M', '3.954M']
spot of 155.51 with type <class 'str'>
['Mo', '8/10/15', '156.75', '4.613M', '4.659M']
spot of 156.75 with type <class 'str'>
['Fr', '8/7/15', '155.12', '3.795M', '4.844M']
spot of 155.12 with type <class 'str'>
['Th', '8/6/15', '156.32', '3.005M', '4.881M']
spot of 156.32 with type <class 'str'>
['We', '8/5/15', '157.9', '3.473M', '4.916M']
spot of 157.9 with type <class 'str'>
['Tu', '8/4/15', '157.6', '5.261M', '4.818M']
spot of 157.6 with type <class 'str'>
['Mo', '8/3/15', '158.71', '4.616M', '4.669M']
spot of 158.71 with type <class 'str'>
['Fr', '7/31/15', '161.99', '3.58M', '4.643M']
spot of 161.99 with type <class 'str'>
['Th', '7/30/15', '160.96', '1.995M', '4.707M']
spot of 160.96 with type <class 'str'>
['We', '7/29/15', '161.09', '3.378M', '4.854M']
spot of 161.09 with type <class 'str'>
['Tu', '7/28/15', '160.05', '2.721M', '4.814M']
spot of 160.05 with type <class 'str'>
['Mo', '7/27/15', '159.07', '3.706M', '4.869M']
spot of 159.07 with type <class 'str'>
['Fr', '7/24/15', '159.75', '3.778M', '4.827M']
spot of 159.75 with type <class 'str'>
['Th', '7/23/15', '161.73', '5.034M', '4.765M']
spot of 161.73 with type <class 'str'>
['We', '7/22/15', '160.35', '7.182M', '4.644M']
spot of 160.35 with type <class 'str'>
['Tu', '7/21/15', '163.07', '13.752M', '4.405M']
spot of 163.07 with type <class 'str'>
['Mo', '7/20/15', '173.22', '7.378M', '3.709M']
spot of 173.22 with type <class 'str'>
['Fr', '7/17/15', '172.51', '4.356M', '3.814M']
spot of 172.51 with type <class 'str'>
['Th', '7/16/15', '171', '3.53M', '3.684M']
spot of 171 with type <class 'str'>
['We', '7/15/15', '168.53', '1.998M', '3.685M']
spot of 168.53 with type <class 'str'>
['Tu', '7/14/15', '168.61', '3.025M', '3.799M']
spot of 168.61 with type <class 'str'>
['Mo', '7/13/15', '169.38', '4.229M', '3.753M']
spot of 169.38 with type <class 'str'>
['Fr', '7/10/15', '166.95', '4.538M', '3.943M']
spot of 166.95 with type <class 'str'>
['Th', '7/9/15', '163.85', '4.2M', '3.862M']
spot of 163.85 with type <class 'str'>
['We', '7/8/15', '163.16', '2.776M', '3.773M']
spot of 163.16 with type <class 'str'>
['Tu', '7/7/15', '165', '3.55M', '3.804M']
spot of 165 with type <class 'str'>
['Mo', '7/6/15', '164.73', '3.08M', '3.851M']
spot of 164.73 with type <class 'str'>
['Th', '7/2/15', '165.09', '2.853M', '3.85M']
spot of 165.09 with type <class 'str'>
['We', '7/1/15', '164.49', '3.215M', '3.891M']
spot of 164.49 with type <class 'str'>
['Tu', '6/30/15', '162.66', '3.597M', '3.988M']
spot of 162.66 with type <class 'str'>
['Mo', '6/29/15', '162.97', '3.315M', '3.975M']
spot of 162.97 with type <class 'str'>
['Fr', '6/26/15', '165.46', '8.946M', '4.005M']
spot of 165.46 with type <class 'str'>
['Th', '6/25/15', '166.08', '2.409M', '3.615M']
spot of 166.08 with type <class 'str'>
['We', '6/24/15', '166.97', '3.548M', '3.66M']
spot of 166.97 with type <class 'str'>
['Tu', '6/23/15', '168.62', '3.702M', '3.565M']
spot of 168.62 with type <class 'str'>
['Mo', '6/22/15', '167.73', '2.336M', '3.49M']
spot of 167.73 with type <class 'str'>
['Fr', '6/19/15', '166.99', '7.074M', '3.533M']
spot of 166.99 with type <class 'str'>
['Th', '6/18/15', '168.25', '3.331M', '3.334M']
spot of 168.25 with type <class 'str'>
['We', '6/17/15', '167.17', '2.863M', '3.228M']
spot of 167.17 with type <class 'str'>
['Tu', '6/16/15', '166.84', '3.25M', '3.221M']
spot of 166.84 with type <class 'str'>
['Mo', '6/15/15', '166.26', '4.246M', '3.261M']
spot of 166.26 with type <class 'str'>
['Fr', '6/12/15', '166.99', '3.065M', '3.168M']
spot of 166.99 with type <class 'str'>
['Th', '6/11/15', '168.78', '3.464M', '3.117M']
spot of 168.78 with type <class 'str'>
['We', '6/10/15', '168.92', '4.681M', '3.039M']
spot of 168.92 with type <class 'str'>
['Tu', '6/9/15', '165.68', '3.396M', '2.896M']
spot of 165.68 with type <class 'str'>
['Mo', '6/8/15', '165.34', '3.759M', '2.801M']
spot of 165.34 with type <class 'str'>
['Fr', '6/5/15', '167.4', '3.101M', '2.744M']
spot of 167.4 with type <class 'str'>
['Th', '6/4/15', '168.38', '3.079M', '2.7M']
spot of 168.38 with type <class 'str'>
['We', '6/3/15', '169.92', '2.131M', '2.659M']
spot of 169.92 with type <class 'str'>
['Tu', '6/2/15', '169.65', '2.572M', '2.714M']
spot of 169.65 with type <class 'str'>
['Mo', '6/1/15', '170.18', '2.985M', '2.72M']
spot of 170.18 with type <class 'str'>
['Fr', '5/29/15', '169.65', '4.092M', '2.727M']
spot of 169.65 with type <class 'str'>
['Th', '5/28/15', '171.71', '1.731M', '2.619M']
spot of 171.71 with type <class 'str'>
['We', '5/27/15', '172', '2.764M', '2.745M']
spot of 172 with type <class 'str'>
['Tu', '5/26/15', '170.13', '3.854M', '2.8M']
spot of 170.13 with type <class 'str'>
['Fr', '5/22/15', '172.22', '2.85M', '2.812M']
spot of 172.22 with type <class 'str'>
['Th', '5/21/15', '173.34', '2.296M', '2.843M']
spot of 173.34 with type <class 'str'>
['We', '5/20/15', '173.76', '2.301M', '3.027M']
spot of 173.76 with type <class 'str'>
['Tu', '5/19/15', '173.48', '2.523M', '3.175M']
spot of 173.48 with type <class 'str'>
['Mo', '5/18/15', '173.06', '1.971M', '3.394M']
spot of 173.06 with type <class 'str'>
['Fr', '5/15/15', '173.26', '2.917M', '3.474M']
spot of 173.26 with type <class 'str'>
['Th', '5/14/15', '174.05', '2.439M', '3.539M']
spot of 174.05 with type <class 'str'>
['We', '5/13/15', '172.28', '2.458M', '3.926M']
spot of 172.28 with type <class 'str'>
['Tu', '5/12/15', '170.55', '2.962M', '4.03M']
spot of 170.55 with type <class 'str'>
['Mo', '5/11/15', '171.12', '2.661M', '4.478M']
spot of 171.12 with type <class 'str'>
['Fr', '5/8/15', '172.68', '3.093M', '4.941M']
spot of 172.68 with type <class 'str'>
['Th', '5/7/15', '170.99', '2.473M', '5.023M']
spot of 170.99 with type <class 'str'>
['We', '5/6/15', '170.05', '3.613M', '5.067M']
spot of 170.05 with type <class 'str'>
['Tu', '5/5/15', '173.08', '3.594M', '5.059M']
spot of 173.08 with type <class 'str'>
['Mo', '5/4/15', '173.97', '4.028M', '5.001M']
spot of 173.97 with type <class 'str'>

['Fr', '5/1/15', '173.67', '3.312M', '4.991M']
spot of 173.67 with type <class 'str'>
['Th', '4/30/15', '171.29', '5.063M', '4.937M']
spot of 171.29 with type <class 'str'>
['We', '4/29/15', '174.4', '4.518M', '4.751M']
spot of 174.4 with type <class 'str'>
['Tu', '4/28/15', '173.92', '5.817M', '4.618M']
spot of 173.92 with type <class 'str'>
['Mo', '4/27/15', '170.73', '3.169M', '4.44M']
spot of 170.73 with type <class 'str'>
['Fr', '4/24/15', '169.78', '3.888M', '4.46M']
spot of 169.78 with type <class 'str'>
['Th', '4/23/15', '170.24', '8.236M', '4.512M']
spot of 170.24 with type <class 'str'>
['We', '4/22/15', '165.36', '4.025M', '4.21M']
spot of 165.36 with type <class 'str'>
['Tu', '4/21/15', '164.26', '9.684M', '4.225M']
spot of 164.26 with type <class 'str'>
['Mo', '4/20/15', '166.16', '9.609M', '3.855M']
spot of 166.16 with type <class 'str'>
['Fr', '4/17/15', '160.67', '4.314M', '3.447M']
spot of 160.67 with type <class 'str'>
['Th', '4/16/15', '163.13', '3.137M', '3.452M']
spot of 163.13 with type <class 'str'>
['We', '4/15/15', '164.13', '3.499M', '3.605M']
spot of 164.13 with type <class 'str'>
['Tu', '4/14/15', '162.3', '2.719M', '3.661M']
spot of 162.3 with type <class 'str'>
['Mo', '4/13/15', '162.38', '3.869M', '3.875M']
spot of 162.38 with type <class 'str'>
['Fr', '4/10/15', '162.86', '2.516M', '4.218M']
spot of 162.86 with type <class 'str'>
['Th', '4/9/15', '162.34', '2.263M', '4.309M']
spot of 162.34 with type <class 'str'>
['We', '4/8/15', '161.85', '2.524M', '4.54M']
spot of 161.85 with type <class 'str'>
['Tu', '4/7/15', '162.07', '3.148M', '4.593M']
spot of 162.07 with type <class 'str'>
['Mo', '4/6/15', '162.04', '3.466M', '4.633M']
spot of 162.04 with type <class 'str'>
['Th', '4/2/15', '160.45', '4.672M', '4.806M']
spot of 160.45 with type <class 'str'>
['We', '4/1/15', '159.18', '3.701M', '4.799M']
spot of 159.18 with type <class 'str'>
['Tu', '3/31/15', '160.5', '4.255M', '4.933M']
spot of 160.5 with type <class 'str'>
['Mo', '3/30/15', '162.67', '4.138M', '4.956M']
spot of 162.67 with type <class 'str'>
['Fr', '3/27/15', '160.4', '3.478M', '5.027M']
spot of 160.4 with type <class 'str'>
['Th', '3/26/15', '160.59', '4.396M', '5.098M']
spot of 160.59 with type <class 'str'>
['We', '3/25/15', '159.2', '5.429M', '5.057M']
spot of 159.2 with type <class 'str'>
['Tu', '3/24/15', '163', '4.346M', '4.938M']
spot of 163 with type <class 'str'>
['Mo', '3/23/15', '164.63', '5.93M', '4.863M']
spot of 164.63 with type <class 'str'>
['Fr', '3/20/15', '162.88', '9.006M', '4.863M']
spot of 162.88 with type <class 'str'>
['Th', '3/19/15', '159.81', '3.879M', '4.556M']
spot of 159.81 with type <class 'str'>
['We', '3/18/15', '159.81', '5.739M', '4.772M']
spot of 159.81 with type <class 'str'>
['Tu', '3/17/15', '156.96', '3.312M', '4.656M']
spot of 156.96 with type <class 'str'>
['Mo', '3/16/15', '157.08', '3.75M', '4.749M']
spot of 157.08 with type <class 'str'>
['Fr', '3/13/15', '154.28', '6.064M', '4.68M']
spot of 154.28 with type <class 'str'>
['Th', '3/12/15', '157.98', '4.567M', '4.499M']
spot of 157.98 with type <class 'str'>
['We', '3/11/15', '156.8', '5.71M', '4.428M']
spot of 156.8 with type <class 'str'>
['Tu', '3/10/15', '157.81', '4.601M', '4.338M']
spot of 157.81 with type <class 'str'>
['Mo', '3/9/15', '160.77', '5.194M', '4.224M']
spot of 160.77 with type <class 'str'>
['Fr', '3/6/15', '158.5', '4.54M', '4.125M']
spot of 158.5 with type <class 'str'>
['Th', '3/5/15', '161.18', '3.792M', '4.045M']
spot of 161.18 with type <class 'str'>
['We', '3/4/15', '159.42', '3.634M', '4.034M']
spot of 159.42 with type <class 'str'>
['Tu', '3/3/15', '161.03', '3.234M', '4.087M']
spot of 161.03 with type <class 'str'>
['Mo', '3/2/15', '160.48', '5.918M', '4.076M']
spot of 160.48 with type <class 'str'>
['Fr', '2/27/15', '161.94', '4.41M', '3.898M']
spot of 161.94 with type <class 'str'>
['Th', '2/26/15', '160.87', '7.111M', '3.954M']
spot of 160.87 with type <class 'str'>
['We', '2/25/15', '162.81', '4.005M', '3.726M']
spot of 162.81 with type <class 'str'>
['Tu', '2/24/15', '164.83', '4.702M', '3.828M']
spot of 164.83 with type <class 'str'>
['Mo', '2/23/15', '162.91', '2.714M', '3.829M']
spot of 162.91 with type <class 'str'>
['Fr', '2/20/15', '163.65', '3.353M', '4.085M']
spot of 163.65 with type <class 'str'>
['Th', '2/19/15', '163.89', '3.504M', '4.416M']
spot of 163.89 with type <class 'str'>
['We', '2/18/15', '162.19', '4.358M', '4.483M']
spot of 162.19 with type <class 'str'>
['Tu', '2/17/15', '160.96', '2.895M', '4.569M']
spot of 160.96 with type <class 'str'>
['Fr', '2/13/15', '160.4', '3.707M', '4.902M']
spot of 160.4 with type <class 'str'>
['Th', '2/12/15', '158.52', '3.333M', '4.977M']
spot of 158.52 with type <class 'str'>
['We', '2/11/15', '158.2', '3.627M', '5.163M']
spot of 158.2 with type <class 'str'>
['Tu', '2/10/15', '158.56', '4.441M', '5.715M']
spot of 158.56 with type <class 'str'>
['Mo', '2/9/15', '155.75', '3.058M', '5.978M']
spot of 155.75 with type <class 'str'>
['Fr', '2/6/15', '156.72', '3.256M', '6.158M']
spot of 156.72 with type <class 'str'>
['Th', '2/5/15', '157.91', '5.254M', '6.224M']
spot of 157.91 with type <class 'str'>
['We', '2/4/15', '156.96', '3.678M', '6.187M']
spot of 156.96 with type <class 'str'>
['Tu', '2/3/15', '158.47', '5.539M', '6.233M']
spot of 158.47 with type <class 'str'>
['Mo', '2/2/15', '154.66', '4.712M', '6.143M']
spot of 154.66 with type <class 'str'>
['Fr', '1/30/15', '153.31', '6.564M', '6.128M']
spot of 153.31 with type <class 'str'>
['Th', '1/29/15', '155.48', '8.321M', '5.973M']
spot of 155.48 with type <class 'str'>
['We', '1/28/15', '151.55', '4.496M', '5.732M']
spot of 151.55 with type <class 'str'>
['Tu', '1/27/15', '153.67', '5.66M', '5.842M']
spot of 153.67 with type <class 'str'>
['Mo', '1/26/15', '156.36', '7.888M', '5.79M']
spot of 156.36 with type <class 'str'>
['Fr', '1/23/15', '155.87', '4.835M', '5.633M']
spot of 155.87 with type <class 'str'>
['Th', '1/22/15', '155.39', '6.12M', '5.578M']
spot of 155.39 with type <class 'str'>
['We', '1/21/15', '152.09', '11.897M', '5.359M']
spot of 152.09 with type <class 'str'>
['Tu', '1/20/15', '156.95', '8.393M', '4.788M']
spot of 156.95 with type <class 'str'>
['Fr', '1/16/15', '157.14', '5.756M', '4.356M']
spot of 157.14 with type <class 'str'>
['Th', '1/15/15', '154.57', '4.252M', '4.096M']
spot of 154.57 with type <class 'str'>
['We', '1/14/15', '155.8', '4.69M', '4.083M']
spot of 155.8 with type <class 'str'>
['Tu', '1/13/15', '156.81', '4.378M', '4.082M']
spot of 156.81 with type <class 'str'>
['Mo', '1/12/15', '156.44', '4.188M', '4.381M']
spot of 156.44 with type <class 'str'>
['Fr', '1/9/15', '159.11', '4.488M', '4.589M']
spot of 159.11 with type <class 'str'>
['Th', '1/8/15', '158.42', '4.241M', '4.632M']
spot of 158.42 with type <class 'str'>
['We', '1/7/15', '155.05', '4.702M', '4.802M']
spot of 155.05 with type <class 'str'>
['Tu', '1/6/15', '156.07', '6.147M', '4.922M']
spot of 156.07 with type <class 'str'>
['Mo', '1/5/15', '159.51', '4.88M', '5.086M']
spot of 159.51 with type <class 'str'>
['Fr', '1/2/15', '162.06', '5.525M', '5.027M']
spot of 162.06 with type <class 'str'>
['We', '12/31/14', '160.44', '4.012M', '4.93M']
spot of 160.44 with type <class 'str'>
['Tu', '12/30/14', '160.05', '2.83M', '4.921M']
spot of 160.05 with type <class 'str'>
['Mo', '12/29/14', '160.51', '3.332M', '4.922M']
spot of 160.51 with type <class 'str'>
['Fr', '12/26/14', '162.34', '1.912M', '4.901M']
spot of 162.34 with type <class 'str'>
['We', '12/24/14', '161.82', '1.87M', '5.031M']
spot of 161.82 with type <class 'str'>
['Tu', '12/23/14', '162.24', '4.044M', '5.335M']
spot of 162.24 with type <class 'str'>
['Mo', '12/22/14', '161.44', '4.683M', '5.297M']
spot of 161.44 with type <class 'str'>
['Fr', '12/19/14', '158.51', '8.865M', '5.262M']
spot of 158.51 with type <class 'str'>
['Th', '12/18/14', '157.68', '7.302M', '4.832M']
spot of 157.68 with type <class 'str'>
['We', '12/17/14', '151.93', '5.139M', '4.609M']
spot of 151.93 with type <class 'str'>
['Tu', '12/16/14', '151.41', '6.783M', '4.538M']
spot of 151.41 with type <class 'str'>
['Mo', '12/15/14', '153.06', '6.5M', '4.527M']
spot of 153.06 with type <class 'str'>
['Fr', '12/12/14', '155.38', '8.612M', '4.365M']
spot of 155.38 with type <class 'str'>
['Th', '12/11/14', '161.07', '3.99M', '4.07M']
spot of 161.07 with type <class 'str'>
['We', '12/10/14', '160.51', '4.082M', '4.057M']
spot of 160.51 with type <class 'str'>
['Tu', '12/9/14', '162.99', '3.866M', '4.146M']
spot of 162.99 with type <class 'str'>
['Mo', '12/8/14', '161.86', '2.851M', '4.208M']
spot of 161.86 with type <class 'str'>
['Fr', '12/5/14', '163.27', '3.014M', '4.35M']
spot of 163.27 with type <class 'str'>
['Th', '12/4/14', '164.05', '3.863M', '4.365M']
spot of 164.05 with type <class 'str'>
['We', '12/3/14', '164.52', '6.435M', '4.333M']
spot of 164.52 with type <class 'str'>
['Tu', '12/2/14', '162.67', '3.466M', '4.14M']
spot of 162.67 with type <class 'str'>
['Mo', '12/1/14', '161.54', '4.168M', '4.239M']
spot of 161.54 with type <class 'str'>
['Fr', '11/28/14', '162.17', '2.406M', '4.194M']
spot of 162.17 with type <class 'str'>
['We', '11/26/14', '161.95', '3.967M', '4.305M']
spot of 161.95 with type <class 'str'>
['Tu', '11/25/14', '161.76', '4.062M', '4.314M']
spot of 161.76 with type <class 'str'>
['Mo', '11/24/14', '162.15', '6.619M', '4.327M']
spot of 162.15 with type <class 'str'>
['Fr', '11/21/14', '160.92', '4.077M', '4.198M']
spot of 160.92 with type <class 'str'>
['Th', '11/20/14', '160.64', '4.183M', '4.314M']
spot of 160.64 with type <class 'str'>
['We', '11/19/14', '161.43', '3.803M', '4.295M']
spot of 161.43 with type <class 'str'>
['Tu', '11/18/14', '161.89', '5.412M', '4.357M']
spot of 161.89 with type <class 'str'>
['Mo', '11/17/14', '164.16', '4.799M', '4.523M']
spot of 164.16 with type <class 'str'>
['Fr', '11/14/14', '164.16', '4.978M', '4.536M']
spot of 164.16 with type <class 'str'>
['Th', '11/13/14', '162.79', '3.24M', '4.647M']
spot of 162.79 with type <class 'str'>
['We', '11/12/14', '161.92', '3.378M', '4.938M']
spot of 161.92 with type <class 'str'>
['Tu', '11/11/14', '163.3', '3.536M', '5.452M']
spot of 163.3 with type <class 'str'>
['Mo', '11/10/14', '163.49', '4.958M', '6.614M']
spot of 163.49 with type <class 'str'>
['Fr', '11/7/14', '162.07', '3.495M', '7.844M']
spot of 162.07 with type <class 'str'>
['Th', '11/6/14', '161.46', '4.068M', '7.901M']
spot of 161.46 with type <class 'str'>
['We', '11/5/14', '161.82', '4.105M', '8.002M']
spot of 161.82 with type <class 'str'>
['Tu', '11/4/14', '162.65', '4.247M', '8.188M']
spot of 162.65 with type <class 'str'>
['Mo', '11/3/14', '164.36', '4.69M', '8.167M']
spot of 164.36 with type <class 'str'>
['Fr', '10/31/14', '164.4', '5.818M', '8.094M']
spot of 164.4 with type <class 'str'>
['Th', '10/30/14', '164.35', '3.896M', '8.046M']
spot of 164.35 with type <class 'str'>
['We', '10/29/14', '163.46', '4.742M', '7.961M']
spot of 163.46 with type <class 'str'>
['Tu', '10/28/14', '163.6', '7.897M', '7.844M']
spot of 163.6 with type <class 'str'>
['Mo', '10/27/14', '161.87', '4.989M', '7.517M']
spot of 161.87 with type <class 'str'>
['Fr', '10/24/14', '162.08', '6.652M', '7.324M']
spot of 162.08 with type <class 'str'>
['Th', '10/23/14', '162.18', '7.6M', '7.086M']
spot of 162.18 with type <class 'str'>
['We', '10/22/14', '161.79', '11.091M', '6.731M']
spot of 161.79 with type <class 'str'>
['Tu', '10/21/14', '163.23', '20.954M', '6.24M']
spot of 163.23 with type <class 'str'>
['Mo', '10/20/14', '169.1', '23.417M', '5.039M']
spot of 169.1 with type <class 'str'>
['Fr', '10/17/14', '182.05', '4.354M', '3.634M']
spot of 182.05 with type <class 'str'>
['Th', '10/16/14', '179.84', '5.579M', '3.51M']
spot of 179.84 with type <class 'str'>
['We', '10/15/14', '181.75', '6.898M', '3.415M']
spot of 181.75 with type <class 'str'>
['Tu', '10/14/14', '183.8', '3.925M', '3.161M']
spot of 183.8 with type <class 'str'>
['Mo', '10/13/14', '183.52', '3.6M', '3.119M']
spot of 183.52 with type <class 'str'>
['Fr', '10/10/14', '185.93', '5.09M', '3.1M']
spot of 185.93 with type <class 'str'>
['Th', '10/9/14', '186.42', '2.626M', '3.351M']
spot of 186.42 with type <class 'str'>
['We', '10/8/14', '189.36', '2.985M', '3.374M']
spot of 189.36 with type <class 'str'>
['Tu', '10/7/14', '185.71', '2.994M', '3.389M']
spot of 185.71 with type <class 'str'>
['Mo', '10/6/14', '189.04', '2.1M', '3.36M']
spot of 189.04 with type <class 'str'>
['Fr', '10/3/14', '188.67', '3.072M', '3.384M']
spot of 188.67 with type <class 'str'>
['Th', '10/2/14', '186.91', '2.284M', '3.373M']
spot of 186.91 with type <class 'str'>
['We', '10/1/14', '187.17', '3.723M', '3.374M']
spot of 187.17 with type <class 'str'>
['Tu', '9/30/14', '189.83', '2.933M', '3.31M']
spot of 189.83 with type <class 'str'>
['Mo', '9/29/14', '189.64', '2.345M', '3.275M']
spot of 189.64 with type <class 'str'>
['Fr', '9/26/14', '190.06', '2.494M', '3.287M']
spot of 190.06 with type <class 'str'>
['Th', '9/25/14', '189.01', '4.159M', '3.271M']
spot of 189.01 with type <class 'str'>
['We', '9/24/14', '192.31', '3.083M', '3.185M']
spot of 192.31 with type <class 'str'>
['Tu', '9/23/14', '191.62', '3.302M', '3.101M']
spot of 191.62 with type <class 'str'>
['Mo', '9/22/14', '193.11', '3.318M', '3.06M']
spot of 193.11 with type <class 'str'>
['Fr', '9/19/14', '194', '8.855M', '3.033M']
spot of 194 with type <class 'str'>
['Th', '9/18/14', '193.75', '2.963M', '2.543M']
spot of 193.75 with type <class 'str'>
['We', '9/17/14', '192.8', '3.214M', '2.491M']
spot of 192.8 with type <class 'str'>
['Tu', '9/16/14', '192.96', '2.562M', '2.489M']
spot of 192.96 with type <class 'str'>
['Mo', '9/15/14', '191.81', '2.458M', '2.433M']
spot of 191.81 with type <class 'str'>
['Fr', '9/12/14', '191.28', '2.901M', '2.398M']
spot of 191.28 with type <class 'str'>
['Th', '9/11/14', '191.72', '2.299M', '2.372M']
spot of 191.72 with type <class 'str'>
['We', '9/10/14', '191.54', '2.765M', '2.363M']
spot of 191.54 with type <class 'str'>
['Tu', '9/9/14', '189.99', '2.404M', '2.315M']
spot of 189.99 with type <class 'str'>
['Mo', '9/8/14', '190.14', '2.526M', '2.316M']
spot of 190.14 with type <class 'str'>
['Fr', '9/5/14', '191.2', '2.261M', '2.336M']
spot of 191.2 with type <class 'str'>
['Th', '9/4/14', '190.68', '2.869M', '2.313M']
spot of 190.68 with type <class 'str'>
['We', '9/3/14', '191.95', '1.824M', '2.242M']
spot of 191.95 with type <class 'str'>
['Tu', '9/2/14', '191.56', '2.68M', '2.244M']
spot of 191.56 with type <class 'str'>
['Fr', '8/29/14', '192.3', '2.911M', '2.234M']
spot of 192.3 with type <class 'str'>
['Th', '8/28/14', '192', '1.504M', '2.225M']
spot of 192 with type <class 'str'>
['We', '8/27/14', '192.25', '2.19M', '2.306M']
spot of 192.25 with type <class 'str'>
['Tu', '8/26/14', '192.99', '3.175M', '2.416M']
spot of 192.99 with type <class 'str'>
['Mo', '8/25/14', '191.16', '1.726M', '2.425M']
spot of 191.16 with type <class 'str'>
['Fr', '8/22/14', '190.41', '1.94M', '2.452M']
spot of 190.41 with type <class 'str'>
['Th', '8/21/14', '191.23', '2.498M', '2.668M']
spot of 191.23 with type <class 'str'>
['We', '8/20/14', '190.1', '2.178M', '2.782M']
spot of 190.1 with type <class 'str'>
['Tu', '8/19/14', '190.07', '2.04M', '2.9M']
spot of 190.07 with type <class 'str'>
['Mo', '8/18/14', '189.36', '2.42M', '2.981M']
spot of 189.36 with type <class 'str'>
['Fr', '8/15/14', '187.38', '2.816M', '3.036M']
spot of 187.38 with type <class 'str'>
['Th', '8/14/14', '187.88', '1.93M', '3.073M']
spot of 187.88 with type <class 'str'>
['We', '8/13/14', '187.95', '1.797M', '3.186M']
spot of 187.95 with type <class 'str'>
['Tu', '8/12/14', '187.34', '1.859M', '3.305M']
spot of 187.34 with type <class 'str'>
['Mo', '8/11/14', '187.47', '2.527M', '3.504M']
spot of 187.47 with type <class 'str'>
['Fr', '8/8/14', '186.63', '2.782M', '3.613M']
spot of 186.63 with type <class 'str'>
['Th', '8/7/14', '184.3', '2.709M', '3.972M']
spot of 184.3 with type <class 'str'>
['We', '8/6/14', '185.97', '3.847M', '4.383M']
spot of 185.97 with type <class 'str'>
['Tu', '8/5/14', '187.1', '3.308M', '4.648M']
spot of 187.1 with type <class 'str'>
['Mo', '8/4/14', '189.64', '2.126M', '4.752M']
spot of 189.64 with type <class 'str'>
['Fr', '8/1/14', '189.15', '5.181M', '4.91M']
spot of 189.15 with type <class 'str'>
['Th', '7/31/14', '191.67', '4.208M', '4.725M']
spot of 191.67 with type <class 'str'>
['We', '7/30/14', '194', '3.946M', '4.657M']
spot of 194 with type <class 'str'>
['Tu', '7/29/14', '194.57', '3.264M', '4.614M']
spot of 194.57 with type <class 'str'>
['Mo', '7/28/14', '195.78', '3.242M', '4.606M']
spot of 195.78 with type <class 'str'>
['Fr', '7/25/14', '194.4', '3.376M', '4.587M']
spot of 194.4 with type <class 'str'>
['Th', '7/24/14', '195.24', '3.613M', '4.523M']
spot of 195.24 with type <class 'str'>
['We', '7/23/14', '193.63', '3.584M', '4.622M']
spot of 193.63 with type <class 'str'>
['Tu', '7/22/14', '194.09', '4.853M', '4.826M']
spot of 194.09 with type <class 'str'>
['Mo', '7/21/14', '190.85', '4.155M', '4.784M']
spot of 190.85 with type <class 'str'>
['Fr', '7/18/14', '192.5', '8.169M', '4.812M']
spot of 192.5 with type <class 'str'>
['Th', '7/17/14', '192.49', '8.872M', '4.485M']
spot of 192.49 with type <class 'str'>

['We', '7/16/14', '192.36', '7.816M', '4.078M']
spot of 192.36 with type <class 'str'>
['Tu', '7/15/14', '188.49', '4.873M', '3.815M']
spot of 188.49 with type <class 'str'>
['Mo', '7/14/14', '189.86', '4.502M', '3.706M']
spot of 189.86 with type <class 'str'>
['Fr', '7/11/14', '188', '2.404M', '4.118M']
spot of 188 with type <class 'str'>
['Th', '7/10/14', '187.7', '3.178M', '4.194M']
spot of 187.7 with type <class 'str'>
['We', '7/9/14', '188.42', '3.31M', '4.245M']
spot of 188.42 with type <class 'str'>
['Tu', '7/8/14', '187.22', '3.135M', '4.188M']
spot of 187.22 with type <class 'str'>
['Mo', '7/7/14', '188.04', '2.959M', '4.216M']
spot of 188.04 with type <class 'str'>
['Th', '7/3/14', '188.53', '2.422M', '4.204M']
spot of 188.53 with type <class 'str'>
['We', '7/2/14', '188.39', '5.097M', '4.338M']
spot of 188.39 with type <class 'str'>
['Tu', '7/1/14', '186.35', '6.644M', '4.269M']
spot of 186.35 with type <class 'str'>
['Mo', '6/30/14', '181.27', '4.229M', '4.103M']
spot of 181.27 with type <class 'str'>
['Fr', '6/27/14', '181.71', '4.576M', '4.003M']
spot of 181.71 with type <class 'str'>
['Th', '6/26/14', '180.37', '3.258M', '3.918M']
spot of 180.37 with type <class 'str'>
['We', '6/25/14', '180.72', '2.763M', '3.892M']
spot of 180.72 with type <class 'str'>
['Tu', '6/24/14', '180.88', '3.875M', '3.866M']
spot of 180.88 with type <class 'str'>
['Mo', '6/23/14', '182.14', '3.232M', '3.775M']
spot of 182.14 with type <class 'str'>
['Fr', '6/20/14', '181.55', '10.687M', '3.774M']
spot of 181.55 with type <class 'str'>
['Th', '6/19/14', '182.82', '3.551M', '3.369M']
spot of 182.82 with type <class 'str'>
['We', '6/18/14', '183.6', '3.936M', '3.316M']
spot of 183.6 with type <class 'str'>
['Tu', '6/17/14', '182.26', '2.461M', '3.302M']
spot of 182.26 with type <class 'str'>
['Mo', '6/16/14', '182.35', '3.556M', '3.458M']
spot of 182.35 with type <class 'str'>
['Fr', '6/13/14', '182.56', '2.779M', '3.392M']
spot of 182.56 with type <class 'str'>
['Th', '6/12/14', '181.22', '4.425M', '3.354M']
spot of 181.22 with type <class 'str'>
['We', '6/11/14', '182.25', '4.065M', '3.258M']
spot of 182.25 with type <class 'str'>
['Tu', '6/10/14', '184.29', '4.157M', '3.19M']
spot of 184.29 with type <class 'str'>
['Mo', '6/9/14', '186.22', '2.728M', '3.131M']
spot of 186.22 with type <class 'str'>
['Fr', '6/6/14', '186.37', '3.297M', '3.212M']
spot of 186.37 with type <class 'str'>
['Th', '6/5/14', '185.98', '2.862M', '3.272M']
spot of 185.98 with type <class 'str'>
['We', '6/4/14', '184.51', '2.377M', '3.432M']
spot of 184.51 with type <class 'str'>
['Tu', '6/3/14', '184.37', '2.517M', '3.422M']
spot of 184.37 with type <class 'str'>
['Mo', '6/2/14', '185.69', '3.204M', '3.506M']
spot of 185.69 with type <class 'str'>
['Fr', '5/30/14', '184.36', '4.62M', '3.443M']
spot of 184.36 with type <class 'str'>
['Th', '5/29/14', '183.76', '2.76M', '3.297M']
spot of 183.76 with type <class 'str'>
['We', '5/28/14', '183.08', '3.724M', '3.368M']
spot of 183.08 with type <class 'str'>
['Tu', '5/27/14', '184.78', '4.795M', '3.332M']
spot of 184.78 with type <class 'str'>
['Fr', '5/23/14', '185.94', '2.563M', '3.161M']
spot of 185.94 with type <class 'str'>
['Th', '5/22/14', '185.68', '2.218M', '3.193M']
spot of 185.68 with type <class 'str'>
['We', '5/21/14', '186.39', '2.988M', '3.291M']
spot of 186.39 with type <class 'str'>
['Tu', '5/20/14', '184.89', '3.033M', '3.372M']
spot of 184.89 with type <class 'str'>
['Mo', '5/19/14', '187', '3.271M', '3.478M']
spot of 187 with type <class 'str'>
['Fr', '5/16/14', '187.06', '3.95M', '3.636M']
spot of 187.06 with type <class 'str'>
['Th', '5/15/14', '186.46', '4.203M', '3.631M']
spot of 186.46 with type <class 'str'>
['We', '5/14/14', '188.72', '5.256M', '3.645M']
spot of 188.72 with type <class 'str'>
['Tu', '5/13/14', '192.19', '2.227M', '3.61M']
spot of 192.19 with type <class 'str'>
['Mo', '5/12/14', '192.57', '3.779M', '3.72M']
spot of 192.57 with type <class 'str'>
['Fr', '5/9/14', '190.08', '2.262M', '3.83M']
spot of 190.08 with type <class 'str'>
['Th', '5/8/14', '188.91', '2.432M', '4.43M']
spot of 188.91 with type <class 'str'>
['We', '5/7/14', '189.3', '3.821M', '4.836M']
spot of 189.3 with type <class 'str'>
['Tu', '5/6/14', '190.03', '3.189M', '4.938M']
spot of 190.03 with type <class 'str'>
['Mo', '5/5/14', '191.26', '2.222M', '5.088M']
spot of 191.26 with type <class 'str'>
['Fr', '5/2/14', '191.44', '3.053M', '5.262M']
spot of 191.44 with type <class 'str'>
['Th', '5/1/14', '193.53', '3.676M', '5.62M']
spot of 193.53 with type <class 'str'>
['We', '4/30/14', '196.47', '4.211M', '5.741M']
spot of 196.47 with type <class 'str'>
['Tu', '4/29/14', '195.11', '4.626M', '5.802M']
spot of 195.11 with type <class 'str'>
['Mo', '4/28/14', '193.14', '5.638M', '5.943M']
spot of 193.14 with type <class 'str'>
['Fr', '4/25/14', '189.63', '3.871M', '5.973M']
spot of 189.63 with type <class 'str'>
['Th', '4/24/14', '190.22', '4.407M', '5.988M']
spot of 190.22 with type <class 'str'>
['We', '4/23/14', '191.73', '4.737M', '6.022M']
spot of 191.73 with type <class 'str'>
['Tu', '4/22/14', '192.15', '3.879M', '6.066M']
spot of 192.15 with type <class 'str'>
['Mo', '4/21/14', '192.27', '5.425M', '6.377M']
spot of 192.27 with type <class 'str'>
['Th', '4/17/14', '190.01', '11.255M', '6.361M']
spot of 190.01 with type <class 'str'>
['We', '4/16/14', '196.4', '8.527M', '6.062M']
spot of 196.4 with type <class 'str'>
['Tu', '4/15/14', '197.02', '5.353M', '5.951M']
spot of 197.02 with type <class 'str'>
['Mo', '4/14/14', '197.77', '5.434M', '6.321M']
spot of 197.77 with type <class 'str'>
['Fr', '4/11/14', '195.19', '4.835M', '6.341M']
spot of 195.19 with type <class 'str'>
['Th', '4/10/14', '195.68', '8.426M', '6.855M']
spot of 195.68 with type <class 'str'>
['We', '4/9/14', '196.64', '5.485M', '6.631M']
spot of 196.64 with type <class 'str'>
['Tu', '4/8/14', '193.29', '5.125M', '6.553M']
spot of 193.29 with type <class 'str'>
['Mo', '4/7/14', '194.52', '6.747M', '6.476M']
spot of 194.52 with type <class 'str'>
['Fr', '4/4/14', '191.77', '6.091M', '6.355M']
spot of 191.77 with type <class 'str'>
['Th', '4/3/14', '192.69', '4.091M', '6.315M']
spot of 192.69 with type <class 'str'>
['We', '4/2/14', '193.55', '4.924M', '6.37M']
spot of 193.55 with type <class 'str'>
['Tu', '4/1/14', '194.5', '5.395M', '6.364M']
spot of 194.5 with type <class 'str'>
['Mo', '3/31/14', '192.49', '8.538M', '6.286M']
spot of 192.49 with type <class 'str'>
['Fr', '3/28/14', '190.45', '5.194M', '6.023M']
spot of 190.45 with type <class 'str'>
['Th', '3/27/14', '189.83', '6.768M', '5.951M']
spot of 189.83 with type <class 'str'>
['We', '3/26/14', '192.62', '6.852M', '5.755M']
spot of 192.62 with type <class 'str'>
['Tu', '3/25/14', '195.04', '10.913M', '5.53M']
spot of 195.04 with type <class 'str'>
['Mo', '3/24/14', '188.25', '5.738M', '5.119M']
spot of 188.25 with type <class 'str'>
['Fr', '3/21/14', '186.67', '12.535M', '4.999M']
spot of 186.67 with type <class 'str'>
['Th', '3/20/14', '187.9', '5.063M', '4.475M']
spot of 187.9 with type <class 'str'>
['We', '3/19/14', '184.71', '4.324M', '4.393M']
spot of 184.71 with type <class 'str'>
['Tu', '3/18/14', '186.81', '3.961M', '4.354M']
spot of 186.81 with type <class 'str'>
['Mo', '3/17/14', '185.81', '4.939M', '4.35M']
spot of 185.81 with type <class 'str'>
['Fr', '3/14/14', '182.21', '5.49M', '4.327M']
spot of 182.21 with type <class 'str'>
['Th', '3/13/14', '183.9', '4.913M', '4.341M']
spot of 183.9 with type <class 'str'>
['We', '3/12/14', '186.22', '4.833M', '4.345M']
spot of 186.22 with type <class 'str'>
['Tu', '3/11/14', '186.76', '4.23M', '4.334M']
spot of 186.76 with type <class 'str'>
['Mo', '3/10/14', '186.39', '4.594M', '4.348M']
spot of 186.39 with type <class 'str'>
['Fr', '3/7/14', '187.68', '4.118M', '4.352M']
spot of 187.68 with type <class 'str'>
['Th', '3/6/14', '187.64', '3.818M', '4.377M']
spot of 187.64 with type <class 'str'>
['We', '3/5/14', '187.14', '3.487M', '4.388M']
spot of 187.14 with type <class 'str'>
['Tu', '3/4/14', '186.44', '4.734M', '4.466M']
spot of 186.44 with type <class 'str'>
['Mo', '3/3/14', '184.26', '3.953M', '4.386M']
spot of 184.26 with type <class 'str'>
['Fr', '2/28/14', '185.17', '4.668M', '4.438M']
spot of 185.17 with type <class 'str'>
['Th', '2/27/14', '185.27', '3.828M', '4.413M']
spot of 185.27 with type <class 'str'>
['We', '2/26/14', '184.06', '3.741M', '4.472M']
spot of 184.06 with type <class 'str'>
['Tu', '2/25/14', '183.23', '3.902M', '4.513M']
spot of 183.23 with type <class 'str'>
['Mo', '2/24/14', '183.45', '4.595M', '4.732M']
spot of 183.45 with type <class 'str'>
['Fr', '2/21/14', '182.79', '5.699M', '4.772M']
spot of 182.79 with type <class 'str'>
['Th', '2/20/14', '184.26', '4.968M', '4.715M']
spot of 184.26 with type <class 'str'>
['We', '2/19/14', '182.95', '4.672M', '4.715M']
spot of 182.95 with type <class 'str'>
['Tu', '2/18/14', '183.19', '4.435M', '4.76M']
spot of 183.19 with type <class 'str'>
['Fr', '2/14/14', '183.69', '4.666M', '4.811M']
spot of 183.69 with type <class 'str'>
['Th', '2/13/14', '181.84', '4.483M', '4.963M']
spot of 181.84 with type <class 'str'>
['We', '2/12/14', '180.24', '3.984M', '5.129M']
spot of 180.24 with type <class 'str'>
['Tu', '2/11/14', '179.7', '4.654M', '5.783M']
spot of 179.7 with type <class 'str'>
['Mo', '2/10/14', '177.14', '3.544M', '6.215M']
spot of 177.14 with type <class 'str'>
['Fr', '2/7/14', '177.25', '4.726M', '6.49M']
spot of 177.25 with type <class 'str'>
['Th', '2/6/14', '174.67', '4.292M', '6.493M']
spot of 174.67 with type <class 'str'>
['We', '2/5/14', '174.24', '4.714M', '6.529M']
spot of 174.24 with type <class 'str'>
['Tu', '2/4/14', '172.84', '4.351M', '6.522M']
spot of 172.84 with type <class 'str'>
['Mo', '2/3/14', '172.9', '7.188M', '6.618M']
spot of 172.9 with type <class 'str'>
['Fr', '1/31/14', '176.68', '5.195M', '6.407M']
spot of 176.68 with type <class 'str'>
['Th', '1/30/14', '177.36', '4.854M', '6.349M']
spot of 177.36 with type <class 'str'>
['We', '1/29/14', '176.4', '4.971M', '6.332M']
spot of 176.4 with type <class 'str'>
['Tu', '1/28/14', '176.85', '5.337M', '6.397M']
spot of 176.85 with type <class 'str'>
['Mo', '1/27/14', '177.9', '5.209M', '6.312M']
spot of 177.9 with type <class 'str'>
['Fr', '1/24/14', '179.64', '6.939M', '6.236M']
spot of 179.64 with type <class 'str'>
['Th', '1/23/14', '182.73', '6.974M', '6.076M']
spot of 182.73 with type <class 'str'>
['We', '1/22/14', '182.25', '13.801M', '5.853M']
spot of 182.25 with type <class 'str'>
['Tu', '1/21/14', '188.43', '11.121M', '5.134M']
spot of 188.43 with type <class 'str'>
['Fr', '1/17/14', '190.09', '7.671M', '4.618M']
spot of 190.09 with type <class 'str'>
['Th', '1/16/14', '188.76', '4.775M', '4.328M']
spot of 188.76 with type <class 'str'>
['We', '1/15/14', '187.74', '4.829M', '4.117M']
spot of 187.74 with type <class 'str'>
['Tu', '1/14/14', '185.92', '4.62M', '4.068M']
spot of 185.92 with type <class 'str'>
['Mo', '1/13/14', '184.16', '5.789M', '4.27M']
spot of 184.16 with type <class 'str'>
['Fr', '1/10/14', '187.26', '4.023M', '4.279M']
spot of 187.26 with type <class 'str'>
['Th', '1/9/14', '187.38', '4.322M', '4.391M']
spot of 187.38 with type <class 'str'>
['We', '1/8/14', '187.97', '4.604M', '4.468M']
spot of 187.97 with type <class 'str'>
['Tu', '1/7/14', '189.71', '5.934M', '4.663M']
spot of 189.71 with type <class 'str'>
['Mo', '1/6/14', '186', '4.068M', '4.546M']
spot of 186 with type <class 'str'>
['Fr', '1/3/14', '186.64', '4.064M', '4.653M']
spot of 186.64 with type <class 'str'>
['Th', '1/2/14', '185.53', '4.547M', '4.655M']
spot of 185.53 with type <class 'str'>
['Tu', '12/31/13', '187.57', '3.62M', '4.627M']
spot of 187.57 with type <class 'str'>
['Mo', '12/30/13', '186.41', '3.019M', '4.638M']
spot of 186.41 with type <class 'str'>
['Fr', '12/27/13', '185.08', '3.382M', '4.753M']
spot of 185.08 with type <class 'str'>
['Th', '12/26/13', '185.35', '3.326M', '4.82M']
spot of 185.35 with type <class 'str'>
['Tu', '12/24/13', '183.22', '1.614M', '4.95M']
spot of 183.22 with type <class 'str'>
['Mo', '12/23/13', '182.23', '4.083M', '5.233M']
spot of 182.23 with type <class 'str'>
['Fr', '12/20/13', '180.02', '7.656M', '5.265M']
spot of 180.02 with type <class 'str'>
['Th', '12/19/13', '180.22', '5.93M', '4.946M']
spot of 180.22 with type <class 'str'>
['We', '12/18/13', '178.7', '5.698M', '4.857M']
spot of 178.7 with type <class 'str'>
['Tu', '12/17/13', '175.76', '5.476M', '4.861M']
spot of 175.76 with type <class 'str'>
['Mo', '12/16/13', '177.85', '7.521M', '4.973M']
spot of 177.85 with type <class 'str'>
['Fr', '12/13/13', '172.8', '4.185M', '4.979M']
spot of 172.8 with type <class 'str'>
['Th', '12/12/13', '173.37', '5.672M', '4.997M']
spot of 173.37 with type <class 'str'>
['We', '12/11/13', '175.2', '4.09M', '4.862M']
spot of 175.2 with type <class 'str'>
['Tu', '12/10/13', '177.12', '4.128M', '4.895M']
spot of 177.12 with type <class 'str'>
['Mo', '12/9/13', '177.46', '3.797M', '4.976M']
spot of 177.46 with type <class 'str'>
['Fr', '12/6/13', '177.67', '4.741M', '5.068M']
spot of 177.67 with type <class 'str'>
['Th', '12/5/13', '176.08', '4.385M', '5.174M']
spot of 176.08 with type <class 'str'>
['We', '12/4/13', '175.74', '5.267M', '5.195M']
spot of 175.74 with type <class 'str'>
['Tu', '12/3/13', '176.08', '5.864M', '5.128M']
spot of 176.08 with type <class 'str'>
['Mo', '12/2/13', '177.48', '4.562M', '5.085M']
spot of 177.48 with type <class 'str'>
['Fr', '11/29/13', '179.68', '2.871M', '5.199M']
spot of 179.68 with type <class 'str'>
['We', '11/27/13', '178.97', '4.596M', '5.356M']
spot of 178.97 with type <class 'str'>
['Tu', '11/26/13', '177.31', '5.756M', '5.354M']
spot of 177.31 with type <class 'str'>
['Mo', '11/25/13', '178.94', '7.161M', '5.377M']
spot of 178.94 with type <class 'str'>
['Fr', '11/22/13', '181.3', '7.611M', '5.132M']
spot of 181.3 with type <class 'str'>
['Th', '11/21/13', '184.13', '4.459M', '4.867M']
spot of 184.13 with type <class 'str'>
['We', '11/20/13', '185.19', '3.646M', '4.858M']
spot of 185.19 with type <class 'str'>
['Tu', '11/19/13', '185.25', '4.577M', '4.967M']
spot of 185.25 with type <class 'str'>
['Mo', '11/18/13', '184.47', '5.345M', '5.255M']
spot of 184.47 with type <class 'str'>
['Fr', '11/15/13', '183.19', '5.18M', '5.147M']
spot of 183.19 with type <class 'str'>
['Th', '11/14/13', '182.21', '6.323M', '5.124M']
spot of 182.21 with type <class 'str'>
['We', '11/13/13', '183.55', '4.711M', '5.072M']
spot of 183.55 with type <class 'str'>
['Tu', '11/12/13', '183.07', '4.259M', '5.119M']
spot of 183.07 with type <class 'str'>
['Mo', '11/11/13', '182.88', '5.222M', '5.3M']
spot of 182.88 with type <class 'str'>
['Fr', '11/8/13', '179.99', '6.275M', '5.425M']
spot of 179.99 with type <class 'str'>
['Th', '11/7/13', '180', '5.221M', '5.711M']
spot of 180 with type <class 'str'>
['We', '11/6/13', '179.19', '4.561M', '6.854M']
spot of 179.19 with type <class 'str'>
['Tu', '11/5/13', '177.85', '6.103M', '6.998M']
spot of 177.85 with type <class 'str'>
['Mo', '11/4/13', '180.27', '3.484M', '6.815M']
spot of 180.27 with type <class 'str'>
['Fr', '11/1/13', '179.23', '3.645M', '6.76M']
spot of 179.23 with type <class 'str'>
['Th', '10/31/13', '179.21', '4.318M', '6.733M']
spot of 179.21 with type <class 'str'>
['We', '10/30/13', '180.15', '5.276M', '6.689M']
spot of 180.15 with type <class 'str'>
['Tu', '10/29/13', '182.12', '8.909M', '6.632M']
spot of 182.12 with type <class 'str'>
['Mo', '10/28/13', '177.35', '3.713M', '6.41M']
spot of 177.35 with type <class 'str'>
['Fr', '10/25/13', '176.85', '4.844M', '6.427M']
spot of 176.85 with type <class 'str'>
['Th', '10/24/13', '177.8', '5.535M', '6.295M']
spot of 177.8 with type <class 'str'>
['We', '10/23/13', '175.77', '5.416M', '6.14M']
spot of 175.77 with type <class 'str'>
['Tu', '10/22/13', '174.97', '6.981M', '6.021M']
spot of 174.97 with type <class 'str'>
['Mo', '10/21/13', '172.86', '7.099M', '5.734M']
spot of 172.86 with type <class 'str'>
['Fr', '10/18/13', '173.78', '10.552M', '5.526M']
spot of 173.78 with type <class 'str'>
['Th', '10/17/13', '174.83', '22.369M', '5.083M']
spot of 174.83 with type <class 'str'>
['We', '10/16/13', '186.73', '6.718M', '3.731M']
spot of 186.73 with type <class 'str'>
['Tu', '10/15/13', '184.66', '3.367M', '3.46M']
spot of 184.66 with type <class 'str'>
['Mo', '10/14/13', '186.97', '2.663M', '3.442M']
spot of 186.97 with type <class 'str'>
['Fr', '10/11/13', '186.16', '3.233M', '3.487M']
spot of 186.16 with type <class 'str'>
['Th', '10/10/13', '184.77', '3.66M', '3.84M']
spot of 184.77 with type <class 'str'>
['We', '10/9/13', '181.32', '4.424M', '3.808M']
spot of 181.32 with type <class 'str'>
['Tu', '10/8/13', '178.72', '5.58M', '3.769M']
spot of 178.72 with type <class 'str'>
['Mo', '10/7/13', '182.01', '3.968M', '3.593M']
spot of 182.01 with type <class 'str'>
['Fr', '10/4/13', '184.1', '2.864M', '3.589M']
spot of 184.1 with type <class 'str'>
['Th', '10/3/13', '183.86', '3.212M', '3.645M']
spot of 183.86 with type <class 'str'>
['We', '10/2/13', '184.96', '3.618M', '3.654M']
spot of 184.96 with type <class 'str'>
['Tu', '10/1/13', '186.38', '2.682M', '3.744M']
spot of 186.38 with type <class 'str'>
['Mo', '9/30/13', '185.18', '3.978M', '3.775M']

spot of 185.18 with type <class 'str'>
['Fr', '9/27/13', '186.92', '3.908M', '3.711M']
spot of 186.92 with type <class 'str'>
['Th', '9/26/13', '190.22', '2.094M', '3.644M']
spot of 190.22 with type <class 'str'>
['We', '9/25/13', '189.47', '2.655M', '3.696M']
spot of 189.47 with type <class 'str'>
['Tu', '9/24/13', '189.97', '3.085M', '3.692M']
spot of 189.97 with type <class 'str'>
['Mo', '9/23/13', '190.99', '3.341M', '3.719M']
spot of 190.99 with type <class 'str'>
['Fr', '9/20/13', '190.02', '8.531M', '3.679M']
spot of 190.02 with type <class 'str'>
['Th', '9/19/13', '193.39', '3.178M', '3.309M']
spot of 193.39 with type <class 'str'>
['We', '9/18/13', '194.42', '3.842M', '3.362M']
spot of 194.42 with type <class 'str'>
['Tu', '9/17/13', '192.16', '2.932M', '3.319M']
spot of 192.16 with type <class 'str'>
['Mo', '9/16/13', '193.15', '3.907M', '3.268M']
spot of 193.15 with type <class 'str'>
['Fr', '9/13/13', '192.17', '3.71M', '3.161M']
spot of 192.17 with type <class 'str'>
['Th', '9/12/13', '190.73', '3.355M', '3.07M']
spot of 190.73 with type <class 'str'>
['We', '9/11/13', '190.7', '4.963M', '3.083M']
spot of 190.7 with type <class 'str'>
['Tu', '9/10/13', '186.6', '3.15M', '2.961M']
spot of 186.6 with type <class 'str'>
['Mo', '9/9/13', '184.98', '3.017M', '2.967M']
spot of 184.98 with type <class 'str'>
['Fr', '9/6/13', '183.03', '2.904M', '2.995M']
spot of 183.03 with type <class 'str'>
['Th', '9/5/13', '184.15', '2.87M', '3.047M']
spot of 184.15 with type <class 'str'>
['We', '9/4/13', '183.13', '2.602M', '3.049M']
spot of 183.13 with type <class 'str'>
['Tu', '9/3/13', '183.96', '3.487M', '3.112M']
spot of 183.96 with type <class 'str'>
['Fr', '8/30/13', '182.27', '2.731M', '3.081M']
spot of 182.27 with type <class 'str'>
['Th', '8/29/13', '182.64', '2.981M', '3.116M']
spot of 182.64 with type <class 'str'>
['We', '8/28/13', '182.16', '3.979M', '3.22M']
spot of 182.16 with type <class 'str'>
['Tu', '8/27/13', '182.74', '3.191M', '3.215M']
spot of 182.74 with type <class 'str'>
['Mo', '8/26/13', '184.74', '2.175M', '3.399M']
spot of 184.74 with type <class 'str'>
['Fr', '8/23/13', '185.42', '2.295M', '3.42M']
spot of 185.42 with type <class 'str'>
['Th', '8/22/13', '185.19', '2.355M', '3.525M']
spot of 185.19 with type <class 'str'>
['We', '8/21/13', '184.86', '3.551M', '3.56M']
spot of 184.86 with type <class 'str'>
['Tu', '8/20/13', '184.56', '3.122M', '3.577M']
spot of 184.56 with type <class 'str'>
['Mo', '8/19/13', '184.23', '3.251M', '3.546M']
spot of 184.23 with type <class 'str'>
['Fr', '8/16/13', '185.34', '3.428M', '3.471M']
spot of 185.34 with type <class 'str'>
['Th', '8/15/13', '185.79', '3.692M', '3.408M']
spot of 185.79 with type <class 'str'>
['We', '8/14/13', '187.53', '2.899M', '3.363M']
spot of 187.53 with type <class 'str'>
['Tu', '8/13/13', '188.42', '3.543M', '3.367M']
spot of 188.42 with type <class 'str'>
['Mo', '8/12/13', '189.09', '3.027M', '3.321M']
spot of 189.09 with type <class 'str'>
['Fr', '8/9/13', '187.82', '3.25M', '3.346M']
spot of 187.82 with type <class 'str'>
['Th', '8/8/13', '187.93', '4.548M', '3.596M']
spot of 187.93 with type <class 'str'>
['We', '8/7/13', '188.56', '3.902M', '3.852M']
spot of 188.56 with type <class 'str'>
['Tu', '8/6/13', '190.99', '5.94M', '4.05M']
spot of 190.99 with type <class 'str'>
['Mo', '8/5/13', '195.5', '2.493M', '3.904M']
spot of 195.5 with type <class 'str'>
['Fr', '8/2/13', '195.16', '3.874M', '4.116M']
spot of 195.16 with type <class 'str'>
['Th', '8/1/13', '195.81', '2.878M', '4.158M']
spot of 195.81 with type <class 'str'>
['We', '7/31/13', '195.04', '3.81M', '4.245M']
spot of 195.04 with type <class 'str'>
['Tu', '7/30/13', '196.01', '2.663M', '4.25M']
spot of 196.01 with type <class 'str'>
['Mo', '7/29/13', '196.21', '2.114M', '4.42M']
spot of 196.21 with type <class 'str'>
['Fr', '7/26/13', '197.35', '2.485M', '4.475M']
spot of 197.35 with type <class 'str'>
['Th', '7/25/13', '197.22', '3.014M', '4.47M']
spot of 197.22 with type <class 'str'>
['We', '7/24/13', '196.61', '2.958M', '4.394M']
spot of 196.61 with type <class 'str'>
['Tu', '7/23/13', '194.98', '2.864M', '4.441M']
spot of 194.98 with type <class 'str'>
['Mo', '7/22/13', '194.09', '3.399M', '4.546M']
spot of 194.09 with type <class 'str'>
['Fr', '7/19/13', '193.54', '6.999M', '4.99M']
spot of 193.54 with type <class 'str'>
['Th', '7/18/13', '197.99', '8.394M', '4.758M']
spot of 197.99 with type <class 'str'>
['We', '7/17/13', '194.55', '6.868M', '4.42M']
spot of 194.55 with type <class 'str'>
['Tu', '7/16/13', '193.85', '3.747M', '4.218M']
spot of 193.85 with type <class 'str'>
['Mo', '7/15/13', '194', '5.678M', '4.259M']
spot of 194 with type <class 'str'>
['Fr', '7/12/13', '192.07', '4.496M', '4.475M']
spot of 192.07 with type <class 'str'>
['Th', '7/11/13', '192.8', '4.179M', '4.476M']
spot of 192.8 with type <class 'str'>
['We', '7/10/13', '192.25', '3.892M', '4.388M']
spot of 192.25 with type <class 'str'>
['Tu', '7/9/13', '191.3', '5.205M', '4.347M']
spot of 191.3 with type <class 'str'>
['Mo', '7/8/13', '194.98', '2.948M', '4.214M']
spot of 194.98 with type <class 'str'>
['Fr', '7/5/13', '194.93', '2.408M', '4.205M']
spot of 194.93 with type <class 'str'>
['We', '7/3/13', '193.25', '1.878M', '4.238M']
spot of 193.25 with type <class 'str'>
['Tu', '7/2/13', '191.5', '3.658M', '4.34M']
spot of 191.5 with type <class 'str'>
['Mo', '7/1/13', '191.28', '4.442M', '4.283M']
spot of 191.28 with type <class 'str'>
['Fr', '6/28/13', '191.11', '10.057M', '4.164M']
spot of 191.11 with type <class 'str'>
['Th', '6/27/13', '195.65', '3.519M', '3.691M']
spot of 195.65 with type <class 'str'>
['We', '6/26/13', '194.86', '3.32M', '3.701M']
spot of 194.86 with type <class 'str'>
['Tu', '6/25/13', '194.98', '3.848M', '3.761M']
spot of 194.98 with type <class 'str'>
['Mo', '6/24/13', '193.54', '4.356M', '3.744M']
spot of 193.54 with type <class 'str'>
['Fr', '6/21/13', '195.46', '8.919M', '3.675M']
spot of 195.46 with type <class 'str'>
['Th', '6/20/13', '197.35', '4.516M', '3.411M']
spot of 197.35 with type <class 'str'>
['We', '6/19/13', '201.94', '2.846M', '3.403M']
spot of 201.94 with type <class 'str'>
['Tu', '6/18/13', '204.87', '3.278M', '3.443M']
spot of 204.87 with type <class 'str'>
['Mo', '6/17/13', '203.04', '3.22M', '3.492M']
spot of 203.04 with type <class 'str'>
['Fr', '6/14/13', '202.2', '2.805M', '3.497M']
spot of 202.2 with type <class 'str'>
['Th', '6/13/13', '203.77', '2.9M', '3.655M']
spot of 203.77 with type <class 'str'>
['We', '6/12/13', '201.2', '3.41M', '3.808M']
spot of 201.2 with type <class 'str'>
['Tu', '6/11/13', '203.98', '2.815M', '3.779M']
spot of 203.98 with type <class 'str'>
['Mo', '6/10/13', '205.02', '2.652M', '3.832M']
spot of 205.02 with type <class 'str'>
['Fr', '6/7/13', '206.35', '2.954M', '4.036M']
spot of 206.35 with type <class 'str'>
['Th', '6/6/13', '203.8', '3.68M', '4.139M']
spot of 203.8 with type <class 'str'>
['We', '6/5/13', '202.74', '4.215M', '4.163M']
spot of 202.74 with type <class 'str'>
['Tu', '6/4/13', '206.19', '3.599M', '4.128M']
spot of 206.19 with type <class 'str'>
['Mo', '6/3/13', '208.95', '3.324M', '4.132M']
spot of 208.95 with type <class 'str'>
['Fr', '5/31/13', '208.02', '4.95M', '4.129M']
spot of 208.02 with type <class 'str'>
['Th', '5/30/13', '209.36', '4.4M', '4.035M']
spot of 209.36 with type <class 'str'>
['We', '5/29/13', '207.92', '3.439M', '3.982M']
spot of 207.92 with type <class 'str'>
['Tu', '5/28/13', '207.78', '4.012M', '3.983M']
spot of 207.78 with type <class 'str'>
['Fr', '5/24/13', '205.72', '3.296M', '4.037M']
spot of 205.72 with type <class 'str'>
['Th', '5/23/13', '206.16', '5.18M', '4.117M']
spot of 206.16 with type <class 'str'>
['We', '5/22/13', '206.99', '5.187M', '4.035M']
spot of 206.99 with type <class 'str'>
['Tu', '5/21/13', '208.65', '2.983M', '4.016M']
spot of 208.65 with type <class 'str'>
['Mo', '5/20/13', '207.6', '3.614M', '4.32M']
spot of 207.6 with type <class 'str'>
['Fr', '5/17/13', '208.44', '5.704M', '4.474M']
spot of 208.44 with type <class 'str'>
['Th', '5/16/13', '204.69', '4.507M', '4.327M']
spot of 204.69 with type <class 'str'>
['We', '5/15/13', '203.32', '4.03M', '4.336M']
spot of 203.32 with type <class 'str'>
['Tu', '5/14/13', '203.21', '3.701M', '4.314M']
spot of 203.21 with type <class 'str'>
['Mo', '5/13/13', '202.47', '3.652M', '4.487M']
spot of 202.47 with type <class 'str'>
['Fr', '5/10/13', '204.47', '3.28M', '4.9M']
spot of 204.47 with type <class 'str'>
['Th', '5/9/13', '203.24', '3.543M', '5.938M']
spot of 203.24 with type <class 'str'>
['We', '5/8/13', '204.82', '3.602M', '6.136M']
spot of 204.82 with type <class 'str'>
['Tu', '5/7/13', '203.63', '3.451M', '6.113M']
spot of 203.63 with type <class 'str'>
['Mo', '5/6/13', '202.78', '4.827M', '6.074M']
spot of 202.78 with type <class 'str'>
['Fr', '5/3/13', '204.51', '4.495M', '6.034M']
spot of 204.51 with type <class 'str'>
['Th', '5/2/13', '202.39', '3.947M', '5.945M']
spot of 202.39 with type <class 'str'>
['We', '5/1/13', '199.63', '4.899M', '5.926M']
spot of 199.63 with type <class 'str'>
['Tu', '4/30/13', '202.54', '7.541M', '5.834M']
spot of 202.54 with type <class 'str'>
['Mo', '4/29/13', '199.15', '5.937M', '5.503M']
spot of 199.15 with type <class 'str'>
['Fr', '4/26/13', '194.31', '3.49M', '5.264M']
spot of 194.31 with type <class 'str'>
['Th', '4/25/13', '193.95', '4.652M', '5.308M']
spot of 193.95 with type <class 'str'>
['We', '4/24/13', '191.71', '3.694M', '5.245M']
spot of 191.71 with type <class 'str'>
['Tu', '4/23/13', '191.61', '6.301M', '5.207M']
spot of 191.61 with type <class 'str'>
['Mo', '4/22/13', '187.83', '9.847M', '4.995M']
spot of 187.83 with type <class 'str'>
['Fr', '4/19/13', '190', '18.849M', '4.481M']
spot of 190 with type <class 'str'>
['Th', '4/18/13', '207.15', '6.502M', '3.475M']
spot of 207.15 with type <class 'str'>
['We', '4/17/13', '209.67', '3.27M', '3.256M']
spot of 209.67 with type <class 'str'>
['Tu', '4/16/13', '212', '2.86M', '3.192M']
spot of 212 with type <class 'str'>
['Mo', '4/15/13', '209.26', '4.219M', '3.217M']
spot of 209.26 with type <class 'str'>
['Fr', '4/12/13', '211.38', '3.166M', '3.138M']
spot of 211.38 with type <class 'str'>
['Th', '4/11/13', '212.92', '3.656M', '3.316M']
spot of 212.92 with type <class 'str'>
['We', '4/10/13', '212', '3.524M', '3.274M']
spot of 212 with type <class 'str'>
['Tu', '4/9/13', '209.22', '2.577M', '3.252M']
spot of 209.22 with type <class 'str'>
['Mo', '4/8/13', '209.32', '2.351M', '3.28M']
spot of 209.32 with type <class 'str'>
['Fr', '4/5/13', '209.41', '4.148M', '3.653M']
spot of 209.41 with type <class 'str'>
['Th', '4/4/13', '211.31', '3.709M', '3.743M']
spot of 211.31 with type <class 'str'>
['We', '4/3/13', '212.66', '3.129M', '3.72M']
spot of 212.66 with type <class 'str'>
['Tu', '4/2/13', '214.36', '3.117M', '3.751M']
spot of 214.36 with type <class 'str'>
['Mo', '4/1/13', '212.38', '2.145M', '3.746M']
spot of 212.38 with type <class 'str'>
['Th', '3/28/13', '213.3', '3.753M', '3.85M']
spot of 213.3 with type <class 'str'>
['We', '3/27/13', '210.89', '3.223M', '3.859M']
spot of 210.89 with type <class 'str'>
['Tu', '3/26/13', '212.36', '2.3M', '3.884M']
spot of 212.36 with type <class 'str'>
['Mo', '3/25/13', '210.74', '3.242M', '3.984M']
spot of 210.74 with type <class 'str'>
['Fr', '3/22/13', '212.08', '3.031M', '4.014M']
spot of 212.08 with type <class 'str'>
['Th', '3/21/13', '212.26', '5.831M', '4.033M']
spot of 212.26 with type <class 'str'>
['We', '3/20/13', '215.06', '3.021M', '3.957M']
spot of 215.06 with type <class 'str'>
['Tu', '3/19/13', '213.44', '3.199M', '4.034M']
spot of 213.44 with type <class 'str'>
['Mo', '3/18/13', '213.21', '3.006M', '4.047M']
spot of 213.21 with type <class 'str'>
['Fr', '3/15/13', '214.92', '7.937M', '4.103M']
spot of 214.92 with type <class 'str'>
['Th', '3/14/13', '215.8', '5.507M', '3.781M']
spot of 215.8 with type <class 'str'>
['We', '3/13/13', '212.06', '3.357M', '3.676M']
spot of 212.06 with type <class 'str'>
['Tu', '3/12/13', '210.55', '3.592M', '3.7M']
spot of 210.55 with type <class 'str'>
['Mo', '3/11/13', '210.08', '3.05M', '3.66M']
spot of 210.08 with type <class 'str'>
['Fr', '3/8/13', '210.38', '3.701M', '3.699M']
spot of 210.38 with type <class 'str'>
['Th', '3/7/13', '209.42', '3.884M', '3.671M']
spot of 209.42 with type <class 'str'>
['We', '3/6/13', '208.38', '3.595M', '3.557M']
spot of 208.38 with type <class 'str'>
['Tu', '3/5/13', '206.53', '3.808M', '3.482M']
spot of 206.53 with type <class 'str'>
['Mo', '3/4/13', '205.19', '3.693M', '3.424M']
spot of 205.19 with type <class 'str'>
['Fr', '3/1/13', '202.91', '3.309M', '3.371M']
spot of 202.91 with type <class 'str'>
['Th', '2/28/13', '200.83', '4.69M', '3.355M']
spot of 200.83 with type <class 'str'>
['We', '2/27/13', '202.33', '4.186M', '3.284M']
spot of 202.33 with type <class 'str'>
['Tu', '2/26/13', '199.14', '3.392M', '3.248M']
spot of 199.14 with type <class 'str'>
['Mo', '2/25/13', '197.51', '3.848M', '3.234M']
spot of 197.51 with type <class 'str'>
['Fr', '2/22/13', '201.09', '3.108M', '3.202M']
spot of 201.09 with type <class 'str'>
['Th', '2/21/13', '198.33', '3.923M', '3.201M']
spot of 198.33 with type <class 'str'>
['We', '2/20/13', '199.31', '3.715M', '3.14M']
spot of 199.31 with type <class 'str'>
['Tu', '2/19/13', '200.32', '2.998M', '3.133M']
spot of 200.32 with type <class 'str'>
['Fr', '2/15/13', '200.98', '3.628M', '3.121M']
spot of 200.98 with type <class 'str'>
['Th', '2/14/13', '199.65', '3.294M', '3.103M']
spot of 199.65 with type <class 'str'>
['We', '2/13/13', '200.09', '2.17M', '3.18M']
spot of 200.09 with type <class 'str'>
['Tu', '2/12/13', '200.04', '2.462M', '3.871M']
spot of 200.04 with type <class 'str'>
['Mo', '2/11/13', '200.16', '2.945M', '4.185M']
spot of 200.16 with type <class 'str'>
['Fr', '2/8/13', '201.68', '2.893M', '4.293M']
spot of 201.68 with type <class 'str'>
['Th', '2/7/13', '199.74', '3.077M', '4.36M']
spot of 199.74 with type <class 'str'>
['We', '2/6/13', '201.02', '3.624M', '4.352M']
spot of 201.02 with type <class 'str'>
['Tu', '2/5/13', '202.79', '3.637M', '4.389M']
spot of 202.79 with type <class 'str'>
['Mo', '2/4/13', '203.79', '3.189M', '4.424M']
spot of 203.79 with type <class 'str'>
['Fr', '2/1/13', '205.18', '3.371M', '4.471M']
spot of 205.18 with type <class 'str'>
['Th', '1/31/13', '203.07', '3.092M', '4.486M']
spot of 203.07 with type <class 'str'>
['We', '1/30/13', '203.52', '2.999M', '4.494M']
spot of 203.52 with type <class 'str'>
['Tu', '1/29/13', '203.9', '3.618M', '4.496M']
spot of 203.9 with type <class 'str'>
['Mo', '1/28/13', '204.93', '2.824M', '4.446M']
spot of 204.93 with type <class 'str'>
['Fr', '1/25/13', '204.97', '3.359M', '4.483M']
spot of 204.97 with type <class 'str'>
['Th', '1/24/13', '204.42', '4.447M', '4.502M']
spot of 204.42 with type <class 'str'>
['We', '1/23/13', '204.72', '12.532M', '4.488M']
spot of 204.72 with type <class 'str'>
['Tu', '1/22/13', '196.08', '7.172M', '3.965M']
spot of 196.08 with type <class 'str'>
['Fr', '1/18/13', '194.47', '4.56M', '3.723M']
spot of 194.47 with type <class 'str'>
['Th', '1/17/13', '193.65', '3.894M', '3.683M']
spot of 193.65 with type <class 'str'>
['We', '1/16/13', '192.59', '2.963M', '3.609M']
spot of 192.59 with type <class 'str'>
['Tu', '1/15/13', '192.5', '4.172M', '3.52M']
spot of 192.5 with type <class 'str'>
['Mo', '1/14/13', '192.62', '4.175M', '3.79M']
spot of 192.62 with type <class 'str'>
['Fr', '1/11/13', '194.45', '3.881M', '3.791M']
spot of 194.45 with type <class 'str'>
['Th', '1/10/13', '192.88', '3.608M', '3.817M']
spot of 192.88 with type <class 'str'>
['We', '1/9/13', '192.32', '3.212M', '3.851M']
spot of 192.32 with type <class 'str'>
['Tu', '1/8/13', '192.87', '3.028M', '3.89M']
spot of 192.87 with type <class 'str'>
['Mo', '1/7/13', '193.14', '2.862M', '3.943M']
spot of 193.14 with type <class 'str'>
['Fr', '1/4/13', '193.99', '3.38M', '3.994M']
spot of 193.99 with type <class 'str'>
['Th', '1/3/13', '195.27', '3.645M', '4.051M']
spot of 195.27 with type <class 'str'>
['We', '1/2/13', '196.35', '4.234M', '4.085M']
spot of 196.35 with type <class 'str'>
['Mo', '12/31/12', '191.55', '4.686M', '4.032M']
spot of 191.55 with type <class 'str'>
['Fr', '12/28/12', '189.83', '3.539M', '3.992M']
spot of 189.83 with type <class 'str'>
['Th', '12/27/12', '192.71', '3.968M', '3.971M']
spot of 192.71 with type <class 'str'>
['We', '12/26/12', '191.95', '2.777M', '3.986M']
spot of 191.95 with type <class 'str'>
['Mo', '12/24/12', '192.4', '1.631M', '4.067M']
spot of 192.4 with type <class 'str'>
['Fr', '12/21/12', '193.42', '8.227M', '4.182M']
spot of 193.42 with type <class 'str'>
['Th', '12/20/12', '194.77', '4.185M', '3.962M']
spot of 194.77 with type <class 'str'>
['We', '12/19/12', '195.08', '4.271M', '3.955M']
spot of 195.08 with type <class 'str'>
['Tu', '12/18/12', '195.69', '4.126M', '3.911M']
spot of 195.69 with type <class 'str'>
['Mo', '12/17/12', '193.62', '3.792M', '3.855M']
spot of 193.62 with type <class 'str'>
['Fr', '12/14/12', '191.76', '3.827M', '3.95M']
spot of 191.76 with type <class 'str'>
['Th', '12/13/12', '191.99', '3.623M', '3.953M']
spot of 191.99 with type <class 'str'>
['We', '12/12/12', '192.95', '4.242M', '4.058M']

spot of 192.95 with type <class 'str'>
['Tu', '12/11/12', '194.2', '4.144M', '3.986M']
spot of 194.2 with type <class 'str'>
['Mo', '12/10/12', '192.62', '3.438M', '3.949M']
spot of 192.62 with type <class 'str'>
['Fr', '12/7/12', '191.95', '4.092M', '4.031M']
spot of 191.95 with type <class 'str'>
['Th', '12/6/12', '189.7', '3.217M', '3.985M']
spot of 189.7 with type <class 'str'>
['We', '12/5/12', '188.65', '4.203M', '4.065M']
spot of 188.65 with type <class 'str'>
['Tu', '12/4/12', '189.36', '3.991M', '4.011M']
spot of 189.36 with type <class 'str'>
['Mo', '12/3/12', '189.48', '3.35M', '3.95M']
spot of 189.48 with type <class 'str'>
['Fr', '11/30/12', '190.07', '4.937M', '3.971M']
spot of 190.07 with type <class 'str'>
['Th', '11/29/12', '191.53', '4.078M', '3.878M']
spot of 191.53 with type <class 'str'>
['We', '11/28/12', '191.98', '3.604M', '3.923M']
spot of 191.98 with type <class 'str'>
['Tu', '11/27/12', '191.23', '3.291M', '3.902M']
spot of 191.23 with type <class 'str'>
['Mo', '11/26/12', '192.88', '5.211M', '3.865M']
spot of 192.88 with type <class 'str'>
['Fr', '11/23/12', '193.49', '3.878M', '3.801M']
spot of 193.49 with type <class 'str'>
['We', '11/21/12', '190.29', '5.19M', '3.793M']
spot of 190.29 with type <class 'str'>
['Tu', '11/20/12', '189.2', '3.17M', '3.851M']
spot of 189.2 with type <class 'str'>
['Mo', '11/19/12', '190.35', '3.589M', '3.907M']
spot of 190.35 with type <class 'str'>
['Fr', '11/16/12', '186.94', '4.661M', '3.884M']
spot of 186.94 with type <class 'str'>
['Th', '11/15/12', '185.85', '3.412M', '3.822M']
spot of 185.85 with type <class 'str'>
['We', '11/14/12', '185.51', '4.405M', '3.89M']
spot of 185.51 with type <class 'str'>
['Tu', '11/13/12', '188.32', '3.408M', '3.89M']
spot of 188.32 with type <class 'str'>
['Mo', '11/12/12', '189.25', '3.068M', '4.104M']
spot of 189.25 with type <class 'str'>
['Fr', '11/9/12', '189.64', '3.672M', '4.52M']
spot of 189.64 with type <class 'str'>
['Th', '11/8/12', '190.1', '3.542M', '5.12M']
spot of 190.1 with type <class 'str'>
['We', '11/7/12', '191.16', '4.747M', '5.259M']
spot of 191.16 with type <class 'str'>
['Tu', '11/6/12', '195.07', '3.281M', '5.147M']
spot of 195.07 with type <class 'str'>
['Mo', '11/5/12', '194.14', '2.736M', '5.109M']
spot of 194.14 with type <class 'str'>
['Fr', '11/2/12', '193.43', '4.261M', '5.121M']
spot of 193.43 with type <class 'str'>
['Th', '11/1/12', '197.15', '3.759M', '5.105M']
spot of 197.15 with type <class 'str'>
['We', '10/31/12', '194.53', '6.052M', '5.093M']
spot of 194.53 with type <class 'str'>
['Fr', '10/26/12', '193.27', '4.007M', '4.822M']
spot of 193.27 with type <class 'str'>
['Th', '10/25/12', '191.6', '3.251M', '4.745M']
spot of 191.6 with type <class 'str'>
['We', '10/24/12', '190.72', '3.738M', '4.726M']
spot of 190.72 with type <class 'str'>
['Tu', '10/23/12', '191.25', '4.427M', '4.689M']
spot of 191.25 with type <class 'str'>
['Mo', '10/22/12', '194.4', '4.405M', '4.616M']
spot of 194.4 with type <class 'str'>
['Fr', '10/19/12', '193.36', '6.622M', '4.686M']
spot of 193.36 with type <class 'str'>
['Th', '10/18/12', '194.96', '9.297M', '4.572M']
spot of 194.96 with type <class 'str'>
['We', '10/17/12', '200.63', '12.676M', '4.137M']
spot of 200.63 with type <class 'str'>
['Tu', '10/16/12', '211', '5.632M', '3.52M']
spot of 211 with type <class 'str'>
['Mo', '10/15/12', '208.93', '3.063M', '3.367M']
spot of 208.93 with type <class 'str'>
['Fr', '10/12/12', '207.8', '2.712M', '3.397M']
spot of 207.8 with type <class 'str'>
['Th', '10/11/12', '205.76', '2.91M', '4.068M']
spot of 205.76 with type <class 'str'>
['We', '10/10/12', '205.82', '4.025M', '4.123M']
spot of 205.82 with type <class 'str'>
['Tu', '10/9/12', '207.99', '3.581M', '4.029M']
spot of 207.99 with type <class 'str'>
['Mo', '10/8/12', '209.82', '1.983M', '3.955M']
spot of 209.82 with type <class 'str'>
['Fr', '10/5/12', '210.59', '2.858M', '4.041M']
spot of 210.59 with type <class 'str'>
['Th', '10/4/12', '210.39', '2.958M', '4.121M']
spot of 210.39 with type <class 'str'>
['We', '10/3/12', '210.51', '3.192M', '4.183M']
spot of 210.51 with type <class 'str'>
['Tu', '10/2/12', '209.84', '3.321M', '4.189M']
spot of 209.84 with type <class 'str'>
['Mo', '10/1/12', '210.47', '5.457M', '4.228M']
spot of 210.47 with type <class 'str'>
['Fr', '9/28/12', '207.45', '4.91M', '4.145M']
spot of 207.45 with type <class 'str'>
['Th', '9/27/12', '205.91', '2.772M', '4.045M']
spot of 205.91 with type <class 'str'>
['We', '9/26/12', '204', '3.423M', '4.123M']
spot of 204 with type <class 'str'>
['Tu', '9/25/12', '204.98', '3.347M', '4.115M']
spot of 204.98 with type <class 'str'>
['Mo', '9/24/12', '205.29', '3.511M', '4.193M']
spot of 205.29 with type <class 'str'>
['Fr', '9/21/12', '205.98', '12.773M', '4.172M']
spot of 205.98 with type <class 'str'>
['Th', '9/20/12', '206.18', '3.74M', '3.503M']
spot of 206.18 with type <class 'str'>
['We', '9/19/12', '206.43', '2.606M', '3.397M']
spot of 206.43 with type <class 'str'>
['Tu', '9/18/12', '207.07', '2.476M', '3.392M']
spot of 207.07 with type <class 'str'>
['Mo', '9/17/12', '207.15', '3.276M', '3.394M']
spot of 207.15 with type <class 'str'>
['Fr', '9/14/12', '206.81', '4.058M', '3.351M']
spot of 206.81 with type <class 'str'>
['Th', '9/13/12', '206.36', '3.88M', '3.265M']
spot of 206.36 with type <class 'str'>
['We', '9/12/12', '203.77', '3.284M', '3.226M']
spot of 203.77 with type <class 'str'>
['Tu', '9/11/12', '203.27', '3.911M', '3.214M']
spot of 203.27 with type <class 'str'>
['Mo', '9/10/12', '200.95', '4.208M', '3.109M']
spot of 200.95 with type <class 'str'>
['Fr', '9/7/12', '199.5', '3.414M', '2.999M']
spot of 199.5 with type <class 'str'>
['Th', '9/6/12', '199.1', '3.932M', '2.953M']
spot of 199.1 with type <class 'str'>
['We', '9/5/12', '195.04', '3.313M', '2.832M']
spot of 195.04 with type <class 'str'>
['Tu', '9/4/12', '194.54', '4.515M', '2.782M']
spot of 194.54 with type <class 'str'>
['Fr', '8/31/12', '194.85', '3.193M', '2.642M']
spot of 194.85 with type <class 'str'>
['Th', '8/30/12', '193.37', '2.741M', '2.602M']
spot of 193.37 with type <class 'str'>
['We', '8/29/12', '195.08', '2.141M', '2.564M']
spot of 195.08 with type <class 'str'>
['Tu', '8/28/12', '194.87', '2.539M', '2.559M']
spot of 194.87 with type <class 'str'>
['Mo', '8/27/12', '195.69', '2.499M', '2.603M']
spot of 195.69 with type <class 'str'>
['Fr', '8/24/12', '197.77', '2.639M', '2.593M']
spot of 197.77 with type <class 'str'>
['Th', '8/23/12', '195.7', '2.758M', '2.635M']
spot of 195.7 with type <class 'str'>
['We', '8/22/12', '197.25', '3.296M', '2.639M']
spot of 197.25 with type <class 'str'>
['Tu', '8/21/12', '198.65', '3.111M', '2.59M']
spot of 198.65 with type <class 'str'>
['Mo', '8/20/12', '200.5', '2.336M', '2.616M']
spot of 200.5 with type <class 'str'>
['Fr', '8/17/12', '201.22', '2.552M', '2.646M']
spot of 201.22 with type <class 'str'>
['Th', '8/16/12', '200.84', '2.729M', '2.755M']
spot of 200.84 with type <class 'str'>
['We', '8/15/12', '198.4', '2.112M', '2.792M']
spot of 198.4 with type <class 'str'>
['Tu', '8/14/12', '198.29', '2.562M', '2.907M']
spot of 198.29 with type <class 'str'>
['Mo', '8/13/12', '199.01', '2.418M', '2.976M']
spot of 199.01 with type <class 'str'>
['Fr', '8/10/12', '199.29', '2.601M', '3.075M']
spot of 199.29 with type <class 'str'>
['Th', '8/9/12', '198.42', '2.16M', '3.221M']
spot of 198.42 with type <class 'str'>
['We', '8/8/12', '199.03', '2.068M', '3.77M']
spot of 199.03 with type <class 'str'>
['Tu', '8/7/12', '199.93', '3.21M', '4.166M']
spot of 199.93 with type <class 'str'>
['Mo', '8/6/12', '198.76', '2.338M', '4.296M']
spot of 198.76 with type <class 'str'>
['Fr', '8/3/12', '198.52', '3.278M', '4.35M']
spot of 198.52 with type <class 'str'>
['Th', '8/2/12', '194.45', '2.813M', '4.394M']
spot of 194.45 with type <class 'str'>
['We', '8/1/12', '195.18', '2.559M', '4.535M']
spot of 195.18 with type <class 'str'>
['Tu', '7/31/12', '195.98', '3.507M', '4.728M']
spot of 195.98 with type <class 'str'>
['Mo', '7/30/12', '196.68', '2.788M', '4.807M']
spot of 196.68 with type <class 'str'>
['Fr', '7/27/12', '196.39', '4.177M', '4.887M']
spot of 196.39 with type <class 'str'>
['Th', '7/26/12', '193.95', '3.284M', '4.939M']
spot of 193.95 with type <class 'str'>
['We', '7/25/12', '191.08', '3.834M', '4.899M']
spot of 191.08 with type <class 'str'>
['Tu', '7/24/12', '190.34', '3.597M', '4.74M']
spot of 190.34 with type <class 'str'>
['Mo', '7/23/12', '190.83', '3.905M', '4.689M']
spot of 190.83 with type <class 'str'>
['Fr', '7/20/12', '192.45', '4.79M', '4.78M']
spot of 192.45 with type <class 'str'>
['Th', '7/19/12', '195.34', '10.396M', '4.725M']
spot of 195.34 with type <class 'str'>
['We', '7/18/12', '188.25', '8.019M', '4.216M']
spot of 188.25 with type <class 'str'>
['Tu', '7/17/12', '183.65', '5.16M', '3.911M']
spot of 183.65 with type <class 'str'>
['Mo', '7/16/12', '184.79', '3.144M', '3.781M']
spot of 184.79 with type <class 'str'>
['Fr', '7/13/12', '186.01', '3.933M', '4.16M']
spot of 186.01 with type <class 'str'>
['Th', '7/12/12', '183.09', '4.931M', '4.186M']
spot of 183.09 with type <class 'str'>
['We', '7/11/12', '185.25', '5.456M', '4.082M']
spot of 185.25 with type <class 'str'>
['Tu', '7/10/12', '186.26', '4.69M', '3.938M']
spot of 186.26 with type <class 'str'>
['Mo', '7/9/12', '189.67', '3.988M', '3.851M']
spot of 189.67 with type <class 'str'>
['Fr', '7/6/12', '191.41', '4.953M', '4.011M']
spot of 191.41 with type <class 'str'>
['Th', '7/5/12', '195.29', '2.691M', '3.92M']
spot of 195.29 with type <class 'str'>
['Tu', '7/3/12', '195.93', '1.451M', '3.957M']
spot of 195.93 with type <class 'str'>
['Mo', '7/2/12', '195.83', '2.832M', '4.062M']
spot of 195.83 with type <class 'str'>
['Fr', '6/29/12', '195.58', '5.262M', '4.091M']
spot of 195.58 with type <class 'str'>
['Th', '6/28/12', '191.4', '3.967M', '3.905M']
spot of 191.4 with type <class 'str'>
['We', '6/27/12', '193', '2.763M', '3.888M']
spot of 193 with type <class 'str'>
['Tu', '6/26/12', '191.95', '3.436M', '3.946M']
spot of 191.95 with type <class 'str'>
['Mo', '6/25/12', '192.86', '3.212M', '3.954M']
spot of 192.86 with type <class 'str'>
['Fr', '6/22/12', '193.7', '8.833M', '4.049M']
spot of 193.7 with type <class 'str'>
['Th', '6/21/12', '193.39', '4.317M', '3.807M']
spot of 193.39 with type <class 'str'>
['We', '6/20/12', '198.78', '3.379M', '4.138M']
spot of 198.78 with type <class 'str'>
['Tu', '6/19/12', '198.93', '3.298M', '4.153M']
spot of 198.93 with type <class 'str'>
['Mo', '6/18/12', '198.29', '3.379M', '4.175M']
spot of 198.29 with type <class 'str'>
['Fr', '6/15/12', '199.1', '6.391M', '4.143M']
spot of 199.1 with type <class 'str'>
['Th', '6/14/12', '195.1', '3.585M', '3.955M']
spot of 195.1 with type <class 'str'>
['We', '6/13/12', '193.1', '3.248M', '3.987M']
spot of 193.1 with type <class 'str'>
['Tu', '6/12/12', '194.55', '3.024M', '4.008M']
spot of 194.55 with type <class 'str'>
['Mo', '6/11/12', '192.51', '3.274M', '4.062M']
spot of 192.51 with type <class 'str'>
['Fr', '6/8/12', '195.14', '2.477M', '4.227M']
spot of 195.14 with type <class 'str'>
['Th', '6/7/12', '194.44', '3.701M', '4.437M']
spot of 194.44 with type <class 'str'>
['We', '6/6/12', '193.99', '3.645M', '4.523M']
spot of 193.99 with type <class 'str'>
['Tu', '6/5/12', '189.2', '3.557M', '4.479M']
spot of 189.2 with type <class 'str'>
['Mo', '6/4/12', '188.54', '4.625M', '4.444M']
spot of 188.54 with type <class 'str'>
['Fr', '6/1/12', '189.08', '5.206M', '4.295M']
spot of 189.08 with type <class 'str'>
['Th', '5/31/12', '192.9', '9.29M', '4.204M']
spot of 192.9 with type <class 'str'>
['We', '5/30/12', '194.53', '3.602M', '3.834M']
spot of 194.53 with type <class 'str'>
['Tu', '5/29/12', '196.46', '3.619M', '3.853M']
spot of 196.46 with type <class 'str'>
['Fr', '5/25/12', '194.3', '2.903M', '3.836M']
spot of 194.3 with type <class 'str'>
['Th', '5/24/12', '196.09', '3.569M', '3.911M']
spot of 196.09 with type <class 'str'>
['We', '5/23/12', '196.12', '4.067M', '3.862M']
spot of 196.12 with type <class 'str'>
['Tu', '5/22/12', '196.82', '3.568M', '3.748M']
spot of 196.82 with type <class 'str'>
['Mo', '5/21/12', '197.76', '3.832M', '3.691M']
spot of 197.76 with type <class 'str'>
['Fr', '5/18/12', '195.88', '5.737M', '3.62M']
spot of 195.88 with type <class 'str'>
['Th', '5/17/12', '197.89', '5.627M', '3.459M']
spot of 197.89 with type <class 'str'>
['We', '5/16/12', '199.73', '5.001M', '3.304M']
spot of 199.73 with type <class 'str'>
['Tu', '5/15/12', '199.04', '2.987M', '3.237M']
spot of 199.04 with type <class 'str'>
['Mo', '5/14/12', '199.44', '3.03M', '3.414M']
spot of 199.44 with type <class 'str'>
['Fr', '5/11/12', '201.17', '2.392M', '3.453M']
spot of 201.17 with type <class 'str'>
['Th', '5/10/12', '200.6', '3.831M', '3.611M']
spot of 200.6 with type <class 'str'>
['We', '5/9/12', '201.23', '3.743M', '3.739M']
spot of 201.23 with type <class 'str'>
['Tu', '5/8/12', '201.48', '3.882M', '4.167M']
spot of 201.48 with type <class 'str'>
['Mo', '5/7/12', '203.75', '3.376M', '4.313M']
spot of 203.75 with type <class 'str'>
['Fr', '5/4/12', '204.99', '4.024M', '4.343M']
spot of 204.99 with type <class 'str'>
['Th', '5/3/12', '207.24', '2.827M', '4.326M']
spot of 207.24 with type <class 'str'>
['We', '5/2/12', '208.06', '2.36M', '4.333M']
spot of 208.06 with type <class 'str'>
['Tu', '5/1/12', '208', '2.716M', '4.4M']
spot of 208 with type <class 'str'>
['Mo', '4/30/12', '207.08', '2.773M', '4.495M']
spot of 207.08 with type <class 'str'>
['Fr', '4/27/12', '206.81', '3.311M', '4.531M']
spot of 206.81 with type <class 'str'>
['Th', '4/26/12', '205.58', '3.304M', '4.565M']
spot of 205.58 with type <class 'str'>
['We', '4/25/12', '203.57', '4.003M', '4.638M']
spot of 203.57 with type <class 'str'>
['Tu', '4/24/12', '200', '5.632M', '4.644M']
spot of 200 with type <class 'str'>
['Mo', '4/23/12', '198.62', '3.619M', '4.494M']
spot of 198.62 with type <class 'str'>
['Fr', '4/20/12', '199.6', '4.759M', '4.468M']
spot of 199.6 with type <class 'str'>
['Th', '4/19/12', '199.51', '5.763M', '4.377M']
spot of 199.51 with type <class 'str'>
['We', '4/18/12', '200.13', '10.155M', '4.211M']
spot of 200.13 with type <class 'str'>
['Tu', '4/17/12', '207.45', '6.074M', '3.714M']
spot of 207.45 with type <class 'str'>
['Mo', '4/16/12', '202.72', '3.827M', '3.537M']
spot of 202.72 with type <class 'str'>
['Fr', '4/13/12', '202.8', '3.768M', '3.484M']
spot of 202.8 with type <class 'str'>
['Th', '4/12/12', '205.32', '2.93M', '3.454M']
spot of 205.32 with type <class 'str'>
['We', '4/11/12', '202.58', '3.367M', '3.48M']
spot of 202.58 with type <class 'str'>
['Tu', '4/10/12', '202.33', '4.133M', '3.502M']
spot of 202.33 with type <class 'str'>
['Mo', '4/9/12', '204.94', '3.327M', '3.478M']
spot of 204.94 with type <class 'str'>
['Th', '4/5/12', '205.47', '3.809M', '3.898M']
spot of 205.47 with type <class 'str'>
['We', '4/4/12', '206.05', '4.404M', '3.886M']
spot of 206.05 with type <class 'str'>
['Tu', '4/3/12', '209.5', '4.091M', '3.899M']
spot of 209.5 with type <class 'str'>
['Mo', '4/2/12', '209.47', '3.388M', '3.951M']
spot of 209.47 with type <class 'str'>
['Fr', '3/30/12', '208.65', '3.217M', '3.933M']
spot of 208.65 with type <class 'str'>
['Th', '3/29/12', '208.27', '3.404M', '3.93M']
spot of 208.27 with type <class 'str'>
['We', '3/28/12', '207.29', '3.266M', '3.913M']
spot of 207.29 with type <class 'str'>
['Tu', '3/27/12', '207.18', '2.705M', '3.918M']
spot of 207.18 with type <class 'str'>
['Mo', '3/26/12', '207.77', '3.418M', '4.086M']
spot of 207.77 with type <class 'str'>
['Fr', '3/23/12', '205.48', '3.036M', '4.32M']
spot of 205.48 with type <class 'str'>
['Th', '3/22/12', '205.49', '3.309M', '4.366M']
spot of 205.49 with type <class 'str'>
['We', '3/21/12', '204.69', '3.33M', '4.383M']
spot of 204.69 with type <class 'str'>
['Tu', '3/20/12', '204.25', '3.695M', '4.503M']
spot of 204.25 with type <class 'str'>
['Mo', '3/19/12', '205.72', '3.763M', '4.467M']
spot of 205.72 with type <class 'str'>
['Fr', '3/16/12', '206.01', '9.638M', '4.467M']
spot of 206.01 with type <class 'str'>
['Th', '3/15/12', '206', '3.621M', '4.048M']
spot of 206 with type <class 'str'>
['We', '3/14/12', '204.72', '4.603M', '4.342M']
spot of 204.72 with type <class 'str'>
['Tu', '3/13/12', '203.78', '4.865M', '4.254M']
spot of 203.78 with type <class 'str'>
['Mo', '3/12/12', '201', '3.12M', '4.149M']
spot of 201 with type <class 'str'>
['Fr', '3/9/12', '200.62', '3.178M', '4.191M']
spot of 200.62 with type <class 'str'>
['Th', '3/8/12', '199.81', '3.146M', '4.214M']
spot of 199.81 with type <class 'str'>
['We', '3/7/12', '197.77', '3.347M', '4.273M']
spot of 197.77 with type <class 'str'>
['Tu', '3/6/12', '197.26', '5.216M', '4.276M']
spot of 197.26 with type <class 'str'>
['Mo', '3/5/12', '200.66', '6.939M', '4.092M']
spot of 200.66 with type <class 'str'>
['Fr', '3/2/12', '198.81', '3.728M', '3.856M']
spot of 198.81 with type <class 'str'>
['Th', '3/1/12', '197.53', '3.561M', '3.866M']
spot of 197.53 with type <class 'str'>
['We', '2/29/12', '196.73', '5.121M', '3.882M']
spot of 196.73 with type <class 'str'>
['Tu', '2/28/12', '197.98', '3.167M', '3.769M']
spot of 197.98 with type <class 'str'>
['Mo', '2/27/12', '197.53', '3.759M', '3.801M']

spot of 197.53 with type <class 'str'>
['Fr', '2/24/12', '197.76', '3.353M', '3.852M']
spot of 197.76 with type <class 'str'>
['Th', '2/23/12', '197.61', '8.035M', '3.889M']
spot of 197.61 with type <class 'str'>
['We', '2/22/12', '193.87', '3.276M', '3.692M']
spot of 193.87 with type <class 'str'>
['Tu', '2/21/12', '193.39', '3.294M', '3.796M']
spot of 193.39 with type <class 'str'>
['Fr', '2/17/12', '193.42', '3.747M', '3.867M']
spot of 193.42 with type <class 'str'>
['Th', '2/16/12', '193.02', '3.526M', '3.841M']
spot of 193.02 with type <class 'str'>
['We', '2/15/12', '192.25', '4.021M', '3.873M']
spot of 192.25 with type <class 'str'>
['Tu', '2/14/12', '192.22', '3.398M', '3.909M']
spot of 192.22 with type <class 'str'>
['Mo', '2/13/12', '192.62', '2.459M', '4.039M']
spot of 192.62 with type <class 'str'>
['Fr', '2/10/12', '192.42', '3.391M', '4.258M']
spot of 192.42 with type <class 'str'>
['Th', '2/9/12', '193.13', '3.877M', '4.889M']
spot of 193.13 with type <class 'str'>
['We', '2/8/12', '192.95', '3.804M', '5.202M']
spot of 192.95 with type <class 'str'>
['Tu', '2/7/12', '193.35', '3.433M', '5.255M']
spot of 193.35 with type <class 'str'>
['Mo', '2/6/12', '192.82', '3.64M', '5.427M']
spot of 192.82 with type <class 'str'>
['Fr', '2/3/12', '193.64', '4.522M', '5.536M']
spot of 193.64 with type <class 'str'>
['Th', '2/2/12', '191.53', '3.907M', '5.693M']
spot of 191.53 with type <class 'str'>
['We', '2/1/12', '192.62', '5.089M', '5.707M']
spot of 192.62 with type <class 'str'>
['Tu', '1/31/12', '192.6', '4.828M', '5.712M']
spot of 192.6 with type <class 'str'>
['Mo', '1/30/12', '192.5', '4.359M', '5.737M']
spot of 192.5 with type <class 'str'>
['Fr', '1/27/12', '190.46', '3.361M', '5.772M']
spot of 190.46 with type <class 'str'>
['Th', '1/26/12', '190.98', '4.005M', '5.846M']
spot of 190.98 with type <class 'str'>
['We', '1/25/12', '191.73', '4.558M', '5.869M']
spot of 191.73 with type <class 'str'>
['Tu', '1/24/12', '191.93', '5.35M', '5.941M']
spot of 191.93 with type <class 'str'>
['Mo', '1/23/12', '189.98', '5.752M', '5.82M']
spot of 189.98 with type <class 'str'>
['Fr', '1/20/12', '188.52', '12.85M', '5.633M']
spot of 188.52 with type <class 'str'>
['Th', '1/19/12', '180.52', '8.576M', '4.968M']
spot of 180.52 with type <class 'str'>
['We', '1/18/12', '181.07', '4.601M', '4.581M']
spot of 181.07 with type <class 'str'>
['Tu', '1/17/12', '180', '6.003M', '4.478M']
spot of 180 with type <class 'str'>
['Fr', '1/13/12', '179.16', '5.279M', '4.414M']
spot of 179.16 with type <class 'str'>
['Th', '1/12/12', '180.55', '6.881M', '4.681M']
spot of 180.55 with type <class 'str'>
['We', '1/11/12', '182.32', '4.111M', '4.539M']
spot of 182.32 with type <class 'str'>
['Tu', '1/10/12', '181.31', '5.162M', '4.601M']
spot of 181.31 with type <class 'str'>
['Mo', '1/9/12', '181.59', '5.201M', '5.047M']
spot of 181.59 with type <class 'str'>
['Fr', '1/6/12', '182.54', '4.897M', '4.998M']
spot of 182.54 with type <class 'str'>
['Th', '1/5/12', '184.66', '4.463M', '5.009M']
spot of 184.66 with type <class 'str'>
['We', '1/4/12', '185.54', '4.347M', '5.045M']
spot of 185.54 with type <class 'str'>
['Tu', '1/3/12', '186.3', '5.646M', '5.009M']
spot of 186.3 with type <class 'str'>
['Fr', '12/30/11', '183.88', '3.532M', '4.956M']
spot of 183.88 with type <class 'str'>
['Th', '12/29/11', '186.18', '2.942M', '5.011M']
spot of 186.18 with type <class 'str'>
['We', '12/28/11', '183.99', '2.873M', '5.154M']
spot of 183.99 with type <class 'str'>
['Tu', '12/27/11', '184.95', '2.775M', '5.239M']
spot of 184.95 with type <class 'str'>
['Fr', '12/23/11', '184.75', '3.053M', '5.434M']
spot of 184.75 with type <class 'str'>
['Th', '12/22/11', '182.04', '5.052M', '5.561M']
spot of 182.04 with type <class 'str'>
['We', '12/21/11', '181.47', '9.284M', '5.549M']
spot of 181.47 with type <class 'str'>
['Tu', '12/20/11', '187.24', '4.743M', '5.452M']
spot of 187.24 with type <class 'str'>
['Mo', '12/19/11', '182.89', '5.04M', '5.38M']
spot of 182.89 with type <class 'str'>
['Fr', '12/16/11', '183.57', '11.85M', '5.346M']
spot of 183.57 with type <class 'str'>
['Th', '12/15/11', '187.48', '4.475M', '4.704M']
spot of 187.48 with type <class 'str'>
['We', '12/14/11', '188.72', '5.058M', '4.726M']
spot of 188.72 with type <class 'str'>
['Tu', '12/13/11', '191.15', '5.01M', '4.668M']
spot of 191.15 with type <class 'str'>
['Mo', '12/12/11', '192.18', '3.797M', '4.677M']
spot of 192.18 with type <class 'str'>
['Fr', '12/9/11', '194.56', '4.849M', '4.72M']
spot of 194.56 with type <class 'str'>
['Th', '12/8/11', '191.58', '4.369M', '4.786M']
spot of 191.58 with type <class 'str'>
['We', '12/7/11', '194.05', '5.083M', '4.802M']
spot of 194.05 with type <class 'str'>
['Tu', '12/6/11', '192.94', '4.145M', '4.769M']
spot of 192.94 with type <class 'str'>
['Mo', '12/5/11', '190.84', '5.699M', '4.896M']
spot of 190.84 with type <class 'str'>
['Fr', '12/2/11', '189.66', '4.962M', '4.76M']
spot of 189.66 with type <class 'str'>
['Th', '12/1/11', '189.45', '4.863M', '4.688M']
spot of 189.45 with type <class 'str'>
['We', '11/30/11', '188', '7.837M', '4.731M']
spot of 188 with type <class 'str'>
['Tu', '11/29/11', '180.94', '3.662M', '4.497M']
spot of 180.94 with type <class 'str'>
['Mo', '11/28/11', '182.21', '4.524M', '4.488M']
spot of 182.21 with type <class 'str'>
['Fr', '11/25/11', '177.06', '2.233M', '4.402M']
spot of 177.06 with type <class 'str'>
['We', '11/23/11', '177.95', '4.802M', '4.57M']
spot of 177.95 with type <class 'str'>
['Tu', '11/22/11', '181.31', '4.179M', '4.526M']
spot of 181.31 with type <class 'str'>
['Mo', '11/21/11', '181.48', '5.145M', '4.639M']
spot of 181.48 with type <class 'str'>
['Fr', '11/18/11', '185.24', '4.441M', '4.61M']
spot of 185.24 with type <class 'str'>
['Th', '11/17/11', '185.73', '5.841M', '4.648M']
spot of 185.73 with type <class 'str'>
['We', '11/16/11', '186.62', '4.62M', '4.729M']
spot of 186.62 with type <class 'str'>
['Tu', '11/15/11', '188.75', '4.585M', '4.781M']
spot of 188.75 with type <class 'str'>
['Mo', '11/14/11', '187.35', '6.047M', '4.833M']
spot of 187.35 with type <class 'str'>
['Fr', '11/11/11', '187.38', '3.665M', '4.823M']
spot of 187.38 with type <class 'str'>
['Th', '11/10/11', '183.35', '3.882M', '5.115M']
spot of 183.35 with type <class 'str'>
['We', '11/9/11', '182.24', '5.495M', '5.358M']
spot of 182.24 with type <class 'str'>
['Tu', '11/8/11', '187.25', '4.332M', '5.438M']
spot of 187.25 with type <class 'str'>
['Mo', '11/7/11', '187.32', '3.531M', '6.198M']
spot of 187.32 with type <class 'str'>
['Fr', '11/4/11', '186.38', '3.238M', '6.549M']
spot of 186.38 with type <class 'str'>
['Th', '11/3/11', '187.3', '4.747M', '6.691M']
spot of 187.3 with type <class 'str'>
['We', '11/2/11', '183.92', '4.137M', '6.668M']
spot of 183.92 with type <class 'str'>
['Tu', '11/1/11', '181.35', '5.883M', '6.748M']
spot of 181.35 with type <class 'str'>
['Mo', '10/31/11', '184.63', '4.71M', '6.711M']
spot of 184.63 with type <class 'str'>
['Fr', '10/28/11', '187.45', '5.01M', '6.783M']
spot of 187.45 with type <class 'str'>
['Th', '10/27/11', '185.88', '7.058M', '6.905M']
spot of 185.88 with type <class 'str'>
['We', '10/26/11', '181.97', '5.388M', '6.913M']
spot of 181.97 with type <class 'str'>
['Tu', '10/25/11', '180.36', '5.374M', '6.944M']
spot of 180.36 with type <class 'str'>
['Mo', '10/24/11', '182.25', '5.891M', '7.198M']
spot of 182.25 with type <class 'str'>
['Fr', '10/21/11', '181.63', '8.056M', '7.408M']
spot of 181.63 with type <class 'str'>
['Th', '10/20/11', '177.25', '7.514M', '7.394M']
spot of 177.25 with type <class 'str'>
['We', '10/19/11', '177.39', '6.708M', '7.356M']
spot of 177.39 with type <class 'str'>
['Tu', '10/18/11', '178.9', '15.73M', '7.424M']
spot of 178.9 with type <class 'str'>
['Mo', '10/17/11', '186.59', '8.79M', '6.885M']
spot of 186.59 with type <class 'str'>
['Fr', '10/14/11', '190.53', '5.369M', '6.749M']
spot of 190.53 with type <class 'str'>
['Th', '10/13/11', '186.82', '4.399M', '6.763M']
spot of 186.82 with type <class 'str'>
['We', '10/12/11', '186.12', '5.338M', '7.016M']
spot of 186.12 with type <class 'str'>
['Tu', '10/11/11', '185', '5.331M', '7.13M']
spot of 185 with type <class 'str'>
['Mo', '10/10/11', '186.62', '5.786M', '7.189M']
spot of 186.62 with type <class 'str'>
['Fr', '10/7/11', '182.39', '6.843M', '7.12M']
spot of 182.39 with type <class 'str'>
['Th', '10/6/11', '181.69', '7.181M', '7.401M']
spot of 181.69 with type <class 'str'>
['We', '10/5/11', '176.85', '5.852M', '7.286M']
spot of 176.85 with type <class 'str'>
['Tu', '10/4/11', '174.74', '9.175M', '7.361M']
spot of 174.74 with type <class 'str'>
['Mo', '10/3/11', '173.29', '9.043M', '7.065M']
spot of 173.29 with type <class 'str'>
['Fr', '9/30/11', '174.87', '7.852M', '6.812M']
spot of 174.87 with type <class 'str'>
['Th', '9/29/11', '179.17', '6.944M', '6.738M']
spot of 179.17 with type <class 'str'>
['We', '9/28/11', '177.55', '7.732M', '6.677M']
spot of 177.55 with type <class 'str'>
['Tu', '9/27/11', '177.71', '7.64M', '6.614M']
spot of 177.71 with type <class 'str'>
['Mo', '9/26/11', '174.51', '6.746M', '6.489M']
spot of 174.51 with type <class 'str'>
['Fr', '9/23/11', '169.34', '5.587M', '6.371M']
spot of 169.34 with type <class 'str'>
['Th', '9/22/11', '168.62', '8.196M', '6.363M']
spot of 168.62 with type <class 'str'>
['We', '9/21/11', '173.02', '7.043M', '6.222M']
spot of 173.02 with type <class 'str'>
['Tu', '9/20/11', '174.72', '6.21M', '6.051M']
spot of 174.72 with type <class 'str'>
['Mo', '9/19/11', '173.13', '4.757M', '5.99M']
spot of 173.13 with type <class 'str'>
['Fr', '9/16/11', '172.99', '11.049M', '6.102M']
spot of 172.99 with type <class 'str'>
['Th', '9/15/11', '170.09', '5.464M', '5.816M']
spot of 170.09 with type <class 'str'>
['We', '9/14/11', '167.24', '6.981M', '5.88M']
spot of 167.24 with type <class 'str'>
['Tu', '9/13/11', '163.43', '4.724M', '5.876M']
spot of 163.43 with type <class 'str'>
['Mo', '9/12/11', '162.42', '5.248M', '6.045M']
spot of 162.42 with type <class 'str'>
['Fr', '9/9/11', '161.37', '6.744M', '6.633M']
spot of 161.37 with type <class 'str'>
['Th', '9/8/11', '165.25', '6.028M', '7.189M']
spot of 165.25 with type <class 'str'>
['We', '9/7/11', '167.31', '6.799M', '7.129M']
spot of 167.31 with type <class 'str'>
['Tu', '9/6/11', '165.11', '5.761M', '7.048M']
spot of 165.11 with type <class 'str'>
['Fr', '9/2/11', '166.98', '4.979M', '7.174M']
spot of 166.98 with type <class 'str'>
['Th', '9/1/11', '170.33', '5.464M', '7.188M']
spot of 170.33 with type <class 'str'>
['We', '8/31/11', '171.91', '6.075M', '7.435M']
spot of 171.91 with type <class 'str'>
['Tu', '8/30/11', '172.51', '4.479M', '7.963M']
spot of 172.51 with type <class 'str'>
['Mo', '8/29/11', '172.62', '5.294M', '8.499M']
spot of 172.62 with type <class 'str'>
['Fr', '8/26/11', '169.14', '6.439M', '9.2M']
spot of 169.14 with type <class 'str'>
['Th', '8/25/11', '165.58', '6.759M', '9.562M']
spot of 165.58 with type <class 'str'>
['We', '8/24/11', '166.76', '6.427M', '9.847M']
spot of 166.76 with type <class 'str'>
['Tu', '8/23/11', '164.32', '6.924M', '9.866M']
spot of 164.32 with type <class 'str'>
['Mo', '8/22/11', '158.98', '7.254M', '9.79M']
spot of 158.98 with type <class 'str'>
['Fr', '8/19/11', '157.54', '14.072M', '9.696M']
spot of 157.54 with type <class 'str'>
['Th', '8/18/11', '163.83', '15.084M', '9.202M']
spot of 163.83 with type <class 'str'>
['We', '8/17/11', '171.48', '5.131M', '8.495M']
spot of 171.48 with type <class 'str'>
['Tu', '8/16/11', '171.24', '5.585M', '8.54M']
spot of 171.24 with type <class 'str'>
['Mo', '8/15/11', '172.99', '7.645M', '8.458M']
spot of 172.99 with type <class 'str'>
['Fr', '8/12/11', '168.2', '5.187M', '8.281M']
spot of 168.2 with type <class 'str'>
['Th', '8/11/11', '166.73', '9.177M', '8.236M']
spot of 166.73 with type <class 'str'>
['We', '8/10/11', '162.54', '13.995M', '7.955M']
spot of 162.54 with type <class 'str'>
['Tu', '8/9/11', '170.61', '12.518M', '7.416M']
spot of 170.61 with type <class 'str'>
['Mo', '8/8/11', '166.22', '15.806M', '7.465M']
spot of 166.22 with type <class 'str'>
['Fr', '8/5/11', '172.98', '11.872M', '7.003M']
spot of 172.98 with type <class 'str'>
['Th', '8/4/11', '171.48', '11.023M', '6.568M']
spot of 171.48 with type <class 'str'>
['We', '8/3/11', '178.83', '6.724M', '6.141M']
spot of 178.83 with type <class 'str'>
['Tu', '8/2/11', '178.05', '5.77M', '5.964M']
spot of 178.05 with type <class 'str'>
['Mo', '8/1/11', '180.75', '5.846M', '5.915M']
spot of 180.75 with type <class 'str'>
['Fr', '7/29/11', '181.85', '6.667M', '5.843M']
spot of 181.85 with type <class 'str'>
['Th', '7/28/11', '181.8', '4.479M', '5.692M']
spot of 181.8 with type <class 'str'>
['We', '7/27/11', '181.35', '5.807M', '5.787M']
spot of 181.35 with type <class 'str'>
['Tu', '7/26/11', '182.93', '4.356M', '5.793M']
spot of 182.93 with type <class 'str'>
['Mo', '7/25/11', '183.7', '4.988M', '5.808M']
spot of 183.7 with type <class 'str'>
['Fr', '7/22/11', '185.18', '4.517M', '5.821M']
spot of 185.18 with type <class 'str'>
['Th', '7/21/11', '184.9', '4.959M', '5.86M']
spot of 184.9 with type <class 'str'>
['We', '7/20/11', '183.65', '5.903M', '5.784M']
spot of 183.65 with type <class 'str'>
['Tu', '7/19/11', '185.21', '13.249M', '5.714M']
spot of 185.21 with type <class 'str'>
['Mo', '7/18/11', '175.28', '8.88M', '5.127M']
spot of 175.28 with type <class 'str'>
['Fr', '7/15/11', '175.54', '5.35M', '4.829M']
spot of 175.54 with type <class 'str'>
['Th', '7/14/11', '174.23', '4.613M', '4.823M']
spot of 174.23 with type <class 'str'>
['We', '7/13/11', '174.32', '4.075M', '4.78M']
spot of 174.32 with type <class 'str'>
['Tu', '7/12/11', '174.05', '5.037M', '4.868M']
spot of 174.05 with type <class 'str'>
['Mo', '7/11/11', '174.99', '4.767M', '4.796M']
spot of 174.99 with type <class 'str'>
['Fr', '7/8/11', '176.49', '4.4M', '4.955M']
spot of 176.49 with type <class 'str'>
['Th', '7/7/11', '176.48', '5.907M', '4.985M']
spot of 176.48 with type <class 'str'>
['We', '7/6/11', '177.71', '5.887M', '4.94M']
spot of 177.71 with type <class 'str'>
['Tu', '7/5/11', '175.43', '4.586M', '5.018M']
spot of 175.43 with type <class 'str'>
['Fr', '7/1/11', '174.54', '5.182M', '5.052M']
spot of 174.54 with type <class 'str'>
['Th', '6/30/11', '171.55', '5.105M', '5.019M']
spot of 171.55 with type <class 'str'>
['We', '6/29/11', '170.54', '3.817M', '4.965M']
spot of 170.54 with type <class 'str'>
['Tu', '6/28/11', '170.01', '4.85M', '4.967M']
spot of 170.01 with type <class 'str'>
['Mo', '6/27/11', '167.62', '4.447M', '4.923M']
spot of 167.62 with type <class 'str'>
['Fr', '6/24/11', '165.07', '4.405M', '4.868M']
spot of 165.07 with type <class 'str'>
['Th', '6/23/11', '166.12', '5.272M', '4.923M']
spot of 166.12 with type <class 'str'>
['We', '6/22/11', '165.68', '3.963M', '4.829M']
spot of 165.68 with type <class 'str'>
['Tu', '6/21/11', '166.22', '5.388M', '4.907M']
spot of 166.22 with type <class 'str'>
['Mo', '6/20/11', '165.02', '3.956M', '5.156M']
spot of 165.02 with type <class 'str'>
['Fr', '6/17/11', '164.44', '7.153M', '5.111M']
spot of 164.44 with type <class 'str'>
['Th', '6/16/11', '162.67', '4.861M', '5.019M']
spot of 162.67 with type <class 'str'>
['We', '6/15/11', '162.33', '5.226M', '4.954M']
spot of 162.33 with type <class 'str'>
['Tu', '6/14/11', '164.12', '7.05M', '4.915M']
spot of 164.12 with type <class 'str'>
['Mo', '6/13/11', '163.17', '5.1M', '4.788M']
spot of 163.17 with type <class 'str'>
['Fr', '6/10/11', '163.18', '4.686M', '4.773M']
spot of 163.18 with type <class 'str'>
['Th', '6/9/11', '164.84', '4.3M', '4.697M']
spot of 164.84 with type <class 'str'>
['We', '6/8/11', '164.34', '3.851M', '4.687M']
spot of 164.34 with type <class 'str'>
['Tu', '6/7/11', '163.69', '4.189M', '5.017M']
spot of 163.69 with type <class 'str'>
['Mo', '6/6/11', '164.75', '3.62M', '5.049M']
spot of 164.75 with type <class 'str'>
['Fr', '6/3/11', '165.05', '5.231M', '5.152M']
spot of 165.05 with type <class 'str'>
['Th', '6/2/11', '166.09', '3.854M', '5.146M']
spot of 166.09 with type <class 'str'>
['We', '6/1/11', '166.56', '5.135M', '5.2M']
spot of 166.56 with type <class 'str'>
['Tu', '5/31/11', '168.93', '9.131M', '5.187M']
spot of 168.93 with type <class 'str'>
['Fr', '5/27/11', '167.5', '3.278M', '4.818M']
spot of 167.5 with type <class 'str'>
['Th', '5/26/11', '167.18', '5.776M', '4.922M']
spot of 167.18 with type <class 'str'>
['We', '5/25/11', '167.75', '3.884M', '5.026M']
spot of 167.75 with type <class 'str'>
['Tu', '5/24/11', '167.99', '4.644M', '5.227M']
spot of 167.99 with type <class 'str'>
['Mo', '5/23/11', '168.26', '5.15M', '5.251M']
spot of 168.26 with type <class 'str'>
['Fr', '5/20/11', '170.16', '4.874M', '5.268M']
spot of 170.16 with type <class 'str'>
['Th', '5/19/11', '170.59', '3.54M', '5.315M']
spot of 170.59 with type <class 'str'>
['We', '5/18/11', '170.44', '4.157M', '5.419M']
spot of 170.44 with type <class 'str'>
['Tu', '5/17/11', '170.5', '8.794M', '5.495M']
spot of 170.5 with type <class 'str'>
['Mo', '5/16/11', '168.86', '4.663M', '5.393M']
spot of 168.86 with type <class 'str'>
['Fr', '5/13/11', '169.92', '5.169M', '5.321M']
spot of 169.92 with type <class 'str'>
['Th', '5/12/11', '172.24', '5.143M', '5.388M']
spot of 172.24 with type <class 'str'>
['We', '5/11/11', '169.5', '4.665M', '5.772M']

spot of 169.5 with type <class 'str'>
['Tu', '5/10/11', '170.38', '4.937M', '5.901M']
spot of 170.38 with type <class 'str'>
['Mo', '5/9/11', '169.1', '3.592M', '5.982M']
spot of 169.1 with type <class 'str'>
['Fr', '5/6/11', '168.89', '4.839M', '6.096M']
spot of 168.89 with type <class 'str'>
['Th', '5/5/11', '168.46', '7.339M', '6.087M']
spot of 168.46 with type <class 'str'>
['We', '5/4/11', '170.62', '6.895M', '5.876M']
spot of 170.62 with type <class 'str'>
['Tu', '5/3/11', '172.87', '5.01M', '5.674M']
spot of 172.87 with type <class 'str'>
['Mo', '5/2/11', '172.15', '5.398M', '5.616M']
spot of 172.15 with type <class 'str'>
['Fr', '4/29/11', '170.58', '5.588M', '5.478M']
spot of 170.58 with type <class 'str'>
['Th', '4/28/11', '170.78', '5.09M', '5.35M']
spot of 170.78 with type <class 'str'>
['We', '4/27/11', '170.37', '5.3M', '5.263M']
spot of 170.37 with type <class 'str'>
['Tu', '4/26/11', '168.49', '7.267M', '5.151M']
spot of 168.49 with type <class 'str'>
['Mo', '4/25/11', '167.67', '3.584M', '4.881M']
spot of 167.67 with type <class 'str'>
['Th', '4/21/11', '168.28', '6.172M', '4.935M']
spot of 168.28 with type <class 'str'>
['We', '4/20/11', '164.75', '10.901M', '4.781M']
spot of 164.75 with type <class 'str'>
['Tu', '4/19/11', '165.4', '6.597M', '4.281M']
spot of 165.4 with type <class 'str'>
['Mo', '4/18/11', '165.94', '6.164M', '4.071M']
spot of 165.94 with type <class 'str'>
['Fr', '4/15/11', '166.21', '5.291M', '3.925M']
spot of 166.21 with type <class 'str'>
['Th', '4/14/11', '164.97', '4.702M', '3.929M']
spot of 164.97 with type <class 'str'>
['We', '4/13/11', '163.95', '4.185M', '3.959M']
spot of 163.95 with type <class 'str'>
['Tu', '4/12/11', '163.25', '3.863M', '3.999M']
spot of 163.25 with type <class 'str'>
['Mo', '4/11/11', '163.95', '4.141M', '4.029M']
spot of 163.95 with type <class 'str'>
['Fr', '4/8/11', '164.05', '3.326M', '4.139M']
spot of 164.05 with type <class 'str'>
['Th', '4/7/11', '164.38', '3.67M', '4.68M']
spot of 164.38 with type <class 'str'>
['We', '4/6/11', '164.04', '3.777M', '4.928M']
spot of 164.04 with type <class 'str'>
['Tu', '4/5/11', '163.99', '3.616M', '5.49M']
spot of 163.99 with type <class 'str'>
['Mo', '4/4/11', '164.25', '3.226M', '5.681M']
spot of 164.25 with type <class 'str'>
['Fr', '4/1/11', '164.27', '4.388M', '5.753M']
spot of 164.27 with type <class 'str'>
['Th', '3/31/11', '163.07', '3.862M', '5.745M']
spot of 163.07 with type <class 'str'>
['We', '3/30/11', '163.6', '3.397M', '5.958M']
spot of 163.6 with type <class 'str'>
['Tu', '3/29/11', '162.88', '3.461M', '6.337M']
spot of 162.88 with type <class 'str'>
['Mo', '3/28/11', '161.37', '3.974M', '6.466M']
spot of 161.37 with type <class 'str'>
['Fr', '3/25/11', '162.18', '5.352M', '6.555M']
spot of 162.18 with type <class 'str'>
['Th', '3/24/11', '160.04', '5.15M', '6.526M']
spot of 160.04 with type <class 'str'>
['We', '3/23/11', '159.53', '4.783M', '6.454M']
spot of 159.53 with type <class 'str'>
['Tu', '3/22/11', '158', '4.312M', '6.362M']
spot of 158 with type <class 'str'>
['Mo', '3/21/11', '157.68', '5.785M', '6.367M']
spot of 157.68 with type <class 'str'>
['Fr', '3/18/11', '155.89', '11.454M', '6.3M']
spot of 155.89 with type <class 'str'>
['Th', '3/17/11', '154.18', '7.379M', '5.838M']
spot of 154.18 with type <class 'str'>
['We', '3/16/11', '153', '12.205M', '5.726M']
spot of 153 with type <class 'str'>
['Tu', '3/15/11', '159.02', '6.486M', '5.313M']
spot of 159.02 with type <class 'str'>
['Mo', '3/14/11', '161.39', '4.305M', '5.228M']
spot of 161.39 with type <class 'str'>
['Fr', '3/11/11', '162.43', '4.272M', '5.224M']
spot of 162.43 with type <class 'str'>
['Th', '3/10/11', '162.02', '7.053M', '5.154M']
spot of 162.02 with type <class 'str'>
['We', '3/9/11', '165.86', '9.085M', '4.899M']
spot of 165.86 with type <class 'str'>
['Tu', '3/8/11', '162.28', '5.392M', '4.545M']
spot of 162.28 with type <class 'str'>
['Mo', '3/7/11', '159.93', '5.318M', '4.461M']
spot of 159.93 with type <class 'str'>
['Fr', '3/4/11', '161.83', '4.914M', '4.452M']
spot of 161.83 with type <class 'str'>
['Th', '3/3/11', '163.48', '4.065M', '4.507M']
spot of 163.48 with type <class 'str'>
['We', '3/2/11', '160.16', '3.413M', '4.545M']
spot of 160.16 with type <class 'str'>
['Tu', '3/1/11', '159.97', '4.383M', '4.692M']
spot of 159.97 with type <class 'str'>
['Mo', '2/28/11', '161.88', '4.774M', '4.728M']
spot of 161.88 with type <class 'str'>
['Fr', '2/25/11', '162.28', '4.522M', '4.66M']
spot of 162.28 with type <class 'str'>
['Th', '2/24/11', '160.77', '5.709M', '4.671M']
spot of 160.77 with type <class 'str'>
['We', '2/23/11', '160.18', '6.001M', '4.551M']
spot of 160.18 with type <class 'str'>
['Tu', '2/22/11', '161.95', '5.211M', '4.54M']
spot of 161.95 with type <class 'str'>
['Fr', '2/18/11', '164.84', '4.245M', '4.672M']
spot of 164.84 with type <class 'str'>
['Th', '2/17/11', '164.24', '3.231M', '4.837M']
spot of 164.24 with type <class 'str'>
['We', '2/16/11', '163.4', '3.221M', '4.947M']
spot of 163.4 with type <class 'str'>
['Tu', '2/15/11', '162.84', '3.769M', '5.09M']
spot of 162.84 with type <class 'str'>
['Mo', '2/14/11', '163.22', '4.131M', '5.389M']
spot of 163.22 with type <class 'str'>
['Fr', '2/11/11', '163.85', '5.186M', '5.6M']
spot of 163.85 with type <class 'str'>
['Th', '2/10/11', '164.09', '5.738M', '5.721M']
spot of 164.09 with type <class 'str'>
['We', '2/9/11', '164.65', '4.635M', '5.835M']
spot of 164.65 with type <class 'str'>
['Tu', '2/8/11', '166.05', '5.615M', '6.335M']
spot of 166.05 with type <class 'str'>
['Mo', '2/7/11', '164.82', '4.933M', '6.573M']
spot of 164.82 with type <class 'str'>
['Fr', '2/4/11', '164', '3.756M', '6.547M']
spot of 164 with type <class 'str'>
['Th', '2/3/11', '163.53', '4.685M', '6.526M']
spot of 163.53 with type <class 'str'>
['We', '2/2/11', '163.3', '3.905M', '6.487M']
spot of 163.3 with type <class 'str'>
['Tu', '2/1/11', '163.56', '5.834M', '6.504M']
spot of 163.56 with type <class 'str'>
['Mo', '1/31/11', '162', '7.197M', '6.357M']
spot of 162 with type <class 'str'>
['Fr', '1/28/11', '159.21', '6.726M', '6.153M']
spot of 159.21 with type <class 'str'>
['Th', '1/27/11', '161.07', '4.88M', '6.04M']
spot of 161.07 with type <class 'str'>
['We', '1/26/11', '161.04', '5.354M', '6.026M']
spot of 161.04 with type <class 'str'>
['Tu', '1/25/11', '161.44', '8.262M', '6.006M']
spot of 161.44 with type <class 'str'>
['Mo', '1/24/11', '159.63', '7.289M', '5.762M']
spot of 159.63 with type <class 'str'>
['Fr', '1/21/11', '155.5', '7.009M', '5.474M']
spot of 155.5 with type <class 'str'>
['Th', '1/20/11', '155.8', '7.441M', '5.21M']
spot of 155.8 with type <class 'str'>
['We', '1/19/11', '155.69', '12.144M', '4.958M']
spot of 155.69 with type <class 'str'>
['Tu', '1/18/11', '150.65', '9.177M', '4.328M']
spot of 150.65 with type <class 'str'>
['Fr', '1/14/11', '150', '4.547M', '3.871M']
spot of 150 with type <class 'str'>
['Th', '1/13/11', '148.82', '3.446M', '3.729M']
spot of 148.82 with type <class 'str'>
['We', '1/12/11', '149.1', '4.091M', '3.726M']
spot of 149.1 with type <class 'str'>
['Tu', '1/11/11', '147.28', '4.165M', '3.705M']
spot of 147.28 with type <class 'str'>
['Mo', '1/10/11', '147.64', '3.633M', '3.693M']
spot of 147.64 with type <class 'str'>
['Fr', '1/7/11', '147.93', '4.136M', '4.12M']
spot of 147.93 with type <class 'str'>
['Th', '1/6/11', '148.66', '5.032M', '4.123M']
spot of 148.66 with type <class 'str'>
['We', '1/5/11', '147.05', '4.659M', '4.084M']
spot of 147.05 with type <class 'str'>
['Tu', '1/4/11', '147.64', '5.06M', '4.093M']
spot of 147.64 with type <class 'str'>
['Mo', '1/3/11', '147.48', '4.605M', '4.072M']
spot of 147.48 with type <class 'str'>
['Fr', '12/31/10', '146.76', '2.97M', '3.999M']
spot of 146.76 with type <class 'str'>
['Th', '12/30/10', '146.67', '3.039M', '4.094M']
spot of 146.67 with type <class 'str'>
['We', '12/29/10', '146.52', '3.663M', '4.223M']
spot of 146.52 with type <class 'str'>
['Tu', '12/28/10', '145.71', '2.701M', '4.3M']
spot of 145.71 with type <class 'str'>
['Mo', '12/27/10', '145.34', '2.315M', '4.342M']
spot of 145.34 with type <class 'str'>
['Th', '12/23/10', '145.89', '2.425M', '4.435M']
spot of 145.89 with type <class 'str'>
['We', '12/22/10', '145.95', '3.389M', '4.632M']
spot of 145.95 with type <class 'str'>
['Tu', '12/21/10', '145.74', '3.779M', '4.861M']
spot of 145.74 with type <class 'str'>
['Mo', '12/20/10', '144.51', '3.995M', '5.121M']
spot of 144.51 with type <class 'str'>
['Fr', '12/17/10', '145', '10.027M', '5.19M']
spot of 145 with type <class 'str'>
['Th', '12/16/10', '144.55', '4.179M', '4.661M']
spot of 144.55 with type <class 'str'>
['We', '12/15/10', '144.72', '4.447M', '4.707M']
spot of 144.72 with type <class 'str'>
['Tu', '12/14/10', '145.82', '4.804M', '4.715M']
spot of 145.82 with type <class 'str'>
['Mo', '12/13/10', '144.28', '4.742M', '4.644M']
spot of 144.28 with type <class 'str'>
['Fr', '12/10/10', '144.82', '3.504M', '4.662M']
spot of 144.82 with type <class 'str'>
['Th', '12/9/10', '144.3', '4.406M', '4.711M']
spot of 144.3 with type <class 'str'>
['We', '12/8/10', '144.98', '4.962M', '4.737M']
spot of 144.98 with type <class 'str'>
['Tu', '12/7/10', '144.02', '4.83M', '4.829M']
spot of 144.02 with type <class 'str'>
['Mo', '12/6/10', '144.99', '3.322M', '4.762M']
spot of 144.99 with type <class 'str'>
['Fr', '12/3/10', '145.38', '3.711M', '4.856M']
spot of 145.38 with type <class 'str'>
['Th', '12/2/10', '145.18', '5.376M', '4.926M']
spot of 145.18 with type <class 'str'>
['We', '12/1/10', '144.41', '6.827M', '4.912M']
spot of 144.41 with type <class 'str'>
['Tu', '11/30/10', '141.46', '7.676M', '4.837M']
spot of 141.46 with type <class 'str'>
['Mo', '11/29/10', '142.89', '5.04M', '4.623M']
spot of 142.89 with type <class 'str'>
['Fr', '11/26/10', '143.9', '2.081M', '4.62M']
spot of 143.9 with type <class 'str'>
['We', '11/24/10', '145.81', '4.877M', '4.923M']
spot of 145.81 with type <class 'str'>
['Tu', '11/23/10', '143.18', '4.573M', '4.943M']
spot of 143.18 with type <class 'str'>
['Mo', '11/22/10', '145.39', '3.731M', '4.947M']
spot of 145.39 with type <class 'str'>
['Fr', '11/19/10', '145.05', '5.016M', '5.077M']
spot of 145.05 with type <class 'str'>
['Th', '11/18/10', '144.36', '4.239M', '5.305M']
spot of 144.36 with type <class 'str'>
['We', '11/17/10', '141.95', '4.787M', '5.388M']
spot of 141.95 with type <class 'str'>
['Tu', '11/16/10', '142.24', '6.351M', '5.5M']
spot of 142.24 with type <class 'str'>
['Mo', '11/15/10', '143.64', '3.828M', '5.565M']
spot of 143.64 with type <class 'str'>
['Fr', '11/12/10', '143.74', '4.733M', '5.635M']
spot of 143.74 with type <class 'str'>
['Th', '11/11/10', '145.43', '4.752M', '5.593M']
spot of 145.43 with type <class 'str'>
['We', '11/10/10', '146.55', '5.176M', '5.692M']
spot of 146.55 with type <class 'str'>
['Tu', '11/9/10', '146.14', '5.701M', '5.81M']
spot of 146.14 with type <class 'str'>
['Mo', '11/8/10', '146.46', '4.46M', '6.374M']
spot of 146.46 with type <class 'str'>
['Fr', '11/5/10', '146.92', '4.996M', '6.766M']
spot of 146.92 with type <class 'str'>
['Th', '11/4/10', '146.79', '6.626M', '6.915M']
spot of 146.79 with type <class 'str'>
['We', '11/3/10', '144.17', '5.182M', '6.85M']
spot of 144.17 with type <class 'str'>
['Tu', '11/2/10', '143.84', '4.626M', '7.091M']
spot of 143.84 with type <class 'str'>
['Mo', '11/1/10', '143.32', '5.676M', '7.158M']
spot of 143.32 with type <class 'str'>
['Fr', '10/29/10', '143.6', '8.444M', '7.047M']
spot of 143.6 with type <class 'str'>
['Th', '10/28/10', '140.9', '5.483M', '6.787M']
spot of 140.9 with type <class 'str'>
['We', '10/27/10', '141.43', '6.467M', '6.851M']
spot of 141.43 with type <class 'str'>
['Tu', '10/26/10', '140.67', '7.328M', '6.739M']
spot of 140.67 with type <class 'str'>
['Mo', '10/25/10', '139.84', '4.87M', '6.664M']
spot of 139.84 with type <class 'str'>
['Fr', '10/22/10', '139.67', '4.105M', '6.61M']
spot of 139.67 with type <class 'str'>
['Th', '10/21/10', '139.83', '6.23M', '6.711M']
spot of 139.83 with type <class 'str'>
['We', '10/20/10', '139.07', '6.955M', '6.724M']
spot of 139.07 with type <class 'str'>
['Tu', '10/19/10', '138.03', '14.161M', '6.604M']
spot of 138.03 with type <class 'str'>
['Mo', '10/18/10', '142.83', '10.341M', '6.159M']
spot of 142.83 with type <class 'str'>
['Fr', '10/15/10', '141.06', '7.224M', '5.88M']
spot of 141.06 with type <class 'str'>
['Th', '10/14/10', '141.5', '5.659M', '5.873M']
spot of 141.5 with type <class 'str'>
['We', '10/13/10', '140.37', '8.788M', '5.756M']
spot of 140.37 with type <class 'str'>
['Tu', '10/12/10', '139.85', '5.639M', '5.498M']
spot of 139.85 with type <class 'str'>
['Mo', '10/11/10', '139.66', '4.01M', '5.473M']
spot of 139.66 with type <class 'str'>
['Fr', '10/8/10', '138.85', '4.544M', '5.687M']
spot of 138.85 with type <class 'str'>
['Th', '10/7/10', '138.72', '6.441M', '6.077M']
spot of 138.72 with type <class 'str'>
['We', '10/6/10', '137.84', '4.783M', '5.96M']
spot of 137.84 with type <class 'str'>
['Tu', '10/5/10', '137.66', '6.202M', '5.959M']
spot of 137.66 with type <class 'str'>
['Mo', '10/4/10', '135.25', '4.064M', '5.869M']
spot of 135.25 with type <class 'str'>
['Fr', '10/1/10', '135.64', '5.621M', '5.949M']
spot of 135.64 with type <class 'str'>
['Th', '9/30/10', '134.14', '6.432M', '5.869M']
spot of 134.14 with type <class 'str'>
['We', '9/29/10', '135.48', '5.152M', '5.67M']
spot of 135.48 with type <class 'str'>
['Tu', '9/28/10', '134.89', '7.484M', '5.625M']
spot of 134.89 with type <class 'str'>
['Mo', '9/27/10', '134.65', '6.156M', '5.417M']
spot of 134.65 with type <class 'str'>
['Fr', '9/24/10', '134.11', '7.122M', '5.349M']
spot of 134.11 with type <class 'str'>
['Th', '9/23/10', '131.67', '3.899M', '5.215M']
spot of 131.67 with type <class 'str'>
['We', '9/22/10', '132.57', '4.923M', '5.33M']
spot of 132.57 with type <class 'str'>
['Tu', '9/21/10', '131.98', '5.269M', '5.376M']
spot of 131.98 with type <class 'str'>
['Mo', '9/20/10', '131.79', '7.215M', '5.266M']
spot of 131.79 with type <class 'str'>
['Fr', '9/17/10', '130.19', '10.398M', '5.199M']
spot of 130.19 with type <class 'str'>
['Th', '9/16/10', '129.67', '4.686M', '5.022M']
spot of 129.67 with type <class 'str'>
['We', '9/15/10', '129.43', '4.762M', '5.059M']
spot of 129.43 with type <class 'str'>
['Tu', '9/14/10', '128.85', '4.851M', '5.117M']
spot of 128.85 with type <class 'str'>
['Mo', '9/13/10', '129.61', '5.272M', '5.062M']
spot of 129.61 with type <class 'str'>
['Fr', '9/10/10', '127.99', '4.419M', '5.127M']
spot of 127.99 with type <class 'str'>
['Th', '9/9/10', '126.36', '3.438M', '5.193M']
spot of 126.36 with type <class 'str'>
['We', '9/8/10', '126.08', '4.486M', '5.289M']
spot of 126.08 with type <class 'str'>
['Tu', '9/7/10', '125.95', '4.354M', '5.276M']
spot of 125.95 with type <class 'str'>
['Fr', '9/3/10', '127.58', '5.144M', '5.253M']
spot of 127.58 with type <class 'str'>
['Th', '9/2/10', '125.04', '5.105M', '5.222M']
spot of 125.04 with type <class 'str'>
['We', '9/1/10', '125.77', '5.624M', '5.224M']
spot of 125.77 with type <class 'str'>
['Tu', '8/31/10', '123.13', '5.624M', '5.27M']
spot of 123.13 with type <class 'str'>
['Mo', '8/30/10', '123.4', '3.604M', '5.26M']
spot of 123.4 with type <class 'str'>
['Fr', '8/27/10', '124.73', '6.214M', '5.429M']
spot of 124.73 with type <class 'str'>
['Th', '8/26/10', '122.78', '7.749M', '5.424M']
spot of 122.78 with type <class 'str'>
['We', '8/25/10', '125.27', '5.24M', '5.208M']
spot of 125.27 with type <class 'str'>
['Tu', '8/24/10', '124.9', '5.624M', '5.164M']
spot of 124.9 with type <class 'str'>
['Mo', '8/23/10', '126.47', '4.035M', '5.129M']
spot of 126.47 with type <class 'str'>
['Fr', '8/20/10', '127.5', '6.246M', '5.289M']
spot of 127.5 with type <class 'str'>
['Th', '8/19/10', '128.9', '5.403M', '5.274M']
spot of 128.9 with type <class 'str'>
['We', '8/18/10', '129.3925', '4.883M', '5.514M']
spot of 129.3925 with type <class 'str'>
['Tu', '8/17/10', '128.45', '4.299M', '5.472M']
spot of 128.45 with type <class 'str'>
['Mo', '8/16/10', '127.77', '4.009M', '5.495M']
spot of 127.77 with type <class 'str'>
['Fr', '8/13/10', '127.87', '4.671M', '5.573M']
spot of 127.87 with type <class 'str'>
['Th', '8/12/10', '128.3', '5.132M', '5.6M']
spot of 128.3 with type <class 'str'>
['We', '8/11/10', '129.83', '6.318M', '5.718M']
spot of 129.83 with type <class 'str'>
['Tu', '8/10/10', '131.84', '5.472M', '5.871M']
spot of 131.84 with type <class 'str'>
['Mo', '8/9/10', '132', '6.135M', '6.596M']
spot of 132 with type <class 'str'>
['Fr', '8/6/10', '130.14', '6.138M', '6.746M']
spot of 130.14 with type <class 'str'>
['Th', '8/5/10', '131.83', '4.523M', '6.804M']
spot of 131.83 with type <class 'str'>
['We', '8/4/10', '131.27', '4.573M', '6.915M']
spot of 131.27 with type <class 'str'>
['Tu', '8/3/10', '130.37', '5.092M', '7.05M']
spot of 130.37 with type <class 'str'>
['Mo', '8/2/10', '130.76', '6.437M', '7.157M']
spot of 130.76 with type <class 'str'>
['Fr', '7/30/10', '128.4', '6.026M', '7.008M']
spot of 128.4 with type <class 'str'>
['Th', '7/29/10', '128.02', '8.997M', '6.866M']
spot of 128.02 with type <class 'str'>
['We', '7/28/10', '128.43', '4.253M', '6.629M']
spot of 128.43 with type <class 'str'>
['Tu', '7/27/10', '128.63', '4.649M', '6.818M']

spot of 128.63 with type <class 'str'>
['Mo', '7/26/10', '128.41', '5.172M', '6.932M']
spot of 128.41 with type <class 'str'>
['Fr', '7/23/10', '128.38', '5.078M', '7.017M']
spot of 128.38 with type <class 'str'>
['Th', '7/22/10', '127.47', '6.909M', '7.328M']
spot of 127.47 with type <class 'str'>
['We', '7/21/10', '125.27', '8.615M', '7.402M']
spot of 125.27 with type <class 'str'>
['Tu', '7/20/10', '126.55', '16.34M', '7.453M']
spot of 126.55 with type <class 'str'>
['Mo', '7/19/10', '129.79', '8.389M', '6.786M']
spot of 129.79 with type <class 'str'>
['Fr', '7/16/10', '128.03', '7.003M', '6.921M']
spot of 128.03 with type <class 'str'>
['Th', '7/15/10', '130.72', '6.188M', '6.825M']
spot of 130.72 with type <class 'str'>
['We', '7/14/10', '130.72', '6.607M', '6.87M']
spot of 130.72 with type <class 'str'>
['Tu', '7/13/10', '130.48', '6.688M', '6.832M']
spot of 130.48 with type <class 'str'>
['Mo', '7/12/10', '128.67', '4.207M', '6.843M']
spot of 128.67 with type <class 'str'>
['Fr', '7/9/10', '127.96', '3.898M', '7.201M']
spot of 127.96 with type <class 'str'>
['Th', '7/8/10', '127.97', '5.44M', '7.313M']
spot of 127.97 with type <class 'str'>
['We', '7/7/10', '127', '7.09M', '7.377M']
spot of 127 with type <class 'str'>
['Tu', '7/6/10', '123.46', '6.349M', '7.348M']
spot of 123.46 with type <class 'str'>
['Fr', '7/2/10', '121.86', '6.454M', '7.375M']
spot of 121.86 with type <class 'str'>
['Th', '7/1/10', '122.57', '9.742M', '7.333M']
spot of 122.57 with type <class 'str'>
['We', '6/30/10', '123.48', '8.018M', '7.182M']
spot of 123.48 with type <class 'str'>
['Tu', '6/29/10', '125.09', '9.379M', '7.168M']
spot of 125.09 with type <class 'str'>
['Mo', '6/28/10', '128.98', '6.335M', '7.102M']
spot of 128.98 with type <class 'str'>
['Fr', '6/25/10', '127.12', '10.421M', '7.143M']
spot of 127.12 with type <class 'str'>
['Th', '6/24/10', '128.19', '5.566M', '7.093M']
spot of 128.19 with type <class 'str'>
['We', '6/23/10', '130.11', '6.856M', '7.165M']
spot of 130.11 with type <class 'str'>
['Tu', '6/22/10', '129.3', '6.031M', '7.222M']
spot of 129.3 with type <class 'str'>
['Mo', '6/21/10', '130.65', '6.858M', '7.296M']
spot of 130.65 with type <class 'str'>
['Fr', '6/18/10', '130.15', '9.582M', '7.333M']
spot of 130.15 with type <class 'str'>
['Th', '6/17/10', '130.98', '5.575M', '7.21M']
spot of 130.98 with type <class 'str'>
['We', '6/16/10', '130.35', '6.401M', '7.444M']
spot of 130.35 with type <class 'str'>
['Tu', '6/15/10', '129.79', '6.653M', '7.65M']
spot of 129.79 with type <class 'str'>
['Mo', '6/14/10', '128.5', '6.753M', '7.665M']
spot of 128.5 with type <class 'str'>
['Fr', '6/11/10', '128.45', '5.827M', '8.058M']
spot of 128.45 with type <class 'str'>
['Th', '6/10/10', '127.68', '7.48M', '8.548M']
spot of 127.68 with type <class 'str'>
['We', '6/9/10', '123.9', '7.8M', '8.627M']
spot of 123.9 with type <class 'str'>
['Tu', '6/8/10', '123.72', '8.399M', '8.729M']
spot of 123.72 with type <class 'str'>
['Mo', '6/7/10', '124.13', '6.951M', '8.764M']
spot of 124.13 with type <class 'str'>
['Fr', '6/4/10', '125.28', '9.669M', '8.962M']
spot of 125.28 with type <class 'str'>
['Th', '6/3/10', '127.96', '6.645M', '9.017M']
spot of 127.96 with type <class 'str'>
['We', '6/2/10', '127.41', '7.706M', '9.683M']
spot of 127.41 with type <class 'str'>
['Tu', '6/1/10', '124.34', '7.136M', '9.603M']
spot of 124.34 with type <class 'str'>
['Fr', '5/28/10', '125.26', '7.422M', '9.691M']
spot of 125.26 with type <class 'str'>
['Th', '5/27/10', '126.39', '7.727M', '9.902M']
spot of 126.39 with type <class 'str'>
['We', '5/26/10', '123.23', '9.086M', '10.265M']
spot of 123.23 with type <class 'str'>
['Tu', '5/25/10', '124.52', '9.499M', '10.064M']
spot of 124.52 with type <class 'str'>
['Mo', '5/24/10', '124.45', '6.876M', '9.983M']
spot of 124.45 with type <class 'str'>
['Fr', '5/21/10', '125.42', '12.64M', '9.857M']
spot of 125.42 with type <class 'str'>
['Th', '5/20/10', '123.8', '13.178M', '9.433M']
spot of 123.8 with type <class 'str'>
['We', '5/19/10', '128.86', '8.67M', '8.94M']
spot of 128.86 with type <class 'str'>
['Tu', '5/18/10', '129.95', '9.332M', '8.837M']
spot of 129.95 with type <class 'str'>
['Mo', '5/17/10', '130.44', '8.925M', '8.942M']
spot of 130.44 with type <class 'str'>
['Fr', '5/14/10', '131.19', '9.921M', '8.7M']
spot of 131.19 with type <class 'str'>
['Th', '5/13/10', '131.48', '10.498M', '8.452M']
spot of 131.48 with type <class 'str'>
['We', '5/12/10', '132.68', '16.63M', '8.153M']
spot of 132.68 with type <class 'str'>
['Tu', '5/11/10', '126.89', '6.5M', '7.548M']
spot of 126.89 with type <class 'str'>
['Mo', '5/10/10', '126.27', '8.464M', '8.13M']
spot of 126.27 with type <class 'str'>
['Fr', '5/7/10', '122.1', '10.585M', '8.322M']
spot of 122.1 with type <class 'str'>
['Th', '5/6/10', '123.92', '13.17M', '8.253M']
spot of 123.92 with type <class 'str'>
['We', '5/5/10', '127.46', '6.073M', '7.804M']
spot of 127.46 with type <class 'str'>
['Tu', '5/4/10', '128.12', '8.285M', '7.968M']
spot of 128.12 with type <class 'str'>
['Mo', '5/3/10', '129.6', '4.992M', '7.871M']
spot of 129.6 with type <class 'str'>
['Fr', '4/30/10', '129', '6.267M', '7.804M']
spot of 129 with type <class 'str'>
['Th', '4/29/10', '130.46', '5.787M', '7.732M']
spot of 130.46 with type <class 'str'>
['We', '4/28/10', '130.1', '7.124M', '7.747M']
spot of 130.1 with type <class 'str'>
['Tu', '4/27/10', '128.82', '10.918M', '7.616M']
spot of 128.82 with type <class 'str'>
['Mo', '4/26/10', '130.73', '5.285M', '7.15M']
spot of 130.73 with type <class 'str'>
['Fr', '4/23/10', '129.99', '6.197M', '7.072M']
spot of 129.99 with type <class 'str'>
['Th', '4/22/10', '129.13', '6.019M', '6.991M']
spot of 129.13 with type <class 'str'>
['We', '4/21/10', '128.99', '7.56M', '6.917M']
spot of 128.99 with type <class 'str'>
['Tu', '4/20/10', '129.69', '15.219M', '6.641M']
spot of 129.69 with type <class 'str'>
['Mo', '4/19/10', '132.23', '11.354M', '5.936M']
spot of 132.23 with type <class 'str'>
['Fr', '4/16/10', '130.63', '9.55M', '5.549M']
spot of 130.63 with type <class 'str'>
['Th', '4/15/10', '130.89', '6.425M', '5.42M']
spot of 130.89 with type <class 'str'>
['We', '4/14/10', '131.25', '8.546M', '5.436M']
spot of 131.25 with type <class 'str'>
['Tu', '4/13/10', '129.03', '6.822M', '5.265M']
spot of 129.03 with type <class 'str'>
['Mo', '4/12/10', '128.36', '3.994M', '5.187M']
spot of 128.36 with type <class 'str'>
['Fr', '4/9/10', '128.76', '5.187M', '5.637M']
spot of 128.76 with type <class 'str'>
['Th', '4/8/10', '127.61', '6.007M', '5.621M']
spot of 127.61 with type <class 'str'>
['We', '4/7/10', '128.48', '5.157M', '5.644M']
spot of 128.48 with type <class 'str'>
['Tu', '4/6/10', '128.93', '3.926M', '5.709M']
spot of 128.93 with type <class 'str'>
['Mo', '4/5/10', '129.35', '4.119M', '5.751M']
spot of 129.35 with type <class 'str'>
['Th', '4/1/10', '128.25', '4.981M', '5.821M']
spot of 128.25 with type <class 'str'>
['We', '3/31/10', '128.25', '4.905M', '6.017M']
spot of 128.25 with type <class 'str'>
['Tu', '3/30/10', '128.77', '3.427M', '6.151M']
spot of 128.77 with type <class 'str'>
['Mo', '3/29/10', '128.59', '4.643M', '6.425M']
spot of 128.59 with type <class 'str'>
['Fr', '3/26/10', '129.26', '5.551M', '6.529M']
spot of 129.26 with type <class 'str'>
['Th', '3/25/10', '129.24', '7.605M', '6.568M']
spot of 129.24 with type <class 'str'>
['We', '3/24/10', '128.53', '6.669M', '6.463M']
spot of 128.53 with type <class 'str'>
['Tu', '3/23/10', '129.37', '5.979M', '6.444M']
spot of 129.37 with type <class 'str'>
['Mo', '3/22/10', '127.98', '5.652M', '6.447M']
spot of 127.98 with type <class 'str'>
['Fr', '3/19/10', '127.71', '10.744M', '6.375M']
spot of 127.71 with type <class 'str'>
['Th', '3/18/10', '128.38', '4.955M', '5.978M']
spot of 128.38 with type <class 'str'>
['We', '3/17/10', '127.76', '6.349M', '6.025M']
spot of 127.76 with type <class 'str'>
['Tu', '3/16/10', '128.67', '6.135M', '5.92M']
spot of 128.67 with type <class 'str'>
['Mo', '3/15/10', '127.83', '4.544M', '5.818M']
spot of 127.83 with type <class 'str'>
['Fr', '3/12/10', '127.94', '5.17M', '5.768M']
spot of 127.94 with type <class 'str'>
['Th', '3/11/10', '127.6', '7.929M', '5.844M']
spot of 127.6 with type <class 'str'>
['We', '3/10/10', '125.62', '6.918M', '5.684M']
spot of 125.62 with type <class 'str'>
['Tu', '3/9/10', '125.55', '7.529M', '5.611M']
spot of 125.55 with type <class 'str'>
['Mo', '3/8/10', '126.41', '6.2M', '5.561M']
spot of 126.41 with type <class 'str'>
['Fr', '3/5/10', '127.25', '6.14M', '5.682M']
spot of 127.25 with type <class 'str'>
['Th', '3/4/10', '126.72', '6.032M', '5.612M']
spot of 126.72 with type <class 'str'>
['We', '3/3/10', '126.88', '6.39M', '5.558M']
spot of 126.88 with type <class 'str'>
['Tu', '3/2/10', '127.42', '6.013M', '5.535M']
spot of 127.42 with type <class 'str'>
['Mo', '3/1/10', '128.57', '4.578M', '5.516M']
spot of 128.57 with type <class 'str'>
['Fr', '2/26/10', '127.16', '4.784M', '5.785M']
spot of 127.16 with type <class 'str'>
['Th', '2/25/10', '127.07', '5.659M', '6.075M']
spot of 127.07 with type <class 'str'>
['We', '2/24/10', '127.59', '4.782M', '5.976M']
spot of 127.59 with type <class 'str'>
['Tu', '2/23/10', '126.46', '4.594M', '6.05M']
spot of 126.46 with type <class 'str'>
['Mo', '2/22/10', '126.85', '3.808M', '6.228M']
spot of 126.85 with type <class 'str'>
['Fr', '2/19/10', '127.19', '6.304M', '6.745M']
spot of 127.19 with type <class 'str'>
['Th', '2/18/10', '127.81', '5.528M', '6.966M']
spot of 127.81 with type <class 'str'>
['We', '2/17/10', '126.33', '5.827M', '7.179M']
spot of 126.33 with type <class 'str'>
['Tu', '2/16/10', '125.23', '6.777M', '7.267M']
spot of 125.23 with type <class 'str'>
['Fr', '2/12/10', '124', '8.018M', '7.197M']
spot of 124 with type <class 'str'>
['Th', '2/11/10', '123.73', '5.091M', '7.335M']
spot of 123.73 with type <class 'str'>
['We', '2/10/10', '122.81', '5.219M', '7.637M']
spot of 122.81 with type <class 'str'>
['Tu', '2/9/10', '123.21', '6.045M', '8.302M']
spot of 123.21 with type <class 'str'>
['Mo', '2/8/10', '121.88', '5.719M', '8.827M']
spot of 121.88 with type <class 'str'>
['Fr', '2/5/10', '123.52', '8.618M', '9.012M']
spot of 123.52 with type <class 'str'>
['Th', '2/4/10', '123', '9.13M', '8.912M']
spot of 123 with type <class 'str'>
['We', '2/3/10', '125.66', '4.178M', '8.734M']
spot of 125.66 with type <class 'str'>
['Tu', '2/2/10', '125.53', '5.9M', '8.994M']
spot of 125.53 with type <class 'str'>
['Mo', '2/1/10', '124.67', '7.25M', '8.983M']
spot of 124.67 with type <class 'str'>
['Fr', '1/29/10', '122.39', '11.572M', '8.78M']
spot of 122.39 with type <class 'str'>
['Th', '1/28/10', '123.75', '9.623M', '8.397M']
spot of 123.75 with type <class 'str'>
['We', '1/27/10', '126.33', '8.719M', '8.13M']
spot of 126.33 with type <class 'str'>
['Tu', '1/26/10', '125.75', '7.137M', '8.004M']
spot of 125.75 with type <class 'str'>
['Mo', '1/25/10', '126.12', '5.739M', '7.939M']
spot of 126.12 with type <class 'str'>
['Fr', '1/22/10', '125.5', '10.089M', '7.838M']
spot of 125.5 with type <class 'str'>
['Th', '1/21/10', '129', '9.609M', '7.423M']
spot of 129 with type <class 'str'>
['We', '1/20/10', '130.25', '15.202M', '7.062M']
spot of 130.25 with type <class 'str'>
['Tu', '1/19/10', '134.14', '13.916M', '6.435M']
spot of 134.14 with type <class 'str'>
['Fr', '1/15/10', '131.78', '8.502M', '5.792M']
spot of 131.78 with type <class 'str'>
['Th', '1/14/10', '132.31', '7.115M', '5.5M']
spot of 132.31 with type <class 'str'>
['We', '1/13/10', '130.23', '6.458M', '5.395M']
spot of 130.23 with type <class 'str'>
['Tu', '1/12/10', '130.51', '8.083M', '5.283M']
spot of 130.51 with type <class 'str'>
['Mo', '1/11/10', '129.48', '5.731M', '5.351M']
spot of 129.48 with type <class 'str'>
['Fr', '1/8/10', '130.85', '4.197M', '5.363M']
spot of 130.85 with type <class 'str'>
['Th', '1/7/10', '129.55', '5.841M', '5.508M']
spot of 129.55 with type <class 'str'>
['We', '1/6/10', '130', '5.605M', '5.654M']
spot of 130 with type <class 'str'>
['Tu', '1/5/10', '130.85', '6.842M', '5.627M']
spot of 130.85 with type <class 'str'>
['Mo', '1/4/10', '132.45', '6.156M', '5.611M']
spot of 132.45 with type <class 'str'>
['Th', '12/31/09', '130.9', '4.225M', '5.672M']
spot of 130.9 with type <class 'str'>
['We', '12/30/09', '132.57', '3.867M', '5.796M']
spot of 132.57 with type <class 'str'>
['Tu', '12/29/09', '131.85', '4.185M', '5.894M']
spot of 131.85 with type <class 'str'>
['Mo', '12/28/09', '132.31', '5.801M', '5.892M']
spot of 132.31 with type <class 'str'>
['Th', '12/24/09', '130.57', '4.265M', '5.976M']
spot of 130.57 with type <class 'str'>
['We', '12/23/09', '130', '4.129M', '6.076M']
spot of 130 with type <class 'str'>
['Tu', '12/22/09', '129.93', '5.536M', '6.107M']
spot of 129.93 with type <class 'str'>
['Mo', '12/21/09', '128.65', '4.775M', '6.177M']
spot of 128.65 with type <class 'str'>
['Fr', '12/18/09', '127.91', '9.107M', '6.279M']
spot of 127.91 with type <class 'str'>
['Th', '12/17/09', '127.4', '5.91M', '5.893M']
spot of 127.4 with type <class 'str'>
['We', '12/16/09', '128.71', '6.373M', '5.764M']
spot of 128.71 with type <class 'str'>
['Tu', '12/15/09', '128.49', '8.033M', '5.66M']
spot of 128.49 with type <class 'str'>
['Mo', '12/14/09', '129.93', '5.202M', '5.592M']
spot of 129.93 with type <class 'str'>
['Fr', '12/11/09', '129.68', '6.599M', '5.602M']
spot of 129.68 with type <class 'str'>
['Th', '12/10/09', '129.34', '7.078M', '5.516M']
spot of 129.34 with type <class 'str'>
['We', '12/9/09', '128.39', '6.072M', '5.309M']
spot of 128.39 with type <class 'str'>
['Tu', '12/8/09', '126.8', '5.351M', '5.431M']
spot of 126.8 with type <class 'str'>
['Mo', '12/7/09', '127.04', '4.145M', '5.606M']
spot of 127.04 with type <class 'str'>
['Fr', '12/4/09', '127.25', '7.069M', '5.662M']
spot of 127.25 with type <class 'str'>
['Th', '12/3/09', '127.55', '5.76M', '5.547M']
spot of 127.55 with type <class 'str'>
['We', '12/2/09', '127.21', '4.6M', '5.599M']
spot of 127.21 with type <class 'str'>
['Tu', '12/1/09', '127.94', '6.579M', '5.722M']
spot of 127.94 with type <class 'str'>
['Mo', '11/30/09', '126.35', '6.303M', '5.801M']
spot of 126.35 with type <class 'str'>
['Fr', '11/27/09', '125.7', '3.319M', '5.713M']
spot of 125.7 with type <class 'str'>
['We', '11/25/09', '127.28', '3.971M', '5.938M']
spot of 127.28 with type <class 'str'>
['Tu', '11/24/09', '127.93', '4.822M', '6.097M']
spot of 127.93 with type <class 'str'>
['Mo', '11/23/09', '128.2', '7.003M', '6.157M']
spot of 128.2 with type <class 'str'>
['Fr', '11/20/09', '126.96', '5.355M', '6.16M']
spot of 126.96 with type <class 'str'>
['Th', '11/19/09', '127.54', '5.309M', '6.318M']
spot of 127.54 with type <class 'str'>
['We', '11/18/09', '128.15', '3.97M', '6.384M']
spot of 128.15 with type <class 'str'>
['Tu', '11/17/09', '128.63', '7.91M', '6.705M']
spot of 128.63 with type <class 'str'>
['Mo', '11/16/09', '128.21', '7.975M', '6.808M']
spot of 128.21 with type <class 'str'>
['Fr', '11/13/09', '127.03', '4.987M', '6.712M']
spot of 127.03 with type <class 'str'>
['Th', '11/12/09', '126.26', '5.345M', '6.833M']
spot of 126.26 with type <class 'str'>
['We', '11/11/09', '127.19', '6.531M', '6.878M']
spot of 127.19 with type <class 'str'>
['Tu', '11/10/09', '126.91', '6.445M', '6.921M']
spot of 126.91 with type <class 'str'>
['Mo', '11/9/09', '126', '7.767M', '7.077M']
spot of 126 with type <class 'str'>
['Fr', '11/6/09', '123.49', '4.98M', '7.06M']
spot of 123.49 with type <class 'str'>
['Th', '11/5/09', '123.1', '6.704M', '8.009M']
spot of 123.1 with type <class 'str'>
['We', '11/4/09', '121.29', '6.354M', '8.359M']
spot of 121.29 with type <class 'str'>
['Tu', '11/3/09', '121.16', '5.72M', '8.573M']
spot of 121.16 with type <class 'str'>
['Mo', '11/2/09', '120.56', '7.05M', '8.697M']
spot of 120.56 with type <class 'str'>
['Fr', '10/30/09', '120.61', '7.716M', '8.742M']
spot of 120.61 with type <class 'str'>
['Th', '10/29/09', '122.87', '6.309M', '9.103M']
spot of 122.87 with type <class 'str'>
['We', '10/28/09', '121.5', '8.782M', '9.116M']
spot of 121.5 with type <class 'str'>
['Tu', '10/27/09', '120.65', '9.446M', '8.928M']
spot of 120.65 with type <class 'str'>
['Mo', '10/26/09', '120.11', '6.54M', '8.742M']
spot of 120.11 with type <class 'str'>
['Fr', '10/23/09', '120.36', '6.8M', '8.685M']
spot of 120.36 with type <class 'str'>
['Th', '10/22/09', '122.69', '6.029M', '8.737M']
spot of 122.69 with type <class 'str'>
['We', '10/21/09', '120.87', '7.175M', '8.806M']
spot of 120.87 with type <class 'str'>
['Tu', '10/20/09', '122.82', '8.781M', '8.843M']
spot of 122.82 with type <class 'str'>
['Mo', '10/19/09', '123.06', '7.514M', '8.708M']
spot of 123.06 with type <class 'str'>
['Fr', '10/16/09', '121.64', '19.219M', '8.757M']
spot of 121.64 with type <class 'str'>
['Th', '10/15/09', '127.98', '11.953M', '7.822M']
spot of 127.98 with type <class 'str'>
['We', '10/14/09', '128.35', '9.558M', '7.387M']
spot of 128.35 with type <class 'str'>
['Tu', '10/13/09', '127.02', '7.582M', '7.119M']
spot of 127.02 with type <class 'str'>
['Mo', '10/12/09', '127.04', '7.73M', '6.984M']
spot of 127.04 with type <class 'str'>
['Fr', '10/9/09', '125.93', '13.123M', '6.77M']
spot of 125.93 with type <class 'str'>
['Th', '10/8/09', '122.29', '6.501M', '6.557M']

spot of 122.29 with type <class 'str'>
['We', '10/7/09', '122.78', '5.968M', '6.684M']
spot of 122.78 with type <class 'str'>
['Tu', '10/6/09', '121.35', '6.659M', '7.035M']
spot of 121.35 with type <class 'str'>
['Mo', '10/5/09', '119.75', '5.673M', '7.027M']
spot of 119.75 with type <class 'str'>
['Fr', '10/2/09', '119.02', '7.585M', '6.966M']
spot of 119.02 with type <class 'str'>
['Th', '10/1/09', '117.9', '7.07M', '6.853M']
spot of 117.9 with type <class 'str'>
['We', '9/30/09', '119.61', '7.733M', '6.708M']
spot of 119.61 with type <class 'str'>
['Tu', '9/29/09', '118.81', '6.749M', '6.542M']
spot of 118.81 with type <class 'str'>
['Mo', '9/28/09', '119.33', '8.25M', '6.479M']
spot of 119.33 with type <class 'str'>
['Fr', '9/25/09', '121.08', '5.188M', '6.159M']
spot of 121.08 with type <class 'str'>
['Th', '9/24/09', '120.94', '5.427M', '6.142M']
spot of 120.94 with type <class 'str'>
['We', '9/23/09', '120.82', '5.54M', '6.126M']
spot of 120.82 with type <class 'str'>
['Tu', '9/22/09', '121.61', '5.565M', '6.177M']
spot of 121.61 with type <class 'str'>
['Mo', '9/21/09', '121.57', '4.516M', '6.168M']
spot of 121.57 with type <class 'str'>
['Fr', '9/18/09', '122.11', '9.937M', '6.283M']
spot of 122.11 with type <class 'str'>
['Th', '9/17/09', '121.88', '8.394M', '5.911M']
spot of 121.88 with type <class 'str'>
['We', '9/16/09', '121.82', '11.24M', '5.652M']
spot of 121.82 with type <class 'str'>
['Tu', '9/15/09', '119.35', '6.536M', '5.213M']
spot of 119.35 with type <class 'str'>
['Mo', '9/14/09', '118.88', '4.76M', '5.202M']
spot of 118.88 with type <class 'str'>
['Fr', '9/11/09', '118.05', '5.894M', '5.439M']
spot of 118.05 with type <class 'str'>
['Th', '9/10/09', '117.67', '4.89M', '5.368M']
spot of 117.67 with type <class 'str'>
['We', '9/9/09', '116.76', '5.248M', '5.365M']
spot of 116.76 with type <class 'str'>
['Tu', '9/8/09', '117.16', '5.798M', '5.301M']
spot of 117.16 with type <class 'str'>
['Fr', '9/4/09', '117.46', '3.452M', '5.271M']
spot of 117.46 with type <class 'str'>
['Th', '9/3/09', '116.33', '4.937M', '5.361M']
spot of 116.33 with type <class 'str'>
['We', '9/2/09', '116.09', '5.179M', '5.398M']
spot of 116.09 with type <class 'str'>
['Tu', '9/1/09', '116.69', '6.305M', '5.472M']
spot of 116.69 with type <class 'str'>
['Mo', '8/31/09', '118.05', '5.44M', '5.374M']
spot of 118.05 with type <class 'str'>
['Fr', '8/28/09', '118.22', '6.236M', '5.281M']
spot of 118.22 with type <class 'str'>
['Th', '8/27/09', '119.43', '4.357M', '5.25M']
spot of 119.43 with type <class 'str'>
['We', '8/26/09', '119.47', '4.516M', '5.359M']
spot of 119.47 with type <class 'str'>
['Tu', '8/25/09', '118.83', '4.654M', '5.393M']
spot of 118.83 with type <class 'str'>
['Mo', '8/24/09', '119.32', '6.365M', '5.416M']
spot of 119.32 with type <class 'str'>
['Fr', '8/21/09', '119.9', '8.308M', '5.399M']
spot of 119.9 with type <class 'str'>
['Th', '8/20/09', '118.95', '4.842M', '5.201M']
spot of 118.95 with type <class 'str'>
['We', '8/19/09', '118.57', '4.838M', '5.332M']
spot of 118.57 with type <class 'str'>
['Tu', '8/18/09', '117.63', '4.286M', '5.349M']
spot of 117.63 with type <class 'str'>
['Mo', '8/17/09', '116.86', '5.351M', '5.449M']
spot of 116.86 with type <class 'str'>
['Fr', '8/14/09', '118.57', '4.797M', '5.43M']
spot of 118.57 with type <class 'str'>
['Th', '8/13/09', '119.58', '5.49M', '5.528M']
spot of 119.58 with type <class 'str'>
['We', '8/12/09', '119.29', '6.292M', '5.726M']
spot of 119.29 with type <class 'str'>
['Tu', '8/11/09', '117.79', '4.844M', '5.894M']
spot of 117.79 with type <class 'str'>
['Mo', '8/10/09', '118.7', '4.041M', '6.125M']
spot of 118.7 with type <class 'str'>
['Fr', '8/7/09', '119.33', '5.763M', '6.568M']
spot of 119.33 with type <class 'str'>
['Th', '8/6/09', '117.38', '6.003M', '7.53M']
spot of 117.38 with type <class 'str'>
['We', '8/5/09', '118.47', '5.026M', '8.133M']
spot of 118.47 with type <class 'str'>
['Tu', '8/4/09', '119.6', '4.995M', '8.378M']
spot of 119.6 with type <class 'str'>
['Mo', '8/3/09', '119.92', '6.112M', '8.406M']
spot of 119.92 with type <class 'str'>
['Fr', '7/31/09', '117.93', '5.33M', '8.632M']
spot of 117.93 with type <class 'str'>
['Th', '7/30/09', '117.86', '6.806M', '8.774M']
spot of 117.86 with type <class 'str'>
['We', '7/29/09', '117.26', '5.101M', '8.731M']
spot of 117.26 with type <class 'str'>
['Tu', '7/28/09', '117.28', '5.783M', '8.883M']
spot of 117.28 with type <class 'str'>
['Mo', '7/27/09', '117.63', '5.07M', '8.943M']
spot of 117.63 with type <class 'str'>
['Fr', '7/24/09', '117.64', '6.263M', '9.04M']
spot of 117.64 with type <class 'str'>
['Th', '7/23/09', '117.06', '8.464M', '9.091M']
spot of 117.06 with type <class 'str'>
['We', '7/22/09', '115.57', '8.813M', '8.896M']
spot of 115.57 with type <class 'str'>
['Tu', '7/21/09', '117.04', '8.304M', '8.809M']
spot of 117.04 with type <class 'str'>
['Mo', '7/20/09', '116.44', '10.683M', '8.568M']
spot of 116.44 with type <class 'str'>
['Fr', '7/17/09', '115.42', '20.19M', '8.197M']
spot of 115.42 with type <class 'str'>
['Th', '7/16/09', '110.64', '15.048M', '7.311M']
spot of 110.64 with type <class 'str'>
['We', '7/15/09', '107.22', '8.707M', '6.734M']
spot of 107.22 with type <class 'str'>
['Tu', '7/14/09', '103.25', '5.416M', '6.498M']
spot of 103.25 with type <class 'str'>
['Mo', '7/13/09', '103.62', '9.494M', '6.623M']
spot of 103.62 with type <class 'str'>
['Fr', '7/10/09', '100.83', '7.471M', '6.894M']
spot of 100.83 with type <class 'str'>
['Th', '7/9/09', '102.08', '6.153M', '6.81M']
spot of 102.08 with type <class 'str'>
['We', '7/8/09', '100.68', '7.381M', '6.891M']
spot of 100.68 with type <class 'str'>
['Tu', '7/7/09', '100.19', '6.686M', '6.881M']
spot of 100.19 with type <class 'str'>
['Mo', '7/6/09', '101.65', '6.523M', '7.006M']
spot of 101.65 with type <class 'str'>
['Th', '7/2/09', '101.73', '7.028M', '7.055M']
spot of 101.73 with type <class 'str'>
['We', '7/1/09', '104.84', '5.537M', '7.195M']
spot of 104.84 with type <class 'str'>
['Tu', '6/30/09', '104.42', '7.513M', '7.331M']
spot of 104.42 with type <class 'str'>
['Mo', '6/29/09', '105.83', '4.682M', '7.403M']
spot of 105.83 with type <class 'str'>
['Fr', '6/26/09', '105.68', '5.129M', '7.516M']
spot of 105.68 with type <class 'str'>
['Th', '6/25/09', '106.06', '6.901M', '7.685M']
spot of 106.06 with type <class 'str'>
['We', '6/24/09', '104.15', '6.395M', '7.589M']
spot of 104.15 with type <class 'str'>
['Tu', '6/23/09', '104.44', '5.154M', '7.675M']
spot of 104.44 with type <class 'str'>
['Mo', '6/22/09', '104.52', '7.296M', '7.801M']
spot of 104.52 with type <class 'str'>
['Fr', '6/19/09', '105.89', '13.562M', '7.83M']
spot of 105.89 with type <class 'str'>
['Th', '6/18/09', '106.33', '6.207M', '7.384M']
spot of 106.33 with type <class 'str'>
['We', '6/17/09', '107', '7.366M', '7.379M']
spot of 107 with type <class 'str'>
['Tu', '6/16/09', '107.32', '7.231M', '7.362M']
spot of 107.32 with type <class 'str'>
['Mo', '6/15/09', '107.62', '8.568M', '7.361M']
spot of 107.62 with type <class 'str'>
['Fr', '6/12/09', '108.21', '7.251M', '7.163M']
spot of 108.21 with type <class 'str'>
['Th', '6/11/09', '109.4', '9.136M', '7.174M']
spot of 109.4 with type <class 'str'>
['We', '6/10/09', '108.35', '7.579M', '7.037M']
spot of 108.35 with type <class 'str'>
['Tu', '6/9/09', '108.14', '8.593M', '7.004M']
spot of 108.14 with type <class 'str'>
['Mo', '6/8/09', '107.49', '6.364M', '6.926M']
spot of 107.49 with type <class 'str'>
['Fr', '6/5/09', '107.24', '7.665M', '7.06M']
spot of 107.24 with type <class 'str'>
['Th', '6/4/09', '106.33', '5.469M', '7.178M']
spot of 106.33 with type <class 'str'>
['We', '6/3/09', '106.49', '7.688M', '7.361M']
spot of 106.49 with type <class 'str'>
['Tu', '6/2/09', '106.83', '7.046M', '7.379M']
spot of 106.83 with type <class 'str'>
['Mo', '6/1/09', '108.37', '7.726M', '7.459M']
spot of 108.37 with type <class 'str'>
['Fr', '5/29/09', '106.28', '6.872M', '7.716M']
spot of 106.28 with type <class 'str'>
['Th', '5/28/09', '104.69', '6.128M', '7.826M']
spot of 104.69 with type <class 'str'>
['We', '5/27/09', '102.93', '7.121M', '7.92M']
spot of 102.93 with type <class 'str'>
['Tu', '5/26/09', '105.02', '7.212M', '7.896M']
spot of 105.02 with type <class 'str'>
['Fr', '5/22/09', '101.89', '5.596M', '7.969M']
spot of 101.89 with type <class 'str'>
['Th', '5/21/09', '102.82', '7.411M', '8.012M']
spot of 102.82 with type <class 'str'>
['We', '5/20/09', '104.05', '7.083M', '8.229M']
spot of 104.05 with type <class 'str'>
['Tu', '5/19/09', '105.51', '7.079M', '8.409M']
spot of 105.51 with type <class 'str'>
['Mo', '5/18/09', '104.58', '7.429M', '8.678M']
spot of 104.58 with type <class 'str'>
['Fr', '5/15/09', '101.37', '8.368M', '8.757M']
spot of 101.37 with type <class 'str'>
['Th', '5/14/09', '101.05', '9.445M', '8.876M']
spot of 101.05 with type <class 'str'>
['We', '5/13/09', '102.26', '8.203M', '8.876M']
spot of 102.26 with type <class 'str'>
['Tu', '5/12/09', '103.94', '7.964M', '9.137M']
spot of 103.94 with type <class 'str'>
['Mo', '5/11/09', '102.9', '8.254M', '9.621M']
spot of 102.9 with type <class 'str'>
['Fr', '5/8/09', '101.49', '11.576M', '9.91M']
spot of 101.49 with type <class 'str'>
['Th', '5/7/09', '102.59', '8.524M', '9.82M']
spot of 102.59 with type <class 'str'>
['We', '5/6/09', '104.62', '7.536M', '9.869M']
spot of 104.62 with type <class 'str'>
['Tu', '5/5/09', '105.85', '6.752M', '9.911M']
spot of 105.85 with type <class 'str'>
['Mo', '5/4/09', '106.19', '8.315M', '9.879M']
spot of 106.19 with type <class 'str'>
['Fr', '5/1/09', '104.61', '6.237M', '9.845M']
spot of 104.61 with type <class 'str'>
['Th', '4/30/09', '103.21', '10.664M', '9.963M']
spot of 103.21 with type <class 'str'>
['We', '4/29/09', '104.04', '9.787M', '9.74M']
spot of 104.04 with type <class 'str'>
['Tu', '4/28/09', '101.94', '11.111M', '9.672M']
spot of 101.94 with type <class 'str'>
['Mo', '4/27/09', '99.95', '8.612M', '9.519M']
spot of 99.95 with type <class 'str'>
['Fr', '4/24/09', '100.08', '10.158M', '9.676M']
spot of 100.08 with type <class 'str'>
['Th', '4/23/09', '101.42', '9.44M', '10.08M']
spot of 101.42 with type <class 'str'>
['We', '4/22/09', '102.55', '12.121M', '10.265M']
spot of 102.55 with type <class 'str'>
['Tu', '4/21/09', '102.31', '15.231M', '10.427M']
spot of 102.31 with type <class 'str'>
['Mo', '4/20/09', '100.43', '12.589M', '10.144M']
spot of 100.43 with type <class 'str'>
['Fr', '4/17/09', '101.27', '10.219M', '10.354M']
spot of 101.27 with type <class 'str'>
['Th', '4/16/09', '101.43', '9.26M', '10.436M']
spot of 101.43 with type <class 'str'>
['We', '4/15/09', '98.85', '8.164M', '10.619M']
spot of 98.85 with type <class 'str'>
['Tu', '4/14/09', '99.27', '6.278M', '10.698M']
spot of 99.27 with type <class 'str'>
['Mo', '4/13/09', '99.95', '7.798M', '11.107M']
spot of 99.95 with type <class 'str'>
['Th', '4/9/09', '101.7', '8.014M', '11.4M']
spot of 101.7 with type <class 'str'>
['We', '4/8/09', '101.19', '7.312M', '11.526M']
spot of 101.19 with type <class 'str'>
['Tu', '4/7/09', '98.75', '8.768M', '12.236M']
spot of 98.75 with type <class 'str'>
['Mo', '4/6/09', '101.56', '8.822M', '12.417M']
spot of 101.56 with type <class 'str'>
['Fr', '4/3/09', '102.22', '10.965M', '12.615M']
spot of 102.22 with type <class 'str'>
['Th', '4/2/09', '100.82', '16.227M', '12.492M']
spot of 100.82 with type <class 'str'>
['We', '4/1/09', '97.61', '12.213M', '12.199M']
spot of 97.61 with type <class 'str'>
['Tu', '3/31/09', '96.89', '14.554M', '12.173M']
spot of 96.89 with type <class 'str'>
['Mo', '3/30/09', '94.52', '10.973M', '12.264M']
spot of 94.52 with type <class 'str'>
['Fr', '3/27/09', '94.15', '15.747M', '12.409M']
spot of 94.15 with type <class 'str'>
['Th', '3/26/09', '98.78', '11.441M', '12.372M']
spot of 98.78 with type <class 'str'>
['We', '3/25/09', '97.95', '12.018M', '12.604M']
spot of 97.95 with type <class 'str'>
['Tu', '3/24/09', '98.3', '9.347M', '12.829M']
spot of 98.3 with type <class 'str'>
['Mo', '3/23/09', '98.71', '12.408M', '13.123M']
spot of 98.71 with type <class 'str'>
['Fr', '3/20/09', '92.51', '12.195M', '13.311M']
spot of 92.51 with type <class 'str'>
['Th', '3/19/09', '92.66', '9.9M', '13.919M']
spot of 92.66 with type <class 'str'>
['We', '3/18/09', '91.95', '17.957M', '14.42M']
spot of 91.95 with type <class 'str'>
['Tu', '3/17/09', '92.91', '11.49M', '14.066M']
spot of 92.91 with type <class 'str'>
['Mo', '3/16/09', '91.22', '11.796M', '14.161M']
spot of 91.22 with type <class 'str'>
['Fr', '3/13/09', '90.36', '9.112M', '14.276M']
spot of 90.36 with type <class 'str'>
['Th', '3/12/09', '90.4', '11.829M', '14.495M']
spot of 90.4 with type <class 'str'>
['We', '3/11/09', '88.62', '11.824M', '14.548M']
spot of 88.62 with type <class 'str'>
['Tu', '3/10/09', '87.25', '15.916M', '14.326M']
spot of 87.25 with type <class 'str'>
['Mo', '3/9/09', '83.48', '13.153M', '13.859M']
spot of 83.48 with type <class 'str'>
['Fr', '3/6/09', '85.81', '15.188M', '13.431M']
spot of 85.81 with type <class 'str'>
['Th', '3/5/09', '87.48', '14.933M', '13.08M']
spot of 87.48 with type <class 'str'>
['We', '3/4/09', '89.49', '15.392M', '12.802M']
spot of 89.49 with type <class 'str'>
['Tu', '3/3/09', '87.77', '13.746M', '12.679M']
spot of 87.77 with type <class 'str'>
['Mo', '3/2/09', '89.05', '15.232M', '12.307M']
spot of 89.05 with type <class 'str'>
['Fr', '2/27/09', '92.03', '21.313M', '12.162M']
spot of 92.03 with type <class 'str'>
['Th', '2/26/09', '88.97', '17.424M', '11.516M']
spot of 88.97 with type <class 'str'>
['We', '2/25/09', '85.9', '12.647M', '11.034M']
spot of 85.9 with type <class 'str'>
['Tu', '2/24/09', '86.4', '12.916M', '10.782M']
spot of 86.4 with type <class 'str'>
['Mo', '2/23/09', '84.37', '13.51M', '10.583M']
spot of 84.37 with type <class 'str'>
['Fr', '2/20/09', '88.79', '12.401M', '10.323M']
spot of 88.79 with type <class 'str'>
['Th', '2/19/09', '88.93', '12.625M', '10.112M']
spot of 88.93 with type <class 'str'>
['We', '2/18/09', '91.51', '8.493M', '10.165M']
spot of 91.51 with type <class 'str'>
['Tu', '2/17/09', '90.67', '8.907M', '10.18M']
spot of 90.67 with type <class 'str'>
['Fr', '2/13/09', '93.84', '6.743M', '10.242M']
spot of 93.84 with type <class 'str'>
['Th', '2/12/09', '95.07', '9.919M', '10.477M']
spot of 95.07 with type <class 'str'>
['We', '2/11/09', '95.16', '10.766M', '10.639M']
spot of 95.16 with type <class 'str'>
['Tu', '2/10/09', '93.27', '13.542M', '11.582M']
spot of 93.27 with type <class 'str'>
['Mo', '2/9/09', '96.82', '8.166M', '11.601M']
spot of 96.82 with type <class 'str'>
['Fr', '2/6/09', '96.14', '13.064M', '11.807M']
spot of 96.14 with type <class 'str'>
['Th', '2/5/09', '92.41', '11.623M', '11.718M']
spot of 92.41 with type <class 'str'>
['We', '2/4/09', '92.83', '10.192M', '11.575M']
spot of 92.83 with type <class 'str'>
['Tu', '2/3/09', '93.48', '8.867M', '11.406M']
spot of 93.48 with type <class 'str'>
['Mo', '2/2/09', '90.93', '9.927M', '11.353M']
spot of 90.93 with type <class 'str'>
['Fr', '1/30/09', '91.65', '9.617M', '11.187M']
spot of 91.65 with type <class 'str'>
['Th', '1/29/09', '92.51', '9.234M', '11.028M']
spot of 92.51 with type <class 'str'>
['We', '1/28/09', '94.82', '13.412M', '10.976M']
spot of 94.82 with type <class 'str'>
['Tu', '1/27/09', '91.66', '8.722M', '10.726M']
spot of 91.66 with type <class 'str'>
['Mo', '1/26/09', '91.6', '9.842M', '10.698M']
spot of 91.6 with type <class 'str'>
['Fr', '1/23/09', '89.49', '10.256M', '10.546M']
spot of 89.49 with type <class 'str'>
['Th', '1/22/09', '90.07', '12.351M', '10.307M']
spot of 90.07 with type <class 'str'>
['We', '1/21/09', '91.42', '24.909M', '9.869M']
spot of 91.42 with type <class 'str'>
['Tu', '1/20/09', '81.98', '13.84M', '8.612M']
spot of 81.98 with type <class 'str'>
['Fr', '1/16/09', '84.92', '11.246M', '7.896M']
spot of 84.92 with type <class 'str'>
['Th', '1/15/09', '84.12', '11.735M', '7.308M']
spot of 84.12 with type <class 'str'>
['We', '1/14/09', '83.19', '9.471M', '6.951M']
spot of 83.19 with type <class 'str'>
['Tu', '1/13/09', '85.34', '7.657M', '6.792M']
spot of 85.34 with type <class 'str'>
['Mo', '1/12/09', '85.71', '8.073M', '7.155M']
spot of 85.71 with type <class 'str'>
['Fr', '1/9/09', '84.7', '7.441M', '7.152M']
spot of 84.7 with type <class 'str'>
['Th', '1/8/09', '87.18', '7.232M', '7.242M']
spot of 87.18 with type <class 'str'>
['We', '1/7/09', '87.79', '8.456M', '7.531M']
spot of 87.79 with type <class 'str'>
['Tu', '1/6/09', '89.23', '9.653M', '7.557M']
spot of 89.23 with type <class 'str'>
['Mo', '1/5/09', '86.82', '8.316M', '7.606M']
spot of 86.82 with type <class 'str'>
['Fr', '1/2/09', '87.37', '7.559M', '7.764M']
spot of 87.37 with type <class 'str'>
['We', '12/31/08', '84.16', '6.668M', '7.806M']
spot of 84.16 with type <class 'str'>
['Tu', '12/30/08', '83.55', '5.775M', '7.985M']
spot of 83.55 with type <class 'str'>
['Mo', '12/29/08', '81.25', '6.065M', '8.346M']
spot of 81.25 with type <class 'str'>
['Fr', '12/26/08', '81.33', '3.103M', '8.689M']
spot of 81.33 with type <class 'str'>
['We', '12/24/08', '80.52', '2.42M', '9.21M']
spot of 80.52 with type <class 'str'>
['Tu', '12/23/08', '80.6', '6.386M', '9.699M']
spot of 80.6 with type <class 'str'>
['Mo', '12/22/08', '81.99', '7.085M', '9.893M']

spot of 81.99 with type <class 'str'>
['Fr', '12/19/08', '83.52', '13.099M', '10.105M']
spot of 83.52 with type <class 'str'>
['Th', '12/18/08', '84', '8.03M', '9.493M']
spot of 84 with type <class 'str'>
['We', '12/17/08', '85.84', '8.779M', '9.507M']
spot of 85.84 with type <class 'str'>
['Tu', '12/16/08', '86.4', '11.574M', '9.756M']
spot of 86.4 with type <class 'str'>
['Mo', '12/15/08', '82.77', '8.848M', '9.986M']
spot of 82.77 with type <class 'str'>
['Fr', '12/12/08', '82.2', '10.383M', '10.717M']
spot of 82.2 with type <class 'str'>
['Th', '12/11/08', '80.58', '10.687M', '11.2M']
spot of 80.58 with type <class 'str'>
['We', '12/10/08', '82.86', '8.187M', '11.328M']
spot of 82.86 with type <class 'str'>
['Tu', '12/9/08', '82.69', '9.359M', '11.652M']
spot of 82.69 with type <class 'str'>
['Mo', '12/8/08', '84.86', '11.178M', '11.717M']
spot of 84.86 with type <class 'str'>
['Fr', '12/5/08', '80.59', '11.212M', '11.773M']
spot of 80.59 with type <class 'str'>
['Th', '12/4/08', '77.44', '10.915M', '12.033M']
spot of 77.44 with type <class 'str'>
['We', '12/3/08', '80.67', '9.758M', '12.063M']
spot of 80.67 with type <class 'str'>
['Tu', '12/2/08', '79.84', '9.305M', '12.08M']
spot of 79.84 with type <class 'str'>
['Mo', '12/1/08', '76.9', '10.265M', '12.116M']
spot of 76.9 with type <class 'str'>
['Fr', '11/28/08', '81.6', '3.909M', '11.961M']
spot of 81.6 with type <class 'str'>
['We', '11/26/08', '81.67', '8.241M', '12.535M']
spot of 81.67 with type <class 'str'>
['Tu', '11/25/08', '80.65', '12.52M', '12.566M']
spot of 80.65 with type <class 'str'>
['Mo', '11/24/08', '79.89', '15.024M', '12.41M']
spot of 79.89 with type <class 'str'>
['Fr', '11/21/08', '74.88', '19.805M', '11.921M']
spot of 74.88 with type <class 'str'>
['Th', '11/20/08', '71.74', '17.635M', '11.301M']
spot of 71.74 with type <class 'str'>
['We', '11/19/08', '75.97', '12.607M', '10.928M']
spot of 75.97 with type <class 'str'>
['Tu', '11/18/08', '80.08', '13.051M', '10.933M']
spot of 80.08 with type <class 'str'>
['Mo', '11/17/08', '77.48', '10.324M', '11.01M']
spot of 77.48 with type <class 'str'>
['Fr', '11/14/08', '80.33', '12.025M', '11.062M']
spot of 80.33 with type <class 'str'>
['Th', '11/13/08', '84.21', '15.105M', '11.08M']
spot of 84.21 with type <class 'str'>
['We', '11/12/08', '79.74', '11.369M', '10.897M']
spot of 79.74 with type <class 'str'>
['Tu', '11/11/08', '82.74', '10.019M', '11.085M']
spot of 82.74 with type <class 'str'>
['Mo', '11/10/08', '83.87', '9.849M', '11.066M']
spot of 83.87 with type <class 'str'>
['Fr', '11/7/08', '86.27', '7.928M', '11.059M']
spot of 86.27 with type <class 'str'>
['Th', '11/6/08', '85.15', '12.525M', '11.546M']
spot of 85.15 with type <class 'str'>
['We', '11/5/08', '89.94', '8.708M', '11.796M']
spot of 89.94 with type <class 'str'>
['Tu', '11/4/08', '93.4', '10.174M', '11.971M']
spot of 93.4 with type <class 'str'>
['Mo', '11/3/08', '92.68', '7.686M', '12.3M']
spot of 92.68 with type <class 'str'>
['Fr', '10/31/08', '92.97', '10.507M', '12.928M']
spot of 92.97 with type <class 'str'>
['Th', '10/30/08', '90.69', '12.035M', '13.871M']
spot of 90.69 with type <class 'str'>
['We', '10/29/08', '88.2', '12.694M', '14.488M']
spot of 88.2 with type <class 'str'>
['Tu', '10/28/08', '87.28', '14.197M', '14.844M']
spot of 87.28 with type <class 'str'>
['Mo', '10/27/08', '79.66', '11.112M', '14.659M']
spot of 79.66 with type <class 'str'>
['Fr', '10/24/08', '82.07', '12.288M', '14.686M']
spot of 82.07 with type <class 'str'>
['Th', '10/23/08', '84.35', '12.358M', '14.509M']
spot of 84.35 with type <class 'str'>
['We', '10/22/08', '83.6', '14.202M', '14.449M']
spot of 83.6 with type <class 'str'>
['Tu', '10/21/08', '88.86', '9.72M', '14.378M']
spot of 88.86 with type <class 'str'>
['Mo', '10/20/08', '92.51', '9.748M', '14.997M']
spot of 92.51 with type <class 'str'>
['Fr', '10/17/08', '90.78', '15.232M', '14.986M']
spot of 90.78 with type <class 'str'>
['Th', '10/16/08', '91.52', '16.274M', '14.288M']
spot of 91.52 with type <class 'str'>
['We', '10/15/08', '88.29', '11.336M', '13.639M']
spot of 88.29 with type <class 'str'>
['Tu', '10/14/08', '93.6', '15.117M', '13.321M']
spot of 93.6 with type <class 'str'>
['Mo', '10/13/08', '92.21', '17.108M', '12.848M']
spot of 92.21 with type <class 'str'>
['Fr', '10/10/08', '87.75', '24.64M', '12.297M']
spot of 87.75 with type <class 'str'>
['Th', '10/9/08', '89', '21.295M', '11.617M']
spot of 89 with type <class 'str'>
['We', '10/8/08', '90.55', '18.035M', '11.263M']
spot of 90.55 with type <class 'str'>
['Tu', '10/7/08', '95.65', '11.417M', '10.881M']
spot of 95.65 with type <class 'str'>
['Mo', '10/6/08', '100.62', '11.521M', '11.031M']
spot of 100.62 with type <class 'str'>
['Fr', '10/3/08', '103.44', '9.638M', '10.927M']
spot of 103.44 with type <class 'str'>
['Th', '10/2/08', '104.74', '11.459M', '10.727M']
spot of 104.74 with type <class 'str'>
['We', '10/1/08', '110.13', '13.138M', '10.612M']
spot of 110.13 with type <class 'str'>
['Tu', '9/30/08', '116.96', '18.992M', '10.526M']
spot of 116.96 with type <class 'str'>
['Mo', '9/29/08', '114.46', '9.587M', '9.801M']
spot of 114.46 with type <class 'str'>
['Fr', '9/26/08', '119.42', '4.761M', '9.858M']
spot of 119.42 with type <class 'str'>
['Th', '9/25/08', '120.11', '6.541M', '10.129M']
spot of 120.11 with type <class 'str'>
['We', '9/24/08', '116.46', '6.574M', '10.368M']
spot of 116.46 with type <class 'str'>
['Tu', '9/23/08', '115.36', '8.013M', '10.684M']
spot of 115.36 with type <class 'str'>
['Mo', '9/22/08', '116.21', '8.844M', '10.934M']
spot of 116.21 with type <class 'str'>
['Fr', '9/19/08', '118.85', '14.436M', '10.822M']
spot of 118.85 with type <class 'str'>
['Th', '9/18/08', '115.12', '15.995M', '10.223M']
spot of 115.12 with type <class 'str'>
['We', '9/17/08', '111.47', '12.298M', '9.546M']
spot of 111.47 with type <class 'str'>
['Tu', '9/16/08', '116.05', '13.673M', '9.141M']
spot of 116.05 with type <class 'str'>
['Mo', '9/15/08', '115.19', '9.953M', '8.618M']
spot of 115.19 with type <class 'str'>
['Fr', '9/12/08', '118.97', '6.635M', '8.353M']
spot of 118.97 with type <class 'str'>
['Th', '9/11/08', '119.2', '9.737M', '8.332M']
spot of 119.2 with type <class 'str'>
['We', '9/10/08', '118.04', '11.854M', '8.141M']
spot of 118.04 with type <class 'str'>
['Tu', '9/9/08', '115.04', '8.107M', '7.972M']
spot of 115.04 with type <class 'str'>
['Mo', '9/8/08', '117.29', '10.454M', '7.829M']
spot of 117.29 with type <class 'str'>
['Fr', '9/5/08', '114.33', '8.814M', '7.503M']
spot of 114.33 with type <class 'str'>
['Th', '9/4/08', '115', '10.134M', '7.37M']
spot of 115 with type <class 'str'>
['We', '9/3/08', '118.34', '11.317M', '7.085M']
spot of 118.34 with type <class 'str'>
['Tu', '9/2/08', '118.41', '11.764M', '6.797M']
spot of 118.41 with type <class 'str'>
['Fr', '8/29/08', '121.73', '7.156M', '6.512M']
spot of 121.73 with type <class 'str'>
['Th', '8/28/08', '124.58', '5.448M', '6.606M']
spot of 124.58 with type <class 'str'>
['We', '8/27/08', '123.38', '5.845M', '6.685M']
spot of 123.38 with type <class 'str'>
['Tu', '8/26/08', '122.5', '6.218M', '6.712M']
spot of 122.5 with type <class 'str'>
['Mo', '8/25/08', '122.86', '5.827M', '6.762M']
spot of 122.86 with type <class 'str'>
['Fr', '8/22/08', '124.93', '5.989M', '6.773M']
spot of 124.93 with type <class 'str'>
['Th', '8/21/08', '122.99', '6.315M', '6.704M']
spot of 122.99 with type <class 'str'>
['We', '8/20/08', '122.51', '6.872M', '6.673M']
spot of 122.51 with type <class 'str'>
['Tu', '8/19/08', '122.56', '9.314M', '6.603M']
spot of 122.56 with type <class 'str'>
['Mo', '8/18/08', '124.59', '5.97M', '6.381M']
spot of 124.59 with type <class 'str'>
['Fr', '8/15/08', '126.36', '5.566M', '6.39M']
spot of 126.36 with type <class 'str'>
['Th', '8/14/08', '126.94', '6.813M', '6.523M']
spot of 126.94 with type <class 'str'>
['We', '8/13/08', '125.8', '5.858M', '6.665M']
spot of 125.8 with type <class 'str'>
['Tu', '8/12/08', '125.22', '7.001M', '6.957M']
spot of 125.22 with type <class 'str'>
['Mo', '8/11/08', '126.6', '7.49M', '7.252M']
spot of 126.6 with type <class 'str'>
['Fr', '8/8/08', '128.81', '8.562M', '7.271M']
spot of 128.81 with type <class 'str'>
['Th', '8/7/08', '129.05', '6.633M', '7.922M']
spot of 129.05 with type <class 'str'>
['We', '8/6/08', '129.16', '6.254M', '8.3M']
spot of 129.16 with type <class 'str'>
['Tu', '8/5/08', '128.87', '6.97M', '8.543M']
spot of 128.87 with type <class 'str'>
['Mo', '8/4/08', '127.56', '5.995M', '8.792M']
spot of 127.56 with type <class 'str'>
['Fr', '8/1/08', '126.64', '4.94M', '8.947M']
spot of 126.64 with type <class 'str'>
['Th', '7/31/08', '127.98', '5.857M', '9.207M']
spot of 127.98 with type <class 'str'>
['We', '7/30/08', '128.86', '5.826M', '9.487M']
spot of 128.86 with type <class 'str'>
['Tu', '7/29/08', '127.66', '5.981M', '9.732M']
spot of 127.66 with type <class 'str'>
['Mo', '7/28/08', '126.25', '6.097M', '9.988M']
spot of 126.25 with type <class 'str'>
['Fr', '7/25/08', '128.53', '7.566M', '10.19M']
spot of 128.53 with type <class 'str'>
['Th', '7/24/08', '130', '8.947M', '10.094M']
spot of 130 with type <class 'str'>
['We', '7/23/08', '129.52', '10.231M', '10.037M']
spot of 129.52 with type <class 'str'>
['Tu', '7/22/08', '130', '11.429M', '10.026M']
spot of 130 with type <class 'str'>
['Mo', '7/21/08', '128.66', '7.78M', '9.827M']
spot of 128.66 with type <class 'str'>
['Fr', '7/18/08', '129.89', '18.318M', '10.086M']
spot of 129.89 with type <class 'str'>
['Th', '7/17/08', '126.52', '12.304M', '9.512M']
spot of 126.52 with type <class 'str'>
['We', '7/16/08', '125.94', '9.9M', '9.167M']
spot of 125.94 with type <class 'str'>
['Tu', '7/15/08', '123.2', '10.714M', '9.011M']
spot of 123.2 with type <class 'str'>
['Mo', '7/14/08', '121.54', '8.317M', '8.688M']
spot of 121.54 with type <class 'str'>
['Fr', '7/11/08', '122.12', '8.844M', '8.775M']
spot of 122.12 with type <class 'str'>
['Th', '7/10/08', '123.18', '10.054M', '8.69M']
spot of 123.18 with type <class 'str'>
['We', '7/9/08', '120.4', '9.507M', '8.461M']
spot of 120.4 with type <class 'str'>
['Tu', '7/8/08', '123.88', '9.814M', '8.179M']
spot of 123.88 with type <class 'str'>
['Mo', '7/7/08', '121.5', '9.131M', '7.943M']
spot of 121.5 with type <class 'str'>
['Th', '7/3/08', '119.54', '6.118M', '7.76M']
spot of 119.54 with type <class 'str'>
['We', '7/2/08', '119.1', '8.094M', '7.802M']
spot of 119.1 with type <class 'str'>
['Tu', '7/1/08', '119.27', '10.071M', '7.743M']
spot of 119.27 with type <class 'str'>
['Mo', '6/30/08', '118.53', '8.444M', '7.43M']
spot of 118.53 with type <class 'str'>
['Fr', '6/27/08', '120.05', '11.66M', '7.24M']
spot of 120.05 with type <class 'str'>
['Th', '6/26/08', '121.13', '9.711M', '6.988M']
spot of 121.13 with type <class 'str'>
['We', '6/25/08', '124.58', '7.135M', '6.751M']
spot of 124.58 with type <class 'str'>
['Tu', '6/24/08', '123.46', '7.553M', '6.704M']
spot of 123.46 with type <class 'str'>
['Mo', '6/23/08', '123.46', '5.863M', '6.683M']
spot of 123.46 with type <class 'str'>
['Fr', '6/20/08', '122.74', '9.625M', '6.799M']
spot of 122.74 with type <class 'str'>
['Th', '6/19/08', '125.02', '7.57M', '6.734M']
spot of 125.02 with type <class 'str'>
['We', '6/18/08', '124.16', '6.615M', '6.734M']
spot of 124.16 with type <class 'str'>
['Tu', '6/17/08', '125.1', '5.278M', '6.951M']
spot of 125.1 with type <class 'str'>
['Mo', '6/16/08', '126.71', '6.281M', '7.065M']
spot of 126.71 with type <class 'str'>
['Fr', '6/13/08', '126.15', '6.38M', '6.96M']
spot of 126.15 with type <class 'str'>
['Th', '6/12/08', '123.85', '6.749M', '6.87M']
spot of 123.85 with type <class 'str'>
['We', '6/11/08', '123.25', '7.208M', '6.976M']
spot of 123.25 with type <class 'str'>
['Tu', '6/10/08', '125.94', '5.384M', '6.963M']
spot of 125.94 with type <class 'str'>
['Mo', '6/9/08', '125.86', '5.585M', '7.03M']
spot of 125.86 with type <class 'str'>
['Fr', '6/6/08', '124.94', '7.886M', '7.082M']
spot of 124.94 with type <class 'str'>
['Th', '6/5/08', '128.47', '6.154M', '7.038M']
spot of 128.47 with type <class 'str'>
['We', '6/4/08', '127.55', '6.432M', '7.221M']
spot of 127.55 with type <class 'str'>
['Tu', '6/3/08', '127.84', '7.239M', '7.438M']
spot of 127.84 with type <class 'str'>
['Mo', '6/2/08', '127.36', '7.599M', '7.533M']
spot of 127.36 with type <class 'str'>
['Fr', '5/30/08', '129.43', '8.653M', '7.394M']
spot of 129.43 with type <class 'str'>
['Th', '5/29/08', '129.71', '7.562M', '7.47M']
spot of 129.71 with type <class 'str'>
['We', '5/28/08', '129.54', '9.876M', '7.726M']
spot of 129.54 with type <class 'str'>
['Tu', '5/27/08', '127.32', '6.99M', '7.462M']
spot of 127.32 with type <class 'str'>
['Fr', '5/23/08', '124.2', '4.701M', '7.42M']
spot of 124.2 with type <class 'str'>
['Th', '5/22/08', '124.7', '5.031M', '7.567M']
spot of 124.7 with type <class 'str'>
['We', '5/21/08', '123.62', '8.335M', '7.781M']
spot of 123.62 with type <class 'str'>
['Tu', '5/20/08', '125.18', '7.018M', '7.767M']
spot of 125.18 with type <class 'str'>
['Mo', '5/19/08', '126.49', '6.385M', '7.781M']
spot of 126.49 with type <class 'str'>
['Fr', '5/16/08', '127.82', '6.372M', '7.729M']
spot of 127.82 with type <class 'str'>
['Th', '5/15/08', '128.46', '7.228M', '7.726M']
spot of 128.46 with type <class 'str'>
['We', '5/14/08', '127.52', '8.889M', '7.643M']
spot of 127.52 with type <class 'str'>
['Tu', '5/13/08', '126.58', '9.693M', '7.557M']
spot of 126.58 with type <class 'str'>
['Mo', '5/12/08', '125.24', '8.67M', '7.272M']
spot of 125.24 with type <class 'str'>
['Fr', '5/9/08', '124.06', '5.502M', '7.158M']
spot of 124.06 with type <class 'str'>
['Th', '5/8/08', '124.92', '9.794M', '7.624M']
spot of 124.92 with type <class 'str'>
['We', '5/7/08', '124.14', '11.407M', '8.238M']
spot of 124.14 with type <class 'str'>
['Tu', '5/6/08', '122.82', '5.91M', '8.765M']
spot of 122.82 with type <class 'str'>
['Mo', '5/5/08', '122.03', '6.36M', '8.947M']
spot of 122.03 with type <class 'str'>
['Fr', '5/2/08', '123.18', '6.917M', '9.04M']
spot of 123.18 with type <class 'str'>
['Th', '5/1/08', '123.61', '8.231M', '9.216M']
spot of 123.61 with type <class 'str'>
['We', '4/30/08', '120.7', '8.13M', '9.277M']
spot of 120.7 with type <class 'str'>
['Tu', '4/29/08', '122.85', '7.226M', '9.19M']
spot of 122.85 with type <class 'str'>
['Mo', '4/28/08', '121.69', '5.608M', '9.194M']
spot of 121.69 with type <class 'str'>
['Fr', '4/25/08', '123.08', '6.317M', '9.232M']
spot of 123.08 with type <class 'str'>
['Th', '4/24/08', '124.19', '5.997M', '9.193M']
spot of 124.19 with type <class 'str'>
['We', '4/23/08', '123.6', '7.593M', '9.264M']
spot of 123.6 with type <class 'str'>
['Tu', '4/22/08', '123.67', '5.417M', '9.294M']
spot of 123.67 with type <class 'str'>
['Mo', '4/21/08', '124.35', '6.954M', '9.724M']
spot of 124.35 with type <class 'str'>
['Fr', '4/18/08', '124.4', '12.493M', '9.908M']
spot of 124.4 with type <class 'str'>
['Th', '4/17/08', '123.08', '19.003M', '9.515M']
spot of 123.08 with type <class 'str'>
['We', '4/16/08', '120.47', '19.318M', '8.811M']
spot of 120.47 with type <class 'str'>
['Tu', '4/15/08', '117.17', '8.644M', '8.164M']
spot of 117.17 with type <class 'str'>
['Mo', '4/14/08', '117.28', '7.751M', '8.151M']
spot of 117.28 with type <class 'str'>
['Fr', '4/11/08', '116', '9.561M', '8.194M']
spot of 116 with type <class 'str'>
['Th', '4/10/08', '118.78', '9.149M', '8.318M']
spot of 118.78 with type <class 'str'>
['We', '4/9/08', '116.77', '6.819M', '8.329M']
spot of 116.77 with type <class 'str'>
['Tu', '4/8/08', '116.27', '7.283M', '8.539M']
spot of 116.27 with type <class 'str'>
['Mo', '4/7/08', '116.31', '6.181M', '8.672M']
spot of 116.31 with type <class 'str'>
['Fr', '4/4/08', '115.76', '5.733M', '8.909M']
spot of 115.76 with type <class 'str'>
['Th', '4/3/08', '116.02', '7.053M', '9.163M']
spot of 116.02 with type <class 'str'>
['We', '4/2/08', '114.81', '8.044M', '9.299M']
spot of 114.81 with type <class 'str'>
['Tu', '4/1/08', '116.49', '11.877M', '9.495M']
spot of 116.49 with type <class 'str'>
['Mo', '3/31/08', '115.14', '9.715M', '9.363M']
spot of 115.14 with type <class 'str'>
['Fr', '3/28/08', '114.57', '6.601M', '9.257M']
spot of 114.57 with type <class 'str'>
['Th', '3/27/08', '115.52', '8.437M', '9.352M']
spot of 115.52 with type <class 'str'>
['We', '3/26/08', '116.91', '9.617M', '9.352M']
spot of 116.91 with type <class 'str'>
['Tu', '3/25/08', '117.97', '8.444M', '9.283M']
spot of 117.97 with type <class 'str'>
['Mo', '3/24/08', '119.06', '8.398M', '9.143M']
spot of 119.06 with type <class 'str'>
['Th', '3/20/08', '118.33', '11.418M', '9.148M']
spot of 118.33 with type <class 'str'>
['We', '3/19/08', '116.94', '9.314M', '8.869M']
spot of 116.94 with type <class 'str'>
['Tu', '3/18/08', '118.41', '9.968M', '9.038M']
spot of 118.41 with type <class 'str'>
['Mo', '3/17/08', '115.55', '9.281M', '9.617M']
spot of 115.55 with type <class 'str'>
['Fr', '3/14/08', '115.2301', '9.735M', '9.542M']
spot of 115.2301 with type <class 'str'>
['Th', '3/13/08', '115.91', '9.549M', '9.421M']
spot of 115.91 with type <class 'str'>
['We', '3/12/08', '117.07', '9.084M', '9.339M']
spot of 117.07 with type <class 'str'>
['Tu', '3/11/08', '116.49', '10.992M', '9.245M']
spot of 116.49 with type <class 'str'>
['Mo', '3/10/08', '114.01', '9.896M', '9.004M']

spot of 114.01 with type <class 'str'>
['Fr', '3/7/08', '113.94', '8.125M', '8.76M']
spot of 113.94 with type <class 'str'>
['Th', '3/6/08', '112.52', '8.018M', '8.708M']
spot of 112.52 with type <class 'str'>
['We', '3/5/08', '115.39', '8.435M', '8.614M']
spot of 115.39 with type <class 'str'>
['Tu', '3/4/08', '115.71', '8.594M', '8.562M']
spot of 115.71 with type <class 'str'>
['Mo', '3/3/08', '114.23', '6.336M', '8.395M']
spot of 114.23 with type <class 'str'>
['Fr', '2/29/08', '113.86', '8.476M', '8.379M']
spot of 113.86 with type <class 'str'>
['Th', '2/28/08', '115.24', '7.227M', '8.564M']
spot of 115.24 with type <class 'str'>
['We', '2/27/08', '116.46', '11.855M', '8.634M']
spot of 116.46 with type <class 'str'>
['Tu', '2/26/08', '114.38', '18.652M', '8.447M']
spot of 114.38 with type <class 'str'>
['Mo', '2/25/08', '110.08', '8.158M', '7.602M']
spot of 110.08 with type <class 'str'>
['Fr', '2/22/08', '108.07', '7.917M', '7.595M']
spot of 108.07 with type <class 'str'>
['Th', '2/21/08', '106.93', '8.328M', '7.671M']
spot of 106.93 with type <class 'str'>
['We', '2/20/08', '107.85', '7.673M', '7.611M']
spot of 107.85 with type <class 'str'>
['Tu', '2/19/08', '105', '7.377M', '7.541M']
spot of 105 with type <class 'str'>
['Fr', '2/15/08', '106.16', '6.236M', '7.573M']
spot of 106.16 with type <class 'str'>
['Th', '2/14/08', '106.13', '7.341M', '7.831M']
spot of 106.13 with type <class 'str'>
['We', '2/13/08', '108.42', '6.609M', '8.21M']
spot of 108.42 with type <class 'str'>
['Tu', '2/12/08', '106.53', '7.65M', '9.075M']
spot of 106.53 with type <class 'str'>
['Mo', '2/11/08', '105.14', '6.098M', '9.574M']
spot of 105.14 with type <class 'str'>
['Fr', '2/8/08', '103.27', '6.086M', '10.759M']
spot of 103.27 with type <class 'str'>
['Th', '2/7/08', '102.34', '11.256M', '11.13M']
spot of 102.34 with type <class 'str'>
['We', '2/6/08', '103.59', '8.27M', '11.248M']
spot of 103.59 with type <class 'str'>
['Tu', '2/5/08', '105.02', '9.049M', '11.472M']
spot of 105.02 with type <class 'str'>
['Mo', '2/4/08', '107.93', '5.985M', '12.07M']
spot of 107.93 with type <class 'str'>
['Fr', '2/1/08', '109.08', '8.047M', '12.268M']
spot of 109.08 with type <class 'str'>
['Th', '1/31/08', '107.11', '9.057M', '12.441M']
spot of 107.11 with type <class 'str'>
['We', '1/30/08', '105.65', '7.432M', '12.565M']
spot of 105.65 with type <class 'str'>
['Tu', '1/29/08', '106.1', '6.616M', '12.698M']
spot of 106.1 with type <class 'str'>
['Mo', '1/28/08', '104.98', '7.858M', '13.101M']
spot of 104.98 with type <class 'str'>
['Fr', '1/25/08', '104.52', '10.102M', '13.312M']
spot of 104.52 with type <class 'str'>
['Th', '1/24/08', '106.91', '13.027M', '13.141M']
spot of 106.91 with type <class 'str'>
['We', '1/23/08', '106.1', '19.588M', '12.906M']
spot of 106.1 with type <class 'str'>
['Tu', '1/22/08', '101.22', '15.133M', '11.982M']
spot of 101.22 with type <class 'str'>
['Fr', '1/18/08', '103.4', '23.872M', '11.362M']
spot of 103.4 with type <class 'str'>
['Th', '1/17/08', '101.1', '11.65M', '10.072M']
spot of 101.1 with type <class 'str'>
['We', '1/16/08', '101.63', '13.032M', '9.552M']
spot of 101.63 with type <class 'str'>
['Tu', '1/15/08', '101.83', '11.636M', '8.839M']
spot of 101.83 with type <class 'str'>
['Mo', '1/14/08', '102.93', '18.01M', '8.948M']
spot of 102.93 with type <class 'str'>
['Fr', '1/11/08', '97.67', '8.96M', '8.283M']
spot of 97.67 with type <class 'str'>
['Th', '1/10/08', '99.92', '10.635M', '8.154M']
spot of 99.92 with type <class 'str'>
['We', '1/9/08', '98.31', '10.923M', '7.981M']
spot of 98.31 with type <class 'str'>
['Tu', '1/8/08', '97.59', '9.434M', '7.729M']
spot of 97.59 with type <class 'str'>
['Mo', '1/7/08', '100.05', '12.651M', '7.747M']
spot of 100.05 with type <class 'str'>
['Fr', '1/4/08', '101.13', '11.035M', '7.321M']
spot of 101.13 with type <class 'str'>
['Th', '1/3/08', '104.9', '7.529M', '7.11M']
spot of 104.9 with type <class 'str'>
['We', '1/2/08', '104.69', '9.503M', '7.171M']
spot of 104.69 with type <class 'str'>
['Mo', '12/31/07', '108.1', '5.733M', '6.834M']
spot of 108.1 with type <class 'str'>
['Fr', '12/28/07', '110.09', '5.834M', '6.85M']
spot of 110.09 with type <class 'str'>
['Th', '12/27/07', '109.6', '4.515M', '6.816M']
spot of 109.6 with type <class 'str'>
['We', '12/26/07', '111.56', '3.849M', '6.921M']
spot of 111.56 with type <class 'str'>
['Mo', '12/24/07', '111.65', '2.342M', '7.088M']
spot of 111.65 with type <class 'str'>
['Fr', '12/21/07', '111.05', '13.266M', '7.461M']
spot of 111.05 with type <class 'str'>
['Th', '12/20/07', '108.84', '8.031M', '7.437M']
spot of 108.84 with type <class 'str'>
['We', '12/19/07', '107.14', '7.033M', '7.422M']
spot of 107.14 with type <class 'str'>
['Tu', '12/18/07', '106.31', '8.043M', '7.58M']
spot of 106.31 with type <class 'str'>
['Mo', '12/17/07', '104.53', '7.131M', '7.651M']
spot of 104.53 with type <class 'str'>
['Fr', '12/14/07', '105.77', '9.711M', '7.665M']
spot of 105.77 with type <class 'str'>
['Th', '12/13/07', '108.18', '6.253M', '7.206M']
spot of 108.18 with type <class 'str'>
['We', '12/12/07', '108.47', '7.88M', '7.263M']
spot of 108.47 with type <class 'str'>
['Tu', '12/11/07', '106.99', '8.441M', '7.297M']
spot of 106.99 with type <class 'str'>
['Mo', '12/10/07', '109.39', '4.442M', '7.368M']
spot of 109.39 with type <class 'str'>
['Fr', '12/7/07', '108.86', '5.985M', '7.691M']
spot of 108.86 with type <class 'str'>
['Th', '12/6/07', '109.7', '5.316M', '7.851M']
spot of 109.7 with type <class 'str'>
['We', '12/5/07', '108.16', '6.09M', '8.062M']
spot of 108.16 with type <class 'str'>
['Tu', '12/4/07', '106.63', '6.362M', '8.374M']
spot of 106.63 with type <class 'str'>
['Mo', '12/3/07', '105.83', '7.93M', '8.854M']
spot of 105.83 with type <class 'str'>
['Fr', '11/30/07', '105.18', '12.9M', '9.531M']
spot of 105.18 with type <class 'str'>
['Th', '11/29/07', '107.5', '7.814M', '10.21M']
spot of 107.5 with type <class 'str'>
['We', '11/28/07', '107.37', '9.398M', '10.162M']
spot of 107.37 with type <class 'str'>
['Tu', '11/27/07', '103.83', '9.117M', '10.022M']
spot of 103.83 with type <class 'str'>
['Mo', '11/26/07', '101.97', '7.34M', '9.892M']
spot of 101.97 with type <class 'str'>
['Fr', '11/23/07', '104.05', '2.828M', '9.81M']
spot of 104.05 with type <class 'str'>
['We', '11/21/07', '102.22', '7.097M', '10.128M']
spot of 102.22 with type <class 'str'>
['Tu', '11/20/07', '103.42', '8.393M', '10.136M']
spot of 103.42 with type <class 'str'>
['Mo', '11/19/07', '102.22', '9.505M', '9.844M']
spot of 102.22 with type <class 'str'>
['Fr', '11/16/07', '104.79', '9.294M', '9.55M']
spot of 104.79 with type <class 'str'>
['Th', '11/15/07', '103.6', '8.38M', '9.266M']
spot of 103.6 with type <class 'str'>
['We', '11/14/07', '103.44', '8.479M', '9.142M']
spot of 103.44 with type <class 'str'>
['Tu', '11/13/07', '105.27', '10.778M', '9.115M']
spot of 105.27 with type <class 'str'>
['Mo', '11/12/07', '101.45', '13.554M', '8.767M']
spot of 101.45 with type <class 'str'>
['Fr', '11/9/07', '100.2542', '18.085M', '8.369M']
spot of 100.2542 with type <class 'str'>
['Th', '11/8/07', '106.11', '23.093M', '7.852M']
spot of 106.11 with type <class 'str'>
['We', '11/7/07', '111.08', '7.088M', '6.828M']
spot of 111.08 with type <class 'str'>
['Tu', '11/6/07', '113.17', '7.3M', '7.562M']
spot of 113.17 with type <class 'str'>
['Mo', '11/5/07', '113.4', '7.159M', '7.844M']
spot of 113.4 with type <class 'str'>
['Fr', '11/2/07', '114.59', '6.115M', '7.785M']
spot of 114.59 with type <class 'str'>
['Th', '11/1/07', '113.65', '7.594M', '7.754M']
spot of 113.65 with type <class 'str'>
['We', '10/31/07', '116.12', '7.217M', '8.116M']
spot of 116.12 with type <class 'str'>
['Tu', '10/30/07', '114.12', '4.016M', '8.029M']
spot of 114.12 with type <class 'str'>
['Mo', '10/29/07', '114.8', '5.103M', '8.139M']
spot of 114.8 with type <class 'str'>
['Fr', '10/26/07', '113.73', '5.03M', '8.121M']
spot of 113.73 with type <class 'str'>
['Th', '10/25/07', '112.81', '6.52M', '8.169M']
spot of 112.81 with type <class 'str'>
['We', '10/24/07', '112.95', '8.073M', '8.146M']
spot of 112.95 with type <class 'str'>
['Tu', '10/23/07', '114.68', '5.563M', '8.136M']
spot of 114.68 with type <class 'str'>
['Mo', '10/22/07', '113.37', '7.577M', '8.225M']
spot of 113.37 with type <class 'str'>
['Fr', '10/19/07', '112.28', '10.328M', '8.172M']
spot of 112.28 with type <class 'str'>
['Th', '10/18/07', '114.8', '7.737M', '7.998M']
spot of 114.8 with type <class 'str'>
['We', '10/17/07', '115.78', '18.101M', '7.872M']
spot of 115.78 with type <class 'str'>
['Tu', '10/16/07', '119.6', '11.527M', '7.111M']
spot of 119.6 with type <class 'str'>
['Mo', '10/15/07', '118.03', '6.272M', '6.813M']
spot of 118.03 with type <class 'str'>
['Fr', '10/12/07', '117.81', '5.657M', '6.777M']
spot of 117.81 with type <class 'str'>
['Th', '10/11/07', '118.05', '13.019M', '7.006M']
spot of 118.05 with type <class 'str'>
['We', '10/10/07', '118.62', '5.914M', '6.525M']
spot of 118.62 with type <class 'str'>
['Tu', '10/9/07', '118.3', '5.671M', '6.818M']
spot of 118.3 with type <class 'str'>
['Mo', '10/8/07', '117.77', '4.823M', '6.963M']
spot of 117.77 with type <class 'str'>
['Fr', '10/5/07', '116.3', '5.749M', '6.976M']
spot of 116.3 with type <class 'str'>
['Th', '10/4/07', '115.69', '6.178M', '7.053M']
spot of 115.69 with type <class 'str'>
['We', '10/3/07', '116.4', '7.916M', '6.962M']
spot of 116.4 with type <class 'str'>
['Tu', '10/2/07', '118.36', '6.912M', '6.853M']
spot of 118.36 with type <class 'str'>
['Mo', '10/1/07', '119.03', '6.779M', '6.932M']
spot of 119.03 with type <class 'str'>
['Fr', '9/28/07', '117.8', '7.72M', '6.888M']
spot of 117.8 with type <class 'str'>
['Th', '9/27/07', '117.71', '5.837M', '6.875M']
spot of 117.71 with type <class 'str'>
['We', '9/26/07', '117.3', '6.696M', '6.937M']
spot of 117.3 with type <class 'str'>
['Tu', '9/25/07', '116.51', '7.045M', '6.928M']
spot of 116.51 with type <class 'str'>
['Mo', '9/24/07', '116.25', '5.734M', '6.996M']
spot of 116.25 with type <class 'str'>
['Fr', '9/21/07', '116.78', '9.097M', '7.073M']
spot of 116.78 with type <class 'str'>
['Th', '9/20/07', '116.86', '5.808M', '6.984M']
spot of 116.86 with type <class 'str'>
['We', '9/19/07', '116.67', '10.311M', '7.067M']
spot of 116.67 with type <class 'str'>
['Tu', '9/18/07', '116.63', '7.84M', '6.78M']
spot of 116.63 with type <class 'str'>
['Mo', '9/17/07', '114.52', '5.022M', '6.585M']
spot of 114.52 with type <class 'str'>
['Fr', '9/14/07', '115.13', '6.904M', '6.721M']
spot of 115.13 with type <class 'str'>
['Th', '9/13/07', '115.95', '4.803M', '6.812M']
spot of 115.95 with type <class 'str'>
['We', '9/12/07', '116', '6.289M', '6.914M']
spot of 116 with type <class 'str'>
['Tu', '9/11/07', '117.35', '8.099M', '7.058M']
spot of 117.35 with type <class 'str'>
['Mo', '9/10/07', '115.8', '6.121M', '7.174M']
spot of 115.8 with type <class 'str'>
['Fr', '9/7/07', '115.55', '7.512M', '7.785M']
spot of 115.55 with type <class 'str'>
['Th', '9/6/07', '117.62', '6.779M', '8.399M']
spot of 117.62 with type <class 'str'>
['We', '9/5/07', '117.88', '6.556M', '8.723M']
spot of 117.88 with type <class 'str'>
['Tu', '9/4/07', '118.19', '8.072M', '8.66M']
spot of 118.19 with type <class 'str'>
['Fr', '8/31/07', '116.69', '6.885M', '8.531M']
spot of 116.69 with type <class 'str'>
['Th', '8/30/07', '115.37', '7.756M', '8.712M']
spot of 115.37 with type <class 'str'>
['We', '8/29/07', '114.57', '7.051M', '8.801M']
spot of 114.57 with type <class 'str'>
['Tu', '8/28/07', '112', '6.007M', '8.843M']
spot of 112 with type <class 'str'>
['Mo', '8/27/07', '113.44', '4.922M', '8.977M']
spot of 113.44 with type <class 'str'>
['Fr', '8/24/07', '113.24', '7.059M', '9.132M']
spot of 113.24 with type <class 'str'>
['Th', '8/23/07', '111.45', '8.271M', '9.299M']
spot of 111.45 with type <class 'str'>
['We', '8/22/07', '110', '6.33M', '9.503M']
spot of 110 with type <class 'str'>
['Tu', '8/21/07', '109.04', '8.459M', '9.907M']
spot of 109.04 with type <class 'str'>
['Mo', '8/20/07', '109.22', '9.841M', '10.531M']
spot of 109.22 with type <class 'str'>
['Fr', '8/17/07', '110.9', '15.277M', '10.881M']
spot of 110.9 with type <class 'str'>
['Th', '8/16/07', '109.69', '16.723M', '11.072M']
spot of 109.69 with type <class 'str'>
['We', '8/15/07', '111.23', '11.641M', '11.082M']
spot of 111.23 with type <class 'str'>
['Tu', '8/14/07', '112.05', '5.615M', '11.063M']
spot of 112.05 with type <class 'str'>
['Mo', '8/13/07', '112.71', '6.136M', '11.388M']
spot of 112.71 with type <class 'str'>
['Fr', '8/10/07', '112.64', '9.592M', '11.515M']
spot of 112.64 with type <class 'str'>
['Th', '8/9/07', '110.73', '9.087M', '11.656M']
spot of 110.73 with type <class 'str'>
['We', '8/8/07', '112.98', '7.682M', '12.203M']
spot of 112.98 with type <class 'str'>
['Tu', '8/7/07', '113.53', '8.023M', '12.368M']
spot of 113.53 with type <class 'str'>
['Mo', '8/6/07', '113.89', '7.246M', '12.341M']
spot of 113.89 with type <class 'str'>
['Fr', '8/3/07', '111.89', '9.571M', '12.449M']
spot of 111.89 with type <class 'str'>
['Th', '8/2/07', '113.23', '11.323M', '12.286M']
spot of 113.23 with type <class 'str'>
['We', '8/1/07', '112.04', '12.39M', '12.167M']
spot of 112.04 with type <class 'str'>
['Tu', '7/31/07', '110.65', '17.816M', '11.734M']
spot of 110.65 with type <class 'str'>
['Mo', '7/30/07', '114.52', '15.097M', '10.96M']
spot of 114.52 with type <class 'str'>
['Fr', '7/27/07', '115.62', '18.139M', '10.357M']
spot of 115.62 with type <class 'str'>
['Th', '7/26/07', '116.53', '16.881M', '9.746M']
spot of 116.53 with type <class 'str'>
['We', '7/25/07', '118.1', '11.343M', '9.065M']
spot of 118.1 with type <class 'str'>
['Tu', '7/24/07', '116.17', '10.5M', '8.59M']
spot of 116.17 with type <class 'str'>
['Mo', '7/23/07', '116.38', '8.043M', '8.204M']
spot of 116.38 with type <class 'str'>
['Fr', '7/20/07', '114.81', '11.706M', '8.136M']
spot of 114.81 with type <class 'str'>
['Th', '7/19/07', '115.86', '17.284M', '7.717M']
spot of 115.86 with type <class 'str'>
['We', '7/18/07', '111.08', '10.154M', '6.925M']
spot of 111.08 with type <class 'str'>
['Tu', '7/17/07', '110.77', '7.62M', '6.597M']
spot of 110.77 with type <class 'str'>
['Mo', '7/16/07', '109.66', '8.866M', '6.654M']
spot of 109.66 with type <class 'str'>
['Fr', '7/13/07', '108.6', '7.124M', '6.785M']
spot of 108.6 with type <class 'str'>
['Th', '7/12/07', '109.28', '9.544M', '6.682M']
spot of 109.28 with type <class 'str'>
['We', '7/11/07', '109.1', '5.89M', '6.482M']
spot of 109.1 with type <class 'str'>
['Tu', '7/10/07', '108.63', '6.209M', '6.474M']
spot of 108.63 with type <class 'str'>
['Mo', '7/9/07', '108.97', '6.046M', '6.485M']
spot of 108.97 with type <class 'str'>
['Fr', '7/6/07', '109.03', '8.977M', '6.711M']
spot of 109.03 with type <class 'str'>
['Th', '7/5/07', '108.05', '6.671M', '6.457M']
spot of 108.05 with type <class 'str'>
['Tu', '7/3/07', '106.58', '4.22M', '6.441M']
spot of 106.58 with type <class 'str'>
['Mo', '7/2/07', '105.01', '4.702M', '6.532M']
spot of 105.01 with type <class 'str'>
['Fr', '6/29/07', '105.25', '7.018M', '6.745M']
spot of 105.25 with type <class 'str'>
['Th', '6/28/07', '105.95', '5.431M', '6.825M']
spot of 105.95 with type <class 'str'>
['We', '6/27/07', '105.43', '5.404M', '7.422M']
spot of 105.43 with type <class 'str'>
['Tu', '6/26/07', '105.33', '5.23M', '9.114M']
spot of 105.33 with type <class 'str'>
['Mo', '6/25/07', '105.1', '8.478M', '9.115M']
spot of 105.1 with type <class 'str'>
['Fr', '6/22/07', '104.44', '10.823M', '8.855M']
spot of 104.44 with type <class 'str'>
['Th', '6/21/07', '106.6', '5.588M', '8.486M']
spot of 106.6 with type <class 'str'>
['We', '6/20/07', '106', '6.542M', '8.454M']
spot of 106 with type <class 'str'>
['Tu', '6/19/07', '106.5', '5.768M', '8.511M']
spot of 106.5 with type <class 'str'>
['Mo', '6/18/07', '105.33', '6.373M', '8.488M']
spot of 105.33 with type <class 'str'>
['Fr', '6/15/07', '105.09', '9.433M', '8.471M']
spot of 105.09 with type <class 'str'>
['Th', '6/14/07', '103.85', '5.166M', '8.304M']
spot of 103.85 with type <class 'str'>
['We', '6/13/07', '103.12', '6.438M', '8.253M']
spot of 103.12 with type <class 'str'>
['Tu', '6/12/07', '102.34', '5.579M', '8.178M']
spot of 102.34 with type <class 'str'>
['Mo', '6/11/07', '103.22', '7.903M', '8.308M']
spot of 103.22 with type <class 'str'>
['Fr', '6/8/07', '103.07', '8.223M', '8.439M']
spot of 103.07 with type <class 'str'>
['Th', '6/7/07', '101.8', '14.389M', '8.405M']
spot of 101.8 with type <class 'str'>
['We', '6/6/07', '102.41', '30.774M', '7.82M']
spot of 102.41 with type <class 'str'>
['Tu', '6/5/07', '105.84', '5.247M', '6.175M']
spot of 105.84 with type <class 'str'>
['Mo', '6/4/07', '106.23', '4.573M', '6.208M']
spot of 106.23 with type <class 'str'>
['Fr', '6/1/07', '106.54', '5.289M', '6.305M']
spot of 106.54 with type <class 'str'>
['Th', '5/31/07', '106.6', '5.106M', '6.549M']
spot of 106.6 with type <class 'str'>
['We', '5/30/07', '106.93', '7.401M', '6.769M']
spot of 106.93 with type <class 'str'>
['Tu', '5/29/07', '105.91', '5.421M', '6.674M']
spot of 105.91 with type <class 'str'>
['Fr', '5/25/07', '105.18', '6.123M', '6.687M']
spot of 105.18 with type <class 'str'>
['Th', '5/24/07', '103.95', '6.927M', '6.644M']
spot of 103.95 with type <class 'str'>

['We', '5/23/07', '105.58', '4.397M', '6.67M']
spot of 105.58 with type <class 'str'>
['Tu', '5/22/07', '106.7', '5.314M', '6.847M']
spot of 106.7 with type <class 'str'>
['Mo', '5/21/07', '107.04', '7.535M', '7.07M']
spot of 107.04 with type <class 'str'>
['Fr', '5/18/07', '107.99', '9.858M', '7.238M']
spot of 107.99 with type <class 'str'>
['Th', '5/17/07', '105.31', '7.721M', '6.99M']
spot of 105.31 with type <class 'str'>
['We', '5/16/07', '105.87', '5.614M', '7.05M']
spot of 105.87 with type <class 'str'>
['Tu', '5/15/07', '104.83', '6.104M', '7.664M']
spot of 104.83 with type <class 'str'>
['Mo', '5/14/07', '105.57', '5.733M', '8.69M']
spot of 105.57 with type <class 'str'>
['Fr', '5/11/07', '105.98', '6.026M', '8.791M']
spot of 105.98 with type <class 'str'>
['Th', '5/10/07', '104.68', '8.96M', '9.012M']
spot of 104.68 with type <class 'str'>
['We', '5/9/07', '104.38', '8.408M', '9.045M']
spot of 104.38 with type <class 'str'>
['Tu', '5/8/07', '103.29', '5.972M', '9.542M']
spot of 103.29 with type <class 'str'>
['Mo', '5/7/07', '103.16', '5.621M', '9.829M']
spot of 103.16 with type <class 'str'>
['Fr', '5/4/07', '102.96', '5.47M', '9.912M']
spot of 102.96 with type <class 'str'>
['Th', '5/3/07', '102.8', '7.319M', '9.949M']
spot of 102.8 with type <class 'str'>
['We', '5/2/07', '102.22', '7.045M', '9.934M']
spot of 102.22 with type <class 'str'>
['Tu', '5/1/07', '103.17', '8.672M', '9.86M']
spot of 103.17 with type <class 'str'>
['Mo', '4/30/07', '102.21', '10.051M', '9.522M']
spot of 102.21 with type <class 'str'>
['Fr', '4/27/07', '101.17', '6.141M', '9.175M']
spot of 101.17 with type <class 'str'>
['Th', '4/26/07', '100.9', '8.615M', '8.986M']
spot of 100.9 with type <class 'str'>
['We', '4/25/07', '101.46', '14.828M', '8.697M']
spot of 101.46 with type <class 'str'>
['Tu', '4/24/07', '98.49', '21.495M', '8.09M']
spot of 98.49 with type <class 'str'>
['Mo', '4/23/07', '95.21', '7.248M', '7.05M']
spot of 95.21 with type <class 'str'>
['Fr', '4/20/07', '94.58', '9.34M', '7.076M']
spot of 94.58 with type <class 'str'>
['Th', '4/19/07', '94.29', '9.447M', '6.91M']
spot of 94.29 with type <class 'str'>
['We', '4/18/07', '94.8', '15.872M', '6.822M']
spot of 94.8 with type <class 'str'>
['Tu', '4/17/07', '97.12', '10.272M', '6.077M']
spot of 97.12 with type <class 'str'>
['Mo', '4/16/07', '96.18', '6.865M', '5.841M']
spot of 96.18 with type <class 'str'>
['Fr', '4/13/07', '94.93', '6.028M', '5.677M']
spot of 94.93 with type <class 'str'>
['Th', '4/12/07', '95.67', '7.085M', '5.675M']
spot of 95.67 with type <class 'str'>
['We', '4/11/07', '95.16', '5.941M', '5.713M']
spot of 95.16 with type <class 'str'>
['Tu', '4/10/07', '96.46', '3.596M', '5.621M']
spot of 96.46 with type <class 'str'>
['Mo', '4/9/07', '96.62', '4.851M', '5.686M']
spot of 96.62 with type <class 'str'>
['Th', '4/5/07', '96.52', '3.307M', '5.945M']
spot of 96.52 with type <class 'str'>
['We', '4/4/07', '96.21', '4.278M', '6.119M']
spot of 96.21 with type <class 'str'>
['Tu', '4/3/07', '96.1', '5.731M', '6.414M']
spot of 96.1 with type <class 'str'>
['Mo', '4/2/07', '95.21', '5.884M', '6.535M']
spot of 95.21 with type <class 'str'>
['Fr', '3/30/07', '94.26', '7.638M', '6.511M']
spot of 94.26 with type <class 'str'>
['Th', '3/29/07', '94.57', '6.852M', '6.424M']
spot of 94.57 with type <class 'str'>
['We', '3/28/07', '94.26', '8.129M', '6.461M']
spot of 94.26 with type <class 'str'>
['Tu', '3/27/07', '94.73', '4.696M', '6.604M']
spot of 94.73 with type <class 'str'>
['Mo', '3/26/07', '95', '6.729M', '6.903M']
spot of 95 with type <class 'str'>
['Fr', '3/23/07', '95.03', '4.412M', '7.144M']
spot of 95.03 with type <class 'str'>
['Th', '3/22/07', '95.19', '5.994M', '7.48M']
spot of 95.19 with type <class 'str'>
['We', '3/21/07', '95.36', '7.666M', '7.938M']
spot of 95.36 with type <class 'str'>
['Tu', '3/20/07', '94.5', '4.56M', '8.239M']
spot of 94.5 with type <class 'str'>
['Mo', '3/19/07', '93.99', '4.568M', '8.74M']
spot of 93.99 with type <class 'str'>
['Fr', '3/16/07', '93.25', '8.733M', '8.831M']
spot of 93.25 with type <class 'str'>
['Th', '3/15/07', '93.45', '5.91M', '8.672M']
spot of 93.45 with type <class 'str'>
['We', '3/14/07', '93.76', '8.714M', '8.672M']
spot of 93.76 with type <class 'str'>
['Tu', '3/13/07', '92.71', '7.539M', '8.377M']
spot of 92.71 with type <class 'str'>
['Mo', '3/12/07', '94.11', '5.531M', '8.15M']
spot of 94.11 with type <class 'str'>
['Fr', '3/9/07', '93.28', '6.333M', '8.101M']
spot of 93.28 with type <class 'str'>
['Th', '3/8/07', '93', '7.405M', '8.05M']
spot of 93 with type <class 'str'>
['We', '3/7/07', '93.94', '10.269M', '7.933M']
spot of 93.94 with type <class 'str'>
['Tu', '3/6/07', '93.8', '9.185M', '7.628M']
spot of 93.8 with type <class 'str'>
['Mo', '3/5/07', '91.81', '10.335M', '7.372M']
spot of 91.81 with type <class 'str'>
['Fr', '3/2/07', '90.9', '9.452M', '7.089M']
spot of 90.9 with type <class 'str'>
['Th', '3/1/07', '92.27', '12.866M', '6.869M']
spot of 92.27 with type <class 'str'>
['We', '2/28/07', '92.94', '12.192M', '6.525M']
spot of 92.94 with type <class 'str'>
['Tu', '2/27/07', '93.96', '12.072M', '6.148M']
spot of 93.96 with type <class 'str'>
['Mo', '2/26/07', '96.91', '5.924M', '5.897M']
spot of 96.91 with type <class 'str'>
['Fr', '2/23/07', '97.73', '6.357M', '5.946M']
spot of 97.73 with type <class 'str'>
['Th', '2/22/07', '98.5', '5.903M', '5.963M']
spot of 98.5 with type <class 'str'>
['We', '2/21/07', '99.09', '4.302M', '5.999M']
spot of 99.09 with type <class 'str'>
['Tu', '2/20/07', '99.35', '4.124M', '6.191M']
spot of 99.35 with type <class 'str'>
['Fr', '2/16/07', '98.99', '4.801M', '6.402M']
spot of 98.99 with type <class 'str'>
['Th', '2/15/07', '98.92', '5.569M', '6.467M']
spot of 98.92 with type <class 'str'>
['We', '2/14/07', '99.2', '5.645M', '6.511M']
spot of 99.2 with type <class 'str'>
['Tu', '2/13/07', '98.29', '5.703M', '6.515M']
spot of 98.29 with type <class 'str'>
['Mo', '2/12/07', '98.58', '5.331M', '6.824M']
spot of 98.58 with type <class 'str'>
['Fr', '2/9/07', '98.55', '6.101M', '7.371M']
spot of 98.55 with type <class 'str'>
['Th', '2/8/07', '99.62', '6.152M', '8.7M']
spot of 99.62 with type <class 'str'>
['We', '2/7/07', '99.54', '7.698M', '9.272M']
spot of 99.54 with type <class 'str'>
['Tu', '2/6/07', '99.85', '6.533M', '9.305M']
spot of 99.85 with type <class 'str'>
['Mo', '2/5/07', '100.38', '8.31M', '9.51M']
spot of 100.38 with type <class 'str'>
['Fr', '2/2/07', '99.17', '6.657M', '9.398M']
spot of 99.17 with type <class 'str'>
['Th', '2/1/07', '99', '6.612M', '9.488M']
spot of 99 with type <class 'str'>
['We', '1/31/07', '99.15', '6.447M', '9.63M']
spot of 99.15 with type <class 'str'>
['Tu', '1/30/07', '99.37', '7.178M', '9.941M']
spot of 99.37 with type <class 'str'>
['Mo', '1/29/07', '98.54', '7.295M', '10.152M']
spot of 98.54 with type <class 'str'>
['Fr', '1/26/07', '97.45', '5.771M', '10.147M']
spot of 97.45 with type <class 'str'>
['Th', '1/25/07', '97.51', '6.231M', '10.466M']
spot of 97.51 with type <class 'str'>
['We', '1/24/07', '97.4', '5.7M', '10.664M']
spot of 97.4 with type <class 'str'>
['Tu', '1/23/07', '97.08', '10.337M', '10.581M']
spot of 97.08 with type <class 'str'>
['Mo', '1/22/07', '97.11', '13.541M', '10.192M']
spot of 97.11 with type <class 'str'>
['Fr', '1/19/07', '96.17', '26.037M', '9.594M']
spot of 96.17 with type <class 'str'>
['Th', '1/18/07', '99.45', '14.725M', '8.01M']
spot of 99.45 with type <class 'str'>
['We', '1/17/07', '100.02', '8.202M', '7.23M']
spot of 100.02 with type <class 'str'>
['Tu', '1/16/07', '100.82', '9.602M', '6.977M']
spot of 100.82 with type <class 'str'>
['Fr', '1/12/07', '99.34', '6.637M', '6.585M']
spot of 99.34 with type <class 'str'>
['Th', '1/11/07', '98.65', '8.001M', '6.471M']
spot of 98.65 with type <class 'str'>
['We', '1/10/07', '98.89', '8.745M', '6.47M']
spot of 98.89 with type <class 'str'>
['Tu', '1/9/07', '100.07', '11.109M', '6.426M']
spot of 100.07 with type <class 'str'>
['Mo', '1/8/07', '98.9', '10.34M', '5.995M']
spot of 98.9 with type <class 'str'>
['Fr', '1/5/07', '97.42', '7.223M', '5.735M']
spot of 97.42 with type <class 'str'>
['Th', '1/4/07', '98.31', '10.557M', '5.774M']
spot of 98.31 with type <class 'str'>
['We', '1/3/07', '97.27', '9.2M', '5.301M']
spot of 97.27 with type <class 'str'>
['Fr', '12/29/06', '97.15', '4.456M', '4.963M']
spot of 97.15 with type <class 'str'>
['Th', '12/28/06', '96.97', '4.502M', '4.954M']
spot of 96.97 with type <class 'str'>
['We', '12/27/06', '97.2', '4.572M', '5.05M']
spot of 97.2 with type <class 'str'>
['Tu', '12/26/06', '95.66', '2.279M', '5.204M']
spot of 95.66 with type <class 'str'>
['Fr', '12/22/06', '95.25', '3.032M', '5.553M']
spot of 95.25 with type <class 'str'>
['Th', '12/21/06', '95.91', '4.406M', '5.714M']
spot of 95.91 with type <class 'str'>
['We', '12/20/06', '96', '3.713M', '5.852M']
spot of 96 with type <class 'str'>
['Tu', '12/19/06', '96', '4.933M', '5.913M']
spot of 96 with type <class 'str'>
['Mo', '12/18/06', '95.44', '7.985M', '5.914M']
spot of 95.44 with type <class 'str'>
['Fr', '12/15/06', '95.3', '8.087M', '5.801M']
spot of 95.3 with type <class 'str'>
['Th', '12/14/06', '95.36', '4.644M', '5.404M']
spot of 95.36 with type <class 'str'>
['We', '12/13/06', '94.77', '6.441M', '5.318M']
spot of 94.77 with type <class 'str'>
['Tu', '12/12/06', '94.12', '7.799M', '5.093M']
spot of 94.12 with type <class 'str'>
['Mo', '12/11/06', '93.64', '3.459M', '4.907M']
spot of 93.64 with type <class 'str'>
['Fr', '12/8/06', '93.86', '4.141M', '5.027M']
spot of 93.86 with type <class 'str'>
['Th', '12/7/06', '94.23', '4.311M', '5.029M']
spot of 94.23 with type <class 'str'>
['We', '12/6/06', '94.12', '5.95M', '5.019M']
spot of 94.12 with type <class 'str'>
['Tu', '12/5/06', '94.48', '6.886M', '5.014M']
spot of 94.48 with type <class 'str'>
['Mo', '12/4/06', '93.51', '7.512M', '4.846M']
spot of 93.51 with type <class 'str'>
['Fr', '12/1/06', '91.25', '5.447M', '4.703M']
spot of 91.25 with type <class 'str'>
['Th', '11/30/06', '91.92', '6.471M', '4.641M']
spot of 91.92 with type <class 'str'>
['We', '11/29/06', '91.52', '4.623M', '4.611M']
spot of 91.52 with type <class 'str'>
['Tu', '11/28/06', '91.35', '4.963M', '4.79M']
spot of 91.35 with type <class 'str'>
['Mo', '11/27/06', '91.45', '6.284M', '4.875M']
spot of 91.45 with type <class 'str'>
['Fr', '11/24/06', '93.35', '2.131M', '4.757M']
spot of 93.35 with type <class 'str'>
['We', '11/22/06', '93.52', '3.352M', '4.941M']
spot of 93.52 with type <class 'str'>
['Tu', '11/21/06', '93.08', '3.069M', '5.108M']
spot of 93.08 with type <class 'str'>
['Mo', '11/20/06', '93.25', '5.011M', '5.521M']
spot of 93.25 with type <class 'str'>
['Fr', '11/17/06', '93.81', '5.251M', '5.56M']
spot of 93.81 with type <class 'str'>
['Th', '11/16/06', '93.47', '4.172M', '5.599M']
spot of 93.47 with type <class 'str'>
['We', '11/15/06', '93.11', '4.173M', '5.654M']
spot of 93.11 with type <class 'str'>
['Tu', '11/14/06', '93.29', '5.873M', '5.784M']
spot of 93.29 with type <class 'str'>
['Mo', '11/13/06', '92.07', '4.359M', '6.007M']
spot of 92.07 with type <class 'str'>
['Fr', '11/10/06', '91.76', '5.37M', '6.307M']
spot of 91.76 with type <class 'str'>
['Th', '11/9/06', '92.42', '4.519M', '6.442M']
spot of 92.42 with type <class 'str'>
['We', '11/8/06', '92.59', '6.022M', '6.852M']
spot of 92.59 with type <class 'str'>
['Tu', '11/7/06', '92.75', '7.305M', '8.309M']
spot of 92.75 with type <class 'str'>
['Mo', '11/6/06', '92.6', '6.241M', '8.712M']
spot of 92.6 with type <class 'str'>
['Fr', '11/3/06', '91.41', '4.509M', '8.871M']
spot of 91.41 with type <class 'str'>
['Th', '11/2/06', '91.68', '4.895M', '9.09M']
spot of 91.68 with type <class 'str'>
['We', '11/1/06', '91.8', '5.846M', '9.074M']
spot of 91.8 with type <class 'str'>
['Tu', '10/31/06', '92.33', '9.268M', '9.032M']
spot of 92.33 with type <class 'str'>
['Mo', '10/30/06', '91.5', '5.594M', '8.728M']
spot of 91.5 with type <class 'str'>
['Fr', '10/27/06', '90.76', '5.84M', '8.655M']
spot of 90.76 with type <class 'str'>
['Th', '10/26/06', '91.54', '4.99M', '8.621M']
spot of 91.54 with type <class 'str'>
['We', '10/25/06', '91.83', '6.122M', '8.619M']
spot of 91.83 with type <class 'str'>
['Tu', '10/24/06', '91.49', '9.223M', '8.626M']
spot of 91.49 with type <class 'str'>
['Mo', '10/23/06', '91.56', '8.862M', '8.334M']
spot of 91.56 with type <class 'str'>
['Fr', '10/20/06', '90.48', '7.392M', '8.042M']
spot of 90.48 with type <class 'str'>
['Th', '10/19/06', '89.86', '10.676M', '7.867M']
spot of 89.86 with type <class 'str'>
['We', '10/18/06', '89.82', '27.876M', '7.462M']
spot of 89.82 with type <class 'str'>
['Tu', '10/17/06', '86.95', '13.338M', '5.996M']
spot of 86.95 with type <class 'str'>
['Mo', '10/16/06', '86.71', '8.634M', '5.434M']
spot of 86.71 with type <class 'str'>
['Fr', '10/13/06', '86.08', '7.789M', '5.238M']
spot of 86.08 with type <class 'str'>
['Th', '10/12/06', '84.7', '4.662M', '5.008M']
spot of 84.7 with type <class 'str'>
['We', '10/11/06', '84.19', '5.211M', '5.292M']
spot of 84.19 with type <class 'str'>
['Tu', '10/10/06', '84.19', '4.714M', '5.446M']
spot of 84.19 with type <class 'str'>
['Mo', '10/9/06', '84', '4.49M', '5.471M']
spot of 84 with type <class 'str'>
['Fr', '10/6/06', '83.14', '5.341M', '5.466M']
spot of 83.14 with type <class 'str'>
['Th', '10/5/06', '82.92', '4.957M', '5.657M']
spot of 82.92 with type <class 'str'>
['We', '10/4/06', '83.1', '6.232M', '5.611M']
spot of 83.1 with type <class 'str'>
['Tu', '10/3/06', '81.65', '4.839M', '5.527M']
spot of 81.65 with type <class 'str'>
['Mo', '10/2/06', '81.87', '4.483M', '5.586M']
spot of 81.87 with type <class 'str'>
['Fr', '9/29/06', '81.94', '4.771M', '5.575M']
spot of 81.94 with type <class 'str'>
['Th', '9/28/06', '81.99', '4.593M', '5.557M']
spot of 81.99 with type <class 'str'>
['We', '9/27/06', '82.09', '5.882M', '5.512M']
spot of 82.09 with type <class 'str'>
['Tu', '9/26/06', '82.5', '4.918M', '5.368M']
spot of 82.5 with type <class 'str'>
['Mo', '9/25/06', '82', '5.685M', '5.305M']
spot of 82 with type <class 'str'>
['Fr', '9/22/06', '81.21', '4.35M', '5.145M']
spot of 81.21 with type <class 'str'>
['Th', '9/21/06', '81.61', '8.909M', '5.108M']
spot of 81.61 with type <class 'str'>
['We', '9/20/06', '83.42', '7.525M', '4.81M']
spot of 83.42 with type <class 'str'>
['Tu', '9/19/06', '81.87', '5.089M', '4.655M']
spot of 81.87 with type <class 'str'>
['Mo', '9/18/06', '82.24', '4.418M', '4.667M']
spot of 82.24 with type <class 'str'>
['Fr', '9/15/06', '82.94', '8.204M', '4.601M']
spot of 82.94 with type <class 'str'>
['Th', '9/14/06', '82.47', '4.265M', '4.285M']
spot of 82.47 with type <class 'str'>
['We', '9/13/06', '82.21', '4.98M', '4.23M']
spot of 82.21 with type <class 'str'>
['Tu', '9/12/06', '82.28', '5.722M', '4.168M']
spot of 82.28 with type <class 'str'>
['Mo', '9/11/06', '80.93', '4.316M', '4.032M']
spot of 80.93 with type <class 'str'>
['Fr', '9/8/06', '80.66', '4.499M', '4.104M']
spot of 80.66 with type <class 'str'>
['Th', '9/7/06', '79.4', '3.914M', '4.177M']
spot of 79.4 with type <class 'str'>
['We', '9/6/06', '80.28', '3.728M', '4.409M']
spot of 80.28 with type <class 'str'>
['Tu', '9/5/06', '80.85', '3.969M', '4.56M']
spot of 80.85 with type <class 'str'>
['Fr', '9/1/06', '81.41', '3.294M', '4.628M']
spot of 81.41 with type <class 'str'>
['Th', '8/31/06', '80.97', '3.786M', '4.655M']
spot of 80.97 with type <class 'str'>
['We', '8/30/06', '81.22', '4.439M', '4.617M']
spot of 81.22 with type <class 'str'>
['Tu', '8/29/06', '81.4', '5.209M', '4.62M']
spot of 81.4 with type <class 'str'>
['Mo', '8/28/06', '80.32', '5.259M', '4.525M']
spot of 80.32 with type <class 'str'>
['Fr', '8/25/06', '79.88', '3.428M', '4.444M']
spot of 79.88 with type <class 'str'>
['Th', '8/24/06', '79.38', '3.473M', '4.553M']
spot of 79.38 with type <class 'str'>
['We', '8/23/06', '78.67', '3.429M', '4.505M']
spot of 78.67 with type <class 'str'>
['Tu', '8/22/06', '78.95', '4.057M', '4.496M']
spot of 78.95 with type <class 'str'>
['Mo', '8/21/06', '79.28', '3.677M', '4.519M']
spot of 79.28 with type <class 'str'>
['Fr', '8/18/06', '79.9', '5.4M', '4.634M']
spot of 79.9 with type <class 'str'>
['Th', '8/17/06', '79.37', '5.602M', '4.551M']
spot of 79.37 with type <class 'str'>
['We', '8/16/06', '79.09', '7.387M', '4.607M']
spot of 79.09 with type <class 'str'>
['Tu', '8/15/06', '77.08', '5.985M', '4.373M']
spot of 77.08 with type <class 'str'>
['Mo', '8/14/06', '76.68', '4.997M', '4.346M']
spot of 76.68 with type <class 'str'>
['Fr', '8/11/06', '75.48', '3.696M', '4.387M']
spot of 75.48 with type <class 'str'>
['Th', '8/10/06', '75.74', '3.214M', '4.698M']
spot of 75.74 with type <class 'str'>
['We', '8/9/06', '75.39', '4.481M', '5.298M']
spot of 75.39 with type <class 'str'>
['Tu', '8/8/06', '75.33', '3.795M', '5.969M']
spot of 75.33 with type <class 'str'>
['Mo', '8/7/06', '75.52', '4.034M', '6.298M']
spot of 75.52 with type <class 'str'>

['Fr', '8/4/06', '75.91', '5.062M', '6.484M']
spot of 75.91 with type <class 'str'>
['Th', '8/3/06', '76.33', '2.766M', '6.61M']
spot of 76.33 with type <class 'str'>
['We', '8/2/06', '76.32', '3.284M', '7.009M']
spot of 76.32 with type <class 'str'>
['Tu', '8/1/06', '76.14', '4.407M', '7.349M']
spot of 76.14 with type <class 'str'>
['Mo', '7/31/06', '77.41', '5.393M', '7.461M']
spot of 77.41 with type <class 'str'>
['Fr', '7/28/06', '76.96', '4.166M', '7.578M']
spot of 76.96 with type <class 'str'>
['Th', '7/27/06', '76.15', '6.439M', '7.743M']
spot of 76.15 with type <class 'str'>
['We', '7/26/06', '75.83', '3.87M', '7.603M']
spot of 75.83 with type <class 'str'>
['Tu', '7/25/06', '75.89', '5.58M', '7.615M']
spot of 75.89 with type <class 'str'>
['Mo', '7/24/06', '75.99', '5.611M', '7.455M']
spot of 75.99 with type <class 'str'>
['Fr', '7/21/06', '74.86', '8.373M', '7.608M']
spot of 74.86 with type <class 'str'>
['Th', '7/20/06', '75.48', '12.217M', '7.413M']
spot of 75.48 with type <class 'str'>
['We', '7/19/06', '76.07', '14.537M', '6.892M']
spot of 76.07 with type <class 'str'>
['Tu', '7/18/06', '74.26', '8.731M', '6.296M']
spot of 74.26 with type <class 'str'>
['Mo', '7/17/06', '73.7', '6.823M', '5.944M']
spot of 73.7 with type <class 'str'>
['Fr', '7/14/06', '73.57', '6.958M', '5.79M']
spot of 73.57 with type <class 'str'>
['Th', '7/13/06', '74.24', '8.755M', '5.698M']
spot of 74.24 with type <class 'str'>
['We', '7/12/06', '75.48', '8.372M', '5.488M']
spot of 75.48 with type <class 'str'>
['Tu', '7/11/06', '76.47', '6.087M', '5.339M']
spot of 76.47 with type <class 'str'>
['Mo', '7/10/06', '76.67', '7.155M', '5.286M']
spot of 76.67 with type <class 'str'>
['Fr', '7/7/06', '76.42', '6.643M', '5.352M']
spot of 76.42 with type <class 'str'>
['Th', '7/6/06', '78.09', '4.333M', '5.354M']
spot of 78.09 with type <class 'str'>
['We', '7/5/06', '77.77', '4.048M', '5.468M']
spot of 77.77 with type <class 'str'>
['Mo', '7/3/06', '78.02', '3.177M', '5.689M']
spot of 78.02 with type <class 'str'>
['Fr', '6/30/06', '76.82', '7.919M', '5.806M']
spot of 76.82 with type <class 'str'>
['Th', '6/29/06', '77.59', '5.449M', '5.687M']
spot of 77.59 with type <class 'str'>
['We', '6/28/06', '76.56', '4.392M', '6.222M']
spot of 76.56 with type <class 'str'>
['Tu', '6/27/06', '76.63', '5.597M', '6.458M']
spot of 76.63 with type <class 'str'>
['Mo', '6/26/06', '77.15', '3.448M', '6.568M']
spot of 77.15 with type <class 'str'>
['Fr', '6/23/06', '77.1', '4.521M', '6.709M']
spot of 77.1 with type <class 'str'>
['Th', '6/22/06', '77.19', '5.569M', '6.889M']
spot of 77.19 with type <class 'str'>
['We', '6/21/06', '78.3', '5.616M', '6.843M']
spot of 78.3 with type <class 'str'>
['Tu', '6/20/06', '77.99', '6.125M', '6.894M']
spot of 77.99 with type <class 'str'>
['Mo', '6/19/06', '77.67', '5.303M', '6.822M']
spot of 77.67 with type <class 'str'>
['Fr', '6/16/06', '77.95', '8.134M', '6.707M']
spot of 77.95 with type <class 'str'>
['Th', '6/15/06', '78.56', '6.68M', '6.431M']
spot of 78.56 with type <class 'str'>
['We', '6/14/06', '77.71', '6.039M', '6.479M']
spot of 77.71 with type <class 'str'>
['Tu', '6/13/06', '76.93', '7.374M', '6.41M']
spot of 76.93 with type <class 'str'>
['Mo', '6/12/06', '77.02', '4.925M', '6.337M']
spot of 77.02 with type <class 'str'>
['Fr', '6/9/06', '77.63', '6.135M', '6.477M']
spot of 77.63 with type <class 'str'>
['Th', '6/8/06', '77.03', '13.477M', '6.43M']
spot of 77.03 with type <class 'str'>
['We', '6/7/06', '79.15', '7.925M', '5.928M']
spot of 79.15 with type <class 'str'>
['Tu', '6/6/06', '79.76', '7.251M', '5.697M']
spot of 79.76 with type <class 'str'>
['Mo', '6/5/06', '79.06', '5.556M', '5.598M']
spot of 79.06 with type <class 'str'>
['Fr', '6/2/06', '79.52', '7.233M', '5.607M']
spot of 79.52 with type <class 'str'>
['Th', '6/1/06', '80.69', '4.867M', '5.476M']
spot of 80.69 with type <class 'str'>
['We', '5/31/06', '79.9', '6.385M', '5.381M']
spot of 79.9 with type <class 'str'>
['Tu', '5/30/06', '80.16', '5.049M', '5.227M']
spot of 80.16 with type <class 'str'>
['Fr', '5/26/06', '80.75', '3.581M', '5.151M']
spot of 80.75 with type <class 'str'>
['Th', '5/25/06', '80.14', '3.995M', '5.212M']
spot of 80.14 with type <class 'str'>
['We', '5/24/06', '79.78', '7.39M', '5.211M']
spot of 79.78 with type <class 'str'>
['Tu', '5/23/06', '79.83', '5.01M', '5.099M']
spot of 79.83 with type <class 'str'>
['Mo', '5/22/06', '80.02', '6.276M', '5.054M']
spot of 80.02 with type <class 'str'>
['Fr', '5/19/06', '80.28', '7.019M', '5.037M']
spot of 80.28 with type <class 'str'>
['Th', '5/18/06', '80.66', '5.444M', '5.116M']
spot of 80.66 with type <class 'str'>
['We', '5/17/06', '81.27', '5.936M', '5.298M']
spot of 81.27 with type <class 'str'>
['Tu', '5/16/06', '82.16', '4.456M', '5.345M']
spot of 82.16 with type <class 'str'>
['Mo', '5/15/06', '82.89', '5.779M', '5.505M']
spot of 82.89 with type <class 'str'>
['Fr', '5/12/06', '82.39', '5.686M', '5.56M']
spot of 82.39 with type <class 'str'>
['Th', '5/11/06', '82.46', '5.275M', '5.589M']
spot of 82.46 with type <class 'str'>
['We', '5/10/06', '82.9', '3.431M', '5.653M']
spot of 82.9 with type <class 'str'>
['Tu', '5/9/06', '83.23', '4.073M', '6.128M']
spot of 83.23 with type <class 'str'>
['Mo', '5/8/06', '82.89', '3.913M', '6.385M']
spot of 82.89 with type <class 'str'>
['Fr', '5/5/06', '83.28', '4.505M', '6.433M']
spot of 83.28 with type <class 'str'>
['Th', '5/4/06', '82.43', '3.967M', '6.452M']
spot of 82.43 with type <class 'str'>
['We', '5/3/06', '82.7', '5.721M', '6.448M']
spot of 82.7 with type <class 'str'>
['Tu', '5/2/06', '82.42', '4.337M', '6.464M']
spot of 82.42 with type <class 'str'>
['Mo', '5/1/06', '82.23', '6.011M', '6.417M']
spot of 82.23 with type <class 'str'>
['Fr', '4/28/06', '82.34', '8.202M', '6.372M']
spot of 82.34 with type <class 'str'>
['Th', '4/27/06', '83.88', '8.174M', '6.155M']
spot of 83.88 with type <class 'str'>
['We', '4/26/06', '83.35', '6.649M', '5.978M']
spot of 83.35 with type <class 'str'>
['Tu', '4/25/06', '82.67', '6.857M', '5.792M']
spot of 82.67 with type <class 'str'>
['Mo', '4/24/06', '82.11', '6.604M', '5.61M']
spot of 82.11 with type <class 'str'>
['Fr', '4/21/06', '81.66', '6.117M', '5.56M']
spot of 81.66 with type <class 'str'>
['Th', '4/20/06', '82.02', '6.237M', '5.45M']
spot of 82.02 with type <class 'str'>
['We', '4/19/06', '81.86', '10.555M', '5.343M']
spot of 81.86 with type <class 'str'>
['Tu', '4/18/06', '83.31', '7.92M', '4.94M']
spot of 83.31 with type <class 'str'>
['Mo', '4/17/06', '81.64', '4.634M', '4.673M']
spot of 81.64 with type <class 'str'>
['Th', '4/13/06', '81.98', '4.8M', '4.644M']
spot of 81.98 with type <class 'str'>
['We', '4/12/06', '80.75', '3.906M', '4.664M']
spot of 80.75 with type <class 'str'>
['Tu', '4/11/06', '81.16', '5.96M', '4.735M']
spot of 81.16 with type <class 'str'>
['Mo', '4/10/06', '82.1', '3.631M', '4.832M']
spot of 82.1 with type <class 'str'>
['Fr', '4/7/06', '82.48', '5.338M', '4.848M']
spot of 82.48 with type <class 'str'>
['Th', '4/6/06', '83.81', '4.944M', '4.919M']
spot of 83.81 with type <class 'str'>
['We', '4/5/06', '84.17', '5.524M', '4.876M']
spot of 84.17 with type <class 'str'>
['Tu', '4/4/06', '83.45', '3.856M', '4.866M']
spot of 83.45 with type <class 'str'>
['Mo', '4/3/06', '83.06', '4.122M', '4.911M']
spot of 83.06 with type <class 'str'>
['Fr', '3/31/06', '82.47', '5.862M', '4.941M']
spot of 82.47 with type <class 'str'>
['Th', '3/30/06', '83.2', '4.467M', '4.87M']
spot of 83.2 with type <class 'str'>
['We', '3/29/06', '83.13', '4.634M', '4.859M']
spot of 83.13 with type <class 'str'>
['Tu', '3/28/06', '82.43', '4.509M', '4.922M']
spot of 82.43 with type <class 'str'>
['Mo', '3/27/06', '83.08', '3.91M', '4.91M']
spot of 83.08 with type <class 'str'>
['Fr', '3/24/06', '83.36', '4.199M', '4.963M']
spot of 83.36 with type <class 'str'>
['Th', '3/23/06', '83.2', '5.106M', '4.973M']
spot of 83.2 with type <class 'str'>
['We', '3/22/06', '84.45', '4.969M', '4.928M']
spot of 84.45 with type <class 'str'>
['Tu', '3/21/06', '83.81', '7.404M', '4.944M']
spot of 83.81 with type <class 'str'>
['Mo', '3/20/06', '83.58', '3.87M', '4.848M']
spot of 83.58 with type <class 'str'>
['Fr', '3/17/06', '83.3', '6.415M', '4.842M']
spot of 83.3 with type <class 'str'>
['Th', '3/16/06', '82.87', '4.3M', '4.675M']
spot of 82.87 with type <class 'str'>
['We', '3/15/06', '83.38', '5.37M', '4.72M']
spot of 83.38 with type <class 'str'>
['Tu', '3/14/06', '82.88', '4.533M', '4.715M']
spot of 82.88 with type <class 'str'>
['Mo', '3/13/06', '81.93', '4.571M', '4.802M']
spot of 81.93 with type <class 'str'>
['Fr', '3/10/06', '81.57', '4.787M', '4.85M']
spot of 81.57 with type <class 'str'>
['Th', '3/9/06', '81.02', '4.311M', '4.885M']
spot of 81.02 with type <class 'str'>
['We', '3/8/06', '81.14', '5.57M', '4.935M']
spot of 81.14 with type <class 'str'>
['Tu', '3/7/06', '80.29', '4.331M', '4.968M']
spot of 80.29 with type <class 'str'>
['Mo', '3/6/06', '80', '4.71M', '5.03M']
spot of 80 with type <class 'str'>
['Fr', '3/3/06', '79.96', '4.354M', '5.074M']
spot of 79.96 with type <class 'str'>
['Th', '3/2/06', '79.94', '4.419M', '5.291M']
spot of 79.94 with type <class 'str'>
['We', '3/1/06', '79.9', '5.212M', '5.332M']
spot of 79.9 with type <class 'str'>
['Tu', '2/28/06', '80.24', '5.961M', '5.335M']
spot of 80.24 with type <class 'str'>
['Mo', '2/27/06', '80.63', '3.787M', '5.576M']
spot of 80.63 with type <class 'str'>
['Fr', '2/24/06', '80.1', '3.904M', '5.98M']
spot of 80.1 with type <class 'str'>
['Th', '2/23/06', '80.2', '4.98M', '6.133M']
spot of 80.2 with type <class 'str'>
['We', '2/22/06', '81.35', '5.294M', '6.162M']
spot of 81.35 with type <class 'str'>
['Tu', '2/21/06', '80.5', '5.839M', '6.26M']
spot of 80.5 with type <class 'str'>
['Fr', '2/17/06', '80.71', '5.299M', '6.226M']
spot of 80.71 with type <class 'str'>
['Th', '2/16/06', '80.91', '5.311M', '6.28M']
spot of 80.91 with type <class 'str'>
['We', '2/15/06', '80.85', '5.052M', '6.446M']
spot of 80.85 with type <class 'str'>
['Tu', '2/14/06', '81.09', '6.076M', '6.535M']
spot of 81.09 with type <class 'str'>
['Mo', '2/13/06', '80.44', '5.257M', '6.534M']
spot of 80.44 with type <class 'str'>
['Fr', '2/10/06', '81.33', '5.372M', '6.591M']
spot of 81.33 with type <class 'str'>
['Th', '2/9/06', '80.4', '7.609M', '6.807M']
spot of 80.4 with type <class 'str'>
['We', '2/8/06', '80.8', '5.031M', '6.732M']
spot of 80.8 with type <class 'str'>
['Tu', '2/7/06', '79.85', '5.254M', '7.129M']
spot of 79.85 with type <class 'str'>
['Mo', '2/6/06', '79.51', '9.569M', '7.363M']
spot of 79.51 with type <class 'str'>
['Fr', '2/3/06', '79.97', '9.853M', '7.186M']
spot of 79.97 with type <class 'str'>
['Th', '2/2/06', '81.23', '6.198M', '6.858M']
spot of 81.23 with type <class 'str'>
['We', '2/1/06', '81.94', '5.417M', '6.83M']
spot of 81.94 with type <class 'str'>
['Tu', '1/31/06', '81.3', '6.772M', '6.849M']
spot of 81.3 with type <class 'str'>
['Mo', '1/30/06', '81.63', '5.325M', '6.855M']
spot of 81.63 with type <class 'str'>
['Fr', '1/27/06', '81.02', '6.103M', '7.046M']
spot of 81.02 with type <class 'str'>
['Th', '1/26/06', '80.72', '7.81M', '7.12M']
spot of 80.72 with type <class 'str'>
['We', '1/25/06', '80.91', '6.374M', '7.255M']
spot of 80.91 with type <class 'str'>
['Tu', '1/24/06', '80.85', '6.069M', '7.611M']
spot of 80.85 with type <class 'str'>
['Mo', '1/23/06', '81.41', '6.114M', '7.57M']
spot of 81.41 with type <class 'str'>
['Fr', '1/20/06', '81.36', '8.615M', '7.426M']
spot of 81.36 with type <class 'str'>
['Th', '1/19/06', '83.09', '6.484M', '7.126M']
spot of 83.09 with type <class 'str'>
['We', '1/18/06', '83.8', '10.979M', '6.986M']
spot of 83.8 with type <class 'str'>
['Tu', '1/17/06', '83', '8.762M', '6.495M']
spot of 83 with type <class 'str'>
['Fr', '1/13/06', '83.17', '6.922M', '6.35M']
spot of 83.17 with type <class 'str'>
['Th', '1/12/06', '83.57', '4.927M', '6.345M']
spot of 83.57 with type <class 'str'>
['We', '1/11/06', '84.17', '5.777M', '6.368M']
spot of 84.17 with type <class 'str'>
['Tu', '1/10/06', '84.07', '5.701M', '6.315M']
spot of 84.07 with type <class 'str'>
['Mo', '1/9/06', '83.73', '6.858M', '6.428M']
spot of 83.73 with type <class 'str'>
['Fr', '1/6/06', '84.95', '8.197M', '6.381M']
spot of 84.95 with type <class 'str'>
['Th', '1/5/06', '82.5', '7.214M', '6.312M']
spot of 82.5 with type <class 'str'>
['We', '1/4/06', '81.95', '9.841M', '6.668M']
spot of 81.95 with type <class 'str'>
['Tu', '1/3/06', '82.06', '11.715M', '6.415M']
spot of 82.06 with type <class 'str'>
['Fr', '12/30/05', '82.2', '5.449M', '6.065M']
spot of 82.2 with type <class 'str'>
['Th', '12/29/05', '82.4', '3.959M', '6.087M']
spot of 82.4 with type <class 'str'>
['We', '12/28/05', '83.04', '4.105M', '6.176M']
spot of 83.04 with type <class 'str'>
['Tu', '12/27/05', '82.99', '4.39M', '6.227M']
spot of 82.99 with type <class 'str'>
['Fr', '12/23/05', '83.48', '3.616M', '6.202M']
spot of 83.48 with type <class 'str'>
['Th', '12/22/05', '83.22', '6.574M', '6.277M']
spot of 83.22 with type <class 'str'>
['We', '12/21/05', '83.12', '6.847M', '6.15M']
spot of 83.12 with type <class 'str'>
['Tu', '12/20/05', '82.48', '5.276M', '6.095M']
spot of 82.48 with type <class 'str'>
['Mo', '12/19/05', '82.76', '4.985M', '6.086M']
spot of 82.76 with type <class 'str'>
['Fr', '12/16/05', '83.37', '7.398M', '6.1M']
spot of 83.37 with type <class 'str'>
['Th', '12/15/05', '83.53', '6.156M', '5.754M']
spot of 83.53 with type <class 'str'>
['We', '12/14/05', '83.13', '7.162M', '5.703M']
spot of 83.13 with type <class 'str'>
['Tu', '12/13/05', '83.71', '12.545M', '5.612M']
spot of 83.71 with type <class 'str'>
['Mo', '12/12/05', '85.96', '6.044M', '5.096M']
spot of 85.96 with type <class 'str'>
['Fr', '12/9/05', '86.97', '6.465M', '5.225M']
spot of 86.97 with type <class 'str'>
['Th', '12/8/05', '87.5', '5.787M', '5.147M']
spot of 87.5 with type <class 'str'>
['We', '12/7/05', '88.72', '5.286M', '5.208M']
spot of 88.72 with type <class 'str'>
['Tu', '12/6/05', '89.14', '4.872M', '5.311M']
spot of 89.14 with type <class 'str'>
['Mo', '12/5/05', '88.43', '4.024M', '5.247M']
spot of 88.43 with type <class 'str'>
['Fr', '12/2/05', '88.65', '4.731M', '5.302M']
spot of 88.65 with type <class 'str'>
['Th', '12/1/05', '89.21', '4.669M', '5.302M']
spot of 89.21 with type <class 'str'>
['We', '11/30/05', '88.9', '6.022M', '5.253M']
spot of 88.9 with type <class 'str'>
['Tu', '11/29/05', '89.1', '5.147M', '5.105M']
spot of 89.1 with type <class 'str'>
['Mo', '11/28/05', '89.11', '5.198M', '5.058M']
spot of 89.11 with type <class 'str'>
['Fr', '11/25/05', '88.8', '2.199M', '4.967M']
spot of 88.8 with type <class 'str'>
['We', '11/23/05', '88.8', '5.4M', '5.333M']
spot of 88.8 with type <class 'str'>
['Tu', '11/22/05', '87.99', '5.787M', '5.417M']
spot of 87.99 with type <class 'str'>
['Mo', '11/21/05', '87.29', '4.808M', '5.408M']
spot of 87.29 with type <class 'str'>
['Fr', '11/18/05', '87.77', '7.986M', '5.61M']
spot of 87.77 with type <class 'str'>
['Th', '11/17/05', '86.89', '5.294M', '5.604M']
spot of 86.89 with type <class 'str'>
['We', '11/16/05', '86.54', '6.694M', '5.498M']
spot of 86.54 with type <class 'str'>
['Tu', '11/15/05', '85.53', '6.833M', '5.337M']
spot of 85.53 with type <class 'str'>
['Mo', '11/14/05', '84.36', '3.915M', '5.242M']
spot of 84.36 with type <class 'str'>
['Fr', '11/11/05', '84.55', '4.841M', '5.347M']
spot of 84.55 with type <class 'str'>
['Th', '11/10/05', '83.99', '4.732M', '5.426M']
spot of 83.99 with type <class 'str'>
['We', '11/9/05', '82.84', '3.936M', '5.494M']
spot of 82.84 with type <class 'str'>
['Tu', '11/8/05', '83.15', '3.798M', '5.732M']
spot of 83.15 with type <class 'str'>
['Mo', '11/7/05', '83.61', '4.455M', '6.282M']
spot of 83.61 with type <class 'str'>
['Fr', '11/4/05', '83', '3.831M', '6.519M']
spot of 83 with type <class 'str'>
['Th', '11/3/05', '82.87', '7.691M', '6.635M']
spot of 82.87 with type <class 'str'>
['We', '11/2/05', '81.06', '6.651M', '6.491M']
spot of 81.06 with type <class 'str'>
['Tu', '11/1/05', '81.59', '5.658M', '6.553M']
spot of 81.59 with type <class 'str'>
['Mo', '10/31/05', '81.88', '7.83M', '6.828M']
spot of 81.88 with type <class 'str'>
['Fr', '10/28/05', '81.42', '7.896M', '6.832M']
spot of 81.42 with type <class 'str'>
['Th', '10/27/05', '82.31', '3.707M', '6.714M']
spot of 82.31 with type <class 'str'>
['We', '10/26/05', '82.89', '4.288M', '7.009M']
spot of 82.89 with type <class 'str'>
['Tu', '10/25/05', '83.36', '5.405M', '7.056M']
spot of 83.36 with type <class 'str'>
['Mo', '10/24/05', '83.47', '5.489M', '7.129M']
spot of 83.47 with type <class 'str'>
['Fr', '10/21/05', '83.33', '6.021M', '7.116M']
spot of 83.33 with type <class 'str'>
['Th', '10/20/05', '83.17', '5.753M', '7.084M']
spot of 83.17 with type <class 'str'>
['We', '10/19/05', '84.17', '7.507M', '7.093M']

spot of 84.17 with type <class 'str'>
['Tu', '10/18/05', '83.48', '12.048M', '7.11M']
spot of 83.48 with type <class 'str'>
['Mo', '10/17/05', '82.59', '8.009M', '6.673M']
spot of 82.59 with type <class 'str'>
['Fr', '10/14/05', '82.35', '5.574M', '6.501M']
spot of 82.35 with type <class 'str'>
['Th', '10/13/05', '82.2', '5.531M', '6.492M']
spot of 82.2 with type <class 'str'>
['We', '10/12/05', '82.19', '7.582M', '6.581M']
spot of 82.19 with type <class 'str'>
['Tu', '10/11/05', '83.19', '9.785M', '6.551M']
spot of 83.19 with type <class 'str'>
['Mo', '10/10/05', '81.25', '7.883M', '6.374M']
spot of 81.25 with type <class 'str'>
['Fr', '10/7/05', '80.5', '6.13M', '6.191M']
spot of 80.5 with type <class 'str'>
['Th', '10/6/05', '79.7', '8.13M', '6.291M']
spot of 79.7 with type <class 'str'>
['We', '10/5/05', '79.82', '4.999M', '6.073M']
spot of 79.82 with type <class 'str'>
['Tu', '10/4/05', '80.11', '6.491M', '5.999M']
spot of 80.11 with type <class 'str'>
['Mo', '10/3/05', '80.45', '5.298M', '5.903M']
spot of 80.45 with type <class 'str'>
['Fr', '9/30/05', '80.22', '5.537M', '5.796M']
spot of 80.22 with type <class 'str'>
['Th', '9/29/05', '80.36', '5.9M', '5.692M']
spot of 80.36 with type <class 'str'>
['We', '9/28/05', '79.5', '7.748M', '5.584M']
spot of 79.5 with type <class 'str'>
['Tu', '9/27/05', '77.99', '5.5M', '5.342M']
spot of 77.99 with type <class 'str'>
['Mo', '9/26/05', '77.41', '5.434M', '5.396M']
spot of 77.41 with type <class 'str'>
['Fr', '9/23/05', '78', '5.435M', '5.279M']
spot of 78 with type <class 'str'>
['Th', '9/22/05', '78.21', '6.87M', '5.343M']
spot of 78.21 with type <class 'str'>
['We', '9/21/05', '77.56', '7.126M', '5.245M']
spot of 77.56 with type <class 'str'>
['Tu', '9/20/05', '78.7', '7.123M', '5.148M']
spot of 78.7 with type <class 'str'>
['Mo', '9/19/05', '79.43', '5.149M', '4.941M']
spot of 79.43 with type <class 'str'>
['Fr', '9/16/05', '80.33', '7.625M', '4.933M']
spot of 80.33 with type <class 'str'>
['Th', '9/15/05', '80.01', '4.866M', '4.666M']
spot of 80.01 with type <class 'str'>
['We', '9/14/05', '80.48', '3.888M', '4.637M']
spot of 80.48 with type <class 'str'>
['Tu', '9/13/05', '80.75', '5.041M', '4.645M']
spot of 80.75 with type <class 'str'>
['Mo', '9/12/05', '81.48', '3.696M', '4.652M']
spot of 81.48 with type <class 'str'>
['Fr', '9/9/05', '81.44', '3.983M', '4.838M']
spot of 81.44 with type <class 'str'>
['Th', '9/8/05', '80.8', '4.278M', '4.82M']
spot of 80.8 with type <class 'str'>
['We', '9/7/05', '80.98', '4.116M', '4.858M']
spot of 80.98 with type <class 'str'>
['Tu', '9/6/05', '81.02', '6.306M', '4.878M']
spot of 81.02 with type <class 'str'>
['Fr', '9/2/05', '79.46', '3.681M', '4.686M']
spot of 79.46 with type <class 'str'>
['Th', '9/1/05', '79.54', '6.391M', '4.733M']
spot of 79.54 with type <class 'str'>
['We', '8/31/05', '80.62', '5.401M', '4.612M']
spot of 80.62 with type <class 'str'>
['Tu', '8/30/05', '80.54', '5.674M', '4.612M']
spot of 80.54 with type <class 'str'>
['Mo', '8/29/05', '81.34', '4.025M', '4.487M']
spot of 81.34 with type <class 'str'>
['Fr', '8/26/05', '80.38', '5.031M', '4.513M']
spot of 80.38 with type <class 'str'>
['Th', '8/25/05', '81.1', '3.607M', '4.425M']
spot of 81.1 with type <class 'str'>
['We', '8/24/05', '81.32', '4.438M', '4.535M']
spot of 81.32 with type <class 'str'>
['Tu', '8/23/05', '82.03', '4M', '4.523M']
spot of 82.03 with type <class 'str'>
['Mo', '8/22/05', '82.6', '5.157M', '4.615M']
spot of 82.6 with type <class 'str'>
['Fr', '8/19/05', '82.76', '6.481M', '4.516M']
spot of 82.76 with type <class 'str'>
['Th', '8/18/05', '81.15', '3.713M', '4.372M']
spot of 81.15 with type <class 'str'>
['We', '8/17/05', '81.3', '4.853M', '4.537M']
spot of 81.3 with type <class 'str'>
['Tu', '8/16/05', '81.3', '4.412M', '4.538M']
spot of 81.3 with type <class 'str'>
['Mo', '8/15/05', '82.5', '3.431M', '4.547M']
spot of 82.5 with type <class 'str'>
['Fr', '8/12/05', '82.19', '4.382M', '4.615M']
spot of 82.19 with type <class 'str'>
['Th', '8/11/05', '82.66', '4.572M', '4.646M']
spot of 82.66 with type <class 'str'>
['We', '8/10/05', '82.02', '5.403M', '4.892M']
spot of 82.02 with type <class 'str'>
['Tu', '8/9/05', '83.5', '3.794M', '5.154M']
spot of 83.5 with type <class 'str'>
['Mo', '8/8/05', '83.36', '4.424M', '5.845M']
spot of 83.36 with type <class 'str'>
['Fr', '8/5/05', '83.36', '3.715M', '6.135M']
spot of 83.36 with type <class 'str'>
['Th', '8/4/05', '83.12', '5.25M', '6.397M']
spot of 83.12 with type <class 'str'>
['We', '8/3/05', '84.06', '4.258M', '6.617M']
spot of 84.06 with type <class 'str'>
['Tu', '8/2/05', '83.31', '5.381M', '7.089M']
spot of 83.31 with type <class 'str'>
['Mo', '8/1/05', '83.43', '3.664M', '7.46M']
spot of 83.43 with type <class 'str'>
['Fr', '7/29/05', '83.46', '4.33M', '7.695M']
spot of 83.46 with type <class 'str'>
['Th', '7/28/05', '83.8', '6.19M', '8.303M']
spot of 83.8 with type <class 'str'>
['We', '7/27/05', '83.87', '4.862M', '8.608M']
spot of 83.87 with type <class 'str'>
['Tu', '7/26/05', '84.12', '4.543M', '8.818M']
spot of 84.12 with type <class 'str'>
['Mo', '7/25/05', '84.2', '4.458M', '8.861M']
spot of 84.2 with type <class 'str'>
['Fr', '7/22/05', '84.44', '4.843M', '8.854M']
spot of 84.44 with type <class 'str'>
['Th', '7/21/05', '84.4', '8.266M', '8.947M']
spot of 84.4 with type <class 'str'>
['We', '7/20/05', '84.6', '9.335M', '8.782M']
spot of 84.6 with type <class 'str'>
['Tu', '7/19/05', '83.7', '14.155M', '8.708M']
spot of 83.7 with type <class 'str'>
['Mo', '7/18/05', '81.81', '8.779M', '8.212M']
spot of 81.81 with type <class 'str'>
['Fr', '7/15/05', '82.38', '7.647M', '8.349M']
spot of 82.38 with type <class 'str'>
['Th', '7/14/05', '82.42', '8.546M', '8.357M']
spot of 82.42 with type <class 'str'>
['We', '7/13/05', '81.45', '11.34M', '8.174M']
spot of 81.45 with type <class 'str'>
['Tu', '7/12/05', '80.04', '10.947M', '7.774M']
spot of 80.04 with type <class 'str'>
['Mo', '7/11/05', '78.96', '7.187M', '7.294M']
spot of 78.96 with type <class 'str'>
['Fr', '7/8/05', '79.3', '13.441M', '7.388M']
spot of 79.3 with type <class 'str'>
['Th', '7/7/05', '77.38', '10.773M', '7.014M']
spot of 77.38 with type <class 'str'>
['We', '7/6/05', '75.81', '8.01M', '6.803M']
spot of 75.81 with type <class 'str'>
['Tu', '7/5/05', '74.79', '5.195M', '6.557M']
spot of 74.79 with type <class 'str'>
['Fr', '7/1/05', '74.67', '4.355M', '6.592M']
spot of 74.67 with type <class 'str'>
['Th', '6/30/05', '74.2', '6.233M', '6.628M']
spot of 74.2 with type <class 'str'>
['We', '6/29/05', '74.73', '5.795M', '6.508M']
spot of 74.73 with type <class 'str'>
['Tu', '6/28/05', '75.3', '8.223M', '6.433M']
spot of 75.3 with type <class 'str'>
['Mo', '6/27/05', '73.88', '6.712M', '6.238M']
spot of 73.88 with type <class 'str'>
['Fr', '6/24/05', '74.01', '10.829M', '6.189M']
spot of 74.01 with type <class 'str'>
['Th', '6/23/05', '75.41', '7.771M', '5.879M']
spot of 75.41 with type <class 'str'>
['We', '6/22/05', '77.23', '5.799M', '5.629M']
spot of 77.23 with type <class 'str'>
['Tu', '6/21/05', '76.41', '5.34M', '5.762M']
spot of 76.41 with type <class 'str'>
['Mo', '6/20/05', '76.55', '3.747M', '5.835M']
spot of 76.55 with type <class 'str'>
['Fr', '6/17/05', '76.39', '8.595M', '5.796M']
spot of 76.39 with type <class 'str'>
['Th', '6/16/05', '77.05', '7.842M', '5.612M']
spot of 77.05 with type <class 'str'>
['We', '6/15/05', '76.3', '7.609M', '5.455M']
spot of 76.3 with type <class 'str'>
['Tu', '6/14/05', '74.89', '4.32M', '5.325M']
spot of 74.89 with type <class 'str'>
['Mo', '6/13/05', '75.05', '5.717M', '5.354M']
spot of 75.05 with type <class 'str'>
['Fr', '6/10/05', '74.77', '4.896M', '5.395M']
spot of 74.77 with type <class 'str'>
['Th', '6/9/05', '74.93', '4.423M', '5.538M']
spot of 74.93 with type <class 'str'>
['We', '6/8/05', '74.8', '4.678M', '5.947M']
spot of 74.8 with type <class 'str'>
['Tu', '6/7/05', '75.04', '5.288M', '5.977M']
spot of 75.04 with type <class 'str'>
['Mo', '6/6/05', '75', '5.98M', '5.992M']
spot of 75 with type <class 'str'>
['Fr', '6/3/05', '75.79', '6.182M', '6.072M']
spot of 75.79 with type <class 'str'>
['Th', '6/2/05', '77.35', '4.028M', '6.064M']
spot of 77.35 with type <class 'str'>
['We', '6/1/05', '76.84', '7.793M', '6.275M']
spot of 76.84 with type <class 'str'>
['Tu', '5/31/05', '75.55', '6.423M', '6.292M']
spot of 75.55 with type <class 'str'>
['Fr', '5/27/05', '77.1', '3.168M', '6.238M']
spot of 77.1 with type <class 'str'>
['Th', '5/26/05', '77.14', '5.832M', '6.543M']
spot of 77.14 with type <class 'str'>
['We', '5/25/05', '76', '5.484M', '6.98M']
spot of 76 with type <class 'str'>
['Tu', '5/24/05', '75.81', '5.661M', '6.983M']
spot of 75.81 with type <class 'str'>
['Mo', '5/23/05', '76.51', '4.76M', '7.023M']
spot of 76.51 with type <class 'str'>
['Fr', '5/20/05', '76.41', '6.334M', '7.188M']
spot of 76.41 with type <class 'str'>
['Th', '5/19/05', '77.16', '7.034M', '7.317M']
spot of 77.16 with type <class 'str'>
['We', '5/18/05', '76.36', '10.554M', '7.424M']
spot of 76.36 with type <class 'str'>
['Tu', '5/17/05', '74.29', '5.136M', '7.501M']
spot of 74.29 with type <class 'str'>
['Mo', '5/16/05', '74.34', '5.503M', '7.992M']
spot of 74.34 with type <class 'str'>
['Fr', '5/13/05', '73.16', '7.181M', '8.306M']
spot of 73.16 with type <class 'str'>
['Th', '5/12/05', '72.62', '6.063M', '8.56M']
spot of 72.62 with type <class 'str'>
['We', '5/11/05', '73.28', '7.199M', '9.241M']
spot of 73.28 with type <class 'str'>
['Tu', '5/10/05', '73.3', '8.043M', '10.121M']
spot of 73.3 with type <class 'str'>
['Mo', '5/9/05', '74.98', '5.617M', '10.204M']
spot of 74.98 with type <class 'str'>
['Fr', '5/6/05', '75.26', '7.752M', '10.713M']
spot of 75.26 with type <class 'str'>
['Th', '5/5/05', '75.5', '12.377M', '12.059M']
spot of 75.5 with type <class 'str'>
['We', '5/4/05', '77.08', '5.536M', '11.948M']
spot of 77.08 with type <class 'str'>
['Tu', '5/3/05', '76.47', '6.255M', '12.052M']
spot of 76.47 with type <class 'str'>
['Mo', '5/2/05', '76.51', '7.243M', '12.198M']
spot of 76.51 with type <class 'str'>
['Fr', '4/29/05', '76.38', '8.261M', '12.268M']
spot of 76.38 with type <class 'str'>
['Th', '4/28/05', '75.91', '8.638M', '12.069M']
spot of 75.91 with type <class 'str'>
['We', '4/27/05', '77.05', '11.708M', '11.918M']
spot of 77.05 with type <class 'str'>
['Tu', '4/26/05', '75.43', '12.5M', '11.66M']
spot of 75.43 with type <class 'str'>
['Mo', '4/25/05', '74.61', '10.223M', '11.132M']
spot of 74.61 with type <class 'str'>
['Fr', '4/22/05', '74.21', '10.986M', '10.7M']
spot of 74.21 with type <class 'str'>
['Th', '4/21/05', '74.03', '16.274M', '10.35M']
spot of 74.03 with type <class 'str'>
['We', '4/20/05', '72.01', '20.395M', '9.56M']
spot of 72.01 with type <class 'str'>
['Tu', '4/19/05', '75.48', '9.295M', '8.552M']
spot of 75.48 with type <class 'str'>
['Mo', '4/18/05', '76.65', '13.256M', '8.338M']
spot of 76.65 with type <class 'str'>
['Fr', '4/15/05', '76.7', '27.934M', '7.738M']
spot of 76.7 with type <class 'str'>
['Th', '4/14/05', '83.64', '10.715M', '6.182M']
spot of 83.64 with type <class 'str'>
['We', '4/13/05', '84.57', '7.091M', '5.834M']
spot of 84.57 with type <class 'str'>
['Tu', '4/12/05', '85.75', '8.451M', '5.658M']
spot of 85.75 with type <class 'str'>
['Mo', '4/11/05', '86.2', '8.297M', '5.387M']
spot of 86.2 with type <class 'str'>
['Fr', '4/8/05', '87.6', '5.273M', '5.337M']
spot of 87.6 with type <class 'str'>
['Th', '4/7/05', '88.44', '6.377M', '5.359M']
spot of 88.44 with type <class 'str'>
['We', '4/6/05', '89', '7.837M', '5.272M']
spot of 89 with type <class 'str'>
['Tu', '4/5/05', '89.57', '4.579M', '4.994M']
spot of 89.57 with type <class 'str'>
['Mo', '4/4/05', '90.32', '3.738M', '4.951M']
spot of 90.32 with type <class 'str'>
['Fr', '4/1/05', '90.44', '5.741M', '5.001M']
spot of 90.44 with type <class 'str'>
['Th', '3/31/05', '91.38', '4.419M', '4.847M']
spot of 91.38 with type <class 'str'>
['We', '3/30/05', '90.68', '5.272M', '4.853M']
spot of 90.68 with type <class 'str'>
['Tu', '3/29/05', '90.6', '6.094M', '4.841M']
spot of 90.6 with type <class 'str'>
['Mo', '3/28/05', '91.04', '4.258M', '4.971M']
spot of 91.04 with type <class 'str'>
['Th', '3/24/05', '90.7', '4.596M', '5.004M']
spot of 90.7 with type <class 'str'>
['We', '3/23/05', '90.52', '5.483M', '4.967M']
spot of 90.52 with type <class 'str'>
['Tu', '3/22/05', '89.5', '4.453M', '4.904M']
spot of 89.5 with type <class 'str'>
['Mo', '3/21/05', '89.51', '4.396M', '4.862M']
spot of 89.51 with type <class 'str'>
['Fr', '3/18/05', '89.28', '7.545M', '4.9M']
spot of 89.28 with type <class 'str'>
['Th', '3/17/05', '89.86', '5.597M', '4.669M']
spot of 89.86 with type <class 'str'>
['We', '3/16/05', '90.65', '5.07M', '4.573M']
spot of 90.65 with type <class 'str'>
['Tu', '3/15/05', '91.38', '3.663M', '4.61M']
spot of 91.38 with type <class 'str'>
['Mo', '3/14/05', '91.9', '3.936M', '4.688M']
spot of 91.9 with type <class 'str'>
['Fr', '3/11/05', '91.51', '4.494M', '4.718M']
spot of 91.51 with type <class 'str'>
['Th', '3/10/05', '92.41', '3.425M', '4.703M']
spot of 92.41 with type <class 'str'>
['We', '3/9/05', '92.35', '4.514M', '4.777M']
spot of 92.35 with type <class 'str'>
['Tu', '3/8/05', '92.13', '5.088M', '4.762M']
spot of 92.13 with type <class 'str'>
['Mo', '3/7/05', '91.6', '8.051M', '4.614M']
spot of 91.6 with type <class 'str'>
['Fr', '3/4/05', '92.37', '4.754M', '4.36M']
spot of 92.37 with type <class 'str'>
['Th', '3/3/05', '92.41', '4.038M', '4.366M']
spot of 92.41 with type <class 'str'>
['We', '3/2/05', '92.92', '4.541M', '4.474M']
spot of 92.92 with type <class 'str'>
['Tu', '3/1/05', '93.3', '3.822M', '4.407M']
spot of 93.3 with type <class 'str'>
['Mo', '2/28/05', '92.58', '4.964M', '4.342M']
spot of 92.58 with type <class 'str'>
['Fr', '2/25/05', '92.8', '4.081M', '4.265M']
spot of 92.8 with type <class 'str'>
['Th', '2/24/05', '92.64', '4.154M', '4.256M']
spot of 92.64 with type <class 'str'>
['We', '2/23/05', '92.1', '5.623M', '4.229M']
spot of 92.1 with type <class 'str'>
['Tu', '2/22/05', '92.32', '4.835M', '4.097M']
spot of 92.32 with type <class 'str'>
['Fr', '2/18/05', '93.27', '4.39M', '4.101M']
spot of 93.27 with type <class 'str'>
['Th', '2/17/05', '93.75', '4.259M', '4.205M']
spot of 93.75 with type <class 'str'>
['We', '2/16/05', '94.62', '4.536M', '4.238M']
spot of 94.62 with type <class 'str'>
['Tu', '2/15/05', '94.33', '4.299M', '4.278M']
spot of 94.33 with type <class 'str'>
['Mo', '2/14/05', '93.57', '2.869M', '4.33M']
spot of 93.57 with type <class 'str'>
['Fr', '2/11/05', '93.3', '4.233M', '4.584M']
spot of 93.3 with type <class 'str'>
['Th', '2/10/05', '92.76', '4.839M', '4.768M']
spot of 92.76 with type <class 'str'>
['We', '2/9/05', '92.7', '5.664M', '4.826M']
spot of 92.7 with type <class 'str'>
['Tu', '2/8/05', '94.13', '3.541M', '4.947M']
spot of 94.13 with type <class 'str'>
['Mo', '2/7/05', '94.53', '2.84M', '5.287M']
spot of 94.53 with type <class 'str'>
['Fr', '2/4/05', '94.51', '3.808M', '5.466M']
spot of 94.51 with type <class 'str'>
['Th', '2/3/05', '93.54', '3.944M', '5.568M']
spot of 93.54 with type <class 'str'>
['We', '2/2/05', '94.3', '3.753M', '5.694M']
spot of 94.3 with type <class 'str'>
['Tu', '2/1/05', '93.86', '3.644M', '5.76M']
spot of 93.86 with type <class 'str'>
['Mo', '1/31/05', '93.42', '4.89M', '5.826M']
spot of 93.42 with type <class 'str'>
['Fr', '1/28/05', '92.89', '5.961M', '5.913M']
spot of 92.89 with type <class 'str'>
['Th', '1/27/05', '91.98', '4.749M', '5.82M']
spot of 91.98 with type <class 'str'>
['We', '1/26/05', '91.95', '5.143M', '5.88M']
spot of 91.95 with type <class 'str'>
['Tu', '1/25/05', '92.19', '5.071M', '5.918M']
spot of 92.19 with type <class 'str'>
['Mo', '1/24/05', '91.79', '6.673M', '5.933M']
spot of 91.79 with type <class 'str'>
['Fr', '1/21/05', '92.38', '7.003M', '5.675M']
spot of 92.38 with type <class 'str'>
['Th', '1/20/05', '93', '5.709M', '5.462M']
spot of 93 with type <class 'str'>
['We', '1/19/05', '93.1', '7.476M', '5.302M']
spot of 93.1 with type <class 'str'>
['Tu', '1/18/05', '94.9', '8.643M', '5.093M']
spot of 94.9 with type <class 'str'>
['Fr', '1/14/05', '94.1', '5.521M', '4.734M']
spot of 94.1 with type <class 'str'>
['Th', '1/13/05', '94.45', '5.341M', '4.605M']
spot of 94.45 with type <class 'str'>
['We', '1/12/05', '95.21', '5.83M', '4.579M']
spot of 95.21 with type <class 'str'>
['Tu', '1/11/05', '95', '4.751M', '4.513M']
spot of 95 with type <class 'str'>
['Mo', '1/10/05', '95.68', '4.626M', '4.515M']
spot of 95.68 with type <class 'str'>
['Fr', '1/7/05', '95.78', '6.201M', '4.798M']
spot of 95.78 with type <class 'str'>
['Th', '1/6/05', '96.2', '4.562M', '4.762M']
spot of 96.2 with type <class 'str'>
['We', '1/5/05', '96.5', '5.647M', '4.719M']
spot of 96.5 with type <class 'str'>
['Tu', '1/4/05', '96.7', '5.711M', '4.642M']

spot of 96.7 with type <class 'str'>
['Mo', '1/3/05', '97.75', '5.301M', '4.581M']
spot of 97.75 with type <class 'str'>
['Fr', '12/31/04', '98.58', '2.801M', '4.507M']
spot of 98.58 with type <class 'str'>
['Th', '12/30/04', '98.3', '3.812M', '4.701M']
spot of 98.3 with type <class 'str'>
['We', '12/29/04', '98.18', '3.304M', '4.801M']
spot of 98.18 with type <class 'str'>
['Tu', '12/28/04', '98.3', '4.341M', '5.013M']
spot of 98.3 with type <class 'str'>
['Mo', '12/27/04', '97.5', '3.263M', '5.074M']
spot of 97.5 with type <class 'str'>
['Th', '12/23/04', '97.72', '3.591M', '5.325M']
spot of 97.72 with type <class 'str'>
['We', '12/22/04', '97.61', '4.95M', '5.432M']
spot of 97.61 with type <class 'str'>
['Tu', '12/21/04', '97.02', '4.842M', '5.479M']
spot of 97.02 with type <class 'str'>
['Mo', '12/20/04', '96.55', '4.77M', '5.548M']
spot of 96.55 with type <class 'str'>
['Fr', '12/17/04', '96.2', '8.878M', '5.61M']
spot of 96.2 with type <class 'str'>
['Th', '12/16/04', '97.45', '5.66M', '5.165M']
spot of 97.45 with type <class 'str'>
['We', '12/15/04', '97.33', '3.915M', '5.038M']
spot of 97.33 with type <class 'str'>
['Tu', '12/14/04', '97.31', '4.493M', '5.145M']
spot of 97.31 with type <class 'str'>
['Mo', '12/13/04', '96.45', '4.8M', '5.234M']
spot of 96.45 with type <class 'str'>
['Fr', '12/10/04', '96.67', '4.188M', '5.292M']
spot of 96.67 with type <class 'str'>
['Th', '12/9/04', '97.51', '5.714M', '5.324M']
spot of 97.51 with type <class 'str'>
['We', '12/8/04', '96.65', '5.312M', '5.366M']
spot of 96.65 with type <class 'str'>
['Tu', '12/7/04', '96.1', '6.479M', '5.391M']
spot of 96.1 with type <class 'str'>
['Mo', '12/6/04', '97.67', '5.263M', '5.285M']
spot of 97.67 with type <class 'str'>
['Fr', '12/3/04', '97.08', '7.027M', '5.265M']
spot of 97.08 with type <class 'str'>
['Th', '12/2/04', '95.76', '5.184M', '5.294M']
spot of 95.76 with type <class 'str'>
['We', '12/1/04', '95.88', '5.665M', '5.365M']
spot of 95.88 with type <class 'str'>
['Tu', '11/30/04', '94.24', '5.872M', '5.288M']
spot of 94.24 with type <class 'str'>
['Mo', '11/29/04', '95.5', '5.7M', '5.224M']
spot of 95.5 with type <class 'str'>
['Fr', '11/26/04', '94.72', '2.204M', '5.291M']
spot of 94.72 with type <class 'str'>
['We', '11/24/04', '95.46', '3.751M', '5.608M']
spot of 95.46 with type <class 'str'>
['Tu', '11/23/04', '95.28', '5.53M', '5.795M']
spot of 95.28 with type <class 'str'>
['Mo', '11/22/04', '95.11', '5.818M', '5.785M']
spot of 95.11 with type <class 'str'>
['Fr', '11/19/04', '94.45', '5.68M', '5.742M']
spot of 94.45 with type <class 'str'>
['Th', '11/18/04', '95.1', '4.656M', '5.664M']
spot of 95.1 with type <class 'str'>
['We', '11/17/04', '95.46', '6.353M', '5.636M']
spot of 95.46 with type <class 'str'>
['Tu', '11/16/04', '94.89', '5.687M', '5.614M']
spot of 94.89 with type <class 'str'>
['Mo', '11/15/04', '95.92', '4.888M', '5.724M']
spot of 95.92 with type <class 'str'>
['Fr', '11/12/04', '95.32', '4.96M', '5.783M']
spot of 95.32 with type <class 'str'>
['Th', '11/11/04', '94.79', '7.454M', '5.853M']
spot of 94.79 with type <class 'str'>
['We', '11/10/04', '93.61', '6.258M', '5.774M']
spot of 93.61 with type <class 'str'>
['Tu', '11/9/04', '93.37', '4.513M', '5.829M']
spot of 93.37 with type <class 'str'>
['Mo', '11/8/04', '93.37', '4.907M', '6.449M']
spot of 93.37 with type <class 'str'>
['Fr', '11/5/04', '93.28', '6.709M', '6.608M']
spot of 93.28 with type <class 'str'>
['Th', '11/4/04', '92.38', '6.952M', '6.556M']
spot of 92.38 with type <class 'str'>
['We', '11/3/04', '91.2', '6.553M', '6.374M']
spot of 91.2 with type <class 'str'>
['Tu', '11/2/04', '90.47', '5.391M', '6.382M']
spot of 90.47 with type <class 'str'>
['Mo', '11/1/04', '90.11', '5.161M', '6.331M']
spot of 90.11 with type <class 'str'>
['Fr', '10/29/04', '89.75', '4.519M', '6.188M']
spot of 89.75 with type <class 'str'>
['Th', '10/28/04', '89.5', '4.227M', '6.159M']
spot of 89.5 with type <class 'str'>
['We', '10/27/04', '90', '6.035M', '6.083M']
spot of 90 with type <class 'str'>
['Tu', '10/26/04', '89', '7.338M', '5.946M']
spot of 89 with type <class 'str'>
['Mo', '10/25/04', '88.43', '5.775M', '5.8M']
spot of 88.43 with type <class 'str'>
['Fr', '10/22/04', '87.39', '5.999M', '5.749M']
spot of 87.39 with type <class 'str'>
['Th', '10/21/04', '88.1', '6.272M', '5.652M']
spot of 88.1 with type <class 'str'>
['We', '10/20/04', '88.82', '7.08M', '5.58M']
spot of 88.82 with type <class 'str'>
['Tu', '10/19/04', '89.37', '13.825M', '5.388M']
spot of 89.37 with type <class 'str'>
['Mo', '10/18/04', '85.92', '7.281M', '4.725M']
spot of 85.92 with type <class 'str'>
['Fr', '10/15/04', '84.85', '5.929M', '4.55M']
spot of 84.85 with type <class 'str'>
['Th', '10/14/04', '84.78', '4.234M', '4.481M']
spot of 84.78 with type <class 'str'>
['We', '10/13/04', '84.98', '6.665M', '4.519M']
spot of 84.98 with type <class 'str'>
['Tu', '10/12/04', '86', '4.627M', '4.41M']
spot of 86 with type <class 'str'>
['Mo', '10/11/04', '86.63', '3.016M', '4.372M']
spot of 86.63 with type <class 'str'>
['Fr', '10/8/04', '86.71', '4.09M', '4.463M']
spot of 86.71 with type <class 'str'>
['Th', '10/7/04', '87.42', '3.077M', '4.604M']
spot of 87.42 with type <class 'str'>
['We', '10/6/04', '88.04', '3.984M', '4.64M']
spot of 88.04 with type <class 'str'>
['Tu', '10/5/04', '87.32', '5.151M', '4.683M']
spot of 87.32 with type <class 'str'>
['Mo', '10/4/04', '87.16', '5.001M', '4.603M']
spot of 87.16 with type <class 'str'>
['Fr', '10/1/04', '86.72', '4.543M', '4.585M']
spot of 86.72 with type <class 'str'>
['Th', '9/30/04', '85.74', '5.198M', '4.533M']
spot of 85.74 with type <class 'str'>
['We', '9/29/04', '84.98', '4.205M', '4.487M']
spot of 84.98 with type <class 'str'>
['Tu', '9/28/04', '84.48', '3.874M', '4.589M']
spot of 84.48 with type <class 'str'>
['Mo', '9/27/04', '84.16', '4.65M', '4.597M']
spot of 84.16 with type <class 'str'>
['Fr', '9/24/04', '84.43', '4.9M', '4.519M']
spot of 84.43 with type <class 'str'>
['Th', '9/23/04', '83.88', '4.801M', '4.419M']
spot of 83.88 with type <class 'str'>
['We', '9/22/04', '84.31', '5.037M', '4.415M']
spot of 84.31 with type <class 'str'>
['Tu', '9/21/04', '85.72', '4.05M', '4.306M']
spot of 85.72 with type <class 'str'>
['Mo', '9/20/04', '85.7', '4.38M', '4.188M']
spot of 85.7 with type <class 'str'>
['Fr', '9/17/04', '85.74', '6.203M', '4.059M']
spot of 85.74 with type <class 'str'>
['Th', '9/16/04', '86.12', '3.623M', '3.854M']
spot of 86.12 with type <class 'str'>
['We', '9/15/04', '86.37', '4.631M', '3.907M']
spot of 86.37 with type <class 'str'>
['Tu', '9/14/04', '86.72', '3.954M', '3.779M']
spot of 86.72 with type <class 'str'>
['Mo', '9/13/04', '86.49', '4.728M', '3.799M']
spot of 86.49 with type <class 'str'>
['Fr', '9/10/04', '86.76', '3.754M', '3.784M']
spot of 86.76 with type <class 'str'>
['Th', '9/9/04', '86.44', '4.517M', '3.847M']
spot of 86.44 with type <class 'str'>
['We', '9/8/04', '85.86', '5.728M', '3.868M']
spot of 85.86 with type <class 'str'>
['Tu', '9/7/04', '84.97', '4.005M', '3.724M']
spot of 84.97 with type <class 'str'>
['Fr', '9/3/04', '84.39', '3.48M', '3.748M']
spot of 84.39 with type <class 'str'>
['Th', '9/2/04', '84.57', '3.389M', '3.903M']
spot of 84.57 with type <class 'str'>
['We', '9/1/04', '84.22', '4.749M', '4.152M']
spot of 84.22 with type <class 'str'>
['Tu', '8/31/04', '84.69', '3.401M', '4.187M']
spot of 84.69 with type <class 'str'>
['Mo', '8/30/04', '84.4', '2.278M', '4.251M']
spot of 84.4 with type <class 'str'>
['Fr', '8/27/04', '84.94', '2.445M', '4.34M']
spot of 84.94 with type <class 'str'>
['Th', '8/26/04', '84.69', '3.134M', '4.525M']
spot of 84.69 with type <class 'str'>
['We', '8/25/04', '85.07', '4.406M', '4.575M']
spot of 85.07 with type <class 'str'>
['Tu', '8/24/04', '84.71', '2.71M', '4.559M']
spot of 84.71 with type <class 'str'>
['Mo', '8/23/04', '84.65', '4.263M', '4.654M']
spot of 84.65 with type <class 'str'>
['Fr', '8/20/04', '85.25', '4.502M', '4.603M']
spot of 85.25 with type <class 'str'>
['Th', '8/19/04', '84.89', '4.705M', '4.542M']
spot of 84.89 with type <class 'str'>
['We', '8/18/04', '85.13', '4.834M', '4.51M']
spot of 85.13 with type <class 'str'>
['Tu', '8/17/04', '84.04', '3.56M', '4.626M']
spot of 84.04 with type <class 'str'>
['Mo', '8/16/04', '84.02', '4.362M', '4.662M']
spot of 84.02 with type <class 'str'>
['Fr', '8/13/04', '83.91', '5.802M', '4.676M']
spot of 83.91 with type <class 'str'>
['Th', '8/12/04', '82.21', '7.135M', '4.577M']
spot of 82.21 with type <class 'str'>
['We', '8/11/04', '83.69', '5.269M', '4.502M']
spot of 83.69 with type <class 'str'>
['Tu', '8/10/04', '84.99', '4.359M', '4.519M']
spot of 84.99 with type <class 'str'>
['Mo', '8/9/04', '83.55', '3.621M', '4.605M']
spot of 83.55 with type <class 'str'>
['Fr', '8/6/04', '83.48', '5.219M', '4.804M']
spot of 83.48 with type <class 'str'>
['Th', '8/5/04', '85.19', '3.88M', '5.152M']
spot of 85.19 with type <class 'str'>
['We', '8/4/04', '85.97', '4.161M', '5.366M']
spot of 85.97 with type <class 'str'>
['Tu', '8/3/04', '85.71', '4.147M', '5.508M']
spot of 85.71 with type <class 'str'>
['Mo', '8/2/04', '86.69', '3.494M', '5.632M']
spot of 86.69 with type <class 'str'>
['Fr', '7/30/04', '87.07', '3.584M', '5.8M']
spot of 87.07 with type <class 'str'>
['Th', '7/29/04', '86.77', '4.232M', '6M']
spot of 86.77 with type <class 'str'>
['We', '7/28/04', '85.85', '6.566M', '6.22M']
spot of 85.85 with type <class 'str'>
['Tu', '7/27/04', '85.88', '4.099M', '6.161M']
spot of 85.88 with type <class 'str'>
['Mo', '7/26/04', '85.09', '4.578M', '6.315M']
spot of 85.09 with type <class 'str'>
['Fr', '7/23/04', '84.85', '4.309M', '6.201M']
spot of 84.85 with type <class 'str'>
['Th', '7/22/04', '86.06', '6.007M', '6.254M']
spot of 86.06 with type <class 'str'>
['We', '7/21/04', '85.3', '5.534M', '6.168M']
spot of 85.3 with type <class 'str'>
['Tu', '7/20/04', '86.36', '5.652M', '6.092M']
spot of 86.36 with type <class 'str'>
['Mo', '7/19/04', '85.3', '6.596M', '6.011M']
spot of 85.3 with type <class 'str'>
['Fr', '7/16/04', '84.28', '10.442M', '5.945M']
spot of 84.28 with type <class 'str'>
['Th', '7/15/04', '84.02', '7.088M', '5.523M']
spot of 84.02 with type <class 'str'>
['We', '7/14/04', '84.13', '6.299M', '5.342M']
spot of 84.13 with type <class 'str'>
['Tu', '7/13/04', '85.25', '6.002M', '5.2M']
spot of 85.25 with type <class 'str'>
['Mo', '7/12/04', '84.95', '6.009M', '5.058M']
spot of 84.95 with type <class 'str'>
['Fr', '7/9/04', '83.89', '6.595M', '5.089M']
spot of 83.89 with type <class 'str'>
['Th', '7/8/04', '83.65', '7.53M', '4.93M']
spot of 83.65 with type <class 'str'>
['We', '7/7/04', '85.35', '5.677M', '4.638M']
spot of 85.35 with type <class 'str'>
['Tu', '7/6/04', '85.7', '6.408M', '4.56M']
spot of 85.7 with type <class 'str'>
['Fr', '7/2/04', '87.04', '2.875M', '4.408M']
spot of 87.04 with type <class 'str'>
['Th', '7/1/04', '87.5', '5.094M', '4.447M']
spot of 87.5 with type <class 'str'>
['We', '6/30/04', '88.15', '4.726M', '4.457M']
spot of 88.15 with type <class 'str'>
['Tu', '6/29/04', '88.29', '4.395M', '4.502M']
spot of 88.29 with type <class 'str'>
['Mo', '6/28/04', '88.71', '4.423M', '4.493M']
spot of 88.71 with type <class 'str'>
['Fr', '6/25/04', '89.55', '5.618M', '4.451M']
spot of 89.55 with type <class 'str'>
['Th', '6/24/04', '89.99', '4.104M', '4.278M']
spot of 89.99 with type <class 'str'>
['We', '6/23/04', '90.79', '4.372M', '4.265M']
spot of 90.79 with type <class 'str'>
['Tu', '6/22/04', '90.02', '4.178M', '4.299M']
spot of 90.02 with type <class 'str'>
['Mo', '6/21/04', '89.49', '3.868M', '4.234M']
spot of 89.49 with type <class 'str'>
['Fr', '6/18/04', '90.06', '6.477M', '4.249M']
spot of 90.06 with type <class 'str'>
['Th', '6/17/04', '90.44', '4.208M', '4.105M']
spot of 90.44 with type <class 'str'>
['We', '6/16/04', '90.38', '3.147M', '4.181M']
spot of 90.38 with type <class 'str'>
['Tu', '6/15/04', '90.54', '4.508M', '4.224M']
spot of 90.54 with type <class 'str'>
['Mo', '6/14/04', '90.07', '4.121M', '4.265M']
spot of 90.07 with type <class 'str'>
['Th', '6/10/04', '90.46', '3.469M', '4.259M']
spot of 90.46 with type <class 'str'>
['We', '6/9/04', '90.09', '5.233M', '4.523M']
spot of 90.09 with type <class 'str'>
['Tu', '6/8/04', '90.04', '5.4M', '4.468M']
spot of 90.04 with type <class 'str'>
['Mo', '6/7/04', '88.64', '4.265M', '4.488M']
spot of 88.64 with type <class 'str'>
['Fr', '6/4/04', '87.56', '3.803M', '4.55M']
spot of 87.56 with type <class 'str'>
['Th', '6/3/04', '87.35', '3.012M', '4.61M']
spot of 87.35 with type <class 'str'>
['We', '6/2/04', '87.98', '3.914M', '4.973M']
spot of 87.98 with type <class 'str'>
['Tu', '6/1/04', '88.12', '4.885M', '5.15M']
spot of 88.12 with type <class 'str'>
['Fr', '5/28/04', '88.59', '3.204M', '5.271M']
spot of 88.59 with type <class 'str'>
['Th', '5/27/04', '88.59', '4.095M', '5.418M']
spot of 88.59 with type <class 'str'>
['We', '5/26/04', '88.35', '4.308M', '5.433M']
spot of 88.35 with type <class 'str'>
['Tu', '5/25/04', '88.7', '5.358M', '5.439M']
spot of 88.7 with type <class 'str'>
['Mo', '5/24/04', '87.1', '3.778M', '5.445M']
spot of 87.1 with type <class 'str'>
['Fr', '5/21/04', '87.13', '5.13M', '5.598M']
spot of 87.13 with type <class 'str'>
['Th', '5/20/04', '87.42', '4.033M', '5.59M']
spot of 87.42 with type <class 'str'>
['We', '5/19/04', '87.05', '7.432M', '5.839M']
spot of 87.05 with type <class 'str'>
['Tu', '5/18/04', '86.06', '4.401M', '5.658M']
spot of 86.06 with type <class 'str'>
['Mo', '5/17/04', '85.53', '5.7M', '5.682M']
spot of 85.53 with type <class 'str'>
['Fr', '5/14/04', '86.41', '5.198M', '5.604M']
spot of 86.41 with type <class 'str'>
['Th', '5/13/04', '87.19', '4.71M', '5.595M']
spot of 87.19 with type <class 'str'>
['We', '5/12/04', '86.81', '8.446M', '5.814M']
spot of 86.81 with type <class 'str'>
['Tu', '5/11/04', '87.13', '6.575M', '5.559M']
spot of 87.13 with type <class 'str'>
['Mo', '5/10/04', '86.88', '6.693M', '5.405M']
spot of 86.88 with type <class 'str'>
['Fr', '5/7/04', '88.19', '5.407M', '5.236M']
spot of 88.19 with type <class 'str'>
['Th', '5/6/04', '88.36', '4.319M', '5.617M']
spot of 88.36 with type <class 'str'>
['We', '5/5/04', '88.96', '4.402M', '5.786M']
spot of 88.96 with type <class 'str'>
['Tu', '5/4/04', '89', '5.452M', '5.848M']
spot of 89 with type <class 'str'>
['Mo', '5/3/04', '88.02', '6.07M', '5.818M']
spot of 88.02 with type <class 'str'>
['Fr', '4/30/04', '88.17', '5.02M', '5.621M']
spot of 88.17 with type <class 'str'>
['Th', '4/29/04', '89.08', '7.764M', '5.544M']
spot of 89.08 with type <class 'str'>
['We', '4/28/04', '90.41', '4.706M', '5.329M']
spot of 90.41 with type <class 'str'>
['Tu', '4/27/04', '91.11', '4.768M', '5.273M']
spot of 91.11 with type <class 'str'>
['Mo', '4/26/04', '90.43', '4.534M', '5.217M']
spot of 90.43 with type <class 'str'>
['Fr', '4/23/04', '91.28', '5.063M', '5.308M']
spot of 91.28 with type <class 'str'>
['Th', '4/22/04', '90.74', '7.988M', '5.253M']
spot of 90.74 with type <class 'str'>
['We', '4/21/04', '91.26', '4.624M', '5.028M']
spot of 91.26 with type <class 'str'>
['Tu', '4/20/04', '90.65', '4.263M', '5.081M']
spot of 90.65 with type <class 'str'>
['Mo', '4/19/04', '91.94', '4.159M', '5.122M']
spot of 91.94 with type <class 'str'>
['Fr', '4/16/04', '92.28', '11.118M', '5.138M']
spot of 92.28 with type <class 'str'>
['Th', '4/15/04', '93.97', '6.866M', '4.769M']
spot of 93.97 with type <class 'str'>
['We', '4/14/04', '93.7', '5.319M', '4.726M']
spot of 93.7 with type <class 'str'>
['Tu', '4/13/04', '93.04', '5.014M', '4.709M']
spot of 93.04 with type <class 'str'>
['Mo', '4/12/04', '93.74', '3.113M', '4.79M']
spot of 93.74 with type <class 'str'>
['Th', '4/8/04', '93.12', '3.868M', '5.061M']
spot of 93.12 with type <class 'str'>
['We', '4/7/04', '93.08', '4.528M', '5.11M']
spot of 93.08 with type <class 'str'>
['Tu', '4/6/04', '93.7', '3.864M', '5.119M']
spot of 93.7 with type <class 'str'>
['Mo', '4/5/04', '94.18', '3.936M', '5.171M']
spot of 94.18 with type <class 'str'>
['Fr', '4/2/04', '94.2', '5.895M', '5.343M']
spot of 94.2 with type <class 'str'>
['Th', '4/1/04', '92.37', '4.249M', '5.37M']
spot of 92.37 with type <class 'str'>
['We', '3/31/04', '91.84', '4.614M', '5.657M']
spot of 91.84 with type <class 'str'>
['Tu', '3/30/04', '92.32', '5.416M', '5.785M']
spot of 92.32 with type <class 'str'>
['Mo', '3/29/04', '92.68', '4.879M', '5.85M']
spot of 92.68 with type <class 'str'>
['Fr', '3/26/04', '92.77', '4.398M', '5.864M']
spot of 92.77 with type <class 'str'>
['Th', '3/25/04', '92.39', '5.586M', '5.836M']
spot of 92.39 with type <class 'str'>
['We', '3/24/04', '91.77', '6.211M', '5.7M']
spot of 91.77 with type <class 'str'>
['Tu', '3/23/04', '91.32', '5.065M', '5.606M']
spot of 91.32 with type <class 'str'>
['Mo', '3/22/04', '91.02', '6.224M', '5.6M']
spot of 91.02 with type <class 'str'>
['Fr', '3/19/04', '91.62', '7.185M', '5.482M']

spot of 91.62 with type <class 'str'>
['Th', '3/18/04', '92.85', '4.605M', '5.318M']
spot of 92.85 with type <class 'str'>
['We', '3/17/04', '93.39', '4.663M', '5.275M']
spot of 93.39 with type <class 'str'>
['Tu', '3/16/04', '92.45', '4.638M', '5.189M']
spot of 92.45 with type <class 'str'>
['Mo', '3/15/04', '91.82', '6.524M', '5.347M']
spot of 91.82 with type <class 'str'>
['Fr', '3/12/04', '93.3', '6.291M', '5.354M']
spot of 93.3 with type <class 'str'>
['Th', '3/11/04', '91.21', '8.561M', '5.314M']
spot of 91.21 with type <class 'str'>
['We', '3/10/04', '93.06', '6.536M', '5.106M']
spot of 93.06 with type <class 'str'>
['Tu', '3/9/04', '94.53', '6.391M', '4.993M']
spot of 94.53 with type <class 'str'>
['Mo', '3/8/04', '94.59', '5.084M', '4.829M']
spot of 94.59 with type <class 'str'>
['Fr', '3/5/04', '96.45', '3.972M', '4.727M']
spot of 96.45 with type <class 'str'>
['Th', '3/4/04', '96.39', '3.55M', '4.703M']
spot of 96.39 with type <class 'str'>
['We', '3/3/04', '96.84', '4.807M', '4.834M']
spot of 96.84 with type <class 'str'>
['Tu', '3/2/04', '96.82', '4.976M', '4.784M']
spot of 96.82 with type <class 'str'>
['Mo', '3/1/04', '97.04', '4.454M', '4.701M']
spot of 97.04 with type <class 'str'>
['Fr', '2/27/04', '96.5', '4.715M', '4.765M']
spot of 96.5 with type <class 'str'>
['Th', '2/26/04', '96.79', '3.968M', '4.849M']
spot of 96.79 with type <class 'str'>
['We', '2/25/04', '96.54', '3.363M', '5.143M']
spot of 96.54 with type <class 'str'>
['Tu', '2/24/04', '96.79', '7.012M', '5.293M']
spot of 96.79 with type <class 'str'>
['Mo', '2/23/04', '95.96', '6.63M', '5.239M']
spot of 95.96 with type <class 'str'>
['Fr', '2/20/04', '97.31', '5.69M', '5.206M']
spot of 97.31 with type <class 'str'>
['Th', '2/19/04', '97.8', '5.448M', '5.269M']
spot of 97.8 with type <class 'str'>
['We', '2/18/04', '98.42', '4.831M', '5.343M']
spot of 98.42 with type <class 'str'>
['Tu', '2/17/04', '99.37', '3.931M', '5.377M']
spot of 99.37 with type <class 'str'>
['Fr', '2/13/04', '99.71', '3.563M', '5.528M']
spot of 99.71 with type <class 'str'>
['Th', '2/12/04', '99.3', '3.612M', '5.643M']
spot of 99.3 with type <class 'str'>
['We', '2/11/04', '99.96', '5.506M', '5.693M']
spot of 99.96 with type <class 'str'>
['Tu', '2/10/04', '99.61', '4.058M', '5.79M']
spot of 99.61 with type <class 'str'>
['Mo', '2/9/04', '98.95', '3.742M', '6.138M']
spot of 98.95 with type <class 'str'>
['Fr', '2/6/04', '98.94', '5.401M', '6.509M']
spot of 98.94 with type <class 'str'>
['Th', '2/5/04', '98.86', '5.975M', '7.47M']
spot of 98.86 with type <class 'str'>
['We', '2/4/04', '100.19', '8.391M', '7.441M']
spot of 100.19 with type <class 'str'>
['Tu', '2/3/04', '100', '5.605M', '7.471M']
spot of 100 with type <class 'str'>
['Mo', '2/2/04', '99.39', '6.2M', '7.439M']
spot of 99.39 with type <class 'str'>
['Fr', '1/30/04', '99.23', '6.138M', '7.555M']
spot of 99.23 with type <class 'str'>
['Th', '1/29/04', '98.01', '6.643M', '7.563M']
spot of 98.01 with type <class 'str'>
['We', '1/28/04', '97.38', '6.552M', '7.448M']
spot of 97.38 with type <class 'str'>
['Tu', '1/27/04', '98.8', '5.346M', '7.303M']
spot of 98.8 with type <class 'str'>
['Mo', '1/26/04', '99.85', '6.19M', '7.299M']
spot of 99.85 with type <class 'str'>
['Fr', '1/23/04', '97.9', '5.284M', '7.242M']
spot of 97.9 with type <class 'str'>
['Th', '1/22/04', '97.51', '4.372M', '7.204M']
spot of 97.51 with type <class 'str'>
['We', '1/21/04', '97.7', '6.953M', '7.18M']
spot of 97.7 with type <class 'str'>
['Tu', '1/20/04', '97.1', '9.285M', '6.985M']
spot of 97.1 with type <class 'str'>
['Fr', '1/16/04', '95.32', '9.305M', '6.46M']
spot of 95.32 with type <class 'str'>
['Th', '1/15/04', '94.02', '19.815M', '5.957M']
spot of 94.02 with type <class 'str'>
['We', '1/14/04', '90.31', '5.537M', '4.881M']
spot of 90.31 with type <class 'str'>
['Tu', '1/13/04', '89.7', '8.843M', '4.801M']
spot of 89.7 with type <class 'str'>
['Mo', '1/12/04', '91.55', '5.13M', '4.684M']
spot of 91.55 with type <class 'str'>
['Fr', '1/9/04', '91.21', '7.932M', '4.8M']
spot of 91.21 with type <class 'str'>
['Th', '1/8/04', '93.04', '6.252M', '4.675M']
spot of 93.04 with type <class 'str'>
['We', '1/7/04', '92.78', '4.928M', '4.756M']
spot of 92.78 with type <class 'str'>
['Tu', '1/6/04', '93.06', '4.38M', '4.825M']
spot of 93.06 with type <class 'str'>
['Mo', '1/5/04', '93.05', '5.277M', '4.871M']
spot of 93.05 with type <class 'str'>
['Fr', '1/2/04', '91.55', '5.331M', '4.947M']
spot of 91.55 with type <class 'str'>
['We', '12/31/03', '92.68', '4.727M', '5.068M']
spot of 92.68 with type <class 'str'>
['Tu', '12/30/03', '92.63', '4.003M', '5.217M']
spot of 92.63 with type <class 'str'>
['Mo', '12/29/03', '93.52', '4.034M', '5.307M']
spot of 93.52 with type <class 'str'>
['Fr', '12/26/03', '92.9', '1.409M', '5.43M']
spot of 92.9 with type <class 'str'>
['We', '12/24/03', '92.27', '1.761M', '5.693M']
spot of 92.27 with type <class 'str'>
['Tu', '12/23/03', '92.79', '3.677M', '5.987M']
spot of 92.79 with type <class 'str'>
['Mo', '12/22/03', '93.39', '4.332M', '6.081M']
spot of 93.39 with type <class 'str'>
['Fr', '12/19/03', '93.14', '7.091M', '6.142M']
spot of 93.14 with type <class 'str'>
['Th', '12/18/03', '92.73', '6.874M', '5.815M']
spot of 92.73 with type <class 'str'>
['We', '12/17/03', '93.4', '6.057M', '5.634M']
spot of 93.4 with type <class 'str'>
['Tu', '12/16/03', '93.98', '7.456M', '5.517M']
spot of 93.98 with type <class 'str'>
['Mo', '12/15/03', '92.11', '5.965M', '5.335M']
spot of 92.11 with type <class 'str'>
['Fr', '12/12/03', '92.71', '5.08M', '5.333M']
spot of 92.71 with type <class 'str'>
['Th', '12/11/03', '92.4', '6.412M', '5.335M']
spot of 92.4 with type <class 'str'>
['We', '12/10/03', '91.73', '7.14M', '5.184M']
spot of 91.73 with type <class 'str'>
['Tu', '12/9/03', '90.63', '6.972M', '5.061M']
spot of 90.63 with type <class 'str'>
['Mo', '12/8/03', '91.2', '5.342M', '4.913M']
spot of 91.2 with type <class 'str'>
['Fr', '12/5/03', '90.64', '5.878M', '4.857M']
spot of 90.64 with type <class 'str'>
['Th', '12/4/03', '91.42', '5.361M', '4.817M']
spot of 91.42 with type <class 'str'>
['We', '12/3/03', '90.3', '6.171M', '4.853M']
spot of 90.3 with type <class 'str'>
['Tu', '12/2/03', '90.75', '5.093M', '4.765M']
spot of 90.75 with type <class 'str'>
['Mo', '12/1/03', '91.01', '5.235M', '4.982M']
spot of 91.01 with type <class 'str'>
['Fr', '11/28/03', '90.54', '2.196M', '5.004M']
spot of 90.54 with type <class 'str'>
['We', '11/26/03', '89.91', '4.147M', '5.236M']
spot of 89.91 with type <class 'str'>
['Tu', '11/25/03', '89.43', '4.306M', '5.379M']
spot of 89.43 with type <class 'str'>
['Mo', '11/24/03', '89.66', '4.722M', '5.435M']
spot of 89.66 with type <class 'str'>
['Fr', '11/21/03', '88.63', '5.936M', '5.509M']
spot of 88.63 with type <class 'str'>
['Th', '11/20/03', '88.39', '5.112M', '5.436M']
spot of 88.39 with type <class 'str'>
['We', '11/19/03', '89.4', '4.157M', '5.531M']
spot of 89.4 with type <class 'str'>
['Tu', '11/18/03', '88.95', '5.285M', '5.6M']
spot of 88.95 with type <class 'str'>
['Mo', '11/17/03', '89.8', '4.749M', '5.711M']
spot of 89.8 with type <class 'str'>
['Fr', '11/14/03', '90.25', '4.511M', '5.735M']
spot of 90.25 with type <class 'str'>
['Th', '11/13/03', '91.09', '5.278M', '5.799M']
spot of 91.09 with type <class 'str'>
['We', '11/12/03', '90.69', '5.906M', '5.85M']
spot of 90.69 with type <class 'str'>
['Tu', '11/11/03', '89.36', '4.841M', '5.83M']
spot of 89.36 with type <class 'str'>
['Mo', '11/10/03', '89.95', '8.35M', '5.86M']
spot of 89.95 with type <class 'str'>
['Fr', '11/7/03', '88.26', '5.571M', '5.768M']
spot of 88.26 with type <class 'str'>
['Th', '11/6/03', '89.34', '5.669M', '6.03M']
spot of 89.34 with type <class 'str'>
['We', '11/5/03', '88.49', '6.297M', '6.785M']
spot of 88.49 with type <class 'str'>
['Tu', '11/4/03', '89.14', '5.147M', '7.144M']
spot of 89.14 with type <class 'str'>
['Mo', '11/3/03', '89.68', '5.826M', '7.114M']
spot of 89.68 with type <class 'str'>
['Fr', '10/31/03', '89.48', '4.849M', '7.035M']
spot of 89.48 with type <class 'str'>
['Th', '10/30/03', '89.12', '6.536M', '7.012M']
spot of 89.12 with type <class 'str'>
['We', '10/29/03', '89.34', '5.183M', '7.082M']
spot of 89.34 with type <class 'str'>
['Tu', '10/28/03', '89.9', '6.96M', '7.165M']
spot of 89.9 with type <class 'str'>
['Mo', '10/27/03', '88.52', '5.099M', '7.059M']
spot of 88.52 with type <class 'str'>
['Fr', '10/24/03', '88.42', '5.472M', '6.975M']
spot of 88.42 with type <class 'str'>
['Th', '10/23/03', '88.15', '6.049M', '7.109M']
spot of 88.15 with type <class 'str'>
['We', '10/22/03', '88.46', '5.6M', '7.201M']
spot of 88.46 with type <class 'str'>
['Tu', '10/21/03', '88.93', '5.287M', '7.356M']
spot of 88.93 with type <class 'str'>
['Mo', '10/20/03', '89', '6.977M', '7.474M']
spot of 89 with type <class 'str'>
['Fr', '10/17/03', '89.23', '9.507M', '7.391M']
spot of 89.23 with type <class 'str'>
['Th', '10/16/03', '89.28', '16.994M', '7.097M']
spot of 89.28 with type <class 'str'>
['We', '10/15/03', '92.74', '11.672M', '6.403M']
spot of 92.74 with type <class 'str'>
['Tu', '10/14/03', '92.72', '4.704M', '6.13M']
spot of 92.72 with type <class 'str'>
['Mo', '10/13/03', '93.2', '4.639M', '6.346M']
spot of 93.2 with type <class 'str'>
['Fr', '10/10/03', '92.67', '4.501M', '6.523M']
spot of 92.67 with type <class 'str'>
['Th', '10/9/03', '92.45', '7.593M', '6.851M']
spot of 92.45 with type <class 'str'>
['We', '10/8/03', '92.66', '6.419M', '6.901M']
spot of 92.66 with type <class 'str'>
['Tu', '10/7/03', '91.7', '5.37M', '7.078M']
spot of 91.7 with type <class 'str'>
['Mo', '10/6/03', '91.18', '3.846M', '7.247M']
spot of 91.18 with type <class 'str'>
['Fr', '10/3/03', '90.64', '7.479M', '7.478M']
spot of 90.64 with type <class 'str'>
['Th', '10/2/03', '90.08', '7.43M', '7.46M']
spot of 90.08 with type <class 'str'>
['We', '10/1/03', '90.35', '7.927M', '7.615M']
spot of 90.35 with type <class 'str'>
['Tu', '9/30/03', '88.33', '7.06M', '7.575M']
spot of 88.33 with type <class 'str'>
['Mo', '9/29/03', '89.45', '5.723M', '7.65M']
spot of 89.45 with type <class 'str'>
['Fr', '9/26/03', '89.05', '5.097M', '7.883M']
spot of 89.05 with type <class 'str'>
['Th', '9/25/03', '89.41', '6.586M', '8.07M']
spot of 89.41 with type <class 'str'>
['We', '9/24/03', '89.4', '7.576M', '8.29M']
spot of 89.4 with type <class 'str'>
['Tu', '9/23/03', '91.34', '7.937M', '8.507M']
spot of 91.34 with type <class 'str'>
['Mo', '9/22/03', '91.39', '7.303M', '8.807M']
spot of 91.39 with type <class 'str'>
['Fr', '9/19/03', '93.28', '9.417M', '8.601M']
spot of 93.28 with type <class 'str'>
['Th', '9/18/03', '92', '8.339M', '8.341M']
spot of 92 with type <class 'str'>
['We', '9/17/03', '90.63', '9.087M', '8.038M']
spot of 90.63 with type <class 'str'>
['Tu', '9/16/03', '90.29', '7.897M', '7.803M']
spot of 90.29 with type <class 'str'>
['Mo', '9/15/03', '88.49', '7.305M', '7.62M']
spot of 88.49 with type <class 'str'>
['Fr', '9/12/03', '88.7', '7.209M', '7.629M']
spot of 88.7 with type <class 'str'>
['Th', '9/11/03', '87.92', '9.761M', '7.494M']
spot of 87.92 with type <class 'str'>
['We', '9/10/03', '87.84', '7.323M', '7.165M']
spot of 87.84 with type <class 'str'>
['Tu', '9/9/03', '89.42', '8.188M', '7.098M']
spot of 89.42 with type <class 'str'>
['Mo', '9/8/03', '89.1', '9.218M', '7.009M']
spot of 89.1 with type <class 'str'>
['Fr', '9/5/03', '86.95', '7.897M', '6.636M']
spot of 86.95 with type <class 'str'>
['Th', '9/4/03', '87.91', '9.891M', '6.414M']
spot of 87.91 with type <class 'str'>
['We', '9/3/03', '86.33', '10.836M', '6.097M']
spot of 86.33 with type <class 'str'>
['Tu', '9/2/03', '85.76', '12.427M', '5.684M']
spot of 85.76 with type <class 'str'>
['Fr', '8/29/03', '82.01', '4.224M', '5.139M']
spot of 82.01 with type <class 'str'>
['Th', '8/28/03', '81.9', '5.516M', '5.165M']
spot of 81.9 with type <class 'str'>
['We', '8/27/03', '82', '3.789M', '5.151M']
spot of 82 with type <class 'str'>
['Tu', '8/26/03', '82.5', '5.57M', '5.397M']
spot of 82.5 with type <class 'str'>
['Mo', '8/25/03', '81.96', '5.152M', '5.494M']
spot of 81.96 with type <class 'str'>
['Fr', '8/22/03', '82.97', '7.435M', '5.543M']
spot of 82.97 with type <class 'str'>
['Th', '8/21/03', '82.85', '5.185M', '5.479M']
spot of 82.85 with type <class 'str'>
['We', '8/20/03', '83.05', '4.83M', '5.67M']
spot of 83.05 with type <class 'str'>
['Tu', '8/19/03', '83.19', '6.319M', '5.792M']
spot of 83.19 with type <class 'str'>
['Mo', '8/18/03', '83.52', '6.848M', '5.856M']
spot of 83.52 with type <class 'str'>
['Fr', '8/15/03', '81.79', '3.624M', '5.828M']
spot of 81.79 with type <class 'str'>
['Th', '8/14/03', '81.56', '4.563M', '6M']
spot of 81.56 with type <class 'str'>
['We', '8/13/03', '81.2', '5.138M', '6.086M']
spot of 81.2 with type <class 'str'>
['Tu', '8/12/03', '81.51', '4.634M', '6.099M']
spot of 81.51 with type <class 'str'>
['Mo', '8/11/03', '81.02', '4.262M', '6.373M']
spot of 81.02 with type <class 'str'>
['Fr', '8/8/03', '80.88', '4.616M', '6.558M']
spot of 80.88 with type <class 'str'>
['Th', '8/7/03', '80.69', '5.3M', '6.821M']
spot of 80.69 with type <class 'str'>
['We', '8/6/03', '79.75', '7.473M', '7.359M']
spot of 79.75 with type <class 'str'>
['Tu', '8/5/03', '79.85', '7.026M', '7.451M']
spot of 79.85 with type <class 'str'>
['Mo', '8/4/03', '81.13', '5.89M', '7.51M']
spot of 81.13 with type <class 'str'>
['Fr', '8/1/03', '81.27', '6.476M', '7.548M']
spot of 81.27 with type <class 'str'>
['Th', '7/31/03', '81.25', '8.051M', '7.418M']
spot of 81.25 with type <class 'str'>
['We', '7/30/03', '80.96', '6.655M', '7.382M']
spot of 80.96 with type <class 'str'>
['Tu', '7/29/03', '81.8', '7.283M', '7.387M']
spot of 81.8 with type <class 'str'>
['Mo', '7/28/03', '82.54', '6.424M', '7.293M']
spot of 82.54 with type <class 'str'>
['Fr', '7/25/03', '83.55', '6.208M', '7.365M']
spot of 83.55 with type <class 'str'>
['Th', '7/24/03', '81.51', '5.859M', '7.152M']
spot of 81.51 with type <class 'str'>
['We', '7/23/03', '82.3', '5.327M', '7.166M']
spot of 82.3 with type <class 'str'>
['Tu', '7/22/03', '81.85', '8.744M', '7.196M']
spot of 81.85 with type <class 'str'>
['Mo', '7/21/03', '82.5', '7.036M', '7.287M']
spot of 82.5 with type <class 'str'>
['Fr', '7/18/03', '83.72', '8.568M', '7.12M']
spot of 83.72 with type <class 'str'>
['Th', '7/17/03', '83.33', '13.367M', '6.974M']
spot of 83.33 with type <class 'str'>
['We', '7/16/03', '86.74', '8.853M', '6.452M']
spot of 86.74 with type <class 'str'>
['Tu', '7/15/03', '86.44', '7.913M', '6.2M']
spot of 86.44 with type <class 'str'>
['Mo', '7/14/03', '85.42', '6.455M', '6.093M']
spot of 85.42 with type <class 'str'>
['Fr', '7/11/03', '84.89', '4.535M', '6.521M']
spot of 84.89 with type <class 'str'>
['Th', '7/10/03', '84.03', '7.509M', '6.703M']
spot of 84.03 with type <class 'str'>
['We', '7/9/03', '85.47', '6.727M', '6.599M']
spot of 85.47 with type <class 'str'>
['Tu', '7/8/03', '86.25', '5.874M', '6.542M']
spot of 86.25 with type <class 'str'>
['Mo', '7/7/03', '86.09', '7.509M', '6.583M']
spot of 86.09 with type <class 'str'>
['Th', '7/3/03', '83.95', '3.01M', '6.465M']
spot of 83.95 with type <class 'str'>
['We', '7/2/03', '84.74', '6.061M', '6.736M']
spot of 84.74 with type <class 'str'>
['Tu', '7/1/03', '83.59', '5.786M', '6.986M']
spot of 83.59 with type <class 'str'>
['Mo', '6/30/03', '82.5', '10.1M', '7.193M']
spot of 82.5 with type <class 'str'>
['Fr', '6/27/03', '83.42', '4.533M', '7.171M']
spot of 83.42 with type <class 'str'>
['Th', '6/26/03', '84.35', '6.374M', '7.879M']
spot of 84.35 with type <class 'str'>
['We', '6/25/03', '82.49', '5.548M', '8.473M']
spot of 82.49 with type <class 'str'>
['Tu', '6/24/03', '83.63', '5.063M', '8.818M']
spot of 83.63 with type <class 'str'>
['Mo', '6/23/03', '83.18', '6.312M', '9.889M']
spot of 83.18 with type <class 'str'>
['Fr', '6/20/03', '84.92', '12.869M', '9.986M']
spot of 84.92 with type <class 'str'>
['Th', '6/19/03', '84.55', '7.277M', '9.542M']
spot of 84.55 with type <class 'str'>
['We', '6/18/03', '84.7', '5.943M', '9.517M']
spot of 84.7 with type <class 'str'>
['Tu', '6/17/03', '84.3', '5.874M', '9.557M']
spot of 84.3 with type <class 'str'>
['Mo', '6/16/03', '84.5', '6.493M', '9.643M']
spot of 84.5 with type <class 'str'>
['Fr', '6/13/03', '82.75', '5.728M', '9.556M']
spot of 82.75 with type <class 'str'>
['Th', '6/12/03', '83.95', '7.073M', '9.593M']
spot of 83.95 with type <class 'str'>
['We', '6/11/03', '83.97', '9.817M', '9.571M']
spot of 83.97 with type <class 'str'>
['Tu', '6/10/03', '81.71', '8.896M', '9.405M']
spot of 81.71 with type <class 'str'>
['Mo', '6/9/03', '82', '9.76M', '9.298M']
spot of 82 with type <class 'str'>
['Fr', '6/6/03', '80.05', '15.165M', '9.103M']
spot of 80.05 with type <class 'str'>
['Th', '6/5/03', '81.9', '15.275M', '8.566M']
spot of 81.9 with type <class 'str'>
['We', '6/4/03', '84.25', '10.735M', '8.064M']

spot of 84.25 with type <class 'str'>
['Tu', '6/3/03', '83.82', '21.118M', '7.927M']
spot of 83.82 with type <class 'str'>
['Mo', '6/2/03', '87.33', '7.767M', '7.082M']
spot of 87.33 with type <class 'str'>
['Fr', '5/30/03', '88.04', '6.213M', '6.979M']
spot of 88.04 with type <class 'str'>
['Th', '5/29/03', '87.36', '6.899M', '7.044M']
spot of 87.36 with type <class 'str'>
['We', '5/28/03', '87.57', '6.542M', '7.034M']
spot of 87.57 with type <class 'str'>
['Tu', '5/27/03', '87.69', '7.164M', '7.096M']
spot of 87.69 with type <class 'str'>
['Fr', '5/23/03', '85.26', '5.189M', '7.127M']
spot of 85.26 with type <class 'str'>
['Th', '5/22/03', '86.08', '6.277M', '7.34M']
spot of 86.08 with type <class 'str'>
['We', '5/21/03', '86.18', '6.742M', '7.421M']
spot of 86.18 with type <class 'str'>
['Tu', '5/20/03', '85.77', '7.333M', '7.534M']
spot of 85.77 with type <class 'str'>
['Mo', '5/19/03', '86.45', '7.299M', '7.627M']
spot of 86.45 with type <class 'str'>
['Fr', '5/16/03', '88.99', '6.833M', '7.565M']
spot of 88.99 with type <class 'str'>
['Th', '5/15/03', '89.9', '7.104M', '7.562M']
spot of 89.9 with type <class 'str'>
['We', '5/14/03', '88.7', '7.753M', '7.485M']
spot of 88.7 with type <class 'str'>
['Tu', '5/13/03', '89.98', '8.669M', '7.441M']
spot of 89.98 with type <class 'str'>
['Mo', '5/12/03', '89', '8.446M', '7.499M']
spot of 89 with type <class 'str'>
['Fr', '5/9/03', '87.55', '6.223M', '7.383M']
spot of 87.55 with type <class 'str'>
['Th', '5/8/03', '86.05', '7.188M', '7.555M']
spot of 86.05 with type <class 'str'>
['We', '5/7/03', '86.68', '6.756M', '7.795M']
spot of 86.68 with type <class 'str'>
['Tu', '5/6/03', '87.51', '7.46M', '8.253M']
spot of 87.51 with type <class 'str'>
['Mo', '5/5/03', '86.52', '7.634M', '8.359M']
spot of 86.52 with type <class 'str'>
['Fr', '5/2/03', '87.57', '8.382M', '8.355M']
spot of 87.57 with type <class 'str'>
['Th', '5/1/03', '85.89', '7.487M', '8.255M']
spot of 85.89 with type <class 'str'>
['We', '4/30/03', '84.9', '8.445M', '8.326M']
spot of 84.9 with type <class 'str'>
['Tu', '4/29/03', '85.66', '8.733M', '8.301M']
spot of 85.66 with type <class 'str'>
['Mo', '4/28/03', '85.12', '6.365M', '8.311M']
spot of 85.12 with type <class 'str'>
['Fr', '4/25/03', '83.88', '6.791M', '8.485M']
spot of 83.88 with type <class 'str'>
['Th', '4/24/03', '85.2', '5.944M', '8.675M']
spot of 85.2 with type <class 'str'>
['We', '4/23/03', '85.75', '7.086M', '8.925M']
spot of 85.75 with type <class 'str'>
['Tu', '4/22/03', '85.63', '9.544M', '8.977M']
spot of 85.63 with type <class 'str'>
['Mo', '4/21/03', '83.36', '6.705M', '9.028M']
spot of 83.36 with type <class 'str'>
['Th', '4/17/03', '84.26', '8.803M', '9.024M']
spot of 84.26 with type <class 'str'>
['We', '4/16/03', '82.88', '10.792M', '8.922M']
spot of 82.88 with type <class 'str'>
['Tu', '4/15/03', '82.79', '13.624M', '8.905M']
spot of 82.79 with type <class 'str'>
['Mo', '4/14/03', '80.07', '9.056M', '8.581M']
spot of 80.07 with type <class 'str'>
['Fr', '4/11/03', '78.75', '7.575M', '8.601M']
spot of 78.75 with type <class 'str'>
['Th', '4/10/03', '79.01', '6.883M', '8.936M']
spot of 79.01 with type <class 'str'>
['We', '4/9/03', '78.71', '8.55M', '9.08M']
spot of 78.71 with type <class 'str'>
['Tu', '4/8/03', '80.07', '8.058M', '9.209M']
spot of 80.07 with type <class 'str'>
['Mo', '4/7/03', '80.47', '8.885M', '9.391M']
spot of 80.47 with type <class 'str'>
['Fr', '4/4/03', '80.79', '8.986M', '9.812M']
spot of 80.79 with type <class 'str'>
['Th', '4/3/03', '81.91', '9.629M', '9.888M']
spot of 81.91 with type <class 'str'>
['We', '4/2/03', '81.46', '9.701M', '9.942M']
spot of 81.46 with type <class 'str'>
['Tu', '4/1/03', '78.73', '7.867M', '10.147M']
spot of 78.73 with type <class 'str'>
['Mo', '3/31/03', '78.43', '10.307M', '10.164M']
spot of 78.43 with type <class 'str'>
['Fr', '3/28/03', '80.85', '6.649M', '9.92M']
spot of 80.85 with type <class 'str'>
['Th', '3/27/03', '81.45', '7.266M', '10.019M']
spot of 81.45 with type <class 'str'>
['We', '3/26/03', '81.55', '10.532M', '9.926M']
spot of 81.55 with type <class 'str'>
['Tu', '3/25/03', '83.45', '8.777M', '9.668M']
spot of 83.45 with type <class 'str'>
['Mo', '3/24/03', '82.25', '9.353M', '9.461M']
spot of 82.25 with type <class 'str'>
['Fr', '3/21/03', '84.9', '12.598M', '9.279M']
spot of 84.9 with type <class 'str'>
['Th', '3/20/03', '82.2', '9.049M', '8.876M']
spot of 82.2 with type <class 'str'>
['We', '3/19/03', '82', '10.474M', '8.934M']
spot of 82 with type <class 'str'>
['Tu', '3/18/03', '82.47', '10.796M', '8.809M']
spot of 82.47 with type <class 'str'>
['Mo', '3/17/03', '82.46', '15.198M', '8.601M']
spot of 82.46 with type <class 'str'>
['Fr', '3/14/03', '79', '10.118M', '8.046M']
spot of 79 with type <class 'str'>
['Th', '3/13/03', '78.45', '10.453M', '7.869M']
spot of 78.45 with type <class 'str'>
['We', '3/12/03', '75.18', '12.774M', '7.592M']
spot of 75.18 with type <class 'str'>
['Tu', '3/11/03', '75.35', '8.121M', '7.103M']
spot of 75.35 with type <class 'str'>
['Mo', '3/10/03', '75.7', '6.643M', '7.081M']
spot of 75.7 with type <class 'str'>
['Fr', '3/7/03', '77.9', '8.129M', '7.192M']
spot of 77.9 with type <class 'str'>
['Th', '3/6/03', '77.07', '5.877M', '7.398M']
spot of 77.07 with type <class 'str'>
['We', '3/5/03', '77.73', '6.659M', '7.38M']
spot of 77.73 with type <class 'str'>
['Tu', '3/4/03', '76.7', '5.672M', '7.51M']
spot of 76.7 with type <class 'str'>
['Mo', '3/3/03', '77.33', '6.618M', '7.662M']
spot of 77.33 with type <class 'str'>
['Fr', '2/28/03', '77.95', '6.556M', '7.774M']
spot of 77.95 with type <class 'str'>
['Th', '2/27/03', '77.28', '9.928M', '7.853M']
spot of 77.28 with type <class 'str'>
['We', '2/26/03', '77.4', '8.587M', '7.687M']
spot of 77.4 with type <class 'str'>
['Tu', '2/25/03', '79.07', '7.676M', '7.595M']
spot of 79.07 with type <class 'str'>
['Mo', '2/24/03', '78.56', '6.879M', '7.529M']
spot of 78.56 with type <class 'str'>
['Fr', '2/21/03', '79.95', '7.464M', '7.72M']
spot of 79.95 with type <class 'str'>
['Th', '2/20/03', '79.04', '6.296M', '7.713M']
spot of 79.04 with type <class 'str'>
['We', '2/19/03', '79.51', '5.441M', '7.81M']
spot of 79.51 with type <class 'str'>
['Tu', '2/18/03', '79.33', '7.793M', '7.982M']
spot of 79.33 with type <class 'str'>
['Fr', '2/14/03', '77.45', '8.3M', '8.083M']
spot of 77.45 with type <class 'str'>
['Th', '2/13/03', '75.86', '11.219M', '8.046M']
spot of 75.86 with type <class 'str'>
['We', '2/12/03', '76.5', '5.618M', '7.856M']
spot of 76.5 with type <class 'str'>
['Tu', '2/11/03', '77.39', '8.599M', '8.111M']
spot of 77.39 with type <class 'str'>
['Mo', '2/10/03', '77.91', '7.949M', '8.133M']
spot of 77.91 with type <class 'str'>
['Fr', '2/7/03', '77.1', '8.297M', '8.758M']
spot of 77.1 with type <class 'str'>
['Th', '2/6/03', '77.51', '7.755M', '8.879M']
spot of 77.51 with type <class 'str'>
['We', '2/5/03', '77.26', '7.428M', '8.906M']
spot of 77.26 with type <class 'str'>
['Tu', '2/4/03', '77.09', '7.216M', '8.915M']
spot of 77.09 with type <class 'str'>
['Mo', '2/3/03', '78.18', '6.684M', '9.134M']
spot of 78.18 with type <class 'str'>
['Fr', '1/31/03', '78.2', '9.744M', '9.353M']
spot of 78.2 with type <class 'str'>
['Th', '1/30/03', '78.3', '7.35M', '9.417M']
spot of 78.3 with type <class 'str'>
['We', '1/29/03', '80.32', '7.758M', '9.561M']
spot of 80.32 with type <class 'str'>
['Tu', '1/28/03', '80.11', '8.019M', '9.838M']
spot of 80.11 with type <class 'str'>
['Mo', '1/27/03', '78.42', '9.308M', '9.831M']
spot of 78.42 with type <class 'str'>
['Fr', '1/24/03', '78.99', '7.748M', '9.608M']
spot of 78.99 with type <class 'str'>
['Th', '1/23/03', '81.05', '8.372M', '9.616M']
spot of 81.05 with type <class 'str'>
['We', '1/22/03', '79.7', '9.434M', '9.583M']
spot of 79.7 with type <class 'str'>
['Tu', '1/21/03', '80.54', '8.928M', '9.492M']
spot of 80.54 with type <class 'str'>
['Fr', '1/17/03', '81.3', '17.333M', '9.319M']
spot of 81.3 with type <class 'str'>
['Th', '1/16/03', '86.05', '10.115M', '8.549M']
spot of 86.05 with type <class 'str'>
['We', '1/15/03', '87.59', '8.149M', '8.036M']
spot of 87.59 with type <class 'str'>
['Tu', '1/14/03', '88.58', '7.57M', '7.888M']
spot of 88.58 with type <class 'str'>
['Mo', '1/13/03', '87.51', '10.5M', '7.92M']
spot of 87.51 with type <class 'str'>
['Fr', '1/10/03', '87.68', '9.961M', '7.708M']
spot of 87.68 with type <class 'str'>
['Th', '1/9/03', '87', '10.712M', '7.478M']
spot of 87 with type <class 'str'>
['We', '1/8/03', '84.19', '9.51M', '7.175M']
spot of 84.19 with type <class 'str'>
['Tu', '1/7/03', '86', '11.908M', '7.107M']
spot of 86 with type <class 'str'>
['Mo', '1/6/03', '83.59', '7.925M', '6.831M']
spot of 83.59 with type <class 'str'>
['Fr', '1/3/03', '81.65', '5.963M', '6.784M']
spot of 81.65 with type <class 'str'>
['Th', '1/2/03', '80.57', '7.865M', '6.83M']
spot of 80.57 with type <class 'str'>
['Tu', '12/31/02', '77.5', '7.871M', '6.764M']
spot of 77.5 with type <class 'str'>
['Mo', '12/30/02', '76.25', '8.067M', '6.829M']
spot of 76.25 with type <class 'str'>
['Fr', '12/27/02', '77.36', '6.335M', '6.797M']
spot of 77.36 with type <class 'str'>
['Th', '12/26/02', '78.5', '5.784M', '6.839M']
spot of 78.5 with type <class 'str'>
['Tu', '12/24/02', '79.76', '2.42M', '7.124M']
spot of 79.76 with type <class 'str'>
['Mo', '12/23/02', '80.26', '5.923M', '7.431M']
spot of 80.26 with type <class 'str'>
['Fr', '12/20/02', '79.79', '8.056M', '7.683M']
spot of 79.79 with type <class 'str'>
['Th', '12/19/02', '78.66', '7.32M', '7.344M']
spot of 78.66 with type <class 'str'>
['We', '12/18/02', '79.13', '6.516M', '7.404M']
spot of 79.13 with type <class 'str'>
['Tu', '12/17/02', '80.31', '6.168M', '7.54M']
spot of 80.31 with type <class 'str'>
['Mo', '12/16/02', '81.62', '8.484M', '7.706M']
spot of 81.62 with type <class 'str'>
['Fr', '12/13/02', '80', '7.774M', '7.744M']
spot of 80 with type <class 'str'>
['Th', '12/12/02', '80.17', '7.209M', '8.075M']
spot of 80.17 with type <class 'str'>
['We', '12/11/02', '81.44', '6.664M', '8.199M']
spot of 81.44 with type <class 'str'>
['Tu', '12/10/02', '80.8', '6.87M', '8.216M']
spot of 80.8 with type <class 'str'>
['Mo', '12/9/02', '79.59', '8.843M', '8.246M']
spot of 79.59 with type <class 'str'>
['Fr', '12/6/02', '82.32', '7.595M', '8.414M']
spot of 82.32 with type <class 'str'>
['Th', '12/5/02', '83.06', '6.963M', '8.552M']
spot of 83.06 with type <class 'str'>
['We', '12/4/02', '83.69', '10.06M', '8.887M']
spot of 83.69 with type <class 'str'>
['Tu', '12/3/02', '85.21', '7.029M', '8.818M']
spot of 85.21 with type <class 'str'>
['Mo', '12/2/02', '87.3', '9.695M', '8.842M']
spot of 87.3 with type <class 'str'>
['Fr', '11/29/02', '86.92', '2.981M', '8.737M']
spot of 86.92 with type <class 'str'>
['We', '11/27/02', '87.7', '8.21M', '9.274M']
spot of 87.7 with type <class 'str'>
['Tu', '11/26/02', '85.06', '8.561M', '9.426M']
spot of 85.06 with type <class 'str'>
['Mo', '11/25/02', '86.2', '8.652M', '9.553M']
spot of 86.2 with type <class 'str'>
['Fr', '11/22/02', '84.43', '9.053M', '9.776M']
spot of 84.43 with type <class 'str'>
['Th', '11/21/02', '84.9', '12.738M', '9.799M']
spot of 84.9 with type <class 'str'>
['We', '11/20/02', '81.61', '9.073M', '9.606M']
spot of 81.61 with type <class 'str'>
['Tu', '11/19/02', '78.37', '6.919M', '9.859M']
spot of 78.37 with type <class 'str'>
['Mo', '11/18/02', '79.18', '7.322M', '10.174M']
spot of 79.18 with type <class 'str'>
['Fr', '11/15/02', '80.01', '11.368M', '10.523M']
spot of 80.01 with type <class 'str'>
['Th', '11/14/02', '80.72', '9.665M', '10.268M']
spot of 80.72 with type <class 'str'>
['We', '11/13/02', '79.35', '11.979M', '10.332M']
spot of 79.35 with type <class 'str'>
['Tu', '11/12/02', '79.15', '9.028M', '10.364M']
spot of 79.15 with type <class 'str'>
['Mo', '11/11/02', '77.29', '7.387M', '10.457M']
spot of 77.29 with type <class 'str'>
['Fr', '11/8/02', '77.59', '8.12M', '10.692M']
spot of 77.59 with type <class 'str'>
['Th', '11/7/02', '78.95', '11.038M', '10.986M']
spot of 78.95 with type <class 'str'>
['We', '11/6/02', '81.54', '10.481M', '11.673M']
spot of 81.54 with type <class 'str'>
['Tu', '11/5/02', '81.68', '10.468M', '12.037M']
spot of 81.68 with type <class 'str'>
['Mo', '11/4/02', '82.5', '12.006M', '12.312M']
spot of 82.5 with type <class 'str'>
['Fr', '11/1/02', '80.4', '9.396M', '12.04M']
spot of 80.4 with type <class 'str'>
['Th', '10/31/02', '78.94', '9.844M', '12.604M']
spot of 78.94 with type <class 'str'>
['We', '10/30/02', '78.67', '12.866M', '12.793M']
spot of 78.67 with type <class 'str'>
['Tu', '10/29/02', '76.74', '11.649M', '12.745M']
spot of 76.74 with type <class 'str'>
['Mo', '10/28/02', '76.56', '12.545M', '12.952M']
spot of 76.56 with type <class 'str'>
['Fr', '10/25/02', '74.56', '7.553M', '12.758M']
spot of 74.56 with type <class 'str'>
['Th', '10/24/02', '72.1', '10.617M', '13.225M']
spot of 72.1 with type <class 'str'>
['We', '10/23/02', '74.6', '12.469M', '13.25M']
spot of 74.6 with type <class 'str'>
['Tu', '10/22/02', '74.49', '10.412M', '13.129M']
spot of 74.49 with type <class 'str'>
['Mo', '10/21/02', '75.55', '10.916M', '13.211M']
spot of 75.55 with type <class 'str'>
['Fr', '10/18/02', '74.25', '12.533M', '13.352M']
spot of 74.25 with type <class 'str'>
['Th', '10/17/02', '72.2', '21.346M', '13.102M']
spot of 72.2 with type <class 'str'>
['We', '10/16/02', '64.9', '15.928M', '12.504M']
spot of 64.9 with type <class 'str'>
['Tu', '10/15/02', '68.48', '14.601M', '12.316M']
spot of 68.48 with type <class 'str'>
['Mo', '10/14/02', '63.42', '7.925M', '12.457M']
spot of 63.42 with type <class 'str'>
['Fr', '10/11/02', '63.92', '17.855M', '12.487M']
spot of 63.92 with type <class 'str'>
['Th', '10/10/02', '57.58', '12.673M', '12.243M']
spot of 57.58 with type <class 'str'>
['We', '10/9/02', '55.07', '12.155M', '12.867M']
spot of 55.07 with type <class 'str'>
['Tu', '10/8/02', '57.05', '14.745M', '12.905M']
spot of 57.05 with type <class 'str'>
['Mo', '10/7/02', '56.86', '9.642M', '12.335M']
spot of 56.86 with type <class 'str'>
['Fr', '10/4/02', '56.6', '14.552M', '11.999M']
spot of 56.6 with type <class 'str'>
['Th', '10/3/02', '60', '11.001M', '11.426M']
spot of 60 with type <class 'str'>
['We', '10/2/02', '59.63', '10.653M', '11.139M']
spot of 59.63 with type <class 'str'>
['Tu', '10/1/02', '61.17', '11.644M', '10.789M']
spot of 61.17 with type <class 'str'>
['Mo', '9/30/02', '58.31', '13.02M', '10.382M']
spot of 58.31 with type <class 'str'>
['Fr', '9/27/02', '60.36', '8.793M', '9.899M']
spot of 60.36 with type <class 'str'>
['Th', '9/26/02', '62.02', '12.369M', '9.619M']
spot of 62.02 with type <class 'str'>
['We', '9/25/02', '63.01', '13.119M', '9.226M']
spot of 63.01 with type <class 'str'>
['Tu', '9/24/02', '59.75', '16.71M', '8.769M']
spot of 59.75 with type <class 'str'>
['Mo', '9/23/02', '63.37', '8.377M', '8.111M']
spot of 63.37 with type <class 'str'>
['Fr', '9/20/02', '63.92', '14.195M', '7.892M']
spot of 63.92 with type <class 'str'>
['Th', '9/19/02', '64.8', '22.035M', '7.336M']
spot of 64.8 with type <class 'str'>
['We', '9/18/02', '69.55', '12.726M', '6.306M']
spot of 69.55 with type <class 'str'>
['Tu', '9/17/02', '71.75', '6.195M', '5.931M']
spot of 71.75 with type <class 'str'>
['Mo', '9/16/02', '72.32', '4.595M', '5.984M']
spot of 72.32 with type <class 'str'>
['Fr', '9/13/02', '72.5', '5.95M', '6.072M']
spot of 72.5 with type <class 'str'>
['Th', '9/12/02', '71.87', '6.708M', '6.038M']
spot of 71.87 with type <class 'str'>
['We', '9/11/02', '74.2', '5.394M', '6.109M']
spot of 74.2 with type <class 'str'>
['Tu', '9/10/02', '75.6', '5.538M', '6.261M']
spot of 75.6 with type <class 'str'>
['Mo', '9/9/02', '74.5', '5.785M', '6.612M']
spot of 74.5 with type <class 'str'>
['Fr', '9/6/02', '73.2', '4.587M', '7.003M']
spot of 73.2 with type <class 'str'>
['Th', '9/5/02', '72.18', '6.468M', '7.315M']
spot of 72.18 with type <class 'str'>
['We', '9/4/02', '73.73', '6.265M', '7.44M']
spot of 73.73 with type <class 'str'>
['Tu', '9/3/02', '72.35', '6.854M', '7.542M']
spot of 72.35 with type <class 'str'>
['Fr', '8/30/02', '75.38', '5.085M', '7.436M']
spot of 75.38 with type <class 'str'>
['Th', '8/29/02', '76.62', '5.857M', '7.56M']
spot of 76.62 with type <class 'str'>
['We', '8/28/02', '76.06', '6.59M', '7.731M']
spot of 76.06 with type <class 'str'>
['Tu', '8/27/02', '77.96', '7.088M', '7.828M']
spot of 77.96 with type <class 'str'>
['Mo', '8/26/02', '79.42', '6.998M', '7.913M']
spot of 79.42 with type <class 'str'>
['Fr', '8/23/02', '80.4', '5.909M', '7.922M']
spot of 80.4 with type <class 'str'>
['Th', '8/22/02', '81.99', '5.447M', '7.989M']
spot of 81.99 with type <class 'str'>
['We', '8/21/02', '81', '7.769M', '8.214M']
spot of 81 with type <class 'str'>
['Tu', '8/20/02', '81.27', '7.671M', '8.545M']
spot of 81.27 with type <class 'str'>
['Mo', '8/19/02', '82.49', '10.805M', '8.709M']
spot of 82.49 with type <class 'str'>
['Fr', '8/16/02', '79.35', '11.646M', '8.783M']

spot of 79.35 with type <class 'str'>
['Th', '8/15/02', '76.5', '9.27M', '8.779M']
spot of 76.5 with type <class 'str'>
['We', '8/14/02', '74.92', '8.353M', '8.893M']
spot of 74.92 with type <class 'str'>
['Tu', '8/13/02', '71.9', '7.785M', '9.257M']
spot of 71.9 with type <class 'str'>
['Mo', '8/12/02', '71.77', '5.263M', '9.59M']
spot of 71.77 with type <class 'str'>
['Fr', '8/9/02', '71.83', '6.941M', '10.231M']
spot of 71.83 with type <class 'str'>
['Th', '8/8/02', '71.61', '8.433M', '10.542M']
spot of 71.61 with type <class 'str'>
['We', '8/7/02', '69.17', '8.037M', '11.001M']
spot of 69.17 with type <class 'str'>
['Tu', '8/6/02', '67.9', '8.371M', '11.235M']
spot of 67.9 with type <class 'str'>
['Mo', '8/5/02', '65.99', '7.127M', '11.376M']
spot of 65.99 with type <class 'str'>
['Fr', '8/2/02', '67.88', '6.915M', '11.596M']
spot of 67.88 with type <class 'str'>
['Th', '8/1/02', '68.25', '8.832M', '11.707M']
spot of 68.25 with type <class 'str'>
['We', '7/31/02', '70.4', '12.719M', '11.854M']
spot of 70.4 with type <class 'str'>
['Tu', '7/30/02', '71.79', '10.139M', '11.677M']
spot of 71.79 with type <class 'str'>
['Mo', '7/29/02', '71.18', '11.92M', '11.746M']
spot of 71.18 with type <class 'str'>
['Fr', '7/26/02', '66.4', '11.577M', '11.584M']
spot of 66.4 with type <class 'str'>
['Th', '7/25/02', '69.35', '10.99M', '11.162M']
spot of 69.35 with type <class 'str'>
['We', '7/24/02', '69.54', '13.809M', '10.994M']
spot of 69.54 with type <class 'str'>
['Tu', '7/23/02', '67.05', '12.775M', '10.874M']
spot of 67.05 with type <class 'str'>
['Mo', '7/22/02', '68.5', '14.883M', '10.827M']
spot of 68.5 with type <class 'str'>
['Fr', '7/19/02', '72', '11.613M', '10.665M']
spot of 72 with type <class 'str'>
['Th', '7/18/02', '72.05', '15.312M', '10.598M']
spot of 72.05 with type <class 'str'>
['We', '7/17/02', '70.69', '11.549M', '10.347M']
spot of 70.69 with type <class 'str'>
['Tu', '7/16/02', '69.01', '10.487M', '10.147M']
spot of 69.01 with type <class 'str'>
['Mo', '7/15/02', '71', '10.421M', '10.427M']
spot of 71 with type <class 'str'>
['Fr', '7/12/02', '69.21', '8.58M', '10.769M']
spot of 69.21 with type <class 'str'>
['Th', '7/11/02', '69.41', '11.035M', '10.938M']
spot of 69.41 with type <class 'str'>
['We', '7/10/02', '68.76', '10.073M', '10.833M']
spot of 68.76 with type <class 'str'>
['Tu', '7/9/02', '69.67', '11.166M', '10.644M']
spot of 69.67 with type <class 'str'>
['Mo', '7/8/02', '71.3', '9.49M', '10.418M']
spot of 71.3 with type <class 'str'>
['Fr', '7/5/02', '73.5', '5.243M', '10.358M']
spot of 73.5 with type <class 'str'>
['We', '7/3/02', '70.51', '8.47M', '10.602M']
spot of 70.51 with type <class 'str'>
['Tu', '7/2/02', '68.58', '12.013M', '10.924M']
spot of 68.58 with type <class 'str'>
['Mo', '7/1/02', '67.6', '12.064M', '10.653M']
spot of 67.6 with type <class 'str'>
['Fr', '6/28/02', '72', '12.455M', '10.321M']
spot of 72 with type <class 'str'>
['Th', '6/27/02', '71.9', '10.61M', '10.111M']
spot of 71.9 with type <class 'str'>
['We', '6/26/02', '70.05', '11.544M', '9.773M']
spot of 70.05 with type <class 'str'>
['Tu', '6/25/02', '68.6', '8.555M', '9.482M']
spot of 68.6 with type <class 'str'>
['Mo', '6/24/02', '69.7', '14.688M', '9.396M']
spot of 69.7 with type <class 'str'>
['Fr', '6/21/02', '68.75', '15.545M', '8.976M']
spot of 68.75 with type <class 'str'>
['Th', '6/20/02', '71.58', '11.117M', '8.282M']
spot of 71.58 with type <class 'str'>
['We', '6/19/02', '73.35', '9.455M', '8.032M']
spot of 73.35 with type <class 'str'>
['Tu', '6/18/02', '75.94', '7.242M', '7.703M']
spot of 75.94 with type <class 'str'>
['Mo', '6/17/02', '77.14', '7.776M', '7.524M']
spot of 77.14 with type <class 'str'>
['Fr', '6/14/02', '76.17', '8.592M', '7.28M']
spot of 76.17 with type <class 'str'>
['Th', '6/13/02', '75.6', '8.91M', '7.165M']
spot of 75.6 with type <class 'str'>
['We', '6/12/02', '74.65', '13.296M', '6.907M']
spot of 74.65 with type <class 'str'>
['Tu', '6/11/02', '75.49', '7.953M', '6.318M']
spot of 75.49 with type <class 'str'>
['Mo', '6/10/02', '76.8', '7.076M', '6.089M']
spot of 76.8 with type <class 'str'>
['Fr', '6/7/02', '78.3', '9.309M', '6.009M']
spot of 78.3 with type <class 'str'>
['Th', '6/6/02', '79.66', '5.541M', '5.84M']
spot of 79.66 with type <class 'str'>
['We', '6/5/02', '80.55', '7.172M', '6.041M']
spot of 80.55 with type <class 'str'>
['Tu', '6/4/02', '79.31', '7.273M', '6.204M']
spot of 79.31 with type <class 'str'>
['Mo', '6/3/02', '78.11', '8.384M', '6.154M']
spot of 78.11 with type <class 'str'>
['Fr', '5/31/02', '80.45', '5.126M', '6.088M']
spot of 80.45 with type <class 'str'>
['Th', '5/30/02', '82.25', '7.374M', '6.421M']
spot of 82.25 with type <class 'str'>
['We', '5/29/02', '81.6', '4.52M', '6.782M']
spot of 81.6 with type <class 'str'>
['Tu', '5/28/02', '82.08', '4.552M', '7.642M']
spot of 82.08 with type <class 'str'>
['Fr', '5/24/02', '83.1', '4.122M', '8.248M']
spot of 83.1 with type <class 'str'>
['Th', '5/23/02', '84.35', '6.866M', '8.551M']
spot of 84.35 with type <class 'str'>
['We', '5/22/02', '84', '5.041M', '8.532M']
spot of 84 with type <class 'str'>
['Tu', '5/21/02', '83.45', '4.454M', '9.009M']
spot of 83.45 with type <class 'str'>
['Mo', '5/20/02', '84.45', '4.531M', '9.305M']
spot of 84.45 with type <class 'str'>
['Fr', '5/17/02', '85.69', '5.875M', '9.438M']
spot of 85.69 with type <class 'str'>
['Th', '5/16/02', '85.45', '6.768M', '9.492M']
spot of 85.45 with type <class 'str'>
['We', '5/15/02', '84.5', '8.552M', '9.499M']
spot of 84.5 with type <class 'str'>
['Tu', '5/14/02', '85.48', '9.624M', '9.364M']
spot of 85.48 with type <class 'str'>
['Mo', '5/13/02', '82.19', '6.528M', '9.065M']
spot of 82.19 with type <class 'str'>
['Fr', '5/10/02', '79.68', '7.387M', '9.08M']
spot of 79.68 with type <class 'str'>
['Th', '5/9/02', '79.93', '10.13M', '9.207M']
spot of 79.93 with type <class 'str'>
['We', '5/8/02', '82.45', '12.78M', '9.516M']
spot of 82.45 with type <class 'str'>
['Tu', '5/7/02', '76.5', '17.419M', '9.399M']
spot of 76.5 with type <class 'str'>
['Mo', '5/6/02', '76', '13.651M', '8.767M']
spot of 76 with type <class 'str'>
['Fr', '5/3/02', '81.78', '8.656M', '8.448M']
spot of 81.78 with type <class 'str'>
['Th', '5/2/02', '83.86', '6.583M', '8.926M']
spot of 83.86 with type <class 'str'>
['We', '5/1/02', '84.3', '12.204M', '10.044M']
spot of 84.3 with type <class 'str'>
['Tu', '4/30/02', '83.76', '8.884M', '10.106M']
spot of 83.76 with type <class 'str'>
['Mo', '4/29/02', '83.89', '6.536M', '10.673M']
spot of 83.89 with type <class 'str'>
['Fr', '4/26/02', '84.71', '6.684M', '12.985M']
spot of 84.71 with type <class 'str'>
['Th', '4/25/02', '86.71', '6.87M', '13.193M']
spot of 86.71 with type <class 'str'>
['We', '4/24/02', '86.5', '6.521M', '13.13M']
spot of 86.5 with type <class 'str'>
['Tu', '4/23/02', '87.33', '5.144M', '13.205M']
spot of 87.33 with type <class 'str'>
['Mo', '4/22/02', '87.93', '6.758M', '13.354M']
spot of 87.93 with type <class 'str'>
['Fr', '4/19/02', '89', '9.288M', '13.276M']
spot of 89 with type <class 'str'>
['Th', '4/18/02', '88.95', '14.765M', '13.014M']
spot of 88.95 with type <class 'str'>
['We', '4/17/02', '84.81', '11.024M', '12.403M']
spot of 84.81 with type <class 'str'>
['Tu', '4/16/02', '86.2', '7.933M', '12.211M']
spot of 86.2 with type <class 'str'>
['Mo', '4/15/02', '85.35', '8.872M', '12.101M']
spot of 85.35 with type <class 'str'>
['Fr', '4/12/02', '85.6', '15.82M', '11.876M']
spot of 85.6 with type <class 'str'>
['Th', '4/11/02', '84.19', '23.355M', '11.202M']
spot of 84.19 with type <class 'str'>
['We', '4/10/02', '89.01', '13.144M', '9.968M']
spot of 89.01 with type <class 'str'>
['Tu', '4/9/02', '87.74', '17.384M', '9.399M']
spot of 87.74 with type <class 'str'>
['Mo', '4/8/02', '87.41', '41.213M', '8.594M']
spot of 87.41 with type <class 'str'>
['Fr', '4/5/02', '97.25', '9.802M', '6.57M']
spot of 97.25 with type <class 'str'>
['Th', '4/4/02', '100.84', '5.929M', '6.273M']
spot of 100.84 with type <class 'str'>
['We', '4/3/02', '99.96', '7.649M', '6.305M']
spot of 99.96 with type <class 'str'>
['Tu', '4/2/02', '100.95', '7.382M', '6.533M']
spot of 100.95 with type <class 'str'>
['Mo', '4/1/02', '102.86', '5.587M', '6.616M']
spot of 102.86 with type <class 'str'>
['Th', '3/28/02', '104', '5.348M', '6.959M']
spot of 104 with type <class 'str'>
['We', '3/27/02', '103.39', '5.602M', '7.334M']
spot of 103.39 with type <class 'str'>
['Tu', '3/26/02', '102.9', '8.144M', '7.473M']
spot of 102.9 with type <class 'str'>
['Mo', '3/25/02', '103.56', '6.278M', '7.434M']
spot of 103.56 with type <class 'str'>
['Fr', '3/22/02', '105.6', '5.508M', '7.733M']
spot of 105.6 with type <class 'str'>
['Th', '3/21/02', '106.78', '5.701M', '8.066M']
spot of 106.78 with type <class 'str'>
['We', '3/20/02', '105.5', '4.845M', '8.215M']
spot of 105.5 with type <class 'str'>
['Tu', '3/19/02', '107.49', '4.615M', '8.691M']
spot of 107.49 with type <class 'str'>
['Mo', '3/18/02', '106.35', '5.305M', '9.159M']
spot of 106.35 with type <class 'str'>
['Fr', '3/15/02', '106.79', '10.864M', '9.465M']
spot of 106.79 with type <class 'str'>
['Th', '3/14/02', '106.6', '5.336M', '9.439M']
spot of 106.6 with type <class 'str'>
['We', '3/13/02', '107.18', '6.409M', '9.759M']
spot of 107.18 with type <class 'str'>
['Tu', '3/12/02', '108.5', '11.065M', '10.3M']
spot of 108.5 with type <class 'str'>
['Mo', '3/11/02', '105.24', '8.639M', '10.455M']
spot of 105.24 with type <class 'str'>
['Fr', '3/8/02', '105.09', '10.726M', '11.097M']
spot of 105.09 with type <class 'str'>
['Th', '3/7/02', '103.71', '10.973M', '10.769M']
spot of 103.71 with type <class 'str'>
['We', '3/6/02', '106.3', '7.688M', '10.377M']
spot of 106.3 with type <class 'str'>
['Tu', '3/5/02', '105.67', '7.562M', '10.169M']
spot of 105.67 with type <class 'str'>
['Mo', '3/4/02', '105.9', '10.768M', '10.083M']
spot of 105.9 with type <class 'str'>
['Fr', '3/1/02', '103.02', '10.493M', '9.921M']
spot of 103.02 with type <class 'str'>
['Th', '2/28/02', '98.12', '7.939M', '9.705M']
spot of 98.12 with type <class 'str'>
['We', '2/27/02', '97.83', '11.979M', '9.621M']
spot of 97.83 with type <class 'str'>
['Tu', '2/26/02', '97.15', '11.635M', '9.272M']
spot of 97.15 with type <class 'str'>
['Mo', '2/25/02', '98.3', '9.903M', '8.936M']
spot of 98.3 with type <class 'str'>
['Fr', '2/22/02', '98.45', '10.472M', '8.729M']
spot of 98.45 with type <class 'str'>
['Th', '2/21/02', '96.38', '10.132M', '8.69M']
spot of 96.38 with type <class 'str'>
['We', '2/20/02', '99.31', '14.525M', '9.195M']
spot of 99.31 with type <class 'str'>
['Tu', '2/19/02', '99.54', '13.396M', '9.194M']
spot of 99.54 with type <class 'str'>
['Fr', '2/15/02', '102.89', '18.261M', '8.774M']
spot of 102.89 with type <class 'str'>
['Th', '2/14/02', '107.89', '5.819M', '8.007M']
spot of 107.89 with type <class 'str'>
['We', '2/13/02', '108.07', '5.087M', '8.191M']
spot of 108.07 with type <class 'str'>
['Tu', '2/12/02', '106.57', '4.561M', '8.689M']
spot of 106.57 with type <class 'str'>
['Mo', '2/11/02', '107.38', '6.272M', '9.047M']
spot of 107.38 with type <class 'str'>
['Fr', '2/8/02', '104.99', '8.339M', '9.858M']
spot of 104.99 with type <class 'str'>
['Th', '2/7/02', '103.91', '7.254M', '10.048M']
spot of 103.91 with type <class 'str'>
['We', '2/6/02', '106.63', '6.682M', '9.922M']
spot of 106.63 with type <class 'str'>
['Tu', '2/5/02', '106.3', '6.738M', '9.853M']
spot of 106.3 with type <class 'str'>
['Mo', '2/4/02', '106.8', '6.602M', '10.073M']
spot of 106.8 with type <class 'str'>
['Fr', '2/1/02', '108', '6.8M', '9.952M']
spot of 108 with type <class 'str'>
['Th', '1/31/02', '107.89', '9.877M', '10.094M']
spot of 107.89 with type <class 'str'>
['We', '1/30/02', '105.55', '17.714M', '9.892M']
spot of 105.55 with type <class 'str'>
['Tu', '1/29/02', '103', '14.509M', '9.065M']
spot of 103 with type <class 'str'>
['Mo', '1/28/02', '108.15', '7.093M', '8.494M']
spot of 108.15 with type <class 'str'>
['Fr', '1/25/02', '109.28', '6.762M', '8.581M']
spot of 109.28 with type <class 'str'>
['Th', '1/24/02', '108.72', '8.582M', '8.705M']
spot of 108.72 with type <class 'str'>
['We', '1/23/02', '107.9', '12.557M', '8.591M']
spot of 107.9 with type <class 'str'>
['Tu', '1/22/02', '110.5', '9.93M', '7.988M']
spot of 110.5 with type <class 'str'>
['Fr', '1/18/02', '114.25', '18.44M', '7.607M']
spot of 114.25 with type <class 'str'>
['Th', '1/17/02', '119.9', '11.185M', '6.633M']
spot of 119.9 with type <class 'str'>
['We', '1/16/02', '117.4', '5.366M', '6.144M']
spot of 117.4 with type <class 'str'>
['Tu', '1/15/02', '118.85', '5.648M', '5.897M']
spot of 118.85 with type <class 'str'>
['Mo', '1/14/02', '118.05', '10.027M', '6.098M']
spot of 118.05 with type <class 'str'>
['Fr', '1/11/02', '120.31', '4.798M', '5.852M']
spot of 120.31 with type <class 'str'>
['Th', '1/10/02', '122.14', '8.926M', '6.069M']
spot of 122.14 with type <class 'str'>
['We', '1/9/02', '124.49', '6.84M', '5.847M']
spot of 124.49 with type <class 'str'>
['Tu', '1/8/02', '124.7', '5.312M', '5.806M']
spot of 124.7 with type <class 'str'>
['Mo', '1/7/02', '124.05', '5.94M', '5.921M']
spot of 124.05 with type <class 'str'>
['Fr', '1/4/02', '125.6', '8.405M', '6.063M']
spot of 125.6 with type <class 'str'>
['Th', '1/3/02', '123.66', '8.622M', '6.034M']
spot of 123.66 with type <class 'str'>
['We', '1/2/02', '121.5', '6.863M', '5.979M']
spot of 121.5 with type <class 'str'>
['Mo', '12/31/01', '120.96', '3.521M', '5.893M']
spot of 120.96 with type <class 'str'>
['Fr', '12/28/01', '122.9', '4.214M', '6.117M']
spot of 122.9 with type <class 'str'>
['Th', '12/27/01', '123.5', '3.826M', '6.585M']
spot of 123.5 with type <class 'str'>
['We', '12/26/01', '122.4', '3.858M', '7.306M']
spot of 122.4 with type <class 'str'>
['Mo', '12/24/01', '121.45', '1.654M', '7.488M']
spot of 121.45 with type <class 'str'>
['Fr', '12/21/01', '122', '8.659M', '7.763M']
spot of 122 with type <class 'str'>
['Th', '12/20/01', '122.7', '6.345M', '7.559M']
spot of 122.7 with type <class 'str'>
['We', '12/19/01', '123.89', '8.054M', '7.545M']
spot of 123.89 with type <class 'str'>
['Tu', '12/18/01', '122.2', '5.596M', '7.419M']
spot of 122.2 with type <class 'str'>
['Mo', '12/17/01', '121.34', '6.226M', '7.505M']
spot of 121.34 with type <class 'str'>
['Fr', '12/14/01', '121.1', '7.036M', '7.414M']
spot of 121.1 with type <class 'str'>
['Th', '12/13/01', '120.25', '8.061M', '7.059M']
spot of 120.25 with type <class 'str'>
['We', '12/12/01', '123.2', '7.978M', '6.801M']
spot of 123.2 with type <class 'str'>
['Tu', '12/11/01', '121.5', '7.793M', '6.699M']
spot of 121.5 with type <class 'str'>
['Mo', '12/10/01', '119.66', '5.571M', '6.508M']
spot of 119.66 with type <class 'str'>
['Fr', '12/7/01', '120.4', '6.889M', '6.581M']
spot of 120.4 with type <class 'str'>
['Th', '12/6/01', '120.14', '11.226M', '6.589M']
spot of 120.14 with type <class 'str'>
['We', '12/5/01', '121.4', '14.646M', '6.38M']
spot of 121.4 with type <class 'str'>
['Tu', '12/4/01', '116.64', '6.586M', '6.019M']
spot of 116.64 with type <class 'str'>
['Mo', '12/3/01', '114.13', '5.786M', '5.953M']
spot of 114.13 with type <class 'str'>
['Fr', '11/30/01', '115.59', '5.598M', '5.904M']
spot of 115.59 with type <class 'str'>
['Th', '11/29/01', '114.43', '6.129M', '6.064M']
spot of 114.43 with type <class 'str'>
['We', '11/28/01', '112.15', '6.161M', '6.33M']
spot of 112.15 with type <class 'str'>
['Tu', '11/27/01', '114.2', '6.894M', '6.487M']
spot of 114.2 with type <class 'str'>
['Mo', '11/26/01', '116.33', '4.854M', '6.408M']
spot of 116.33 with type <class 'str'>
['Fr', '11/23/01', '115.35', '1.714M', '6.499M']
spot of 115.35 with type <class 'str'>
['We', '11/21/01', '114.34', '4.185M', '6.919M']
spot of 114.34 with type <class 'str'>
['Tu', '11/20/01', '115.44', '6.453M', '7.119M']
spot of 115.44 with type <class 'str'>
['Mo', '11/19/01', '115', '4.931M', '7.264M']
spot of 115 with type <class 'str'>
['Fr', '11/16/01', '114.5', '6.664M', '7.407M']
spot of 114.5 with type <class 'str'>
['Th', '11/15/01', '114.75', '7.014M', '7.639M']
spot of 114.75 with type <class 'str'>
['We', '11/14/01', '114.35', '8.092M', '7.817M']
spot of 114.35 with type <class 'str'>
['Tu', '11/13/01', '116.7', '9.217M', '7.83M']
spot of 116.7 with type <class 'str'>
['Mo', '11/12/01', '114.86', '5.608M', '7.711M']
spot of 114.86 with type <class 'str'>
['Fr', '11/9/01', '114.08', '5.046M', '7.846M']
spot of 114.08 with type <class 'str'>
['Th', '11/8/01', '113.81', '7.991M', '8.294M']
spot of 113.81 with type <class 'str'>
['We', '11/7/01', '113.85', '10.13M', '8.474M']
spot of 113.85 with type <class 'str'>
['Tu', '11/6/01', '114.19', '8.51M', '9.06M']
spot of 114.19 with type <class 'str'>
['Mo', '11/5/01', '109.97', '5.708M', '9.297M']
spot of 109.97 with type <class 'str'>
['Fr', '11/2/01', '109.5', '6.217M', '9.596M']
spot of 109.5 with type <class 'str'>
['Th', '11/1/01', '109.89', '8.024M', '9.949M']
spot of 109.89 with type <class 'str'>
['We', '10/31/01', '108.07', '7.178M', '10.183M']
spot of 108.07 with type <class 'str'>
['Tu', '10/30/01', '108.65', '8.626M', '10.414M']

spot of 108.65 with type <class 'str'>
['Mo', '10/29/01', '108.62', '7.073M', '10.34M']
spot of 108.62 with type <class 'str'>
['Fr', '10/26/01', '111.16', '10.145M', '10.342M']
spot of 111.16 with type <class 'str'>
['Th', '10/25/01', '110.66', '9.684M', '10.314M']
spot of 110.66 with type <class 'str'>
['We', '10/24/01', '108.57', '8.3M', '10.321M']
spot of 108.57 with type <class 'str'>
['Tu', '10/23/01', '105.81', '7.429M', '10.509M']
spot of 105.81 with type <class 'str'>
['Mo', '10/22/01', '105.25', '7.624M', '10.495M']
spot of 105.25 with type <class 'str'>
['Fr', '10/19/01', '102.65', '11.772M', '10.565M']
spot of 102.65 with type <class 'str'>
['Th', '10/18/01', '101.26', '10.697M', '10.519M']
spot of 101.26 with type <class 'str'>
['We', '10/17/01', '102.9', '18.921M', '10.684M']
spot of 102.9 with type <class 'str'>
['Tu', '10/16/01', '101.85', '12.051M', '10.341M']
spot of 101.85 with type <class 'str'>
['Mo', '10/15/01', '102', '10.205M', '10.376M']
spot of 102 with type <class 'str'>
['Fr', '10/12/01', '100.84', '11.501M', '10.443M']
spot of 100.84 with type <class 'str'>
['Th', '10/11/01', '99.4', '11.541M', '10.9M']
spot of 99.4 with type <class 'str'>
['We', '10/10/01', '97.25', '10.637M', '11.143M']
spot of 97.25 with type <class 'str'>
['Tu', '10/9/01', '97.14', '7.525M', '11.426M']
spot of 97.14 with type <class 'str'>
['Mo', '10/8/01', '98.5', '7.093M', '11.745M']
spot of 98.5 with type <class 'str'>
['Fr', '10/5/01', '98.02', '9.733M', '12.281M']
spot of 98.02 with type <class 'str'>
['Th', '10/4/01', '97.31', '9.785M', '12.32M']
spot of 97.31 with type <class 'str'>
['We', '10/3/01', '96.95', '11.119M', '12.368M']
spot of 96.95 with type <class 'str'>
['Tu', '10/2/01', '93.77', '7.221M', '12.229M']
spot of 93.77 with type <class 'str'>
['Mo', '10/1/01', '92.71', '8.676M', '12.54M']
spot of 92.71 with type <class 'str'>
['Fr', '9/28/01', '91.72', '11.077M', '12.621M']
spot of 91.72 with type <class 'str'>
['Th', '9/27/01', '90', '13.172M', '12.424M']
spot of 90 with type <class 'str'>
['We', '9/26/01', '91.3', '13.783M', '12.547M']
spot of 91.3 with type <class 'str'>
['Tu', '9/25/01', '94.45', '12.576M', '11.951M']
spot of 94.45 with type <class 'str'>
['Mo', '9/24/01', '94.8', '11.202M', '11.507M']
spot of 94.8 with type <class 'str'>
['Fr', '9/21/01', '90.5', '18.365M', '11.063M']
spot of 90.5 with type <class 'str'>
['Th', '9/20/01', '93.4', '15.183M', '10.352M']
spot of 93.4 with type <class 'str'>
['We', '9/19/01', '96', '14.884M', '9.705M']
spot of 96 with type <class 'str'>
['Tu', '9/18/01', '96.4', '12.305M', '9.249M']
spot of 96.4 with type <class 'str'>
['Mo', '9/17/01', '93.34', '15.138M', '8.863M']
spot of 93.34 with type <class 'str'>
['Mo', '9/10/01', '96.47', '10.312M', '8.228M']
spot of 96.47 with type <class 'str'>
['Fr', '9/7/01', '96.59', '10.513M', '8.008M']
spot of 96.59 with type <class 'str'>
['Th', '9/6/01', '98', '9.033M', '7.721M']
spot of 98 with type <class 'str'>
['We', '9/5/01', '100.35', '11.881M', '7.433M']
spot of 100.35 with type <class 'str'>
['Tu', '9/4/01', '101.49', '9.892M', '7.023M']
spot of 101.49 with type <class 'str'>
['Fr', '8/31/01', '99.95', '8.128M', '6.765M']
spot of 99.95 with type <class 'str'>
['Th', '8/30/01', '100.36', '15.016M', '6.574M']
spot of 100.36 with type <class 'str'>
['We', '8/29/01', '104.13', '4.84M', '6.024M']
spot of 104.13 with type <class 'str'>
['Tu', '8/28/01', '104.95', '5.908M', '6.127M']
spot of 104.95 with type <class 'str'>
['Mo', '8/27/01', '106.86', '4.541M', '6.002M']
spot of 106.86 with type <class 'str'>
['Fr', '8/24/01', '106.99', '7.712M', '5.978M']
spot of 106.99 with type <class 'str'>
['Th', '8/23/01', '103', '5.475M', '5.711M']
spot of 103 with type <class 'str'>
['We', '8/22/01', '103.96', '8.042M', '5.724M']
spot of 103.96 with type <class 'str'>
['Tu', '8/21/01', '101.89', '6.516M', '5.59M']
spot of 101.89 with type <class 'str'>
['Mo', '8/20/01', '104.1', '5.613M', '5.53M']
spot of 104.1 with type <class 'str'>
['Fr', '8/17/01', '104.59', '7.006M', '5.424M']
spot of 104.59 with type <class 'str'>
['Th', '8/16/01', '105.75', '6.216M', '5.247M']
spot of 105.75 with type <class 'str'>
['We', '8/15/01', '105.01', '4.713M', '5.394M']
spot of 105.01 with type <class 'str'>
['Tu', '8/14/01', '106.2', '5.73M', '5.497M']
spot of 106.2 with type <class 'str'>
['Mo', '8/13/01', '105.86', '6.024M', '5.601M']
spot of 105.86 with type <class 'str'>
['Fr', '8/10/01', '104.95', '5.255M', '5.621M']
spot of 104.95 with type <class 'str'>
['Th', '8/9/01', '104.08', '6.763M', '5.87M']
spot of 104.08 with type <class 'str'>
['We', '8/8/01', '104.19', '6.398M', '6.329M']
spot of 104.19 with type <class 'str'>
['Tu', '8/7/01', '106.25', '4.029M', '6.681M']
spot of 106.25 with type <class 'str'>
['Mo', '8/6/01', '106.51', '4.177M', '6.99M']
spot of 106.51 with type <class 'str'>
['Fr', '8/3/01', '108.18', '3.704M', '7.067M']
spot of 108.18 with type <class 'str'>
['Th', '8/2/01', '108.8', '5.675M', '7.343M']
spot of 108.8 with type <class 'str'>
['We', '8/1/01', '107.06', '6.036M', '7.549M']
spot of 107.06 with type <class 'str'>
['Tu', '7/31/01', '105.21', '5.603M', '7.74M']
spot of 105.21 with type <class 'str'>
['Mo', '7/30/01', '105.85', '4.031M', '8.051M']
spot of 105.85 with type <class 'str'>
['Fr', '7/27/01', '104.7', '4.347M', '8.403M']
spot of 104.7 with type <class 'str'>
['Th', '7/26/01', '106', '8.431M', '8.894M']
spot of 106 with type <class 'str'>
['We', '7/25/01', '104.89', '6.248M', '8.626M']
spot of 104.89 with type <class 'str'>
['Tu', '7/24/01', '104.51', '7.3M', '8.431M']
spot of 104.51 with type <class 'str'>
['Mo', '7/23/01', '105.85', '6.316M', '8.339M']
spot of 105.85 with type <class 'str'>
['Fr', '7/20/01', '105.7', '8.992M', '8.55M']
spot of 105.7 with type <class 'str'>
['Th', '7/19/01', '104', '13.646M', '8.496M']
spot of 104 with type <class 'str'>
['We', '7/18/01', '104.28', '11.688M', '7.907M']
spot of 104.28 with type <class 'str'>
['Tu', '7/17/01', '108.53', '8.662M', '7.6M']
spot of 108.53 with type <class 'str'>
['Mo', '7/16/01', '107.82', '5.33M', '7.401M']
spot of 107.82 with type <class 'str'>
['Fr', '7/13/01', '108.53', '7.842M', '7.419M']
spot of 108.53 with type <class 'str'>
['Th', '7/12/01', '107.25', '8.767M', '7.441M']
spot of 107.25 with type <class 'str'>
['We', '7/11/01', '103.85', '8.896M', '7.445M']
spot of 103.85 with type <class 'str'>
['Tu', '7/10/01', '101.96', '10.267M', '7.262M']
spot of 101.96 with type <class 'str'>
['Mo', '7/9/01', '104.72', '9.313M', '6.923M']
spot of 104.72 with type <class 'str'>
['Fr', '7/6/01', '106.5', '11.708M', '7.141M']
spot of 106.5 with type <class 'str'>
['Th', '7/5/01', '112.1', '4.419M', '6.861M']
spot of 112.1 with type <class 'str'>
['Tu', '7/3/01', '112.98', '3.326M', '6.947M']
spot of 112.98 with type <class 'str'>
['Mo', '7/2/01', '114.35', '5.916M', '7.212M']
spot of 114.35 with type <class 'str'>
['Fr', '6/29/01', '113', '9.477M', '7.253M']
spot of 113 with type <class 'str'>
['Th', '6/28/01', '115.1', '8.181M', '6.828M']
spot of 115.1 with type <class 'str'>
['We', '6/27/01', '113.52', '4.814M', '6.711M']
spot of 113.52 with type <class 'str'>
['Tu', '6/26/01', '113.04', '7.082M', '7.032M']
spot of 113.04 with type <class 'str'>
['Mo', '6/25/01', '112.65', '5.677M', '6.97M']
spot of 112.65 with type <class 'str'>
['Fr', '6/22/01', '112.87', '5.607M', '6.846M']
spot of 112.87 with type <class 'str'>
['Th', '6/21/01', '112.6', '8.157M', '6.814M']
spot of 112.6 with type <class 'str'>
['We', '6/20/01', '113.09', '8.833M', '6.721M']
spot of 113.09 with type <class 'str'>
['Tu', '6/19/01', '114.84', '6.154M', '6.772M']
spot of 114.84 with type <class 'str'>
['Mo', '6/18/01', '114.27', '5.185M', '6.75M']
spot of 114.27 with type <class 'str'>
['Fr', '6/15/01', '113.6', '12.585M', '6.779M']
spot of 113.6 with type <class 'str'>
['Th', '6/14/01', '115.75', '7.503M', '6.456M']
spot of 115.75 with type <class 'str'>
['We', '6/13/01', '116.54', '5.703M', '6.382M']
spot of 116.54 with type <class 'str'>
['Tu', '6/12/01', '117.25', '7.302M', '6.402M']
spot of 117.25 with type <class 'str'>
['Mo', '6/11/01', '117.36', '6.543M', '6.476M']
spot of 117.36 with type <class 'str'>
['Fr', '6/8/01', '116.1', '3.099M', '6.488M']
spot of 116.1 with type <class 'str'>
['Th', '6/7/01', '117.25', '6.424M', '6.741M']
spot of 117.25 with type <class 'str'>
['We', '6/6/01', '117.5', '9.626M', '6.832M']
spot of 117.5 with type <class 'str'>
['Tu', '6/5/01', '116.97', '6.154M', '6.582M']
spot of 116.97 with type <class 'str'>
['Mo', '6/4/01', '113.64', '3.812M', '6.522M']
spot of 113.64 with type <class 'str'>
['Fr', '6/1/01', '112.89', '5.139M', '6.827M']
spot of 112.89 with type <class 'str'>
['Th', '5/31/01', '111.8', '6.758M', '7.018M']
spot of 111.8 with type <class 'str'>
['We', '5/30/01', '112.65', '9.599M', '7.079M']
spot of 112.65 with type <class 'str'>
['Tu', '5/29/01', '115.27', '5.818M', '6.946M']
spot of 115.27 with type <class 'str'>
['Fr', '5/25/01', '117.8', '5.629M', '6.964M']
spot of 117.8 with type <class 'str'>
['Th', '5/24/01', '119.6', '7.727M', '7.168M']
spot of 119.6 with type <class 'str'>
['We', '5/23/01', '117.4', '6.403M', '7.091M']
spot of 117.4 with type <class 'str'>
['Tu', '5/22/01', '118.01', '6.005M', '7.311M']
spot of 118.01 with type <class 'str'>
['Mo', '5/21/01', '119.04', '8.411M', '7.43M']
spot of 119.04 with type <class 'str'>
['Fr', '5/18/01', '117.44', '6.715M', '7.36M']
spot of 117.44 with type <class 'str'>
['Th', '5/17/01', '115.07', '6.888M', '7.407M']
spot of 115.07 with type <class 'str'>
['We', '5/16/01', '115.8', '7.798M', '7.437M']
spot of 115.8 with type <class 'str'>
['Tu', '5/15/01', '113.58', '5.873M', '7.375M']
spot of 113.58 with type <class 'str'>
['Mo', '5/14/01', '112.56', '5.255M', '7.566M']
spot of 112.56 with type <class 'str'>
['Fr', '5/11/01', '111.81', '8.391M', '7.785M']
spot of 111.81 with type <class 'str'>
['Th', '5/10/01', '115.2', '7.994M', '8.076M']
spot of 115.2 with type <class 'str'>
['We', '5/9/01', '116.98', '7.68M', '9.265M']
spot of 116.98 with type <class 'str'>
['Tu', '5/8/01', '117.7', '7.606M', '10.078M']
spot of 117.7 with type <class 'str'>
['Mo', '5/7/01', '115.9', '6.089M', '10.235M']
spot of 115.9 with type <class 'str'>
['Fr', '5/4/01', '115.86', '8.681M', '10.442M']
spot of 115.86 with type <class 'str'>
['Th', '5/3/01', '113.7', '6.578M', '10.489M']
spot of 113.7 with type <class 'str'>
['We', '5/2/01', '115.4', '9.706M', '10.817M']
spot of 115.4 with type <class 'str'>
['Tu', '5/1/01', '118.51', '7.791M', '10.87M']
spot of 118.51 with type <class 'str'>
['Mo', '4/30/01', '115.14', '7.357M', '10.983M']
spot of 115.14 with type <class 'str'>
['Fr', '4/27/01', '116.2', '7.412M', '11.387M']
spot of 116.2 with type <class 'str'>
['Th', '4/26/01', '113.74', '7.346M', '11.727M']
spot of 113.74 with type <class 'str'>
['We', '4/25/01', '114.85', '6.859M', '12.138M']
spot of 114.85 with type <class 'str'>
['Tu', '4/24/01', '112.67', '8.742M', '12.57M']
spot of 112.67 with type <class 'str'>
['Mo', '4/23/01', '112', '8.538M', '12.573M']
spot of 112 with type <class 'str'>
['Fr', '4/20/01', '114.83', '12.76M', '12.636M']
spot of 114.83 with type <class 'str'>
['Th', '4/19/01', '114.47', '25.825M', '12.489M']
spot of 114.47 with type <class 'str'>
['We', '4/18/01', '106.5', '19.882M', '11.56M']
spot of 106.5 with type <class 'str'>
['Tu', '4/17/01', '99.7', '9.958M', '11.025M']
spot of 99.7 with type <class 'str'>
['Mo', '4/16/01', '96.75', '9.189M', '10.933M']
spot of 96.75 with type <class 'str'>
['Th', '4/12/01', '96.2', '9.39M', '11.136M']
spot of 96.2 with type <class 'str'>
['We', '4/11/01', '97.43', '11.499M', '11.399M']
spot of 97.43 with type <class 'str'>
['Tu', '4/10/01', '99.05', '10.501M', '11.366M']
spot of 99.05 with type <class 'str'>
['Mo', '4/9/01', '96', '9.488M', '11.34M']
spot of 96 with type <class 'str'>
['Fr', '4/6/01', '97.95', '13.424M', '11.389M']
spot of 97.95 with type <class 'str'>
['Th', '4/5/01', '98.21', '12.506M', '11.83M']
spot of 98.21 with type <class 'str'>
['We', '4/4/01', '92', '13.516M', '11.558M']
spot of 92 with type <class 'str'>
['Tu', '4/3/01', '90.39', '13.33M', '11.607M']
spot of 90.39 with type <class 'str'>
['Mo', '4/2/01', '94.66', '8.787M', '11.527M']
spot of 94.66 with type <class 'str'>
['Fr', '3/30/01', '96.18', '9.486M', '11.907M']
spot of 96.18 with type <class 'str'>
['Th', '3/29/01', '95.04', '10.554M', '12.387M']
spot of 95.04 with type <class 'str'>
['We', '3/28/01', '94.41', '11.891M', '12.137M']
spot of 94.41 with type <class 'str'>
['Tu', '3/27/01', '99.5', '11.852M', '11.863M']
spot of 99.5 with type <class 'str'>
['Mo', '3/26/01', '95.4', '8.581M', '11.614M']
spot of 95.4 with type <class 'str'>
['Fr', '3/23/01', '93.51', '12.234M', '11.492M']
spot of 93.51 with type <class 'str'>
['Th', '3/22/01', '89.1', '13.33M', '11.659M']
spot of 89.1 with type <class 'str'>
['We', '3/21/01', '89.08', '11.013M', '11.777M']
spot of 89.08 with type <class 'str'>
['Tu', '3/20/01', '88.3', '10.103M', '11.839M']
spot of 88.3 with type <class 'str'>
['Mo', '3/19/01', '92.6', '10.236M', '11.818M']
spot of 92.6 with type <class 'str'>
['Fr', '3/16/01', '90.1', '20.038M', '11.692M']
spot of 90.1 with type <class 'str'>
['Th', '3/15/01', '95.56', '8.42M', '11.374M']
spot of 95.56 with type <class 'str'>
['We', '3/14/01', '94.96', '14.247M', '11.594M']
spot of 94.96 with type <class 'str'>
['Tu', '3/13/01', '98.39', '12.128M', '11.254M']
spot of 98.39 with type <class 'str'>
['Mo', '3/12/01', '95.49', '14.495M', '10.896M']
spot of 95.49 with type <class 'str'>
['Fr', '3/9/01', '99.29', '16.688M', '10.401M']
spot of 99.29 with type <class 'str'>
['Th', '3/8/01', '106.47', '6.794M', '9.828M']
spot of 106.47 with type <class 'str'>
['We', '3/7/01', '107.55', '7.789M', '9.844M']
spot of 107.55 with type <class 'str'>
['Tu', '3/6/01', '106', '8.12M', '9.804M']
spot of 106 with type <class 'str'>
['Mo', '3/5/01', '104.91', '6.744M', '9.712M']
spot of 104.91 with type <class 'str'>
['Fr', '3/2/01', '102.3', '14.746M', '9.683M']
spot of 102.3 with type <class 'str'>
['Th', '3/1/01', '106.05', '15.102M', '9.259M']
spot of 106.05 with type <class 'str'>
['We', '2/28/01', '99.9', '11.933M', '8.853M']
spot of 99.9 with type <class 'str'>
['Tu', '2/27/01', '102.59', '9.788M', '8.559M']
spot of 102.59 with type <class 'str'>
['Mo', '2/26/01', '105.3', '8.344M', '8.247M']
spot of 105.3 with type <class 'str'>
['Fr', '2/23/01', '104', '15.277M', '8.053M']
spot of 104 with type <class 'str'>
['Th', '2/22/01', '108.9', '11.71M', '7.407M']
spot of 108.9 with type <class 'str'>
['We', '2/21/01', '107.51', '9.158M', '7.18M']
spot of 107.51 with type <class 'str'>
['Tu', '2/20/01', '111.5', '6.748M', '7.119M']
spot of 111.5 with type <class 'str'>
['Fr', '2/16/01', '115', '7.073M', '7.011M']
spot of 115 with type <class 'str'>
['Th', '2/15/01', '116.78', '8.099M', '7.146M']
spot of 116.78 with type <class 'str'>
['We', '2/14/01', '115.1', '7.033M', '6.938M']
spot of 115.1 with type <class 'str'>
['Tu', '2/13/01', '113.75', '7.193M', '6.92M']
spot of 113.75 with type <class 'str'>
['Mo', '2/12/01', '114.9', '6.729M', '7.096M']
spot of 114.9 with type <class 'str'>
['Fr', '2/9/01', '112', '6.319M', '7.288M']
spot of 112 with type <class 'str'>
['Th', '2/8/01', '114.1', '8.381M', '7.851M']
spot of 114.1 with type <class 'str'>
['We', '2/7/01', '116.91', '9.007M', '8.975M']
spot of 116.91 with type <class 'str'>
['Tu', '2/6/01', '114.19', '7.526M', '9.023M']
spot of 114.19 with type <class 'str'>
['Mo', '2/5/01', '112.22', '5.114M', '8.9M']
spot of 112.22 with type <class 'str'>
['Fr', '2/2/01', '110.27', '5.428M', '8.989M']
spot of 110.27 with type <class 'str'>
['Th', '2/1/01', '114.05', '5.581M', '9.269M']
spot of 114.05 with type <class 'str'>
['We', '1/31/01', '112', '8.314M', '9.407M']
spot of 112 with type <class 'str'>
['Tu', '1/30/01', '116.61', '8.242M', '9.355M']
spot of 116.61 with type <class 'str'>
['Mo', '1/29/01', '114.98', '5.125M', '9.21M']
spot of 114.98 with type <class 'str'>
['Fr', '1/26/01', '114.1875', '9.095M', '9.404M']
spot of 114.1875 with type <class 'str'>
['Th', '1/25/01', '110.75', '4.982M', '9.826M']
spot of 110.75 with type <class 'str'>
['We', '1/24/01', '110.4375', '6.761M', '10.345M']
spot of 110.4375 with type <class 'str'>
['Tu', '1/23/01', '109.0625', '9.828M', '10.428M']
spot of 109.0625 with type <class 'str'>
['Mo', '1/22/01', '108.5625', '9.619M', '10.236M']
spot of 108.5625 with type <class 'str'>
['Fr', '1/19/01', '111.25', '14.762M', '10.248M']
spot of 111.25 with type <class 'str'>
['Th', '1/18/01', '108.3125', '25.245M', '9.813M']
spot of 108.3125 with type <class 'str'>
['We', '1/17/01', '96.6875', '9.728M', '8.534M']
spot of 96.6875 with type <class 'str'>
['Tu', '1/16/01', '92.75', '5.672M', '8.52M']
spot of 92.75 with type <class 'str'>
['Fr', '1/12/01', '93.8125', '6.448M', '8.99M']
spot of 93.8125 with type <class 'str'>
['Th', '1/11/01', '93.6875', '9.635M', '9.399M']
spot of 93.6875 with type <class 'str'>
['We', '1/10/01', '93.4375', '7.656M', '9.27M']
spot of 93.4375 with type <class 'str'>
['Tu', '1/9/01', '92.5625', '7.522M', '9.273M']

spot of 92.5625 with type <class 'str'>
['Mo', '1/8/01', '93.5625', '6.065M', '9.721M']
spot of 93.5625 with type <class 'str'>
['Fr', '1/5/01', '94', '8.043M', '9.726M']
spot of 94 with type <class 'str'>
['Th', '1/4/01', '93.1875', '15.421M', '9.656M']
spot of 93.1875 with type <class 'str'>
['We', '1/3/01', '94.625', '12.772M', '9.155M']
spot of 94.625 with type <class 'str'>
['Tu', '1/2/01', '84.8125', '8.007M', '8.716M']
spot of 84.8125 with type <class 'str'>
['Fr', '12/29/00', '85', '6.944M', '8.592M']
spot of 85 with type <class 'str'>
['Th', '12/28/00', '85.25', '9.799M', '8.657M']
spot of 85.25 with type <class 'str'>
['We', '12/27/00', '84.6875', '8.245M', '8.677M']
spot of 84.6875 with type <class 'str'>
['Tu', '12/26/00', '84.8125', '6.052M', '8.647M']
spot of 84.8125 with type <class 'str'>
['Fr', '12/22/00', '89', '9.514M', '8.615M']
spot of 89 with type <class 'str'>
['Th', '12/21/00', '81.5625', '12.726M', '8.482M']
spot of 81.5625 with type <class 'str'>
['We', '12/20/00', '86', '12.58M', '8.344M']
spot of 86 with type <class 'str'>
['Tu', '12/19/00', '90.125', '7.705M', '7.874M']
spot of 90.125 with type <class 'str'>
['Mo', '12/18/00', '90.5', '7.694M', '7.68M']
spot of 90.5 with type <class 'str'>
['Fr', '12/15/00', '87.8125', '14.254M', '7.425M']
spot of 87.8125 with type <class 'str'>
['Th', '12/14/00', '92.4375', '6.131M', '6.641M']
spot of 92.4375 with type <class 'str'>
['We', '12/13/00', '91.25', '6.993M', '6.601M']
spot of 91.25 with type <class 'str'>
['Tu', '12/12/00', '93.875', '7.913M', '6.614M']
spot of 93.875 with type <class 'str'>
['Mo', '12/11/00', '95', '6.186M', '6.582M']
spot of 95 with type <class 'str'>
['Fr', '12/8/00', '97', '6.14M', '6.684M']
spot of 97 with type <class 'str'>
['Th', '12/7/00', '95.375', '7.922M', '6.524M']
spot of 95.375 with type <class 'str'>
['We', '12/6/00', '96.75', '10.097M', '6.273M']
spot of 96.75 with type <class 'str'>
['Tu', '12/5/00', '103.375', '7.804M', '5.943M']
spot of 103.375 with type <class 'str'>
['Mo', '12/4/00', '98.375', '5.567M', '6.002M']
spot of 98.375 with type <class 'str'>
['Fr', '12/1/00', '95.625', '7.525M', '6.085M']
spot of 95.625 with type <class 'str'>
['Th', '11/30/00', '93.5', '10.651M', '6.186M']
spot of 93.5 with type <class 'str'>
['We', '11/29/00', '99.8125', '5.525M', '5.942M']
spot of 99.8125 with type <class 'str'>
['Tu', '11/28/00', '97.875', '4.799M', '5.935M']
spot of 97.875 with type <class 'str'>
['Mo', '11/27/00', '98.4375', '3.866M', '5.912M']
spot of 98.4375 with type <class 'str'>
['Fr', '11/24/00', '99.9375', '2.498M', '6.044M']
spot of 99.9375 with type <class 'str'>
['We', '11/22/00', '98.5', '5.537M', '6.374M']
spot of 98.5 with type <class 'str'>
['Tu', '11/21/00', '98.5', '7.181M', '6.502M']
spot of 98.5 with type <class 'str'>
['Mo', '11/20/00', '103.25', '7.427M', '6.751M']
spot of 103.25 with type <class 'str'>
['Fr', '11/17/00', '101.9375', '7.717M', '6.794M']
spot of 101.9375 with type <class 'str'>
['Th', '11/16/00', '98.25', '3.74M', '6.709M']
spot of 98.25 with type <class 'str'>
['We', '11/15/00', '99.375', '4.16M', '7.135M']
spot of 99.375 with type <class 'str'>
['Tu', '11/14/00', '99.5', '5.151M', '7.795M']
spot of 99.5 with type <class 'str'>
['Mo', '11/13/00', '97.4375', '8.685M', '8.04M']
spot of 97.4375 with type <class 'str'>
['Fr', '11/10/00', '93', '6.808M', '8.084M']
spot of 93 with type <class 'str'>
['Th', '11/9/00', '99.4375', '9.048M', '8.255M']
spot of 99.4375 with type <class 'str'>
['We', '11/8/00', '100', '6.991M', '8.849M']
spot of 100 with type <class 'str'>
['Tu', '11/7/00', '102.3125', '5.421M', '10.368M']
spot of 102.3125 with type <class 'str'>
['Mo', '11/6/00', '100.3125', '4.449M', '10.599M']
spot of 100.3125 with type <class 'str'>
['Fr', '11/3/00', '100.125', '5.849M', '10.817M']
spot of 100.125 with type <class 'str'>
['Th', '11/2/00', '101.9375', '7.445M', '11.033M']
spot of 101.9375 with type <class 'str'>
['We', '11/1/00', '98.5625', '7.466M', '11.183M']
spot of 98.5625 with type <class 'str'>
['Tu', '10/31/00', '98.5', '10.904M', '11.271M']
spot of 98.5 with type <class 'str'>
['Mo', '10/30/00', '93.3125', '8.085M', '10.918M']
spot of 93.3125 with type <class 'str'>
['Fr', '10/27/00', '93.6875', '6.431M', '10.706M']
spot of 93.6875 with type <class 'str'>
['Th', '10/26/00', '92.75', '10.138M', '10.684M']
spot of 92.75 with type <class 'str'>
['We', '10/25/00', '87.5625', '14.059M', '10.378M']
spot of 87.5625 with type <class 'str'>
['Tu', '10/24/00', '91.4375', '8.826M', '10.219M']
spot of 91.4375 with type <class 'str'>
['Mo', '10/23/00', '92.875', '9.339M', '10.413M']
spot of 92.875 with type <class 'str'>
['Fr', '10/20/00', '94.75', '9.37M', '10.382M']
spot of 94.75 with type <class 'str'>
['Th', '10/19/00', '96.4375', '17.967M', '10.397M']
spot of 96.4375 with type <class 'str'>
['We', '10/18/00', '95.4375', '29.778M', '9.553M']
spot of 95.4375 with type <class 'str'>
['Tu', '10/17/00', '113', '8.883M', '7.965M']
spot of 113 with type <class 'str'>
['Mo', '10/16/00', '111.125', '7.71M', '7.787M']
spot of 111.125 with type <class 'str'>
['Fr', '10/13/00', '109.0625', '9.093M', '7.559M']
spot of 109.0625 with type <class 'str'>
['Th', '10/12/00', '103.125', '9.705M', '7.348M']
spot of 103.125 with type <class 'str'>
['We', '10/11/00', '112', '8.776M', '6.988M']
spot of 112 with type <class 'str'>
['Tu', '10/10/00', '114.875', '5.614M', '6.711M']
spot of 114.875 with type <class 'str'>
['Mo', '10/9/00', '117.9375', '4.898M', '6.56M']
spot of 117.9375 with type <class 'str'>
['Fr', '10/6/00', '116', '6.108M', '6.496M']
spot of 116 with type <class 'str'>
['Th', '10/5/00', '113.1875', '5.547M', '6.454M']
spot of 113.1875 with type <class 'str'>
['We', '10/4/00', '114.625', '11.669M', '6.379M']
spot of 114.625 with type <class 'str'>
['Tu', '10/3/00', '110.5625', '11.744M', '5.966M']
spot of 110.5625 with type <class 'str'>
['Mo', '10/2/00', '117.8125', '8.872M', '5.516M']
spot of 117.8125 with type <class 'str'>
['Fr', '9/29/00', '112.625', '9.595M', '5.433M']
spot of 112.625 with type <class 'str'>
['Th', '9/28/00', '115.25', '5.309M', '5.126M']
spot of 115.25 with type <class 'str'>
['We', '9/27/00', '118', '5.949M', '5.08M']
spot of 118 with type <class 'str'>
['Tu', '9/26/00', '119.125', '6.217M', '5.115M']
spot of 119.125 with type <class 'str'>
['Mo', '9/25/00', '123', '4.291M', '4.975M']
spot of 123 with type <class 'str'>
['Fr', '9/22/00', '123.875', '5.93M', '5.074M']
spot of 123.875 with type <class 'str'>
['Th', '9/21/00', '121.5', '4.302M', '5.043M']
spot of 121.5 with type <class 'str'>
['We', '9/20/00', '124.75', '4.623M', '5.085M']
spot of 124.75 with type <class 'str'>
['Tu', '9/19/00', '124.9375', '3.343M', '5.179M']
spot of 124.9375 with type <class 'str'>
['Mo', '9/18/00', '123.25', '3.933M', '5.526M']
spot of 123.25 with type <class 'str'>
['Fr', '9/15/00', '125', '5.482M', '5.815M']
spot of 125 with type <class 'str'>
['Th', '9/14/00', '126.875', '4.426M', '5.849M']
spot of 126.875 with type <class 'str'>
['We', '9/13/00', '127.6875', '5.474M', '5.838M']
spot of 127.6875 with type <class 'str'>
['Tu', '9/12/00', '125', '5.002M', '5.657M']
spot of 125 with type <class 'str'>
['Mo', '9/11/00', '124.5', '7.618M', '5.54M']
spot of 124.5 with type <class 'str'>
['Fr', '9/8/00', '129.5', '4.994M', '5.307M']
spot of 129.5 with type <class 'str'>
['Th', '9/7/00', '133.3711', '4.623M', '5.263M']
spot of 133.3711 with type <class 'str'>
['We', '9/6/00', '131.4375', '6.473M', '5.351M']
spot of 131.4375 with type <class 'str'>
['Tu', '9/5/00', '131.1875', '4.112M', '5.212M']
spot of 131.1875 with type <class 'str'>
['Fr', '9/1/00', '133.625', '5.776M', '5.268M']
spot of 133.625 with type <class 'str'>
['Th', '8/31/00', '132.0156', '5.47M', '5.292M']
spot of 132.0156 with type <class 'str'>
['We', '8/30/00', '130.3125', '4.929M', '5.293M']
spot of 130.3125 with type <class 'str'>
['Tu', '8/29/00', '132.875', '6.04M', '5.403M']
spot of 132.875 with type <class 'str'>
['Mo', '8/28/00', '131.5', '8.537M', '5.383M']
spot of 131.5 with type <class 'str'>
['Fr', '8/25/00', '129', '8.279M', '5.208M']
spot of 129 with type <class 'str'>
['Th', '8/24/00', '124.8125', '5.988M', '4.953M']
spot of 124.8125 with type <class 'str'>
['We', '8/23/00', '123.25', '4.251M', '4.925M']
spot of 123.25 with type <class 'str'>
['Tu', '8/22/00', '121.375', '2.769M', '5.034M']
spot of 121.375 with type <class 'str'>
['Mo', '8/21/00', '121.4375', '3.234M', '5.049M']
spot of 121.4375 with type <class 'str'>
['Fr', '8/18/00', '120.4375', '4.128M', '5.174M']
spot of 120.4375 with type <class 'str'>
['Th', '8/17/00', '122.5', '4.338M', '5.256M']
spot of 122.5 with type <class 'str'>
['We', '8/16/00', '122.375', '5.946M', '5.237M']

spot of 122.375 with type <class 'str'>
['Tu', '8/15/00', '122', '4.378M', '5.285M']
spot of 122 with type <class 'str'>
['Mo', '8/14/00', '123.25', '4.949M', '5.364M']
spot of 123.25 with type <class 'str'>
['Fr', '8/11/00', '120.625', '6.142M', '5.489M']
spot of 120.625 with type <class 'str'>
['Th', '8/10/00', '119.75', '5.484M', '5.677M']
spot of 119.75 with type <class 'str'>
['We', '8/9/00', '118.75', '6.585M', '6.848M']
spot of 118.75 with type <class 'str'>
['Tu', '8/8/00', '118.875', '5.737M', '6.928M']
spot of 118.875 with type <class 'str'>
['Mo', '8/7/00', '116.3125', '5.911M', '6.975M']
spot of 116.3125 with type <class 'str'>
['Fr', '8/4/00', '115.875', '4.461M', '7.023M']
spot of 115.875 with type <class 'str'>
['Th', '8/3/00', '116', '5.567M', '6.994M']
spot of 116 with type <class 'str'>
['We', '8/2/00', '114.25', '5.878M', '7.001M']
spot of 114.25 with type <class 'str'>
['Tu', '8/1/00', '110.5', '2.997M', '6.979M']
spot of 110.5 with type <class 'str'>
['Mo', '7/31/00', '112.25', '5.114M', '7.154M']
spot of 112.25 with type <class 'str'>
['Fr', '7/28/00', '111.8125', '5.356M', '7.094M']
spot of 111.8125 with type <class 'str'>
['Th', '7/27/00', '110.3125', '4.047M', '7.339M']
spot of 110.3125 with type <class 'str'>
['We', '7/26/00', '109.875', '6.67M', '7.931M']
spot of 109.875 with type <class 'str'>
['Tu', '7/25/00', '112', '5.567M', '8.443M']
spot of 112 with type <class 'str'>
['Mo', '7/24/00', '112.5', '6.814M', '8.225M']
spot of 112.5 with type <class 'str'>
['Fr', '7/21/00', '114.75', '8.966M', '8.345M']
spot of 114.75 with type <class 'str'>
['Th', '7/20/00', '117.25', '23.048M', '8.26M']
spot of 117.25 with type <class 'str'>
['We', '7/19/00', '108.75', '7.781M', '7.152M']
spot of 108.75 with type <class 'str'>
['Tu', '7/18/00', '103.3125', '6.453M', '7.074M']
spot of 103.3125 with type <class 'str'>
['Mo', '7/17/00', '105.5', '6.633M', '6.886M']
spot of 105.5 with type <class 'str'>
['Fr', '7/14/00', '103.9375', '4.02M', '6.668M']
spot of 103.9375 with type <class 'str'>
['Th', '7/13/00', '104', '5.67M', '6.723M']
spot of 104 with type <class 'str'>
['We', '7/12/00', '104.625', '5.551M', '6.778M']
spot of 104.625 with type <class 'str'>
['Tu', '7/11/00', '102', '5.62M', '6.881M']
spot of 102 with type <class 'str'>
['Mo', '7/10/00', '103.3125', '4.212M', '6.91M']
spot of 103.3125 with type <class 'str'>
['Fr', '7/7/00', '105.0625', '9.032M', '7.166M']
spot of 105.0625 with type <class 'str'>
['Th', '7/6/00', '101.25', '12.933M', '6.923M']
spot of 101.25 with type <class 'str'>
['We', '7/5/00', '105', '14.34M', '6.413M']
spot of 105 with type <class 'str'>
['Mo', '7/3/00', '109.5', '2.304M', '5.724M']
spot of 109.5 with type <class 'str'>
['Fr', '6/30/00', '109.5625', '8.613M', '5.813M']
spot of 109.5625 with type <class 'str'>
['Th', '6/29/00', '114', '7.689M', '5.555M']
spot of 114 with type <class 'str'>
['We', '6/28/00', '113.7813', '6.437M', '5.664M']
spot of 113.7813 with type <class 'str'>
['Tu', '6/27/00', '109.75', '6.608M', '5.976M']
spot of 109.75 with type <class 'str'>
['Mo', '6/26/00', '114.4063', '3.626M', '5.894M']
spot of 114.4063 with type <class 'str'>
['Fr', '6/23/00', '111.875', '3.361M', '6.137M']
spot of 111.875 with type <class 'str'>
['Th', '6/22/00', '111.8125', '4.853M', '6.278M']
spot of 111.8125 with type <class 'str'>
['We', '6/21/00', '114.5', '6.487M', '6.335M']
spot of 114.5 with type <class 'str'>
['Tu', '6/20/00', '116.375', '7.104M', '6.152M']
spot of 116.375 with type <class 'str'>
['Mo', '6/19/00', '120.375', '6.059M', '5.919M']
spot of 120.375 with type <class 'str'>
['Fr', '6/16/00', '113.25', '8.046M', '5.802M']
spot of 113.25 with type <class 'str'>
['Th', '6/15/00', '116.8125', '5.386M', '5.663M']
spot of 116.8125 with type <class 'str'>
['We', '6/14/00', '116', '5.283M', '5.85M']
spot of 116 with type <class 'str'>
['Tu', '6/13/00', '119.3125', '4.009M', '5.896M']
spot of 119.3125 with type <class 'str'>
['Mo', '6/12/00', '118.8359', '3.64M', '6.08M']
spot of 118.8359 with type <class 'str'>
['Fr', '6/9/00', '119.6875', '4.739M', '6.266M']
spot of 119.6875 with type <class 'str'>
['Th', '6/8/00', '119.75', '9.326M', '6.255M']
spot of 119.75 with type <class 'str'>
['We', '6/7/00', '121', '11.116M', '6.001M']
spot of 121 with type <class 'str'>
['Tu', '6/6/00', '112.375', '5.369M', '5.745M']
spot of 112.375 with type <class 'str'>
['Mo', '6/5/00', '112.8125', '7.281M', '5.781M']
spot of 112.8125 with type <class 'str'>
['Fr', '6/2/00', '108.8125', '5.473M', '5.668M']
spot of 108.8125 with type <class 'str'>
['Th', '6/1/00', '106', '5.713M', '5.844M']
spot of 106 with type <class 'str'>
['We', '5/31/00', '107.3125', '3.733M', '6.131M']
spot of 107.3125 with type <class 'str'>
['Tu', '5/30/00', '110.9375', '3.618M', '6.206M']
spot of 110.9375 with type <class 'str'>
['Fr', '5/26/00', '106.9375', '4.297M', '6.287M']
spot of 106.9375 with type <class 'str'>
['Th', '5/25/00', '106.5', '5.968M', '6.313M']
spot of 106.5 with type <class 'str'>
['We', '5/24/00', '109.625', '8.184M', '6.158M']
spot of 109.625 with type <class 'str'>
['Tu', '5/23/00', '107.375', '5.979M', '5.982M']
spot of 107.375 with type <class 'str'>
['Mo', '5/22/00', '109.25', '6.769M', '5.855M']
spot of 109.25 with type <class 'str'>
['Fr', '5/19/00', '106.4375', '6.419M', '5.684M']
spot of 106.4375 with type <class 'str'>
['Th', '5/18/00', '106.0625', '4.577M', '5.582M']
spot of 106.0625 with type <class 'str'>
['We', '5/17/00', '107.875', '5.525M', '5.698M']
spot of 107.875 with type <class 'str'>
['Tu', '5/16/00', '109', '7.266M', '5.742M']
spot of 109 with type <class 'str'>
['Mo', '5/15/00', '104.1875', '5.908M', '5.902M']
spot of 104.1875 with type <class 'str'>
['Fr', '5/12/00', '104.4375', '5.6M', '6.077M']
spot of 104.4375 with type <class 'str'>
['Th', '5/11/00', '104.4375', '8.106M', '6.412M']
spot of 104.4375 with type <class 'str'>
['We', '5/10/00', '103', '10.013M', '6.85M']
spot of 103 with type <class 'str'>
['Tu', '5/9/00', '109', '4.865M', '6.73M']
spot of 109 with type <class 'str'>
['Mo', '5/8/00', '109.75', '4.827M', '7.07M']
spot of 109.75 with type <class 'str'>
['Fr', '5/5/00', '107.875', '4.695M', '7.534M']
spot of 107.875 with type <class 'str'>
['Th', '5/4/00', '107.625', '3.631M', '7.77M']
spot of 107.625 with type <class 'str'>
['We', '5/3/00', '108.125', '5.544M', '8.12M']
spot of 108.125 with type <class 'str'>
['Tu', '5/2/00', '111.375', '4.085M', '8.267M']
spot of 111.375 with type <class 'str'>
['Mo', '5/1/00', '112', '4.196M', '8.361M']
spot of 112 with type <class 'str'>
['Fr', '4/28/00', '111.5', '4.889M', '8.44M']
spot of 111.5 with type <class 'str'>
['Th', '4/27/00', '110.625', '6.318M', '8.707M']
spot of 110.625 with type <class 'str'>
['We', '4/26/00', '110.5', '6.183M', '8.849M']
spot of 110.5 with type <class 'str'>
['Tu', '4/25/00', '112.5', '9.678M', '9.548M']
spot of 112.5 with type <class 'str'>
['Mo', '4/24/00', '106.5', '8.523M', '9.417M']
spot of 106.5 with type <class 'str'>
['Th', '4/20/00', '104', '10.633M', '9.383M']
spot of 104 with type <class 'str'>
['We', '4/19/00', '105', '14.675M', '9.285M']
spot of 105 with type <class 'str'>
['Tu', '4/18/00', '111.5', '8.206M', '8.794M']
spot of 111.5 with type <class 'str'>
['Mo', '4/17/00', '111.875', '9.97M', '8.79M']
spot of 111.875 with type <class 'str'>
['Fr', '4/14/00', '105', '11.782M', '8.916M']
spot of 105 with type <class 'str'>
['Th', '4/13/00', '110.625', '8.236M', '8.939M']
spot of 110.625 with type <class 'str'>
['We', '4/12/00', '113.75', '8.889M', '8.823M']
spot of 113.75 with type <class 'str'>
['Tu', '4/11/00', '119.375', '7.739M', '8.64M']
spot of 119.375 with type <class 'str'>
['Mo', '4/10/00', '122.125', '5.507M', '8.575M']
spot of 122.125 with type <class 'str'>
['Fr', '4/7/00', '123.125', '5.38M', '8.646M']
spot of 123.125 with type <class 'str'>
['Th', '4/6/00', '122.75', '8.887M', '8.877M']
spot of 122.75 with type <class 'str'>
['We', '4/5/00', '125', '8.445M', '8.726M']
spot of 125 with type <class 'str'>
['Tu', '4/4/00', '121.1875', '16.668M', '8.541M']
spot of 121.1875 with type <class 'str'>
['Mo', '4/3/00', '122', '7.716M', '7.962M']
spot of 122 with type <class 'str'>
['Fr', '3/31/00', '118.375', '8.015M', '7.972M']
spot of 118.375 with type <class 'str'>
['Th', '3/30/00', '122.75', '9.158M', '7.91M']
spot of 122.75 with type <class 'str'>
['We', '3/29/00', '119', '7.312M', '7.722M']
spot of 119 with type <class 'str'>
['Tu', '3/28/00', '122.5', '8.15M', '7.793M']
spot of 122.5 with type <class 'str'>
['Mo', '3/27/00', '126.875', '11.863M', '7.919M']
spot of 126.875 with type <class 'str'>
['Fr', '3/24/00', '120.625', '12.126M', '7.845M']
spot of 120.625 with type <class 'str'>
['Th', '3/23/00', '115.25', '6.492M', '7.714M']
spot of 115.25 with type <class 'str'>
['We', '3/22/00', '114.25', '6.138M', '8.027M']
spot of 114.25 with type <class 'str'>
['Tu', '3/21/00', '113.5', '6.772M', '8.338M']
spot of 113.5 with type <class 'str'>
['Mo', '3/20/00', '112.75', '6.564M', '8.586M']
spot of 112.75 with type <class 'str'>
['Fr', '3/17/00', '110', '8.857M', '8.714M']
spot of 110 with type <class 'str'>
['Th', '3/16/00', '109', '6.623M', '8.811M']
spot of 109 with type <class 'str'>
['We', '3/15/00', '107', '5.666M', '8.977M']
spot of 107 with type <class 'str'>
['Tu', '3/14/00', '108.625', '7.974M', '9.095M']
spot of 108.625 with type <class 'str'>
['Mo', '3/13/00', '107.6875', '7.871M', '9.073M']
spot of 107.6875 with type <class 'str'>
['Fr', '3/10/00', '105.25', '7.093M', '9.06M']
spot of 105.25 with type <class 'str'>
['Th', '3/9/00', '108', '6.334M', '8.936M']
spot of 108 with type <class 'str'>
['We', '3/8/00', '106.25', '8.376M', '8.779M']
spot of 106.25 with type <class 'str'>
['Tu', '3/7/00', '102.75', '10.035M', '8.565M']
spot of 102.75 with type <class 'str'>
['Mo', '3/6/00', '103.0625', '10.747M', '8.199M']
spot of 103.0625 with type <class 'str'>
['Fr', '3/3/00', '108', '10.163M', '7.866M']
spot of 108 with type <class 'str'>
['Th', '3/2/00', '103.125', '11.193M', '7.485M']
spot of 103.125 with type <class 'str'>
['We', '3/1/00', '100.25', '10.808M', '7.097M']
spot of 100.25 with type <class 'str'>
['Tu', '2/29/00', '102.75', '10.485M', '6.741M']
spot of 102.75 with type <class 'str'>
['Mo', '2/28/00', '104.5', '8.48M', '6.427M']
spot of 104.5 with type <class 'str'>
['Fr', '2/25/00', '108', '10.312M', '6.222M']
spot of 108 with type <class 'str'>
['Th', '2/24/00', '110.5', '9.112M', '5.949M']
spot of 110.5 with type <class 'str'>
['We', '2/23/00', '108.75', '7.435M', '5.856M']
spot of 108.75 with type <class 'str'>
['Tu', '2/22/00', '111', '7.655M', '5.847M']
spot of 111 with type <class 'str'>
['Fr', '2/18/00', '112.5', '7.673M', '5.75M']
spot of 112.5 with type <class 'str'>
['Th', '2/17/00', '116.75', '5.238M', '5.683M']
spot of 116.75 with type <class 'str'>
['We', '2/16/00', '115.75', '3.967M', '5.889M']
spot of 115.75 with type <class 'str'>
['Tu', '2/15/00', '117.125', '5.178M', '5.951M']
spot of 117.125 with type <class 'str'>
['Mo', '2/14/00', '116.0625', '4.544M', '6.068M']
spot of 116.0625 with type <class 'str'>
['Fr', '2/11/00', '115.375', '5.749M', '6.199M']
spot of 115.375 with type <class 'str'>
['Th', '2/10/00', '119.125', '4.447M', '6.34M']
spot of 119.125 with type <class 'str'>
['We', '2/9/00', '117.375', '5.375M', '7.234M']
spot of 117.375 with type <class 'str'>
['Tu', '2/8/00', '118.8125', '5.467M', '7.451M']
spot of 118.8125 with type <class 'str'>
['Mo', '2/7/00', '114.125', '5.78M', '7.596M']
spot of 114.125 with type <class 'str'>
['Fr', '2/4/00', '115.625', '5.406M', '7.941M']
spot of 115.625 with type <class 'str'>
['Th', '2/3/00', '117.125', '6.214M', '8.147M']
spot of 117.125 with type <class 'str'>
['We', '2/2/00', '113.5', '7.708M', '8.186M']
spot of 113.5 with type <class 'str'>
['Tu', '2/1/00', '110', '7.305M', '8.197M']
spot of 110 with type <class 'str'>
['Mo', '1/31/00', '112.25', '6.203M', '8.28M']
spot of 112.25 with type <class 'str'>
['Fr', '1/28/00', '111.5625', '6.67M', '8.657M']
spot of 111.5625 with type <class 'str'>
['Th', '1/27/00', '113.5', '8.328M', '8.743M']
spot of 113.5 with type <class 'str'>
['We', '1/26/00', '116.75', '4.895M', '9.037M']
spot of 116.75 with type <class 'str'>
['Tu', '1/25/00', '119.125', '6.938M', '9.259M']
spot of 119.125 with type <class 'str'>
['Mo', '1/24/00', '121.5', '6.499M', '9.487M']
spot of 121.5 with type <class 'str'>
['Fr', '1/21/00', '121.5', '7.869M', '9.245M']
spot of 121.5 with type <class 'str'>
['Th', '1/20/00', '119', '17.853M', '8.949M']
spot of 119 with type <class 'str'>
['We', '1/19/00', '119.5', '8.635M', '7.938M']
spot of 119.5 with type <class 'str'>
['Tu', '1/18/00', '115.75', '7.644M', '7.635M']
spot of 115.75 with type <class 'str'>
['Fr', '1/14/00', '119.625', '10.957M', '7.374M']
spot of 119.625 with type <class 'str'>
['Th', '1/13/00', '118.25', '8.49M', '6.946M']
spot of 118.25 with type <class 'str'>
['We', '1/12/00', '119.5', '6.804M', '6.647M']
spot of 119.5 with type <class 'str'>
['Tu', '1/11/00', '119', '7.873M', '6.511M']
spot of 119 with type <class 'str'>
['Mo', '1/10/00', '118', '8.541M', '6.309M']
spot of 118 with type <class 'str'>
['Fr', '1/7/00', '113.5', '11.857M', '6.251M']
spot of 113.5 with type <class 'str'>
['Th', '1/6/00', '114', '7.972M', '5.936M']
spot of 114 with type <class 'str'>
['We', '1/5/00', '116', '12.733M', '6.034M']
spot of 116 with type <class 'str'>
['Tu', '1/4/00', '112.0625', '8.228M', '5.68M']
spot of 112.0625 with type <class 'str'>
['Mo', '1/3/00', '116', '10.348M', '5.608M']
spot of 116 with type <class 'str'>
['Fr', '12/31/99', '107.875', '2.87M', '5.757M']
spot of 107.875 with type <class 'str'>
['Th', '12/30/99', '108.75', '3.435M', '6.675M']
spot of 108.75 with type <class 'str'>
['We', '12/29/99', '109', '2.683M', '6.989M']
spot of 109 with type <class 'str'>
['Tu', '12/28/99', '109.8125', '4.083M', '7.565M']
spot of 109.8125 with type <class 'str'>
['Mo', '12/27/99', '109.75', '3.741M', '7.955M']
spot of 109.75 with type <class 'str'>
['Th', '12/23/99', '108.625', '4.529M', '8.684M']
spot of 108.625 with type <class 'str'>
['We', '12/22/99', '108', '4.006M', '8.797M']
spot of 108 with type <class 'str'>
['Tu', '12/21/99', '110.125', '4.774M', '8.885M']
spot of 110.125 with type <class 'str'>
['Mo', '12/20/99', '109.2071', '4.836M', '8.951M']
spot of 109.2071 with type <class 'str'>
['Fr', '12/17/99', '110', '7.677M', '9.007M']
spot of 110 with type <class 'str'>
['Th', '12/16/99', '109.1875', '7.122M', '8.703M']
spot of 109.1875 with type <class 'str'>
['We', '12/15/99', '107', '9.438M', '8.875M']
spot of 107 with type <class 'str'>
['Tu', '12/14/99', '109.25', '7.438M', '8.957M']
spot of 109.25 with type <class 'str'>
['Mo', '12/13/99', '109.6992', '7.135M', '9.373M']
spot of 109.6992 with type <class 'str'>
['Fr', '12/10/99', '109', '12.589M', '10.209M']
spot of 109 with type <class 'str'>
['Th', '12/9/99', '113.375', '16.643M', '10.618M']
spot of 113.375 with type <class 'str'>
['We', '12/8/99', '118.2734', '8.14M', '10.066M']
spot of 118.2734 with type <class 'str'>
['Tu', '12/7/99', '116.625', '11.326M', '10.092M']
spot of 116.625 with type <class 'str'>
['Mo', '12/6/99', '116', '9.928M', '9.754M']
spot of 116 with type <class 'str'>
['Fr', '12/3/99', '111.875', '14.68M', '9.737M']
spot of 111.875 with type <class 'str'>
['Th', '12/2/99', '105.2656', '6.217M', '9.235M']
spot of 105.2656 with type <class 'str'>
['We', '12/1/99', '103.4219', '5.336M', '9.399M']
spot of 103.4219 with type <class 'str'>
['Tu', '11/30/99', '103.0625', '5.759M', '9.68M']
spot of 103.0625 with type <class 'str'>
['Mo', '11/29/99', '104.1875', '5.678M', '9.864M']
spot of 104.1875 with type <class 'str'>
['Fr', '11/26/99', '105', '3.108M', '10.402M']
spot of 105 with type <class 'str'>
['We', '11/24/99', '104.5', '9.71M', '11.308M']
spot of 104.5 with type <class 'str'>
['Tu', '11/23/99', '106.0625', '10.665M', '11.351M']
spot of 106.0625 with type <class 'str'>
['Mo', '11/22/99', '107.875', '13.682M', '11.381M']
spot of 107.875 with type <class 'str'>
['Fr', '11/19/99', '103.9375', '19.678M', '11.105M']
spot of 103.9375 with type <class 'str'>
['Th', '11/18/99', '98', '18.721M', '10.532M']
spot of 98 with type <class 'str'>
['We', '11/17/99', '93.25', '8.355M', '9.914M']
spot of 93.25 with type <class 'str'>
['Tu', '11/16/99', '94.625', '8.537M', '10.015M']
spot of 94.625 with type <class 'str'>
['Mo', '11/15/99', '94.0625', '6.259M', '10.204M']
spot of 94.0625 with type <class 'str'>
['Fr', '11/12/99', '95.875', '9.668M', '10.704M']
spot of 95.875 with type <class 'str'>
['Th', '11/11/99', '95', '7.148M', '11.837M']
spot of 95 with type <class 'str'>
['We', '11/10/99', '97', '8.68M', '15.991M']
spot of 97 with type <class 'str'>
['Tu', '11/9/99', '93.625', '9.551M', '16.17M']
spot of 93.625 with type <class 'str'>
['Mo', '11/8/99', '93.9375', '8.522M', '16.146M']
spot of 93.9375 with type <class 'str'>
['Fr', '11/5/99', '90.25', '13.738M', '16.223M']
spot of 90.25 with type <class 'str'>
['Th', '11/4/99', '91.5625', '16.698M', '16.235M']
spot of 91.5625 with type <class 'str'>
['We', '11/3/99', '94.375', '10.369M', '16.067M']
spot of 94.375 with type <class 'str'>
['Tu', '11/2/99', '94.8125', '11.105M', '16.377M']
spot of 94.8125 with type <class 'str'>

['Mo', '11/1/99', '96.75', '9.552M', '16.188M']
spot of 96.75 with type <class 'str'>
['Fr', '10/29/99', '98.25', '11.079M', '16.073M']
spot of 98.25 with type <class 'str'>
['Th', '10/28/99', '94.9375', '9.447M', '16.526M']
spot of 94.9375 with type <class 'str'>
['We', '10/27/99', '93', '9.871M', '16.845M']
spot of 93 with type <class 'str'>
['Tu', '10/26/99', '95.5', '11.367M', '16.724M']
spot of 95.5 with type <class 'str'>
['Mo', '10/25/99', '93.875', '13.765M', '16.396M']
spot of 93.875 with type <class 'str'>
['Fr', '10/22/99', '93.9375', '26.669M', '15.947M']
spot of 93.9375 with type <class 'str'>
['Th', '10/21/99', '91', '69.445M', '14.873M']
spot of 91 with type <class 'str'>
['We', '10/20/99', '107', '11.377M', '10.687M']
spot of 107 with type <class 'str'>
['Tu', '10/19/99', '107.125', '9.185M', '10.513M']
spot of 107.125 with type <class 'str'>
['Mo', '10/18/99', '107', '9.678M', '10.374M']
spot of 107 with type <class 'str'>
['Fr', '10/15/99', '107.875', '13.921M', '10.201M']
spot of 107.875 with type <class 'str'>
['Th', '10/14/99', '107', '14.179M', '9.769M']
spot of 107 with type <class 'str'>
['We', '10/13/99', '105.0625', '15.015M', '9.33M']
spot of 105.0625 with type <class 'str'>
['Tu', '10/12/99', '110', '8.275M', '8.869M']
spot of 110 with type <class 'str'>
['Mo', '10/11/99', '114.25', '7.827M', '8.783M']
spot of 114.25 with type <class 'str'>
['Fr', '10/8/99', '113.5', '17.868M', '8.764M']
spot of 113.5 with type <class 'str'>
['Th', '10/7/99', '116.375', '14.24M', '8.563M']
spot of 116.375 with type <class 'str'>
['We', '10/6/99', '119.1875', '8.055M', '8.02M']
spot of 119.1875 with type <class 'str'>
['Tu', '10/5/99', '122', '6.436M', '7.86M']
spot of 122 with type <class 'str'>
['Mo', '10/4/99', '119.875', '7.042M', '7.737M']
spot of 119.875 with type <class 'str'>
['Fr', '10/1/99', '117.75', '10.559M', '7.564M']
spot of 117.75 with type <class 'str'>
['Th', '9/30/99', '121', '6.643M', '7.199M']
spot of 121 with type <class 'str'>
['We', '9/29/99', '120.0625', '8.776M', '7.318M']
spot of 120.0625 with type <class 'str'>
['Tu', '9/28/99', '123.5', '7.103M', '7.213M']
spot of 123.5 with type <class 'str'>
['Mo', '9/27/99', '123', '7.075M', '7.243M']
spot of 123 with type <class 'str'>
['Fr', '9/24/99', '125', '7.451M', '7.123M']
spot of 125 with type <class 'str'>
['Th', '9/23/99', '122', '7.59M', '6.999M']
spot of 122 with type <class 'str'>
['We', '9/22/99', '125.1875', '8.092M', '6.911M']
spot of 125.1875 with type <class 'str'>
['Tu', '9/21/99', '127.125', '6.984M', '6.785M']
spot of 127.125 with type <class 'str'>
['Mo', '9/20/99', '130.125', '7.543M', '6.638M']
spot of 130.125 with type <class 'str'>
['Fr', '9/17/99', '125.375', '14.858M', '6.426M']
spot of 125.375 with type <class 'str'>
['Th', '9/16/99', '130', '6.093M', '5.851M']
spot of 130 with type <class 'str'>
['We', '9/15/99', '131.9375', '5.655M', '5.876M']
spot of 131.9375 with type <class 'str'>
['Tu', '9/14/99', '133.3125', '4.591M', '6.062M']
spot of 133.3125 with type <class 'str'>
['Mo', '9/13/99', '132.375', '4.442M', '6.159M']
spot of 132.375 with type <class 'str'>
['Fr', '9/10/99', '135', '5.089M', '6.26M']
spot of 135 with type <class 'str'>
['Th', '9/9/99', '134.75', '8.423M', '6.426M']
spot of 134.75 with type <class 'str'>
['We', '9/8/99', '130.75', '7.206M', '6.305M']
spot of 130.75 with type <class 'str'>
['Tu', '9/7/99', '132', '7.553M', '6.167M']
spot of 132 with type <class 'str'>
['Fr', '9/3/99', '128.8594', '5.283M', '5.99M']
spot of 128.8594 with type <class 'str'>
['Th', '9/2/99', '125.875', '5.583M', '5.931M']
spot of 125.875 with type <class 'str'>
['We', '9/1/99', '127.25', '6.264M', '5.894M']
spot of 127.25 with type <class 'str'>
['Tu', '8/31/99', '124.5625', '6.214M', '5.846M']
spot of 124.5625 with type <class 'str'>
['Mo', '8/30/99', '123.1875', '4.773M', '5.821M']
spot of 123.1875 with type <class 'str'>
['Fr', '8/27/99', '124', '4.355M', '5.773M']
spot of 124 with type <class 'str'>
['Th', '8/26/99', '122.9375', '6.245M', '5.892M']
spot of 122.9375 with type <class 'str'>
['We', '8/25/99', '122.375', '6.463M', '5.967M']
spot of 122.375 with type <class 'str'>
['Tu', '8/24/99', '122', '8.442M', '5.919M']
spot of 122 with type <class 'str'>
['Mo', '8/23/99', '124.4375', '6.044M', '5.814M']
spot of 124.4375 with type <class 'str'>
['Fr', '8/20/99', '121.75', '5.962M', '5.715M']
spot of 121.75 with type <class 'str'>
['Th', '8/19/99', '122.9375', '7.583M', '5.606M']
spot of 122.9375 with type <class 'str'>
['We', '8/18/99', '123.875', '6.607M', '5.481M']
spot of 123.875 with type <class 'str'>
['Tu', '8/17/99', '128.5', '5.136M', '5.393M']
spot of 128.5 with type <class 'str'>
['Mo', '8/16/99', '127.375', '4.889M', '5.485M']
spot of 127.375 with type <class 'str'>
['Fr', '8/13/99', '123.375', '4.4M', '5.527M']
spot of 123.375 with type <class 'str'>
['Th', '8/12/99', '121.125', '5.028M', '5.698M']
spot of 121.125 with type <class 'str'>
['We', '8/11/99', '123.3125', '5.543M', '5.954M']
spot of 123.3125 with type <class 'str'>
['Tu', '8/10/99', '119.3125', '5.846M', '6.17M']
spot of 119.3125 with type <class 'str'>
['Mo', '8/9/99', '122.1875', '4.048M', '6.734M']
spot of 122.1875 with type <class 'str'>
['Fr', '8/6/99', '123.5', '6.143M', '6.973M']
spot of 123.5 with type <class 'str'>
['Th', '8/5/99', '123.1875', '7.365M', '6.905M']
spot of 123.1875 with type <class 'str'>
['We', '8/4/99', '118.5', '5.755M', '6.786M']
spot of 118.5 with type <class 'str'>
['Tu', '8/3/99', '119.375', '6.856M', '6.718M']
spot of 119.375 with type <class 'str'>
['Mo', '8/2/99', '122.25', '4.565M', '6.637M']
spot of 122.25 with type <class 'str'>
['Fr', '7/30/99', '125.6875', '4.325M', '6.669M']
spot of 125.6875 with type <class 'str'>
['Th', '7/29/99', '125.375', '5.708M', '6.7M']
spot of 125.375 with type <class 'str'>
['We', '7/28/99', '128.375', '5.288M', '6.725M']
spot of 128.375 with type <class 'str'>
['Tu', '7/27/99', '126.25', '6.514M', '6.816M']
spot of 126.25 with type <class 'str'>
['Mo', '7/26/99', '123', '5.52M', '6.762M']
spot of 123 with type <class 'str'>
['Fr', '7/23/99', '124.8125', '6.964M', '6.631M']
spot of 124.8125 with type <class 'str'>
['Th', '7/22/99', '123.875', '8.869M', '6.561M']
spot of 123.875 with type <class 'str'>
['We', '7/21/99', '129', '8.792M', '6.52M']
spot of 129 with type <class 'str'>
['Tu', '7/20/99', '128.25', '14.307M', '6.282M']
spot of 128.25 with type <class 'str'>
['Mo', '7/19/99', '134.625', '7.627M', '5.744M']
spot of 134.625 with type <class 'str'>
['Fr', '7/16/99', '136.25', '5.123M', '5.539M']
spot of 136.25 with type <class 'str'>
['Th', '7/15/99', '136.3125', '5.584M', '5.547M']
spot of 136.3125 with type <class 'str'>
['We', '7/14/99', '137.25', '4.724M', '5.469M']
spot of 137.25 with type <class 'str'>
['Tu', '7/13/99', '137.875', '5.646M', '5.607M']
spot of 137.875 with type <class 'str'>
['Mo', '7/12/99', '137.8125', '5.047M', '5.661M']
spot of 137.8125 with type <class 'str'>
['Fr', '7/9/99', '137.375', '4.784M', '5.936M']
spot of 137.375 with type <class 'str'>
['Th', '7/8/99', '134', '6.093M', '5.928M']
spot of 134 with type <class 'str'>
['We', '7/7/99', '132.8125', '6.649M', '5.987M']
spot of 132.8125 with type <class 'str'>
['Tu', '7/6/99', '131', '5.709M', '5.869M']
spot of 131 with type <class 'str'>
['Fr', '7/2/99', '132.25', '3.544M', '5.815M']
spot of 132.25 with type <class 'str'>
['Th', '7/1/99', '131', '5.912M', '5.865M']
spot of 131 with type <class 'str'>
['We', '6/30/99', '129.25', '8.257M', '5.794M']
spot of 129.25 with type <class 'str'>
['Tu', '6/29/99', '124.625', '5.224M', '5.615M']
spot of 124.625 with type <class 'str'>
['Mo', '6/28/99', '122.5625', '6.233M', '5.76M']
spot of 122.5625 with type <class 'str'>
['Fr', '6/25/99', '123.125', '4.564M', '5.788M']
spot of 123.125 with type <class 'str'>
['Th', '6/24/99', '122.5625', '5.231M', '5.835M']
spot of 122.5625 with type <class 'str'>
['We', '6/23/99', '122.9375', '4.419M', '5.827M']
spot of 122.9375 with type <class 'str'>
['Tu', '6/22/99', '123.375', '6.791M', '5.999M']
spot of 123.375 with type <class 'str'>
['Mo', '6/21/99', '124.75', '6.466M', '6.024M']
spot of 124.75 with type <class 'str'>
['Fr', '6/18/99', '120.75', '9.16M', '6.018M']
spot of 120.75 with type <class 'str'>
['Th', '6/17/99', '120.1875', '4.676M', '6.111M']
spot of 120.1875 with type <class 'str'>
['We', '6/16/99', '120.6875', '6.963M', '6.908M']
spot of 120.6875 with type <class 'str'>
['Tu', '6/15/99', '115.875', '4.885M', '7.07M']
spot of 115.875 with type <class 'str'>
['Mo', '6/14/99', '115.5', '4.897M', '7.318M']
spot of 115.5 with type <class 'str'>
['Fr', '6/11/99', '114.3125', '4.295M', '7.452M']
spot of 114.3125 with type <class 'str'>
['Th', '6/10/99', '115.25', '4.852M', '7.595M']
spot of 115.25 with type <class 'str'>
['We', '6/9/99', '117', '5.57M', '7.791M']
spot of 117 with type <class 'str'>
['Tu', '6/8/99', '116.625', '7.395M', '7.995M']
spot of 116.625 with type <class 'str'>
['Mo', '6/7/99', '120.5', '6.664M', '8.273M']
spot of 120.5 with type <class 'str'>
['Fr', '6/4/99', '116', '5.259M', '9.034M']
spot of 116 with type <class 'str'>
['Th', '6/3/99', '112.9375', '5.113M', '10.305M']
spot of 112.9375 with type <class 'str'>
['We', '6/2/99', '113.75', '7.005M', '10.769M']
spot of 113.75 with type <class 'str'>
['Tu', '6/1/99', '112', '7.159M', '10.86M']
spot of 112 with type <class 'str'>
['Fr', '5/28/99', '116', '6.38M', '11.019M']
spot of 116 with type <class 'str'>
['Th', '5/27/99', '116', '10.553M', '11.26M']
spot of 116 with type <class 'str'>
['We', '5/26/99', '118.125', '16.628M', '11.112M']
spot of 118.125 with type <class 'str'>
['Tu', '5/25/99', '110.5938', '9.405M', '10.568M']
spot of 110.5938 with type <class 'str'>
['Mo', '5/24/99', '111.875', '8.598M', '10.684M']
spot of 111.875 with type <class 'str'>
['Fr', '5/21/99', '115.1875', '6.905M', '10.713M']
spot of 115.1875 with type <class 'str'>
['Th', '5/20/99', '116.4375', '6.442M', '10.854M']
spot of 116.4375 with type <class 'str'>
['We', '5/19/99', '117.9375', '7.792M', '11.177M']
spot of 117.9375 with type <class 'str'>
['Tu', '5/18/99', '119.25', '8.634M', '11.414M']
spot of 119.25 with type <class 'str'>
['Mo', '5/17/99', '118.75', '11.56M', '12.233M']
spot of 118.75 with type <class 'str'>
['Fr', '5/14/99', '119.625', '18.074M', '12.707M']
spot of 119.625 with type <class 'str'>
['Th', '5/13/99', '123', '24.331M', '12.885M']
spot of 123 with type <class 'str'>
['We', '5/12/99', '112.75', '12.067M', '13.875M']
spot of 112.75 with type <class 'str'>
['Tu', '5/11/99', '110.5', '8.373M', '13.948M']
spot of 110.5 with type <class 'str'>
['Mo', '5/10/99', '109.3125', '9.548M', '14.37M']
spot of 109.3125 with type <class 'str'>
['Fr', '5/7/99', '108.625', '9.987M', '14.743M']
spot of 108.625 with type <class 'str'>
['Th', '5/6/99', '104.625', '8.34M', '14.873M']
spot of 104.625 with type <class 'str'>
['We', '5/5/99', '106.0625', '8.472M', '14.872M']
spot of 106.0625 with type <class 'str'>
['Tu', '5/4/99', '106', '11.132M', '14.791M']
spot of 106 with type <class 'str'>
['Mo', '5/3/99', '106.125', '9.032M', '14.506M']
spot of 106.125 with type <class 'str'>
['Fr', '4/30/99', '104.5938', '9.031M', '14.502M']
spot of 104.5938 with type <class 'str'>
['Th', '4/29/99', '102.4063', '11.279M', '14.308M']
spot of 102.4063 with type <class 'str'>
['We', '4/28/99', '102.5', '11.342M', '14.124M']
spot of 102.5 with type <class 'str'>
['Tu', '4/27/99', '106', '20.929M', '14.146M']
spot of 106 with type <class 'str'>
['Mo', '4/26/99', '104.9375', '18.666M', '13.333M']
spot of 104.9375 with type <class 'str'>
['Fr', '4/23/99', '99.875', '20.751M', '12.705M']
spot of 99.875 with type <class 'str'>
['Th', '4/22/99', '97.25', '39.17M', '11.675M']
spot of 97.25 with type <class 'str'>
['We', '4/21/99', '85.9375', '13.162M', '9.453M']
spot of 85.9375 with type <class 'str'>
['Tu', '4/20/99', '84.875', '14.716M', '9.073M']
spot of 84.875 with type <class 'str'>
['Mo', '4/19/99', '83.375', '15.141M', '8.632M']
spot of 83.375 with type <class 'str'>
['Fr', '4/16/99', '85.1875', '11.929M', '8.174M']
spot of 85.1875 with type <class 'str'>
['Th', '4/15/99', '88.875', '8.33M', '8.034M']
spot of 88.875 with type <class 'str'>
['We', '4/14/99', '89.6875', '7.261M', '8.267M']
spot of 89.6875 with type <class 'str'>
['Tu', '4/13/99', '90', '6.846M', '8.45M']
spot of 90 with type <class 'str'>
['Mo', '4/12/99', '91.7188', '8.98M', '8.787M']
spot of 91.7188 with type <class 'str'>
['Fr', '4/9/99', '93.1563', '6.112M', '9.488M']
spot of 93.1563 with type <class 'str'>
['Th', '4/8/99', '93.5', '8.531M', '10.048M']
spot of 93.5 with type <class 'str'>
['We', '4/7/99', '93.25', '11.662M', '9.939M']
spot of 93.25 with type <class 'str'>
['Tu', '4/6/99', '91.5', '8.743M', '9.602M']
spot of 91.5 with type <class 'str'>
['Mo', '4/5/99', '91.9688', '9.238M', '9.546M']
spot of 91.9688 with type <class 'str'>
['Th', '4/1/99', '88.5', '5.311M', '9.576M']
spot of 88.5 with type <class 'str'>
['We', '3/31/99', '88.625', '5.835M', '9.795M']
spot of 88.625 with type <class 'str'>
['Tu', '3/30/99', '89.2813', '7.467M', '9.873M']
spot of 89.2813 with type <class 'str'>
['Mo', '3/29/99', '88.9375', '8.098M', '10.043M']
spot of 88.9375 with type <class 'str'>
['Fr', '3/26/99', '86.1875', '8.266M', '10.007M']
spot of 86.1875 with type <class 'str'>
['Th', '3/25/99', '85.6563', '9.829M', '10.23M']
spot of 85.6563 with type <class 'str'>
['We', '3/24/99', '84.75', '11.821M', '11.008M']
spot of 84.75 with type <class 'str'>
['Tu', '3/23/99', '82.6875', '10.015M', '10.736M']
spot of 82.6875 with type <class 'str'>
['Mo', '3/22/99', '83.5', '11.897M', '10.651M']
spot of 83.5 with type <class 'str'>
['Fr', '3/19/99', '84.2813', '19.497M', '10.498M']
spot of 84.2813 with type <class 'str'>
['Th', '3/18/99', '88.8125', '14.505M', '10.184M']
spot of 88.8125 with type <class 'str'>
['We', '3/17/99', '89.0313', '6.905M', '9.915M']
spot of 89.0313 with type <class 'str'>
['Tu', '3/16/99', '90.5', '6.606M', '10.031M']
spot of 90.5 with type <class 'str'>
['Mo', '3/15/99', '91', '7.903M', '10.198M']
spot of 91 with type <class 'str'>
['Fr', '3/12/99', '89', '9.683M', '10.284M']
spot of 89 with type <class 'str'>
['Th', '3/11/99', '91.4375', '8.591M', '10.131M']
spot of 91.4375 with type <class 'str'>
['We', '3/10/99', '90.75', '7.01M', '10.138M']
spot of 90.75 with type <class 'str'>
['Tu', '3/9/99', '91.0938', '10.019M', '10.269M']
spot of 91.0938 with type <class 'str'>
['Mo', '3/8/99', '89.4375', '7.56M', '10.202M']
spot of 89.4375 with type <class 'str'>
['Fr', '3/5/99', '89.1875', '11.606M', '10.476M']
spot of 89.1875 with type <class 'str'>
['Th', '3/4/99', '85.5', '21.501M', '10.54M']
spot of 85.5 with type <class 'str'>
['We', '3/3/99', '83.375', '7.743M', '9.83M']
spot of 83.375 with type <class 'str'>
['Tu', '3/2/99', '83.875', '8.742M', '10.035M']
spot of 83.875 with type <class 'str'>
['Mo', '3/1/99', '84.1875', '9.591M', '10.251M']
spot of 84.1875 with type <class 'str'>
['Fr', '2/26/99', '84.875', '14.798M', '10.742M']
spot of 84.875 with type <class 'str'>
['Th', '2/25/99', '86.8125', '10.47M', '10.53M']
spot of 86.8125 with type <class 'str'>
['We', '2/24/99', '86.875', '8.637M', '10.578M']
spot of 86.875 with type <class 'str'>
['Tu', '2/23/99', '88.4688', '9.109M', '10.784M']
spot of 88.4688 with type <class 'str'>
['Mo', '2/22/99', '88.9688', '9.2M', '10.671M']
spot of 88.9688 with type <class 'str'>
['Fr', '2/19/99', '85.8125', '7.393M', '10.732M']
spot of 85.8125 with type <class 'str'>
['Th', '2/18/99', '87.125', '8.688M', '11.035M']
spot of 87.125 with type <class 'str'>
['We', '2/17/99', '85.25', '8.977M', '11.645M']
spot of 85.25 with type <class 'str'>
['Tu', '2/16/99', '86.25', '9.02M', '12.32M']
spot of 86.25 with type <class 'str'>
['Fr', '2/12/99', '86.375', '11.666M', '13.277M']
spot of 86.375 with type <class 'str'>
['Th', '2/11/99', '89.25', '12.565M', '15.038M']
spot of 89.25 with type <class 'str'>
['We', '2/10/99', '84.4375', '10.853M', '15.561M']
spot of 84.4375 with type <class 'str'>
['Tu', '2/9/99', '81.375', '10.811M', '15.679M']
spot of 81.375 with type <class 'str'>
['Mo', '2/8/99', '83.5', '11.987M', '15.518M']
spot of 83.5 with type <class 'str'>
['Fr', '2/5/99', '83', '16.958M', '15.172M']
spot of 83 with type <class 'str'>
['Th', '2/4/99', '84.7813', '11.615M', '14.641M']
spot of 84.7813 with type <class 'str'>
['We', '2/3/99', '87.625', '11.197M', '14.527M']
spot of 87.625 with type <class 'str'>
['Tu', '2/2/99', '88.375', '11.727M', '14.232M']
spot of 88.375 with type <class 'str'>
['Mo', '2/1/99', '89.875', '7.407M', '13.934M']
spot of 89.875 with type <class 'str'>
['Fr', '1/29/99', '91.625', '10.116M', '14.052M']
spot of 91.625 with type <class 'str'>
['Th', '1/28/99', '89.3438', '11.941M', '13.932M']
spot of 89.3438 with type <class 'str'>
['We', '1/27/99', '89.1563', '17.833M', '13.771M']
spot of 89.1563 with type <class 'str'>
['Tu', '1/26/99', '92.8125', '19.097M', '13.243M']
spot of 92.8125 with type <class 'str'>
['Mo', '1/25/99', '91', '23.376M', '12.513M']
spot of 91 with type <class 'str'>
['Fr', '1/22/99', '89.875', '38.085M', '11.212M']
spot of 89.875 with type <class 'str'>
['Th', '1/21/99', '98.5', '20.405M', '8.994M']
spot of 98.5 with type <class 'str'>
['We', '1/20/99', '97.25', '12.635M', '7.885M']
spot of 97.25 with type <class 'str'>
['Tu', '1/19/99', '96.125', '8.399M', '7.394M']
spot of 96.125 with type <class 'str'>

['Fr', '1/15/99', '92.4688', '6.79M', '7.037M']
spot of 92.4688 with type <class 'str'>
['Th', '1/14/99', '90.3125', '9M', '7.056M']
spot of 90.3125 with type <class 'str'>
['We', '1/13/99', '92.75', '9.904M', '7.036M']
spot of 92.75 with type <class 'str'>
['Tu', '1/12/99', '92.5313', '6.764M', '6.875M']
spot of 92.5313 with type <class 'str'>
['Mo', '1/11/99', '94.625', '7.262M', '7.078M']
spot of 94.625 with type <class 'str'>
['Fr', '1/8/99', '93.7813', '9.177M', '7.178M']
spot of 93.7813 with type <class 'str'>
['Th', '1/7/99', '95.0938', '8.307M', '6.943M']
spot of 95.0938 with type <class 'str'>
['We', '1/6/99', '94.375', '9.54M', '6.908M']
spot of 94.375 with type <class 'str'>
['Tu', '1/5/99', '94.8125', '9.908M', '6.775M']
spot of 94.8125 with type <class 'str'>
['Mo', '1/4/99', '91.5', '8.15M', '6.58M']
spot of 91.5 with type <class 'str'>
['Th', '12/31/98', '92.1875', '3.865M', '6.528M']
spot of 92.1875 with type <class 'str'>
['We', '12/30/98', '93.375', '4.813M', '6.583M']
spot of 93.375 with type <class 'str'>
['Tu', '12/29/98', '93.5625', '3.762M', '6.757M']
spot of 93.5625 with type <class 'str'>
['Mo', '12/28/98', '94.625', '5.269M', '6.86M']
spot of 94.625 with type <class 'str'>
['Th', '12/24/98', '93.9688', '3.05M', '6.962M']
spot of 93.9688 with type <class 'str'>
['We', '12/23/98', '92.5', '7.07M', '7.189M']
spot of 92.5 with type <class 'str'>
['Tu', '12/22/98', '91.125', '8.705M', '7.128M']
spot of 91.125 with type <class 'str'>
['Mo', '12/21/98', '88.1875', '7.479M', '7.033M']
spot of 88.1875 with type <class 'str'>
['Fr', '12/18/98', '85.7813', '9.817M', '6.903M']
spot of 85.7813 with type <class 'str'>
['Th', '12/17/98', '83.0313', '8.763M', '6.427M']
spot of 83.0313 with type <class 'str'>
['We', '12/16/98', '82.1875', '5.653M', '6.105M']
spot of 82.1875 with type <class 'str'>
['Tu', '12/15/98', '82.5', '7.772M', '6.171M']
spot of 82.5 with type <class 'str'>
['Mo', '12/14/98', '81.4375', '7.547M', '6.17M']
spot of 81.4375 with type <class 'str'>
['Fr', '12/11/98', '84', '6.984M', '6.093M']
spot of 84 with type <class 'str'>
['Th', '12/10/98', '82.5', '7.375M', '6.049M']
spot of 82.5 with type <class 'str'>
['We', '12/9/98', '84.7188', '4.681M', '5.947M']
spot of 84.7188 with type <class 'str'>
['Tu', '12/8/98', '84.0938', '7.429M', '6.217M']
spot of 84.0938 with type <class 'str'>
['Mo', '12/7/98', '83.5938', '5.304M', '6.178M']
spot of 83.5938 with type <class 'str'>
['Fr', '12/4/98', '82.125', '6.8M', '6.224M']
spot of 82.125 with type <class 'str'>
['Th', '12/3/98', '81.75', '6.459M', '6.349M']
spot of 81.75 with type <class 'str'>
['We', '12/2/98', '83.7188', '6.154M', '6.599M']
spot of 83.7188 with type <class 'str'>
['Tu', '12/1/98', '84.9375', '7.277M', '6.772M']
spot of 84.9375 with type <class 'str'>
['Mo', '11/30/98', '82.5625', '5.533M', '6.792M']
spot of 82.5625 with type <class 'str'>
['Fr', '11/27/98', '85', '2.674M', '6.899M']
spot of 85 with type <class 'str'>
['We', '11/25/98', '83.375', '3.937M', '7.16M']
spot of 83.375 with type <class 'str'>
['Tu', '11/24/98', '82.625', '6.642M', '7.443M']
spot of 82.625 with type <class 'str'>
['Mo', '11/23/98', '83.2813', '7.754M', '7.462M']
spot of 83.2813 with type <class 'str'>
['Fr', '11/20/98', '80.0625', '6.388M', '7.409M']
spot of 80.0625 with type <class 'str'>
['Th', '11/19/98', '79.2813', '6.329M', '7.506M']
spot of 79.2813 with type <class 'str'>
['We', '11/18/98', '79.5', '5.846M', '7.761M']
spot of 79.5 with type <class 'str'>
['Tu', '11/17/98', '79', '8.733M', '7.856M']
spot of 79 with type <class 'str'>
['Mo', '11/16/98', '79.6875', '6.842M', '8.035M']
spot of 79.6875 with type <class 'str'>
['Fr', '11/13/98', '78.7188', '5.995M', '8.069M']
spot of 78.7188 with type <class 'str'>
['Th', '11/12/98', '78.9375', '8.668M', '8.089M']
spot of 78.9375 with type <class 'str'>
['We', '11/11/98', '78.5625', '10.218M', '8.144M']
spot of 78.5625 with type <class 'str'>
['Tu', '11/10/98', '78', '8.743M', '8.597M']
spot of 78 with type <class 'str'>
['Mo', '11/9/98', '75.6875', '7.577M', '8.77M']
spot of 75.6875 with type <class 'str'>
['Fr', '11/6/98', '74.9688', '7.138M', '8.852M']
spot of 74.9688 with type <class 'str'>
['Th', '11/5/98', '74.5', '6.586M', '9.065M']
spot of 74.5 with type <class 'str'>
['We', '11/4/98', '73.9375', '8.193M', '9.497M']
spot of 73.9375 with type <class 'str'>
['Tu', '11/3/98', '73.6875', '6.913M', '9.591M']
spot of 73.6875 with type <class 'str'>
['Mo', '11/2/98', '74.1875', '6.965M', '9.756M']
spot of 74.1875 with type <class 'str'>
['Fr', '10/30/98', '74.25', '7.846M', '10.012M']
spot of 74.25 with type <class 'str'>
['Th', '10/29/98', '74.375', '10.156M', '10.268M']
spot of 74.375 with type <class 'str'>
['We', '10/28/98', '73.0938', '7.27M', '10.812M']
spot of 73.0938 with type <class 'str'>
['Tu', '10/27/98', '72.1875', '11.417M', '11.205M']
spot of 72.1875 with type <class 'str'>
['Mo', '10/26/98', '71.5313', '7.355M', '11.401M']
spot of 71.5313 with type <class 'str'>
['Fr', '10/23/98', '70.7813', '6.291M', '11.807M']
spot of 70.7813 with type <class 'str'>
['Th', '10/22/98', '70.9063', '9.496M', '12.361M']
spot of 70.9063 with type <class 'str'>
['We', '10/21/98', '71.3438', '17.016M', '12.564M']
spot of 71.3438 with type <class 'str'>
['Tu', '10/20/98', '68.9375', '11.327M', '11.983M']
spot of 68.9375 with type <class 'str'>
['Mo', '10/19/98', '69.6875', '8.809M', '11.701M']
spot of 69.6875 with type <class 'str'>
['Fr', '10/16/98', '67.9688', '10.338M', '11.623M']
spot of 67.9688 with type <class 'str'>
['Th', '10/15/98', '68.25', '13.066M', '11.421M']
spot of 68.25 with type <class 'str'>
['We', '10/14/98', '65.25', '9.592M', '11.109M']
spot of 65.25 with type <class 'str'>
['Tu', '10/13/98', '64.0938', '9.394M', '11.047M']
spot of 64.0938 with type <class 'str'>
['Mo', '10/12/98', '65.4375', '10.805M', '10.994M']
spot of 65.4375 with type <class 'str'>
['Fr', '10/9/98', '63.6563', '11.685M', '10.854M']
spot of 63.6563 with type <class 'str'>
['Th', '10/8/98', '61.75', '18.313M', '10.69M']
spot of 61.75 with type <class 'str'>
['We', '10/7/98', '60.375', '13.165M', '10.058M']
spot of 60.375 with type <class 'str'>
['Tu', '10/6/98', '59.625', '14.367M', '9.623M']
spot of 59.625 with type <class 'str'>
['Mo', '10/5/98', '60.125', '13.442M', '9.098M']
spot of 60.125 with type <class 'str'>
['Fr', '10/2/98', '62.4063', '14.605M', '8.81M']
spot of 62.4063 with type <class 'str'>
['Th', '10/1/98', '62.6875', '12.537M', '8.498M']
spot of 62.6875 with type <class 'str'>
['We', '9/30/98', '64.25', '8.299M', '8.413M']
spot of 64.25 with type <class 'str'>
['Tu', '9/29/98', '65.7188', '7.09M', '8.526M']
spot of 65.7188 with type <class 'str'>
['Mo', '9/28/98', '66.8125', '7.641M', '8.672M']
spot of 66.8125 with type <class 'str'>
['Fr', '9/25/98', '66.75', '7.306M', '8.713M']
spot of 66.75 with type <class 'str'>
['Th', '9/24/98', '65.2813', '8.4M', '8.869M']
spot of 65.2813 with type <class 'str'>
['We', '9/23/98', '66.0313', '8.661M', '9.059M']
spot of 66.0313 with type <class 'str'>
['Tu', '9/22/98', '63.875', '8.591M', '9.602M']
spot of 63.875 with type <class 'str'>
['Mo', '9/21/98', '64.0938', '8.713M', '10.027M']
spot of 64.0938 with type <class 'str'>
['Fr', '9/18/98', '62.3438', '9.212M', '10.22M']
spot of 62.3438 with type <class 'str'>
['Th', '9/17/98', '63.375', '8.84M', '10.586M']
spot of 63.375 with type <class 'str'>
['We', '9/16/98', '65.25', '6.639M', '10.584M']
spot of 65.25 with type <class 'str'>
['Tu', '9/15/98', '65', '6.494M', '10.493M']
spot of 65 with type <class 'str'>
['Mo', '9/14/98', '64.5625', '9.114M', '10.445M']
spot of 64.5625 with type <class 'str'>
['Fr', '9/11/98', '63.2813', '9.93M', '10.4M']
spot of 63.2813 with type <class 'str'>
['Th', '9/10/98', '61.25', '11.27M', '10.143M']
spot of 61.25 with type <class 'str'>
['We', '9/9/98', '61.75', '9.989M', '9.868M']
spot of 61.75 with type <class 'str'>
['Tu', '9/8/98', '62.9688', '9.285M', '9.707M']
spot of 62.9688 with type <class 'str'>
['Fr', '9/4/98', '59.6875', '8.246M', '9.512M']
spot of 59.6875 with type <class 'str'>
['Th', '9/3/98', '60.875', '9.646M', '9.382M']
spot of 60.875 with type <class 'str'>
['We', '9/2/98', '60.25', '11.256M', '9.143M']
spot of 60.25 with type <class 'str'>
['Tu', '9/1/98', '58.9688', '16.799M', '8.883M']
spot of 58.9688 with type <class 'str'>
['Mo', '8/31/98', '56.3125', '14.973M', '8.445M']
spot of 56.3125 with type <class 'str'>
['Fr', '8/28/98', '61.2813', '11.607M', '7.851M']
spot of 61.2813 with type <class 'str'>
['Th', '8/27/98', '62.625', '14.694M', '7.846M']
spot of 62.625 with type <class 'str'>
['We', '8/26/98', '65.4375', '8.823M', '7.413M']
spot of 65.4375 with type <class 'str'>
['Tu', '8/25/98', '64.2188', '5.264M', '7.698M']
spot of 64.2188 with type <class 'str'>
['Mo', '8/24/98', '64.2813', '5.771M', '8.239M']
spot of 64.2813 with type <class 'str'>
['Fr', '8/21/98', '63.9375', '8.441M', '8.412M']
spot of 63.9375 with type <class 'str'>
['Th', '8/20/98', '64.0313', '6.081M', '8.728M']
spot of 64.0313 with type <class 'str'>
['We', '8/19/98', '64.9688', '7.142M', '9.053M']
spot of 64.9688 with type <class 'str'>
['Tu', '8/18/98', '64.4375', '7.584M', '9.113M']
spot of 64.4375 with type <class 'str'>
['Mo', '8/17/98', '62.5625', '6.355M', '9.173M']
spot of 62.5625 with type <class 'str'>
['Fr', '8/14/98', '62.6875', '6.296M', '9.239M']
spot of 62.6875 with type <class 'str'>
['Th', '8/13/98', '63.0938', '6.054M', '9.203M']
spot of 63.0938 with type <class 'str'>
['We', '8/12/98', '64', '7.365M', '9.353M']
spot of 64 with type <class 'str'>
['Tu', '8/11/98', '64.25', '10.229M', '9.669M']
spot of 64.25 with type <class 'str'>
['Mo', '8/10/98', '64.9375', '6.055M', '10.628M']
spot of 64.9375 with type <class 'str'>
['Fr', '8/7/98', '64.5625', '11.531M', '10.823M']
spot of 64.5625 with type <class 'str'>
['Th', '8/6/98', '64.875', '8.203M', '10.477M']
spot of 64.875 with type <class 'str'>
['We', '8/5/98', '64.375', '13.107M', '10.22M']
spot of 64.375 with type <class 'str'>
['Tu', '8/4/98', '63.4063', '13.378M', '9.688M']
spot of 63.4063 with type <class 'str'>
['Mo', '8/3/98', '66.375', '8.356M', '9.098M']
spot of 66.375 with type <class 'str'>
['Fr', '7/31/98', '66.25', '13.188M', '8.853M']
spot of 66.25 with type <class 'str'>
['Th', '7/30/98', '66.6875', '10.953M', '8.383M']
spot of 66.6875 with type <class 'str'>
['We', '7/29/98', '63.875', '8.04M', '8.078M']
spot of 63.875 with type <class 'str'>
['Tu', '7/28/98', '62.7188', '8.491M', '7.843M']
spot of 62.7188 with type <class 'str'>
['Mo', '7/27/98', '62.75', '7.345M', '7.581M']
spot of 62.75 with type <class 'str'>
['Fr', '7/24/98', '62.125', '5.749M', '7.518M']
spot of 62.125 with type <class 'str'>
['Th', '7/23/98', '61.9375', '8.306M', '7.564M']
spot of 61.9375 with type <class 'str'>
['We', '7/22/98', '63.7188', '12.1M', '7.432M']
spot of 63.7188 with type <class 'str'>
['Tu', '7/21/98', '64.0625', '24.617M', '7.206M']
spot of 64.0625 with type <class 'str'>
['Mo', '7/20/98', '61', '8.978M', '5.856M']
spot of 61 with type <class 'str'>
['Fr', '7/17/98', '60.0938', '6.337M', '5.476M']
spot of 60.0938 with type <class 'str'>
['Th', '7/16/98', '59.1875', '4.36M', '5.479M']
spot of 59.1875 with type <class 'str'>
['We', '7/15/98', '58.5', '5.116M', '5.592M']
spot of 58.5 with type <class 'str'>
['Tu', '7/14/98', '59.8125', '4.537M', '5.789M']
spot of 59.8125 with type <class 'str'>
['Mo', '7/13/98', '59.6875', '4.68M', '6.057M']
spot of 59.6875 with type <class 'str'>
['Fr', '7/10/98', '59.25', '6.14M', '6.396M']
spot of 59.25 with type <class 'str'>
['Th', '7/9/98', '58.5313', '6.379M', '6.552M']
spot of 58.5313 with type <class 'str'>
['We', '7/8/98', '57.5', '4.516M', '6.877M']
spot of 57.5 with type <class 'str'>
['Tu', '7/7/98', '56.9375', '4.55M', '7.751M']
spot of 56.9375 with type <class 'str'>
['Mo', '7/6/98', '56.8438', '6.398M', '8.008M']
spot of 56.8438 with type <class 'str'>
['Th', '7/2/98', '57.5938', '6.44M', '8.118M']
spot of 57.5938 with type <class 'str'>
['We', '7/1/98', '58.375', '6.333M', '8.046M']
spot of 58.375 with type <class 'str'>
['Tu', '6/30/98', '57.4063', '8.712M', '8.061M']
spot of 57.4063 with type <class 'str'>
['Mo', '6/29/98', '57.0625', '4.369M', '7.73M']
spot of 57.0625 with type <class 'str'>
['Fr', '6/26/98', '56.5', '3.273M', '7.688M']
spot of 56.5 with type <class 'str'>
['Th', '6/25/98', '56.2188', '6.376M', '8.02M']
spot of 56.2188 with type <class 'str'>
['We', '6/24/98', '56', '6.06M', '7.999M']
spot of 56 with type <class 'str'>
['Tu', '6/23/98', '55.875', '8.078M', '7.987M']
spot of 55.875 with type <class 'str'>
['Mo', '6/22/98', '54.0625', '8.554M', '7.968M']
spot of 54.0625 with type <class 'str'>
['Fr', '6/19/98', '53.0625', '9.768M', '7.884M']
spot of 53.0625 with type <class 'str'>
['Th', '6/18/98', '54.4063', '8.481M', '7.614M']
spot of 54.4063 with type <class 'str'>
['We', '6/17/98', '55.5', '11.245M', '7.445M']
spot of 55.5 with type <class 'str'>
['Tu', '6/16/98', '55', '17.628M', '7.364M']
spot of 55 with type <class 'str'>
['Mo', '6/15/98', '56.125', '8.407M', '6.653M']
spot of 56.125 with type <class 'str'>
['Fr', '6/12/98', '58.125', '8.041M', '6.359M']
spot of 58.125 with type <class 'str'>
['Th', '6/11/98', '58', '5.357M', '6.212M']
spot of 58 with type <class 'str'>
['We', '6/10/98', '58.625', '6.562M', '6.256M']
spot of 58.625 with type <class 'str'>
['Tu', '6/9/98', '59.625', '3.742M', '6.339M']
spot of 59.625 with type <class 'str'>
['Mo', '6/8/98', '59.4063', '3.75M', '6.559M']
spot of 59.4063 with type <class 'str'>
['Fr', '6/5/98', '59.4375', '8.245M', '7.056M']
spot of 59.4375 with type <class 'str'>
['Th', '6/4/98', '58.0313', '6.067M', '7.91M']
spot of 58.0313 with type <class 'str'>
['We', '6/3/98', '56.9375', '5.882M', '8.034M']
spot of 56.9375 with type <class 'str'>
['Tu', '6/2/98', '57.7813', '7.783M', '8.145M']
spot of 57.7813 with type <class 'str'>
['Mo', '6/1/98', '58.5938', '7.307M', '8.262M']
spot of 58.5938 with type <class 'str'>
['Fr', '5/29/98', '58.75', '5.711M', '8.293M']
spot of 58.75 with type <class 'str'>
['Th', '5/28/98', '60.0313', '5.944M', '8.266M']
spot of 60.0313 with type <class 'str'>
['We', '5/27/98', '60.125', '10.038M', '8.294M']
spot of 60.125 with type <class 'str'>
['Tu', '5/26/98', '60.5', '6.951M', '7.984M']
spot of 60.5 with type <class 'str'>
['Fr', '5/22/98', '60.9688', '3.997M', '7.875M']
spot of 60.9688 with type <class 'str'>
['Th', '5/21/98', '61.8125', '5.835M', '7.939M']
spot of 61.8125 with type <class 'str'>
['We', '5/20/98', '61.75', '6.028M', '8.024M']
spot of 61.75 with type <class 'str'>
['Tu', '5/19/98', '62.5', '7.796M', '8.076M']
spot of 62.5 with type <class 'str'>
['Mo', '5/18/98', '62.3125', '7.051M', '8.248M']
spot of 62.3125 with type <class 'str'>
['Fr', '5/15/98', '62.4688', '11.198M', '8.351M']
spot of 62.4688 with type <class 'str'>
['Th', '5/14/98', '62.9063', '21.057M', '8.132M']
spot of 62.9063 with type <class 'str'>
['We', '5/13/98', '60.9375', '7.927M', '7.365M']
spot of 60.9375 with type <class 'str'>
['Tu', '5/12/98', '59.8125', '7.548M', '7.71M']
spot of 59.8125 with type <class 'str'>
['Mo', '5/11/98', '59.6563', '9.543M', '8.847M']
spot of 59.6563 with type <class 'str'>
['Fr', '5/8/98', '60', '7.767M', '8.867M']
spot of 60 with type <class 'str'>
['Th', '5/7/98', '58.5625', '5.309M', '8.77M']
spot of 58.5625 with type <class 'str'>
['We', '5/6/98', '58.625', '6.365M', '8.867M']
spot of 58.625 with type <class 'str'>
['Tu', '5/5/98', '58.9063', '5.393M', '9.049M']
spot of 58.9063 with type <class 'str'>
['Mo', '5/4/98', '58.3125', '5.313M', '9.008M']
spot of 58.3125 with type <class 'str'>
['Fr', '5/1/98', '58.4375', '4.953M', '9.198M']
spot of 58.4375 with type <class 'str'>
['Th', '4/30/98', '57.9375', '7.115M', '9.272M']
spot of 57.9375 with type <class 'str'>
['We', '4/29/98', '57.7813', '6.808M', '9.157M']
spot of 57.7813 with type <class 'str'>
['Tu', '4/28/98', '57.8438', '10.374M', '9.066M']
spot of 57.8438 with type <class 'str'>
['Mo', '4/27/98', '57.6563', '8.595M', '8.865M']
spot of 57.6563 with type <class 'str'>
['Fr', '4/24/98', '58.6875', '7.912M', '8.706M']
spot of 58.6875 with type <class 'str'>
['Th', '4/23/98', '58.75', '9.558M', '8.659M']
spot of 58.75 with type <class 'str'>
['We', '4/22/98', '57.375', '13.094M', '8.374M']
spot of 57.375 with type <class 'str'>
['Tu', '4/21/98', '59', '24.603M', '7.839M']
spot of 59 with type <class 'str'>
['Mo', '4/20/98', '55.5938', '9.849M', '6.454M']
spot of 55.5938 with type <class 'str'>
['Fr', '4/17/98', '53.875', '6.308M', '6.175M']
spot of 53.875 with type <class 'str'>
['Th', '4/16/98', '53.9063', '6.761M', '6.135M']
spot of 53.9063 with type <class 'str'>
['We', '4/15/98', '54.875', '9.104M', '6.584M']
spot of 54.875 with type <class 'str'>
['Tu', '4/14/98', '53.125', '4.771M', '6.298M']
spot of 53.125 with type <class 'str'>
['Mo', '4/13/98', '52.0938', '8.17M', '6.392M']
spot of 52.0938 with type <class 'str'>
['Th', '4/9/98', '53.1875', '6.06M', '6.396M']
spot of 53.1875 with type <class 'str'>
['We', '4/8/98', '52.25', '5.387M', '6.336M']
spot of 52.25 with type <class 'str'>
['Tu', '4/7/98', '52.3438', '5.446M', '6.456M']
spot of 52.3438 with type <class 'str'>
['Mo', '4/6/98', '53', '7.359M', '6.571M']
spot of 53 with type <class 'str'>
['Fr', '4/3/98', '52.3438', '6.212M', '6.537M']
spot of 52.3438 with type <class 'str'>
['Th', '4/2/98', '52.9063', '7.203M', '6.513M']

spot of 52.9063 with type <class 'str'>
['We', '4/1/98', '52.2188', '5.28M', '6.426M']
spot of 52.2188 with type <class 'str'>
['Tu', '3/31/98', '51.9375', '5.077M', '6.528M']
spot of 51.9375 with type <class 'str'>
['Mo', '3/30/98', '51.625', '3.827M', '6.745M']
spot of 51.625 with type <class 'str'>
['Fr', '3/27/98', '52.1875', '5.661M', '7.352M']
spot of 52.1875 with type <class 'str'>
['Th', '3/26/98', '52.5313', '5.713M', '7.668M']
spot of 52.5313 with type <class 'str'>
['We', '3/25/98', '53', '13.49M', '8.002M']
spot of 53 with type <class 'str'>
['Tu', '3/24/98', '51.75', '4.807M', '7.504M']
spot of 51.75 with type <class 'str'>
['Mo', '3/23/98', '50.6875', '6.194M', '7.713M']
spot of 50.6875 with type <class 'str'>
['Fr', '3/20/98', '51.0313', '8.216M', '7.765M']
spot of 51.0313 with type <class 'str'>
['Th', '3/19/98', '51.4375', '5.17M', '7.61M']
spot of 51.4375 with type <class 'str'>
['We', '3/18/98', '50.7813', '7.189M', '7.694M']
spot of 50.7813 with type <class 'str'>
['Tu', '3/17/98', '50.4375', '7.17M', '7.728M']
spot of 50.4375 with type <class 'str'>
['Mo', '3/16/98', '50.625', '6.842M', '7.593M']
spot of 50.625 with type <class 'str'>
['Fr', '3/13/98', '49.8125', '5.851M', '7.487M']
spot of 49.8125 with type <class 'str'>
['Th', '3/12/98', '50.125', '5.903M', '7.597M']
spot of 50.125 with type <class 'str'>
['We', '3/11/98', '49.5625', '6.807M', '7.774M']
spot of 49.5625 with type <class 'str'>
['Tu', '3/10/98', '48.75', '8.334M', '7.754M']
spot of 48.75 with type <class 'str'>
['Mo', '3/9/98', '48.0625', '12.928M', '7.709M']
spot of 48.0625 with type <class 'str'>
['Fr', '3/6/98', '49.0625', '10.41M', '7.146M']
spot of 49.0625 with type <class 'str'>
['Th', '3/5/98', '49.4688', '10.724M', '6.936M']
spot of 49.4688 with type <class 'str'>
['We', '3/4/98', '49.5', '6.014M', '6.782M']
spot of 49.5 with type <class 'str'>
['Tu', '3/3/98', '51.0625', '7.94M', '7.469M']
spot of 51.0625 with type <class 'str'>
['Mo', '3/2/98', '50.9688', '6.98M', '7.4M']
spot of 50.9688 with type <class 'str'>
['Fr', '2/27/98', '52.2188', '5.89M', '7.479M']
spot of 52.2188 with type <class 'str'>
['Th', '2/26/98', '52.75', '6.43M', '']
spot of 52.75 with type <class 'str'>
['We', '2/25/98', '52.625', '7.696M', '']
spot of 52.625 with type <class 'str'>
['Tu', '2/24/98', '51.25', '5.145M', '']
spot of 51.25 with type <class 'str'>
['Mo', '2/23/98', '51.4375', '5.252M', '']
spot of 51.4375 with type <class 'str'>
['Fr', '2/20/98', '51.3125', '7.502M', '']
spot of 51.3125 with type <class 'str'>
['Th', '2/19/98', '51.375', '8.553M', '']
spot of 51.375 with type <class 'str'>
['We', '2/18/98', '51.375', '6.505M', '']
spot of 51.375 with type <class 'str'>
['Tu', '2/17/98', '51', '7.664M', '']
spot of 51 with type <class 'str'>
['Fr', '2/13/98', '51.1875', '4.488M', '']
spot of 51.1875 with type <class 'str'>
['Th', '2/12/98', '51.4375', '7.254M', '']
spot of 51.4375 with type <class 'str'>
['We', '2/11/98', '51.3438', '8.415M', '']
spot of 51.3438 with type <class 'str'>
['Tu', '2/10/98', '50.4375', '16.329M', '']
spot of 50.4375 with type <class 'str'>
['Mo', '2/9/98', '49', '6.897M', '']
spot of 49 with type <class 'str'>
['Fr', '2/6/98', '49', '8.165M', '']
spot of 49 with type <class 'str'>
['Mo', '3/19/18', '77.97', '1.152M', '1.832M']
spot of 77.97 with type <class 'str'>
['Fr', '3/16/18', '77.96', '1.228M', '1.81M']
spot of 77.96 with type <class 'str'>
['Th', '3/15/18', '77.62', '1.151M', '1.816M']
spot of 77.62 with type <class 'str'>
['We', '3/14/18', '77.82', '920.749k', '1.845M']
spot of 77.82 with type <class 'str'>
['Tu', '3/13/18', '77.34', '1.421M', '1.87M']
spot of 77.34 with type <class 'str'>
['Mo', '3/12/18', '77.78', '1.348M', '1.874M']
spot of 77.78 with type <class 'str'>
['Fr', '3/9/18', '78.48', '1.28M', '1.869M']
spot of 78.48 with type <class 'str'>
['Th', '3/8/18', '77.42', '1.987M', '1.868M']
spot of 77.42 with type <class 'str'>
['We', '3/7/18', '77.3', '2.18M', '1.852M']
spot of 77.3 with type <class 'str'>
['Tu', '3/6/18', '75.6', '1.733M', '1.826M']
spot of 75.6 with type <class 'str'>
['Mo', '3/5/18', '74', '1.885M', '1.863M']
spot of 74 with type <class 'str'>
['Fr', '3/2/18', '73.66', '2.416M', '1.91M']
spot of 73.66 with type <class 'str'>
['Th', '3/1/18', '75.37', '5.708M', '1.978M']
spot of 75.37 with type <class 'str'>
['We', '2/28/18', '74.29', '1.952M', '1.732M']
spot of 74.29 with type <class 'str'>
['Tu', '2/27/18', '72.74', '1.118M', '1.81M']
spot of 72.74 with type <class 'str'>
['Mo', '2/26/18', '72.39', '826.233k', '1.955M']
spot of 72.39 with type <class 'str'>
['Fr', '2/23/18', '71.78', '1.315M', '2.265M']
spot of 71.78 with type <class 'str'>
['Th', '2/22/18', '70.56', '1.58M', '2.489M']
spot of 70.56 with type <class 'str'>
['We', '2/21/18', '69.92', '1.297M', '2.783M']
spot of 69.92 with type <class 'str'>
['Tu', '2/20/18', '69.82', '1.487M', '3.1M']
spot of 69.82 with type <class 'str'>
['Fr', '2/16/18', '69.79', '1.267M', '4.232M']
spot of 69.79 with type <class 'str'>
['Th', '2/15/18', '69.03', '1.263M', '6.528M']
spot of 69.03 with type <class 'str'>
['We', '2/14/18', '69.87', '1.751M', '6.495M']
spot of 69.87 with type <class 'str'>
['Tu', '2/13/18', '68.3', '1.791M', '6.431M']
spot of 68.3 with type <class 'str'>
['Mo', '2/12/18', '68.03', '2.29M', '6.367M']
spot of 68.03 with type <class 'str'>
['Fr', '2/9/18', '67.3', '2.585M', '6.303M']
spot of 67.3 with type <class 'str'>
['Th', '2/8/18', '65.62', '3.441M', '6.188M']
spot of 65.62 with type <class 'str'>
['We', '2/7/18', '66.77', '2.017M', '6.023M']
spot of 66.77 with type <class 'str'>
['Tu', '2/6/18', '67.23', '3.12M', '5.94M']
spot of 67.23 with type <class 'str'>
['Mo', '2/5/18', '67.58', '3.299M', '5.778M']
spot of 67.58 with type <class 'str'>
['Fr', '2/2/18', '70.9', '5.468M', '5.661M']
spot of 70.9 with type <class 'str'>
['Th', '2/1/18', '70.25', '4.685M', '5.357M']
spot of 70.25 with type <class 'str'>
['We', '1/31/18', '71.7', '5.984M', '5.09M']
spot of 71.7 with type <class 'str'>
['Tu', '1/30/18', '70.08', '6.051M', '4.743M']
spot of 70.08 with type <class 'str'>
['Mo', '1/29/18', '74.8', '18.466M', '4.409M']
spot of 74.8 with type <class 'str'>
['Fr', '1/26/18', '82.74', '35.704M', '3.224M']
spot of 82.74 with type <class 'str'>
['Th', '1/25/18', '88.44', '775.098k', '936.098k']
spot of 88.44 with type <class 'str'>
['We', '1/24/18', '88.37', '792.12k', '991.05k']
spot of 88.37 with type <class 'str'>
['Tu', '1/23/18', '89.11', '831.312k', '982.615k']
spot of 89.11 with type <class 'str'>
['Mo', '1/22/18', '88.93', '1.333M', '986.003k']
spot of 88.93 with type <class 'str'>
['Fr', '1/19/18', '88.49', '860.277k', '990.361k']
spot of 88.49 with type <class 'str'>
['Th', '1/18/18', '88.39', '960.839k', '1.01M']
spot of 88.39 with type <class 'str'>
['We', '1/17/18', '88.11', '767.503k', '1.046M']
spot of 88.11 with type <class 'str'>
['Tu', '1/16/18', '86.09', '693.913k', '1.063M']
spot of 86.09 with type <class 'str'>
['Fr', '1/12/18', '86.75', '1.538M', '1.073M']
spot of 86.75 with type <class 'str'>
['Th', '1/11/18', '86.83', '913.555k', '1.077M']
spot of 86.83 with type <class 'str'>
['We', '1/10/18', '84.61', '678.536k', '1.173M']
spot of 84.61 with type <class 'str'>
['Tu', '1/9/18', '84.28', '777.118k', '1.268M']
spot of 84.28 with type <class 'str'>
['Mo', '1/8/18', '85.38', '1.039M', '1.322M']
spot of 85.38 with type <class 'str'>
['Fr', '1/5/18', '85.4', '694.669k', '1.325M']
spot of 85.4 with type <class 'str'>
['Th', '1/4/18', '84.78', '1.387M', '1.387M']
spot of 84.78 with type <class 'str'>
['We', '1/3/18', '83.3', '1.599M', '1.437M']
spot of 83.3 with type <class 'str'>
['Tu', '1/2/18', '82.43', '665.592k', '1.412M']
spot of 82.43 with type <class 'str'>
['Fr', '12/29/17', '81.28', '882.122k', '1.559M']
spot of 81.28 with type <class 'str'>
['Th', '12/28/17', '81.03', '1.398M', '1.634M']
spot of 81.03 with type <class 'str'>
['We', '12/27/17', '81.26', '1.153M', '1.687M']
spot of 81.26 with type <class 'str'>
['Tu', '12/26/17', '81.38', '1.502M', '1.725M']
spot of 81.38 with type <class 'str'>
['Fr', '12/22/17', '82.08', '1.028M', '1.784M']
spot of 82.08 with type <class 'str'>
['Th', '12/21/17', '82.54', '845.956k', '1.974M']
spot of 82.54 with type <class 'str'>
['We', '12/20/17', '83.35', '1.586M', '2.482M']
spot of 83.35 with type <class 'str'>
['Tu', '12/19/17', '83.34', '2.351M', '2.535M']
spot of 83.34 with type <class 'str'>
['Mo', '12/18/17', '84.77', '2.104M', '2.53M']
spot of 84.77 with type <class 'str'>
['Fr', '12/15/17', '80.99', '1.589M', '2.497M']
spot of 80.99 with type <class 'str'>
['Th', '12/14/17', '79.76', '1.086M', '2.447M']
spot of 79.76 with type <class 'str'>
['We', '12/13/17', '80.19', '1.634M', '2.474M']
spot of 80.19 with type <class 'str'>
['Tu', '12/12/17', '79.25', '2.135M', '2.489M']
spot of 79.25 with type <class 'str'>
['Mo', '12/11/17', '79.29', '1.216M', '2.43M']
spot of 79.29 with type <class 'str'>
['Fr', '12/8/17', '77.25', '2.874M', '2.424M']
spot of 77.25 with type <class 'str'>
['Th', '12/7/17', '75.89', '2.01M', '2.316M']
spot of 75.89 with type <class 'str'>
['We', '12/6/17', '75.06', '2.197M', '2.286M']
spot of 75.06 with type <class 'str'>
['Tu', '12/5/17', '74.47', '1.72M', '2.215M']
spot of 74.47 with type <class 'str'>
['Mo', '12/4/17', '74.89', '2.389M', '2.171M']
spot of 74.89 with type <class 'str'>
['Fr', '12/1/17', '79.96', '3.873M', '2.063M']
spot of 79.96 with type <class 'str'>
['Th', '11/30/17', '78.24', '8.465M', '1.886M']
spot of 78.24 with type <class 'str'>
['We', '11/29/17', '77.99', '2.384M', '1.378M']
spot of 77.99 with type <class 'str'>
['Tu', '11/28/17', '82.56', '2.275M', '1.283M']
spot of 82.56 with type <class 'str'>
['Mo', '11/27/17', '81.91', '1.613M', '1.219M']
spot of 81.91 with type <class 'str'>
['Fr', '11/24/17', '80.95', '839.969k', '1.176M']
spot of 80.95 with type <class 'str'>
['We', '11/22/17', '80.79', '1.482M', '1.19M']
spot of 80.79 with type <class 'str'>
['Tu', '11/21/17', '82.23', '1.866M', '1.166M']
spot of 82.23 with type <class 'str'>
['Mo', '11/20/17', '81.26', '1.246M', '1.178M']
spot of 81.26 with type <class 'str'>
['Fr', '11/17/17', '81.49', '1.119M', '1.146M']
spot of 81.49 with type <class 'str'>
['Th', '11/16/17', '81.33', '1.264M', '1.137M']
spot of 81.33 with type <class 'str'>
['We', '11/15/17', '80.27', '1.556M', '1.105M']
spot of 80.27 with type <class 'str'>
['Tu', '11/14/17', '81.49', '1.138M', '1.091M']
spot of 81.49 with type <class 'str'>
['Mo', '11/13/17', '81.81', '1.055M', '1.084M']
spot of 81.81 with type <class 'str'>
['Fr', '11/10/17', '82.58', '768.374k', '1.09M']
spot of 82.58 with type <class 'str'>
['Th', '11/9/17', '81.88', '1.216M', '1.115M']
spot of 81.88 with type <class 'str'>
['We', '11/8/17', '82.31', '854.861k', '1.139M']
spot of 82.31 with type <class 'str'>
['Tu', '11/7/17', '82.48', '944.921k', '1.229M']
spot of 82.48 with type <class 'str'>
['Mo', '11/6/17', '81.52', '1.319M', '1.228M']
spot of 81.52 with type <class 'str'>
['Fr', '11/3/17', '80.87', '971.971k', '1.217M']
spot of 80.87 with type <class 'str'>
['Th', '11/2/17', '81.86', '1.053M', '1.213M']
spot of 81.86 with type <class 'str'>
['We', '11/1/17', '82.4', '1.113M', '1.22M']
spot of 82.4 with type <class 'str'>
['Tu', '10/31/17', '82.77', '2.052M', '1.224M']
spot of 82.77 with type <class 'str'>
['Mo', '10/30/17', '83.15', '770.404k', '1.151M']
spot of 83.15 with type <class 'str'>
['Fr', '10/27/17', '83.88', '971.319k', '1.148M']
spot of 83.88 with type <class 'str'>
['Th', '10/26/17', '82.97', '793.694k', '1.174M']
spot of 82.97 with type <class 'str'>
['We', '10/25/17', '82.6', '1.34M', '1.211M']
spot of 82.6 with type <class 'str'>
['Tu', '10/24/17', '83.25', '1.035M', '1.199M']
spot of 83.25 with type <class 'str'>
['Mo', '10/23/17', '82.71', '1.148M', '1.21M']
spot of 82.71 with type <class 'str'>
['Fr', '10/20/17', '82.24', '1.145M', '1.229M']
spot of 82.24 with type <class 'str'>
['Th', '10/19/17', '81.64', '1.576M', '1.229M']
spot of 81.64 with type <class 'str'>
['We', '10/18/17', '81.35', '2.206M', '1.197M']
spot of 81.35 with type <class 'str'>
['Tu', '10/17/17', '80.99', '924.914k', '1.136M']
spot of 80.99 with type <class 'str'>
['Mo', '10/16/17', '81.1', '1.152M', '1.226M']
spot of 81.1 with type <class 'str'>
['Fr', '10/13/17', '80.68', '917.559k', '1.246M']
spot of 80.68 with type <class 'str'>
['Th', '10/12/17', '80.29', '1.151M', '1.244M']
spot of 80.29 with type <class 'str'>
['We', '10/11/17', '79.36', '1.18M', '1.217M']
spot of 79.36 with type <class 'str'>
['Tu', '10/10/17', '79.08', '949.582k', '1.245M']
spot of 79.08 with type <class 'str'>
['Mo', '10/9/17', '79.26', '734.389k', '1.244M']
spot of 79.26 with type <class 'str'>
['Fr', '10/6/17', '79.04', '1.356M', '1.261M']
spot of 79.04 with type <class 'str'>
['Th', '10/5/17', '79.04', '1.349M', '1.401M']
spot of 79.04 with type <class 'str'>
['We', '10/4/17', '78.22', '1.159M', '1.415M']
spot of 78.22 with type <class 'str'>
['Tu', '10/3/17', '78.27', '1.207M', '1.426M']
spot of 78.27 with type <class 'str'>
['Mo', '10/2/17', '77.94', '1.433M', '1.421M']
spot of 77.94 with type <class 'str'>
['Fr', '9/29/17', '77.21', '1.131M', '1.426M']
spot of 77.21 with type <class 'str'>
['Th', '9/28/17', '77.15', '1.103M', '1.43M']
spot of 77.15 with type <class 'str'>
['We', '9/27/17', '77.12', '1.296M', '1.493M']
spot of 77.12 with type <class 'str'>
['Tu', '9/26/17', '76.12', '2.267M', '1.547M']
spot of 76.12 with type <class 'str'>
['Mo', '9/25/17', '75.93', '1.456M', '1.495M']
spot of 75.93 with type <class 'str'>
['Fr', '9/22/17', '77.01', '883.625k', '1.488M']
spot of 77.01 with type <class 'str'>
['Th', '9/21/17', '76.6', '747.286k', '1.512M']
spot of 76.6 with type <class 'str'>
['We', '9/20/17', '76.83', '1.598M', '1.529M']
spot of 76.83 with type <class 'str'>
['Tu', '9/19/17', '76.82', '940.826k', '1.473M']
spot of 76.82 with type <class 'str'>
['Mo', '9/18/17', '76.85', '986.671k', '1.477M']
spot of 76.85 with type <class 'str'>
['Fr', '9/15/17', '76.98', '3.456M', '1.571M']
spot of 76.98 with type <class 'str'>
['Th', '9/14/17', '77.36', '1.561M', '1.397M']
spot of 77.36 with type <class 'str'>
['We', '9/13/17', '76.73', '1.318M', '1.35M']
spot of 76.73 with type <class 'str'>
['Tu', '9/12/17', '76.25', '1.139M', '1.335M']
spot of 76.25 with type <class 'str'>
['Mo', '9/11/17', '75.46', '1.502M', '1.314M']
spot of 75.46 with type <class 'str'>
['Fr', '9/8/17', '74.26', '1.188M', '1.239M']
spot of 74.26 with type <class 'str'>
['Th', '9/7/17', '74.47', '2.054M', '1.191M']
spot of 74.47 with type <class 'str'>
['We', '9/6/17', '74.68', '2.099M', '1.093M']
spot of 74.68 with type <class 'str'>
['Tu', '9/5/17', '74.8', '1.489M', '1.008M']
spot of 74.8 with type <class 'str'>
['Fr', '9/1/17', '74.76', '1.364M', '1.099M']
spot of 74.76 with type <class 'str'>
['Th', '8/31/17', '74.93', '1.231M', '1.061M']
spot of 74.93 with type <class 'str'>
['We', '8/30/17', '74.23', '1.014M', '1.011M']
spot of 74.23 with type <class 'str'>
['Tu', '8/29/17', '72.94', '749.955k', '978.227k']
spot of 72.94 with type <class 'str'>
['Mo', '8/28/17', '72.8', '996.703k', '962.855k']
spot of 72.8 with type <class 'str'>
['Fr', '8/25/17', '71.74', '2.409M', '923.831k']
spot of 71.74 with type <class 'str'>
['Th', '8/24/17', '69.92', '843.667k', '792.503k']
spot of 69.92 with type <class 'str'>
['We', '8/23/17', '69.2', '856.73k', '760.751k']
spot of 69.2 with type <class 'str'>
['Tu', '8/22/17', '68.71', '1.094M', '753.385k']
spot of 68.71 with type <class 'str'>
['Mo', '8/21/17', '67.07', '815.228k', '718.881k']
spot of 67.07 with type <class 'str'>
['Fr', '8/18/17', '66.81', '383.327k', '710.847k']
spot of 66.81 with type <class 'str'>
['Th', '8/17/17', '66.4', '462.992k', '715.087k']
spot of 66.4 with type <class 'str'>
['We', '8/16/17', '67.22', '586.827k', '726.047k']
spot of 67.22 with type <class 'str'>
['Tu', '8/15/17', '66.21', '822.098k', '747.254k']
spot of 66.21 with type <class 'str'>
['Mo', '8/14/17', '67.74', '2.857M', '733.394k']
spot of 67.74 with type <class 'str'>
['Fr', '8/11/17', '63.04', '787.831k', '581.243k']
spot of 63.04 with type <class 'str'>
['Th', '8/10/17', '63.17', '481.767k', '569.799k']
spot of 63.17 with type <class 'str'>
['We', '8/9/17', '64.12', '526.363k', '590.073k']
spot of 64.12 with type <class 'str'>
['Tu', '8/8/17', '64.45', '519.361k', '680.952k']
spot of 64.45 with type <class 'str'>
['Mo', '8/7/17', '64.45', '411.35k', '700.739k']
spot of 64.45 with type <class 'str'>
['Fr', '8/4/17', '64.39', '439.028k', '748.201k']
spot of 64.39 with type <class 'str'>
['Th', '8/3/17', '64.01', '367.39k', '746.783k']
spot of 64.01 with type <class 'str'>
['We', '8/2/17', '63.85', '746.241k', '773.656k']
spot of 63.85 with type <class 'str'>
['Tu', '8/1/17', '64.47', '576.1k', '792.453k']
spot of 64.47 with type <class 'str'>
['Mo', '7/31/17', '64.27', '694.706k', '825.482k']
spot of 64.27 with type <class 'str'>
['Fr', '7/28/17', '63.72', '446.929k', '825.569k']
spot of 63.72 with type <class 'str'>
['Th', '7/27/17', '63.53', '627.397k', '832.947k']

spot of 63.53 with type <class 'str'>
['We', '7/26/17', '64.02', '904.936k', '879.024k']
spot of 64.02 with type <class 'str'>
['Tu', '7/25/17', '63.71', '614.189k', '880.852k']
spot of 63.71 with type <class 'str'>
['Mo', '7/24/17', '63.67', '575.058k', '884.767k']
spot of 63.67 with type <class 'str'>
['Fr', '7/21/17', '63.63', '616.168k', '898.838k']
spot of 63.63 with type <class 'str'>
['Th', '7/20/17', '63.94', '785.88k', '978.402k']
spot of 63.94 with type <class 'str'>
['We', '7/19/17', '63.63', '1.89M', '1.034M']
spot of 63.63 with type <class 'str'>
['Tu', '7/18/17', '62.73', '816.157k', '1.019M']
spot of 62.73 with type <class 'str'>
['Mo', '7/17/17', '62.91', '1.123M', '1.031M']
spot of 62.91 with type <class 'str'>
['Fr', '7/14/17', '61.2', '417.75k', '1.387M']
spot of 61.2 with type <class 'str'>
['Th', '7/13/17', '61.3', '770.494k', '1.416M']
spot of 61.3 with type <class 'str'>
['We', '7/12/17', '61.59', '1.028M', '1.436M']
spot of 61.59 with type <class 'str'>
['Tu', '7/11/17', '61.52', '1.072M', '1.427M']
spot of 61.52 with type <class 'str'>
['Mo', '7/10/17', '61.5', '696.011k', '1.408M']
spot of 61.5 with type <class 'str'>
['Fr', '7/7/17', '61.51', '557.604k', '1.481M']
spot of 61.51 with type <class 'str'>
['Th', '7/6/17', '60.84', '1.319M', '1.576M']
spot of 60.84 with type <class 'str'>
['We', '7/5/17', '60.8', '932.357k', '1.564M']
spot of 60.8 with type <class 'str'>
['Mo', '7/3/17', '60.36', '672.904k', '1.616M']
spot of 60.36 with type <class 'str'>
['Fr', '6/30/17', '61.11', '786.126k', '1.743M']
spot of 61.11 with type <class 'str'>
['Th', '6/29/17', '60.8', '1.81M', '1.938M']
spot of 60.8 with type <class 'str'>
['We', '6/28/17', '62.7', '1.626M', '2.058M']
spot of 62.7 with type <class 'str'>
['Tu', '6/27/17', '61.98', '1.657M', '2.056M']
spot of 61.98 with type <class 'str'>
['Mo', '6/26/17', '63.45', '996.031k', '2.044M']
spot of 63.45 with type <class 'str'>
['Fr', '6/23/17', '63.62', '6.463M', '2.148M']
spot of 63.62 with type <class 'str'>
['Th', '6/22/17', '63.56', '851.511k', '1.867M']
spot of 63.56 with type <class 'str'>
['We', '6/21/17', '63.32', '1.073M', '1.974M']
spot of 63.32 with type <class 'str'>
['Tu', '6/20/17', '62.23', '887.789k', '2.529M']
spot of 62.23 with type <class 'str'>
['Mo', '6/19/17', '62.67', '785.653k', '2.621M']
spot of 62.67 with type <class 'str'>
['Fr', '6/16/17', '62.12', '1.799M', '2.627M']
spot of 62.12 with type <class 'str'>
['Th', '6/15/17', '61.85', '1.985M', '2.619M']
spot of 61.85 with type <class 'str'>
['We', '6/14/17', '62.17', '1.141M', '2.566M']
spot of 62.17 with type <class 'str'>
['Tu', '6/13/17', '62.82', '1.715M', '2.584M']
spot of 62.82 with type <class 'str'>
['Mo', '6/12/17', '62.24', '2.563M', '2.627M']
spot of 62.24 with type <class 'str'>
['Fr', '6/9/17', '62.56', '3.723M', '2.504M']
spot of 62.56 with type <class 'str'>
['Th', '6/8/17', '65.1', '3.609M', '2.349M']
spot of 65.1 with type <class 'str'>
['We', '6/7/17', '67.83', '1.598M', '2.185M']
spot of 67.83 with type <class 'str'>
['Tu', '6/6/17', '67.13', '1.474M', '2.157M']
spot of 67.13 with type <class 'str'>
['Mo', '6/5/17', '66.61', '2.557M', '2.152M']
spot of 66.61 with type <class 'str'>
['Fr', '6/2/17', '68.25', '2.24M', '2.38M']
spot of 68.25 with type <class 'str'>
['Th', '6/1/17', '69.28', '2.453M', '2.324M']
spot of 69.28 with type <class 'str'>
['We', '5/31/17', '69.39', '9.401M', '2.235M']
spot of 69.39 with type <class 'str'>
['Tu', '5/30/17', '68.75', '2.265M', '1.692M']
spot of 68.75 with type <class 'str'>
['Fr', '5/26/17', '68.8', '875.386k', '1.679M']
spot of 68.8 with type <class 'str'>
['Th', '5/25/17', '68.66', '1.685M', '1.715M']
spot of 68.66 with type <class 'str'>
['We', '5/24/17', '68.07', '1.185M', '1.661M']
spot of 68.07 with type <class 'str'>
['Tu', '5/23/17', '67.38', '1.417M', '1.64M']
spot of 67.38 with type <class 'str'>
['Mo', '5/22/17', '67.38', '2.366M', '1.622M']
spot of 67.38 with type <class 'str'>
['Fr', '5/19/17', '64.92', '706.013k', '1.579M']
spot of 64.92 with type <class 'str'>
['Th', '5/18/17', '64.66', '1.405M', '1.59M']
spot of 64.66 with type <class 'str'>
['We', '5/17/17', '64.89', '1.149M', '1.555M']
spot of 64.89 with type <class 'str'>
['Tu', '5/16/17', '66.54', '1.176M', '1.58M']
spot of 66.54 with type <class 'str'>
['Mo', '5/15/17', '66.26', '1.406M', '1.645M']
spot of 66.26 with type <class 'str'>
['Fr', '5/12/17', '64.95', '5.977M', '1.702M']
spot of 64.95 with type <class 'str'>
['Th', '5/11/17', '66.1', '1.401M', '1.415M']
spot of 66.1 with type <class 'str'>
['We', '5/10/17', '66.98', '1.118M', '1.385M']
spot of 66.98 with type <class 'str'>
['Tu', '5/9/17', '67.24', '1.248M', '1.357M']
spot of 67.24 with type <class 'str'>
['Mo', '5/8/17', '67.63', '2.077M', '1.329M']
spot of 67.63 with type <class 'str'>
['Fr', '5/5/17', '67.29', '1.413M', '1.234M']
spot of 67.29 with type <class 'str'>
['Th', '5/4/17', '66.32', '877.921k', '1.21M']
spot of 66.32 with type <class 'str'>
['We', '5/3/17', '66.17', '868.816k', '1.238M']
spot of 66.17 with type <class 'str'>
['Tu', '5/2/17', '66.93', '1.139M', '1.279M']
spot of 66.93 with type <class 'str'>
['Mo', '5/1/17', '67.57', '1.729M', '1.337M']
spot of 67.57 with type <class 'str'>
['Fr', '4/28/17', '67.11', '872.074k', '1.329M']
spot of 67.11 with type <class 'str'>
['Th', '4/27/17', '67.43', '873.965k', '1.397M']
spot of 67.43 with type <class 'str'>
['We', '4/26/17', '67.06', '1.524M', '1.484M']
spot of 67.06 with type <class 'str'>
['Tu', '4/25/17', '66.35', '2.149M', '1.489M']
spot of 66.35 with type <class 'str'>
['Mo', '4/24/17', '66.18', '2.265M', '1.46M']
spot of 66.18 with type <class 'str'>
['Fr', '4/21/17', '64.42', '1.673M', '1.426M']
spot of 64.42 with type <class 'str'>
['Th', '4/20/17', '64.9', '943.48k', '1.487M']
spot of 64.9 with type <class 'str'>
['We', '4/19/17', '64.53', '700.324k', '1.517M']
spot of 64.53 with type <class 'str'>
['Tu', '4/18/17', '64.39', '833.685k', '1.566M']
spot of 64.39 with type <class 'str'>
['Mo', '4/17/17', '64.25', '644.099k', '1.566M']
spot of 64.25 with type <class 'str'>
['Th', '4/13/17', '63.92', '1.061M', '1.574M']
spot of 63.92 with type <class 'str'>
['We', '4/12/17', '63.9', '1.291M', '1.557M']
spot of 63.9 with type <class 'str'>
['Tu', '4/11/17', '65.11', '1.487M', '1.519M']
spot of 65.11 with type <class 'str'>
['Mo', '4/10/17', '64.91', '2.007M', '1.5M']
spot of 64.91 with type <class 'str'>
['Fr', '4/7/17', '64.87', '1.613M', '1.411M']
spot of 64.87 with type <class 'str'>
['Th', '4/6/17', '64.2', '1.895M', '1.366M']
spot of 64.2 with type <class 'str'>
['We', '4/5/17', '64.02', '2.178M', '1.317M']
spot of 64.02 with type <class 'str'>
['Tu', '4/4/17', '64.18', '1.594M', '1.23M']
spot of 64.18 with type <class 'str'>
['Mo', '4/3/17', '63.85', '1.709M', '1.182M']
spot of 63.85 with type <class 'str'>
['Fr', '3/31/17', '64.08', '1.763M', '1.168M']
spot of 64.08 with type <class 'str'>
['Th', '3/30/17', '63.99', '2.585M', '1.104M']
spot of 63.99 with type <class 'str'>
['We', '3/29/17', '63.9', '1.389M', '994.028k']
spot of 63.9 with type <class 'str'>
['Tu', '3/28/17', '63.57', '1.445M', '984.345k']
spot of 63.57 with type <class 'str'>
['Mo', '3/27/17', '63.37', '833.083k', '945.979k']
spot of 63.37 with type <class 'str'>
['Fr', '3/24/17', '63.37', '761.414k', '979.138k']
spot of 63.37 with type <class 'str'>
['Th', '3/23/17', '63.08', '798.915k', '986.441k']
spot of 63.08 with type <class 'str'>
['We', '3/22/17', '62.98', '728.81k', '980.292k']
spot of 62.98 with type <class 'str'>
['Tu', '3/21/17', '62.44', '1.193M', '1.025M']
spot of 62.44 with type <class 'str'>
['Mo', '3/20/17', '64.07', '678.506k', '1.026M']
spot of 64.07 with type <class 'str'>
['Fr', '3/17/17', '64.19', '932.366k', '1.1M']
spot of 64.19 with type <class 'str'>
['Th', '3/16/17', '64', '1.158M', '1.095M']
spot of 64 with type <class 'str'>
['We', '3/15/17', '63.73', '885.779k', '1.086M']
spot of 63.73 with type <class 'str'>
['Tu', '3/14/17', '63.49', '868.631k', '1.099M']
spot of 63.49 with type <class 'str'>
['Mo', '3/13/17', '63.5', '1.499M', '1.109M']
spot of 63.5 with type <class 'str'>
['Fr', '3/10/17', '63.48', '809.678k', '1.102M']
spot of 63.48 with type <class 'str'>
['Th', '3/9/17', '63.13', '929.247k', '1.134M']
spot of 63.13 with type <class 'str'>
['We', '3/8/17', '63.52', '1.244M', '1.117M']
spot of 63.52 with type <class 'str'>
['Tu', '3/7/17', '63.05', '869.269k', '1.108M']
spot of 63.05 with type <class 'str'>
['Mo', '3/6/17', '62.71', '1.33M', '1.135M']
spot of 62.71 with type <class 'str'>
['Fr', '3/3/17', '63.44', '870.954k', '1.116M']
spot of 63.44 with type <class 'str'>
['Th', '3/2/17', '63.47', '706.682k', '1.128M']
spot of 63.47 with type <class 'str'>
['We', '3/1/17', '64.08', '1.402M', '1.164M']
spot of 64.08 with type <class 'str'>
['Tu', '2/28/17', '63.49', '1.207M', '1.132M']
spot of 63.49 with type <class 'str'>
['Mo', '2/27/17', '64.04', '1.785M', '1.146M']
spot of 64.04 with type <class 'str'>
['Fr', '2/24/17', '64.24', '858.369k', '1.071M']
spot of 64.24 with type <class 'str'>
['Th', '2/23/17', '64.12', '1.025M', '1.087M']
spot of 64.12 with type <class 'str'>
['We', '2/22/17', '64.77', '1.073M', '1.115M']
spot of 64.77 with type <class 'str'>
['Tu', '2/21/17', '65.1', '1.019M', '1.135M']
spot of 65.1 with type <class 'str'>
['Fr', '2/17/17', '64.59', '1.398M', '1.166M']
spot of 64.59 with type <class 'str'>
['Th', '2/16/17', '65.12', '1.298M', '1.273M']
spot of 65.12 with type <class 'str'>
['We', '2/15/17', '65.12', '662.443k', '1.293M']
spot of 65.12 with type <class 'str'>
['Tu', '2/14/17', '64.85', '1.115M', '1.358M']
spot of 64.85 with type <class 'str'>
['Mo', '2/13/17', '64.83', '1.281M', '1.418M']
spot of 64.83 with type <class 'str'>
['Fr', '2/10/17', '64.73', '1.036M', '1.406M']
spot of 64.73 with type <class 'str'>
['Th', '2/9/17', '65', '1.047M', '1.411M']
spot of 65 with type <class 'str'>
['We', '2/8/17', '64.84', '1.259M', '1.427M']
spot of 64.84 with type <class 'str'>
['Tu', '2/7/17', '64.86', '920.273k', '1.389M']
spot of 64.86 with type <class 'str'>
['Mo', '2/6/17', '64.63', '1.41M', '1.42M']
spot of 64.63 with type <class 'str'>
['Fr', '2/3/17', '64.35', '657.68k', '1.437M']
spot of 64.35 with type <class 'str'>
['Th', '2/2/17', '63.96', '1.1M', '1.45M']
spot of 63.96 with type <class 'str'>
['We', '2/1/17', '63.1', '1.45M', '1.436M']
spot of 63.1 with type <class 'str'>
['Tu', '1/31/17', '62.99', '1.37M', '1.451M']
spot of 62.99 with type <class 'str'>
['Mo', '1/30/17', '62.44', '1.49M', '1.453M']
spot of 62.44 with type <class 'str'>
['Fr', '1/27/17', '62.55', '3.006M', '1.443M']
spot of 62.55 with type <class 'str'>
['Th', '1/26/17', '59.61', '1.591M', '1.298M']
spot of 59.61 with type <class 'str'>
['We', '1/25/17', '60.06', '1.643M', '1.332M']
spot of 60.06 with type <class 'str'>
['Tu', '1/24/17', '59.77', '2.015M', '1.331M']
spot of 59.77 with type <class 'str'>
['Mo', '1/23/17', '58.28', '1.098M', '1.25M']
spot of 58.28 with type <class 'str'>
['Fr', '1/20/17', '59.26', '1.111M', '1.232M']
spot of 59.26 with type <class 'str'>
['Th', '1/19/17', '58.81', '1.284M', '1.246M']
spot of 58.81 with type <class 'str'>
['We', '1/18/17', '58.57', '698.093k', '1.228M']
spot of 58.57 with type <class 'str'>
['Tu', '1/17/17', '57.94', '1.384M', '1.221M']
spot of 57.94 with type <class 'str'>
['Fr', '1/13/17', '58.17', '1.658M', '1.234M']
spot of 58.17 with type <class 'str'>
['Th', '1/12/17', '57.64', '851.615k', '1.194M']
spot of 57.64 with type <class 'str'>
['We', '1/11/17', '57.58', '897.953k', '1.236M']
spot of 57.58 with type <class 'str'>
['Tu', '1/10/17', '56.99', '1.665M', '1.257M']
spot of 56.99 with type <class 'str'>
['Mo', '1/9/17', '56.49', '1.406M', '1.544M']
spot of 56.49 with type <class 'str'>
['Fr', '1/6/17', '56.79', '1.332M', '1.691M']
spot of 56.79 with type <class 'str'>
['Th', '1/5/17', '55.27', '829.632k', '1.725M']
spot of 55.27 with type <class 'str'>
['We', '1/4/17', '55', '2.101M', '1.751M']
spot of 55 with type <class 'str'>
['Tu', '1/3/17', '54.57', '1.629M', '1.721M']
spot of 54.57 with type <class 'str'>
['Fr', '12/30/16', '54.97', '804.961k', '1.724M']
spot of 54.97 with type <class 'str'>
['Th', '12/29/16', '55.26', '833.67k', '1.825M']
spot of 55.26 with type <class 'str'>
['We', '12/28/16', '55.34', '1.321M', '1.953M']
spot of 55.34 with type <class 'str'>
['Tu', '12/27/16', '56.05', '1.006M', '1.976M']
spot of 56.05 with type <class 'str'>
['Fr', '12/23/16', '56.09', '595.874k', '2.028M']
spot of 56.09 with type <class 'str'>
['Th', '12/22/16', '55.84', '1.573M', '2.078M']
spot of 55.84 with type <class 'str'>
['We', '12/21/16', '57.29', '1.066M', '2.123M']
spot of 57.29 with type <class 'str'>
['Tu', '12/20/16', '57.05', '1.474M', '2.147M']
spot of 57.05 with type <class 'str'>
['Mo', '12/19/16', '56.39', '1.22M', '2.138M']
spot of 56.39 with type <class 'str'>
['Fr', '12/16/16', '56.44', '5.976M', '2.106M']
spot of 56.44 with type <class 'str'>
['Th', '12/15/16', '56.76', '3.605M', '1.724M']
spot of 56.76 with type <class 'str'>
['We', '12/14/16', '54.21', '1.837M', '1.54M']
spot of 54.21 with type <class 'str'>
['Tu', '12/13/16', '53.77', '1.228M', '1.471M']
spot of 53.77 with type <class 'str'>
['Mo', '12/12/16', '53.9', '1.641M', '1.448M']
spot of 53.9 with type <class 'str'>
['Fr', '12/9/16', '53.97', '1.678M', '1.417M']
spot of 53.97 with type <class 'str'>
['Th', '12/8/16', '53.92', '2.322M', '1.412M']
spot of 53.92 with type <class 'str'>
['We', '12/7/16', '53.9', '2.752M', '1.351M']
spot of 53.9 with type <class 'str'>
['Tu', '12/6/16', '53.37', '1.659M', '1.298M']
spot of 53.37 with type <class 'str'>
['Mo', '12/5/16', '53.06', '1.793M', '1.253M']
spot of 53.06 with type <class 'str'>
['Fr', '12/2/16', '52.75', '1.338M', '1.193M']
spot of 52.75 with type <class 'str'>
['Th', '12/1/16', '51.88', '2.25M', '1.215M']
spot of 51.88 with type <class 'str'>
['We', '11/30/16', '53.56', '1.426M', '1.175M']
spot of 53.56 with type <class 'str'>
['Tu', '11/29/16', '53.27', '1.339M', '1.142M']
spot of 53.27 with type <class 'str'>
['Mo', '11/28/16', '52.14', '740.276k', '1.138M']
spot of 52.14 with type <class 'str'>
['Fr', '11/25/16', '52.19', '254.001k', '1.207M']
spot of 52.19 with type <class 'str'>
['We', '11/23/16', '51.54', '839.435k', '1.279M']
spot of 51.54 with type <class 'str'>
['Tu', '11/22/16', '52.09', '801.751k', '1.346M']
spot of 52.09 with type <class 'str'>
['Mo', '11/21/16', '52.44', '883.798k', '1.441M']
spot of 52.44 with type <class 'str'>
['Fr', '11/18/16', '51.99', '1.179M', '1.61M']
spot of 51.99 with type <class 'str'>
['Th', '11/17/16', '51.8', '1.607M', '1.786M']
spot of 51.8 with type <class 'str'>
['We', '11/16/16', '50.65', '1.403M', '2.148M']
spot of 50.65 with type <class 'str'>
['Tu', '11/15/16', '50.08', '1.962M', '2.165M']
spot of 50.08 with type <class 'str'>
['Mo', '11/14/16', '48.99', '983.57k', '2.135M']
spot of 48.99 with type <class 'str'>
['Fr', '11/11/16', '49.15', '887.445k', '2.138M']
spot of 49.15 with type <class 'str'>
['Th', '11/10/16', '49.26', '1.676M', '2.143M']
spot of 49.26 with type <class 'str'>
['We', '11/9/16', '49.37', '1.639M', '2.103M']
spot of 49.37 with type <class 'str'>
['Tu', '11/8/16', '49.68', '932.477k', '2.077M']
spot of 49.68 with type <class 'str'>
['Mo', '11/7/16', '49.52', '1.282M', '2.116M']
spot of 49.52 with type <class 'str'>
['Fr', '11/4/16', '48.62', '1.77M', '2.12M']
spot of 48.62 with type <class 'str'>
['Th', '11/3/16', '48.77', '1.337M', '2.104M']
spot of 48.77 with type <class 'str'>
['We', '11/2/16', '49', '1.84M', '2.105M']
spot of 49 with type <class 'str'>
['Tu', '11/1/16', '48.47', '2.236M', '2.092M']
spot of 48.47 with type <class 'str'>
['Mo', '10/31/16', '49.09', '3.414M', '2.059M']
spot of 49.09 with type <class 'str'>
['Fr', '10/28/16', '48.87', '3.823M', '1.933M']
spot of 48.87 with type <class 'str'>
['Th', '10/27/16', '48.33', '7.038M', '1.744M']
spot of 48.33 with type <class 'str'>
['We', '10/26/16', '46.72', '1.656M', '1.371M']
spot of 46.72 with type <class 'str'>
['Tu', '10/25/16', '46.99', '1.515M', '1.384M']
spot of 46.99 with type <class 'str'>
['Mo', '10/24/16', '47.94', '1.016M', '1.396M']
spot of 47.94 with type <class 'str'>
['Fr', '10/21/16', '47.24', '971.453k', '1.428M']
spot of 47.24 with type <class 'str'>
['Th', '10/20/16', '47.7', '1.08M', '1.478M']
spot of 47.7 with type <class 'str'>
['We', '10/19/16', '47.71', '1.25M', '1.517M']
spot of 47.71 with type <class 'str'>
['Tu', '10/18/16', '47.68', '1.507M', '1.584M']
spot of 47.68 with type <class 'str'>
['Mo', '10/17/16', '47.39', '1.351M', '1.667M']
spot of 47.39 with type <class 'str'>
['Fr', '10/14/16', '47.24', '1.53M', '1.767M']
spot of 47.24 with type <class 'str'>
['Th', '10/13/16', '47.13', '1.343M', '1.804M']
spot of 47.13 with type <class 'str'>
['We', '10/12/16', '47.11', '1.642M', '2.034M']
spot of 47.11 with type <class 'str'>
['Tu', '10/11/16', '47.14', '1.753M', '2.203M']
spot of 47.14 with type <class 'str'>
['Mo', '10/10/16', '47.52', '1.521M', '2.31M']
spot of 47.52 with type <class 'str'>
['Fr', '10/7/16', '48.07', '986.468k', '2.513M']
spot of 48.07 with type <class 'str'>
['Th', '10/6/16', '48.39', '1.442M', '2.78M']
spot of 48.39 with type <class 'str'>
['We', '10/5/16', '48.47', '1.858M', '3.006M']
spot of 48.47 with type <class 'str'>
['Tu', '10/4/16', '47.86', '1.682M', '3.204M']
spot of 47.86 with type <class 'str'>
['Mo', '10/3/16', '47.93', '1.5M', '3.43M']
spot of 47.93 with type <class 'str'>
['Fr', '9/30/16', '47.8', '1.73M', '3.591M']
spot of 47.8 with type <class 'str'>
['Th', '9/29/16', '47.57', '1.659M', '3.974M']
spot of 47.57 with type <class 'str'>
['We', '9/28/16', '47.86', '2.249M', '4.633M']
spot of 47.86 with type <class 'str'>
['Tu', '9/27/16', '47.79', '2.759M', '7.251M']
spot of 47.79 with type <class 'str'>
['Mo', '9/26/16', '47.89', '2.842M', '8.12M']
spot of 47.89 with type <class 'str'>
['Fr', '9/23/16', '48.01', '2.091M', '8.083M']
spot of 48.01 with type <class 'str'>
['Th', '9/22/16', '48.03', '4.787M', '8.113M']
spot of 48.03 with type <class 'str'>
['We', '9/21/16', '48.42', '4.178M', '7.963M']
spot of 48.42 with type <class 'str'>
['Tu', '9/20/16', '48.73', '3.368M', '7.774M']
spot of 48.73 with type <class 'str'>
['Mo', '9/19/16', '48.76', '4.565M', '7.576M']
spot of 48.76 with type <class 'str'>
['Fr', '9/16/16', '48.47', '4.992M', '7.276M']
spot of 48.47 with type <class 'str'>
['Th', '9/15/16', '48.89', '4.829M', '6.95M']
spot of 48.89 with type <class 'str'>
['We', '9/14/16', '48.35', '4.83M', '6.675M']
spot of 48.35 with type <class 'str'>
['Tu', '9/13/16', '48.5', '5.064M', '6.381M']
spot of 48.5 with type <class 'str'>
['Mo', '9/12/16', '49.4', '3.926M', '6.085M']
spot of 49.4 with type <class 'str'>
['Fr', '9/9/16', '49.08', '7.47M', '5.912M']
spot of 49.08 with type <class 'str'>
['Th', '9/8/16', '50.31', '11.551M', '5.447M']
spot of 50.31 with type <class 'str'>
['We', '9/7/16', '48', '41.509M', '4.682M']
spot of 48 with type <class 'str'>
['Tu', '9/6/16', '45.45', '15.805M', '']
spot of 45.45 with type <class 'str'>
['Fr', '9/2/16', '42.98', '2.281M', '']
spot of 42.98 with type <class 'str'>
['Th', '9/1/16', '43.5', '2.539M', '']
spot of 43.5 with type <class 'str'>
['We', '8/31/16', '44.68', '2.535M', '']
spot of 44.68 with type <class 'str'>
['Tu', '8/30/16', '45.15', '1.349M', '']
spot of 45.15 with type <class 'str'>
['Mo', '8/29/16', '46.3', '390.147k', '']
spot of 46.3 with type <class 'str'>
['Fr', '8/26/16', '45.75', '62730', '']
spot of 45.75 with type <class 'str'>
['Th', '8/25/16', '45.4121', '104.3k', '']
spot of 45.4121 with type <class 'str'>
['We', '8/24/16', '45.6', '708.893k', '']
spot of 45.6 with type <class 'str'>
['Tu', '8/23/16', '45', '416.182k', '']
spot of 45 with type <class 'str'>
['Mo', '8/22/16', '43.65', '630.31k', '']
spot of 43.65 with type <class 'str'>
['Fr', '8/19/16', '43.5', '1.329M', '']
spot of 43.5 with type <class 'str'>
['Th', '8/18/16', '42.75', '496.033k', '']

spot of 42.02 with type <class 'str'>
['Th', '12/14/17', '41.94', '3.302M', '4.463M']
spot of 41.94 with type <class 'str'>
['We', '12/13/17', '42.08', '4.509M', '4.401M']
spot of 42.08 with type <class 'str'>
['Tu', '12/12/17', '42.12', '6.355M', '4.357M']
spot of 42.12 with type <class 'str'>
['Mo', '12/11/17', '40.47', '3.741M', '4.199M']
spot of 40.47 with type <class 'str'>
['Fr', '12/8/17', '40.49', '5.502M', '4.16M']
spot of 40.49 with type <class 'str'>
['Th', '12/7/17', '39.58', '3.725M', '4.144M']
spot of 39.58 with type <class 'str'>
['We', '12/6/17', '39.18', '2.52M', '4.129M']
spot of 39.18 with type <class 'str'>
['Tu', '12/5/17', '39.13', '3.946M', '4.134M']
spot of 39.13 with type <class 'str'>
['Mo', '12/4/17', '39.2', '4.593M', '4.025M']
spot of 39.2 with type <class 'str'>
['Fr', '12/1/17', '39.11', '5.125M', '3.919M']
spot of 39.11 with type <class 'str'>
['Th', '11/30/17', '38.56', '6.783M', '3.868M']
spot of 38.56 with type <class 'str'>
['We', '11/29/17', '38.75', '6.07M', '3.698M']
spot of 38.75 with type <class 'str'>
['Tu', '11/28/17', '39.98', '3.809M', '3.483M']
spot of 39.98 with type <class 'str'>
['Mo', '11/27/17', '39.08', '5.632M', '3.442M']
spot of 39.08 with type <class 'str'>
['Fr', '11/24/17', '40.29', '1.34M', '3.218M']
spot of 40.29 with type <class 'str'>
['We', '11/22/17', '40.33', '2.365M', '3.312M']
spot of 40.33 with type <class 'str'>
['Tu', '11/21/17', '40.14', '3.848M', '3.34M']
spot of 40.14 with type <class 'str'>
['Mo', '11/20/17', '39.85', '3.993M', '3.379M']
spot of 39.85 with type <class 'str'>
['Fr', '11/17/17', '39.42', '3.155M', '3.504M']
spot of 39.42 with type <class 'str'>
['Th', '11/16/17', '39.12', '5.258M', '3.647M']
spot of 39.12 with type <class 'str'>
['We', '11/15/17', '37.81', '3.497M', '3.581M']
spot of 37.81 with type <class 'str'>
['Tu', '11/14/17', '37.49', '2.599M', '3.844M']
spot of 37.49 with type <class 'str'>
['Mo', '11/13/17', '37.66', '2.306M', '4.48M']
spot of 37.66 with type <class 'str'>
['Fr', '11/10/17', '37.99', '3.012M', '6.566M']
spot of 37.99 with type <class 'str'>
['Th', '11/9/17', '37.41', '4.35M', '6.92M']
spot of 37.41 with type <class 'str'>
['We', '11/8/17', '37.71', '4.241M', '6.92M']
spot of 37.71 with type <class 'str'>
['Tu', '11/7/17', '37.12', '2.842M', '6.887M']
spot of 37.12 with type <class 'str'>
['Mo', '11/6/17', '37.46', '3.187M', '7.093M']
spot of 37.46 with type <class 'str'>
['Fr', '11/3/17', '36.33', '2.28M', '7.15M']
spot of 36.33 with type <class 'str'>
['Th', '11/2/17', '36.77', '2.745M', '7.276M']
spot of 36.77 with type <class 'str'>
['We', '11/1/17', '36.96', '2.784M', '7.434M']
spot of 36.96 with type <class 'str'>
['Tu', '10/31/17', '36.97', '4.433M', '7.489M']
spot of 36.97 with type <class 'str'>
['Mo', '10/30/17', '36.68', '5.87M', '7.543M']
spot of 36.68 with type <class 'str'>
['Fr', '10/27/17', '36.9', '5.297M', '7.397M']
spot of 36.9 with type <class 'str'>
['Th', '10/26/17', '38.18', '4.276M', '7.281M']
spot of 38.18 with type <class 'str'>
['We', '10/25/17', '38.15', '7.431M', '7.21M']
spot of 38.15 with type <class 'str'>
['Tu', '10/24/17', '38.84', '12.14M', '6.919M']
spot of 38.84 with type <class 'str'>
['Mo', '10/23/17', '39.35', '33.601M', '6.36M']
spot of 39.35 with type <class 'str'>
['Fr', '10/20/17', '34.94', '8.315M', '4.613M']
spot of 34.94 with type <class 'str'>
['Th', '10/19/17', '34.34', '4.363M', '4.227M']
spot of 34.34 with type <class 'str'>
['We', '10/18/17', '34.26', '3.732M', '4.242M']
spot of 34.26 with type <class 'str'>
['Tu', '10/17/17', '33.96', '5.937M', '4.246M']
spot of 33.96 with type <class 'str'>
['Mo', '10/16/17', '34.49', '4.041M', '4.078M']
spot of 34.49 with type <class 'str'>
['Fr', '10/13/17', '34.4', '4.179M', '4.05M']
spot of 34.4 with type <class 'str'>
['Th', '10/12/17', '33.62', '5.111M', '4.065M']
spot of 33.62 with type <class 'str'>
['We', '10/11/17', '33.5', '3.611M', '4.037M']
spot of 33.5 with type <class 'str'>
['Tu', '10/10/17', '33.75', '5.238M', '4.103M']
spot of 33.75 with type <class 'str'>
['Mo', '10/9/17', '33.85', '3.679M', '4.285M']
spot of 33.85 with type <class 'str'>
['Fr', '10/6/17', '33.79', '3.556M', '4.609M']
spot of 33.79 with type <class 'str'>
['Th', '10/5/17', '34.1', '3.211M', '5.01M']
spot of 34.1 with type <class 'str'>
['We', '10/4/17', '33.98', '3.067M', '5.02M']
spot of 33.98 with type <class 'str'>
['Tu', '10/3/17', '34.05', '3.755M', '5.169M']
spot of 34.05 with type <class 'str'>
['Mo', '10/2/17', '34.2', '7.403M', '5.263M']
spot of 34.2 with type <class 'str'>
['Fr', '9/29/17', '33.17', '2.524M', '5.211M']
spot of 33.17 with type <class 'str'>
['Th', '9/28/17', '32.98', '4.586M', '5.281M']
spot of 32.98 with type <class 'str'>
['We', '9/27/17', '33.18', '3.785M', '5.261M']
spot of 33.18 with type <class 'str'>
['Tu', '9/26/17', '32.87', '3.424M', '5.403M']
spot of 32.87 with type <class 'str'>
['Mo', '9/25/17', '33.16', '3.626M', '5.739M']
spot of 33.16 with type <class 'str'>
['Fr', '9/22/17', '33.57', '4.398M', '5.638M']
spot of 33.57 with type <class 'str'>
['Th', '9/21/17', '32.72', '4.697M', '5.631M']
spot of 32.72 with type <class 'str'>
['We', '9/20/17', '32.38', '4.594M', '5.572M']
spot of 32.38 with type <class 'str'>
['Tu', '9/19/17', '32.18', '7.963M', '5.489M']
spot of 32.18 with type <class 'str'>
['Mo', '9/18/17', '33.52', '8.551M', '5.149M']
spot of 33.52 with type <class 'str'>
['Fr', '9/15/17', '33.55', '9.566M', '4.812M']
spot of 33.55 with type <class 'str'>
['Th', '9/14/17', '32.65', '3.368M', '4.477M']
spot of 32.65 with type <class 'str'>
['We', '9/13/17', '32.78', '5.3M', '4.77M']
spot of 32.78 with type <class 'str'>
['Tu', '9/12/17', '31.89', '5.16M', '4.593M']
spot of 31.89 with type <class 'str'>
['Mo', '9/11/17', '30.95', '6.63M', '4.458M']
spot of 30.95 with type <class 'str'>
['Fr', '9/8/17', '31.99', '3.563M', '4.21M']
spot of 31.99 with type <class 'str'>
['Th', '9/7/17', '32.34', '4.284M', '4.204M']
spot of 32.34 with type <class 'str'>
['We', '9/6/17', '32.79', '5.928M', '4.087M']
spot of 32.79 with type <class 'str'>
['Tu', '9/5/17', '32.75', '8.455M', '3.888M']
spot of 32.75 with type <class 'str'>
['Fr', '9/1/17', '31.8', '2.115M', '3.602M']
spot of 31.8 with type <class 'str'>
['Th', '8/31/17', '31.53', '4.289M', '3.838M']
spot of 31.53 with type <class 'str'>
['We', '8/30/17', '31.5', '3.807M', '3.976M']
spot of 31.5 with type <class 'str'>
['Tu', '8/29/17', '31.45', '3.358M', '4.008M']
spot of 31.45 with type <class 'str'>
['Mo', '8/28/17', '31.49', '2.856M', '4.183M']
spot of 31.49 with type <class 'str'>
['Fr', '8/25/17', '31.25', '3.505M', '4.361M']
spot of 31.25 with type <class 'str'>
['Th', '8/24/17', '31.02', '4.543M', '4.578M']
spot of 31.02 with type <class 'str'>
['We', '8/23/17', '31.01', '7.757M', '4.604M']
spot of 31.01 with type <class 'str'>
['Tu', '8/22/17', '32.29', '2.64M', '4.476M']
spot of 32.29 with type <class 'str'>
['Mo', '8/21/17', '31.46', '3.141M', '4.702M']
spot of 31.46 with type <class 'str'>
['Fr', '8/18/17', '31.37', '2.901M', '4.971M']
spot of 31.37 with type <class 'str'>
['Th', '8/17/17', '31.51', '3.483M', '5.302M']
spot of 31.51 with type <class 'str'>
['We', '8/16/17', '32.48', '2.534M', '5.584M']
spot of 32.48 with type <class 'str'>
['Tu', '8/15/17', '32.28', '2.939M', '6.257M']
spot of 32.28 with type <class 'str'>
['Mo', '8/14/17', '32.55', '4.163M', '8.426M']
spot of 32.55 with type <class 'str'>
['Fr', '8/11/17', '32.29', '5.647M', '8.568M']
spot of 32.29 with type <class 'str'>
['Th', '8/10/17', '31.55', '6.368M', '8.408M']
spot of 31.55 with type <class 'str'>
['We', '8/9/17', '32.6', '4.286M', '8.169M']
spot of 32.6 with type <class 'str'>
['Tu', '8/8/17', '32.99', '5.981M', '8.159M']
spot of 32.99 with type <class 'str'>
['Mo', '8/7/17', '33.48', '5.521M', '7.994M']
spot of 33.48 with type <class 'str'>
['Fr', '8/4/17', '33.43', '6.768M', '7.88M']
spot of 33.43 with type <class 'str'>
['Th', '8/3/17', '33.57', '4.935M', '7.786M']
spot of 33.57 with type <class 'str'>
['We', '8/2/17', '33.42', '5.838M', '8.225M']
spot of 33.42 with type <class 'str'>
['Tu', '8/1/17', '33.37', '6.029M', '8.168M']
spot of 33.37 with type <class 'str'>
['Mo', '7/31/17', '32.96', '7.172M', '8.016M']
spot of 32.96 with type <class 'str'>
['Fr', '7/28/17', '32.61', '7.865M', '7.78M']
spot of 32.61 with type <class 'str'>
['Th', '7/27/17', '32.56', '7.71M', '7.646M']
spot of 32.56 with type <class 'str'>
['We', '7/26/17', '32.34', '12.638M', '7.735M']
spot of 32.34 with type <class 'str'>
['Tu', '7/25/17', '33.2', '35.476M', '7.234M']
spot of 33.2 with type <class 'str'>
['Mo', '7/24/17', '39.76', '6.279M', '5.001M']
spot of 39.76 with type <class 'str'>
['Fr', '7/21/17', '39.58', '3.257M', '4.84M']
spot of 39.58 with type <class 'str'>
['Th', '7/20/17', '39.42', '2.779M', '5.029M']
spot of 39.42 with type <class 'str'>
['We', '7/19/17', '39.24', '4.144M', '5.16M']
spot of 39.24 with type <class 'str'>
['Tu', '7/18/17', '38.83', '3.497M', '5.484M']
spot of 38.83 with type <class 'str'>
['Mo', '7/17/17', '39.07', '3.813M', '5.493M']
spot of 39.07 with type <class 'str'>
['Fr', '7/14/17', '39.5', '5.357M', '5.478M']
spot of 39.5 with type <class 'str'>
['Th', '7/13/17', '38.32', '11.524M', '5.284M']
spot of 38.32 with type <class 'str'>
['We', '7/12/17', '39.7', '4.98M', '4.703M']
spot of 39.7 with type <class 'str'>
['Tu', '7/11/17', '38.72', '3.751M', '4.59M']
spot of 38.72 with type <class 'str'>
['Mo', '7/10/17', '38.39', '3.632M', '4.545M']
spot of 38.39 with type <class 'str'>
['Fr', '7/7/17', '38.2', '5.852M', '4.787M']
spot of 38.2 with type <class 'str'>
['Th', '7/6/17', '37.29', '9.052M', '4.643M']
spot of 37.29 with type <class 'str'>
['We', '7/5/17', '39.02', '5.117M', '4.301M']
spot of 39.02 with type <class 'str'>
['Mo', '7/3/17', '38.59', '1.975M', '4.225M']
spot of 38.59 with type <class 'str'>
['Fr', '6/30/17', '38.75', '3.873M', '4.528M']
spot of 38.75 with type <class 'str'>
['Th', '6/29/17', '38.91', '6.082M', '4.587M']
spot of 38.91 with type <class 'str'>
['We', '6/28/17', '40.18', '4.744M', '4.396M']
spot of 40.18 with type <class 'str'>
['Tu', '6/27/17', '39.51', '9.009M', '4.239M']
spot of 39.51 with type <class 'str'>
['Mo', '6/26/17', '42.39', '3.632M', '3.866M']
spot of 42.39 with type <class 'str'>
['Fr', '6/23/17', '42.67', '3.597M', '3.845M']
spot of 42.67 with type <class 'str'>
['Th', '6/22/17', '42.01', '2.444M', '3.784M']
spot of 42.01 with type <class 'str'>
['We', '6/21/17', '41.66', '2.799M', '3.854M']
spot of 41.66 with type <class 'str'>
['Tu', '6/20/17', '41.04', '3.294M', '3.969M']
spot of 41.04 with type <class 'str'>
['Mo', '6/19/17', '41.83', '3.068M', '3.987M']
spot of 41.83 with type <class 'str'>
['Fr', '6/16/17', '42.03', '7.268M', '4.001M']
spot of 42.03 with type <class 'str'>
['Th', '6/15/17', '41.52', '3.695M', '3.713M']
spot of 41.52 with type <class 'str'>
['We', '6/14/17', '41.28', '3.917M', '3.626M']
spot of 41.28 with type <class 'str'>
['Tu', '6/13/17', '42.03', '3.981M', '3.545M']
spot of 42.03 with type <class 'str'>
['Mo', '6/12/17', '41.54', '6.519M', '3.447M']
spot of 41.54 with type <class 'str'>
['Fr', '6/9/17', '42.37', '4.759M', '3.23M']
spot of 42.37 with type <class 'str'>
['Th', '6/8/17', '42.77', '3.211M', '3.187M']
spot of 42.77 with type <class 'str'>
['We', '6/7/17', '41.94', '2.397M', '3.363M']
spot of 41.94 with type <class 'str'>
['Tu', '6/6/17', '41.89', '3.407M', '3.475M']
spot of 41.89 with type <class 'str'>
['Mo', '6/5/17', '42.08', '3.322M', '3.544M']
spot of 42.08 with type <class 'str'>
['Fr', '6/2/17', '43.22', '2.683M', '3.559M']
spot of 43.22 with type <class 'str'>
['Th', '6/1/17', '42.88', '3.493M', '3.729M']
spot of 42.88 with type <class 'str'>
['We', '5/31/17', '43.57', '4.522M', '3.729M']
spot of 43.57 with type <class 'str'>
['Tu', '5/30/17', '43.24', '3.567M', '3.614M']
spot of 43.24 with type <class 'str'>
['Fr', '5/26/17', '42.53', '3.273M', '3.576M']
spot of 42.53 with type <class 'str'>
['Th', '5/25/17', '43.11', '2.951M', '3.684M']
spot of 43.11 with type <class 'str'>
['We', '5/24/17', '42.73', '2.389M', '3.817M']
spot of 42.73 with type <class 'str'>
['Tu', '5/23/17', '42.63', '2.702M', '4.016M']
spot of 42.63 with type <class 'str'>
['Mo', '5/22/17', '42.77', '2.506M', '4.27M']
spot of 42.77 with type <class 'str'>
['Fr', '5/19/17', '42.51', '3.272M', '4.595M']
spot of 42.51 with type <class 'str'>
['Th', '5/18/17', '42.25', '4.103M', '4.951M']
spot of 42.25 with type <class 'str'>
['We', '5/17/17', '42.16', '5.853M', '5.322M']
spot of 42.16 with type <class 'str'>
['Tu', '5/16/17', '44', '4.08M', '7.23M']
spot of 44 with type <class 'str'>
['Mo', '5/15/17', '43.48', '4.449M', '7.478M']
spot of 43.48 with type <class 'str'>
['Fr', '5/12/17', '43.04', '3.545M', '7.487M']
spot of 43.04 with type <class 'str'>
['Th', '5/11/17', '42.48', '5.225M', '7.474M']
spot of 42.48 with type <class 'str'>
['We', '5/10/17', '43.11', '3.494M', '7.516M']
spot of 43.11 with type <class 'str'>
['Tu', '5/9/17', '42.83', '2.798M', '7.48M']
spot of 42.83 with type <class 'str'>
['Mo', '5/8/17', '42.87', '3.002M', '7.515M']
spot of 42.87 with type <class 'str'>
['Fr', '5/5/17', '43.55', '4.885M', '7.513M']
spot of 43.55 with type <class 'str'>
['Th', '5/4/17', '42.58', '4.947M', '7.44M']
spot of 42.58 with type <class 'str'>
['We', '5/3/17', '42.51', '5.381M', '7.392M']
spot of 42.51 with type <class 'str'>
['Tu', '5/2/17', '42.44', '6.509M', '7.545M']
spot of 42.44 with type <class 'str'>
['Mo', '5/1/17', '42.18', '7.377M', '7.47M']
spot of 42.18 with type <class 'str'>
['Fr', '4/28/17', '42.13', '8.613M', '7.218M']
spot of 42.13 with type <class 'str'>
['Th', '4/27/17', '42.3', '9.673M', '6.841M']
spot of 42.3 with type <class 'str'>
['We', '4/26/17', '42.01', '34.477M', '6.44M']
spot of 42.01 with type <class 'str'>
['Tu', '4/25/17', '50.51', '7.791M', '4.299M']
spot of 50.51 with type <class 'str'>
['Mo', '4/24/17', '49.42', '4.585M', '4.2M']
spot of 49.42 with type <class 'str'>
['Fr', '4/21/17', '48.26', '3.359M', '4.12M']
spot of 48.26 with type <class 'str'>
['Th', '4/20/17', '48.55', '5.842M', '4.293M']
spot of 48.55 with type <class 'str'>
['We', '4/19/17', '48.56', '2.957M', '4.077M']
spot of 48.56 with type <class 'str'>
['Tu', '4/18/17', '48.54', '3.323M', '4.108M']
spot of 48.54 with type <class 'str'>
['Mo', '4/17/17', '48.49', '2.974M', '4.098M']
spot of 48.49 with type <class 'str'>
['Th', '4/13/17', '48.17', '3.791M', '4.251M']
spot of 48.17 with type <class 'str'>
['We', '4/12/17', '48.34', '4.227M', '4.243M']
spot of 48.34 with type <class 'str'>
['Tu', '4/11/17', '49.09', '7.672M', '4.248M']
spot of 49.09 with type <class 'str'>
['Mo', '4/10/17', '47.6', '5.389M', '4.05M']
spot of 47.6 with type <class 'str'>
['Fr', '4/7/17', '46.85', '3.589M', '3.92M']
spot of 46.85 with type <class 'str'>
['Th', '4/6/17', '46.25', '2.958M', '4.136M']
spot of 46.25 with type <class 'str'>
['We', '4/5/17', '46', '3.67M', '4.152M']
spot of 46 with type <class 'str'>
['Tu', '4/4/17', '45.97', '2.354M', '4.177M']
spot of 45.97 with type <class 'str'>
['Mo', '4/3/17', '45.3', '6.307M', '4.253M']
spot of 45.3 with type <class 'str'>
['Fr', '3/31/17', '45.93', '3.387M', '4.029M']
spot of 45.93 with type <class 'str'>
['Th', '3/30/17', '47.12', '5.955M', '4.039M']
spot of 47.12 with type <class 'str'>
['We', '3/29/17', '45.67', '2.608M', '4.064M']
spot of 45.67 with type <class 'str'>
['Tu', '3/28/17', '45.28', '3.418M', '4.029M']
spot of 45.28 with type <class 'str'>
['Mo', '3/27/17', '44.91', '3.165M', '3.953M']
spot of 44.91 with type <class 'str'>
['Fr', '3/24/17', '45.24', '5.278M', '3.974M']
spot of 45.24 with type <class 'str'>
['Th', '3/23/17', '45.13', '3.663M', '3.828M']
spot of 45.13 with type <class 'str'>
['We', '3/22/17', '45.01', '4.311M', '3.86M']
spot of 45.01 with type <class 'str'>
['Tu', '3/21/17', '44.51', '4.693M', '3.88M']
spot of 44.51 with type <class 'str'>
['Mo', '3/20/17', '46.08', '3.441M', '3.94M']
spot of 46.08 with type <class 'str'>
['Fr', '3/17/17', '46.87', '6.829M', '4.072M']
spot of 46.87 with type <class 'str'>
['Th', '3/16/17', '47.23', '3.192M', '3.829M']
spot of 47.23 with type <class 'str'>
['We', '3/15/17', '47.06', '4.057M', '3.887M']
spot of 47.06 with type <class 'str'>
['Tu', '3/14/17', '46.7', '3.493M', '3.794M']
spot of 46.7 with type <class 'str'>
['Mo', '3/13/17', '47.57', '2.949M', '3.775M']
spot of 47.57 with type <class 'str'>
['Fr', '3/10/17', '47.28', '3.527M', '3.797M']
spot of 47.28 with type <class 'str'>
['Th', '3/9/17', '46.68', '6.329M', '3.858M']
spot of 46.68 with type <class 'str'>
['We', '3/8/17', '48.11', '2.081M', '3.77M']
spot of 48.11 with type <class 'str'>
['Tu', '3/7/17', '48.28', '2.285M', '3.905M']
spot of 48.28 with type <class 'str'>
['Mo', '3/6/17', '48.51', '3.474M', '4.12M']
spot of 48.51 with type <class 'str'>
['Fr', '3/3/17', '48.96', '3.099M', '4.133M']
spot of 48.96 with type <class 'str'>
['Th', '3/2/17', '48.92', '4.13M', '4.156M']
spot of 48.92 with type <class 'str'>
['We', '3/1/17', '49.48', '4.625M', '4.204M']
spot of 49.48 with type <class 'str'>
['Tu', '2/28/17', '48.19', '5.593M', '4.226M']
spot of 48.19 with type <class 'str'>
['Mo', '2/27/17', '47.69', '5.421M', '4.163M']
spot of 47.69 with type <class 'str'>
['Fr', '2/24/17', '47.75', '3.173M', '4.186M']
spot of 47.75 with type <class 'str'>
['Th', '2/23/17', '47.39', '4.065M', '4.338M']
spot of 47.39 with type <class 'str'>
['We', '2/22/17', '47.35', '2.658M', '4.426M']
spot of 47.35 with type <class 'str'>
['Tu', '2/21/17', '47.43', '3.217M', '4.622M']
spot of 47.43 with type <class 'str'>
['Fr', '2/17/17', '47.14', '3.271M', '4.865M']
spot of 47.14 with type <class 'str'>
['Th', '2/16/17', '47.57', '4.451M', '5.159M']
spot of 47.57 with type <class 'str'>
['We', '2/15/17', '48.15', '5.004M', '5.843M']
spot of 48.15 with type <class 'str'>
['Tu', '2/14/17', '47.85', '4.105M', '8.587M']
spot of 47.85 with type <class 'str'>
['Mo', '2/13/17', '47.8', '5.522M', '8.883M']
spot of 47.8 with type <class 'str'>
['Fr', '2/10/17', '46.46', '3.658M', '8.846M']
spot of 46.46 with type <class 'str'>
['Th', '2/9/17', '46.37', '3.452M', '8.804M']
spot of 46.37 with type <class 'str'>
['We', '2/8/17', '45.8', '4.853M', '8.772M']
spot of 45.8 with type <class 'str'>
['Tu', '2/7/17', '46.1', '4.947M', '8.639M']
spot of 46.1 with type <class 'str'>
['Mo', '2/6/17', '45.44', '4.652M', '8.529M']
spot of 45.44 with type <class 'str'>
['Fr', '2/3/17', '46.29', '5.768M', '8.386M']
spot of 46.29 with type <class 'str'>
['Th', '2/2/17', '45.27', '5.447M', '8.259M']
spot of 45.27 with type <class 'str'>
['We', '2/1/17', '44.78', '5.382M', '8.313M']
spot of 44.78 with type <class 'str'>
['Tu', '1/31/17', '45.15', '5.598M', '8.239M']
spot of 45.15 with type <class 'str'>
['Mo', '1/30/17', '44.9', '6.864M', '8.083M']
spot of 44.9 with type <class 'str'>
['Fr', '1/27/17', '44.5', '7.68M', '7.928M']
spot of 44.5 with type <class 'str'>
['Th', '1/26/17', '43.9', '14.712M', '7.608M']
spot of 43.9 with type <class 'str'>
['We', '1/25/17', '42.67', '46.165M', '6.884M']
spot of 42.67 with type <class 'str'>
['Tu', '1/24/17', '37.44', '8.551M', '4.148M']
spot of 37.44 with type <class 'str'>
['Mo', '1/23/17', '36.37', '4.956M', '3.771M']
spot of 36.37 with type <class 'str'>
['Fr', '1/20/17', '36.47', '3.041M', '3.622M']
spot of 36.47 with type <class 'str'>
['Th', '1/19/17', '36.34', '2.959M', '3.592M']
spot of 36.34 with type <class 'str'>
['We', '1/18/17', '37.24', '2.867M', '3.524M']
spot of 37.24 with type <class 'str'>
['Tu', '1/17/17', '37.02', '3.291M', '3.498M']
spot of 37.02 with type <class 'str'>
['Fr', '1/13/17', '36.9', '2.516M', '3.485M']
spot of 36.9 with type <class 'str'>
['Th', '1/12/17', '36.75', '3.85M', '3.526M']
spot of 36.75 with type <class 'str'>
['We', '1/11/17', '36.87', '6.269M', '3.489M']
spot of 36.87 with type <class 'str'>
['Tu', '1/10/17', '37.63', '4.267M', '3.356M']
spot of 37.63 with type <class 'str'>

spot of 39.17 with type <class 'str'>
['Fr', '12/9/16', '39.38', '4.125M', '3.824M']
spot of 39.38 with type <class 'str'>
['Th', '12/8/16', '39.23', '3.584M', '3.864M']
spot of 39.23 with type <class 'str'>
['We', '12/7/16', '40.27', '7.636M', '3.799M']
spot of 40.27 with type <class 'str'>
['Tu', '12/6/16', '39.15', '3.409M', '3.525M']
spot of 39.15 with type <class 'str'>
['Mo', '12/5/16', '39.16', '3.813M', '3.644M']
spot of 39.16 with type <class 'str'>
['Fr', '12/2/16', '38.87', '4.145M', '3.706M']
spot of 38.87 with type <class 'str'>
['Th', '12/1/16', '38.11', '5.533M', '3.843M']
spot of 38.11 with type <class 'str'>
['We', '11/30/16', '40.1', '3.962M', '3.886M']
spot of 40.1 with type <class 'str'>
['Tu', '11/29/16', '39.5', '3.996M', '3.8M']
spot of 39.5 with type <class 'str'>
['Mo', '11/28/16', '39.37', '3.178M', '3.838M']
spot of 39.37 with type <class 'str'>
['Fr', '11/25/16', '39.07', '1.802M', '3.869M']
spot of 39.07 with type <class 'str'>
['We', '11/23/16', '38.82', '2.806M', '4.006M']
spot of 38.82 with type <class 'str'>
['Tu', '11/22/16', '38.96', '4.8M', '4.182M']
spot of 38.96 with type <class 'str'>
['Mo', '11/21/16', '39.82', '2.178M', '4.138M']
spot of 39.82 with type <class 'str'>
['Fr', '11/18/16', '39.29', '2.394M', '4.201M']
spot of 39.29 with type <class 'str'>
['Th', '11/17/16', '39.23', '4.721M', '4.251M']
spot of 39.23 with type <class 'str'>
['We', '11/16/16', '38.26', '2.607M', '4.393M']
spot of 38.26 with type <class 'str'>
['Tu', '11/15/16', '38.51', '3.527M', '4.595M']
spot of 38.51 with type <class 'str'>
['Mo', '11/14/16', '38', '5.206M', '4.638M']
spot of 38 with type <class 'str'>
['Fr', '11/11/16', '37.25', '4.737M', '4.487M']
spot of 37.25 with type <class 'str'>
['Th', '11/10/16', '36.17', '6.204M', '4.471M']
spot of 36.17 with type <class 'str'>
['We', '11/9/16', '34.76', '6.167M', '4.401M']
spot of 34.76 with type <class 'str'>
['Tu', '11/8/16', '34.49', '2.677M', '4.664M']
spot of 34.49 with type <class 'str'>
['Mo', '11/7/16', '34.65', '4.565M', '4.853M']
spot of 34.65 with type <class 'str'>
['Fr', '11/4/16', '33', '3.641M', '4.852M']
spot of 33 with type <class 'str'>
['Th', '11/3/16', '33.08', '3.856M', '4.97M']
spot of 33.08 with type <class 'str'>
['We', '11/2/16', '32.65', '5.446M', '5.199M']
spot of 32.65 with type <class 'str'>
['Tu', '11/1/16', '33.71', '4.147M', '5.18M']
spot of 33.71 with type <class 'str'>
['Mo', '10/31/16', '34.31', '3.121M', '5.867M']
spot of 34.31 with type <class 'str'>
['Fr', '10/28/16', '34.15', '3.143M', '5.957M']
spot of 34.15 with type <class 'str'>
['Th', '10/27/16', '34.24', '6.846M', '5.97M']
spot of 34.24 with type <class 'str'>
['We', '10/26/16', '34.84', '5.639M', '5.791M']
spot of 34.84 with type <class 'str'>
['Tu', '10/25/16', '34.27', '4.172M', '5.594M']
spot of 34.27 with type <class 'str'>
['Mo', '10/24/16', '34.52', '2.95M', '5.556M']
spot of 34.52 with type <class 'str'>
['Fr', '10/21/16', '34.5', '4.484M', '5.604M']
spot of 34.5 with type <class 'str'>
['Th', '10/20/16', '34.98', '5.159M', '5.561M']
spot of 34.98 with type <class 'str'>
['We', '10/19/16', '34.32', '10.115M', '5.487M']
spot of 34.32 with type <class 'str'>
['Tu', '10/18/16', '35.34', '5.505M', '5.144M']
spot of 35.34 with type <class 'str'>
['Mo', '10/17/16', '35.01', '4.548M', '5.233M']
spot of 35.01 with type <class 'str'>
['Fr', '10/14/16', '35.16', '5.413M', '5.291M']
spot of 35.16 with type <class 'str'>
['Th', '10/13/16', '35.18', '7.302M', '5.097M']
spot of 35.18 with type <class 'str'>
['We', '10/12/16', '35.23', '5.153M', '4.782M']
spot of 35.23 with type <class 'str'>
['Tu', '10/11/16', '35.1', '14.458M', '4.681M']
spot of 35.1 with type <class 'str'>
['Mo', '10/10/16', '37.97', '4.467M', '3.893M']
spot of 37.97 with type <class 'str'>
['Fr', '10/7/16', '37.89', '3.34M', '3.925M']
spot of 37.89 with type <class 'str'>
['Th', '10/6/16', '37.81', '4.165M', '4.3M']
spot of 37.81 with type <class 'str'>
['We', '10/5/16', '38.54', '2.68M', '4.305M']
spot of 38.54 with type <class 'str'>
['Tu', '10/4/16', '38.24', '3.594M', '4.398M']
spot of 38.24 with type <class 'str'>
['Mo', '10/3/16', '38.41', '3.671M', '4.473M']
spot of 38.41 with type <class 'str'>
['Fr', '9/30/16', '38.55', '3.84M', '4.638M']
spot of 38.55 with type <class 'str'>
['Th', '9/29/16', '37.79', '4.046M', '4.897M']
spot of 37.79 with type <class 'str'>
['We', '9/28/16', '38.21', '4.972M', '4.943M']
spot of 38.21 with type <class 'str'>
['Tu', '9/27/16', '38.42', '6.853M', '5.244M']
spot of 38.42 with type <class 'str'>
['Mo', '9/26/16', '37.2', '5.412M', '5.078M']
spot of 37.2 with type <class 'str'>
['Fr', '9/23/16', '36.46', '2.498M', '4.899M']
spot of 36.46 with type <class 'str'>
['Th', '9/22/16', '36.4', '2.585M', '5.009M']
spot of 36.4 with type <class 'str'>
['We', '9/21/16', '36.69', '3.641M', '5.19M']
spot of 36.69 with type <class 'str'>
['Tu', '9/20/16', '35.53', '2.625M', '5.142M']
spot of 35.53 with type <class 'str'>
['Mo', '9/19/16', '35.95', '4.95M', '5.232M']
spot of 35.95 with type <class 'str'>
['Fr', '9/16/16', '36.4', '8.967M', '5.308M']
spot of 36.4 with type <class 'str'>
['Th', '9/15/16', '36.45', '4.247M', '4.883M']
spot of 36.45 with type <class 'str'>
['We', '9/14/16', '36.07', '4.074M', '4.785M']
spot of 36.07 with type <class 'str'>
['Tu', '9/13/16', '36.14', '4.717M', '4.684M']
spot of 36.14 with type <class 'str'>
['Mo', '9/12/16', '36.55', '6.15M', '4.557M']
spot of 36.55 with type <class 'str'>
['Fr', '9/9/16', '36.09', '7.724M', '4.324M']
spot of 36.09 with type <class 'str'>
['Th', '9/8/16', '36.31', '4.738M', '3.966M']
spot of 36.31 with type <class 'str'>
['We', '9/7/16', '36.51', '9.484M', '3.884M']
spot of 36.51 with type <class 'str'>
['Tu', '9/6/16', '34.47', '4.357M', '3.464M']
spot of 34.47 with type <class 'str'>
['Fr', '9/2/16', '33.92', '2.724M', '3.415M']
spot of 33.92 with type <class 'str'>
['Th', '9/1/16', '33.71', '4.15M', '3.383M']
spot of 33.71 with type <class 'str'>
['We', '8/31/16', '33.74', '5.298M', '3.262M']
spot of 33.74 with type <class 'str'>
['Tu', '8/30/16', '33.92', '2.93M', '3.211M']
spot of 33.92 with type <class 'str'>
['Mo', '8/29/16', '33.73', '3.972M', '3.232M']
spot of 33.73 with type <class 'str'>
['Fr', '8/26/16', '33.33', '6.087M', '3.315M']
spot of 33.33 with type <class 'str'>
['Th', '8/25/16', '32.05', '2.592M', '3.249M']
spot of 32.05 with type <class 'str'>
['We', '8/24/16', '31.58', '2.773M', '3.373M']
spot of 31.58 with type <class 'str'>
['Tu', '8/23/16', '32.12', '2.566M', '3.592M']
spot of 32.12 with type <class 'str'>
['Mo', '8/22/16', '31.87', '2.807M', '4.379M']
spot of 31.87 with type <class 'str'>
['Fr', '8/19/16', '32.33', '2.659M', '4.682M']
spot of 32.33 with type <class 'str'>
['Th', '8/18/16', '32.07', '2.352M', '4.932M']
spot of 32.07 with type <class 'str'>
['We', '8/17/16', '31.78', '3.515M', '5.051M']
spot of 31.78 with type <class 'str'>
['Tu', '8/16/16', '32.46', '3.174M', '5.116M']
spot of 32.46 with type <class 'str'>
['Mo', '8/15/16', '32', '3.627M', '5.2M']
spot of 32 with type <class 'str'>
['Fr', '8/12/16', '31.55', '2.25M', '5.246M']
spot of 31.55 with type <class 'str'>
['Th', '8/11/16', '31.75', '2.331M', '5.403M']
spot of 31.75 with type <class 'str'>
['We', '8/10/16', '31.38', '4.538M', '5.744M']
spot of 31.38 with type <class 'str'>
['Tu', '8/9/16', '32.49', '3.239M', '5.692M']
spot of 32.49 with type <class 'str'>
['Mo', '8/8/16', '32.61', '5.217M', '5.699M']
spot of 32.61 with type <class 'str'>
['Fr', '8/5/16', '32.13', '5.095M', '5.826M']
spot of 32.13 with type <class 'str'>
['Th', '8/4/16', '31.26', '4.459M', '5.916M']
spot of 31.26 with type <class 'str'>
['We', '8/3/16', '30.73', '6.057M', '6.138M']
spot of 30.73 with type <class 'str'>
['Tu', '8/2/16', '30.65', '14.367M', '6.437M']
spot of 30.65 with type <class 'str'>
['Mo', '8/1/16', '32.43', '7.35M', '7.445M']
spot of 32.43 with type <class 'str'>
['Fr', '7/29/16', '32.03', '6.416M', '7.304M']
spot of 32.03 with type <class 'str'>
['Th', '7/28/16', '32.6', '4.133M', '7.301M']
spot of 32.6 with type <class 'str'>
['We', '7/27/16', '32.05', '4.49M', '7.525M']
spot of 32.05 with type <class 'str'>
['Tu', '7/26/16', '32.45', '4.436M', '7.652M']
spot of 32.45 with type <class 'str'>
['Mo', '7/25/16', '31.44', '4.319M', '7.608M']
spot of 31.44 with type <class 'str'>
['Fr', '7/22/16', '31.58', '4.603M', '7.65M']
spot of 31.58 with type <class 'str'>
['Th', '7/21/16', '31.22', '7.437M', '7.899M']
spot of 31.22 with type <class 'str'>
['We', '7/20/16', '30.5', '3.761M', '8.003M']
spot of 30.5 with type <class 'str'>
['Tu', '7/19/16', '29.99', '3.352M', '8.163M']
spot of 29.99 with type <class 'str'>
['Mo', '7/18/16', '30.15', '7.113M', '8.385M']
spot of 30.15 with type <class 'str'>
['Fr', '7/15/16', '28.9', '6.444M', '8.344M']
spot of 28.9 with type <class 'str'>
['Th', '7/14/16', '29.19', '7.787M', '8.228M']
spot of 29.19 with type <class 'str'>
['We', '7/13/16', '29.83', '10.547M', '7.973M']
spot of 29.83 with type <class 'str'>
['Tu', '7/12/16', '29.35', '29.492M', '7.506M']
spot of 29.35 with type <class 'str'>
['Mo', '7/11/16', '24.09', '5.237M', '5.83M']
spot of 24.09 with type <class 'str'>
['Fr', '7/8/16', '24.01', '6.37M', '5.991M']
spot of 24.01 with type <class 'str'>
['Th', '7/7/16', '23.73', '7.494M', '5.852M']
spot of 23.73 with type <class 'str'>
['We', '7/6/16', '23.52', '6.387M', '5.643M']
spot of 23.52 with type <class 'str'>
['Tu', '7/5/16', '23.16', '3.785M', '5.485M']
spot of 23.16 with type <class 'str'>
['Fr', '7/1/16', '24.03', '4.944M', '5.593M']
spot of 24.03 with type <class 'str'>
['Th', '6/30/16', '24.36', '8.335M', '5.636M']
spot of 24.36 with type <class 'str'>
['We', '6/29/16', '23.95', '8.997M', '5.502M']
spot of 23.95 with type <class 'str'>
['Tu', '6/28/16', '22.53', '6.165M', '5.376M']
spot of 22.53 with type <class 'str'>
['Mo', '6/27/16', '20.87', '6.675M', '5.347M']
spot of 20.87 with type <class 'str'>
['Fr', '6/24/16', '23.16', '6.497M', '5.173M']
spot of 23.16 with type <class 'str'>
['Th', '6/23/16', '24.48', '4.715M', '5.253M']
spot of 24.48 with type <class 'str'>
['We', '6/22/16', '23.87', '3.949M', '5.491M']
spot of 23.87 with type <class 'str'>
['Tu', '6/21/16', '23.86', '3.551M', '5.677M']
spot of 23.86 with type <class 'str'>
['Mo', '6/20/16', '23.43', '4.354M', '5.988M']
spot of 23.43 with type <class 'str'>
['Fr', '6/17/16', '23.22', '7.652M', '5.975M']
spot of 23.22 with type <class 'str'>
['Th', '6/16/16', '22.69', '4.273M', '5.815M']
spot of 22.69 with type <class 'str'>
['We', '6/15/16', '22.715', '4.37M', '5.985M']
spot of 22.715 with type <class 'str'>
['Tu', '6/14/16', '22.76', '4.012M', '6.018M']
spot of 22.76 with type <class 'str'>
['Mo', '6/13/16', '22.68', '5.4M', '6.038M']
spot of 22.68 with type <class 'str'>
['Fr', '6/10/16', '23.14', '5.599M', '6.158M']
spot of 23.14 with type <class 'str'>
['Th', '6/9/16', '24.14', '6.315M', '6.379M']
spot of 24.14 with type <class 'str'>
['We', '6/8/16', '24.25', '7.108M', '6.482M']
spot of 24.25 with type <class 'str'>
['Tu', '6/7/16', '24.65', '5.741M', '6.486M']
spot of 24.65 with type <class 'str'>
['Mo', '6/6/16', '23.89', '4.051M', '6.586M']
spot of 23.89 with type <class 'str'>
['Fr', '6/3/16', '23.64', '7.702M', '6.75M']
spot of 23.64 with type <class 'str'>
['Th', '6/2/16', '23.75', '8.292M', '6.912M']
spot of 23.75 with type <class 'str'>
['We', '6/1/16', '23.01', '6.728M', '6.718M']
spot of 23.01 with type <class 'str'>
['Tu', '5/31/16', '22.56', '8.222M', '6.677M']
spot of 22.56 with type <class 'str'>
['Fr', '5/27/16', '21.66', '4.166M', '6.724M']
spot of 21.66 with type <class 'str'>
['Th', '5/26/16', '21.55', '5.244M', '7.01M']
spot of 21.55 with type <class 'str'>
['We', '5/25/16', '21.48', '6.824M', '7.187M']
spot of 21.48 with type <class 'str'>
['Tu', '5/24/16', '20.88', '4.872M', '7.512M']
spot of 20.88 with type <class 'str'>
['Mo', '5/23/16', '20.8', '4.304M', '8.101M']
spot of 20.8 with type <class 'str'>
['Fr', '5/20/16', '20.41', '7.199M', '9.068M']
spot of 20.41 with type <class 'str'>
['Th', '5/19/16', '20.52', '8.916M', '10.218M']
spot of 20.52 with type <class 'str'>
['We', '5/18/16', '20.24', '7.862M', '10.115M']
spot of 20.24 with type <class 'str'>
['Tu', '5/17/16', '19.635', '7.166M', '10.072M']
spot of 19.635 with type <class 'str'>
['Mo', '5/16/16', '19.16', '7.249M', '10.091M']
spot of 19.16 with type <class 'str'>
['Fr', '5/13/16', '19.09', '6.507M', '10.131M']
spot of 19.09 with type <class 'str'>
['Th', '5/12/16', '18.79', '10.122M', '10.179M']
spot of 18.79 with type <class 'str'>
['We', '5/11/16', '18.72', '5.394M', '10.077M']
spot of 18.72 with type <class 'str'>
['Tu', '5/10/16', '19.25', '6.101M', '10.295M']
spot of 19.25 with type <class 'str'>
['Mo', '5/9/16', '18.86', '8.927M', '10.485M']
spot of 18.86 with type <class 'str'>
['Fr', '5/6/16', '19.07', '8.457M', '10.609M']
spot of 19.07 with type <class 'str'>
['Th', '5/5/16', '20.01', '7.902M', '11.34M']
spot of 20.01 with type <class 'str'>
['We', '5/4/16', '20.15', '11.709M', '14.043M']
spot of 20.15 with type <class 'str'>
['Tu', '5/3/16', '19.44', '13.706M', '13.749M']
spot of 19.44 with type <class 'str'>
['Mo', '5/2/16', '20.48', '18.806M', '13.148M']
spot of 20.48 with type <class 'str'>
['Fr', '4/29/16', '21.77', '24.443M', '12.397M']
spot of 21.77 with type <class 'str'>
['Th', '4/28/16', '26.9', '7.38M', '10.966M']
spot of 26.9 with type <class 'str'>
['We', '4/27/16', '27.34', '7.21M', '10.686M']
spot of 27.34 with type <class 'str'>
['Tu', '4/26/16', '27', '7.448M', '10.44M']
spot of 27 with type <class 'str'>
['Mo', '4/25/16', '26.29', '7.858M', '10.175M']
spot of 26.29 with type <class 'str'>
['Fr', '4/22/16', '25.32', '7.221M', '9.805M']
spot of 25.32 with type <class 'str'>
['Th', '4/21/16', '25.43', '8.588M', '9.627M']
spot of 25.43 with type <class 'str'>
['We', '4/20/16', '25.67', '8.669M', '9.238M']
spot of 25.67 with type <class 'str'>
['Tu', '4/19/16', '25.33', '8.957M', '8.908M']
spot of 25.33 with type <class 'str'>
['Mo', '4/18/16', '25.78', '10.781M', '8.546M']
spot of 25.78 with type <class 'str'>
['Fr', '4/15/16', '25.59', '19.416M', '8.089M']
spot of 25.59 with type <class 'str'>
['Th', '4/14/16', '27.11', '48.459M', '7.366M']
spot of 27.11 with type <class 'str'>
['We', '4/13/16', '33.93', '7.3M', '4.44M']
spot of 33.93 with type <class 'str'>
['Tu', '4/12/16', '35.04', '4.681M', '4.225M']
spot of 35.04 with type <class 'str'>
['Mo', '4/11/16', '34.98', '7.545M', '4.106M']
spot of 34.98 with type <class 'str'>
['Fr', '4/8/16', '33.23', '2.973M', '4.381M']
spot of 33.23 with type <class 'str'>
['Th', '4/7/16', '33.11', '3.183M', '4.465M']
spot of 33.11 with type <class 'str'>
['We', '4/6/16', '33.72', '3.526M', '4.534M']
spot of 33.72 with type <class 'str'>
['Tu', '4/5/16', '32.86', '3.464M', '4.539M']
spot of 32.86 with type <class 'str'>
['Mo', '4/4/16', '33.55', '2.313M', '4.759M']
spot of 33.55 with type <class 'str'>
['Fr', '4/1/16', '33.69', '4.556M', '4.827M']
spot of 33.69 with type <class 'str'>
['Th', '3/31/16', '34.45', '2.741M', '4.808M']
spot of 34.45 with type <class 'str'>
['We', '3/30/16', '34.17', '3.72M', '4.931M']
spot of 34.17 with type <class 'str'>
['Tu', '3/29/16', '33.8', '3.537M', '5.066M']
spot of 33.8 with type <class 'str'>
['Mo', '3/28/16', '33.54', '3.925M', '5.173M']
spot of 33.54 with type <class 'str'>
['Th', '3/24/16', '33.23', '8.57M', '5.258M']
spot of 33.23 with type <class 'str'>
['We', '3/23/16', '34.8', '4.56M', '4.969M']
spot of 34.8 with type <class 'str'>
['Tu', '3/22/16', '37.04', '4.086M', '4.991M']
spot of 37.04 with type <class 'str'>
['Mo', '3/21/16', '36.54', '2.887M', '5.162M']
spot of 36.54 with type <class 'str'>
['Fr', '3/18/16', '36.57', '11.673M', '5.207M']
spot of 36.57 with type <class 'str'>
['Th', '3/17/16', '34.93', '4.232M', '4.661M']
spot of 34.93 with type <class 'str'>
['We', '3/16/16', '34.49', '4.213M', '4.581M']
spot of 34.49 with type <class 'str'>
['Tu', '3/15/16', '34.62', '3.615M', '4.612M']
spot of 34.62 with type <class 'str'>
['Mo', '3/14/16', '35.36', '6.752M', '4.654M']
spot of 35.36 with type <class 'str'>
['Fr', '3/11/16', '36.17', '3.333M', '4.507M']
spot of 36.17 with type <class 'str'>
['Th', '3/10/16', '34.95', '4.281M', '4.579M']
spot of 34.95 with type <class 'str'>
['We', '3/9/16', '34.21', '4.586M', '4.664M']
spot of 34.21 with type <class 'str'>
['Tu', '3/8/16', '34.24', '5.744M', '4.698M']
spot of 34.24 with type <class 'str'>
['Mo', '3/7/16', '35.48', '5.14M', '4.646M']
spot of 35.48 with type <class 'str'>
['Fr', '3/4/16', '34.53', '5.198M', '4.587M']
spot of 34.53 with type <class 'str'>
['Th', '3/3/16', '34.75', '4.24M', '4.64M']
spot of 34.75 with type <class 'str'>
['We', '3/2/16', '33.93', '4.881M', '4.725M']
spot of 33.93 with type <class 'str'>
['Tu', '3/1/16', '33.23', '6.654M', '4.781M']
spot of 33.23 with type <class 'str'>
['Mo', '2/29/16', '31.36', '3.556M', '4.66M']
spot of 31.36 with type <class 'str'>
['Fr', '2/26/16', '31.69', '3.486M', '4.944M']
spot of 31.69 with type <class 'str'>
['Th', '2/25/16', '30.92', '3.04M', '5.491M']
spot of 30.92 with type <class 'str'>
['We', '2/24/16', '31.08', '4.673M', '5.903M']
spot of 31.08 with type <class 'str'>
['Tu', '2/23/16', '30.74', '4.239M', '6.039M']
spot of 30.74 with type <class 'str'>
['Mo', '2/22/16', '32.23', '4.555M', '6.29M']
spot of 32.23 with type <class 'str'>
['Fr', '2/19/16', '31.34', '4.412M', '6.815M']
spot of 31.34 with type <class 'str'>
['Th', '2/18/16', '33.11', '5.55M', '7.101M']
spot of 33.11 with type <class 'str'>
['We', '2/17/16', '31.97', '5.097M', '7.063M']
spot of 31.97 with type <class 'str'>
['Tu', '2/16/16', '31.33', '4.966M', '7.12M']
spot of 31.33 with type <class 'str'>
['Fr', '2/12/16', '29.88', '4.263M', '7.22M']
spot of 29.88 with type <class 'str'>
['Th', '2/11/16', '29.03', '5.989M', '7.492M']
spot of 29.03 with type <class 'str'>
['We', '2/10/16', '30.19', '5.512M', '7.79M']
spot of 30.19 with type <class 'str'>
['Tu', '2/9/16', '29.41', '5.722M', '7.872M']
spot of 29.41 with type <class 'str'>
['Mo', '2/8/16', '30.36', '4.843M', '7.855M']
spot of 30.36 with type <class 'str'>
['Fr', '2/5/16', '31.59', '7.819M', '8.11M']
spot of 31.59 with type <class 'str'>
['Th', '2/4/16', '32.19', '11.677M', '7.937M']
spot of 32.19 with type <class 'str'>
['We', '2/3/16', '30.52', '9.233M', '7.474M']
spot of 30.52 with type <class 'str'>
['Tu', '2/2/16', '28.61', '6.713M', '7.264M']
spot of 28.61 with type <class 'str'>
['Mo', '2/1/16', '30.41', '7.997M', '7.339M']
spot of 30.41 with type <class 'str'>
['Fr', '1/29/16', '29.05', '12.431M', '7.46M']
spot of 29.05 with type <class 'str'>
['Th', '1/28/16', '26.755', '8.695M', '7.029M']
spot of 26.755 with type <class 'str'>
['We', '1/27/16', '26.97', '4.983M', '6.724M']
spot of 26.97 with type <class 'str'>
['Tu', '1/26/16', '27.74', '5.957M', '6.598M']
spot of 27.74 with type <class 'str'>
['Mo', '1/25/16', '26.4', '6.462M', '6.511M']
spot of 26.4 with type <class 'str'>
['Fr', '1/22/16', '27.93', '8.351M', '6.24M']
spot of 27.93 with type <class 'str'>
['Th', '1/21/16', '27.56', '10.447M', '5.864M']
spot of 27.56 with type <class 'str'>
['We', '1/20/16', '29.22', '6.751M', '5.39M']
spot of 29.22 with type <class 'str'>
['Tu', '1/19/16', '29.83', '5.467M', '5.098M']
spot of 29.83 with type <class 'str'>
['Fr', '1/15/16', '30.89', '8.66M', '4.855M']
spot of 30.89 with type <class 'str'>
['Th', '1/14/16', '32.11', '5.23M', '4.531M']
spot of 32.11 with type <class 'str'>
['We', '1/13/16', '31.07', '4.734M', '4.378M']
spot of 31.07 with type <class 'str'>
['Tu', '1/12/16', '31.57', '6.09M', '4.227M']
spot of 31.57 with type <class 'str'>
['Mo', '1/11/16', '31.35', '7.835M', '4.263M']
spot of 31.35 with type <class 'str'>
['Fr', '1/8/16', '32.54', '9.802M', '4.009M']
spot of 32.54 with type <class 'str'>
['Th', '1/7/16', '34.54', '5.975M', '3.617M']
spot of 34.54 with type <class 'str'>
['We', '1/6/16', '34.75', '4.121M', '3.494M']

spot of 35.45 with type <class 'str'>
['Mo', '12/21/15', '34.7', '2.476M', '4.38M']
spot of 34.7 with type <class 'str'>
['Fr', '12/18/15', '34.1', '6.627M', '4.627M']
spot of 34.1 with type <class 'str'>
['Th', '12/17/15', '33.92', '4.022M', '4.246M']
spot of 33.92 with type <class 'str'>
['We', '12/16/15', '34.78', '3.92M', '4.138M']
spot of 34.78 with type <class 'str'>
['Tu', '12/15/15', '34.25', '4.142M', '4.082M']
spot of 34.25 with type <class 'str'>
['Mo', '12/14/15', '33.67', '5.003M', '4.106M']
spot of 33.67 with type <class 'str'>
['Fr', '12/11/15', '35.98', '5.42M', '3.98M']
spot of 35.98 with type <class 'str'>
['Th', '12/10/15', '36.22', '4.905M', '3.845M']
spot of 36.22 with type <class 'str'>
['We', '12/9/15', '35.72', '3.65M', '3.706M']
spot of 35.72 with type <class 'str'>
['Tu', '12/8/15', '35.43', '3.8M', '3.674M']
spot of 35.43 with type <class 'str'>
['Mo', '12/7/15', '35.1', '3.641M', '3.694M']
spot of 35.1 with type <class 'str'>
['Fr', '12/4/15', '34.45', '4.358M', '3.946M']
spot of 34.45 with type <class 'str'>
['Th', '12/3/15', '33.77', '4.558M', '4.192M']
spot of 33.77 with type <class 'str'>
['We', '12/2/15', '34.54', '5.145M', '4.313M']
spot of 34.54 with type <class 'str'>
['Tu', '12/1/15', '36.51', '4.036M', '4.3M']
spot of 36.51 with type <class 'str'>
['Mo', '11/30/15', '35.94', '6.184M', '4.224M']
spot of 35.94 with type <class 'str'>
['Fr', '11/27/15', '34.62', '912.391k', '3.999M']
spot of 34.62 with type <class 'str'>
['We', '11/25/15', '34.57', '2.395M', '4.127M']
spot of 34.57 with type <class 'str'>
['Tu', '11/24/15', '34.27', '3.089M', '4.273M']
spot of 34.27 with type <class 'str'>
['Mo', '11/23/15', '34.7', '4.5M', '4.42M']
spot of 34.7 with type <class 'str'>
['Fr', '11/20/15', '34.41', '3.103M', '4.444M']
spot of 34.41 with type <class 'str'>
['Th', '11/19/15', '34.28', '3.393M', '4.702M']
spot of 34.28 with type <class 'str'>
['We', '11/18/15', '34.38', '2.83M', '4.94M']
spot of 34.38 with type <class 'str'>
['Tu', '11/17/15', '33.88', '3.164M', '5.043M']
spot of 33.88 with type <class 'str'>
['Mo', '11/16/15', '34.295', '4.095M', '5.001M']
spot of 34.295 with type <class 'str'>
['Fr', '11/13/15', '33.07', '7.421M', '5.081M']
spot of 33.07 with type <class 'str'>
['Th', '11/12/15', '34.08', '8.055M', '5.035M']
spot of 34.08 with type <class 'str'>
['We', '11/11/15', '36.12', '6.379M', '5.038M']
spot of 36.12 with type <class 'str'>
['Tu', '11/10/15', '36.54', '4.947M', '5.073M']
spot of 36.54 with type <class 'str'>
['Mo', '11/9/15', '38.28', '2.892M', '5.389M']
spot of 38.28 with type <class 'str'>
['Fr', '11/6/15', '38.81', '2.81M', '5.655M']
spot of 38.81 with type <class 'str'>
['Th', '11/5/15', '38.87', '2.827M', '6.398M']
spot of 38.87 with type <class 'str'>
['We', '11/4/15', '38.81', '4.587M', '7.64M']
spot of 38.81 with type <class 'str'>
['Tu', '11/3/15', '40.37', '5.302M', '7.619M']
spot of 40.37 with type <class 'str'>
['Mo', '11/2/15', '38.88', '4.854M', '7.453M']
spot of 38.88 with type <class 'str'>
['Fr', '10/30/15', '38.06', '6.977M', '7.269M']
spot of 38.06 with type <class 'str'>
['Th', '10/29/15', '38.06', '6.954M', '7.144M']
spot of 38.06 with type <class 'str'>
['We', '10/28/15', '39.34', '4.388M', '6.878M']
spot of 39.34 with type <class 'str'>
['Tu', '10/27/15', '39.2', '2.526M', '6.823M']
spot of 39.2 with type <class 'str'>
['Mo', '10/26/15', '39.55', '5.303M', '6.93M']
spot of 39.55 with type <class 'str'>
['Fr', '10/23/15', '41.15', '6.727M', '6.907M']
spot of 41.15 with type <class 'str'>
['Th', '10/22/15', '39.24', '8.105M', '6.75M']
spot of 39.24 with type <class 'str'>
['We', '10/21/15', '37.13', '6.89M', '6.631M']
spot of 37.13 with type <class 'str'>
['Tu', '10/20/15', '38.52', '9.699M', '6.792M']
spot of 38.52 with type <class 'str'>
['Mo', '10/19/15', '38.75', '6.88M', '6.486M']
spot of 38.75 with type <class 'str'>
['Fr', '10/16/15', '39.56', '13.946M', '6.347M']
spot of 39.56 with type <class 'str'>
['Th', '10/15/15', '41.44', '21.467M', '5.671M']
spot of 41.44 with type <class 'str'>
['We', '10/14/15', '47.8', '4.271M', '4.5M']
spot of 47.8 with type <class 'str'>
['Tu', '10/13/15', '48.62', '2.808M', '4.455M']
spot of 48.62 with type <class 'str'>
['Mo', '10/12/15', '49.02', '2.098M', '4.543M']
spot of 49.02 with type <class 'str'>
['Fr', '10/9/15', '49.03', '5.099M', '4.615M']
spot of 49.03 with type <class 'str'>
['Th', '10/8/15', '48.33', '2.963M', '4.949M']
spot of 48.33 with type <class 'str'>
['We', '10/7/15', '47.29', '3.561M', '5.001M']
spot of 47.29 with type <class 'str'>
['Tu', '10/6/15', '46.2', '4.135M', '4.941M']
spot of 46.2 with type <class 'str'>
['Mo', '10/5/15', '44.84', '4.959M', '4.884M']
spot of 44.84 with type <class 'str'>
['Fr', '10/2/15', '43.18', '4.368M', '4.757M']
spot of 43.18 with type <class 'str'>
['Th', '10/1/15', '42.86', '6.316M', '4.755M']
spot of 42.86 with type <class 'str'>
['We', '9/30/15', '44.8', '9.312M', '4.632M']
spot of 44.8 with type <class 'str'>
['Tu', '9/29/15', '41.78', '5.109M', '4.282M']
spot of 41.78 with type <class 'str'>
['Mo', '9/28/15', '42.07', '4.796M', '4.161M']
spot of 42.07 with type <class 'str'>
['Fr', '9/25/15', '42.89', '3.803M', '4.075M']
spot of 42.89 with type <class 'str'>
['Th', '9/24/15', '44.1', '3.904M', '4.131M']
spot of 44.1 with type <class 'str'>
['We', '9/23/15', '43.55', '3.589M', '4.387M']
spot of 43.55 with type <class 'str'>
['Tu', '9/22/15', '43.79', '4.132M', '4.543M']
spot of 43.79 with type <class 'str'>
['Mo', '9/21/15', '46.2', '3.183M', '4.517M']
spot of 46.2 with type <class 'str'>
['Fr', '9/18/15', '45.65', '10.1M', '4.55M']
spot of 45.65 with type <class 'str'>
['Th', '9/17/15', '47.76', '3.745M', '4.115M']
spot of 47.76 with type <class 'str'>
['We', '9/16/15', '49.15', '2.668M', '4.139M']
spot of 49.15 with type <class 'str'>
['Tu', '9/15/15', '48.61', '3.273M', '4.365M']
spot of 48.61 with type <class 'str'>
['Mo', '9/14/15', '48.33', '3.05M', '4.627M']
spot of 48.33 with type <class 'str'>
['Fr', '9/11/15', '48.94', '4.339M', '4.946M']
spot of 48.94 with type <class 'str'>
['Th', '9/10/15', '49.22', '4.474M', '5.058M']
spot of 49.22 with type <class 'str'>
['We', '9/9/15', '50.1', '4.068M', '5.212M']
spot of 50.1 with type <class 'str'>
['Tu', '9/8/15', '49.61', '3.285M', '5.234M']
spot of 49.61 with type <class 'str'>
['Fr', '9/4/15', '48.21', '3.509M', '5.266M']
spot of 48.21 with type <class 'str'>
['Th', '9/3/15', '49.49', '4.644M', '5.287M']
spot of 49.49 with type <class 'str'>
['We', '9/2/15', '49.77', '7.75M', '5.225M']
spot of 49.77 with type <class 'str'>
['Tu', '9/1/15', '50.6', '5.925M', '4.993M']
spot of 50.6 with type <class 'str'>
['Mo', '8/31/15', '51.4', '3.734M', '4.843M']
spot of 51.4 with type <class 'str'>
['Fr', '8/28/15', '50.68', '3.68M', '4.792M']
spot of 50.68 with type <class 'str'>
['Th', '8/27/15', '50.04', '3.585M', '4.902M']
spot of 50.04 with type <class 'str'>
['We', '8/26/15', '47.89', '4.102M', '4.923M']
spot of 47.89 with type <class 'str'>
['Tu', '8/25/15', '46.33', '6.053M', '4.998M']
spot of 46.33 with type <class 'str'>
['Mo', '8/24/15', '47.62', '7.211M', '4.899M']
spot of 47.62 with type <class 'str'>
['Fr', '8/21/15', '48.72', '7.833M', '4.737M']
spot of 48.72 with type <class 'str'>
['Th', '8/20/15', '48.65', '6.015M', '4.759M']
spot of 48.65 with type <class 'str'>
['We', '8/19/15', '49.43', '6.786M', '4.889M']
spot of 49.43 with type <class 'str'>
['Tu', '8/18/15', '52.05', '4.4M', '4.767M']
spot of 52.05 with type <class 'str'>
['Mo', '8/17/15', '52.45', '3.767M', '4.773M']
spot of 52.45 with type <class 'str'>
['Fr', '8/14/15', '52.02', '3.813M', '4.847M']
spot of 52.02 with type <class 'str'>
['Th', '8/13/15', '51.37', '3.724M', '4.946M']
spot of 51.37 with type <class 'str'>
['We', '8/12/15', '51.62', '4.264M', '5.28M']
spot of 51.62 with type <class 'str'>
['Tu', '8/11/15', '51.01', '3.672M', '5.513M']
spot of 51.01 with type <class 'str'>
['Mo', '8/10/15', '51.14', '2.977M', '5.514M']
spot of 51.14 with type <class 'str'>
['Fr', '8/7/15', '49.49', '5.325M', '5.712M']
spot of 49.49 with type <class 'str'>
['Th', '8/6/15', '51.32', '3.896M', '5.763M']
spot of 51.32 with type <class 'str'>
['We', '8/5/15', '51.86', '5.24M', '5.828M']
spot of 51.86 with type <class 'str'>
['Tu', '8/4/15', '51.39', '4.559M', '5.833M']
spot of 51.39 with type <class 'str'>
['Mo', '8/3/15', '51.46', '4.791M', '5.965M']
spot of 51.46 with type <class 'str'>
['Fr', '7/31/15', '50.6', '8.155M', '6.238M']
spot of 50.6 with type <class 'str'>
['Th', '7/30/15', '51.29', '7.974M', '5.927M']
spot of 51.29 with type <class 'str'>
['We', '7/29/15', '49.42', '4.949M', '5.573M']
spot of 49.42 with type <class 'str'>
['Tu', '7/28/15', '48.87', '4.487M', '5.558M']
spot of 48.87 with type <class 'str'>
['Mo', '7/27/15', '47.91', '4.88M', '5.667M']
spot of 47.91 with type <class 'str'>
['Fr', '7/24/15', '47.32', '5.299M', '5.649M']
spot of 47.32 with type <class 'str'>
['Th', '7/23/15', '48.01', '8.724M', '5.61M']
spot of 48.01 with type <class 'str'>
['We', '7/22/15', '49.06', '7.764M', '5.371M']
spot of 49.06 with type <class 'str'>
['Tu', '7/21/15', '48.11', '3.694M', '5.383M']
spot of 48.11 with type <class 'str'>
['Mo', '7/20/15', '47.73', '5.943M', '5.561M']
spot of 47.73 with type <class 'str'>
['Fr', '7/17/15', '48.15', '6.085M', '5.585M']
spot of 48.15 with type <class 'str'>
['Th', '7/16/15', '47.9', '4.874M', '5.544M']
spot of 47.9 with type <class 'str'>
['We', '7/15/15', '47.3', '5.313M', '5.43M']
spot of 47.3 with type <class 'str'>
['Tu', '7/14/15', '47.61', '6.537M', '5.411M']
spot of 47.61 with type <class 'str'>
['Mo', '7/13/15', '46.28', '8.885M', '5.099M']
spot of 46.28 with type <class 'str'>
['Fr', '7/10/15', '45.95', '3.49M', '4.827M']
spot of 45.95 with type <class 'str'>
['Th', '7/9/15', '46.04', '2.672M', '4.744M']
spot of 46.04 with type <class 'str'>
['We', '7/8/15', '46.4', '4.723M', '4.7M']
spot of 46.4 with type <class 'str'>
['Tu', '7/7/15', '47.82', '6.127M', '4.561M']
spot of 47.82 with type <class 'str'>
['Mo', '7/6/15', '47.02', '4.604M', '4.367M']
spot of 47.02 with type <class 'str'>
['Th', '7/2/15', '48.15', '4.714M', '4.211M']
spot of 48.15 with type <class 'str'>
['We', '7/1/15', '47.57', '5.136M', '4.09M']
spot of 47.57 with type <class 'str'>
['Tu', '6/30/15', '47.5', '7.95M', '3.95M']
spot of 47.5 with type <class 'str'>
['Mo', '6/29/15', '49.02', '6.36M', '3.699M']
spot of 49.02 with type <class 'str'>
['Fr', '6/26/15', '50.06', '6.309M', '3.527M']
spot of 50.06 with type <class 'str'>
['Th', '6/25/15', '50.69', '5.464M', '3.273M']
spot of 50.69 with type <class 'str'>
['We', '6/24/15', '51.97', '3.168M', '3.129M']
spot of 51.97 with type <class 'str'>
['Tu', '6/23/15', '52.29', '5.03M', '3.038M']
spot of 52.29 with type <class 'str'>
['Mo', '6/22/15', '53.865', '1.854M', '2.877M']
spot of 53.865 with type <class 'str'>
['Fr', '6/19/15', '53.35', '4.805M', '2.914M']
spot of 53.35 with type <class 'str'>
['Th', '6/18/15', '54.14', '2.252M', '2.775M']
spot of 54.14 with type <class 'str'>
['We', '6/17/15', '53.18', '2.008M', '2.873M']
spot of 53.18 with type <class 'str'>
['Tu', '6/16/15', '53.2', '2.639M', '2.891M']
spot of 53.2 with type <class 'str'>
['Mo', '6/15/15', '53.37', '3.214M', '2.899M']
spot of 53.37 with type <class 'str'>
['Fr', '6/12/15', '53.55', '2.265M', '2.801M']
spot of 53.55 with type <class 'str'>
['Th', '6/11/15', '54.3', '2.896M', '2.842M']
spot of 54.3 with type <class 'str'>
['We', '6/10/15', '53.59', '3.035M', '2.859M']
spot of 53.59 with type <class 'str'>
['Tu', '6/9/15', '52.62', '4.192M', '3.092M']
spot of 52.62 with type <class 'str'>
['Mo', '6/8/15', '53.04', '3.769M', '2.932M']
spot of 53.04 with type <class 'str'>
['Fr', '6/5/15', '54.43', '2.501M', '2.834M']
spot of 54.43 with type <class 'str'>
['Th', '6/4/15', '54.54', '3.308M', '2.768M']
spot of 54.54 with type <class 'str'>
['We', '6/3/15', '55.665', '1.805M', '2.658M']
spot of 55.665 with type <class 'str'>
['Tu', '6/2/15', '55.29', '2.611M', '2.643M']
spot of 55.29 with type <class 'str'>
['Mo', '6/1/15', '55.2', '2.415M', '2.587M']
spot of 55.2 with type <class 'str'>
['Fr', '5/29/15', '55.64', '2.711M', '2.587M']
spot of 55.64 with type <class 'str'>
['Th', '5/28/15', '56.365', '3.728M', '2.559M']
spot of 56.365 with type <class 'str'>
['We', '5/27/15', '55.34', '2.282M', '2.543M']
spot of 55.34 with type <class 'str'>
['Tu', '5/26/15', '54.59', '2.748M', '2.669M']
spot of 54.59 with type <class 'str'>
['Fr', '5/22/15', '55.79', '1.745M', '2.624M']
spot of 55.79 with type <class 'str'>
['Th', '5/21/15', '55.37', '2.886M', '2.737M']
spot of 55.37 with type <class 'str'>
['We', '5/20/15', '54.6', '3.154M', '2.805M']
spot of 54.6 with type <class 'str'>
['Tu', '5/19/15', '55.15', '6.522M', '2.861M']
spot of 55.15 with type <class 'str'>
['Mo', '5/18/15', '56.9', '1.789M', '2.672M']
spot of 56.9 with type <class 'str'>
['Fr', '5/15/15', '56.89', '2.3M', '2.7M']
spot of 56.89 with type <class 'str'>
['Th', '5/14/15', '57.43', '1.518M', '2.711M']
spot of 57.43 with type <class 'str'>
['We', '5/13/15', '56.59', '1.654M', '2.793M']
spot of 56.59 with type <class 'str'>
['Tu', '5/12/15', '56.16', '1.586M', '2.834M']
spot of 56.16 with type <class 'str'>
['Mo', '5/11/15', '56.76', '1.761M', '2.962M']
spot of 56.76 with type <class 'str'>
['Fr', '5/8/15', '57.235', '2.414M', '3.172M']
spot of 57.235 with type <class 'str'>
['Th', '5/7/15', '56.43', '2.291M', '3.647M']
spot of 56.43 with type <class 'str'>
['We', '5/6/15', '56.29', '3.5M', '3.792M']
spot of 56.29 with type <class 'str'>
['Tu', '5/5/15', '57.7', '4.17M', '3.807M']
spot of 57.7 with type <class 'str'>
['Mo', '5/4/15', '59.21', '2.075M', '3.71M']
spot of 59.21 with type <class 'str'>
['Fr', '5/1/15', '59.63', '3.432M', '3.701M']
spot of 59.63 with type <class 'str'>
['Th', '4/30/15', '58.72', '3.903M', '3.721M']
spot of 58.72 with type <class 'str'>
['We', '4/29/15', '58.17', '3.997M', '3.686M']
spot of 58.17 with type <class 'str'>
['Tu', '4/28/15', '59', '3.686M', '3.688M']
spot of 59 with type <class 'str'>
['Mo', '4/27/15', '57.915', '2.215M', '3.665M']
spot of 57.915 with type <class 'str'>
['Fr', '4/24/15', '58.34', '2.456M', '3.68M']
spot of 58.34 with type <class 'str'>
['Th', '4/23/15', '58.75', '2.75M', '3.763M']
spot of 58.75 with type <class 'str'>
['We', '4/22/15', '58.23', '2.271M', '3.822M']
spot of 58.23 with type <class 'str'>
['Tu', '4/21/15', '58.41', '3.51M', '3.923M']
spot of 58.41 with type <class 'str'>
['Mo', '4/20/15', '59.135', '4.911M', '3.836M']
spot of 59.135 with type <class 'str'>
['Fr', '4/17/15', '57.43', '9.538M', '3.704M']
spot of 57.43 with type <class 'str'>
['Th', '4/16/15', '55.96', '4.462M', '3.352M']
spot of 55.96 with type <class 'str'>
['We', '4/15/15', '56.67', '3.737M', '3.345M']
spot of 56.67 with type <class 'str'>
['Tu', '4/14/15', '55.77', '2.711M', '3.286M']
spot of 55.77 with type <class 'str'>
['Mo', '4/13/15', '55.41', '1.939M', '3.282M']
spot of 55.41 with type <class 'str'>
['Fr', '4/10/15', '55.58', '3.726M', '3.476M']
spot of 55.58 with type <class 'str'>
['Th', '4/9/15', '54.69', '3.384M', '3.392M']
spot of 54.69 with type <class 'str'>
['We', '4/8/15', '53.31', '4.026M', '3.497M']
spot of 53.31 with type <class 'str'>
['Tu', '4/7/15', '53.75', '3.339M', '3.448M']
spot of 53.75 with type <class 'str'>
['Mo', '4/6/15', '52.74', '2.445M', '3.51M']
spot of 52.74 with type <class 'str'>
['Th', '4/2/15', '52.45', '3.696M', '3.617M']
spot of 52.45 with type <class 'str'>
['We', '4/1/15', '51.79', '3.641M', '3.753M']
spot of 51.79 with type <class 'str'>
['Tu', '3/31/15', '52.03', '3.777M', '3.814M']
spot of 52.03 with type <class 'str'>
['Mo', '3/30/15', '53.08', '2.209M', '4.011M']
spot of 53.08 with type <class 'str'>
['Fr', '3/27/15', '52.76', '2.938M', '4.082M']
spot of 52.76 with type <class 'str'>
['Th', '3/26/15', '53.525', '4.254M', '4.138M']
spot of 53.525 with type <class 'str'>
['We', '3/25/15', '53.61', '4.358M', '4.086M']
spot of 53.61 with type <class 'str'>
['Tu', '3/24/15', '55.325', '2.842M', '4.076M']
spot of 55.325 with type <class 'str'>
['Mo', '3/23/15', '55.85', '2.652M', '4.324M']
spot of 55.85 with type <class 'str'>
['Fr', '3/20/15', '56.51', '4.849M', '4.419M']
spot of 56.51 with type <class 'str'>
['Th', '3/19/15', '55.705', '2.471M', '4.279M']
spot of 55.705 with type <class 'str'>
['We', '3/18/15', '55.3', '4.952M', '4.275M']
spot of 55.3 with type <class 'str'>
['Tu', '3/17/15', '53.665', '3.299M', '4.163M']
spot of 53.665 with type <class 'str'>
['Mo', '3/16/15', '54.84', '4.262M', '4.182M']
spot of 54.84 with type <class 'str'>
['Fr', '3/13/15', '53.76', '4.055M', '4.001M']
spot of 53.76 with type <class 'str'>
['Th', '3/12/15', '54.535', '5.734M', '3.848M']
spot of 54.535 with type <class 'str'>
['We', '3/11/15', '54.36', '4.56M', '3.551M']
spot of 54.36 with type <class 'str'>
['Tu', '3/10/15', '54.41', '6.728M', '3.392M']
spot of 54.41 with type <class 'str'>
['Mo', '3/9/15', '56.98', '3.283M', '3.098M']
spot of 56.98 with type <class 'str'>
['Fr', '3/6/15', '56.9', '3.772M', '3.05M']
spot of 56.9 with type <class 'str'>
['Th', '3/5/15', '58.435', '3.474M', '2.921M']
spot of 58.435 with type <class 'str'>
['We', '3/4/15', '58.08', '4.21M', '2.891M']
spot of 58.08 with type <class 'str'>
['Tu', '3/3/15', '58.82', '6.556M', '2.838M']
spot of 58.82 with type <class 'str'>
['Mo', '3/2/15', '61.56', '4.084M', '2.639M']
spot of 61.56 with type <class 'str'>
['Fr', '2/27/15', '61.12', '2.752M', '2.648M']
spot of 61.12 with type <class 'str'>
['Th', '2/26/15', '60.68', '2.406M', '2.61M']
spot of 60.68 with type <class 'str'>
['We', '2/25/15', '60.02', '3.27M', '2.72M']
spot of 60.02 with type <class 'str'>
['Tu', '2/24/15', '60.7', '3.581M', '2.784M']
spot of 60.7 with type <class 'str'>
['Mo', '2/23/15', '61.99', '1.555M', '2.881M']
spot of 61.99 with type <class 'str'>
['Fr', '2/20/15', '62.18', '1.747M', '3.144M']
spot of 62.18 with type <class 'str'>
['Th', '2/19/15', '61.46', '1.291M', '3.364M']
spot of 61.46 with type <class 'str'>
['We', '2/18/15', '61.18', '2.174M', '3.79M']
spot of 61.18 with type <class 'str'>
['Tu', '2/17/15', '61.15', '2.318M', '4.183M']
spot of 61.15 with type <class 'str'>
['Fr', '2/13/15', '61.835', '2.566M', '5.051M']
spot of 61.835 with type <class 'str'>
['Th', '2/12/15', '61.16', '1.83M', '5.052M']
spot of 61.16 with type <class 'str'>
['We', '2/11/15', '60.8', '3.025M', '5.168M']
spot of 60.8 with type <class 'str'>
['Tu', '2/10/15', '60.2', '3.419M', '5.081M']
spot of 60.2 with type <class 'str'>
['Mo', '2/9/15', '60.4', '3.564M', '4.972M']
spot of 60.4 with type <class 'str'>
['Fr', '2/6/15', '59.94', '4.216M', '4.901M']
spot of 59.94 with type <class 'str'>
['Th', '2/5/15', '60.41', '2.189M', '4.857M']
spot of 60.41 with type <class 'str'>
['We', '2/4/15', '59.93', '4.049M', '4.839M']
spot of 59.93 with type <class 'str'>
['Tu', '2/3/15', '59.25', '4.239M', '4.712M']
spot of 59.25 with type <class 'str'>
['Mo', '2/2/15', '57.8', '5.028M', '4.572M']
spot of 57.8 with type <class 'str'>
['Fr', '1/30/15', '56.44', '5.505M', '4.406M']
spot of 56.44 with type <class 'str'>
['Th', '1/29/15', '58.7', '5.046M', '4.271M']
spot of 58.7 with type <class 'str'>
['We', '1/28/15', '57.53', '7.678M', '4.06M']
spot of 57.53 with type <class 'str'>
['Tu', '1/27/15', '57.065', '8.078M', '3.777M']
spot of 57.065 with type <class 'str'>
['Mo', '1/26/15', '59.06', '15.326M', '3.389M']
spot of 59.06 with type <class 'str'>
['Fr', '1/23/15', '63.98', '2.594M', '2.528M']
spot of 63.98 with type <class 'str'>
['Th', '1/22/15', '63.94', '3.563M', '2.472M']
spot of 63.94 with type <class 'str'>
['We', '1/21/15', '63.29', '1.724M', '2.349M']
spot of 63.29 with type <class 'str'>
['Tu', '1/20/15', '63.12', '1.778M', '2.371M']
spot of 63.12 with type <class 'str'>
['Fr', '1/16/15', '63.41', '2.5M', '2.301M']
spot of 63.41 with type <class 'str'>
['Th', '1/15/15', '62.28', '3.552M', '2.213M']
spot of 62.28 with type <class 'str'>

spot of 64.59 with type <class 'str'>
['Tu', '1/13/15', '64.75', '2.144M', '2.064M']
spot of 64.75 with type <class 'str'>
['Mo', '1/12/15', '65.04', '2.133M', '2.221M']
spot of 65.04 with type <class 'str'>
['Fr', '1/9/15', '66.445', '2.546M', '2.293M']
spot of 66.445 with type <class 'str'>
['Th', '1/8/15', '65.43', '3.473M', '2.293M']
spot of 65.43 with type <class 'str'>
['We', '1/7/15', '64.27', '1.886M', '2.19M']
spot of 64.27 with type <class 'str'>
['Tu', '1/6/15', '63.86', '3.426M', '2.206M']
spot of 63.86 with type <class 'str'>
['Mo', '1/5/15', '65.67', '2.27M', '2.127M']
spot of 65.67 with type <class 'str'>
['Fr', '1/2/15', '66.02', '2.397M', '2.121M']
spot of 66.02 with type <class 'str'>
['We', '12/31/14', '66.5', '1.757M', '2.112M']
spot of 66.5 with type <class 'str'>
['Tu', '12/30/14', '67.25', '1.726M', '2.2M']
spot of 67.25 with type <class 'str'>
['Mo', '12/29/14', '68.19', '2.054M', '2.207M']
spot of 68.19 with type <class 'str'>
['Fr', '12/26/14', '68.76', '729.689k', '2.253M']
spot of 68.76 with type <class 'str'>
['We', '12/24/14', '68.82', '1.179M', '2.349M']
spot of 68.82 with type <class 'str'>
['Tu', '12/23/14', '68.65', '1.47M', '2.542M']
spot of 68.65 with type <class 'str'>
['Mo', '12/22/14', '68.63', '1.772M', '2.65M']
spot of 68.63 with type <class 'str'>
['Fr', '12/19/14', '68.4', '4.497M', '2.703M']
spot of 68.4 with type <class 'str'>
['Th', '12/18/14', '67.61', '3.219M', '2.482M']
spot of 67.61 with type <class 'str'>
['We', '12/17/14', '65.01', '2.534M', '2.379M']
spot of 65.01 with type <class 'str'>
['Tu', '12/16/14', '63.27', '1.938M', '2.36M']
spot of 63.27 with type <class 'str'>
['Mo', '12/15/14', '63.71', '2.128M', '2.364M']
spot of 63.71 with type <class 'str'>
['Fr', '12/12/14', '64.04', '2.243M', '2.501M']
spot of 64.04 with type <class 'str'>
['Th', '12/11/14', '65.5', '2.173M', '2.504M']
spot of 65.5 with type <class 'str'>
['We', '12/10/14', '65.22', '2.262M', '2.496M']
spot of 65.22 with type <class 'str'>
['Tu', '12/9/14', '65.76', '3.074M', '2.535M']
spot of 65.76 with type <class 'str'>
['Mo', '12/8/14', '66.24', '1.828M', '2.557M']
spot of 66.24 with type <class 'str'>
['Fr', '12/5/14', '66.4', '2.748M', '2.551M']
spot of 66.4 with type <class 'str'>
['Th', '12/4/14', '66.09', '2.17M', '2.452M']
spot of 66.09 with type <class 'str'>
['We', '12/3/14', '66.85', '4.078M', '2.432M']
spot of 66.85 with type <class 'str'>
['Tu', '12/2/14', '67.54', '3.081M', '2.284M']
spot of 67.54 with type <class 'str'>
['Mo', '12/1/14', '65.945', '2.573M', '2.224M']
spot of 65.945 with type <class 'str'>
['Fr', '11/28/14', '66.11', '1.184M', '2.315M']
spot of 66.11 with type <class 'str'>
['We', '11/26/14', '65.85', '1.67M', '2.492M']
spot of 65.85 with type <class 'str'>
['Tu', '11/25/14', '65.99', '2.256M', '2.555M']
spot of 65.99 with type <class 'str'>
['Mo', '11/24/14', '66.03', '1.986M', '2.717M']
spot of 66.03 with type <class 'str'>
['Fr', '11/21/14', '64.94', '4.191M', '2.915M']
spot of 64.94 with type <class 'str'>
['Th', '11/20/14', '65.54', '2.289M', '3.032M']
spot of 65.54 with type <class 'str'>
['We', '11/19/14', '64.62', '2.046M', '3.092M']
spot of 64.62 with type <class 'str'>
['Tu', '11/18/14', '64.65', '2.853M', '3.152M']
spot of 64.65 with type <class 'str'>
['Mo', '11/17/14', '63.99', '3.398M', '3.165M']
spot of 63.99 with type <class 'str'>
['Fr', '11/14/14', '62.87', '1.746M', '3.155M']
spot of 62.87 with type <class 'str'>
['Th', '11/13/14', '62.11', '1.252M', '3.338M']
spot of 62.11 with type <class 'str'>
['We', '11/12/14', '62.32', '1.884M', '3.497M']
spot of 62.32 with type <class 'str'>
['Tu', '11/11/14', '61.81', '1.845M', '3.496M']
spot of 61.81 with type <class 'str'>
['Mo', '11/10/14', '61.77', '2.193M', '3.51M']
spot of 61.77 with type <class 'str'>
['Fr', '11/7/14', '61.56', '3.931M', '3.516M']
spot of 61.56 with type <class 'str'>
['Th', '11/6/14', '62.53', '3.84M', '3.389M']
spot of 62.53 with type <class 'str'>
['We', '11/5/14', '63.745', '2.614M', '3.345M']
spot of 63.745 with type <class 'str'>
['Tu', '11/4/14', '63.89', '4.684M', '3.535M']
spot of 63.89 with type <class 'str'>
['Mo', '11/3/14', '64.17', '4.963M', '3.463M']
spot of 64.17 with type <class 'str'>
['Fr', '10/31/14', '62.83', '5.946M', '3.438M']
spot of 62.83 with type <class 'str'>
['Th', '10/30/14', '60.15', '3.183M', '3.338M']
spot of 60.15 with type <class 'str'>
['We', '10/29/14', '60.23', '2.954M', '3.348M']
spot of 60.23 with type <class 'str'>
['Tu', '10/28/14', '59.47', '3.044M', '3.414M']
spot of 59.47 with type <class 'str'>
['Mo', '10/27/14', '58.74', '3.253M', '3.394M']
spot of 58.74 with type <class 'str'>
['Fr', '10/24/14', '58.36', '4.484M', '3.371M']
spot of 58.36 with type <class 'str'>
['Th', '10/23/14', '56.515', '3.63M', '3.231M']
spot of 56.515 with type <class 'str'>
['We', '10/22/14', '54.275', '1.876M', '3.143M']
spot of 54.275 with type <class 'str'>
['Tu', '10/21/14', '55.21', '2.053M', '3.285M']
spot of 55.21 with type <class 'str'>
['Mo', '10/20/14', '53.85', '2.29M', '3.302M']
spot of 53.85 with type <class 'str'>
['Fr', '10/17/14', '52.95', '2.023M', '3.291M']
spot of 52.95 with type <class 'str'>
['Th', '10/16/14', '52.38', '3.184M', '3.262M']
spot of 52.38 with type <class 'str'>
['We', '10/15/14', '51.96', '5.456M', '3.216M']
spot of 51.96 with type <class 'str'>
['Tu', '10/14/14', '52.56', '3.613M', '3M']
spot of 52.56 with type <class 'str'>
['Mo', '10/13/14', '52.98', '4.587M', '2.936M']
spot of 52.98 with type <class 'str'>
['Fr', '10/10/14', '54.94', '4.448M', '2.791M']
spot of 54.94 with type <class 'str'>
['Th', '10/9/14', '56.23', '3.328M', '2.806M']
spot of 56.23 with type <class 'str'>
['We', '10/8/14', '57.06', '3.949M', '2.782M']
spot of 57.06 with type <class 'str'>
['Tu', '10/7/14', '55.25', '2.732M', '2.79M']
spot of 55.25 with type <class 'str'>
['Mo', '10/6/14', '56.16', '2.91M', '2.885M']
spot of 56.16 with type <class 'str'>
['Fr', '10/3/14', '56.08', '2.389M', '2.95M']
spot of 56.08 with type <class 'str'>
['Th', '10/2/14', '55.52', '2.314M', '3.071M']
spot of 55.52 with type <class 'str'>
['We', '10/1/14', '55.08', '4.001M', '3.082M']
spot of 55.08 with type <class 'str'>
['Tu', '9/30/14', '57.27', '2.312M', '2.91M']
spot of 57.27 with type <class 'str'>
['Mo', '9/29/14', '57.25', '2.123M', '2.898M']
spot of 57.25 with type <class 'str'>
['Fr', '9/26/14', '56.77', '1.592M', '2.843M']
spot of 56.77 with type <class 'str'>
['Th', '9/25/14', '56.255', '2.494M', '2.866M']
spot of 56.255 with type <class 'str'>
['We', '9/24/14', '57.44', '2.204M', '2.893M']
spot of 57.44 with type <class 'str'>
['Tu', '9/23/14', '56.79', '2.656M', '2.929M']
spot of 56.79 with type <class 'str'>
['Mo', '9/22/14', '57.6', '2.419M', '2.977M']
spot of 57.6 with type <class 'str'>
['Fr', '9/19/14', '58.31', '4.674M', '2.934M']
spot of 58.31 with type <class 'str'>
['Th', '9/18/14', '59.79', '2.959M', '2.757M']
spot of 59.79 with type <class 'str'>
['We', '9/17/14', '58.98', '4.075M', '2.689M']
spot of 58.98 with type <class 'str'>
['Tu', '9/16/14', '59.245', '4.147M', '2.516M']
spot of 59.245 with type <class 'str'>
['Mo', '9/15/14', '58.84', '3.891M', '2.331M']
spot of 58.84 with type <class 'str'>
['Fr', '9/12/14', '61.01', '4.207M', '2.153M']
spot of 61.01 with type <class 'str'>
['Th', '9/11/14', '60.87', '2.471M', '1.969M']
spot of 60.87 with type <class 'str'>
['We', '9/10/14', '61.26', '1.432M', '1.901M']
spot of 61.26 with type <class 'str'>
['Tu', '9/9/14', '60.83', '2.128M', '1.905M']
spot of 60.83 with type <class 'str'>
['Mo', '9/8/14', '61.29', '1.292M', '1.86M']
spot of 61.29 with type <class 'str'>
['Fr', '9/5/14', '61.32', '1.942M', '1.931M']
spot of 61.32 with type <class 'str'>
['Th', '9/4/14', '60.96', '2.902M', '1.932M']
spot of 60.96 with type <class 'str'>
['We', '9/3/14', '61.7', '2.746M', '1.867M']
spot of 61.7 with type <class 'str'>
['Tu', '9/2/14', '61.82', '3.371M', '1.774M']
spot of 61.82 with type <class 'str'>
['Fr', '8/29/14', '62.58', '1.776M', '1.632M']
spot of 62.58 with type <class 'str'>
['Th', '8/28/14', '62.09', '2.016M', '1.647M']
spot of 62.09 with type <class 'str'>
['We', '8/27/14', '61.18', '1.943M', '1.696M']
spot of 61.18 with type <class 'str'>
['Tu', '8/26/14', '60.66', '1.478M', '1.805M']
spot of 60.66 with type <class 'str'>
['Mo', '8/25/14', '60.96', '1.365M', '1.867M']
spot of 60.96 with type <class 'str'>
['Fr', '8/22/14', '60.365', '1.226M', '1.924M']
spot of 60.365 with type <class 'str'>
['Th', '8/21/14', '60.43', '1.447M', '2.042M']
spot of 60.43 with type <class 'str'>
['We', '8/20/14', '59.83', '1.445M', '2.173M']
spot of 59.83 with type <class 'str'>
['Tu', '8/19/14', '59.59', '1.505M', '2.211M']
spot of 59.59 with type <class 'str'>
['Mo', '8/18/14', '59.22', '1.444M', '2.204M']
spot of 59.22 with type <class 'str'>
['Fr', '8/15/14', '58.75', '2.364M', '2.223M']
spot of 58.75 with type <class 'str'>
['Th', '8/14/14', '58.39', '1.952M', '2.136M']
spot of 58.39 with type <class 'str'>
['We', '8/13/14', '57.93', '1.925M', '2.128M']
spot of 57.93 with type <class 'str'>
['Tu', '8/12/14', '56.8', '1.357M', '2.09M']
spot of 56.8 with type <class 'str'>
['Mo', '8/11/14', '57', '1.236M', '2.213M']
spot of 57 with type <class 'str'>
['Fr', '8/8/14', '56.97', '2.006M', '2.353M']
spot of 56.97 with type <class 'str'>
['Th', '8/7/14', '56.84', '2.745M', '2.582M']
spot of 56.84 with type <class 'str'>
['We', '8/6/14', '56.94', '3.585M', '2.644M']
spot of 56.94 with type <class 'str'>
['Tu', '8/5/14', '57.38', '2.397M', '2.616M']
spot of 57.38 with type <class 'str'>
['Mo', '8/4/14', '58.7', '2.226M', '2.596M']
spot of 58.7 with type <class 'str'>
['Fr', '8/1/14', '58.19', '2.999M', '2.607M']
spot of 58.19 with type <class 'str'>
['Th', '7/31/14', '58.6', '3.415M', '2.503M']
spot of 58.6 with type <class 'str'>
['We', '7/30/14', '60.09', '2.009M', '2.374M']
spot of 60.09 with type <class 'str'>
['Tu', '7/29/14', '59.39', '1.401M', '2.342M']
spot of 59.39 with type <class 'str'>
['Mo', '7/28/14', '59.13', '1.731M', '2.406M']
spot of 59.13 with type <class 'str'>
['Fr', '7/25/14', '59.5', '1.05M', '2.404M']
spot of 59.5 with type <class 'str'>
['Th', '7/24/14', '59.58', '1.843M', '2.451M']
spot of 59.58 with type <class 'str'>
['We', '7/23/14', '59.19', '1.356M', '2.46M']
spot of 59.19 with type <class 'str'>
['Tu', '7/22/14', '59.24', '3.196M', '2.61M']
spot of 59.24 with type <class 'str'>
['Mo', '7/21/14', '58.58', '3.338M', '2.509M']
spot of 58.58 with type <class 'str'>
['Fr', '7/18/14', '58.79', '5.445M', '2.367M']
spot of 58.79 with type <class 'str'>
['Th', '7/17/14', '59.49', '3.668M', '2.084M']
spot of 59.49 with type <class 'str'>
['We', '7/16/14', '61.31', '3.161M', '1.968M']
spot of 61.31 with type <class 'str'>
['Tu', '7/15/14', '59.69', '2.104M', '1.954M']
spot of 59.69 with type <class 'str'>
['Mo', '7/14/14', '59.67', '2.388M', '1.937M']
spot of 59.67 with type <class 'str'>
['Fr', '7/11/14', '59.45', '1.436M', '2.055M']
spot of 59.45 with type <class 'str'>
['Th', '7/10/14', '58.83', '1.485M', '2.087M']
spot of 58.83 with type <class 'str'>
['We', '7/9/14', '58.48', '1.531M', '2.113M']
spot of 58.48 with type <class 'str'>
['Tu', '7/8/14', '58.69', '2.36M', '2.184M']
spot of 58.69 with type <class 'str'>
['Mo', '7/7/14', '58.96', '1.699M', '2.168M']
spot of 58.96 with type <class 'str'>
['Th', '7/3/14', '59.26', '1.757M', '2.283M']
spot of 59.26 with type <class 'str'>
['We', '7/2/14', '59.03', '1.973M', '2.322M']
spot of 59.03 with type <class 'str'>
['Tu', '7/1/14', '58.88', '3.611M', '2.282M']
spot of 58.88 with type <class 'str'>
['Mo', '6/30/14', '56.82', '1.677M', '2.18M']
spot of 56.82 with type <class 'str'>
['Fr', '6/27/14', '56.92', '1.213M', '2.185M']
spot of 56.92 with type <class 'str'>
['Th', '6/26/14', '56.71', '1.203M', '2.344M']
spot of 56.71 with type <class 'str'>
['We', '6/25/14', '56.77', '1.921M', '2.396M']
spot of 56.77 with type <class 'str'>
['Tu', '6/24/14', '55.99', '2.952M', '2.43M']
spot of 55.99 with type <class 'str'>
['Mo', '6/23/14', '55.95', '1.854M', '2.349M']
spot of 55.95 with type <class 'str'>
['Fr', '6/20/14', '56.27', '4.149M', '2.332M']
spot of 56.27 with type <class 'str'>
['Th', '6/19/14', '56.58', '1.925M', '2.254M']
spot of 56.58 with type <class 'str'>
['We', '6/18/14', '57.12', '1.867M', '2.242M']
spot of 57.12 with type <class 'str'>
['Tu', '6/17/14', '56.82', '2.598M', '2.257M']
spot of 56.82 with type <class 'str'>
['Mo', '6/16/14', '55.91', '2.129M', '2.299M']
spot of 55.91 with type <class 'str'>
['Fr', '6/13/14', '55.36', '3.424M', '2.3M']
spot of 55.36 with type <class 'str'>
['Th', '6/12/14', '54.22', '2.336M', '2.204M']
spot of 54.22 with type <class 'str'>
['We', '6/11/14', '54.5', '1.37M', '2.15M']
spot of 54.5 with type <class 'str'>
['Tu', '6/10/14', '54.53', '2.083M', '2.194M']
spot of 54.53 with type <class 'str'>
['Mo', '6/9/14', '54.65', '1.753M', '2.249M']
spot of 54.65 with type <class 'str'>
['Fr', '6/6/14', '55.5', '3.601M', '2.286M']
spot of 55.5 with type <class 'str'>
['Th', '6/5/14', '54.36', '1.984M', '2.258M']
spot of 54.36 with type <class 'str'>
['We', '6/4/14', '53.63', '2.417M', '2.363M']
spot of 53.63 with type <class 'str'>
['Tu', '6/3/14', '53.55', '1.739M', '2.499M']
spot of 53.55 with type <class 'str'>
['Mo', '6/2/14', '53.82', '1.611M', '2.537M']
spot of 53.82 with type <class 'str'>
['Fr', '5/30/14', '53.73', '2.979M', '2.665M']
spot of 53.73 with type <class 'str'>
['Th', '5/29/14', '53.06', '1.744M', '2.672M']
spot of 53.06 with type <class 'str'>
['We', '5/28/14', '53.12', '2.081M', '2.769M']
spot of 53.12 with type <class 'str'>
['Tu', '5/27/14', '53.36', '3.237M', '2.772M']
spot of 53.36 with type <class 'str'>
['Fr', '5/23/14', '51.95', '2.14M', '2.74M']
spot of 51.95 with type <class 'str'>
['Th', '5/22/14', '51.61', '1.988M', '2.803M']
spot of 51.61 with type <class 'str'>
['We', '5/21/14', '51.17', '1.523M', '3.069M']
spot of 51.17 with type <class 'str'>
['Tu', '5/20/14', '50.87', '2.03M', '3.475M']
spot of 50.87 with type <class 'str'>
['Mo', '5/19/14', '51.72', '2.903M', '3.59M']
spot of 51.72 with type <class 'str'>
['Fr', '5/16/14', '51.19', '2.304M', '3.714M']
spot of 51.19 with type <class 'str'>
['Th', '5/15/14', '50.89', '3.185M', '3.732M']
spot of 50.89 with type <class 'str'>
['We', '5/14/14', '51.25', '3.568M', '3.646M']
spot of 51.25 with type <class 'str'>
['Tu', '5/13/14', '50.76', '4.452M', '3.568M']
spot of 50.76 with type <class 'str'>
['Mo', '5/12/14', '49.78', '2.305M', '3.418M']
spot of 49.78 with type <class 'str'>
['Fr', '5/9/14', '49.55', '3.542M', '3.378M']
spot of 49.55 with type <class 'str'>
['Th', '5/8/14', '49.28', '3.078M', '3.27M']
spot of 49.28 with type <class 'str'>
['We', '5/7/14', '49.99', '3.2M', '3.176M']
spot of 49.99 with type <class 'str'>
['Tu', '5/6/14', '50.26', '2.128M', '3.138M']
spot of 50.26 with type <class 'str'>
['Mo', '5/5/14', '50.51', '2.751M', '3.184M']
spot of 50.51 with type <class 'str'>
['Fr', '5/2/14', '51.04', '3.088M', '3.175M']
spot of 51.04 with type <class 'str'>
['Th', '5/1/14', '50.75', '5.978M', '3.186M']
spot of 50.75 with type <class 'str'>
['We', '4/30/14', '52.58', '7.607M', '2.991M']
spot of 52.58 with type <class 'str'>
['Tu', '4/29/14', '53.49', '3.768M', '2.675M']
spot of 53.49 with type <class 'str'>
['Mo', '4/28/14', '52.6', '4.752M', '2.653M']
spot of 52.6 with type <class 'str'>
['Fr', '4/25/14', '52.72', '2.572M', '2.62M']
spot of 52.72 with type <class 'str'>
['Th', '4/24/14', '53.94', '1.895M', '2.624M']
spot of 53.94 with type <class 'str'>
['We', '4/23/14', '54.11', '2.401M', '2.696M']
spot of 54.11 with type <class 'str'>
['Tu', '4/22/14', '55.67', '2.207M', '2.741M']
spot of 55.67 with type <class 'str'>
['Mo', '4/21/14', '55.69', '1.708M', '2.742M']
spot of 55.69 with type <class 'str'>
['Th', '4/17/14', '55.57', '1.916M', '2.762M']
spot of 55.57 with type <class 'str'>
['We', '4/16/14', '55.67', '1.674M', '2.867M']
spot of 55.67 with type <class 'str'>
['Tu', '4/15/14', '54.88', '2.627M', '3.055M']
spot of 54.88 with type <class 'str'>
['Mo', '4/14/14', '54.82', '2.807M', '3.183M']
spot of 54.82 with type <class 'str'>
['Fr', '4/11/14', '53.39', '2.622M', '3.224M']
spot of 53.39 with type <class 'str'>
['Th', '4/10/14', '53.95', '3.251M', '3.47M']
spot of 53.95 with type <class 'str'>
['We', '4/9/14', '55.69', '3.054M', '3.488M']
spot of 55.69 with type <class 'str'>
['Tu', '4/8/14', '55.54', '2.864M', '3.496M']
spot of 55.54 with type <class 'str'>
['Mo', '4/7/14', '54.96', '3.445M', '3.524M']
spot of 54.96 with type <class 'str'>
['Fr', '4/4/14', '56.06', '4.256M', '3.5M']
spot of 56.06 with type <class 'str'>
['Th', '4/3/14', '57.39', '2.626M', '3.354M']
spot of 57.39 with type <class 'str'>
['We', '4/2/14', '57.16', '2.981M', '3.405M']
spot of 57.16 with type <class 'str'>
['Tu', '4/1/14', '57', '3.07M', '3.4M']
spot of 57 with type <class 'str'>
['Mo', '3/31/14', '56.16', '2.227M', '3.408M']
spot of 56.16 with type <class 'str'>
['Fr', '3/28/14', '54.92', '2.009M', '3.499M']
spot of 54.92 with type <class 'str'>
['Th', '3/27/14', '54.81', '3.485M', '3.706M']
spot of 54.81 with type <class 'str'>
['We', '3/26/14', '55.55', '4.493M', '3.895M']
spot of 55.55 with type <class 'str'>
['Tu', '3/25/14', '55.13', '4.556M', '3.768M']
spot of 55.13 with type <class 'str'>
['Mo', '3/24/14', '53', '3.427M', '3.673M']
spot of 53 with type <class 'str'>
['Fr', '3/21/14', '53.49', '6.307M', '3.615M']
spot of 53.49 with type <class 'str'>
['Th', '3/20/14', '53.1', '3.514M', '3.472M']
spot of 53.1 with type <class 'str'>
['We', '3/19/14', '51.67', '3.186M', '3.373M']
spot of 51.67 with type <class 'str'>
['Tu', '3/18/14', '51.93', '3.275M', '3.34M']
spot of 51.93 with type <class 'str'>
['Mo', '3/17/14', '50.72', '3.093M', '3.253M']
spot of 50.72 with type <class 'str'>
['Fr', '3/14/14', '50.15', '2.067M', '3.227M']
spot of 50.15 with type <class 'str'>
['Th', '3/13/14', '49.77', '3.384M', '3.335M']
spot of 49.77 with type <class 'str'>
['We', '3/12/14', '50.75', '2.911M', '3.309M']
spot of 50.75 with type <class 'str'>
['Tu', '3/11/14', '49.88', '3.18M', '3.274M']
spot of 49.88 with type <class 'str'>
['Mo', '3/10/14', '50.14', '3.594M', '3.258M']
spot of 50.14 with type <class 'str'>
['Fr', '3/7/14', '49.29', '5.124M', '3.198M']
spot of 49.29 with type <class 'str'>
['Th', '3/6/14', '50.1', '6.316M', '3.078M']
spot of 50.1 with type <class 'str'>
['We', '3/5/14', '52.56', '2.591M', '2.894M']
spot of 52.56 with type <class 'str'>
['Tu', '3/4/14', '53.18', '3.123M', '2.916M']
spot of 53.18 with type <class 'str'>
['Mo', '3/3/14', '52.29', '2.555M', '2.918M']
spot of 52.29 with type <class 'str'>
['Fr', '2/28/14', '52.19', '4.163M', '2.986M']
spot of 52.19 with type <class 'str'>
['Th', '2/27/14', '51.92', '2.034M', '2.945M']
spot of 51.92 with type <class 'str'>
['We', '2/26/14', '51.73', '2.697M', '3.214M']
spot of 51.73 with type <class 'str'>
['Tu', '2/25/14', '50.69', '1.963M', '3.355M']
spot of 50.69 with type <class 'str'>
['Mo', '2/24/14', '51.16', '2.699M', '3.532M']
spot of 51.16 with type <class 'str'>
['Fr', '2/21/14', '50.75', '3.687M', '3.579M']
spot of 50.75 with type <class 'str'>
['Th', '2/20/14', '50.02', '3.001M', '3.626M']
spot of 50.02 with type <class 'str'>
['We', '2/19/14', '49.03', '2.392M', '3.816M']
spot of 49.03 with type <class 'str'>
['Tu', '2/18/14', '49.71', '2.94M', '4.829M']
spot of 49.71 with type <class 'str'>
['Fr', '2/14/14', '50.14', '2.692M', '4.916M']
spot of 50.14 with type <class 'str'>
['Th', '2/13/14', '49.6', '3.32M', '4.971M']
spot of 49.6 with type <class 'str'>
['We', '2/12/14', '49.21', '3.548M', '5.015M']
spot of 49.21 with type <class 'str'>
['Tu', '2/11/14', '49.37', '2.92M', '4.999M']
spot of 49.37 with type <class 'str'>
['Mo', '2/10/14', '49.89', '3.162M', '4.996M']
spot of 49.89 with type <class 'str'>
['Fr', '2/7/14', '49.52', '3.577M', '5.014M']
spot of 49.52 with type <class 'str'>
['Th', '2/6/14', '49.19', '3.545M', '4.923M']

spot of 55.66 with type <class 'str'>
['Th', '12/26/13', '56.02', '1.637M', '3.324M']
spot of 56.02 with type <class 'str'>
['Tu', '12/24/13', '55.94', '1.008M', '3.448M']
spot of 55.94 with type <class 'str'>
['Mo', '12/23/13', '56.01', '3.892M', '3.588M']
spot of 56.01 with type <class 'str'>
['Fr', '12/20/13', '55.655', '10.019M', '3.535M']
spot of 55.655 with type <class 'str'>
['Th', '12/19/13', '52.49', '2.774M', '2.961M']
spot of 52.49 with type <class 'str'>
['We', '12/18/13', '52.65', '4.859M', '2.917M']
spot of 52.65 with type <class 'str'>
['Tu', '12/17/13', '52.95', '5.24M', '2.782M']
spot of 52.95 with type <class 'str'>
['Mo', '12/16/13', '51.335', '3.096M', '2.611M']
spot of 51.335 with type <class 'str'>
['Fr', '12/13/13', '50', '2.713M', '2.585M']
spot of 50 with type <class 'str'>
['Th', '12/12/13', '49.41', '2.427M', '2.577M']
spot of 49.41 with type <class 'str'>
['We', '12/11/13', '49.57', '2.592M', '2.598M']
spot of 49.57 with type <class 'str'>
['Tu', '12/10/13', '50.94', '1.717M', '2.682M']
spot of 50.94 with type <class 'str'>
['Mo', '12/9/13', '50.71', '2.425M', '2.75M']
spot of 50.71 with type <class 'str'>
['Fr', '12/6/13', '51.42', '2.658M', '2.87M']
spot of 51.42 with type <class 'str'>
['Th', '12/5/13', '49.84', '2.807M', '2.962M']
spot of 49.84 with type <class 'str'>
['We', '12/4/13', '49.96', '3.492M', '2.949M']
spot of 49.96 with type <class 'str'>
['Tu', '12/3/13', '49.64', '3.119M', '2.891M']
spot of 49.64 with type <class 'str'>
['Mo', '12/2/13', '49.84', '3.087M', '2.857M']
spot of 49.84 with type <class 'str'>
['Fr', '11/29/13', '49.04', '1.406M', '2.879M']
spot of 49.04 with type <class 'str'>
['We', '11/27/13', '49.02', '2.126M', '3.059M']
spot of 49.02 with type <class 'str'>
['Tu', '11/26/13', '48.8', '2.83M', '3.121M']
spot of 48.8 with type <class 'str'>
['Mo', '11/25/13', '48.46', '2.67M', '3.186M']
spot of 48.46 with type <class 'str'>
['Fr', '11/22/13', '48.34', '2.712M', '3.252M']
spot of 48.34 with type <class 'str'>
['Th', '11/21/13', '48.23', '2.593M', '3.369M']
spot of 48.23 with type <class 'str'>
['We', '11/20/13', '47.72', '2.741M', '3.526M']
spot of 47.72 with type <class 'str'>
['Tu', '11/19/13', '47.85', '3.854M', '3.58M']
spot of 47.85 with type <class 'str'>
['Mo', '11/18/13', '48.5', '2.739M', '3.879M']
spot of 48.5 with type <class 'str'>
['Fr', '11/15/13', '48.94', '4.219M', '3.982M']
spot of 48.94 with type <class 'str'>
['Th', '11/14/13', '50.105', '4.035M', '3.988M']
spot of 50.105 with type <class 'str'>
['We', '11/13/13', '48.77', '2.614M', '4.05M']
spot of 48.77 with type <class 'str'>
['Tu', '11/12/13', '47.81', '2.614M', '4.238M']
spot of 47.81 with type <class 'str'>
['Mo', '11/11/13', '47.9', '2.615M', '4.419M']
spot of 47.9 with type <class 'str'>
['Fr', '11/8/13', '48.18', '3.413M', '4.599M']
spot of 48.18 with type <class 'str'>
['Th', '11/7/13', '47.05', '4.108M', '4.82M']
spot of 47.05 with type <class 'str'>
['We', '11/6/13', '48.47', '3.063M', '4.727M']
spot of 48.47 with type <class 'str'>
['Tu', '11/5/13', '48.47', '3.798M', '4.735M']
spot of 48.47 with type <class 'str'>
['Mo', '11/4/13', '49.26', '3.663M', '4.672M']
spot of 49.26 with type <class 'str'>
['Fr', '11/1/13', '49.2', '4.463M', '4.653M']
spot of 49.2 with type <class 'str'>
['Th', '10/31/13', '48.69', '4.945M', '4.506M']
spot of 48.69 with type <class 'str'>
['We', '10/30/13', '49.5', '3.562M', '4.379M']
spot of 49.5 with type <class 'str'>
['Tu', '10/29/13', '48.25', '8.329M', '4.396M']
spot of 48.25 with type <class 'str'>
['Mo', '10/28/13', '49.85', '4.292M', '4.153M']
spot of 49.85 with type <class 'str'>
['Fr', '10/25/13', '49.8', '4.306M', '4.006M']
spot of 49.8 with type <class 'str'>
['Th', '10/24/13', '48.56', '4.963M', '3.989M']
spot of 48.56 with type <class 'str'>
['We', '10/23/13', '48.08', '5.439M', '3.934M']
spot of 48.08 with type <class 'str'>
['Tu', '10/22/13', '49.14', '5.328M', '3.858M']
spot of 49.14 with type <class 'str'>
['Mo', '10/21/13', '50.49', '5.307M', '3.69M']
spot of 50.49 with type <class 'str'>
['Fr', '10/18/13', '50.04', '6.733M', '3.664M']
spot of 50.04 with type <class 'str'>
['Th', '10/17/13', '48.455', '2.718M', '3.408M']
spot of 48.455 with type <class 'str'>
['We', '10/16/13', '48.019', '3.176M', '3.456M']
spot of 48.019 with type <class 'str'>
['Tu', '10/15/13', '46.98', '2.863M', '3.73M']
spot of 46.98 with type <class 'str'>
['Mo', '10/14/13', '47.33', '3.369M', '3.744M']
spot of 47.33 with type <class 'str'>
['Fr', '10/11/13', '46.27', '2.264M', '3.708M']
spot of 46.27 with type <class 'str'>
['Th', '10/10/13', '46.04', '3.029M', '3.874M']
spot of 46.04 with type <class 'str'>
['We', '10/9/13', '44.88', '3.821M', '3.881M']
spot of 44.88 with type <class 'str'>
['Tu', '10/8/13', '44.79', '4.679M', '3.844M']
spot of 44.79 with type <class 'str'>
['Mo', '10/7/13', '45.16', '2.09M', '3.758M']
spot of 45.16 with type <class 'str'>
['Fr', '10/4/13', '45.87', '4.06M', '3.864M']
spot of 45.87 with type <class 'str'>
['Th', '10/3/13', '45.56', '4.127M', '3.735M']
spot of 45.56 with type <class 'str'>
['We', '10/2/13', '45.95', '4.297M', '3.64M']
spot of 45.95 with type <class 'str'>
['Tu', '10/1/13', '44.7', '2.809M', '3.565M']
spot of 44.7 with type <class 'str'>
['Mo', '9/30/13', '43.76', '4.924M', '3.722M']
spot of 43.76 with type <class 'str'>
['Fr', '9/27/13', '43.51', '2.891M', '3.623M']
spot of 43.51 with type <class 'str'>
['Th', '9/26/13', '43.14', '3.443M', '3.62M']
spot of 43.14 with type <class 'str'>
['We', '9/25/13', '43.87', '7.279M', '3.607M']
spot of 43.87 with type <class 'str'>
['Tu', '9/24/13', '41.8', '3.073M', '3.359M']
spot of 41.8 with type <class 'str'>
['Mo', '9/23/13', '40.94', '2.837M', '3.39M']
spot of 40.94 with type <class 'str'>
['Fr', '9/20/13', '41.395', '4.747M', '3.483M']
spot of 41.395 with type <class 'str'>
['Th', '9/19/13', '41.36', '3.133M', '3.611M']
spot of 41.36 with type <class 'str'>
['We', '9/18/13', '41.64', '3.273M', '3.562M']
spot of 41.64 with type <class 'str'>
['Tu', '9/17/13', '41.26', '3.394M', '3.537M']
spot of 41.26 with type <class 'str'>
['Mo', '9/16/13', '40.94', '3.668M', '3.454M']
spot of 40.94 with type <class 'str'>
['Fr', '9/13/13', '40.25', '2.132M', '3.353M']
spot of 40.25 with type <class 'str'>
['Th', '9/12/13', '40.13', '2.697M', '3.322M']
spot of 40.13 with type <class 'str'>
['We', '9/11/13', '40.59', '3.17M', '3.327M']
spot of 40.59 with type <class 'str'>
['Tu', '9/10/13', '41.07', '5.174M', '3.251M']
spot of 41.07 with type <class 'str'>
['Mo', '9/9/13', '40.16', '3.43M', '3.103M']
spot of 40.16 with type <class 'str'>
['Fr', '9/6/13', '39.46', '2.855M', '3.102M']
spot of 39.46 with type <class 'str'>
['Th', '9/5/13', '39.52', '3.238M', '3.17M']
spot of 39.52 with type <class 'str'>
['We', '9/4/13', '39.22', '3.566M', '3.118M']
spot of 39.22 with type <class 'str'>
['Tu', '9/3/13', '38.67', '3.54M', '3.023M']
spot of 38.67 with type <class 'str'>
['Fr', '8/30/13', '38.32', '4.223M', '2.929M']
spot of 38.32 with type <class 'str'>
['Th', '8/29/13', '38.09', '6.676M', '2.798M']
spot of 38.09 with type <class 'str'>
['We', '8/28/13', '38.87', '2.396M', '2.577M']
spot of 38.87 with type <class 'str'>
['Tu', '8/27/13', '38.511', '2.898M', '2.643M']
spot of 38.511 with type <class 'str'>
['Mo', '8/26/13', '40.1', '2.149M', '2.728M']
spot of 40.1 with type <class 'str'>
['Fr', '8/23/13', '40.13', '2.144M', '2.735M']
spot of 40.13 with type <class 'str'>
['Th', '8/22/13', '40.08', '1.675M', '2.836M']
spot of 40.08 with type <class 'str'>
['We', '8/21/13', '39.51', '2.764M', '2.919M']
spot of 39.51 with type <class 'str'>
['Tu', '8/20/13', '39.22', '2.031M', '3.015M']
spot of 39.22 with type <class 'str'>
['Mo', '8/19/13', '38.77', '2.96M', '3.145M']
spot of 38.77 with type <class 'str'>
['Fr', '8/16/13', '39.2', '3.417M', '3.22M']
spot of 39.2 with type <class 'str'>
['Th', '8/15/13', '39.52', '3.871M', '3.464M']
spot of 39.52 with type <class 'str'>
['We', '8/14/13', '41.07', '2.463M', '3.848M']
spot of 41.07 with type <class 'str'>
['Tu', '8/13/13', '41.17', '2.143M', '4.563M']
spot of 41.17 with type <class 'str'>
['Mo', '8/12/13', '41.34', '2.118M', '4.776M']
spot of 41.34 with type <class 'str'>
['Fr', '8/9/13', '40.86', '2.264M', '4.89M']
spot of 40.86 with type <class 'str'>
['Th', '8/8/13', '40.91', '3.36M', '5.176M']
spot of 40.91 with type <class 'str'>
['We', '8/7/13', '40.09', '3.383M', '5.119M']
spot of 40.09 with type <class 'str'>
['Tu', '8/6/13', '40.3', '4.183M', '5.014M']
spot of 40.3 with type <class 'str'>
['Mo', '8/5/13', '40.43', '2.25M', '4.892M']
spot of 40.43 with type <class 'str'>
['Fr', '8/2/13', '41.1', '3.658M', '4.875M']
spot of 41.1 with type <class 'str'>
['Th', '8/1/13', '41.79', '2.924M', '4.796M']
spot of 41.79 with type <class 'str'>
['We', '7/31/13', '40.91', '4.207M', '4.803M']
spot of 40.91 with type <class 'str'>
['Tu', '7/30/13', '41.25', '3.97M', '4.733M']
spot of 41.25 with type <class 'str'>
['Mo', '7/29/13', '40.3', '4.083M', '4.639M']
spot of 40.3 with type <class 'str'>
['Fr', '7/26/13', '41.05', '7.08M', '4.593M']
spot of 41.05 with type <class 'str'>
['Th', '7/25/13', '42.32', '9.627M', '4.296M']
spot of 42.32 with type <class 'str'>
['We', '7/24/13', '44.19', '13.197M', '3.785M']
spot of 44.19 with type <class 'str'>
['Tu', '7/23/13', '45.31', '5.339M', '3.085M']
spot of 45.31 with type <class 'str'>
['Mo', '7/22/13', '46.82', '3.83M', '2.919M']
spot of 46.82 with type <class 'str'>
['Fr', '7/19/13', '47.52', '6.542M', '2.923M']
spot of 47.52 with type <class 'str'>
['Th', '7/18/13', '46.9', '2.511M', '2.758M']
spot of 46.9 with type <class 'str'>
['We', '7/17/13', '46.69', '1.812M', '2.776M']
spot of 46.69 with type <class 'str'>
['Tu', '7/16/13', '46.56', '2.355M', '2.878M']
spot of 46.56 with type <class 'str'>
['Mo', '7/15/13', '46.71', '1.992M', '2.979M']
spot of 46.71 with type <class 'str'>
['Fr', '7/12/13', '46.68', '2.475M', '3.246M']
spot of 46.68 with type <class 'str'>
['Th', '7/11/13', '46.31', '3.021M', '3.425M']
spot of 46.31 with type <class 'str'>
['We', '7/10/13', '45.83', '3.162M', '3.457M']
spot of 45.83 with type <class 'str'>
['Tu', '7/9/13', '45.73', '2.553M', '3.55M']
spot of 45.73 with type <class 'str'>
['Mo', '7/8/13', '45.45', '3.402M', '3.588M']
spot of 45.45 with type <class 'str'>
['Fr', '7/5/13', '45.72', '2.623M', '3.535M']
spot of 45.72 with type <class 'str'>
['We', '7/3/13', '45.1', '1.953M', '3.556M']
spot of 45.1 with type <class 'str'>
['Tu', '7/2/13', '45.22', '2.712M', '3.652M']
spot of 45.22 with type <class 'str'>
['Mo', '7/1/13', '45.47', '2.838M', '3.752M']
spot of 45.47 with type <class 'str'>
['Fr', '6/28/13', '44.83', '3.896M', '3.825M']
spot of 44.83 with type <class 'str'>
['Th', '6/27/13', '44.69', '4.064M', '3.785M']
spot of 44.69 with type <class 'str'>
['We', '6/26/13', '42.7', '2.785M', '3.793M']
spot of 42.7 with type <class 'str'>
['Tu', '6/25/13', '42.401', '3.339M', '3.892M']
spot of 42.401 with type <class 'str'>
['Mo', '6/24/13', '41.23', '3.867M', '4.01M']
spot of 41.23 with type <class 'str'>
['Fr', '6/21/13', '42.249', '5.996M', '4.021M']
spot of 42.249 with type <class 'str'>
['Th', '6/20/13', '42.838', '5.167M', '4.036M']
spot of 42.838 with type <class 'str'>
['We', '6/19/13', '44.38', '3.49M', '3.938M']
spot of 44.38 with type <class 'str'>
['Tu', '6/18/13', '44.99', '4.572M', '3.974M']
spot of 44.99 with type <class 'str'>
['Mo', '6/17/13', '44.01', '3.121M', '3.896M']
spot of 44.01 with type <class 'str'>
['Fr', '6/14/13', '43.72', '2.606M', '3.872M']
spot of 43.72 with type <class 'str'>
['Th', '6/13/13', '43.98', '2.932M', '4.196M']
spot of 43.98 with type <class 'str'>
['We', '6/12/13', '43.57', '3.39M', '4.5M']
spot of 43.57 with type <class 'str'>
['Tu', '6/11/13', '43.94', '4.211M', '4.482M']
spot of 43.94 with type <class 'str'>
['Mo', '6/10/13', '43.97', '3.944M', '4.494M']
spot of 43.97 with type <class 'str'>
['Fr', '6/7/13', '44.01', '3.293M', '4.558M']
spot of 44.01 with type <class 'str'>
['Th', '6/6/13', '44.12', '4.187M', '4.776M']
spot of 44.12 with type <class 'str'>
['We', '6/5/13', '43.69', '4.27M', '5.023M']
spot of 43.69 with type <class 'str'>
['Tu', '6/4/13', '44.74', '5.1M', '5.089M']
spot of 44.74 with type <class 'str'>
['Mo', '6/3/13', '43.96', '4.042M', '5.017M']
spot of 43.96 with type <class 'str'>
['Fr', '5/31/13', '43.08', '6.209M', '5.031M']
spot of 43.08 with type <class 'str'>
['Th', '5/30/13', '43.67', '3.707M', '5.317M']
spot of 43.67 with type <class 'str'>
['We', '5/29/13', '43.76', '4.026M', '5.43M']
spot of 43.76 with type <class 'str'>
['Tu', '5/28/13', '43.11', '3.408M', '5.531M']
spot of 43.11 with type <class 'str'>
['Fr', '5/24/13', '42.85', '2.75M', '5.772M']
spot of 42.85 with type <class 'str'>
['Th', '5/23/13', '42.99', '7.469M', '6.161M']
spot of 42.99 with type <class 'str'>
['We', '5/22/13', '42.17', '7.499M', '6.597M']
spot of 42.17 with type <class 'str'>
['Tu', '5/21/13', '41.52', '3.119M', '6.51M']
spot of 41.52 with type <class 'str'>
['Mo', '5/20/13', '41.04', '4.387M', '6.672M']
spot of 41.04 with type <class 'str'>
['Fr', '5/17/13', '41.47', '4.901M', '6.701M']
spot of 41.47 with type <class 'str'>
['Th', '5/16/13', '40.59', '6.562M', '6.803M']
spot of 40.59 with type <class 'str'>
['We', '5/15/13', '40.61', '7.892M', '6.965M']
spot of 40.61 with type <class 'str'>
['Tu', '5/14/13', '40.85', '5.264M', '6.857M']
spot of 40.85 with type <class 'str'>
['Mo', '5/13/13', '40.27', '4.014M', '6.823M']
spot of 40.27 with type <class 'str'>
['Fr', '5/10/13', '40.5', '4.253M', '6.781M']
spot of 40.5 with type <class 'str'>
['Th', '5/9/13', '40.33', '10.51M', '6.844M']
spot of 40.33 with type <class 'str'>
['We', '5/8/13', '42.32', '5.398M', '6.538M']
spot of 42.32 with type <class 'str'>
['Tu', '5/7/13', '42.32', '5.535M', '6.51M']
spot of 42.32 with type <class 'str'>
['Mo', '5/6/13', '41.97', '7.023M', '6.448M']
spot of 41.97 with type <class 'str'>
['Fr', '5/3/13', '41.23', '8.595M', '6.388M']
spot of 41.23 with type <class 'str'>
['Th', '5/2/13', '39.63', '14.001M', '6.08M']
spot of 39.63 with type <class 'str'>
['We', '5/1/13', '36.94', '6.203M', '5.632M']
spot of 36.94 with type <class 'str'>
['Tu', '4/30/13', '36.7', '5.549M', '5.596M']
spot of 36.7 with type <class 'str'>
['Mo', '4/29/13', '36.22', '4.812M', '5.606M']
spot of 36.22 with type <class 'str'>
['Fr', '4/26/13', '36.4', '6.435M', '5.53M']
spot of 36.4 with type <class 'str'>
['Th', '4/25/13', '36.54', '8.986M', '5.501M']
spot of 36.54 with type <class 'str'>
['We', '4/24/13', '36.46', '6.284M', '5.07M']
spot of 36.46 with type <class 'str'>
['Tu', '4/23/13', '36.03', '4.747M', '4.987M']
spot of 36.03 with type <class 'str'>
['Mo', '4/22/13', '34.81', '3.384M', '4.934M']
spot of 34.81 with type <class 'str'>
['Fr', '4/19/13', '34.44', '5.206M', '4.944M']
spot of 34.44 with type <class 'str'>
['Th', '4/18/13', '33.93', '5.917M', '4.896M']
spot of 33.93 with type <class 'str'>
['We', '4/17/13', '34.725', '4.971M', '4.899M']
spot of 34.725 with type <class 'str'>
['Tu', '4/16/13', '35.335', '4.612M', '5.199M']
spot of 35.335 with type <class 'str'>
['Mo', '4/15/13', '34.8', '6.121M', '5.142M']
spot of 34.8 with type <class 'str'>
['Fr', '4/12/13', '36.09', '3.97M', '4.895M']
spot of 36.09 with type <class 'str'>
['Th', '4/11/13', '36.53', '7.282M', '4.844M']
spot of 36.53 with type <class 'str'>
['We', '4/10/13', '37.68', '5.665M', '4.53M']
spot of 37.68 with type <class 'str'>
['Tu', '4/9/13', '36.96', '5.694M', '4.448M']
spot of 36.96 with type <class 'str'>
['Mo', '4/8/13', '35.98', '3.671M', '4.291M']
spot of 35.98 with type <class 'str'>
['Fr', '4/5/13', '35.51', '6.003M', '4.726M']
spot of 35.51 with type <class 'str'>
['Th', '4/4/13', '36.34', '2.525M', '4.668M']
spot of 36.34 with type <class 'str'>
['We', '4/3/13', '36.06', '5.041M', '4.938M']
spot of 36.06 with type <class 'str'>
['Tu', '4/2/13', '36.28', '3.947M', '5.184M']
spot of 36.28 with type <class 'str'>
['Mo', '4/1/13', '36.72', '3.535M', '5.216M']
spot of 36.72 with type <class 'str'>
['Th', '3/28/13', '36.555', '4.485M', '5.276M']
spot of 36.555 with type <class 'str'>
['We', '3/27/13', '36.68', '5.966M', '5.36M']
spot of 36.68 with type <class 'str'>
['Tu', '3/26/13', '35.88', '9.471M', '5.321M']
spot of 35.88 with type <class 'str'>
['Mo', '3/25/13', '34.72', '3.752M', '4.95M']
spot of 34.72 with type <class 'str'>
['Fr', '3/22/13', '34.72', '2.422M', '5.02M']
spot of 34.72 with type <class 'str'>
['Th', '3/21/13', '34.52', '3.195M', '5.12M']
spot of 34.52 with type <class 'str'>
['We', '3/20/13', '34.95', '2.573M', '5.271M']
spot of 34.95 with type <class 'str'>
['Tu', '3/19/13', '34.39', '4.445M', '5.332M']
spot of 34.39 with type <class 'str'>
['Mo', '3/18/13', '35.29', '3.331M', '5.378M']
spot of 35.29 with type <class 'str'>
['Fr', '3/15/13', '35.35', '10.203M', '5.482M']
spot of 35.35 with type <class 'str'>
['Th', '3/14/13', '35.89', '5.13M', '5.096M']
spot of 35.89 with type <class 'str'>
['We', '3/13/13', '35.315', '6.581M', '5.133M']
spot of 35.315 with type <class 'str'>
['Tu', '3/12/13', '34.94', '8.73M', '5.066M']
spot of 34.94 with type <class 'str'>
['Mo', '3/11/13', '33.33', '4.425M', '4.816M']
spot of 33.33 with type <class 'str'>
['Fr', '3/8/13', '32.5', '4.434M', '4.86M']
spot of 32.5 with type <class 'str'>
['Th', '3/7/13', '32.22', '5.74M', '4.8M']
spot of 32.22 with type <class 'str'>
['We', '3/6/13', '33.02', '5.379M', '4.645M']
spot of 33.02 with type <class 'str'>
['Tu', '3/5/13', '32.34', '3.913M', '4.518M']
spot of 32.34 with type <class 'str'>
['Mo', '3/4/13', '32.04', '4.806M', '4.545M']
spot of 32.04 with type <class 'str'>
['Fr', '3/1/13', '32.32', '3.921M', '4.926M']
spot of 32.32 with type <class 'str'>
['Th', '2/28/13', '32.16', '5.46M', '5.318M']
spot of 32.16 with type <class 'str'>
['We', '2/27/13', '31.97', '3.485M', '5.354M']
spot of 31.97 with type <class 'str'>
['Tu', '2/26/13', '31.33', '5.136M', '5.515M']
spot of 31.33 with type <class 'str'>
['Mo', '2/25/13', '30.84', '4.89M', '5.645M']
spot of 30.84 with type <class 'str'>
['Fr', '2/22/13', '31.84', '4.413M', '5.844M']
spot of 31.84 with type <class 'str'>
['Th', '2/21/13', '31.72', '5.675M', '6.451M']
spot of 31.72 with type <class 'str'>
['We', '2/20/13', '32.5', '5.581M', '6.469M']
spot of 32.5 with type <class 'str'>
['Tu', '2/19/13', '34.18', '4.977M', '7.208M']
spot of 34.18 with type <class 'str'>
['Fr', '2/15/13', '34.445', '5.091M', '7.465M']
spot of 34.445 with type <class 'str'>
['Th', '2/14/13', '34.95', '3.537M', '7.724M']
spot of 34.95 with type <class 'str'>
['We', '2/13/13', '35.01', '3.405M', '8.054M']
spot of 35.01 with type <class 'str'>
['Tu', '2/12/13', '34.68', '3.486M', '8.617M']
spot of 34.68 with type <class 'str'>
['Mo', '2/11/13', '35.05', '4.312M', '9.406M']
spot of 35.05 with type <class 'str'>
['Fr', '2/8/13', '35.48', '10.521M', '9.679M']
spot of 35.48 with type <class 'str'>
['Th', '2/7/13', '34.74', '9.804M', '9.472M']
spot of 34.74 with type <class 'str'>
['We', '2/6/13', '34.62', '6M', '9.146M']
spot of 34.62 with type <class 'str'>
['Tu', '2/5/13', '33.96', '5.904M', '9.282M']
spot of 33.96 with type <class 'str'>
['Mo', '2/4/13', '33.8', '7.084M', '9.639M']
spot of 33.8 with type <class 'str'>
['Fr', '2/1/13', '33.67', '7.865M', '9.65M']
spot of 33.67 with type <class 'str'>
['Th', '1/31/13', '33.98', '13.521M', '9.788M']
spot of 33.98 with type <class 'str'>
['We', '1/30/13', '33.89', '5.94M', '10.085M']
spot of 33.89 with type <class 'str'>
['Tu', '1/29/13', '33.91', '16.673M', '10.253M']
spot of 33.91 with type <class 'str'>
['Mo', '1/28/13', '37.41', '8.838M', '9.515M']
spot of 37.41 with type <class 'str'>
['Fr', '1/25/13', '37.25', '8.976M', '9.227M']
spot of 37.25 with type <class 'str'>
['Th', '1/24/13', '36.87', '8.487M', '8.958M']
spot of 36.87 with type <class 'str'>
['We', '1/23/13', '36.62', '11.842M', '8.889M']
spot of 36.62 with type <class 'str'>
['Tu', '1/22/13', '37.89', '15.327M', '8.533M']

spot of 28.58 with type <class 'str'>
['Mo', '10/15/12', '28.43', '5.773M', '8.57M']
spot of 28.43 with type <class 'str'>
['Fr', '10/12/12', '28.07', '16.903M', '8.915M']
spot of 28.07 with type <class 'str'>
['Th', '10/11/12', '28.25', '7.33M', '9M']
spot of 28.25 with type <class 'str'>
['We', '10/10/12', '28.23', '8.19M', '9.131M']
spot of 28.23 with type <class 'str'>
['Tu', '10/9/12', '28.69', '9.164M', '9.112M']
spot of 28.69 with type <class 'str'>
['Mo', '10/8/12', '29.53', '4.529M', '9.025M']
spot of 29.53 with type <class 'str'>
['Fr', '10/5/12', '29.59', '5.833M', '9.21M']
spot of 29.59 with type <class 'str'>
['Th', '10/4/12', '29.995', '10.938M', '9.858M']
spot of 29.995 with type <class 'str'>
['We', '10/3/12', '30.05', '8.422M', '9.768M']
spot of 30.05 with type <class 'str'>
['Tu', '10/2/12', '30.285', '8.16M', '9.812M']
spot of 30.285 with type <class 'str'>
['Mo', '10/1/12', '30.085', '9.397M', '9.894M']
spot of 30.085 with type <class 'str'>
['Fr', '9/28/12', '30.96', '9.11M', '10.12M']
spot of 30.96 with type <class 'str'>
['Th', '9/27/12', '31.93', '6.553M', '10.394M']
spot of 31.93 with type <class 'str'>
['We', '9/26/12', '30.98', '7.493M', '11.181M']
spot of 30.98 with type <class 'str'>
['Tu', '9/25/12', '31.55', '10.753M', '11.128M']
spot of 31.55 with type <class 'str'>
['Mo', '9/24/12', '31.36', '10.949M', '10.976M']
spot of 31.36 with type <class 'str'>
['Fr', '9/21/12', '30.955', '18.176M', '11.05M']
spot of 30.955 with type <class 'str'>
['Th', '9/20/12', '30.0204', '9.301M', '10.568M']
spot of 30.0204 with type <class 'str'>
['We', '9/19/12', '29.47', '7.906M', '10.29M']
spot of 29.47 with type <class 'str'>
['Tu', '9/18/12', '29.69', '7.847M', '10.34M']
spot of 29.69 with type <class 'str'>
['Mo', '9/17/12', '29.75', '7.304M', '10.232M']
spot of 29.75 with type <class 'str'>
['Fr', '9/14/12', '30.48', '15.565M', '10.374M']
spot of 30.48 with type <class 'str'>
['Th', '9/13/12', '30.315', '9.59M', '10.245M']
spot of 30.315 with type <class 'str'>
['We', '9/12/12', '30', '9.073M', '10.48M']
spot of 30 with type <class 'str'>
['Tu', '9/11/12', '30.11', '9.387M', '10.476M']
spot of 30.11 with type <class 'str'>
['Mo', '9/10/12', '29.87', '12.793M', '10.362M']
spot of 29.87 with type <class 'str'>
['Fr', '9/7/12', '30.6', '13.225M', '10.382M']
spot of 30.6 with type <class 'str'>
['Th', '9/6/12', '31.7', '18.355M', '9.944M']
spot of 31.7 with type <class 'str'>
['We', '9/5/12', '32.53', '6.696M', '9.07M']
spot of 32.53 with type <class 'str'>
['Tu', '9/4/12', '32.4', '8.467M', '9.184M']
spot of 32.4 with type <class 'str'>
['Fr', '8/31/12', '32.01', '12.065M', '9.218M']
spot of 32.01 with type <class 'str'>
['Th', '8/30/12', '32.21', '10.942M', '9.505M']
spot of 32.21 with type <class 'str'>
['We', '8/29/12', '33.59', '5.128M', '9.705M']
spot of 33.59 with type <class 'str'>
['Tu', '8/28/12', '33.67', '8.656M', '10.553M']
spot of 33.67 with type <class 'str'>
['Mo', '8/27/12', '33.85', '6.228M', '10.835M']
spot of 33.85 with type <class 'str'>
['Fr', '8/24/12', '34.06', '9.439M', '11.125M']
spot of 34.06 with type <class 'str'>
['Th', '8/23/12', '33.69', '13.623M', '11.11M']
spot of 33.69 with type <class 'str'>
['We', '8/22/12', '35.17', '13.122M', '10.773M']
spot of 35.17 with type <class 'str'>
['Tu', '8/21/12', '34.72', '9.009M', '10.555M']
spot of 34.72 with type <class 'str'>
['Mo', '8/20/12', '35.08', '7.681M', '11.303M']
spot of 35.08 with type <class 'str'>
['Fr', '8/17/12', '35.67', '13.088M', '11.662M']
spot of 35.67 with type <class 'str'>
['Th', '8/16/12', '34.62', '6.665M', '11.532M']
spot of 34.62 with type <class 'str'>
['We', '8/15/12', '34.11', '5.245M', '12.987M']
spot of 34.11 with type <class 'str'>
['Tu', '8/14/12', '34.05', '8.396M', '13.159M']
spot of 34.05 with type <class 'str'>
['Mo', '8/13/12', '34.2', '8.98M', '13.046M']
spot of 34.2 with type <class 'str'>
['Fr', '8/10/12', '34.18', '16.377M', '12.91M']
spot of 34.18 with type <class 'str'>
['Th', '8/9/12', '33.09', '13.936M', '12.346M']
spot of 33.09 with type <class 'str'>
['We', '8/8/12', '32.65', '17.851M', '11.948M']
spot of 32.65 with type <class 'str'>
['Tu', '8/7/12', '32.59', '12.876M', '11.39M']
spot of 32.59 with type <class 'str'>
['Mo', '8/6/12', '31.9', '10.59M', '11.311M']
spot of 31.9 with type <class 'str'>
['Fr', '8/3/12', '30.94', '9.204M', '11.055M']
spot of 30.94 with type <class 'str'>
['Th', '8/2/12', '29.96', '8.569M', '10.76M']
spot of 29.96 with type <class 'str'>
['We', '8/1/12', '30.23', '9.855M', '10.669M']
spot of 30.23 with type <class 'str'>
['Tu', '7/31/12', '30.02', '20.231M', '10.479M']
spot of 30.02 with type <class 'str'>
['Mo', '7/30/12', '30.43', '13.062M', '9.816M']
spot of 30.43 with type <class 'str'>
['Fr', '7/27/12', '30.01', '11.145M', '9.766M']
spot of 30.01 with type <class 'str'>
['Th', '7/26/12', '30.06', '28.481M', '10.187M']
spot of 30.06 with type <class 'str'>
['We', '7/25/12', '26.31', '7.836M', '8.793M']
spot of 26.31 with type <class 'str'>
['Tu', '7/24/12', '26.455', '6.694M', '8.668M']
spot of 26.455 with type <class 'str'>
['Mo', '7/23/12', '26.55', '6.94M', '9.125M']
spot of 26.55 with type <class 'str'>
['Fr', '7/20/12', '26.8', '7.913M', '14.638M']
spot of 26.8 with type <class 'str'>
['Th', '7/19/12', '27.165', '7.976M', '15.431M']
spot of 27.165 with type <class 'str'>
['We', '7/18/12', '27.53', '9.485M', '15.514M']
spot of 27.53 with type <class 'str'>
['Tu', '7/17/12', '26.77', '11.692M', '16.219M']
spot of 26.77 with type <class 'str'>
['Mo', '7/16/12', '26.04', '6.747M', '16.152M']
spot of 26.04 with type <class 'str'>
['Fr', '7/13/12', '25.81', '4.779M', '16.183M']
spot of 25.81 with type <class 'str'>
['Th', '7/12/12', '25.23', '7.194M', '16.628M']
spot of 25.23 with type <class 'str'>
['We', '7/11/12', '25.37', '7.016M', '16.561M']
spot of 25.37 with type <class 'str'>
['Tu', '7/10/12', '25.35', '10.272M', '16.491M']
spot of 25.35 with type <class 'str'>
['Mo', '7/9/12', '25.97', '12.316M', '16.176M']
spot of 25.97 with type <class 'str'>
['Fr', '7/6/12', '24.955', '17.472M', '15.855M']
spot of 24.955 with type <class 'str'>
['Th', '7/5/12', '25.08', '7.562M', '15.254M']
spot of 25.08 with type <class 'str'>
['Tu', '7/3/12', '25.13', '5.963M', '15.661M']
spot of 25.13 with type <class 'str'>
['Mo', '7/2/12', '24.555', '13.548M', '15.915M']
spot of 24.555 with type <class 'str'>
['Fr', '6/29/12', '24.73', '89.63M', '15.561M']
spot of 24.73 with type <class 'str'>
['Th', '6/28/12', '23.25', '19.818M', '10.21M']
spot of 23.25 with type <class 'str'>
['We', '6/27/12', '24.53', '9.215M', '9.822M']
spot of 24.53 with type <class 'str'>
['Tu', '6/26/12', '24.12', '20.063M', '9.967M']
spot of 24.12 with type <class 'str'>
['Mo', '6/25/12', '23.27', '10.678M', '9.388M']
spot of 23.27 with type <class 'str'>
['Fr', '6/22/12', '23.34', '7.221M', '9.514M']
spot of 23.34 with type <class 'str'>
['Th', '6/21/12', '22.68', '11.453M', '10.763M']
spot of 22.68 with type <class 'str'>
['We', '6/20/12', '24.32', '6.186M', '11.364M']
spot of 24.32 with type <class 'str'>
['Tu', '6/19/12', '24.48', '5.967M', '11.846M']
spot of 24.48 with type <class 'str'>
['Mo', '6/18/12', '23.84', '5.542M', '12.808M']
spot of 23.84 with type <class 'str'>
['Fr', '6/15/12', '23.57', '7.511M', '12.879M']
spot of 23.57 with type <class 'str'>
['Th', '6/14/12', '23.44', '8.453M', '13.481M']
spot of 23.44 with type <class 'str'>
['We', '6/13/12', '23.845', '13.673M', '14.116M']
spot of 23.845 with type <class 'str'>
['Tu', '6/12/12', '23.19', '9.773M', '14.546M']
spot of 23.19 with type <class 'str'>
['Mo', '6/11/12', '22.56', '8.235M', '14.807M']
spot of 22.56 with type <class 'str'>
['Fr', '6/8/12', '23.39', '9.367M', '15.583M']
spot of 23.39 with type <class 'str'>
['Th', '6/7/12', '22.66', '13.994M', '15.83M']
spot of 22.66 with type <class 'str'>
['We', '6/6/12', '23.67', '11.393M', '15.548M']
spot of 23.67 with type <class 'str'>
['Tu', '6/5/12', '22.6', '11.369M', '15.372M']
spot of 22.6 with type <class 'str'>
['Mo', '6/4/12', '22.14', '12.569M', '15.281M']
spot of 22.14 with type <class 'str'>
['Fr', '6/1/12', '21.74', '25.965M', '15.007M']
spot of 21.74 with type <class 'str'>
['Th', '5/31/12', '23.43', '20.466M', '14.131M']
spot of 23.43 with type <class 'str'>
['We', '5/30/12', '24.32', '13.418M', '13.306M']
spot of 24.32 with type <class 'str'>
['Tu', '5/29/12', '25.03', '20.395M', '13.062M']
spot of 25.03 with type <class 'str'>
['Fr', '5/25/12', '26.18', '6.597M', '12.403M']
spot of 26.18 with type <class 'str'>
['Th', '5/24/12', '26.39', '16.545M', '12.593M']
spot of 26.39 with type <class 'str'>
['We', '5/23/12', '25.78', '17.98M', '12.258M']
spot of 25.78 with type <class 'str'>
['Tu', '5/22/12', '26.36', '20.124M', '11.763M']
spot of 26.36 with type <class 'str'>
['Mo', '5/21/12', '27.85', '13.689M', '11.978M']
spot of 27.85 with type <class 'str'>
['Fr', '5/18/12', '26.91', '19.881M', '12.171M']
spot of 26.91 with type <class 'str'>
['Th', '5/17/12', '28.67', '13.069M', '12.929M']
spot of 28.67 with type <class 'str'>
['We', '5/16/12', '30.24', '9.755M', '12.694M']
spot of 30.24 with type <class 'str'>
['Tu', '5/15/12', '31.31', '8.756M', '12.994M']
spot of 31.31 with type <class 'str'>
['Mo', '5/14/12', '31.37', '10.011M', '13.053M']
spot of 31.37 with type <class 'str'>
['Fr', '5/11/12', '31.14', '8.456M', '13.271M']
spot of 31.14 with type <class 'str'>
['Th', '5/10/12', '31.47', '12.822M', '13.515M']
spot of 31.47 with type <class 'str'>
['We', '5/9/12', '30.57', '8.096M', '13.733M']
spot of 30.57 with type <class 'str'>
['Tu', '5/8/12', '30.41', '9.754M', '15.206M']
spot of 30.41 with type <class 'str'>
['Mo', '5/7/12', '31.01', '10.509M', '15.935M']
spot of 31.01 with type <class 'str'>
['Fr', '5/4/12', '30.43', '9.443M', '16.601M']
spot of 30.43 with type <class 'str'>
['Th', '5/3/12', '31.24', '11.52M', '16.654M']
spot of 31.24 with type <class 'str'>
['We', '5/2/12', '32.21', '10.554M', '16.43M']
spot of 32.21 with type <class 'str'>
['Tu', '5/1/12', '31.89', '23.353M', '16.31M']
spot of 31.89 with type <class 'str'>
['Mo', '4/30/12', '30.76', '16.584M', '15.313M']
spot of 30.76 with type <class 'str'>
['Fr', '4/27/12', '29.58', '31.259M', '14.936M']
spot of 29.58 with type <class 'str'>
['Th', '4/26/12', '31.09', '9.546M', '14.956M']
spot of 31.09 with type <class 'str'>
['We', '4/25/12', '31.02', '14.241M', '14.94M']
spot of 31.02 with type <class 'str'>
['Tu', '4/24/12', '29.84', '9.651M', '14.584M']
spot of 29.84 with type <class 'str'>
['Mo', '4/23/12', '29.32', '13.271M', '14.599M']
spot of 29.32 with type <class 'str'>
['Fr', '4/20/12', '29.21', '12.127M', '14.118M']
spot of 29.21 with type <class 'str'>
['Th', '4/19/12', '28.77', '16.092M', '13.767M']
spot of 28.77 with type <class 'str'>
['We', '4/18/12', '28.96', '30.187M', '13.283M']
spot of 28.96 with type <class 'str'>
['Tu', '4/17/12', '27.89', '20.696M', '11.718M']
spot of 27.89 with type <class 'str'>
['Mo', '4/16/12', '28.505', '20.486M', '10.715M']
spot of 28.505 with type <class 'str'>
['Fr', '4/13/12', '27.38', '10.248M', '9.921M']
spot of 27.38 with type <class 'str'>
['Th', '4/12/12', '26.985', '8.161M', '10.061M']
spot of 26.985 with type <class 'str'>
['We', '4/11/12', '25.89', '8.749M', '9.98M']
spot of 25.89 with type <class 'str'>
['Tu', '4/10/12', '25.64', '8.391M', '9.854M']
spot of 25.64 with type <class 'str'>
['Mo', '4/9/12', '26.513', '10.942M', '9.874M']
spot of 26.513 with type <class 'str'>
['Th', '4/5/12', '25.72', '31.555M', '10.175M']
spot of 25.72 with type <class 'str'>
['We', '4/4/12', '27.44', '9.308M', '8.983M']
spot of 27.44 with type <class 'str'>
['Tu', '4/3/12', '27.89', '8.895M', '9.018M']
spot of 27.89 with type <class 'str'>
['Mo', '4/2/12', '27.96', '9.876M', '9.01M']
spot of 27.96 with type <class 'str'>
['Fr', '3/30/12', '26.955', '6.05M', '8.76M']
spot of 26.955 with type <class 'str'>
['Th', '3/29/12', '27.09', '6.864M', '8.96M']
spot of 27.09 with type <class 'str'>
['We', '3/28/12', '27.23', '8.83M', '9.287M']
spot of 27.23 with type <class 'str'>
['Tu', '3/27/12', '27.35', '6.719M', '9.239M']
spot of 27.35 with type <class 'str'>
['Mo', '3/26/12', '27.9', '5.655M', '9.459M']
spot of 27.9 with type <class 'str'>
['Fr', '3/23/12', '27.96', '8.567M', '9.74M']
spot of 27.96 with type <class 'str'>
['Th', '3/22/12', '27.93', '12.346M', '9.988M']
spot of 27.93 with type <class 'str'>
['We', '3/21/12', '26.71', '6.957M', '9.869M']
spot of 26.71 with type <class 'str'>
['Tu', '3/20/12', '26.57', '6.848M', '10.09M']
spot of 26.57 with type <class 'str'>
['Mo', '3/19/12', '26.44', '8.69M', '10.112M']
spot of 26.44 with type <class 'str'>
['Fr', '3/16/12', '26.71', '15.466M', '10.259M']
spot of 26.71 with type <class 'str'>
['Th', '3/15/12', '26.58', '13.669M', '9.892M']
spot of 26.58 with type <class 'str'>
['We', '3/14/12', '27.43', '9.831M', '9.638M']
spot of 27.43 with type <class 'str'>
['Tu', '3/13/12', '28', '8.773M', '9.428M']
spot of 28 with type <class 'str'>
['Mo', '3/12/12', '27.88', '6.136M', '9.172M']
spot of 27.88 with type <class 'str'>
['Fr', '3/9/12', '28.33', '9.048M', '9.217M']
spot of 28.33 with type <class 'str'>
['Th', '3/8/12', '27.98', '11.77M', '9.281M']
spot of 27.98 with type <class 'str'>
['We', '3/7/12', '27.62', '8.109M', '9.139M']
spot of 27.62 with type <class 'str'>
['Tu', '3/6/12', '26.905', '10.013M', '9.156M']
spot of 26.905 with type <class 'str'>
['Mo', '3/5/12', '27.66', '9.878M', '9.161M']
spot of 27.66 with type <class 'str'>
['Fr', '3/2/12', '27.28', '12.285M', '9.506M']
spot of 27.28 with type <class 'str'>
['Th', '3/1/12', '27.36', '10.559M', '9.635M']
spot of 27.36 with type <class 'str'>
['We', '2/29/12', '26.26', '10.275M', '9.668M']
spot of 26.26 with type <class 'str'>
['Tu', '2/28/12', '27.08', '7.178M', '9.921M']
spot of 27.08 with type <class 'str'>
['Mo', '2/27/12', '26.71', '10.898M', '10.261M']
spot of 26.71 with type <class 'str'>
['Fr', '2/24/12', '27.49', '9.957M', '10.44M']
spot of 27.49 with type <class 'str'>
['Th', '2/23/12', '27.11', '9.857M', '11.533M']
spot of 27.11 with type <class 'str'>
['We', '2/22/12', '26.455', '6.679M', '15.903M']
spot of 26.455 with type <class 'str'>
['Tu', '2/21/12', '26.72', '4.935M', '16.538M']
spot of 26.72 with type <class 'str'>
['Fr', '2/17/12', '26.88', '6.814M', '16.798M']
spot of 26.88 with type <class 'str'>
['Th', '2/16/12', '27.18', '9.998M', '17.582M']
spot of 27.18 with type <class 'str'>
['We', '2/15/12', '26.2', '9.649M', '17.405M']
spot of 26.2 with type <class 'str'>
['Tu', '2/14/12', '26.6', '8.364M', '17.326M']
spot of 26.6 with type <class 'str'>
['Mo', '2/13/12', '26.05', '10.089M', '17.757M']
spot of 26.05 with type <class 'str'>
['Fr', '2/10/12', '26.195', '15.05M', '18.102M']
spot of 26.195 with type <class 'str'>
['Th', '2/9/12', '26.68', '14.218M', '17.894M']
spot of 26.68 with type <class 'str'>
['We', '2/8/12', '27', '11.064M', '17.428M']
spot of 27 with type <class 'str'>
['Tu', '2/7/12', '26.67', '14.067M', '17.283M']
spot of 26.67 with type <class 'str'>
['Mo', '2/6/12', '26.395', '12.273M', '17.23M']
spot of 26.395 with type <class 'str'>
['Fr', '2/3/12', '26.415', '13.584M', '17.136M']
spot of 26.415 with type <class 'str'>
['Th', '2/2/12', '25.745', '26.351M', '17.803M']
spot of 25.745 with type <class 'str'>
['We', '2/1/12', '25.53', '75.409M', '16.525M']
spot of 25.53 with type <class 'str'>
['Tu', '1/31/12', '21.14', '16.201M', '12.175M']
spot of 21.14 with type <class 'str'>
['Mo', '1/30/12', '20.89', '8.839M', '11.672M']
spot of 20.89 with type <class 'str'>
['Fr', '1/27/12', '20.77', '18.577M', '11.869M']
spot of 20.77 with type <class 'str'>
['Th', '1/26/12', '19.8', '7.336M', '12.502M']
spot of 19.8 with type <class 'str'>
['We', '1/25/12', '19.77', '8.465M', '12.581M']
spot of 19.77 with type <class 'str'>
['Tu', '1/24/12', '19.75', '14.837M', '12.424M']
spot of 19.75 with type <class 'str'>
['Mo', '1/23/12', '19.68', '15.263M', '11.98M']
spot of 19.68 with type <class 'str'>
['Fr', '1/20/12', '20.02', '11.929M', '11.198M']
spot of 20.02 with type <class 'str'>
['Th', '1/19/12', '19.84', '7.223M', '10.724M']
spot of 19.84 with type <class 'str'>
['We', '1/18/12', '19.75', '8.891M', '10.64M']
spot of 19.75 with type <class 'str'>
['Tu', '1/17/12', '19.43', '13.27M', '10.227M']
spot of 19.43 with type <class 'str'>
['Fr', '1/13/12', '19.54', '10.864M', '9.637M']
spot of 19.54 with type <class 'str'>
['Th', '1/12/12', '19.37', '23.588M', '9.405M']
spot of 19.37 with type <class 'str'>
['We', '1/11/12', '18.69', '7.19M', '8.42M']
spot of 18.69 with type <class 'str'>
['Tu', '1/10/12', '18.6', '10.15M', '8.272M']
spot of 18.6 with type <class 'str'>
['Mo', '1/9/12', '18.19', '8.663M', '8.211M']
spot of 18.19 with type <class 'str'>
['Fr', '1/6/12', '18.295', '11.793M', '8.07M']
spot of 18.295 with type <class 'str'>
['Th', '1/5/12', '17.9', '28.075M', '7.833M']
spot of 17.9 with type <class 'str'>
['We', '1/4/12', '16.82', '8.512M', '6.512M']
spot of 16.82 with type <class 'str'>
['Tu', '1/3/12', '16.43', '6.11M', '6.498M']
spot of 16.43 with type <class 'str'>
['Fr', '12/30/11', '16.4', '8.172M', '6.519M']
spot of 16.4 with type <class 'str'>
['Th', '12/29/11', '15.85', '3.537M', '6.453M']
spot of 15.85 with type <class 'str'>
['We', '12/28/11', '15.585', '4.827M', '6.71M']
spot of 15.585 with type <class 'str'>
['Tu', '12/27/11', '15.82', '5.962M', '6.797M']
spot of 15.82 with type <class 'str'>
['Fr', '12/23/11', '16.155', '2.687M', '7.094M']
spot of 16.155 with type <class 'str'>
['Th', '12/22/11', '16', '4.42M', '8.24M']
spot of 16 with type <class 'str'>
['We', '12/21/11', '15.96', '7.387M', '8.574M']
spot of 15.96 with type <class 'str'>
['Tu', '12/20/11', '15.735', '8.812M', '8.8M']
spot of 15.735 with type <class 'str'>
['Mo', '12/19/11', '15.07', '4.976M', '9.015M']
spot of 15.07 with type <class 'str'>
['Fr', '12/16/11', '15.43', '9.23M', '9.093M']
spot of 15.43 with type <class 'str'>
['Th', '12/15/11', '15.38', '6.55M', '8.607M']
spot of 15.38 with type <class 'str'>
['We', '12/14/11', '15.47', '8.241M', '8.666M']
spot of 15.47 with type <class 'str'>
['Tu', '12/13/11', '15.83', '8.26M', '8.446M']
spot of 15.83 with type <class 'str'>
['Mo', '12/12/11', '16.36', '8.299M', '8.414M']
spot of 16.36 with type <class 'str'>
['Fr', '12/9/11', '16.16', '6.427M', '8.777M']
spot of 16.16 with type <class 'str'>
['Th', '12/8/11', '15.7', '7.174M', '9.124M']
spot of 15.7 with type <class 'str'>
['We', '12/7/11', '16.32', '7.397M', '9.563M']
spot of 16.32 with type <class 'str'>
['Tu', '12/6/11', '16.4', '6.14M', '9.661M']
spot of 16.4 with type <class 'str'>
['Mo', '12/5/11', '16.58', '10.409M', '9.739M']
spot of 16.58 with type <class 'str'>
['Fr', '12/2/11', '16.17', '19.874M', '9.844M']
spot of 16.17 with type <class 'str'>
['Th', '12/1/11', '17.4', '9.43M', '9.394M']
spot of 17.4 with type <class 'str'>
['We', '11/30/11', '17.1', '10.785M', '9.487M']
spot of 17.1 with type <class 'str'>
['Tu', '11/29/11', '16.58', '12.04M', '9.737M']
spot of 16.58 with type <class 'str'>
['Mo', '11/28/11', '15.99', '6.134M', '9.741M']
spot of 15.99 with type <class 'str'>
['Fr', '11/25/11', '15.16', '1.95M', '10.658M']
spot of 15.16 with type <class 'str'>
['We', '11/23/11', '15.43', '7.429M', '11.799M']
spot of 15.43 with type <class 'str'>
['Tu', '11/22/11', '15.99', '4.941M', '12.34M']
spot of 15.99 with type <class 'str'>
['Mo', '11/21/11', '16.15', '7.777M', '13.122M']
spot of 16.15 with type <class 'str'>
['Fr', '11/18/11', '16.01', '13.749M', '13.273M']
spot of 16.01 with type <class 'str'>
['Th', '11/17/11', '16.76', '11.632M', '12.827M']
spot of 16.76 with type <class 'str'>
['We', '11/16/11', '17.19', '13.753M', '12.946M']
spot of 17.19 with type <class 'str'>
['Tu', '11/15/11', '17.52', '8.879M', '13.498M']
spot of 17.52 with type <class 'str'>
['Mo', '11/14/11', '17.76', '7.302M', '13.825M']
spot of 17.76 with type <class 'str'>
['Fr', '11/11/11', '17.94', '11.992M', '14.505M']
spot of 17.94 with type <class 'str'>

['Tu', '8/9/11', '11.31', '15.823M', '15.996M']
spot of 11.31 with type <class 'str'>
['Mo', '8/8/11', '10.88', '19.021M', '15.56M']
spot of 10.88 with type <class 'str'>
['Fr', '8/5/11', '12.06', '17.73M', '14.765M']
spot of 12.06 with type <class 'str'>
['Th', '8/4/11', '12.07', '17.234M', '13.976M']
spot of 12.07 with type <class 'str'>
['We', '8/3/11', '12.76', '16.845M', '13.408M']
spot of 12.76 with type <class 'str'>
['Tu', '8/2/11', '13.2', '9.468M', '12.674M']
spot of 13.2 with type <class 'str'>
['Mo', '8/1/11', '13.84', '11.548M', '12.514M']
spot of 13.84 with type <class 'str'>
['Fr', '7/29/11', '13.89', '11.228M', '12.231M']
spot of 13.89 with type <class 'str'>
['Th', '7/28/11', '14.26', '7.79M', '12.094M']
spot of 14.26 with type <class 'str'>
['We', '7/27/11', '14.33', '11.287M', '12.522M']
spot of 14.33 with type <class 'str'>
['Tu', '7/26/11', '14.77', '10.436M', '12.234M']
spot of 14.77 with type <class 'str'>
['Mo', '7/25/11', '14.65', '13.578M', '11.971M']
spot of 14.65 with type <class 'str'>
['Fr', '7/22/11', '14.57', '17.824M', '11.425M']
spot of 14.57 with type <class 'str'>
['Th', '7/21/11', '14.13', '44.941M', '10.804M']
spot of 14.13 with type <class 'str'>
['We', '7/20/11', '16.99', '15.183M', '8.197M']
spot of 16.99 with type <class 'str'>
['Tu', '7/19/11', '16.93', '9.287M', '7.744M']
spot of 16.93 with type <class 'str'>
['Mo', '7/18/11', '16.53', '7.095M', '7.761M']
spot of 16.53 with type <class 'str'>
['Fr', '7/15/11', '16.81', '5.893M', '10.414M']
spot of 16.81 with type <class 'str'>
['Th', '7/14/11', '16.68', '8.714M', '11.24M']
spot of 16.68 with type <class 'str'>
['We', '7/13/11', '16.83', '5.841M', '11.429M']
spot of 16.83 with type <class 'str'>
['Tu', '7/12/11', '16.595', '7.066M', '11.744M']
spot of 16.595 with type <class 'str'>
['Mo', '7/11/11', '16.71', '7.3M', '11.659M']
spot of 16.71 with type <class 'str'>
['Fr', '7/8/11', '16.935', '9.176M', '11.922M']
spot of 16.935 with type <class 'str'>
['Th', '7/7/11', '16.64', '14.216M', '11.913M']
spot of 16.64 with type <class 'str'>
['We', '7/6/11', '16.32', '6.953M', '11.875M']
spot of 16.32 with type <class 'str'>
['Tu', '7/5/11', '16.2', '6.493M', '12.11M']
spot of 16.2 with type <class 'str'>
['Fr', '7/1/11', '16.36', '5.392M', '12.185M']
spot of 16.36 with type <class 'str'>
['Th', '6/30/11', '16.16', '8.516M', '12.348M']
spot of 16.16 with type <class 'str'>
['We', '6/29/11', '15.57', '5.827M', '12.217M']
spot of 15.57 with type <class 'str'>
['Tu', '6/28/11', '15.31', '8.396M', '12.392M']
spot of 15.31 with type <class 'str'>
['Mo', '6/27/11', '15.22', '9.533M', '12.182M']
spot of 15.22 with type <class 'str'>
['Fr', '6/24/11', '15.35', '46.886M', '11.899M']
spot of 15.35 with type <class 'str'>
['Th', '6/23/11', '15.72', '18.287M', '9.275M']
spot of 15.72 with type <class 'str'>
['We', '6/22/11', '14.97', '11.553M', '8.533M']
spot of 14.97 with type <class 'str'>
['Tu', '6/21/11', '14.78', '10.568M', '8.61M']
spot of 14.78 with type <class 'str'>
['Mo', '6/20/11', '14.37', '5.789M', '9.079M']
spot of 14.37 with type <class 'str'>
['Fr', '6/17/11', '14.25', '11.242M', '9.629M']
spot of 14.25 with type <class 'str'>
['Th', '6/16/11', '14.57', '9.046M', '9.404M']
spot of 14.57 with type <class 'str'>
['We', '6/15/11', '14.9', '13.65M', '9.382M']
spot of 14.9 with type <class 'str'>
['Tu', '6/14/11', '15.59', '10.476M', '8.874M']
spot of 15.59 with type <class 'str'>
['Mo', '6/13/11', '15.13', '7.617M', '8.533M']
spot of 15.13 with type <class 'str'>
['Fr', '6/10/11', '15.255', '7.83M', '8.559M']
spot of 15.255 with type <class 'str'>
['Th', '6/9/11', '15.38', '6.557M', '8.521M']
spot of 15.38 with type <class 'str'>
['We', '6/8/11', '15.45', '8.451M', '8.51M']
spot of 15.45 with type <class 'str'>
['Tu', '6/7/11', '15.52', '5.249M', '8.505M']
spot of 15.52 with type <class 'str'>
['Mo', '6/6/11', '15.57', '5.288M', '8.689M']
spot of 15.57 with type <class 'str'>
['Fr', '6/3/11', '15.9', '7.52M', '8.716M']
spot of 15.9 with type <class 'str'>
['Th', '6/2/11', '16.28', '7.158M', '8.719M']
spot of 16.28 with type <class 'str'>
['We', '6/1/11', '16.32', '12.708M', '8.66M']
spot of 16.32 with type <class 'str'>
['Tu', '5/31/11', '16.8', '17.603M', '8.379M']
spot of 16.8 with type <class 'str'>
['Fr', '5/27/11', '16.46', '14.038M', '7.657M']
spot of 16.46 with type <class 'str'>
['Th', '5/26/11', '16.68', '7.876M', '7.155M']
spot of 16.68 with type <class 'str'>
['We', '5/25/11', '16.76', '8.709M', '7.238M']
spot of 16.76 with type <class 'str'>
['Tu', '5/24/11', '16.92', '6.023M', '7.437M']
spot of 16.92 with type <class 'str'>
['Mo', '5/23/11', '16.76', '5.37M', '7.835M']
spot of 16.76 with type <class 'str'>
['Fr', '5/20/11', '16.93', '8.007M', '8.018M']
spot of 16.93 with type <class 'str'>
['Th', '5/19/11', '16.57', '7.262M', '8.062M']
spot of 16.57 with type <class 'str'>
['We', '5/18/11', '16.86', '6.383M', '8.288M']
spot of 16.86 with type <class 'str'>
['Tu', '5/17/11', '16.61', '8.373M', '8.787M']
spot of 16.61 with type <class 'str'>
['Mo', '5/16/11', '16.7', '8.021M', '9.081M']
spot of 16.7 with type <class 'str'>
['Fr', '5/13/11', '17.14', '5.686M', '9.549M']
spot of 17.14 with type <class 'str'>
['Th', '5/12/11', '17.19', '7.568M', '10.004M']
spot of 17.19 with type <class 'str'>
['We', '5/11/11', '17.43', '6.267M', '10.4M']
spot of 17.43 with type <class 'str'>
['Tu', '5/10/11', '17.75', '8.504M', '12.15M']
spot of 17.75 with type <class 'str'>
['Mo', '5/9/11', '17.4', '6.764M', '13.042M']
spot of 17.4 with type <class 'str'>
['Fr', '5/6/11', '17.33', '6.51M', '13.991M']
spot of 17.33 with type <class 'str'>
['Th', '5/5/11', '17.1', '9.129M', '15.219M']
spot of 17.1 with type <class 'str'>
['We', '5/4/11', '17.31', '11.68M', '15.667M']
spot of 17.31 with type <class 'str'>
['Tu', '5/3/11', '17.18', '11.997M', '15.995M']
spot of 17.18 with type <class 'str'>
['Mo', '5/2/11', '17.53', '8.121M', '16.031M']
spot of 17.53 with type <class 'str'>
['Fr', '4/29/11', '17.62', '8.663M', '18.491M']
spot of 17.62 with type <class 'str'>
['Th', '4/28/11', '17.8', '10.657M', '18.353M']
spot of 17.8 with type <class 'str'>
['We', '4/27/11', '17.96', '13.859M', '18.091M']
spot of 17.96 with type <class 'str'>
['Tu', '4/26/11', '18.14', '12.784M', '17.621M']
spot of 18.14 with type <class 'str'>
['Mo', '4/25/11', '18.2', '15.047M', '17.282M']
spot of 18.2 with type <class 'str'>
['Th', '4/21/11', '18.15', '12.51M', '17.276M']
spot of 18.15 with type <class 'str'>
['We', '4/20/11', '18.22', '13.507M', '17.095M']
spot of 18.22 with type <class 'str'>
['Tu', '4/19/11', '17.93', '32.518M', '16.82M']
spot of 17.93 with type <class 'str'>
['Mo', '4/18/11', '17.84', '21.879M', '14.963M']
spot of 17.84 with type <class 'str'>
['Fr', '4/15/11', '17.64', '21.007M', '14.013M']
spot of 17.64 with type <class 'str'>
['Th', '4/14/11', '17.09', '24.93M', '13.459M']
spot of 17.09 with type <class 'str'>
['We', '4/13/11', '16.43', '15.852M', '12.602M']
spot of 16.43 with type <class 'str'>
['Tu', '4/12/11', '16.1', '16.598M', '11.99M']
spot of 16.1 with type <class 'str'>
['Mo', '4/11/11', '15.74', '12.54M', '11.33M']
spot of 15.74 with type <class 'str'>
['Fr', '4/8/11', '15.84', '45.01M', '11.166M']
spot of 15.84 with type <class 'str'>
['Th', '4/7/11', '14.69', '6.604M', '8.941M']
spot of 14.69 with type <class 'str'>
['We', '4/6/11', '14.76', '6.725M', '9.463M']
spot of 14.76 with type <class 'str'>
['Tu', '4/5/11', '14.67', '6.809M', '9.819M']
spot of 14.67 with type <class 'str'>
['Mo', '4/4/11', '14.59', '7.696M', '10.092M']
spot of 14.59 with type <class 'str'>
['Fr', '4/1/11', '14.94', '14.959M', '10.106M']
spot of 14.94 with type <class 'str'>
['Th', '3/31/11', '14.405', '9.797M', '9.937M']
spot of 14.405 with type <class 'str'>
['We', '3/30/11', '14.71', '9.379M', '9.945M']
spot of 14.71 with type <class 'str'>
['Tu', '3/29/11', '14.28', '4.664M', '10.369M']
spot of 14.28 with type <class 'str'>
['Mo', '3/28/11', '14.31', '7.618M', '11.025M']
spot of 14.31 with type <class 'str'>
['Fr', '3/25/11', '14.42', '12.711M', '13.5M']
spot of 14.42 with type <class 'str'>
['Th', '3/24/11', '14.19', '12.073M', '13.135M']
spot of 14.19 with type <class 'str'>
['We', '3/23/11', '13.61', '6.669M', '12.987M']
spot of 13.61 with type <class 'str'>
['Tu', '3/22/11', '13.46', '6.699M', '13.257M']
spot of 13.46 with type <class 'str'>
['Mo', '3/21/11', '13.5', '10.081M', '13.761M']
spot of 13.5 with type <class 'str'>
['Fr', '3/18/11', '13.19', '11.63M', '13.904M']
spot of 13.19 with type <class 'str'>
['Th', '3/17/11', '13.23', '14.434M', '13.881M']
spot of 13.23 with type <class 'str'>
['We', '3/16/11', '12.86', '12.062M', '13.678M']
spot of 12.86 with type <class 'str'>
['Tu', '3/15/11', '13.01', '10.901M', '14.182M']
spot of 13.01 with type <class 'str'>
['Mo', '3/14/11', '13.15', '7.914M', '14.084M']
spot of 13.15 with type <class 'str'>
['Fr', '3/11/11', '13.54', '12.424M', '14.11M']
spot of 13.54 with type <class 'str'>
['Th', '3/10/11', '13.48', '9.916M', '13.804M']
spot of 13.48 with type <class 'str'>
['We', '3/9/11', '13.69', '15.736M', '13.969M']
spot of 13.69 with type <class 'str'>
['Tu', '3/8/11', '13.95', '14.499M', '13.362M']
spot of 13.95 with type <class 'str'>
['Mo', '3/7/11', '13.56', '44.75M', '12.799M']
spot of 13.56 with type <class 'str'>
['Fr', '3/4/11', '12.4375', '7.241M', '10.172M']
spot of 12.4375 with type <class 'str'>
['Th', '3/3/11', '12.65', '9.845M', '10.025M']
spot of 12.65 with type <class 'str'>
['We', '3/2/11', '12.53', '10.727M', '9.768M']
spot of 12.53 with type <class 'str'>
['Tu', '3/1/11', '12.29', '14.248M', '9.557M']
spot of 12.29 with type <class 'str'>
['Mo', '2/28/11', '12.7', '12.236M', '8.946M']
spot of 12.7 with type <class 'str'>
['Fr', '2/25/11', '12.83', '11.28M', '8.694M']
spot of 12.83 with type <class 'str'>
['Th', '2/24/11', '12.74', '11.384M', '8.293M']
spot of 12.74 with type <class 'str'>
['We', '2/23/11', '12.72', '19.633M', '8.251M']
spot of 12.72 with type <class 'str'>
['Tu', '2/22/11', '13.25', '9.426M', '7.813M']
spot of 13.25 with type <class 'str'>
['Fr', '2/18/11', '13.72', '8.3M', '7.937M']
spot of 13.72 with type <class 'str'>
['Th', '2/17/11', '13.86', '7.834M', '8.244M']
spot of 13.86 with type <class 'str'>
['We', '2/16/11', '13.88', '12.397M', '8.47M']
spot of 13.88 with type <class 'str'>
['Tu', '2/15/11', '14.22', '6.632M', '9.046M']
spot of 14.22 with type <class 'str'>
['Mo', '2/14/11', '14.29', '6.053M', '9.208M']
spot of 14.29 with type <class 'str'>
['Fr', '2/11/11', '14.39', '5.345M', '9.641M']
spot of 14.39 with type <class 'str'>
['Th', '2/10/11', '14.39', '5.041M', '10.111M']
spot of 14.39 with type <class 'str'>
['We', '2/9/11', '14.42', '5.98M', '11.885M']
spot of 14.42 with type <class 'str'>
['Tu', '2/8/11', '14.44', '7.557M', '12.446M']
spot of 14.44 with type <class 'str'>
['Mo', '2/7/11', '14.38', '5.091M', '12.517M']
spot of 14.38 with type <class 'str'>
['Fr', '2/4/11', '14.33', '8.457M', '12.729M']
spot of 14.33 with type <class 'str'>
['Th', '2/3/11', '14.23', '5.256M', '12.579M']
spot of 14.23 with type <class 'str'>
['We', '2/2/11', '14.26', '10.754M', '12.636M']
spot of 14.26 with type <class 'str'>
['Tu', '2/1/11', '13.95', '13.071M', '12.425M']
spot of 13.95 with type <class 'str'>
['Mo', '1/31/11', '14', '11.29M', '12.184M']
spot of 14 with type <class 'str'>
['Fr', '1/28/11', '13.802', '12.906M', '11.825M']
spot of 13.802 with type <class 'str'>
['Th', '1/27/11', '14', '11.212M', '11.852M']
spot of 14 with type <class 'str'>
['We', '1/26/11', '13.69', '21.045M', '11.717M']
spot of 13.69 with type <class 'str'>
['Tu', '1/25/11', '13.5', '9.065M', '10.804M']
spot of 13.5 with type <class 'str'>
['Mo', '1/24/11', '13.52', '12.55M', '10.669M']
spot of 13.52 with type <class 'str'>
['Fr', '1/21/11', '13.28', '12.393M', '10.006M']
spot of 13.28 with type <class 'str'>
['Th', '1/20/11', '13.31', '31.653M', '9.385M']
spot of 13.31 with type <class 'str'>
['We', '1/19/11', '14.13', '14.396M', '7.509M']
spot of 14.13 with type <class 'str'>
['Tu', '1/18/11', '14.58', '8.611M', '7.08M']
spot of 14.58 with type <class 'str'>
['Fr', '1/14/11', '14.2575', '8.283M', '6.961M']
spot of 14.2575 with type <class 'str'>
['Th', '1/13/11', '14.0825', '6.2M', '6.59M']
spot of 14.0825 with type <class 'str'>
['We', '1/12/11', '14.1975', '6.11M', '6.466M']
spot of 14.1975 with type <class 'str'>
['Tu', '1/11/11', '14.12', '7.596M', '6.428M']
spot of 14.12 with type <class 'str'>
['Mo', '1/10/11', '14.32', '9.446M', '6.499M']
spot of 14.32 with type <class 'str'>
['Fr', '1/7/11', '14.465', '5.914M', '6.695M']
spot of 14.465 with type <class 'str'>
['Th', '1/6/11', '14.75', '13.306M', '6.847M']
spot of 14.75 with type <class 'str'>
['We', '1/5/11', '14.7', '9.186M', '6.868M']
spot of 14.7 with type <class 'str'>
['Tu', '1/4/11', '14.78', '7.352M', '6.766M']
spot of 14.78 with type <class 'str'>
['Mo', '1/3/11', '14.97', '7.037M', '6.673M']
spot of 14.97 with type <class 'str'>
['Fr', '12/31/10', '15.03', '2.599M', '6.625M']
spot of 15.03 with type <class 'str'>
['Th', '12/30/10', '15', '3.081M', '6.906M']
spot of 15 with type <class 'str'>
['We', '12/29/10', '15.07', '3.52M', '7.279M']
spot of 15.07 with type <class 'str'>
['Tu', '12/28/10', '15.23', '7.957M', '7.935M']
spot of 15.23 with type <class 'str'>
['Mo', '12/27/10', '15.03', '6.828M', '7.854M']
spot of 15.03 with type <class 'str'>
['Th', '12/23/10', '14.8', '2.718M', '8.167M']
spot of 14.8 with type <class 'str'>
['We', '12/22/10', '14.85', '4.341M', '9.7M']
spot of 14.85 with type <class 'str'>
['Tu', '12/21/10', '14.76', '5.532M', '10.742M']
spot of 14.76 with type <class 'str'>
['Mo', '12/20/10', '14.69', '8.67M', '13.154M']
spot of 14.69 with type <class 'str'>
['Fr', '12/17/10', '14.7', '12.387M', '13.382M']
spot of 14.7 with type <class 'str'>
['Th', '12/16/10', '14.59', '8.195M', '12.877M']
spot of 14.59 with type <class 'str'>
['We', '12/15/10', '14.51', '13.609M', '12.878M']
spot of 14.51 with type <class 'str'>
['Tu', '12/14/10', '14.71', '7.657M', '13.104M']
spot of 14.71 with type <class 'str'>
['Mo', '12/13/10', '15.01', '5.956M', '14.052M']
spot of 15.01 with type <class 'str'>
['Fr', '12/10/10', '15.255', '6.319M', '15.34M']
spot of 15.255 with type <class 'str'>
['Th', '12/9/10', '15.14', '6.82M', '15.929M']
spot of 15.14 with type <class 'str'>
['We', '12/8/10', '15.07', '8.67M', '16.115M']
spot of 15.07 with type <class 'str'>
['Tu', '12/7/10', '15.16', '13.362M', '16.401M']
spot of 15.16 with type <class 'str'>
['Mo', '12/6/10', '14.85', '6.738M', '16.464M']
spot of 14.85 with type <class 'str'>
['Fr', '12/3/10', '14.98', '11.53M', '17.091M']
spot of 14.98 with type <class 'str'>
['Th', '12/2/10', '14.53', '25.719M', '17.016M']
spot of 14.53 with type <class 'str'>
['We', '12/1/10', '13.92', '19.97M', '15.795M']
spot of 13.92 with type <class 'str'>
['Tu', '11/30/10', '13.41', '41.715M', '15.074M']
spot of 13.41 with type <class 'str'>
['Mo', '11/29/10', '13.86', '12.08M', '12.712M']
spot of 13.86 with type <class 'str'>
['Fr', '11/26/10', '13.89', '4.816M', '12.474M']
spot of 13.89 with type <class 'str'>
['We', '11/24/10', '14.07', '8.208M', '12.632M']
spot of 14.07 with type <class 'str'>
['Tu', '11/23/10', '13.81', '17.002M', '12.68M']
spot of 13.81 with type <class 'str'>
['Mo', '11/22/10', '14.3425', '21.869M', '12.04M']
spot of 14.3425 with type <class 'str'>
['Fr', '11/19/10', '14.93', '25.278M', '11.228M']
spot of 14.93 with type <class 'str'>
['Th', '11/18/10', '14.22', '15.166M', '11.253M']
spot of 14.22 with type <class 'str'>
['We', '11/17/10', '13.94', '9.608M', '13.945M']
spot of 13.94 with type <class 'str'>
['Tu', '11/16/10', '13.85', '12.959M', '13.995M']
spot of 13.85 with type <class 'str'>
['Mo', '11/15/10', '14.05', '14.31M', '14.257M']
spot of 14.05 with type <class 'str'>
['Fr', '11/12/10', '14.09', '16.133M', '14.531M']
spot of 14.09 with type <class 'str'>
['Th', '11/11/10', '14.42', '10.403M', '14.246M']
spot of 14.42 with type <class 'str'>
['We', '11/10/10', '14.415', '7.409M', '15.162M']
spot of 14.415 with type <class 'str'>
['Tu', '11/9/10', '14.64', '9.16M', '16.138M']
spot of 14.64 with type <class 'str'>
['Mo', '11/8/10', '15.06', '6.283M', '17.265M']
spot of 15.06 with type <class 'str'>
['Fr', '11/5/10', '15.32', '8.504M', '19.52M']
spot of 15.32 with type <class 'str'>
['Th', '11/4/10', '14.92', '7.194M', '24.682M']
spot of 14.92 with type <class 'str'>
['We', '11/3/10', '14.68', '8.922M', '25.489M']
spot of 14.68 with type <class 'str'>
['Tu', '11/2/10', '14.785', '7.397M', '25.864M']
spot of 14.785 with type <class 'str'>
['Mo', '11/1/10', '14.55', '9.693M', '26.459M']
spot of 14.55 with type <class 'str'>
['Fr', '10/29/10', '14.71', '25.66M', '26.645M']
spot of 14.71 with type <class 'str'>
['Th', '10/28/10', '13.94', '55.541M', '26.272M']
spot of 13.94 with type <class 'str'>
['We', '10/27/10', '15.22', '10.36M', '23.637M']
spot of 15.22 with type <class 'str'>
['Tu', '10/26/10', '15.34', '16.891M', '24.331M']
spot of 15.34 with type <class 'str'>
['Mo', '10/25/10', '14.81', '18.42M', '24.491M']
spot of 14.81 with type <class 'str'>
['Fr', '10/22/10', '15.18', '11.855M', '23.97M']
spot of 15.18 with type <class 'str'>
['Th', '10/21/10', '15.225', '24.146M', '23.894M']
spot of 15.225 with type <class 'str'>
['We', '10/20/10', '15.21', '22.041M', '23.369M']
spot of 15.21 with type <class 'str'>
['Tu', '10/19/10', '15.245', '26.065M', '22.985M']
spot of 15.245 with type <class 'str'>
['Mo', '10/18/10', '15.92', '40.113M', '22.147M']
spot of 15.92 with type <class 'str'>
['Fr', '10/15/10', '15.51', '85.934M', '20.05M']
spot of 15.51 with type <class 'str'>
['Th', '10/14/10', '12.69', '19.296M', '15.506M']
spot of 12.69 with type <class 'str'>
['We', '10/13/10', '12.745', '14.548M', '15.073M']
spot of 12.745 with type <class 'str'>
['Tu', '10/12/10', '12.555', '16.318M', '15.372M']
spot of 12.555 with type <class 'str'>
['Mo', '10/11/10', '12.3', '12.492M', '17.032M']
spot of 12.3 with type <class 'str'>
['Fr', '10/8/10', '12.2', '20.065M', '16.929M']
spot of 12.2 with type <class 'str'>
['Th', '10/7/10', '11.87', '16.009M', '16.373M']
spot of 11.87 with type <class 'str'>
['We', '10/6/10', '11.49', '20.776M', '15.993M']
spot of 11.49 with type <class 'str'>
['Tu', '10/5/10', '11.93', '19.283M', '15.497M']
spot of 11.93 with type <class 'str'>
['Mo', '10/4/10', '11.48', '10.609M', '15.208M']
spot of 11.48 with type <class 'str'>
['Fr', '10/1/10', '11.69', '10.708M', '15.351M']
spot of 11.69 with type <class 'str'>
['Th', '9/30/10', '11.775', '16.27M', '15.374M']
spot of 11.775 with type <class 'str'>
['We', '9/29/10', '12.01', '16.289M', '14.948M']
spot of 12.01 with type <class 'str'>
['Tu', '9/28/10', '11.69', '13.49M', '15.068M']
spot of 11.69 with type <class 'str'>
['Mo', '9/27/10', '11.55', '8.667M', '14.739M']
spot of 11.55 with type <class 'str'>
['Fr', '9/24/10', '11.62', '17.773M', '14.729M']
spot of 11.62 with type <class 'str'>
['Th', '9/23/10', '11.09', '12.803M', '14.297M']
spot of 11.09 with type <class 'str'>
['We', '9/22/10', '11.1', '19.02M', '14.229M']
spot of 11.1 with type <class 'str'>
['Tu', '9/21/10', '11.43', '41.218M', '13.797M']
spot of 11.43 with type <class 'str'>
['Mo', '9/20/10', '11.293', '10.949M', '11.639M']
spot of 11.293 with type <class 'str'>
['Fr', '9/17/10', '11.16', '11.73M', '11.993M']
spot of 11.16 with type <class 'str'>
['Th', '9/16/10', '11.3', '10.312M', '12.199M']
spot of 11.3 with type <class 'str'>
['We', '9/15/10', '11.39', '13.338M', '12.195M']
spot of 11.39 with type <class 'str'>
['Tu', '9/14/10', '11.11', '14.95M', '12.243M']
spot of 11.11 with type <class 'str'>
['Mo', '9/13/10', '11.24', '12.741M', '11.914M']
spot of 11.24 with type <class 'str'>
['Fr', '9/10/10', '10.75', '11.056M', '12.126M']
spot of 10.75 with type <class 'str'>
['Th', '9/9/10', '11.03', '9.884M', '12.188M']
spot of 11.03 with type <class 'str'>
['We', '9/8/10', '11.04', '18.084M', '12.52M']

['Tu', '7/6/10', '12.75', '17.837M', '12.775M']
spot of 12.75 with type <class 'str'>
['Fr', '7/2/10', '13.17', '7.622M', '12.421M']
spot of 13.17 with type <class 'str'>
['Th', '7/1/10', '13.29', '16.28M', '12.859M']
spot of 13.29 with type <class 'str'>
['We', '6/30/10', '13.04', '10.645M', '12.53M']
spot of 13.04 with type <class 'str'>
['Tu', '6/29/10', '13.38', '15.202M', '13.083M']
spot of 13.38 with type <class 'str'>
['Mo', '6/28/10', '13.88', '13.068M', '13.274M']
spot of 13.88 with type <class 'str'>
['Fr', '6/25/10', '13.68', '16.682M', '13.319M']
spot of 13.68 with type <class 'str'>
['Th', '6/24/10', '13.66', '22.79M', '13.089M']
spot of 13.66 with type <class 'str'>
['We', '6/23/10', '14.31', '13.071M', '12.989M']
spot of 14.31 with type <class 'str'>
['Tu', '6/22/10', '14.45', '10.02M', '13.287M']
spot of 14.45 with type <class 'str'>
['Mo', '6/21/10', '14.87', '12.776M', '13.833M']
spot of 14.87 with type <class 'str'>
['Fr', '6/18/10', '15.35', '8.109M', '13.897M']
spot of 15.35 with type <class 'str'>
['Th', '6/17/10', '15.53', '7.558M', '14.739M']
spot of 15.53 with type <class 'str'>
['We', '6/16/10', '15.47', '8.881M', '16.006M']
spot of 15.47 with type <class 'str'>
['Tu', '6/15/10', '15.62', '11.075M', '17.524M']
spot of 15.62 with type <class 'str'>
['Mo', '6/14/10', '14.9', '12.527M', '17.53M']
spot of 14.9 with type <class 'str'>
['Fr', '6/11/10', '14.75', '14.205M', '17.968M']
spot of 14.75 with type <class 'str'>
['Th', '6/10/10', '14.88', '11.341M', '18.233M']
spot of 14.88 with type <class 'str'>
['We', '6/9/10', '14.49', '18.945M', '19.039M']
spot of 14.49 with type <class 'str'>
['Tu', '6/8/10', '14.41', '18.053M', '19.493M']
spot of 14.41 with type <class 'str'>
['Mo', '6/7/10', '14.515', '13.746M', '19.295M']
spot of 14.515 with type <class 'str'>
['Fr', '6/4/10', '15.145', '13.231M', '19.195M']
spot of 15.145 with type <class 'str'>
['Th', '6/3/10', '15.9375', '21.302M', '19.069M']
spot of 15.9375 with type <class 'str'>
['We', '6/2/10', '15.38', '17.532M', '18.33M']
spot of 15.38 with type <class 'str'>
['Tu', '6/1/10', '14.46', '18.221M', '18M']
spot of 14.46 with type <class 'str'>
['Fr', '5/28/10', '15.36', '13.729M', '17.834M']
spot of 15.36 with type <class 'str'>
['Th', '5/27/10', '15.675', '20.742M', '18.737M']
spot of 15.675 with type <class 'str'>
['We', '5/26/10', '14.86', '26.564M', '19.237M']
spot of 14.86 with type <class 'str'>
['Tu', '5/25/10', '15.52', '31.641M', '19.028M']
spot of 15.52 with type <class 'str'>
['Mo', '5/24/10', '16.14', '11.175M', '18.167M']
spot of 16.14 with type <class 'str'>
['Fr', '5/21/10', '16.35', '19.089M', '18.361M']
spot of 16.35 with type <class 'str'>
['Th', '5/20/10', '16.1', '18.181M', '18.139M']
spot of 16.1 with type <class 'str'>
['We', '5/19/10', '16.62', '23.433M', '18.182M']
spot of 16.62 with type <class 'str'>
['Tu', '5/18/10', '17.0575', '25.753M', '17.702M']
spot of 17.0575 with type <class 'str'>
['Mo', '5/17/10', '17.84', '15.089M', '16.999M']
spot of 17.84 with type <class 'str'>
['Fr', '5/14/10', '17.98', '12.248M', '16.66M']
spot of 17.98 with type <class 'str'>
['Th', '5/13/10', '18.53', '11.34M', '17.463M']
spot of 18.53 with type <class 'str'>
['We', '5/12/10', '18.99', '10.215M', '17.499M']
spot of 18.99 with type <class 'str'>
['Tu', '5/11/10', '18.4', '12.585M', '18.733M']
spot of 18.4 with type <class 'str'>
['Mo', '5/10/10', '18.4825', '15.72M', '18.807M']
spot of 18.4825 with type <class 'str'>
['Fr', '5/7/10', '17.75', '27.274M', '18.555M']
spot of 17.75 with type <class 'str'>
['Th', '5/6/10', '17.85', '28.248M', '17.715M']
spot of 17.85 with type <class 'str'>
['We', '5/5/10', '18.36', '23.43M', '16.735M']
spot of 18.36 with type <class 'str'>
['Tu', '5/4/10', '18.9', '18.727M', '16.901M']
spot of 18.9 with type <class 'str'>
['Mo', '5/3/10', '18.95', '14.08M', '17.08M']
spot of 18.95 with type <class 'str'>
['Fr', '4/30/10', '18.3525', '15.769M', '16.87M']
spot of 18.3525 with type <class 'str'>
['Th', '4/29/10', '19.14', '18.823M', '16.35M']
spot of 19.14 with type <class 'str'>
['We', '4/28/10', '19.47', '16.227M', '15.726M']
spot of 19.47 with type <class 'str'>
['Tu', '4/27/10', '19.63', '15.217M', '15.655M']
spot of 19.63 with type <class 'str'>
['Mo', '4/26/10', '20.46', '10.002M', '15.642M']
spot of 20.46 with type <class 'str'>
['Fr', '4/23/10', '20.77', '24.286M', '15.963M']
spot of 20.77 with type <class 'str'>
['Th', '4/22/10', '19.69', '11.879M', '15.084M']
spot of 19.69 with type <class 'str'>
['We', '4/21/10', '19.54', '28.734M', '15.136M']
spot of 19.54 with type <class 'str'>
['Tu', '4/20/10', '19.33', '13.691M', '14.941M']
spot of 19.33 with type <class 'str'>
['Mo', '4/19/10', '19.09', '11.934M', '14.743M']
spot of 19.09 with type <class 'str'>
['Fr', '4/16/10', '19.25', '14.678M', '15.384M']
spot of 19.25 with type <class 'str'>
['Th', '4/15/10', '19.69', '13.544M', '15.084M']
spot of 19.69 with type <class 'str'>
['We', '4/14/10', '19.2675', '25.927M', '14.889M']
spot of 19.2675 with type <class 'str'>
['Tu', '4/13/10', '18.38', '21.403M', '14.517M']
spot of 18.38 with type <class 'str'>
['Mo', '4/12/10', '19.08', '10.933M', '14.113M']
spot of 19.08 with type <class 'str'>
['Fr', '4/9/10', '19.14', '7.967M', '14.204M']
spot of 19.14 with type <class 'str'>
['Th', '4/8/10', '18.68', '9.464M', '14.132M']
spot of 18.68 with type <class 'str'>
['We', '4/7/10', '18.85', '15.17M', '14.262M']
spot of 18.85 with type <class 'str'>
['Tu', '4/6/10', '19.06', '15.021M', '14.038M']
spot of 19.06 with type <class 'str'>
['Mo', '4/5/10', '18.48', '14.816M', '13.824M']
spot of 18.48 with type <class 'str'>
['Th', '4/1/10', '18.11', '11.095M', '13.796M']
spot of 18.11 with type <class 'str'>
['We', '3/31/10', '18.26', '12.664M', '14.817M']
spot of 18.26 with type <class 'str'>
['Tu', '3/30/10', '18.17', '25.807M', '15.687M']
spot of 18.17 with type <class 'str'>
['Mo', '3/29/10', '18.9', '10.724M', '14.819M']
spot of 18.9 with type <class 'str'>
['Fr', '3/26/10', '18.93', '21.554M', '14.766M']
spot of 18.93 with type <class 'str'>
['Th', '3/25/10', '19.62', '10.17M', '14.019M']
spot of 19.62 with type <class 'str'>
['We', '3/24/10', '20.03', '10.625M', '14.376M']
spot of 20.03 with type <class 'str'>
['Tu', '3/23/10', '20.4525', '20.338M', '15.348M']
spot of 20.4525 with type <class 'str'>
['Mo', '3/22/10', '19.7075', '15.355M', '14.887M']
spot of 19.7075 with type <class 'str'>
['Fr', '3/19/10', '18.93', '12.29M', '15.238M']
spot of 18.93 with type <class 'str'>
['Th', '3/18/10', '19.32', '6.88M', '15.025M']
spot of 19.32 with type <class 'str'>
['We', '3/17/10', '19.3175', '11.421M', '16.441M']
spot of 19.3175 with type <class 'str'>
['Tu', '3/16/10', '19.13', '11.811M', '17.531M']
spot of 19.13 with type <class 'str'>
['Mo', '3/15/10', '18.78', '11.815M', '17.519M']
spot of 18.78 with type <class 'str'>
['Fr', '3/12/10', '19.27', '14.39M', '17.443M']
spot of 19.27 with type <class 'str'>
['Th', '3/11/10', '19.23', '26.406M', '17.489M']
spot of 19.23 with type <class 'str'>
['We', '3/10/10', '19.17', '25.717M', '16.891M']
spot of 19.17 with type <class 'str'>
['Tu', '3/9/10', '19.6', '12.788M', '16.065M']
spot of 19.6 with type <class 'str'>
['Mo', '3/8/10', '19.89', '9.934M', '16.482M']
spot of 19.89 with type <class 'str'>
['Fr', '3/5/10', '19.92', '10.341M', '16.585M']
spot of 19.92 with type <class 'str'>
['Th', '3/4/10', '19.73', '15.528M', '16.439M']
spot of 19.73 with type <class 'str'>
['We', '3/3/10', '19.63', '25.211M', '16.055M']
spot of 19.63 with type <class 'str'>
['Tu', '3/2/10', '21.01', '13.413M', '15.202M']
spot of 21.01 with type <class 'str'>
['Mo', '3/1/10', '21.35', '20.624M', '15.303M']
spot of 21.35 with type <class 'str'>
['Fr', '2/26/10', '19.91', '9.092M', '15.518M']
spot of 19.91 with type <class 'str'>
['Th', '2/25/10', '19.49', '28.12M', '16.345M']
spot of 19.49 with type <class 'str'>
['We', '2/24/10', '19.5', '27.781M', '15.597M']
spot of 19.5 with type <class 'str'>
['Tu', '2/23/10', '20.33', '11.631M', '14.917M']
spot of 20.33 with type <class 'str'>
['Mo', '2/22/10', '20.73', '10.665M', '15.355M']
spot of 20.73 with type <class 'str'>
['Fr', '2/19/10', '20.51', '15.08M', '16.555M']
spot of 20.51 with type <class 'str'>
['Th', '2/18/10', '20.73', '17.444M', '16.491M']
spot of 20.73 with type <class 'str'>
['We', '2/17/10', '20', '13.328M', '16.356M']
spot of 20 with type <class 'str'>
['Tu', '2/16/10', '19.73', '19.038M', '16.535M']
spot of 19.73 with type <class 'str'>
['Fr', '2/12/10', '18.7', '11.482M', '16.305M']
spot of 18.7 with type <class 'str'>
['Th', '2/11/10', '18.76', '8.142M', '16.88M']
spot of 18.76 with type <class 'str'>
['We', '2/10/10', '18.48', '9.77M', '18.681M']
spot of 18.48 with type <class 'str'>
['Tu', '2/9/10', '18.33', '12.415M', '19.115M']
spot of 18.33 with type <class 'str'>
['Mo', '2/8/10', '18.18', '14.938M', '18.808M']
spot of 18.18 with type <class 'str'>
['Fr', '2/5/10', '18.02', '23.837M', '18.726M']
spot of 18.02 with type <class 'str'>
['Th', '2/4/10', '18.02', '21.506M', '17.564M']
spot of 18.02 with type <class 'str'>
['We', '2/3/10', '18.84', '16.905M', '16.717M']
spot of 18.84 with type <class 'str'>
['Tu', '2/2/10', '18.58', '17.574M', '16.358M']
spot of 18.58 with type <class 'str'>
['Mo', '2/1/10', '17.9', '18.206M', '15.953M']
spot of 17.9 with type <class 'str'>
['Fr', '1/29/10', '16.71', '28.655M', '15.494M']
spot of 16.71 with type <class 'str'>
['Th', '1/28/10', '18.36', '14.128M', '14.155M']
spot of 18.36 with type <class 'str'>
['We', '1/27/10', '19.08', '15.418M', '13.691M']
spot of 19.08 with type <class 'str'>
['Tu', '1/26/10', '19.31', '16.018M', '13.632M']
spot of 19.31 with type <class 'str'>
['Mo', '1/25/10', '18.92', '15.583M', '13.305M']
spot of 18.92 with type <class 'str'>
['Fr', '1/22/10', '18.4', '20.112M', '12.668M']
spot of 18.4 with type <class 'str'>
['Th', '1/21/10', '19.49', '35.144M', '11.959M']
spot of 19.49 with type <class 'str'>
['We', '1/20/10', '17.76', '16.284M', '10.09M']
spot of 17.76 with type <class 'str'>
['Tu', '1/19/10', '18.16', '7.806M', '9.334M']
spot of 18.16 with type <class 'str'>
['Fr', '1/15/10', '17.77', '13.717M', '8.947M']
spot of 17.77 with type <class 'str'>
['Th', '1/14/10', '18.34', '6.399M', '8.409M']
spot of 18.34 with type <class 'str'>
['We', '1/13/10', '18.19', '8.8M', '8.456M']
spot of 18.19 with type <class 'str'>
['Tu', '1/12/10', '17.72', '11.523M', '8.541M']
spot of 17.72 with type <class 'str'>
['Mo', '1/11/10', '18.35', '11.498M', '8.447M']
spot of 18.35 with type <class 'str'>
['Fr', '1/8/10', '17.89', '11.331M', '8.285M']
spot of 17.89 with type <class 'str'>
['Th', '1/7/10', '18.04', '8.559M', '8.41M']
spot of 18.04 with type <class 'str'>
['We', '1/6/10', '18.39', '7.171M', '8.134M']
spot of 18.39 with type <class 'str'>
['Tu', '1/5/10', '18.52', '14.537M', '7.964M']
spot of 18.52 with type <class 'str'>
['Mo', '1/4/10', '18.89', '11.117M', '7.373M']
spot of 18.89 with type <class 'str'>
['Th', '12/31/09', '18.19', '6.023M', '7.228M']
spot of 18.19 with type <class 'str'>
['We', '12/30/09', '18.44', '9.472M', '7.246M']
spot of 18.44 with type <class 'str'>
['Tu', '12/29/09', '17.81', '7.12M', '6.991M']
spot of 17.81 with type <class 'str'>
['Mo', '12/28/09', '17.97', '4.94M', '6.929M']
spot of 17.97 with type <class 'str'>
['Th', '12/24/09', '18.07', '1.995M', '7.455M']
spot of 18.07 with type <class 'str'>
['We', '12/23/09', '17.95', '5.651M', '7.967M']
spot of 17.95 with type <class 'str'>
['Tu', '12/22/09', '17.83', '7.104M', '8.63M']
spot of 17.83 with type <class 'str'>
['Mo', '12/21/09', '17.68', '10.067M', '8.736M']
spot of 17.68 with type <class 'str'>
['Fr', '12/18/09', '17.46', '10.124M', '8.613M']
spot of 17.46 with type <class 'str'>
['Th', '12/17/09', '17.27', '9.06M', '8.212M']
spot of 17.27 with type <class 'str'>
['We', '12/16/09', '17.26', '13.206M', '8.159M']
spot of 17.26 with type <class 'str'>
['Tu', '12/15/09', '16.4', '4.423M', '7.695M']
spot of 16.4 with type <class 'str'>
['Mo', '12/14/09', '16.57', '4.615M', '8.011M']
spot of 16.57 with type <class 'str'>
['Fr', '12/11/09', '16.43', '5.676M', '8.381M']
spot of 16.43 with type <class 'str'>
['Th', '12/10/09', '16.51', '8.94M', '8.633M']
spot of 16.51 with type <class 'str'>
['We', '12/9/09', '16.71', '6.303M', '8.935M']
spot of 16.71 with type <class 'str'>
['Tu', '12/8/09', '16.39', '5.647M', '9.367M']
spot of 16.39 with type <class 'str'>
['Mo', '12/7/09', '16.62', '6.184M', '9.64M']
spot of 16.62 with type <class 'str'>
['Fr', '12/4/09', '16.69', '12.827M', '9.784M']
spot of 16.69 with type <class 'str'>
['Th', '12/3/09', '16.35', '9.673M', '10.269M']
spot of 16.35 with type <class 'str'>
['We', '12/2/09', '16.48', '15.6M', '10.247M']
spot of 16.48 with type <class 'str'>
['Tu', '12/1/09', '15.74', '8.698M', '9.732M']
spot of 15.74 with type <class 'str'>
['Mo', '11/30/09', '15.13', '8.218M', '9.553M']
spot of 15.13 with type <class 'str'>
['Fr', '11/27/09', '15.54', '4.102M', '9.439M']
spot of 15.54 with type <class 'str'>
['We', '11/25/09', '15.89', '8.27M', '9.86M']
spot of 15.89 with type <class 'str'>
['Tu', '11/24/09', '15.67', '6.25M', '10.39M']
spot of 15.67 with type <class 'str'>
['Mo', '11/23/09', '15.92', '9.165M', '10.8M']
spot of 15.92 with type <class 'str'>
['Fr', '11/20/09', '15.59', '10.167M', '10.82M']
spot of 15.59 with type <class 'str'>
['Th', '11/19/09', '16.05', '9.455M', '11.082M']
spot of 16.05 with type <class 'str'>
['We', '11/18/09', '16.47', '13.471M', '11.382M']
spot of 16.47 with type <class 'str'>
['Tu', '11/17/09', '17.18', '12.775M', '11.435M']
spot of 17.18 with type <class 'str'>
['Mo', '11/16/09', '17.01', '9.745M', '11.125M']
spot of 17.01 with type <class 'str'>
['Fr', '11/13/09', '16.72', '8.34M', '11.2M']
spot of 16.72 with type <class 'str'>
['Th', '11/12/09', '16.8', '20.112M', '11.602M']
spot of 16.8 with type <class 'str'>
['We', '11/11/09', '16.3', '9.333M', '11.483M']
spot of 16.3 with type <class 'str'>
['Tu', '11/10/09', '15.92', '7.884M', '12.636M']
spot of 15.92 with type <class 'str'>
['Mo', '11/9/09', '15.74', '6.014M', '12.999M']
spot of 15.74 with type <class 'str'>
['Fr', '11/6/09', '15.31', '6.497M', '13.232M']
spot of 15.31 with type <class 'str'>
['Th', '11/5/09', '15.37', '10.419M', '13.572M']
spot of 15.37 with type <class 'str'>
['We', '11/4/09', '14.72', '16.225M', '13.607M']
spot of 14.72 with type <class 'str'>
['Tu', '11/3/09', '14.34', '12.396M', '13.436M']
spot of 14.34 with type <class 'str'>
['Mo', '11/2/09', '14.16', '9.465M', '13.158M']
spot of 14.16 with type <class 'str'>
['Fr', '10/30/09', '13.95', '14.102M', '13.418M']
spot of 13.95 with type <class 'str'>
['Th', '10/29/09', '14.58', '13.945M', '13.168M']
spot of 14.58 with type <class 'str'>
['We', '10/28/09', '14.44', '14.265M', '13.042M']
spot of 14.44 with type <class 'str'>
['Tu', '10/27/09', '15.32', '8.129M', '12.871M']
spot of 15.32 with type <class 'str'>
['Mo', '10/26/09', '15.82', '10.869M', '13.331M']
spot of 15.82 with type <class 'str'>
['Fr', '10/23/09', '15.73', '14.37M', '13.232M']
spot of 15.73 with type <class 'str'>
['Th', '10/22/09', '15.92', '18.329M', '13.194M']
spot of 15.92 with type <class 'str'>
['We', '10/21/09', '15.19', '26.626M', '13.211M']
spot of 15.19 with type <class 'str'>
['Tu', '10/20/09', '15.55', '13.341M', '12.018M']
spot of 15.55 with type <class 'str'>
['Mo', '10/19/09', '15.55', '9.503M', '11.709M']
spot of 15.55 with type <class 'str'>
['Fr', '10/16/09', '15.27', '11.59M', '11.547M']
spot of 15.27 with type <class 'str'>
['Th', '10/15/09', '15.54', '10.947M', '11.68M']
spot of 15.54 with type <class 'str'>
['We', '10/14/09', '16.11', '13.661M', '11.648M']
spot of 16.11 with type <class 'str'>
['Tu', '10/13/09', '15.64', '8.233M', '12.096M']
spot of 15.64 with type <class 'str'>
['Mo', '10/12/09', '15.84', '13.363M', '12.128M']
spot of 15.84 with type <class 'str'>
['Fr', '10/9/09', '15.46', '10.354M', '11.788M']
spot of 15.46 with type <class 'str'>
['Th', '10/8/09', '14.82', '12.048M', '11.716M']
spot of 14.82 with type <class 'str'>
['We', '10/7/09', '14.66', '11.702M', '11.645M']
spot of 14.66 with type <class 'str'>
['Tu', '10/6/09', '15.08', '15.035M', '11.337M']
spot of 15.08 with type <class 'str'>
['Mo', '10/5/09', '14.97', '9.381M', '11.023M']
spot of 14.97 with type <class 'str'>
['Fr', '10/2/09', '14.4', '13.798M', '10.992M']
spot of 14.4 with type <class 'str'>
['Th', '10/1/09', '14.51', '18.579M', '10.783M']
spot of 14.51 with type <class 'str'>
['We', '9/30/09', '15.21', '8.738M', '10.352M']
spot of 15.21 with type <class 'str'>
['Tu', '9/29/09', '15.16', '8.704M', '10.588M']
spot of 15.16 with type <class 'str'>
['Mo', '9/28/09', '15.5', '7.066M', '11.098M']
spot of 15.5 with type <class 'str'>
['Fr', '9/25/09', '14.9', '13.589M', '11.385M']
spot of 14.9 with type <class 'str'>
['Th', '9/24/09', '15.18', '10.464M', '11.213M']
spot of 15.18 with type <class 'str'>
['We', '9/23/09', '15.46', '20.383M', '11.015M']
spot of 15.46 with type <class 'str'>
['Tu', '9/22/09', '15.68', '8.719M', '10.419M']
spot of 15.68 with type <class 'str'>
['Mo', '9/21/09', '15.45', '8.264M', '10.253M']
spot of 15.45 with type <class 'str'>
['Fr', '9/18/09', '15.26', '9.266M', '10.623M']
spot of 15.26 with type <class 'str'>
['Th', '9/17/09', '14.99', '10.985M', '11.757M']
spot of 14.99 with type <class 'str'>
['We', '9/16/09', '15.37', '7.085M', '11.674M']
spot of 15.37 with type <class 'str'>
['Tu', '9/15/09', '15.37', '10.324M', '11.581M']
spot of 15.37 with type <class 'str'>
['Mo', '9/14/09', '15.08', '8.92M', '11.353M']
spot of 15.08 with type <class 'str'>
['Fr', '9/11/09', '14.87', '10.659M', '11.129M']
spot of 14.87 with type <class 'str'>
['Th', '9/10/09', '14.95', '12.115M', '10.75M']
spot of 14.95 with type <class 'str'>
['We', '9/9/09', '14.93', '12.28M', '10.536M']
spot of 14.93 with type <class 'str'>
['Tu', '9/8/09', '14.77', '16.346M', '10.271M']
spot of 14.77 with type <class 'str'>
['Fr', '9/4/09', '13.68', '11.377M', '9.797M']
spot of 13.68 with type <class 'str'>
['Th', '9/3/09', '13.24', '11.007M', '9.562M']
spot of 13.24 with type <class 'str'>
['We', '9/2/09', '13.12', '7.493M', '9.435M']
spot of 13.12 with type <class 'str'>
['Tu', '9/1/09', '13.4', '11.449M', '9.641M']
spot of 13.4 with type <class 'str'>
['Mo', '8/31/09', '13.85', '6.229M', '9.347M']
spot of 13.85 with type <class 'str'>
['Fr', '8/28/09', '14.02', '13.802M', '9.347M']
spot of 14.02 with type <class 'str'>
['Th', '8/27/09', '13.59', '26.279M', '9.147M']
spot of 13.59 with type <class 'str'>
['We', '8/26/09', '12.13', '9.744M', '8.125M']
spot of 12.13 with type <class 'str'>
['Tu', '8/25/09', '12.34', '5.689M', '8.42M']
spot of 12.34 with type <class 'str'>
['Mo', '8/24/09', '12.28', '6.91M', '8.836M']
spot of 12.28 with type <class 'str'>
['Fr', '8/21/09', '12.63', '5.561M', '9.031M']
spot of 12.63 with type <class 'str'>
['Th', '8/20/09', '12.3', '4.968M', '9.231M']
spot of 12.3 with type <class 'str'>
['We', '8/19/09', '12.22', '8.904M', '9.779M']
spot of 12.22 with type <class 'str'>
['Tu', '8/18/09', '12.14', '8.313M', '10.122M']
spot of 12.14 with type <class 'str'>
['Mo', '8/17/09', '11.78', '9.224M', '10.737M']

spot of 11.78 with type <class 'str'>
['Fr', '8/14/09', '12.2', '7.853M', '11.013M']
spot of 12.2 with type <class 'str'>
['Th', '8/13/09', '12.53', '9.11M', '11.463M']
spot of 12.53 with type <class 'str'>
['We', '8/12/09', '12.5', '10.574M', '12.091M']
spot of 12.5 with type <class 'str'>
['Tu', '8/11/09', '12.14', '7.039M', '13.511M']
spot of 12.14 with type <class 'str'>
['Mo', '8/10/09', '12.08', '6.24M', '13.977M']
spot of 12.08 with type <class 'str'>
['Fr', '8/7/09', '12.36', '10.795M', '14.35M']
spot of 12.36 with type <class 'str'>
['Th', '8/6/09', '11.84', '10.946M', '14.309M']
spot of 11.84 with type <class 'str'>
['We', '8/5/09', '11.97', '14.173M', '14.381M']
spot of 11.97 with type <class 'str'>
['Tu', '8/4/09', '12.26', '11.93M', '14.325M']
spot of 12.26 with type <class 'str'>
['Mo', '8/3/09', '12.33', '9.841M', '14.317M']
spot of 12.33 with type <class 'str'>
['Fr', '7/31/09', '12.04', '8.553M', '14.408M']
spot of 12.04 with type <class 'str'>
['Th', '7/30/09', '12.21', '13.182M', '15.094M']
spot of 12.21 with type <class 'str'>
['We', '7/29/09', '12.11', '14.061M', '14.826M']
spot of 12.11 with type <class 'str'>
['Tu', '7/28/09', '12.61', '17.527M', '14.627M']
spot of 12.61 with type <class 'str'>
['Mo', '7/27/09', '12.22', '13.373M', '15.108M']
spot of 12.22 with type <class 'str'>
['Fr', '7/24/09', '11.53', '14.6M', '15.295M']
spot of 11.53 with type <class 'str'>
['Th', '7/23/09', '11.66', '18.535M', '14.764M']
spot of 11.66 with type <class 'str'>
['We', '7/22/09', '11.85', '31.872M', '14.248M']
spot of 11.85 with type <class 'str'>
['Tu', '7/21/09', '11.2', '14.021M', '13.323M']
spot of 11.2 with type <class 'str'>
['Mo', '7/20/09', '11.04', '11.841M', '13.148M']
spot of 11.04 with type <class 'str'>
['Fr', '7/17/09', '11.15', '10.186M', '13.839M']
spot of 11.15 with type <class 'str'>
['Th', '7/16/09', '10.92', '12.019M', '14.794M']
spot of 10.92 with type <class 'str'>
['We', '7/15/09', '10.87', '13.337M', '15.066M']
spot of 10.87 with type <class 'str'>
['Tu', '7/14/09', '10.61', '11.8M', '15.336M']
spot of 10.61 with type <class 'str'>
['Mo', '7/13/09', '10.37', '11.207M', '15.213M']
spot of 10.37 with type <class 'str'>
['Fr', '7/10/09', '10', '18.845M', '15.286M']
spot of 10 with type <class 'str'>
['Th', '7/9/09', '9.53', '9.164M', '14.749M']
spot of 9.53 with type <class 'str'>
['We', '7/8/09', '9.5', '11.077M', '14.809M']
spot of 9.5 with type <class 'str'>
['Tu', '7/7/09', '9.5', '24.742M', '14.834M']
spot of 9.5 with type <class 'str'>
['Mo', '7/6/09', '10.05', '16.183M', '13.744M']
spot of 10.05 with type <class 'str'>
['Th', '7/2/09', '10.28', '6.635M', '13.155M']
spot of 10.28 with type <class 'str'>
['We', '7/1/09', '10.6', '10.797M', '13.362M']
spot of 10.6 with type <class 'str'>
['Tu', '6/30/09', '10.46', '17.994M', '13.657M']
spot of 10.46 with type <class 'str'>
['Mo', '6/29/09', '10.29', '11.389M', '13.308M']
spot of 10.29 with type <class 'str'>
['Fr', '6/26/09', '10.27', '22.206M', '13.221M']
spot of 10.27 with type <class 'str'>
['Th', '6/25/09', '9.5', '24.518M', '12.253M']
spot of 9.5 with type <class 'str'>
['We', '6/24/09', '9.87', '16.103M', '11.284M']
spot of 9.87 with type <class 'str'>
['Tu', '6/23/09', '9.6', '17.382M', '10.962M']
spot of 9.6 with type <class 'str'>
['Mo', '6/22/09', '9.42', '9.948M', '11.037M']
spot of 9.42 with type <class 'str'>
['Fr', '6/19/09', '9.69', '12.309M', '11.256M']
spot of 9.69 with type <class 'str'>
['Th', '6/18/09', '9.26', '10.791M', '11.996M']
spot of 9.26 with type <class 'str'>
['We', '6/17/09', '9.39', '10.065M', '12.104M']
spot of 9.39 with type <class 'str'>
['Tu', '6/16/09', '9.12', '11.455M', '12.273M']
spot of 9.12 with type <class 'str'>
['Mo', '6/15/09', '9.34', '8.385M', '12.369M']
spot of 9.34 with type <class 'str'>
['Fr', '6/12/09', '9.54', '7.35M', '12.704M']
spot of 9.54 with type <class 'str'>
['Th', '6/11/09', '9.65', '9.746M', '12.893M']
spot of 9.65 with type <class 'str'>
['We', '6/10/09', '9.33', '15.219M', '13.298M']
spot of 9.33 with type <class 'str'>
['Tu', '6/9/09', '9.46', '12.761M', '13.083M']
spot of 9.46 with type <class 'str'>
['Mo', '6/8/09', '8.86', '10.071M', '12.808M']
spot of 8.86 with type <class 'str'>
['Fr', '6/5/09', '8.81', '7.686M', '12.722M']
spot of 8.81 with type <class 'str'>
['Th', '6/4/09', '8.93', '9.991M', '13.123M']
spot of 8.93 with type <class 'str'>
['We', '6/3/09', '8.46', '11.266M', '13.751M']
spot of 8.46 with type <class 'str'>
['Tu', '6/2/09', '8.78', '18.513M', '14.01M']
spot of 8.78 with type <class 'str'>
['Mo', '6/1/09', '9.46', '13.237M', '13.533M']
spot of 9.46 with type <class 'str'>
['Fr', '5/29/09', '8.71', '23.41M', '13.779M']
spot of 8.71 with type <class 'str'>
['Th', '5/28/09', '8.68', '12.409M', '13.242M']
spot of 8.68 with type <class 'str'>
['We', '5/27/09', '8.58', '12.596M', '13.38M']
spot of 8.58 with type <class 'str'>
['Tu', '5/26/09', '8.78', '12.89M', '13.66M']
spot of 8.78 with type <class 'str'>
['Fr', '5/22/09', '8.44', '13.415M', '13.66M']
spot of 8.44 with type <class 'str'>
['Th', '5/21/09', '8.01', '10.179M', '13.634M']
spot of 8.01 with type <class 'str'>
['We', '5/20/09', '7.91', '15.83M', '14.267M']
spot of 7.91 with type <class 'str'>
['Tu', '5/19/09', '8.11', '11.984M', '13.915M']
spot of 8.11 with type <class 'str'>
['Mo', '5/18/09', '7.62', '8.637M', '13.655M']
spot of 7.62 with type <class 'str'>
['Fr', '5/15/09', '7.25', '8.781M', '13.95M']
spot of 7.25 with type <class 'str'>
['Th', '5/14/09', '7.29', '13.708M', '14.338M']
spot of 7.29 with type <class 'str'>
['We', '5/13/09', '6.98', '19.404M', '14.645M']
spot of 6.98 with type <class 'str'>
['Tu', '5/12/09', '7.34', '15.149M', '14.892M']
spot of 7.34 with type <class 'str'>
['Mo', '5/11/09', '7.57', '11.358M', '14.667M']
spot of 7.57 with type <class 'str'>
['Fr', '5/8/09', '7.79', '16.933M', '14.522M']
spot of 7.79 with type <class 'str'>
['Th', '5/7/09', '7.7', '15.358M', '14.383M']
spot of 7.7 with type <class 'str'>
['We', '5/6/09', '8.41', '14.482M', '14.31M']
spot of 8.41 with type <class 'str'>
['Tu', '5/5/09', '8.46', '16.793M', '14.267M']
spot of 8.46 with type <class 'str'>
['Mo', '5/4/09', '9.09', '12.889M', '14.137M']
spot of 9.09 with type <class 'str'>
['Fr', '5/1/09', '8.45', '13.017M', '14.363M']
spot of 8.45 with type <class 'str'>
['Th', '4/30/09', '8.16', '19.683M', '14.193M']
spot of 8.16 with type <class 'str'>
['We', '4/29/09', '7.44', '10.544M', '13.467M']
spot of 7.44 with type <class 'str'>
['Tu', '4/28/09', '7.02', '8.096M', '13.209M']
spot of 7.02 with type <class 'str'>
['Mo', '4/27/09', '7.02', '13.052M', '13.545M']
spot of 7.02 with type <class 'str'>
['Fr', '4/24/09', '7.28', '14.605M', '13.621M']
spot of 7.28 with type <class 'str'>
['Th', '4/23/09', '7.02', '18.315M', '13.449M']
spot of 7.02 with type <class 'str'>
['We', '4/22/09', '7.15', '23.113M', '13.144M']
spot of 7.15 with type <class 'str'>
['Tu', '4/21/09', '6.67', '11.76M', '12.199M']
spot of 6.67 with type <class 'str'>
['Mo', '4/20/09', '6.46', '9.185M', '12.31M']
spot of 6.46 with type <class 'str'>
['Fr', '4/17/09', '6.83', '14.859M', '12.522M']
spot of 6.83 with type <class 'str'>
['Th', '4/16/09', '6.35', '14.258M', '13.082M']
spot of 6.35 with type <class 'str'>
['We', '4/15/09', '5.85', '13.837M', '14.08M']
spot of 5.85 with type <class 'str'>
['Tu', '4/14/09', '6.05', '14.847M', '15.039M']
spot of 6.05 with type <class 'str'>
['Mo', '4/13/09', '6.34', '16.274M', '14.883M']
spot of 6.34 with type <class 'str'>
['Th', '4/9/09', '6.65', '10.465M', '14.353M']
spot of 6.65 with type <class 'str'>
['We', '4/8/09', '6.35', '8.796M', '14.115M']
spot of 6.35 with type <class 'str'>
['Tu', '4/7/09', '6.15', '6.673M', '14.133M']
spot of 6.15 with type <class 'str'>
['Mo', '4/6/09', '6.4', '13.136M', '14.074M']
spot of 6.4 with type <class 'str'>
['Fr', '4/3/09', '6.73', '14.188M', '14.018M']
spot of 6.73 with type <class 'str'>
['Th', '4/2/09', '6.2', '12.029M', '14.013M']
spot of 6.2 with type <class 'str'>
['We', '4/1/09', '5.98', '13.736M', '13.691M']
spot of 5.98 with type <class 'str'>
['Tu', '3/31/09', '6.01', '8.939M', '13.515M']
spot of 6.01 with type <class 'str'>
['Mo', '3/30/09', '5.91', '13.426M', '13.617M']
spot of 5.91 with type <class 'str'>
['Fr', '3/27/09', '6.09', '12.376M', '13.26M']
spot of 6.09 with type <class 'str'>
['Th', '3/26/09', '6.56', '23.253M', '13.433M']
spot of 6.56 with type <class 'str'>
['We', '3/25/09', '5.96', '29.225M', '12.678M']
spot of 5.96 with type <class 'str'>
['Tu', '3/24/09', '5.68', '28.226M', '11.578M']
spot of 5.68 with type <class 'str'>
['Mo', '3/23/09', '5.16', '12.508M', '10.367M']
spot of 5.16 with type <class 'str'>
['Fr', '3/20/09', '4.6', '8.327M', '10.617M']
spot of 4.6 with type <class 'str'>
['Th', '3/19/09', '4.65', '6.882M', '11.065M']
spot of 4.65 with type <class 'str'>
['We', '3/18/09', '4.7', '9.077M', '11.116M']
spot of 4.7 with type <class 'str'>
['Tu', '3/17/09', '4.46', '5.783M', '11.37M']
spot of 4.46 with type <class 'str'>
['Mo', '3/16/09', '4.3', '12.288M', '12.285M']
spot of 4.3 with type <class 'str'>
['Fr', '3/13/09', '4.26', '14.126M', '12.114M']
spot of 4.26 with type <class 'str'>
['Th', '3/12/09', '3.88', '7.195M', '12.43M']
spot of 3.88 with type <class 'str'>
['We', '3/11/09', '3.72', '11.094M', '12.824M']
spot of 3.72 with type <class 'str'>
['Tu', '3/10/09', '3.61', '10.465M', '12.792M']
spot of 3.61 with type <class 'str'>
['Mo', '3/9/09', '3.14', '8.076M', '12.953M']
spot of 3.14 with type <class 'str'>
['Fr', '3/6/09', '3.11', '14.963M', '12.843M']
spot of 3.11 with type <class 'str'>
['Th', '3/5/09', '3.42', '11.936M', '12.538M']
spot of 3.42 with type <class 'str'>
['We', '3/4/09', '3.76', '12.729M', '12.25M']
spot of 3.76 with type <class 'str'>
['Tu', '3/3/09', '3.76', '10.057M', '12.682M']
spot of 3.76 with type <class 'str'>
['Mo', '3/2/09', '3.68', '16.257M', '12.602M']
spot of 3.68 with type <class 'str'>
['Fr', '2/27/09', '4.3', '15.05M', '12.633M']
spot of 4.3 with type <class 'str'>
['Th', '2/26/09', '4.1', '7.637M', '12.708M']
spot of 4.1 with type <class 'str'>
['We', '2/25/09', '4.31', '12.892M', '13.362M']
spot of 4.31 with type <class 'str'>
['Tu', '2/24/09', '3.96', '19.506M', '13.143M']
spot of 3.96 with type <class 'str'>
['Mo', '2/23/09', '4.01', '9.721M', '12.537M']
spot of 4.01 with type <class 'str'>
['Fr', '2/20/09', '4.19', '18.867M', '12.607M']
spot of 4.19 with type <class 'str'>
['Th', '2/19/09', '4.26', '13.104M', '12.707M']
spot of 4.26 with type <class 'str'>
['We', '2/18/09', '4.45', '10.626M', '12.653M']
spot of 4.45 with type <class 'str'>
['Tu', '2/17/09', '4.29', '12.871M', '13.435M']
spot of 4.29 with type <class 'str'>
['Fr', '2/13/09', '4.37', '6.433M', '14.405M']
spot of 4.37 with type <class 'str'>
['Th', '2/12/09', '4.48', '10.387M', '16.296M']
spot of 4.48 with type <class 'str'>
['We', '2/11/09', '4.2', '7.615M', '17.646M']
spot of 4.2 with type <class 'str'>
['Tu', '2/10/09', '4.1', '19.207M', '17.565M']
spot of 4.1 with type <class 'str'>
['Mo', '2/9/09', '4.36', '8.862M', '16.955M']
spot of 4.36 with type <class 'str'>
['Fr', '2/6/09', '4.51', '16.723M', '17.042M']
spot of 4.51 with type <class 'str'>
['Th', '2/5/09', '4.39', '16.164M', '16.746M']
spot of 4.39 with type <class 'str'>
['We', '2/4/09', '4.28', '17.445M', '16.502M']
spot of 4.28 with type <class 'str'>
['Tu', '2/3/09', '3.83', '9.608M', '16.035M']
spot of 3.83 with type <class 'str'>
['Mo', '2/2/09', '3.97', '10.417M', '16.845M']
spot of 3.97 with type <class 'str'>
['Fr', '1/30/09', '3.79', '10.776M', '16.716M']
spot of 3.79 with type <class 'str'>
['Th', '1/29/09', '4.04', '20.366M', '16.338M']
spot of 4.04 with type <class 'str'>
['We', '1/28/09', '3.95', '12.29M', '15.709M']
spot of 3.95 with type <class 'str'>
['Tu', '1/27/09', '3.62', '22.355M', '15.773M']
spot of 3.62 with type <class 'str'>
['Mo', '1/26/09', '3.42', '27.431M', '14.877M']
spot of 3.42 with type <class 'str'>
['Fr', '1/23/09', '3.11', '34.797M', '13.672M']
spot of 3.11 with type <class 'str'>
['Th', '1/22/09', '3.23', '30.643M', '11.702M']
spot of 3.23 with type <class 'str'>
['We', '1/21/09', '4.25', '6.391M', '9.947M']
spot of 4.25 with type <class 'str'>
['Tu', '1/20/09', '3.88', '10.053M', '9.793M']
spot of 3.88 with type <class 'str'>
['Fr', '1/16/09', '4.39', '10.175M', '9.335M']
spot of 4.39 with type <class 'str'>
['Th', '1/15/09', '4.33', '12.272M', '8.869M']
spot of 4.33 with type <class 'str'>
['We', '1/14/09', '4.29', '12.515M', '8.395M']
spot of 4.29 with type <class 'str'>
['Tu', '1/13/09', '4.58', '10.441M', '7.912M']
spot of 4.58 with type <class 'str'>
['Mo', '1/12/09', '4.76', '21.759M', '7.639M']
spot of 4.76 with type <class 'str'>
['Fr', '1/9/09', '5.64', '8.477M', '6.77M']
spot of 5.64 with type <class 'str'>
['Th', '1/8/09', '5.6', '5.104M', '7.144M']
spot of 5.6 with type <class 'str'>
['We', '1/7/09', '5.37', '10.926M', '7.769M']
spot of 5.37 with type <class 'str'>
['Tu', '1/6/09', '5.78', '13.249M', '7.596M']
spot of 5.78 with type <class 'str'>
['Mo', '1/5/09', '5.14', '8.916M', '7.331M']
spot of 5.14 with type <class 'str'>
['Fr', '1/2/09', '5.08', '9.356M', '7.305M']
spot of 5.08 with type <class 'str'>
['We', '12/31/08', '4.43', '5.248M', '7.511M']
spot of 4.43 with type <class 'str'>
['Tu', '12/30/08', '4.14', '4.327M', '7.981M']
spot of 4.14 with type <class 'str'>
['Mo', '12/29/08', '4.09', '4.083M', '8.498M']
spot of 4.09 with type <class 'str'>
['Fr', '12/26/08', '4.16', '3.175M', '8.845M']
spot of 4.16 with type <class 'str'>
['We', '12/24/08', '4.14', '3.186M', '9.235M']
spot of 4.14 with type <class 'str'>
['Tu', '12/23/08', '4.35', '5.164M', '9.615M']
spot of 4.35 with type <class 'str'>
['Mo', '12/22/08', '4.41', '5.265M', '10.206M']
spot of 4.41 with type <class 'str'>
['Fr', '12/19/08', '4.55', '6.353M', '10.413M']
spot of 4.55 with type <class 'str'>
['Th', '12/18/08', '4.54', '8.724M', '10.353M']
spot of 4.54 with type <class 'str'>
['We', '12/17/08', '4.77', '14.084M', '10.347M']
spot of 4.77 with type <class 'str'>
['Tu', '12/16/08', '4.45', '14.482M', '9.938M']
spot of 4.45 with type <class 'str'>
['Mo', '12/15/08', '4.76', '8.324M', '9.565M']
spot of 4.76 with type <class 'str'>
['Fr', '12/12/08', '5.27', '9.279M', '9.912M']
spot of 5.27 with type <class 'str'>
['Th', '12/11/08', '4.76', '8.52M', '10.096M']
spot of 4.76 with type <class 'str'>
['We', '12/10/08', '5.49', '12.454M', '10.13M']
spot of 5.49 with type <class 'str'>
['Tu', '12/9/08', '5.09', '12.302M', '9.989M']
spot of 5.09 with type <class 'str'>
['Mo', '12/8/08', '5.16', '12.069M', '9.797M']
spot of 5.16 with type <class 'str'>
['Fr', '12/5/08', '4.52', '9.301M', '9.717M']
spot of 4.52 with type <class 'str'>
['Th', '12/4/08', '4.3', '9.018M', '9.956M']
spot of 4.3 with type <class 'str'>
['We', '12/3/08', '4.4', '8.885M', '10.214M']
spot of 4.4 with type <class 'str'>
['Tu', '12/2/08', '4.31', '14.029M', '10.305M']
spot of 4.31 with type <class 'str'>
['Mo', '12/1/08', '3.85', '8.367M', '9.977M']
spot of 3.85 with type <class 'str'>
['Fr', '11/28/08', '4.21', '5.454M', '11.016M']
spot of 4.21 with type <class 'str'>
['We', '11/26/08', '4.51', '8.635M', '11.394M']
spot of 4.51 with type <class 'str'>
['Tu', '11/25/08', '4.42', '7.947M', '11.497M']
spot of 4.42 with type <class 'str'>
['Mo', '11/24/08', '4.46', '8.887M', '12.023M']
spot of 4.46 with type <class 'str'>
['Fr', '11/21/08', '4.4', '13.534M', '12.09M']
spot of 4.4 with type <class 'str'>
['Th', '11/20/08', '3.83', '12.046M', '12.22M']
spot of 3.83 with type <class 'str'>
['We', '11/19/08', '3.91', '9.018M', '11.994M']
spot of 3.91 with type <class 'str'>
['Tu', '11/18/08', '4.32', '10.348M', '12.086M']
spot of 4.32 with type <class 'str'>
['Mo', '11/17/08', '4.77', '9.415M', '12.004M']
spot of 4.77 with type <class 'str'>
['Fr', '11/14/08', '4.87', '10.876M', '11.823M']
spot of 4.87 with type <class 'str'>
['Th', '11/13/08', '5.02', '12.885M', '11.824M']
spot of 5.02 with type <class 'str'>
['We', '11/12/08', '4.81', '12.887M', '11.679M']
spot of 4.81 with type <class 'str'>
['Tu', '11/11/08', '5.49', '10.247M', '11.23M']
spot of 5.49 with type <class 'str'>
['Mo', '11/10/08', '6.2', '9.116M', '10.758M']
spot of 6.2 with type <class 'str'>
['Fr', '11/7/08', '6.6', '23.948M', '10.397M']
spot of 6.6 with type <class 'str'>
['Th', '11/6/08', '6.43', '11.119M', '9.175M']
spot of 6.43 with type <class 'str'>
['We', '11/5/08', '7.01', '10.184M', '8.902M']
spot of 7.01 with type <class 'str'>
['Tu', '11/4/08', '7.53', '15.836M', '8.649M']
spot of 7.53 with type <class 'str'>
['Mo', '11/3/08', '7.07', '9.9M', '8.084M']
spot of 7.07 with type <class 'str'>
['Fr', '10/31/08', '6.77', '15.47M', '7.83M']
spot of 6.77 with type <class 'str'>
['Th', '10/30/08', '6.41', '8.663M', '7.56M']
spot of 6.41 with type <class 'str'>
['We', '10/29/08', '6.45', '10.397M', '7.433M']
spot of 6.45 with type <class 'str'>
['Tu', '10/28/08', '6.61', '9.122M', '7.397M']
spot of 6.61 with type <class 'str'>
['Mo', '10/27/08', '6.69', '6.688M', '7.454M']
spot of 6.69 with type <class 'str'>
['Fr', '10/24/08', '7.04', '10.905M', '7.608M']
spot of 7.04 with type <class 'str'>
['Th', '10/23/08', '7.05', '10.705M', '7.443M']
spot of 7.05 with type <class 'str'>
['We', '10/22/08', '8', '6.158M', '7.109M']
spot of 8 with type <class 'str'>
['Tu', '10/21/08', '8.11', '3.16M', '7.363M']
spot of 8.11 with type <class 'str'>
['Mo', '10/20/08', '8.53', '3.695M', '7.546M']
spot of 8.53 with type <class 'str'>
['Fr', '10/17/08', '8.79', '5.629M', '7.748M']
spot of 8.79 with type <class 'str'>
['Th', '10/16/08', '8.53', '7.017M', '7.617M']
spot of 8.53 with type <class 'str'>
['We', '10/15/08', '8.45', '6.394M', '7.408M']
spot of 8.45 with type <class 'str'>
['Tu', '10/14/08', '8.81', '7.364M', '7.325M']
spot of 8.81 with type <class 'str'>
['Mo', '10/13/08', '9.3', '6.085M', '7.258M']
spot of 9.3 with type <class 'str'>
['Fr', '10/10/08', '8.66', '11.415M', '7.229M']
spot of 8.66 with type <class 'str'>
['Th', '10/9/08', '9.32', '6.77M', '7.101M']
spot of 9.32 with type <class 'str'>
['We', '10/8/08', '9.68', '9.848M', '7.133M']
spot of 9.68 with type <class 'str'>
['Tu', '10/7/08', '9.9', '9.98M', '6.949M']
spot of 9.9 with type <class 'str'>
['Mo', '10/6/08', '10.82', '9.001M', '6.96M']
spot of 10.82 with type <class 'str'>
['Fr', '10/3/08', '10.93', '8.42M', '6.617M']
spot of 10.93 with type <class 'str'>
['Th', '10/2/08', '11.21', '5.702M', '6.396M']
spot of 11.21 with type <class 'str'>
['We', '10/1/08', '11.55', '9.973M', '6.385M']
spot of 11.55 with type <class 'str'>
['Tu', '9/30/08', '12.12', '5.896M', '6.017M']
spot of 12.12 with type <class 'str'>
['Mo', '9/29/08', '11.74', '6.722M', '5.97M']
spot of 11.74 with type <class 'str'>
['Fr', '9/26/08', '12.42', '3.666M', '5.803M']
spot of 12.42 with type <class 'str'>
['Th', '9/25/08', '12.47', '3.88M', '5.848M']
spot of 12.47 with type <class 'str'>
['We', '9/24/08', '12.32', '5.154M', '6.089M']
spot of 12.32 with type <class 'str'>
['Tu', '9/23/08', '12.17', '6.353M', '6.161M']
spot of 12.17 with type <class 'str'>
['Mo', '9/22/08', '12.19', '5.658M', '6.111M']
spot of 12.19 with type <class 'str'>
['Fr', '9/19/08', '12.85', '9.49M', '6.127M']
spot of 12.85 with type <class 'str'>
['Th', '9/18/08', '11.93', '7.246M', '5.823M']
spot of 11.93 with type <class 'str'>
['We', '9/17/08', '11.77', '7.095M', '5.616M']
spot of 11.77 with type <class 'str'>
['Tu', '9/16/08', '12.09', '10.145M', '5.362M']
spot of 12.09 with type <class 'str'>
['Mo', '9/15/08', '13.17', '3.861M', '5.001M']
spot of 13.17 with type <class 'str'>
['Fr', '9/12/08', '13.58', '5.106M', '5.056M']
spot of 13.58 with type <class 'str'>
['Th', '9/11/08', '13.99', '5.536M', '5.059M']
spot of 13.99 with type <class 'str'>
['We', '9/10/08', '14.35', '4.454M', '5.05M']
spot of 14.35 with type <class 'str'>
['Tu', '9/9/08', '14.09', '5.192M', '5.029M']
spot of 14.09 with type <class 'str'>
['Mo', '9/8/08', '14.58', '4.204M', '4.98M']

spot of 17.03 with type <class 'str'>
['We', '7/9/08', '17.04', '5.924M', '6.559M']
spot of 17.04 with type <class 'str'>
['Tu', '7/8/08', '17.71', '7.048M', '6.505M']
spot of 17.71 with type <class 'str'>
['Mo', '7/7/08', '17.57', '10.189M', '6.483M']
spot of 17.57 with type <class 'str'>
['Th', '7/3/08', '17.94', '6.181M', '6.06M']
spot of 17.94 with type <class 'str'>
['We', '7/2/08', '18.81', '4.054M', '6.017M']
spot of 18.81 with type <class 'str'>
['Tu', '7/1/08', '19.43', '5.476M', '6.236M']
spot of 19.43 with type <class 'str'>
['Mo', '6/30/08', '19.13', '4.256M', '6.345M']
spot of 19.13 with type <class 'str'>
['Fr', '6/27/08', '19.48', '8.129M', '6.399M']
spot of 19.48 with type <class 'str'>
['Th', '6/26/08', '19.5', '7.043M', '6.456M']
spot of 19.5 with type <class 'str'>
['We', '6/25/08', '20.04', '5.624M', '6.499M']
spot of 20.04 with type <class 'str'>
['Tu', '6/24/08', '19.66', '6.83M', '6.551M']
spot of 19.66 with type <class 'str'>
['Mo', '6/23/08', '19.82', '8.368M', '6.468M']
spot of 19.82 with type <class 'str'>
['Fr', '6/20/08', '20.18', '7.382M', '6.184M']
spot of 20.18 with type <class 'str'>
['Th', '6/19/08', '20.95', '7.223M', '6.37M']
spot of 20.95 with type <class 'str'>
['We', '6/18/08', '20.7', '4.658M', '6.237M']
spot of 20.7 with type <class 'str'>
['Tu', '6/17/08', '20.81', '5.11M', '6.322M']
spot of 20.81 with type <class 'str'>
['Mo', '6/16/08', '21.02', '6.716M', '6.233M']
spot of 21.02 with type <class 'str'>
['Fr', '6/13/08', '20.27', '3.85M', '5.979M']
spot of 20.27 with type <class 'str'>
['Th', '6/12/08', '20.25', '5.539M', '6.053M']
spot of 20.25 with type <class 'str'>
['We', '6/11/08', '20.51', '7.331M', '6.109M']
spot of 20.51 with type <class 'str'>
['Tu', '6/10/08', '20.99', '7.109M', '5.981M']
spot of 20.99 with type <class 'str'>
['Mo', '6/9/08', '21.69', '5.074M', '6.003M']
spot of 21.69 with type <class 'str'>
['Fr', '6/6/08', '22.27', '8.982M', '6.05M']
spot of 22.27 with type <class 'str'>
['Th', '6/5/08', '22.1', '7.692M', '5.841M']
spot of 22.1 with type <class 'str'>
['We', '6/4/08', '21.82', '6.401M', '6.331M']
spot of 21.82 with type <class 'str'>
['Tu', '6/3/08', '21.68', '5.591M', '6.244M']
spot of 21.68 with type <class 'str'>
['Mo', '6/2/08', '21.31', '4.106M', '6.126M']
spot of 21.31 with type <class 'str'>
['Fr', '5/30/08', '21.42', '10.17M', '6.155M']
spot of 21.42 with type <class 'str'>
['Th', '5/29/08', '20.71', '5.219M', '5.904M']
spot of 20.71 with type <class 'str'>
['We', '5/28/08', '20.56', '5.941M', '5.952M']
spot of 20.56 with type <class 'str'>
['Tu', '5/27/08', '20.65', '3.767M', '5.816M']
spot of 20.65 with type <class 'str'>
['Fr', '5/23/08', '20.67', '2.92M', '6.14M']
spot of 20.67 with type <class 'str'>
['Th', '5/22/08', '20.89', '4.949M', '6.264M']
spot of 20.89 with type <class 'str'>
['We', '5/21/08', '20.46', '6.376M', '6.451M']
spot of 20.46 with type <class 'str'>
['Tu', '5/20/08', '20.52', '5.421M', '6.357M']
spot of 20.52 with type <class 'str'>
['Mo', '5/19/08', '20.84', '7.441M', '6.296M']
spot of 20.84 with type <class 'str'>
['Fr', '5/16/08', '21.91', '5.776M', '6.408M']
spot of 21.91 with type <class 'str'>
['Th', '5/15/08', '21.33', '5.843M', '6.421M']
spot of 21.33 with type <class 'str'>
['We', '5/14/08', '21.24', '15.037M', '6.429M']
spot of 21.24 with type <class 'str'>
['Tu', '5/13/08', '20.05', '5.102M', '5.796M']
spot of 20.05 with type <class 'str'>
['Mo', '5/12/08', '20.13', '3.827M', '5.804M']
spot of 20.13 with type <class 'str'>
['Fr', '5/9/08', '20.23', '4.536M', '6.058M']
spot of 20.23 with type <class 'str'>
['Th', '5/8/08', '20.3', '6.398M', '6.475M']
spot of 20.3 with type <class 'str'>
['We', '5/7/08', '19.84', '5.949M', '6.969M']
spot of 19.84 with type <class 'str'>
['Tu', '5/6/08', '19.87', '3.896M', '8.688M']
spot of 19.87 with type <class 'str'>
['Mo', '5/5/08', '19.7', '8.625M', '9.323M']
spot of 19.7 with type <class 'str'>
['Fr', '5/2/08', '19.45', '4.782M', '9.515M']
spot of 19.45 with type <class 'str'>
['Th', '5/1/08', '19.5', '7.753M', '9.826M']
spot of 19.5 with type <class 'str'>
['We', '4/30/08', '18.87', '4.965M', '9.916M']
spot of 18.87 with type <class 'str'>
['Tu', '4/29/08', '19.2', '4.515M', '9.969M']
spot of 19.2 with type <class 'str'>
['Mo', '4/28/08', '19.19', '9.117M', '10.081M']
spot of 19.19 with type <class 'str'>
['Fr', '4/25/08', '19.39', '5.965M', '9.861M']
spot of 19.39 with type <class 'str'>
['Th', '4/24/08', '19.62', '5.961M', '9.902M']
spot of 19.62 with type <class 'str'>
['We', '4/23/08', '19.22', '5.549M', '9.959M']
spot of 19.22 with type <class 'str'>
['Tu', '4/22/08', '19.48', '5.215M', '10.03M']
spot of 19.48 with type <class 'str'>
['Mo', '4/21/08', '19.96', '7.64M', '10.273M']
spot of 19.96 with type <class 'str'>
['Fr', '4/18/08', '19.48', '10.802M', '10.235M']
spot of 19.48 with type <class 'str'>
['Th', '4/17/08', '19.77', '13.796M', '9.945M']
spot of 19.77 with type <class 'str'>
['We', '4/16/08', '19.06', '31.731M', '9.702M']
spot of 19.06 with type <class 'str'>
['Tu', '4/15/08', '20.17', '13.434M', '7.897M']
spot of 20.17 with type <class 'str'>
['Mo', '4/14/08', '19.97', '11.496M', '7.363M']
spot of 19.97 with type <class 'str'>
['Fr', '4/11/08', '20.54', '9.448M', '7.034M']
spot of 20.54 with type <class 'str'>
['Th', '4/10/08', '21.63', '9.105M', '6.834M']
spot of 21.63 with type <class 'str'>
['We', '4/9/08', '21.07', '5.766M', '6.792M']
spot of 21.07 with type <class 'str'>
['Tu', '4/8/08', '21.28', '6.183M', '6.759M']
spot of 21.28 with type <class 'str'>
['Mo', '4/7/08', '21.74', '5.828M', '6.716M']
spot of 21.74 with type <class 'str'>
['Fr', '4/4/08', '21.62', '6.57M', '6.856M']
spot of 21.62 with type <class 'str'>
['Th', '4/3/08', '22.09', '6.821M', '6.785M']
spot of 22.09 with type <class 'str'>
['We', '4/2/08', '21.88', '6.609M', '6.609M']
spot of 21.88 with type <class 'str'>
['Tu', '4/1/08', '21.61', '8.869M', '6.741M']
spot of 21.61 with type <class 'str'>
['Mo', '3/31/08', '20.94', '7.066M', '6.52M']
spot of 20.94 with type <class 'str'>
['Fr', '3/28/08', '20.3', '6.451M', '6.572M']
spot of 20.3 with type <class 'str'>
['Th', '3/27/08', '20.47', '10.147M', '6.678M']
spot of 20.47 with type <class 'str'>
['We', '3/26/08', '21.82', '4.664M', '6.522M']
spot of 21.82 with type <class 'str'>
['Tu', '3/25/08', '21.63', '5.425M', '6.787M']
spot of 21.63 with type <class 'str'>
['Mo', '3/24/08', '22', '6.558M', '6.739M']
spot of 22 with type <class 'str'>
['Th', '3/20/08', '21.28', '6.444M', '6.869M']
spot of 21.28 with type <class 'str'>
['We', '3/19/08', '20.65', '8.481M', '7.184M']
spot of 20.65 with type <class 'str'>
['Tu', '3/18/08', '21.73', '5.274M', '7.115M']
spot of 21.73 with type <class 'str'>
['Mo', '3/17/08', '21.28', '5.54M', '7.298M']
spot of 21.28 with type <class 'str'>
['Fr', '3/14/08', '22.21', '7.926M', '7.245M']
spot of 22.21 with type <class 'str'>
['Th', '3/13/08', '22.13', '5.507M', '7.003M']
spot of 22.13 with type <class 'str'>
['We', '3/12/08', '21.76', '4.169M', '7.047M']
spot of 21.76 with type <class 'str'>
['Tu', '3/11/08', '21.84', '8.595M', '7.173M']
spot of 21.84 with type <class 'str'>
['Mo', '3/10/08', '21.25', '5.551M', '6.966M']
spot of 21.25 with type <class 'str'>
['Fr', '3/7/08', '21.75', '7.849M', '7.019M']
spot of 21.75 with type <class 'str'>
['Th', '3/6/08', '21.78', '8.037M', '6.962M']
spot of 21.78 with type <class 'str'>
['We', '3/5/08', '22.81', '7.809M', '6.833M']
spot of 22.81 with type <class 'str'>
['Tu', '3/4/08', '22.91', '8.634M', '6.717M']
spot of 22.91 with type <class 'str'>
['Mo', '3/3/08', '21.82', '4.706M', '6.504M']
spot of 21.82 with type <class 'str'>
['Fr', '2/29/08', '21.57', '8.522M', '6.604M']
spot of 21.57 with type <class 'str'>
['Th', '2/28/08', '22.35', '11.166M', '6.466M']
spot of 22.35 with type <class 'str'>
['We', '2/27/08', '23.59', '7.446M', '6.11M']
spot of 23.59 with type <class 'str'>
['Tu', '2/26/08', '23.71', '8.008M', '6.177M']
spot of 23.71 with type <class 'str'>
['Mo', '2/25/08', '23.86', '4.754M', '5.99M']
spot of 23.86 with type <class 'str'>
['Fr', '2/22/08', '23.77', '4.295M', '6.356M']
spot of 23.77 with type <class 'str'>
['Th', '2/21/08', '23.47', '6.169M', '6.795M']
spot of 23.47 with type <class 'str'>
['We', '2/20/08', '23.19', '6.059M', '6.898M']
spot of 23.19 with type <class 'str'>
['Tu', '2/19/08', '23.29', '5.483M', '7.058M']
spot of 23.29 with type <class 'str'>
['Fr', '2/15/08', '22.68', '6.347M', '7.213M']
spot of 22.68 with type <class 'str'>
['Th', '2/14/08', '22.49', '6.999M', '7.5M']
spot of 22.49 with type <class 'str'>
['We', '2/13/08', '23.26', '6.097M', '8.003M']
spot of 23.26 with type <class 'str'>
['Tu', '2/12/08', '22.76', '6.068M', '8.813M']
spot of 22.76 with type <class 'str'>
['Mo', '2/11/08', '22.34', '5.449M', '9.225M']
spot of 22.34 with type <class 'str'>
['Fr', '2/8/08', '21.95', '6.192M', '10.447M']
spot of 21.95 with type <class 'str'>
['Th', '2/7/08', '21.52', '6.465M', '10.925M']
spot of 21.52 with type <class 'str'>
['We', '2/6/08', '21.12', '5.821M', '11.084M']
spot of 21.12 with type <class 'str'>
['Tu', '2/5/08', '21.23', '8.446M', '11.252M']
spot of 21.23 with type <class 'str'>
['Mo', '2/4/08', '20.74', '5.212M', '11.211M']
spot of 20.74 with type <class 'str'>
['Fr', '2/1/08', '20.93', '10.243M', '11.189M']
spot of 20.93 with type <class 'str'>
['Th', '1/31/08', '20.27', '10.87M', '11.026M']
spot of 20.27 with type <class 'str'>
['We', '1/30/08', '20.4', '7.723M', '11.271M']
spot of 20.4 with type <class 'str'>
['Tu', '1/29/08', '20.41', '8.452M', '11.403M']
spot of 20.41 with type <class 'str'>
['Mo', '1/28/08', '20.85', '7.809M', '11.346M']
spot of 20.85 with type <class 'str'>
['Fr', '1/25/08', '20.99', '10.648M', '11.328M']
spot of 20.99 with type <class 'str'>
['Th', '1/24/08', '20.99', '14.547M', '11.283M']
spot of 20.99 with type <class 'str'>
['We', '1/23/08', '19.71', '18.246M', '10.692M']
spot of 19.71 with type <class 'str'>
['Tu', '1/22/08', '20.06', '12.247M', '9.662M']
spot of 20.06 with type <class 'str'>
['Fr', '1/18/08', '19.7', '23.785M', '9.007M']
spot of 19.7 with type <class 'str'>
['Th', '1/17/08', '21.6', '13.355M', '7.585M']
spot of 21.6 with type <class 'str'>
['We', '1/16/08', '22.98', '8.852M', '6.849M']
spot of 22.98 with type <class 'str'>
['Tu', '1/15/08', '23.32', '8.345M', '6.338M']
spot of 23.32 with type <class 'str'>
['Mo', '1/14/08', '23.76', '7.835M', '6.08M']
spot of 23.76 with type <class 'str'>
['Fr', '1/11/08', '22.91', '4.875M', '5.889M']
spot of 22.91 with type <class 'str'>
['Th', '1/10/08', '23.74', '7.797M', '5.982M']
spot of 23.74 with type <class 'str'>
['We', '1/9/08', '23.51', '14.544M', '5.963M']
spot of 23.51 with type <class 'str'>
['Tu', '1/8/08', '22.17', '9.703M', '5.458M']
spot of 22.17 with type <class 'str'>
['Mo', '1/7/08', '23.03', '7.602M', '5.284M']
spot of 23.03 with type <class 'str'>
['Fr', '1/4/08', '23.31', '7.541M', '5.194M']
spot of 23.31 with type <class 'str'>
['Th', '1/3/08', '24.51', '9.965M', '5.393M']
spot of 24.51 with type <class 'str'>
['We', '1/2/08', '24.44', '5.686M', '5.219M']
spot of 24.44 with type <class 'str'>
['Mo', '12/31/07', '25.5', '2.801M', '5.114M']
spot of 25.5 with type <class 'str'>
['Fr', '12/28/07', '25.85', '2.424M', '5.244M']
spot of 25.85 with type <class 'str'>
['Th', '12/27/07', '26.07', '2.451M', '5.728M']
spot of 26.07 with type <class 'str'>
['We', '12/26/07', '26.2', '2.308M', '6.306M']
spot of 26.2 with type <class 'str'>
['Mo', '12/24/07', '26.07', '1.198M', '6.597M']
spot of 26.07 with type <class 'str'>
['Fr', '12/21/07', '25.97', '4.468M', '6.895M']
spot of 25.97 with type <class 'str'>
['Th', '12/20/07', '26.39', '4.973M', '7.557M']
spot of 26.39 with type <class 'str'>
['We', '12/19/07', '26.29', '6.264M', '7.683M']
spot of 26.29 with type <class 'str'>
['Tu', '12/18/07', '26.33', '7.511M', '8.106M']
spot of 26.33 with type <class 'str'>
['Mo', '12/17/07', '27.24', '6.97M', '8.084M']
spot of 27.24 with type <class 'str'>
['Fr', '12/14/07', '27.52', '7.098M', '8.127M']
spot of 27.52 with type <class 'str'>
['Th', '12/13/07', '27.63', '6.256M', '7.854M']
spot of 27.63 with type <class 'str'>
['We', '12/12/07', '27.74', '10.515M', '7.844M']
spot of 27.74 with type <class 'str'>
['Tu', '12/11/07', '27.87', '7.355M', '7.598M']
spot of 27.87 with type <class 'str'>
['Mo', '12/10/07', '27.98', '4.117M', '7.6M']
spot of 27.98 with type <class 'str'>
['Fr', '12/7/07', '27.87', '4.753M', '7.79M']
spot of 27.87 with type <class 'str'>
['Th', '12/6/07', '27.56', '9.686M', '7.818M']
spot of 27.56 with type <class 'str'>
['We', '12/5/07', '27.19', '11.111M', '7.796M']
spot of 27.19 with type <class 'str'>
['Tu', '12/4/07', '25.6', '6.68M', '7.871M']
spot of 25.6 with type <class 'str'>
['Mo', '12/3/07', '25.52', '5.663M', '7.992M']
spot of 25.52 with type <class 'str'>
['Fr', '11/30/07', '25.79', '14.399M', '8.369M']
spot of 25.79 with type <class 'str'>
['Th', '11/29/07', '27.09', '6.871M', '8.119M']
spot of 27.09 with type <class 'str'>
['We', '11/28/07', '26.97', '12.605M', '8.203M']
spot of 26.97 with type <class 'str'>
['Tu', '11/27/07', '26.02', '7.184M', '7.814M']
spot of 26.02 with type <class 'str'>
['Mo', '11/26/07', '25.32', '7.616M', '7.833M']
spot of 25.32 with type <class 'str'>
['Fr', '11/23/07', '25', '3.005M', '8.737M']
spot of 25 with type <class 'str'>
['We', '11/21/07', '25.15', '6.103M', '9.172M']
spot of 25.15 with type <class 'str'>
['Tu', '11/20/07', '25.57', '6.824M', '9.657M']
spot of 25.57 with type <class 'str'>
['Mo', '11/19/07', '26.15', '7.384M', '9.545M']
spot of 26.15 with type <class 'str'>
['Fr', '11/16/07', '26.63', '6.968M', '9.57M']
spot of 26.63 with type <class 'str'>
['Th', '11/15/07', '25.95', '5.173M', '9.541M']
spot of 25.95 with type <class 'str'>
['We', '11/14/07', '26.29', '9.349M', '9.806M']
spot of 26.29 with type <class 'str'>
['Tu', '11/13/07', '26.27', '12.241M', '9.749M']
spot of 26.27 with type <class 'str'>
['Mo', '11/12/07', '25.92', '8.492M', '9.384M']
spot of 25.92 with type <class 'str'>
['Fr', '11/9/07', '27.1', '11.322M', '9.346M']
spot of 27.1 with type <class 'str'>
['Th', '11/8/07', '27.77', '10.643M', '9.129M']
spot of 27.77 with type <class 'str'>
['We', '11/7/07', '27.81', '8.142M', '8.846M']
spot of 27.81 with type <class 'str'>
['Tu', '11/6/07', '27.98', '6.764M', '9.285M']
spot of 27.98 with type <class 'str'>
['Mo', '11/5/07', '28.29', '7.477M', '9.343M']
spot of 28.29 with type <class 'str'>
['Fr', '11/2/07', '28.6', '21.17M', '9.299M']
spot of 28.6 with type <class 'str'>
['Th', '11/1/07', '27.6', '9.536M', '8.207M']
spot of 27.6 with type <class 'str'>
['We', '10/31/07', '27.84', '13.377M', '7.965M']
spot of 27.84 with type <class 'str'>
['Tu', '10/30/07', '26.98', '5.132M', '7.571M']
spot of 26.98 with type <class 'str'>
['Mo', '10/29/07', '27.3', '7.771M', '7.667M']
spot of 27.3 with type <class 'str'>
['Fr', '10/26/07', '26.95', '6.53M', '7.331M']
spot of 26.95 with type <class 'str'>
['Th', '10/25/07', '26.21', '9.141M', '7.162M']
spot of 26.21 with type <class 'str'>
['We', '10/24/07', '27.05', '8.497M', '6.932M']
spot of 27.05 with type <class 'str'>
['Tu', '10/23/07', '27.77', '6.773M', '6.804M']
spot of 27.77 with type <class 'str'>
['Mo', '10/22/07', '27.77', '7.915M', '6.72M']
spot of 27.77 with type <class 'str'>
['Fr', '10/19/07', '26.87', '8.07M', '6.601M']
spot of 26.87 with type <class 'str'>
['Th', '10/18/07', '27.4', '6.394M', '6.35M']
spot of 27.4 with type <class 'str'>
['We', '10/17/07', '27.01', '14.727M', '6.313M']
spot of 27.01 with type <class 'str'>
['Tu', '10/16/07', '26.45', '7.633M', '5.691M']
spot of 26.45 with type <class 'str'>
['Mo', '10/15/07', '26.89', '6.818M', '5.594M']
spot of 26.89 with type <class 'str'>
['Fr', '10/12/07', '26.72', '4.791M', '5.591M']
spot of 26.72 with type <class 'str'>
['Th', '10/11/07', '26.21', '5.906M', '5.604M']
spot of 26.21 with type <class 'str'>
['We', '10/10/07', '27.09', '7.463M', '5.633M']
spot of 27.09 with type <class 'str'>
['Tu', '10/9/07', '26.75', '6.583M', '5.56M']
spot of 26.75 with type <class 'str'>
['Mo', '10/8/07', '26.31', '2.724M', '5.554M']
spot of 26.31 with type <class 'str'>
['Fr', '10/5/07', '25.81', '4.004M', '5.597M']
spot of 25.81 with type <class 'str'>
['Th', '10/4/07', '25.53', '5.679M', '5.652M']
spot of 25.53 with type <class 'str'>
['We', '10/3/07', '25.92', '6.574M', '5.535M']
spot of 25.92 with type <class 'str'>
['Tu', '10/2/07', '26.66', '5.523M', '5.381M']
spot of 26.66 with type <class 'str'>
['Mo', '10/1/07', '26.63', '6.131M', '5.379M']
spot of 26.63 with type <class 'str'>
['Fr', '9/28/07', '25.58', '4.305M', '5.35M']
spot of 25.58 with type <class 'str'>
['Th', '9/27/07', '25.76', '5.831M', '5.562M']
spot of 25.76 with type <class 'str'>
['We', '9/26/07', '26.35', '5.398M', '5.533M']
spot of 26.35 with type <class 'str'>
['Tu', '9/25/07', '26.56', '6.183M', '5.697M']
spot of 26.56 with type <class 'str'>
['Mo', '9/24/07', '25.91', '6.765M', '5.609M']
spot of 25.91 with type <class 'str'>
['Fr', '9/21/07', '25.38', '4.993M', '5.479M']
spot of 25.38 with type <class 'str'>
['Th', '9/20/07', '25.4', '6.345M', '5.611M']
spot of 25.4 with type <class 'str'>
['We', '9/19/07', '25.41', '6.361M', '6.171M']
spot of 25.41 with type <class 'str'>
['Tu', '9/18/07', '25.03', '6.489M', '6.295M']
spot of 25.03 with type <class 'str'>
['Mo', '9/17/07', '24.66', '3.379M', '6.415M']
spot of 24.66 with type <class 'str'>
['Fr', '9/14/07', '24.67', '4.824M', '6.446M']
spot of 24.67 with type <class 'str'>
['Th', '9/13/07', '24.76', '3.931M', '6.62M']
spot of 24.76 with type <class 'str'>
['We', '9/12/07', '24.69', '4.262M', '6.687M']
spot of 24.69 with type <class 'str'>
['Tu', '9/11/07', '25.41', '5.492M', '6.807M']
spot of 25.41 with type <class 'str'>
['Mo', '9/10/07', '24.85', '5.685M', '6.829M']
spot of 24.85 with type <class 'str'>
['Fr', '9/7/07', '25.14', '7.49M', '7.088M']
spot of 25.14 with type <class 'str'>
['Th', '9/6/07', '25.99', '5.398M', '7.479M']
spot of 25.99 with type <class 'str'>
['We', '9/5/07', '25.48', '7.859M', '7.55M']
spot of 25.48 with type <class 'str'>
['Tu', '9/4/07', '25.95', '4.861M', '7.437M']
spot of 25.95 with type <class 'str'>
['Fr', '8/31/07', '25.82', '4.819M', '7.471M']
spot of 25.82 with type <class 'str'>
['Th', '8/30/07', '25.4', '6.966M', '7.617M']
spot of 25.4 with type <class 'str'>
['We', '8/29/07', '25.39', '14.752M', '7.785M']
spot of 25.39 with type <class 'str'>
['Tu', '8/28/07', '24.46', '8.212M', '7.381M']
spot of 24.46 with type <class 'str'>
['Mo', '8/27/07', '24.89', '8.291M', '7.33M']
spot of 24.89 with type <class 'str'>
['Fr', '8/24/07', '24.96', '3.849M', '7.139M']
spot of 24.96 with type <class 'str'>
['Th', '8/23/07', '24.7', '7.439M', '7.222M']
spot of 24.7 with type <class 'str'>
['We', '8/22/07', '24.47', '4.926M', '7.054M']

spot of 24.47 with type <class 'str'>
['Tu', '8/21/07', '24.25', '6.07M', '7.176M']
spot of 24.25 with type <class 'str'>
['Mo', '8/20/07', '24.23', '5.812M', '7.073M']
spot of 24.23 with type <class 'str'>
['Fr', '8/17/07', '23.75', '9.573M', '6.971M']
spot of 23.75 with type <class 'str'>
['Th', '8/16/07', '22.67', '13.357M', '6.659M']
spot of 22.67 with type <class 'str'>
['We', '8/15/07', '23.36', '6.467M', '6.425M']
spot of 23.36 with type <class 'str'>
['Tu', '8/14/07', '24.3', '6.161M', '6.343M']
spot of 24.3 with type <class 'str'>
['Mo', '8/13/07', '24.3', '5.375M', '6.354M']
spot of 24.3 with type <class 'str'>
['Fr', '8/10/07', '23.85', '7.006M', '6.337M']
spot of 23.85 with type <class 'str'>
['Th', '8/9/07', '23.22', '9.491M', '6.587M']
spot of 23.22 with type <class 'str'>
['We', '8/8/07', '23.86', '8.683M', '6.683M']
spot of 23.86 with type <class 'str'>
['Tu', '8/7/07', '23', '7.449M', '6.894M']
spot of 23 with type <class 'str'>
['Mo', '8/6/07', '23.93', '5.435M', '6.91M']
spot of 23.93 with type <class 'str'>
['Fr', '8/3/07', '23.48', '5.091M', '6.938M']
spot of 23.48 with type <class 'str'>
['Th', '8/2/07', '24.15', '4.914M', '7.52M']
spot of 24.15 with type <class 'str'>
['We', '8/1/07', '23.78', '6.752M', '7.626M']
spot of 23.78 with type <class 'str'>
['Tu', '7/31/07', '23.51', '4.525M', '7.582M']
spot of 23.51 with type <class 'str'>
['Mo', '7/30/07', '24.16', '4.293M', '7.591M']
spot of 24.16 with type <class 'str'>
['Fr', '7/27/07', '23.81', '4.882M', '7.538M']
spot of 23.81 with type <class 'str'>
['Th', '7/26/07', '24.61', '9.846M', '7.595M']
spot of 24.61 with type <class 'str'>
['We', '7/25/07', '24.96', '5.239M', '7.257M']
spot of 24.96 with type <class 'str'>
['Tu', '7/24/07', '24.33', '6.325M', '7.105M']
spot of 24.33 with type <class 'str'>
['Mo', '7/23/07', '24.88', '5.13M', '7.02M']
spot of 24.88 with type <class 'str'>
['Fr', '7/20/07', '24.63', '10.744M', '7.197M']
spot of 24.63 with type <class 'str'>
['Th', '7/19/07', '24.12', '10.931M', '6.983M']
spot of 24.12 with type <class 'str'>
['We', '7/18/07', '23.41', '11.852M', '6.515M']
spot of 23.41 with type <class 'str'>
['Tu', '7/17/07', '23.2', '7.692M', '5.949M']
spot of 23.2 with type <class 'str'>
['Mo', '7/16/07', '22.78', '5.855M', '5.78M']
spot of 22.78 with type <class 'str'>
['Fr', '7/13/07', '22.8', '13.818M', '7.171M']
spot of 22.8 with type <class 'str'>
['Th', '7/12/07', '23.05', '6.511M', '6.704M']
spot of 23.05 with type <class 'str'>
['We', '7/11/07', '22.68', '6.085M', '6.575M']
spot of 22.68 with type <class 'str'>
['Tu', '7/10/07', '23', '4.655M', '6.533M']
spot of 23 with type <class 'str'>
['Mo', '7/9/07', '23.52', '3.506M', '6.545M']
spot of 23.52 with type <class 'str'>
['Fr', '7/6/07', '23.57', '5.733M', '6.696M']
spot of 23.57 with type <class 'str'>
['Th', '7/5/07', '23.12', '4.78M', '6.592M']
spot of 23.12 with type <class 'str'>
['Tu', '7/3/07', '22.74', '2.952M', '6.715M']
spot of 22.74 with type <class 'str'>
['Mo', '7/2/07', '22.34', '5.056M', '7.311M']
spot of 22.34 with type <class 'str'>
['Fr', '6/29/07', '21.77', '7.783M', '7.29M']
spot of 21.77 with type <class 'str'>
['Th', '6/28/07', '21.55', '7.539M', '7.189M']
spot of 21.55 with type <class 'str'>
['We', '6/27/07', '22.31', '3.907M', '7.066M']
spot of 22.31 with type <class 'str'>
['Tu', '6/26/07', '22', '3.371M', '7.294M']
spot of 22 with type <class 'str'>
['Mo', '6/25/07', '21.83', '5.153M', '7.583M']
spot of 21.83 with type <class 'str'>
['Fr', '6/22/07', '22.19', '26.722M', '7.669M']
spot of 22.19 with type <class 'str'>
['Th', '6/21/07', '22.23', '6.812M', '6.35M']
spot of 22.23 with type <class 'str'>
['We', '6/20/07', '21.38', '4.566M', '6.438M']
spot of 21.38 with type <class 'str'>
['Tu', '6/19/07', '21.67', '5.468M', '6.791M']
spot of 21.67 with type <class 'str'>
['Mo', '6/18/07', '21.01', '4.824M', '6.755M']
spot of 21.01 with type <class 'str'>
['Fr', '6/15/07', '20.96', '5.776M', '7.086M']
spot of 20.96 with type <class 'str'>
['Th', '6/14/07', '20.77', '4.169M', '7.48M']
spot of 20.77 with type <class 'str'>
['We', '6/13/07', '20.7', '6.634M', '7.769M']
spot of 20.7 with type <class 'str'>
['Tu', '6/12/07', '20.83', '11.885M', '7.882M']
spot of 20.83 with type <class 'str'>
['Mo', '6/11/07', '20.86', '4.745M', '7.519M']
spot of 20.86 with type <class 'str'>
['Fr', '6/8/07', '20.9', '6.26M', '7.679M']
spot of 20.9 with type <class 'str'>
['Th', '6/7/07', '20.36', '5.696M', '7.837M']
spot of 20.36 with type <class 'str'>
['We', '6/6/07', '20.58', '7.324M', '7.774M']
spot of 20.58 with type <class 'str'>
['Tu', '6/5/07', '20.4', '7.706M', '7.53M']
spot of 20.4 with type <class 'str'>
['Mo', '6/4/07', '20.75', '6.45M', '7.193M']
spot of 20.75 with type <class 'str'>
['Fr', '6/1/07', '20.73', '6.931M', '6.954M']
spot of 20.73 with type <class 'str'>
['Th', '5/31/07', '20.59', '8.136M', '6.733M']
spot of 20.59 with type <class 'str'>
['We', '5/30/07', '20.69', '9.866M', '6.439M']
spot of 20.69 with type <class 'str'>
['Tu', '5/29/07', '20.76', '4.928M', '6.049M']
spot of 20.76 with type <class 'str'>
['Fr', '5/25/07', '20.3', '9.79M', '6.211M']
spot of 20.3 with type <class 'str'>
['Th', '5/24/07', '20.69', '11.676M', '5.812M']
spot of 20.69 with type <class 'str'>
['We', '5/23/07', '21.15', '8.504M', '5.387M']
spot of 21.15 with type <class 'str'>
['Tu', '5/22/07', '21.35', '8.335M', '5.237M']
spot of 21.35 with type <class 'str'>
['Mo', '5/21/07', '20.86', '6.437M', '5.113M']
spot of 20.86 with type <class 'str'>
['Fr', '5/18/07', '20.88', '7.15M', '4.982M']
spot of 20.88 with type <class 'str'>
['Th', '5/17/07', '20.71', '8.626M', '4.962M']
spot of 20.71 with type <class 'str'>
['We', '5/16/07', '21.28', '4.755M', '5.062M']
spot of 21.28 with type <class 'str'>
['Tu', '5/15/07', '21.43', '3.661M', '5.017M']
spot of 21.43 with type <class 'str'>
['Mo', '5/14/07', '21.71', '2.654M', '5.257M']
spot of 21.71 with type <class 'str'>
['Fr', '5/11/07', '22.11', '2.864M', '5.434M']
spot of 22.11 with type <class 'str'>
['Th', '5/10/07', '21.7', '3.613M', '6.052M']
spot of 21.7 with type <class 'str'>
['We', '5/9/07', '22.28', '3.732M', '6.441M']
spot of 22.28 with type <class 'str'>
['Tu', '5/8/07', '22.5', '4.015M', '8.319M']
spot of 22.5 with type <class 'str'>
['Mo', '5/7/07', '22.34', '7.361M', '9.061M']
spot of 22.34 with type <class 'str'>
['Fr', '5/4/07', '22.07', '3.797M', '9.094M']
spot of 22.07 with type <class 'str'>
['Th', '5/3/07', '22.18', '5.302M', '9.383M']
spot of 22.18 with type <class 'str'>
['We', '5/2/07', '21.65', '6.261M', '9.463M']
spot of 21.65 with type <class 'str'>
['Tu', '5/1/07', '21.6', '6.475M', '9.841M']
spot of 21.6 with type <class 'str'>
['Mo', '4/30/07', '22.15', '4.461M', '11.735M']
spot of 22.15 with type <class 'str'>
['Fr', '4/27/07', '22.1', '6.853M', '11.651M']
spot of 22.1 with type <class 'str'>
['Th', '4/26/07', '22.45', '10.131M', '11.548M']
spot of 22.45 with type <class 'str'>
['We', '4/25/07', '22.07', '4.075M', '11.224M']
spot of 22.07 with type <class 'str'>
['Tu', '4/24/07', '22.09', '7.266M', '11.29M']
spot of 22.09 with type <class 'str'>
['Mo', '4/23/07', '21.55', '5.309M', '11.186M']
spot of 21.55 with type <class 'str'>
['Fr', '4/20/07', '21.58', '12.127M', '11.308M']
spot of 21.58 with type <class 'str'>
['Th', '4/19/07', '21.33', '9.453M', '10.985M']
spot of 21.33 with type <class 'str'>
['We', '4/18/07', '21.3', '31.897M', '10.74M']
spot of 21.3 with type <class 'str'>
['Tu', '4/17/07', '22.15', '15.142M', '8.85M']
spot of 22.15 with type <class 'str'>
['Mo', '4/16/07', '22.54', '7.862M', '8.122M']
spot of 22.54 with type <class 'str'>
['Fr', '4/13/07', '22.01', '8.136M', '7.934M']
spot of 22.01 with type <class 'str'>
['Th', '4/12/07', '21.74', '6.502M', '7.595M']
spot of 21.74 with type <class 'str'>
['We', '4/11/07', '21.5', '11.923M', '7.392M']
spot of 21.5 with type <class 'str'>
['Tu', '4/10/07', '22', '34.892M', '6.969M']
spot of 22 with type <class 'str'>
['Mo', '4/9/07', '23.46', '3.191M', '4.872M']
spot of 23.46 with type <class 'str'>
['Th', '4/5/07', '23.27', '5.313M', '4.854M']
spot of 23.27 with type <class 'str'>
['We', '4/4/07', '22.86', '5.278M', '4.901M']
spot of 22.86 with type <class 'str'>
['Tu', '4/3/07', '23.23', '5.063M', '4.847M']
spot of 23.23 with type <class 'str'>
['Mo', '4/2/07', '22.93', '5.701M', '4.766M']
spot of 22.93 with type <class 'str'>
['Fr', '3/30/07', '23.3', '7.138M', '4.673M']
spot of 23.3 with type <class 'str'>
['Th', '3/29/07', '23.42', '7.285M', '4.787M']
spot of 23.42 with type <class 'str'>
['We', '3/28/07', '23.8', '5.776M', '4.739M']
spot of 23.8 with type <class 'str'>
['Tu', '3/27/07', '24.51', '3.551M', '4.68M']
spot of 24.51 with type <class 'str'>
['Mo', '3/26/07', '24.77', '4.226M', '4.963M']
spot of 24.77 with type <class 'str'>
['Fr', '3/23/07', '25.04', '5.03M', '5.308M']
spot of 25.04 with type <class 'str'>
['Th', '3/22/07', '25.11', '3.049M', '5.977M']
spot of 25.11 with type <class 'str'>
['We', '3/21/07', '25.25', '3.471M', '6.299M']
spot of 25.25 with type <class 'str'>
['Tu', '3/20/07', '24.62', '5.574M', '6.573M']
spot of 24.62 with type <class 'str'>
['Mo', '3/19/07', '24.48', '3.433M', '6.691M']
spot of 24.48 with type <class 'str'>
['Fr', '3/16/07', '24.45', '2.927M', '6.894M']
spot of 24.45 with type <class 'str'>
['Th', '3/15/07', '24.6', '6.022M', '7.105M']
spot of 24.6 with type <class 'str'>
['We', '3/14/07', '24.32', '4.457M', '7.305M']
spot of 24.32 with type <class 'str'>
['Tu', '3/13/07', '24.05', '3.847M', '7.324M']
spot of 24.05 with type <class 'str'>
['Mo', '3/12/07', '24.64', '4.312M', '7.338M']
spot of 24.64 with type <class 'str'>
['Fr', '3/9/07', '24.26', '8.849M', '7.433M']
spot of 24.26 with type <class 'str'>
['Th', '3/8/07', '24.3', '6.566M', '7.013M']
spot of 24.3 with type <class 'str'>
['We', '3/7/07', '24.7', '4.882M', '6.92M']
spot of 24.7 with type <class 'str'>
['Tu', '3/6/07', '24.79', '7.795M', '6.878M']
spot of 24.79 with type <class 'str'>
['Mo', '3/5/07', '24.63', '9.41M', '6.481M']
spot of 24.63 with type <class 'str'>
['Fr', '3/2/07', '24.64', '15.057M', '6.105M']
spot of 24.64 with type <class 'str'>
['Th', '3/1/07', '26.43', '7.889M', '5.283M']
spot of 26.43 with type <class 'str'>
['We', '2/28/07', '26.9', '7.576M', '5.086M']
spot of 26.9 with type <class 'str'>
['Tu', '2/27/07', '26.61', '7.34M', '4.889M']
spot of 26.61 with type <class 'str'>
['Mo', '2/26/07', '28.16', '6.487M', '4.79M']
spot of 28.16 with type <class 'str'>
['Fr', '2/23/07', '28', '6.08M', '4.915M']
spot of 28 with type <class 'str'>
['Th', '2/22/07', '27.53', '9.035M', '4.887M']
spot of 27.53 with type <class 'str'>
['We', '2/21/07', '27.04', '4.733M', '4.645M']
spot of 27.04 with type <class 'str'>
['Tu', '2/20/07', '26.83', '4.06M', '4.572M']
spot of 26.83 with type <class 'str'>
['Fr', '2/16/07', '26.54', '5.743M', '4.657M']
spot of 26.54 with type <class 'str'>
['Th', '2/15/07', '26.66', '2.544M', '4.875M']
spot of 26.66 with type <class 'str'>
['We', '2/14/07', '26.6', '5.176M', '5.217M']
spot of 26.6 with type <class 'str'>
['Tu', '2/13/07', '26.07', '4.253M', '5.932M']
spot of 26.07 with type <class 'str'>
['Mo', '2/12/07', '26.03', '1.829M', '6.197M']
spot of 26.03 with type <class 'str'>
['Fr', '2/9/07', '26.06', '3.779M', '6.477M']
spot of 26.06 with type <class 'str'>
['Th', '2/8/07', '26.33', '2.714M', '6.652M']
spot of 26.33 with type <class 'str'>
['We', '2/7/07', '26.34', '4.934M', '7.105M']
spot of 26.34 with type <class 'str'>
['Tu', '2/6/07', '26.08', '4.63M', '7.196M']
spot of 26.08 with type <class 'str'>
['Mo', '2/5/07', '26.4', '5.855M', '7.279M']
spot of 26.4 with type <class 'str'>
['Fr', '2/2/07', '26.34', '8.361M', '7.215M']
spot of 26.34 with type <class 'str'>
['Th', '2/1/07', '26.75', '5.66M', '7.087M']
spot of 26.75 with type <class 'str'>
['We', '1/31/07', '27.09', '5.399M', '7.367M']
spot of 27.09 with type <class 'str'>
['Tu', '1/30/07', '27.61', '3.649M', '7.669M']
spot of 27.61 with type <class 'str'>
['Mo', '1/29/07', '27.46', '5.326M', '7.908M']
spot of 27.46 with type <class 'str'>
['Fr', '1/26/07', '27.35', '9.011M', '8.082M']
spot of 27.35 with type <class 'str'>
['Th', '1/25/07', '27.71', '7.68M', '7.87M']
spot of 27.71 with type <class 'str'>
['We', '1/24/07', '28.35', '15.901M', '7.784M']
spot of 28.35 with type <class 'str'>
['Tu', '1/23/07', '26.18', '8.228M', '6.882M']
spot of 26.18 with type <class 'str'>
['Mo', '1/22/07', '26.48', '6.029M', '6.622M']
spot of 26.48 with type <class 'str'>
['Fr', '1/19/07', '25.95', '6.398M', '6.43M']
spot of 25.95 with type <class 'str'>
['Th', '1/18/07', '26.29', '9.52M', '6.137M']
spot of 26.29 with type <class 'str'>
['We', '1/17/07', '27.38', '6.295M', '5.688M']
spot of 27.38 with type <class 'str'>
['Tu', '1/16/07', '26.97', '5.876M', '5.533M']
spot of 26.97 with type <class 'str'>
['Fr', '1/12/07', '26.82', '4.89M', '5.615M']
spot of 26.82 with type <class 'str'>
['Th', '1/11/07', '26.81', '6.45M', '5.58M']
spot of 26.81 with type <class 'str'>
['We', '1/10/07', '26.81', '9.855M', '5.368M']
spot of 26.81 with type <class 'str'>
['Tu', '1/9/07', '26.68', '9.922M', '5.114M']
spot of 26.68 with type <class 'str'>
['Mo', '1/8/07', '25.86', '7.234M', '4.818M']
spot of 25.86 with type <class 'str'>
['Fr', '1/5/07', '26.01', '7.943M', '4.637M']
spot of 26.01 with type <class 'str'>
['Th', '1/4/07', '26.4', '5.827M', '4.614M']
spot of 26.4 with type <class 'str'>
['We', '1/3/07', '26.07', '6.392M', '4.456M']
spot of 26.07 with type <class 'str'>
['Fr', '12/29/06', '26.5', '2.374M', '4.372M']
spot of 26.5 with type <class 'str'>
['Th', '12/28/06', '26.47', '4.321M', '4.521M']
spot of 26.47 with type <class 'str'>
['We', '12/27/06', '26.83', '3.158M', '4.66M']
spot of 26.83 with type <class 'str'>
['Tu', '12/26/06', '26.85', '2.001M', '4.697M']
spot of 26.85 with type <class 'str'>
['Fr', '12/22/06', '26.54', '2.782M', '4.85M']
spot of 26.54 with type <class 'str'>
['Th', '12/21/06', '26.34', '3.977M', '5.006M']
spot of 26.34 with type <class 'str'>
['We', '12/20/06', '26.9', '7.095M', '5.2M']
spot of 26.9 with type <class 'str'>
['Tu', '12/19/06', '26.82', '4.366M', '5.179M']
spot of 26.82 with type <class 'str'>
['Mo', '12/18/06', '26.7', '3.269M', '5.337M']
spot of 26.7 with type <class 'str'>
['Fr', '12/15/06', '26.73', '6.054M', '5.737M']
spot of 26.73 with type <class 'str'>
['Th', '12/14/06', '26.35', '5.48M', '5.465M']
spot of 26.35 with type <class 'str'>
['We', '12/13/06', '26.1', '4.52M', '5.447M']
spot of 26.1 with type <class 'str'>
['Tu', '12/12/06', '25.77', '7.599M', '5.522M']
spot of 25.77 with type <class 'str'>
['Mo', '12/11/06', '26.17', '3.456M', '5.628M']
spot of 26.17 with type <class 'str'>
['Fr', '12/8/06', '26.4', '5.129M', '5.795M']
spot of 26.4 with type <class 'str'>
['Th', '12/7/06', '26.36', '4.605M', '6.349M']
spot of 26.36 with type <class 'str'>
['We', '12/6/06', '26.37', '6.413M', '6.73M']
spot of 26.37 with type <class 'str'>
['Tu', '12/5/06', '26.25', '3.704M', '6.8M']
spot of 26.25 with type <class 'str'>
['Mo', '12/4/06', '26.02', '4.305M', '6.854M']
spot of 26.02 with type <class 'str'>
['Fr', '12/1/06', '25.82', '5.12M', '6.871M']
spot of 25.82 with type <class 'str'>
['Th', '11/30/06', '25.76', '6.889M', '7.151M']
spot of 25.76 with type <class 'str'>
['We', '11/29/06', '25.66', '6.779M', '7.316M']
spot of 25.66 with type <class 'str'>
['Tu', '11/28/06', '25.83', '6.733M', '7.413M']
spot of 25.83 with type <class 'str'>
['Mo', '11/27/06', '25.48', '9.269M', '7.406M']
spot of 25.48 with type <class 'str'>
['Fr', '11/24/06', '26.69', '1.976M', '7.319M']
spot of 26.69 with type <class 'str'>
['We', '11/22/06', '26.31', '5.206M', '7.5M']
spot of 26.31 with type <class 'str'>
['Tu', '11/21/06', '25.67', '5.648M', '7.815M']
spot of 25.67 with type <class 'str'>
['Mo', '11/20/06', '25.83', '9.193M', '7.67M']
spot of 25.83 with type <class 'str'>
['Fr', '11/17/06', '25.35', '5.959M', '7.443M']
spot of 25.35 with type <class 'str'>
['Th', '11/16/06', '25.34', '13.436M', '7.543M']
spot of 25.34 with type <class 'str'>
['We', '11/15/06', '24.73', '10.323M', '7.074M']
spot of 24.73 with type <class 'str'>
['Tu', '11/14/06', '23.77', '7.465M', '7.481M']
spot of 23.77 with type <class 'str'>
['Mo', '11/13/06', '23.15', '4.504M', '7.556M']
spot of 23.15 with type <class 'str'>
['Fr', '11/10/06', '23.45', '4.569M', '7.789M']
spot of 23.45 with type <class 'str'>
['Th', '11/9/06', '23.64', '9.318M', '7.996M']
spot of 23.64 with type <class 'str'>
['We', '11/8/06', '23.09', '9.358M', '7.677M']
spot of 23.09 with type <class 'str'>
['Tu', '11/7/06', '22.77', '8.245M', '7.289M']
spot of 22.77 with type <class 'str'>
['Mo', '11/6/06', '23.1', '6.625M', '7.028M']
spot of 23.1 with type <class 'str'>
['Fr', '11/3/06', '22.78', '7.961M', '6.979M']
spot of 22.78 with type <class 'str'>
['Th', '11/2/06', '22.3', '4.689M', '6.989M']
spot of 22.3 with type <class 'str'>
['We', '11/1/06', '22.26', '9.93M', '7.155M']
spot of 22.26 with type <class 'str'>
['Tu', '10/31/06', '22.58', '3.48M', '7.162M']
spot of 22.58 with type <class 'str'>
['Mo', '10/30/06', '22.68', '5.785M', '8.306M']
spot of 22.68 with type <class 'str'>
['Fr', '10/27/06', '22.17', '7.451M', '8.51M']
spot of 22.17 with type <class 'str'>
['Th', '10/26/06', '22.95', '6.405M', '8.347M']
spot of 22.95 with type <class 'str'>
['We', '10/25/06', '22.43', '16.426M', '8.235M']
spot of 22.43 with type <class 'str'>
['Tu', '10/24/06', '21.13', '8.587M', '7.484M']
spot of 21.13 with type <class 'str'>
['Mo', '10/23/06', '21.45', '7.999M', '7.469M']
spot of 21.45 with type <class 'str'>
['Fr', '10/20/06', '22.07', '7.685M', '7.277M']
spot of 22.07 with type <class 'str'>
['Th', '10/19/06', '21.65', '4.524M', '7.099M']
spot of 21.65 with type <class 'str'>
['We', '10/18/06', '21.52', '3.547M', '7.178M']
spot of 21.52 with type <class 'str'>
['Tu', '10/17/06', '21.89', '4.32M', '7.469M']
spot of 21.89 with type <class 'str'>
['Mo', '10/16/06', '22', '5.902M', '7.633M']
spot of 22 with type <class 'str'>
['Fr', '10/13/06', '21.65', '8.098M', '7.598M']
spot of 21.65 with type <class 'str'>
['Th', '10/12/06', '20.91', '7.189M', '7.435M']
spot of 20.91 with type <class 'str'>
['We', '10/11/06', '20.93', '10.031M', '7.429M']
spot of 20.93 with type <class 'str'>
['Tu', '10/10/06', '20.96', '20.634M', '7.194M']
spot of 20.96 with type <class 'str'>
['Mo', '10/9/06', '21.66', '8.85M', '6.358M']
spot of 21.66 with type <class 'str'>
['Fr', '10/6/06', '22.38', '5.012M', '6.419M']
spot of 22.38 with type <class 'str'>
['Th', '10/5/06', '22.65', '4.716M', '6.831M']
spot of 22.65 with type <class 'str'>
['We', '10/4/06', '22.81', '5.174M', '7.029M']
spot of 22.81 with type <class 'str'>
['Tu', '10/3/06', '22.82', '8.36M', '7.003M']
spot of 22.82 with type <class 'str'>
['Mo', '10/2/06', '22.93', '5.117M', '6.821M']
spot of 22.93 with type <class 'str'>
['Fr', '9/29/06', '23.09', '5.015M', '6.729M']
spot of 23.09 with type <class 'str'>
['Th', '9/28/06', '23', '5.703M', '6.756M']
spot of 23 with type <class 'str'>
['We', '9/27/06', '23.05', '7.917M', '6.97M']
spot of 23.05 with type <class 'str'>
['Tu', '9/26/06', '22.49', '6.778M', '7.1M']
spot of 22.49 with type <class 'str'>
['Mo', '9/25/06', '22.6', '5.375M', '7.251M']
spot of 22.6 with type <class 'str'>
['Fr', '9/22/06', '22.52', '5.66M', '7.334M']
spot of 22.52 with type <class 'str'>
['Th', '9/21/06', '22.82', '7.097M', '7.306M']
spot of 22.82 with type <class 'str'>
['We', '9/20/06', '22.99', '6.504M', '7.213M']
spot of 22.99 with type <class 'str'>
['Tu', '9/19/06', '22.47', '8.099M', '7.144M']
spot of 22.47 with type <class 'str'>
['Mo', '9/18/06', '22.21', '9.754M', '6.855M']
spot of 22.21 with type <class 'str'>
['Fr', '9/15/06', '22.09', '11.203M', '6.393M']
spot of 22.09 with type <class 'str'>
['Th', '9/14/06', '22.18', '7.679M', '5.93M']
spot of 22.18 with type <class 'str'>
['We', '9/13/06', '21.14', '4.778M', '5.889M']
spot of 21.14 with type <class 'str'>

['Tu', '6/13/06', '21.07', '11.036M', '9.751M']
spot of 21.07 with type <class 'str'>
['Mo', '6/12/06', '22.24', '5.233M', '9.601M']
spot of 22.24 with type <class 'str'>
['Fr', '6/9/06', '23.11', '8.745M', '9.973M']
spot of 23.11 with type <class 'str'>
['Th', '6/8/06', '23.06', '12.95M', '9.853M']
spot of 23.06 with type <class 'str'>
['We', '6/7/06', '22.38', '15.622M', '9.423M']
spot of 22.38 with type <class 'str'>
['Tu', '6/6/06', '22.72', '5.4M', '8.857M']
spot of 22.72 with type <class 'str'>
['Mo', '6/5/06', '23', '8.988M', '8.853M']
spot of 23 with type <class 'str'>
['Fr', '6/2/06', '24.12', '7.48M', '8.82M']
spot of 24.12 with type <class 'str'>
['Th', '6/1/06', '23.95', '7.183M', '8.869M']
spot of 23.95 with type <class 'str'>
['We', '5/31/06', '23.35', '15.905M', '8.75M']
spot of 23.35 with type <class 'str'>
['Tu', '5/30/06', '23.51', '10.467M', '7.891M']
spot of 23.51 with type <class 'str'>
['Fr', '5/26/06', '24.21', '4.408M', '7.439M']
spot of 24.21 with type <class 'str'>
['Th', '5/25/06', '23.92', '7.535M', '7.336M']
spot of 23.92 with type <class 'str'>
['We', '5/24/06', '23.25', '10.811M', '7.12M']
spot of 23.25 with type <class 'str'>
['Tu', '5/23/06', '23.68', '14.502M', '6.785M']
spot of 23.68 with type <class 'str'>
['Mo', '5/22/06', '24.91', '8.784M', '6.06M']
spot of 24.91 with type <class 'str'>
['Fr', '5/19/06', '24.95', '10.822M', '5.837M']
spot of 24.95 with type <class 'str'>
['Th', '5/18/06', '24.06', '6.931M', '5.508M']
spot of 24.06 with type <class 'str'>
['We', '5/17/06', '23.58', '6.506M', '5.467M']
spot of 23.58 with type <class 'str'>
['Tu', '5/16/06', '23.25', '7.13M', '5.219M']
spot of 23.25 with type <class 'str'>
['Mo', '5/15/06', '23.8', '5.35M', '5.016M']
spot of 23.8 with type <class 'str'>
['Fr', '5/12/06', '24.09', '8.488M', '4.956M']
spot of 24.09 with type <class 'str'>
['Th', '5/11/06', '24.6', '8.22M', '4.882M']
spot of 24.6 with type <class 'str'>
['We', '5/10/06', '25.73', '5.386M', '4.823M']
spot of 25.73 with type <class 'str'>
['Tu', '5/9/06', '26.48', '3.028M', '5.808M']
spot of 26.48 with type <class 'str'>
['Mo', '5/8/06', '26.6', '3.684M', '6.165M']
spot of 26.6 with type <class 'str'>
['Fr', '5/5/06', '26.48', '2.872M', '6.219M']
spot of 26.48 with type <class 'str'>
['Th', '5/4/06', '26.33', '4.291M', '6.376M']
spot of 26.33 with type <class 'str'>
['We', '5/3/06', '26.5', '5.787M', '6.484M']
spot of 26.5 with type <class 'str'>
['Tu', '5/2/06', '26.75', '3.623M', '6.368M']
spot of 26.75 with type <class 'str'>
['Mo', '5/1/06', '26.7', '5.439M', '6.406M']
spot of 26.7 with type <class 'str'>
['Fr', '4/28/06', '26.56', '5.882M', '6.349M']
spot of 26.56 with type <class 'str'>
['Th', '4/27/06', '25.97', '6.324M', '6.279M']
spot of 25.97 with type <class 'str'>
['We', '4/26/06', '24.88', '2.784M', '6.804M']
spot of 24.88 with type <class 'str'>
['Tu', '4/25/06', '25.33', '4.078M', '7.701M']
spot of 25.33 with type <class 'str'>
['Mo', '4/24/06', '24.97', '4.46M', '7.71M']
spot of 24.97 with type <class 'str'>
['Fr', '4/21/06', '25.1', '7.372M', '7.851M']
spot of 25.1 with type <class 'str'>
['Th', '4/20/06', '25.4', '7.329M', '7.89M']
spot of 25.4 with type <class 'str'>
['We', '4/19/06', '25.75', '20.17M', '7.903M']
spot of 25.75 with type <class 'str'>
['Tu', '4/18/06', '27.52', '8.377M', '6.885M']
spot of 27.52 with type <class 'str'>
['Mo', '4/17/06', '26.85', '4.492M', '6.618M']
spot of 26.85 with type <class 'str'>
['Th', '4/13/06', '26.2', '5.23M', '6.548M']
spot of 26.2 with type <class 'str'>
['We', '4/12/06', '26.69', '5.912M', '6.579M']
spot of 26.69 with type <class 'str'>
['Tu', '4/11/06', '26.4', '4.053M', '6.956M']
spot of 26.4 with type <class 'str'>
['Mo', '4/10/06', '26.45', '4.195M', '7.047M']
spot of 26.45 with type <class 'str'>
['Fr', '4/7/06', '27.2', '4.583M', '7.094M']
spot of 27.2 with type <class 'str'>
['Th', '4/6/06', '27.12', '4.834M', '7.302M']
spot of 27.12 with type <class 'str'>
['We', '4/5/06', '27.25', '14.193M', '7.288M']
spot of 27.25 with type <class 'str'>
['Tu', '4/4/06', '27.69', '16.245M', '6.872M']
spot of 27.69 with type <class 'str'>
['Mo', '4/3/06', '26.22', '4.206M', '6.223M']
spot of 26.22 with type <class 'str'>
['Fr', '3/31/06', '26.33', '6.577M', '6.618M']
spot of 26.33 with type <class 'str'>
['Th', '3/30/06', '26.33', '7.953M', '6.958M']
spot of 26.33 with type <class 'str'>
['We', '3/29/06', '25.49', '7.525M', '7.244M']
spot of 25.49 with type <class 'str'>
['Tu', '3/28/06', '24.08', '4.898M', '7.673M']
spot of 24.08 with type <class 'str'>
['Mo', '3/27/06', '24.14', '4.367M', '8.337M']
spot of 24.14 with type <class 'str'>
['Fr', '3/24/06', '24.47', '3.451M', '8.483M']
spot of 24.47 with type <class 'str'>
['Th', '3/23/06', '24.22', '5.697M', '8.749M']
spot of 24.22 with type <class 'str'>
['We', '3/22/06', '24.01', '11.561M', '8.722M']
spot of 24.01 with type <class 'str'>
['Tu', '3/21/06', '24.94', '5.417M', '8.279M']
spot of 24.94 with type <class 'str'>
['Mo', '3/20/06', '25', '4.904M', '8.333M']
spot of 25 with type <class 'str'>
['Fr', '3/17/06', '24.73', '7.694M', '8.25M']
spot of 24.73 with type <class 'str'>
['Th', '3/16/06', '24.66', '4.625M', '8.198M']
spot of 24.66 with type <class 'str'>
['We', '3/15/06', '25.46', '7.959M', '8.38M']
spot of 25.46 with type <class 'str'>
['Tu', '3/14/06', '24.7', '6.504M', '8.279M']
spot of 24.7 with type <class 'str'>
['Mo', '3/13/06', '23.92', '10.134M', '8.16M']
spot of 23.92 with type <class 'str'>
['Fr', '3/10/06', '24.28', '11.677M', '7.926M']
spot of 24.28 with type <class 'str'>
['Th', '3/9/06', '24.5', '12.248M', '7.582M']
spot of 24.5 with type <class 'str'>
['We', '3/8/06', '24.86', '13.962M', '7.849M']
spot of 24.86 with type <class 'str'>
['Tu', '3/7/06', '26.15', '14.858M', '7.545M']
spot of 26.15 with type <class 'str'>
['Mo', '3/6/06', '27.52', '6.55M', '7.014M']
spot of 27.52 with type <class 'str'>
['Fr', '3/3/06', '28.08', '7.451M', '6.836M']
spot of 28.08 with type <class 'str'>
['Th', '3/2/06', '27.7', '5.29M', '6.698M']
spot of 27.7 with type <class 'str'>
['We', '3/1/06', '27.25', '4.917M', '6.655M']
spot of 27.25 with type <class 'str'>
['Tu', '2/28/06', '26.57', '6.228M', '6.742M']
spot of 26.57 with type <class 'str'>
['Mo', '2/27/06', '26', '3.657M', '6.656M']
spot of 26 with type <class 'str'>
['Fr', '2/24/06', '25.55', '6.911M', '6.669M']
spot of 25.55 with type <class 'str'>
['Th', '2/23/06', '25.39', '7.36M', '6.459M']
spot of 25.39 with type <class 'str'>
['We', '2/22/06', '26.41', '6.435M', '6.258M']
spot of 26.41 with type <class 'str'>
['Tu', '2/21/06', '27.2', '4.726M', '6.361M']
spot of 27.2 with type <class 'str'>
['Fr', '2/17/06', '27.29', '6.619M', '6.418M']
spot of 27.29 with type <class 'str'>
['Th', '2/16/06', '26.8', '6.513M', '6.37M']
spot of 26.8 with type <class 'str'>
['We', '2/15/06', '26.5', '16.253M', '6.409M']
spot of 26.5 with type <class 'str'>
['Tu', '2/14/06', '26.04', '9.41M', '5.963M']
spot of 26.04 with type <class 'str'>
['Mo', '2/13/06', '25.96', '6.893M', '5.912M']
spot of 25.96 with type <class 'str'>
['Fr', '2/10/06', '25.17', '3.881M', '5.939M']
spot of 25.17 with type <class 'str'>
['Th', '2/9/06', '25.06', '5.372M', '6.349M']
spot of 25.06 with type <class 'str'>
['We', '2/8/06', '24.89', '4.647M', '7.548M']
spot of 24.89 with type <class 'str'>
['Tu', '2/7/06', '24.35', '6.221M', '8.035M']
spot of 24.35 with type <class 'str'>
['Mo', '2/6/06', '24.95', '4.935M', '8.125M']
spot of 24.95 with type <class 'str'>
['Fr', '2/3/06', '25.51', '3.854M', '8.484M']
spot of 25.51 with type <class 'str'>
['Th', '2/2/06', '25.63', '3.767M', '8.571M']
spot of 25.63 with type <class 'str'>
['We', '2/1/06', '26.02', '4.343M', '8.819M']
spot of 26.02 with type <class 'str'>
['Tu', '1/31/06', '26.08', '7.979M', '9.425M']
spot of 26.08 with type <class 'str'>
['Mo', '1/30/06', '25.66', '5.582M', '9.534M']
spot of 25.66 with type <class 'str'>
['Fr', '1/27/06', '26.12', '5.897M', '9.82M']
spot of 26.12 with type <class 'str'>
['Th', '1/26/06', '26.2', '7.1M', '10.029M']
spot of 26.2 with type <class 'str'>
['We', '1/25/06', '25.63', '9.567M', '10.399M']
spot of 25.63 with type <class 'str'>
['Tu', '1/24/06', '26.39', '8.649M', '10.308M']
spot of 26.39 with type <class 'str'>
['Mo', '1/23/06', '25.57', '7.289M', '9.911M']
spot of 25.57 with type <class 'str'>
['Fr', '1/20/06', '25', '10.035M', '9.633M']
spot of 25 with type <class 'str'>
['Th', '1/19/06', '25.59', '23.349M', '9.214M']
spot of 25.59 with type <class 'str'>
['We', '1/18/06', '24.6', '11.964M', '7.853M']
spot of 24.6 with type <class 'str'>
['Tu', '1/17/06', '24.13', '7.571M', '7.328M']
spot of 24.13 with type <class 'str'>
['Fr', '1/13/06', '24.23', '10.313M', '7.718M']
spot of 24.23 with type <class 'str'>
['Th', '1/12/06', '23', '5.162M', '9.413M']
spot of 23 with type <class 'str'>
['We', '1/11/06', '23.18', '7.483M', '9.245M']
spot of 23.18 with type <class 'str'>
['Tu', '1/10/06', '23.32', '13.428M', '8.915M']
spot of 23.32 with type <class 'str'>
['Mo', '1/9/06', '22.29', '9.622M', '8.26M']
spot of 22.29 with type <class 'str'>
['Fr', '1/6/06', '21.39', '9.875M', '7.814M']
spot of 21.39 with type <class 'str'>
['Th', '1/5/06', '20.85', '9.027M', '7.369M']
spot of 20.85 with type <class 'str'>
['We', '1/4/06', '21.04', '12.653M', '7.002M']
spot of 21.04 with type <class 'str'>
['Tu', '1/3/06', '20.07', '8.198M', '6.309M']
spot of 20.07 with type <class 'str'>
['Fr', '12/30/05', '19.99', '2.693M', '6.405M']
spot of 19.99 with type <class 'str'>
['Th', '12/29/05', '19.74', '3.123M', '6.588M']
spot of 19.74 with type <class 'str'>
['We', '12/28/05', '19.68', '3.746M', '6.731M']
spot of 19.68 with type <class 'str'>
['Tu', '12/27/05', '20.02', '2.943M', '6.716M']
spot of 20.02 with type <class 'str'>
['Fr', '12/23/05', '20.33', '4.079M', '7.065M']
spot of 20.33 with type <class 'str'>
['Th', '12/22/05', '20.36', '13.424M', '7.224M']
spot of 20.36 with type <class 'str'>
['We', '12/21/05', '20.23', '35.743M', '6.99M']
spot of 20.23 with type <class 'str'>
['Tu', '12/20/05', '19.6', '2.644M', '4.977M']
spot of 19.6 with type <class 'str'>
['Mo', '12/19/05', '19.56', '2.524M', '5.403M']
spot of 19.56 with type <class 'str'>
['Fr', '12/16/05', '19.59', '3.608M', '5.357M']
spot of 19.59 with type <class 'str'>
['Th', '12/15/05', '19.41', '2.925M', '5.182M']
spot of 19.41 with type <class 'str'>
['We', '12/14/05', '19.33', '3.198M', '5.194M']
spot of 19.33 with type <class 'str'>
['Tu', '12/13/05', '19.2', '3.53M', '5.315M']
spot of 19.2 with type <class 'str'>
['Mo', '12/12/05', '19.46', '2.261M', '5.28M']
spot of 19.46 with type <class 'str'>
['Fr', '12/9/05', '19.21', '9.63M', '5.347M']
spot of 19.21 with type <class 'str'>
['Th', '12/8/05', '19.01', '5.446M', '5.073M']
spot of 19.01 with type <class 'str'>
['We', '12/7/05', '18.9', '5.27M', '5.049M']
spot of 18.9 with type <class 'str'>
['Tu', '12/6/05', '19.05', '3.522M', '4.84M']
spot of 19.05 with type <class 'str'>
['Mo', '12/5/05', '18.99', '8.174M', '4.801M']
spot of 18.99 with type <class 'str'>
['Fr', '12/2/05', '18.55', '6.465M', '4.52M']
spot of 18.55 with type <class 'str'>
['Th', '12/1/05', '19.01', '9.917M', '4.251M']
spot of 19.01 with type <class 'str'>
['We', '11/30/05', '18.92', '5.539M', '3.762M']
spot of 18.92 with type <class 'str'>
['Tu', '11/29/05', '18.51', '9.043M', '3.564M']
spot of 18.51 with type <class 'str'>
['Mo', '11/28/05', '17.61', '1.822M', '3.178M']
spot of 17.61 with type <class 'str'>
['Fr', '11/25/05', '17.85', '986k', '3.201M']
spot of 17.85 with type <class 'str'>
['We', '11/23/05', '17.96', '3.109M', '3.528M']
spot of 17.96 with type <class 'str'>
['Tu', '11/22/05', '17.93', '5.006M', '3.59M']
spot of 17.93 with type <class 'str'>
['Mo', '11/21/05', '17.03', '3.01M', '3.485M']
spot of 17.03 with type <class 'str'>
['Fr', '11/18/05', '16.98', '3.268M', '3.678M']
spot of 16.98 with type <class 'str'>
['Th', '11/17/05', '16.86', '5.514M', '3.782M']
spot of 16.86 with type <class 'str'>
['We', '11/16/05', '16.19', '5.092M', '3.875M']
spot of 16.19 with type <class 'str'>
['Tu', '11/15/05', '15.73', '2.129M', '3.754M']
spot of 15.73 with type <class 'str'>
['Mo', '11/14/05', '15.63', '2.937M', '3.82M']
spot of 15.63 with type <class 'str'>
['Fr', '11/11/05', '15.92', '3.957M', '3.89M']
spot of 15.92 with type <class 'str'>
['Th', '11/10/05', '15.53', '2.443M', '3.956M']
spot of 15.53 with type <class 'str'>
['We', '11/9/05', '15.64', '2.575M', '4.32M']
spot of 15.64 with type <class 'str'>
['Tu', '11/8/05', '15.44', '2.57M', '5.148M']
spot of 15.44 with type <class 'str'>
['Mo', '11/7/05', '15.67', '3.25M', '5.48M']
spot of 15.67 with type <class 'str'>
['Fr', '11/4/05', '15.57', '2.175M', '5.599M']
spot of 15.57 with type <class 'str'>
['Th', '11/3/05', '15.6', '5.886M', '5.867M']
spot of 15.6 with type <class 'str'>
['We', '11/2/05', '15.01', '4.035M', '5.898M']
spot of 15.01 with type <class 'str'>
['Tu', '11/1/05', '14.62', '3.44M', '5.932M']
spot of 14.62 with type <class 'str'>
['Mo', '10/31/05', '14.49', '5.906M', '5.955M']
spot of 14.49 with type <class 'str'>
['Fr', '10/28/05', '14.1', '4.83M', '5.87M']
spot of 14.1 with type <class 'str'>
['Th', '10/27/05', '13.96', '6.903M', '5.712M']
spot of 13.96 with type <class 'str'>
['We', '10/26/05', '14.18', '3.273M', '5.513M']
spot of 14.18 with type <class 'str'>
['Tu', '10/25/05', '14.48', '3.12M', '5.551M']
spot of 14.48 with type <class 'str'>
['Mo', '10/24/05', '14.28', '3.985M', '5.683M']
spot of 14.28 with type <class 'str'>
['Fr', '10/21/05', '14.27', '4.95M', '5.862M']
spot of 14.27 with type <class 'str'>
['Th', '10/20/05', '14.3', '7.911M', '5.891M']
spot of 14.3 with type <class 'str'>
['We', '10/19/05', '14.7', '14.989M', '5.648M']
spot of 14.7 with type <class 'str'>
['Tu', '10/18/05', '15.05', '7.553M', '4.845M']
spot of 15.05 with type <class 'str'>
['Mo', '10/17/05', '15.67', '5.026M', '4.573M']
spot of 15.67 with type <class 'str'>
['Fr', '10/14/05', '15.24', '6.2M', '4.44M']
spot of 15.24 with type <class 'str'>
['Th', '10/13/05', '14.99', '6.357M', '4.237M']
spot of 14.99 with type <class 'str'>
['We', '10/12/05', '15.47', '4.538M', '4.232M']
spot of 15.47 with type <class 'str'>
['Tu', '10/11/05', '15.67', '3.783M', '4.326M']
spot of 15.67 with type <class 'str'>
['Mo', '10/10/05', '15.81', '4.633M', '4.531M']
spot of 15.81 with type <class 'str'>
['Fr', '10/7/05', '15.79', '2.456M', '4.796M']
spot of 15.79 with type <class 'str'>
['Th', '10/6/05', '15.72', '3.918M', '5.24M']
spot of 15.72 with type <class 'str'>
['We', '10/5/05', '15.86', '3.852M', '5.479M']
spot of 15.86 with type <class 'str'>
['Tu', '10/4/05', '15.88', '5.097M', '5.706M']
spot of 15.88 with type <class 'str'>
['Mo', '10/3/05', '16.17', '6.669M', '5.693M']
spot of 16.17 with type <class 'str'>
['Fr', '9/30/05', '15.85', '5.378M', '5.616M']
spot of 15.85 with type <class 'str'>
['Th', '9/29/05', '15.58', '4.266M', '5.541M']
spot of 15.58 with type <class 'str'>
['We', '9/28/05', '15.12', '2.958M', '5.674M']
spot of 15.12 with type <class 'str'>
['Tu', '9/27/05', '14.9', '3.468M', '6.138M']
spot of 14.9 with type <class 'str'>
['Mo', '9/26/05', '15.1', '3.033M', '6.181M']
spot of 15.1 with type <class 'str'>
['Fr', '9/23/05', '15.13', '3.152M', '6.345M']
spot of 15.13 with type <class 'str'>
['Th', '9/22/05', '14.99', '6.28M', '6.899M']
spot of 14.99 with type <class 'str'>
['We', '9/21/05', '14.67', '5.944M', '6.993M']
spot of 14.67 with type <class 'str'>
['Tu', '9/20/05', '15.04', '6.868M', '7.429M']
spot of 15.04 with type <class 'str'>
['Mo', '9/19/05', '15.01', '8.611M', '7.185M']
spot of 15.01 with type <class 'str'>
['Fr', '9/16/05', '15.03', '9.107M', '7.288M']
spot of 15.03 with type <class 'str'>
['Th', '9/15/05', '15.04', '7.499M', '6.815M']
spot of 15.04 with type <class 'str'>
['We', '9/14/05', '15.43', '7.266M', '6.588M']
spot of 15.43 with type <class 'str'>
['Tu', '9/13/05', '16.22', '4.905M', '6.283M']
spot of 16.22 with type <class 'str'>
['Mo', '9/12/05', '16.22', '5.506M', '6.144M']
spot of 16.22 with type <class 'str'>
['Fr', '9/9/05', '16.17', '4.258M', '5.981M']
spot of 16.17 with type <class 'str'>
['Th', '9/8/05', '16.36', '6.25M', '5.951M']
spot of 16.36 with type <class 'str'>
['We', '9/7/05', '16.57', '9.924M', '5.815M']
spot of 16.57 with type <class 'str'>
['Tu', '9/6/05', '15.75', '4.115M', '5.349M']
spot of 15.75 with type <class 'str'>
['Fr', '9/2/05', '15.96', '5.49M', '5.254M']
spot of 15.96 with type <class 'str'>
['Th', '9/1/05', '16.05', '11.456M', '5.22M']
spot of 16.05 with type <class 'str'>
['We', '8/31/05', '16.59', '7.693M', '4.776M']
spot of 16.59 with type <class 'str'>
['Tu', '8/30/05', '16.52', '12.49M', '4.467M']
spot of 16.52 with type <class 'str'>
['Mo', '8/29/05', '17.47', '3.206M', '3.859M']
spot of 17.47 with type <class 'str'>
['Fr', '8/26/05', '17.27', '10.159M', '3.802M']
spot of 17.27 with type <class 'str'>
['Th', '8/25/05', '18.15', '2.012M', '3.415M']

spot of 18.15 with type <class 'str'>
['We', '8/24/05', '18.25', '4.095M', '3.58M']
spot of 18.25 with type <class 'str'>
['Tu', '8/23/05', '18.34', '2.687M', '3.687M']
spot of 18.34 with type <class 'str'>
['Mo', '8/22/05', '18.35', '2.821M', '3.814M']
spot of 18.35 with type <class 'str'>
['Fr', '8/19/05', '18.42', '3.06M', '3.802M']
spot of 18.42 with type <class 'str'>
['Th', '8/18/05', '18.08', '3.809M', '3.822M']
spot of 18.08 with type <class 'str'>
['We', '8/17/05', '18.48', '4.211M', '3.862M']
spot of 18.48 with type <class 'str'>
['Tu', '8/16/05', '18.04', '2.924M', '3.733M']
spot of 18.04 with type <class 'str'>
['Mo', '8/15/05', '18.45', '2.695M', '3.707M']
spot of 18.45 with type <class 'str'>
['Fr', '8/12/05', '18.22', '4.982M', '3.691M']
spot of 18.22 with type <class 'str'>
['Th', '8/11/05', '18.8', '4.795M', '3.526M']
spot of 18.8 with type <class 'str'>
['We', '8/10/05', '18.64', '3.051M', '3.532M']
spot of 18.64 with type <class 'str'>
['Tu', '8/9/05', '18.74', '3.376M', '4.125M']
spot of 18.74 with type <class 'str'>
['Mo', '8/8/05', '18.8', '2.36M', '4.325M']
spot of 18.8 with type <class 'str'>
['Fr', '8/5/05', '18.85', '4.353M', '4.384M']
spot of 18.85 with type <class 'str'>
['Th', '8/4/05', '18.84', '4.486M', '4.467M']
spot of 18.84 with type <class 'str'>
['We', '8/3/05', '18.67', '5.693M', '4.535M']
spot of 18.67 with type <class 'str'>
['Tu', '8/2/05', '18.92', '4.595M', '4.595M']
spot of 18.92 with type <class 'str'>
['Mo', '8/1/05', '19.08', '2.633M', '4.561M']
spot of 19.08 with type <class 'str'>
['Fr', '7/29/05', '19.37', '3.373M', '4.782M']
spot of 19.37 with type <class 'str'>
['Th', '7/28/05', '19.35', '4.405M', '4.759M']
spot of 19.35 with type <class 'str'>
['We', '7/27/05', '18.68', '2.267M', '4.686M']
spot of 18.68 with type <class 'str'>
['Tu', '7/26/05', '18.74', '2.547M', '4.853M']
spot of 18.74 with type <class 'str'>
['Mo', '7/25/05', '18.52', '2.448M', '4.904M']
spot of 18.52 with type <class 'str'>
['Fr', '7/22/05', '18.31', '2.503M', '4.845M']
spot of 18.31 with type <class 'str'>
['Th', '7/21/05', '18.32', '4.891M', '4.914M']
spot of 18.32 with type <class 'str'>
['We', '7/20/05', '19.07', '11.945M', '4.84M']
spot of 19.07 with type <class 'str'>
['Tu', '7/19/05', '19.45', '6.369M', '4.551M']
spot of 19.45 with type <class 'str'>
['Mo', '7/18/05', '19', '3.25M', '4.354M']
spot of 19 with type <class 'str'>
['Fr', '7/15/05', '19.14', '5.597M', '4.476M']
spot of 19.14 with type <class 'str'>
['Th', '7/14/05', '19.22', '5.502M', '4.534M']
spot of 19.22 with type <class 'str'>
['We', '7/13/05', '19.53', '6.603M', '4.332M']
spot of 19.53 with type <class 'str'>
['Tu', '7/12/05', '18.86', '4.081M', '4.131M']
spot of 18.86 with type <class 'str'>
['Mo', '7/11/05', '19.09', '5.951M', '4.285M']
spot of 19.09 with type <class 'str'>
['Fr', '7/8/05', '18.24', '3.031M', '4.796M']
spot of 18.24 with type <class 'str'>
['Th', '7/7/05', '17.79', '3.303M', '4.791M']
spot of 17.79 with type <class 'str'>
['We', '7/6/05', '17.91', '4.771M', '4.742M']
spot of 17.91 with type <class 'str'>
['Tu', '7/5/05', '17.44', '3.319M', '4.802M']
spot of 17.44 with type <class 'str'>
['Fr', '7/1/05', '17.35', '1.561M', '4.795M']
spot of 17.35 with type <class 'str'>
['Th', '6/30/05', '17.55', '3.53M', '4.993M']
spot of 17.55 with type <class 'str'>
['We', '6/29/05', '17.47', '3.789M', '5.12M']
spot of 17.47 with type <class 'str'>
['Tu', '6/28/05', '17.45', '7.603M', '5.2M']
spot of 17.45 with type <class 'str'>
['Mo', '6/27/05', '18.1', '3.417M', '4.876M']
spot of 18.1 with type <class 'str'>
['Fr', '6/24/05', '18.36', '5.088M', '4.738M']
spot of 18.36 with type <class 'str'>
['Th', '6/23/05', '18.9', '6.464M', '4.585M']
spot of 18.9 with type <class 'str'>
['We', '6/22/05', '19.43', '2.464M', '4.326M']
spot of 19.43 with type <class 'str'>
['Tu', '6/21/05', '19.52', '3.6M', '4.4M']
spot of 19.52 with type <class 'str'>
['Mo', '6/20/05', '19.58', '6.387M', '4.457M']
spot of 19.58 with type <class 'str'>
['Fr', '6/17/05', '19', '13.606M', '4.19M']
spot of 19 with type <class 'str'>
['Th', '6/16/05', '20.29', '2.957M', '3.472M']
spot of 20.29 with type <class 'str'>
['We', '6/15/05', '19.96', '2.568M', '3.527M']
spot of 19.96 with type <class 'str'>
['Tu', '6/14/05', '20.14', '5.677M', '3.534M']
spot of 20.14 with type <class 'str'>
['Mo', '6/13/05', '20.53', '3.218M', '3.339M']
spot of 20.53 with type <class 'str'>
['Fr', '6/10/05', '20.42', '4.524M', '3.314M']
spot of 20.42 with type <class 'str'>
['Th', '6/9/05', '20.42', '5.443M', '3.303M']
spot of 20.42 with type <class 'str'>
['We', '6/8/05', '20.88', '4.977M', '3.548M']
spot of 20.88 with type <class 'str'>
['Tu', '6/7/05', '21.17', '2.744M', '3.614M']
spot of 21.17 with type <class 'str'>
['Mo', '6/6/05', '20.8', '1.349M', '3.754M']
spot of 20.8 with type <class 'str'>
['Fr', '6/3/05', '20.62', '2.796M', '4.035M']
spot of 20.62 with type <class 'str'>
['Th', '6/2/05', '21.3', '2.571M', '3.976M']
spot of 21.3 with type <class 'str'>
['We', '6/1/05', '21.05', '3.576M', '3.883M']
spot of 21.05 with type <class 'str'>
['Tu', '5/31/05', '21.22', '4.455M', '3.734M']
spot of 21.22 with type <class 'str'>
['Fr', '5/27/05', '20.95', '2.388M', '3.557M']
spot of 20.95 with type <class 'str'>
['Th', '5/26/05', '21', '2.833M', '3.66M']
spot of 21 with type <class 'str'>
['We', '5/25/05', '21.06', '3.784M', '3.735M']
spot of 21.06 with type <class 'str'>
['Tu', '5/24/05', '20.81', '2.669M', '3.783M']
spot of 20.81 with type <class 'str'>
['Mo', '5/23/05', '20.54', '2.763M', '3.793M']
spot of 20.54 with type <class 'str'>
['Fr', '5/20/05', '20.16', '2.833M', '3.726M']
spot of 20.16 with type <class 'str'>
['Th', '5/19/05', '20.27', '4.358M', '3.734M']
spot of 20.27 with type <class 'str'>
['We', '5/18/05', '20.18', '9.118M', '3.674M']
spot of 20.18 with type <class 'str'>
['Tu', '5/17/05', '19.42', '5.97M', '3.267M']
spot of 19.42 with type <class 'str'>
['Mo', '5/16/05', '19.18', '4.852M', '3.158M']
spot of 19.18 with type <class 'str'>
['Fr', '5/13/05', '18.49', '5.552M', '3.202M']
spot of 18.49 with type <class 'str'>
['Th', '5/12/05', '17.65', '1.918M', '3.257M']
spot of 17.65 with type <class 'str'>
['We', '5/11/05', '17.86', '1.174M', '3.453M']
spot of 17.86 with type <class 'str'>
['Tu', '5/10/05', '17.81', '1.339M', '4.109M']
spot of 17.81 with type <class 'str'>
['Mo', '5/9/05', '18.04', '1.805M', '4.484M']
spot of 18.04 with type <class 'str'>
['Fr', '5/6/05', '18.06', '3.94M', '4.628M']
spot of 18.06 with type <class 'str'>
['Th', '5/5/05', '17.13', '3.946M', '4.789M']
spot of 17.13 with type <class 'str'>
['We', '5/4/05', '17.45', '4.507M', '4.869M']
spot of 17.45 with type <class 'str'>
['Tu', '5/3/05', '17.62', '2.828M', '4.744M']
spot of 17.62 with type <class 'str'>
['Mo', '5/2/05', '17.68', '1.75M', '4.692M']
spot of 17.68 with type <class 'str'>
['Fr', '4/29/05', '17.58', '2.954M', '4.689M']
spot of 17.58 with type <class 'str'>
['Th', '4/28/05', '17.59', '3.463M', '4.591M']
spot of 17.59 with type <class 'str'>
['We', '4/27/05', '18.35', '3.001M', '4.54M']
spot of 18.35 with type <class 'str'>
['Tu', '4/26/05', '18.68', '4.345M', '4.484M']
spot of 18.68 with type <class 'str'>
['Mo', '4/25/05', '18.55', '5.51M', '4.431M']
spot of 18.55 with type <class 'str'>
['Fr', '4/22/05', '18.25', '6.37M', '4.213M']
spot of 18.25 with type <class 'str'>
['Th', '4/21/05', '18.89', '4.859M', '3.946M']
spot of 18.89 with type <class 'str'>
['We', '4/20/05', '17.98', '11.025M', '3.903M']
spot of 17.98 with type <class 'str'>
['Tu', '4/19/05', '17.34', '6.956M', '3.424M']
spot of 17.34 with type <class 'str'>
['Mo', '4/18/05', '16.77', '3.969M', '3.314M']
spot of 16.77 with type <class 'str'>
['Fr', '4/15/05', '16.57', '6.359M', '3.287M']
spot of 16.57 with type <class 'str'>
['Th', '4/14/05', '17.38', '5.135M', '3.167M']
spot of 17.38 with type <class 'str'>
['We', '4/13/05', '18.52', '2.642M', '2.938M']
spot of 18.52 with type <class 'str'>
['Tu', '4/12/05', '18.99', '2.042M', '2.875M']
spot of 18.99 with type <class 'str'>
['Mo', '4/11/05', '18.9', '1.709M', '2.936M']
spot of 18.9 with type <class 'str'>
['Fr', '4/8/05', '19.15', '1.486M', '3.073M']
spot of 19.15 with type <class 'str'>
['Th', '4/7/05', '19.2', '2.693M', '3.206M']
spot of 19.2 with type <class 'str'>
['We', '4/6/05', '18.83', '2.155M', '3.319M']
spot of 18.83 with type <class 'str'>
['Tu', '4/5/05', '18.88', '3.561M', '3.313M']
spot of 18.88 with type <class 'str'>
['Mo', '4/4/05', '19.16', '2.238M', '3.208M']
spot of 19.16 with type <class 'str'>
['Fr', '4/1/05', '19.4', '2.362M', '3.304M']
spot of 19.4 with type <class 'str'>
['Th', '3/31/05', '19.55', '4.207M', '3.325M']
spot of 19.55 with type <class 'str'>
['We', '3/30/05', '18.92', '3.845M', '3.261M']
spot of 18.92 with type <class 'str'>
['Tu', '3/29/05', '18.48', '5.313M', '3.382M']
spot of 18.48 with type <class 'str'>
['Mo', '3/28/05', '19.07', '3.561M', '3.317M']
spot of 19.07 with type <class 'str'>
['Th', '3/24/05', '19.83', '4.552M', '3.401M']
spot of 19.83 with type <class 'str'>
['We', '3/23/05', '19.46', '1.708M', '3.285M']
spot of 19.46 with type <class 'str'>
['Tu', '3/22/05', '19.47', '1.69M', '3.446M']
spot of 19.47 with type <class 'str'>
['Mo', '3/21/05', '19.83', '2.958M', '3.589M']
spot of 19.83 with type <class 'str'>
['Fr', '3/18/05', '19.73', '3.769M', '3.747M']
spot of 19.73 with type <class 'str'>
['Th', '3/17/05', '19.21', '3.474M', '3.788M']
spot of 19.21 with type <class 'str'>
['We', '3/16/05', '19.01', '4.386M', '3.867M']
spot of 19.01 with type <class 'str'>
['Tu', '3/15/05', '18.56', '2.072M', '3.966M']
spot of 18.56 with type <class 'str'>
['Mo', '3/14/05', '18.83', '1.988M', '4.022M']
spot of 18.83 with type <class 'str'>
['Fr', '3/11/05', '18.47', '3.678M', '4.329M']
spot of 18.47 with type <class 'str'>
['Th', '3/10/05', '19.08', '2.678M', '4.332M']
spot of 19.08 with type <class 'str'>
['We', '3/9/05', '19.2', '3.251M', '4.378M']
spot of 19.2 with type <class 'str'>
['Tu', '3/8/05', '19.15', '5.654M', '4.443M']
spot of 19.15 with type <class 'str'>
['Mo', '3/7/05', '18.83', '4.344M', '4.22M']
spot of 18.83 with type <class 'str'>
['Fr', '3/4/05', '18.96', '4.813M', '4.099M']
spot of 18.96 with type <class 'str'>
['Th', '3/3/05', '18.38', '2.815M', '4.024M']
spot of 18.38 with type <class 'str'>
['We', '3/2/05', '18.41', '4.121M', '4.064M']
spot of 18.41 with type <class 'str'>
['Tu', '3/1/05', '18.02', '3.841M', '4.069M']
spot of 18.02 with type <class 'str'>
['Mo', '2/28/05', '17.97', '5.318M', '3.988M']
spot of 17.97 with type <class 'str'>
['Fr', '2/25/05', '17.7', '4.384M', '3.972M']
spot of 17.7 with type <class 'str'>
['Th', '2/24/05', '17.25', '4.662M', '3.799M']
spot of 17.25 with type <class 'str'>
['We', '2/23/05', '16.75', '5.869M', '3.78M']
spot of 16.75 with type <class 'str'>
['Tu', '2/22/05', '17.17', '2.917M', '3.606M']
spot of 17.17 with type <class 'str'>
['Fr', '2/18/05', '17.55', '6.59M', '3.626M']
spot of 17.55 with type <class 'str'>
['Th', '2/17/05', '17.68', '3.727M', '3.386M']
spot of 17.68 with type <class 'str'>
['We', '2/16/05', '17.35', '3.372M', '3.357M']
spot of 17.35 with type <class 'str'>
['Tu', '2/15/05', '17.49', '4.226M', '3.348M']
spot of 17.49 with type <class 'str'>
['Mo', '2/14/05', '17.06', '2.311M', '3.313M']
spot of 17.06 with type <class 'str'>
['Fr', '2/11/05', '17.28', '2.514M', '3.397M']
spot of 17.28 with type <class 'str'>
['Th', '2/10/05', '17.25', '3.7M', '3.723M']
spot of 17.25 with type <class 'str'>
['We', '2/9/05', '17.25', '3.403M', '3.856M']
spot of 17.25 with type <class 'str'>
['Tu', '2/8/05', '17.32', '4.207M', '4.473M']
spot of 17.32 with type <class 'str'>
['Mo', '2/7/05', '17.48', '2.622M', '4.814M']
spot of 17.48 with type <class 'str'>
['Fr', '2/4/05', '17.68', '5.083M', '5.077M']
spot of 17.68 with type <class 'str'>
['Th', '2/3/05', '17.07', '1.786M', '5.185M']
spot of 17.07 with type <class 'str'>
['We', '2/2/05', '17.04', '4.369M', '5.363M']
spot of 17.04 with type <class 'str'>
['Tu', '2/1/05', '16.96', '3.265M', '5.41M']
spot of 16.96 with type <class 'str'>
['Mo', '1/31/05', '16.92', '3.217M', '5.63M']
spot of 16.92 with type <class 'str'>
['Fr', '1/28/05', '17', '2.995M', '5.642M']
spot of 17 with type <class 'str'>
['Th', '1/27/05', '17.24', '3.279M', '5.721M']
spot of 17.24 with type <class 'str'>
['We', '1/26/05', '17.01', '3.238M', '5.682M']
spot of 17.01 with type <class 'str'>
['Tu', '1/25/05', '16.99', '3.703M', '5.731M']
spot of 16.99 with type <class 'str'>
['Mo', '1/24/05', '16.88', '3.568M', '5.723M']
spot of 16.88 with type <class 'str'>
['Fr', '1/21/05', '17.35', '7.417M', '5.664M']
spot of 17.35 with type <class 'str'>
['Th', '1/20/05', '17.35', '5.693M', '5.374M']
spot of 17.35 with type <class 'str'>
['We', '1/19/05', '17.22', '12.649M', '5.218M']
spot of 17.22 with type <class 'str'>
['Tu', '1/18/05', '18.35', '9.332M', '4.465M']
spot of 18.35 with type <class 'str'>
['Fr', '1/14/05', '17.82', '6.568M', '3.931M']
spot of 17.82 with type <class 'str'>
['Th', '1/13/05', '17.9', '6.701M', '3.552M']
spot of 17.9 with type <class 'str'>
['We', '1/12/05', '17.48', '4.446M', '3.213M']
spot of 17.48 with type <class 'str'>
['Tu', '1/11/05', '17.18', '5.081M', '3.062M']
spot of 17.18 with type <class 'str'>
['Mo', '1/10/05', '17.19', '6.557M', '2.898M']
spot of 17.19 with type <class 'str'>
['Fr', '1/7/05', '16.66', '3.411M', '2.675M']
spot of 16.66 with type <class 'str'>
['Th', '1/6/05', '16.81', '4.173M', '2.608M']
spot of 16.81 with type <class 'str'>
['We', '1/5/05', '16.9', '2.697M', '2.565M']
spot of 16.9 with type <class 'str'>
['Tu', '1/4/05', '17.07', '3.966M', '2.598M']
spot of 17.07 with type <class 'str'>
['Mo', '1/3/05', '17.39', '3.58M', '2.544M']
spot of 17.39 with type <class 'str'>
['Fr', '12/31/04', '17.27', '2.683M', '3.074M']
spot of 17.27 with type <class 'str'>
['Th', '12/30/04', '17.19', '3.068M', '3.168M']
spot of 17.19 with type <class 'str'>
['We', '12/29/04', '16.94', '3.365M', '3.886M']
spot of 16.94 with type <class 'str'>
['Tu', '12/28/04', '16.62', '1.353M', '3.938M']
spot of 16.62 with type <class 'str'>
['Mo', '12/27/04', '16.62', '1.313M', '4.014M']
spot of 16.62 with type <class 'str'>
['Th', '12/23/04', '16.59', '880.6k', '4.123M']
spot of 16.59 with type <class 'str'>
['We', '12/22/04', '16.52', '1.628M', '4.424M']
spot of 16.52 with type <class 'str'>
['Tu', '12/21/04', '16.42', '2.169M', '4.93M']
spot of 16.42 with type <class 'str'>
['Mo', '12/20/04', '16.29', '2.632M', '4.982M']
spot of 16.29 with type <class 'str'>
['Fr', '12/17/04', '16.73', '3.206M', '5.055M']
spot of 16.73 with type <class 'str'>
['Th', '12/16/04', '16.76', '2.409M', '4.881M']
spot of 16.76 with type <class 'str'>
['We', '12/15/04', '16.85', '3.53M', '4.894M']
spot of 16.85 with type <class 'str'>
['Tu', '12/14/04', '16.81', '3.186M', '4.753M']
spot of 16.81 with type <class 'str'>
['Mo', '12/13/04', '16.78', '3.153M', '4.649M']
spot of 16.78 with type <class 'str'>
['Fr', '12/10/04', '16.7', '11.533M', '4.525M']
spot of 16.7 with type <class 'str'>
['Th', '12/9/04', '16.94', '4.101M', '3.851M']
spot of 16.94 with type <class 'str'>
['We', '12/8/04', '17', '13.828M', '3.77M']
spot of 17 with type <class 'str'>
['Tu', '12/7/04', '16.46', '4.148M', '3.084M']
spot of 16.46 with type <class 'str'>
['Mo', '12/6/04', '17', '2.499M', '2.906M']
spot of 17 with type <class 'str'>
['Fr', '12/3/04', '16.55', '2.941M', '2.936M']
spot of 16.55 with type <class 'str'>
['Th', '12/2/04', '16.88', '5.393M', '2.833M']
spot of 16.88 with type <class 'str'>
['We', '12/1/04', '16.47', '9.219M', '2.579M']
spot of 16.47 with type <class 'str'>
['Tu', '11/30/04', '14.98', '2.946M', '2.056M']
spot of 14.98 with type <class 'str'>
['Mo', '11/29/04', '14.66', '3.735M', '2.014M']
spot of 14.66 with type <class 'str'>
['Fr', '11/26/04', '14.78', '594k', '1.913M']
spot of 14.78 with type <class 'str'>
['We', '11/24/04', '14.67', '2.612M', '1.981M']
spot of 14.67 with type <class 'str'>
['Tu', '11/23/04', '14.08', '1.409M', '1.904M']
spot of 14.08 with type <class 'str'>
['Mo', '11/22/04', '14.01', '1.625M', '1.939M']
spot of 14.01 with type <class 'str'>
['Fr', '11/19/04', '13.89', '1.296M', '1.896M']
spot of 13.89 with type <class 'str'>
['Th', '11/18/04', '14.05', '1.42M', '1.868M']
spot of 14.05 with type <class 'str'>
['We', '11/17/04', '14.19', '2.892M', '1.905M']
spot of 14.19 with type <class 'str'>
['Tu', '11/16/04', '14', '3.537M', '1.881M']
spot of 14 with type <class 'str'>
['Mo', '11/15/04', '14.39', '1.468M', '1.796M']
spot of 14.39 with type <class 'str'>
['Fr', '11/12/04', '14.19', '2.961M', '1.883M']
spot of 14.19 with type <class 'str'>
['Th', '11/11/04', '13.66', '1.389M', '1.894M']
spot of 13.66 with type <class 'str'>
['We', '11/10/04', '13.18', '1.589M', '2.233M']
spot of 13.18 with type <class 'str'>
['Tu', '11/9/04', '13.67', '1.363M', '2.504M']
spot of 13.67 with type <class 'str'>
['Mo', '11/8/04', '13.58', '2.319M', '2.651M']
spot of 13.58 with type <class 'str'>
['Fr', '11/5/04', '13.3', '2.217M', '2.847M']
spot of 13.3 with type <class 'str'>
['Th', '11/4/04', '12.83', '1.625M', '2.868M']
spot of 12.83 with type <class 'str'>
['We', '11/3/04', '12.64', '1.454M', '2.873M']
spot of 12.64 with type <class 'str'>
['Tu', '11/2/04', '12.7', '1.926M', '2.985M']
spot of 12.7 with type <class 'str'>
['Mo', '11/1/04', '12.7', '986.3k', '3.112M']
spot of 12.7 with type <class 'str'>
['Fr', '10/29/04', '12.64', '880.4k', '3.16M']
spot of 12.64 with type <class 'str'>
['Th', '10/28/04', '12.56', '1.972M', '3.293M']
spot of 12.56 with type <class 'str'>
['We', '10/27/04', '12.9', '2.525M', '3.31M']
spot of 12.9 with type <class 'str'>
['Tu', '10/26/04', '12.61', '2.261M', '3.494M']
spot of 12.61 with type <class 'str'>
['Mo', '10/25/04', '12.61', '2.777M', '3.511M']
spot of 12.61 with type <class 'str'>
['Fr', '10/22/04', '12.9', '3.126M', '3.833M']
spot of 12.9 with type <class 'str'>
['Th', '10/21/04', '13.24', '6.471M', '3.828M']
spot of 13.24 with type <class 'str'>
['We', '10/20/04', '13.71', '5.663M', '3.548M']
spot of 13.71 with type <class 'str'>
['Tu', '10/19/04', '14.23', '3.559M', '3.392M']
spot of 14.23 with type <class 'str'>
['Mo', '10/18/04', '14', '5.266M', '3.272M']
spot of 14 with type <class 'str'>
['Fr', '10/15/04', '13.23', '2.524M', '3.058M']
spot of 13.23 with type <class 'str'>
['Th', '10/14/04', '13.23', '1.704M', '3.043M']
spot of 13.23 with type <class 'str'>
['We', '10/13/04', '13.66', '3.138M', '3.044M']
spot of 13.66 with type <class 'str'>
['Tu', '10/12/04', '13.66', '3.828M', '3.038M']
spot of 13.66 with type <class 'str'>
['Mo', '10/11/04', '14.05', '1.702M', '3.05M']
spot of 14.05 with type <class 'str'>
['Fr', '10/8/04', '13.95', '2.875M', '3.101M']
spot of 13.95 with type <class 'str'>
['Th', '10/7/04', '14', '2.229M', '3.071M']
spot of 14 with type <class 'str'>
['We', '10/6/04', '14.3', '5.281M', '3.04M']
spot of 14.3 with type <class 'str'>
['Tu', '10/5/04', '14.2', '2.528M', '2.8M']
spot of 14.2 with type <class 'str'>
['Mo', '10/4/04', '14.22', '7.609M', '2.793M']
spot of 14.22 with type <class 'str'>
['Fr', '10/1/04', '13.88', '3.041M', '2.447M']
spot of 13.88 with type <class 'str'>
['Th', '9/30/04', '13.52', '2.278M', '2.47M']
spot of 13.52 with type <class 'str'>
['We', '9/29/04', '13.46', '3.325M', '2.377M']
spot of 13.46 with type <class 'str'>
['Tu', '9/28/04', '13.1', '1.752M', '2.28M']
spot of 13.1 with type <class 'str'>
['Mo', '9/27/04', '12.84', '2.058M', '2.685M']
spot of 12.84 with type <class 'str'>
['Fr', '9/24/04', '13.02', '2.3M', '2.644M']
spot of 13.02 with type <class 'str'>
['Th', '9/23/04', '13.36', '1.711M', '2.573M']
spot of 13.36 with type <class 'str'>
['We', '9/22/04', '13.2', '3.053M', '2.617M']
spot of 13.2 with type <class 'str'>
['Tu', '9/21/04', '13.65', '4.016M', '2.475M']
spot of 13.65 with type <class 'str'>
['Mo', '9/20/04', '14.03', '2.453M', '2.293M']
spot of 14.03 with type <class 'str'>
['Fr', '9/17/04', '13.79', '2.435M', '2.2M']

spot of 13.32 with type <class 'str'>
['Mo', '7/12/04', '13.51', '926.1k', '1.866M']
spot of 13.51 with type <class 'str'>
['Fr', '7/9/04', '13.54', '874.6k', '1.953M']
spot of 13.54 with type <class 'str'>
['Th', '7/8/04', '13.37', '1.382M', '2.099M']
spot of 13.37 with type <class 'str'>
['We', '7/7/04', '13.78', '2.824M', '2.121M']
spot of 13.78 with type <class 'str'>
['Tu', '7/6/04', '13.67', '3.386M', '2.08M']
spot of 13.67 with type <class 'str'>
['Fr', '7/2/04', '14.21', '2.457M', '2.054M']
spot of 14.21 with type <class 'str'>
['Th', '7/1/04', '14.25', '3.03M', '2.177M']
spot of 14.25 with type <class 'str'>
['We', '6/30/04', '14.43', '1.955M', '2.068M']
spot of 14.43 with type <class 'str'>
['Tu', '6/29/04', '14.01', '1.792M', '2.039M']
spot of 14.01 with type <class 'str'>
['Mo', '6/28/04', '13.81', '1.648M', '2.001M']
spot of 13.81 with type <class 'str'>
['Fr', '6/25/04', '13.98', '633.2k', '2.03M']
spot of 13.98 with type <class 'str'>
['Th', '6/24/04', '14.03', '1.491M', '2.34M']
spot of 14.03 with type <class 'str'>
['We', '6/23/04', '14.31', '1.319M', '2.535M']
spot of 14.31 with type <class 'str'>
['Tu', '6/22/04', '13.94', '2.939M', '2.648M']
spot of 13.94 with type <class 'str'>
['Mo', '6/21/04', '14', '1.327M', '2.731M']
spot of 14 with type <class 'str'>
['Fr', '6/18/04', '14.02', '2.242M', '2.926M']
spot of 14.02 with type <class 'str'>
['Th', '6/17/04', '13.95', '3.064M', '2.952M']
spot of 13.95 with type <class 'str'>
['We', '6/16/04', '13.85', '1.713M', '2.901M']
spot of 13.85 with type <class 'str'>
['Tu', '6/15/04', '13.9', '2.199M', '2.872M']
spot of 13.9 with type <class 'str'>
['Mo', '6/14/04', '13.61', '3.004M', '2.788M']
spot of 13.61 with type <class 'str'>
['Th', '6/10/04', '13.57', '4.299M', '2.72M']
spot of 13.57 with type <class 'str'>
['We', '6/9/04', '13.04', '1.395M', '2.627M']
spot of 13.04 with type <class 'str'>
['Tu', '6/8/04', '13.08', '1.517M', '2.642M']
spot of 13.08 with type <class 'str'>
['Mo', '6/7/04', '13.05', '1.23M', '2.653M']
spot of 13.05 with type <class 'str'>
['Fr', '6/4/04', '12.81', '2.071M', '2.703M']
spot of 12.81 with type <class 'str'>
['Th', '6/3/04', '12.6', '5.289M', '2.691M']
spot of 12.6 with type <class 'str'>
['We', '6/2/04', '12.21', '4.414M', '2.413M']
spot of 12.21 with type <class 'str'>
['Tu', '6/1/04', '12.68', '3.017M', '2.315M']
spot of 12.68 with type <class 'str'>
['Fr', '5/28/04', '12.3', '4.191M', '2.227M']
spot of 12.3 with type <class 'str'>
['Th', '5/27/04', '12.84', '4.248M', '2.128M']
spot of 12.84 with type <class 'str'>
['We', '5/26/04', '13.34', '2.636M', '2.125M']
spot of 13.34 with type <class 'str'>
['Tu', '5/25/04', '13.01', '2.289M', '2.073M']
spot of 13.01 with type <class 'str'>
['Mo', '5/24/04', '12.53', '1.29M', '2.044M']
spot of 12.53 with type <class 'str'>
['Fr', '5/21/04', '12.2', '930.4k', '2.116M']
spot of 12.2 with type <class 'str'>
['Th', '5/20/04', '12.06', '1.988M', '2.22M']
spot of 12.06 with type <class 'str'>
['We', '5/19/04', '12.08', '2.905M', '2.343M']
spot of 12.08 with type <class 'str'>
['Tu', '5/18/04', '12.04', '1.61M', '2.381M']
spot of 12.04 with type <class 'str'>
['Mo', '5/17/04', '11.8', '1.691M', '2.459M']
spot of 11.8 with type <class 'str'>
['Fr', '5/14/04', '12', '1.977M', '2.513M']
spot of 12 with type <class 'str'>
['Th', '5/13/04', '12.33', '1.891M', '2.824M']
spot of 12.33 with type <class 'str'>
['We', '5/12/04', '12.31', '1.112M', '3.455M']
spot of 12.31 with type <class 'str'>
['Tu', '5/11/04', '12.4', '2.956M', '3.915M']
spot of 12.4 with type <class 'str'>
['Mo', '5/10/04', '11.99', '1.689M', '4.051M']
spot of 11.99 with type <class 'str'>
['Fr', '5/7/04', '12.04', '2.712M', '4.035M']
spot of 12.04 with type <class 'str'>
['Th', '5/6/04', '11.73', '4.197M', '3.931M']
spot of 11.73 with type <class 'str'>
['We', '5/5/04', '12.17', '1.863M', '3.774M']
spot of 12.17 with type <class 'str'>
['Tu', '5/4/04', '12.29', '1.844M', '3.742M']
spot of 12.29 with type <class 'str'>
['Mo', '5/3/04', '12.4', '2.381M', '3.876M']
spot of 12.4 with type <class 'str'>
['Fr', '4/30/04', '12.51', '2.485M', '3.868M']
spot of 12.51 with type <class 'str'>
['Th', '4/29/04', '12.67', '3.825M', '3.949M']
spot of 12.67 with type <class 'str'>
['We', '4/28/04', '12.84', '3.475M', '5.597M']
spot of 12.84 with type <class 'str'>
['Tu', '4/27/04', '12.54', '2.794M', '5.568M']
spot of 12.54 with type <class 'str'>
['Mo', '4/26/04', '12.56', '2.492M', '5.793M']
spot of 12.56 with type <class 'str'>
['Fr', '4/23/04', '12.73', '6.65M', '5.786M']
spot of 12.73 with type <class 'str'>
['Th', '4/22/04', '12.7', '11.344M', '5.398M']
spot of 12.7 with type <class 'str'>
['We', '4/21/04', '13.83', '8.013M', '4.778M']
spot of 13.83 with type <class 'str'>
['Tu', '4/20/04', '14.52', '5.006M', '4.31M']
spot of 14.52 with type <class 'str'>
['Mo', '4/19/04', '14.79', '1.448M', '4.067M']
spot of 14.79 with type <class 'str'>
['Fr', '4/16/04', '14.93', '1.144M', '4.041M']
spot of 14.93 with type <class 'str'>
['Th', '4/15/04', '15.13', '1.845M', '4.204M']
spot of 15.13 with type <class 'str'>
['We', '4/14/04', '15.3', '1.392M', '4.299M']
spot of 15.3 with type <class 'str'>
['Tu', '4/13/04', '15.42', '3.843M', '4.423M']
spot of 15.42 with type <class 'str'>
['Mo', '4/12/04', '15.15', '2.269M', '4.293M']
spot of 15.15 with type <class 'str'>
['Th', '4/8/04', '15.2', '3.699M', '4.352M']
spot of 15.2 with type <class 'str'>
['We', '4/7/04', '14.98', '28.542M', '4.224M']
spot of 14.98 with type <class 'str'>
['Tu', '4/6/04', '15.59', '3.037M', '2.444M']
spot of 15.59 with type <class 'str'>
['Mo', '4/5/04', '15.66', '6.178M', '2.389M']
spot of 15.66 with type <class 'str'>
['Fr', '4/2/04', '16.11', '2.383M', '2.169M']
spot of 16.11 with type <class 'str'>
['Th', '4/1/04', '16.24', '820k', '2.18M']
spot of 16.24 with type <class 'str'>
['We', '3/31/04', '16.13', '2.051M', '2.355M']
spot of 16.13 with type <class 'str'>
['Tu', '3/30/04', '16.42', '999.1k', '2.42M']
spot of 16.42 with type <class 'str'>
['Mo', '3/29/04', '16.34', '1.361M', '2.569M']
spot of 16.34 with type <class 'str'>
['Fr', '3/26/04', '16', '1.05M', '2.808M']
spot of 16 with type <class 'str'>
['Th', '3/25/04', '15.98', '3.594M', '2.913M']
spot of 15.98 with type <class 'str'>
['We', '3/24/04', '15.73', '3.273M', '2.889M']
spot of 15.73 with type <class 'str'>
['Tu', '3/23/04', '15.3', '3.25M', '3.05M']
spot of 15.3 with type <class 'str'>
['Mo', '3/22/04', '15.42', '1.891M', '3.169M']
spot of 15.42 with type <class 'str'>
['Fr', '3/19/04', '15.94', '3.157M', '3.294M']
spot of 15.94 with type <class 'str'>
['Th', '3/18/04', '16.1', '1.776M', '3.263M']
spot of 16.1 with type <class 'str'>
['We', '3/17/04', '16.17', '1.849M', '3.44M']
spot of 16.17 with type <class 'str'>
['Tu', '3/16/04', '15.8', '2.205M', '3.559M']
spot of 15.8 with type <class 'str'>
['Mo', '3/15/04', '15.55', '2.881M', '3.614M']
spot of 15.55 with type <class 'str'>
['Fr', '3/12/04', '15.8', '2.546M', '3.786M']
spot of 15.8 with type <class 'str'>
['Th', '3/11/04', '15.37', '3.437M', '3.828M']
spot of 15.37 with type <class 'str'>
['We', '3/10/04', '15.64', '3.027M', '3.892M']
spot of 15.64 with type <class 'str'>
['Tu', '3/9/04', '15.67', '3.245M', '3.863M']
spot of 15.67 with type <class 'str'>
['Mo', '3/8/04', '15.95', '4.933M', '3.863M']
spot of 15.95 with type <class 'str'>
['Fr', '3/5/04', '16.4', '2.626M', '3.851M']
spot of 16.4 with type <class 'str'>
['Th', '3/4/04', '16.59', '3.242M', '3.808M']
spot of 16.59 with type <class 'str'>
['We', '3/3/04', '16.67', '5.689M', '3.8M']
spot of 16.67 with type <class 'str'>
['Tu', '3/2/04', '16.73', '5.034M', '3.61M']
spot of 16.73 with type <class 'str'>
['Mo', '3/1/04', '17.38', '3.757M', '3.514M']
spot of 17.38 with type <class 'str'>
['Fr', '2/27/04', '17.3', '2.705M', '3.611M']
spot of 17.3 with type <class 'str'>
['Th', '2/26/04', '17.31', '4.421M', '3.734M']
spot of 17.31 with type <class 'str'>
['We', '2/25/04', '16.9', '3.63M', '3.894M']
spot of 16.9 with type <class 'str'>
['Tu', '2/24/04', '16.7', '3.03M', '3.822M']
spot of 16.7 with type <class 'str'>
['Mo', '2/23/04', '16.61', '5.473M', '3.798M']
spot of 16.61 with type <class 'str'>
['Fr', '2/20/04', '17.5', '3.176M', '3.614M']
spot of 17.5 with type <class 'str'>
['Th', '2/19/04', '17.81', '4.392M', '3.741M']
spot of 17.81 with type <class 'str'>
['We', '2/18/04', '17.27', '2.593M', '3.762M']
spot of 17.27 with type <class 'str'>
['Tu', '2/17/04', '17.25', '3.247M', '4.047M']
spot of 17.25 with type <class 'str'>
['Fr', '2/13/04', '17.55', '4.755M', '4.088M']
spot of 17.55 with type <class 'str'>
['Th', '2/12/04', '16.9', '1.976M', '4.345M']
spot of 16.9 with type <class 'str'>
['We', '2/11/04', '16.94', '3.127M', '4.894M']
spot of 16.94 with type <class 'str'>
['Tu', '2/10/04', '16.6', '2.832M', '7.404M']
spot of 16.6 with type <class 'str'>
['Mo', '2/9/04', '16.65', '3.593M', '7.689M']
spot of 16.65 with type <class 'str'>
['Fr', '2/6/04', '17.32', '5.221M', '7.744M']
spot of 17.32 with type <class 'str'>
['Th', '2/5/04', '16.84', '4.551M', '7.871M']
spot of 16.84 with type <class 'str'>
['We', '2/4/04', '16.1', '6.815M', '7.807M']
spot of 16.1 with type <class 'str'>
['Tu', '2/3/04', '16.3', '2.549M', '7.514M']
spot of 16.3 with type <class 'str'>
['Mo', '2/2/04', '16.1', '2.665M', '7.504M']
spot of 16.1 with type <class 'str'>
['Fr', '1/30/04', '16.3', '2.715M', '7.639M']
spot of 16.3 with type <class 'str'>
['Th', '1/29/04', '16.43', '5.085M', '7.742M']
spot of 16.43 with type <class 'str'>
['We', '1/28/04', '16.55', '4.706M', '7.756M']
spot of 16.55 with type <class 'str'>
['Tu', '1/27/04', '16.51', '6.863M', '7.824M']
spot of 16.51 with type <class 'str'>
['Mo', '1/26/04', '16.25', '3.873M', '7.559M']
spot of 16.25 with type <class 'str'>
['Fr', '1/23/04', '16.08', '8.612M', '7.508M']
spot of 16.08 with type <class 'str'>
['Th', '1/22/04', '16.26', '10.197M', '7.084M']
spot of 16.26 with type <class 'str'>
['We', '1/21/04', '16.1', '40.777M', '6.597M']
spot of 16.1 with type <class 'str'>
['Tu', '1/20/04', '20.32', '7.118M', '3.994M']
spot of 20.32 with type <class 'str'>
['Fr', '1/16/04', '19.92', '4.419M', '3.572M']
spot of 19.92 with type <class 'str'>
['Th', '1/15/04', '19.27', '7.122M', '3.374M']
spot of 19.27 with type <class 'str'>
['We', '1/14/04', '20', '3.588M', '3.067M']
spot of 20 with type <class 'str'>
['Tu', '1/13/04', '20.95', '2.426M', '2.974M']
spot of 20.95 with type <class 'str'>
['Mo', '1/12/04', '20.9', '2.4M', '3.222M']
spot of 20.9 with type <class 'str'>
['Fr', '1/9/04', '20.43', '4.679M', '3.264M']
spot of 20.43 with type <class 'str'>
['Th', '1/8/04', '21.51', '4.274M', '3.203M']
spot of 21.51 with type <class 'str'>
['We', '1/7/04', '20.63', '5.284M', '3.288M']
spot of 20.63 with type <class 'str'>
['Tu', '1/6/04', '20.3', '5.727M', '3.469M']
spot of 20.3 with type <class 'str'>
['Mo', '1/5/04', '19.93', '2.897M', '3.327M']
spot of 19.93 with type <class 'str'>
['Fr', '1/2/04', '19.31', '3.1M', '3.65M']
spot of 19.31 with type <class 'str'>
['We', '12/31/03', '18.9', '2.259M', '3.86M']
spot of 18.9 with type <class 'str'>
['Tu', '12/30/03', '18.85', '2.885M', '3.962M']
spot of 18.85 with type <class 'str'>
['Mo', '12/29/03', '18.98', '1.731M', '3.986M']
spot of 18.98 with type <class 'str'>
['Fr', '12/26/03', '18.5', '788.9k', '4.304M']
spot of 18.5 with type <class 'str'>
['We', '12/24/03', '18.55', '1.455M', '4.581M']
spot of 18.55 with type <class 'str'>
['Tu', '12/23/03', '18.3', '2.516M', '5.125M']
spot of 18.3 with type <class 'str'>
['Mo', '12/22/03', '17.77', '2.195M', '5.077M']
spot of 17.77 with type <class 'str'>
['Fr', '12/19/03', '17.63', '6.139M', '5.074M']
spot of 17.63 with type <class 'str'>
['Th', '12/18/03', '17.75', '3.039M', '4.74M']
spot of 17.75 with type <class 'str'>
['We', '12/17/03', '17.5', '3.762M', '4.884M']
spot of 17.5 with type <class 'str'>
['Tu', '12/16/03', '17.61', '5.544M', '4.893M']
spot of 17.61 with type <class 'str'>
['Mo', '12/15/03', '17.46', '8.005M', '4.874M']
spot of 17.46 with type <class 'str'>
['Fr', '12/12/03', '18.75', '3.587M', '4.581M']
spot of 18.75 with type <class 'str'>
['Th', '12/11/03', '19.15', '7.747M', '4.647M']
spot of 19.15 with type <class 'str'>
['We', '12/10/03', '17.88', '6.241M', '4.371M']
spot of 17.88 with type <class 'str'>
['Tu', '12/9/03', '18.7', '3.793M', '4.31M']
spot of 18.7 with type <class 'str'>
['Mo', '12/8/03', '19.6', '3.254M', '4.352M']
spot of 19.6 with type <class 'str'>
['Fr', '12/5/03', '19.6', '6.493M', '4.392M']
spot of 19.6 with type <class 'str'>
['Th', '12/4/03', '18.8', '4.951M', '4.343M']
spot of 18.8 with type <class 'str'>
['We', '12/3/03', '18.96', '9.607M', '4.527M']
spot of 18.96 with type <class 'str'>
['Tu', '12/2/03', '19.7', '1.795M', '4.515M']
spot of 19.7 with type <class 'str'>
['Mo', '12/1/03', '19.81', '2.157M', '4.918M']
spot of 19.81 with type <class 'str'>
['Fr', '11/28/03', '19.75', '1.133M', '5.345M']
spot of 19.75 with type <class 'str'>
['We', '11/26/03', '19.76', '5.188M', '5.465M']
spot of 19.76 with type <class 'str'>
['Tu', '11/25/03', '19.32', '3.894M', '5.372M']
spot of 19.32 with type <class 'str'>
['Mo', '11/24/03', '19.64', '5.258M', '5.397M']
spot of 19.64 with type <class 'str'>
['Fr', '11/21/03', '19', '3.615M', '5.347M']
spot of 19 with type <class 'str'>
['Th', '11/20/03', '19', '4.58M', '5.464M']
spot of 19 with type <class 'str'>
['We', '11/19/03', '19.44', '3.608M', '5.712M']
spot of 19.44 with type <class 'str'>
['Tu', '11/18/03', '19.58', '5.329M', '6.344M']
spot of 19.58 with type <class 'str'>
['Mo', '11/17/03', '20', '4.425M', '6.66M']
spot of 20 with type <class 'str'>
['Fr', '11/14/03', '19.91', '3.842M', '7.048M']
spot of 19.91 with type <class 'str'>
['Th', '11/13/03', '21.26', '5.758M', '7.176M']
spot of 21.26 with type <class 'str'>
['We', '11/12/03', '20.95', '7.715M', '7.732M']
spot of 20.95 with type <class 'str'>
['Tu', '11/11/03', '19.48', '9.425M', '9.882M']
spot of 19.48 with type <class 'str'>
['Mo', '11/10/03', '20.26', '7.845M', '9.375M']
spot of 20.26 with type <class 'str'>
['Fr', '11/7/03', '21.74', '8.553M', '8.947M']
spot of 21.74 with type <class 'str'>
['Th', '11/6/03', '23.39', '2.934M', '8.515M']
spot of 23.39 with type <class 'str'>
['We', '11/5/03', '22.7', '3.803M', '8.465M']
spot of 22.7 with type <class 'str'>
['Tu', '11/4/03', '22.48', '4.263M', '8.494M']
spot of 22.48 with type <class 'str'>
['Mo', '11/3/03', '23.15', '4.504M', '8.381M']
spot of 23.15 with type <class 'str'>
['Fr', '10/31/03', '22.98', '5.38M', '8.214M']
spot of 22.98 with type <class 'str'>
['Th', '10/30/03', '23.4', '8.296M', '7.998M']
spot of 23.4 with type <class 'str'>
['We', '10/29/03', '24.8', '13.083M', '7.779M']
spot of 24.8 with type <class 'str'>
['Tu', '10/28/03', '22.9', '10.077M', '7.106M']
spot of 22.9 with type <class 'str'>
['Mo', '10/27/03', '21', '10.237M', '6.541M']
spot of 21 with type <class 'str'>
['Fr', '10/24/03', '22.25', '5.761M', '5.92M']
spot of 22.25 with type <class 'str'>
['Th', '10/23/03', '22.2', '14.099M', '5.712M']
spot of 22.2 with type <class 'str'>
['We', '10/22/03', '22.28', '39.975M', '4.957M']
spot of 22.28 with type <class 'str'>
['Tu', '10/21/03', '29.5', '1.819M', '2.479M']
spot of 29.5 with type <class 'str'>
['Mo', '10/20/03', '29.3', '1.418M', '2.533M']
spot of 29.3 with type <class 'str'>
['Fr', '10/17/03', '29.62', '2.075M', '2.643M']
spot of 29.62 with type <class 'str'>
['Th', '10/16/03', '30.35', '2.185M', '2.68M']
spot of 30.35 with type <class 'str'>
['We', '10/15/03', '30.5', '4.248M', '2.704M']
spot of 30.5 with type <class 'str'>
['Tu', '10/14/03', '30.6', '2.555M', '2.64M']
spot of 30.6 with type <class 'str'>
['Mo', '10/13/03', '29.95', '2.01M', '2.693M']
spot of 29.95 with type <class 'str'>
['Fr', '10/10/03', '29.78', '2.127M', '2.741M']
spot of 29.78 with type <class 'str'>
['Th', '10/9/03', '29.27', '5.021M', '2.837M']
spot of 29.27 with type <class 'str'>
['We', '10/8/03', '28.64', '2.986M', '2.686M']
spot of 28.64 with type <class 'str'>
['Tu', '10/7/03', '29', '1.608M', '2.678M']
spot of 29 with type <class 'str'>
['Mo', '10/6/03', '28', '920.7k', '2.704M']
spot of 28 with type <class 'str'>
['Fr', '10/3/03', '27.72', '2.628M', '2.723M']
spot of 27.72 with type <class 'str'>
['Th', '10/2/03', '27.92', '2.785M', '2.679M']
spot of 27.92 with type <class 'str'>
['We', '10/1/03', '28.1', '2.795M', '2.739M']
spot of 28.1 with type <class 'str'>
['Tu', '9/30/03', '27.2', '2.637M', '2.767M']
spot of 27.2 with type <class 'str'>
['Mo', '9/29/03', '27.16', '3.069M', '2.766M']
spot of 27.16 with type <class 'str'>
['Fr', '9/26/03', '25.95', '2.63M', '2.769M']
spot of 25.95 with type <class 'str'>
['Th', '9/25/03', '25.9', '2.546M', '2.75M']
spot of 25.9 with type <class 'str'>
['We', '9/24/03', '26.48', '3.289M', '2.687M']
spot of 26.48 with type <class 'str'>
['Tu', '9/23/03', '27.34', '3.345M', '2.664M']
spot of 27.34 with type <class 'str'>
['Mo', '9/22/03', '26.49', '2.724M', '2.642M']
spot of 26.49 with type <class 'str'>
['Fr', '9/19/03', '26.81', '3.579M', '2.602M']
spot of 26.81 with type <class 'str'>
['Th', '9/18/03', '26.28', '2.748M', '2.548M']
spot of 26.28 with type <class 'str'>
['We', '9/17/03', '25.51', '2.869M', '2.583M']
spot of 25.51 with type <class 'str'>
['Tu', '9/16/03', '24.95', '1.997M', '2.493M']
spot of 24.95 with type <class 'str'>
['Mo', '9/15/03', '23.29', '1.202M', '2.469M']
spot of 23.29 with type <class 'str'>
['Fr', '9/12/03', '23.45', '1.965M', '2.655M']
spot of 23.45 with type <class 'str'>
['Th', '9/11/03', '23.73', '3.694M', '2.651M']
spot of 23.73 with type <class 'str'>
['We', '9/10/03', '24.78', '3.211M', '2.507M']
spot of 24.78 with type <class 'str'>
['Tu', '9/9/03', '25.16', '2.623M', '2.447M']
spot of 25.16 with type <class 'str'>
['Mo', '9/8/03', '25.25', '3.119M', '2.516M']
spot of 25.25 with type <class 'str'>
['Fr', '9/5/03', '23.96', '2.343M', '2.435M']
spot of 23.96 with type <class 'str'>
['Th', '9/4/03', '24.6', '1.594M', '2.897M']
spot of 24.6 with type <class 'str'>
['We', '9/3/03', '24.4', '2.944M', '2.941M']
spot of 24.4 with type <class 'str'>
['Tu', '9/2/03', '24.55', '3.024M', '2.872M']

spot of 24.55 with type <class 'str'>
['Fr', '8/29/03', '23.01', '2.123M', '2.919M']
spot of 23.01 with type <class 'str'>
['Th', '8/28/03', '23.76', '2.76M', '2.913M']
spot of 23.76 with type <class 'str'>
['We', '8/27/03', '23.72', '3.277M', '2.9M']
spot of 23.72 with type <class 'str'>
['Tu', '8/26/03', '22.01', '1.523M', '2.92M']
spot of 22.01 with type <class 'str'>
['Mo', '8/25/03', '21.8', '1.634M', '2.985M']
spot of 21.8 with type <class 'str'>
['Fr', '8/22/03', '21.94', '3.99M', '3.089M']
spot of 21.94 with type <class 'str'>
['Th', '8/21/03', '22.07', '1.904M', '2.957M']
spot of 22.07 with type <class 'str'>
['We', '8/20/03', '21.78', '1.531M', '3.113M']
spot of 21.78 with type <class 'str'>
['Tu', '8/19/03', '21.99', '2.323M', '3.204M']
spot of 21.99 with type <class 'str'>
['Mo', '8/18/03', '21.45', '3.659M', '3.294M']
spot of 21.45 with type <class 'str'>
['Fr', '8/15/03', '20.7', '1.9M', '3.501M']
spot of 20.7 with type <class 'str'>
['Th', '8/14/03', '20.7', '9.274M', '4.739M']
spot of 20.7 with type <class 'str'>
['We', '8/13/03', '21.7', '2.249M', '4.682M']
spot of 21.7 with type <class 'str'>
['Tu', '8/12/03', '22.3', '1.908M', '4.898M']
spot of 22.3 with type <class 'str'>
['Mo', '8/11/03', '22.17', '3.733M', '4.978M']
spot of 22.17 with type <class 'str'>
['Fr', '8/8/03', '21.8', '2.031M', '4.949M']
spot of 21.8 with type <class 'str'>
['Th', '8/7/03', '21.47', '2.567M', '5.159M']
spot of 21.47 with type <class 'str'>
['We', '8/6/03', '21.64', '3.585M', '5.201M']
spot of 21.64 with type <class 'str'>
['Tu', '8/5/03', '21', '2.491M', '5.401M']
spot of 21 with type <class 'str'>
['Mo', '8/4/03', '21.05', '3.196M', '5.452M']
spot of 21.05 with type <class 'str'>
['Fr', '8/1/03', '21.18', '2.014M', '5.391M']
spot of 21.18 with type <class 'str'>
['Th', '7/31/03', '21.8', '4.231M', '5.308M']
spot of 21.8 with type <class 'str'>
['We', '7/30/03', '20.86', '2.898M', '5.181M']
spot of 20.86 with type <class 'str'>
['Tu', '7/29/03', '20.5', '3.676M', '5.222M']
spot of 20.5 with type <class 'str'>
['Mo', '7/28/03', '20.48', '6.769M', '5.12M']
spot of 20.48 with type <class 'str'>
['Fr', '7/25/03', '18.89', '20.462M', '4.821M']
spot of 18.89 with type <class 'str'>
['Th', '7/24/03', '18.93', '8.418M', '3.591M']
spot of 18.93 with type <class 'str'>
['We', '7/23/03', '19.5', '5.494M', '3.341M']
spot of 19.5 with type <class 'str'>
['Tu', '7/22/03', '19.92', '3.103M', '3.158M']
spot of 19.92 with type <class 'str'>
['Mo', '7/21/03', '19.75', '3.295M', '3.153M']
spot of 19.75 with type <class 'str'>
['Fr', '7/18/03', '20.03', '5.182M', '3.108M']
spot of 20.03 with type <class 'str'>
['Th', '7/17/03', '21.02', '3.202M', '3.008M']
spot of 21.02 with type <class 'str'>
['We', '7/16/03', '21.56', '6.582M', '2.888M']
spot of 21.56 with type <class 'str'>
['Tu', '7/15/03', '20.65', '3.263M', '2.545M']
spot of 20.65 with type <class 'str'>
['Mo', '7/14/03', '21', '2.268M', '2.458M']
spot of 21 with type <class 'str'>
['Fr', '7/11/03', '20.35', '772.3k', '2.432M']
spot of 20.35 with type <class 'str'>
['Th', '7/10/03', '19.8', '2.334M', '2.649M']
spot of 19.8 with type <class 'str'>
['We', '7/9/03', '20.23', '3.512M', '2.692M']
spot of 20.23 with type <class 'str'>
['Tu', '7/8/03', '20.44', '2.139M', '2.855M']
spot of 20.44 with type <class 'str'>
['Mo', '7/7/03', '20.35', '2.287M', '2.966M']
spot of 20.35 with type <class 'str'>
['Th', '7/3/03', '19.5', '2.01M', '2.958M']
spot of 19.5 with type <class 'str'>
['We', '7/2/03', '19.62', '4.67M', '2.994M']
spot of 19.62 with type <class 'str'>
['Tu', '7/1/03', '18.19', '2.752M', '2.878M']
spot of 18.19 with type <class 'str'>
['Mo', '6/30/03', '17.65', '3.031M', '2.973M']
spot of 17.65 with type <class 'str'>
['Fr', '6/27/03', '18.18', '2.618M', '3.053M']
spot of 18.18 with type <class 'str'>
['Th', '6/26/03', '18.38', '3.683M', '3.097M']
spot of 18.38 with type <class 'str'>
['We', '6/25/03', '17.24', '1.392M', '3.006M']
spot of 17.24 with type <class 'str'>
['Tu', '6/24/03', '16.85', '1.435M', '3.062M']
spot of 16.85 with type <class 'str'>
['Mo', '6/23/03', '16.97', '1.968M', '3.112M']
spot of 16.97 with type <class 'str'>
['Fr', '6/20/03', '17.31', '1.869M', '3.094M']
spot of 17.31 with type <class 'str'>
['Th', '6/19/03', '17.34', '4.03M', '3.134M']
spot of 17.34 with type <class 'str'>
['We', '6/18/03', '17.62', '2.987M', '3.207M']
spot of 17.62 with type <class 'str'>
['Tu', '6/17/03', '17.25', '5.95M', '3.242M']
spot of 17.25 with type <class 'str'>
['Mo', '6/16/03', '17', '3.809M', '2.993M']
spot of 17 with type <class 'str'>
['Fr', '6/13/03', '15.96', '2.169M', '2.825M']
spot of 15.96 with type <class 'str'>
['Th', '6/12/03', '15.6', '2.55M', '2.755M']
spot of 15.6 with type <class 'str'>
['We', '6/11/03', '15.25', '2.93M', '2.647M']
spot of 15.25 with type <class 'str'>
['Tu', '6/10/03', '15.02', '4.168M', '2.595M']
spot of 15.02 with type <class 'str'>
['Mo', '6/9/03', '15.35', '4.233M', '2.391M']
spot of 15.35 with type <class 'str'>
['Fr', '6/6/03', '15.4', '3.287M', '2.208M']
spot of 15.4 with type <class 'str'>
['Th', '6/5/03', '15.97', '2.317M', '2.042M']
spot of 15.97 with type <class 'str'>
['We', '6/4/03', '14.97', '2.222M', '1.978M']
spot of 14.97 with type <class 'str'>
['Tu', '6/3/03', '14.86', '2.192M', '2.144M']
spot of 14.86 with type <class 'str'>
['Mo', '6/2/03', '15.54', '1.695M', '2.207M']
spot of 15.54 with type <class 'str'>
['Fr', '5/30/03', '15.15', '2.476M', '2.171M']
spot of 15.15 with type <class 'str'>
['Th', '5/29/03', '15.15', '5.122M', '2.06M']
spot of 15.15 with type <class 'str'>
['We', '5/28/03', '14.84', '3.516M', '1.785M']
spot of 14.84 with type <class 'str'>
['Tu', '5/27/03', '13.95', '2.212M', '1.601M']
spot of 13.95 with type <class 'str'>
['Fr', '5/23/03', '13.32', '1.288M', '1.598M']
spot of 13.32 with type <class 'str'>
['Th', '5/22/03', '13.43', '1.117M', '1.639M']
spot of 13.43 with type <class 'str'>
['We', '5/21/03', '13.28', '930.6k', '1.652M']
spot of 13.28 with type <class 'str'>
['Tu', '5/20/03', '13.1', '2.153M', '1.73M']
spot of 13.1 with type <class 'str'>
['Mo', '5/19/03', '13.35', '1.102M', '1.688M']
spot of 13.35 with type <class 'str'>
['Fr', '5/16/03', '13.55', '1.494M', '1.723M']
spot of 13.55 with type <class 'str'>
['Th', '5/15/03', '13.4', '797.3k', '1.727M']
spot of 13.4 with type <class 'str'>
['We', '5/14/03', '13.65', '1.354M', '1.76M']
spot of 13.65 with type <class 'str'>
['Tu', '5/13/03', '13.93', '4.719M', '1.853M']
spot of 13.93 with type <class 'str'>
['Mo', '5/12/03', '13.36', '3.123M', '1.623M']
spot of 13.36 with type <class 'str'>
['Fr', '5/9/03', '12.59', '1.157M', '1.539M']
spot of 12.59 with type <class 'str'>
['Th', '5/8/03', '12.72', '815.3k', '1.624M']
spot of 12.72 with type <class 'str'>
['We', '5/7/03', '12.7', '990.3k', '2.117M']
spot of 12.7 with type <class 'str'>
['Tu', '5/6/03', '12.5', '758.6k', '2.216M']
spot of 12.5 with type <class 'str'>
['Mo', '5/5/03', '12.54', '2.176M', '2.232M']
spot of 12.54 with type <class 'str'>
['Fr', '5/2/03', '12.29', '1.901M', '2.187M']
spot of 12.29 with type <class 'str'>
['Th', '5/1/03', '12.25', '1.312M', '2.193M']
spot of 12.25 with type <class 'str'>
['We', '4/30/03', '12.09', '2.098M', '2.231M']
spot of 12.09 with type <class 'str'>
['Tu', '4/29/03', '12.04', '1.518M', '2.236M']
spot of 12.04 with type <class 'str'>
['Mo', '4/28/03', '11.48', '1.636M', '2.375M']
spot of 11.48 with type <class 'str'>
['Fr', '4/25/03', '11.36', '1.543M', '2.569M']
spot of 11.36 with type <class 'str'>
['Th', '4/24/03', '11.5', '1.305M', '2.568M']
spot of 11.5 with type <class 'str'>
['We', '4/23/03', '11.75', '2.738M', '2.755M']
spot of 11.75 with type <class 'str'>
['Tu', '4/22/03', '12.35', '1.27M', '2.676M']
spot of 12.35 with type <class 'str'>
['Mo', '4/21/03', '12.26', '1.867M', '2.667M']
spot of 12.26 with type <class 'str'>
['Th', '4/17/03', '12.25', '2.438M', '2.718M']
spot of 12.25 with type <class 'str'>
['We', '4/16/03', '11.9', '8.202M', '2.849M']
spot of 11.9 with type <class 'str'>
['Tu', '4/15/03', '11.45', '2.484M', '2.496M']
spot of 11.45 with type <class 'str'>
['Mo', '4/14/03', '11.05', '991.3k', '2.642M']
spot of 11.05 with type <class 'str'>
['Fr', '4/11/03', '10.95', '1.5M', '2.705M']
spot of 10.95 with type <class 'str'>
['Th', '4/10/03', '10.83', '1.989M', '2.776M']
spot of 10.83 with type <class 'str'>
['We', '4/9/03', '10.72', '1.889M', '2.751M']
spot of 10.72 with type <class 'str'>
['Tu', '4/8/03', '10.52', '2.169M', '2.683M']
spot of 10.52 with type <class 'str'>
['Mo', '4/7/03', '10.31', '3.6M', '2.59M']
spot of 10.31 with type <class 'str'>
['Fr', '4/4/03', '10.27', '4.553M', '2.417M']
spot of 10.27 with type <class 'str'>
['Th', '4/3/03', '10.72', '1.517M', '2.274M']
spot of 10.72 with type <class 'str'>
['We', '4/2/03', '10.74', '4.118M', '2.454M']
spot of 10.74 with type <class 'str'>
['Tu', '4/1/03', '10.57', '1.558M', '2.483M']
spot of 10.57 with type <class 'str'>
['Mo', '3/31/03', '10.32', '1.128M', '2.51M']
spot of 10.32 with type <class 'str'>
['Fr', '3/28/03', '10.35', '2.628M', '2.557M']
spot of 10.35 with type <class 'str'>
['Th', '3/27/03', '10.88', '4.411M', '2.442M']
spot of 10.88 with type <class 'str'>
['We', '3/26/03', '10.1', '2.909M', '2.247M']
spot of 10.1 with type <class 'str'>
['Tu', '3/25/03', '10', '4.662M', '2.121M']
spot of 10 with type <class 'str'>
['Mo', '3/24/03', '9.55', '1.946M', '1.844M']
spot of 9.55 with type <class 'str'>
['Fr', '3/21/03', '9.8', '2.56M', '1.753M']
spot of 9.8 with type <class 'str'>
['Th', '3/20/03', '9.44', '1.61M', '1.637M']
spot of 9.44 with type <class 'str'>
['We', '3/19/03', '9.34', '874k', '1.556M']
spot of 9.34 with type <class 'str'>
['Tu', '3/18/03', '9.54', '782.5k', '1.549M']
spot of 9.54 with type <class 'str'>
['Mo', '3/17/03', '9.35', '994.4k', '1.701M']
spot of 9.35 with type <class 'str'>
['Fr', '3/14/03', '8.96', '2.407M', '1.705M']
spot of 8.96 with type <class 'str'>
['Th', '3/13/03', '9.05', '4.224M', '1.645M']
spot of 9.05 with type <class 'str'>
['We', '3/12/03', '9.03', '4.556M', '1.415M']
spot of 9.03 with type <class 'str'>
['Tu', '3/11/03', '9.55', '1.96M', '1.21M']
spot of 9.55 with type <class 'str'>
['Mo', '3/10/03', '9.76', '1.837M', '1.216M']
spot of 9.76 with type <class 'str'>
['Fr', '3/7/03', '9.7', '898.8k', '1.153M']
spot of 9.7 with type <class 'str'>
['Th', '3/6/03', '9.58', '1.481M', '1.233M']
spot of 9.58 with type <class 'str'>
['We', '3/5/03', '9.29', '1.018M', '1.25M']
spot of 9.29 with type <class 'str'>
['Tu', '3/4/03', '9.27', '517.6k', '1.331M']
spot of 9.27 with type <class 'str'>
['Mo', '3/3/03', '9.3', '575.8k', '1.966M']
spot of 9.3 with type <class 'str'>
['Fr', '2/28/03', '9.27', '820.2k', '1.999M']
spot of 9.27 with type <class 'str'>
['Th', '2/27/03', '9.45', '387k', '2.006M']
spot of 9.45 with type <class 'str'>
['We', '2/26/03', '9.52', '782.3k', '2.063M']
spot of 9.52 with type <class 'str'>
['Tu', '2/25/03', '9.68', '3.049M', '2.083M']
spot of 9.68 with type <class 'str'>
['Mo', '2/24/03', '9', '1.056M', '1.947M']
spot of 9 with type <class 'str'>
['Fr', '2/21/03', '9.2', '1.519M', '1.97M']
spot of 9.2 with type <class 'str'>
['Th', '2/20/03', '9.01', '760k', '1.916M']
spot of 9.01 with type <class 'str'>
['We', '2/19/03', '8.99', '1.494M', '1.944M']
spot of 8.99 with type <class 'str'>
['Tu', '2/18/03', '8.74', '2.049M', '1.929M']
spot of 8.74 with type <class 'str'>
['Fr', '2/14/03', '8.4', '881k', '1.869M']
spot of 8.4 with type <class 'str'>
['Th', '2/13/03', '8.06', '2.111M', '1.995M']
spot of 8.06 with type <class 'str'>
['We', '2/12/03', '8.34', '1.726M', '2.021M']
spot of 8.34 with type <class 'str'>
['Tu', '2/11/03', '8.93', '2.239M', '2.138M']
spot of 8.93 with type <class 'str'>
['Mo', '2/10/03', '8.7', '10.046M', '2.067M']
spot of 8.7 with type <class 'str'>
['Fr', '2/7/03', '9', '1.07M', '1.53M']
spot of 9 with type <class 'str'>
['Th', '2/6/03', '9.05', '923.5k', '1.555M']
spot of 9.05 with type <class 'str'>
['We', '2/5/03', '9.05', '1.234M', '1.666M']
spot of 9.05 with type <class 'str'>
['Tu', '2/4/03', '9.05', '1.088M', '1.693M']
spot of 9.05 with type <class 'str'>
['Mo', '2/3/03', '9.17', '1.002M', '1.809M']
spot of 9.17 with type <class 'str'>
['Fr', '1/31/03', '9.18', '1.403M', '2.246M']
spot of 9.18 with type <class 'str'>
['Th', '1/30/03', '9.4', '720.7k', '2.793M']
spot of 9.4 with type <class 'str'>
['We', '1/29/03', '9.73', '1.174M', '3.053M']
spot of 9.73 with type <class 'str'>
['Tu', '1/28/03', '9.4', '1.267M', '3.43M']
spot of 9.4 with type <class 'str'>
['Mo', '1/27/03', '9.35', '1.151M', '3.615M']
spot of 9.35 with type <class 'str'>
['Fr', '1/24/03', '9.95', '2.772M', '3.652M']
spot of 9.95 with type <class 'str'>
['Th', '1/23/03', '10', '2.499M', '3.699M']
spot of 10 with type <class 'str'>
['We', '1/22/03', '9.52', '3.489M', '3.781M']
spot of 9.52 with type <class 'str'>
['Tu', '1/21/03', '10.24', '1.166M', '3.731M']
spot of 10.24 with type <class 'str'>
['Fr', '1/17/03', '10.8', '2M', '3.763M']
spot of 10.8 with type <class 'str'>
['Th', '1/16/03', '11.01', '1.443M', '3.764M']
spot of 11.01 with type <class 'str'>
['We', '1/15/03', '10.77', '2.588M', '3.888M']
spot of 10.77 with type <class 'str'>
['Tu', '1/14/03', '10.25', '1.629M', '3.946M']
spot of 10.25 with type <class 'str'>
['Mo', '1/13/03', '10.23', '2.835M', '4.033M']
spot of 10.23 with type <class 'str'>
['Fr', '1/10/03', '11.1', '7.555M', '4.274M']
spot of 11.1 with type <class 'str'>
['Th', '1/9/03', '12.6', '9.604M', '3.914M']
spot of 12.6 with type <class 'str'>
['We', '1/8/03', '12.2', '4.623M', '3.456M']
spot of 12.2 with type <class 'str'>
['Tu', '1/7/03', '12.25', '6.824M', '3.403M']
spot of 12.25 with type <class 'str'>
['Mo', '1/6/03', '11.43', '4.041M', '3.464M']
spot of 11.43 with type <class 'str'>
['Fr', '1/3/03', '10.75', '1.717M', '3.808M']
spot of 10.75 with type <class 'str'>
['Th', '1/2/03', '10.5', '3.473M', '6.141M']
spot of 10.5 with type <class 'str'>
['Tu', '12/31/02', '10.73', '3.731M', '']
spot of 10.73 with type <class 'str'>
['Mo', '12/30/02', '10.47', '2.743M', '']
spot of 10.47 with type <class 'str'>
['Fr', '12/27/02', '10.13', '1.639M', '']
spot of 10.13 with type <class 'str'>
['Th', '12/26/02', '10.03', '2.019M', '']
spot of 10.03 with type <class 'str'>
['Tu', '12/24/02', '10.24', '3.303M', '']
spot of 10.24 with type <class 'str'>
['Mo', '12/23/02', '10.4', '3.456M', '']
spot of 10.4 with type <class 'str'>
['Fr', '12/20/02', '10.81', '2.931M', '']
spot of 10.81 with type <class 'str'>
['Th', '12/19/02', '10.76', '6.451M', '']
spot of 10.76 with type <class 'str'>
['We', '12/18/02', '11.2', '2.153M', '']
spot of 11.2 with type <class 'str'>
['Tu', '12/17/02', '11.5', '2.731M', '']
spot of 11.5 with type <class 'str'>
['Mo', '12/16/02', '11.61', '3.836M', '']
spot of 11.61 with type <class 'str'>
['Fr', '12/13/02', '11.42', '7.739M', '']
spot of 11.42 with type <class 'str'>
['Th', '12/12/02', '11.18', '9.196M', '']
spot of 11.18 with type <class 'str'>
['We', '12/11/02', '11.5', '36.72M', '']
spot of 11.5 with type <class 'str'>
['Tu', '12/10/02', '12', '', '']
spot of 12 with type <class 'str'>
['Mo', '3/19/18', '103.16', '4.434M', '4.553M']
spot of 103.16 with type <class 'str'>
['Fr', '3/16/18', '106.45', '7.29M', '4.441M']
spot of 106.45 with type <class 'str'>
['Th', '3/15/18', '102.23', '2.696M', '4.239M']
spot of 102.23 with type <class 'str'>
['We', '3/14/18', '103.2', '3.976M', '4.21M']
spot of 103.2 with type <class 'str'>
['Tu', '3/13/18', '102.91', '6.893M', '4.118M']
spot of 102.91 with type <class 'str'>
['Mo', '3/12/18', '102.86', '5.762M', '3.909M']
spot of 102.86 with type <class 'str'>
['Fr', '3/9/18', '99.55', '4.541M', '3.725M']
spot of 99.55 with type <class 'str'>
['Th', '3/8/18', '97.22', '4.116M', '3.631M']
spot of 97.22 with type <class 'str'>
['We', '3/7/18', '95.27', '6.005M', '3.575M']
spot of 95.27 with type <class 'str'>
['Tu', '3/6/18', '93.8', '6.594M', '3.371M']
spot of 93.8 with type <class 'str'>
['Mo', '3/5/18', '89.95', '3.411M', '3.151M']
spot of 89.95 with type <class 'str'>
['Fr', '3/2/18', '88.25', '2.505M', '3.232M']
spot of 88.25 with type <class 'str'>
['Th', '3/1/18', '87.27', '3.554M', '3.318M']
spot of 87.27 with type <class 'str'>
['We', '2/28/18', '87.04', '3.101M', '3.33M']
spot of 87.04 with type <class 'str'>
['Tu', '2/27/18', '87.19', '3.411M', '3.446M']
spot of 87.19 with type <class 'str'>
['Mo', '2/26/18', '89.22', '2.757M', '3.565M']
spot of 89.22 with type <class 'str'>
['Fr', '2/23/18', '89.14', '4.26M', '3.715M']
spot of 89.14 with type <class 'str'>
['Th', '2/22/18', '85.53', '2.271M', '3.668M']

spot of 85.53 with type <class 'str'>
['We', '2/21/18', '85.67', '2.586M', '4.085M']
spot of 85.67 with type <class 'str'>
['Tu', '2/20/18', '86.46', '3.762M', '4.228M']
spot of 86.46 with type <class 'str'>
['Fr', '2/16/18', '84.91', '2.997M', '4.311M']
spot of 84.91 with type <class 'str'>
['Th', '2/15/18', '84.54', '3.133M', '4.657M']
spot of 84.54 with type <class 'str'>
['We', '2/14/18', '83.33', '3.273M', '4.934M']
spot of 83.33 with type <class 'str'>
['Tu', '2/13/18', '82.97', '2.943M', '5.029M']
spot of 82.97 with type <class 'str'>
['Mo', '2/12/18', '82.34', '3.297M', '5.038M']
spot of 82.34 with type <class 'str'>
['Fr', '2/9/18', '80.59', '4.629M', '5.121M']
spot of 80.59 with type <class 'str'>
['Th', '2/8/18', '80.09', '3.792M', '5.075M']
spot of 80.09 with type <class 'str'>
['We', '2/7/18', '83.71', '3.738M', '5.129M']
spot of 83.71 with type <class 'str'>
['Tu', '2/6/18', '84.25', '4.836M', '5.173M']
spot of 84.25 with type <class 'str'>
['Mo', '2/5/18', '81.45', '5.205M', '5.222M']
spot of 81.45 with type <class 'str'>
['Fr', '2/2/18', '85.25', '5.01M', '5.074M']
spot of 85.25 with type <class 'str'>
['Th', '2/1/18', '87.65', '3.555M', '4.995M']
spot of 87.65 with type <class 'str'>
['We', '1/31/18', '88.98', '8.524M', '5.088M']
spot of 88.98 with type <class 'str'>
['Tu', '1/30/18', '87.08', '4.731M', '4.773M']
spot of 87.08 with type <class 'str'>
['Mo', '1/29/18', '87.45', '5.005M', '4.783M']
spot of 87.45 with type <class 'str'>
['Fr', '1/26/18', '89.6', '8.188M', '4.631M']
spot of 89.6 with type <class 'str'>
['Th', '1/25/18', '87.99', '7.284M', '4.43M']
spot of 87.99 with type <class 'str'>
['We', '1/24/18', '86.97', '4.697M', '4.161M']
spot of 86.97 with type <class 'str'>
['Tu', '1/23/18', '87.34', '3.081M', '4.108M']
spot of 87.34 with type <class 'str'>
['Mo', '1/22/18', '86.24', '4.534M', '4.088M']
spot of 86.24 with type <class 'str'>
['Fr', '1/19/18', '85.6', '3.939M', '3.94M']
spot of 85.6 with type <class 'str'>
['Th', '1/18/18', '86.4', '4.604M', '3.853M']
spot of 86.4 with type <class 'str'>
['We', '1/17/18', '85.16', '4.398M', '3.806M']
spot of 85.16 with type <class 'str'>
['Tu', '1/16/18', '83.88', '5.574M', '3.654M']
spot of 83.88 with type <class 'str'>
['Fr', '1/12/18', '83.12', '2.991M', '3.611M']
spot of 83.12 with type <class 'str'>
['Th', '1/11/18', '82.25', '3.822M', '3.728M']
spot of 82.25 with type <class 'str'>
['We', '1/10/18', '80.91', '4.941M', '3.736M']
spot of 80.91 with type <class 'str'>
['Tu', '1/9/18', '80.62', '3.811M', '3.665M']
spot of 80.62 with type <class 'str'>
['Mo', '1/8/18', '81.44', '4.875M', '3.888M']
spot of 81.44 with type <class 'str'>
['Fr', '1/5/18', '82.69', '2.727M', '3.779M']
spot of 82.69 with type <class 'str'>
['Th', '1/4/18', '82.17', '5.173M', '4.026M']
spot of 82.17 with type <class 'str'>
['We', '1/3/18', '82.67', '3.253M', '3.854M']
spot of 82.67 with type <class 'str'>
['Tu', '1/2/18', '81.38', '3.894M', '3.805M']
spot of 81.38 with type <class 'str'>
['Fr', '12/29/17', '79.53', '2.79M', '3.883M']
spot of 79.53 with type <class 'str'>
['Th', '12/28/17', '80.64', '2.303M', '3.875M']
spot of 80.64 with type <class 'str'>
['We', '12/27/17', '80.96', '2.633M', '3.956M']
spot of 80.96 with type <class 'str'>
['Tu', '12/26/17', '80', '3.904M', '4.087M']
spot of 80 with type <class 'str'>
['Fr', '12/22/17', '80.68', '2.125M', '4.207M']
spot of 80.68 with type <class 'str'>
['Th', '12/21/17', '80.83', '4.922M', '4.496M']
spot of 80.83 with type <class 'str'>
['We', '12/20/17', '82.77', '4.747M', '4.646M']
spot of 82.77 with type <class 'str'>
['Tu', '12/19/17', '84.24', '3.938M', '4.806M']
spot of 84.24 with type <class 'str'>
['Mo', '12/18/17', '83.62', '3.88M', '4.84M']
spot of 83.62 with type <class 'str'>
['Fr', '12/15/17', '81.62', '7.161M', '5.319M']
spot of 81.62 with type <class 'str'>
['Th', '12/14/17', '82.64', '3.24M', '4.904M']
spot of 82.64 with type <class 'str'>
['We', '12/13/17', '83.63', '6.421M', '4.837M']
spot of 83.63 with type <class 'str'>
['Tu', '12/12/17', '81.77', '2.604M', '4.614M']
spot of 81.77 with type <class 'str'>
['Mo', '12/11/17', '81.2', '2.511M', '4.618M']
spot of 81.2 with type <class 'str'>
['Fr', '12/8/17', '81.47', '5.06M', '4.557M']
spot of 81.47 with type <class 'str'>
['Th', '12/7/17', '78.35', '2.672M', '4.377M']
spot of 78.35 with type <class 'str'>
['We', '12/6/17', '77.86', '3.518M', '4.437M']
spot of 77.86 with type <class 'str'>
['Tu', '12/5/17', '78.56', '4.598M', '4.552M']
spot of 78.56 with type <class 'str'>
['Mo', '12/4/17', '77.11', '5.711M', '4.388M']
spot of 77.11 with type <class 'str'>
['Fr', '12/1/17', '79.36', '6.456M', '4.223M']
spot of 79.36 with type <class 'str'>
['Th', '11/30/17', '78.86', '7.171M', '3.982M']
spot of 78.86 with type <class 'str'>
['We', '11/29/17', '81', '7.152M', '3.689M']
spot of 81 with type <class 'str'>
['Tu', '11/28/17', '86.89', '4.445M', '3.455M']
spot of 86.89 with type <class 'str'>
['Mo', '11/27/17', '86.55', '11.066M', '3.364M']
spot of 86.55 with type <class 'str'>
['Fr', '11/24/17', '92.78', '937.142k', '2.822M']
spot of 92.78 with type <class 'str'>
['We', '11/22/17', '92.91', '2.234M', '2.934M']
spot of 92.91 with type <class 'str'>
['Tu', '11/21/17', '92.35', '3.077M', '3.037M']
spot of 92.35 with type <class 'str'>
['Mo', '11/20/17', '90.88', '2.666M', '3.209M']
spot of 90.88 with type <class 'str'>
['Fr', '11/17/17', '91.3', '1.595M', '3.374M']
spot of 91.3 with type <class 'str'>
['Th', '11/16/17', '91.21', '2.349M', '3.787M']
spot of 91.21 with type <class 'str'>
['We', '11/15/17', '90.36', '3.573M', '3.918M']
spot of 90.36 with type <class 'str'>
['Tu', '11/14/17', '91.58', '5.247M', '3.867M']
spot of 91.58 with type <class 'str'>
['Mo', '11/13/17', '88.44', '2.145M', '3.69M']
spot of 88.44 with type <class 'str'>
['Fr', '11/10/17', '88.92', '3.226M', '3.867M']
spot of 88.92 with type <class 'str'>
['Th', '11/9/17', '87.63', '2.845M', '3.836M']
spot of 87.63 with type <class 'str'>
['We', '11/8/17', '87.12', '2.778M', '3.786M']
spot of 87.12 with type <class 'str'>
['Tu', '11/7/17', '86.09', '3.638M', '3.832M']
spot of 86.09 with type <class 'str'>
['Mo', '11/6/17', '87.85', '3.084M', '3.789M']
spot of 87.85 with type <class 'str'>
['Fr', '11/3/17', '87.01', '2.943M', '3.763M']
spot of 87.01 with type <class 'str'>
['Th', '11/2/17', '88.6', '2.606M', '3.921M']
spot of 88.6 with type <class 'str'>
['We', '11/1/17', '89.24', '3.78M', '3.892M']
spot of 89.24 with type <class 'str'>
['Tu', '10/31/17', '89.27', '5.661M', '3.834M']
spot of 89.27 with type <class 'str'>
['Mo', '10/30/17', '85.79', '5.142M', '3.71M']
spot of 85.79 with type <class 'str'>
['Fr', '10/27/17', '87.11', '7.785M', '3.504M']
spot of 87.11 with type <class 'str'>
['Th', '10/26/17', '89.38', '4.32M', '3.218M']
spot of 89.38 with type <class 'str'>
['We', '10/25/17', '87.29', '2.812M', '3.295M']
spot of 87.29 with type <class 'str'>
['Tu', '10/24/17', '87.89', '2.582M', '3.335M']
spot of 87.89 with type <class 'str'>
['Mo', '10/23/17', '87.99', '4.8M', '3.468M']
spot of 87.99 with type <class 'str'>
['Fr', '10/20/17', '86.41', '2.765M', '3.648M']
spot of 86.41 with type <class 'str'>
['Th', '10/19/17', '85.48', '2.097M', '3.713M']
spot of 85.48 with type <class 'str'>
['We', '10/18/17', '85.5', '3.463M', '3.89M']
spot of 85.5 with type <class 'str'>
['Tu', '10/17/17', '85.78', '2.99M', '3.925M']
spot of 85.78 with type <class 'str'>
['Mo', '10/16/17', '86.83', '2.694M', '3.974M']
spot of 86.83 with type <class 'str'>
['Fr', '10/13/17', '87.8', '5.325M', '3.981M']
spot of 87.8 with type <class 'str'>
['Th', '10/12/17', '85.76', '2.161M', '3.836M']
spot of 85.76 with type <class 'str'>
['We', '10/11/17', '85.62', '2.92M', '3.979M']
spot of 85.62 with type <class 'str'>
['Tu', '10/10/17', '86.01', '3.8M', '4.305M']
spot of 86.01 with type <class 'str'>
['Mo', '10/9/17', '84.27', '2.045M', '4.584M']
spot of 84.27 with type <class 'str'>
['Fr', '10/6/17', '83.85', '3.49M', '4.656M']
spot of 83.85 with type <class 'str'>
['Th', '10/5/17', '83.58', '5.481M', '4.825M']
spot of 83.58 with type <class 'str'>
['We', '10/4/17', '84.35', '3.414M', '4.656M']
spot of 84.35 with type <class 'str'>
['Tu', '10/3/17', '83', '4.577M', '5.009M']
spot of 83 with type <class 'str'>
['Mo', '10/2/17', '83.39', '7.502M', '4.972M']
spot of 83.39 with type <class 'str'>
['Fr', '9/29/17', '86.4', '3.733M', '4.689M']
spot of 86.4 with type <class 'str'>
['Th', '9/28/17', '86.71', '4.761M', '4.707M']
spot of 86.71 with type <class 'str'>
['We', '9/27/17', '88.72', '3.976M', '4.561M']
spot of 88.72 with type <class 'str'>
['Tu', '9/26/17', '86.28', '3.736M', '4.577M']
spot of 86.28 with type <class 'str'>
['Mo', '9/25/17', '86.09', '2.788M', '4.564M']
spot of 86.09 with type <class 'str'>
['Fr', '9/22/17', '86.48', '3.152M', '4.609M']
spot of 86.48 with type <class 'str'>
['Th', '9/21/17', '85.49', '4.306M', '4.706M']
spot of 85.49 with type <class 'str'>
['We', '9/20/17', '86.37', '7.819M', '4.662M']
spot of 86.37 with type <class 'str'>
['Tu', '9/19/17', '89.92', '7.986M', '4.383M']
spot of 89.92 with type <class 'str'>
['Mo', '9/18/17', '89.18', '3.122M', '4.138M']
spot of 89.18 with type <class 'str'>
['Fr', '9/15/17', '88.52', '6.021M', '4.148M']
spot of 88.52 with type <class 'str'>
['Th', '9/14/17', '85.79', '2.944M', '3.982M']
spot of 85.79 with type <class 'str'>
['We', '9/13/17', '85.74', '8.719M', '4.107M']
spot of 85.74 with type <class 'str'>
['Tu', '9/12/17', '88.78', '4.012M', '3.821M']
spot of 88.78 with type <class 'str'>
['Mo', '9/11/17', '87.38', '3.267M', '3.788M']
spot of 87.38 with type <class 'str'>
['Fr', '9/8/17', '87', '3.999M', '3.771M']
spot of 87 with type <class 'str'>
['Th', '9/7/17', '88.42', '2.57M', '3.702M']
spot of 88.42 with type <class 'str'>
['We', '9/6/17', '89.56', '4.215M', '3.809M']
spot of 89.56 with type <class 'str'>
['Tu', '9/5/17', '89.5', '3.544M', '3.738M']
spot of 89.5 with type <class 'str'>
['Fr', '9/1/17', '90.41', '3.468M', '3.762M']
spot of 90.41 with type <class 'str'>
['Th', '8/31/17', '88.27', '4.6M', '3.76M']
spot of 88.27 with type <class 'str'>
['We', '8/30/17', '90.3', '3.651M', '3.739M']
spot of 90.3 with type <class 'str'>
['Tu', '8/29/17', '90.07', '3.632M', '3.679M']
spot of 90.07 with type <class 'str'>
['Mo', '8/28/17', '90.56', '4.31M', '3.676M']
spot of 90.56 with type <class 'str'>
['Fr', '8/25/17', '90.25', '3.264M', '3.707M']
spot of 90.25 with type <class 'str'>
['Th', '8/24/17', '89.45', '3.533M', '4.203M']
spot of 89.45 with type <class 'str'>
['We', '8/23/17', '88.31', '4.823M', '4.201M']
spot of 88.31 with type <class 'str'>
['Tu', '8/22/17', '86.65', '4.423M', '4.13M']
spot of 86.65 with type <class 'str'>
['Mo', '8/21/17', '83.86', '3.526M', '4.103M']
spot of 83.86 with type <class 'str'>
['Fr', '8/18/17', '83.2', '3.003M', '4.207M']
spot of 83.2 with type <class 'str'>
['Th', '8/17/17', '82.48', '2.968M', '4.754M']
spot of 82.48 with type <class 'str'>
['We', '8/16/17', '85.85', '4.169M', '4.906M']
spot of 85.85 with type <class 'str'>
['Tu', '8/15/17', '83.82', '3.159M', '4.795M']
spot of 83.82 with type <class 'str'>
['Mo', '8/14/17', '82.83', '3.9M', '4.919M']
spot of 82.83 with type <class 'str'>
['Fr', '8/11/17', '79.9', '3.439M', '4.809M']
spot of 79.9 with type <class 'str'>
['Th', '8/10/17', '79.19', '4.291M', '4.726M']
spot of 79.19 with type <class 'str'>
['We', '8/9/17', '80.99', '2.741M', '4.663M']
spot of 80.99 with type <class 'str'>
['Tu', '8/8/17', '81.34', '3.591M', '4.671M']
spot of 81.34 with type <class 'str'>
['Mo', '8/7/17', '80.97', '4.772M', '4.579M']
spot of 80.97 with type <class 'str'>
['Fr', '8/4/17', '81.17', '10.704M', '4.431M']
spot of 81.17 with type <class 'str'>
['Th', '8/3/17', '84.51', '3.511M', '3.949M']
spot of 84.51 with type <class 'str'>
['We', '8/2/17', '84.37', '3.757M', '3.991M']
spot of 84.37 with type <class 'str'>
['Tu', '8/1/17', '85.67', '4.01M', '4.111M']
spot of 85.67 with type <class 'str'>
['Mo', '7/31/17', '85.12', '5.094M', '4.186M']
spot of 85.12 with type <class 'str'>
['Fr', '7/28/17', '84.97', '11.204M', '4.173M']
spot of 84.97 with type <class 'str'>
['Th', '7/27/17', '91.9', '5.242M', '3.656M']
spot of 91.9 with type <class 'str'>
['We', '7/26/17', '92.96', '2.504M', '3.582M']
spot of 92.96 with type <class 'str'>
['Tu', '7/25/17', '93.75', '5.025M', '3.757M']
spot of 93.75 with type <class 'str'>
['Mo', '7/24/17', '94.62', '2.255M', '3.726M']
spot of 94.62 with type <class 'str'>
['Fr', '7/21/17', '94.82', '2.184M', '4.017M']
spot of 94.82 with type <class 'str'>
['Th', '7/20/17', '95.01', '3.359M', '4.249M']
spot of 95.01 with type <class 'str'>
['We', '7/19/17', '94.48', '2.853M', '4.271M']
spot of 94.48 with type <class 'str'>
['Tu', '7/18/17', '94.27', '2.212M', '4.438M']
spot of 94.27 with type <class 'str'>
['Mo', '7/17/17', '94.57', '2.557M', '4.539M']
spot of 94.57 with type <class 'str'>
['Fr', '7/14/17', '94.44', '3.471M', '4.923M']
spot of 94.44 with type <class 'str'>
['Th', '7/13/17', '92.8', '4.141M', '4.844M']
spot of 92.8 with type <class 'str'>
['We', '7/12/17', '94.13', '5.555M', '4.858M']
spot of 94.13 with type <class 'str'>
['Tu', '7/11/17', '91.75', '5.131M', '4.786M']
spot of 91.75 with type <class 'str'>
['Mo', '7/10/17', '89.27', '4.909M', '4.612M']
spot of 89.27 with type <class 'str'>
['Fr', '7/7/17', '86.94', '3.437M', '4.571M']
spot of 86.94 with type <class 'str'>
['Th', '7/6/17', '86.12', '4.144M', '4.523M']
spot of 86.12 with type <class 'str'>
['We', '7/5/17', '86.41', '5.12M', '4.528M']
spot of 86.41 with type <class 'str'>
['Mo', '7/3/17', '85.29', '4.562M', '4.523M']
spot of 85.29 with type <class 'str'>
['Fr', '6/30/17', '88.6', '6.615M', '4.613M']
spot of 88.6 with type <class 'str'>
['Th', '6/29/17', '91.65', '5.673M', '4.574M']
spot of 91.65 with type <class 'str'>
['We', '6/28/17', '93.67', '3.692M', '4.372M']
spot of 93.67 with type <class 'str'>
['Tu', '6/27/17', '91.85', '5.356M', '4.322M']
spot of 91.85 with type <class 'str'>
['Mo', '6/26/17', '92.66', '3.718M', '4.207M']
spot of 92.66 with type <class 'str'>
['Fr', '6/23/17', '93.34', '8.322M', '4.245M']
spot of 93.34 with type <class 'str'>
['Th', '6/22/17', '90.25', '2.285M', '3.903M']
spot of 90.25 with type <class 'str'>
['We', '6/21/17', '91.03', '4.349M', '3.985M']
spot of 91.03 with type <class 'str'>
['Tu', '6/20/17', '88.23', '4.472M', '4.064M']
spot of 88.23 with type <class 'str'>
['Mo', '6/19/17', '88.64', '2.52M', '3.989M']
spot of 88.64 with type <class 'str'>
['Fr', '6/16/17', '87.12', '4.295M', '4.017M']
spot of 87.12 with type <class 'str'>
['Th', '6/15/17', '87.31', '2.72M', '3.951M']
spot of 87.31 with type <class 'str'>
['We', '6/14/17', '87.8', '4.226M', '4.18M']
spot of 87.8 with type <class 'str'>
['Tu', '6/13/17', '90.05', '5.039M', '4.075M']
spot of 90.05 with type <class 'str'>
['Mo', '6/12/17', '86.64', '5.915M', '3.955M']
spot of 86.64 with type <class 'str'>
['Fr', '6/9/17', '86.01', '6.027M', '3.763M']
spot of 86.01 with type <class 'str'>
['Th', '6/8/17', '91.02', '2.649M', '3.585M']
spot of 91.02 with type <class 'str'>
['We', '6/7/17', '89.93', '2.938M', '3.673M']
spot of 89.93 with type <class 'str'>
['Tu', '6/6/17', '89.94', '3.626M', '3.623M']
spot of 89.94 with type <class 'str'>
['Mo', '6/5/17', '89.42', '4.286M', '3.583M']
spot of 89.42 with type <class 'str'>
['Fr', '6/2/17', '91.52', '3.191M', '3.43M']
spot of 91.52 with type <class 'str'>
['Th', '6/1/17', '91.59', '3.52M', '3.358M']
spot of 91.59 with type <class 'str'>
['We', '5/31/17', '90.06', '5.532M', '3.282M']
spot of 90.06 with type <class 'str'>
['Tu', '5/30/17', '91.29', '3.351M', '3.17M']
spot of 91.29 with type <class 'str'>
['Fr', '5/26/17', '90.01', '2.94M', '3.206M']
spot of 90.01 with type <class 'str'>
['Th', '5/25/17', '89.27', '3.307M', '3.214M']
spot of 89.27 with type <class 'str'>
['We', '5/24/17', '89.7', '6.148M', '3.216M']
spot of 89.7 with type <class 'str'>
['Tu', '5/23/17', '88.03', '2.662M', '3.098M']
spot of 88.03 with type <class 'str'>
['Mo', '5/22/17', '87.98', '3.236M', '3.244M']
spot of 87.98 with type <class 'str'>
['Fr', '5/19/17', '86.66', '3.026M', '3.586M']
spot of 86.66 with type <class 'str'>
['Th', '5/18/17', '86.11', '3.365M', '4.546M']
spot of 86.11 with type <class 'str'>
['We', '5/17/17', '85.22', '3.965M', '4.723M']
spot of 85.22 with type <class 'str'>
['Tu', '5/16/17', '88.96', '2.197M', '4.991M']
spot of 88.96 with type <class 'str'>
['Mo', '5/15/17', '89.02', '3.022M', '5.108M']
spot of 89.02 with type <class 'str'>
['Fr', '5/12/17', '89.65', '1.981M', '5.174M']
spot of 89.65 with type <class 'str'>
['Th', '5/11/17', '89.68', '2.124M', '5.22M']
spot of 89.68 with type <class 'str'>
['We', '5/10/17', '89.54', '2.377M', '5.265M']
spot of 89.54 with type <class 'str'>
['Tu', '5/9/17', '88.88', '3.842M', '5.282M']
spot of 88.88 with type <class 'str'>

['Mo', '5/8/17', '89.9', '3.901M', '5.279M']
spot of 89.9 with type <class 'str'>
['Fr', '5/5/17', '90.72', '3.057M', '5.277M']
spot of 90.72 with type <class 'str'>
['Th', '5/4/17', '89.17', '3.338M', '5.409M']
spot of 89.17 with type <class 'str'>
['We', '5/3/17', '89.22', '4.382M', '5.571M']
spot of 89.22 with type <class 'str'>
['Tu', '5/2/17', '87.29', '4.849M', '5.799M']
spot of 87.29 with type <class 'str'>
['Mo', '5/1/17', '87.7', '8.368M', '5.834M']
spot of 87.7 with type <class 'str'>
['Fr', '4/28/17', '89.07', '17.421M', '5.559M']
spot of 89.07 with type <class 'str'>
['Th', '4/27/17', '85.71', '6.022M', '4.608M']
spot of 85.71 with type <class 'str'>
['We', '4/26/17', '84.61', '7.985M', '4.479M']
spot of 84.61 with type <class 'str'>
['Tu', '4/25/17', '86.88', '3.958M', '4.141M']
spot of 86.88 with type <class 'str'>
['Mo', '4/24/17', '85.77', '4.009M', '4.147M']
spot of 85.77 with type <class 'str'>
['Fr', '4/21/17', '83.11', '2.671M', '4.157M']
spot of 83.11 with type <class 'str'>
['Th', '4/20/17', '84.41', '2.796M', '4.425M']
spot of 84.41 with type <class 'str'>
['We', '4/19/17', '82.8', '2.625M', '4.539M']
spot of 82.8 with type <class 'str'>
['Tu', '4/18/17', '82.87', '3.799M', '4.631M']
spot of 82.87 with type <class 'str'>
['Mo', '4/17/17', '84.16', '3.868M', '4.613M']
spot of 84.16 with type <class 'str'>
['Th', '4/13/17', '83.5', '5.046M', '4.934M']
spot of 83.5 with type <class 'str'>
['We', '4/12/17', '84.21', '5.764M', '4.836M']
spot of 84.21 with type <class 'str'>
['Tu', '4/11/17', '86.05', '7.809M', '4.691M']
spot of 86.05 with type <class 'str'>
['Mo', '4/10/17', '84.78', '5.374M', '4.513M']
spot of 84.78 with type <class 'str'>
['Fr', '4/7/17', '85.17', '4.235M', '4.389M']
spot of 85.17 with type <class 'str'>
['Th', '4/6/17', '84.09', '3.16M', '4.333M']
spot of 84.09 with type <class 'str'>
['We', '4/5/17', '82.7', '4.093M', '4.29M']
spot of 82.7 with type <class 'str'>
['Tu', '4/4/17', '82.99', '2.902M', '4.231M']
spot of 82.99 with type <class 'str'>
['Mo', '4/3/17', '82.14', '4.052M', '4.194M']
spot of 82.14 with type <class 'str'>
['Fr', '3/31/17', '82.53', '4.155M', '4.064M']
spot of 82.53 with type <class 'str'>
['Th', '3/30/17', '83.75', '6.704M', '3.971M']
spot of 83.75 with type <class 'str'>
['We', '3/29/17', '81.39', '4.498M', '3.859M']
spot of 81.39 with type <class 'str'>
['Tu', '3/28/17', '80.56', '4M', '3.669M']
spot of 80.56 with type <class 'str'>
['Mo', '3/27/17', '78.57', '3.534M', '3.544M']
spot of 78.57 with type <class 'str'>
['Fr', '3/24/17', '78.18', '8.682M', '3.565M']
spot of 78.18 with type <class 'str'>
['Th', '3/23/17', '76.19', '3.576M', '3.201M']
spot of 76.19 with type <class 'str'>
['We', '3/22/17', '74.93', '3.584M', '3.287M']
spot of 74.93 with type <class 'str'>
['Tu', '3/21/17', '73.22', '5.143M', '3.359M']
spot of 73.22 with type <class 'str'>
['Mo', '3/20/17', '76.42', '3.515M', '3.355M']
spot of 76.42 with type <class 'str'>
['Fr', '3/17/17', '76.87', '3.394M', '3.388M']
spot of 76.87 with type <class 'str'>
['Th', '3/16/17', '77.14', '2.516M', '3.435M']
spot of 77.14 with type <class 'str'>
['We', '3/15/17', '76.72', '3.206M', '3.459M']
spot of 76.72 with type <class 'str'>
['Tu', '3/14/17', '75.7', '2.355M', '3.433M']
spot of 75.7 with type <class 'str'>
['Mo', '3/13/17', '75.7', '2.104M', '3.505M']
spot of 75.7 with type <class 'str'>
['Fr', '3/10/17', '75', '2.747M', '3.684M']
spot of 75 with type <class 'str'>
['Th', '3/9/17', '74.26', '5.025M', '3.698M']
spot of 74.26 with type <class 'str'>
['We', '3/8/17', '76.45', '1.649M', '3.587M']
spot of 76.45 with type <class 'str'>
['Tu', '3/7/17', '76.8', '2.123M', '3.836M']
spot of 76.8 with type <class 'str'>
['Mo', '3/6/17', '76.8', '3.855M', '3.855M']
spot of 76.8 with type <class 'str'>
['Fr', '3/3/17', '77.54', '3.223M', '3.79M']
spot of 77.54 with type <class 'str'>
['Th', '3/2/17', '76.28', '4.867M', '3.767M']
spot of 76.28 with type <class 'str'>
['We', '3/1/17', '78.32', '4.668M', '3.743M']
spot of 78.32 with type <class 'str'>
['Tu', '2/28/17', '76.88', '5.078M', '3.607M']
spot of 76.88 with type <class 'str'>
['Mo', '2/27/17', '76.1', '4.016M', '3.422M']
spot of 76.1 with type <class 'str'>
['Fr', '2/24/17', '74.65', '4.088M', '3.329M']
spot of 74.65 with type <class 'str'>
['Th', '2/23/17', '74.59', '2.888M', '3.256M']
spot of 74.59 with type <class 'str'>
['We', '2/22/17', '74.47', '2.811M', '3.323M']
spot of 74.47 with type <class 'str'>
['Tu', '2/21/17', '74.9', '3.438M', '3.377M']
spot of 74.9 with type <class 'str'>
['Fr', '2/17/17', '74.91', '4.791M', '3.404M']
spot of 74.91 with type <class 'str'>
['Th', '2/16/17', '75.95', '2.946M', '3.434M']
spot of 75.95 with type <class 'str'>
['We', '2/15/17', '76.01', '3.362M', '3.903M']
spot of 76.01 with type <class 'str'>
['Tu', '2/14/17', '76.41', '5.39M', '4.6M']
spot of 76.41 with type <class 'str'>
['Mo', '2/13/17', '78.47', '2.4M', '4.675M']
spot of 78.47 with type <class 'str'>
['Fr', '2/10/17', '77.36', '2.878M', '4.829M']
spot of 77.36 with type <class 'str'>
['Th', '2/9/17', '78.05', '2.885M', '4.871M']
spot of 78.05 with type <class 'str'>
['We', '2/8/17', '77.08', '4.499M', '4.953M']
spot of 77.08 with type <class 'str'>
['Tu', '2/7/17', '79.05', '2.629M', '4.948M']
spot of 79.05 with type <class 'str'>
['Mo', '2/6/17', '78.94', '2.307M', '5.073M']
spot of 78.94 with type <class 'str'>
['Fr', '2/3/17', '79.13', '2.625M', '5.058M']
spot of 79.13 with type <class 'str'>
['Th', '2/2/17', '79.23', '2.983M', '5.113M']
spot of 79.23 with type <class 'str'>
['We', '2/1/17', '79.16', '3.898M', '5.205M']
spot of 79.16 with type <class 'str'>
['Tu', '1/31/17', '79.73', '3.618M', '5.189M']
spot of 79.73 with type <class 'str'>
['Mo', '1/30/17', '79.22', '3.846M', '5.208M']
spot of 79.22 with type <class 'str'>
['Fr', '1/27/17', '79.52', '5.244M', '5.17M']
spot of 79.52 with type <class 'str'>
['Th', '1/26/17', '78.47', '9.978M', '5.063M']
spot of 78.47 with type <class 'str'>
['We', '1/25/17', '80.02', '13.824M', '4.641M']
spot of 80.02 with type <class 'str'>
['Tu', '1/24/17', '76.01', '6.509M', '4.018M']
spot of 76.01 with type <class 'str'>
['Mo', '1/23/17', '72.65', '4.707M', '3.773M']
spot of 72.65 with type <class 'str'>
['Fr', '1/20/17', '72.63', '3.513M', '3.677M']
spot of 72.63 with type <class 'str'>
['Th', '1/19/17', '71.67', '4.121M', '3.652M']
spot of 71.67 with type <class 'str'>
['We', '1/18/17', '73.24', '4.413M', '3.518M']
spot of 73.24 with type <class 'str'>
['Tu', '1/17/17', '71.62', '4.506M', '3.374M']
spot of 71.62 with type <class 'str'>
['Fr', '1/13/17', '71', '2.078M', '3.438M']
spot of 71 with type <class 'str'>
['Th', '1/12/17', '70.75', '3.451M', '3.481M']
spot of 70.75 with type <class 'str'>
['We', '1/11/17', '71.45', '4.371M', '3.537M']
spot of 71.45 with type <class 'str'>
['Tu', '1/10/17', '70.84', '3.651M', '3.416M']
spot of 70.84 with type <class 'str'>
['Mo', '1/9/17', '71.86', '3.91M', '3.496M']
spot of 71.86 with type <class 'str'>
['Fr', '1/6/17', '70.38', '3.274M', '3.422M']
spot of 70.38 with type <class 'str'>
['Th', '1/5/17', '70.55', '3.638M', '3.374M']
spot of 70.55 with type <class 'str'>
['We', '1/4/17', '70.54', '3.653M', '3.368M']
spot of 70.54 with type <class 'str'>
['Tu', '1/3/17', '69.43', '4.479M', '3.367M']
spot of 69.43 with type <class 'str'>
['Fr', '12/30/16', '67.95', '2.824M', '3.276M']
spot of 67.95 with type <class 'str'>
['Th', '12/29/16', '68.43', '3.268M', '3.405M']
spot of 68.43 with type <class 'str'>
['We', '12/28/16', '69.21', '3.147M', '4.219M']
spot of 69.21 with type <class 'str'>
['Tu', '12/27/16', '70.17', '2.102M', '4.346M']
spot of 70.17 with type <class 'str'>
['Fr', '12/23/16', '70.35', '2.257M', '4.663M']
spot of 70.35 with type <class 'str'>
['Th', '12/22/16', '70.19', '5.459M', '4.746M']
spot of 70.19 with type <class 'str'>
['We', '12/21/16', '69.22', '2.736M', '4.749M']
spot of 69.22 with type <class 'str'>
['Tu', '12/20/16', '68.95', '4.286M', '4.926M']
spot of 68.95 with type <class 'str'>
['Mo', '12/19/16', '68.36', '2.549M', '4.977M']
spot of 68.36 with type <class 'str'>
['Fr', '12/16/16', '67.18', '4.852M', '5.122M']
spot of 67.18 with type <class 'str'>
['Th', '12/15/16', '67.89', '2.804M', '4.886M']
spot of 67.89 with type <class 'str'>
['We', '12/14/16', '67.17', '2.558M', '4.846M']
spot of 67.17 with type <class 'str'>
['Tu', '12/13/16', '67.9', '3.55M', '4.855M']
spot of 67.9 with type <class 'str'>
['Mo', '12/12/16', '66.29', '3.638M', '4.878M']
spot of 66.29 with type <class 'str'>
['Fr', '12/9/16', '67.71', '3.101M', '4.958M']
spot of 67.71 with type <class 'str'>
['Th', '12/8/16', '68.25', '4.771M', '5.192M']
spot of 68.25 with type <class 'str'>
['We', '12/7/16', '69.15', '15.475M', '5.072M']
spot of 69.15 with type <class 'str'>
['Tu', '12/6/16', '63.85', '5.05M', '4.31M']
spot of 63.85 with type <class 'str'>
['Mo', '12/5/16', '62.09', '6.866M', '4.267M']
spot of 62.09 with type <class 'str'>
['Fr', '12/2/16', '63.35', '3.497M', '4.224M']
spot of 63.35 with type <class 'str'>
['Th', '12/1/16', '61.61', '5.508M', '4.315M']
spot of 61.61 with type <class 'str'>
['We', '11/30/16', '63.66', '5.383M', '4.336M']
spot of 63.66 with type <class 'str'>
['Tu', '11/29/16', '62.67', '5.053M', '4.175M']
spot of 62.67 with type <class 'str'>
['Mo', '11/28/16', '62.27', '4.727M', '4.139M']
spot of 62.27 with type <class 'str'>
['Fr', '11/25/16', '61.59', '1.315M', '4.004M']
spot of 61.59 with type <class 'str'>
['We', '11/23/16', '61.04', '2.202M', '4.129M']
spot of 61.04 with type <class 'str'>
['Tu', '11/22/16', '61.19', '2.696M', '4.263M']
spot of 61.19 with type <class 'str'>
['Mo', '11/21/16', '61.17', '3.887M', '4.338M']
spot of 61.17 with type <class 'str'>
['Fr', '11/18/16', '60.93', '4.837M', '4.303M']
spot of 60.93 with type <class 'str'>
['Th', '11/17/16', '58.8', '6.616M', '4.298M']
spot of 58.8 with type <class 'str'>
['We', '11/16/16', '59.53', '2.961M', '4.863M']
spot of 59.53 with type <class 'str'>
['Tu', '11/15/16', '59.71', '4.048M', '5.254M']
spot of 59.71 with type <class 'str'>
['Mo', '11/14/16', '59.48', '4.416M', '5.206M']
spot of 59.48 with type <class 'str'>
['Fr', '11/11/16', '58.89', '6.22M', '5.122M']
spot of 58.89 with type <class 'str'>
['Th', '11/10/16', '56.84', '4.856M', '4.892M']
spot of 56.84 with type <class 'str'>
['We', '11/9/16', '57.48', '5.819M', '4.716M']
spot of 57.48 with type <class 'str'>
['Tu', '11/8/16', '57.26', '2.975M', '4.575M']
spot of 57.26 with type <class 'str'>
['Mo', '11/7/16', '57.67', '4.503M', '4.586M']
spot of 57.67 with type <class 'str'>
['Fr', '11/4/16', '55.02', '2.706M', '4.725M']
spot of 55.02 with type <class 'str'>
['Th', '11/3/16', '55.14', '3.193M', '4.8M']
spot of 55.14 with type <class 'str'>
['We', '11/2/16', '55.2', '4.216M', '4.919M']
spot of 55.2 with type <class 'str'>
['Tu', '11/1/16', '57.24', '3.821M', '4.924M']
spot of 57.24 with type <class 'str'>
['Mo', '10/31/16', '58.44', '3.363M', '5.095M']
spot of 58.44 with type <class 'str'>
['Fr', '10/28/16', '59.21', '4.76M', '5.122M']
spot of 59.21 with type <class 'str'>
['Th', '10/27/16', '59.58', '15.086M', '5.039M']
spot of 59.58 with type <class 'str'>
['We', '10/26/16', '56.52', '8.826M', '4.364M']
spot of 56.52 with type <class 'str'>
['Tu', '10/25/16', '53.63', '3.335M', '4.072M']
spot of 53.63 with type <class 'str'>
['Mo', '10/24/16', '53.52', '3.157M', '4.157M']
spot of 53.52 with type <class 'str'>
['Fr', '10/21/16', '53.07', '2.765M', '4.29M']
spot of 53.07 with type <class 'str'>
['Th', '10/20/16', '53.86', '2.215M', '4.399M']
spot of 53.86 with type <class 'str'>
['We', '10/19/16', '53.6', '3.706M', '4.609M']
spot of 53.6 with type <class 'str'>
['Tu', '10/18/16', '53.99', '3.134M', '4.687M']
spot of 53.99 with type <class 'str'>
['Mo', '10/17/16', '53.18', '6.594M', '5.007M']
spot of 53.18 with type <class 'str'>
['Fr', '10/14/16', '54.84', '3.833M', '4.961M']
spot of 54.84 with type <class 'str'>
['Th', '10/13/16', '55.28', '4.978M', '4.971M']
spot of 55.28 with type <class 'str'>
['We', '10/12/16', '56.43', '4.293M', '4.944M']
spot of 56.43 with type <class 'str'>
['Tu', '10/11/16', '56.62', '6.388M', '4.937M']
spot of 56.62 with type <class 'str'>
['Mo', '10/10/16', '59.26', '3.761M', '4.715M']
spot of 59.26 with type <class 'str'>
['Fr', '10/7/16', '58.67', '3.517M', '4.781M']
spot of 58.67 with type <class 'str'>
['Th', '10/6/16', '58.05', '4.965M', '5.18M']
spot of 58.05 with type <class 'str'>
['We', '10/5/16', '59.24', '4.442M', '5.114M']
spot of 59.24 with type <class 'str'>
['Tu', '10/4/16', '58.69', '4.601M', '5.075M']
spot of 58.69 with type <class 'str'>
['Mo', '10/3/16', '58.86', '5.164M', '5.137M']
spot of 58.86 with type <class 'str'>
['Fr', '9/30/16', '58.47', '4.397M', '5.229M']
spot of 58.47 with type <class 'str'>
['Th', '9/29/16', '58.27', '5.367M', '5.338M']
spot of 58.27 with type <class 'str'>
['We', '9/28/16', '58.01', '4.878M', '5.455M']
spot of 58.01 with type <class 'str'>
['Tu', '9/27/16', '58.86', '7.932M', '6.37M']
spot of 58.86 with type <class 'str'>
['Mo', '9/26/16', '57.01', '5.902M', '6.142M']
spot of 57.01 with type <class 'str'>
['Fr', '9/23/16', '55.93', '3.983M', '5.937M']
spot of 55.93 with type <class 'str'>
['Th', '9/22/16', '56.07', '4.564M', '5.872M']
spot of 56.07 with type <class 'str'>
['We', '9/21/16', '56.13', '4.197M', '5.791M']
spot of 56.13 with type <class 'str'>
['Tu', '9/20/16', '54.42', '3.054M', '5.675M']
spot of 54.42 with type <class 'str'>
['Mo', '9/19/16', '54.63', '4.744M', '5.659M']
spot of 54.63 with type <class 'str'>
['Fr', '9/16/16', '54.94', '9.508M', '5.567M']
spot of 54.94 with type <class 'str'>
['Th', '9/15/16', '53.28', '3.978M', '5.208M']
spot of 53.28 with type <class 'str'>
['We', '9/14/16', '51.99', '3.86M', '5.127M']
spot of 51.99 with type <class 'str'>
['Tu', '9/13/16', '52.37', '5.534M', '5.081M']
spot of 52.37 with type <class 'str'>
['Mo', '9/12/16', '52.31', '6.535M', '4.908M']
spot of 52.31 with type <class 'str'>
['Fr', '9/9/16', '51.59', '6.034M', '4.733M']
spot of 51.59 with type <class 'str'>
['Th', '9/8/16', '53.47', '7.121M', '4.577M']
spot of 53.47 with type <class 'str'>
['We', '9/7/16', '53.3', '18.607M', '4.418M']
spot of 53.3 with type <class 'str'>
['Tu', '9/6/16', '47.55', '4.514M', '3.394M']
spot of 47.55 with type <class 'str'>
['Fr', '9/2/16', '46.97', '2.821M', '3.382M']
spot of 46.97 with type <class 'str'>
['Th', '9/1/16', '46.32', '3.015M', '3.377M']
spot of 46.32 with type <class 'str'>
['We', '8/31/16', '46.67', '3.337M', '3.428M']
spot of 46.67 with type <class 'str'>
['Tu', '8/30/16', '47.1', '2.47M', '3.608M']
spot of 47.1 with type <class 'str'>
['Mo', '8/29/16', '47.08', '2.807M', '3.643M']
spot of 47.08 with type <class 'str'>
['Fr', '8/26/16', '46.93', '3.363M', '3.737M']
spot of 46.93 with type <class 'str'>
['Th', '8/25/16', '46.44', '4.124M', '3.797M']
spot of 46.44 with type <class 'str'>
['We', '8/24/16', '45.41', '2.758M', '3.802M']
spot of 45.41 with type <class 'str'>
['Tu', '8/23/16', '46.5', '3.171M', '3.998M']
spot of 46.5 with type <class 'str'>
['Mo', '8/22/16', '46.14', '2.943M', '4.36M']
spot of 46.14 with type <class 'str'>
['Fr', '8/19/16', '46.6', '3.907M', '4.696M']
spot of 46.6 with type <class 'str'>
['Th', '8/18/16', '45.81', '3.702M', '5.613M']
spot of 45.81 with type <class 'str'>
['We', '8/17/16', '44.73', '4.73M', '5.703M']
spot of 44.73 with type <class 'str'>
['Tu', '8/16/16', '45.78', '3.248M', '5.629M']
spot of 45.78 with type <class 'str'>
['Mo', '8/15/16', '45.84', '4.334M', '5.752M']
spot of 45.84 with type <class 'str'>
['Fr', '8/12/16', '44.31', '2.744M', '5.659M']
spot of 44.31 with type <class 'str'>
['Th', '8/11/16', '43.89', '3.79M', '5.698M']
spot of 43.89 with type <class 'str'>
['We', '8/10/16', '43.17', '6.037M', '5.654M']
spot of 43.17 with type <class 'str'>
['Tu', '8/9/16', '45.28', '2.985M', '5.53M']
spot of 45.28 with type <class 'str'>
['Mo', '8/8/16', '45.35', '4.223M', '5.586M']
spot of 45.35 with type <class 'str'>
['Fr', '8/5/16', '45.42', '4.254M', '5.501M']
spot of 45.42 with type <class 'str'>
['Th', '8/4/16', '44.3', '4.199M', '5.427M']
spot of 44.3 with type <class 'str'>
['We', '8/3/16', '44.78', '5.707M', '5.388M']
spot of 44.78 with type <class 'str'>
['Tu', '8/2/16', '45.05', '8.604M', '5.275M']
spot of 45.05 with type <class 'str'>
['Mo', '8/1/16', '46.07', '7.979M', '5.238M']
spot of 46.07 with type <class 'str'>
['Fr', '7/29/16', '47.51', '17.659M', '5.076M']
spot of 47.51 with type <class 'str'>
['Th', '7/28/16', '53.7', '5.052M', '4.383M']
spot of 53.7 with type <class 'str'>
['We', '7/27/16', '53.44', '3.626M', '4.568M']
spot of 53.44 with type <class 'str'>
['Tu', '7/26/16', '53.74', '5.082M', '4.611M']
spot of 53.74 with type <class 'str'>
['Mo', '7/25/16', '52.07', '2.944M', '4.654M']
spot of 52.07 with type <class 'str'>
['Fr', '7/22/16', '52.4', '3.323M', '4.775M']
spot of 52.4 with type <class 'str'>
['Th', '7/21/16', '51.65', '3.142M', '4.97M']
spot of 51.65 with type <class 'str'>
['We', '7/20/16', '51.87', '4.176M', '5.253M']
spot of 51.87 with type <class 'str'>
['Tu', '7/19/16', '51.2', '3.817M', '5.656M']
spot of 51.2 with type <class 'str'>
['Mo', '7/18/16', '52.12', '2.954M', '6.122M']
spot of 52.12 with type <class 'str'>
['Fr', '7/15/16', '51.66', '3.136M', '6.424M']
spot of 51.66 with type <class 'str'>
['Th', '7/14/16', '51.75', '3.622M', '6.689M']
spot of 51.75 with type <class 'str'>
['We', '7/13/16', '52.01', '4.005M', '6.733M']
spot of 52.01 with type <class 'str'>
['Tu', '7/12/16', '51.84', '8.049M', '6.852M']
spot of 51.84 with type <class 'str'>
['Mo', '7/11/16', '49.48', '5.546M', '6.627M']
spot of 49.48 with type <class 'str'>
['Fr', '7/8/16', '49.35', '7.267M', '6.591M']
spot of 49.35 with type <class 'str'>
['Th', '7/7/16', '47.66', '7.831M', '6.326M']
spot of 47.66 with type <class 'str'>
['We', '7/6/16', '45.46', '4.269M', '6.037M']
spot of 45.46 with type <class 'str'>
['Tu', '7/5/16', '44.72', '5.728M', '6.117M']
spot of 44.72 with type <class 'str'>
['Fr', '7/1/16', '46.47', '4.766M', '6.041M']
spot of 46.47 with type <class 'str'>
['Th', '6/30/16', '47.26', '6.242M', '6.115M']
spot of 47.26 with type <class 'str'>
['We', '6/29/16', '45.6', '7.393M', '6.088M']
spot of 45.6 with type <class 'str'>
['Tu', '6/28/16', '44.11', '10.216M', '5.935M']
spot of 44.11 with type <class 'str'>
['Mo', '6/27/16', '42.18', '10.812M', '5.717M']
spot of 42.18 with type <class 'str'>
['Fr', '6/24/16', '47.84', '7.481M', '5.381M']
spot of 47.84 with type <class 'str'>
['Th', '6/23/16', '50.81', '7.104M', '5.212M']
spot of 50.81 with type <class 'str'>
['We', '6/22/16', '48.35', '4.286M', '5.245M']
spot of 48.35 with type <class 'str'>
['Tu', '6/21/16', '48.87', '5.793M', '5.398M']
spot of 48.87 with type <class 'str'>
['Mo', '6/20/16', '47.61', '4.669M', '5.539M']
spot of 47.61 with type <class 'str'>
['Fr', '6/17/16', '46.59', '5.01M', '5.762M']
spot of 46.59 with type <class 'str'>
['Th', '6/16/16', '46.42', '3.288M', '5.971M']
spot of 46.42 with type <class 'str'>
['We', '6/15/16', '46.26', '3.503M', '6.317M']
spot of 46.26 with type <class 'str'>
['Tu', '6/14/16', '46.4', '5.465M', '6.561M']
spot of 46.4 with type <class 'str'>
['Mo', '6/13/16', '46.28', '4.591M', '6.529M']
spot of 46.28 with type <class 'str'>
['Fr', '6/10/16', '46.85', '5.877M', '6.628M']
spot of 46.85 with type <class 'str'>
['Th', '6/9/16', '48.17', '5.83M', '6.578M']
spot of 48.17 with type <class 'str'>
['We', '6/8/16', '49.26', '5.097M', '6.687M']
spot of 49.26 with type <class 'str'>
['Tu', '6/7/16', '49.74', '6.946M', '6.799M']
spot of 49.74 with type <class 'str'>
['Mo', '6/6/16', '48.02', '5.782M', '6.778M']
spot of 48.02 with type <class 'str'>
['Fr', '6/3/16', '47.77', '4.942M', '6.98M']
spot of 47.77 with type <class 'str'>
['Th', '6/2/16', '48.38', '7.597M', '7.155M']
spot of 48.38 with type <class 'str'>
['We', '6/1/16', '47.63', '6.584M', '7.159M']
spot of 47.63 with type <class 'str'>

['Mo', '2/29/16', '43.53', '5.455M', '5.087M']
spot of 43.53 with type <class 'str'>
['Fr', '2/26/16', '43.89', '3.388M', '5.073M']
spot of 43.89 with type <class 'str'>
['Th', '2/25/16', '43.99', '4.806M', '5.272M']
spot of 43.99 with type <class 'str'>
['We', '2/24/16', '43.92', '5.516M', '5.223M']
spot of 43.92 with type <class 'str'>
['Tu', '2/23/16', '42.77', '8.43M', '5.099M']
spot of 42.77 with type <class 'str'>
['Mo', '2/22/16', '46.1', '4.254M', '4.965M']
spot of 46.1 with type <class 'str'>
['Fr', '2/19/16', '44.12', '3.959M', '5.419M']
spot of 44.12 with type <class 'str'>
['Th', '2/18/16', '44.41', '4.606M', '5.587M']
spot of 44.41 with type <class 'str'>
['We', '2/17/16', '43.29', '4.52M', '5.681M']
spot of 43.29 with type <class 'str'>
['Tu', '2/16/16', '42.78', '4.197M', '5.906M']
spot of 42.78 with type <class 'str'>
['Fr', '2/12/16', '41.08', '3.818M', '5.991M']
spot of 41.08 with type <class 'str'>
['Th', '2/11/16', '40.1', '4.903M', '6.106M']
spot of 40.1 with type <class 'str'>
['We', '2/10/16', '40.23', '4.509M', '6.265M']
spot of 40.23 with type <class 'str'>
['Tu', '2/9/16', '40.18', '6.549M', '6.39M']
spot of 40.18 with type <class 'str'>
['Mo', '2/8/16', '41.91', '7.398M', '6.263M']
spot of 41.91 with type <class 'str'>
['Fr', '2/5/16', '45.86', '5.234M', '6.248M']
spot of 45.86 with type <class 'str'>
['Th', '2/4/16', '49.14', '6.379M', '6.3M']
spot of 49.14 with type <class 'str'>
['We', '2/3/16', '48.04', '4.073M', '6.364M']
spot of 48.04 with type <class 'str'>
['Tu', '2/2/16', '46.89', '3.661M', '6.441M']
spot of 46.89 with type <class 'str'>
['Mo', '2/1/16', '49.19', '6.419M', '6.562M']
spot of 49.19 with type <class 'str'>
['Fr', '1/29/16', '47.98', '11.065M', '6.389M']
spot of 47.98 with type <class 'str'>
['Th', '1/28/16', '45.69', '6.466M', '5.854M']
spot of 45.69 with type <class 'str'>
['We', '1/27/16', '43.67', '6.026M', '5.617M']
spot of 43.67 with type <class 'str'>
['Tu', '1/26/16', '45.34', '7.895M', '5.319M']
spot of 45.34 with type <class 'str'>
['Mo', '1/25/16', '42.47', '5.467M', '4.994M']
spot of 42.47 with type <class 'str'>
['Fr', '1/22/16', '44.75', '5.539M', '4.73M']
spot of 44.75 with type <class 'str'>
['Th', '1/21/16', '43.94', '7.295M', '4.465M']
spot of 43.94 with type <class 'str'>
['We', '1/20/16', '45.79', '6.382M', '4.108M']
spot of 45.79 with type <class 'str'>
['Tu', '1/19/16', '46.45', '4.642M', '3.831M']
spot of 46.45 with type <class 'str'>
['Fr', '1/15/16', '47.24', '7.174M', '3.621M']
spot of 47.24 with type <class 'str'>
['Th', '1/14/16', '49.25', '6.008M', '3.338M']
spot of 49.25 with type <class 'str'>
['We', '1/13/16', '49.99', '7.353M', '3.208M']
spot of 49.99 with type <class 'str'>
['Tu', '1/12/16', '52.36', '5.217M', '2.892M']
spot of 52.36 with type <class 'str'>
['Mo', '1/11/16', '52.8', '5.48M', '2.845M']
spot of 52.8 with type <class 'str'>
['Fr', '1/8/16', '55.39', '3.829M', '2.683M']
spot of 55.39 with type <class 'str'>
['Th', '1/7/16', '57.83', '3.031M', '2.623M']
spot of 57.83 with type <class 'str'>
['We', '1/6/16', '58.8', '2.911M', '2.647M']
spot of 58.8 with type <class 'str'>
['Tu', '1/5/16', '60.14', '1.563M', '2.737M']
spot of 60.14 with type <class 'str'>
['Mo', '1/4/16', '60.4', '3.024M', '2.969M']
spot of 60.4 with type <class 'str'>
['Th', '12/31/15', '60.05', '1.5M', '2.916M']
spot of 60.05 with type <class 'str'>
['We', '12/30/15', '61.09', '1.572M', '3.028M']
spot of 61.09 with type <class 'str'>
['Tu', '12/29/15', '61.06', '1.931M', '3.082M']
spot of 61.06 with type <class 'str'>
['Mo', '12/28/15', '60.3', '2.235M', '3.1M']
spot of 60.3 with type <class 'str'>
['Th', '12/24/15', '61.22', '1.48M', '3.166M']
spot of 61.22 with type <class 'str'>
['We', '12/23/15', '60.32', '2.933M', '3.405M']
spot of 60.32 with type <class 'str'>
['Tu', '12/22/15', '59.69', '4.061M', '3.492M']
spot of 59.69 with type <class 'str'>
['Mo', '12/21/15', '59.06', '2.613M', '3.404M']
spot of 59.06 with type <class 'str'>
['Fr', '12/18/15', '58.86', '4.504M', '3.417M']
spot of 58.86 with type <class 'str'>
['Th', '12/17/15', '59.4', '3.05M', '3.167M']
spot of 59.4 with type <class 'str'>
['We', '12/16/15', '60.96', '2.942M', '3.082M']
spot of 60.96 with type <class 'str'>
['Tu', '12/15/15', '60.88', '3.385M', '3.054M']
spot of 60.88 with type <class 'str'>
['Mo', '12/14/15', '59.375', '4.266M', '2.991M']
spot of 59.375 with type <class 'str'>
['Fr', '12/11/15', '62.08', '5.042M', '2.914M']
spot of 62.08 with type <class 'str'>
['Th', '12/10/15', '63.35', '2.218M', '2.872M']
spot of 63.35 with type <class 'str'>
['We', '12/9/15', '62.95', '3.193M', '2.978M']
spot of 62.95 with type <class 'str'>
['Tu', '12/8/15', '64', '2.37M', '3.01M']
spot of 64 with type <class 'str'>
['Mo', '12/7/15', '63.37', '2.201M', '3.089M']
spot of 63.37 with type <class 'str'>
['Fr', '12/4/15', '64.58', '3.23M', '3.184M']
spot of 64.58 with type <class 'str'>
['Th', '12/3/15', '63.62', '5.065M', '3.265M']
spot of 63.62 with type <class 'str'>
['We', '12/2/15', '62.4', '4.241M', '3.288M']
spot of 62.4 with type <class 'str'>
['Tu', '12/1/15', '63.93', '2.739M', '3.423M']
spot of 63.93 with type <class 'str'>
['Mo', '11/30/15', '62.41', '2.808M', '3.459M']
spot of 62.41 with type <class 'str'>
['Fr', '11/27/15', '61.73', '756.283k', '3.461M']
spot of 61.73 with type <class 'str'>
['We', '11/25/15', '61.63', '1.774M', '3.667M']
spot of 61.63 with type <class 'str'>
['Tu', '11/24/15', '61.83', '2.518M', '3.857M']
spot of 61.83 with type <class 'str'>
['Mo', '11/23/15', '61.32', '2.437M', '4.006M']
spot of 61.32 with type <class 'str'>
['Fr', '11/20/15', '61.71', '3.116M', '4.076M']
spot of 61.71 with type <class 'str'>
['Th', '11/19/15', '62.01', '4.416M', '4.158M']
spot of 62.01 with type <class 'str'>
['We', '11/18/15', '64.24', '3.806M', '4.183M']
spot of 64.24 with type <class 'str'>
['Tu', '11/17/15', '62.46', '3.679M', '4.254M']
spot of 62.46 with type <class 'str'>
['Mo', '11/16/15', '61.65', '3.544M', '4.279M']
spot of 61.65 with type <class 'str'>
['Fr', '11/13/15', '60.23', '3.634M', '4.33M']
spot of 60.23 with type <class 'str'>
['Th', '11/12/15', '62.4', '4.439M', '4.51M']
spot of 62.4 with type <class 'str'>
['We', '11/11/15', '62.6', '5.417M', '4.709M']
spot of 62.6 with type <class 'str'>
['Tu', '11/10/15', '63.58', '6.258M', '5.384M']
spot of 63.58 with type <class 'str'>
['Mo', '11/9/15', '66.61', '3.278M', '5.503M']
spot of 66.61 with type <class 'str'>
['Fr', '11/6/15', '67.89', '2.851M', '5.667M']
spot of 67.89 with type <class 'str'>
['Th', '11/5/15', '67.85', '3.844M', '5.751M']
spot of 67.85 with type <class 'str'>
['We', '11/4/15', '68.55', '4.622M', '5.965M']
spot of 68.55 with type <class 'str'>
['Tu', '11/3/15', '68.53', '4.75M', '5.832M']
spot of 68.53 with type <class 'str'>
['Mo', '11/2/15', '67.84', '3.486M', '5.607M']
spot of 67.84 with type <class 'str'>
['Fr', '10/30/15', '66.82', '4.351M', '5.518M']
spot of 66.82 with type <class 'str'>
['Th', '10/29/15', '67.82', '4.788M', '5.377M']
spot of 67.82 with type <class 'str'>
['We', '10/28/15', '67.52', '4.865M', '5.189M']
spot of 67.52 with type <class 'str'>
['Tu', '10/27/15', '67.17', '4.062M', '5.09M']
spot of 67.17 with type <class 'str'>
['Mo', '10/26/15', '67.16', '4.299M', '4.991M']
spot of 67.16 with type <class 'str'>
['Fr', '10/23/15', '69.34', '6.346M', '4.897M']
spot of 69.34 with type <class 'str'>
['Th', '10/22/15', '69.96', '7.425M', '4.634M']
spot of 69.96 with type <class 'str'>
['We', '10/21/15', '71.44', '15.529M', '4.444M']
spot of 71.44 with type <class 'str'>
['Tu', '10/20/15', '74.86', '8.054M', '4.188M']
spot of 74.86 with type <class 'str'>
['Mo', '10/19/15', '80.48', '5.732M', '3.885M']
spot of 80.48 with type <class 'str'>
['Fr', '10/16/15', '79.52', '4.117M', '3.684M']
spot of 79.52 with type <class 'str'>
['Th', '10/15/15', '81.12', '7.054M', '3.575M']
spot of 81.12 with type <class 'str'>
['We', '10/14/15', '83.19', '2.63M', '3.311M']
spot of 83.19 with type <class 'str'>
['Tu', '10/13/15', '84.37', '1.367M', '3.322M']
spot of 84.37 with type <class 'str'>
['Mo', '10/12/15', '85.01', '2.158M', '3.506M']
spot of 85.01 with type <class 'str'>
['Fr', '10/9/15', '86', '2.238M', '3.511M']
spot of 86 with type <class 'str'>
['Th', '10/8/15', '85.27', '1.955M', '3.801M']
spot of 85.27 with type <class 'str'>
['We', '10/7/15', '84.49', '3.381M', '3.795M']
spot of 84.49 with type <class 'str'>
['Tu', '10/6/15', '83.02', '2.576M', '3.709M']
spot of 83.02 with type <class 'str'>
['Mo', '10/5/15', '82.14', '2.888M', '3.689M']
spot of 82.14 with type <class 'str'>
['Fr', '10/2/15', '79.44', '2.407M', '3.616M']
spot of 79.44 with type <class 'str'>
['Th', '10/1/15', '77.89', '4.572M', '3.598M']
spot of 77.89 with type <class 'str'>
['We', '9/30/15', '79.44', '11.692M', '3.444M']
spot of 79.44 with type <class 'str'>
['Tu', '9/29/15', '69.37', '3.508M', '2.793M']
spot of 69.37 with type <class 'str'>
['Mo', '9/28/15', '68.25', '2.723M', '2.714M']
spot of 68.25 with type <class 'str'>
['Fr', '9/25/15', '70.47', '2.474M', '2.644M']
spot of 70.47 with type <class 'str'>
['Th', '9/24/15', '71.4', '3.099M', '2.614M']
spot of 71.4 with type <class 'str'>
['We', '9/23/15', '71.44', '2.791M', '2.576M']
spot of 71.44 with type <class 'str'>
['Tu', '9/22/15', '72.05', '4.133M', '2.594M']
spot of 72.05 with type <class 'str'>
['Mo', '9/21/15', '76.26', '2.234M', '2.446M']
spot of 76.26 with type <class 'str'>
['Fr', '9/18/15', '75.87', '6.579M', '2.415M']
spot of 75.87 with type <class 'str'>
['Th', '9/17/15', '80.73', '1.869M', '2.15M']
spot of 80.73 with type <class 'str'>
['We', '9/16/15', '81.16', '2.09M', '2.286M']
spot of 81.16 with type <class 'str'>
['Tu', '9/15/15', '80.74', '2.275M', '2.336M']
spot of 80.74 with type <class 'str'>
['Mo', '9/14/15', '80.64', '1.797M', '2.446M']
spot of 80.64 with type <class 'str'>
['Fr', '9/11/15', '80.53', '2.129M', '2.576M']
spot of 80.53 with type <class 'str'>
['Th', '9/10/15', '81.24', '2.262M', '2.567M']
spot of 81.24 with type <class 'str'>
['We', '9/9/15', '82.39', '1.932M', '2.58M']
spot of 82.39 with type <class 'str'>
['Tu', '9/8/15', '83.9', '2.322M', '2.565M']
spot of 83.9 with type <class 'str'>
['Fr', '9/4/15', '80.02', '1.672M', '2.518M']
spot of 80.02 with type <class 'str'>
['Th', '9/3/15', '81.8', '2.032M', '2.488M']
spot of 81.8 with type <class 'str'>
['We', '9/2/15', '81.15', '2.521M', '2.476M']
spot of 81.15 with type <class 'str'>
['Tu', '9/1/15', '80.45', '3.07M', '2.503M']
spot of 80.45 with type <class 'str'>
['Mo', '8/31/15', '81.96', '1.911M', '2.465M']
spot of 81.96 with type <class 'str'>
['Fr', '8/28/15', '81.28', '1.758M', '2.447M']
spot of 81.28 with type <class 'str'>
['Th', '8/27/15', '81.41', '2.615M', '2.446M']
spot of 81.41 with type <class 'str'>
['We', '8/26/15', '78.63', '3.9M', '2.405M']
spot of 78.63 with type <class 'str'>
['Tu', '8/25/15', '75.16', '2.841M', '2.308M']
spot of 75.16 with type <class 'str'>
['Mo', '8/24/15', '76.92', '3.932M', '2.302M']
spot of 76.92 with type <class 'str'>
['Fr', '8/21/15', '79.44', '3.746M', '2.2M']
spot of 79.44 with type <class 'str'>
['Th', '8/20/15', '79.79', '1.983M', '2.212M']
spot of 79.79 with type <class 'str'>
['We', '8/19/15', '81.71', '2.469M', '2.589M']
spot of 81.71 with type <class 'str'>
['Tu', '8/18/15', '83.31', '1.695M', '2.71M']
spot of 83.31 with type <class 'str'>
['Mo', '8/17/15', '83.6', '1.619M', '2.8M']
spot of 83.6 with type <class 'str'>
['Fr', '8/14/15', '82.5', '1.23M', '2.823M']
spot of 82.5 with type <class 'str'>
['Th', '8/13/15', '81.57', '1.855M', '2.853M']
spot of 81.57 with type <class 'str'>
['We', '8/12/15', '83.16', '2.923M', '2.973M']
spot of 83.16 with type <class 'str'>
['Tu', '8/11/15', '83.19', '2.504M', '2.938M']
spot of 83.19 with type <class 'str'>
['Mo', '8/10/15', '84.96', '1.631M', '2.884M']
spot of 84.96 with type <class 'str'>
['Fr', '8/7/15', '83.51', '1.744M', '2.885M']
spot of 83.51 with type <class 'str'>
['Th', '8/6/15', '84.19', '2.005M', '2.918M']
spot of 84.19 with type <class 'str'>
['We', '8/5/15', '84.69', '2.439M', '2.964M']
spot of 84.69 with type <class 'str'>
['Tu', '8/4/15', '84.39', '2.759M', '3.024M']
spot of 84.39 with type <class 'str'>
['Mo', '8/3/15', '85.85', '2.397M', '3.054M']
spot of 85.85 with type <class 'str'>
['Fr', '7/31/15', '86.06', '3.931M', '3.097M']
spot of 86.06 with type <class 'str'>
['Th', '7/30/15', '86.44', '7.635M', '2.966M']
spot of 86.44 with type <class 'str'>
['We', '7/29/15', '78.75', '4.279M', '2.597M']
spot of 78.75 with type <class 'str'>
['Tu', '7/28/15', '77.74', '3.056M', '2.467M']
spot of 77.74 with type <class 'str'>
['Mo', '7/27/15', '76.49', '1.956M', '2.487M']
spot of 76.49 with type <class 'str'>
['Fr', '7/24/15', '77.26', '1.686M', '2.583M']
spot of 77.26 with type <class 'str'>
['Th', '7/23/15', '77.9', '3.645M', '2.69M']
spot of 77.9 with type <class 'str'>
['We', '7/22/15', '78.52', '2.4M', '2.694M']
spot of 78.52 with type <class 'str'>
['Tu', '7/21/15', '78.69', '1.696M', '2.821M']
spot of 78.69 with type <class 'str'>
['Mo', '7/20/15', '78.38', '1.641M', '2.933M']
spot of 78.38 with type <class 'str'>
['Fr', '7/17/15', '78.93', '2.243M', '3.018M']
spot of 78.93 with type <class 'str'>
['Th', '7/16/15', '78.89', '2.699M', '3.044M']
spot of 78.89 with type <class 'str'>
['We', '7/15/15', '78.69', '3.341M', '2.993M']
spot of 78.69 with type <class 'str'>
['Tu', '7/14/15', '78.36', '3.203M', '2.966M']
spot of 78.36 with type <class 'str'>
['Mo', '7/13/15', '77.71', '3.047M', '2.827M']
spot of 77.71 with type <class 'str'>
['Fr', '7/10/15', '77.1', '1.961M', '2.797M']
spot of 77.1 with type <class 'str'>
['Th', '7/9/15', '77.35', '2.107M', '2.79M']
spot of 77.35 with type <class 'str'>
['We', '7/8/15', '78.31', '2.33M', '2.768M']
spot of 78.31 with type <class 'str'>
['Tu', '7/7/15', '79.82', '3.355M', '2.707M']
spot of 79.82 with type <class 'str'>
['Mo', '7/6/15', '79.815', '3.387M', '2.57M']
spot of 79.815 with type <class 'str'>
['Th', '7/2/15', '80.87', '3.302M', '2.444M']
spot of 80.87 with type <class 'str'>
['We', '7/1/15', '79.44', '3.701M', '2.311M']
spot of 79.44 with type <class 'str'>
['Tu', '6/30/15', '78.42', '4.308M', '2.186M']
spot of 78.42 with type <class 'str'>
['Mo', '6/29/15', '81.96', '3.375M', '2.003M']
spot of 81.96 with type <class 'str'>
['Fr', '6/26/15', '84.45', '2.916M', '1.895M']
spot of 84.45 with type <class 'str'>
['Th', '6/25/15', '85.95', '2.629M', '1.771M']
spot of 85.95 with type <class 'str'>
['We', '6/24/15', '87.73', '1.932M', '1.719M']
spot of 87.73 with type <class 'str'>
['Tu', '6/23/15', '88.62', '2.945M', '1.685M']
spot of 88.62 with type <class 'str'>
['Mo', '6/22/15', '91.6', '1.113M', '1.557M']
spot of 91.6 with type <class 'str'>
['Fr', '6/19/15', '91.02', '2.591M', '1.578M']
spot of 91.02 with type <class 'str'>
['Th', '6/18/15', '92.42', '1.864M', '1.604M']
spot of 92.42 with type <class 'str'>
['We', '6/17/15', '92.02', '1.775M', '1.742M']
spot of 92.02 with type <class 'str'>
['Tu', '6/16/15', '91.05', '1.412M', '1.713M']
spot of 91.05 with type <class 'str'>
['Mo', '6/15/15', '91.75', '1.297M', '1.751M']
spot of 91.75 with type <class 'str'>
['Fr', '6/12/15', '93.01', '1.508M', '1.724M']
spot of 93.01 with type <class 'str'>
['Th', '6/11/15', '94.46', '1.295M', '1.688M']
spot of 94.46 with type <class 'str'>
['We', '6/10/15', '93.6', '1.826M', '1.694M']
spot of 93.6 with type <class 'str'>
['Tu', '6/9/15', '92.04', '1.567M', '1.752M']
spot of 92.04 with type <class 'str'>
['Mo', '6/8/15', '92.6', '1.756M', '1.721M']
spot of 92.6 with type <class 'str'>
['Fr', '6/5/15', '94.87', '1.052M', '1.75M']
spot of 94.87 with type <class 'str'>
['Th', '6/4/15', '95.4', '1.847M', '1.766M']
spot of 95.4 with type <class 'str'>
['We', '6/3/15', '98.14', '1.424M', '1.737M']
spot of 98.14 with type <class 'str'>
['Tu', '6/2/15', '96.95', '1.027M', '1.744M']
spot of 96.95 with type <class 'str'>
['Mo', '6/1/15', '97.13', '1.432M', '1.755M']
spot of 97.13 with type <class 'str'>
['Fr', '5/29/15', '97.36', '2.976M', '1.737M']
spot of 97.36 with type <class 'str'>
['Th', '5/28/15', '99.23', '3.934M', '1.641M']
spot of 99.23 with type <class 'str'>
['We', '5/27/15', '94.37', '1.345M', '1.543M']
spot of 94.37 with type <class 'str'>
['Tu', '5/26/15', '93.195', '1.978M', '1.598M']
spot of 93.195 with type <class 'str'>
['Fr', '5/22/15', '95.23', '886.215k', '1.596M']
spot of 95.23 with type <class 'str'>
['Th', '5/21/15', '95.25', '978.381k', '1.701M']
spot of 95.25 with type <class 'str'>
['We', '5/20/15', '94.83', '1.381M', '1.879M']
spot of 94.83 with type <class 'str'>
['Tu', '5/19/15', '95.59', '2.701M', '2.093M']
spot of 95.59 with type <class 'str'>
['Mo', '5/18/15', '97.87', '1.103M', '2.078M']
spot of 97.87 with type <class 'str'>
['Fr', '5/15/15', '97.67', '2.179M', '2.103M']
spot of 97.67 with type <class 'str'>
['Th', '5/14/15', '98.41', '1.297M', '2.021M']
spot of 98.41 with type <class 'str'>
['We', '5/13/15', '95.96', '1.407M', '2.014M']
spot of 95.96 with type <class 'str'>
['Tu', '5/12/15', '95.96', '1.537M', '2.005M']
spot of 95.96 with type <class 'str'>
['Mo', '5/11/15', '96.045', '1.184M', '2.031M']
spot of 96.045 with type <class 'str'>
['Fr', '5/8/15', '96.53', '1.165M', '2.124M']
spot of 96.53 with type <class 'str'>
['Th', '5/7/15', '94.84', '1.539M', '2.245M']
spot of 94.84 with type <class 'str'>
['We', '5/6/15', '94.87', '2.469M', '2.305M']
spot of 94.87 with type <class 'str'>
['Tu', '5/5/15', '96.79', '2.162M', '2.31M']
spot of 96.79 with type <class 'str'>
['Mo', '5/4/15', '99.505', '1.954M', '2.276M']
spot of 99.505 with type <class 'str'>
['Fr', '5/1/15', '99.33', '2.464M', '2.264M']
spot of 99.33 with type <class 'str'>
['Th', '4/30/15', '97.74', '3.637M', '2.241M']
spot of 97.74 with type <class 'str'>
['We', '4/29/15', '95.83', '4.59M', '2.134M']
spot of 95.83 with type <class 'str'>
['Tu', '4/28/15', '97.9', '2.479M', '1.965M']
spot of 97.9 with type <class 'str'>
['Mo', '4/27/15', '98.9', '1.476M', '1.934M']
spot of 98.9 with type <class 'str'>
['Fr', '4/24/15', '99.75', '962.173k', '1.95M']
spot of 99.75 with type <class 'str'>
['Th', '4/23/15', '100.27', '1.178M', '2.025M']
spot of 100.27 with type <class 'str'>
['We', '4/22/15', '100.31', '1.274M', '2.136M']
spot of 100.31 with type <class 'str'>
['Tu', '4/21/15', '99.68', '1.931M', '2.212M']
spot of 99.68 with type <class 'str'>
['Mo', '4/20/15', '101.58', '2.576M', '2.202M']
spot of 101.58 with type <class 'str'>
['Fr', '4/17/15', '99.44', '2.987M', '2.165M']
spot of 99.44 with type <class 'str'>
['Th', '4/16/15', '97.83', '2.435M', '2.202M']
spot of 97.83 with type <class 'str'>
['We', '4/15/15', '99.035', '2.539M', '2.183M']
spot of 99.035 with type <class 'str'>
['Tu', '4/14/15', '96.16', '1.66M', '2.131M']
spot of 96.16 with type <class 'str'>
['Mo', '4/13/15', '95.5', '1.771M', '2.139M']
spot of 95.5 with type <class 'str'>
['Fr', '4/10/15', '95.89', '2.115M', '2.183M']
spot of 95.89 with type <class 'str'>
['Th', '4/9/15', '94.02', '2.041M', '2.171M']
spot of 94.02 with type <class 'str'>
['We', '4/8/15', '93.91', '2.046M', '2.206M']
spot of 93.91 with type <class 'str'>
['Tu', '4/7/15', '94.11', '2.019M', '2.17M']
spot of 94.11 with type <class 'str'>
['Mo', '4/6/15', '93.19', '1.715M', '2.137M']
spot of 93.19 with type <class 'str'>
['Th', '4/2/15', '93', '2.081M', '2.17M']
spot of 93 with type <class 'str'>
['We', '4/1/15', '92.35', '2.852M', '2.227M']
spot of 92.35 with type <class 'str'>
['Tu', '3/31/15', '91.01', '2.409M', '2.256M']
spot of 91.01 with type <class 'str'>
['Mo', '3/30/15', '92.93', '1.787M', '2.254M']
spot of 92.93 with type <class 'str'>
['Fr', '3/27/15', '92.73', '2.014M', '2.247M']
spot of 92.73 with type <class 'str'>
['Th', '3/26/15', '93.64', '3.546M', '2.214M']

spot of 93.64 with type <class 'str'>
['We', '3/25/15', '94.62', '2.151M', '2.036M']
spot of 94.62 with type <class 'str'>
['Tu', '3/24/15', '97.94', '1.76M', '2.003M']
spot of 97.94 with type <class 'str'>
['Mo', '3/23/15', '99.64', '1.785M', '2.005M']
spot of 99.64 with type <class 'str'>
['Fr', '3/20/15', '100.44', '2.418M', '2.007M']
spot of 100.44 with type <class 'str'>
['Th', '3/19/15', '99.3', '1.942M', '1.954M']
spot of 99.3 with type <class 'str'>
['We', '3/18/15', '97.88', '2.572M', '1.973M']
spot of 97.88 with type <class 'str'>
['Tu', '3/17/15', '96.62', '1.5M', '1.958M']
spot of 96.62 with type <class 'str'>
['Mo', '3/16/15', '98.2', '1.516M', '1.968M']
spot of 98.2 with type <class 'str'>
['Fr', '3/13/15', '97.19', '2.21M', '1.984M']
spot of 97.19 with type <class 'str'>
['Th', '3/12/15', '98.56', '2.944M', '1.988M']
spot of 98.56 with type <class 'str'>
['We', '3/11/15', '97.89', '3.293M', '1.978M']
spot of 97.89 with type <class 'str'>
['Tu', '3/10/15', '99.39', '2.379M', '1.944M']
spot of 99.39 with type <class 'str'>
['Mo', '3/9/15', '102.58', '1.682M', '1.872M']
spot of 102.58 with type <class 'str'>
['Fr', '3/6/15', '102.53', '1.51M', '1.843M']
spot of 102.53 with type <class 'str'>
['Th', '3/5/15', '105.38', '881.746k', '1.857M']
spot of 105.38 with type <class 'str'>
['We', '3/4/15', '105.36', '1.65M', '1.923M']
spot of 105.36 with type <class 'str'>
['Tu', '3/3/15', '105.57', '1.792M', '1.9M']
spot of 105.57 with type <class 'str'>
['Mo', '3/2/15', '108.78', '1.821M', '1.845M']
spot of 108.78 with type <class 'str'>
['Fr', '2/27/15', '106.98', '1.624M', '1.84M']
spot of 106.98 with type <class 'str'>
['Th', '2/26/15', '107.34', '2.215M', '1.838M']
spot of 107.34 with type <class 'str'>
['We', '2/25/15', '106.15', '2.352M', '1.993M']
spot of 106.15 with type <class 'str'>
['Tu', '2/24/15', '108.97', '1.651M', '1.985M']
spot of 108.97 with type <class 'str'>
['Mo', '2/23/15', '111.09', '1.76M', '2.029M']
spot of 111.09 with type <class 'str'>
['Fr', '2/20/15', '111.31', '2.268M', '2.071M']
spot of 111.31 with type <class 'str'>
['Th', '2/19/15', '109.84', '2.792M', '2.088M']
spot of 109.84 with type <class 'str'>
['We', '2/18/15', '109', '2.778M', '2.241M']
spot of 109 with type <class 'str'>
['Tu', '2/17/15', '106.77', '1.303M', '2.276M']
spot of 106.77 with type <class 'str'>
['Fr', '2/13/15', '107.61', '1.247M', '2.575M']
spot of 107.61 with type <class 'str'>
['Th', '2/12/15', '107.19', '1.718M', '2.642M']
spot of 107.19 with type <class 'str'>
['We', '2/11/15', '106.09', '1.873M', '2.749M']
spot of 106.09 with type <class 'str'>
['Tu', '2/10/15', '104.08', '1.302M', '2.693M']
spot of 104.08 with type <class 'str'>
['Mo', '2/9/15', '102.6', '964.128k', '2.7M']
spot of 102.6 with type <class 'str'>
['Fr', '2/6/15', '103.4', '1.747M', '2.761M']
spot of 103.4 with type <class 'str'>
['Th', '2/5/15', '104.11', '1.603M', '2.789M']
spot of 104.11 with type <class 'str'>
['We', '2/4/15', '104.04', '4.538M', '2.771M']
spot of 104.04 with type <class 'str'>
['Tu', '2/3/15', '100.685', '2.227M', '2.576M']
spot of 100.685 with type <class 'str'>
['Mo', '2/2/15', '98.42', '2.318M', '2.529M']
spot of 98.42 with type <class 'str'>
['Fr', '1/30/15', '97.23', '2.381M', '2.52M']
spot of 97.23 with type <class 'str'>
['Th', '1/29/15', '101.06', '2.534M', '2.53M']
spot of 101.06 with type <class 'str'>
['We', '1/28/15', '99.83', '5.082M', '2.465M']
spot of 99.83 with type <class 'str'>
['Tu', '1/27/15', '97.63', '3.305M', '2.261M']
spot of 97.63 with type <class 'str'>
['Mo', '1/26/15', '100.98', '5.792M', '2.152M']
spot of 100.98 with type <class 'str'>
['Fr', '1/23/15', '106.1', '2.25M', '1.83M']
spot of 106.1 with type <class 'str'>
['Th', '1/22/15', '105.29', '3.319M', '1.753M']
spot of 105.29 with type <class 'str'>
['We', '1/21/15', '106.63', '1.038M', '1.629M']
spot of 106.63 with type <class 'str'>
['Tu', '1/20/15', '106.59', '1.402M', '1.626M']
spot of 106.59 with type <class 'str'>
['Fr', '1/16/15', '106.37', '1.877M', '1.575M']
spot of 106.37 with type <class 'str'>
['Th', '1/15/15', '104.7', '2.176M', '1.502M']
spot of 104.7 with type <class 'str'>
['We', '1/14/15', '108.77', '1.331M', '1.498M']
spot of 108.77 with type <class 'str'>
['Tu', '1/13/15', '109.38', '1.605M', '1.553M']
spot of 109.38 with type <class 'str'>
['Mo', '1/12/15', '110.32', '1.518M', '1.697M']
spot of 110.32 with type <class 'str'>
['Fr', '1/9/15', '112.22', '2.189M', '1.809M']
spot of 112.22 with type <class 'str'>
['Th', '1/8/15', '110.38', '2.533M', '1.819M']
spot of 110.38 with type <class 'str'>
['We', '1/7/15', '108.14', '1.553M', '1.808M']
spot of 108.14 with type <class 'str'>
['Tu', '1/6/15', '106.54', '2.023M', '1.803M']
spot of 106.54 with type <class 'str'>
['Mo', '1/5/15', '108.97', '1.668M', '1.775M']
spot of 108.97 with type <class 'str'>
['Fr', '1/2/15', '110.43', '966.972k', '1.791M']
spot of 110.43 with type <class 'str'>
['We', '12/31/14', '110.7', '1.09M', '1.923M']
spot of 110.7 with type <class 'str'>
['Tu', '12/30/14', '112.31', '1.458M', '2.09M']
spot of 112.31 with type <class 'str'>
['Mo', '12/29/14', '113.035', '1.002M', '2.105M']
spot of 113.035 with type <class 'str'>
['Fr', '12/26/14', '113.09', '639.139k', '2.182M']
spot of 113.09 with type <class 'str'>
['We', '12/24/14', '113.11', '782.95k', '2.236M']
spot of 113.11 with type <class 'str'>
['Tu', '12/23/14', '113.295', '2.104M', '2.256M']
spot of 113.295 with type <class 'str'>
['Mo', '12/22/14', '114.28', '2.155M', '2.202M']
spot of 114.28 with type <class 'str'>
['Fr', '12/19/14', '113.88', '3.764M', '2.18M']
spot of 113.88 with type <class 'str'>
['Th', '12/18/14', '112.36', '3.202M', '1.987M']
spot of 112.36 with type <class 'str'>
['We', '12/17/14', '107.95', '2.335M', '1.871M']
spot of 107.95 with type <class 'str'>
['Tu', '12/16/14', '104.49', '2.371M', '1.871M']
spot of 104.49 with type <class 'str'>
['Mo', '12/15/14', '105.4', '1.476M', '1.795M']
spot of 105.4 with type <class 'str'>
['Fr', '12/12/14', '105.63', '1.605M', '1.87M']
spot of 105.63 with type <class 'str'>
['Th', '12/11/14', '108.04', '1.909M', '1.843M']
spot of 108.04 with type <class 'str'>
['We', '12/10/14', '107.23', '2.947M', '1.795M']
spot of 107.23 with type <class 'str'>
['Tu', '12/9/14', '107.8', '3.599M', '1.733M']
spot of 107.8 with type <class 'str'>
['Mo', '12/8/14', '105.05', '1.682M', '1.615M']
spot of 105.05 with type <class 'str'>
['Fr', '12/5/14', '105.07', '2.151M', '1.578M']
spot of 105.07 with type <class 'str'>
['Th', '12/4/14', '103.72', '1.462M', '1.519M']
spot of 103.72 with type <class 'str'>
['We', '12/3/14', '103.14', '1.08M', '1.527M']
spot of 103.14 with type <class 'str'>
['Tu', '12/2/14', '102.72', '1.289M', '1.552M']
spot of 102.72 with type <class 'str'>
['Mo', '12/1/14', '102.15', '1.829M', '1.59M']
spot of 102.15 with type <class 'str'>
['Fr', '11/28/14', '103.27', '862.435k', '1.805M']
spot of 103.27 with type <class 'str'>
['We', '11/26/14', '103.67', '1.466M', '1.964M']
spot of 103.67 with type <class 'str'>
['Tu', '11/25/14', '102.63', '2.333M', '1.947M']
spot of 102.63 with type <class 'str'>
['Mo', '11/24/14', '102.76', '1.23M', '1.932M']
spot of 102.76 with type <class 'str'>
['Fr', '11/21/14', '101.7', '2.608M', '2.036M']
spot of 101.7 with type <class 'str'>
['Th', '11/20/14', '101.77', '1.2M', '2.04M']
spot of 101.77 with type <class 'str'>
['We', '11/19/14', '99.905', '1.181M', '2.098M']
spot of 99.905 with type <class 'str'>
['Tu', '11/18/14', '100.39', '2.022M', '2.306M']
spot of 100.39 with type <class 'str'>
['Mo', '11/17/14', '98.54', '1.836M', '2.351M']
spot of 98.54 with type <class 'str'>
['Fr', '11/14/14', '98.41', '1.116M', '2.382M']
spot of 98.41 with type <class 'str'>
['Th', '11/13/14', '97.83', '1.27M', '2.406M']
spot of 97.83 with type <class 'str'>
['We', '11/12/14', '97.63', '1.579M', '2.443M']
spot of 97.63 with type <class 'str'>
['Tu', '11/11/14', '96.95', '1.456M', '2.454M']
spot of 96.95 with type <class 'str'>
['Mo', '11/10/14', '97.64', '1.859M', '2.512M']
spot of 97.64 with type <class 'str'>
['Fr', '11/7/14', '97.7', '5.057M', '2.519M']
spot of 97.7 with type <class 'str'>
['Th', '11/6/14', '97.865', '3.24M', '2.334M']
spot of 97.865 with type <class 'str'>
['We', '11/5/14', '101.28', '1.223M', '2.227M']
spot of 101.28 with type <class 'str'>
['Tu', '11/4/14', '100', '2.1M', '2.374M']
spot of 100 with type <class 'str'>
['Mo', '11/3/14', '100.75', '2.79M', '2.426M']
spot of 100.75 with type <class 'str'>
['Fr', '10/31/14', '98.37', '2.666M', '2.464M']
spot of 98.37 with type <class 'str'>
['Th', '10/30/14', '95.19', '2.081M', '2.435M']
spot of 95.19 with type <class 'str'>
['We', '10/29/14', '95.79', '4.29M', '2.406M']
spot of 95.79 with type <class 'str'>
['Tu', '10/28/14', '93.08', '2.702M', '2.233M']
spot of 93.08 with type <class 'str'>
['Mo', '10/27/14', '92.95', '2.293M', '2.154M']
spot of 92.95 with type <class 'str'>
['Fr', '10/24/14', '91.68', '1.489M', '2.11M']
spot of 91.68 with type <class 'str'>
['Th', '10/23/14', '90.59', '1.821M', '2.101M']
spot of 90.59 with type <class 'str'>
['We', '10/22/14', '89.27', '1.742M', '2.081M']
spot of 89.27 with type <class 'str'>
['Tu', '10/21/14', '90.68', '2.32M', '2.093M']
spot of 90.68 with type <class 'str'>
['Mo', '10/20/14', '87.83', '1.97M', '2.052M']
spot of 87.83 with type <class 'str'>
['Fr', '10/17/14', '86.84', '2.277M', '2.027M']
spot of 86.84 with type <class 'str'>
['Th', '10/16/14', '85.58', '1.644M', '1.957M']
spot of 85.58 with type <class 'str'>
['We', '10/15/14', '85.1', '3.431M', '1.954M']
spot of 85.1 with type <class 'str'>
['Tu', '10/14/14', '85.87', '2.881M', '1.829M']
spot of 85.87 with type <class 'str'>
['Mo', '10/13/14', '86.47', '3.347M', '1.729M']
spot of 86.47 with type <class 'str'>
['Fr', '10/10/14', '90.46', '2.243M', '1.617M']
spot of 90.46 with type <class 'str'>
['Th', '10/9/14', '93.39', '1.646M', '1.874M']
spot of 93.39 with type <class 'str'>
['We', '10/8/14', '95.66', '1.692M', '1.918M']
spot of 95.66 with type <class 'str'>
['Tu', '10/7/14', '93.31', '1.52M', '1.962M']
spot of 93.31 with type <class 'str'>
['Mo', '10/6/14', '94.7', '1.632M', '1.962M']
spot of 94.7 with type <class 'str'>
['Fr', '10/3/14', '95.4', '1.357M', '1.961M']
spot of 95.4 with type <class 'str'>
['Th', '10/2/14', '95.11', '1.518M', '1.983M']
spot of 95.11 with type <class 'str'>
['We', '10/1/14', '94.58', '1.912M', '1.957M']
spot of 94.58 with type <class 'str'>
['Tu', '9/30/14', '97.32', '1.714M', '1.921M']
spot of 97.32 with type <class 'str'>
['Mo', '9/29/14', '96.25', '1.596M', '1.911M']
spot of 96.25 with type <class 'str'>
['Fr', '9/26/14', '97.29', '1.227M', '1.938M']
spot of 97.29 with type <class 'str'>
['Th', '9/25/14', '96.19', '1.59M', '1.945M']
spot of 96.19 with type <class 'str'>
['We', '9/24/14', '98.35', '1.564M', '1.923M']
spot of 98.35 with type <class 'str'>
['Tu', '9/23/14', '97.02', '1.384M', '1.909M']
spot of 97.02 with type <class 'str'>
['Mo', '9/22/14', '98.2', '1.668M', '1.912M']
spot of 98.2 with type <class 'str'>
['Fr', '9/19/14', '98.52', '6.097M', '1.889M']
spot of 98.52 with type <class 'str'>
['Th', '9/18/14', '99.58', '2.303M', '1.573M']
spot of 99.58 with type <class 'str'>
['We', '9/17/14', '97.82', '2.348M', '1.511M']
spot of 97.82 with type <class 'str'>
['Tu', '9/16/14', '98.1', '1.523M', '1.425M']
spot of 98.1 with type <class 'str'>
['Mo', '9/15/14', '97.55', '1.618M', '1.379M']
spot of 97.55 with type <class 'str'>
['Fr', '9/12/14', '99.89', '1.69M', '1.339M']
spot of 99.89 with type <class 'str'>
['Th', '9/11/14', '100.06', '1.117M', '1.313M']
spot of 100.06 with type <class 'str'>
['We', '9/10/14', '99.89', '1.377M', '1.313M']
spot of 99.89 with type <class 'str'>
['Tu', '9/9/14', '99.85', '1.571M', '1.325M']
spot of 99.85 with type <class 'str'>
['Mo', '9/8/14', '100.44', '1.988M', '1.287M']
spot of 100.44 with type <class 'str'>
['Fr', '9/5/14', '100.92', '1.343M', '1.26M']
spot of 100.92 with type <class 'str'>
['Th', '9/4/14', '100.95', '1.251M', '1.269M']
spot of 100.95 with type <class 'str'>
['We', '9/3/14', '101.74', '1.361M', '1.317M']
spot of 101.74 with type <class 'str'>
['Tu', '9/2/14', '102', '1.429M', '1.393M']
spot of 102 with type <class 'str'>
['Fr', '8/29/14', '103.01', '1.317M', '1.369M']
spot of 103.01 with type <class 'str'>
['Th', '8/28/14', '102.07', '1.358M', '1.371M']
spot of 102.07 with type <class 'str'>
['We', '8/27/14', '102.71', '1.368M', '1.39M']
spot of 102.71 with type <class 'str'>
['Tu', '8/26/14', '101.95', '1.07M', '1.399M']
spot of 101.95 with type <class 'str'>
['Mo', '8/25/14', '101.91', '824.196k', '1.456M']
spot of 101.91 with type <class 'str'>
['Fr', '8/22/14', '101', '1.017M', '1.555M']
spot of 101 with type <class 'str'>
['Th', '8/21/14', '100.7', '1.311M', '1.655M']
spot of 100.7 with type <class 'str'>
['We', '8/20/14', '100.24', '1.109M', '1.715M']
spot of 100.24 with type <class 'str'>
['Tu', '8/19/14', '100.01', '1.561M', '1.815M']
spot of 100.01 with type <class 'str'>
['Mo', '8/18/14', '100.84', '1.001M', '1.825M']
spot of 100.84 with type <class 'str'>
['Fr', '8/15/14', '100.62', '1.588M', '1.869M']
spot of 100.62 with type <class 'str'>
['Th', '8/14/14', '100.36', '1.467M', '1.828M']
spot of 100.36 with type <class 'str'>
['We', '8/13/14', '100.4', '1.974M', '1.837M']
spot of 100.4 with type <class 'str'>
['Tu', '8/12/14', '99.51', '2.506M', '1.773M']
spot of 99.51 with type <class 'str'>
['Mo', '8/11/14', '100.94', '1.066M', '1.691M']
spot of 100.94 with type <class 'str'>
['Fr', '8/8/14', '101.3', '1.34M', '1.694M']
spot of 101.3 with type <class 'str'>
['Th', '8/7/14', '101.6', '1.647M', '1.794M']
spot of 101.6 with type <class 'str'>
['We', '8/6/14', '101.88', '1.511M', '1.9M']
spot of 101.88 with type <class 'str'>
['Tu', '8/5/14', '101.65', '1.917M', '2.034M']
spot of 101.65 with type <class 'str'>
['Mo', '8/4/14', '102.1', '2.318M', '2.056M']
spot of 102.1 with type <class 'str'>
['Fr', '8/1/14', '100.3', '2.505M', '2.064M']
spot of 100.3 with type <class 'str'>
['Th', '7/31/14', '99.8899', '2.214M', '2.108M']
spot of 99.8899 with type <class 'str'>
['We', '7/30/14', '101.17', '2.607M', '2.072M']
spot of 101.17 with type <class 'str'>
['Tu', '7/29/14', '100.79', '1.714M', '1.993M']
spot of 100.79 with type <class 'str'>
['Mo', '7/28/14', '100.81', '1.666M', '2.003M']
spot of 100.81 with type <class 'str'>
['Fr', '7/25/14', '99.36', '971.856k', '2.066M']
spot of 99.36 with type <class 'str'>
['Th', '7/24/14', '99.6', '1.591M', '2.084M']
spot of 99.6 with type <class 'str'>
['We', '7/23/14', '99.6', '1.016M', '2.09M']
spot of 99.6 with type <class 'str'>
['Tu', '7/22/14', '100.16', '1.277M', '2.173M']
spot of 100.16 with type <class 'str'>
['Mo', '7/21/14', '99.03', '1.115M', '2.158M']
spot of 99.03 with type <class 'str'>
['Fr', '7/18/14', '99.46', '2.841M', '2.184M']
spot of 99.46 with type <class 'str'>
['Th', '7/17/14', '98.15', '3.242M', '2.049M']
spot of 98.15 with type <class 'str'>
['We', '7/16/14', '101.23', '3.518M', '1.924M']
spot of 101.23 with type <class 'str'>
['Tu', '7/15/14', '98.71', '2.242M', '1.791M']
spot of 98.71 with type <class 'str'>
['Mo', '7/14/14', '98.43', '2.434M', '1.701M']
spot of 98.43 with type <class 'str'>
['Fr', '7/11/14', '97.77', '3.175M', '1.713M']
spot of 97.77 with type <class 'str'>
['Th', '7/10/14', '95.41', '1.663M', '1.619M']
spot of 95.41 with type <class 'str'>
['We', '7/9/14', '94.3', '1.436M', '1.575M']
spot of 94.3 with type <class 'str'>
['Tu', '7/8/14', '94.36', '1.85M', '1.555M']
spot of 94.36 with type <class 'str'>
['Mo', '7/7/14', '95.73', '2.616M', '1.521M']
spot of 95.73 with type <class 'str'>
['Th', '7/3/14', '96.54', '1.247M', '1.502M']
spot of 96.54 with type <class 'str'>
['We', '7/2/14', '95.92', '1.685M', '1.502M']
spot of 95.92 with type <class 'str'>
['Tu', '7/1/14', '94.46', '2.261M', '1.448M']
spot of 94.46 with type <class 'str'>
['Mo', '6/30/14', '92.3', '1.045M', '1.421M']
spot of 92.3 with type <class 'str'>
['Fr', '6/27/14', '92.9', '1.51M', '1.468M']
spot of 92.9 with type <class 'str'>
['Th', '6/26/14', '91.89', '804.574k', '1.478M']
spot of 91.89 with type <class 'str'>
['We', '6/25/14', '91.94', '1.373M', '1.713M']
spot of 91.94 with type <class 'str'>
['Tu', '6/24/14', '90.62', '1.527M', '1.738M']
spot of 90.62 with type <class 'str'>
['Mo', '6/23/14', '91.59', '891.22k', '1.704M']
spot of 91.59 with type <class 'str'>
['Fr', '6/20/14', '91.46', '2.609M', '1.735M']
spot of 91.46 with type <class 'str'>
['Th', '6/19/14', '91.28', '1.766M', '1.741M']
spot of 91.28 with type <class 'str'>
['We', '6/18/14', '92.99', '1.003M', '1.695M']
spot of 92.99 with type <class 'str'>
['Tu', '6/17/14', '92.32', '1.143M', '1.724M']
spot of 92.32 with type <class 'str'>
['Mo', '6/16/14', '91.46', '1.337M', '1.767M']
spot of 91.46 with type <class 'str'>
['Fr', '6/13/14', '92.12', '2.333M', '1.749M']
spot of 92.12 with type <class 'str'>
['Th', '6/12/14', '89.74', '1.241M', '1.718M']
spot of 89.74 with type <class 'str'>
['We', '6/11/14', '90.7', '874.544k', '1.742M']
spot of 90.7 with type <class 'str'>
['Tu', '6/10/14', '90.78', '1.854M', '1.814M']
spot of 90.78 with type <class 'str'>
['Mo', '6/9/14', '91.64', '1.754M', '1.838M']
spot of 91.64 with type <class 'str'>
['Fr', '6/6/14', '92.16', '1.659M', '1.835M']
spot of 92.16 with type <class 'str'>
['Th', '6/5/14', '91.95', '4.33M', '1.863M']
spot of 91.95 with type <class 'str'>
['We', '6/4/14', '89.15', '1.749M', '1.767M']
spot of 89.15 with type <class 'str'>
['Tu', '6/3/14', '87.89', '1.01M', '1.77M']
spot of 87.89 with type <class 'str'>
['Mo', '6/2/14', '87.66', '1.359M', '1.85M']
spot of 87.66 with type <class 'str'>
['Fr', '5/30/14', '87.85', '2.696M', '1.96M']
spot of 87.85 with type <class 'str'>
['Th', '5/29/14', '87.13', '1.082M', '1.936M']
spot of 87.13 with type <class 'str'>
['We', '5/28/14', '87.2', '1.431M', '2.03M']
spot of 87.2 with type <class 'str'>
['Tu', '5/27/14', '87.42', '1.797M', '2.069M']
spot of 87.42 with type <class 'str'>
['Fr', '5/23/14', '84.83', '1.069M', '2.081M']
spot of 84.83 with type <class 'str'>
['Th', '5/22/14', '83.64', '1.868M', '2.203M']
spot of 83.64 with type <class 'str'>
['We', '5/21/14', '83.66', '1.59M', '2.416M']
spot of 83.66 with type <class 'str'>
['Tu', '5/20/14', '83.84', '1.967M', '2.462M']
spot of 83.84 with type <class 'str'>
['Mo', '5/19/14', '85.31', '2.212M', '2.479M']

spot of 85.31 with type <class 'str'>
['Fr', '5/16/14', '85.91', '1.713M', '2.463M']
spot of 85.91 with type <class 'str'>
['Th', '5/15/14', '85.3', '2.067M', '2.449M']
spot of 85.3 with type <class 'str'>
['We', '5/14/14', '85.33', '2.902M', '2.425M']
spot of 85.33 with type <class 'str'>
['Tu', '5/13/14', '82.6', '1.781M', '2.332M']
spot of 82.6 with type <class 'str'>
['Mo', '5/12/14', '82.46', '2.209M', '2.304M']
spot of 82.46 with type <class 'str'>
['Fr', '5/9/14', '81.95', '3.011M', '2.247M']
spot of 81.95 with type <class 'str'>
['Th', '5/8/14', '83.59', '2.337M', '2.157M']
spot of 83.59 with type <class 'str'>
['We', '5/7/14', '83.35', '2.5M', '2.093M']
spot of 83.35 with type <class 'str'>
['Tu', '5/6/14', '84.41', '2.014M', '2.048M']
spot of 84.41 with type <class 'str'>
['Mo', '5/5/14', '83.9', '1.97M', '2.043M']
spot of 83.9 with type <class 'str'>
['Fr', '5/2/14', '83.68', '2.903M', '2.062M']
spot of 83.68 with type <class 'str'>
['Th', '5/1/14', '82.28', '5.062M', '2.019M']
spot of 82.28 with type <class 'str'>
['We', '4/30/14', '88.08', '2.285M', '1.813M']
spot of 88.08 with type <class 'str'>
['Tu', '4/29/14', '87.45', '2.216M', '1.799M']
spot of 87.45 with type <class 'str'>
['Mo', '4/28/14', '87.53', '1.97M', '1.815M']
spot of 87.53 with type <class 'str'>
['Fr', '4/25/14', '87.77', '1.502M', '1.852M']
spot of 87.77 with type <class 'str'>
['Th', '4/24/14', '89.8', '1.718M', '1.86M']
spot of 89.8 with type <class 'str'>
['We', '4/23/14', '90.44', '1.501M', '1.862M']
spot of 90.44 with type <class 'str'>
['Tu', '4/22/14', '92.09', '1.36M', '1.905M']
spot of 92.09 with type <class 'str'>
['Mo', '4/21/14', '92.26', '1.351M', '1.986M']
spot of 92.26 with type <class 'str'>
['Th', '4/17/14', '91.05', '1.666M', '2M']
spot of 91.05 with type <class 'str'>
['We', '4/16/14', '90.28', '1.378M', '2.025M']
spot of 90.28 with type <class 'str'>
['Tu', '4/15/14', '89.37', '1.82M', '2.079M']
spot of 89.37 with type <class 'str'>
['Mo', '4/14/14', '90.35', '1.941M', '2.095M']
spot of 90.35 with type <class 'str'>
['Fr', '4/11/14', '88.21', '2.251M', '2.121M']
spot of 88.21 with type <class 'str'>
['Th', '4/10/14', '88.17', '2.259M', '2.185M']
spot of 88.17 with type <class 'str'>
['We', '4/9/14', '91.25', '1.984M', '2.166M']
spot of 91.25 with type <class 'str'>
['Tu', '4/8/14', '90.98', '2.071M', '2.152M']
spot of 90.98 with type <class 'str'>
['Mo', '4/7/14', '89.6', '2.456M', '2.103M']
spot of 89.6 with type <class 'str'>
['Fr', '4/4/14', '90.5', '2.528M', '2.131M']
spot of 90.5 with type <class 'str'>
['Th', '4/3/14', '93.46', '1.62M', '2.074M']
spot of 93.46 with type <class 'str'>
['We', '4/2/14', '94.14', '1.747M', '2.102M']
spot of 94.14 with type <class 'str'>
['Tu', '4/1/14', '93.54', '2.138M', '2.073M']
spot of 93.54 with type <class 'str'>
['Mo', '3/31/14', '91.82', '2.582M', '2.059M']
spot of 91.82 with type <class 'str'>
['Fr', '3/28/14', '89.41', '1.558M', '2.034M']
spot of 89.41 with type <class 'str'>
['Th', '3/27/14', '89.7', '2.046M', '2.069M']
spot of 89.7 with type <class 'str'>
['We', '3/26/14', '89.33', '2.191M', '2.059M']
spot of 89.33 with type <class 'str'>
['Tu', '3/25/14', '89.85', '2.06M', '1.988M']
spot of 89.85 with type <class 'str'>
['Mo', '3/24/14', '87.98', '2.321M', '1.959M']
spot of 87.98 with type <class 'str'>
['Fr', '3/21/14', '88.62', '3.212M', '1.917M']
spot of 88.62 with type <class 'str'>
['Th', '3/20/14', '87.99', '1.978M', '1.883M']
spot of 87.99 with type <class 'str'>
['We', '3/19/14', '85.87', '1.766M', '1.865M']
spot of 85.87 with type <class 'str'>
['Tu', '3/18/14', '86.32', '1.34M', '1.899M']
spot of 86.32 with type <class 'str'>
['Mo', '3/17/14', '85.14', '2.871M', '1.897M']
spot of 85.14 with type <class 'str'>
['Fr', '3/14/14', '85.015', '1.686M', '1.824M']
spot of 85.015 with type <class 'str'>
['Th', '3/13/14', '84.21', '2.035M', '1.848M']
spot of 84.21 with type <class 'str'>
['We', '3/12/14', '84.16', '1.311M', '1.822M']
spot of 84.16 with type <class 'str'>
['Tu', '3/11/14', '83.21', '1.923M', '1.834M']
spot of 83.21 with type <class 'str'>
['Mo', '3/10/14', '85.11', '2.213M', '1.8M']
spot of 85.11 with type <class 'str'>
['Fr', '3/7/14', '84.25', '2.081M', '1.733M']
spot of 84.25 with type <class 'str'>
['Th', '3/6/14', '86.72', '1.903M', '1.691M']
spot of 86.72 with type <class 'str'>
['We', '3/5/14', '88.33', '1.127M', '1.671M']
spot of 88.33 with type <class 'str'>
['Tu', '3/4/14', '88.76', '1.621M', '1.681M']
spot of 88.76 with type <class 'str'>
['Mo', '3/3/14', '87.9', '1.687M', '1.668M']
spot of 87.9 with type <class 'str'>
['Fr', '2/28/14', '86.99', '2.704M', '1.684M']
spot of 86.99 with type <class 'str'>
['Th', '2/27/14', '88.42', '1.71M', '1.584M']
spot of 88.42 with type <class 'str'>
['We', '2/26/14', '89.28', '2.267M', '1.621M']
spot of 89.28 with type <class 'str'>
['Tu', '2/25/14', '87.79', '1.314M', '1.595M']
spot of 87.79 with type <class 'str'>
['Mo', '2/24/14', '88.6', '1.78M', '1.676M']
spot of 88.6 with type <class 'str'>
['Fr', '2/21/14', '88.01', '2.043M', '1.694M']
spot of 88.01 with type <class 'str'>
['Th', '2/20/14', '86.24', '1.641M', '1.753M']
spot of 86.24 with type <class 'str'>
['We', '2/19/14', '85.45', '1.491M', '1.812M']
spot of 85.45 with type <class 'str'>
['Tu', '2/18/14', '86.34', '1.414M', '2.01M']
spot of 86.34 with type <class 'str'>
['Fr', '2/14/14', '86.71', '1.212M', '2.078M']
spot of 86.71 with type <class 'str'>
['Th', '2/13/14', '86.67', '1.453M', '2.169M']
spot of 86.67 with type <class 'str'>
['We', '2/12/14', '86.07', '1.603M', '2.361M']
spot of 86.07 with type <class 'str'>
['Tu', '2/11/14', '84.87', '1.278M', '2.424M']
spot of 84.87 with type <class 'str'>
['Mo', '2/10/14', '84.69', '1.421M', '2.543M']
spot of 84.69 with type <class 'str'>
['Fr', '2/7/14', '84.68', '1.928M', '2.644M']
spot of 84.68 with type <class 'str'>
['Th', '2/6/14', '83.35', '1.211M', '2.704M']
spot of 83.35 with type <class 'str'>
['We', '2/5/14', '82.74', '2.265M', '2.745M']
spot of 82.74 with type <class 'str'>
['Tu', '2/4/14', '83.5', '1.867M', '2.727M']
spot of 83.5 with type <class 'str'>
['Mo', '2/3/14', '83.5', '2.532M', '2.731M']
spot of 83.5 with type <class 'str'>
['Fr', '1/31/14', '86.17', '2.046M', '2.695M']
spot of 86.17 with type <class 'str'>
['Th', '1/30/14', '86.94', '2.931M', '2.712M']
spot of 86.94 with type <class 'str'>
['We', '1/29/14', '84.2', '2.523M', '2.776M']
spot of 84.2 with type <class 'str'>
['Tu', '1/28/14', '83.37', '4.462M', '2.765M']
spot of 83.37 with type <class 'str'>
['Mo', '1/27/14', '84.59', '2.432M', '2.594M']
spot of 84.59 with type <class 'str'>
['Fr', '1/24/14', '85', '2.574M', '2.537M']
spot of 85 with type <class 'str'>
['Th', '1/23/14', '87.05', '4.336M', '2.471M']
spot of 87.05 with type <class 'str'>
['We', '1/22/14', '88.08', '2.56M', '2.266M']
spot of 88.08 with type <class 'str'>
['Tu', '1/21/14', '88.86', '3.058M', '2.149M']
spot of 88.86 with type <class 'str'>
['Fr', '1/17/14', '88.82', '2.934M', '2.002M']
spot of 88.82 with type <class 'str'>
['Th', '1/16/14', '88.95', '2.826M', '1.855M']
spot of 88.95 with type <class 'str'>
['We', '1/15/14', '88.98', '1.834M', '1.702M']
spot of 88.98 with type <class 'str'>
['Tu', '1/14/14', '87.89', '1.99M', '1.679M']
spot of 87.89 with type <class 'str'>
['Mo', '1/13/14', '84.61', '1.922M', '1.81M']
spot of 84.61 with type <class 'str'>
['Fr', '1/10/14', '85.46', '2.001M', '1.829M']
spot of 85.46 with type <class 'str'>
['Th', '1/9/14', '84.92', '2.3M', '1.981M']
spot of 84.92 with type <class 'str'>
['We', '1/8/14', '86.41', '3.889M', '2.089M']
spot of 86.41 with type <class 'str'>
['Tu', '1/7/14', '85.65', '2.361M', '2.041M']
spot of 85.65 with type <class 'str'>
['Mo', '1/6/14', '82.89', '1.889M', '2.027M']
spot of 82.89 with type <class 'str'>
['Fr', '1/3/14', '83.28', '1.576M', '2.039M']
spot of 83.28 with type <class 'str'>
['Th', '1/2/14', '82.68', '1.593M', '2.074M']
spot of 82.68 with type <class 'str'>
['Tu', '12/31/13', '83.9', '1.254M', '2.079M']
spot of 83.9 with type <class 'str'>
['Mo', '12/30/13', '83.59', '802.743k', '2.175M']
spot of 83.59 with type <class 'str'>
['Fr', '12/27/13', '82.82', '855.707k', '2.242M']
spot of 82.82 with type <class 'str'>
['Th', '12/26/13', '83.08', '735.613k', '2.305M']
spot of 83.08 with type <class 'str'>
['Tu', '12/24/13', '82.56', '533.669k', '2.453M']
spot of 82.56 with type <class 'str'>
['Mo', '12/23/13', '82.63', '1.488M', '2.545M']
spot of 82.63 with type <class 'str'>
['Fr', '12/20/13', '82.68', '3.95M', '2.553M']
spot of 82.68 with type <class 'str'>
['Th', '12/19/13', '82.1', '2.206M', '2.348M']
spot of 82.1 with type <class 'str'>
['We', '12/18/13', '82.1', '4.284M', '2.29M']
spot of 82.1 with type <class 'str'>
['Tu', '12/17/13', '83.4', '3.924M', '2.101M']
spot of 83.4 with type <class 'str'>
['Mo', '12/16/13', '81.66', '3.163M', '1.935M']
spot of 81.66 with type <class 'str'>
['Fr', '12/13/13', '79.05', '2.155M', '1.838M']
spot of 79.05 with type <class 'str'>
['Th', '12/12/13', '78.86', '2.062M', '1.812M']
spot of 78.86 with type <class 'str'>
['We', '12/11/13', '77.85', '2.111M', '1.766M']
spot of 77.85 with type <class 'str'>
['Tu', '12/10/13', '79.33', '1.657M', '1.758M']
spot of 79.33 with type <class 'str'>
['Mo', '12/9/13', '78.8', '2.698M', '1.796M']
spot of 78.8 with type <class 'str'>
['Fr', '12/6/13', '78.91', '1.812M', '1.789M']
spot of 78.91 with type <class 'str'>
['Th', '12/5/13', '76.78', '1.799M', '1.907M']
spot of 76.78 with type <class 'str'>
['We', '12/4/13', '77.57', '2.956M', '1.885M']
spot of 77.57 with type <class 'str'>
['Tu', '12/3/13', '75.53', '1.916M', '1.797M']
spot of 75.53 with type <class 'str'>
['Mo', '12/2/13', '75.44', '1.605M', '1.75M']
spot of 75.44 with type <class 'str'>
['Fr', '11/29/13', '75.04', '874.225k', '1.746M']
spot of 75.04 with type <class 'str'>
['We', '11/27/13', '76.19', '1.342M', '1.837M']
spot of 76.19 with type <class 'str'>
['Tu', '11/26/13', '74.86', '1.442M', '1.84M']
spot of 74.86 with type <class 'str'>
['Mo', '11/25/13', '74.805', '1.431M', '1.886M']
spot of 74.805 with type <class 'str'>
['Fr', '11/22/13', '75.13', '1.717M', '1.997M']
spot of 75.13 with type <class 'str'>
['Th', '11/21/13', '74.83', '1.756M', '2.407M']
spot of 74.83 with type <class 'str'>
['We', '11/20/13', '73.94', '1.369M', '2.574M']
spot of 73.94 with type <class 'str'>
['Tu', '11/19/13', '73.61', '2.002M', '2.58M']
spot of 73.61 with type <class 'str'>
['Mo', '11/18/13', '74.26', '2.229M', '2.563M']
spot of 74.26 with type <class 'str'>
['Fr', '11/15/13', '75.55', '2.593M', '2.54M']
spot of 75.55 with type <class 'str'>
['Th', '11/14/13', '75.85', '3.575M', '2.583M']
spot of 75.85 with type <class 'str'>
['We', '11/13/13', '72.44', '1.477M', '2.501M']
spot of 72.44 with type <class 'str'>
['Tu', '11/12/13', '72.13', '1.634M', '2.546M']
spot of 72.13 with type <class 'str'>
['Mo', '11/11/13', '71.56', '1.201M', '2.578M']
spot of 71.56 with type <class 'str'>
['Fr', '11/8/13', '71.67', '1.544M', '2.617M']
spot of 71.67 with type <class 'str'>
['Th', '11/7/13', '70.232', '2.246M', '2.642M']
spot of 70.232 with type <class 'str'>
['We', '11/6/13', '71.37', '1.387M', '2.631M']
spot of 71.37 with type <class 'str'>
['Tu', '11/5/13', '71.19', '2.133M', '2.685M']
spot of 71.19 with type <class 'str'>
['Mo', '11/4/13', '72.07', '3.1M', '2.673M']
spot of 72.07 with type <class 'str'>
['Fr', '11/1/13', '69.85', '7.861M', '2.606M']
spot of 69.85 with type <class 'str'>
['Th', '10/31/13', '69.63', '4.259M', '2.201M']
spot of 69.63 with type <class 'str'>
['We', '10/30/13', '73.21', '1.463M', '2.037M']
spot of 73.21 with type <class 'str'>
['Tu', '10/29/13', '72.74', '1.743M', '2.027M']
spot of 72.74 with type <class 'str'>
['Mo', '10/28/13', '72.43', '1.879M', '2.03M']
spot of 72.43 with type <class 'str'>
['Fr', '10/25/13', '72.63', '3.25M', '2.005M']
spot of 72.63 with type <class 'str'>
['Th', '10/24/13', '70.54', '2.345M', '1.88M']
spot of 70.54 with type <class 'str'>
['We', '10/23/13', '70.11', '2.152M', '1.838M']
spot of 70.11 with type <class 'str'>
['Tu', '10/22/13', '72.23', '2.105M', '1.831M']
spot of 72.23 with type <class 'str'>
['Mo', '10/21/13', '72.31', '1.797M', '1.803M']
spot of 72.31 with type <class 'str'>
['Fr', '10/18/13', '71.76', '1.915M', '1.815M']
spot of 71.76 with type <class 'str'>
['Th', '10/17/13', '70.46', '2.079M', '1.778M']
spot of 70.46 with type <class 'str'>
['We', '10/16/13', '69.315', '2.194M', '1.786M']
spot of 69.315 with type <class 'str'>
['Tu', '10/15/13', '68.32', '1.958M', '1.841M']
spot of 68.32 with type <class 'str'>
['Mo', '10/14/13', '68.899', '2.095M', '1.844M']
spot of 68.899 with type <class 'str'>
['Fr', '10/11/13', '66.73', '1.788M', '1.775M']
spot of 66.73 with type <class 'str'>
['Th', '10/10/13', '65.53', '1.789M', '1.856M']
spot of 65.53 with type <class 'str'>
['We', '10/9/13', '63.12', '1.313M', '1.902M']
spot of 63.12 with type <class 'str'>
['Tu', '10/8/13', '63.38', '1.788M', '2.029M']
spot of 63.38 with type <class 'str'>
['Mo', '10/7/13', '64.4', '1.504M', '2.007M']
spot of 64.4 with type <class 'str'>
['Fr', '10/4/13', '65.03', '1.381M', '2.022M']
spot of 65.03 with type <class 'str'>
['Th', '10/3/13', '64.15', '1.71M', '2.018M']
spot of 64.15 with type <class 'str'>
['We', '10/2/13', '64.54', '2.052M', '2.018M']
spot of 64.54 with type <class 'str'>
['Tu', '10/1/13', '64.04', '1.675M', '2.036M']
spot of 64.04 with type <class 'str'>
['Mo', '9/30/13', '63.4', '1.978M', '2.099M']
spot of 63.4 with type <class 'str'>
['Fr', '9/27/13', '63.32', '1.367M', '2.089M']
spot of 63.32 with type <class 'str'>
['Th', '9/26/13', '63.32', '2.201M', '2.105M']
spot of 63.32 with type <class 'str'>
['We', '9/25/13', '65.43', '3.013M', '2.058M']
spot of 65.43 with type <class 'str'>
['Tu', '9/24/13', '64.68', '2.008M', '1.997M']
spot of 64.68 with type <class 'str'>
['Mo', '9/23/13', '63.27', '1.051M', '2.049M']
spot of 63.27 with type <class 'str'>
['Fr', '9/20/13', '63.68', '3.001M', '2.172M']
spot of 63.68 with type <class 'str'>
['Th', '9/19/13', '64.39', '2.49M', '2.234M']
spot of 64.39 with type <class 'str'>
['We', '9/18/13', '64.28', '3.214M', '2.176M']
spot of 64.28 with type <class 'str'>
['Tu', '9/17/13', '65.09', '1.46M', '2.174M']
spot of 65.09 with type <class 'str'>
['Mo', '9/16/13', '65.02', '1.723M', '2.205M']
spot of 65.02 with type <class 'str'>
['Fr', '9/13/13', '64.36', '1.328M', '2.275M']
spot of 64.36 with type <class 'str'>
['Th', '9/12/13', '64.48', '1.705M', '2.265M']
spot of 64.48 with type <class 'str'>
['We', '9/11/13', '65.84', '2.318M', '2.341M']
spot of 65.84 with type <class 'str'>
['Tu', '9/10/13', '66.09', '2.629M', '2.29M']
spot of 66.09 with type <class 'str'>
['Mo', '9/9/13', '65.4', '1.831M', '2.237M']
spot of 65.4 with type <class 'str'>
['Fr', '9/6/13', '64.99', '1.597M', '2.269M']
spot of 64.99 with type <class 'str'>
['Th', '9/5/13', '65.1', '1.496M', '2.312M']
spot of 65.1 with type <class 'str'>
['We', '9/4/13', '64.85', '2.106M', '2.317M']
spot of 64.85 with type <class 'str'>
['Tu', '9/3/13', '63.26', '2.793M', '2.306M']
spot of 63.26 with type <class 'str'>
['Fr', '8/30/13', '62', '2.883M', '2.232M']
spot of 62 with type <class 'str'>
['Th', '8/29/13', '60.72', '3.93M', '2.215M']
spot of 60.72 with type <class 'str'>
['We', '8/28/13', '62.46', '1.62M', '2.124M']
spot of 62.46 with type <class 'str'>
['Tu', '8/27/13', '61.44', '3.196M', '2.142M']
spot of 61.44 with type <class 'str'>
['Mo', '8/26/13', '64.8', '1.916M', '2.035M']
spot of 64.8 with type <class 'str'>
['Fr', '8/23/13', '65.43', '2.781M', '1.994M']
spot of 65.43 with type <class 'str'>
['Th', '8/22/13', '67.3', '1.174M', '1.917M']
spot of 67.3 with type <class 'str'>
['We', '8/21/13', '66.37', '2.847M', '1.982M']
spot of 66.37 with type <class 'str'>
['Tu', '8/20/13', '65', '1.554M', '1.961M']
spot of 65 with type <class 'str'>
['Mo', '8/19/13', '64.2', '1.826M', '2.083M']
spot of 64.2 with type <class 'str'>
['Fr', '8/16/13', '64.6', '2.322M', '2.106M']
spot of 64.6 with type <class 'str'>
['Th', '8/15/13', '66.02', '2.236M', '2.177M']
spot of 66.02 with type <class 'str'>
['We', '8/14/13', '68.49', '1.577M', '2.382M']
spot of 68.49 with type <class 'str'>
['Tu', '8/13/13', '68.41', '1.935M', '2.497M']
spot of 68.41 with type <class 'str'>
['Mo', '8/12/13', '68.17', '1.68M', '2.554M']
spot of 68.17 with type <class 'str'>
['Fr', '8/9/13', '67.5', '2.631M', '2.564M']
spot of 67.5 with type <class 'str'>
['Th', '8/8/13', '66.721', '2.568M', '2.505M']
spot of 66.721 with type <class 'str'>
['We', '8/7/13', '63.62', '1.881M', '2.45M']
spot of 63.62 with type <class 'str'>
['Tu', '8/6/13', '64.46', '1.604M', '2.398M']
spot of 64.46 with type <class 'str'>
['Mo', '8/5/13', '64.8', '1.288M', '2.379M']
spot of 64.8 with type <class 'str'>
['Fr', '8/2/13', '65.16', '1.637M', '2.419M']
spot of 65.16 with type <class 'str'>
['Th', '8/1/13', '66.44', '2.137M', '2.463M']
spot of 66.44 with type <class 'str'>
['We', '7/31/13', '64.38', '2.532M', '2.487M']
spot of 64.38 with type <class 'str'>
['Tu', '7/30/13', '65.09', '3.383M', '2.484M']
spot of 65.09 with type <class 'str'>
['Mo', '7/29/13', '62.6', '2.177M', '2.398M']
spot of 62.6 with type <class 'str'>
['Fr', '7/26/13', '62.63', '3.384M', '2.41M']
spot of 62.63 with type <class 'str'>
['Th', '7/25/13', '63.53', '5.316M', '2.309M']
spot of 63.53 with type <class 'str'>
['We', '7/24/13', '67.53', '3.292M', '2.018M']
spot of 67.53 with type <class 'str'>
['Tu', '7/23/13', '67.83', '2.796M', '1.942M']
spot of 67.83 with type <class 'str'>
['Mo', '7/22/13', '70.09', '1.833M', '1.876M']
spot of 70.09 with type <class 'str'>
['Fr', '7/19/13', '69.79', '1.747M', '2.047M']
spot of 69.79 with type <class 'str'>
['Th', '7/18/13', '69.65', '1.742M', '2.105M']
spot of 69.65 with type <class 'str'>
['We', '7/17/13', '68.55', '1.096M', '2.152M']
spot of 68.55 with type <class 'str'>
['Tu', '7/16/13', '67.89', '1.318M', '2.226M']
spot of 67.89 with type <class 'str'>
['Mo', '7/15/13', '68.24', '1.887M', '2.298M']
spot of 68.24 with type <class 'str'>
['Fr', '7/12/13', '67.86', '2.299M', '2.441M']
spot of 67.86 with type <class 'str'>
['Th', '7/11/13', '67.02', '2.506M', '2.512M']
spot of 67.02 with type <class 'str'>
['We', '7/10/13', '67.23', '2.487M', '2.615M']
spot of 67.23 with type <class 'str'>
['Tu', '7/9/13', '66.2', '2.086M', '2.602M']
spot of 66.2 with type <class 'str'>
['Mo', '7/8/13', '65.22', '2.366M', '2.586M']
spot of 65.22 with type <class 'str'>
['Fr', '7/5/13', '64.51', '1.857M', '2.526M']
spot of 64.51 with type <class 'str'>
['We', '7/3/13', '63.21', '953.187k', '2.527M']
spot of 63.21 with type <class 'str'>
['Tu', '7/2/13', '63.18', '2.157M', '2.571M']
spot of 63.18 with type <class 'str'>
['Mo', '7/1/13', '63.06', '1.806M', '2.59M']
spot of 63.06 with type <class 'str'>
['Fr', '6/28/13', '62.09', '4.392M', '2.585M']
spot of 62.09 with type <class 'str'>
['Th', '6/27/13', '62.62', '2.619M', '2.379M']
spot of 62.62 with type <class 'str'>
['We', '6/26/13', '60.71', '2.457M', '2.321M']
spot of 60.71 with type <class 'str'>
['Tu', '6/25/13', '60.06', '2.197M', '2.293M']
spot of 60.06 with type <class 'str'>
['Mo', '6/24/13', '58.54', '2.394M', '2.325M']
spot of 58.54 with type <class 'str'>
['Fr', '6/21/13', '60.19', '4.04M', '2.325M']
spot of 60.19 with type <class 'str'>
['Th', '6/20/13', '61.49', '3.367M', '2.267M']
spot of 61.49 with type <class 'str'>
['We', '6/19/13', '63.57', '4.053M', '2.183M']
spot of 63.57 with type <class 'str'>
['Tu', '6/18/13', '64.67', '2.287M', '2.033M']
spot of 64.67 with type <class 'str'>
['Mo', '6/17/13', '64.65', '1.849M', '2.001M']
spot of 64.65 with type <class 'str'>
['Fr', '6/14/13', '63.88', '1.466M', '2.013M']
spot of 63.88 with type <class 'str'>
['Th', '6/13/13', '64.26', '1.867M', '2.13M']
spot of 64.26 with type <class 'str'>
['We', '6/12/13', '63.91', '1.613M', '2.221M']
spot of 63.91 with type <class 'str'>
['Tu', '6/11/13', '64.54', '2.448M', '2.225M']
spot of 64.54 with type <class 'str'>

spot of 59.45 with type <class 'str'>
['Fr', '5/17/13', '60.46', '2.595M', '3.071M']
spot of 60.46 with type <class 'str'>
['Th', '5/16/13', '59.05', '2.766M', '3.14M']
spot of 59.05 with type <class 'str'>
['We', '5/15/13', '59.57', '3.079M', '3.458M']
spot of 59.57 with type <class 'str'>
['Tu', '5/14/13', '59.21', '2.341M', '3.498M']
spot of 59.21 with type <class 'str'>
['Mo', '5/13/13', '57.91', '2.158M', '3.574M']
spot of 57.91 with type <class 'str'>
['Fr', '5/10/13', '58.47', '2.159M', '3.538M']
spot of 58.47 with type <class 'str'>
['Th', '5/9/13', '57.68', '4.454M', '3.606M']
spot of 57.68 with type <class 'str'>
['We', '5/8/13', '59.01', '3.768M', '3.546M']
spot of 59.01 with type <class 'str'>
['Tu', '5/7/13', '58.83', '3.303M', '3.445M']
spot of 58.83 with type <class 'str'>
['Mo', '5/6/13', '58.13', '2.791M', '3.377M']
spot of 58.13 with type <class 'str'>
['Fr', '5/3/13', '57.15', '2.997M', '3.361M']
spot of 57.15 with type <class 'str'>
['Th', '5/2/13', '56.66', '3.421M', '3.275M']
spot of 56.66 with type <class 'str'>
['We', '5/1/13', '54.8', '3.131M', '3.485M']
spot of 54.8 with type <class 'str'>
['Tu', '4/30/13', '55.28', '3.618M', '3.524M']
spot of 55.28 with type <class 'str'>
['Mo', '4/29/13', '54.12', '3.478M', '3.43M']
spot of 54.12 with type <class 'str'>
['Fr', '4/26/13', '53.29', '3.638M', '3.309M']
spot of 53.29 with type <class 'str'>
['Th', '4/25/13', '52.6', '7.535M', '3.225M']
spot of 52.6 with type <class 'str'>
['We', '4/24/13', '52.9', '3.678M', '2.832M']
spot of 52.9 with type <class 'str'>
['Tu', '4/23/13', '53.24', '3.484M', '2.782M']
spot of 53.24 with type <class 'str'>
['Mo', '4/22/13', '50.51', '1.616M', '2.712M']
spot of 50.51 with type <class 'str'>
['Fr', '4/19/13', '49.93', '3.181M', '2.749M']
spot of 49.93 with type <class 'str'>
['Th', '4/18/13', '49.25', '3.544M', '2.709M']
spot of 49.25 with type <class 'str'>
['We', '4/17/13', '50.57', '2.254M', '2.69M']
spot of 50.57 with type <class 'str'>
['Tu', '4/16/13', '52.03', '2.288M', '2.806M']
spot of 52.03 with type <class 'str'>
['Mo', '4/15/13', '51.16', '2.554M', '2.784M']
spot of 51.16 with type <class 'str'>
['Fr', '4/12/13', '52.32', '1.713M', '2.747M']
spot of 52.32 with type <class 'str'>
['Th', '4/11/13', '52.39', '6.566M', '2.811M']
spot of 52.39 with type <class 'str'>
['We', '4/10/13', '53.21', '3.715M', '2.519M']
spot of 53.21 with type <class 'str'>
['Tu', '4/9/13', '51.57', '2.206M', '2.433M']
spot of 51.57 with type <class 'str'>
['Mo', '4/8/13', '50.23', '1.667M', '2.393M']
spot of 50.23 with type <class 'str'>
['Fr', '4/5/13', '49.8', '2.369M', '2.465M']
spot of 49.8 with type <class 'str'>
['Th', '4/4/13', '50.78', '1.654M', '2.436M']
spot of 50.78 with type <class 'str'>
['We', '4/3/13', '50.6', '2.92M', '2.556M']
spot of 50.6 with type <class 'str'>
['Tu', '4/2/13', '50.07', '2.439M', '2.621M']
spot of 50.07 with type <class 'str'>
['Mo', '4/1/13', '50.4', '2.168M', '2.577M']
spot of 50.4 with type <class 'str'>
['Th', '3/28/13', '50.29', '2.586M', '2.642M']
spot of 50.29 with type <class 'str'>
['We', '3/27/13', '50.14', '3.257M', '2.743M']
spot of 50.14 with type <class 'str'>
['Tu', '3/26/13', '48.679', '3.987M', '2.734M']
spot of 48.679 with type <class 'str'>
['Mo', '3/25/13', '47.53', '1.953M', '2.632M']
spot of 47.53 with type <class 'str'>
['Fr', '3/22/13', '47.93', '2.011M', '2.659M']
spot of 47.93 with type <class 'str'>
['Th', '3/21/13', '48.1', '2.672M', '2.703M']
spot of 48.1 with type <class 'str'>
['We', '3/20/13', '49.329', '2.174M', '2.629M']
spot of 49.329 with type <class 'str'>
['Tu', '3/19/13', '48.86', '2.433M', '2.653M']
spot of 48.86 with type <class 'str'>
['Mo', '3/18/13', '49.6', '1.608M', '2.705M']
spot of 49.6 with type <class 'str'>
['Fr', '3/15/13', '50.16', '2.743M', '2.74M']
spot of 50.16 with type <class 'str'>
['Th', '3/14/13', '50.715', '1.936M', '2.667M']
spot of 50.715 with type <class 'str'>
['We', '3/13/13', '50.39', '3.449M', '2.75M']
spot of 50.39 with type <class 'str'>
['Tu', '3/12/13', '49.99', '3.903M', '2.669M']
spot of 49.99 with type <class 'str'>
['Mo', '3/11/13', '48.01', '1.781M', '2.549M']
spot of 48.01 with type <class 'str'>
['Fr', '3/8/13', '47.66', '3.138M', '2.583M']
spot of 47.66 with type <class 'str'>
['Th', '3/7/13', '47.27', '4.093M', '2.509M']
spot of 47.27 with type <class 'str'>
['We', '3/6/13', '48.83', '3.13M', '2.342M']
spot of 48.83 with type <class 'str'>
['Tu', '3/5/13', '48.37', '2.461M', '2.243M']
spot of 48.37 with type <class 'str'>
['Mo', '3/4/13', '47.81', '2.354M', '2.236M']
spot of 47.81 with type <class 'str'>
['Fr', '3/1/13', '48.18', '2.663M', '2.274M']
spot of 48.18 with type <class 'str'>
['Th', '2/28/13', '47.16', '1.565M', '2.307M']
spot of 47.16 with type <class 'str'>
['We', '2/27/13', '47.01', '2.539M', '2.439M']
spot of 47.01 with type <class 'str'>
['Tu', '2/26/13', '45.87', '3.207M', '2.481M']
spot of 45.87 with type <class 'str'>
['Mo', '2/25/13', '44.81', '2.129M', '2.467M']
spot of 44.81 with type <class 'str'>
['Fr', '2/22/13', '45.9', '1.65M', '2.555M']
spot of 45.9 with type <class 'str'>
['Th', '2/21/13', '45.74', '3.187M', '2.702M']
spot of 45.74 with type <class 'str'>
['We', '2/20/13', '46.54', '2.234M', '2.751M']
spot of 46.54 with type <class 'str'>
['Tu', '2/19/13', '48.57', '2.101M', '3.289M']
spot of 48.57 with type <class 'str'>
['Fr', '2/15/13', '48.59', '2.288M', '3.45M']
spot of 48.59 with type <class 'str'>
['Th', '2/14/13', '48.81', '2.033M', '3.523M']
spot of 48.81 with type <class 'str'>
['We', '2/13/13', '48.63', '1.59M', '3.859M']
spot of 48.63 with type <class 'str'>
['Tu', '2/12/13', '48.18', '1.644M', '4.164M']
spot of 48.18 with type <class 'str'>
['Mo', '2/11/13', '48.6', '2.359M', '4.69M']
spot of 48.6 with type <class 'str'>
['Fr', '2/8/13', '48.49', '2.914M', '4.818M']
spot of 48.49 with type <class 'str'>
['Th', '2/7/13', '47.6', '3.158M', '4.803M']
spot of 47.6 with type <class 'str'>
['We', '2/6/13', '47.99', '3.55M', '4.819M']
spot of 47.99 with type <class 'str'>
['Tu', '2/5/13', '46.63', '3.176M', '4.804M']
spot of 46.63 with type <class 'str'>
['Mo', '2/4/13', '46.38', '2.987M', '4.884M']
spot of 46.38 with type <class 'str'>
['Fr', '2/1/13', '46.77', '3.448M', '4.87M']
spot of 46.77 with type <class 'str'>
['Th', '1/31/13', '47', '3.866M', '4.928M']
spot of 47 with type <class 'str'>
['We', '1/30/13', '46.85', '3.911M', '5.055M']
spot of 46.85 with type <class 'str'>
['Tu', '1/29/13', '46.11', '10.306M', '5.048M']
spot of 46.11 with type <class 'str'>
['Mo', '1/28/13', '48.64', '4.525M', '4.578M']
spot of 48.64 with type <class 'str'>
['Fr', '1/25/13', '48.08', '3.379M', '4.459M']
spot of 48.08 with type <class 'str'>
['Th', '1/24/13', '47.79', '7.07M', '4.432M']
spot of 47.79 with type <class 'str'>
['We', '1/23/13', '47.07', '6.164M', '4.256M']
spot of 47.07 with type <class 'str'>
['Tu', '1/22/13', '47.36', '9.542M', '4.019M']
spot of 47.36 with type <class 'str'>
['Fr', '1/18/13', '44.81', '4.278M', '3.487M']
spot of 44.81 with type <class 'str'>
['Th', '1/17/13', '45.22', '2.678M', '3.394M']
spot of 45.22 with type <class 'str'>
['We', '1/16/13', '45.31', '3.407M', '3.374M']
spot of 45.31 with type <class 'str'>
['Tu', '1/15/13', '44.84', '3.327M', '3.244M']
spot of 44.84 with type <class 'str'>
['Mo', '1/14/13', '44.7', '4.371M', '3.787M']
spot of 44.7 with type <class 'str'>
['Fr', '1/11/13', '43.98', '2.774M', '3.975M']
spot of 43.98 with type <class 'str'>
['Th', '1/10/13', '44.16', '4.324M', '4.367M']
spot of 44.16 with type <class 'str'>
['We', '1/9/13', '43.8', '5.766M', '4.455M']
spot of 43.8 with type <class 'str'>
['Tu', '1/8/13', '41.98', '3.801M', '4.259M']
spot of 41.98 with type <class 'str'>
['Mo', '1/7/13', '42.9', '3.268M', '4.204M']
spot of 42.9 with type <class 'str'>
['Fr', '1/4/13', '42.88', '2.735M', '4.187M']
spot of 42.88 with type <class 'str'>
['Th', '1/3/13', '43.02', '2.978M', '4.273M']
spot of 43.02 with type <class 'str'>
['We', '1/2/13', '43.44', '4.426M', '4.389M']
spot of 43.44 with type <class 'str'>
['Mo', '12/31/12', '42.49', '2.614M', '4.382M']
spot of 42.49 with type <class 'str'>
['Fr', '12/28/12', '41.46', '1.548M', '4.498M']
spot of 41.46 with type <class 'str'>
['Th', '12/27/12', '42.07', '2.897M', '4.74M']
spot of 42.07 with type <class 'str'>
['We', '12/26/12', '42.09', '2.371M', '5.234M']
spot of 42.09 with type <class 'str'>
['Mo', '12/24/12', '41.81', '1.453M', '5.348M']
spot of 41.81 with type <class 'str'>
['Fr', '12/21/12', '42.09', '11.472M', '5.481M']
spot of 42.09 with type <class 'str'>
['Th', '12/20/12', '42.1616', '7.197M', '4.993M']
spot of 42.1616 with type <class 'str'>
['We', '12/19/12', '41.2', '8.658M', '4.798M']
spot of 41.2 with type <class 'str'>
['Tu', '12/18/12', '39.6', '5.635M', '4.511M']
spot of 39.6 with type <class 'str'>
['Mo', '12/17/12', '38.04', '2.83M', '4.359M']
spot of 38.04 with type <class 'str'>
['Fr', '12/14/12', '37.78', '2.977M', '4.357M']
spot of 37.78 with type <class 'str'>
['Th', '12/13/12', '37.83', '3.009M', '4.252M']
spot of 37.83 with type <class 'str'>
['We', '12/12/12', '37.86', '4.027M', '4.219M']
spot of 37.86 with type <class 'str'>
['Tu', '12/11/12', '38.16', '4.718M', '4.177M']
spot of 38.16 with type <class 'str'>
['Mo', '12/10/12', '38.45', '4.327M', '4.003M']
spot of 38.45 with type <class 'str'>
['Fr', '12/7/12', '37.6', '4.354M', '3.909M']
spot of 37.6 with type <class 'str'>
['Th', '12/6/12', '37.1', '5.17M', '3.798M']
spot of 37.1 with type <class 'str'>
['We', '12/5/12', '36.03', '10.307M', '3.661M']
spot of 36.03 with type <class 'str'>
['Tu', '12/4/12', '33.59', '4.081M', '3.156M']
spot of 33.59 with type <class 'str'>
['Mo', '12/3/12', '33.41', '3.445M', '3.024M']
spot of 33.41 with type <class 'str'>
['Fr', '11/30/12', '33.43', '4.159M', '2.952M']
spot of 33.43 with type <class 'str'>
['Th', '11/29/12', '33.92', '4.27M', '2.885M']
spot of 33.92 with type <class 'str'>
['We', '11/28/12', '33.9', '4.348M', '2.857M']
spot of 33.9 with type <class 'str'>
['Tu', '11/27/12', '34.69', '3.36M', '2.87M']
spot of 34.69 with type <class 'str'>
['Mo', '11/26/12', '35.81', '2.801M', '2.822M']
spot of 35.81 with type <class 'str'>
['Fr', '11/23/12', '35.09', '1.397M', '2.871M']
spot of 35.09 with type <class 'str'>
['We', '11/21/12', '34.38', '2.52M', '2.984M']
spot of 34.38 with type <class 'str'>
['Tu', '11/20/12', '34.09', '3.406M', '3.061M']
spot of 34.09 with type <class 'str'>
['Mo', '11/19/12', '35', '2.097M', '3.08M']
spot of 35 with type <class 'str'>
['Fr', '11/16/12', '34.58', '2.929M', '3.161M']
spot of 34.58 with type <class 'str'>
['Th', '11/15/12', '33.85', '2.689M', '3.267M']
spot of 33.85 with type <class 'str'>
['We', '11/14/12', '33.85', '3.115M', '3.858M']
spot of 33.85 with type <class 'str'>
['Tu', '11/13/12', '34.6791', '2.731M', '3.888M']
spot of 34.6791 with type <class 'str'>
['Mo', '11/12/12', '34.735', '2.094M', '3.904M']
spot of 34.735 with type <class 'str'>
['Fr', '11/9/12', '35.11', '2.363M', '3.933M']
spot of 35.11 with type <class 'str'>
['Th', '11/8/12', '34.84', '3.16M', '3.93M']
spot of 34.84 with type <class 'str'>
['We', '11/7/12', '35.3', '3.852M', '3.889M']
spot of 35.3 with type <class 'str'>
['Tu', '11/6/12', '37.0397', '4.532M', '3.805M']
spot of 37.0397 with type <class 'str'>
['Mo', '11/5/12', '35.56', '2.65M', '3.799M']
spot of 35.56 with type <class 'str'>
['Fr', '11/2/12', '35.2', '3.538M', '3.746M']
spot of 35.2 with type <class 'str'>
['Th', '11/1/12', '35.41', '3.09M', '3.706M']
spot of 35.41 with type <class 'str'>
['We', '10/31/12', '34.23', '3.67M', '3.696M']
spot of 34.23 with type <class 'str'>
['Fr', '10/26/12', '34.12', '3.688M', '3.622M']
spot of 34.12 with type <class 'str'>
['Th', '10/25/12', '34.4', '3.318M', '3.607M']
spot of 34.4 with type <class 'str'>
['We', '10/24/12', '33.76', '4.511M', '3.585M']
spot of 33.76 with type <class 'str'>
['Tu', '10/23/12', '34.43', '11.558M', '3.478M']
spot of 34.43 with type <class 'str'>
['Mo', '10/22/12', '35.28', '3.571M', '2.902M']
spot of 35.28 with type <class 'str'>
['Fr', '10/19/12', '34.88', '2.96M', '2.859M']
spot of 34.88 with type <class 'str'>
['Th', '10/18/12', '35.55', '2.535M', '2.927M']
spot of 35.55 with type <class 'str'>
['We', '10/17/12', '36.24', '2.311M', '2.936M']
spot of 36.24 with type <class 'str'>
['Tu', '10/16/12', '36.35', '2.558M', '3.036M']
spot of 36.35 with type <class 'str'>
['Mo', '10/15/12', '35.75', '2.592M', '3.176M']
spot of 35.75 with type <class 'str'>
['Fr', '10/12/12', '36.02', '4.429M', '3.379M']
spot of 36.02 with type <class 'str'>
['Th', '10/11/12', '36.59', '1.86M', '3.543M']
spot of 36.59 with type <class 'str'>
['We', '10/10/12', '36.37', '2.946M', '3.622M']
spot of 36.37 with type <class 'str'>
['Tu', '10/9/12', '37.19', '2.933M', '3.712M']
spot of 37.19 with type <class 'str'>
['Mo', '10/8/12', '38.34', '2.567M', '3.853M']
spot of 38.34 with type <class 'str'>
['Fr', '10/5/12', '37.99', '3.453M', '4.156M']
spot of 37.99 with type <class 'str'>
['Th', '10/4/12', '37.995', '2.998M', '4.648M']
spot of 37.995 with type <class 'str'>
['We', '10/3/12', '37.6', '2.902M', '4.819M']
spot of 37.6 with type <class 'str'>
['Tu', '10/2/12', '38.17', '2.914M', '4.932M']
spot of 38.17 with type <class 'str'>
['Mo', '10/1/12', '38.12', '2.928M', '5.14M']
spot of 38.12 with type <class 'str'>
['Fr', '9/28/12', '38.73', '3.982M', '5.265M']
spot of 38.73 with type <class 'str'>
['Th', '9/27/12', '39.58', '2.672M', '5.238M']
spot of 39.58 with type <class 'str'>
['We', '9/26/12', '38.605', '3.807M', '5.378M']
spot of 38.605 with type <class 'str'>
['Tu', '9/25/12', '39.655', '4.656M', '5.329M']
spot of 39.655 with type <class 'str'>
['Mo', '9/24/12', '40.02', '5.645M', '5.185M']
spot of 40.02 with type <class 'str'>
['Fr', '9/21/12', '40.16', '6.878M', '5.053M']
spot of 40.16 with type <class 'str'>
['Th', '9/20/12', '39.0703', '3.047M', '4.887M']
spot of 39.0703 with type <class 'str'>
['We', '9/19/12', '39.07', '4.294M', '4.786M']
spot of 39.07 with type <class 'str'>
['Tu', '9/18/12', '39.36', '5.047M', '4.692M']
spot of 39.36 with type <class 'str'>
['Mo', '9/17/12', '39.48', '7.117M', '4.498M']
spot of 39.48 with type <class 'str'>
['Fr', '9/14/12', '41.06', '10.825M', '4.246M']
spot of 41.06 with type <class 'str'>
['Th', '9/13/12', '42.5783', '5.57M', '3.876M']
spot of 42.5783 with type <class 'str'>
['We', '9/12/12', '41.48', '4.591M', '3.719M']
spot of 41.48 with type <class 'str'>
['Tu', '9/11/12', '42.25', '6.042M', '3.626M']
spot of 42.25 with type <class 'str'>
['Mo', '9/10/12', '41.18', '4.799M', '3.393M']
spot of 41.18 with type <class 'str'>
['Fr', '9/7/12', '41.86', '3.586M', '3.3M']
spot of 41.86 with type <class 'str'>
['Th', '9/6/12', '43.11', '4.773M', '3.331M']
spot of 43.11 with type <class 'str'>
['We', '9/5/12', '41.84', '3.059M', '3.246M']
spot of 41.84 with type <class 'str'>
['Tu', '9/4/12', '42.32', '2.504M', '3.317M']
spot of 42.32 with type <class 'str'>
['Fr', '8/31/12', '41.82', '3.664M', '3.428M']
spot of 41.82 with type <class 'str'>
['Th', '8/30/12', '42.1', '4.383M', '3.515M']
spot of 42.1 with type <class 'str'>
['We', '8/29/12', '43.5', '1.536M', '3.489M']
spot of 43.5 with type <class 'str'>
['Tu', '8/28/12', '43.5', '2.892M', '3.673M']
spot of 43.5 with type <class 'str'>
['Mo', '8/27/12', '43.79', '2.136M', '3.717M']
spot of 43.79 with type <class 'str'>
['Fr', '8/24/12', '43.63', '3.325M', '3.75M']
spot of 43.63 with type <class 'str'>
['Th', '8/23/12', '43.48', '5.282M', '3.782M']
spot of 43.48 with type <class 'str'>
['We', '8/22/12', '44.5', '3.221M', '3.684M']
spot of 44.5 with type <class 'str'>
['Tu', '8/21/12', '44.66', '3.182M', '3.71M']
spot of 44.66 with type <class 'str'>
['Mo', '8/20/12', '45.32', '2.555M', '3.858M']
spot of 45.32 with type <class 'str'>
['Fr', '8/17/12', '45.48', '3.408M', '4.08M']
spot of 45.48 with type <class 'str'>
['Th', '8/16/12', '45.41', '4.046M', '4.324M']
spot of 45.41 with type <class 'str'>
['We', '8/15/12', '44.17', '3.497M', '5.441M']
spot of 44.17 with type <class 'str'>
['Tu', '8/14/12', '44', '4.13M', '5.678M']
spot of 44 with type <class 'str'>
['Mo', '8/13/12', '44.32', '4.156M', '5.694M']
spot of 44.32 with type <class 'str'>
['Fr', '8/10/12', '43.99', '4.968M', '5.658M']
spot of 43.99 with type <class 'str'>
['Th', '8/9/12', '43.03', '4M', '5.574M']
spot of 43.03 with type <class 'str'>
['We', '8/8/12', '41.86', '4.293M', '5.611M']
spot of 41.86 with type <class 'str'>
['Tu', '8/7/12', '41.75', '3.553M', '5.761M']
spot of 41.75 with type <class 'str'>
['Mo', '8/6/12', '41.25', '2.636M', '5.8M']
spot of 41.25 with type <class 'str'>
['Fr', '8/3/12', '41', '3.798M', '5.757M']
spot of 41 with type <class 'str'>
['Th', '8/2/12', '39.9', '3.823M', '5.677M']
spot of 39.9 with type <class 'str'>
['We', '8/1/12', '39.42', '3.602M', '5.593M']
spot of 39.42 with type <class 'str'>
['Tu', '7/31/12', '39.77', '5.408M', '5.608M']
spot of 39.77 with type <class 'str'>
['Mo', '7/30/12', '40.17', '5.884M', '5.706M']
spot of 40.17 with type <class 'str'>
['Fr', '7/27/12', '39.92', '7.06M', '5.645M']
spot of 39.92 with type <class 'str'>
['Th', '7/26/12', '39.27', '20.813M', '5.557M']
spot of 39.27 with type <class 'str'>
['We', '7/25/12', '32.47', '7.05M', '4.414M']
spot of 32.47 with type <class 'str'>
['Tu', '7/24/12', '31.77', '4.369M', '4.1M']
spot of 31.77 with type <class 'str'>
['Mo', '7/23/12', '32.28', '3.605M', '4.024M']
spot of 32.28 with type <class 'str'>
['Fr', '7/20/12', '32.07', '3.714M', '4.274M']
spot of 32.07 with type <class 'str'>
['Th', '7/19/12', '32.71', '4.551M', '4.568M']
spot of 32.71 with type <class 'str'>
['We', '7/18/12', '33.4', '6.548M', '4.464M']
spot of 33.4 with type <class 'str'>
['Tu', '7/17/12', '31.97', '4.14M', '4.252M']
spot of 31.97 with type <class 'str'>
['Mo', '7/16/12', '31.62', '1.99M', '4.172M']
spot of 31.62 with type <class 'str'>
['Fr', '7/13/12', '31.58', '2.596M', '4.422M']
spot of 31.58 with type <class 'str'>
['Th', '7/12/12', '31.35', '2.562M', '4.579M']
spot of 31.35 with type <class 'str'>
['We', '7/11/12', '31.5', '3.827M', '4.563M']
spot of 31.5 with type <class 'str'>
['Tu', '7/10/12', '32.01', '6.883M', '4.522M']
spot of 32.01 with type <class 'str'>
['Mo', '7/9/12', '31.53', '4.961M', '4.214M']
spot of 31.53 with type <class 'str'>
['Fr', '7/6/12', '31.02', '5.744M', '4.081M']
spot of 31.02 with type <class 'str'>
['Th', '7/5/12', '30.68', '3.671M', '3.854M']
spot of 30.68 with type <class 'str'>
['Tu', '7/3/12', '30.98', '2.333M', '3.83M']
spot of 30.98 with type <class 'str'>
['Mo', '7/2/12', '29.84', '3.241M', '3.966M']
spot of 29.84 with type <class 'str'>
['Fr', '6/29/12', '30.48', '7.355M', '4.067M']
spot of 30.48 with type <class 'str'>
['Th', '6/28/12', '28.8', '8.113M', '3.758M']
spot of 28.8 with type <class 'str'>
['We', '6/27/12', '29.8', '3.004M', '3.662M']
spot of 29.8 with type <class 'str'>
['Tu', '6/26/12', '29.13', '3.359M', '3.675M']
spot of 29.13 with type <class 'str'>
['Mo', '6/25/12', '28.93', '2.944M', '3.702M']
spot of 28.93 with type <class 'str'>
['Fr', '6/22/12', '29.7', '5.731M', '3.775M']
spot of 29.7 with type <class 'str'>
['Th', '6/21/12', '29.37', '4.96M', '3.73M']
spot of 29.37 with type <class 'str'>
['We', '6/20/12', '30.89', '2.321M', '3.983M']
spot of 30.89 with type <class 'str'>
['Tu', '6/19/12', '30.86', '3.204M', '4.316M']
spot of 30.86 with type <class 'str'>
['Mo', '6/18/12', '30.55', '2.263M', '4.601M']
spot of 30.55 with type <class 'str'>
['Fr', '6/15/12', '30.69', '2.972M', '4.719M']
spot of 30.69 with type <class 'str'>
['Th', '6/14/12', '30.2', '2.341M', '4.913M']
spot of 30.2 with type <class 'str'>
['We', '6/13/12', '30.34', '3.309M', '5.179M']
spot of 30.34 with type <class 'str'>
['Tu', '6/12/12', '30.54', '4.376M', '5.503M']
spot of 30.54 with type <class 'str'>
['Mo', '6/11/12', '30.66', '4.76M', '5.552M']
spot of 30.66 with type <class 'str'>
['Fr', '6/8/12', '31.23', '2.718M', '5.767M']
spot of 31.23 with type <class 'str'>

spot of 38.98 with type <class 'str'>
['We', '3/7/12', '37.87', '2.539M', '3.566M']
spot of 37.87 with type <class 'str'>
['Tu', '3/6/12', '37.22', '3.065M', '3.601M']
spot of 37.22 with type <class 'str'>
['Mo', '3/5/12', '38.47', '4.477M', '3.596M']
spot of 38.47 with type <class 'str'>
['Fr', '3/2/12', '38.93', '6.288M', '3.486M']
spot of 38.93 with type <class 'str'>
['Th', '3/1/12', '39.86', '4.016M', '3.267M']
spot of 39.86 with type <class 'str'>
['We', '2/29/12', '39.25', '6.332M', '3.313M']
spot of 39.25 with type <class 'str'>
['Tu', '2/28/12', '39.38', '5.182M', '3.091M']
spot of 39.38 with type <class 'str'>
['Mo', '2/27/12', '38.79', '4.272M', '2.905M']
spot of 38.79 with type <class 'str'>
['Fr', '2/24/12', '39.78', '1.378M', '2.775M']
spot of 39.78 with type <class 'str'>
['Th', '2/23/12', '39.7', '2.148M', '2.91M']
spot of 39.7 with type <class 'str'>
['We', '2/22/12', '39.56', '2.004M', '3.255M']
spot of 39.56 with type <class 'str'>
['Tu', '2/21/12', '40.24', '1.819M', '3.354M']
spot of 40.24 with type <class 'str'>
['Fr', '2/17/12', '40.45', '2.772M', '3.375M']
spot of 40.45 with type <class 'str'>
['Th', '2/16/12', '40.59', '4.573M', '3.375M']
spot of 40.59 with type <class 'str'>
['We', '2/15/12', '38.3', '2.625M', '3.285M']
spot of 38.3 with type <class 'str'>
['Tu', '2/14/12', '39.14', '3.061M', '3.459M']
spot of 39.14 with type <class 'str'>
['Mo', '2/13/12', '38.17', '2.994M', '4.13M']
spot of 38.17 with type <class 'str'>
['Fr', '2/10/12', '38.57', '2.825M', '4.271M']
spot of 38.57 with type <class 'str'>
['Th', '2/9/12', '39.19', '3.001M', '4.394M']
spot of 39.19 with type <class 'str'>
['We', '2/8/12', '39.77', '4.71M', '4.477M']
spot of 39.77 with type <class 'str'>
['Tu', '2/7/12', '38.88', '3.003M', '4.362M']
spot of 38.88 with type <class 'str'>
['Mo', '2/6/12', '38.72', '2.39M', '4.397M']
spot of 38.72 with type <class 'str'>
['Fr', '2/3/12', '38.58', '2.329M', '4.398M']
spot of 38.58 with type <class 'str'>
['Th', '2/2/12', '37.57', '3.396M', '4.48M']
spot of 37.57 with type <class 'str'>
['We', '2/1/12', '38.03', '7.321M', '4.483M']
spot of 38.03 with type <class 'str'>
['Tu', '1/31/12', '36.35', '3.492M', '4.333M']
spot of 36.35 with type <class 'str'>
['Mo', '1/30/12', '36.87', '2.129M', '4.395M']
spot of 36.87 with type <class 'str'>
['Fr', '1/27/12', '37.05', '2.779M', '4.554M']
spot of 37.05 with type <class 'str'>
['Th', '1/26/12', '37.01', '3.211M', '4.841M']
spot of 37.01 with type <class 'str'>
['We', '1/25/12', '37.4', '5.24M', '4.918M']
spot of 37.4 with type <class 'str'>
['Tu', '1/24/12', '36.88', '13.129M', '4.753M']
spot of 36.88 with type <class 'str'>
['Mo', '1/23/12', '34.71', '5.108M', '3.983M']
spot of 34.71 with type <class 'str'>
['Fr', '1/20/12', '34.65', '4.677M', '3.739M']
spot of 34.65 with type <class 'str'>
['Th', '1/19/12', '33.95', '4.243M', '3.59M']
spot of 33.95 with type <class 'str'>
['We', '1/18/12', '33.66', '2.987M', '3.474M']
spot of 33.66 with type <class 'str'>
['Tu', '1/17/12', '33.09', '3.52M', '3.381M']
spot of 33.09 with type <class 'str'>
['Fr', '1/13/12', '33.35', '2.405M', '3.294M']
spot of 33.35 with type <class 'str'>
['Th', '1/12/12', '33.86', '3.56M', '3.301M']
spot of 33.86 with type <class 'str'>
['We', '1/11/12', '33.36', '3.448M', '3.265M']
spot of 33.36 with type <class 'str'>
['Tu', '1/10/12', '33.53', '5.063M', '3.184M']
spot of 33.53 with type <class 'str'>
['Mo', '1/9/12', '33.75', '4.428M', '3.11M']
spot of 33.75 with type <class 'str'>
['Fr', '1/6/12', '33.49', '4.515M', '2.976M']
spot of 33.49 with type <class 'str'>
['Th', '1/5/12', '32.76', '7.084M', '2.898M']
spot of 32.76 with type <class 'str'>
['We', '1/4/12', '31.3', '4.371M', '2.649M']
spot of 31.3 with type <class 'str'>
['Tu', '1/3/12', '30.98', '2.761M', '2.612M']
spot of 30.98 with type <class 'str'>
['Fr', '12/30/11', '30.95', '1.58M', '2.64M']
spot of 30.95 with type <class 'str'>
['Th', '12/29/11', '31.1', '1.448M', '2.861M']
spot of 31.1 with type <class 'str'>
['We', '12/28/11', '30.76', '2.444M', '3.046M']
spot of 30.76 with type <class 'str'>
['Tu', '12/27/11', '31.23', '2.503M', '3.18M']
spot of 31.23 with type <class 'str'>
['Fr', '12/23/11', '32.14', '1.59M', '3.565M']
spot of 32.14 with type <class 'str'>
['Th', '12/22/11', '31.71', '2.216M', '4.349M']
spot of 31.71 with type <class 'str'>
['We', '12/21/11', '31.4', '2.511M', '4.509M']
spot of 31.4 with type <class 'str'>
['Tu', '12/20/11', '31.89', '3.021M', '4.821M']
spot of 31.89 with type <class 'str'>
['Mo', '12/19/11', '30.64', '2.229M', '5.026M']
spot of 30.64 with type <class 'str'>
['Fr', '12/16/11', '30.95', '3.95M', '5.13M']
spot of 30.95 with type <class 'str'>
['Th', '12/15/11', '30.67', '2.424M', '4.973M']
spot of 30.67 with type <class 'str'>
['We', '12/14/11', '30.51', '3.34M', '5.083M']
spot of 30.51 with type <class 'str'>
['Tu', '12/13/11', '31.06', '3.347M', '5.103M']
spot of 31.06 with type <class 'str'>
['Mo', '12/12/11', '31.94', '3.82M', '5.226M']
spot of 31.94 with type <class 'str'>
['Fr', '12/9/11', '32.38', '3.183M', '5.347M']
spot of 32.38 with type <class 'str'>
['Th', '12/8/11', '31.53', '4.883M', '5.601M']
spot of 31.53 with type <class 'str'>
['We', '12/7/11', '31.82', '4.236M', '5.979M']
spot of 31.82 with type <class 'str'>
['Tu', '12/6/11', '31.68', '4.453M', '6.187M']
spot of 31.68 with type <class 'str'>
['Mo', '12/5/11', '32.01', '8.272M', '6.012M']
spot of 32.01 with type <class 'str'>
['Fr', '12/2/11', '31.44', '13.344M', '5.643M']
spot of 31.44 with type <class 'str'>
['Th', '12/1/11', '29.25', '4.623M', '5.117M']
spot of 29.25 with type <class 'str'>
['We', '11/30/11', '29.07', '7.199M', '5.118M']
spot of 29.07 with type <class 'str'>
['Tu', '11/29/11', '27.51', '6.093M', '5.028M']
spot of 27.51 with type <class 'str'>
['Mo', '11/28/11', '26.56', '3.791M', '5.005M']
spot of 26.56 with type <class 'str'>
['Fr', '11/25/11', '25', '1.596M', '5.09M']
spot of 25 with type <class 'str'>
['We', '11/23/11', '25.59', '4.063M', '5.362M']
spot of 25.59 with type <class 'str'>
['Tu', '11/22/11', '25.78', '3.645M', '5.539M']
spot of 25.78 with type <class 'str'>
['Mo', '11/21/11', '26.11', '5.188M', '5.739M']
spot of 26.11 with type <class 'str'>
['Fr', '11/18/11', '26.04', '5.636M', '5.689M']
spot of 26.04 with type <class 'str'>
['Th', '11/17/11', '25.26', '6.998M', '5.699M']
spot of 25.26 with type <class 'str'>
['We', '11/16/11', '26.82', '10.542M', '5.855M']
spot of 26.82 with type <class 'str'>
['Tu', '11/15/11', '25.05', '7.369M', '5.645M']
spot of 25.05 with type <class 'str'>
['Mo', '11/14/11', '26.34', '1.826M', '5.405M']
spot of 26.34 with type <class 'str'>
['Fr', '11/11/11', '26.62', '2.733M', '5.719M']
spot of 26.62 with type <class 'str'>
['Th', '11/10/11', '25.79', '5.448M', '6.147M']
spot of 25.79 with type <class 'str'>
['We', '11/9/11', '26.01', '4.635M', '6.763M']
spot of 26.01 with type <class 'str'>
['Tu', '11/8/11', '27.79', '5.848M', '7.409M']
spot of 27.79 with type <class 'str'>
['Mo', '11/7/11', '27.68', '5.753M', '7.629M']
spot of 27.68 with type <class 'str'>
['Fr', '11/4/11', '27.95', '5.066M', '7.685M']
spot of 27.95 with type <class 'str'>
['Th', '11/3/11', '28.44', '5.672M', '7.616M']
spot of 28.44 with type <class 'str'>
['We', '11/2/11', '27.31', '6.718M', '7.577M']
spot of 27.31 with type <class 'str'>
['Tu', '11/1/11', '26.5', '6.657M', '7.676M']
spot of 26.5 with type <class 'str'>
['Mo', '10/31/11', '26.64', '4.427M', '7.717M']
spot of 26.64 with type <class 'str'>
['Fr', '10/28/11', '27.3', '5.785M', '7.735M']
spot of 27.3 with type <class 'str'>
['Th', '10/27/11', '27.42', '9.339M', '7.667M']
spot of 27.42 with type <class 'str'>
['We', '10/26/11', '27.91', '7.4M', '7.312M']
spot of 27.91 with type <class 'str'>
['Tu', '10/25/11', '26.36', '3.772M', '7.139M']
spot of 26.36 with type <class 'str'>
['Mo', '10/24/11', '27.25', '6.528M', '7.15M']
spot of 27.25 with type <class 'str'>
['Fr', '10/21/11', '25.97', '9.148M', '7.058M']
spot of 25.97 with type <class 'str'>
['Th', '10/20/11', '25.96', '14.689M', '6.685M']
spot of 25.96 with type <class 'str'>
['We', '10/19/11', '24.44', '14.327M', '5.972M']
spot of 24.44 with type <class 'str'>
['Tu', '10/18/11', '26.94', '9.147M', '5.319M']
spot of 26.94 with type <class 'str'>
['Mo', '10/17/11', '26.25', '6.597M', '4.917M']
spot of 26.25 with type <class 'str'>
['Fr', '10/14/11', '28.34', '4.029M', '4.779M']
spot of 28.34 with type <class 'str'>
['Th', '10/13/11', '28.66', '5.091M', '4.723M']
spot of 28.66 with type <class 'str'>
['We', '10/12/11', '27.55', '8.198M', '4.745M']
spot of 27.55 with type <class 'str'>
['Tu', '10/11/11', '28.88', '7.283M', '4.489M']
spot of 28.88 with type <class 'str'>
['Mo', '10/10/11', '27.93', '4.692M', '4.205M']
spot of 27.93 with type <class 'str'>
['Fr', '10/7/11', '26.94', '4.768M', '4.106M']
spot of 26.94 with type <class 'str'>
['Th', '10/6/11', '27.48', '4.013M', '3.968M']
spot of 27.48 with type <class 'str'>
['We', '10/5/11', '26.95', '4.806M', '3.868M']
spot of 26.95 with type <class 'str'>
['Tu', '10/4/11', '25.38', '3.927M', '3.859M']
spot of 25.38 with type <class 'str'>
['Mo', '10/3/11', '24.6', '5.154M', '3.801M']
spot of 24.6 with type <class 'str'>
['Fr', '9/30/11', '25.72', '3.545M', '3.71M']
spot of 25.72 with type <class 'str'>
['Th', '9/29/11', '26.74', '4.002M', '3.91M']
spot of 26.74 with type <class 'str'>
['We', '9/28/11', '27.01', '4.526M', '3.883M']
spot of 27.01 with type <class 'str'>
['Tu', '9/27/11', '28.09', '3.123M', '3.874M']
spot of 28.09 with type <class 'str'>
['Mo', '9/26/11', '27.79', '4.528M', '3.911M']
spot of 27.79 with type <class 'str'>
['Fr', '9/23/11', '26.44', '3.186M', '3.809M']
spot of 26.44 with type <class 'str'>
['Th', '9/22/11', '25.96', '5.421M', '3.805M']
spot of 25.96 with type <class 'str'>
['We', '9/21/11', '27.65', '4.36M', '3.7M']
spot of 27.65 with type <class 'str'>
['Tu', '9/20/11', '28.32', '3.03M', '3.646M']
spot of 28.32 with type <class 'str'>
['Mo', '9/19/11', '29.27', '3.203M', '3.567M']
spot of 29.27 with type <class 'str'>
['Fr', '9/16/11', '30.07', '2.7M', '3.536M']
spot of 30.07 with type <class 'str'>
['Th', '9/15/11', '30.06', '2.511M', '3.622M']
spot of 30.06 with type <class 'str'>
['We', '9/14/11', '29.6', '4.673M', '3.67M']
spot of 29.6 with type <class 'str'>
['Tu', '9/13/11', '29.13', '3.048M', '3.635M']
spot of 29.13 with type <class 'str'>
['Mo', '9/12/11', '28.86', '3.8M', '3.745M']
spot of 28.86 with type <class 'str'>
['Fr', '9/9/11', '28.46', '6.547M', '3.921M']
spot of 28.46 with type <class 'str'>
['Th', '9/8/11', '28.31', '3.59M', '3.861M']
spot of 28.31 with type <class 'str'>
['We', '9/7/11', '28.49', '4.387M', '3.896M']
spot of 28.49 with type <class 'str'>
['Tu', '9/6/11', '27.44', '3.678M', '3.858M']
spot of 27.44 with type <class 'str'>
['Fr', '9/2/11', '27.44', '3.006M', '3.819M']
spot of 27.44 with type <class 'str'>
['Th', '9/1/11', '28.7', '3.126M', '3.906M']
spot of 28.7 with type <class 'str'>
['We', '8/31/11', '29.49', '3.843M', '4.066M']
spot of 29.49 with type <class 'str'>
['Tu', '8/30/11', '29.63', '3.555M', '4.311M']
spot of 29.63 with type <class 'str'>
['Mo', '8/29/11', '29.11', '1.843M', '4.677M']
spot of 29.11 with type <class 'str'>
['Fr', '8/26/11', '28.29', '2.737M', '5.224M']
spot of 28.29 with type <class 'str'>
['Th', '8/25/11', '27.61', '3.991M', '5.499M']
spot of 27.61 with type <class 'str'>
['We', '8/24/11', '27.91', '3.222M', '5.526M']
spot of 27.91 with type <class 'str'>
['Tu', '8/23/11', '27.57', '4.15M', '5.689M']
spot of 27.57 with type <class 'str'>
['Mo', '8/22/11', '26.51', '4.697M', '5.745M']
spot of 26.51 with type <class 'str'>
['Fr', '8/19/11', '26.41', '6.437M', '5.655M']
spot of 26.41 with type <class 'str'>
['Th', '8/18/11', '27.83', '5.646M', '5.529M']
spot of 27.83 with type <class 'str'>
['We', '8/17/11', '30', '4.126M', '5.316M']
spot of 30 with type <class 'str'>
['Tu', '8/16/11', '31.06', '3.813M', '5.293M']
spot of 31.06 with type <class 'str'>
['Mo', '8/15/11', '31.47', '3.097M', '5.357M']
spot of 31.47 with type <class 'str'>
['Fr', '8/12/11', '30.7', '4.305M', '5.446M']
spot of 30.7 with type <class 'str'>
['Th', '8/11/11', '30.46', '5.529M', '5.842M']
spot of 30.46 with type <class 'str'>
['We', '8/10/11', '29.11', '7.51M', '6.211M']
spot of 29.11 with type <class 'str'>
['Tu', '8/9/11', '30.32', '9.053M', '5.961M']
spot of 30.32 with type <class 'str'>
['Mo', '8/8/11', '29.11', '10.044M', '5.527M']
spot of 29.11 with type <class 'str'>
['Fr', '8/5/11', '30.54', '6.862M', '4.991M']
spot of 30.54 with type <class 'str'>
['Th', '8/4/11', '31', '4.398M', '4.697M']
spot of 31 with type <class 'str'>
['We', '8/3/11', '33.15', '5.673M', '4.56M']
spot of 33.15 with type <class 'str'>
['Tu', '8/2/11', '32.78', '4.988M', '4.293M']
spot of 32.78 with type <class 'str'>
['Mo', '8/1/11', '34.55', '3.341M', '4.109M']
spot of 34.55 with type <class 'str'>
['Fr', '7/29/11', '34.46', '4.552M', '4.106M']
spot of 34.46 with type <class 'str'>
['Th', '7/28/11', '35.34', '2.452M', '4.032M']
spot of 35.34 with type <class 'str'>
['We', '7/27/11', '35.51', '3.782M', '4.129M']
spot of 35.51 with type <class 'str'>
['Tu', '7/26/11', '36.45', '4.778M', '4.11M']
spot of 36.45 with type <class 'str'>
['Mo', '7/25/11', '36.9', '4.424M', '3.946M']
spot of 36.9 with type <class 'str'>
['Fr', '7/22/11', '38.04', '10.243M', '3.793M']
spot of 38.04 with type <class 'str'>
['Th', '7/21/11', '35.13', '11.071M', '3.321M']
spot of 35.13 with type <class 'str'>
['We', '7/20/11', '38.08', '3.755M', '2.763M']
spot of 38.08 with type <class 'str'>
['Tu', '7/19/11', '37.73', '2.539M', '2.689M']
spot of 37.73 with type <class 'str'>
['Mo', '7/18/11', '36.74', '2.015M', '2.755M']
spot of 36.74 with type <class 'str'>
['Fr', '7/15/11', '37.27', '2.444M', '3.073M']
spot of 37.27 with type <class 'str'>
['Th', '7/14/11', '37.06', '2.345M', '3.366M']
spot of 37.06 with type <class 'str'>
['We', '7/13/11', '37.28', '1.672M', '3.382M']
spot of 37.28 with type <class 'str'>
['Tu', '7/12/11', '37.02', '2.219M', '3.417M']
spot of 37.02 with type <class 'str'>
['Mo', '7/11/11', '37.21', '3.296M', '3.425M']
spot of 37.21 with type <class 'str'>
['Fr', '7/8/11', '38.52', '3.451M', '3.41M']
spot of 38.52 with type <class 'str'>
['Th', '7/7/11', '38.51', '3.899M', '3.414M']
spot of 38.51 with type <class 'str'>
['We', '7/6/11', '37.39', '3.503M', '3.425M']
spot of 37.39 with type <class 'str'>
['Tu', '7/5/11', '36.78', '2.311M', '3.502M']
spot of 36.78 with type <class 'str'>
['Fr', '7/1/11', '36.64', '2.138M', '3.501M']
spot of 36.64 with type <class 'str'>
['Th', '6/30/11', '36.38', '3.152M', '3.641M']
spot of 36.38 with type <class 'str'>
['We', '6/29/11', '35.93', '2.702M', '3.601M']
spot of 35.93 with type <class 'str'>
['Tu', '6/28/11', '35.59', '2.647M', '3.641M']
spot of 35.59 with type <class 'str'>
['Mo', '6/27/11', '34.9', '3.531M', '3.616M']
spot of 34.9 with type <class 'str'>
['Fr', '6/24/11', '35.18', '6.792M', '3.608M']
spot of 35.18 with type <class 'str'>
['Th', '6/23/11', '37.01', '6.831M', '3.373M']
spot of 37.01 with type <class 'str'>
['We', '6/22/11', '34.57', '2.588M', '3.094M']
spot of 34.57 with type <class 'str'>
['Tu', '6/21/11', '34.81', '2.196M', '3.165M']
spot of 34.81 with type <class 'str'>
['Mo', '6/20/11', '33.5', '2.334M', '3.2M']
spot of 33.5 with type <class 'str'>
['Fr', '6/17/11', '33.47', '3.074M', '3.186M']
spot of 33.47 with type <class 'str'>
['Th', '6/16/11', '34.25', '3.512M', '3.184M']
spot of 34.25 with type <class 'str'>
['We', '6/15/11', '34.16', '4.069M', '3.139M']
spot of 34.16 with type <class 'str'>
['Tu', '6/14/11', '35.36', '4.658M', '3.008M']
spot of 35.36 with type <class 'str'>
['Mo', '6/13/11', '33.59', '2.297M', '2.87M']
spot of 33.59 with type <class 'str'>
['Fr', '6/10/11', '33.96', '4.232M', '2.84M']
spot of 33.96 with type <class 'str'>
['Th', '6/9/11', '33.69', '2.551M', '2.747M']
spot of 33.69 with type <class 'str'>
['We', '6/8/11', '33.7', '3.31M', '2.748M']
spot of 33.7 with type <class 'str'>
['Tu', '6/7/11', '34.19', '2.271M', '2.764M']
spot of 34.19 with type <class 'str'>
['Mo', '6/6/11', '34.32', '3.41M', '2.871M']
spot of 34.32 with type <class 'str'>
['Fr', '6/3/11', '34.96', '3.27M', '2.829M']
spot of 34.96 with type <class 'str'>
['Th', '6/2/11', '35.03', '2.634M', '2.767M']
spot of 35.03 with type <class 'str'>
['We', '6/1/11', '35.26', '3.661M', '2.726M']
spot of 35.26 with type <class 'str'>
['Tu', '5/31/11', '36.65', '2.718M', '2.696M']
spot of 36.65 with type <class 'str'>
['Fr', '5/27/11', '35.72', '2.127M', '2.704M']
spot of 35.72 with type <class 'str'>
['Th', '5/26/11', '35.66', '3.042M', '2.765M']
spot of 35.66 with type <class 'str'>
['We', '5/25/11', '35.8', '2.842M', '2.744M']
spot of 35.8 with type <class 'str'>
['Tu', '5/24/11', '35.96', '2.093M', '2.854M']
spot of 35.96 with type <class 'str'>
['Mo', '5/23/11', '35.85', '2.599M', '2.911M']
spot of 35.85 with type <class 'str'>
['Fr', '5/20/11', '36.14', '1.844M', '2.904M']
spot of 36.14 with type <class 'str'>
['Th', '5/19/11', '36.35', '2.829M', '3.027M']
spot of 36.35 with type <class 'str'>
['We', '5/18/11', '36.82', '2.568M', '3.084M']
spot of 36.82 with type <class 'str'>
['Tu', '5/17/11', '36.31', '3.559M', '3.141M']
spot of 36.31 with type <class 'str'>
['Mo', '5/16/11', '36.38', '3.869M', '3.197M']
spot of 36.38 with type <class 'str'>
['Fr', '5/13/11', '37.49', '2.776M', '3.181M']
spot of 37.49 with type <class 'str'>
['Th', '5/12/11', '38.45', '2.352M', '3.508M']
spot of 38.45 with type <class 'str'>
['We', '5/11/11', '38.44', '2.019M', '3.747M']
spot of 38.44 with type <class 'str'>
['Tu', '5/10/11', '38.9', '3.209M', '4.103M']
spot of 38.9 with type <class 'str'>
['Mo', '5/9/11', '38.06', '2.84M', '4.192M']
spot of 38.06 with type <class 'str'>
['Fr', '5/6/11', '38.08', '3.03M', '4.221M']
spot of 38.08 with type <class 'str'>
['Th', '5/5/11', '37.67', '2.738M', '4.354M']
spot of 37.67 with type <class 'str'>
['We', '5/4/11', '38', '4.492M', '4.452M']
spot of 38 with type <class 'str'>
['Tu', '5/3/11', '38.56', '2.945M', '4.381M']
spot of 38.56 with type <class 'str'>
['Mo', '5/2/11', '39.46', '2.497M', '4.394M']
spot of 39.46 with type <class 'str'>
['Fr', '4/29/11', '39.8', '3.678M', '4.664M']
spot of 39.8 with type <class 'str'>
['Th', '4/28/11', '40.24', '3.685M', '4.61M']
spot of 40.24 with type <class 'str'>
['We', '4/27/11', '39.86', '3.427M', '4.588M']
spot of 39.86 with type <class 'str'>
['Tu', '4/26/11', '40.82', '4.4M', '4.592M']
spot of 40.82 with type <class 'str'>
['Mo', '4/25/11', '40.46', '3.624M', '4.505M']
spot of 40.46 with type <class 'str'>
['Th', '4/21/11', '41.24', '7.69M', '4.557M']
spot of 41.24 with type <class 'str'>
['We', '4/20/11', '40.65', '5.931M', '4.276M']
spot of 40.65 with type <class 'str'>
['Tu', '4/19/11', '39.51', '7.368M', '4.114M']
spot of 39.51 with type <class 'str'>
['Mo', '4/18/11', '38.67', '4.53M', '3.86M']
spot of 38.67 with type <class 'str'>
['Fr', '4/15/11', '38.74', '3.285M', '3.867M']
spot of 38.74 with type <class 'str'>
['Th', '4/14/11', '38.38', '5.013M', '4.202M']
spot of 38.38 with type <class 'str'>
['We', '4/13/11', '37.65', '4.213M', '4.23M']
spot of 37.65 with type <class 'str'>
['Tu', '4/12/11', '38.13', '3.429M', '4.13M']
spot of 38.13 with type <class 'str'>
['Mo', '4/11/11', '38.74', '3.143M', '4.026M']
spot of 38.74 with type <class 'str'>
['Fr', '4/8/11', '38.8', '6.545M', '4.054M']
spot of 38.8 with type <class 'str'>
['Th', '4/7/11', '37.8', '2.865M', '3.946M']
spot of 37.8 with type <class 'str'>
['We', '4/6/11', '37.67', '3.356M', '4.038M']
spot of 37.67 with type <class 'str'>
['Tu', '4/5/11', '37.03', '3.487M', '4.125M']
spot of 37.03 with type <class 'str'>
['Mo', '4/4/11', '37.3', '3.099M', '4.159M']
spot of 37.3 with type <class 'str'>
['Fr', '4/1/11', '38.18', '4.403M', '4.263M']
spot of 38.18 with type <class 'str'>
['Th', '3/31/11', '37.29', '3.467M', '4.186M']
spot of 37.29 with type <class 'str'>

spot of 33.65 with type <class 'str'>
['Tu', '12/28/10', '33.84', '1.142M', '2.808M']
spot of 33.84 with type <class 'str'>
['Mo', '12/27/10', '33.81', '1.21M', '2.852M']
spot of 33.81 with type <class 'str'>
['Th', '12/23/10', '33.83', '1.35M', '2.935M']
spot of 33.83 with type <class 'str'>
['We', '12/22/10', '33.8', '2.726M', '3.128M']
spot of 33.8 with type <class 'str'>
['Tu', '12/21/10', '33.5', '2.42M', '3.165M']
spot of 33.5 with type <class 'str'>
['Mo', '12/20/10', '33.09', '3.408M', '3.371M']
spot of 33.09 with type <class 'str'>
['Fr', '12/17/10', '32.97', '4.414M', '3.383M']
spot of 32.97 with type <class 'str'>
['Th', '12/16/10', '33.04', '2.85M', '3.204M']
spot of 33.04 with type <class 'str'>
['We', '12/15/10', '33.21', '5.911M', '3.235M']
spot of 33.21 with type <class 'str'>
['Tu', '12/14/10', '34.62', '2.608M', '3.023M']
spot of 34.62 with type <class 'str'>
['Mo', '12/13/10', '35.51', '2.005M', '3.09M']
spot of 35.51 with type <class 'str'>
['Fr', '12/10/10', '35.68', '2.515M', '3.393M']
spot of 35.68 with type <class 'str'>
['Th', '12/9/10', '35.08', '1.956M', '3.566M']
spot of 35.08 with type <class 'str'>
['We', '12/8/10', '35.02', '3.269M', '3.634M']
spot of 35.02 with type <class 'str'>
['Tu', '12/7/10', '35.08', '4.338M', '3.69M']
spot of 35.08 with type <class 'str'>
['Mo', '12/6/10', '34.45', '1.797M', '3.623M']
spot of 34.45 with type <class 'str'>
['Fr', '12/3/10', '34.67', '2.462M', '3.757M']
spot of 34.67 with type <class 'str'>
['Th', '12/2/10', '34.65', '4.239M', '3.91M']
spot of 34.65 with type <class 'str'>
['We', '12/1/10', '34.15', '3.28M', '4.026M']
spot of 34.15 with type <class 'str'>
['Tu', '11/30/10', '33.5', '5.51M', '4.171M']
spot of 33.5 with type <class 'str'>
['Mo', '11/29/10', '33.72', '3.587M', '4.041M']
spot of 33.72 with type <class 'str'>
['Fr', '11/26/10', '33.76', '1.726M', '4.189M']
spot of 33.76 with type <class 'str'>
['We', '11/24/10', '33.87', '3.322M', '4.286M']
spot of 33.87 with type <class 'str'>
['Tu', '11/23/10', '32.96', '2.723M', '4.367M']
spot of 32.96 with type <class 'str'>
['Mo', '11/22/10', '33.71', '3.622M', '4.485M']
spot of 33.71 with type <class 'str'>
['Fr', '11/19/10', '33.98', '6.548M', '4.624M']
spot of 33.98 with type <class 'str'>
['Th', '11/18/10', '32.31', '5.114M', '4.598M']
spot of 32.31 with type <class 'str'>
['We', '11/17/10', '31.38', '2.973M', '4.949M']
spot of 31.38 with type <class 'str'>
['Tu', '11/16/10', '31.61', '4.113M', '5.174M']
spot of 31.61 with type <class 'str'>
['Mo', '11/15/10', '32', '3.331M', '5.155M']
spot of 32 with type <class 'str'>
['Fr', '11/12/10', '32.58', '3.807M', '5.169M']
spot of 32.58 with type <class 'str'>
['Th', '11/11/10', '32.99', '4.752M', '5.172M']
spot of 32.99 with type <class 'str'>
['We', '11/10/10', '33.52', '5.982M', '5.314M']
spot of 33.52 with type <class 'str'>
['Tu', '11/9/10', '34.57', '5.462M', '5.648M']
spot of 34.57 with type <class 'str'>
['Mo', '11/8/10', '34.79', '3.548M', '5.741M']
spot of 34.79 with type <class 'str'>
['Fr', '11/5/10', '34.76', '5.809M', '6.019M']
spot of 34.76 with type <class 'str'>
['Th', '11/4/10', '33.58', '3.179M', '6.579M']
spot of 33.58 with type <class 'str'>
['We', '11/3/10', '33.28', '4.539M', '6.707M']
spot of 33.28 with type <class 'str'>
['Tu', '11/2/10', '33.01', '4.503M', '6.671M']
spot of 33.01 with type <class 'str'>
['Mo', '11/1/10', '32.62', '5.705M', '6.675M']
spot of 32.62 with type <class 'str'>
['Fr', '10/29/10', '32.01', '6.152M', '6.553M']
spot of 32.01 with type <class 'str'>
['Th', '10/28/10', '31.5', '10.38M', '6.628M']
spot of 31.5 with type <class 'str'>
['We', '10/27/10', '31.59', '6.354M', '6.341M']
spot of 31.59 with type <class 'str'>
['Tu', '10/26/10', '30.95', '3.824M', '6.397M']
spot of 30.95 with type <class 'str'>
['Mo', '10/25/10', '30.44', '3.542M', '6.47M']
spot of 30.44 with type <class 'str'>
['Fr', '10/22/10', '30.43', '3.848M', '6.495M']
spot of 30.43 with type <class 'str'>
['Th', '10/21/10', '30.55', '6.876M', '6.52M']
spot of 30.55 with type <class 'str'>
['We', '10/20/10', '30.5', '10.996M', '6.482M']
spot of 30.5 with type <class 'str'>
['Tu', '10/19/10', '30.2', '6.863M', '6.221M']
spot of 30.2 with type <class 'str'>
['Mo', '10/18/10', '31.47', '7.711M', '6.212M']
spot of 31.47 with type <class 'str'>
['Fr', '10/15/10', '31.89', '14.208M', '5.961M']
spot of 31.89 with type <class 'str'>
['Th', '10/14/10', '29.49', '5.112M', '5.398M']
spot of 29.49 with type <class 'str'>
['We', '10/13/10', '29.67', '3.996M', '5.446M']
spot of 29.67 with type <class 'str'>
['Tu', '10/12/10', '29.42', '4.559M', '5.612M']
spot of 29.42 with type <class 'str'>
['Mo', '10/11/10', '29.18', '3.877M', '6.197M']
spot of 29.18 with type <class 'str'>
['Fr', '10/8/10', '28.9', '7.276M', '6.251M']
spot of 28.9 with type <class 'str'>
['Th', '10/7/10', '28.35', '6.079M', '6.146M']
spot of 28.35 with type <class 'str'>
['We', '10/6/10', '27.9', '7.195M', '6.023M']
spot of 27.9 with type <class 'str'>
['Tu', '10/5/10', '28.78', '4.917M', '5.958M']
spot of 28.78 with type <class 'str'>
['Mo', '10/4/10', '27.97', '3.917M', '6.033M']
spot of 27.97 with type <class 'str'>
['Fr', '10/1/10', '28.25', '4.222M', '6.169M']
spot of 28.25 with type <class 'str'>
['Th', '9/30/10', '28.39', '6.3M', '6.132M']
spot of 28.39 with type <class 'str'>
['We', '9/29/10', '28.73', '7.087M', '5.96M']
spot of 28.73 with type <class 'str'>
['Tu', '9/28/10', '27.75', '6.727M', '6.016M']
spot of 27.75 with type <class 'str'>
['Mo', '9/27/10', '27.7', '3.952M', '5.83M']
spot of 27.7 with type <class 'str'>
['Fr', '9/24/10', '28.2', '5.756M', '5.834M']
spot of 28.2 with type <class 'str'>
['Th', '9/23/10', '27.17', '5.831M', '5.808M']
spot of 27.17 with type <class 'str'>
['We', '9/22/10', '26.68', '6.489M', '5.871M']
spot of 26.68 with type <class 'str'>
['Tu', '9/21/10', '27.47', '13.332M', '5.882M']
spot of 27.47 with type <class 'str'>
['Mo', '9/20/10', '27.38', '4.685M', '5.581M']
spot of 27.38 with type <class 'str'>
['Fr', '9/17/10', '26.53', '5.707M', '5.88M']
spot of 26.53 with type <class 'str'>
['Th', '9/16/10', '26.92', '4.222M', '5.753M']
spot of 26.92 with type <class 'str'>
['We', '9/15/10', '27.28', '6.233M', '5.758M']
spot of 27.28 with type <class 'str'>
['Tu', '9/14/10', '26.69', '6.037M', '5.732M']
spot of 26.69 with type <class 'str'>
['Mo', '9/13/10', '27.04', '5.948M', '5.714M']
spot of 27.04 with type <class 'str'>
['Fr', '9/10/10', '25.65', '3.671M', '5.84M']
spot of 25.65 with type <class 'str'>
['Th', '9/9/10', '25.95', '3.727M', '6.016M']
spot of 25.95 with type <class 'str'>
['We', '9/8/10', '26.17', '7.921M', '6.097M']
spot of 26.17 with type <class 'str'>
['Tu', '9/7/10', '26.02', '3.941M', '5.996M']
spot of 26.02 with type <class 'str'>
['Fr', '9/3/10', '26.59', '4.016M', '6.093M']
spot of 26.59 with type <class 'str'>
['Th', '9/2/10', '26.07', '5.353M', '6.105M']
spot of 26.07 with type <class 'str'>
['We', '9/1/10', '25.66', '6.785M', '6.371M']
spot of 25.66 with type <class 'str'>
['Tu', '8/31/10', '24.1575', '6.645M', '6.981M']
spot of 24.1575 with type <class 'str'>
['Mo', '8/30/10', '24.74', '8.83M', '7.213M']
spot of 24.74 with type <class 'str'>
['Fr', '8/27/10', '25.23', '9.161M', '6.963M']
spot of 25.23 with type <class 'str'>
['Th', '8/26/10', '23.62', '3.81M', '6.767M']
spot of 23.62 with type <class 'str'>
['We', '8/25/10', '24.08', '4.286M', '6.74M']
spot of 24.08 with type <class 'str'>
['Tu', '8/24/10', '23.74', '5.844M', '6.811M']
spot of 23.74 with type <class 'str'>
['Mo', '8/23/10', '24.3', '5.764M', '6.718M']
spot of 24.3 with type <class 'str'>
['Fr', '8/20/10', '24.66', '7.841M', '6.754M']
spot of 24.66 with type <class 'str'>
['Th', '8/19/10', '24.03', '6.308M', '6.773M']
spot of 24.03 with type <class 'str'>
['We', '8/18/10', '24.32', '4.949M', '6.918M']
spot of 24.32 with type <class 'str'>
['Tu', '8/17/10', '24.17', '6.402M', '6.971M']
spot of 24.17 with type <class 'str'>
['Mo', '8/16/10', '24.78', '5.393M', '7.04M']
spot of 24.78 with type <class 'str'>
['Fr', '8/13/10', '24.46', '4.204M', '7.133M']
spot of 24.46 with type <class 'str'>
['Th', '8/12/10', '24.24', '9.349M', '7.729M']
spot of 24.24 with type <class 'str'>
['We', '8/11/10', '25.1', '15.921M', '8.16M']
spot of 25.1 with type <class 'str'>
['Tu', '8/10/10', '24.41', '10.135M', '7.647M']
spot of 24.41 with type <class 'str'>
['Mo', '8/9/10', '26', '5.078M', '7.288M']
spot of 26 with type <class 'str'>
['Fr', '8/6/10', '26.19', '6.222M', '7.123M']
spot of 26.19 with type <class 'str'>
['Th', '8/5/10', '26.86', '3.397M', '6.986M']
spot of 26.86 with type <class 'str'>
['We', '8/4/10', '27.09', '5.363M', '7.058M']
spot of 27.09 with type <class 'str'>
['Tu', '8/3/10', '26.76', '4.448M', '7.1M']
spot of 26.76 with type <class 'str'>
['Mo', '8/2/10', '27.15', '6.293M', '7.207M']
spot of 27.15 with type <class 'str'>
['Fr', '7/30/10', '26.39', '8.132M', '7.088M']
spot of 26.39 with type <class 'str'>
['Th', '7/29/10', '26.97', '8.488M', '6.784M']
spot of 26.97 with type <class 'str'>
['We', '7/28/10', '27.8', '5.735M', '6.544M']
spot of 27.8 with type <class 'str'>
['Tu', '7/27/10', '28.74', '7.437M', '6.515M']
spot of 28.74 with type <class 'str'>
['Mo', '7/26/10', '28.82', '6.794M', '6.343M']
spot of 28.82 with type <class 'str'>
['Fr', '7/23/10', '28.02', '13.147M', '6.193M']
spot of 28.02 with type <class 'str'>
['Th', '7/22/10', '28.16', '15.807M', '5.85M']
spot of 28.16 with type <class 'str'>
['We', '7/21/10', '30.18', '8.225M', '5.208M']
spot of 30.18 with type <class 'str'>
['Tu', '7/20/10', '31.85', '4.748M', '5.197M']
spot of 31.85 with type <class 'str'>
['Mo', '7/19/10', '31.72', '2.616M', '5.301M']
spot of 31.72 with type <class 'str'>
['Fr', '7/16/10', '31.45', '4.159M', '5.634M']
spot of 31.45 with type <class 'str'>
['Th', '7/15/10', '32.73', '4.48M', '5.878M']
spot of 32.73 with type <class 'str'>
['We', '7/14/10', '32.69', '5.99M', '5.847M']
spot of 32.69 with type <class 'str'>
['Tu', '7/13/10', '32.04', '6.059M', '5.785M']
spot of 32.04 with type <class 'str'>
['Mo', '7/12/10', '31.36', '4.503M', '5.666M']
spot of 31.36 with type <class 'str'>
['Fr', '7/9/10', '31.59', '3.576M', '5.6M']
spot of 31.59 with type <class 'str'>
['Th', '7/8/10', '31.56', '4.88M', '5.603M']
spot of 31.56 with type <class 'str'>
['We', '7/7/10', '31.28', '5.298M', '5.559M']
spot of 31.28 with type <class 'str'>
['Tu', '7/6/10', '29.87', '4.857M', '5.501M']
spot of 29.87 with type <class 'str'>
['Fr', '7/2/10', '30.2', '4.557M', '5.504M']
spot of 30.2 with type <class 'str'>
['Th', '7/1/10', '30.98', '7.993M', '5.522M']
spot of 30.98 with type <class 'str'>
['We', '6/30/10', '30.16', '6.184M', '5.319M']
spot of 30.16 with type <class 'str'>
['Tu', '6/29/10', '30.67', '8.063M', '5.315M']
spot of 30.67 with type <class 'str'>
['Mo', '6/28/10', '31.7', '6.301M', '5.211M']
spot of 31.7 with type <class 'str'>
['Fr', '6/25/10', '31.78', '7.617M', '5.204M']
spot of 31.78 with type <class 'str'>
['Th', '6/24/10', '31.46', '7.818M', '5.226M']
spot of 31.46 with type <class 'str'>
['We', '6/23/10', '33.42', '4.008M', '5.208M']
spot of 33.42 with type <class 'str'>
['Tu', '6/22/10', '33.28', '5.065M', '5.395M']
spot of 33.28 with type <class 'str'>
['Mo', '6/21/10', '34.17', '4.269M', '5.505M']
spot of 34.17 with type <class 'str'>
['Fr', '6/18/10', '35.01', '3.507M', '5.642M']
spot of 35.01 with type <class 'str'>
['Th', '6/17/10', '35.21', '3.622M', '5.778M']
spot of 35.21 with type <class 'str'>
['We', '6/16/10', '35.21', '4.232M', '6.188M']
spot of 35.21 with type <class 'str'>
['Tu', '6/15/10', '35.53', '4.42M', '6.513M']
spot of 35.53 with type <class 'str'>
['Mo', '6/14/10', '34.35', '4.904M', '6.478M']
spot of 34.35 with type <class 'str'>
['Fr', '6/11/10', '34.35', '4.827M', '6.586M']
spot of 34.35 with type <class 'str'>
['Th', '6/10/10', '34.1', '4.951M', '6.71M']
spot of 34.1 with type <class 'str'>
['We', '6/9/10', '33.21', '6.126M', '6.838M']
spot of 33.21 with type <class 'str'>
['Tu', '6/8/10', '33.49', '6.493M', '7.041M']
spot of 33.49 with type <class 'str'>
['Mo', '6/7/10', '33.48', '6.205M', '6.907M']
spot of 33.48 with type <class 'str'>
['Fr', '6/4/10', '34.42', '7.938M', '6.801M']
spot of 34.42 with type <class 'str'>
['Th', '6/3/10', '36.55', '7.553M', '6.455M']
spot of 36.55 with type <class 'str'>
['We', '6/2/10', '35.24', '6.811M', '6.112M']
spot of 35.24 with type <class 'str'>
['Tu', '6/1/10', '33.56', '6.715M', '5.908M']
spot of 33.56 with type <class 'str'>
['Fr', '5/28/10', '34.81', '6.321M', '5.858M']
spot of 34.81 with type <class 'str'>
['Th', '5/27/10', '36.31', '5.552M', '5.96M']
spot of 36.31 with type <class 'str'>
['We', '5/26/10', '34.36', '9.78M', '6.091M']
spot of 34.36 with type <class 'str'>
['Tu', '5/25/10', '35.16', '9.106M', '5.702M']
spot of 35.16 with type <class 'str'>
['Mo', '5/24/10', '35.55', '3.894M', '5.411M']
spot of 35.55 with type <class 'str'>
['Fr', '5/21/10', '36.01', '6.526M', '5.347M']
spot of 36.01 with type <class 'str'>
['Th', '5/20/10', '35.23', '6.684M', '5.229M']
spot of 35.23 with type <class 'str'>
['We', '5/19/10', '36.06', '6.868M', '5.042M']
spot of 36.06 with type <class 'str'>
['Tu', '5/18/10', '36.73', '9.175M', '4.938M']
spot of 36.73 with type <class 'str'>
['Mo', '5/17/10', '39.08', '4.47M', '4.684M']
spot of 39.08 with type <class 'str'>
['Fr', '5/14/10', '38.56', '4.618M', '4.761M']
spot of 38.56 with type <class 'str'>
['Th', '5/13/10', '39.68', '2.753M', '5.53M']
spot of 39.68 with type <class 'str'>
['We', '5/12/10', '40.59', '2.404M', '5.939M']
spot of 40.59 with type <class 'str'>
['Tu', '5/11/10', '39.65', '3.751M', '6.187M']
spot of 39.65 with type <class 'str'>
['Mo', '5/10/10', '39.95', '5.964M', '6.246M']
spot of 39.95 with type <class 'str'>
['Fr', '5/7/10', '38.34', '7.853M', '6.434M']
spot of 38.34 with type <class 'str'>
['Th', '5/6/10', '38.75', '7.518M', '6.357M']
spot of 38.75 with type <class 'str'>
['We', '5/5/10', '40.66', '3.949M', '6.144M']
spot of 40.66 with type <class 'str'>
['Tu', '5/4/10', '40.53', '4.746M', '6.498M']
spot of 40.53 with type <class 'str'>
['Mo', '5/3/10', '41.74', '2.929M', '6.676M']
spot of 41.74 with type <class 'str'>
['Fr', '4/30/10', '41.09', '4.753M', '6.804M']
spot of 41.09 with type <class 'str'>
['Th', '4/29/10', '42.93', '3.886M', '6.729M']
spot of 42.93 with type <class 'str'>
['We', '4/28/10', '42.76', '5.294M', '6.68M']
spot of 42.76 with type <class 'str'>
['Tu', '4/27/10', '42.8', '5.379M', '6.657M']
spot of 42.8 with type <class 'str'>
['Mo', '4/26/10', '44.11', '5.615M', '6.559M']
spot of 44.11 with type <class 'str'>
['Fr', '4/23/10', '44.71', '16.157M', '6.498M']
spot of 44.71 with type <class 'str'>
['Th', '4/22/10', '40.68', '8.893M', '5.686M']
spot of 40.68 with type <class 'str'>
['We', '4/21/10', '40.29', '6.123M', '5.388M']
spot of 40.29 with type <class 'str'>
['Tu', '4/20/10', '40.22', '4.632M', '5.376M']
spot of 40.22 with type <class 'str'>
['Mo', '4/19/10', '39.58', '8.777M', '5.359M']
spot of 39.58 with type <class 'str'>
['Fr', '4/16/10', '40.44', '6.703M', '5.394M']
spot of 40.44 with type <class 'str'>
['Th', '4/15/10', '41.77', '4.332M', '5.329M']
spot of 41.77 with type <class 'str'>
['We', '4/14/10', '41.45', '9.256M', '5.36M']
spot of 41.45 with type <class 'str'>
['Tu', '4/13/10', '40.15', '7.412M', '5.316M']
spot of 40.15 with type <class 'str'>
['Mo', '4/12/10', '41.08', '4.843M', '5.454M']
spot of 41.08 with type <class 'str'>
['Fr', '4/9/10', '41.39', '3.636M', '5.491M']
spot of 41.39 with type <class 'str'>
['Th', '4/8/10', '40.34', '3.157M', '5.431M']
spot of 40.34 with type <class 'str'>
['We', '4/7/10', '40.28', '4.94M', '5.654M']
spot of 40.28 with type <class 'str'>
['Tu', '4/6/10', '41.05', '3.91M', '5.621M']
spot of 41.05 with type <class 'str'>
['Mo', '4/5/10', '40.63', '4.698M', '5.642M']
spot of 40.63 with type <class 'str'>
['Th', '4/1/10', '39.01', '3.979M', '5.772M']
spot of 39.01 with type <class 'str'>
['We', '3/31/10', '38.99', '4.425M', '6.474M']
spot of 38.99 with type <class 'str'>
['Tu', '3/30/10', '39.35', '5.938M', '6.671M']
spot of 39.35 with type <class 'str'>
['Mo', '3/29/10', '39.97', '4.386M', '6.735M']
spot of 39.97 with type <class 'str'>
['Fr', '3/26/10', '39.55', '9.29M', '6.778M']
spot of 39.55 with type <class 'str'>
['Th', '3/25/10', '40.68', '5.738M', '6.459M']
spot of 40.68 with type <class 'str'>
['We', '3/24/10', '41.69', '4.801M', '6.447M']
spot of 41.69 with type <class 'str'>
['Tu', '3/23/10', '42.02', '8.59M', '6.714M']
spot of 42.02 with type <class 'str'>
['Mo', '3/22/10', '40.64', '9.479M', '6.504M']
spot of 40.64 with type <class 'str'>
['Fr', '3/19/10', '38.14', '5.404M', '6.366M']
spot of 38.14 with type <class 'str'>
['Th', '3/18/10', '39.01', '2.739M', '6.317M']
spot of 39.01 with type <class 'str'>
['We', '3/17/10', '39.16', '6.501M', '6.843M']
spot of 39.16 with type <class 'str'>
['Tu', '3/16/10', '38.58', '4.442M', '7.165M']
spot of 38.58 with type <class 'str'>
['Mo', '3/15/10', '38.25', '4.216M', '7.212M']
spot of 38.25 with type <class 'str'>
['Fr', '3/12/10', '38.38', '6.656M', '7.211M']
spot of 38.38 with type <class 'str'>
['Th', '3/11/10', '38.86', '14.512M', '7.023M']
spot of 38.86 with type <class 'str'>
['We', '3/10/10', '38.07', '7.368M', '6.319M']
spot of 38.07 with type <class 'str'>
['Tu', '3/9/10', '38.79', '6.903M', '6.102M']
spot of 38.79 with type <class 'str'>
['Mo', '3/8/10', '39.6', '5.038M', '6.125M']
spot of 39.6 with type <class 'str'>
['Fr', '3/5/10', '39.25', '4.501M', '6.111M']
spot of 39.25 with type <class 'str'>
['Th', '3/4/10', '39.43', '5.561M', '6.055M']
spot of 39.43 with type <class 'str'>
['We', '3/3/10', '38.64', '8.803M', '5.867M']
spot of 38.64 with type <class 'str'>
['Tu', '3/2/10', '39.61', '5.433M', '5.58M']
spot of 39.61 with type <class 'str'>
['Mo', '3/1/10', '40.48', '7.416M', '5.463M']
spot of 40.48 with type <class 'str'>
['Fr', '2/26/10', '38.63', '4.669M', '5.34M']
spot of 38.63 with type <class 'str'>
['Th', '2/25/10', '39.1', '10.622M', '5.271M']
spot of 39.1 with type <class 'str'>
['We', '2/24/10', '38.99', '11.331M', '4.734M']
spot of 38.99 with type <class 'str'>
['Tu', '2/23/10', '40.84', '5.145M', '4.212M']
spot of 40.84 with type <class 'str'>
['Mo', '2/22/10', '42.37', '4.201M', '4.183M']
spot of 42.37 with type <class 'str'>
['Fr', '2/19/10', '43.15', '3.84M', '4.315M']
spot of 43.15 with type <class 'str'>
['Th', '2/18/10', '43.4', '3.953M', '4.363M']
spot of 43.4 with type <class 'str'>
['We', '2/17/10', '42.64', '4.112M', '4.352M']
spot of 42.64 with type <class 'str'>
['Tu', '2/16/10', '42.58', '7.254M', '4.383M']
spot of 42.58 with type <class 'str'>
['Fr', '2/12/10', '39.85', '4.832M', '4.258M']
spot of 39.85 with type <class 'str'>
['Th', '2/11/10', '40.29', '3.658M', '4.669M']
spot of 40.29 with type <class 'str'>
['We', '2/10/10', '40.07', '2.744M', '5.051M']
spot of 40.07 with type <class 'str'>
['Tu', '2/9/10', '40.38', '4.488M', '5.116M']
spot of 40.38 with type <class 'str'>
['Mo', '2/8/10', '39.65', '3.68M', '5.007M']
spot of 39.65 with type <class 'str'>
['Fr', '2/5/10', '39.43', '5.568M', '5.087M']
spot of 39.43 with type <class 'str'>
['Th', '2/4/10', '38.72', '3.643M', '4.856M']
spot of 38.72 with type <class 'str'>
['We', '2/3/10', '40.49', '2.559M', '4.8M']
spot of 40.49 with type <class 'str'>
['Tu', '2/2/10', '40.47', '3.504M', '4.908M']
spot of 40.47 with type <class 'str'>
['Mo', '2/1/10', '39.7', '4.708M', '4.86M']
spot of 39.7 with type <class 'str'>
['Fr', '1/29/10', '37.99', '6.186M', '4.714M']
spot of 37.99 with type <class 'str'>
['Th', '1/28/10', '39.48', '4.56M', '4.544M']
spot of 39.48 with type <class 'str'>
['We', '1/27/10', '40.64', '3.78M', '4.506M']
spot of 40.64 with type <class 'str'>
['Tu', '1/26/10', '40.86', '4.574M', '4.724M']
spot of 40.86 with type <class 'str'>
['Mo', '1/25/10', '41.49', '5.392M', '4.627M']
spot of 41.49 with type <class 'str'>
['Fr', '1/22/10', '40.74', '10.992M', '4.371M']
spot of 40.74 with type <class 'str'>

spot of 36.58 with type <class 'str'>
['Mo', '10/19/09', '36.73', '2.983M', '4.092M']
spot of 36.73 with type <class 'str'>
['Fr', '10/16/09', '35.85', '4.166M', '4.117M']
spot of 35.85 with type <class 'str'>
['Th', '10/15/09', '36.22', '7.07M', '4.148M']
spot of 36.22 with type <class 'str'>
['We', '10/14/09', '37.72', '5.016M', '3.898M']
spot of 37.72 with type <class 'str'>
['Tu', '10/13/09', '37.81', '3.395M', '3.861M']
spot of 37.81 with type <class 'str'>
['Mo', '10/12/09', '37.68', '3.526M', '3.924M']
spot of 37.68 with type <class 'str'>
['Fr', '10/9/09', '37.23', '3.329M', '3.912M']
spot of 37.23 with type <class 'str'>
['Th', '10/8/09', '36.41', '3.975M', '3.949M']
spot of 36.41 with type <class 'str'>
['We', '10/7/09', '36.22', '3.169M', '3.868M']
spot of 36.22 with type <class 'str'>
['Tu', '10/6/09', '36.6', '3.784M', '3.864M']
spot of 36.6 with type <class 'str'>
['Mo', '10/5/09', '36.5', '3.122M', '3.895M']
spot of 36.5 with type <class 'str'>
['Fr', '10/2/09', '35.33', '3.264M', '3.916M']
spot of 35.33 with type <class 'str'>
['Th', '10/1/09', '35.31', '5.91M', '3.913M']
spot of 35.31 with type <class 'str'>
['We', '9/30/09', '36.53', '5.245M', '3.691M']
spot of 36.53 with type <class 'str'>
['Tu', '9/29/09', '36.17', '3.427M', '3.599M']
spot of 36.17 with type <class 'str'>
['Mo', '9/28/09', '36.95', '3.352M', '3.604M']
spot of 36.95 with type <class 'str'>
['Fr', '9/25/09', '35.19', '4.631M', '3.601M']
spot of 35.19 with type <class 'str'>
['Th', '9/24/09', '36.15', '3.32M', '3.613M']
spot of 36.15 with type <class 'str'>
['We', '9/23/09', '36.77', '4.472M', '3.774M']
spot of 36.77 with type <class 'str'>
['Tu', '9/22/09', '36.25', '4.341M', '3.767M']
spot of 36.25 with type <class 'str'>
['Mo', '9/21/09', '36.04', '3.343M', '3.66M']
spot of 36.04 with type <class 'str'>
['Fr', '9/18/09', '36.22', '3.885M', '3.765M']
spot of 36.22 with type <class 'str'>
['Th', '9/17/09', '36.6', '2.752M', '3.804M']
spot of 36.6 with type <class 'str'>
['We', '9/16/09', '36.85', '3.105M', '3.909M']
spot of 36.85 with type <class 'str'>
['Tu', '9/15/09', '36.44', '4.263M', '3.925M']
spot of 36.44 with type <class 'str'>
['Mo', '9/14/09', '35.22', '3.43M', '3.836M']
spot of 35.22 with type <class 'str'>
['Fr', '9/11/09', '35.08', '3.221M', '3.88M']
spot of 35.08 with type <class 'str'>
['Th', '9/10/09', '35.75', '2.58M', '3.96M']
spot of 35.75 with type <class 'str'>
['We', '9/9/09', '35.21', '3.868M', '4.056M']
spot of 35.21 with type <class 'str'>
['Tu', '9/8/09', '34.99', '3.491M', '4.04M']
spot of 34.99 with type <class 'str'>
['Fr', '9/4/09', '33.93', '3.313M', '4.029M']
spot of 33.93 with type <class 'str'>
['Th', '9/3/09', '33.09', '4.81M', '4.122M']
spot of 33.09 with type <class 'str'>
['We', '9/2/09', '32.68', '5.739M', '4.065M']
spot of 32.68 with type <class 'str'>
['Tu', '9/1/09', '33.18', '4.359M', '3.866M']
spot of 33.18 with type <class 'str'>
['Mo', '8/31/09', '34.28', '2.748M', '3.791M']
spot of 34.28 with type <class 'str'>
['Fr', '8/28/09', '34.35', '4.905M', '3.8M']
spot of 34.35 with type <class 'str'>
['Th', '8/27/09', '34.81', '4.476M', '3.751M']
spot of 34.81 with type <class 'str'>
['We', '8/26/09', '34.09', '4.327M', '3.757M']
spot of 34.09 with type <class 'str'>
['Tu', '8/25/09', '33.08', '3.346M', '3.654M']
spot of 33.08 with type <class 'str'>
['Mo', '8/24/09', '32.4', '2.927M', '3.7M']
spot of 32.4 with type <class 'str'>
['Fr', '8/21/09', '32.85', '4.093M', '3.773M']
spot of 32.85 with type <class 'str'>
['Th', '8/20/09', '32.93', '4.418M', '3.714M']
spot of 32.93 with type <class 'str'>
['We', '8/19/09', '32.1', '4.02M', '3.751M']
spot of 32.1 with type <class 'str'>
['Tu', '8/18/09', '31.31', '3.633M', '3.967M']
spot of 31.31 with type <class 'str'>
['Mo', '8/17/09', '30.68', '3.319M', '4.264M']
spot of 30.68 with type <class 'str'>
['Fr', '8/14/09', '31.2', '4.717M', '4.5M']
spot of 31.2 with type <class 'str'>
['Th', '8/13/09', '32.01', '3.954M', '4.465M']
spot of 32.01 with type <class 'str'>
['We', '8/12/09', '32.3', '2.749M', '4.598M']
spot of 32.3 with type <class 'str'>
['Tu', '8/11/09', '31.92', '3.236M', '4.819M']
spot of 31.92 with type <class 'str'>
['Mo', '8/10/09', '31.81', '2.882M', '4.861M']
spot of 31.81 with type <class 'str'>
['Fr', '8/7/09', '31.98', '4.168M', '4.994M']
spot of 31.98 with type <class 'str'>
['Th', '8/6/09', '31.72', '4.565M', '5.048M']
spot of 31.72 with type <class 'str'>
['We', '8/5/09', '31.27', '2.79M', '5.093M']
spot of 31.27 with type <class 'str'>
['Tu', '8/4/09', '31.44', '4.027M', '5.301M']
spot of 31.44 with type <class 'str'>
['Mo', '8/3/09', '31.39', '4.029M', '5.26M']
spot of 31.39 with type <class 'str'>
['Fr', '7/31/09', '30.25', '3.2M', '5.344M']
spot of 30.25 with type <class 'str'>
['Th', '7/30/09', '30.47', '4.97M', '5.458M']
spot of 30.47 with type <class 'str'>
['We', '7/29/09', '30.12', '7.262M', '5.345M']
spot of 30.12 with type <class 'str'>
['Tu', '7/28/09', '30.81', '8.088M', '5.282M']
spot of 30.81 with type <class 'str'>
['Mo', '7/27/09', '31.47', '6.862M', '5.14M']
spot of 31.47 with type <class 'str'>
['Fr', '7/24/09', '30.4', '4.188M', '5.11M']
spot of 30.4 with type <class 'str'>
['Th', '7/23/09', '30.18', '5.956M', '5.153M']
spot of 30.18 with type <class 'str'>
['We', '7/22/09', '30.24', '6.065M', '5.149M']
spot of 30.24 with type <class 'str'>
['Tu', '7/21/09', '29.15', '3.856M', '8.056M']
spot of 29.15 with type <class 'str'>
['Mo', '7/20/09', '28.92', '4.88M', '8.177M']
spot of 28.92 with type <class 'str'>
['Fr', '7/17/09', '29.24', '4.985M', '8.238M']
spot of 29.24 with type <class 'str'>
['Th', '7/16/09', '28.87', '5.235M', '8.334M']
spot of 28.87 with type <class 'str'>
['We', '7/15/09', '27.69', '5.903M', '8.31M']
spot of 27.69 with type <class 'str'>
['Tu', '7/14/09', '26.28', '3.415M', '8.153M']
spot of 26.28 with type <class 'str'>
['Mo', '7/13/09', '26.47', '5.299M', '8.177M']
spot of 26.47 with type <class 'str'>
['Fr', '7/10/09', '25.37', '4.905M', '8.145M']
spot of 25.37 with type <class 'str'>
['Th', '7/9/09', '25.68', '3.274M', '8.073M']
spot of 25.68 with type <class 'str'>
['We', '7/8/09', '25.15', '6.317M', '8.148M']
spot of 25.15 with type <class 'str'>
['Tu', '7/7/09', '24.99', '5.956M', '8.024M']
spot of 24.99 with type <class 'str'>
['Mo', '7/6/09', '26.36', '6.421M', '7.787M']
spot of 26.36 with type <class 'str'>
['Th', '7/2/09', '26.22', '4.832M', '7.566M']
spot of 26.22 with type <class 'str'>
['We', '7/1/09', '26.8', '5.897M', '7.557M']
spot of 26.8 with type <class 'str'>
['Tu', '6/30/09', '26.5', '49.66M', '7.386M']
spot of 26.5 with type <class 'str'>
['Mo', '6/29/09', '26.49', '5.681M', '4.378M']
spot of 26.49 with type <class 'str'>
['Fr', '6/26/09', '26.75', '5.797M', '4.219M']
spot of 26.75 with type <class 'str'>
['Th', '6/25/09', '25.58', '6.415M', '4.126M']
spot of 25.58 with type <class 'str'>
['We', '6/24/09', '25.76', '4.879M', '4.121M']
spot of 25.76 with type <class 'str'>
['Tu', '6/23/09', '25', '3.553M', '4.137M']
spot of 25 with type <class 'str'>
['Mo', '6/22/09', '24.33', '3.774M', '4.438M']
spot of 24.33 with type <class 'str'>
['Fr', '6/19/09', '25.42', '4.81M', '4.597M']
spot of 25.42 with type <class 'str'>
['Th', '6/18/09', '24.64', '3.826M', '4.61M']
spot of 24.64 with type <class 'str'>
['We', '6/17/09', '24.44', '4.405M', '4.719M']
spot of 24.44 with type <class 'str'>
['Tu', '6/16/09', '24.07', '4.462M', '4.754M']
spot of 24.07 with type <class 'str'>
['Mo', '6/15/09', '24.87', '2.401M', '4.866M']
spot of 24.87 with type <class 'str'>
['Fr', '6/12/09', '25.14', '3.101M', '5.114M']
spot of 25.14 with type <class 'str'>
['Th', '6/11/09', '25.44', '4.696M', '5.136M']
spot of 25.44 with type <class 'str'>
['We', '6/10/09', '24.56', '3.333M', '5.068M']
spot of 24.56 with type <class 'str'>
['Tu', '6/9/09', '24.92', '4.531M', '5.077M']
spot of 24.92 with type <class 'str'>
['Mo', '6/8/09', '23.81', '3.294M', '5.016M']
spot of 23.81 with type <class 'str'>
['Fr', '6/5/09', '23.68', '4.412M', '5.039M']
spot of 23.68 with type <class 'str'>
['Th', '6/4/09', '23.97', '6.338M', '4.973M']
spot of 23.97 with type <class 'str'>
['We', '6/3/09', '23.4', '5.113M', '4.925M']
spot of 23.4 with type <class 'str'>
['Tu', '6/2/09', '24.35', '8.073M', '4.866M']
spot of 24.35 with type <class 'str'>
['Mo', '6/1/09', '25.91', '6.163M', '4.556M']
spot of 25.91 with type <class 'str'>
['Fr', '5/29/09', '24.85', '4.999M', '4.434M']
spot of 24.85 with type <class 'str'>
['Th', '5/28/09', '24.58', '5.464M', '4.462M']
spot of 24.58 with type <class 'str'>
['We', '5/27/09', '24.81', '4.924M', '4.375M']
spot of 24.81 with type <class 'str'>
['Tu', '5/26/09', '25', '6.149M', '4.373M']
spot of 25 with type <class 'str'>
['Fr', '5/22/09', '24.48', '6.118M', '4.279M']
spot of 24.48 with type <class 'str'>
['Th', '5/21/09', '24.36', '3.428M', '4.17M']
spot of 24.36 with type <class 'str'>
['We', '5/20/09', '24.14', '3.683M', '4.464M']
spot of 24.14 with type <class 'str'>
['Tu', '5/19/09', '24.46', '3.475M', '4.503M']
spot of 24.46 with type <class 'str'>
['Mo', '5/18/09', '23.7', '3.612M', '4.637M']
spot of 23.7 with type <class 'str'>
['Fr', '5/15/09', '23.16', '3.644M', '4.832M']
spot of 23.16 with type <class 'str'>
['Th', '5/14/09', '22.97', '3.414M', '5.305M']
spot of 22.97 with type <class 'str'>
['We', '5/13/09', '22.5', '5.623M', '5.368M']
spot of 22.5 with type <class 'str'>
['Tu', '5/12/09', '22.36', '4.217M', '5.261M']
spot of 22.36 with type <class 'str'>
['Mo', '5/11/09', '23.15', '3.432M', '5.252M']
spot of 23.15 with type <class 'str'>
['Fr', '5/8/09', '23.71', '4.334M', '5.363M']
spot of 23.71 with type <class 'str'>
['Th', '5/7/09', '23.4', '5.416M', '5.343M']
spot of 23.4 with type <class 'str'>
['We', '5/6/09', '24.63', '4.159M', '5.343M']
spot of 24.63 with type <class 'str'>
['Tu', '5/5/09', '24.42', '4.89M', '5.384M']
spot of 24.42 with type <class 'str'>
['Mo', '5/4/09', '24.26', '4.74M', '5.4M']
spot of 24.26 with type <class 'str'>
['Fr', '5/1/09', '23.39', '4.485M', '5.457M']
spot of 23.39 with type <class 'str'>
['Th', '4/30/09', '23.52', '7.837M', '5.458M']
spot of 23.52 with type <class 'str'>
['We', '4/29/09', '22.05', '4.27M', '5.247M']
spot of 22.05 with type <class 'str'>
['Tu', '4/28/09', '21.13', '5.487M', '5.174M']
spot of 21.13 with type <class 'str'>
['Mo', '4/27/09', '21.78', '6.534M', '5.098M']
spot of 21.78 with type <class 'str'>
['Fr', '4/24/09', '21.16', '10.732M', '5.006M']
spot of 21.16 with type <class 'str'>
['Th', '4/23/09', '21.79', '4.366M', '4.701M']
spot of 21.79 with type <class 'str'>
['We', '4/22/09', '22.11', '4.011M', '4.835M']
spot of 22.11 with type <class 'str'>
['Tu', '4/21/09', '21.68', '4.082M', '4.938M']
spot of 21.68 with type <class 'str'>
['Mo', '4/20/09', '21.12', '5.108M', '5.042M']
spot of 21.12 with type <class 'str'>
['Fr', '4/17/09', '22.42', '4.031M', '4.992M']
spot of 22.42 with type <class 'str'>
['Th', '4/16/09', '22.15', '5.416M', '5.17M']
spot of 22.15 with type <class 'str'>
['We', '4/15/09', '21.26', '4.774M', '5.367M']
spot of 21.26 with type <class 'str'>
['Tu', '4/14/09', '21.04', '5.13M', '5.37M']
spot of 21.04 with type <class 'str'>
['Mo', '4/13/09', '21.34', '5.592M', '5.362M']
spot of 21.34 with type <class 'str'>
['Th', '4/9/09', '22.11', '4.508M', '5.362M']
spot of 22.11 with type <class 'str'>
['We', '4/8/09', '21.25', '4.664M', '5.315M']
spot of 21.25 with type <class 'str'>
['Tu', '4/7/09', '20.25', '3.177M', '5.358M']
spot of 20.25 with type <class 'str'>
['Mo', '4/6/09', '20.65', '4.343M', '5.379M']
spot of 20.65 with type <class 'str'>
['Fr', '4/3/09', '21.3', '5.157M', '5.394M']
spot of 21.3 with type <class 'str'>
['Th', '4/2/09', '20.09', '6.156M', '5.339M']
spot of 20.09 with type <class 'str'>
['We', '4/1/09', '19.91', '6.377M', '5.218M']
spot of 19.91 with type <class 'str'>
['Tu', '3/31/09', '19.34', '5.558M', '5.081M']
spot of 19.34 with type <class 'str'>
['Mo', '3/30/09', '18.96', '5.644M', '5.11M']
spot of 18.96 with type <class 'str'>
['Fr', '3/27/09', '19.5', '4.355M', '5.206M']
spot of 19.5 with type <class 'str'>
['Th', '3/26/09', '19.37', '6.704M', '5.529M']
spot of 19.37 with type <class 'str'>
['We', '3/25/09', '19.02', '8.366M', '5.512M']
spot of 19.02 with type <class 'str'>
['Tu', '3/24/09', '19.5', '4.817M', '5.618M']
spot of 19.5 with type <class 'str'>
['Mo', '3/23/09', '18.87', '5.011M', '5.833M']
spot of 18.87 with type <class 'str'>
['Fr', '3/20/09', '17.29', '5.588M', '5.908M']
spot of 17.29 with type <class 'str'>
['Th', '3/19/09', '17.84', '3.805M', '5.903M']
spot of 17.84 with type <class 'str'>
['We', '3/18/09', '17.62', '5.317M', '6.056M']
spot of 17.62 with type <class 'str'>
['Tu', '3/17/09', '17.12', '3.48M', '6.093M']
spot of 17.12 with type <class 'str'>
['Mo', '3/16/09', '16.71', '4.574M', '6.296M']
spot of 16.71 with type <class 'str'>
['Fr', '3/13/09', '17.21', '4.332M', '6.333M']
spot of 17.21 with type <class 'str'>
['Th', '3/12/09', '17.19', '4.348M', '6.417M']
spot of 17.19 with type <class 'str'>
['We', '3/11/09', '16.57', '4.31M', '6.54M']
spot of 16.57 with type <class 'str'>
['Tu', '3/10/09', '16.01', '5.997M', '6.571M']
spot of 16.01 with type <class 'str'>
['Mo', '3/9/09', '15.06', '7.081M', '6.523M']
spot of 15.06 with type <class 'str'>
['Fr', '3/6/09', '14.55', '9.208M', '6.267M']
spot of 14.55 with type <class 'str'>
['Th', '3/5/09', '14.5', '6.454M', '6.008M']
spot of 14.5 with type <class 'str'>
['We', '3/4/09', '14.96', '9.957M', '5.955M']
spot of 14.96 with type <class 'str'>
['Tu', '3/3/09', '13.65', '8.029M', '5.808M']
spot of 13.65 with type <class 'str'>
['Mo', '3/2/09', '12.7', '6.143M', '5.624M']
spot of 12.7 with type <class 'str'>
['Fr', '2/27/09', '13.66', '5.511M', '5.515M']
spot of 13.66 with type <class 'str'>
['Th', '2/26/09', '13.47', '6.092M', '5.615M']
spot of 13.47 with type <class 'str'>
['We', '2/25/09', '14.55', '5.88M', '5.933M']
spot of 14.55 with type <class 'str'>
['Tu', '2/24/09', '14.35', '6.53M', '5.86M']
spot of 14.35 with type <class 'str'>
['Mo', '2/23/09', '13.79', '5.119M', '5.791M']
spot of 13.79 with type <class 'str'>
['Fr', '2/20/09', '14.55', '5.599M', '5.874M']
spot of 14.55 with type <class 'str'>
['Th', '2/19/09', '14.54', '6.187M', '6.285M']
spot of 14.54 with type <class 'str'>
['We', '2/18/09', '15.67', '4.772M', '6.216M']
spot of 15.67 with type <class 'str'>
['Tu', '2/17/09', '15.64', '5.279M', '6.177M']
spot of 15.64 with type <class 'str'>
['Fr', '2/13/09', '16.68', '3.245M', '6.122M']
spot of 16.68 with type <class 'str'>
['Th', '2/12/09', '17.08', '5.33M', '6.193M']
spot of 17.08 with type <class 'str'>
['We', '2/11/09', '16.69', '5.653M', '6.105M']
spot of 16.69 with type <class 'str'>
['Tu', '2/10/09', '16.55', '7.748M', '6.018M']
spot of 16.55 with type <class 'str'>
['Mo', '2/9/09', '17.21', '5.278M', '5.735M']
spot of 17.21 with type <class 'str'>
['Fr', '2/6/09', '17.91', '4.504M', '5.645M']
spot of 17.91 with type <class 'str'>
['Th', '2/5/09', '16.98', '7.011M', '5.777M']
spot of 16.98 with type <class 'str'>
['We', '2/4/09', '16.85', '10.868M', '5.629M']
spot of 16.85 with type <class 'str'>
['Tu', '2/3/09', '15.28', '4.783M', '5.313M']
spot of 15.28 with type <class 'str'>
['Mo', '2/2/09', '15.52', '5.484M', '5.337M']
spot of 15.52 with type <class 'str'>
['Fr', '1/30/09', '14.68', '6.372M', '5.308M']
spot of 14.68 with type <class 'str'>
['Th', '1/29/09', '15.75', '11.759M', '5.144M']
spot of 15.75 with type <class 'str'>
['We', '1/28/09', '14.4', '5.158M', '4.838M']
spot of 14.4 with type <class 'str'>
['Tu', '1/27/09', '13.55', '4.186M', '5.045M']
spot of 13.55 with type <class 'str'>
['Mo', '1/26/09', '12.98', '4.452M', '4.987M']
spot of 12.98 with type <class 'str'>
['Fr', '1/23/09', '13', '4.315M', '4.86M']
spot of 13 with type <class 'str'>
['Th', '1/22/09', '12.35', '4.012M', '4.745M']
spot of 12.35 with type <class 'str'>
['We', '1/21/09', '12.9', '4.342M', '4.595M']
spot of 12.9 with type <class 'str'>
['Tu', '1/20/09', '12.04', '3.503M', '4.41M']
spot of 12.04 with type <class 'str'>
['Fr', '1/16/09', '13.31', '3.934M', '4.221M']
spot of 13.31 with type <class 'str'>
['Th', '1/15/09', '12.99', '6.483M', '4.038M']
spot of 12.99 with type <class 'str'>
['We', '1/14/09', '12.21', '4.784M', '3.813M']
spot of 12.21 with type <class 'str'>
['Tu', '1/13/09', '13.05', '6.135M', '3.702M']
spot of 13.05 with type <class 'str'>
['Mo', '1/12/09', '13.37', '5.131M', '3.555M']
spot of 13.37 with type <class 'str'>
['Fr', '1/9/09', '14', '5.056M', '3.489M']
spot of 14 with type <class 'str'>
['Th', '1/8/09', '13.64', '3.911M', '3.504M']
spot of 13.64 with type <class 'str'>
['We', '1/7/09', '13.52', '7.164M', '3.523M']
spot of 13.52 with type <class 'str'>
['Tu', '1/6/09', '14.32', '8.265M', '3.256M']
spot of 14.32 with type <class 'str'>
['Mo', '1/5/09', '12.02', '3.315M', '2.967M']
spot of 12.02 with type <class 'str'>
['Fr', '1/2/09', '12.33', '2.555M', '2.971M']
spot of 12.33 with type <class 'str'>
['We', '12/31/08', '11.45', '2.585M', '3.092M']
spot of 11.45 with type <class 'str'>
['Tu', '12/30/08', '11.23', '1.766M', '3.195M']
spot of 11.23 with type <class 'str'>
['Mo', '12/29/08', '10.99', '1.561M', '3.316M']
spot of 10.99 with type <class 'str'>
['Fr', '12/26/08', '11.34', '670.695k', '3.45M']
spot of 11.34 with type <class 'str'>
['We', '12/24/08', '11.32', '1.189M', '3.659M']
spot of 11.32 with type <class 'str'>
['Tu', '12/23/08', '11.22', '3.104M', '3.933M']
spot of 11.22 with type <class 'str'>
['Mo', '12/22/08', '11.9', '3.12M', '3.994M']
spot of 11.9 with type <class 'str'>
['Fr', '12/19/08', '12.39', '3.934M', '4.002M']
spot of 12.39 with type <class 'str'>
['Th', '12/18/08', '12.05', '4.143M', '3.806M']
spot of 12.05 with type <class 'str'>
['We', '12/17/08', '12.72', '5.279M', '3.739M']
spot of 12.72 with type <class 'str'>
['Tu', '12/16/08', '12.5', '4.201M', '3.594M']
spot of 12.5 with type <class 'str'>
['Mo', '12/15/08', '11.82', '3.158M', '3.58M']
spot of 11.82 with type <class 'str'>
['Fr', '12/12/08', '12.52', '3.922M', '3.748M']
spot of 12.52 with type <class 'str'>
['Th', '12/11/08', '11.76', '3.376M', '3.904M']
spot of 11.76 with type <class 'str'>
['We', '12/10/08', '12.7', '4.379M', '3.947M']
spot of 12.7 with type <class 'str'>
['Tu', '12/9/08', '12.66', '4.119M', '3.921M']
spot of 12.66 with type <class 'str'>
['Mo', '12/8/08', '13.16', '3.578M', '3.845M']
spot of 13.16 with type <class 'str'>
['Fr', '12/5/08', '12.02', '3.585M', '3.814M']
spot of 12.02 with type <class 'str'>
['Th', '12/4/08', '11.62', '3.798M', '3.923M']
spot of 11.62 with type <class 'str'>
['We', '12/3/08', '12.63', '5.301M', '3.865M']
spot of 12.63 with type <class 'str'>
['Tu', '12/2/08', '11.96', '4.025M', '3.723M']
spot of 11.96 with type <class 'str'>
['Mo', '12/1/08', '10.78', '3.242M', '3.592M']
spot of 10.78 with type <class 'str'>
['Fr', '11/28/08', '12.2', '994.239k', '3.526M']
spot of 12.2 with type <class 'str'>
['We', '11/26/08', '12.54', '3.127M', '3.691M']
spot of 12.54 with type <class 'str'>
['Tu', '11/25/08', '11.55', '3.101M', '3.787M']
spot of 11.55 with type <class 'str'>
['Mo', '11/24/08', '11.68', '3.998M', '3.847M']
spot of 11.68 with type <class 'str'>
['Fr', '11/21/08', '10.38', '5.676M', '3.846M']
spot of 10.38 with type <class 'str'>
['Th', '11/20/08', '9.93', '6.257M', '3.765M']
spot of 9.93 with type <class 'str'>
['We', '11/19/08', '11.28', '4.031M', '3.663M']
spot of 11.28 with type <class 'str'>
['Tu', '11/18/08', '12.64', '3.992M', '3.784M']
spot of 12.64 with type <class 'str'>
['Mo', '11/17/08', '13.19', '2.966M', '3.865M']
spot of 13.19 with type <class 'str'>
['Fr', '11/14/08', '13.45', '3.117M', '3.925M']
spot of 13.45 with type <class 'str'>
['Th', '11/13/08', '14.47', '5.224M', '4.125M']
spot of 14.47 with type <class 'str'>
['We', '11/12/08', '13.17', '2.918M', '4.107M']
spot of 13.17 with type <class 'str'>
['Tu', '11/11/08', '14.38', '3.178M', '4.194M']
spot of 14.38 with type <class 'str'>

spot of 29.39 with type <class 'str'>
['Mo', '8/11/08', '29.09', '3.962M', '7.066M']
spot of 29.09 with type <class 'str'>
['Fr', '8/8/08', '29.09', '3.366M', '7.145M']
spot of 29.09 with type <class 'str'>
['Th', '8/7/08', '28.97', '4.654M', '7.171M']
spot of 28.97 with type <class 'str'>
['We', '8/6/08', '29.09', '5.284M', '7.323M']
spot of 29.09 with type <class 'str'>
['Tu', '8/5/08', '29.06', '5.697M', '7.66M']
spot of 29.06 with type <class 'str'>
['Mo', '8/4/08', '28.06', '5.703M', '7.636M']
spot of 28.06 with type <class 'str'>
['Fr', '8/1/08', '28.59', '4.374M', '7.587M']
spot of 28.59 with type <class 'str'>
['Th', '7/31/08', '28.79', '6.1M', '7.74M']
spot of 28.79 with type <class 'str'>
['We', '7/30/08', '28.98', '8.443M', '7.705M']
spot of 28.98 with type <class 'str'>
['Tu', '7/29/08', '29.38', '12.522M', '7.617M']
spot of 29.38 with type <class 'str'>
['Mo', '7/28/08', '29.9', '8.36M', '7.3M']
spot of 29.9 with type <class 'str'>
['Fr', '7/25/08', '30.94', '16.535M', '7.014M']
spot of 30.94 with type <class 'str'>
['Th', '7/24/08', '33.62', '8.979M', '6.15M']
spot of 33.62 with type <class 'str'>
['We', '7/23/08', '34.99', '6.822M', '5.818M']
spot of 34.99 with type <class 'str'>
['Tu', '7/22/08', '33.88', '5.188M', '5.719M']
spot of 33.88 with type <class 'str'>
['Mo', '7/21/08', '33.22', '5.142M', '5.738M']
spot of 33.22 with type <class 'str'>
['Fr', '7/18/08', '32.43', '3.766M', '5.805M']
spot of 32.43 with type <class 'str'>
['Th', '7/17/08', '32.5', '6.929M', '5.88M']
spot of 32.5 with type <class 'str'>
['We', '7/16/08', '32.1', '10.343M', '5.726M']
spot of 32.1 with type <class 'str'>
['Tu', '7/15/08', '33.88', '5.327M', '5.536M']
spot of 33.88 with type <class 'str'>
['Mo', '7/14/08', '33.78', '4.977M', '5.724M']
spot of 33.78 with type <class 'str'>
['Fr', '7/11/08', '33.06', '6.666M', '5.812M']
spot of 33.06 with type <class 'str'>
['Th', '7/10/08', '33.6', '5.581M', '5.596M']
spot of 33.6 with type <class 'str'>
['We', '7/9/08', '33.9', '7.117M', '5.493M']
spot of 33.9 with type <class 'str'>
['Tu', '7/8/08', '35.65', '7.763M', '5.405M']
spot of 35.65 with type <class 'str'>
['Mo', '7/7/08', '33.79', '4.08M', '5.171M']
spot of 33.79 with type <class 'str'>
['Th', '7/3/08', '33.28', '3.566M', '5.147M']
spot of 33.28 with type <class 'str'>
['We', '7/2/08', '34.27', '4.004M', '5.182M']
spot of 34.27 with type <class 'str'>
['Tu', '7/1/08', '34.8', '5.342M', '5.386M']
spot of 34.8 with type <class 'str'>
['Mo', '6/30/08', '34.53', '5.472M', '5.302M']
spot of 34.53 with type <class 'str'>
['Fr', '6/27/08', '34.87', '6.134M', '5.233M']
spot of 34.87 with type <class 'str'>
['Th', '6/26/08', '35.3', '4.896M', '5.214M']
spot of 35.3 with type <class 'str'>
['We', '6/25/08', '36.63', '4.616M', '5.265M']
spot of 36.63 with type <class 'str'>
['Tu', '6/24/08', '36.17', '7.506M', '5.316M']
spot of 36.17 with type <class 'str'>
['Mo', '6/23/08', '36.14', '8.134M', '5.337M']
spot of 36.14 with type <class 'str'>
['Fr', '6/20/08', '37.52', '6.302M', '5.159M']
spot of 37.52 with type <class 'str'>
['Th', '6/19/08', '39.25', '3.426M', '5.1M']
spot of 39.25 with type <class 'str'>
['We', '6/18/08', '39.33', '4.043M', '5.124M']
spot of 39.33 with type <class 'str'>
['Tu', '6/17/08', '39.21', '5.794M', '5.249M']
spot of 39.21 with type <class 'str'>
['Mo', '6/16/08', '38.52', '4.252M', '5.117M']
spot of 38.52 with type <class 'str'>
['Fr', '6/13/08', '37.45', '3.726M', '5.079M']
spot of 37.45 with type <class 'str'>
['Th', '6/12/08', '37.13', '4.088M', '5.193M']
spot of 37.13 with type <class 'str'>
['We', '6/11/08', '37.29', '7.066M', '5.187M']
spot of 37.29 with type <class 'str'>
['Tu', '6/10/08', '39.23', '4.072M', '5.025M']
spot of 39.23 with type <class 'str'>
['Mo', '6/9/08', '38.83', '4.444M', '5.241M']
spot of 38.83 with type <class 'str'>
['Fr', '6/6/08', '38.93', '5.842M', '5.474M']
spot of 38.93 with type <class 'str'>
['Th', '6/5/08', '39.98', '5.658M', '5.515M']
spot of 39.98 with type <class 'str'>
['We', '6/4/08', '38.55', '5.393M', '6.127M']
spot of 38.55 with type <class 'str'>
['Tu', '6/3/08', '38.51', '7.811M', '6.057M']
spot of 38.51 with type <class 'str'>
['Mo', '6/2/08', '37.01', '5.465M', '5.778M']
spot of 37.01 with type <class 'str'>
['Fr', '5/30/08', '37.53', '5.418M', '5.718M']
spot of 37.53 with type <class 'str'>
['Th', '5/29/08', '36.89', '3.783M', '5.592M']
spot of 36.89 with type <class 'str'>
['We', '5/28/08', '36.74', '5.925M', '5.627M']
spot of 36.74 with type <class 'str'>
['Tu', '5/27/08', '35.89', '3.817M', '5.447M']
spot of 35.89 with type <class 'str'>
['Fr', '5/23/08', '35.23', '3.683M', '5.378M']
spot of 35.23 with type <class 'str'>
['Th', '5/22/08', '35.77', '5.427M', '5.382M']
spot of 35.77 with type <class 'str'>
['We', '5/21/08', '34.62', '4.002M', '5.276M']
spot of 34.62 with type <class 'str'>
['Tu', '5/20/08', '34.83', '4.635M', '5.261M']
spot of 34.83 with type <class 'str'>
['Mo', '5/19/08', '35.25', '7.318M', '5.188M']
spot of 35.25 with type <class 'str'>
['Fr', '5/16/08', '35.41', '7.94M', '5.151M']
spot of 35.41 with type <class 'str'>
['Th', '5/15/08', '34', '6.449M', '5.354M']
spot of 34 with type <class 'str'>
['We', '5/14/08', '33.87', '14.837M', '5.393M']
spot of 33.87 with type <class 'str'>
['Tu', '5/13/08', '31.25', '4.339M', '4.804M']
spot of 31.25 with type <class 'str'>
['Mo', '5/12/08', '30.49', '3.633M', '4.929M']
spot of 30.49 with type <class 'str'>
['Fr', '5/9/08', '30.39', '4.564M', '5.164M']
spot of 30.39 with type <class 'str'>
['Th', '5/8/08', '30.4', '3.523M', '5.165M']
spot of 30.4 with type <class 'str'>
['We', '5/7/08', '29.79', '4.313M', '5.277M']
spot of 29.79 with type <class 'str'>
['Tu', '5/6/08', '29.58', '3.224M', '5.482M']
spot of 29.58 with type <class 'str'>
['Mo', '5/5/08', '29.52', '2.783M', '5.66M']
spot of 29.52 with type <class 'str'>
['Fr', '5/2/08', '29.45', '3.744M', '5.854M']
spot of 29.45 with type <class 'str'>
['Th', '5/1/08', '29.67', '3.842M', '6.241M']
spot of 29.67 with type <class 'str'>
['We', '4/30/08', '28.99', '3.776M', '6.433M']
spot of 28.99 with type <class 'str'>
['Tu', '4/29/08', '29.05', '3.535M', '6.463M']
spot of 29.05 with type <class 'str'>
['Mo', '4/28/08', '29.05', '6.762M', '6.481M']
spot of 29.05 with type <class 'str'>
['Fr', '4/25/08', '28.41', '10.988M', '6.265M']
spot of 28.41 with type <class 'str'>
['Th', '4/24/08', '31.25', '7.029M', '5.837M']
spot of 31.25 with type <class 'str'>
['We', '4/23/08', '30.24', '6.011M', '5.815M']
spot of 30.24 with type <class 'str'>
['Tu', '4/22/08', '29.83', '6.21M', '5.793M']
spot of 29.83 with type <class 'str'>
['Mo', '4/21/08', '30.74', '7.15M', '5.836M']
spot of 30.74 with type <class 'str'>
['Fr', '4/18/08', '29.3', '4.582M', '5.864M']
spot of 29.3 with type <class 'str'>
['Th', '4/17/08', '28.12', '5.2M', '6.14M']
spot of 28.12 with type <class 'str'>
['We', '4/16/08', '28.15', '7.402M', '6.647M']
spot of 28.15 with type <class 'str'>
['Tu', '4/15/08', '27.17', '5.893M', '6.887M']
spot of 27.17 with type <class 'str'>
['Mo', '4/14/08', '27', '5.679M', '6.885M']
spot of 27 with type <class 'str'>
['Fr', '4/11/08', '27.66', '9.549M', '7.05M']
spot of 27.66 with type <class 'str'>
['Th', '4/10/08', '29.88', '6.73M', '6.887M']
spot of 29.88 with type <class 'str'>
['We', '4/9/08', '28.53', '4.228M', '6.813M']
spot of 28.53 with type <class 'str'>
['Tu', '4/8/08', '28.28', '3.803M', '6.857M']
spot of 28.28 with type <class 'str'>
['Mo', '4/7/08', '28.22', '3.519M', '7.054M']
spot of 28.22 with type <class 'str'>
['Fr', '4/4/08', '28.37', '4.563M', '7.311M']
spot of 28.37 with type <class 'str'>
['Th', '4/3/08', '28.85', '6.713M', '7.306M']
spot of 28.85 with type <class 'str'>
['We', '4/2/08', '27.57', '5.679M', '7.085M']
spot of 27.57 with type <class 'str'>
['Tu', '4/1/08', '27.94', '6.855M', '7.088M']
spot of 27.94 with type <class 'str'>
['Mo', '3/31/08', '27.04', '7.569M', '6.977M']
spot of 27.04 with type <class 'str'>
['Fr', '3/28/08', '26.69', '8.718M', '6.917M']
spot of 26.69 with type <class 'str'>
['Th', '3/27/08', '27.06', '12.808M', '6.648M']
spot of 27.06 with type <class 'str'>
['We', '3/26/08', '29.47', '11.005M', '6.145M']
spot of 29.47 with type <class 'str'>
['Tu', '3/25/08', '30.55', '5.855M', '5.863M']
spot of 30.55 with type <class 'str'>
['Mo', '3/24/08', '31.52', '8.158M', '6.166M']
spot of 31.52 with type <class 'str'>
['Th', '3/20/08', '29.12', '7.104M', '6.288M']
spot of 29.12 with type <class 'str'>
['We', '3/19/08', '29.42', '5.613M', '6.411M']
spot of 29.42 with type <class 'str'>
['Tu', '3/18/08', '31.47', '4.889M', '6.862M']
spot of 31.47 with type <class 'str'>
['Mo', '3/17/08', '29.69', '6.757M', '7.025M']
spot of 29.69 with type <class 'str'>
['Fr', '3/14/08', '31.27', '7.38M', '7.151M']
spot of 31.27 with type <class 'str'>
['Th', '3/13/08', '31.23', '4.489M', '7.04M']
spot of 31.23 with type <class 'str'>
['We', '3/12/08', '30.48', '3.394M', '7.344M']
spot of 30.48 with type <class 'str'>
['Tu', '3/11/08', '30.88', '5.729M', '7.59M']
spot of 30.88 with type <class 'str'>
['Mo', '3/10/08', '29.64', '5.183M', '7.803M']
spot of 29.64 with type <class 'str'>
['Fr', '3/7/08', '30.28', '6.679M', '7.716M']
spot of 30.28 with type <class 'str'>
['Th', '3/6/08', '31.38', '4.679M', '7.583M']
spot of 31.38 with type <class 'str'>
['We', '3/5/08', '31.96', '5.259M', '7.535M']
spot of 31.96 with type <class 'str'>
['Tu', '3/4/08', '31.81', '6.773M', '7.573M']
spot of 31.81 with type <class 'str'>
['Mo', '3/3/08', '31.21', '10.409M', '7.469M']
spot of 31.21 with type <class 'str'>
['Fr', '2/29/08', '30.87', '9.99M', '7.063M']
spot of 30.87 with type <class 'str'>
['Th', '2/28/08', '32.36', '8.941M', '6.894M']
spot of 32.36 with type <class 'str'>
['We', '2/27/08', '33.97', '12.375M', '6.707M']
spot of 33.97 with type <class 'str'>
['Tu', '2/26/08', '33.99', '7.336M', '6.329M']
spot of 33.99 with type <class 'str'>
['Mo', '2/25/08', '33.18', '8.644M', '6.224M']
spot of 33.18 with type <class 'str'>
['Fr', '2/22/08', '31.23', '5.718M', '5.994M']
spot of 31.23 with type <class 'str'>
['Th', '2/21/08', '31.3', '9.056M', '6.113M']
spot of 31.3 with type <class 'str'>
['We', '2/20/08', '30.64', '7.078M', '5.91M']
spot of 30.64 with type <class 'str'>
['Tu', '2/19/08', '29.49', '8.929M', '5.698M']
spot of 29.49 with type <class 'str'>
['Fr', '2/15/08', '28.89', '3.868M', '5.38M']
spot of 28.89 with type <class 'str'>
['Th', '2/14/08', '28.42', '4.685M', '5.46M']
spot of 28.42 with type <class 'str'>
['We', '2/13/08', '29.51', '3.961M', '5.876M']
spot of 29.51 with type <class 'str'>
['Tu', '2/12/08', '28.99', '5.837M', '6.286M']
spot of 28.99 with type <class 'str'>
['Mo', '2/11/08', '28.4', '5.214M', '6.217M']
spot of 28.4 with type <class 'str'>
['Fr', '2/8/08', '28.2', '4.309M', '6.303M']
spot of 28.2 with type <class 'str'>
['Th', '2/7/08', '27.21', '7.46M', '6.363M']
spot of 27.21 with type <class 'str'>
['We', '2/6/08', '28.09', '6.139M', '6.178M']
spot of 28.09 with type <class 'str'>
['Tu', '2/5/08', '28.07', '6.708M', '6.121M']
spot of 28.07 with type <class 'str'>
['Mo', '2/4/08', '28.46', '5.747M', '5.97M']
spot of 28.46 with type <class 'str'>
['Fr', '2/1/08', '27.95', '5.204M', '5.845M']
spot of 27.95 with type <class 'str'>
['Th', '1/31/08', '26.45', '7.506M', '5.89M']
spot of 26.45 with type <class 'str'>
['We', '1/30/08', '26.7', '5.997M', '5.848M']
spot of 26.7 with type <class 'str'>
['Tu', '1/29/08', '26.96', '3.913M', '5.85M']
spot of 26.96 with type <class 'str'>
['Mo', '1/28/08', '26.99', '4.156M', '5.951M']
spot of 26.99 with type <class 'str'>
['Fr', '1/25/08', '26.09', '5.059M', '6.105M']
spot of 26.09 with type <class 'str'>
['Th', '1/24/08', '26.91', '10.933M', '6.152M']
spot of 26.91 with type <class 'str'>
['We', '1/23/08', '24.94', '10.108M', '5.715M']
spot of 24.94 with type <class 'str'>
['Tu', '1/22/08', '24.05', '4.798M', '5.189M']
spot of 24.05 with type <class 'str'>
['Fr', '1/18/08', '23.61', '6.503M', '4.987M']
spot of 23.61 with type <class 'str'>
['Th', '1/17/08', '23.64', '5.208M', '4.678M']
spot of 23.64 with type <class 'str'>
['We', '1/16/08', '24.68', '4.696M', '4.445M']
spot of 24.68 with type <class 'str'>
['Tu', '1/15/08', '25.27', '5.274M', '4.184M']
spot of 25.27 with type <class 'str'>
['Mo', '1/14/08', '25.13', '4.441M', '4.092M']
spot of 25.13 with type <class 'str'>
['Fr', '1/11/08', '23.98', '3.879M', '3.929M']
spot of 23.98 with type <class 'str'>
['Th', '1/10/08', '25.41', '5.883M', '3.946M']
spot of 25.41 with type <class 'str'>
['We', '1/9/08', '24.81', '6.868M', '3.812M']
spot of 24.81 with type <class 'str'>
['Tu', '1/8/08', '23.56', '6.027M', '3.547M']
spot of 23.56 with type <class 'str'>
['Mo', '1/7/08', '25.28', '5.428M', '3.395M']
spot of 25.28 with type <class 'str'>
['Fr', '1/4/08', '25.63', '6.475M', '3.327M']
spot of 25.63 with type <class 'str'>
['Th', '1/3/08', '28.38', '5.754M', '3.15M']
spot of 28.38 with type <class 'str'>
['We', '1/2/08', '28.6', '4.384M', '3.194M']
spot of 28.6 with type <class 'str'>
['Mo', '12/31/07', '30.21', '2.215M', '3.173M']
spot of 30.21 with type <class 'str'>
['Fr', '12/28/07', '29.95', '1.771M', '3.259M']
spot of 29.95 with type <class 'str'>
['Th', '12/27/07', '29.98', '1.867M', '3.378M']
spot of 29.98 with type <class 'str'>
['We', '12/26/07', '30.58', '1.717M', '3.847M']
spot of 30.58 with type <class 'str'>
['Mo', '12/24/07', '30.28', '771.19k', '4.018M']
spot of 30.28 with type <class 'str'>
['Fr', '12/21/07', '29.71', '3.902M', '4.295M']
spot of 29.71 with type <class 'str'>
['Th', '12/20/07', '30.39', '1.999M', '4.376M']
spot of 30.39 with type <class 'str'>
['We', '12/19/07', '30.11', '4.128M', '4.438M']
spot of 30.11 with type <class 'str'>
['Tu', '12/18/07', '29.06', '3.87M', '4.584M']
spot of 29.06 with type <class 'str'>
['Mo', '12/17/07', '29.52', '2.897M', '4.574M']
spot of 29.52 with type <class 'str'>
['Fr', '12/14/07', '29.75', '3.742M', '4.582M']
spot of 29.75 with type <class 'str'>
['Th', '12/13/07', '29.18', '4.41M', '4.374M']
spot of 29.18 with type <class 'str'>
['We', '12/12/07', '29.56', '3.825M', '4.303M']
spot of 29.56 with type <class 'str'>
['Tu', '12/11/07', '30.18', '6.405M', '4.34M']
spot of 30.18 with type <class 'str'>
['Mo', '12/10/07', '31.53', '4.076M', '4.169M']
spot of 31.53 with type <class 'str'>
['Fr', '12/7/07', '31.47', '3.502M', '4.16M']
spot of 31.47 with type <class 'str'>
['Th', '12/6/07', '30.29', '3.555M', '4.182M']
spot of 30.29 with type <class 'str'>
['We', '12/5/07', '30.42', '8.899M', '4.208M']
spot of 30.42 with type <class 'str'>
['Tu', '12/4/07', '28.23', '4.284M', '3.927M']
spot of 28.23 with type <class 'str'>
['Mo', '12/3/07', '27.66', '4.932M', '3.982M']
spot of 27.66 with type <class 'str'>
['Fr', '11/30/07', '27.63', '5.115M', '3.981M']
spot of 27.63 with type <class 'str'>
['Th', '11/29/07', '28.19', '2.929M', '3.948M']
spot of 28.19 with type <class 'str'>
['We', '11/28/07', '28.07', '6.316M', '3.994M']
spot of 28.07 with type <class 'str'>
['Tu', '11/27/07', '26.35', '3.724M', '3.862M']
spot of 26.35 with type <class 'str'>
['Mo', '11/26/07', '25.71', '3.011M', '3.959M']
spot of 25.71 with type <class 'str'>
['Fr', '11/23/07', '25.39', '631.2k', '4.623M']
spot of 25.39 with type <class 'str'>
['We', '11/21/07', '25.26', '3.349M', '4.872M']
spot of 25.26 with type <class 'str'>
['Tu', '11/20/07', '25.24', '4.371M', '5.038M']
spot of 25.24 with type <class 'str'>
['Mo', '11/19/07', '26.36', '3.843M', '4.928M']
spot of 26.36 with type <class 'str'>
['Fr', '11/16/07', '26.57', '3.946M', '4.86M']
spot of 26.57 with type <class 'str'>
['Th', '11/15/07', '26.4', '3.832M', '4.807M']
spot of 26.4 with type <class 'str'>
['We', '11/14/07', '26.54', '3.935M', '4.755M']
spot of 26.54 with type <class 'str'>
['Tu', '11/13/07', '26.51', '4.688M', '4.675M']
spot of 26.51 with type <class 'str'>
['Mo', '11/12/07', '25.12', '5.102M', '4.461M']
spot of 25.12 with type <class 'str'>
['Fr', '11/9/07', '26.37', '4.92M', '4.293M']
spot of 26.37 with type <class 'str'>
['Th', '11/8/07', '26.35', '4.625M', '4.157M']
spot of 26.35 with type <class 'str'>
['We', '11/7/07', '27.11', '3.618M', '3.959M']
spot of 27.11 with type <class 'str'>
['Tu', '11/6/07', '27.64', '4.335M', '3.89M']
spot of 27.64 with type <class 'str'>
['Mo', '11/5/07', '27.82', '5.173M', '3.774M']
spot of 27.82 with type <class 'str'>
['Fr', '11/2/07', '28.91', '12.973M', '3.657M']
spot of 28.91 with type <class 'str'>
['Th', '11/1/07', '26.02', '4.366M', '2.956M']
spot of 26.02 with type <class 'str'>
['We', '10/31/07', '25.92', '5.85M', '2.87M']
spot of 25.92 with type <class 'str'>
['Tu', '10/30/07', '24.72', '2.707M', '2.66M']
spot of 24.72 with type <class 'str'>
['Mo', '10/29/07', '25.27', '2.828M', '2.666M']
spot of 25.27 with type <class 'str'>
['Fr', '10/26/07', '24.52', '3.158M', '2.594M']
spot of 24.52 with type <class 'str'>
['Th', '10/25/07', '23.73', '3.041M', '2.557M']
spot of 23.73 with type <class 'str'>
['We', '10/24/07', '24.39', '2.739M', '2.604M']
spot of 24.39 with type <class 'str'>
['Tu', '10/23/07', '25.37', '1.486M', '2.57M']
spot of 25.37 with type <class 'str'>
['Mo', '10/22/07', '25.11', '2.572M', '2.64M']
spot of 25.11 with type <class 'str'>
['Fr', '10/19/07', '24.96', '2.886M', '2.668M']
spot of 24.96 with type <class 'str'>
['Th', '10/18/07', '25.6', '1.648M', '2.665M']
spot of 25.6 with type <class 'str'>
['We', '10/17/07', '25.44', '2.592M', '2.823M']
spot of 25.44 with type <class 'str'>
['Tu', '10/16/07', '25.05', '2.59M', '2.938M']
spot of 25.05 with type <class 'str'>
['Mo', '10/15/07', '25.14', '3.423M', '3.082M']
spot of 25.14 with type <class 'str'>
['Fr', '10/12/07', '25.46', '2.447M', '3.127M']
spot of 25.46 with type <class 'str'>
['Th', '10/11/07', '25.63', '3.088M', '3.336M']
spot of 25.63 with type <class 'str'>
['We', '10/10/07', '26.62', '2.69M', '3.439M']
spot of 26.62 with type <class 'str'>
['Tu', '10/9/07', '26.35', '2.807M', '3.468M']
spot of 26.35 with type <class 'str'>
['Mo', '10/8/07', '25.82', '1.75M', '3.485M']
spot of 25.82 with type <class 'str'>
['Fr', '10/5/07', '25.4', '2.59M', '3.524M']
spot of 25.4 with type <class 'str'>
['Th', '10/4/07', '25.13', '3.749M', '3.624M']
spot of 25.13 with type <class 'str'>
['We', '10/3/07', '25.13', '2.227M', '3.651M']
spot of 25.13 with type <class 'str'>
['Tu', '10/2/07', '25.14', '2.54M', '3.839M']
spot of 25.14 with type <class 'str'>
['Mo', '10/1/07', '25.43', '2.999M', '4.163M']
spot of 25.43 with type <class 'str'>
['Fr', '9/28/07', '25.32', '2.833M', '4.125M']
spot of 25.32 with type <class 'str'>
['Th', '9/27/07', '25.2', '4.023M', '4.133M']
spot of 25.2 with type <class 'str'>
['We', '9/26/07', '25.8', '4.316M', '4.121M']
spot of 25.8 with type <class 'str'>
['Tu', '9/25/07', '25.33', '4.755M', '4.042M']
spot of 25.33 with type <class 'str'>
['Mo', '9/24/07', '24.7', '4.087M', '3.871M']
spot of 24.7 with type <class 'str'>
['Fr', '9/21/07', '24.32', '5.588M', '3.745M']
spot of 24.32 with type <class 'str'>
['Th', '9/20/07', '23.91', '4.631M', '3.717M']
spot of 23.91 with type <class 'str'>
['We', '9/19/07', '23.25', '3.125M', '3.839M']
spot of 23.25 with type <class 'str'>
['Tu', '9/18/07', '22.95', '3.068M', '3.76M']
spot of 22.95 with type <class 'str'>
['Mo', '9/17/07', '22.11', '2.325M', '3.674M']
spot of 22.11 with type <class 'str'>
['Fr', '9/14/07', '22.37', '4.097M', '3.657M']
spot of 22.37 with type <class 'str'>
['Th', '9/13/07', '22.8', '4.157M', '3.512M']
spot of 22.8 with type <class 'str'>
['We', '9/12/07', '23.46', '5.048M', '3.417M']
spot of 23.46 with type <class 'str'>
['Tu', '9/11/07', '23.4', '7.394M', '3.191M']
spot of 23.4 with type <class 'str'>
['Mo', '9/10/07', '22.41', '2.437M', '2.837M']
spot of 22.41 with type <class 'str'>
['Fr', '9/7/07', '22.37', '2.938M', '2.918M']
spot of 22.37 with type <class 'str'>
['Th', '9/6/07', '23.03', '3.843M', '3.067M']
spot of 23.03 with type <class 'str'>
['We', '9/5/07', '23.47', '3.142M', '3.153M']
spot of 23.47 with type <class 'str'>

spot of 19.1 with type <class 'str'>
['Mo', '6/4/07', '19.15', '2.788M', '3.37M']
spot of 19.15 with type <class 'str'>
['Fr', '6/1/07', '19.06', '4.019M', '3.297M']
spot of 19.06 with type <class 'str'>
['Th', '5/31/07', '18.81', '4.257M', '3.244M']
spot of 18.81 with type <class 'str'>
['We', '5/30/07', '18.55', '5.893M', '3.167M']
spot of 18.55 with type <class 'str'>
['Tu', '5/29/07', '17.98', '3.482M', '2.914M']
spot of 17.98 with type <class 'str'>
['Fr', '5/25/07', '17.47', '3.059M', '2.833M']
spot of 17.47 with type <class 'str'>
['Th', '5/24/07', '17.45', '5.052M', '2.802M']
spot of 17.45 with type <class 'str'>
['We', '5/23/07', '17.99', '2.353M', '2.667M']
spot of 17.99 with type <class 'str'>
['Tu', '5/22/07', '18.02', '2.763M', '2.679M']
spot of 18.02 with type <class 'str'>
['Mo', '5/21/07', '17.65', '3.912M', '2.676M']
spot of 17.65 with type <class 'str'>
['Fr', '5/18/07', '17.81', '2.94M', '2.612M']
spot of 17.81 with type <class 'str'>
['Th', '5/17/07', '17.76', '2.392M', '2.776M']
spot of 17.76 with type <class 'str'>
['We', '5/16/07', '18.01', '2.267M', '3.043M']
spot of 18.01 with type <class 'str'>
['Tu', '5/15/07', '18.07', '2.456M', '3.121M']
spot of 18.07 with type <class 'str'>
['Mo', '5/14/07', '18.3', '2.923M', '3.2M']
spot of 18.3 with type <class 'str'>
['Fr', '5/11/07', '18.4', '1.689M', '3.17M']
spot of 18.4 with type <class 'str'>
['Th', '5/10/07', '18.1', '3.228M', '3.242M']
spot of 18.1 with type <class 'str'>
['We', '5/9/07', '18.19', '3.092M', '3.213M']
spot of 18.19 with type <class 'str'>
['Tu', '5/8/07', '18.34', '2.108M', '3.34M']
spot of 18.34 with type <class 'str'>
['Mo', '5/7/07', '18.36', '2.264M', '3.427M']
spot of 18.36 with type <class 'str'>
['Fr', '5/4/07', '18.15', '2.599M', '3.663M']
spot of 18.15 with type <class 'str'>
['Th', '5/3/07', '18', '3.023M', '3.867M']
spot of 18 with type <class 'str'>
['We', '5/2/07', '17.8', '2.529M', '3.887M']
spot of 17.8 with type <class 'str'>
['Tu', '5/1/07', '17.62', '2.712M', '4.182M']
spot of 17.62 with type <class 'str'>
['Mo', '4/30/07', '17.68', '2.959M', '4.47M']
spot of 17.68 with type <class 'str'>
['Fr', '4/27/07', '17.56', '5.395M', '4.478M']
spot of 17.56 with type <class 'str'>
['Th', '4/26/07', '18.28', '6.408M', '4.335M']
spot of 18.28 with type <class 'str'>
['We', '4/25/07', '17.77', '3.426M', '4.185M']
spot of 17.77 with type <class 'str'>
['Tu', '4/24/07', '17.79', '3.65M', '4.263M']
spot of 17.79 with type <class 'str'>
['Mo', '4/23/07', '17.53', '2.468M', '4.182M']
spot of 17.53 with type <class 'str'>
['Fr', '4/20/07', '17.37', '2.776M', '4.246M']
spot of 17.37 with type <class 'str'>
['Th', '4/19/07', '17.28', '2.785M', '4.367M']
spot of 17.28 with type <class 'str'>
['We', '4/18/07', '17.13', '4.995M', '4.372M']
spot of 17.13 with type <class 'str'>
['Tu', '4/17/07', '17.23', '3.413M', '4.157M']
spot of 17.23 with type <class 'str'>
['Mo', '4/16/07', '17.4', '5.807M', '4.191M']
spot of 17.4 with type <class 'str'>
['Fr', '4/13/07', '17.19', '5.662M', '4.057M']
spot of 17.19 with type <class 'str'>
['Th', '4/12/07', '16.67', '3.321M', '3.962M']
spot of 16.67 with type <class 'str'>
['We', '4/11/07', '16.74', '6.954M', '3.985M']
spot of 16.74 with type <class 'str'>
['Tu', '4/10/07', '16.5', '7.038M', '3.791M']
spot of 16.5 with type <class 'str'>
['Mo', '4/9/07', '17.02', '3.068M', '3.435M']
spot of 17.02 with type <class 'str'>
['Th', '4/5/07', '16.77', '3.261M', '3.381M']
spot of 16.77 with type <class 'str'>
['We', '4/4/07', '16.74', '4.145M', '3.325M']
spot of 16.74 with type <class 'str'>
['Tu', '4/3/07', '17.06', '4.609M', '3.248M']
spot of 17.06 with type <class 'str'>
['Mo', '4/2/07', '16.8', '2.434M', '3.112M']
spot of 16.8 with type <class 'str'>
['Fr', '3/30/07', '16.81', '3.425M', '3.164M']
spot of 16.81 with type <class 'str'>
['Th', '3/29/07', '17.11', '4.586M', '3.125M']
spot of 17.11 with type <class 'str'>
['We', '3/28/07', '17.09', '2.857M', '2.988M']
spot of 17.09 with type <class 'str'>
['Tu', '3/27/07', '17.4', '1.779M', '2.95M']
spot of 17.4 with type <class 'str'>
['Mo', '3/26/07', '17.6', '3.917M', '3.026M']
spot of 17.6 with type <class 'str'>
['Fr', '3/23/07', '17.63', '3.807M', '3.013M']
spot of 17.63 with type <class 'str'>
['Th', '3/22/07', '17.48', '4.228M', '3.07M']
spot of 17.48 with type <class 'str'>
['We', '3/21/07', '17.82', '3.668M', '3.098M']
spot of 17.82 with type <class 'str'>
['Tu', '3/20/07', '17.52', '4.037M', '3.077M']
spot of 17.52 with type <class 'str'>
['Mo', '3/19/07', '17.78', '1.705M', '3.029M']
spot of 17.78 with type <class 'str'>
['Fr', '3/16/07', '17.64', '2.257M', '3.169M']
spot of 17.64 with type <class 'str'>
['Th', '3/15/07', '17.99', '2.416M', '3.311M']
spot of 17.99 with type <class 'str'>
['We', '3/14/07', '17.7', '3.002M', '3.286M']
spot of 17.7 with type <class 'str'>
['Tu', '3/13/07', '17.69', '2.562M', '3.322M']
spot of 17.69 with type <class 'str'>
['Mo', '3/12/07', '18.05', '3.21M', '3.268M']
spot of 18.05 with type <class 'str'>
['Fr', '3/9/07', '18.18', '2.847M', '3.162M']
spot of 18.18 with type <class 'str'>
['Th', '3/8/07', '18.14', '2.533M', '3.182M']
spot of 18.14 with type <class 'str'>
['We', '3/7/07', '18.3', '2.29M', '3.227M']
spot of 18.3 with type <class 'str'>
['Tu', '3/6/07', '18.29', '2.914M', '3.21M']
spot of 18.29 with type <class 'str'>
['Mo', '3/5/07', '18.15', '3.716M', '3.121M']
spot of 18.15 with type <class 'str'>
['Fr', '3/2/07', '18.54', '4.674M', '3.037M']
spot of 18.54 with type <class 'str'>
['Th', '3/1/07', '19.09', '4.64M', '2.863M']
spot of 19.09 with type <class 'str'>
['We', '2/28/07', '19.17', '3.36M', '2.691M']
spot of 19.17 with type <class 'str'>
['Tu', '2/27/07', '19.21', '3.315M', '2.608M']
spot of 19.21 with type <class 'str'>
['Mo', '2/26/07', '20.17', '3.801M', '2.56M']
spot of 20.17 with type <class 'str'>
['Fr', '2/23/07', '20.15', '4.387M', '2.518M']
spot of 20.15 with type <class 'str'>
['Th', '2/22/07', '19.29', '2.035M', '2.452M']
spot of 19.29 with type <class 'str'>
['We', '2/21/07', '19.45', '3.547M', '2.596M']
spot of 19.45 with type <class 'str'>
['Tu', '2/20/07', '18.91', '1.745M', '2.676M']
spot of 18.91 with type <class 'str'>
['Fr', '2/16/07', '18.85', '1.627M', '3.001M']
spot of 18.85 with type <class 'str'>
['Th', '2/15/07', '18.9', '3.147M', '3.643M']
spot of 18.9 with type <class 'str'>
['We', '2/14/07', '19.02', '3.2M', '3.765M']
spot of 19.02 with type <class 'str'>
['Tu', '2/13/07', '18.72', '2.038M', '3.859M']
spot of 18.72 with type <class 'str'>
['Mo', '2/12/07', '18.67', '1.578M', '3.994M']
spot of 18.67 with type <class 'str'>
['Fr', '2/9/07', '18.84', '2.458M', '4.082M']
spot of 18.84 with type <class 'str'>
['Th', '2/8/07', '19.11', '2.059M', '4.209M']
spot of 19.11 with type <class 'str'>
['We', '2/7/07', '19.14', '2.071M', '4.425M']
spot of 19.14 with type <class 'str'>
['Tu', '2/6/07', '19.09', '2.106M', '4.454M']
spot of 19.09 with type <class 'str'>
['Mo', '2/5/07', '19.19', '2.597M', '4.427M']
spot of 19.19 with type <class 'str'>
['Fr', '2/2/07', '19.32', '3.176M', '4.377M']
spot of 19.32 with type <class 'str'>
['Th', '2/1/07', '19.44', '3.39M', '4.518M']
spot of 19.44 with type <class 'str'>
['We', '1/31/07', '19.6', '4.197M', '4.579M']
spot of 19.6 with type <class 'str'>
['Tu', '1/30/07', '19.45', '4.745M', '4.586M']
spot of 19.45 with type <class 'str'>
['Mo', '1/29/07', '19.58', '6.63M', '4.47M']
spot of 19.58 with type <class 'str'>
['Fr', '1/26/07', '19.11', '11.249M', '4.455M']
spot of 19.11 with type <class 'str'>
['Th', '1/25/07', '20.8', '4.988M', '3.978M']
spot of 20.8 with type <class 'str'>
['We', '1/24/07', '20.83', '4.6M', '3.872M']
spot of 20.83 with type <class 'str'>
['Tu', '1/23/07', '19.9', '4.061M', '3.673M']
spot of 19.9 with type <class 'str'>
['Mo', '1/22/07', '20.04', '2.899M', '3.512M']
spot of 20.04 with type <class 'str'>
['Fr', '1/19/07', '20.15', '4.372M', '3.408M']
spot of 20.15 with type <class 'str'>
['Th', '1/18/07', '20.25', '5.296M', '3.181M']
spot of 20.25 with type <class 'str'>
['We', '1/17/07', '21.12', '2.503M', '2.91M']
spot of 21.12 with type <class 'str'>
['Tu', '1/16/07', '20.78', '1.702M', '2.896M']
spot of 20.78 with type <class 'str'>
['Fr', '1/12/07', '21.04', '1.842M', '2.932M']
spot of 21.04 with type <class 'str'>
['Th', '1/11/07', '21.15', '5.299M', '2.975M']
spot of 21.15 with type <class 'str'>
['We', '1/10/07', '20.55', '4.306M', '2.854M']
spot of 20.55 with type <class 'str'>
['Tu', '1/9/07', '19.99', '4.298M', '2.768M']
spot of 19.99 with type <class 'str'>
['Mo', '1/8/07', '19.91', '3.008M', '2.655M']
spot of 19.91 with type <class 'str'>
['Fr', '1/5/07', '19.9', '6.403M', '2.737M']
spot of 19.9 with type <class 'str'>
['Th', '1/4/07', '20.52', '4.092M', '2.493M']
spot of 20.52 with type <class 'str'>
['We', '1/3/07', '20.44', '3.408M', '2.385M']
spot of 20.44 with type <class 'str'>
['Fr', '12/29/06', '20.46', '1.615M', '2.329M']
spot of 20.46 with type <class 'str'>
['Th', '12/28/06', '20.75', '1.633M', '2.399M']
spot of 20.75 with type <class 'str'>
['We', '12/27/06', '20.94', '1.344M', '2.439M']
spot of 20.94 with type <class 'str'>
['Tu', '12/26/06', '20.61', '975.6k', '2.564M']
spot of 20.61 with type <class 'str'>
['Fr', '12/22/06', '20.52', '1.218M', '2.71M']
spot of 20.52 with type <class 'str'>
['Th', '12/21/06', '20.69', '2.293M', '2.893M']
spot of 20.69 with type <class 'str'>
['We', '12/20/06', '20.92', '2.246M', '2.971M']
spot of 20.92 with type <class 'str'>
['Tu', '12/19/06', '21.07', '2.49M', '3.068M']
spot of 21.07 with type <class 'str'>
['Mo', '12/18/06', '20.9', '3.479M', '3.556M']
spot of 20.9 with type <class 'str'>
['Fr', '12/15/06', '20.42', '3.013M', '3.676M']
spot of 20.42 with type <class 'str'>
['Th', '12/14/06', '20.58', '2.616M', '3.533M']
spot of 20.58 with type <class 'str'>
['We', '12/13/06', '20.6', '4.237M', '3.586M']
spot of 20.6 with type <class 'str'>
['Tu', '12/12/06', '20.61', '2.735M', '3.511M']
spot of 20.61 with type <class 'str'>
['Mo', '12/11/06', '21.04', '2.473M', '3.518M']
spot of 21.04 with type <class 'str'>
['Fr', '12/8/06', '21.1', '2.57M', '3.503M']
spot of 21.1 with type <class 'str'>
['Th', '12/7/06', '21.11', '2.663M', '3.53M']
spot of 21.11 with type <class 'str'>
['We', '12/6/06', '21.1', '2.232M', '3.607M']
spot of 21.1 with type <class 'str'>
['Tu', '12/5/06', '21.64', '3.226M', '3.777M']
spot of 21.64 with type <class 'str'>
['Mo', '12/4/06', '21.3', '3.164M', '3.764M']
spot of 21.3 with type <class 'str'>
['Fr', '12/1/06', '21.06', '3.955M', '3.727M']
spot of 21.06 with type <class 'str'>
['Th', '11/30/06', '20.52', '3.466M', '3.689M']
spot of 20.52 with type <class 'str'>
['We', '11/29/06', '20.83', '3.708M', '3.749M']
spot of 20.83 with type <class 'str'>
['Tu', '11/28/06', '20.73', '9.807M', '3.825M']
spot of 20.73 with type <class 'str'>
['Mo', '11/27/06', '20.24', '5.273M', '3.488M']
spot of 20.24 with type <class 'str'>
['Fr', '11/24/06', '21.34', '874.5k', '3.857M']
spot of 21.34 with type <class 'str'>
['We', '11/22/06', '21.41', '3.414M', '4.221M']
spot of 21.41 with type <class 'str'>
['Tu', '11/21/06', '20.8', '3.103M', '4.267M']
spot of 20.8 with type <class 'str'>
['Mo', '11/20/06', '20.79', '2.844M', '4.288M']
spot of 20.79 with type <class 'str'>
['Fr', '11/17/06', '20.45', '2.25M', '4.283M']
spot of 20.45 with type <class 'str'>
['Th', '11/16/06', '20.65', '2.969M', '4.309M']
spot of 20.65 with type <class 'str'>
['We', '11/15/06', '20.43', '3.824M', '4.302M']
spot of 20.43 with type <class 'str'>
['Tu', '11/14/06', '20.28', '4.772M', '4.384M']
spot of 20.28 with type <class 'str'>
['Mo', '11/13/06', '19.4', '3.032M', '4.29M']
spot of 19.4 with type <class 'str'>
['Fr', '11/10/06', '19.58', '2.612M', '4.428M']
spot of 19.58 with type <class 'str'>
['Th', '11/9/06', '19.64', '3.389M', '4.457M']
spot of 19.64 with type <class 'str'>
['We', '11/8/06', '19.4', '4.358M', '4.437M']
spot of 19.4 with type <class 'str'>
['Tu', '11/7/06', '18.85', '4.862M', '4.348M']
spot of 18.85 with type <class 'str'>
['Mo', '11/6/06', '18.87', '4.749M', '4.241M']
spot of 18.87 with type <class 'str'>
['Fr', '11/3/06', '18.94', '10.802M', '4.231M']
spot of 18.94 with type <class 'str'>
['Th', '11/2/06', '18', '6.341M', '3.775M']
spot of 18 with type <class 'str'>
['We', '11/1/06', '17.9', '4.096M', '3.535M']
spot of 17.9 with type <class 'str'>
['Tu', '10/31/06', '18.28', '3.418M', '3.456M']
spot of 18.28 with type <class 'str'>
['Mo', '10/30/06', '17.95', '2.771M', '3.435M']
spot of 17.95 with type <class 'str'>
['Fr', '10/27/06', '18.09', '2.644M', '3.453M']
spot of 18.09 with type <class 'str'>
['Th', '10/26/06', '18.33', '2.854M', '3.441M']
spot of 18.33 with type <class 'str'>
['We', '10/25/06', '18.19', '5.058M', '3.454M']
spot of 18.19 with type <class 'str'>
['Tu', '10/24/06', '17.04', '3.362M', '3.363M']
spot of 17.04 with type <class 'str'>
['Mo', '10/23/06', '17.17', '5.104M', '3.483M']
spot of 17.17 with type <class 'str'>
['Fr', '10/20/06', '17.61', '3.042M', '3.394M']
spot of 17.61 with type <class 'str'>
['Th', '10/19/06', '17.84', '3.098M', '3.476M']
spot of 17.84 with type <class 'str'>
['We', '10/18/06', '17.6', '3.02M', '3.561M']
spot of 17.6 with type <class 'str'>
['Tu', '10/17/06', '17.87', '3.252M', '3.927M']
spot of 17.87 with type <class 'str'>
['Mo', '10/16/06', '18.24', '4.601M', '4.007M']
spot of 18.24 with type <class 'str'>
['Fr', '10/13/06', '17.71', '3.967M', '3.938M']
spot of 17.71 with type <class 'str'>
['Th', '10/12/06', '16.93', '2.739M', '3.887M']
spot of 16.93 with type <class 'str'>
['We', '10/11/06', '17', '2.905M', '3.996M']
spot of 17 with type <class 'str'>
['Tu', '10/10/06', '17.05', '3.108M', '4.031M']
spot of 17.05 with type <class 'str'>
['Mo', '10/9/06', '17.03', '3.036M', '4.088M']
spot of 17.03 with type <class 'str'>
['Fr', '10/6/06', '17.12', '2.466M', '4.195M']
spot of 17.12 with type <class 'str'>
['Th', '10/5/06', '17.31', '3.056M', '4.489M']
spot of 17.31 with type <class 'str'>
['We', '10/4/06', '17.51', '3.685M', '4.472M']
spot of 17.51 with type <class 'str'>
['Tu', '10/3/06', '17.35', '5.164M', '4.34M']
spot of 17.35 with type <class 'str'>
['Mo', '10/2/06', '17.74', '3.776M', '4.216M']
spot of 17.74 with type <class 'str'>
['Fr', '9/29/06', '18.1', '4.263M', '4.089M']
spot of 18.1 with type <class 'str'>
['Th', '9/28/06', '17.95', '4.383M', '3.986M']
spot of 17.95 with type <class 'str'>
['We', '9/27/06', '18.07', '8.511M', '3.992M']
spot of 18.07 with type <class 'str'>
['Tu', '9/26/06', '16.97', '4.443M', '3.766M']
spot of 16.97 with type <class 'str'>
['Mo', '9/25/06', '17.01', '3.57M', '3.671M']
spot of 17.01 with type <class 'str'>
['Fr', '9/22/06', '17.15', '3.197M', '3.664M']
spot of 17.15 with type <class 'str'>
['Th', '9/21/06', '17.56', '4.385M', '3.608M']
spot of 17.56 with type <class 'str'>
['We', '9/20/06', '17.25', '3.428M', '3.491M']
spot of 17.25 with type <class 'str'>
['Tu', '9/19/06', '17.13', '3.958M', '3.412M']
spot of 17.13 with type <class 'str'>
['Mo', '9/18/06', '16.5', '4.634M', '3.323M']
spot of 16.5 with type <class 'str'>
['Fr', '9/15/06', '16.05', '6.881M', '3.172M']
spot of 16.05 with type <class 'str'>
['Th', '9/14/06', '16.8', '2.809M', '2.885M']
spot of 16.8 with type <class 'str'>
['We', '9/13/06', '16.88', '1.704M', '2.851M']
spot of 16.88 with type <class 'str'>
['Tu', '9/12/06', '17', '3.301M', '2.951M']
spot of 17 with type <class 'str'>
['Mo', '9/11/06', '16.45', '1.872M', '2.855M']
spot of 16.45 with type <class 'str'>
['Fr', '9/8/06', '16.37', '2.716M', '2.883M']
spot of 16.37 with type <class 'str'>
['Th', '9/7/06', '16.43', '4.465M', '2.885M']
spot of 16.43 with type <class 'str'>
['We', '9/6/06', '16.96', '5.132M', '2.876M']
spot of 16.96 with type <class 'str'>
['Tu', '9/5/06', '18.33', '3.015M', '2.687M']
spot of 18.33 with type <class 'str'>
['Fr', '9/1/06', '18.94', '3.465M', '2.614M']
spot of 18.94 with type <class 'str'>
['Th', '8/31/06', '18.3', '2.36M', '2.463M']
spot of 18.3 with type <class 'str'>
['We', '8/30/06', '18.06', '2.627M', '2.438M']
spot of 18.06 with type <class 'str'>
['Tu', '8/29/06', '17.82', '2.241M', '2.541M']
spot of 17.82 with type <class 'str'>
['Mo', '8/28/06', '17.5', '2.628M', '2.57M']
spot of 17.5 with type <class 'str'>
['Fr', '8/25/06', '17.2', '2.369M', '2.621M']
spot of 17.2 with type <class 'str'>
['Th', '8/24/06', '17.24', '2.575M', '2.628M']
spot of 17.24 with type <class 'str'>
['We', '8/23/06', '17.73', '2.302M', '2.684M']
spot of 17.73 with type <class 'str'>
['Tu', '8/22/06', '18.11', '3.195M', '2.691M']
spot of 18.11 with type <class 'str'>
['Mo', '8/21/06', '17.96', '1.861M', '2.619M']
spot of 17.96 with type <class 'str'>
['Fr', '8/18/06', '18.06', '2.29M', '2.728M']
spot of 18.06 with type <class 'str'>
['Th', '8/17/06', '17.79', '2.754M', '3.182M']
spot of 17.79 with type <class 'str'>
['We', '8/16/06', '18.15', '4.323M', '3.338M']
spot of 18.15 with type <class 'str'>
['Tu', '8/15/06', '17.05', '2.302M', '3.521M']
spot of 17.05 with type <class 'str'>
['Mo', '8/14/06', '16.08', '1.922M', '3.603M']
spot of 16.08 with type <class 'str'>
['Fr', '8/11/06', '16.08', '1.203M', '3.656M']
spot of 16.08 with type <class 'str'>
['Th', '8/10/06', '16.25', '1.98M', '3.92M']
spot of 16.25 with type <class 'str'>
['We', '8/9/06', '16.28', '4.175M', '4.014M']
spot of 16.28 with type <class 'str'>
['Tu', '8/8/06', '16.63', '2.673M', '3.925M']
spot of 16.63 with type <class 'str'>
['Mo', '8/7/06', '17.01', '3.386M', '4.029M']
spot of 17.01 with type <class 'str'>
['Fr', '8/4/06', '16.96', '2.48M', '3.944M']
spot of 16.96 with type <class 'str'>
['Th', '8/3/06', '17.15', '3.412M', '3.959M']
spot of 17.15 with type <class 'str'>
['We', '8/2/06', '17.15', '2.405M', '3.964M']
spot of 17.15 with type <class 'str'>
['Tu', '8/1/06', '17.28', '2.126M', '4.019M']
spot of 17.28 with type <class 'str'>
['Mo', '7/31/06', '17.54', '3.489M', '4.045M']
spot of 17.54 with type <class 'str'>
['Fr', '7/28/06', '17.85', '9.1M', '3.999M']
spot of 17.85 with type <class 'str'>
['Th', '7/27/06', '16.7', '5.094M', '3.559M']
spot of 16.7 with type <class 'str'>
['We', '7/26/06', '16.85', '7.072M', '3.38M']
spot of 16.85 with type <class 'str'>
['Tu', '7/25/06', '17.51', '3.522M', '3.1M']
spot of 17.51 with type <class 'str'>
['Mo', '7/24/06', '17.76', '2.731M', '2.93M']
spot of 17.76 with type <class 'str'>
['Fr', '7/21/06', '17.52', '5.163M', '2.99M']
spot of 17.52 with type <class 'str'>
['Th', '7/20/06', '18.8', '3.391M', '2.776M']
spot of 18.8 with type <class 'str'>
['We', '7/19/06', '19.19', '2.839M', '2.713M']
spot of 19.19 with type <class 'str'>
['Tu', '7/18/06', '18.72', '4.229M', '2.813M']
spot of 18.72 with type <class 'str'>
['Mo', '7/17/06', '18.53', '2.116M', '2.765M']
spot of 18.53 with type <class 'str'>
['Fr', '7/14/06', '18.35', '2.697M', '2.751M']
spot of 18.35 with type <class 'str'>
['Th', '7/13/06', '18.47', '3.493M', '2.702M']
spot of 18.47 with type <class 'str'>
['We', '7/12/06', '18.81', '3.226M', '2.707M']
spot of 18.81 with type <class 'str'>
['Tu', '7/11/06', '19.25', '2.513M', '2.826M']
spot of 19.25 with type <class 'str'>
['Mo', '7/10/06', '19.03', '2.802M', '2.803M']
spot of 19.03 with type <class 'str'>
['Fr', '7/7/06', '19.7', '2.494M', '2.786M']
spot of 19.7 with type <class 'str'>
['Th', '7/6/06', '19.88', '2.42M', '2.824M']
spot of 19.88 with type <class 'str'>
['We', '7/5/06', '19.52', '2.867M', '2.931M']
spot of 19.52 with type <class 'str'>
['Mo', '7/3/06', '19.96', '969.1k', '3.215M']
spot of 19.96 with type <class 'str'>
['Fr', '6/30/06', '19.81', '3.637M', '3.277M']
spot of 19.81 with type <class 'str'>
['Th', '6/29/06', '19.13', '1.943M', '3.246M']
spot of 19.13 with type <class 'str'>
['We', '6/28/06', '18.45', '2.452M', '3.402M']
spot of 18.45 with type <class 'str'>
['Tu', '6/27/06', '18.44', '4.344M', '3.54M']
spot of 18.44 with type <class 'str'>
['Mo', '6/26/06', '18.08', '3.509M', '3.399M']
spot of 18.08 with type <class 'str'>
['Fr', '6/23/06', '18.36', '1.906M', '3.369M']

['Fr', '3/24/06', '19.19', '3.617M', '5.091M']
spot of 19.19 with type <class 'str'>
['Th', '3/23/06', '18.87', '2.562M', '5.119M']
spot of 18.87 with type <class 'str'>
['We', '3/22/06', '19.11', '4.146M', '5.108M']
spot of 19.11 with type <class 'str'>
['Tu', '3/21/06', '18.99', '4.564M', '5.012M']
spot of 18.99 with type <class 'str'>
['Mo', '3/20/06', '19.74', '2.008M', '4.911M']
spot of 19.74 with type <class 'str'>
['Fr', '3/17/06', '19.42', '3.069M', '4.948M']
spot of 19.42 with type <class 'str'>
['Th', '3/16/06', '19.46', '4.62M', '4.986M']
spot of 19.46 with type <class 'str'>
['We', '3/15/06', '20.17', '5.647M', '5.075M']
spot of 20.17 with type <class 'str'>
['Tu', '3/14/06', '19.59', '6.238M', '5.068M']
spot of 19.59 with type <class 'str'>
['Mo', '3/13/06', '19.03', '4.368M', '4.883M']
spot of 19.03 with type <class 'str'>
['Fr', '3/10/06', '18.8', '7.685M', '4.767M']
spot of 18.8 with type <class 'str'>
['Th', '3/9/06', '19.25', '4.993M', '4.453M']
spot of 19.25 with type <class 'str'>
['We', '3/8/06', '19.74', '6.905M', '4.304M']
spot of 19.74 with type <class 'str'>
['Tu', '3/7/06', '20.69', '12.032M', '4.006M']
spot of 20.69 with type <class 'str'>
['Mo', '3/6/06', '22.37', '3.916M', '3.488M']
spot of 22.37 with type <class 'str'>
['Fr', '3/3/06', '22.51', '4.03M', '3.451M']
spot of 22.51 with type <class 'str'>
['Th', '3/2/06', '22.96', '2.394M', '3.415M']
spot of 22.96 with type <class 'str'>
['We', '3/1/06', '23.19', '2.708M', '3.492M']
spot of 23.19 with type <class 'str'>
['Tu', '2/28/06', '22.25', '3.056M', '3.533M']
spot of 22.25 with type <class 'str'>
['Mo', '2/27/06', '22.57', '2.568M', '3.561M']
spot of 22.57 with type <class 'str'>
['Fr', '2/24/06', '22.35', '3.625M', '3.624M']
spot of 22.35 with type <class 'str'>
['Th', '2/23/06', '22.14', '5.963M', '3.68M']
spot of 22.14 with type <class 'str'>
['We', '2/22/06', '23.11', '5.547M', '3.422M']
spot of 23.11 with type <class 'str'>
['Tu', '2/21/06', '23.67', '3.457M', '3.267M']
spot of 23.67 with type <class 'str'>
['Fr', '2/17/06', '24.18', '2.626M', '3.279M']
spot of 24.18 with type <class 'str'>
['Th', '2/16/06', '23.97', '2.969M', '3.506M']
spot of 23.97 with type <class 'str'>
['We', '2/15/06', '24', '2.764M', '3.512M']
spot of 24 with type <class 'str'>
['Tu', '2/14/06', '23.78', '2.429M', '3.526M']
spot of 23.78 with type <class 'str'>
['Mo', '2/13/06', '23.5', '4.262M', '3.515M']
spot of 23.5 with type <class 'str'>
['Fr', '2/10/06', '23.07', '3.373M', '3.376M']
spot of 23.07 with type <class 'str'>
['Th', '2/9/06', '23.09', '3.48M', '3.413M']
spot of 23.09 with type <class 'str'>
['We', '2/8/06', '22.84', '3.556M', '3.59M']
spot of 22.84 with type <class 'str'>
['Tu', '2/7/06', '21.97', '3.32M', '3.662M']
spot of 21.97 with type <class 'str'>
['Mo', '2/6/06', '22.88', '3.472M', '3.642M']
spot of 22.88 with type <class 'str'>
['Fr', '2/3/06', '22.71', '3.52M', '3.605M']
spot of 22.71 with type <class 'str'>
['Th', '2/2/06', '22.17', '4.459M', '3.686M']
spot of 22.17 with type <class 'str'>
['We', '2/1/06', '21.72', '2.096M', '3.636M']
spot of 21.72 with type <class 'str'>
['Tu', '1/31/06', '21.86', '3.228M', '3.851M']
spot of 21.86 with type <class 'str'>
['Mo', '1/30/06', '21.99', '3.638M', '4.199M']
spot of 21.99 with type <class 'str'>
['Fr', '1/27/06', '21.74', '6.018M', '4.164M']
spot of 21.74 with type <class 'str'>
['Th', '1/26/06', '21.47', '3.072M', '4.066M']
spot of 21.47 with type <class 'str'>
['We', '1/25/06', '20.62', '2.97M', '4.2M']
spot of 20.62 with type <class 'str'>
['Tu', '1/24/06', '20.83', '2.269M', '4.306M']
spot of 20.83 with type <class 'str'>
['Mo', '1/23/06', '20.93', '2.176M', '4.293M']
spot of 20.93 with type <class 'str'>
['Fr', '1/20/06', '20.64', '3.924M', '4.329M']
spot of 20.64 with type <class 'str'>
['Th', '1/19/06', '21.7', '6.134M', '4.224M']
spot of 21.7 with type <class 'str'>
['We', '1/18/06', '21', '4.641M', '4.037M']
spot of 21 with type <class 'str'>
['Tu', '1/17/06', '21.11', '3.012M', '4.007M']
spot of 21.11 with type <class 'str'>
['Fr', '1/13/06', '21.55', '2.913M', '4.524M']
spot of 21.55 with type <class 'str'>
['Th', '1/12/06', '21.58', '4.743M', '6.085M']
spot of 21.58 with type <class 'str'>
['We', '1/11/06', '21.73', '3.707M', '5.897M']
spot of 21.73 with type <class 'str'>
['Tu', '1/10/06', '21.33', '5.319M', '5.836M']
spot of 21.33 with type <class 'str'>
['Mo', '1/9/06', '21.14', '8.455M', '5.653M']
spot of 21.14 with type <class 'str'>
['Fr', '1/6/06', '19.9', '3.108M', '5.255M']
spot of 19.9 with type <class 'str'>
['Th', '1/5/06', '19.47', '4.543M', '5.18M']
spot of 19.47 with type <class 'str'>
['We', '1/4/06', '19.66', '5.09M', '4.979M']
spot of 19.66 with type <class 'str'>
['Tu', '1/3/06', '19.02', '4.556M', '4.762M']
spot of 19.02 with type <class 'str'>
['Fr', '12/30/05', '18.61', '2.074M', '4.564M']
spot of 18.61 with type <class 'str'>
['Th', '12/29/05', '18.44', '2.721M', '4.566M']
spot of 18.44 with type <class 'str'>
['We', '12/28/05', '18.38', '2.352M', '4.493M']
spot of 18.38 with type <class 'str'>
['Tu', '12/27/05', '18.3', '3.316M', '4.44M']
spot of 18.3 with type <class 'str'>
['Fr', '12/23/05', '18.85', '4.194M', '4.38M']
spot of 18.85 with type <class 'str'>
['Th', '12/22/05', '18.93', '10.774M', '4.253M']
spot of 18.93 with type <class 'str'>
['We', '12/21/05', '18.45', '26.319M', '3.716M']
spot of 18.45 with type <class 'str'>
['Tu', '12/20/05', '15.56', '1.923M', '2.235M']
spot of 15.56 with type <class 'str'>
['Mo', '12/19/05', '15.13', '2.797M', '2.326M']
spot of 15.13 with type <class 'str'>
['Fr', '12/16/05', '15.31', '2.578M', '2.315M']
spot of 15.31 with type <class 'str'>
['Th', '12/15/05', '14.96', '2.475M', '2.183M']
spot of 14.96 with type <class 'str'>
['We', '12/14/05', '15.25', '1.982M', '2.201M']
spot of 15.25 with type <class 'str'>
['Tu', '12/13/05', '15.31', '1.535M', '2.452M']
spot of 15.31 with type <class 'str'>
['Mo', '12/12/05', '15.31', '1.835M', '2.469M']
spot of 15.31 with type <class 'str'>
['Fr', '12/9/05', '15.27', '1.591M', '2.616M']
spot of 15.27 with type <class 'str'>
['Th', '12/8/05', '15.13', '2.093M', '2.984M']
spot of 15.13 with type <class 'str'>
['We', '12/7/05', '14.94', '1.63M', '2.997M']
spot of 14.94 with type <class 'str'>
['Tu', '12/6/05', '14.96', '1.558M', '3.023M']
spot of 14.96 with type <class 'str'>
['Mo', '12/5/05', '14.97', '2.414M', '3.003M']
spot of 14.97 with type <class 'str'>
['Fr', '12/2/05', '14.99', '2.284M', '2.957M']
spot of 14.99 with type <class 'str'>
['Th', '12/1/05', '14.97', '2.721M', '3.044M']
spot of 14.97 with type <class 'str'>
['We', '11/30/05', '14.92', '4.114M', '2.976M']
spot of 14.92 with type <class 'str'>
['Tu', '11/29/05', '14.79', '3.287M', '2.871M']
spot of 14.79 with type <class 'str'>
['Mo', '11/28/05', '14.5', '2.631M', '2.847M']
spot of 14.5 with type <class 'str'>
['Fr', '11/25/05', '14.75', '588.3k', '2.825M']
spot of 14.75 with type <class 'str'>
['We', '11/23/05', '14.8', '2.757M', '3.025M']
spot of 14.8 with type <class 'str'>
['Tu', '11/22/05', '14.85', '5.736M', '2.966M']
spot of 14.85 with type <class 'str'>
['Mo', '11/21/05', '13.55', '1.801M', '2.765M']
spot of 13.55 with type <class 'str'>
['Fr', '11/18/05', '13.87', '4.035M', '2.831M']
spot of 13.87 with type <class 'str'>
['Th', '11/17/05', '13.76', '7.112M', '2.797M']
spot of 13.76 with type <class 'str'>
['We', '11/16/05', '12.68', '2.278M', '2.489M']
spot of 12.68 with type <class 'str'>
['Tu', '11/15/05', '12.12', '2.028M', '2.479M']
spot of 12.12 with type <class 'str'>
['Mo', '11/14/05', '12.24', '1.254M', '2.471M']
spot of 12.24 with type <class 'str'>
['Fr', '11/11/05', '12.44', '1.724M', '2.505M']
spot of 12.44 with type <class 'str'>
['Th', '11/10/05', '12.21', '3.593M', '2.548M']
spot of 12.21 with type <class 'str'>
['We', '11/9/05', '12.42', '1.703M', '2.499M']
spot of 12.42 with type <class 'str'>
['Tu', '11/8/05', '12.37', '2.537M', '2.658M']
spot of 12.37 with type <class 'str'>
['Mo', '11/7/05', '12.51', '2.923M', '2.656M']
spot of 12.51 with type <class 'str'>
['Fr', '11/4/05', '12.93', '2.312M', '2.623M']
spot of 12.93 with type <class 'str'>
['Th', '11/3/05', '12.65', '3.587M', '2.663M']
spot of 12.65 with type <class 'str'>
['We', '11/2/05', '12.14', '1.861M', '2.681M']
spot of 12.14 with type <class 'str'>
['Tu', '11/1/05', '11.83', '2.728M', '2.863M']
spot of 11.83 with type <class 'str'>
['Mo', '10/31/05', '12.1', '2.788M', '2.801M']
spot of 12.1 with type <class 'str'>
['Fr', '10/28/05', '11.82', '3.529M', '2.761M']
spot of 11.82 with type <class 'str'>
['Th', '10/27/05', '11.35', '2.496M', '2.638M']
spot of 11.35 with type <class 'str'>
['We', '10/26/05', '11.81', '2.118M', '2.708M']
spot of 11.81 with type <class 'str'>
['Tu', '10/25/05', '11.72', '1.919M', '2.796M']
spot of 11.72 with type <class 'str'>
['Mo', '10/24/05', '11.57', '1.759M', '2.845M']
spot of 11.57 with type <class 'str'>
['Fr', '10/21/05', '11.35', '2.373M', '2.941M']
spot of 11.35 with type <class 'str'>
['Th', '10/20/05', '11.62', '2.85M', '3.003M']
spot of 11.62 with type <class 'str'>
['We', '10/19/05', '11.72', '4.093M', '2.961M']
spot of 11.72 with type <class 'str'>
['Tu', '10/18/05', '11.89', '2.505M', '2.906M']
spot of 11.89 with type <class 'str'>
['Mo', '10/17/05', '11.84', '2.422M', '2.942M']
spot of 11.84 with type <class 'str'>
['Fr', '10/14/05', '11.96', '2.917M', '2.929M']
spot of 11.96 with type <class 'str'>
['Th', '10/13/05', '11.9', '3.855M', '2.92M']
spot of 11.9 with type <class 'str'>
['We', '10/12/05', '11.75', '4.589M', '2.889M']
spot of 11.75 with type <class 'str'>
['Tu', '10/11/05', '12.32', '1.799M', '2.767M']
spot of 12.32 with type <class 'str'>
['Mo', '10/10/05', '12.17', '2.191M', '2.812M']
spot of 12.17 with type <class 'str'>
['Fr', '10/7/05', '12.19', '1.679M', '2.921M']
spot of 12.19 with type <class 'str'>
['Th', '10/6/05', '12.31', '3.556M', '3.056M']
spot of 12.31 with type <class 'str'>
['We', '10/5/05', '12.55', '3.432M', '3.121M']
spot of 12.55 with type <class 'str'>
['Tu', '10/4/05', '12.8', '2.657M', '3.055M']
spot of 12.8 with type <class 'str'>
['Mo', '10/3/05', '12.89', '3.192M', '3.035M']
spot of 12.89 with type <class 'str'>
['Fr', '9/30/05', '12.93', '3.307M', '2.929M']
spot of 12.93 with type <class 'str'>
['Th', '9/29/05', '12.65', '2.219M', '2.816M']
spot of 12.65 with type <class 'str'>
['We', '9/28/05', '12.29', '3.269M', '2.935M']
spot of 12.29 with type <class 'str'>
['Tu', '9/27/05', '12.37', '3.049M', '3.138M']
spot of 12.37 with type <class 'str'>
['Mo', '9/26/05', '12.74', '2.23M', '3.157M']
spot of 12.74 with type <class 'str'>
['Fr', '9/23/05', '12.63', '2.771M', '3.173M']
spot of 12.63 with type <class 'str'>
['Th', '9/22/05', '12.77', '3.391M', '3.153M']
spot of 12.77 with type <class 'str'>
['We', '9/21/05', '13', '2.766M', '3.125M']
spot of 13 with type <class 'str'>
['Tu', '9/20/05', '12.9', '2.474M', '3.311M']
spot of 12.9 with type <class 'str'>
['Mo', '9/19/05', '12.89', '3.818M', '3.257M']
spot of 12.89 with type <class 'str'>
['Fr', '9/16/05', '13.04', '3.705M', '3.289M']
spot of 13.04 with type <class 'str'>
['Th', '9/15/05', '13.14', '4.532M', '3.119M']
spot of 13.14 with type <class 'str'>
['We', '9/14/05', '13.53', '2.449M', '2.952M']
spot of 13.53 with type <class 'str'>
['Tu', '9/13/05', '14.04', '2.35M', '2.897M']
spot of 14.04 with type <class 'str'>
['Mo', '9/12/05', '13.75', '1.61M', '2.832M']
spot of 13.75 with type <class 'str'>
['Fr', '9/9/05', '13.69', '1.6M', '2.811M']
spot of 13.69 with type <class 'str'>
['Th', '9/8/05', '13.82', '4.012M', '2.831M']
spot of 13.82 with type <class 'str'>
['We', '9/7/05', '14.38', '6.313M', '2.66M']
spot of 14.38 with type <class 'str'>
['Tu', '9/6/05', '13.56', '3.339M', '2.335M']
spot of 13.56 with type <class 'str'>
['Fr', '9/2/05', '13.59', '2.461M', '2.248M']
spot of 13.59 with type <class 'str'>
['Th', '9/1/05', '13.59', '2.481M', '2.242M']
spot of 13.59 with type <class 'str'>
['We', '8/31/05', '13.85', '2.959M', '2.221M']
spot of 13.85 with type <class 'str'>
['Tu', '8/30/05', '13.55', '5.561M', '2.163M']
spot of 13.55 with type <class 'str'>
['Mo', '8/29/05', '13.9', '1.665M', '1.96M']
spot of 13.9 with type <class 'str'>
['Fr', '8/26/05', '13.75', '4.296M', '1.948M']
spot of 13.75 with type <class 'str'>
['Th', '8/25/05', '14.25', '1.155M', '1.787M']
spot of 14.25 with type <class 'str'>
['We', '8/24/05', '14.33', '2.029M', '1.843M']
spot of 14.33 with type <class 'str'>
['Tu', '8/23/05', '14.39', '1.619M', '1.864M']
spot of 14.39 with type <class 'str'>
['Mo', '8/22/05', '14.23', '1.381M', '1.961M']
spot of 14.23 with type <class 'str'>
['Fr', '8/19/05', '14.14', '1.295M', '2.033M']
spot of 14.14 with type <class 'str'>
['Th', '8/18/05', '14.08', '1.898M', '2.223M']
spot of 14.08 with type <class 'str'>
['We', '8/17/05', '14.42', '1.442M', '2.588M']
spot of 14.42 with type <class 'str'>
['Tu', '8/16/05', '14.26', '1.446M', '2.758M']
spot of 14.26 with type <class 'str'>
['Mo', '8/15/05', '14.65', '2.036M', '2.921M']
spot of 14.65 with type <class 'str'>
['Fr', '8/12/05', '14.6', '2.364M', '2.997M']
spot of 14.6 with type <class 'str'>
['Th', '8/11/05', '14.89', '2.176M', '3.089M']
spot of 14.89 with type <class 'str'>
['We', '8/10/05', '14.6', '2.076M', '3.158M']
spot of 14.6 with type <class 'str'>
['Tu', '8/9/05', '14.54', '2.529M', '3.266M']
spot of 14.54 with type <class 'str'>
['Mo', '8/8/05', '14.66', '1.474M', '3.267M']
spot of 14.66 with type <class 'str'>
['Fr', '8/5/05', '14.9', '1.881M', '3.285M']
spot of 14.9 with type <class 'str'>
['Th', '8/4/05', '14.98', '1.999M', '3.269M']
spot of 14.98 with type <class 'str'>
['We', '8/3/05', '14.98', '2.349M', '3.273M']
spot of 14.98 with type <class 'str'>
['Tu', '8/2/05', '15.08', '3.076M', '3.33M']
spot of 15.08 with type <class 'str'>
['Mo', '8/1/05', '15.04', '2.457M', '3.261M']
spot of 15.04 with type <class 'str'>
['Fr', '7/29/05', '14.99', '4.139M', '3.249M']
spot of 14.99 with type <class 'str'>
['Th', '7/28/05', '14.99', '7.377M', '3.261M']
spot of 14.99 with type <class 'str'>
['We', '7/27/05', '14.51', '3.997M', '2.942M']
spot of 14.51 with type <class 'str'>
['Tu', '7/26/05', '14.67', '3.892M', '2.893M']
spot of 14.67 with type <class 'str'>
['Mo', '7/25/05', '14.09', '3.175M', '2.763M']
spot of 14.09 with type <class 'str'>
['Fr', '7/22/05', '14.14', '3.742M', '2.732M']
spot of 14.14 with type <class 'str'>
['Th', '7/21/05', '14.02', '3.213M', '2.618M']
spot of 14.02 with type <class 'str'>
['We', '7/20/05', '14.52', '3.69M', '2.665M']
spot of 14.52 with type <class 'str'>
['Tu', '7/19/05', '14.7', '2.537M', '2.712M']
spot of 14.7 with type <class 'str'>
['Mo', '7/18/05', '14.21', '1.744M', '2.691M']
spot of 14.21 with type <class 'str'>
['Fr', '7/15/05', '14.28', '1.654M', '2.81M']
spot of 14.28 with type <class 'str'>
['Th', '7/14/05', '14.5', '2.047M', '3.002M']
spot of 14.5 with type <class 'str'>
['We', '7/13/05', '14.6', '3.21M', '3.271M']
spot of 14.6 with type <class 'str'>
['Tu', '7/12/05', '14.55', '2.033M', '3.282M']
spot of 14.55 with type <class 'str'>
['Mo', '7/11/05', '14.56', '2.291M', '3.545M']
spot of 14.56 with type <class 'str'>
['Fr', '7/8/05', '14.27', '4.316M', '4.248M']
spot of 14.27 with type <class 'str'>
['Th', '7/7/05', '13.9', '2.595M', '4.099M']
spot of 13.9 with type <class 'str'>
['We', '7/6/05', '13.94', '3.259M', '4.244M']
spot of 13.94 with type <class 'str'>
['Tu', '7/5/05', '13.71', '1.935M', '4.718M']
spot of 13.71 with type <class 'str'>
['Fr', '7/1/05', '13.76', '2.709M', '5.887M']
spot of 13.76 with type <class 'str'>
['Th', '6/30/05', '13.42', '2.035M', '6.078M']
spot of 13.42 with type <class 'str'>
['We', '6/29/05', '13.56', '3.912M', '6.156M']
spot of 13.56 with type <class 'str'>
['Tu', '6/28/05', '13.25', '4.409M', '6.247M']
spot of 13.25 with type <class 'str'>
['Mo', '6/27/05', '13.2', '2.219M', '6.507M']
spot of 13.2 with type <class 'str'>
['Fr', '6/24/05', '13.25', '3.527M', '6.49M']
spot of 13.25 with type <class 'str'>
['Th', '6/23/05', '13.84', '4.531M', '6.363M']
spot of 13.84 with type <class 'str'>
['We', '6/22/05', '14.12', '6.077M', '6.194M']
spot of 14.12 with type <class 'str'>
['Tu', '6/21/05', '13.93', '3.375M', '5.914M']
spot of 13.93 with type <class 'str'>
['Mo', '6/20/05', '13.73', '5.982M', '5.883M']
spot of 13.73 with type <class 'str'>
['Fr', '6/17/05', '13.36', '12.842M', '5.579M']
spot of 13.36 with type <class 'str'>
['Th', '6/16/05', '14.4', '2.072M', '4.893M']
spot of 14.4 with type <class 'str'>
['We', '6/15/05', '14.46', '4.772M', '4.873M']
spot of 14.46 with type <class 'str'>
['Tu', '6/14/05', '14.31', '10.371M', '4.732M']
spot of 14.31 with type <class 'str'>
['Mo', '6/13/05', '15.65', '19.471M', '4.171M']
spot of 15.65 with type <class 'str'>
['Fr', '6/10/05', '15.65', '5.574M', '3.038M']
spot of 15.65 with type <class 'str'>
['Th', '6/9/05', '15.47', '3.215M', '2.928M']
spot of 15.47 with type <class 'str'>
['We', '6/8/05', '15.4', '5.275M', '3.009M']
spot of 15.4 with type <class 'str'>
['Tu', '6/7/05', '15.95', '8.3M', '2.964M']
spot of 15.95 with type <class 'str'>
['Mo', '6/6/05', '14.95', '1.973M', '2.685M']
spot of 14.95 with type <class 'str'>
['Fr', '6/3/05', '14.78', '1.619M', '2.756M']
spot of 14.78 with type <class 'str'>
['Th', '6/2/05', '15.05', '1.99M', '2.795M']
spot of 15.05 with type <class 'str'>
['We', '6/1/05', '15.04', '1.886M', '2.781M']
spot of 15.04 with type <class 'str'>
['Tu', '5/31/05', '15.01', '2.91M', '2.784M']
spot of 15.01 with type <class 'str'>
['Fr', '5/27/05', '14.94', '1.42M', '2.765M']
spot of 14.94 with type <class 'str'>
['Th', '5/26/05', '14.8', '2.542M', '2.825M']
spot of 14.8 with type <class 'str'>
['We', '5/25/05', '14.59', '1.77M', '2.826M']
spot of 14.59 with type <class 'str'>
['Tu', '5/24/05', '14.57', '2.666M', '2.824M']
spot of 14.57 with type <class 'str'>
['Mo', '5/23/05', '14.44', '1.952M', '2.842M']
spot of 14.44 with type <class 'str'>
['Fr', '5/20/05', '14.24', '2.485M', '2.876M']
spot of 14.24 with type <class 'str'>
['Th', '5/19/05', '14.35', '3.916M', '2.919M']
spot of 14.35 with type <class 'str'>
['We', '5/18/05', '14.58', '4.43M', '2.884M']
spot of 14.58 with type <class 'str'>
['Tu', '5/17/05', '14.25', '4.607M', '2.697M']
spot of 14.25 with type <class 'str'>
['Mo', '5/16/05', '13.99', '4.103M', '2.516M']
spot of 13.99 with type <class 'str'>
['Fr', '5/13/05', '13.66', '3.041M', '2.571M']
spot of 13.66 with type <class 'str'>
['Th', '5/12/05', '13.3', '2.203M', '2.737M']
spot of 13.3 with type <class 'str'>
['We', '5/11/05', '13.27', '1.783M', '2.799M']
spot of 13.27 with type <class 'str'>
['Tu', '5/10/05', '13.22', '1.937M', '2.915M']
spot of 13.22 with type <class 'str'>
['Mo', '5/9/05', '13.44', '2.624M', '3.034M']
spot of 13.44 with type <class 'str'>
['Fr', '5/6/05', '13.22', '2.322M', '3.179M']
spot of 13.22 with type <class 'str'>
['Th', '5/5/05', '12.82', '2.549M', '3.381M']
spot of 12.82 with type <class 'str'>
['We', '5/4/05', '13.12', '1.746M', '3.469M']
spot of 13.12 with type <class 'str'>
['Tu', '5/3/05', '12.97', '2.935M', '3.567M']
spot of 12.97 with type <class 'str'>
['Mo', '5/2/05', '12.82', '2.458M', '3.756M']
spot of 12.82 with type <class 'str'>
['Fr', '4/29/05', '12.69', '3.129M', '3.874M']
spot of 12.69 with type <class 'str'>
['Th', '4/28/05', '12.69', '3.402M', '4.087M']
spot of 12.69 with type <class 'str'>
['We', '4/27/05', '12.74', '1.618M', '4.148M']
spot of 12.74 with type <class 'str'>
['Tu', '4/26/05', '12.52', '1.887M', '4.163M']
spot of 12.52 with type <class 'str'>
['Mo', '4/25/05', '12.66', '4.935M', '4.177M']
spot of 12.66 with type <class 'str'>
['Fr', '4/22/05', '12.2', '5.524M', '4.035M']
spot of 12.2 with type <class 'str'>
['Th', '4/21/05', '12.9', '3.14M', '3.958M']
spot of 12.9 with type <class 'str'>
['We', '4/20/05', '12.43', '3.522M', '4.507M']
spot of 12.43 with type <class 'str'>
['Tu', '4/19/05', '12.68', '3.713M', '4.434M']
spot of 12.68 with type <class 'str'>
['Mo', '4/18/05', '12.25', '4.806M', '4.492M']

['Th', '1/13/05', '10.11', '2.647M', '1.76M']
spot of 10.11 with type <class 'str'>
['We', '1/12/05', '9.94', '1.812M', '1.752M']
spot of 9.94 with type <class 'str'>
['Tu', '1/11/05', '9.95', '2.313M', '1.749M']
spot of 9.95 with type <class 'str'>
['Mo', '1/10/05', '10.12', '2.108M', '1.719M']
spot of 10.12 with type <class 'str'>
['Fr', '1/7/05', '10.1', '1.627M', '1.675M']
spot of 10.1 with type <class 'str'>
['Th', '1/6/05', '10.14', '1.785M', '1.662M']
spot of 10.14 with type <class 'str'>
['We', '1/5/05', '10.23', '2.455M', '1.707M']
spot of 10.23 with type <class 'str'>
['Tu', '1/4/05', '10.47', '2.402M', '1.758M']
spot of 10.47 with type <class 'str'>
['Mo', '1/3/05', '10.74', '2.011M', '1.744M']
spot of 10.74 with type <class 'str'>
['Fr', '12/31/04', '10.84', '1.352M', '1.768M']
spot of 10.84 with type <class 'str'>
['Th', '12/30/04', '10.72', '1.215M', '1.797M']
spot of 10.72 with type <class 'str'>
['We', '12/29/04', '10.67', '1.135M', '1.903M']
spot of 10.67 with type <class 'str'>
['Tu', '12/28/04', '10.6', '1.074M', '2.015M']
spot of 10.6 with type <class 'str'>
['Mo', '12/27/04', '10.56', '1.204M', '2.106M']
spot of 10.56 with type <class 'str'>
['Th', '12/23/04', '10.49', '1.253M', '2.188M']
spot of 10.49 with type <class 'str'>
['We', '12/22/04', '10.59', '2.525M', '2.469M']
spot of 10.59 with type <class 'str'>
['Tu', '12/21/04', '10.34', '1.774M', '2.725M']
spot of 10.34 with type <class 'str'>
['Mo', '12/20/04', '10.25', '1.863M', '2.755M']
spot of 10.25 with type <class 'str'>
['Fr', '12/17/04', '10.5', '1.454M', '2.701M']
spot of 10.5 with type <class 'str'>
['Th', '12/16/04', '10.54', '1.424M', '2.623M']
spot of 10.54 with type <class 'str'>
['We', '12/15/04', '10.55', '2.459M', '2.615M']
spot of 10.55 with type <class 'str'>
['Tu', '12/14/04', '10.31', '3.221M', '2.501M']
spot of 10.31 with type <class 'str'>
['Mo', '12/13/04', '10.2', '2.198M', '2.356M']
spot of 10.2 with type <class 'str'>
['Fr', '12/10/04', '10.27', '2.374M', '2.309M']
spot of 10.27 with type <class 'str'>
['Th', '12/9/04', '10.26', '1.775M', '2.222M']
spot of 10.26 with type <class 'str'>
['We', '12/8/04', '10.4', '2.819M', '2.317M']
spot of 10.4 with type <class 'str'>
['Tu', '12/7/04', '10.38', '2.815M', '2.228M']
spot of 10.38 with type <class 'str'>
['Mo', '12/6/04', '10.84', '2.433M', '2.26M']
spot of 10.84 with type <class 'str'>
['Fr', '12/3/04', '10.67', '2.436M', '2.29M']
spot of 10.67 with type <class 'str'>
['Th', '12/2/04', '10.61', '5.462M', '2.229M']
spot of 10.61 with type <class 'str'>
['We', '12/1/04', '10.38', '6.369M', '1.915M']
spot of 10.38 with type <class 'str'>
['Tu', '11/30/04', '9.77', '2.229M', '1.544M']
spot of 9.77 with type <class 'str'>
['Mo', '11/29/04', '9.39', '1.046M', '1.464M']
spot of 9.39 with type <class 'str'>
['Fr', '11/26/04', '9.57', '282.4k', '1.514M']
spot of 9.57 with type <class 'str'>
['We', '11/24/04', '9.5', '1.312M', '1.564M']
spot of 9.5 with type <class 'str'>
['Tu', '11/23/04', '9.22', '745.5k', '1.535M']
spot of 9.22 with type <class 'str'>
['Mo', '11/22/04', '9.28', '1.049M', '1.583M']
spot of 9.28 with type <class 'str'>
['Fr', '11/19/04', '9.02', '1.486M', '1.605M']
spot of 9.02 with type <class 'str'>
['Th', '11/18/04', '9.21', '1.068M', '1.593M']
spot of 9.21 with type <class 'str'>
['We', '11/17/04', '9.39', '3.205M', '1.637M']
spot of 9.39 with type <class 'str'>
['Tu', '11/16/04', '9.21', '1.484M', '1.692M']
spot of 9.21 with type <class 'str'>
['Mo', '11/15/04', '9.25', '3.291M', '1.836M']
spot of 9.25 with type <class 'str'>
['Fr', '11/12/04', '8.99', '2.89M', '1.776M']
spot of 8.99 with type <class 'str'>
['Th', '11/11/04', '8.97', '1.514M', '1.724M']
spot of 8.97 with type <class 'str'>
['We', '11/10/04', '8.85', '760.8k', '2.048M']
spot of 8.85 with type <class 'str'>
['Tu', '11/9/04', '8.89', '791.7k', '2.187M']
spot of 8.89 with type <class 'str'>
['Mo', '11/8/04', '8.79', '1.039M', '2.244M']
spot of 8.79 with type <class 'str'>
['Fr', '11/5/04', '8.75', '1.79M', '2.248M']
spot of 8.75 with type <class 'str'>
['Th', '11/4/04', '8.69', '1.029M', '2.203M']
spot of 8.69 with type <class 'str'>
['We', '11/3/04', '8.6', '887k', '2.201M']
spot of 8.6 with type <class 'str'>
['Tu', '11/2/04', '8.57', '1.462M', '2.289M']
spot of 8.57 with type <class 'str'>
['Mo', '11/1/04', '8.47', '1.377M', '2.315M']
spot of 8.47 with type <class 'str'>
['Fr', '10/29/04', '8.33', '1.308M', '2.282M']
spot of 8.33 with type <class 'str'>
['Th', '10/28/04', '8.23', '1.724M', '2.281M']
spot of 8.23 with type <class 'str'>
['We', '10/27/04', '8.22', '4.037M', '2.287M']
spot of 8.22 with type <class 'str'>
['Tu', '10/26/04', '8.03', '3.635M', '2.21M']
spot of 8.03 with type <class 'str'>
['Mo', '10/25/04', '8.28', '2.399M', '2.086M']
spot of 8.28 with type <class 'str'>
['Fr', '10/22/04', '8.17', '2.112M', '2.181M']
spot of 8.17 with type <class 'str'>
['Th', '10/21/04', '8.02', '6.369M', '2.214M']
spot of 8.02 with type <class 'str'>
['We', '10/20/04', '8.95', '2.842M', '1.865M']
spot of 8.95 with type <class 'str'>
['Tu', '10/19/04', '9.08', '1.657M', '1.769M']
spot of 9.08 with type <class 'str'>
['Mo', '10/18/04', '9.2', '1.099M', '1.729M']
spot of 9.2 with type <class 'str'>
['Fr', '10/15/04', '9', '1.111M', '1.726M']
spot of 9 with type <class 'str'>
['Th', '10/14/04', '9.05', '999.8k', '1.72M']
spot of 9.05 with type <class 'str'>
['We', '10/13/04', '9.1', '2.199M', '1.769M']
spot of 9.1 with type <class 'str'>
['Tu', '10/12/04', '9.3', '1.863M', '1.729M']
spot of 9.3 with type <class 'str'>
['Mo', '10/11/04', '9.48', '881.4k', '1.734M']
spot of 9.48 with type <class 'str'>
['Fr', '10/8/04', '9.44', '1.294M', '1.829M']
spot of 9.44 with type <class 'str'>
['Th', '10/7/04', '9.5', '1.81M', '1.999M']
spot of 9.5 with type <class 'str'>
['We', '10/6/04', '9.52', '2.876M', '2.189M']
spot of 9.52 with type <class 'str'>
['Tu', '10/5/04', '9.29', '1.773M', '2.104M']
spot of 9.29 with type <class 'str'>
['Mo', '10/4/04', '9.37', '3.824M', '2.187M']
spot of 9.37 with type <class 'str'>
['Fr', '10/1/04', '9.12', '2.619M', '2.098M']
spot of 9.12 with type <class 'str'>
['Th', '9/30/04', '8.79', '1.12M', '2.1M']
spot of 8.79 with type <class 'str'>
['We', '9/29/04', '8.77', '1.408M', '2.102M']
spot of 8.77 with type <class 'str'>
['Tu', '9/28/04', '8.5', '1.063M', '2.102M']
spot of 8.5 with type <class 'str'>
['Mo', '9/27/04', '8.32', '1.048M', '2.284M']
spot of 8.32 with type <class 'str'>
['Fr', '9/24/04', '8.51', '1.018M', '2.333M']
spot of 8.51 with type <class 'str'>
['Th', '9/23/04', '8.71', '1.732M', '2.403M']
spot of 8.71 with type <class 'str'>
['We', '9/22/04', '8.78', '1.611M', '2.474M']
spot of 8.78 with type <class 'str'>
['Tu', '9/21/04', '8.95', '1.928M', '2.433M']
spot of 8.95 with type <class 'str'>
['Mo', '9/20/04', '8.89', '2.31M', '2.329M']
spot of 8.89 with type <class 'str'>
['Fr', '9/17/04', '8.88', '3.848M', '2.212M']
spot of 8.88 with type <class 'str'>
['Th', '9/16/04', '8.65', '4.65M', '2.004M']
spot of 8.65 with type <class 'str'>
['We', '9/15/04', '8.35', '1.609M', '1.759M']
spot of 8.35 with type <class 'str'>
['Tu', '9/14/04', '8.65', '3.024M', '1.753M']
spot of 8.65 with type <class 'str'>
['Mo', '9/13/04', '8.44', '2.479M', '1.654M']
spot of 8.44 with type <class 'str'>
['Fr', '9/10/04', '8.55', '2.65M', '1.742M']
spot of 8.55 with type <class 'str'>
['Th', '9/9/04', '8.32', '1.154M', '1.692M']
spot of 8.32 with type <class 'str'>
['We', '9/8/04', '8.24', '1.407M', '1.753M']
spot of 8.24 with type <class 'str'>
['Tu', '9/7/04', '8.14', '3.793M', '1.793M']
spot of 8.14 with type <class 'str'>
['Fr', '9/3/04', '8.01', '1.788M', '1.66M']
spot of 8.01 with type <class 'str'>
['Th', '9/2/04', '8.02', '2.057M', '1.657M']
spot of 8.02 with type <class 'str'>
['We', '9/1/04', '7.84', '2.811M', '1.634M']
spot of 7.84 with type <class 'str'>
['Tu', '8/31/04', '7.46', '981.9k', '1.544M']
spot of 7.46 with type <class 'str'>
['Mo', '8/30/04', '7.47', '369.2k', '1.594M']
spot of 7.47 with type <class 'str'>
['Fr', '8/27/04', '7.49', '559.6k', '1.747M']
spot of 7.49 with type <class 'str'>
['Th', '8/26/04', '7.45', '725.4k', '1.851M']
spot of 7.45 with type <class 'str'>
['We', '8/25/04', '7.54', '983.8k', '1.88M']
spot of 7.54 with type <class 'str'>
['Tu', '8/24/04', '7.34', '1.52M', '1.972M']
spot of 7.34 with type <class 'str'>
['Mo', '8/23/04', '7.55', '1.538M', '2.037M']
spot of 7.55 with type <class 'str'>
['Fr', '8/20/04', '7.48', '3.8M', '2.174M']
spot of 7.48 with type <class 'str'>
['Th', '8/19/04', '7.17', '1.893M', '2.623M']
spot of 7.17 with type <class 'str'>
['We', '8/18/04', '7.02', '2.074M', '2.659M']
spot of 7.02 with type <class 'str'>
['Tu', '8/17/04', '6.57', '1.999M', '2.6M']
spot of 6.57 with type <class 'str'>
['Mo', '8/16/04', '6.55', '1.797M', '2.642M']
spot of 6.55 with type <class 'str'>
['Fr', '8/13/04', '6.52', '1.75M', '2.577M']
spot of 6.52 with type <class 'str'>
['Th', '8/12/04', '6.54', '1.704M', '2.567M']
spot of 6.54 with type <class 'str'>
['We', '8/11/04', '6.82', '1.464M', '2.664M']
spot of 6.82 with type <class 'str'>
['Tu', '8/10/04', '6.88', '1.741M', '2.827M']
spot of 6.88 with type <class 'str'>
['Mo', '8/9/04', '6.58', '2.657M', '2.838M']
spot of 6.58 with type <class 'str'>
['Fr', '8/6/04', '6.8', '2.115M', '2.821M']
spot of 6.8 with type <class 'str'>
['Th', '8/5/04', '7.02', '1.16M', '2.75M']
spot of 7.02 with type <class 'str'>
['We', '8/4/04', '7.03', '2.375M', '2.729M']
spot of 7.03 with type <class 'str'>
['Tu', '8/3/04', '6.94', '2.487M', '2.707M']
spot of 6.94 with type <class 'str'>
['Mo', '8/2/04', '7.17', '3.591M', '2.61M']
spot of 7.17 with type <class 'str'>
['Fr', '7/30/04', '7.01', '10.543M', '2.434M']
spot of 7.01 with type <class 'str'>
['Th', '7/29/04', '8.23', '2.436M', '1.791M']
spot of 8.23 with type <class 'str'>
['We', '7/28/04', '7.91', '1.176M', '1.706M']
spot of 7.91 with type <class 'str'>
['Tu', '7/27/04', '8.09', '2.629M', '1.732M']
spot of 8.09 with type <class 'str'>
['Mo', '7/26/04', '7.79', '821.8k', '1.672M']
spot of 7.79 with type <class 'str'>
['Fr', '7/23/04', '7.88', '1.612M', '1.814M']
spot of 7.88 with type <class 'str'>
['Th', '7/22/04', '8.08', '3.157M', '1.788M']
spot of 8.08 with type <class 'str'>
['We', '7/21/04', '7.92', '3.899M', '1.683M']
spot of 7.92 with type <class 'str'>
['Tu', '7/20/04', '8.47', '1.907M', '1.503M']
spot of 8.47 with type <class 'str'>
['Mo', '7/19/04', '8.14', '2.412M', '1.459M']
spot of 8.14 with type <class 'str'>
['Fr', '7/16/04', '7.94', '1.048M', '1.516M']
spot of 7.94 with type <class 'str'>
['Th', '7/15/04', '8.04', '840k', '1.537M']
spot of 8.04 with type <class 'str'>
['We', '7/14/04', '7.97', '2.051M', '1.588M']
spot of 7.97 with type <class 'str'>
['Tu', '7/13/04', '8.14', '1.03M', '1.585M']
spot of 8.14 with type <class 'str'>
['Mo', '7/12/04', '7.98', '954.6k', '1.609M']
spot of 7.98 with type <class 'str'>
['Fr', '7/9/04', '8.14', '893.5k', '1.633M']
spot of 8.14 with type <class 'str'>
['Th', '7/8/04', '8.1', '1.157M', '1.646M']
spot of 8.1 with type <class 'str'>
['We', '7/7/04', '8.18', '1.567M', '1.655M']
spot of 8.18 with type <class 'str'>
['Tu', '7/6/04', '8.07', '1.724M', '1.627M']
spot of 8.07 with type <class 'str'>
['Fr', '7/2/04', '8.4', '2.953M', '1.574M']
spot of 8.4 with type <class 'str'>
['Th', '7/1/04', '8.58', '1.22M', '1.451M']
spot of 8.58 with type <class 'str'>
['We', '6/30/04', '8.66', '1.585M', '1.458M']
spot of 8.66 with type <class 'str'>
['Tu', '6/29/04', '8.67', '1.204M', '1.454M']
spot of 8.67 with type <class 'str'>
['Mo', '6/28/04', '8.61', '1.246M', '1.445M']
spot of 8.61 with type <class 'str'>
['Fr', '6/25/04', '8.66', '3.261M', '1.448M']
spot of 8.66 with type <class 'str'>
['Th', '6/24/04', '8.9', '1.371M', '1.345M']
spot of 8.9 with type <class 'str'>
['We', '6/23/04', '9.08', '1.6M', '1.349M']
spot of 9.08 with type <class 'str'>
['Tu', '6/22/04', '8.83', '2.008M', '1.313M']
spot of 8.83 with type <class 'str'>
['Mo', '6/21/04', '8.89', '1.396M', '1.266M']
spot of 8.89 with type <class 'str'>
['Fr', '6/18/04', '9.2', '1.302M', '1.389M']
spot of 9.2 with type <class 'str'>
['Th', '6/17/04', '9.01', '1.102M', '1.442M']
spot of 9.01 with type <class 'str'>
['We', '6/16/04', '9.03', '1.279M', '1.581M']
spot of 9.03 with type <class 'str'>
['Tu', '6/15/04', '9.21', '1.147M', '1.728M']
spot of 9.21 with type <class 'str'>
['Mo', '6/14/04', '8.99', '939.5k', '1.782M']
spot of 8.99 with type <class 'str'>
['Th', '6/10/04', '9.11', '1.103M', '1.795M']
spot of 9.11 with type <class 'str'>
['We', '6/9/04', '9.08', '1.329M', '1.853M']
spot of 9.08 with type <class 'str'>
['Tu', '6/8/04', '9.3', '1.522M', '1.918M']
spot of 9.3 with type <class 'str'>
['Mo', '6/7/04', '9.17', '1.074M', '1.916M']
spot of 9.17 with type <class 'str'>
['Fr', '6/4/04', '9.11', '1.283M', '1.972M']
spot of 9.11 with type <class 'str'>
['Th', '6/3/04', '8.91', '1.722M', '1.993M']
spot of 8.91 with type <class 'str'>
['We', '6/2/04', '8.95', '1.422M', '1.999M']
spot of 8.95 with type <class 'str'>
['Tu', '6/1/04', '9.17', '1.058M', '2.037M']
spot of 9.17 with type <class 'str'>
['Fr', '5/28/04', '9.14', '1.313M', '2.112M']
spot of 9.14 with type <class 'str'>
['Th', '5/27/04', '9', '3.233M', '2.163M']
spot of 9 with type <class 'str'>
['We', '5/26/04', '9.15', '2.102M', '2.178M']
spot of 9.15 with type <class 'str'>
['Tu', '5/25/04', '8.96', '3.189M', '2.328M']
spot of 8.96 with type <class 'str'>
['Mo', '5/24/04', '8.66', '3.489M', '2.342M']
spot of 8.66 with type <class 'str'>
['Fr', '5/21/04', '8.25', '1.95M', '2.331M']
spot of 8.25 with type <class 'str'>
['Th', '5/20/04', '8.15', '1.137M', '2.36M']
spot of 8.15 with type <class 'str'>
['We', '5/19/04', '8.12', '1.967M', '2.545M']
spot of 8.12 with type <class 'str'>
['Tu', '5/18/04', '8.05', '2.316M', '2.609M']
spot of 8.05 with type <class 'str'>
['Mo', '5/17/04', '7.99', '1.492M', '2.871M']
spot of 7.99 with type <class 'str'>
['Fr', '5/14/04', '8.02', '1.906M', '3.078M']
spot of 8.02 with type <class 'str'>
['Th', '5/13/04', '8.21', '1.595M', '3.47M']
spot of 8.21 with type <class 'str'>
['We', '5/12/04', '8.28', '1.823M', '4.594M']
spot of 8.28 with type <class 'str'>
['Tu', '5/11/04', '8.32', '1.988M', '4.742M']
spot of 8.32 with type <class 'str'>
['Mo', '5/10/04', '8.15', '2.184M', '4.746M']
spot of 8.15 with type <class 'str'>
['Fr', '5/7/04', '8.43', '2.071M', '4.747M']
spot of 8.43 with type <class 'str'>
['Th', '5/6/04', '8.35', '3.455M', '4.799M']
spot of 8.35 with type <class 'str'>
['We', '5/5/04', '8.51', '4.359M', '4.726M']
spot of 8.51 with type <class 'str'>
['Tu', '5/4/04', '8.14', '3.396M', '4.563M']
spot of 8.14 with type <class 'str'>
['Mo', '5/3/04', '7.89', '3.322M', '4.517M']
spot of 7.89 with type <class 'str'>
['Fr', '4/30/04', '8.08', '2.396M', '4.418M']
spot of 8.08 with type <class 'str'>
['Th', '4/29/04', '8.24', '3.899M', '4.388M']
spot of 8.24 with type <class 'str'>
['We', '4/28/04', '8.5', '2.931M', '4.442M']
spot of 8.5 with type <class 'str'>
['Tu', '4/27/04', '8.38', '6.246M', '4.498M']
spot of 8.38 with type <class 'str'>
['Mo', '4/26/04', '8.6', '4.606M', '4.264M']
spot of 8.6 with type <class 'str'>
['Fr', '4/23/04', '8.88', '7.78M', '4.211M']
spot of 8.88 with type <class 'str'>
['Th', '4/22/04', '8.98', '18.461M', '3.816M']
spot of 8.98 with type <class 'str'>
['We', '4/21/04', '10.25', '4.038M', '2.73M']
spot of 10.25 with type <class 'str'>
['Tu', '4/20/04', '10.51', '2.047M', '2.59M']
spot of 10.51 with type <class 'str'>
['Mo', '4/19/04', '10.69', '2.196M', '2.664M']
spot of 10.69 with type <class 'str'>
['Fr', '4/16/04', '10.53', '2.849M', '2.621M']
spot of 10.53 with type <class 'str'>
['Th', '4/15/04', '10.95', '2.369M', '2.681M']
spot of 10.95 with type <class 'str'>
['We', '4/14/04', '11.16', '1.907M', '2.66M']
spot of 11.16 with type <class 'str'>
['Tu', '4/13/04', '11.37', '2.716M', '2.711M']
spot of 11.37 with type <class 'str'>
['Mo', '4/12/04', '11.54', '1.829M', '2.787M']
spot of 11.54 with type <class 'str'>
['Th', '4/8/04', '11.42', '1.942M', '2.746M']
spot of 11.42 with type <class 'str'>
['We', '4/7/04', '11.37', '4.715M', '2.722M']
spot of 11.37 with type <class 'str'>
['Tu', '4/6/04', '11.42', '3.777M', '2.561M']
spot of 11.42 with type <class 'str'>
['Mo', '4/5/04', '11.55', '2.735M', '2.587M']
spot of 11.55 with type <class 'str'>
['Fr', '4/2/04', '11.63', '3.798M', '2.662M']
spot of 11.63 with type <class 'str'>
['Th', '4/1/04', '11.45', '1.869M', '2.585M']
spot of 11.45 with type <class 'str'>
['We', '3/31/04', '11.23', '2.168M', '2.695M']
spot of 11.23 with type <class 'str'>
['Tu', '3/30/04', '11.19', '1.934M', '2.779M']
spot of 11.19 with type <class 'str'>
['Mo', '3/29/04', '11.11', '3.159M', '2.837M']
spot of 11.11 with type <class 'str'>
['Fr', '3/26/04', '10.54', '1.553M', '2.851M']
spot of 10.54 with type <class 'str'>
['Th', '3/25/04', '10.63', '3.739M', '2.919M']
spot of 10.63 with type <class 'str'>
['We', '3/24/04', '10.19', '2.054M', '2.809M']
spot of 10.19 with type <class 'str'>
['Tu', '3/23/04', '10.17', '2.673M', '2.934M']
spot of 10.17 with type <class 'str'>
['Mo', '3/22/04', '10.17', '3.861M', '3.058M']
spot of 10.17 with type <class 'str'>
['Fr', '3/19/04', '10.52', '1.214M', '2.993M']
spot of 10.52 with type <class 'str'>
['Th', '3/18/04', '10.75', '1.589M', '3.159M']
spot of 10.75 with type <class 'str'>
['We', '3/17/04', '10.87', '2.297M', '3.449M']
spot of 10.87 with type <class 'str'>
['Tu', '3/16/04', '10.71', '4.158M', '3.616M']
spot of 10.71 with type <class 'str'>
['Mo', '3/15/04', '10.34', '3.864M', '3.629M']
spot of 10.34 with type <class 'str'>
['Fr', '3/12/04', '10.54', '2.642M', '3.561M']
spot of 10.54 with type <class 'str'>
['Th', '3/11/04', '10.04', '3.514M', '3.592M']
spot of 10.04 with type <class 'str'>
['We', '3/10/04', '10.35', '3.43M', '3.692M']
spot of 10.35 with type <class 'str'>
['Tu', '3/9/04', '10.59', '2.809M', '3.642M']
spot of 10.59 with type <class 'str'>
['Mo', '3/8/04', '10.79', '3.369M', '3.743M']
spot of 10.79 with type <class 'str'>
['Fr', '3/5/04', '11.22', '2.574M', '3.872M']
spot of 11.22 with type <class 'str'>
['Th', '3/4/04', '11.38', '2.086M', '3.893M']
spot of 11.38 with type <class 'str'>
['We', '3/3/04', '11.25', '3.93M', '3.954M']
spot of 11.25 with type <class 'str'>
['Tu', '3/2/04', '11.25', '4.527M', '3.909M']
spot of 11.25 with type <class 'str'>
['Mo', '3/1/04', '11.6', '2.892M', '3.863M']
spot of 11.6 with type <class 'str'>
['Fr', '2/27/04', '11.39', '3.7M', '4.157M']
spot of 11.39 with type <class 'str'>
['Th', '2/26/04', '11.55', '5.939M', '4.278M']
spot of 11.55 with type <class 'str'>
['We', '2/25/04', '11.1', '4.804M', '4.38M']
spot of 11.1 with type <class 'str'>
['Tu', '2/24/04', '10.49', '4.35M', '4.36M']
spot of 10.49 with type <class 'str'>
['Mo', '2/23/04', '10.71', '2.852M', '4.423M']
spot of 10.71 with type <class 'str'>
['Fr', '2/20/04', '10.99', '3.113M', '4.415M']
spot of 10.99 with type <class 'str'>
['Th', '2/19/04', '11.38', '5.008M', '4.663M']
spot of 11.38 with type <class 'str'>
['We', '2/18/04', '11.29', '2.68M', '4.57M']
spot of 11.29 with type <class 'str'>
['Tu', '2/17/04', '11.14', '4.326M', '4.822M']
spot of 11.14 with type <class 'str'>
['Fr', '2/13/04', '11.19', '5.296M', '4.784M']
spot of 11.19 with type <class 'str'>
['Th', '2/12/04', '10.86', '2.886M', '4.843M']
spot of 10.86 with type <class 'str'>
['We', '2/11/04', '10.75', '3.011M', '5.279M']
spot of 10.75 with type <class 'str'>
['Tu', '2/10/04', '10.55', '3.253M', '6.092M']
spot of 10.55 with type <class 'str'>
['Mo', '2/9/04', '10.56', '3.83M', '6.057M']
spot of 10.56 with type <class 'str'>
['Fr', '2/6/04', '10.92', '7.302M', '6.014M']
spot of 10.92 with type <class 'str'>
['Th', '2/5/04', '10.05', '5.527M', '5.735M']
spot of 10.05 with type <class 'str'>
['We', '2/4/04', '9.68', '7.468M', '5.578M']
spot of 9.68 with type <class 'str'>
['Tu', '2/3/04', '10.08', '4.503M', '5.367M']
spot of 10.08 with type <class 'str'>

spot of 14.01 with type <class 'str'>
['Tu', '11/4/03', '14.03', '2.343M', '4.759M']
spot of 14.03 with type <class 'str'>
['Mo', '11/3/03', '13.93', '2.873M', '4.739M']
spot of 13.93 with type <class 'str'>
['Fr', '10/31/03', '13.45', '3.839M', '4.738M']
spot of 13.45 with type <class 'str'>
['Th', '10/30/03', '13.78', '4.425M', '4.714M']
spot of 13.78 with type <class 'str'>
['We', '10/29/03', '14.23', '4.91M', '4.578M']
spot of 14.23 with type <class 'str'>
['Tu', '10/28/03', '13.29', '2.969M', '4.543M']
spot of 13.29 with type <class 'str'>
['Mo', '10/27/03', '12.86', '3.176M', '4.601M']
spot of 12.86 with type <class 'str'>
['Fr', '10/24/03', '12.84', '7.36M', '4.642M']
spot of 12.84 with type <class 'str'>
['Th', '10/23/03', '12.4', '5.324M', '4.42M']
spot of 12.4 with type <class 'str'>
['We', '10/22/03', '12.3', '16.434M', '4.268M']
spot of 12.3 with type <class 'str'>
['Tu', '10/21/03', '14.27', '2.432M', '3.367M']
spot of 14.27 with type <class 'str'>
['Mo', '10/20/03', '13.45', '2.913M', '3.423M']
spot of 13.45 with type <class 'str'>
['Fr', '10/17/03', '13.8', '3.449M', '3.473M']
spot of 13.8 with type <class 'str'>
['Th', '10/16/03', '14.26', '3.533M', '3.496M']
spot of 14.26 with type <class 'str'>
['We', '10/15/03', '14', '5.403M', '3.52M']
spot of 14 with type <class 'str'>
['Tu', '10/14/03', '14.48', '2.053M', '3.626M']
spot of 14.48 with type <class 'str'>
['Mo', '10/13/03', '14.24', '2.845M', '3.841M']
spot of 14.24 with type <class 'str'>
['Fr', '10/10/03', '14.34', '3.489M', '4.011M']
spot of 14.34 with type <class 'str'>
['Th', '10/9/03', '14.79', '2.387M', '4.173M']
spot of 14.79 with type <class 'str'>
['We', '10/8/03', '14.5', '4.383M', '4.454M']
spot of 14.5 with type <class 'str'>
['Tu', '10/7/03', '14.83', '3.835M', '4.729M']
spot of 14.83 with type <class 'str'>
['Mo', '10/6/03', '14.45', '3.792M', '4.697M']
spot of 14.45 with type <class 'str'>
['Fr', '10/3/03', '13.95', '4.026M', '4.66M']
spot of 13.95 with type <class 'str'>
['Th', '10/2/03', '13.46', '3.045M', '4.562M']
spot of 13.46 with type <class 'str'>
['We', '10/1/03', '13.4', '2.917M', '4.51M']
spot of 13.4 with type <class 'str'>
['Tu', '9/30/03', '12.89', '3.269M', '4.599M']
spot of 12.89 with type <class 'str'>
['Mo', '9/29/03', '12.92', '3.674M', '4.661M']
spot of 12.92 with type <class 'str'>
['Fr', '9/26/03', '12.71', '3.783M', '4.665M']
spot of 12.71 with type <class 'str'>
['Th', '9/25/03', '12.6', '3.897M', '4.723M']
spot of 12.6 with type <class 'str'>
['We', '9/24/03', '13.07', '6.995M', '4.721M']
spot of 13.07 with type <class 'str'>
['Tu', '9/23/03', '13.57', '5.279M', '4.635M']
spot of 13.57 with type <class 'str'>
['Mo', '9/22/03', '13.17', '5.395M', '4.613M']
spot of 13.17 with type <class 'str'>
['Fr', '9/19/03', '13.18', '5.911M', '4.649M']
spot of 13.18 with type <class 'str'>
['Th', '9/18/03', '12.62', '6.614M', '5.612M']
spot of 12.62 with type <class 'str'>
['We', '9/17/03', '12.5', '8.508M', '5.61M']
spot of 12.5 with type <class 'str'>
['Tu', '9/16/03', '11.48', '3.345M', '5.49M']
spot of 11.48 with type <class 'str'>
['Mo', '9/15/03', '10.98', '3.242M', '5.525M']
spot of 10.98 with type <class 'str'>
['Fr', '9/12/03', '11.19', '2.553M', '5.631M']
spot of 11.19 with type <class 'str'>
['Th', '9/11/03', '11.26', '2.273M', '5.667M']
spot of 11.26 with type <class 'str'>
['We', '9/10/03', '11.08', '4.251M', '5.702M']
spot of 11.08 with type <class 'str'>
['Tu', '9/9/03', '11.91', '4.198M', '5.658M']
spot of 11.91 with type <class 'str'>
['Mo', '9/8/03', '11.86', '3.727M', '5.618M']
spot of 11.86 with type <class 'str'>
['Fr', '9/5/03', '11.5', '4.657M', '5.456M']
spot of 11.5 with type <class 'str'>
['Th', '9/4/03', '11.45', '3.866M', '5.289M']
spot of 11.45 with type <class 'str'>
['We', '9/3/03', '11.16', '5.709M', '5.186M']
spot of 11.16 with type <class 'str'>
['Tu', '9/2/03', '11.55', '4.945M', '5.008M']
spot of 11.55 with type <class 'str'>
['Fr', '8/29/03', '11.49', '5.933M', '4.982M']
spot of 11.49 with type <class 'str'>
['Th', '8/28/03', '11.48', '20.357M', '4.864M']
spot of 11.48 with type <class 'str'>
['We', '8/27/03', '9.5', '6.593M', '3.807M']
spot of 9.5 with type <class 'str'>
['Tu', '8/26/03', '9.15', '6.706M', '3.676M']
spot of 9.15 with type <class 'str'>
['Mo', '8/25/03', '8.92', '3.872M', '3.462M']
spot of 8.92 with type <class 'str'>
['Fr', '8/22/03', '9.25', '4.828M', '3.503M']
spot of 9.25 with type <class 'str'>
['Th', '8/21/03', '9.7', '3.096M', '3.366M']
spot of 9.7 with type <class 'str'>
['We', '8/20/03', '9.85', '2.792M', '3.517M']
spot of 9.85 with type <class 'str'>
['Tu', '8/19/03', '9.84', '3.589M', '3.699M']
spot of 9.84 with type <class 'str'>
['Mo', '8/18/03', '9.71', '3.608M', '3.89M']
spot of 9.71 with type <class 'str'>
['Fr', '8/15/03', '9.25', '1.288M', '4.071M']
spot of 9.25 with type <class 'str'>
['Th', '8/14/03', '9.44', '2.152M', '5.15M']
spot of 9.44 with type <class 'str'>
['We', '8/13/03', '9.4', '2.325M', '5.375M']
spot of 9.4 with type <class 'str'>
['Tu', '8/12/03', '9.19', '3.04M', '5.548M']
spot of 9.19 with type <class 'str'>
['Mo', '8/11/03', '9.01', '4.554M', '5.617M']
spot of 9.01 with type <class 'str'>
['Fr', '8/8/03', '8.69', '4.157M', '5.612M']
spot of 8.69 with type <class 'str'>
['Th', '8/7/03', '8.64', '4.504M', '5.688M']
spot of 8.64 with type <class 'str'>
['We', '8/6/03', '9.08', '4.633M', '5.545M']
spot of 9.08 with type <class 'str'>
['Tu', '8/5/03', '9.2', '3.491M', '5.448M']
spot of 9.2 with type <class 'str'>
['Mo', '8/4/03', '9.45', '4.494M', '5.616M']
spot of 9.45 with type <class 'str'>
['Fr', '8/1/03', '9.76', '2.764M', '5.538M']
spot of 9.76 with type <class 'str'>
['Th', '7/31/03', '9.96', '5.37M', '5.463M']
spot of 9.96 with type <class 'str'>
['We', '7/30/03', '9.7', '5.511M', '5.288M']
spot of 9.7 with type <class 'str'>
['Tu', '7/29/03', '9.52', '6.463M', '5.13M']
spot of 9.52 with type <class 'str'>
['Mo', '7/28/03', '9.73', '6.318M', '5.054M']
spot of 9.73 with type <class 'str'>
['Fr', '7/25/03', '9.94', '17.475M', '4.966M']
spot of 9.94 with type <class 'str'>
['Th', '7/24/03', '11.7', '5.528M', '3.966M']
spot of 11.7 with type <class 'str'>
['We', '7/23/03', '12.27', '4.916M', '4.309M']
spot of 12.27 with type <class 'str'>
['Tu', '7/22/03', '11.82', '4.086M', '4.534M']
spot of 11.82 with type <class 'str'>
['Mo', '7/21/03', '11.07', '4.472M', '4.888M']
spot of 11.07 with type <class 'str'>
['Fr', '7/18/03', '11.7', '5.299M', '4.785M']
spot of 11.7 with type <class 'str'>
['Th', '7/17/03', '12.38', '2.353M', '4.807M']
spot of 12.38 with type <class 'str'>
['We', '7/16/03', '12.44', '3.182M', '4.873M']
spot of 12.44 with type <class 'str'>
['Tu', '7/15/03', '12.67', '6.018M', '4.955M']
spot of 12.67 with type <class 'str'>
['Mo', '7/14/03', '12.98', '3.323M', '4.729M']
spot of 12.98 with type <class 'str'>
['Fr', '7/11/03', '12.35', '1.641M', '4.776M']
spot of 12.35 with type <class 'str'>
['Th', '7/10/03', '12.35', '2.741M', '4.902M']
spot of 12.35 with type <class 'str'>
['We', '7/9/03', '12.68', '3.132M', '4.993M']
spot of 12.68 with type <class 'str'>
['Tu', '7/8/03', '12.78', '5.334M', '5.076M']
spot of 12.78 with type <class 'str'>
['Mo', '7/7/03', '13.15', '4.998M', '4.896M']
spot of 13.15 with type <class 'str'>
['Th', '7/3/03', '12.7', '2.475M', '4.665M']
spot of 12.7 with type <class 'str'>
['We', '7/2/03', '12.83', '10.663M', '4.707M']
spot of 12.83 with type <class 'str'>
['Tu', '7/1/03', '11.89', '8.294M', '4.341M']
spot of 11.89 with type <class 'str'>
['Mo', '6/30/03', '10.3', '9.396M', '4.066M']
spot of 10.3 with type <class 'str'>
['Fr', '6/27/03', '10.68', '2.93M', '3.63M']
spot of 10.68 with type <class 'str'>
['Th', '6/26/03', '10.96', '5.629M', '3.814M']
spot of 10.96 with type <class 'str'>
['We', '6/25/03', '10.69', '3.338M', '3.713M']
spot of 10.69 with type <class 'str'>
['Tu', '6/24/03', '10.75', '4.41M', '3.833M']
spot of 10.75 with type <class 'str'>
['Mo', '6/23/03', '11.25', '2.637M', '3.877M']
spot of 11.25 with type <class 'str'>
['Fr', '6/20/03', '11.32', '4.024M', '4.034M']
spot of 11.32 with type <class 'str'>
['Th', '6/19/03', '11.79', '3.534M', '4.219M']
spot of 11.79 with type <class 'str'>
['We', '6/18/03', '12.48', '4.105M', '4.571M']
spot of 12.48 with type <class 'str'>
['Tu', '6/17/03', '12.1', '4.37M', '4.677M']
spot of 12.1 with type <class 'str'>
['Mo', '6/16/03', '11.89', '2.637M', '4.754M']
spot of 11.89 with type <class 'str'>
['Fr', '6/13/03', '11.33', '1.533M', '4.778M']
spot of 11.33 with type <class 'str'>
['Th', '6/12/03', '11.65', '3.101M', '4.897M']
spot of 11.65 with type <class 'str'>
['We', '6/11/03', '11.45', '5.182M', '4.906M']
spot of 11.45 with type <class 'str'>
['Tu', '6/10/03', '11.33', '4.168M', '4.816M']
spot of 11.33 with type <class 'str'>
['Mo', '6/9/03', '11.65', '2.855M', '4.778M']
spot of 11.65 with type <class 'str'>
['Fr', '6/6/03', '11.86', '5.686M', '4.783M']
spot of 11.86 with type <class 'str'>
['Th', '6/5/03', '12.82', '4.11M', '4.626M']
spot of 12.82 with type <class 'str'>
['We', '6/4/03', '12.41', '5.144M', '4.668M']
spot of 12.41 with type <class 'str'>
['Tu', '6/3/03', '12.65', '5.075M', '5.316M']
spot of 12.65 with type <class 'str'>
['Mo', '6/2/03', '12.62', '4.991M', '5.695M']
spot of 12.62 with type <class 'str'>
['Fr', '5/30/03', '12.52', '6.799M', '5.566M']
spot of 12.52 with type <class 'str'>
['Th', '5/29/03', '12.43', '8.813M', '5.297M']
spot of 12.43 with type <class 'str'>
['We', '5/28/03', '11.86', '5.693M', '5.022M']
spot of 11.86 with type <class 'str'>
['Tu', '5/27/03', '11.7', '5.528M', '4.933M']
spot of 11.7 with type <class 'str'>
['Fr', '5/23/03', '10.7', '2.998M', '4.893M']
spot of 10.7 with type <class 'str'>
['Th', '5/22/03', '10.86', '3.315M', '4.922M']
spot of 10.86 with type <class 'str'>
['We', '5/21/03', '10.49', '3.237M', '5.031M']
spot of 10.49 with type <class 'str'>
['Tu', '5/20/03', '10.51', '3.836M', '5.01M']
spot of 10.51 with type <class 'str'>
['Mo', '5/19/03', '10.72', '3.596M', '5.032M']
spot of 10.72 with type <class 'str'>
['Fr', '5/16/03', '11.35', '2.929M', '5.038M']
spot of 11.35 with type <class 'str'>
['Th', '5/15/03', '11.29', '3.33M', '5.241M']
spot of 11.29 with type <class 'str'>
['We', '5/14/03', '11.03', '4.734M', '5.37M']
spot of 11.03 with type <class 'str'>
['Tu', '5/13/03', '11.16', '14.865M', '5.559M']
spot of 11.16 with type <class 'str'>
['Mo', '5/12/03', '10.48', '10.769M', '4.712M']
spot of 10.48 with type <class 'str'>
['Fr', '5/9/03', '9.47', '3.057M', '4.141M']
spot of 9.47 with type <class 'str'>
['Th', '5/8/03', '9.4', '2.765M', '4.083M']
spot of 9.4 with type <class 'str'>
['We', '5/7/03', '9.68', '4.684M', '4.235M']
spot of 9.68 with type <class 'str'>
['Tu', '5/6/03', '9.84', '4.353M', '4.141M']
spot of 9.84 with type <class 'str'>
['Mo', '5/5/03', '9.86', '4.931M', '4.189M']
spot of 9.86 with type <class 'str'>
['Fr', '5/2/03', '9.56', '3.43M', '4.008M']
spot of 9.56 with type <class 'str'>
['Th', '5/1/03', '9.37', '4.954M', '4.024M']
spot of 9.37 with type <class 'str'>
['We', '4/30/03', '9.33', '2.92M', '3.996M']
spot of 9.33 with type <class 'str'>
['Tu', '4/29/03', '9.3', '4.164M', '4.13M']
spot of 9.3 with type <class 'str'>
['Mo', '4/28/03', '9.25', '3.693M', '4.404M']
spot of 9.25 with type <class 'str'>
['Fr', '4/25/03', '9.25', '5.968M', '4.738M']
spot of 9.25 with type <class 'str'>
['Th', '4/24/03', '9.24', '5.268M', '4.904M']
spot of 9.24 with type <class 'str'>
['We', '4/23/03', '9.44', '7.568M', '5.083M']
spot of 9.44 with type <class 'str'>
['Tu', '4/22/03', '9.75', '2.151M', '4.964M']
spot of 9.75 with type <class 'str'>
['Mo', '4/21/03', '9.66', '2.212M', '5.129M']
spot of 9.66 with type <class 'str'>
['Th', '4/17/03', '9.5', '2.184M', '5.691M']
spot of 9.5 with type <class 'str'>
['We', '4/16/03', '9.34', '5.047M', '6.224M']
spot of 9.34 with type <class 'str'>
['Tu', '4/15/03', '9.27', '3.276M', '6.236M']
spot of 9.27 with type <class 'str'>
['Mo', '4/14/03', '9.15', '5.079M', '6.38M']
spot of 9.15 with type <class 'str'>
['Fr', '4/11/03', '8.9', '2.211M', '6.29M']
spot of 8.9 with type <class 'str'>
['Th', '4/10/03', '8.73', '3.67M', '6.401M']
spot of 8.73 with type <class 'str'>
['We', '4/9/03', '8.6', '4.533M', '6.352M']
spot of 8.6 with type <class 'str'>
['Tu', '4/8/03', '8.58', '4.922M', '6.272M']
spot of 8.58 with type <class 'str'>
['Mo', '4/7/03', '9.01', '8.277M', '6.202M']
spot of 9.01 with type <class 'str'>
['Fr', '4/4/03', '9.34', '8.712M', '5.892M']
spot of 9.34 with type <class 'str'>
['Th', '4/3/03', '9.96', '8.454M', '5.523M']
spot of 9.96 with type <class 'str'>
['We', '4/2/03', '9.93', '7.945M', '5.391M']
spot of 9.93 with type <class 'str'>
['Tu', '4/1/03', '9.43', '5.784M', '5.161M']
spot of 9.43 with type <class 'str'>
['Mo', '3/31/03', '9.06', '4.627M', '4.87M']
spot of 9.06 with type <class 'str'>
['Fr', '3/28/03', '9.18', '10.646M', '4.635M']
spot of 9.18 with type <class 'str'>
['Th', '3/27/03', '9.24', '10.185M', '4.083M']
spot of 9.24 with type <class 'str'>
['We', '3/26/03', '8.57', '5.225M', '3.556M']
spot of 8.57 with type <class 'str'>
['Tu', '3/25/03', '8.3', '5.433M', '3.369M']
spot of 8.3 with type <class 'str'>
['Mo', '3/24/03', '7.97', '3.721M', '3.157M']
spot of 7.97 with type <class 'str'>
['Fr', '3/21/03', '8.15', '3.883M', '3.135M']
spot of 8.15 with type <class 'str'>
['Th', '3/20/03', '7.76', '2.939M', '3.014M']
spot of 7.76 with type <class 'str'>
['We', '3/19/03', '7.75', '3.324M', '3.004M']
spot of 7.75 with type <class 'str'>
['Tu', '3/18/03', '7.96', '3.871M', '3.105M']
spot of 7.96 with type <class 'str'>
['Mo', '3/17/03', '7.61', '3.632M', '3.081M']
spot of 7.61 with type <class 'str'>
['Fr', '3/14/03', '7.14', '3.181M', '3.073M']
spot of 7.14 with type <class 'str'>
['Th', '3/13/03', '7.43', '6.472M', '3.068M']
spot of 7.43 with type <class 'str'>
['We', '3/12/03', '7.16', '4.489M', '2.873M']
spot of 7.16 with type <class 'str'>
['Tu', '3/11/03', '7.74', '1.416M', '2.822M']
spot of 7.74 with type <class 'str'>
['Mo', '3/10/03', '7.78', '1.115M', '2.867M']
spot of 7.78 with type <class 'str'>
['Fr', '3/7/03', '7.79', '2.358M', '3.005M']
spot of 7.79 with type <class 'str'>
['Th', '3/6/03', '7.94', '2.274M', '3.075M']
spot of 7.94 with type <class 'str'>
['We', '3/5/03', '7.74', '2.422M', '3.033M']
spot of 7.74 with type <class 'str'>
['Tu', '3/4/03', '7.65', '2.253M', '2.979M']
spot of 7.65 with type <class 'str'>
['Mo', '3/3/03', '7.85', '3.391M', '3.077M']
spot of 7.85 with type <class 'str'>
['Fr', '2/28/03', '8.13', '2.073M', '3.056M']
spot of 8.13 with type <class 'str'>
['Th', '2/27/03', '8.01', '2.799M', '3.087M']
spot of 8.01 with type <class 'str'>
['We', '2/26/03', '7.95', '4.828M', '3.025M']
spot of 7.95 with type <class 'str'>
['Tu', '2/25/03', '7.85', '3.522M', '2.855M']
spot of 7.85 with type <class 'str'>
['Mo', '2/24/03', '7.68', '3.501M', '2.743M']
spot of 7.68 with type <class 'str'>
['Fr', '2/21/03', '7.51', '3.108M', '2.67M']
spot of 7.51 with type <class 'str'>
['Th', '2/20/03', '7.32', '3.548M', '2.656M']
spot of 7.32 with type <class 'str'>
['We', '2/19/03', '7.3', '3.718M', '2.637M']
spot of 7.3 with type <class 'str'>
['Tu', '2/18/03', '7.45', '2.09M', '2.592M']
spot of 7.45 with type <class 'str'>
['Fr', '2/14/03', '7.1', '3.196M', '2.655M']
spot of 7.1 with type <class 'str'>
['Th', '2/13/03', '7.02', '3.407M', '3.229M']
spot of 7.02 with type <class 'str'>
['We', '2/12/03', '7.25', '1.643M', '3.216M']
spot of 7.25 with type <class 'str'>
['Tu', '2/11/03', '7.55', '1.614M', '3.255M']
spot of 7.55 with type <class 'str'>
['Mo', '2/10/03', '7.4', '3.722M', '3.254M']
spot of 7.4 with type <class 'str'>
['Fr', '2/7/03', '7.41', '3.067M', '3.2M']
spot of 7.41 with type <class 'str'>
['Th', '2/6/03', '7.75', '2.545M', '3.101M']
spot of 7.75 with type <class 'str'>
['We', '2/5/03', '7.83', '1.86M', '3.054M']
spot of 7.83 with type <class 'str'>
['Tu', '2/4/03', '7.88', '2.285M', '3.16M']
spot of 7.88 with type <class 'str'>
['Mo', '2/3/03', '7.91', '1.847M', '3.269M']
spot of 7.91 with type <class 'str'>
['Fr', '1/31/03', '7.95', '2.399M', '3.449M']
spot of 7.95 with type <class 'str'>
['Th', '1/30/03', '8.1', '2.905M', '3.532M']
spot of 8.1 with type <class 'str'>
['We', '1/29/03', '8.39', '3.259M', '3.521M']
spot of 8.39 with type <class 'str'>
['Tu', '1/28/03', '8.32', '3.048M', '3.565M']
spot of 8.32 with type <class 'str'>
['Mo', '1/27/03', '7.99', '3.025M', '3.683M']
spot of 7.99 with type <class 'str'>
['Fr', '1/24/03', '8.15', '11.809M', '3.682M']
spot of 8.15 with type <class 'str'>
['Th', '1/23/03', '7.4', '3.213M', '3.13M']
spot of 7.4 with type <class 'str'>
['We', '1/22/03', '7.14', '2.227M', '3.09M']
spot of 7.14 with type <class 'str'>
['Tu', '1/21/03', '7.12', '1.597M', '3.092M']
spot of 7.12 with type <class 'str'>
['Fr', '1/17/03', '7.02', '2.915M', '3.061M']
spot of 7.02 with type <class 'str'>
['Th', '1/16/03', '7.64', '1.583M', '2.934M']
spot of 7.64 with type <class 'str'>
['We', '1/15/03', '7.5', '1.847M', '2.875M']
spot of 7.5 with type <class 'str'>
['Tu', '1/14/03', '7.7', '3.447M', '2.887M']
spot of 7.7 with type <class 'str'>
['Mo', '1/13/03', '7.45', '3.923M', '2.802M']
spot of 7.45 with type <class 'str'>
['Fr', '1/10/03', '7.6', '4.542M', '2.724M']
spot of 7.6 with type <class 'str'>
['Th', '1/9/03', '8.14', '3.645M', '2.686M']
spot of 8.14 with type <class 'str'>
['We', '1/8/03', '7.69', '2.739M', '2.555M']
spot of 7.69 with type <class 'str'>
['Tu', '1/7/03', '8.15', '3.92M', '2.59M']
spot of 8.15 with type <class 'str'>
['Mo', '1/6/03', '7.77', '4.821M', '2.481M']
spot of 7.77 with type <class 'str'>
['Fr', '1/3/03', '7.09', '3.008M', '2.285M']
spot of 7.09 with type <class 'str'>
['Th', '1/2/03', '6.87', '3.528M', '2.294M']
spot of 6.87 with type <class 'str'>
['Tu', '12/31/02', '6.39', '2.612M', '2.369M']
spot of 6.39 with type <class 'str'>
['Mo', '12/30/02', '6.32', '2.256M', '2.509M']
spot of 6.32 with type <class 'str'>
['Fr', '12/27/02', '6.46', '1.137M', '2.602M']
spot of 6.46 with type <class 'str'>
['Th', '12/26/02', '6.63', '996.8k', '3.021M']
spot of 6.63 with type <class 'str'>
['Tu', '12/24/02', '6.75', '704.2k', '3.24M']
spot of 6.75 with type <class 'str'>
['Mo', '12/23/02', '6.45', '2.027M', '3.378M']
spot of 6.45 with type <class 'str'>
['Fr', '12/20/02', '6.74', '2.176M', '3.585M']
spot of 6.74 with type <class 'str'>
['Th', '12/19/02', '6.47', '2.746M', '3.512M']
spot of 6.47 with type <class 'str'>
['We', '12/18/02', '6.48', '3.981M', '3.475M']
spot of 6.48 with type <class 'str'>

['Tu', '12/17/02', '6.93', '1.667M', '3.351M']
spot of 6.93 with type <class 'str'>
['Mo', '12/16/02', '7.05', '3.27M', '3.472M']
spot of 7.05 with type <class 'str'>
['Fr', '12/13/02', '6.8', '2.28M', '3.495M']
spot of 6.8 with type <class 'str'>
['Th', '12/12/02', '7.19', '1.894M', '3.617M']
spot of 7.19 with type <class 'str'>
['We', '12/11/02', '7.34', '3.134M', '3.967M']
spot of 7.34 with type <class 'str'>
['Tu', '12/10/02', '7.39', '4.652M', '3.965M']
spot of 7.39 with type <class 'str'>
['Mo', '12/9/02', '6.62', '4.718M', '3.812M']
spot of 6.62 with type <class 'str'>
['Fr', '12/6/02', '7.39', '3.653M', '3.754M']
spot of 7.39 with type <class 'str'>
['Th', '12/5/02', '7.3', '7.42M', '3.731M']
spot of 7.3 with type <class 'str'>
['We', '12/4/02', '7.77', '4.284M', '3.431M']
spot of 7.77 with type <class 'str'>
['Tu', '12/3/02', '8.36', '2.77M', '3.336M']
spot of 8.36 with type <class 'str'>
['Mo', '12/2/02', '8.9', '5.135M', '3.391M']
spot of 8.9 with type <class 'str'>
['Fr', '11/29/02', '8.45', '1.076M', '3.232M']
spot of 8.45 with type <class 'str'>
['We', '11/27/02', '8.69', '2.189M', '3.31M']
spot of 8.69 with type <class 'str'>
['Tu', '11/26/02', '8.23', '2.127M', '3.422M']
spot of 8.23 with type <class 'str'>
['Mo', '11/25/02', '8.4', '3.478M', '3.528M']
spot of 8.4 with type <class 'str'>
['Fr', '11/22/02', '8.18', '3.621M', '3.76M']
spot of 8.18 with type <class 'str'>
['Th', '11/21/02', '8.08', '4.106M', '3.8M']
spot of 8.08 with type <class 'str'>
['We', '11/20/02', '7.84', '7.149M', '3.609M']
spot of 7.84 with type <class 'str'>
['Tu', '11/19/02', '7.7', '3.099M', '3.28M']
spot of 7.7 with type <class 'str'>
['Mo', '11/18/02', '7.86', '2.357M', '3.189M']
spot of 7.86 with type <class 'str'>
['Fr', '11/15/02', '7.88', '3.853M', '3.218M']
spot of 7.88 with type <class 'str'>
['Th', '11/14/02', '7.91', '3.308M', '3.071M']
spot of 7.91 with type <class 'str'>
['We', '11/13/02', '7.72', '2.908M', '2.979M']
spot of 7.72 with type <class 'str'>
['Tu', '11/12/02', '7.39', '2.867M', '2.937M']
spot of 7.39 with type <class 'str'>
['Mo', '11/11/02', '7.36', '3.596M', '2.948M']
spot of 7.36 with type <class 'str'>
['Fr', '11/8/02', '7.45', '2.748M', '2.881M']
spot of 7.45 with type <class 'str'>
['Th', '11/7/02', '7.2', '2.249M', '2.902M']
spot of 7.2 with type <class 'str'>
['We', '11/6/02', '7.43', '3.862M', '3.092M']
spot of 7.43 with type <class 'str'>
['Tu', '11/5/02', '7', '3.719M', '2.886M']
spot of 7 with type <class 'str'>
['Mo', '11/4/02', '7.05', '6.963M', '2.712M']
spot of 7.05 with type <class 'str'>
['Fr', '11/1/02', '7', '4.21M', '2.326M']
spot of 7 with type <class 'str'>
['Th', '10/31/02', '6.19', '1.245M', '2.131M']
spot of 6.19 with type <class 'str'>
['We', '10/30/02', '6.25', '2.214M', '2.17M']
spot of 6.25 with type <class 'str'>
['Tu', '10/29/02', '6.29', '1.735M', '2.093M']
spot of 6.29 with type <class 'str'>
['Mo', '10/28/02', '6.38', '2.788M', '2.036M']
spot of 6.38 with type <class 'str'>
['Fr', '10/25/02', '6.05', '1.655M', '1.895M']
spot of 6.05 with type <class 'str'>
['Th', '10/24/02', '6.2', '1.927M', '1.835M']
spot of 6.2 with type <class 'str'>
['We', '10/23/02', '6.38', '2.276M', '1.746M']
spot of 6.38 with type <class 'str'>
['Tu', '10/22/02', '6.32', '3.037M', '1.656M']
spot of 6.32 with type <class 'str'>
['Mo', '10/21/02', '6.4', '2.587M', '1.539M']
spot of 6.4 with type <class 'str'>
['Fr', '10/18/02', '5.99', '3.066M', '1.442M']
spot of 5.99 with type <class 'str'>
['Th', '10/17/02', '5.7', '5.097M', '1.277M']
spot of 5.7 with type <class 'str'>
['We', '10/16/02', '4.95', '775k', '997.4k']
spot of 4.95 with type <class 'str'>
['Tu', '10/15/02', '5.1', '1.112M', '1.048M']
spot of 5.1 with type <class 'str'>
['Mo', '10/14/02', '4.95', '1.163M', '1.049M']
spot of 4.95 with type <class 'str'>
['Fr', '10/11/02', '5.1', '1.286M', '1.018M']
spot of 5.1 with type <class 'str'>
['Th', '10/10/02', '4.95', '1.831M', '1.036M']
spot of 4.95 with type <class 'str'>
['We', '10/9/02', '4.78', '1.058M', '953.827k']
spot of 4.78 with type <class 'str'>
['Tu', '10/8/02', '4.76', '881.2k', '912.893k']
spot of 4.76 with type <class 'str'>
['Mo', '10/7/02', '4.75', '674.6k', '900.22k']
spot of 4.75 with type <class 'str'>
['Fr', '10/4/02', '4.78', '753.9k', '891.747k']
spot of 4.78 with type <class 'str'>
['Th', '10/3/02', '4.79', '594.6k', '933.8k']
spot of 4.79 with type <class 'str'>
['We', '10/2/02', '4.93', '923k', '998.407k']
spot of 4.93 with type <class 'str'>
['Tu', '10/1/02', '4.93', '1.28M', '975.467k']
spot of 4.93 with type <class 'str'>
['Mo', '9/30/02', '4.7', '1.137M', '928.813k']
spot of 4.7 with type <class 'str'>
['Fr', '9/27/02', '4.33', '590.1k', '922.413k']
spot of 4.33 with type <class 'str'>
['Th', '9/26/02', '4.52', '902.2k', '940.88k']
spot of 4.52 with type <class 'str'>
['We', '9/25/02', '4.28', '1.53M', '951.113k']
spot of 4.28 with type <class 'str'>
['Tu', '9/24/02', '4', '1.13M', '918.593k']
spot of 4 with type <class 'str'>
['Mo', '9/23/02', '3.85', '699.5k', '895.913k']
spot of 3.85 with type <class 'str'>
['Fr', '9/20/02', '4.15', '1.556M', '912.733k']
spot of 4.15 with type <class 'str'>
['Th', '9/19/02', '4.32', '598.5k', '918.993k']
spot of 4.32 with type <class 'str'>
['We', '9/18/02', '4.5', '443.6k', '1.151M']
spot of 4.5 with type <class 'str'>
['Tu', '9/17/02', '4.54', '691.1k', '1.316M']
spot of 4.54 with type <class 'str'>
['Mo', '9/16/02', '4.42', '547.5k', '1.383M']
spot of 4.42 with type <class 'str'>
['Fr', '9/13/02', '4.64', '1.385M', '1.394M']
spot of 4.64 with type <class 'str'>
['Th', '9/12/02', '4.52', '1.564M', '1.35M']
spot of 4.52 with type <class 'str'>
['We', '9/11/02', '4.73', '578.9k', '1.317M']
spot of 4.73 with type <class 'str'>
['Tu', '9/10/02', '4.65', '579.9k', '1.375M']
spot of 4.65 with type <class 'str'>
['Mo', '9/9/02', '4.44', '1.041M', '1.439M']
spot of 4.44 with type <class 'str'>
['Fr', '9/6/02', '4.3', '867.1k', '1.427M']
spot of 4.3 with type <class 'str'>
['Th', '9/5/02', '4.14', '1.056M', '1.43M']
spot of 4.14 with type <class 'str'>
['We', '9/4/02', '4.14', '1.042M', '1.434M']
spot of 4.14 with type <class 'str'>
['Tu', '9/3/02', '4.09', '789.6k', '1.401M']
spot of 4.09 with type <class 'str'>
['Fr', '8/30/02', '4.05', '951.8k', '1.408M']
spot of 4.05 with type <class 'str'>
['Th', '8/29/02', '4.02', '1.65M', '1.451M']
spot of 4.02 with type <class 'str'>
['We', '8/28/02', '3.97', '4.082M', '1.479M']
spot of 3.97 with type <class 'str'>
['Tu', '8/27/02', '4.43', '2.912M', '1.287M']
spot of 4.43 with type <class 'str'>
['Mo', '8/26/02', '5', '1.704M', '1.184M']
spot of 5 with type <class 'str'>
['Fr', '8/23/02', '5.1', '706k', '1.102M']
spot of 5.1 with type <class 'str'>
['Th', '8/22/02', '5.34', '728.2k', '1.102M']
spot of 5.34 with type <class 'str'>
['We', '8/21/02', '5.25', '1.068M', '1.122M']
spot of 5.25 with type <class 'str'>
['Tu', '8/20/02', '5.35', '1.446M', '1.133M']
spot of 5.35 with type <class 'str'>
['Mo', '8/19/02', '5.44', '1.546M', '1.179M']
spot of 5.44 with type <class 'str'>
['Fr', '8/16/02', '5.25', '850.7k', '1.276M']
spot of 5.25 with type <class 'str'>
['Th', '8/15/02', '5.2', '925.8k', '1.371M']
spot of 5.2 with type <class 'str'>
['We', '8/14/02', '5.11', '1.107M', '1.417M']
spot of 5.11 with type <class 'str'>
['Tu', '8/13/02', '4.8', '548.4k', '1.44M']
spot of 4.8 with type <class 'str'>
['Mo', '8/12/02', '4.99', '891.4k', '1.6M']
spot of 4.99 with type <class 'str'>
['Fr', '8/9/02', '4.85', '1.604M', '1.79M']
spot of 4.85 with type <class 'str'>
['Th', '8/8/02', '5.19', '2.065M', '1.749M']
spot of 5.19 with type <class 'str'>
['We', '8/7/02', '4.68', '1.198M', '1.756M']
spot of 4.68 with type <class 'str'>
['Tu', '8/6/02', '4.59', '1.372M', '1.833M']
spot of 4.59 with type <class 'str'>
['Mo', '8/5/02', '4.15', '476.2k', '1.818M']
spot of 4.15 with type <class 'str'>
['Fr', '8/2/02', '4.3', '701.7k', '1.896M']
spot of 4.3 with type <class 'str'>
['Th', '8/1/02', '4.4', '1.027M', '2.011M']
spot of 4.4 with type <class 'str'>
['We', '7/31/02', '4.44', '1.237M', '2.096M']
spot of 4.44 with type <class 'str'>
['Tu', '7/30/02', '4.58', '2.141M', '2.102M']
spot of 4.58 with type <class 'str'>
['Mo', '7/29/02', '4.65', '2.99M', '1.993M']
spot of 4.65 with type <class 'str'>
['Fr', '7/26/02', '3.64', '2.278M', '1.884M']
spot of 3.64 with type <class 'str'>
['Th', '7/25/02', '3.09', '1.624M', '1.855M']
spot of 3.09 with type <class 'str'>
['We', '7/24/02', '3.05', '1.443M', '1.846M']
spot of 3.05 with type <class 'str'>
['Tu', '7/23/02', '3.18', '2.947M', '1.825M']
spot of 3.18 with type <class 'str'>
['Mo', '7/22/02', '3.1', '3.74M', '1.692M']
spot of 3.1 with type <class 'str'>
['Fr', '7/19/02', '3.92', '993.6k', '1.584M']
spot of 3.92 with type <class 'str'>
['Th', '7/18/02', '3.89', '2.169M', '1.682M']
spot of 3.89 with type <class 'str'>
['We', '7/17/02', '4.32', '2.358M', '1.702M']
spot of 4.32 with type <class 'str'>
['Tu', '7/16/02', '4.24', '1.14M', '1.663M']
spot of 4.24 with type <class 'str'>
['Mo', '7/15/02', '4.22', '1.657M', '1.873M']
spot of 4.22 with type <class 'str'>
['Fr', '7/12/02', '4.28', '2.425M', '2.088M']
spot of 4.28 with type <class 'str'>
['Th', '7/11/02', '4.1', '2.291M', '1.965M']
spot of 4.1 with type <class 'str'>
['We', '7/10/02', '4.05', '1.332M', '1.895M']
spot of 4.05 with type <class 'str'>
['Tu', '7/9/02', '3.9', '515.2k', '1.862M']
spot of 3.9 with type <class 'str'>
['Mo', '7/8/02', '3.81', '1.346M', '1.91M']
spot of 3.81 with type <class 'str'>
['Fr', '7/5/02', '4.07', '1.845M', '1.935M']
spot of 4.07 with type <class 'str'>
['We', '7/3/02', '3.5', '1.488M', '1.903M']
spot of 3.5 with type <class 'str'>
['Tu', '7/2/02', '3.62', '1.136M', '1.88M']
spot of 3.62 with type <class 'str'>
['Mo', '7/1/02', '3.5', '947.2k', '1.859M']
spot of 3.5 with type <class 'str'>
['Fr', '6/28/02', '3.25', '2.123M', '1.835M']
spot of 3.25 with type <class 'str'>
['Th', '6/27/02', '3.2', '2.455M', '1.731M']
spot of 3.2 with type <class 'str'>
['We', '6/26/02', '3.16', '2.474M', '1.613M']
spot of 3.16 with type <class 'str'>
['Tu', '6/25/02', '3.4', '1.776M', '1.495M']
spot of 3.4 with type <class 'str'>
['Mo', '6/24/02', '3.81', '4.279M', '1.419M']
spot of 3.81 with type <class 'str'>
['Fr', '6/21/02', '3.53', '4.892M', '1.182M']
spot of 3.53 with type <class 'str'>
['Th', '6/20/02', '3.9', '573.5k', '924.733k']
spot of 3.9 with type <class 'str'>
['We', '6/19/02', '4.1', '1.243M', '947.707k']
spot of 4.1 with type <class 'str'>
['Tu', '6/18/02', '4.24', '840.8k', '893.127k']
spot of 4.24 with type <class 'str'>
['Mo', '6/17/02', '4.24', '1.227M', '902.273k']
spot of 4.24 with type <class 'str'>
['Fr', '6/14/02', '4.09', '1.725M', '933.393k']
spot of 4.09 with type <class 'str'>
['Th', '6/13/02', '4.02', '1.365M', '910.627k']
spot of 4.02 with type <class 'str'>
['We', '6/12/02', '3.95', '1.15M', '931.933k']
spot of 3.95 with type <class 'str'>
['Tu', '6/11/02', '3.86', '808.1k', '1.008M']
spot of 3.86 with type <class 'str'>
['Mo', '6/10/02', '4.12', '588k', '1.225M']
spot of 4.12 with type <class 'str'>
['Fr', '6/7/02', '4.44', '563.8k', '1.28M']
spot of 4.44 with type <class 'str'>
['Th', '6/6/02', '4.5', '682.1k', '1.428M']
spot of 4.5 with type <class 'str'>
['We', '6/5/02', '4.5', '716.9k', '1.51M']
spot of 4.5 with type <class 'str'>
['Tu', '6/4/02', '4.45', '634.1k', '1.591M']
spot of 4.45 with type <class 'str'>
['Mo', '6/3/02', '4.3', '722.7k', '1.612M']
spot of 4.3 with type <class 'str'>
['Fr', '5/31/02', '4.6', '1.031M', '1.652M']
spot of 4.6 with type <class 'str'>
['Th', '5/30/02', '4.63', '918.1k', '1.859M']
spot of 4.63 with type <class 'str'>
['We', '5/29/02', '4.65', '424.5k', '2.161M']
spot of 4.65 with type <class 'str'>
['Tu', '5/28/02', '4.75', '978k', '2.491M']
spot of 4.75 with type <class 'str'>
['Fr', '5/24/02', '4.44', '1.694M', '2.587M']
spot of 4.44 with type <class 'str'>
['Th', '5/23/02', '4.83', '1.384M', '2.555M']
spot of 4.83 with type <class 'str'>
['We', '5/22/02', '4.89', '1.684M', '2.59M']
spot of 4.89 with type <class 'str'>
['Tu', '5/21/02', '4.89', '2.289M', '2.534M']
spot of 4.89 with type <class 'str'>
['Mo', '5/20/02', '5.28', '4.073M', '2.435M']
spot of 5.28 with type <class 'str'>
['Fr', '5/17/02', '5.53', '1.409M', '2.244M']
spot of 5.53 with type <class 'str'>
['Th', '5/16/02', '5.67', '2.782M', '2.405M']
spot of 5.67 with type <class 'str'>
['We', '5/15/02', '5.38', '1.918M', '2.367M']
spot of 5.38 with type <class 'str'>
['Tu', '5/14/02', '5.25', '1.918M', '2.593M']
spot of 5.25 with type <class 'str'>
['Mo', '5/13/02', '4.8', '949.6k', '2.532M']
spot of 4.8 with type <class 'str'>
['Fr', '5/10/02', '4.88', '1.332M', '2.546M']
spot of 4.88 with type <class 'str'>
['Th', '5/9/02', '4.95', '4.139M', '2.646M']
spot of 4.95 with type <class 'str'>
['We', '5/8/02', '4.87', '5.443M', '2.483M']
spot of 4.87 with type <class 'str'>
['Tu', '5/7/02', '4.18', '5.381M', '2.28M']
spot of 4.18 with type <class 'str'>
['Mo', '5/6/02', '5.1', '2.408M', '2.123M']
spot of 5.1 with type <class 'str'>
['Fr', '5/3/02', '5.95', '1.213M', '2.306M']
spot of 5.95 with type <class 'str'>
['Th', '5/2/02', '6.09', '1.919M', '2.35M']
spot of 6.09 with type <class 'str'>
['We', '5/1/02', '6.08', '844.2k', '2.308M']
spot of 6.08 with type <class 'str'>
['Tu', '4/30/02', '6.19', '801.5k', '2.313M']
spot of 6.19 with type <class 'str'>
['Mo', '4/29/02', '6.19', '1.206M', '2.319M']
spot of 6.19 with type <class 'str'>
['Fr', '4/26/02', '6.05', '3.817M', '2.323M']
spot of 6.05 with type <class 'str'>
['Th', '4/25/02', '6.65', '2.216M', '2.153M']
spot of 6.65 with type <class 'str'>
['We', '4/24/02', '6.5', '5.311M', '2.429M']
spot of 6.5 with type <class 'str'>
['Tu', '4/23/02', '7.06', '996.1k', '2.131M']
spot of 7.06 with type <class 'str'>
['Mo', '4/22/02', '7.14', '1.166M', '2.152M']
spot of 7.14 with type <class 'str'>
['Fr', '4/19/02', '7.43', '2.829M', '2.168M']
spot of 7.43 with type <class 'str'>
['Th', '4/18/02', '7.49', '1.698M', '2.02M']
spot of 7.49 with type <class 'str'>
['We', '4/17/02', '7.3', '2.391M', '1.954M']
spot of 7.3 with type <class 'str'>
['Tu', '4/16/02', '7.2', '3.035M', '1.856M']
spot of 7.2 with type <class 'str'>
['Mo', '4/15/02', '7.07', '5.151M', '1.701M']
spot of 7.07 with type <class 'str'>
['Fr', '4/12/02', '6.75', '1.867M', '1.425M']
spot of 6.75 with type <class 'str'>
['Th', '4/11/02', '6.45', '1.289M', '1.353M']
spot of 6.45 with type <class 'str'>
['We', '4/10/02', '6.61', '917.9k', '1.345M']
spot of 6.61 with type <class 'str'>
['Tu', '4/9/02', '6.61', '894.1k', '1.355M']
spot of 6.61 with type <class 'str'>
['Mo', '4/8/02', '6.76', '1.269M', '1.35M']
spot of 6.76 with type <class 'str'>
['Fr', '4/5/02', '6.64', '1.259M', '1.414M']
spot of 6.64 with type <class 'str'>
['Th', '4/4/02', '6.6', '6.356M', '1.531M']
spot of 6.6 with type <class 'str'>
['We', '4/3/02', '6', '845.8k', '1.231M']
spot of 6 with type <class 'str'>
['Tu', '4/2/02', '5.99', '1.318M', '1.266M']
spot of 5.99 with type <class 'str'>
['Mo', '4/1/02', '6.12', '1.395M', '1.276M']
spot of 6.12 with type <class 'str'>
['Th', '3/28/02', '6.23', '612.3k', '1.319M']
spot of 6.23 with type <class 'str'>
['We', '3/27/02', '6.16', '715.4k', '1.375M']
spot of 6.16 with type <class 'str'>
['Tu', '3/26/02', '6.2', '916.2k', '1.513M']
spot of 6.2 with type <class 'str'>
['Mo', '3/25/02', '6.01', '713k', '1.714M']
spot of 6.01 with type <class 'str'>
['Fr', '3/22/02', '6.05', '1.013M', '1.841M']
spot of 6.05 with type <class 'str'>
['Th', '3/21/02', '6.02', '784.8k', '1.849M']
spot of 6.02 with type <class 'str'>
['We', '3/20/02', '5.96', '1.169M', '1.874M']
spot of 5.96 with type <class 'str'>
['Tu', '3/19/02', '5.94', '1.062M', '1.935M']
spot of 5.94 with type <class 'str'>
['Mo', '3/18/02', '6.04', '825k', '1.971M']
spot of 6.04 with type <class 'str'>
['Fr', '3/15/02', '6.01', '2.22M', '1.986M']
spot of 6.01 with type <class 'str'>
['Th', '3/14/02', '6', '3.025M', '1.993M']
spot of 6 with type <class 'str'>
['We', '3/13/02', '6.21', '1.855M', '1.906M']
spot of 6.21 with type <class 'str'>
['Tu', '3/12/02', '6.63', '1.365M', '1.914M']
spot of 6.63 with type <class 'str'>
['Mo', '3/11/02', '6.75', '1.469M', '1.995M']
spot of 6.75 with type <class 'str'>
['Fr', '3/8/02', '6.58', '2.04M', '1.98M']
spot of 6.58 with type <class 'str'>
['Th', '3/7/02', '6.64', '1.449M', '1.928M']
spot of 6.64 with type <class 'str'>
['We', '3/6/02', '6.95', '2.793M', '1.905M']
spot of 6.95 with type <class 'str'>
['Tu', '3/5/02', '6.61', '3.93M', '1.828M']
spot of 6.61 with type <class 'str'>
['Mo', '3/4/02', '6.83', '2.611M', '1.67M']
spot of 6.83 with type <class 'str'>
['Fr', '3/1/02', '6.15', '1.133M', '1.603M']
spot of 6.15 with type <class 'str'>
['Th', '2/28/02', '5.81', '1.158M', '1.637M']
spot of 5.81 with type <class 'str'>
['We', '2/27/02', '6.22', '2.097M', '1.824M']
spot of 6.22 with type <class 'str'>
['Tu', '2/26/02', '6.04', '1.599M', '1.864M']
spot of 6.04 with type <class 'str'>
['Mo', '2/25/02', '5.89', '1.046M', '1.965M']
spot of 5.89 with type <class 'str'>
['Fr', '2/22/02', '5.7', '2.333M', '2.244M']
spot of 5.7 with type <class 'str'>
['Th', '2/21/02', '5.81', '1.714M', '2.174M']
spot of 5.81 with type <class 'str'>
['We', '2/20/02', '6.25', '1.97M', '2.257M']
spot of 6.25 with type <class 'str'>
['Tu', '2/19/02', '5.35', '2.586M', '2.23M']
spot of 5.35 with type <class 'str'>
['Fr', '2/15/02', '5.98', '1.249M', '2.184M']
spot of 5.98 with type <class 'str'>
['Th', '2/14/02', '6.13', '1.249M', '2.293M']
spot of 6.13 with type <class 'str'>
['We', '2/13/02', '6', '1.115M', '2.395M']
spot of 6 with type <class 'str'>
['Tu', '2/12/02', '6.2', '1.639M', '2.509M']
spot of 6.2 with type <class 'str'>
['Mo', '2/11/02', '6.25', '1.548M', '2.615M']
spot of 6.25 with type <class 'str'>
['Fr', '2/8/02', '5.74', '1.613M', '2.866M']
spot of 5.74 with type <class 'str'>
['Th', '2/7/02', '5.94', '1.646M', '2.867M']
spot of 5.94 with type <class 'str'>
['We', '2/6/02', '5.85', '3.953M', '2.978M']
spot of 5.85 with type <class 'str'>
['Tu', '2/5/02', '5.62', '2.7M', '2.83M']
spot of 5.62 with type <class 'str'>
['Mo', '2/4/02', '5.53', '3.122M', '2.863M']
spot of 5.53 with type <class 'str'>
['Fr', '2/1/02', '5.72', '5.223M', '2.769M']
spot of 5.72 with type <class 'str'>
['Th', '1/31/02', '6.25', '1.282M', '2.614M']
spot of 6.25 with type <class 'str'>
['We', '1/30/02', '6.49', '2.958M', '3.019M']
spot of 6.49 with type <class 'str'>
['Tu', '1/29/02', '6.85', '1.564M', '3.031M']
spot of 6.85 with type <class 'str'>
['Mo', '1/28/02', '6.79', '1.895M', '3.09M']
spot of 6.79 with type <class 'str'>
['Fr', '1/25/02', '6.89', '2.89M', '3.131M']
spot of 6.89 with type <class 'str'>
['Th', '1/24/02', '7.11', '2.783M', '3.104M']
spot of 7.11 with type <class 'str'>
['We', '1/23/02', '7.05', '2.822M', '3.058M']
spot of 7.05 with type <class 'str'>
['Tu', '1/22/02', '6.99', '3.225M', '2.99M']
spot of 6.99 with type <class 'str'>
['Fr', '1/18/02', '6.46', '5.308M', '2.865M']
spot of 6.46 with type <class 'str'>
['Th', '1/17/02', '6.95', '1.628M', '2.643M']
spot of 6.95 with type <class 'str'>
['We', '1/16/02', '7.01', '3.318M', '2.624M']
spot of 7.01 with type <class 'str'>
['Tu', '1/15/02', '6.98', '1.731M', '2.443M']
spot of 6.98 with type <class 'str'>
['Mo', '1/14/02', '6.83', '3.195M', '2.705M']
spot of 6.83 with type <class 'str'>
['Fr', '1/11/02', '7.4', '1.706M', '2.619M']
spot of 7.4 with type <class 'str'>
['Th', '1/10/02', '7.35', '2.905M', '2.662M']
spot of 7.35 with type <class 'str'>
['We', '1/9/02', '7.5', '7.357M', '2.617M']
spot of 7.5 with type <class 'str'>
['Tu', '1/8/02', '7', '3.133M', '2.233M']
spot of 7 with type <class 'str'>
['Mo', '1/7/02', '6.86', '2.45M', '2.188M']
spot of 6.86 with type <class 'str'>
['Fr', '1/4/02', '6.45', '2.516M', '2.177M']
spot of 6.45 with type <class 'str'>
['Th', '1/3/02', '6.14', '2.49M', '2.216M']
spot of 6.14 with type <class 'str'>
['We', '1/2/02', '6.14', '2.081M', '2.43M']
spot of 6.14 with type <class 'str'>

spot of 4.07 with type <class 'str'>
['Th', '11/8/01', '4.25', '3.326M', '1.494M']
spot of 4.25 with type <class 'str'>
['We', '11/7/01', '3.95', '494.9k', '1.345M']
spot of 3.95 with type <class 'str'>
['Tu', '11/6/01', '4', '899.6k', '1.374M']
spot of 4 with type <class 'str'>
['Mo', '11/5/01', '3.83', '1.088M', '1.38M']
spot of 3.83 with type <class 'str'>
['Fr', '11/2/01', '3.99', '2.434M', '1.325M']
spot of 3.99 with type <class 'str'>
['Th', '11/1/01', '3.4', '774.6k', '1.193M']
spot of 3.4 with type <class 'str'>
['We', '10/31/01', '3.35', '1.312M', '1.242M']
spot of 3.35 with type <class 'str'>
['Tu', '10/30/01', '3.4', '1.745M', '1.179M']
spot of 3.4 with type <class 'str'>
['Mo', '10/29/01', '3.27', '602.3k', '1.088M']
spot of 3.27 with type <class 'str'>
['Fr', '10/26/01', '3.49', '1.707M', '1.071M']
spot of 3.49 with type <class 'str'>
['Th', '10/25/01', '3.33', '1.294M', '1.016M']
spot of 3.33 with type <class 'str'>
['We', '10/24/01', '3.5', '1.842M', '1.013M']
spot of 3.5 with type <class 'str'>
['Tu', '10/23/01', '3.24', '1.067M', '1.04M']
spot of 3.24 with type <class 'str'>
['Mo', '10/22/01', '3.13', '1.311M', '1.002M']
spot of 3.13 with type <class 'str'>
['Fr', '10/19/01', '3.1', '2.513M', '958.333k']
spot of 3.1 with type <class 'str'>
['Th', '10/18/01', '2.75', '1.087M', '856.267k']
spot of 2.75 with type <class 'str'>
['We', '10/17/01', '2.65', '931.9k', '846.507k']
spot of 2.65 with type <class 'str'>
['Tu', '10/16/01', '2.55', '984.5k', '846.473k']
spot of 2.55 with type <class 'str'>
['Mo', '10/15/01', '2.54', '275.2k', '814.953k']
spot of 2.54 with type <class 'str'>
['Fr', '10/12/01', '2.6', '448.1k', '881.793k']
spot of 2.6 with type <class 'str'>
['Th', '10/11/01', '2.7', '1.509M', '938.493k']
spot of 2.7 with type <class 'str'>
['We', '10/10/01', '2.5', '370.6k', '886.573k']
spot of 2.5 with type <class 'str'>
['Tu', '10/9/01', '2.48', '382.8k', '921.147k']
spot of 2.48 with type <class 'str'>
['Mo', '10/8/01', '2.59', '344.4k', '931.213k']
spot of 2.59 with type <class 'str'>
['Fr', '10/5/01', '2.65', '879.7k', '979.1k']
spot of 2.65 with type <class 'str'>
['Th', '10/4/01', '2.7', '1.247M', '947.693k']
spot of 2.7 with type <class 'str'>
['We', '10/3/01', '2.8', '2.249M', '904.773k']
spot of 2.8 with type <class 'str'>
['Tu', '10/2/01', '2.38', '491.2k', '872.66k']
spot of 2.38 with type <class 'str'>
['Mo', '10/1/01', '2.44', '662.6k', '913.54k']
spot of 2.44 with type <class 'str'>
['Fr', '9/28/01', '2.17', '982.2k', '906.393k']
spot of 2.17 with type <class 'str'>
['Th', '9/27/01', '2.05', '940.2k', '875.46k']
spot of 2.05 with type <class 'str'>
['We', '9/26/01', '2.1', '931.4k', '858.347k']
spot of 2.1 with type <class 'str'>
['Tu', '9/25/01', '2.37', '511.7k', '815.213k']
spot of 2.37 with type <class 'str'>
['Mo', '9/24/01', '2.35', '1.278M', '814.127k']
spot of 2.35 with type <class 'str'>
['Fr', '9/21/01', '2.21', '1.299M', '742.993k']
spot of 2.21 with type <class 'str'>
['Th', '9/20/01', '2.54', '729.7k', '687.513k']
spot of 2.54 with type <class 'str'>
['We', '9/19/01', '2.8', '889.2k', '669.6k']
spot of 2.8 with type <class 'str'>
['Tu', '9/18/01', '2.75', '533.8k', '636.593k']
spot of 2.75 with type <class 'str'>
['Mo', '9/17/01', '2.87', '1.063M', '627.78k']
spot of 2.87 with type <class 'str'>
['Mo', '9/10/01', '3.27', '408.6k', '591.187k']
spot of 3.27 with type <class 'str'>
['Fr', '9/7/01', '3.27', '602.9k', '587.46k']
spot of 3.27 with type <class 'str'>
['Th', '9/6/01', '3.2', '1.767M', '588.967k']
spot of 3.2 with type <class 'str'>
['We', '9/5/01', '3.57', '1.104M', '501.44k']
spot of 3.57 with type <class 'str'>
['Tu', '9/4/01', '3.06', '555.4k', '459.673k']
spot of 3.06 with type <class 'str'>
['Fr', '8/31/01', '3.18', '518.2k', '443.087k']
spot of 3.18 with type <class 'str'>
['Th', '8/30/01', '3.21', '683.5k', '437.393k']
spot of 3.21 with type <class 'str'>
['We', '8/29/01', '3.37', '284.4k', '442.467k']
spot of 3.37 with type <class 'str'>
['Tu', '8/28/01', '3.49', '495.4k', '475.853k']
spot of 3.49 with type <class 'str'>
['Mo', '8/27/01', '3.53', '210.8k', '493.793k']
spot of 3.53 with type <class 'str'>
['Fr', '8/24/01', '3.63', '466.4k', '611.253k']
spot of 3.63 with type <class 'str'>
['Th', '8/23/01', '3.59', '461k', '641.467k']
spot of 3.59 with type <class 'str'>
['We', '8/22/01', '3.69', '394.1k', '673.02k']
spot of 3.69 with type <class 'str'>
['Tu', '8/21/01', '3.5', '401.6k', '904.827k']
spot of 3.5 with type <class 'str'>
['Mo', '8/20/01', '3.62', '513.8k', '992.98k']
spot of 3.62 with type <class 'str'>
['Fr', '8/17/01', '3.64', '352.7k', '1.04M']
spot of 3.64 with type <class 'str'>
['Th', '8/16/01', '3.65', '625.5k', '1.081M']
spot of 3.65 with type <class 'str'>
['We', '8/15/01', '3.56', '454.4k', '1.119M']
spot of 3.56 with type <class 'str'>
['Tu', '8/14/01', '3.7', '477.9k', '1.133M']
spot of 3.7 with type <class 'str'>
['Mo', '8/13/01', '3.72', '306.6k', '1.165M']
spot of 3.72 with type <class 'str'>
['Fr', '8/10/01', '3.69', '432.8k', '1.204M']
spot of 3.69 with type <class 'str'>
['Th', '8/9/01', '3.79', '759.6k', '1.218M']
spot of 3.79 with type <class 'str'>
['We', '8/8/01', '3.72', '785.2k', '1.223M']
spot of 3.72 with type <class 'str'>
['Tu', '8/7/01', '3.93', '764.5k', '1.228M']
spot of 3.93 with type <class 'str'>
['Mo', '8/6/01', '4.01', '1.973M', '1.201M']
spot of 4.01 with type <class 'str'>
['Fr', '8/3/01', '3.79', '919.6k', '1.106M']
spot of 3.79 with type <class 'str'>
['Th', '8/2/01', '3.69', '934.3k', '1.066M']
spot of 3.69 with type <class 'str'>
['We', '8/1/01', '3.76', '3.871M', '1.076M']
spot of 3.76 with type <class 'str'>
['Tu', '7/31/01', '3.51', '1.724M', '858.3k']
spot of 3.51 with type <class 'str'>
['Mo', '7/30/01', '3.36', '1.216M', '792.307k']
spot of 3.36 with type <class 'str'>
['Fr', '7/27/01', '3.43', '973.2k', '739.12k']
spot of 3.43 with type <class 'str'>
['Th', '7/26/01', '3.35', '1.197M', '697.773k']
spot of 3.35 with type <class 'str'>
['We', '7/25/01', '3', '660.1k', '654.487k']
spot of 3 with type <class 'str'>
['Tu', '7/24/01', '2.95', '954.1k', '623.36k']
spot of 2.95 with type <class 'str'>
['Mo', '7/23/01', '3.1', '890.7k', '629.52k']
spot of 3.1 with type <class 'str'>
['Fr', '7/20/01', '3.2', '641.7k', '653.727k']
spot of 3.2 with type <class 'str'>
['Th', '7/19/01', '3.17', '847.9k', '651.207k']
spot of 3.17 with type <class 'str'>
['We', '7/18/01', '3.13', '851.7k', '622.667k']
spot of 3.13 with type <class 'str'>
['Tu', '7/17/01', '3.13', '358.5k', '612.953k']
spot of 3.13 with type <class 'str'>
['Mo', '7/16/01', '3.16', '547.7k', '655.213k']
spot of 3.16 with type <class 'str'>
['Fr', '7/13/01', '3.19', '319.1k', '641.527k']
spot of 3.19 with type <class 'str'>
['Th', '7/12/01', '3.19', '1.082M', '649.973k']
spot of 3.19 with type <class 'str'>
['We', '7/11/01', '3.14', '611.2k', '633.953k']
spot of 3.14 with type <class 'str'>
['Tu', '7/10/01', '3.12', '734k', '623.36k']
spot of 3.12 with type <class 'str'>
['Mo', '7/9/01', '3.35', '417.7k', '615.48k']
spot of 3.35 with type <class 'str'>
['Fr', '7/6/01', '3.27', '353k', '623.973k']
spot of 3.27 with type <class 'str'>
['Th', '7/5/01', '3.54', '548.1k', '778.5k']
spot of 3.54 with type <class 'str'>
['Tu', '7/3/01', '3.53', '193.2k', '859.487k']
spot of 3.53 with type <class 'str'>
['Mo', '7/2/01', '3.47', '1.047M', '959.16k']
spot of 3.47 with type <class 'str'>
['Fr', '6/29/01', '3.95', '1.254M', '994.807k']
spot of 3.95 with type <class 'str'>
['Th', '6/28/01', '3.65', '603.9k', '986.613k']
spot of 3.65 with type <class 'str'>
['We', '6/27/01', '3.45', '419.8k', '1.306M']
spot of 3.45 with type <class 'str'>
['Tu', '6/26/01', '3.4', '706k', '1.552M']
spot of 3.4 with type <class 'str'>
['Mo', '6/25/01', '3.2', '992.4k', '1.583M']
spot of 3.2 with type <class 'str'>
['Fr', '6/22/01', '3.38', '342.4k', '1.552M']
spot of 3.38 with type <class 'str'>
['Th', '6/21/01', '3.43', '445.8k', '1.558M']
spot of 3.43 with type <class 'str'>
['We', '6/20/01', '3.21', '841.5k', '1.561M']
spot of 3.21 with type <class 'str'>
['Tu', '6/19/01', '3.1', '452.3k', '1.582M']
spot of 3.1 with type <class 'str'>
['Mo', '6/18/01', '3.1', '615.8k', '1.587M']
spot of 3.1 with type <class 'str'>
['Fr', '6/15/01', '3.47', '545.1k', '1.561M']
spot of 3.47 with type <class 'str'>
['Th', '6/14/01', '3.22', '2.671M', '1.546M']
spot of 3.22 with type <class 'str'>
['We', '6/13/01', '3.29', '1.763M', '1.396M']
spot of 3.29 with type <class 'str'>
['Tu', '6/12/01', '3.5', '1.688M', '1.334M']
spot of 3.5 with type <class 'str'>
['Mo', '6/11/01', '3.61', '1.581M', '1.257M']
spot of 3.61 with type <class 'str'>
['Fr', '6/8/01', '3.98', '1.131M', '1.172M']
spot of 3.98 with type <class 'str'>
['Th', '6/7/01', '4', '5.389M', '1.153M']
spot of 4 with type <class 'str'>
['We', '6/6/01', '4.05', '4.109M', '854.9k']
spot of 4.05 with type <class 'str'>
['Tu', '6/5/01', '4.39', '1.175M', '598.92k']
spot of 4.39 with type <class 'str'>
['Mo', '6/4/01', '4.37', '525.5k', '556.76k']
spot of 4.37 with type <class 'str'>
['Fr', '6/1/01', '4.44', '432.5k', '563.047k']
spot of 4.44 with type <class 'str'>
['Th', '5/31/01', '4.31', '495.2k', '592.613k']
spot of 4.31 with type <class 'str'>
['We', '5/30/01', '4.22', '1.154M', '585.213k']
spot of 4.22 with type <class 'str'>
['Tu', '5/29/01', '4.5', '529.3k', '528.333k']
spot of 4.5 with type <class 'str'>
['Fr', '5/25/01', '4.87', '232.6k', '540.72k']
spot of 4.87 with type <class 'str'>
['Th', '5/24/01', '4.9', '309.9k', '552.293k']
spot of 4.9 with type <class 'str'>
['We', '5/23/01', '4.87', '432k', '562.213k']
spot of 4.87 with type <class 'str'>
['Tu', '5/22/01', '4.92', '825.6k', '594.32k']
spot of 4.92 with type <class 'str'>
['Mo', '5/21/01', '5.1', '530.2k', '659.447k']
spot of 5.1 with type <class 'str'>
['Fr', '5/18/01', '5.02', '311.6k', '675.84k']
spot of 5.02 with type <class 'str'>
['Th', '5/17/01', '5.09', '846.7k', '715.827k']
spot of 5.09 with type <class 'str'>
['We', '5/16/01', '5.25', '914.5k', '705.153k']
spot of 5.25 with type <class 'str'>
['Tu', '5/15/01', '4.99', '269.5k', '683.08k']
spot of 4.99 with type <class 'str'>
['Mo', '5/14/01', '4.95', '542.6k', '739.38k']
spot of 4.95 with type <class 'str'>
['Fr', '5/11/01', '4.97', '619.8k', '785.06k']
spot of 4.97 with type <class 'str'>
['Th', '5/10/01', '5.05', '876k', '795.66k']
spot of 5.05 with type <class 'str'>
['We', '5/9/01', '5.11', '384.2k', '843.267k']
spot of 5.11 with type <class 'str'>
['Tu', '5/8/01', '5.24', '300.5k', '1.057M']
spot of 5.24 with type <class 'str'>
['Mo', '5/7/01', '5.33', '715.1k', '1.156M']
spot of 5.33 with type <class 'str'>
['Fr', '5/4/01', '5.33', '406.2k', '1.27M']
spot of 5.33 with type <class 'str'>
['Th', '5/3/01', '5.39', '458.7k', '1.444M']
spot of 5.39 with type <class 'str'>
['We', '5/2/01', '5.36', '913.6k', '1.567M']
spot of 5.36 with type <class 'str'>
['Tu', '5/1/01', '5.49', '1.803M', '1.687M']
spot of 5.49 with type <class 'str'>
['Mo', '4/30/01', '5.32', '776.1k', '1.596M']
spot of 5.32 with type <class 'str'>
['Fr', '4/27/01', '5.05', '911.4k', '1.585M']
spot of 5.05 with type <class 'str'>
['Th', '4/26/01', '5.06', '686.6k', '1.603M']
spot of 5.06 with type <class 'str'>
['We', '4/25/01', '5.22', '583.4k', '1.704M']
spot of 5.22 with type <class 'str'>
['Tu', '4/24/01', '5.1', '1.114M', '1.735M']
spot of 5.1 with type <class 'str'>
['Mo', '4/23/01', '5.03', '1.228M', '1.724M']
spot of 5.03 with type <class 'str'>
['Fr', '4/20/01', '5.12', '778.8k', '1.701M']
spot of 5.12 with type <class 'str'>
['Th', '4/19/01', '5.37', '1.59M', '1.726M']
spot of 5.37 with type <class 'str'>
['We', '4/18/01', '5.34', '3.596M', '1.664M']
spot of 5.34 with type <class 'str'>
['Tu', '4/17/01', '5.05', '1.775M', '1.471M']
spot of 5.05 with type <class 'str'>
['Mo', '4/16/01', '5.24', '2.422M', '1.384M']
spot of 5.24 with type <class 'str'>
['Th', '4/12/01', '5.01', '3.016M', '1.26M']
spot of 5.01 with type <class 'str'>
['We', '4/11/01', '4.79', '2.314M', '1.133M']
spot of 4.79 with type <class 'str'>
['Tu', '4/10/01', '4.67', '2.704M', '1.039M']
spot of 4.67 with type <class 'str'>
['Mo', '4/9/01', '4.04', '444.8k', '904.427k']
spot of 4.04 with type <class 'str'>
['Fr', '4/6/01', '4', '614.1k', '944.613k']
spot of 4 with type <class 'str'>
['Th', '4/5/01', '4.12', '1.174M', '967.307k']
spot of 4.12 with type <class 'str'>
['We', '4/4/01', '3.85', '2.2M', '975.113k']
spot of 3.85 with type <class 'str'>
['Tu', '4/3/01', '4.24', '1.049M', '883.52k']
spot of 4.24 with type <class 'str'>
['Mo', '4/2/01', '4.8', '949.4k', '929.913k']
spot of 4.8 with type <class 'str'>
['Fr', '3/30/01', '4.76', '888.4k', '959.82k']
spot of 4.76 with type <class 'str'>
['Th', '3/29/01', '4.56', '1.154M', '968.5k']
spot of 4.56 with type <class 'str'>
['We', '3/28/01', '4.33', '655.1k', '943.007k']
spot of 4.33 with type <class 'str'>
['Tu', '3/27/01', '4.39', '708.3k', '967.607k']
spot of 4.39 with type <class 'str'>
['Mo', '3/26/01', '4.2', '465.5k', '1.008M']
spot of 4.2 with type <class 'str'>
['Fr', '3/23/01', '4.22', '569.5k', '1.011M']
spot of 4.22 with type <class 'str'>
['Th', '3/22/01', '4', '1.097M', '1.118M']
spot of 4 with type <class 'str'>
['We', '3/21/01', '3.97', '911.9k', '1.249M']
spot of 3.97 with type <class 'str'>
['Tu', '3/20/01', '3.9', '684.5k', '1.279M']
spot of 3.9 with type <class 'str'>
['Mo', '3/19/01', '4.25', '1.048M', '1.252M']
spot of 4.25 with type <class 'str'>
['Fr', '3/16/01', '4.02', '954.5k', '1.223M']
spot of 4.02 with type <class 'str'>
['Th', '3/15/01', '4.13', '1.291M', '1.2M']
spot of 4.13 with type <class 'str'>
['We', '3/14/01', '3.85', '826.3k', '1.17M']
spot of 3.85 with type <class 'str'>
['Tu', '3/13/01', '3.8', '1.745M', '1.218M']
spot of 3.8 with type <class 'str'>
['Mo', '3/12/01', '4.1', '1.398M', '1.183M']
spot of 4.1 with type <class 'str'>
['Fr', '3/9/01', '4.2', '1.019M', '1.146M']
spot of 4.2 with type <class 'str'>
['Th', '3/8/01', '4.4', '772k', '1.219M']
spot of 4.4 with type <class 'str'>
['We', '3/7/01', '4.42', '1.024M', '1.217M']
spot of 4.42 with type <class 'str'>
['Tu', '3/6/01', '4.14', '1.321M', '1.323M']
spot of 4.14 with type <class 'str'>
['Mo', '3/5/01', '3.8', '497.4k', '1.345M']
spot of 3.8 with type <class 'str'>
['Fr', '3/2/01', '3.9', '2.182M', '1.384M']
spot of 3.9 with type <class 'str'>
['Th', '3/1/01', '3.85', '3.068M', '1.289M']
spot of 3.85 with type <class 'str'>
['We', '2/28/01', '4.12', '1.362M', '1.215M']
spot of 4.12 with type <class 'str'>
['Tu', '2/27/01', '4.29', '271.1k', '1.169M']
spot of 4.29 with type <class 'str'>
['Mo', '2/26/01', '4.48', '610.5k', '1.201M']
spot of 4.48 with type <class 'str'>
['Fr', '2/23/01', '4.3', '617.4k', '1.253M']
spot of 4.3 with type <class 'str'>
['Th', '2/22/01', '4.35', '832.9k', '1.303M']
spot of 4.35 with type <class 'str'>
['We', '2/21/01', '4.31', '1.552M', '1.535M']
spot of 4.31 with type <class 'str'>
['Tu', '2/20/01', '4.5', '1.211M', '1.562M']
spot of 4.5 with type <class 'str'>
['Fr', '2/16/01', '4.98', '847.9k', '1.607M']
spot of 4.98 with type <class 'str'>
['Th', '2/15/01', '5.23', '2.119M', '1.788M']
spot of 5.23 with type <class 'str'>
['We', '2/14/01', '4.9', '746.5k', '1.883M']
spot of 4.9 with type <class 'str'>
['Tu', '2/13/01', '5.02', '2.612M', '2.106M']
spot of 5.02 with type <class 'str'>
['Mo', '2/12/01', '4.86', '1.648M', '2.096M']
spot of 4.86 with type <class 'str'>
['Fr', '2/9/01', '4.2', '1.081M', '2.178M']
spot of 4.2 with type <class 'str'>
['Th', '2/8/01', '4.29', '761.3k', '2.416M']
spot of 4.29 with type <class 'str'>
['We', '2/7/01', '4.36', '1.952M', '2.462M']
spot of 4.36 with type <class 'str'>
['Tu', '2/6/01', '4.58', '671.1k', '2.386M']
spot of 4.58 with type <class 'str'>
['Mo', '2/5/01', '4.8', '755.8k', '2.366M']
spot of 4.8 with type <class 'str'>
['Fr', '2/2/01', '4.7', '1.391M', '2.365M']
spot of 4.7 with type <class 'str'>
['Th', '2/1/01', '5.09', '1.367M', '2.377M']
spot of 5.09 with type <class 'str'>
['We', '1/31/01', '5.28', '4.316M', '2.383M']
spot of 5.28 with type <class 'str'>
['Tu', '1/30/01', '4.78', '1.956M', '2.192M']
spot of 4.78 with type <class 'str'>
['Mo', '1/29/01', '4.5', '1.88M', '2.118M']
spot of 4.5 with type <class 'str'>
['Fr', '1/26/01', '4.125', '3.558M', '2.073M']
spot of 4.125 with type <class 'str'>
['Th', '1/25/01', '4.8125', '3.552M', '2.059M']
spot of 4.8125 with type <class 'str'>
['We', '1/24/01', '5.1875', '4.09M', '1.934M']
spot of 5.1875 with type <class 'str'>
['Tu', '1/23/01', '4.875', '2.46M', '1.708M']
spot of 4.875 with type <class 'str'>
['Mo', '1/22/01', '4.375', '2.872M', '1.709M']
spot of 4.375 with type <class 'str'>
['Fr', '1/19/01', '3.6875', '4.652M', '1.663M']
spot of 3.6875 with type <class 'str'>
['Th', '1/18/01', '3.875', '1.459M', '1.451M']
spot of 3.875 with type <class 'str'>
['We', '1/17/01', '3.8125', '807.5k', '1.451M']
spot of 3.8125 with type <class 'str'>
['Tu', '1/16/01', '3.8125', '381.9k', '1.57M']
spot of 3.8125 with type <class 'str'>
['Fr', '1/12/01', '3.8125', '733.5k', '1.695M']
spot of 3.8125 with type <class 'str'>
['Th', '1/11/01', '3.9375', '1.567M', '1.807M']
spot of 3.9375 with type <class 'str'>
['We', '1/10/01', '3.8125', '1.468M', '1.822M']
spot of 3.8125 with type <class 'str'>
['Tu', '1/9/01', '3.5625', '1.447M', '1.812M']
spot of 3.5625 with type <class 'str'>
['Mo', '1/8/01', '3.25', '849.2k', '1.825M']
spot of 3.25 with type <class 'str'>
['Fr', '1/5/01', '3.25', '1.201M', '1.834M']
spot of 3.25 with type <class 'str'>
['Th', '1/4/01', '3.25', '3.339M', '1.871M']
spot of 3.25 with type <class 'str'>
['We', '1/3/01', '2.8125', '1.685M', '1.801M']
spot of 2.8125 with type <class 'str'>
['Tu', '1/2/01', '2.3125', '703k', '1.859M']
spot of 2.3125 with type <class 'str'>
['Fr', '12/29/00', '2.4375', '2.465M', '1.961M']
spot of 2.4375 with type <class 'str'>
['Th', '12/28/00', '2.5', '2.195M', '1.905M']
spot of 2.5 with type <class 'str'>
['We', '12/27/00', '2.375', '1.458M', '1.95M']
spot of 2.375 with type <class 'str'>
['Tu', '12/26/00', '2.5', '1.471M', '2.232M']
spot of 2.5 with type <class 'str'>
['Fr', '12/22/00', '2.8125', '2.589M', '2.611M']
spot of 2.8125 with type <class 'str'>
['Th', '12/21/00', '2.625', '2.251M', '2.641M']
spot of 2.625 with type <class 'str'>
['We', '12/20/00', '2.3125', '2.421M', '2.641M']
spot of 2.3125 with type <class 'str'>
['Tu', '12/19/00', '2.4375', '1.788M', '2.696M']
spot of 2.4375 with type <class 'str'>
['Mo', '12/18/00', '2.625', '1.317M', '2.701M']
spot of 2.625 with type <class 'str'>
['Fr', '12/15/00', '2.75', '1.649M', '2.703M']
spot of 2.75 with type <class 'str'>
['Th', '12/14/00', '2.8125', '982.6k', '2.609M']
spot of 2.8125 with type <class 'str'>
['We', '12/13/00', '2.9375', '1.75M', '2.627M']
spot of 2.9375 with type <class 'str'>
['Tu', '12/12/00', '3.4375', '2.288M', '2.645M']
spot of 3.4375 with type <class 'str'>
['Mo', '12/11/00', '3.25', '2.555M', '2.628M']
spot of 3.25 with type <class 'str'>
['Fr', '12/8/00', '2.5625', '2.234M', '2.54M']
spot of 2.5625 with type <class 'str'>
['Th', '12/7/00', '2.4375', '1.63M', '2.448M']
spot of 2.4375 with type <class 'str'>
['We', '12/6/00', '2.4375', '2.864M', '2.466M']
spot of 2.4375 with type <class 'str'>
['Tu', '12/5/00', '2.5', '5.691M', '2.354M']
spot of 2.5 with type <class 'str'>
['Mo', '12/4/00', '2.25', '7.16M', '2.086M']
spot of 2.25 with type <class 'str'>
['Fr', '12/1/00', '3.3125', '3.032M', '1.67M']
spot of 3.3125 with type <class 'str'>
['Th', '11/30/00', '3.25', '2.257M', '1.606M']
spot of 3.25 with type <class 'str'>
['We', '11/29/00', '3.5', '3.243M', '1.537M']
spot of 3.5 with type <class 'str'>
['Tu', '11/28/00', '4.25', '1.865M', '1.4M']
spot of 4.25 with type <class 'str'>
['Mo', '11/27/00', '5.0625', '1.348M', '1.393M']
spot of 5.0625 with type <class 'str'>
['Fr', '11/24/00', '5.375', '241.8k', '1.378M']
spot of 5.375 with type <class 'str'>
['We', '11/22/00', '5.375', '1.253M', '1.579M']
spot of 5.375 with type <class 'str'>

spot of 5.875 with type <class 'str'>
['We', '8/30/00', '5.8125', '2.685M', '2.273M']
spot of 5.8125 with type <class 'str'>
['Tu', '8/29/00', '6', '3.43M', '2.171M']
spot of 6 with type <class 'str'>
['Mo', '8/28/00', '6.0625', '3.991M', '2.034M']
spot of 6.0625 with type <class 'str'>
['Fr', '8/25/00', '5.4375', '1.004M', '1.841M']
spot of 5.4375 with type <class 'str'>
['Th', '8/24/00', '5.5', '3.001M', '1.847M']
spot of 5.5 with type <class 'str'>
['We', '8/23/00', '4.9375', '1.279M', '1.748M']
spot of 4.9375 with type <class 'str'>
['Tu', '8/22/00', '5.25', '1.449M', '1.723M']
spot of 5.25 with type <class 'str'>
['Mo', '8/21/00', '5.4375', '3.138M', '1.694M']
spot of 5.4375 with type <class 'str'>
['Fr', '8/18/00', '5.625', '7.049M', '1.56M']
spot of 5.625 with type <class 'str'>
['Th', '8/17/00', '4.375', '2.397M', '1.303M']
spot of 4.375 with type <class 'str'>
['We', '8/16/00', '4.3125', '878k', '1.231M']
spot of 4.3125 with type <class 'str'>
['Tu', '8/15/00', '4.125', '1.923M', '1.35M']
spot of 4.125 with type <class 'str'>
['Mo', '8/14/00', '3.75', '525.5k', '1.321M']
spot of 3.75 with type <class 'str'>
['Fr', '8/11/00', '3.6875', '717.3k', '1.359M']
spot of 3.6875 with type <class 'str'>
['Th', '8/10/00', '3.625', '625.8k', '1.407M']
spot of 3.625 with type <class 'str'>
['We', '8/9/00', '3.5625', '1.156M', '1.574M']
spot of 3.5625 with type <class 'str'>
['Tu', '8/8/00', '3.75', '1.383M', '1.529M']
spot of 3.75 with type <class 'str'>
['Mo', '8/7/00', '3.9375', '1.092M', '1.49M']
spot of 3.9375 with type <class 'str'>
['Fr', '8/4/00', '3.8125', '1.09M', '1.541M']
spot of 3.8125 with type <class 'str'>
['Th', '8/3/00', '3.75', '1.512M', '1.558M']
spot of 3.75 with type <class 'str'>
['We', '8/2/00', '4', '907.7k', '1.579M']
spot of 4 with type <class 'str'>
['Tu', '8/1/00', '4.0625', '1.016M', '1.734M']
spot of 4.0625 with type <class 'str'>
['Mo', '7/31/00', '4.125', '1.123M', '1.8M']
spot of 4.125 with type <class 'str'>
['Fr', '7/28/00', '3.9375', '3.199M', '1.754M']
spot of 3.9375 with type <class 'str'>
['Th', '7/27/00', '4', '1.323M', '1.587M']
spot of 4 with type <class 'str'>
['We', '7/26/00', '4.3125', '2.656M', '1.531M']
spot of 4.3125 with type <class 'str'>
['Tu', '7/25/00', '4.5', '1.484M', '1.395M']
spot of 4.5 with type <class 'str'>
['Mo', '7/24/00', '4.6875', '1.102M', '1.31M']
spot of 4.6875 with type <class 'str'>
['Fr', '7/21/00', '4.75', '1.428M', '1.297M']
spot of 4.75 with type <class 'str'>
['Th', '7/20/00', '4.6875', '3.141M', '1.235M']
spot of 4.6875 with type <class 'str'>
['We', '7/19/00', '4.8125', '484.3k', '1.058M']
spot of 4.8125 with type <class 'str'>
['Tu', '7/18/00', '5', '785.6k', '1.093M']
spot of 5 with type <class 'str'>
['Mo', '7/17/00', '5.0625', '1.868M', '1.098M']
spot of 5.0625 with type <class 'str'>
['Fr', '7/14/00', '5.25', '1.335M', '1.026M']
spot of 5.25 with type <class 'str'>
['Th', '7/13/00', '5.625', '1.832M', '1.027M']
spot of 5.625 with type <class 'str'>
['We', '7/12/00', '5.375', '3.239M', '1.056M']
spot of 5.375 with type <class 'str'>
['Tu', '7/11/00', '4.875', '2.007M', '1.052M']
spot of 4.875 with type <class 'str'>
['Mo', '7/10/00', '4.375', '423.9k', '1.152M']
spot of 4.375 with type <class 'str'>
['Fr', '7/7/00', '4.5', '691.1k', '1.26M']
spot of 4.5 with type <class 'str'>
['Th', '7/6/00', '4.5625', '492k', '1.293M']
spot of 4.5625 with type <class 'str'>
['We', '7/5/00', '4.6875', '606.8k', '1.348M']
spot of 4.6875 with type <class 'str'>
['Mo', '7/3/00', '4.9375', '219.7k', '1.366M']
spot of 4.9375 with type <class 'str'>
['Fr', '6/30/00', '5', '906.8k', '1.451M']
spot of 5 with type <class 'str'>
['Th', '6/29/00', '4.75', '500.4k', '1.476M']
spot of 4.75 with type <class 'str'>
['We', '6/28/00', '4.8125', '472.2k', '1.506M']
spot of 4.8125 with type <class 'str'>
['Tu', '6/27/00', '4.9375', '1.024M', '1.593M']
spot of 4.9375 with type <class 'str'>
['Mo', '6/26/00', '4.8125', '855.4k', '1.637M']
spot of 4.8125 with type <class 'str'>
['Fr', '6/23/00', '4.75', '783.3k', '1.681M']
spot of 4.75 with type <class 'str'>
['Th', '6/22/00', '5.0625', '1.352M', '1.764M']
spot of 5.0625 with type <class 'str'>
['We', '6/21/00', '5.1875', '2.274M', '1.801M']
spot of 5.1875 with type <class 'str'>
['Tu', '6/20/00', '4.875', '3.179M', '1.69M']
spot of 4.875 with type <class 'str'>
['Mo', '6/19/00', '4.75', '3.494M', '1.542M']
spot of 4.75 with type <class 'str'>
['Fr', '6/16/00', '4.125', '2.058M', '1.372M']
spot of 4.125 with type <class 'str'>
['Th', '6/15/00', '4.0625', '1.185M', '1.301M']
spot of 4.0625 with type <class 'str'>
['We', '6/14/00', '4.25', '1.304M', '1.3M']
spot of 4.25 with type <class 'str'>
['Tu', '6/13/00', '4.3125', '888.5k', '1.304M']
spot of 4.3125 with type <class 'str'>
['Mo', '6/12/00', '4.3125', '1.486M', '1.348M']
spot of 4.3125 with type <class 'str'>
['Fr', '6/9/00', '4.3125', '1.28M', '1.297M']
spot of 4.3125 with type <class 'str'>
['Th', '6/8/00', '4.3125', '959.1k', '1.296M']
spot of 4.3125 with type <class 'str'>
['We', '6/7/00', '4.375', '1.772M', '1.371M']
spot of 4.375 with type <class 'str'>
['Tu', '6/6/00', '4.5', '1.682M', '1.34M']
spot of 4.5 with type <class 'str'>
['Mo', '6/5/00', '4.5625', '1.513M', '1.308M']
spot of 4.5625 with type <class 'str'>
['Fr', '6/2/00', '4.5', '2.042M', '1.279M']
spot of 4.5 with type <class 'str'>
['Th', '6/1/00', '4.3125', '1.901M', '1.183M']
spot of 4.3125 with type <class 'str'>
['We', '5/31/00', '4.6875', '605.8k', '1.15M']
spot of 4.6875 with type <class 'str'>
['Tu', '5/30/00', '4.75', '964.1k', '1.206M']
spot of 4.75 with type <class 'str'>
['Fr', '5/26/00', '4.625', '940.5k', '1.189M']
spot of 4.625 with type <class 'str'>
['Th', '5/25/00', '4.3125', '996k', '1.159M']
spot of 4.3125 with type <class 'str'>
['We', '5/24/00', '4.6875', '1.174M', '1.133M']
spot of 4.6875 with type <class 'str'>
['Tu', '5/23/00', '5', '1.358M', '1.149M']
spot of 5 with type <class 'str'>
['Mo', '5/22/00', '5', '1.551M', '1.135M']
spot of 5 with type <class 'str'>
['Fr', '5/19/00', '5.1875', '710.4k', '1.125M']
spot of 5.1875 with type <class 'str'>
['Th', '5/18/00', '5.25', '1.272M', '1.279M']
spot of 5.25 with type <class 'str'>
['We', '5/17/00', '5.1875', '2.087M', '1.323M']
spot of 5.1875 with type <class 'str'>
['Tu', '5/16/00', '5.625', '1.298M', '1.287M']
spot of 5.625 with type <class 'str'>
['Mo', '5/15/00', '5.9375', '1.214M', '1.44M']
spot of 5.9375 with type <class 'str'>
['Fr', '5/12/00', '5.75', '1.08M', '1.454M']
spot of 5.75 with type <class 'str'>
['Th', '5/11/00', '5.875', '598.5k', '1.458M']
spot of 5.875 with type <class 'str'>
['We', '5/10/00', '6.875', '1.407M', '1.504M']
spot of 6.875 with type <class 'str'>
['Tu', '5/9/00', '5.875', '1.447M', '1.516M']
spot of 5.875 with type <class 'str'>
['Mo', '5/8/00', '6.5', '709.3k', '1.564M']
spot of 6.5 with type <class 'str'>
['Fr', '5/5/00', '6.5625', '481.7k', '1.706M']
spot of 6.5625 with type <class 'str'>
['Th', '5/4/00', '6.5625', '611.4k', '1.822M']
spot of 6.5625 with type <class 'str'>
['We', '5/3/00', '6.6875', '1.407M', '1.896M']
spot of 6.6875 with type <class 'str'>
['Tu', '5/2/00', '6.6875', '1.156M', '1.91M']
spot of 6.6875 with type <class 'str'>
['Mo', '5/1/00', '7.1875', '1.402M', '1.936M']
spot of 7.1875 with type <class 'str'>
['Fr', '4/28/00', '6.875', '3.017M', '1.94M']
spot of 6.875 with type <class 'str'>
['Th', '4/27/00', '7.75', '1.935M', '1.966M']
spot of 7.75 with type <class 'str'>
['We', '4/26/00', '6.8125', '1.549M', '2.197M']
spot of 6.8125 with type <class 'str'>
['Tu', '4/25/00', '7', '3.593M', '2.346M']
spot of 7 with type <class 'str'>
['Mo', '4/24/00', '6.0625', '1.414M', '2.231M']
spot of 6.0625 with type <class 'str'>
['Th', '4/20/00', '6.1875', '1.14M', '2.431M']
spot of 6.1875 with type <class 'str'>
['We', '4/19/00', '7', '1.288M', '2.582M']
spot of 7 with type <class 'str'>
['Tu', '4/18/00', '6.1875', '1.592M', '2.68M']
spot of 6.1875 with type <class 'str'>
['Mo', '4/17/00', '5.625', '2.171M', '2.719M']
spot of 5.625 with type <class 'str'>
['Fr', '4/14/00', '6', '2.838M', '2.683M']
spot of 6 with type <class 'str'>
['Th', '4/13/00', '6.75', '2.214M', '2.721M']
spot of 6.75 with type <class 'str'>
['We', '4/12/00', '6.25', '1.719M', '2.98M']
spot of 6.25 with type <class 'str'>
['Tu', '4/11/00', '6.6875', '1.621M', '3.316M']
spot of 6.6875 with type <class 'str'>
['Mo', '4/10/00', '7.0625', '1.543M', '3.348M']
spot of 7.0625 with type <class 'str'>
['Fr', '4/7/00', '7.5625', '1.469M', '3.422M']
spot of 7.5625 with type <class 'str'>
['Th', '4/6/00', '7.75', '3.408M', '3.572M']
spot of 7.75 with type <class 'str'>
['We', '4/5/00', '7.6875', '5.396M', '3.931M']
spot of 7.6875 with type <class 'str'>
['Tu', '4/4/00', '6.4375', '3.781M', '3.891M']
spot of 6.4375 with type <class 'str'>
['Mo', '4/3/00', '7.125', '1.869M', '4.34M']
spot of 7.125 with type <class 'str'>
['Fr', '3/31/00', '7.4375', '4.412M', '5.469M']
spot of 7.4375 with type <class 'str'>
['Th', '3/30/00', '6.875', '3.407M', '5.488M']
spot of 6.875 with type <class 'str'>
['We', '3/29/00', '7.75', '2.756M', '5.832M']
spot of 7.75 with type <class 'str'>
['Tu', '3/28/00', '7.6875', '2.174M', '5.735M']
spot of 7.6875 with type <class 'str'>
['Mo', '3/27/00', '8.25', '1.644M', '5.73M']
spot of 8.25 with type <class 'str'>
['Fr', '3/24/00', '8.625', '3.4M', '5.918M']
spot of 8.625 with type <class 'str'>
['Th', '3/23/00', '8.75', '6.106M', '5.822M']
spot of 8.75 with type <class 'str'>
['We', '3/22/00', '8', '6.758M', '5.55M']
spot of 8 with type <class 'str'>
['Tu', '3/21/00', '7.125', '2.091M', '5.263M']
spot of 7.125 with type <class 'str'>
['Mo', '3/20/00', '6.9375', '2.666M', '5.327M']
spot of 6.9375 with type <class 'str'>
['Fr', '3/17/00', '7.5', '3.706M', '5.277M']
spot of 7.5 with type <class 'str'>
['Th', '3/16/00', '7.625', '8.805M', '5.213M']
spot of 7.625 with type <class 'str'>
['We', '3/15/00', '6.5', '4.793M', '4.744M']
spot of 6.5 with type <class 'str'>
['Tu', '3/14/00', '6.5', '10.51M', '4.544M']
spot of 6.5 with type <class 'str'>
['Mo', '3/13/00', '7.25', '18.815M', '3.952M']
spot of 7.25 with type <class 'str'>
['Fr', '3/10/00', '5.1875', '4.688M', '2.815M']
spot of 5.1875 with type <class 'str'>
['Th', '3/9/00', '6', '8.568M', '2.619M']
spot of 6 with type <class 'str'>
['We', '3/8/00', '4.5625', '1.306M', '2.138M']
spot of 4.5625 with type <class 'str'>
['Tu', '3/7/00', '4.5625', '2.09M', '2.164M']
spot of 4.5625 with type <class 'str'>
['Mo', '3/6/00', '4.8125', '4.475M', '2.123M']
spot of 4.8125 with type <class 'str'>
['Fr', '3/3/00', '4.5', '1.961M', '2.003M']
spot of 4.5 with type <class 'str'>
['Th', '3/2/00', '4.75', '2.013M', '2.036M']
spot of 4.75 with type <class 'str'>
['We', '3/1/00', '4.6875', '2.456M', '2.018M']
spot of 4.6875 with type <class 'str'>
['Tu', '2/29/00', '4.5', '3.058M', '2.057M']
spot of 4.5 with type <class 'str'>
['Mo', '2/28/00', '3.9375', '1.907M', '2.053M']
spot of 3.9375 with type <class 'str'>
['Fr', '2/25/00', '3.9375', '2.751M', '2.061M']
spot of 3.9375 with type <class 'str'>
['Th', '2/24/00', '4.25', '1.769M', '2.081M']
spot of 4.25 with type <class 'str'>
['We', '2/23/00', '4.3125', '1.791M', '2.05M']
spot of 4.3125 with type <class 'str'>
['Tu', '2/22/00', '4.25', '1.633M', '2.042M']
spot of 4.25 with type <class 'str'>
['Fr', '2/18/00', '4.3125', '1.762M', '2.018M']
spot of 4.3125 with type <class 'str'>
['Th', '2/17/00', '4.5', '1.742M', '2.044M']
spot of 4.5 with type <class 'str'>
['We', '2/16/00', '4.5', '1.353M', '2.174M']
spot of 4.5 with type <class 'str'>
['Tu', '2/15/00', '4.5', '1.697M', '2.267M']
spot of 4.5 with type <class 'str'>
['Mo', '2/14/00', '4.6875', '1.473M', '2.379M']
spot of 4.6875 with type <class 'str'>
['Fr', '2/11/00', '4.9375', '2.679M', '2.503M']
spot of 4.9375 with type <class 'str'>
['Th', '2/10/00', '4.8125', '2.457M', '2.554M']
spot of 4.8125 with type <class 'str'>
['We', '2/9/00', '5', '1.745M', '2.984M']
spot of 5 with type <class 'str'>
['Tu', '2/8/00', '5.125', '3.046M', '3.377M']
spot of 5.125 with type <class 'str'>
['Mo', '2/7/00', '5.25', '2.992M', '3.476M']
spot of 5.25 with type <class 'str'>
['Fr', '2/4/00', '5.0625', '2.031M', '3.473M']
spot of 5.0625 with type <class 'str'>
['Th', '2/3/00', '5.0625', '3.05M', '3.532M']
spot of 5.0625 with type <class 'str'>
['We', '2/2/00', '4.75', '1.297M', '3.582M']
spot of 4.75 with type <class 'str'>
['Tu', '2/1/00', '4.6875', '1.669M', '3.788M']
spot of 4.6875 with type <class 'str'>
['Mo', '1/31/00', '4.75', '1.273M', '4.008M']
spot of 4.75 with type <class 'str'>
['Fr', '1/28/00', '5', '2.154M', '4.575M']
spot of 5 with type <class 'str'>
['Th', '1/27/00', '4.625', '3.693M', '4.596M']
spot of 4.625 with type <class 'str'>
['We', '1/26/00', '5.75', '2.746M', '4.613M']
spot of 5.75 with type <class 'str'>
['Tu', '1/25/00', '5.5', '3.38M', '4.94M']
spot of 5.5 with type <class 'str'>
['Mo', '1/24/00', '4.75', '3.333M', '4.879M']
spot of 4.75 with type <class 'str'>
['Fr', '1/21/00', '5.125', '3.447M', '4.938M']
spot of 5.125 with type <class 'str'>
['Th', '1/20/00', '5.5625', '8.897M', '4.929M']
spot of 5.5625 with type <class 'str'>
['We', '1/19/00', '6.6875', '7.652M', '4.491M']
spot of 6.6875 with type <class 'str'>
['Tu', '1/18/00', '5.125', '4.524M', '4.171M']
spot of 5.125 with type <class 'str'>
['Fr', '1/14/00', '4.5', '2.952M', '4.013M']
spot of 4.5 with type <class 'str'>
['Th', '1/13/00', '4.3125', '2.919M', '3.955M']
spot of 4.3125 with type <class 'str'>
['We', '1/12/00', '4.5625', '3.792M', '3.857M']
spot of 4.5625 with type <class 'str'>
['Tu', '1/11/00', '5', '4.394M', '3.703M']
spot of 5 with type <class 'str'>
['Mo', '1/10/00', '5', '4.961M', '3.566M']
spot of 5 with type <class 'str'>
['Fr', '1/7/00', '5.625', '9.784M', '3.763M']
spot of 5.625 with type <class 'str'>
['Th', '1/6/00', '4.5625', '2.468M', '3.188M']
spot of 4.5625 with type <class 'str'>
['We', '1/5/00', '4.375', '3.945M', '3.133M']
spot of 4.375 with type <class 'str'>
['Tu', '1/4/00', '4.6875', '7.66M', '2.988M']
spot of 4.6875 with type <class 'str'>
['Mo', '1/3/00', '3.9375', '2.462M', '2.606M']
spot of 3.9375 with type <class 'str'>
['Fr', '12/31/99', '4.1875', '4.214M', '2.617M']
spot of 4.1875 with type <class 'str'>
['Th', '12/30/99', '3.8125', '3.317M', '2.484M']
spot of 3.8125 with type <class 'str'>
['We', '12/29/99', '3.6875', '2.322M', '2.394M']
spot of 3.6875 with type <class 'str'>
['Tu', '12/28/99', '3.5625', '2.855M', '2.336M']
spot of 3.5625 with type <class 'str'>
['Mo', '12/27/99', '3.6875', '2.147M', '2.257M']
spot of 3.6875 with type <class 'str'>
['Th', '12/23/99', '3.75', '2.079M', '2.227M']
spot of 3.75 with type <class 'str'>
['We', '12/22/99', '3.875', '1.448M', '2.191M']
spot of 3.875 with type <class 'str'>
['Tu', '12/21/99', '3.875', '1.486M', '2.249M']
spot of 3.875 with type <class 'str'>
['Mo', '12/20/99', '3.9375', '2.346M', '2.448M']
spot of 3.9375 with type <class 'str'>
['Fr', '12/17/99', '4.1875', '7.914M', '2.563M']
spot of 4.1875 with type <class 'str'>
['Th', '12/16/99', '4', '1.159M', '2.072M']
spot of 4 with type <class 'str'>
['We', '12/15/99', '3.5', '1.638M', '2.137M']
spot of 3.5 with type <class 'str'>
['Tu', '12/14/99', '3.625', '1.772M', '2.169M']
spot of 3.625 with type <class 'str'>
['Mo', '12/13/99', '3.4375', '1.935M', '2.159M']
spot of 3.4375 with type <class 'str'>
['Fr', '12/10/99', '3.625', '2.629M', '2.192M']
spot of 3.625 with type <class 'str'>
['Th', '12/9/99', '3.5', '2.215M', '2.176M']
spot of 3.5 with type <class 'str'>
['We', '12/8/99', '3.5625', '1.967M', '2.264M']
spot of 3.5625 with type <class 'str'>
['Tu', '12/7/99', '3.6875', '1.459M', '2.263M']
spot of 3.6875 with type <class 'str'>
['Mo', '12/6/99', '3.75', '1.671M', '2.317M']
spot of 3.75 with type <class 'str'>
['Fr', '12/3/99', '3.75', '1.682M', '2.454M']
spot of 3.75 with type <class 'str'>
['Th', '12/2/99', '3.8125', '1.541M', '2.742M']
spot of 3.8125 with type <class 'str'>
['We', '12/1/99', '3.8125', '2.318M', '3.828M']
spot of 3.8125 with type <class 'str'>
['Tu', '11/30/99', '3.875', '4.47M', '3.821M']
spot of 3.875 with type <class 'str'>
['Mo', '11/29/99', '4.1875', '4.074M', '3.771M']
spot of 4.1875 with type <class 'str'>
['Fr', '11/26/99', '3.6875', '553.4k', '3.726M']
spot of 3.6875 with type <class 'str'>
['We', '11/24/99', '3.6875', '2.136M', '3.895M']
spot of 3.6875 with type <class 'str'>
['Tu', '11/23/99', '3.6875', '2.107M', '3.876M']
spot of 3.6875 with type <class 'str'>
['Mo', '11/22/99', '3.875', '1.622M', '3.833M']
spot of 3.875 with type <class 'str'>
['Fr', '11/19/99', '3.875', '2.441M', '3.833M']
spot of 3.875 with type <class 'str'>
['Th', '11/18/99', '3.9375', '2.391M', '3.734M']
spot of 3.9375 with type <class 'str'>
['We', '11/17/99', '3.9375', '3.526M', '3.651M']
spot of 3.9375 with type <class 'str'>
['Tu', '11/16/99', '3.6875', '1.956M', '3.452M']
spot of 3.6875 with type <class 'str'>
['Mo', '11/15/99', '3.75', '2.263M', '3.378M']
spot of 3.75 with type <class 'str'>
['Fr', '11/12/99', '3.75', '3.723M', '3.398M']
spot of 3.75 with type <class 'str'>
['Th', '11/11/99', '3.875', '6.015M', '3.196M']

spot of 3.875 with type <class 'str'>
['We', '11/10/99', '4.25', '17.818M', '2.854M']
spot of 4.25 with type <class 'str'>
['Tu', '11/9/99', '3.25', '2.216M', '1.751M']
spot of 3.25 with type <class 'str'>
['Mo', '11/8/99', '2.9375', '3.719M', '1.658M']
spot of 2.9375 with type <class 'str'>
['Fr', '11/5/99', '2.8125', '3.409M', '1.509M']
spot of 2.8125 with type <class 'str'>
['Th', '11/4/99', '2.8125', '3.088M', '1.367M']
spot of 2.8125 with type <class 'str'>
['We', '11/3/99', '2.9375', '1.851M', '1.27M']
spot of 2.9375 with type <class 'str'>
['Tu', '11/2/99', '3.125', '1.453M', '1.216M']
spot of 3.125 with type <class 'str'>
['Mo', '11/1/99', '3.125', '1.633M', '1.204M']
spot of 3.125 with type <class 'str'>
['Fr', '10/29/99', '3.25', '946.4k', '1.212M']
spot of 3.25 with type <class 'str'>
['Th', '10/28/99', '3.1875', '1.146M', '1.467M']
spot of 3.1875 with type <class 'str'>
['We', '10/27/99', '3.25', '547.8k', '1.457M']
spot of 3.25 with type <class 'str'>
['Tu', '10/26/99', '3.0625', '848.5k', '1.518M']
spot of 3.0625 with type <class 'str'>
['Mo', '10/25/99', '3.0625', '2.556M', '1.607M']
spot of 3.0625 with type <class 'str'>
['Fr', '10/22/99', '3.4375', '690.3k', '1.551M']
spot of 3.4375 with type <class 'str'>
['Th', '10/21/99', '3.375', '895.6k', '1.679M']
spot of 3.375 with type <class 'str'>
['We', '10/20/99', '3.3125', '1.273M', '1.783M']
spot of 3.3125 with type <class 'str'>
['Tu', '10/19/99', '3.4375', '817.7k', '1.911M']
spot of 3.4375 with type <class 'str'>
['Mo', '10/18/99', '3.3125', '1.473M', '1.961M']
spot of 3.3125 with type <class 'str'>
['Fr', '10/15/99', '3.5', '1.285M', '1.913M']
spot of 3.5 with type <class 'str'>
['Th', '10/14/99', '3.625', '1.635M', '1.892M']
spot of 3.625 with type <class 'str'>
['We', '10/13/99', '3.5', '1.036M', '1.865M']
spot of 3.5 with type <class 'str'>
['Tu', '10/12/99', '3.5625', '1.276M', '1.877M']
spot of 3.5625 with type <class 'str'>
['Mo', '10/11/99', '3.6875', '1.749M', '1.967M']
spot of 3.6875 with type <class 'str'>
['Fr', '10/8/99', '3.625', '4.775M', '1.952M']
spot of 3.625 with type <class 'str'>
['Th', '10/7/99', '3.8125', '993.2k', '1.738M']
spot of 3.8125 with type <class 'str'>
['We', '10/6/99', '4', '1.462M', '1.771M']
spot of 4 with type <class 'str'>
['Tu', '10/5/99', '3.875', '2.19M', '1.811M']
spot of 3.875 with type <class 'str'>
['Mo', '10/4/99', '3.9375', '1.723M', '1.722M']
spot of 3.9375 with type <class 'str'>
['Fr', '10/1/99', '4.1875', '2.602M', '1.693M']
spot of 4.1875 with type <class 'str'>
['Th', '9/30/99', '3.6875', '2.461M', '1.612M']
spot of 3.6875 with type <class 'str'>
['We', '9/29/99', '3.8125', '3.194M', '1.603M']
spot of 3.8125 with type <class 'str'>
['Tu', '9/28/99', '4', '1.567M', '1.622M']
spot of 4 with type <class 'str'>
['Mo', '9/27/99', '4.1875', '747.7k', '1.643M']
spot of 4.1875 with type <class 'str'>
['Fr', '9/24/99', '4.3125', '970.2k', '1.703M']
spot of 4.3125 with type <class 'str'>
['Th', '9/23/99', '4.5', '1.235M', '1.755M']
spot of 4.5 with type <class 'str'>
['We', '9/22/99', '4.375', '1.212M', '1.83M']
spot of 4.375 with type <class 'str'>
['Tu', '9/21/99', '4.25', '2.621M', '1.94M']
spot of 4.25 with type <class 'str'>
['Mo', '9/20/99', '4.625', '1.534M', '1.9M']
spot of 4.625 with type <class 'str'>
['Fr', '9/17/99', '4.8125', '1.559M', '1.922M']
spot of 4.8125 with type <class 'str'>
['Th', '9/16/99', '4.625', '1.486M', '1.977M']
spot of 4.625 with type <class 'str'>
['We', '9/15/99', '4.9375', '2.071M', '1.968M']
spot of 4.9375 with type <class 'str'>
['Tu', '9/14/99', '5.125', '845.2k', '2.06M']
spot of 5.125 with type <class 'str'>
['Mo', '9/13/99', '5.375', '1.299M', '2.327M']
spot of 5.375 with type <class 'str'>
['Fr', '9/10/99', '5.375', '1.373M', '3.132M']
spot of 5.375 with type <class 'str'>
['Th', '9/9/99', '5.5', '2.328M', '3.959M']
spot of 5.5 with type <class 'str'>
['We', '9/8/99', '5.625', '3.482M', '4.284M']
spot of 5.625 with type <class 'str'>
['Tu', '9/7/99', '5.8125', '1.879M', '4.277M']
spot of 5.8125 with type <class 'str'>
['Fr', '9/3/99', '6', '1.659M', '4.532M']
spot of 6 with type <class 'str'>
['Th', '9/2/99', '6.125', '1.744M', '4.524M']
spot of 6.125 with type <class 'str'>
['We', '9/1/99', '6.375', '2.358M', '4.55M']
spot of 6.375 with type <class 'str'>
['Tu', '8/31/99', '6.125', '2.856M', '4.468M']
spot of 6.125 with type <class 'str'>
['Mo', '8/30/99', '5.625', '2.027M', '4.353M']
spot of 5.625 with type <class 'str'>
['Fr', '8/27/99', '5.4375', '1.861M', '4.272M']
spot of 5.4375 with type <class 'str'>
['Th', '8/26/99', '5.6875', '2.391M', '4.21M']
spot of 5.6875 with type <class 'str'>
['We', '8/25/99', '5.8125', '1.347M', '4.164M']
spot of 5.8125 with type <class 'str'>
['Tu', '8/24/99', '5.875', '3.447M', '4.192M']
spot of 5.875 with type <class 'str'>
['Mo', '8/23/99', '5.625', '4.851M', '4.13M']
spot of 5.625 with type <class 'str'>
['Fr', '8/20/99', '5.9375', '13.376M', '3.867M']
spot of 5.9375 with type <class 'str'>
['Th', '8/19/99', '6.875', '13.78M', '3.034M']
spot of 6.875 with type <class 'str'>
['We', '8/18/99', '5.6875', '7.204M', '2.21M']
spot of 5.6875 with type <class 'str'>
['Tu', '8/17/99', '4.6875', '3.375M', '1.857M']
spot of 4.6875 with type <class 'str'>
['Mo', '8/16/99', '4.375', '5.7M', '1.729M']
spot of 4.375 with type <class 'str'>
['Fr', '8/13/99', '3.75', '1.54M', '1.548M']
spot of 3.75 with type <class 'str'>
['Th', '8/12/99', '3.5625', '2.143M', '1.736M']
spot of 3.5625 with type <class 'str'>
['We', '8/11/99', '3.6875', '1.124M', '1.68M']
spot of 3.6875 with type <class 'str'>
['Tu', '8/10/99', '3.8125', '1.131M', '1.659M']
spot of 3.8125 with type <class 'str'>
['Mo', '8/9/99', '3.875', '804.8k', '1.631M']
spot of 3.875 with type <class 'str'>
['Fr', '8/6/99', '4', '933.4k', '1.677M']
spot of 4 with type <class 'str'>
['Th', '8/5/99', '4.1875', '1.712M', '1.727M']
spot of 4.1875 with type <class 'str'>
['We', '8/4/99', '4', '1.764M', '1.805M']
spot of 4 with type <class 'str'>
['Tu', '8/3/99', '4.125', '2.511M', '2.052M']
spot of 4.125 with type <class 'str'>
['Mo', '8/2/99', '4.5625', '912.4k', '2.021M']
spot of 4.5625 with type <class 'str'>
['Fr', '7/30/99', '4.875', '883.8k', '2.008M']
spot of 4.875 with type <class 'str'>
['Th', '7/29/99', '4.9375', '1.411M', '1.994M']
spot of 4.9375 with type <class 'str'>
['We', '7/28/99', '4.9375', '1.911M', '1.96M']
spot of 4.9375 with type <class 'str'>
['Tu', '7/27/99', '5', '1.451M', '1.863M']
spot of 5 with type <class 'str'>
['Mo', '7/26/99', '4.875', '2.988M', '1.827M']
spot of 4.875 with type <class 'str'>
['Fr', '7/23/99', '5.0625', '4.354M', '1.677M']
spot of 5.0625 with type <class 'str'>
['Th', '7/22/99', '5.6875', '1.313M', '1.432M']
spot of 5.6875 with type <class 'str'>
['We', '7/21/99', '6.0625', '800.4k', '1.425M']
spot of 6.0625 with type <class 'str'>
['Tu', '7/20/99', '5.9375', '712k', '1.496M']
spot of 5.9375 with type <class 'str'>
['Mo', '7/19/99', '6.0625', '1.498M', '1.506M']
spot of 6.0625 with type <class 'str'>
['Fr', '7/16/99', '6.1875', '1.682M', '1.449M']
spot of 6.1875 with type <class 'str'>
['Th', '7/15/99', '6.875', '2.89M', '1.373M']
spot of 6.875 with type <class 'str'>
['We', '7/14/99', '6.9375', '5.462M', '1.219M']
spot of 6.9375 with type <class 'str'>
['Tu', '7/13/99', '5.8125', '2.043M', '890.5k']
spot of 5.8125 with type <class 'str'>
['Mo', '7/12/99', '6', '728.3k', '808.587k']
spot of 6 with type <class 'str'>
['Fr', '7/9/99', '6.1875', '672.5k', '864.593k']
spot of 6.1875 with type <class 'str'>
['Th', '7/8/99', '6.25', '895.6k', '990.84k']
spot of 6.25 with type <class 'str'>
['We', '7/7/99', '6.375', '462.3k', '1.009M']
spot of 6.375 with type <class 'str'>
['Tu', '7/6/99', '6.375', '906.5k', '1.036M']
spot of 6.375 with type <class 'str'>
['Fr', '7/2/99', '6.375', '731.1k', '1.003M']
spot of 6.375 with type <class 'str'>
['Th', '7/1/99', '6.5', '677.9k', '980.807k']
spot of 6.5 with type <class 'str'>
['We', '6/30/99', '6.5', '1.207M', '976.307k']
spot of 6.5 with type <class 'str'>
['Tu', '6/29/99', '6.3125', '1.874M', '943.567k']
spot of 6.3125 with type <class 'str'>
['Mo', '6/28/99', '6.4375', '865.8k', '853.607k']
spot of 6.4375 with type <class 'str'>
['Fr', '6/25/99', '6.25', '639k', '841.193k']
spot of 6.25 with type <class 'str'>
['Th', '6/24/99', '6.4375', '534.8k', '875.12k']
spot of 6.4375 with type <class 'str'>
['We', '6/23/99', '6.5625', '586.5k', '874.727k']
spot of 6.5625 with type <class 'str'>
['Tu', '6/22/99', '6.5625', '533.1k', '888.293k']
spot of 6.5625 with type <class 'str'>
['Mo', '6/21/99', '6.625', '814.6k', '878.393k']
spot of 6.625 with type <class 'str'>
['Fr', '6/18/99', '6.6875', '1.568M', '890.653k']
spot of 6.6875 with type <class 'str'>
['Th', '6/17/99', '6.5', '2.566M', '817.027k']
spot of 6.5 with type <class 'str'>
['We', '6/16/99', '6.875', '1.174M', '712.153k']
spot of 6.875 with type <class 'str'>
['Tu', '6/15/99', '6.875', '856.4k', '663.14k']
spot of 6.875 with type <class 'str'>
['Mo', '6/14/99', '7.125', '412.5k', '655.247k']
spot of 7.125 with type <class 'str'>
['Fr', '6/11/99', '7.4375', '402.1k', '665.087k']
spot of 7.4375 with type <class 'str'>
['Th', '6/10/99', '7.5', '610.4k', '698.847k']
spot of 7.5 with type <class 'str'>
['We', '6/9/99', '7.6875', '715.4k', '701.56k']
spot of 7.6875 with type <class 'str'>
['Tu', '6/8/99', '7.4375', '524.9k', '681.247k']
spot of 7.4375 with type <class 'str'>
['Mo', '6/7/99', '7.8125', '679.6k', '705.313k']
spot of 7.8125 with type <class 'str'>
['Fr', '6/4/99', '7.5625', '1.148M', '735.5k']
spot of 7.5625 with type <class 'str'>
['Th', '6/3/99', '7.75', '528.9k', '797.92k']
spot of 7.75 with type <class 'str'>
['We', '6/2/99', '7.6875', '790k', '916.993k']
spot of 7.6875 with type <class 'str'>
['Tu', '6/1/99', '7.9375', '384.6k', '945.84k']
spot of 7.9375 with type <class 'str'>
['Fr', '5/28/99', '8', '998.5k', '1.033M']
spot of 8 with type <class 'str'>
['Th', '5/27/99', '7.75', '464k', '995.453k']
spot of 7.75 with type <class 'str'>
['We', '5/26/99', '7.8125', '993.1k', '1.069M']
spot of 7.8125 with type <class 'str'>
['Tu', '5/25/99', '8.25', '438.8k', '1.027M']
spot of 8.25 with type <class 'str'>
['Mo', '5/24/99', '8.625', '738k', '1.057M']
spot of 8.625 with type <class 'str'>
['Fr', '5/21/99', '8.875', '560.1k', '1.047M']
spot of 8.875 with type <class 'str'>
['Th', '5/20/99', '9.3125', '908.5k', '1.056M']
spot of 9.3125 with type <class 'str'>
['We', '5/19/99', '8.8125', '651.1k', '1.051M']
spot of 8.8125 with type <class 'str'>
['Tu', '5/18/99', '8.875', '410.7k', '1.114M']
spot of 8.875 with type <class 'str'>
['Mo', '5/17/99', '8.9375', '885.9k', '1.24M']
spot of 8.9375 with type <class 'str'>
['Fr', '5/14/99', '9', '1.132M', '1.238M']
spot of 9 with type <class 'str'>
['Th', '5/13/99', '9', '2.084M', '1.237M']
spot of 9 with type <class 'str'>
['We', '5/12/99', '8.6875', '2.315M', '1.248M']
spot of 8.6875 with type <class 'str'>
['Tu', '5/11/99', '8.375', '1.223M', '1.18M']
spot of 8.375 with type <class 'str'>
['Mo', '5/10/99', '8.375', '1.699M', '1.127M']
spot of 8.375 with type <class 'str'>
['Fr', '5/7/99', '7.5625', '428.2k', '1.094M']
spot of 7.5625 with type <class 'str'>
['Th', '5/6/99', '7.5625', '1.563M', '1.107M']
spot of 7.5625 with type <class 'str'>
['We', '5/5/99', '7.6875', '365.3k', '1.048M']
spot of 7.6875 with type <class 'str'>
['Tu', '5/4/99', '7.625', '897.9k', '1.129M']
spot of 7.625 with type <class 'str'>
['Mo', '5/3/99', '7.875', '579.2k', '1.196M']
spot of 7.875 with type <class 'str'>
['Fr', '4/30/99', '8.0625', '691.3k', '1.202M']
spot of 8.0625 with type <class 'str'>
['Th', '4/29/99', '8.3125', '836.9k', '1.194M']
spot of 8.3125 with type <class 'str'>
['We', '4/28/99', '8.1875', '1.603M', '1.181M']
spot of 8.1875 with type <class 'str'>
['Tu', '4/27/99', '8.875', '2.293M', '1.157M']
spot of 8.875 with type <class 'str'>
['Mo', '4/26/99', '7.3125', '861.8k', '1.056M']
spot of 7.3125 with type <class 'str'>
['Fr', '4/23/99', '7.625', '1.119M', '1.049M']
spot of 7.625 with type <class 'str'>
['Th', '4/22/99', '7.4375', '2.247M', '1.016M']
spot of 7.4375 with type <class 'str'>
['We', '4/21/99', '6.625', '1.295M', '948.707k']
spot of 6.625 with type <class 'str'>
['Tu', '4/20/99', '7', '430.4k', '948.547k']
spot of 7 with type <class 'str'>
['Mo', '4/19/99', '6.9375', '1.205M', '968.147k']
spot of 6.9375 with type <class 'str'>
['Fr', '4/16/99', '7.0625', '614.5k', '928.713k']
spot of 7.0625 with type <class 'str'>
['Th', '4/15/99', '7.125', '679.9k', '934.68k']
spot of 7.125 with type <class 'str'>
['We', '4/14/99', '6.9375', '1.583M', '923.467k']
spot of 6.9375 with type <class 'str'>
['Tu', '4/13/99', '7', '1.895M', '869.053k']
spot of 7 with type <class 'str'>
['Mo', '4/12/99', '7.3125', '674.8k', '805.66k']
spot of 7.3125 with type <class 'str'>
['Fr', '4/9/99', '7.25', '570.8k', '828.96k']
spot of 7.25 with type <class 'str'>
['Th', '4/8/99', '7.375', '638.3k', '838.073k']
spot of 7.375 with type <class 'str'>
['We', '4/7/99', '7.4375', '1.248M', '876.913k']
spot of 7.4375 with type <class 'str'>
['Tu', '4/6/99', '7.625', '773.7k', '817.127k']
spot of 7.625 with type <class 'str'>
['Mo', '4/5/99', '7.75', '757k', '799.72k']
spot of 7.75 with type <class 'str'>
['Th', '4/1/99', '8', '629.7k', '777.487k']
spot of 8 with type <class 'str'>
['We', '3/31/99', '7.875', '1.236M', '783.587k']
spot of 7.875 with type <class 'str'>
['Tu', '3/30/99', '8', '1.292M', '753.18k']
spot of 8 with type <class 'str'>
['Mo', '3/29/99', '8.375', '724.4k', '738.613k']
spot of 8.375 with type <class 'str'>
['Fr', '3/26/99', '8.5625', '613.8k', '755.76k']
spot of 8.5625 with type <class 'str'>
['Th', '3/25/99', '8.5625', '704k', '751.893k']
spot of 8.5625 with type <class 'str'>
['We', '3/24/99', '8.5625', '511.7k', '781.913k']
spot of 8.5625 with type <class 'str'>
['Tu', '3/23/99', '8.6875', '766.5k', '795.007k']
spot of 8.6875 with type <class 'str'>
['Mo', '3/22/99', '8.625', '943.9k', '794.933k']
spot of 8.625 with type <class 'str'>
['Fr', '3/19/99', '9.3125', '1.024M', '803.593k']
spot of 9.3125 with type <class 'str'>
['Th', '3/18/99', '9.625', '707.5k', '865.94k']
spot of 9.625 with type <class 'str'>
['We', '3/17/99', '9.75', '1.221M', '890.22k']
spot of 9.75 with type <class 'str'>
['Tu', '3/16/99', '9.5', '351.6k', '884.98k']
spot of 9.5 with type <class 'str'>
['Mo', '3/15/99', '9.5', '512.6k', '930.08k']
spot of 9.5 with type <class 'str'>
['Fr', '3/12/99', '9.375', '423.5k', '1.011M']
spot of 9.375 with type <class 'str'>
['Th', '3/11/99', '9.5625', '721.2k', '1.048M']
spot of 9.5625 with type <class 'str'>
['We', '3/10/99', '9.5', '779.6k', '1.162M']
spot of 9.5 with type <class 'str'>
['Tu', '3/9/99', '9.75', '1.074M', '1.247M']
spot of 9.75 with type <class 'str'>
['Mo', '3/8/99', '9.5625', '981.6k', '1.277M']
spot of 9.5625 with type <class 'str'>
['Fr', '3/5/99', '9.375', '555.8k', '1.271M']
spot of 9.375 with type <class 'str'>
['Th', '3/4/99', '9.5625', '1.154M', '1.344M']
spot of 9.5625 with type <class 'str'>
['We', '3/3/99', '9.5', '708.1k', '1.357M']
spot of 9.5 with type <class 'str'>
['Tu', '3/2/99', '9.75', '765.4k', '1.442M']
spot of 9.75 with type <class 'str'>
['Mo', '3/1/99', '10.125', '1.074M', '1.492M']
spot of 10.125 with type <class 'str'>
['Fr', '2/26/99', '9.5', '1.96M', '1.593M']
spot of 9.5 with type <class 'str'>
['Th', '2/25/99', '10.375', '1.072M', '1.545M']
spot of 10.375 with type <class 'str'>
['We', '2/24/99', '10.375', '1.142M', '1.575M']
spot of 10.375 with type <class 'str'>
['Tu', '2/23/99', '11', '1.028M', '1.649M']
spot of 11 with type <class 'str'>
['Mo', '2/22/99', '11', '1.73M', '1.722M']
spot of 11 with type <class 'str'>
['Fr', '2/19/99', '10.6875', '968.2k', '1.719M']
spot of 10.6875 with type <class 'str'>
['Th', '2/18/99', '10.9375', '2.445M', '1.863M']
spot of 10.9375 with type <class 'str'>
['We', '2/17/99', '10.125', '2.053M', '2.021M']
spot of 10.125 with type <class 'str'>
['Tu', '2/16/99', '11.1875', '1.515M', '2.291M']
spot of 11.1875 with type <class 'str'>
['Fr', '2/12/99', '11.75', '890.8k', '2.32M']
spot of 11.75 with type <class 'str'>
['Th', '2/11/99', '12.25', '1.658M', '2.384M']
spot of 12.25 with type <class 'str'>
['We', '2/10/99', '12.0625', '1.349M', '2.42M']
spot of 12.0625 with type <class 'str'>
['Tu', '2/9/99', '12.1875', '1.983M', '2.609M']
spot of 12.1875 with type <class 'str'>
['Mo', '2/8/99', '13.0313', '1.514M', '2.68M']
spot of 13.0313 with type <class 'str'>
['Fr', '2/5/99', '12.875', '2.585M', '2.656M']
spot of 12.875 with type <class 'str'>
['Th', '2/4/99', '12.625', '1.24M', '2.65M']
spot of 12.625 with type <class 'str'>
['We', '2/3/99', '13.25', '1.526M', '3.082M']
spot of 13.25 with type <class 'str'>
['Tu', '2/2/99', '12.875', '2.252M', '3.094M']
spot of 12.875 with type <class 'str'>
['Mo', '2/1/99', '14.375', '2.117M', '3.109M']
spot of 14.375 with type <class 'str'>
['Fr', '1/29/99', '13.625', '1.694M', '3.171M']
spot of 13.625 with type <class 'str'>
['Th', '1/28/99', '14.0625', '3.127M', '3.283M']

spot of 14.0625 with type <class 'str'>
['We', '1/27/99', '13.5', '4.819M', '3.166M']
spot of 13.5 with type <class 'str'>
['Tu', '1/26/99', '14.625', '6.092M', '3.002M']
spot of 14.625 with type <class 'str'>
['Mo', '1/25/99', '15', '1.948M', '2.642M']
spot of 15 with type <class 'str'>
['Fr', '1/22/99', '15.3125', '1.856M', '2.569M']
spot of 15.3125 with type <class 'str'>
['Th', '1/21/99', '16.4375', '2.194M', '2.533M']
spot of 16.4375 with type <class 'str'>
['We', '1/20/99', '16.5', '4.192M', '2.474M']
spot of 16.5 with type <class 'str'>
['Tu', '1/19/99', '19.25', '3.037M', '2.253M']
spot of 19.25 with type <class 'str'>
['Fr', '1/15/99', '19.875', '1.161M', '2.108M']
spot of 19.875 with type <class 'str'>
['Th', '1/14/99', '20', '2.495M', '2.093M']
spot of 20 with type <class 'str'>
['We', '1/13/99', '20.375', '7.722M', '1.971M']
spot of 20.375 with type <class 'str'>
['Tu', '1/12/99', '19.5', '1.707M', '1.541M']
spot of 19.5 with type <class 'str'>
['Mo', '1/11/99', '19', '2.468M', '1.519M']
spot of 19 with type <class 'str'>
['Fr', '1/8/99', '18.1875', '3.052M', '1.428M']
spot of 18.1875 with type <class 'str'>
['Th', '1/7/99', '18', '3.374M', '1.29M']
spot of 18 with type <class 'str'>
['We', '1/6/99', '16.5', '1.365M', '1.204M']
spot of 16.5 with type <class 'str'>
['Tu', '1/5/99', '16.5625', '2.369M', '1.209M']
spot of 16.5625 with type <class 'str'>
['Mo', '1/4/99', '15.0625', '688.9k', '1.147M']
spot of 15.0625 with type <class 'str'>
['Th', '12/31/98', '15.0625', '858k', '1.204M']
spot of 15.0625 with type <class 'str'>
['We', '12/30/98', '15.3125', '1.316M', '1.215M']
spot of 15.3125 with type <class 'str'>
['Tu', '12/29/98', '14.5625', '1.312M', '1.199M']
spot of 14.5625 with type <class 'str'>
['Mo', '12/28/98', '15.5', '869.1k', '1.228M']
spot of 15.5 with type <class 'str'>
['Th', '12/24/98', '15.9375', '869.3k', '1.291M']
spot of 15.9375 with type <class 'str'>
['We', '12/23/98', '15.25', '929.6k', '1.552M']
spot of 15.25 with type <class 'str'>
['Tu', '12/22/98', '15.75', '671k', '1.745M']
spot of 15.75 with type <class 'str'>
['Mo', '12/21/98', '16.3125', '1.265M', '2.164M']
spot of 16.3125 with type <class 'str'>
['Fr', '12/18/98', '16.25', '1.382M', '2.14M']
spot of 16.25 with type <class 'str'>
['Th', '12/17/98', '15.4375', '1.103M', '2.075M']
spot of 15.4375 with type <class 'str'>
['We', '12/16/98', '15.25', '976.4k', '2.079M']
spot of 15.25 with type <class 'str'>
['Tu', '12/15/98', '15.8125', '2.09M', '2.062M']
spot of 15.8125 with type <class 'str'>
['Mo', '12/14/98', '15.625', '1.434M', '1.987M']
spot of 15.625 with type <class 'str'>
['Fr', '12/11/98', '15.625', '1.445M', '1.963M']
spot of 15.625 with type <class 'str'>
['Th', '12/10/98', '16', '1.544M', '2.192M']
spot of 16 with type <class 'str'>
['We', '12/9/98', '17.0625', '1.015M', '2.176M']
spot of 17.0625 with type <class 'str'>
['Tu', '12/8/98', '17.6875', '1.084M', '2.173M']
spot of 17.6875 with type <class 'str'>
['Mo', '12/7/98', '17.6875', '1.742M', '2.162M']
spot of 17.6875 with type <class 'str'>
['Fr', '12/4/98', '18.125', '1.821M', '2.108M']
spot of 18.125 with type <class 'str'>
['Th', '12/3/98', '17.625', '4.78M', '2.084M']
spot of 17.625 with type <class 'str'>
['We', '12/2/98', '16.625', '3.821M', '1.921M']
spot of 16.625 with type <class 'str'>
['Tu', '12/1/98', '17.875', '6.957M', '1.803M']
spot of 17.875 with type <class 'str'>
['Mo', '11/30/98', '13.0625', '908.1k', '1.454M']
spot of 13.0625 with type <class 'str'>
['Fr', '11/27/98', '14.25', '399.7k', '1.513M']
spot of 14.25 with type <class 'str'>
['We', '11/25/98', '14.125', '1.172M', '1.636M']
spot of 14.125 with type <class 'str'>
['Tu', '11/24/98', '14.25', '712k', '1.982M']
spot of 14.25 with type <class 'str'>
['Mo', '11/23/98', '14.125', '971k', '2.154M']
spot of 14.125 with type <class 'str'>
['Fr', '11/20/98', '14.4375', '1.067M', '2.174M']
spot of 14.4375 with type <class 'str'>
['Th', '11/19/98', '14.8125', '4.884M', '2.297M']
spot of 14.8125 with type <class 'str'>
['We', '11/18/98', '12.9375', '1.314M', '2.093M']
spot of 12.9375 with type <class 'str'>
['Tu', '11/17/98', '12.875', '959.4k', '2.123M']
spot of 12.875 with type <class 'str'>
['Mo', '11/16/98', '13.0625', '921.3k', '2.131M']
spot of 13.0625 with type <class 'str'>
['Fr', '11/13/98', '13.25', '934.2k', '2.131M']
spot of 13.25 with type <class 'str'>
['Th', '11/12/98', '13.6875', '1.461M', '2.251M']
spot of 13.6875 with type <class 'str'>
['We', '11/11/98', '13.25', '2.333M', '2.21M']
spot of 13.25 with type <class 'str'>
['Tu', '11/10/98', '13.1875', '2.053M', '2.114M']
spot of 13.1875 with type <class 'str'>
['Mo', '11/9/98', '13.375', '1.728M', '2.081M']
spot of 13.375 with type <class 'str'>
['Fr', '11/6/98', '13.5', '1.78M', '2.053M']
spot of 13.5 with type <class 'str'>
['Th', '11/5/98', '13.625', '2.244M', '2.002M']
spot of 13.625 with type <class 'str'>
['We', '11/4/98', '14.25', '6.372M', '1.903M']
spot of 14.25 with type <class 'str'>
['Tu', '11/3/98', '12.625', '3.281M', '1.505M']
spot of 12.625 with type <class 'str'>
['Mo', '11/2/98', '10.5', '1.281M', '1.318M']
spot of 10.5 with type <class 'str'>
['Fr', '10/30/98', '10.5', '2.917M', '1.279M']
spot of 10.5 with type <class 'str'>
['Th', '10/29/98', '9.625', '1.816M', '1.127M']
spot of 9.625 with type <class 'str'>
['We', '10/28/98', '9.3125', '1.765M', '1.062M']
spot of 9.3125 with type <class 'str'>
['Tu', '10/27/98', '8.8125', '1.072M', '988.553k']
spot of 8.8125 with type <class 'str'>
['Mo', '10/26/98', '8.8125', '929.7k', '947.88k']
spot of 8.8125 with type <class 'str'>
['Fr', '10/23/98', '9', '2.738M', '911.36k']
spot of 9 with type <class 'str'>
['Th', '10/22/98', '7.875', '838.8k', '750.82k']
spot of 7.875 with type <class 'str'>
['We', '10/21/98', '7.9375', '892.9k', '720.62k']
spot of 7.9375 with type <class 'str'>
['Tu', '10/20/98', '7.9375', '1.558M', '705.767k']
spot of 7.9375 with type <class 'str'>
['Mo', '10/19/98', '8.125', '1.316M', '655.127k']
spot of 8.125 with type <class 'str'>
['Fr', '10/16/98', '7.75', '1.016M', '600.54k']
spot of 7.75 with type <class 'str'>
['Th', '10/15/98', '8', '749.8k', '554.38k']
spot of 8 with type <class 'str'>
['We', '10/14/98', '7.8125', '398.3k', '555.493k']
spot of 7.8125 with type <class 'str'>
['Tu', '10/13/98', '8.0625', '479k', '588.433k']
spot of 8.0625 with type <class 'str'>
['Mo', '10/12/98', '8.375', '703k', '609.507k']
spot of 8.375 with type <class 'str'>
['Fr', '10/9/98', '8.0625', '631.2k', '620.98k']
spot of 8.0625 with type <class 'str'>
['Th', '10/8/98', '8.0625', '838.5k', '626.327k']
spot of 8.0625 with type <class 'str'>
['We', '10/7/98', '8.25', '667.8k', '600.627k']
spot of 8.25 with type <class 'str'>
['Tu', '10/6/98', '9', '462.2k', '698.78k']
spot of 9 with type <class 'str'>
['Mo', '10/5/98', '9.375', '381.9k', '706.46k']
spot of 9.375 with type <class 'str'>
['Fr', '10/2/98', '9.75', '329.7k', '714.307k']
spot of 9.75 with type <class 'str'>
['Th', '10/1/98', '9.625', '385.8k', '755.787k']
spot of 9.625 with type <class 'str'>
['We', '9/30/98', '10.75', '670.1k', '800.333k']
spot of 10.75 with type <class 'str'>
['Tu', '9/29/98', '10.4375', '798.2k', '868.187k']
spot of 10.4375 with type <class 'str'>
['Mo', '9/28/98', '10.625', '496.9k', '857.667k']
spot of 10.625 with type <class 'str'>
['Fr', '9/25/98', '10.9375', '323.3k', '852.133k']
spot of 10.9375 with type <class 'str'>
['Th', '9/24/98', '10.75', '766.5k', '890.607k']
spot of 10.75 with type <class 'str'>
['We', '9/23/98', '11.3125', '892.4k', '896.307k']
spot of 11.3125 with type <class 'str'>
['Tu', '9/22/98', '10.75', '795.1k', '927.887k']
spot of 10.75 with type <class 'str'>
['Mo', '9/21/98', '11.125', '875.1k', '959.713k']
spot of 11.125 with type <class 'str'>
['Fr', '9/18/98', '10.5', '711.4k', '965.007k']
spot of 10.5 with type <class 'str'>
['Th', '9/17/98', '10.125', '453k', '1.016M']
spot of 10.125 with type <class 'str'>
['We', '9/16/98', '9.875', '2.14M', '1.036M']
spot of 9.875 with type <class 'str'>
['Tu', '9/15/98', '9.8125', '577.4k', '935.34k']
spot of 9.8125 with type <class 'str'>
['Mo', '9/14/98', '10.25', '499.6k', '927.773k']
spot of 10.25 with type <class 'str'>
['Fr', '9/11/98', '10.125', '951.9k', '946.047k']
spot of 10.125 with type <class 'str'>
['Th', '9/10/98', '10.25', '1.054M', '926.68k']
spot of 10.25 with type <class 'str'>
['We', '9/9/98', '10.25', '1.688M', '910.367k']
spot of 10.25 with type <class 'str'>
['Tu', '9/8/98', '9.3125', '640.4k', '842.527k']
spot of 9.3125 with type <class 'str'>
['Fr', '9/4/98', '8.9375', '413.9k', '861.253k']
spot of 8.9375 with type <class 'str'>
['Th', '9/3/98', '8.75', '900.4k', '980.593k']
spot of 8.75 with type <class 'str'>
['We', '9/2/98', '9.3125', '852k', '1.008M']
spot of 9.3125 with type <class 'str'>
['Tu', '9/1/98', '8.8125', '1.366M', '1.002M']
spot of 8.8125 with type <class 'str'>
['Mo', '8/31/98', '8.125', '1.273M', '951.553k']
spot of 8.125 with type <class 'str'>
['Fr', '8/28/98', '9.5', '954.5k', '916.92k']
spot of 9.5 with type <class 'str'>
['Th', '8/27/98', '9.875', '1.479M', '1.004M']
spot of 9.875 with type <class 'str'>
['We', '8/26/98', '10.75', '753.1k', '1.095M']
spot of 10.75 with type <class 'str'>
['Tu', '8/25/98', '11.1875', '627k', '1.078M']
spot of 11.1875 with type <class 'str'>
['Mo', '8/24/98', '11.375', '463.9k', '1.075M']
spot of 11.375 with type <class 'str'>
['Fr', '8/21/98', '11.5', '773.7k', '1.068M']
spot of 11.5 with type <class 'str'>
['Th', '8/20/98', '11.9375', '661.4k', '1.064M']
spot of 11.9375 with type <class 'str'>
['We', '8/19/98', '12.375', '809.3k', '1.055M']
spot of 12.375 with type <class 'str'>
['Tu', '8/18/98', '12.9375', '670.3k', '1.029M']
spot of 12.9375 with type <class 'str'>
['Mo', '8/17/98', '13.0625', '921.3k', '1.074M']
spot of 13.0625 with type <class 'str'>
['Fr', '8/14/98', '13.1875', '2.204M', '1.093M']
spot of 13.1875 with type <class 'str'>
['Th', '8/13/98', '12.4375', '1.308M', '976.42k']
spot of 12.4375 with type <class 'str'>
['We', '8/12/98', '12.125', '768.1k', '938.767k']
spot of 12.125 with type <class 'str'>
['Tu', '8/11/98', '11.6875', '606.8k', '952.64k']
spot of 11.6875 with type <class 'str'>
['Mo', '8/10/98', '12', '753k', '947.267k']
spot of 12 with type <class 'str'>
['Fr', '8/7/98', '12.0625', '2.266M', '938.14k']
spot of 12.0625 with type <class 'str'>
['Th', '8/6/98', '12.25', '2.838M', '822.74k']
spot of 12.25 with type <class 'str'>
['We', '8/5/98', '10.5625', '505.6k', '677.02k']
spot of 10.5625 with type <class 'str'>
['Tu', '8/4/98', '10.9375', '579.2k', '716.673k']
spot of 10.9375 with type <class 'str'>
['Mo', '8/3/98', '11', '355.3k', '726.147k']
spot of 11 with type <class 'str'>
['Fr', '7/31/98', '11.125', '720.7k', '762.293k']
spot of 11.125 with type <class 'str'>
['Th', '7/30/98', '11.5', '514k', '744.493k']
spot of 11.5 with type <class 'str'>
['We', '7/29/98', '11.25', '419.7k', '810.207k']
spot of 11.25 with type <class 'str'>
['Tu', '7/28/98', '11.5625', '1.348M', '965.607k']
spot of 11.5625 with type <class 'str'>
['Mo', '7/27/98', '11.125', '1.209M', '917.153k']
spot of 11.125 with type <class 'str'>
['Fr', '7/24/98', '11.4375', '456.2k', '876.087k']
spot of 11.4375 with type <class 'str'>
['Th', '7/23/98', '11.8125', '743.2k', '890.593k']
spot of 11.8125 with type <class 'str'>
['We', '7/22/98', '11.6875', '976.2k', '887.073k']
spot of 11.6875 with type <class 'str'>
['Tu', '7/21/98', '12.3125', '526.2k', '892.46k']
spot of 12.3125 with type <class 'str'>
['Mo', '7/20/98', '12.1875', '616.1k', '920.16k']
spot of 12.1875 with type <class 'str'>
['Fr', '7/17/98', '12.5', '534.7k', '916.12k']
spot of 12.5 with type <class 'str'>
['Th', '7/16/98', '12.8125', '651.9k', '984.093k']
spot of 12.8125 with type <class 'str'>
['We', '7/15/98', '12.5625', '1.1M', '999.627k']
spot of 12.5625 with type <class 'str'>
['Tu', '7/14/98', '12.25', '721.3k', '1.014M']
spot of 12.25 with type <class 'str'>
['Mo', '7/13/98', '12.5625', '897.5k', '1.043M']
spot of 12.5625 with type <class 'str'>
['Fr', '7/10/98', '12.125', '453.7k', '1.024M']
spot of 12.125 with type <class 'str'>
['Th', '7/9/98', '12.375', '1.5M', '1.052M']
spot of 12.375 with type <class 'str'>
['We', '7/8/98', '12.5', '2.751M', '1.049M']
spot of 12.5 with type <class 'str'>
['Tu', '7/7/98', '11.3125', '620.7k', '971.387k']
spot of 11.3125 with type <class 'str'>
['Mo', '7/6/98', '11.1875', '592.8k', '1.064M']
spot of 11.1875 with type <class 'str'>
['Th', '7/2/98', '11.125', '673.8k', '1.197M']
spot of 11.125 with type <class 'str'>
['We', '7/1/98', '11.6875', '690.4k', '1.577M']
spot of 11.6875 with type <class 'str'>
['Tu', '6/30/98', '11.8125', '1.057M', '2.344M']
spot of 11.8125 with type <class 'str'>
['Mo', '6/29/98', '11.625', '941.7k', '2.434M']
spot of 11.625 with type <class 'str'>
['Fr', '6/26/98', '11.25', '555.5k', '2.461M']
spot of 11.25 with type <class 'str'>
['Th', '6/25/98', '11.3125', '1.554M', '2.473M']
spot of 11.3125 with type <class 'str'>
['We', '6/24/98', '11.125', '884.9k', '2.449M']
spot of 11.125 with type <class 'str'>
['Tu', '6/23/98', '11.25', '1.32M', '2.467M']
spot of 11.25 with type <class 'str'>
['Mo', '6/22/98', '11.25', '1.151M', '2.438M']
spot of 11.25 with type <class 'str'>
['Fr', '6/19/98', '11.375', '615.2k', '2.438M']
spot of 11.375 with type <class 'str'>
['Th', '6/18/98', '11.5625', '876.8k', '2.459M']
spot of 11.5625 with type <class 'str'>
['We', '6/17/98', '11.5625', '1.454M', '2.487M']
spot of 11.5625 with type <class 'str'>
['Tu', '6/16/98', '11.375', '1.583M', '2.49M']
spot of 11.375 with type <class 'str'>
['Mo', '6/15/98', '11', '2.01M', '2.459M']
spot of 11 with type <class 'str'>
['Fr', '6/12/98', '11', '2.591M', '2.407M']
spot of 11 with type <class 'str'>
['Th', '6/11/98', '10.75', '6.363M', '2.304M']
spot of 10.75 with type <class 'str'>
['We', '6/10/98', '11.1875', '12.197M', '1.932M']
spot of 11.1875 with type <class 'str'>
['Tu', '6/9/98', '15.5', '2.417M', '1.179M']
spot of 15.5 with type <class 'str'>
['Mo', '6/8/98', '15.25', '1.34M', '1.084M']
spot of 15.25 with type <class 'str'>
['Fr', '6/5/98', '15.5', '741k', '1.074M']
spot of 15.5 with type <class 'str'>
['Th', '6/4/98', '15.5625', '1.187M', '1.102M']
spot of 15.5625 with type <class 'str'>
['We', '6/3/98', '15.5', '1.158M', '1.097M']
spot of 15.5 with type <class 'str'>
['Tu', '6/2/98', '15.8125', '891.5k', '1.121M']
spot of 15.8125 with type <class 'str'>
['Mo', '6/1/98', '16', '1.142M', '1.139M']
spot of 16 with type <class 'str'>
['Fr', '5/29/98', '17.0625', '929.1k', '1.181M']
spot of 17.0625 with type <class 'str'>
['Th', '5/28/98', '17.375', '1.304M', '1.201M']
spot of 17.375 with type <class 'str'>
['We', '5/27/98', '17', '1.5M', '1.217M']
spot of 17 with type <class 'str'>
['Tu', '5/26/98', '17.375', '1.121M', '1.204M']
spot of 17.375 with type <class 'str'>
['Fr', '5/22/98', '17.4375', '1.224M', '1.35M']
spot of 17.4375 with type <class 'str'>
['Th', '5/21/98', '18.25', '1.047M', '1.421M']
spot of 18.25 with type <class 'str'>
['We', '5/20/98', '18.8125', '778k', '1.596M']
spot of 18.8125 with type <class 'str'>
['Tu', '5/19/98', '18.8125', '905.2k', '1.647M']
spot of 18.8125 with type <class 'str'>
['Mo', '5/18/98', '19', '988.9k', '1.881M']
spot of 19 with type <class 'str'>
['Fr', '5/15/98', '19.125', '1.199M', '1.97M']
spot of 19.125 with type <class 'str'>
['Th', '5/14/98', '19.6875', '1.149M', '2.092M']
spot of 19.6875 with type <class 'str'>
['We', '5/13/98', '19.5625', '1.122M', '2.209M']
spot of 19.5625 with type <class 'str'>
['Tu', '5/12/98', '20', '1.513M', '2.463M']
spot of 20 with type <class 'str'>
['Mo', '5/11/98', '19.6875', '1.16M', '2.599M']
spot of 19.6875 with type <class 'str'>
['Fr', '5/8/98', '20.375', '1.775M', '2.71M']
spot of 20.375 with type <class 'str'>
['Th', '5/7/98', '19.9375', '1.228M', '2.655M']
spot of 19.9375 with type <class 'str'>
['We', '5/6/98', '19.875', '1.54M', '2.621M']
spot of 19.875 with type <class 'str'>
['Tu', '5/5/98', '19.875', '1.304M', '2.761M']
spot of 19.875 with type <class 'str'>
['Mo', '5/4/98', '19.875', '3.314M', '2.789M']
spot of 19.875 with type <class 'str'>
['Fr', '5/1/98', '19.625', '2.295M', '2.66M']
spot of 19.625 with type <class 'str'>
['Th', '4/30/98', '19.75', '3.671M', '2.581M']
spot of 19.75 with type <class 'str'>
['We', '4/29/98', '19.0625', '1.549M', '2.489M']
spot of 19.0625 with type <class 'str'>
['Tu', '4/28/98', '19.25', '4.408M', '2.497M']
spot of 19.25 with type <class 'str'>
['Mo', '4/27/98', '21.25', '2.326M', '2.325M']
spot of 21.25 with type <class 'str'>
['Fr', '4/24/98', '22', '3.021M', '2.283M']
spot of 22 with type <class 'str'>
['Th', '4/23/98', '20.8125', '2.908M', '2.421M']
spot of 20.8125 with type <class 'str'>
['We', '4/22/98', '21.375', '4.937M', '2.593M']
spot of 21.375 with type <class 'str'>
['Tu', '4/21/98', '19.75', '3.546M', '2.366M']
spot of 19.75 with type <class 'str'>
['Mo', '4/20/98', '19.75', '2.824M', '2.194M']
spot of 19.75 with type <class 'str'>
['Fr', '4/17/98', '18.5', '954k', '2.109M']
spot of 18.5 with type <class 'str'>
['Th', '4/16/98', '18.5', '722.7k', '2.264M']
spot of 18.5 with type <class 'str'>
['We', '4/15/98', '19.1875', '3.642M', '2.355M']
spot of 19.1875 with type <class 'str'>
['Tu', '4/14/98', '18.75', '1.711M', '2.283M']

spot of 18.75 with type <class 'str'>
['Mo', '4/13/98', '17.8125', '1.38M', '2.22M']
spot of 17.8125 with type <class 'str'>
['Th', '4/9/98', '18.25', '1.11M', '2.184M']
spot of 18.25 with type <class 'str'>
['We', '4/8/98', '18.625', '2.302M', '2.272M']
spot of 18.625 with type <class 'str'>
['Tu', '4/7/98', '17.6875', '1.661M', '2.174M']
spot of 17.6875 with type <class 'str'>
['Mo', '4/6/98', '18.25', '1.823M', '2.117M']
spot of 18.25 with type <class 'str'>
['Fr', '4/3/98', '18.5', '1.699M', '2.063M']
spot of 18.5 with type <class 'str'>
['Th', '4/2/98', '18.875', '5.09M', '2.033M']
spot of 18.875 with type <class 'str'>
['We', '4/1/98', '19.5', '5.498M', '1.811M']
spot of 19.5 with type <class 'str'>
['Tu', '3/31/98', '17.5625', '1.521M', '1.66M']
spot of 17.5625 with type <class 'str'>
['Mo', '3/30/98', '18.25', '976.7k', '1.708M']
spot of 18.25 with type <class 'str'>
['Fr', '3/27/98', '17.8125', '1.54M', '1.749M']
spot of 17.8125 with type <class 'str'>
['Th', '3/26/98', '17.875', '3.284M', '1.747M']
spot of 17.875 with type <class 'str'>
['We', '3/25/98', '17.125', '2.081M', '1.651M']
spot of 17.125 with type <class 'str'>
['Tu', '3/24/98', '17.0625', '2.574M', '1.587M']
spot of 17.0625 with type <class 'str'>
['Mo', '3/23/98', '16.5', '763.2k', '1.548M']
spot of 16.5 with type <class 'str'>
['Fr', '3/20/98', '16.6875', '840k', '1.602M']
spot of 16.6875 with type <class 'str'>
['Th', '3/19/98', '17.1875', '2.424M', '1.682M']
spot of 17.1875 with type <class 'str'>
['We', '3/18/98', '16.5625', '831.9k', '1.709M']
spot of 16.5625 with type <class 'str'>
['Tu', '3/17/98', '16.8125', '806.5k', '1.766M']
spot of 16.8125 with type <class 'str'>
['Mo', '3/16/98', '17.0625', '1.013M', '1.857M']
spot of 17.0625 with type <class 'str'>
['Fr', '3/13/98', '17.1875', '1.247M', '1.879M']
spot of 17.1875 with type <class 'str'>
['Th', '3/12/98', '17.3125', '1.765M', '1.895M']
spot of 17.3125 with type <class 'str'>
['We', '3/11/98', '17.5', '3.237M', '1.881M']
spot of 17.5 with type <class 'str'>
['Tu', '3/10/98', '16.375', '2.244M', '1.762M']
spot of 16.375 with type <class 'str'>
['Mo', '3/9/98', '15.75', '1.579M', '1.885M']
spot of 15.75 with type <class 'str'>
['Fr', '3/6/98', '16.5625', '1.514M', '2.094M']
spot of 16.5625 with type <class 'str'>
['Th', '3/5/98', '16.375', '1.847M', '2.311M']
spot of 16.375 with type <class 'str'>
['We', '3/4/98', '17.4375', '1.122M', '2.502M']
spot of 17.4375 with type <class 'str'>
['Tu', '3/3/98', '17.5625', '1.99M', '2.64M']
spot of 17.5625 with type <class 'str'>
['Mo', '3/2/98', '18', '1.574M', '2.607M']
spot of 18 with type <class 'str'>
['Fr', '2/27/98', '18.25', '2.043M', '2.594M']
spot of 18.25 with type <class 'str'>
['Th', '2/26/98', '18.4375', '2.821M', '']
spot of 18.4375 with type <class 'str'>
['We', '2/25/98', '18.125', '1.698M', '']
spot of 18.125 with type <class 'str'>
['Tu', '2/24/98', '18', '2.161M', '']
spot of 18 with type <class 'str'>
['Mo', '2/23/98', '18.625', '1.341M', '']
spot of 18.625 with type <class 'str'>
['Fr', '2/20/98', '18.6875', '1.488M', '']
spot of 18.6875 with type <class 'str'>
['Th', '2/19/98', '19.1875', '1.561M', '']
spot of 19.1875 with type <class 'str'>
['We', '2/18/98', '19.625', '1.448M', '']
spot of 19.625 with type <class 'str'>
['Tu', '2/17/98', '19.5', '4.086M', '']
spot of 19.5 with type <class 'str'>
['Fr', '2/13/98', '19.75', '4.715M', '']
spot of 19.75 with type <class 'str'>
['Th', '2/12/98', '19.1875', '4.779M', '']
spot of 19.1875 with type <class 'str'>
['We', '2/11/98', '19', '4.707M', '']
spot of 19 with type <class 'str'>
['Tu', '2/10/98', '18.8125', '3.189M', '']
spot of 18.8125 with type <class 'str'>
['Mo', '2/9/98', '18', '1.503M', '']
spot of 18 with type <class 'str'>
['Fr', '2/6/98', '18.5', '1.376M', '']
spot of 18.5 with type <class 'str'>
DOW NOW
['Mo\t3/19/18\t24610.91\t115.809M\t124.743M']

IndexError: list index out of range

In [45]:
print(rowlist)

NameError: name 'rowlist' is not defined