# Numerical Data - Cleanup

<br>
**Author** Mary Letey <br>
**Date** 4/16/18 <br>
**File** megaset.ipynb <br>
**Purpose** Creating a mega-dataset aggregating all previous data sets, sorted by date for the last 5 years

<br><br>

In [1]:
# Imports
import numpy as np
import pandas as pd
import datetime
from dateutil import parser
import matplotlib.pylab as plt
%matplotlib inline

In [61]:
def cleanup(df,name):
    dates = list(df["date"]);
    newdates = []
    for i in range(0,len(dates)):
        mystr = dates[i]
        newdates.append(parser.parse(mystr))
    df["date"] = newdates
    df.sort_values(df.columns[1])
    title = name+"-title"
    body = name+"-body"
    
    titles = list(df["title"])
    bodies = list(df["body"])
    
    df = pd.DataFrame({'date': newdates, title: titles, body: bodies})
    columnsTitles=["date",title,body]
    df = df.reindex(columns = columnsTitles)
    return df

In [62]:
def combine(df1,df2,name):
    
    title = name+"-title"
    body = name+"-body"
    
    date1 = list(df1["date"])
    title1 = list(df1[title])
    body1 = list(df1[body])
    date2 = list(df2["date"])
    title2 = list(df2[title])
    body2 = list(df2[body])
    
    newdate = date1 + date2
    newtitle = title1 + title2
    newbody = body1 + body2
    
    df = pd.DataFrame({'date': newdate, title: newtitle, body: newbody})
    
    return df

In [69]:
dell_wsj_df = pd.read_csv('../data/nlp/dell_5yrs_wsj.csv')
dell_wsj_df = cleanup_wsj(dell_wsj_df, [15,16])
columnsTitles=["date","title","body"]
dell_wsj_df = dell_wsj_df.reindex(columns = columnsTitles)
title = "dell"+"-title"
body = "dell"+"-body"
dates = list(dell_wsj_df["date"])
titles = list(dell_wsj_df["title"])
bodies = list(dell_wsj_df["body"])
dell_wsj_df = pd.DataFrame({'date': dates, title: titles, body: bodies})
columnsTitles=["date",title,body]
dell_wsj_df = dell_wsj_df.reindex(columns = columnsTitles)
dell_wsj_df.head()

,date,dell-title,dell-body
0,2013-02-06 05:44:00,Lenovo’s Diplomatic Response to Dell Buyout,BLOOMBERGDell Inc.’s $24.4 billion deal to tak...
1,2013-04-22 12:50:00,Blackstone Ends Pursuit of Dell,Blackstone Group LP has ended its pursuit of D...
2,2013-02-05 20:50:00,Dell to Sell Itself for $24.4 Billion,Dell Inc. on Tuesday struck a $24.4 billion de...
3,2013-04-23 22:00:00,Dell Approves $91.1 Million in Retention Bonuses,Dell Inc. disclosed Tuesday that its board app...
4,2013-05-06 18:57:00,Dell Deal Negotiator Walks Fine Line,"Last August, Alex Mandl was hosting dinner gue..."

In [133]:
# -- dell 
df = pd.read_csv("../data/nlp/dell_5yrs_seekingalpha.csv");
dfdell = cleanup(df,"dell")
dfdell = combine(dfdell, dell_wsj_df,"dell")
dfdell.sort_values(dfdell.columns[1])

# -- hp 
df = pd.read_csv("../data/nlp/hp_5yrs_fool.csv");
dfhp = cleanup(df,"hp")
df = pd.read_csv("../data/nlp/hp_5yrs_seekingalpha.csv")
df = cleanup(df,"hp")
dfhp = combine(dfhp,df,"hp")

# -- ibm 
df = pd.read_csv("../data/nlp/ibm_5yrs_fool.csv");
dfibm = cleanup(df,"ibm")
df = pd.read_csv("../data/nlp/ibm_5yrs_seekingalpha.csv")
df = cleanup(df,"ibm")
dfibm = combine(dfibm,df,"ibm")

# -- seagate
df = pd.read_csv("../data/nlp/seagate_5yrs_fool.csv");
dfseagate = cleanup(df,"seagate")
df = pd.read_csv("../data/nlp/seagate_5yrs_seekingalpha.csv")
df = cleanup(df,"seagate")
dfseagate = combine(dfseagate,df,"seagate")

# -- western_digital
df = pd.read_csv("../data/nlp/western_digital_5yrs_fool.csv");
dfwestern_digital = cleanup(df,"western-digital")
dfwestern_digital.sort_values(dfwestern_digital.columns[0])

#total_df = pd.merge(dfdell, dfhp, on="date")
#total_df = pd.merge(total_df, dfibm, on="date")
#total_df = pd.merge(total_df, dfseagate, on="date")
total_df = dfdell.merge(dfwestern_digital, on="date", how="outer")
total_df = total_df.merge(dfhp, on="date", how="outer")
total_df = total_df.merge(dfibm, on="date", how="outer")
total_df = total_df.merge(dfseagate, on="date", how="outer")

 = pd.read_csv('../data/nlp/dell_5yrs_wsj.csv')

In [134]:
dfwestern_digital.head()

,date,western-digital-title,western-digital-body
0,2013-02-27 16:30:00,What Is Netflix Really Worth?,"Hi, my name is Anders. I'm a Netflix (NASDAQ:N..."
1,2013-11-19 14:30:00,Can Marvell Technology Beat Out Broadcom and LSI?,Marvell Technology Group (NASDAQ:MRVL) will re...
2,2013-12-20 11:05:00,Nike Delivers Solid Results And The Market Yawns,So much attention is given to the growth traje...
3,2013-09-11 15:08:00,Yum! Brands: A Global Growth Story,Investors have lost focus on just how profit...
4,2013-10-26 09:05:00,"What If Lululemon, Under Armour, and Nike Are ...",Under Armour (NYSE:UAA) reported earnings Thur...

In [135]:
dfdell.head()

,date,dell-body,dell-title
0,2013-03-18 00:00:00,(At Least Not At These Prices)Despite differen...,"Dude, You're Not Getting DELL...Or AUTO"
1,2013-03-14 00:00:00,The media is currently focused on the saga of ...,Critical Analysis Of Dell Buyout Plan Shows Hi...
2,2013-03-14 00:00:00,Let me go through a EBIT multiple valuation me...,The Value Of Dell Using The EBIT Multiple Valu...
3,2018-02-07 00:00:00,Henry Blodget is pulling on exactly the right ...,Dell LBO Deal Structure - Like Buying A Rental...
4,2013-03-12 08:55:00,"In the view of many investors, billionaire Car...",Billionaire Carl Icahn Moving Into Multilevel-...

In [138]:
date = list(total_df["date"])
print(len(date))

1606

In [139]:
total_df.head()

,date,dell-body,dell-title,western-digital-title,western-digital-body,hp-body,hp-title,ibm-body,ibm-title,seagate-body,seagate-title
0,2013-03-18 00:00:00,(At Least Not At These Prices)Despite differen...,"Dude, You're Not Getting DELL...Or AUTO",NaN,NaN,(At Least Not At These Prices)Despite differen...,"Dude, You're Not Getting DELL...Or AUTO",NaN,NaN,NaN,NaN
1,2013-03-14 00:00:00,The media is currently focused on the saga of ...,Critical Analysis Of Dell Buyout Plan Shows Hi...,NaN,NaN,Fonts and typefaces fall into that group of te...,Monotype Imaging Looks To Print Money,NaN,NaN,NaN,NaN
2,2013-03-14 00:00:00,Let me go through a EBIT multiple valuation me...,The Value Of Dell Using The EBIT Multiple Valu...,NaN,NaN,Fonts and typefaces fall into that group of te...,Monotype Imaging Looks To Print Money,NaN,NaN,NaN,NaN
3,2018-02-07 00:00:00,Henry Blodget is pulling on exactly the right ...,Dell LBO Deal Structure - Like Buying A Rental...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-03-12 08:55:00,"In the view of many investors, billionaire Car...",Billionaire Carl Icahn Moving Into Multilevel-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN