# Numerical Data - Cleanup

<br>
**Author** Mary Letey <br>
**Date** 4/16/18 <br>
**File** megaset.ipynb <br>
**Purpose** Creating a mega-dataset aggregating all previous data sets, sorted by date for the last 5 years

<br><br>

In [1]:
# Imports
import numpy as np
import pandas as pd
import datetime
from dateutil import parser
import matplotlib.pylab as plt
%matplotlib inline

In [5]:
def cleanup_wsj(df, index):
    df = df.drop(index)
    new_dates = []
    for date_str in df['date']:
        new_date_str = date_str.replace('Updated ', '')
        new_date_str = new_date_str.replace(' ET', '')
        new_date_str = new_date_str.replace(' | WSJ Pro', '')
        new_dates.append(parser.parse(new_date_str))
#         new_dates.append(new_date_str)
    date_df = pd.DataFrame({'date' : new_dates})
    df['date'] = date_df['date']
    
    return df

In [12]:
def cleanup(df):
    dates = list(df["date"]);
    newdates = []
    for i in range(0,len(dates)):
        mystr = dates[i]
        newdates.append(parser.parse(mystr))
    df["date"] = newdates
    df.sort_values(df.columns[1])
    columnsTitles=["date","title","body"]
    df = df.reindex(columns = columnsTitles)
    return df

In [13]:
# -- dell seeking alpha
df = pd.read_csv("../data/nlp/dell_5yrs_seekingalpha.csv");

"""
dates = list(df["date"]);

newdelldates = []
for i in range(0,len(dates)):
    mystr = dates[i]
    newdelldates.append(parser.parse(mystr))
    
delldates1 = newdelldates;


dftotal = df;
dftotal["date"] = delldates1;
"""


dftotal = cleanup(df)
dftotal.head()

df = pd.read_csv("../data/nlp/dell_5yrs_seekingalpha.csv");

,date,title,body
0,2013-03-18 00:00:00,"Dude, You're Not Getting DELL...Or AUTO",(At Least Not At These Prices)Despite differen...
1,2013-03-14 00:00:00,Critical Analysis Of Dell Buyout Plan Shows Hi...,The media is currently focused on the saga of ...
2,2013-03-14 00:00:00,The Value Of Dell Using The EBIT Multiple Valu...,Let me go through a EBIT multiple valuation me...
3,2018-02-07 00:00:00,Dell LBO Deal Structure - Like Buying A Rental...,Henry Blodget is pulling on exactly the right ...
4,2013-03-12 08:55:00,Billionaire Carl Icahn Moving Into Multilevel-...,"In the view of many investors, billionaire Car..."

In [10]:
dell_wsj_df = pd.read_csv('../data/nlp/dell_5yrs_wsj.csv')
dell_wsj_df = cleanup_wsj(dell_wsj_df, [15,16])
columnsTitles=["date","title","body"]
dell_wsj_df = dell_wsj_df.reindex(columns = columnsTitles)
dell_wsj_df.head()

,date,title,body
0,2013-02-06 05:44:00,Lenovo’s Diplomatic Response to Dell Buyout,BLOOMBERGDell Inc.’s $24.4 billion deal to tak...
1,2013-04-22 12:50:00,Blackstone Ends Pursuit of Dell,Blackstone Group LP has ended its pursuit of D...
2,2013-02-05 20:50:00,Dell to Sell Itself for $24.4 Billion,Dell Inc. on Tuesday struck a $24.4 billion de...
3,2013-04-23 22:00:00,Dell Approves $91.1 Million in Retention Bonuses,Dell Inc. disclosed Tuesday that its board app...
4,2013-05-06 18:57:00,Dell Deal Negotiator Walks Fine Line,"Last August, Alex Mandl was hosting dinner gue..."